[2015-10-21 16:28] amyh-phet commented on #384
@jbphet   i think that a light source up and to the left will work well for the first screen.  My concern is with the second screen. With a light source up and to the left on the mixture screen, it could make it  difficult to read the labels on the atoms in the buckets in the mixtures screen.

[2015-10-21 17:20] elisemorgan commented on #391
@ariel-phet Dev test is complete

[2015-10-21 17:27] ariel-phet commented on #391
excellent thanks!

[2015-10-21 17:27] #391 closed

[2015-10-21 17:59] jbphet commented on #394
I went ahead and did this, @samreid can verify at his convenience.

[2015-10-21 18:00] samreid commented on #394
I spot checked the commits and did not see any problems.  I also pulled the changes and verified that the warning no longer appears during npm install.  Thanks @jbphet, closing.

[2015-10-21 18:00] #394 closed

[2015-10-21 19:58] jbphet commented on #396
We should abandon this RC due to a couple of issues identified in this GitHub issue: https://github.com/phetsims/friction/issues/31.  Fixes are in place, so I'll roll a new RC.

[2015-10-21 19:58] #396 closed

[2015-10-21 20:35] jbphet opened #397 "RC test: Friction 1.2.0-rc.2"
A second release candidate had to be created due to https://github.com/phetsims/friction/issues/31.  The test matrix can be found here:
https://docs.google.com/spreadsheets/d/1xs2_pAvLnEGoC7a1a0IqD29B8gyhGyvBPaD9iCSSZJM/edit#gid=190932211

[2015-10-21 20:35] jbphet commented on #397
This redeployment is being done in support of translation, which is connected to the S2015R milestone, so below is the associated checklist.

**Developer**
- [x] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues with a milestone.
- [x] Look over the code review checklist, decide if code review should be redone, https://

[2015-10-21 20:52] ariel-phet commented on #397
@elisemorgan @bryo5363 @phet-steele @orejolaphet please make this new RC your top testing priority

[2015-10-21 22:27] jbphet opened #398 "RC test: Faraday's Law 1.1.0-rc.1"
Test matrix can be found here: https://docs.google.com/spreadsheets/d/163WcaZ6ZAEoVjYbg0pEJrGVvl_nW-NYvDugrd86pqow/edit#gid=156295433

[2015-10-21 22:28] jbphet commented on #398
This redeployment is being done in support of translation, which is connected to the S2015R milestone, so below is the associated checklist.

**Developer**
- [x] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues with a milestone.
- [x] Look over the code review checklist, decide if code review should be redone, https://

[2015-10-22 14:32] ariel-phet opened #399 "Investigate "IE-on-Chrome""
@oliver-phet and @arnabp one of our twitter users reported the following:

Could we investigate and see:

1. Does this work well?
2. Are there any unintended consequences? Seems like it is a freemium model...

Seems like it could be nice to tell teachers about, but I don't want to advertise something that is a bad idea. (Since it looks like it is a pay service but has some model for "EDU") if you

[2015-10-22 14:39] ariel-phet commented on #393
@samreid should this issue be closed...or perhaps left opened and put in a different repo/moved to unfuddle?

[2015-10-22 14:49] ariel-phet commented on #398
@phet-steele @orejolaphet @elisemorgan @bryo5363

Please make this the next testing priority after friction

[2015-10-22 15:24] ariel-phet commented on #397
@amyh-phet can you take care of the Win 8 testing on this one (should be pretty quick)

[2015-10-22 17:09] amyh-phet commented on #397
@ariel-phet   Win 8 testing complete.  Let me know if you need me to test on other platforms today.

[2015-10-22 18:04] oliver-phet commented on #399
@samreid and I looked this a bit in my office. It took several tries using the test feature: https://ielatest.ieonchrome.com/#http://phet.colorado.edu/

We were able to get Molecule Polarity (Java) to open after several tries. The full extension doesn't appear to be available on Chromebooks and you can only use the free version for 1 hr per month. It uses a "streaming" process where their servers

[2015-10-23 00:58] ariel-phet commented on #399
Thanks for investigating @oliver-phet!

[2015-10-23 00:58] #399 closed

[2015-10-23 15:47] samreid commented on #393
@jbphet & I added reminders in our personal calendars to address the upcoming certificate renewal process for Oct 2016, and we have also added an entry in the PhET Availability Calendar (with a note to stay on SHA-1) to remind others on our team in case @jbphet and @samreid both forget.  That should be sufficient, and we can close this issue.

[2015-10-23 15:47] #393 closed

[2015-10-23 18:57] emily-phet opened #400 "Error when embedding sims"
I got this email thread (below) from one of the directors of Go-Labs in Europe. Can someone take a look at this?

---------------------------------------------------------------------------------------------------------------------------------------

Hi,

That would be great. Indeed, if it was possible, it would be great if they could provide some other simple mechanism for listing the simulations

[2015-10-23 19:15] aaronsamuel137 commented on #400
Thanks for bringing this to my attention. That looks like an error introduced by a deploy I did last night. I will fix it today.

[2015-10-23 20:41] elisemorgan commented on #397
@ariel-phet all platforms have bee tested. The issues on Edge appear to be resolved

[2015-10-24 00:00] aaronsamuel137 commented on #400
Should be fixed now

[2015-10-24 10:25] emily-phet commented on #400
@aaronsamuel137 - Thanks! I let the Go-Lab folks know.

[2015-10-24 13:13] emily-phet commented on #400
@aaronsamuel137 - here's a response and suggestion from the Go-Lab folks:
Thank you! It works! Additionally, would it be possible to add in the future some index file so we can retrieve a listing in a computer format (e.g., json/xml/txt...)? Right now, what we do is check all the PhET websites and find the links inside. However, this process is certainly fragile, since if you change the web layout

[2015-10-26 14:11] aaronsamuel137 commented on #400
I can work on adding such a feature to the website, but I'll need to know more specifically what kind of data they want. A list of simulations with embed links? Anything else?

There is already a way of getting metadata about simulations, see for example http://phet.colorado.edu/services/metadata/simulation?simulation=build-an-atom&format=phet-master. But they may want different data.

@emily-phet

[2015-10-26 17:14] amanda-phet commented on #213
The team likes the artwork so I'll go ahead and close this. Thanks @mariahmaephet !

[2015-10-26 17:14] #213 closed

[2015-10-26 17:19] amanda-phet opened #401 "Coin artwork"
I'm making this issue so it is on your radar @mariahmaephet . I am working on a sim that uses coins, and we do not want to use US coins but rather some arbitrary-looking coins. I have compiled some images of coins with different types of metals, different shapes, and even various images (I'm not sure yet if we want images or not). When you have some time I'd like to meet up to discuss some ideas I

[2015-10-26 17:54] porduna commented on #400
@aaronsamuel137 - thank you for your response.

What we have been doing at [gateway4labs/rlms_phet](https://github.com/gateway4labs/rlms_phet/blob/master/g4l_rlms_phet.py#L209) is to parse the HTML to extract the information.

The link you point out is great help for us, since it provides much more useful information. However, it misses:

 * the link to the final lab (e.g., [this link in your exam

[2015-10-26 18:01] arnabp commented on #382
The time machine backup has been created and Magnus is up to speed, going to look into reinstalling yosemite on Dirac now

[2015-10-26 18:19] ariel-phet commented on #388
since @jbphet is addressing issues with neuron, closing this issue since there will likely be a new dev version

[2015-10-26 18:19] #388 closed

[2015-10-26 19:13] aaronsamuel137 commented on #400
We are going to be working on a new JSON API for simulation information soon, which might be relevant for you. I will let you know when this happens.

In the mean time, you can use http://phet.colorado.edu/services/project-sorted-simulations.csv to get a list of all valid simulations.

To get the final lab links, you can use oai_ilox format: http://phet.colorado.edu/services/metadata/simulation?si

[2015-10-26 21:02] mariahmaephet commented on #395
@ariel-phet @kathy-phet  ?

<img width="535" alt="screen shot 2015-10-26 at 3 00 03 pm" src="https://cloud.githubusercontent.com/assets/11527557/10742357/5354e2fc-7bf2-11e5-8500-df1061f298ef.png">

[2015-10-26 21:03] mariahmaephet commented on #401
@amanda-phet Alright! I'm available the next 3 days any time before 1pm

[2015-10-26 23:13] jessegreenberg commented on #385
We need a new RC for MAL with stable SHAS and a fix for drag performance after the iframe issue.  Closing this, and moving to the next RC.  Redeploy checklist will be moved to the new issue as well. Closing.

[2015-10-26 23:13] #385 closed

[2015-10-27 03:10] ariel-phet commented on #397
Sim has been opened to translators. Moving remaining checklist items to specific issues.

[2015-10-27 03:10] #397 closed

[2015-10-27 11:34] porduna commented on #400
Thank you! Both links are super useful!

In the oai_ilox format, is there any way to know that one link is for one language, other than checking the landing_page and parse the URL (not a big issue)?

Do you have a super-approximate estimate on when are you releasing the JSON API? I mean, if it was for January or so, we might wait with the current HTML parsing, but if you plan a web layout change o

[2015-10-27 16:23] ariel-phet commented on #372
Believe we are ready for RC testing, please paste in checklist, matrix, link and such

[2015-10-27 16:23] ariel-phet commented on #373
Believe we are ready for RC

[2015-10-27 16:26] aaronsamuel137 commented on #400
I would guess that we will implement this in the next few months, take a look at https://github.com/phetsims/website/issues/297 to see our current thoughts about the API.

[2015-10-27 18:13] pixelzoom commented on #372
RC testing is still blocked pending resolution of https://github.com/phetsims/beers-law-lab/issues/111.

[2015-10-27 18:13] pixelzoom commented on #373
RC testing is blocked pending resolution of https://github.com/phetsims/beers-law-lab/issues/111.

[2015-10-27 19:52] arnabp commented on #382
Magnus and Dirac are now both outfitted with 10.9, 10.10, and 10.11 with Safari 9 on all three partitions, and we have a full backup of this setup.

[2015-10-27 19:56] oliver-phet commented on #382
@elisemorgan Is this issue ready to be closed now that the macs are done?

[2015-10-27 20:53] elisemorgan commented on #382
Yes. All devices are updated

[2015-10-27 20:53] #382 closed

[2015-10-27 21:01] ariel-phet commented on #395
Will flesh out these notes more later, got some quick feedback from @kathy-phet

Stuff on chalkboard hard to read (size and writing style)
Student separate from classroom seemed disjointed
Hand drawn line under the word educators highlight

[2015-10-27 21:19] #321 closed

[2015-10-27 22:40] jessegreenberg opened #402 "RC test: Molecules and Light 1.1.0-rc.4"
Molecules and light version 1.1.0-rc.4 is deployed and ready for RC testing.

**Sim link:** http://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.1.0-rc.4/molecules-and-light_en.html

**iFrame:** http://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.1.0-rc.4/molecules-and-light_en-iframe.html

**Test matrix:** https://docs.google.com/spreadsheets/d/1SIuHF5V4TPR-H2FHugvL

[2015-10-27 22:41] pixelzoom commented on #373
phetsims/beers-law-lab#111 is resolved, RC publication desired on Wed 10/28.

[2015-10-27 22:41] pixelzoom commented on #372
phetsims/beers-law-lab#111 is resolved, RC publication desired on Wed 10/28.

[2015-10-27 22:41] jessegreenberg commented on #402
**Checklist for S2015R milestone:**

**Developer**
- [ ] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues with a milestone.
- [ ] Look over the code review checklist, decide if code review should be redone, https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md
- [ ] Review and update lic

[2015-10-27 22:42] pixelzoom commented on #372
**Developer**
- [ ] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues with a milestone.
- [ ] Look over the code review checklist, decide if code review should be redone, https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md
- [ ] Review and update licensing info (source code and images/a

[2015-10-27 22:43] pixelzoom commented on #373
**Developer**
- [ ] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues with a milestone.
- [ ] Look over the code review checklist, decide if code review should be redone, https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md
- [ ] Review and update licensing info (source code and images/a

[2015-10-28 15:01] KateLRN commented on #395
Hi all,

@ariel-phet asked me to suggest some alternate language for the donation ask.

For a more positive spin:
Are you ready for the next generation of PhET sims? Chip in $10 to help bring this sim to HTML5.
Are you ready to leave Java sims behind? Chip in $10 to bring this sim to HTML5.
Want to see this sim in HTML5? You can help us make it happen! (feeds straight into donation ask)
Want to ge

[2015-10-28 15:21] ariel-phet commented on #398
Testing basically complete, waiting on check on iPad 3 issue

[2015-10-28 15:27] ariel-phet commented on #402
@phet-steele @elisemorgan @orejolaphet @bryo5363 please make the current top testing priority

[2015-10-28 17:22] pixelzoom commented on #372
Test matrix with RC links:
https://docs.google.com/spreadsheets/d/1opT_0el4D08ezqlqrb4dgdYreiPRfjAG5gWRnADOyrk/edit#gid=2000275998

This RC requires a full regression test on all platforms. Please pay special attention to Win10 + Edge. Since the default render for Edge was changed to 'canvas', @jonathanolson has made a few Canvas-specific fixes.

[2015-10-28 17:28] pixelzoom commented on #373
Test matrix with RC links:
https://docs.google.com/spreadsheets/d/1ghqNXGEAK4sApVwFIHIyZLuNb5QjQO-FyZiQCjE5_ZM/edit#gid=1968926819

This RC is being tested simultaneously with Beer's Law Lab 1.3.0-rc.1, see https://github.com/phetsims/tasks/issues/372.  Since Concentration is a subset of Beer's Law Lab (it's the first screen, with no changes), this RC does not require a full regression test on all

[2015-10-28 20:16] #384 closed

[2015-10-28 23:38] amanda-phet commented on #347
We decided to up the priority of this issue at today's website design meeting. I'll leave it to @ariel-phet to prioritize for @elisemorgan .

[2015-10-29 00:13] elisemorgan commented on #347
Sorry, I let this slip by! I can tackle it during my hours tomorrow.

On Wednesday, October 28, 2015, Amanda McGarry <notifications@github.com>
wrote:

[2015-10-29 04:52] ariel-phet commented on #347
@elisemorgan good to keep the main focusing on testing, but would be great if you work on this tomorrow!

[2015-10-29 04:58] ariel-phet commented on #373
@elisemorgan @orejolaphet @bryceAG @brroberts1231 please work on this testing Thursday

[2015-10-29 04:59] ariel-phet commented on #373
And please note the above where @pixelzoom says this sim can be "spot tested" since it is a subset of Beer's Law Lab

[2015-10-29 05:00] ariel-phet commented on #372
@elisemorgan @orejolaphet @bryceAG @brroberts1231 please work on this testing Thursday

[2015-10-29 05:40] phet-steele commented on #326
As a quick update: all of the "Trish-mediated" work has been done. What's left to do is wait for an internal review of suggested keywords by myself and whomever @kathy-phet desires to look over them :smile:.

[2015-10-29 05:46] #241 closed

[2015-10-29 14:36] amanda-phet commented on #326
Are these keywords for sims or activities? Just curious, so if anyone wanted to see the results, they would know where to go (since sim keywords are not public).

[2015-10-29 18:53] oliver-phet opened #403 "Investigate Chrome web store"
@arnabp can you look into the Chrome web store again? What would it take to put an HTML5 sim on the store? All of our HTML5 sims?

Also, @aadish mentioned Appcache manifest - investigate bookmarking html5 sim: http://www.html5rocks.com/en/tutorials/appcache/beginner/

[2015-10-29 19:12] ariel-phet opened #404 "Vanity PhET link shortener"
@mattpen this is very "wish listy" so very very low priority, but at some point I think it might be nice to have vanity shortened phet links especially for our social media. I am curious if this could be done by actually getting another university domain (instead of purchasing one or such). Could you investigate at some point when the feeling moves you?

How to create vanity short links: http://co

[2015-10-29 20:03] mattpen commented on #404
@ariel-phet I'm not sure that the university has any shortened domains (I've never seen one anyway), but I can contact OIT and inquire about it.  If you want a short URL particular to phet I think it would need to be purchased.  [phetsi.ms](https://www.godaddy.com/domains/searchresults.aspx?ci=83269&checkAvail=1&domainToCheck=phetsi.ms&isc=gofd2003ae) is available, although its not the cheapest do

[2015-10-30 02:29] ariel-phet commented on #404
@mattpen I guess I am wondering if it can just be treated as a redirect on some level...I guess that depends on the DNS policies of the university...can we just create a domain, or does there have to be support for shortened domains and such. Seems like a great question for OIT

[2015-10-30 03:44] elisemorgan commented on #347
Here is the spreadsheet that I started for this today https://docs.google.com/spreadsheets/d/1BPfMCA0-p5AB3sTYIDNqmKuikzjpE5MYsDSfQBXMR7A/edit?usp=sharing

[2015-10-30 19:13] ariel-phet commented on #395
@mariahmaephet - to flesh out...

1. We probably want to use a more traditional font for the writing on the chalkboard. This text will need to be clear, easy to read, and likely translatable, so best to do it in a more traditional font.
2. Perhaps increase the size of the board so the word Educators can be highlighted...Kathy was thinking of something like a "hand drawn line" underneath the word E

[2015-10-30 19:55] KateLRN commented on #395
Regarding @ariel-phet 's 4th point: I'd suggest putting "Educators" and "Students" headers at the top of each panel, like the grey bubbles in the picture I sent. Your call, of course!

[2015-10-30 20:29] amanda-phet commented on #347
This looks great to me. The website cells that are empty- is the current website already correct? It might be good to just have them all filled in.

Thanks for finding the updated logos as well. Should we assume the remaining logos stay the same? Or are you planning to upload them all?

[2015-11-02 16:59] elisemorgan commented on #347
Yes, the empty cells assume that the current website is correct. I will fill them all in so that it is consistent. The logos are blank because I was immediately able to find a good file. I will also fill those in, but if they are blank assume that they stay the same.

[2015-11-02 18:44] elisemorgan commented on #372
@ariel-phet All platforms have been tested

[2015-11-02 19:00] pixelzoom commented on #372
@elisemorgan Please complete the checklist in the "QA" section ofhttps://github.com/phetsims/tasks/issues/372#issuecomment-151666444 above.

[2015-11-02 23:17] pixelzoom commented on #373
Because we need to pull in master for Beer's Law 1.3.0-rc.2, @ariel-phet decided that we should cancel testing on this release candidate.  Closing.

[2015-11-02 23:17] #373 closed

[2015-11-02 23:20] ariel-phet commented on #402
@elisemorgan I believe this testing is basically done, can you check the QA items (the string tests and such)

[2015-11-02 23:20] pixelzoom commented on #370
@ariel-phet gave me the go-ahead for this.

[2015-11-02 23:21] pixelzoom commented on #372
Closing.  We'll need another RC - 1.3.0-rc.2, which uses master of common repos.

[2015-11-02 23:21] #372 closed

[2015-11-02 23:21] pixelzoom opened #405 "RC test: Beer's Law Lab 1.3.0-rc.2"

[2015-11-02 23:22] pixelzoom opened #406 "RC test: Concentration 1.2.0-rc.2"

[2015-11-02 23:31] pixelzoom commented on #406
Publication desired ASAP on 11/3/15. Currently blocked by https://github.com/phetsims/scenery-phet/issues/204.

[2015-11-02 23:31] pixelzoom commented on #405
Publication desired ASAP on 11/3/15. Currently blocked by phetsims/scenery-phet#204.

[2015-11-03 15:15] ariel-phet commented on #398
Sim redeployed, closing

[2015-11-03 15:15] #398 closed

[2015-11-03 15:16] ariel-phet commented on #395
@mariahmaephet is waiting for a new drawing tablet, probably not much work on this until after Thursday

[2015-11-03 15:25] pixelzoom commented on #370
S2015R checklist

Developer

 Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues with a milestone.
 Look over the code review checklist, decide if code review should be redone, https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md
 Review and update licensing info (source code and images/a

[2015-11-03 15:26] pixelzoom commented on #370
Test matrix with links to RC version:
https://docs.google.com/spreadsheets/d/1-Zbwp9k0hB46r_cmmmSoyyZpf4uXozTAlRlz5RZlEGo/edit#gid=25241777

[2015-11-03 16:09] ariel-phet commented on #370
Now that Molecules and Light testing is almost finished off, @BryceAG @bryo5363 @elisemorgan @phet-steele  @orejolaphet  @brroberts1231 please make this sim top testing priority

[2015-11-03 16:11] pixelzoom commented on #405
Checklist for S2015R milestone (GitHub issues labeled "Summer 2015 redeploy")

**Developer**
- [ ] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues with a milestone.
- [ ] Look over the code review checklist, decide if code review should be redone, https://github.com/phetsims/phet-info/blob/master/checklists/code_revie

[2015-11-03 16:14] pixelzoom commented on #405
Test matrix with links to RC version:
https://docs.google.com/spreadsheets/d/1opT_0el4D08ezqlqrb4dgdYreiPRfjAG5gWRnADOyrk/edit#gid=771847087

Since master of common repos is required, this RC requires a full regression test.

Pay particular attention to these issues that were discovered in the previous RC. If any of these is still present, reopen the issue and provide details.

• https://github.co

[2015-11-03 16:19] pixelzoom commented on #406
**Developer**
- [x] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues with a milestone.
- [x] Look over the code review checklist, decide if code review should be redone, https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md
- [x] Review and update licensing info (source code and images/a

[2015-11-03 16:20] pixelzoom commented on #406
Test matrix with links to RC version:
https://docs.google.com/spreadsheets/d/1ghqNXGEAK4sApVwFIHIyZLuNb5QjQO-FyZiQCjE5_ZM/edit#gid=1474124696

This RC is being tested simultaneously with Beer's Law Lab 1.3.0-rc.2, see #405. Since Concentration is a subset of Beer's Law Lab (it's the first screen, with no changes), this RC does not require a full regression test on all platforms. Spot testing will

[2015-11-03 17:03] mariahmaephet commented on #401
@amanda-phet these are easy enough to do without a tablet. I'll decorate them more later this week but for now we can figure out their general size and color.

I was thinking since you said each row was similar that that could be what decided the color--so bronze silver or gold for the different variables.
<img width="551" alt="screen shot 2015-11-03 at 9 54 48 am" src="https://cloud.githubusercon

[2015-11-03 17:51] elisemorgan commented on #402
@ariel-phet Testing is complete

[2015-11-03 17:56] jessegreenberg commented on #402
Great, thanks @elisemorgan.  @ariel-phet does the design-admin section of the checklist or anything else need to be completed before redeploy?

[2015-11-03 18:05] ariel-phet commented on #402
@jessegreenberg, I will move the couple remaining items to Molecules and Light repo. Please go ahead and publish and redploy!

[2015-11-03 18:05] #402 closed

[2015-11-03 19:29] ariel-phet commented on #405
After #370 Acid-Base solutions testing, lets make this the next QA priority @BryceAG @bryo5363 @elisemorgan @phet-steele @orejolaphet @brroberts1231

Several fixes for this RC required updates to the code, so we again require a full RC test, but Concentration can still be "spot tested" as described in #406

[2015-11-03 19:30] ariel-phet commented on #406
As mentioned above, when Beer's Law Lab testing is finished, please spot test this sim as the next testing priority @BryceAG @bryo5363 @elisemorgan @phet-steele @orejolaphet @brroberts1231 please make this sim top testing priority

[2015-11-03 22:47] emily-phet opened #407 "Energy-related Sims: # of annual runs"
Can someone send me the number of runs over the past year for the following sims (if available in HTML5 and Java, then both numbers over the past year):

*Collision
Forces & Motion: Basics
*Friction
*Chemical Reaction
Reversible Reaction
*Energy Skate Park: Basics
Molecules and Light
*Greenhouse Effect
*Photoelectric Effect
*Charges and Fields
*Generator
*Molecular Polarity
Salts & Solubility
*Ene

[2015-11-03 22:59] kathy-phet opened #408 "Prepping for NSF / White House STEM Forum"
Representing PhET, I will be giving a 10 minute talk, and hosting a demo session a quickly-planned NSF Forum on STEM Education.

Attendees will be diverse:  school leaders, policy makers, journalists, philanthropists and other influences. Focus on contributing a broader message that would engage this audience, not the nuts and bolts of conducting research. Your chair can help you think about a mes

[2015-11-03 23:09] kathy-phet commented on #408
I'll need help preparing the following items:

- [ ] Poster: 48" wide x 36" tall: Covering basics of PhET (sims, transforming classrooms and STEM learning, and Reach), and future innovations of PhET-iO and Accessibility and what they enable. Maybe a "PhET is transforming STEM learning in ...." then split the poster ... "Today's Classroom" and "Tomorrow's Classroom" framing?
- [ ] General Flyer: Pe

[2015-11-03 23:14] ariel-phet commented on #408
@kathy-phet - please let us know when you depart so we have a date

[2015-11-03 23:16] ariel-phet commented on #408
@oliver-phet @amanda-phet @amyh-phet @arouinfar

This will be an "all hands on deck" mission and trumps priority of pretty much everything else :)

[2015-11-03 23:16] amanda-phet commented on #408
Should we claim an item or would you like to assign them to us?

[2015-11-03 23:18] ariel-phet commented on #408
If you feel solid claiming an item certainly do (for instance I imagine @amanda-phet is on top of the business cards) but we probably need to have @oliver-phet looking into where we could get some news printed with a fast turnaround

[2015-11-03 23:21] ariel-phet commented on #407
@emily-phet when you say "over the past year" do you mean up until the present, or for instance last academic year? Last academic year should be easy, but up to the present may require us to import some data.

[2015-11-03 23:23] ariel-phet commented on #360
@pixelzoom just a ping since you are moving nicely on function builder

[2015-11-03 23:23] oliver-phet commented on #408
Are we going to be printing new business cards? Not sure if it's feasible to have them by Friday.

[2015-11-03 23:25] amanda-phet commented on #408
@oliver-phet I thought @kathy-phet said you just had a bunch printed for her, so I'll ask her if she wants new ones or not. If it's possible to get the new ones by Friday we should do it!

[2015-11-03 23:25] ariel-phet commented on #408
@oliver-phet I think we might be able to get a quick turn around for a small batch somewhere...there appear to be one day printing services on the net

[2015-11-03 23:26] ariel-phet commented on #408
FedEx claims they can do "same day business cards"

[2015-11-03 23:29] ariel-phet opened #409 "Update naming convention of CLA's on unfuddle"
@samreid, @kathy-phet requested that we update to a standard naming convention for CLA's kept on unfuddle.

Year_Last_First_Affiliation_githubname-CLA.pdf

Organization could be "ActualConcepts" or "Independent" if they don't have an affiliation. Year is year they started contributing and signed a CLA.

I made these updates for the PhET app team as well as for Martin. Can you take care of the othe

[2015-11-03 23:30] ariel-phet commented on #409
And please note, high priority (since fairly quick) and Kathy needs some of the updates for work with the tech transfer office.

[2015-11-03 23:35] pixelzoom commented on #360
No plans to work on this in the immediate future. The animation functions in function-builder currently consist of only FadeIn and FadeOut.  There will undoubtedly be others, but not there yet.  And designing a general library is definitely not on my radar at this point - and might not be until function-builder is well along.

[2015-11-03 23:43] amyh-phet commented on #408
Just let me know how I can help.

[2015-11-03 23:44] emily-phet commented on #407
@ariel-phet - just something that represents a calendar year, it doesn't need to be up to current month.

[2015-11-03 23:56] ariel-phet commented on #408
@amyh-phet - probably have you start working on the poster using one of the two templates we have. And @arouinfar perhaps you and I will work on the general flyer using some updates from Dave's recent flyer.

[2015-11-03 23:58] amanda-phet commented on #408
@ariel-phet , @kathy-phet is here now and is letting us know how we can be helpful. We may not be able to start anything until tomorrow.

[2015-11-04 00:03] amyh-phet commented on #408
@ariel-phet  Kathy has the files for both posters and will be working on content tonight.   Sounds like I will use tomorrow to make sure the poster is in order.

[2015-11-04 00:05] arouinfar commented on #408
@ariel-phet, that works for me. We'll need to wait and see what feedback @kathy-phet has in terms of the overall messaging, which will guide the flyer redesign.

[2015-11-04 00:23] kathy-phet commented on #408
Thanks, team!

[2015-11-04 01:57] ariel-phet commented on #407
@emily-phet that should be pretty easy with our current stats database. JO is sick today, but I will ask him when he is better (and might be something you can easily grab yourself).

[2015-11-04 05:13] samreid commented on #409
One down, seven to go...

[2015-11-04 06:14] samreid commented on #409
I finished renaming all of the files, please double check that everything looks correct.  Also, do we need CLAs from the rest of Ashraf's team including rizwanspeaks, umar and mrsafi?  I left the `@` symbol out of their github usernames here so they won't get automatically linked on this thread.

[2015-11-04 15:35] ariel-phet commented on #409
Ashraf is the only one currently making commits so we are in the clear so far. For MLL didn't the company sign in some way?

[2015-11-04 16:32] samreid commented on #409
I added the contract signed by MLL in 2012.  It has a section about rights and ownership of the created software, but it is different than the standard CLA we began using afterwards.

[2015-11-04 16:40] ariel-phet commented on #409
Got it, I will ask Ashraf for CLA's from the rest of his team

[2015-11-04 17:00] mattpen commented on #404
@ariel-phet - Response from OIT below.  This is possible, but we would need to purchase the domain and park it outside of the university.

Matt,

  If you purchased a shortened domain we can configure the figaro server to answer for this domain though it would still show phet.colorado.edu in the browser URL (if you don’t want this, it will be a bit more challenging).  The University can not park t

[2015-11-04 17:10] ariel-phet commented on #404
@mattpen thanks for looking into it

[2015-11-04 17:12] ariel-phet commented on #404
@arnabp can you look into what it would cost to purchase a shortened domain like phet.org? Doubt we would do this, but I am curious as to the cost.

[2015-11-04 18:46] elisemorgan commented on #370
@ariel-phet Looks like Steele is wrapping up the iPad 2 iOS 9. Testing is complete.

[2015-11-04 18:56] ariel-phet commented on #370
Thanks @elisemorgan

@pixelzoom seems like this will take a 2nd RC, please close this issue if you feel it is complete.

[2015-11-04 21:13] jbphet opened #410 "mitigate ventilator noise in @jbphet's office"
The ventilator in @jbphet's office generates an unusually high level of white noise, to the point where it tends to interfere with Skype calls.  @ariel-phet and I discussed tracking down some sound absorbing materials as well as lumber to build something that could help to reduce the sound pressure level (SPL).  For the record, the unmitigated level is 53 dBA, placing a whiteboard in front of the

[2015-11-04 21:23] amanda-phet opened #411 "Sim categories need updating"
@phet-steele can you go through all of the java and flash sims via Administration and make sure non of them have "new sims" selected as a category? Only the HTML5 sims should be categorized this way in the database.

We noticed Plate Tectonics had it so many others probably do, too...

[2015-11-05 18:37] pixelzoom commented on #370
The 2 issues discovered in this RC that must be addressed are:
https://github.com/phetsims/acid-base-solutions/issues/138
https://github.com/phetsims/acid-base-solutions/issues/139

[2015-11-05 19:54] pixelzoom commented on #354
3D molecule viewer for molecule-polarity is a big(ish) project. Is there another “easy” sim port that I can work on? Met with @ariel-phet.  I suggested either rutherford-scattering or hydrogen-atom. @ariel-phet will discuss with @kathy-phet.

[2015-11-05 21:01] samreid opened #412 "Prune GitHub team membership"
From today's meeting, I need to look through our GitHub team members and remove individuals that are no longer contributing.

[2015-11-05 21:19] pixelzoom opened #413 "RC test: Acid-Base Solutions 1.2.0-rc.2"
Prerequisite is to address these issues discovered in 1.2.0-rc.1:

phetsims/acid-base-solutions#138 (browser bug, fixed by Chrome)
phetsims/acid-base-solutions#139 (closed as won't fix)
phetsims/acid-base-solutions#141 (addressed and closed)

[2015-11-05 21:20] pixelzoom commented on #370
Closing. Next RC is tracked in https://github.com/phetsims/tasks/issues/413.

[2015-11-05 21:20] #370 closed

[2015-11-06 16:06] mariahmaephet commented on #395
@ariel-phet @KateLRN

How does this look layout-wise? We can keep playing with the style and colors but is this what you're imagining for having them as separate panels?

<img width="539" alt="screen shot 2015-11-06 at 8 52 47 am" src="https://cloud.githubusercontent.com/assets/11527557/11001327/f172de20-8463-11e5-8342-e7b6dd278940.png">

I just noticed the comment about making a horizontal versio

[2015-11-06 16:20] ariel-phet commented on #395
Hey @mariahmaephet here is the icon file link that should work now

https://drive.google.com/drive/folders/0B5JSfRAuRHDzVU1NaVduRTF3SUk

I think the vertical layout could work as you have it but feeling like two distinct scenes. My immediate impression is that there is way to much color going on right now, so I would tone that down. We can also get Dave's impressions once we have the concept a bit

[2015-11-06 16:51] phet-steele commented on #411
Sim categories remedied :+1:

[2015-11-06 16:51] #411 closed

[2015-11-06 16:59] mariahmaephet commented on #401
<img width="616" alt="screen shot 2015-11-06 at 9 59 20 am" src="https://cloud.githubusercontent.com/assets/11527557/11002949/1dd41408-846d-11e5-9f47-20bcd40d02ad.png">

[2015-11-06 17:04] mariahmaephet commented on #395
@ariel-phet Sounds good--I'll tone it down.

I still get this message when I try and open that link
<img width="1099" alt="screen shot 2015-11-06 at 10 02 44 am" src="https://cloud.githubusercontent.com/assets/11527557/11003060/b71cc588-846d-11e5-8224-bdb758d13b3b.png">

[2015-11-06 17:25] ariel-phet commented on #395
@mariahmaephet it is shared with the google group...so you should be able to see it. Notice the link I put in is a new one? Are you signed in with a different gmail account?

[2015-11-06 18:01] mariahmaephet commented on #395
@ariel-phet ohhhhh. Yep. Now it works :+1:

[2015-11-06 18:37] samreid opened #414 "Dev Test: bending-light 1.0.0-dev.40"
All known issues are complete, developer testing and design-team-testing went well, so this sim is ready for dev testing.  I just published this version, which could be used for dev testing:

http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.40/bending-light_en.html

@ariel-phet can you prioritize and reassign?

[2015-11-06 19:28] KateLRN commented on #395
Looks great, @mariahmaephet ! This is precisely what I had in mind with the bubbles.

@ariel-phet My only suggestions would be to remove "Educators" on the blackboard, because I don't think it's needed anymore, and to make the 'Donate Now' link more prominent. Maybe with a button?

I'll let you guys sort out the colours. I think they look quite nice, but they draw attention away from the links.

[2015-11-06 20:52] ariel-phet commented on #405
bumping to current top testing priority

[2015-11-06 20:59] ariel-phet commented on #414
@BryceAG @bryo5363 @elisemorgan @phet-steele @orejolaphet @brroberts1231 please begin dev testing on this sim as Beer's Law Lab and Concentration testing wrap up.

**Please test on the following platforms:**
- [ ] Windows Chrome
- [ ] Mac Safari
- [ ] iPad2 iOS 9
- [ ] Windows Edge

**Please note the following:**

1. If you begin testing on a device, please comment in the issue, so other know what

[2015-11-06 21:29] pixelzoom commented on #307
Added developer-meeting label so that we can check in on the status of this.

[2015-11-06 21:31] pixelzoom commented on #378
From https://github.com/phetsims/tasks/issues/378#issuecomment-145936041:

Adding developer-meeting label to check in on status of this.

[2015-11-06 21:52] pixelzoom commented on #307
Here are the common repos that require visibility annotations (I did the others, will some help).

-[ ] dot
-[ ] joist
-[ ] kite
-[ ] phetcommon
-[ ] scenery
-[ ] sun
-[ ] vegas
-[ ] vibe
-[ ] nitroglycerin
-[ ] shed

All of my sims have also been done. I don't know the status of other sims.

[2015-11-06 21:53] pixelzoom commented on #307
Here are the common repos that require visibility annotations. I did the others, with some help. I can do these because I don't know the intent (wrt visibility) of the authors (which is why this needs to be done).

- [ ] dot
- [ ] joist
- [ ] kite
- [ ] phetcommon
- [ ] scenery
- [ ] sun
- [ ] vegas
- [ ] vibe
- [ ] nitroglycerin
- [ ] shed

All of my sims have also been done. I don't know the sta

[2015-11-09 15:28] orejolaphet commented on #414
I will be testing OS X 10.11 Safari

[2015-11-09 15:49] orejolaphet commented on #414
This is more of a design question, but what is the purpose of having a protractor if there is now an "angles" option?

[2015-11-09 15:56] samreid commented on #414
Good question @orejolaphet--our ideas are the following:

1. The protractor on the initial screen cues that angles are important, and provides a playful tool for students to manipulate to get qualitative results on the 1st and 2nd screens.
2. On the "more tools" screen, the Angles option is provided to give more quantitative results as well as to quantify the angle as a function of wavelength.  Th

[2015-11-09 15:57] orejolaphet commented on #414
I see! Thanks for the clarification.

[2015-11-09 17:24] elisemorgan commented on #347
@amanda-phet All sponsors have been checked and are recorded on the spreadsheet

[2015-11-09 18:08] jonathanolson commented on #378
The last few times I've had this come up on my TODO list, we've been in common-code freeze situations.

I'll take care of it soon.

[2015-11-09 18:23] phet-steele commented on #414
I've been handling Win 8 Chrome.

[2015-11-09 19:42] mattpen commented on #347
@elisemorgan Should the sponsors marked in red in the spreadsheet be removed?  Or should we keep the name in the list and remove just the link and/or logo?

[2015-11-09 19:47] amanda-phet commented on #347
I believe @kathy-phet wants to look over the sponsors and potentially make a section for past sponsors. As of now, do not remove any sponsors. I will figure out something for the logos.

@mattpen  if you are updating logos, can you talk to @aaronsamuel137 about the sizing? The logos that show up on a sim page have a max height but the logos on the home page and sponsors page do not. A big change t

[2015-11-09 19:47] samreid commented on #412
It looks like @ariel-phet did several of these already.  I didn't see others that need to be removed at the moment.

[2015-11-09 19:47] #412 closed

[2015-11-09 19:51] mattpen commented on #347
@amanda-phet I can make all the logos have a max height/width on the About Sponsors page specifically.  We don't need to change the image files themselves to make this happen.  Once Aaron has the front page deployed to the main site I can put up what I have done so far for review.

[2015-11-09 20:45] mattpen commented on #347
@amanda-phet @elisemorgan - I have a few questions about some of the sponsors.

***Theresa Neil*** - There is a logo up on the website already.  Should the image be removed?
***C. Wieman and S. Gilbert*** This sponsor was not listed in the spreadsheet. Do they have a logo/website or should it be left as is?
***Gordon and Betty Moore Foundation*** -  This looks new.  Which level of sponsor is this?

[2015-11-09 20:54] mattpen commented on #347
The Texas Instruments logo has a large whitespace on the right side.  Is this the right logo?

[2015-11-09 20:55] oliver-phet opened #415 "Create a tutorial video for adding a sim to iPad reading list"
@arnabp We discussed in person, but we'd like to have a step-by-step video about how to add a sim to an iPad reading list for offline use.

[2015-11-09 20:59] amanda-phet commented on #347
**Theresa Neil** - Just use the current logo.
**C. Wieman** - keep them listed but there is no logo
**Moore Foundation** - I am pretty sure they are Platinum Level.

**Texas Instruments** - that is the official logo from their site... however I think we should crop it. I will do that now and upload a cropped version.

[2015-11-09 21:00] elisemorgan commented on #347
@mattpen The sponsors with a red X have broken or incorrect links on the website. The correct links are on the spread sheet or could not be found

[2015-11-09 21:00] mattpen commented on #347
Carolina Biological Supply has a large white space on the right side as well.

[2015-11-09 21:30] oliver-phet opened #416 "PhET email designs"
We should update our outgoing email design - account setup, newsletters, donation emails, etc.

There isn’t a common design for any of our email communication and since we are likely going to be sending much more donation ask/thank you emails via salesforce in the future, It might be nice to get a solid email design worked out.

Some examples:
[PhET Spring 2015 Newsletter.pdf](https://github.com/p

[2015-11-09 21:55] amanda-phet commented on #415
As part of this task, can you also create *brief* (1-2 sentences) written instructions for how to do this?

[2015-11-09 22:09] jonathanolson commented on #378
Applied namespace patterns to Dot. Went well, plan to apply them to the repositories I'm responsible for.

[2015-11-09 22:13] jonathanolson commented on #378
Hadn't hit ESPB yet, the following might be related:
[code]

[2015-11-09 22:18] jonathanolson commented on #378
Sorry, false alarm above, the require.js wrapper was missing the 'require' parameter, so require.js was treating it differently.

[2015-11-09 22:20] ariel-phet opened #417 "Update iPad's that are on iOS9 to iOS 9.1"
@arnabp @orejolaphet @phet-steele @elisemorgan @BryceAG @brroberts1231 @bryo5363

If you are testing on an iPad that is CURRENTLY on iOS 9, please make sure it is up to date on iOS 9.1 and make the change to the asset tracking matrix accordingly

https://docs.google.com/spreadsheets/d/1PzD7H2xGrkZewcuYXtAKtmwWe9I3syU6rtAZAaobA-Y/edit#gid=0

For the iPad2 that is on iOS 8.4 (Lave) please leave that

[2015-11-09 22:28] ariel-phet opened #418 "Reminder about test devices and platform information in Issues"
@arnabp @orejolaphet @phet-steele @elisemorgan @BryceAG @brroberts1231 @bryo5363

The developers would appreciate if you put both the testing platform and the device name when you report issues

This way they know the platform (for instance Windows 8.1 Chrome) but if they believe the issue is device specific or difficult to reproduce they can go to the actual same device (for instance Tycho)

Plea

[2015-11-09 22:29] orejolaphet commented on #418
👍🏼

[2015-11-09 23:01] phet-steele commented on #418
:-1:

[2015-11-09 23:02] emily-phet opened #419 "Updates to Research List"
Here are some updates to the PhET research page list.

In "Important features for effective simulation design":

Designing accessible interactive chemistry simulations. Moore, E. B.  Spring 2015 ConfChem: Interactive Visualizations for Chemistry Teaching and Learning. (2015)
Link: http://confchem.ccce.divched.org/2015SpringConfChemP8

Tilting the Tablet: The Effect of Tablet Tilt on Hand Occlusion

[2015-11-09 23:23] jonathanolson commented on #378
Chicken and egg problem: Namespace depends on inherit, which depends on the namespace, which depends on Namespace.

Can solve this by:
1. Not using inherit, but define the prototype manually in Namespace.
2. Some other option...? I've thought of ~10 things that break in at least one way.

[2015-11-09 23:46] elisemorgan commented on #418
👍🏻

On Monday, November 9, 2015, Ariel Paul <notifications@github.com> wrote:

[2015-11-09 23:55] ariel-phet commented on #419
@emily-phet since this is a website task it should really go in the website repo. I will close and repoen there

[2015-11-09 23:57] #419 closed

[2015-11-10 00:26] pixelzoom commented on #378
As I said in https://github.com/phetsims/tasks/issues/378#issuecomment-143044428, I was a fan of the namespacing approach that @jonathanolson was using in scenery/dot/kite. Simple, effective, no inheritance. But we went and made it complicated :)

My vote would be for 1, punt on inherit and define the prototype manually in Namespace.

[2015-11-10 00:44] pixelzoom commented on #307
Volunteers for handling the above repos?

[2015-11-10 00:46] pixelzoom commented on #307
At developer meeting, let's put names next to remaining repos in https://github.com/phetsims/tasks/issues/307#issuecomment-154553345.

[2015-11-10 06:53] #408 closed

[2015-11-10 07:07] arnabp commented on #418
:+1:

[2015-11-10 14:42] bryo5363 commented on #418
(Thumbs up)
On Nov 9, 2015 3:28 PM, "Ariel Paul" <notifications@github.com> wrote:

[2015-11-10 15:29] mariahmaephet commented on #395
@ariel-phet @KateLRN is this better?

<img width="537" alt="screen shot 2015-11-10 at 8 27 54 am" src="https://cloud.githubusercontent.com/assets/11527557/11066337/0d54e088-8785-11e5-8f22-91d6fa54bac0.png">

[2015-11-10 15:50] ariel-phet commented on #395
Getting there....I think this would be a good one to iterate on in person a bit, are you free sometime soon @mariahmaephet?

[2015-11-10 15:50] KateLRN commented on #395
@mariahmaephet Awesome! I think the white/grey looks a little weird on the pale blue background (and 'play now' is hard to read), but I like the colours. Maybe make the bottom box the same colour as the top, and change PhET girl's desk to the darker brown from the blackboard so it doesn't clash? @ariel-phet what do you think?

p.s. I miss the 'play now' airplane. But I understand the argument for

[2015-11-10 16:05] elisemorgan commented on #417
@ariel-phet Both Tycho and Disessa are now running on iOS 9.1

[2015-11-10 16:29] ariel-phet commented on #417
@elisemorgan can you also upgrade Witten?

[2015-11-10 16:32] ariel-phet commented on #406
@pixelzoom looks like this is pretty well spotted tested now?

[2015-11-10 16:41] pixelzoom commented on #406
@ariel-phet Yes, matrix looks complete. Assuming that https://github.com/phetsims/beers-law-lab/issues/122 verifies ok, we can publish 1.2.0 off of the 1.2 branch.

Closing.

[2015-11-10 16:42] pixelzoom commented on #406
@ariel-phet Yes, matrix looks complete. Assuming that https://github.com/phetsims/beers-law-lab/issues/122 verifies ok, and no other beers-law-lab issues are found (its testing is not complete), we can publish 1.2.0 off of the 1.2 branch.

Closing.

[2015-11-10 16:42] pixelzoom commented on #405
Test matrix appears to be complete, but QA check list above is not completed.

[2015-11-10 16:51] elisemorgan commented on #417
@ariel-phet Witten is currently on iOS 8.3. Do you want it on iOS 9.1?

[2015-11-10 16:51] ariel-phet commented on #417
Yes please

[2015-11-10 16:59] pixelzoom commented on #322
@ariel-phet said to roll a release candidate, pending https://github.com/phetsims/acid-base-solutions/issues/138 (Chromebook layout issue).

[2015-11-10 17:01] pixelzoom opened #420 "RC test: pH Scale 1.2.0-rc.1"
Checklist for S2015R milestone (GitHub issues labeled "Summer 2015 redeploy")

**Developer**
- [x] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues with a milestone.
- [x] Look over the code review checklist, decide if code review should be redone, https://github.com/phetsims/phet-info/blob/master/checklists/code_revie

[2015-11-10 17:02] pixelzoom commented on #322
Since this RC test was aborted awhile back, I'm going to close this issue and start fresh, so that we don't have any confusion.

[2015-11-10 17:02] #322 closed

[2015-11-10 17:02] elisemorgan commented on #405
@pixelzoom How do I test touchArea?

[2015-11-10 17:03] pixelzoom opened #421 "RC test: pH Scale: Basics 1.2.0-rc.1"
Since ph-scale-basics is a subset of ph-scale, this RC test will be done in conjunction with https://github.com/phetsims/tasks/issues/420.

[2015-11-10 17:08] elisemorgan commented on #405
@pixelzoom Checklist is complete

[2015-11-10 17:11] elisemorgan commented on #417
@arnabp An error is preventing the update. Can you check this out?

[2015-11-10 17:23] pixelzoom commented on #323
Since this RC test was aborted awhile back, I'm going to close this issue and start fresh, so that we don't have any confusion.

[2015-11-10 17:23] #323 closed

[2015-11-10 17:23] #406 closed

[2015-11-10 17:25] pixelzoom opened #422 "publish Concentration 1.2.0"
Remaining issues from check list:

- [x] publish
- [ ] Rosetta test (Opening sim to trusted translators for beta)
- [ ] Check teacher tips are up to date
- [ ] Check sim primer is up to date
- [ ] Review process with QA team.

[2015-11-10 17:25] pixelzoom opened #423 "publish Beer's Law Lab 1.3.0"
Remaining issues from check list:

- [x] publish
- [ ] Rosetta test (Opening sim to trusted translators for beta)
- [ ] Check teacher tips are up to date
- [ ] Check sim primer is up to date
- [ ] Review process with QA team.

[2015-11-10 17:27] pixelzoom commented on #405
Thanks @elisemorgan!

RC test is complete. Tracking publication in https://github.com/phetsims/tasks/issues/423.

[2015-11-10 17:27] #405 closed

[2015-11-10 17:53] samreid commented on #307
Developers will self-assign as above.

[2015-11-10 18:05] samreid commented on #307
@pixelzoom asks when we should set the visibility annotations for old sims.

[2015-11-10 18:11] samreid commented on #307
@jbphet points out that there are more issues at play than just visibility annotations.  When do we address them?

[2015-11-10 18:13] samreid commented on #307
@jonathanolson finds it easy to "batch issues" and work on a group of them at once, though agrees it is good to keep code up to standard as we go.

[2015-11-10 18:14] samreid commented on #307
@jessegreenberg says getting code up to standard is important for accessible content, though not sure *when* that work should be done.

[2015-11-10 18:17] samreid commented on #307
@jessegreenberg points out that as we outfit sims for accessibility/phet-io we could get a better understanding of what quality level is acceptable and how much work should be done to standardize code before instrumentation will work well.

[2015-11-10 18:20] samreid commented on #307
Consensus: we will leave it up to developers whether to keep things up to date (a) as we go (b) as the sim is republished or (c) before a developer leaves the team.

[2015-11-10 18:26] samreid commented on #378
We could add some new eslint rule that automatically checks this and makes sure everything is up to standard.

@jonathanolson asks if we can have 2 lint levels.

@samreid: we could use lint level 1 to just print a warning.

[2015-11-10 18:27] samreid commented on #378
@samreid will look into an eslint rule for checking this, after it is written we can decide when to turn on the rule.

[2015-11-10 19:10] kdessau-PhET commented on #395
I like this...maybe make the text more "actionable" and shorter...as in "Ready to leave Java sims behind?"

[2015-11-10 19:19] kathy-phet commented on #395
Overall, I like how this has evolved! Going off Kathy D's suggestion the top line could just read:

"Ready to leave Java behind?" ... this could fit on one line and allow you to make text on top line same size as text on lower lines. I would put a bit of negative space above the "Ready" so it sits away from the edge of the blackboard.

[2015-11-10 20:33] kathy-phet commented on #395
Previous comments also mention vertical layout. My impression is this horizontal, one over the other lay out, is working pretty well.

[2015-11-10 21:01] pixelzoom commented on #423
Sim is published. Assigned to @ariel-phet for remaining check list item (above).

[2015-11-10 21:01] pixelzoom commented on #422
Sim is published. Assigned to @ariel-phet for remaining check list item (above).

[2015-11-10 21:02] pixelzoom commented on #420
Test matrix with RC links:

https://docs.google.com/spreadsheets/d/1_GwEET-3UrACqvNyzWT-q8ANvvQGTFRVHYoXswjNDqs/edit#gid=269371545

[2015-11-10 21:03] pixelzoom commented on #421
Checklist for S2015R milestone (GitHub issues labeled "Summer 2015 redeploy")

**Developer**
- [ ] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues with a milestone.
- [ ] Look over the code review checklist, decide if code review should be redone, https://github.com/phetsims/phet-info/blob/master/checklists/code_revie

[2015-11-10 21:07] pixelzoom commented on #421
Test matrix with RC links:

https://docs.google.com/spreadsheets/d/1F0JBJ2MyPkKk4LmFSs224OpPKUNR8lQpUPOeOw56uqk/edit#gid=1948749108

This sim is the first screen from the "pH Scale" sim (being RC tested in #420), so only requires a spot test. The only difference here is that the beaker does NOT automatically fill when changing solutions via the combo box (it does auto-fill in "pH Scale").

[2015-11-10 21:23] arnabp commented on #417
Witten has now been upgraded to iOS 9.1

[2015-11-10 21:25] samreid commented on #307
Since I have assigned https://github.com/phetsims/phetcommon/issues/25 to myself, I no longer need to have this issue assigned to me for my todo-list.  I'll reassign to @jbphet since he has a number of repos marked in the checkboxes above.

[2015-11-10 23:41] ariel-phet commented on #417
Excellent, closing!

[2015-11-10 23:42] ariel-phet commented on #417
Actually reopening...Can we also upgrade Leibniz?

[2015-11-11 00:01] ariel-phet commented on #423
I have been moving these to repo specific issues. Closing

[2015-11-11 00:01] #423 closed

[2015-11-11 00:16] ariel-phet commented on #420
@BryceAG @bryo5363 @elisemorgan @phet-steele @orejolaphet @brroberts1231 please make this the next top testing priority

[2015-11-11 00:18] ariel-phet commented on #421
@BryceAG @bryo5363 @elisemorgan @phet-steele @orejolaphet @brroberts1231 please make this a high testing priority after #420  is done (since this sim should only need spot testing)

[2015-11-11 00:21] pixelzoom commented on #378
To test drive, I've added namespacing to function-builder. Two observations...

(1) Since keys must be unique for a namespace, and keys are typically the names of files, all filenames must be unique under `<repo>/js/`.   That means that I cannot have `myRepo/js/screen1/model/Solution.js` and `myRepo/js/screen2/model/Solution.js`.  Probably not wise to use the same names anyway, so probably not a b

[2015-11-11 00:27] ariel-phet commented on #422
moved to repo specific issue

[2015-11-11 00:27] #422 closed

[2015-11-11 00:51] ariel-phet commented on #407
results and procedure emailed to @emily-phet, closing

[2015-11-11 00:51] #407 closed

[2015-11-11 06:21] ariel-phet commented on #401
I definitely like having different shapes (such as the 6 sided, and the one with a hole in it, to make them easily distinguishable. The drawings above look like they have just a bit too much perspective to my eye, I think you only need a hint of the 3D-ness (since coins are pretty flat.

[2015-11-11 06:25] ariel-phet commented on #346
I think we can close this issue since much of the movement on website design has occurred.

[2015-11-11 06:25] #346 closed

[2015-11-11 06:27] ariel-phet commented on #202
This never really happened...but Martin will be back this summer (remotely). Maybe we can do it more properly then. Closing

[2015-11-11 06:27] #202 closed

[2015-11-11 06:31] ariel-phet commented on #368
@kathy-phet maybe fleshing out this checklist would be a good step in this project gaining some momentum :)

[2015-11-11 06:41] ariel-phet commented on #395
@mariahmaephet lets make the following tweaks:
1. Make the blackboard black for better contrast, less colors
2. Remove chalk and erasers (a really cute touch, but I think unnecessary in this case)
3. Maybe increase the size of the blackboard horizontally and a bit vertically (so we can maximize text)
4. Make "Donate Now" a button (see the front page of the phet size for the yellow donate now butto

[2015-11-11 16:50] pixelzoom commented on #378
FYI… There’s a slight problem that you may run into when namespacing of inner type. For example:

[code]

The call to `myNamespace.register( ‘MeterNode.BodyNode’, BodyNode )` will fail because `'MeterNode’` does not yet exist in the namespace.  Is to define and register nested types after defining and registering the main type.  Not a big deal, a bit more work and reorganization of some source fil

[2015-11-11 16:54] pixelzoom commented on #378
Btw... This "forced reorganization" for namespacing of inner types is (imo) a good thing. For quickly determining how to use a type, it's convenient to have the main type's constructor as the first function definition in the source file.

[2015-11-11 17:00] pixelzoom commented on #378
I guess another way to fix this would be to move all `register` calls to the just before the `return` statement, like this:

[code]

But that would violate our agreed-upon convention of putting the `register` call immediate after the constructor.

[2015-11-11 17:19] ariel-phet commented on #354
Plan is to bring up at 11/12/2015 status meeting. Reassigning to @pixelzoom to bring up during his report.

[2015-11-11 18:18] samreid opened #424 "Prepare a simulation for S2015R"
@ariel-phet requested @samreid to prepare a simulation for S2015R redeploy.

[2015-11-11 18:45] BryceAG commented on #418
:+1:

[2015-11-12 01:25] ariel-phet commented on #410
Mitigated.

[2015-11-12 01:25] #410 closed

[2015-11-12 06:12] jonathanolson opened #425 "Test formula (KaTeX) browser support"
I've added support for displaying mathematical formulas as part of https://github.com/phetsims/scenery/issues/457, however there's a good chance of platform-specific bugs or incompatibilities.

Please test http://www.colorado.edu/physics/phet/dev/olsonjb/scenery-phet-formula-node.html across our supported platforms. To test:
1. Visit http://www.colorado.edu/physics/phet/dev/olsonjb/scenery-phet-fo

[2015-11-12 06:23] ariel-phet commented on #425
@amanda-phet can you begin this testing on a few platforms since you are going to have the eye for if everything is looking acceptable to you? (and it should be exciting!). If things are looking solid, assign back to me, and I will have the QA team take care of remaining platforms.

[2015-11-12 06:26] ariel-phet commented on #425
Larger screenshot (win 7 FF, and looking pretty good to me)

![capture](https://cloud.githubusercontent.com/assets/4051174/11111977/9b0d7506-88cb-11e5-8a7d-dcf8cb6da920.PNG)

[2015-11-12 06:26] jonathanolson commented on #425
@amanda-phet, also let me know if appearance improvements should be made. The lower limit of the integral would usually be shifted to the left (more flush with the integral sign), and the real-number symbol seems offset slightly.

[2015-11-12 16:58] pixelzoom commented on #413
@ariel-phet I don't think we need another RC.  Of the 3 issues above, only phetsims/acid-base-solutions#141 required any code change, and it was a trivial change that has been well-tested.  So I think we are ready to publish 1.2.0.  Sound OK?

[2015-11-12 17:15] pixelzoom commented on #413
@ariel-phet agreed. I'll proceed with publishing 1.2.0. Closing.

[2015-11-12 17:15] #413 closed

[2015-11-12 18:07] ariel-phet commented on #417
@arnabp if you get a chance to upgrade Leibniz

[2015-11-12 18:34] pixelzoom commented on #354
Discussed 11/12/2015. The plan is to port "Models of the Hydrogen Atom" next. The sim name won't be changing, so I can create the repo. I'll wait to start the port until @amyh-phet has made an initial "design refresh" pass.

[2015-11-12 18:54] aaronsamuel137 opened #426 "Get one time password set up for rc backups"
Currently, I am the only one that has access to the research computing backups. @ariel-phet suggested that we should get @oliver-phet set up to access this data.

To do this, you need a one-time-password device set up with OIT.

Feel free to discuss this with me @oliver-phet.

[2015-11-12 20:05] oliver-phet commented on #403
@mattpen Is going to investigate... also look into packaging a Flash sim to investigate offline usage.

[2015-11-12 20:38] amanda-phet opened #427 "Edit team photos"
I emailed @mariahmaephet with a request to edit two more team member photos.

[2015-11-12 21:28] brroberts1231 commented on #418
👍

On Wed, Nov 11, 2015 at 11:45 AM, Bryce <notifications@github.com> wrote:

[2015-11-12 21:34] amanda-phet opened #428 "Redeploy LSR"
As part of the Summer 2015 Redeploy, Least Squares Regression will also need to be redeployed by someone.

[2015-11-12 21:36] mariahmaephet commented on #395
@ariel-phet @kathy-phet @KateLRN    Here's the latest version from the design meeting. I've uploaded the .ai file to my drive folder

<img width="718" alt="screen shot 2015-11-12 at 2 35 56 pm" src="https://cloud.githubusercontent.com/assets/11527557/11132009/bbdc99e0-894a-11e5-99dd-c1abdbc095a7.png">

[2015-11-12 21:39] kdessau-PhET commented on #395
Looks good...one thing. Do you think Educators should be on one line by itself? If not, I'd push up the Chip in line a little towards the top.

[2015-11-12 21:59] mariahmaephet commented on #395
@ariel-phet @kdessau-PhET @kathy-phet @KateLRN

minor changes to the blackboard text

<img width="717" alt="screen shot 2015-11-12 at 2 56 17 pm" src="https://cloud.githubusercontent.com/assets/11527557/11132564/cfd72d90-894d-11e5-9bf2-385a6fb82db7.png">
<img width="717" alt="screen shot 2015-11-12 at 2 57 55 pm" src="https://cloud.githubusercontent.com/assets/11527557/11132565/cfdd8b54-894d-11e5-

[2015-11-12 22:00] amanda-phet commented on #427
@mariahmaephet completed this! Closing.

[2015-11-12 22:00] #427 closed

[2015-11-12 22:46] BryceAG commented on #417
@ariel-phet Leibniz has been updated

On Thu, Nov 12, 2015, 11:07 AM Ariel Paul <notifications@github.com> wrote:

[2015-11-12 22:56] ariel-phet commented on #417
Excellent, closing!

[2015-11-12 22:56] #417 closed

[2015-11-12 23:26] kdessau-PhET commented on #395
I'm OK either way. Looks good.

[2015-11-12 23:27] amanda-phet opened #429 "Produce new primer videos"
The following primers have been recorded and edited by @schasteen and are ready for production.

Please produce them with the bumpers and send to @schasteen for review.

- [x] Build an Atom (please reduce fan noise)
- [x] Molecule Shapes (reduce fan noise and replace sentence)
- [x] Molecule Shapes Basics (reduce fan noise and replace sentence)
- [x] Beer's Law
- [x] Concentration
- [x] Molarity
-

[2015-11-12 23:32] amanda-phet opened #430 "Re-produce primer videos"
Please produce these with the newest bumpers and send to @schasteen for review. We suggest using the original camtasia file (since it may have some sound edits) and swapping out the bumper video.

- [x] Balancing Chemical Eqns
- [x] pH Scale
- [x] pH Scale: Basics
- [x] Reactants Products & Leftovers
- [x] Area Builder
- [x] Fraction Matcher
- [x] Color Vision
- [x] ESPB
- [x] Faraday's EL

This s

[2015-11-13 02:15] arnabp commented on #429
School has been extremely busy lately, so I'm not always able to come in as often as I want, but I can definitely prioritize this over the next few weeks.

[2015-11-13 16:46] jbphet commented on #410
Thank you!

[2015-11-13 17:07] ariel-phet commented on #203
@elisemorgan this is an issue that has been lingering for quite some time, and I think you would be a good person to polish it off.

Please talk to @amanda-phet if you need details.

[2015-11-13 18:08] ariel-phet commented on #418
Thanks all, closing

[2015-11-13 18:08] #418 closed

[2015-11-13 18:56] oliver-phet commented on #426
@aaronsamuel137 I have an OTP device. What is needed to setup the access?

[2015-11-13 20:16] arouinfar commented on #202
@ariel-phet Sounds good. I have quite a few notes from my interview with Martin. I had left this issue open because I thought it might be nice to write something up to coincide with the release of Charges & Fields, but we can definitely revisit this issue this summer.

[2015-11-13 20:18] ariel-phet commented on #202
Ah, the charges and fields release might work out well. Lets revisit when we get there (or summer!)

[2015-11-13 21:24] amanda-phet commented on #425
This looks good on my Mac (still running OS X 10.10) on all three browsers, as well as the two iPads that I looked at.

I see the offset Real number symbol and the lower limit but agree that they don't bother me enough to investigate right now. I don't imagine we'll use either in the near future (potentially the integral when we do Calculus Grapher but that seems a ways off!).

[2015-11-14 01:30] samreid commented on #378
This issue is getting a bit long, I'll create separate issue(s) for creating the eslint rule(s) for checking namespacing.  @pixelzoom anything else to do here?

[2015-11-14 01:34] samreid opened #431 "Add an eslint rule to check that files register with a namespace"
From: https://github.com/phetsims/tasks/issues/378#issuecomment-155523001

[2015-11-14 01:40] samreid commented on #431
I added a rule (commented out) in https://github.com/phetsims/chipper/commit/44f5105f55c51d7016aaf5464b4a779589392499

Described as:

Also, the implementation ignores filenames ending in -config.js and -main.js, and ignores files that instantiate a namespace (since namespaces don't namespace themselves).

I tested it on molarity, and it correctly indicated no problems.  I tested `grunt lint` on ho

[2015-11-14 01:41] samreid commented on #431
I should have made this issue in chipper instead of here in tasks.  Well, let's roll with it.

[2015-11-14 01:51] samreid commented on #431
In my opinion, this rule (though coarse) is sufficient to help us know whether a sim is namespaced and roughly how many of its files are namespaced.  I skimmed through the existing 602 occurrences of `.register( '` in our source and it seemed like there are no false positives at the moment (though future introduction of register methods will cause false positives).

Turning on the rule now would b

[2015-11-14 01:52] samreid commented on #431
Also, we could consider writing another linting task that checks that *at least one* of the register calls matches the filename of the file.  Actually, that could go a long way toward ruling out false positives (as long as there are no corner cases where there is *supposed* to be a mismatch).  I'll leave this assigned to myself to investigate that.

[2015-11-14 02:08] samreid commented on #431
In the above commit, I'm checking for a register call that matches the filename.  This drops the probability of false positives to negligible.  We still have to manually make sure the inner types are namespaced properly (as before).

[2015-11-14 02:13] samreid commented on #431
With the above rule, all of the @pixelzoom sims crossed off in #378 still pass, and hookes-law still shows 54 issues.

This may actually lead to a script that automatically inserts the namespace call immediately after its declaration in the majority of our files.  We have the parsed AST, we can find the declaration of the function or instance that matches the filename.  Perhaps we can somehow inse

[2015-11-14 02:13] samreid commented on #431
Unassigning while I await feedback from those mentioned above.

[2015-11-14 02:13] samreid commented on #431
Marked for developer-meeting in case we don't discuss it before then.

[2015-11-14 05:12] samreid opened #432 "New server needs a new name"
This week we were discussing names for the new server machine.  I thought I'd create a thread here in case any wants to propose server names, ideas, etc or upvote others' suggestions.  Tagging @kathy-phet @jonathanolson @jbphet @aaronsamuel137 @jessegreenberg @mattpen @ariel-phet @aadish @arnabp @phet-steele @oliver-phet @orejolaphet  since I thought they might be interested.  Invite your friends

[2015-11-14 05:13] samreid commented on #432
"rocky"

[2015-11-14 06:42] jonathanolson commented on #432
In the cat theme:
- lion.colorado.edu
- tiger.colorado.edu
- ocelot.colorado.edu
- lynx.colorado.edu
- [colocolo](https://en.wikipedia.org/wiki/Colocolo).colorado.edu

Bad puns:
- sky.colorado.edu (it's always up)
- entropy.colorado.edu (never goes down)
- light.colorado.edu (doesn't slow down)

Other (non-cat)
- dog.colorado.edu (yup, not taken)
- penumbra.colorado.edu
- chimera.colorado.edu

Pas

[2015-11-14 20:54] pixelzoom commented on #378
We should probably prioritize adding namespace to common repos, and divide up the work.

[2015-11-14 20:57] pixelzoom commented on #431
hookes-law and ph-scale have not been namespaced yet.

[2015-11-14 20:59] pixelzoom commented on #431
Does this rule verify that inner types are also namespaced?

[2015-11-14 23:36] jonathanolson commented on #431
How would that be detected?

[2015-11-15 01:15] samreid opened #433 "Incomplete types are added to namespace"
From #378 @pixelzoom said:

Thinking about this a bit further, consider this simplified example type declaration:

[code]

It seems problematic to add something to the namespace before it can be used.  And in this case, the MyType constructor should not be called until after the inherit method has completed.  Therefore, in cases like this we should add to the namespace after the inherit call is co

[2015-11-15 01:16] samreid commented on #431
We could use the rule that every time there is a `function MyType` pattern, where MyType is capitalized, it must be accompanied by a namespace export.  Not sure if there are occurrences of this sort where we don't want namespacing, or occurrences of the opposite sort (things that don't match this pattern that should be namespaced).

[2015-11-15 01:17] samreid commented on #431
From a comment above:

[2015-11-15 07:13] jonathanolson commented on #433
If this is something that we'd need, I'd argue that after the inherit (or even at the bottom of the file) is insufficient. Just because we've loaded the entire file doesn't mean it's in a state where you can create instances and do whatever. For example:
1. After Node is fully set up in Node.js, new Node().toCanvasNodeSynchronous() would try to create a Scenery Image (which hasn't been loaded yet,

[2015-11-15 07:23] jonathanolson commented on #431
Things like phet-core's inherit, we don't want phetCore.F:
[code]

Also things like phet-core's inherit, as it isn't capitalized. Namespaced things don't need to be types. scenery.js has a lot of non-type things that are currently on the namespace also.

[2015-11-16 02:00] pixelzoom commented on #433
@jonathanolson wrote:

+1

[2015-11-16 03:44] pixelzoom commented on #378
Here are the common repos that don't currently have a namespace. Let's put names next to these at developer meeting.

- [ ] brand (a little tricky)
- [ ] joist
- [ ] nitroglycerin
- [ ] phetcommon
- [ ] scenery-phet
- [ ] shred
- [ ] sun
- [ ] tandem (namespace needed?)
- [ ] together (namespace needed? together.js is used for something else)
- [ ] vegas
- [ ] vibe

[2015-11-16 04:25] pixelzoom commented on #378
I've created individual issues for all of the common repos that need a namespace. After assigning those issues, we can close this issue.

[2015-11-16 15:40] ariel-phet commented on #414
Looks like this sim will require a new dev version, closing.

[2015-11-16 15:40] #414 closed

[2015-11-16 15:41] ariel-phet commented on #425
@BryceAG @bryo5363 @elisemorgan @phet-steele @orejolaphet @brroberts1231

Please work on this testing (might be easy to do as you are on a device doing RC/dev testing of other sims)

[2015-11-16 16:03] orejolaphet commented on #425
I noticed while testing on "Bates" Windows 7, for both Chrome 46.0.2490.86 m and IE 11.0.9600.17843 have slight alignment issues.
Notice:
The upper bar of the square root symbols do not align.
The 2 in the exponents of the (x^2(sub2) + x^2(sub3))^1/2 term overlap with the upper bar of their square root symbol.

![formulanode](https://cloud.githubusercontent.com/assets/5631059/11186763/7e12ac64-8c4

[2015-11-16 16:07] orejolaphet commented on #425
The alignment issue of the square root upper bar also occurs on OSX 10.11.0: FireFox 42.0, Chrome 46.0.2490.86, Safari 9.0

[2015-11-16 16:49] pixelzoom commented on #374
@ariel-phet gave the green light for this.

[2015-11-16 16:57] aaronsamuel137 commented on #432
Here's a few suggestions:

- ox.colorodo.edu (strong animal, easy to type :)
- apollo.colorado.edu (greek god, like the sound of it)
- vishnu.colorado.edu (indian god, makes sure the creation is stable)

I like apollo the best of the proposed suggestions so far.

Anyone else have suggestions?

[2015-11-16 17:04] pixelzoom commented on #395
Mentioning myself so that I get updates on this issue, @pixelzoom.

[2015-11-16 17:14] ariel-phet commented on #432
I have to admit, I kind of like "ox"

[2015-11-16 17:22] jonathanolson commented on #425
Looks related to https://github.com/Khan/KaTeX/issues/40, unless we submit code changes to KaTeX, I don't see much else I can do about it.

[2015-11-16 17:31] phet-steele commented on #425
Win8 (IE11) has the square root issue noted by @orejolaphet above, and on Win8 (FF 42.0) the vertical lines look like this on both sides:

![broken lines](https://cloud.githubusercontent.com/assets/5863899/11189392/1b48999c-8c4d-11e5-946c-672d9bee7018.PNG)

[2015-11-16 17:33] ariel-phet commented on #425
@jonathanolson I think KaTeX would be very open to changes if you think you have a solution (being a project of Khan academy, this would also be a nice collaboration move if you think you have good changes)

[2015-11-16 17:36] jonathanolson commented on #425
@ariel-phet, I don't have a solution, it would require getting up-to-speed on their code and finding a fix. Let me know about the priority of visual artifacts, and whether I should do that.

[2015-11-16 17:40] ariel-phet commented on #425
@jonathanolson not a priority at the mometn

[2015-11-16 17:44] amanda-phet commented on #425
If the square root is an issue that can't be fixed, we may want @jessegreenberg to pause on implementing this in Trig Tour (which uses square roots).

[2015-11-16 18:07] pixelzoom commented on #395
Notes from a Skype discussing with @ariel-phet about the general approach to implementing this feature.

Integrating the “Ask” dialog into Java sims has a number of drawbacks:

• The “Ask” dialog needs to reflect the look of the current PhET brand. That requires a web/HTML5 look, which will be very costly to replicate in Java. The feasibility of this has yet to be determined, but is certain to be

[2015-11-16 18:25] pixelzoom commented on #395
Implementation tracking for this feature has been taking place in https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3707.

[2015-11-16 18:41] phet-steele opened #434 "Test Help Center and Translatabilty"
@oliver-phet and I discussed and we need to test the following for the new help center admin page (test question key numerical ordering vs. presented order for all):
1. Entering questions
2. Deleting questions
3. Editing questions
4. Translating questions (for all 3 above scenarios)
5. When translating, admin page switches between "up to date" and "out of date" instead of "not translated". (not co

[2015-11-16 18:58] samreid commented on #431
I still find it a bit odd that we cannot leverage requirejs to automatically namespace all the things for us.

[2015-11-16 19:07] samreid commented on #433
In this case, waiting for the sim to launch before accessing any of the namespaced objects makes sense.  For phet-io instrumented instances, there is a similar question: should we be able to deal with objects right when they are created or only after the sim has started up.  I originally thought of applying the same logic here, but it doesn't address the case of instances that are created *after*

[2015-11-16 19:10] jonathanolson commented on #431
Wouldn't work for things like Text, where we need to have it namespaced before the define() function returns the Text reference.

[2015-11-16 19:14] samreid opened #435 "Investigate using RequireJS for namespace"
After seeing what an immense amount of work #378 will be, I'm wondering again why we cannot use RequireJS to automatically add objects to a namespace.  @jonathanolson and I looked into it at one point and had a hack/monkeypatch that allowed us to use requirejs names to access declared instances.  Could we take this further and get this working as an alternative to adding manual namespaces everywhe

[2015-11-16 19:15] samreid commented on #431
I'm moving this subconversation over to #435, see you there!

[2015-11-16 19:16] samreid commented on #435
@jonathanolson said:

[2015-11-16 19:16] samreid commented on #435
Why does Text need to be namespaced before the define function returns the Text reference?

[2015-11-16 19:37] pixelzoom commented on #435
@samreid wrote:

Immense amount of work?  I've done the work for all but 1 of my sims (ph-scale) and most of the common repos (6 to go), and it really wasn't a bit deal, pretty easy.

[2015-11-16 19:43] samreid commented on #435
Aside from the work to add these to each file, it adds a permanent footprint in every file like:

[code]

What if I now need to rename BCERewardNode?  Then I have to go through and rename all the vars.  And we are in the midst of creating a eslint rule just to make sure we get all of this right, and it cannot even check for all cases, such as inner types which will have to be checked manually.

Le

[2015-11-16 19:50] pixelzoom commented on #435
We decided on the current approach on 10/6/2015, over a month ago. And as part of #378, all developers were supposed to test drive the approach that we decided on.  Perhaps I missed some commits, but other than @jonathanolson and myself, I didn't see any serious test driving taking place, or any real evaluation of how long it takes to namespace a sim. So I'm not going to be too happy if we decide

[2015-11-16 21:02] amanda-phet commented on #434
I think we should add that the appearance of the pages should be tested on different browsers and OSes for layout or interaction issues.

[2015-11-16 21:50] ariel-phet commented on #374
@BryceAG @bryo5363 @elisemorgan @phet-steele @orejolaphet @brroberts1231 please make this the "on deck" testing priority once ph-scale and ph-scale basics testing raps up

[2015-11-16 22:14] samreid commented on #435
@jonathanolson reminded me that it is important to have namespace declarations before the requirejs module declaration is complete and it looks like https://github.com/phetsims/joist/issues/307 will be a good strategy for making sure most of the things are namespaced properly, closing.

[2015-11-16 22:14] #435 closed

[2015-11-16 22:17] samreid commented on #431
@jonathanolson and I worked on a rule that runs in requirejs mode when ?ea is turned on--it seems like a simpler and more robust way to check namespaces than a linting rule.  I'll remove the in-progress linting rule and close this issue.

[2015-11-16 22:19] samreid commented on #431
Removed in https://github.com/phetsims/chipper/commit/4a6a4f669d53c9303840df22baafbfffe142b2dd

[2015-11-16 22:19] #431 closed

[2015-11-16 22:29] ariel-phet commented on #395
Artwork task can be closed, work on task now a website issue https://github.com/phetsims/website/issues/313

[2015-11-16 22:30] #395 closed

[2015-11-16 22:33] ariel-phet commented on #416
@oliver-phet here is @daveunderwood first pass at an updated newsletter template. Thoughts/feedback?

![newsletter_1](https://cloud.githubusercontent.com/assets/4051174/11196940/6703e434-8c77-11e5-9a5c-5f775bee7618.jpg)

[2015-11-17 02:02] pixelzoom commented on #395
Java prototype deleted from Unfuddle SVN and associated issue has been closed, see https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3707.  (History is of course retained in Unfuddle.)

[2015-11-17 15:23] aaronsamuel137 commented on #426
I have sent an email to rc-help to ask what they recommend given that I am leaving, but I haven't heard back.

Basically, you'll just need to set up an account with research computing and email them to ask for access to the phet files. Though you might actually have access already because you set up the account.

You could try typing `ssh [identikey]@login.rc.colorado.edu` in a terminal, and then

[2015-11-17 16:43] pixelzoom commented on #307
11/17/15 consensus: Leave this open until all common repos are handled.

[2015-11-17 16:44] orejolaphet commented on #425
KaTex browser support testing is complete

[2015-11-17 16:44] orejolaphet commented on #420
RC testing has been completed

[2015-11-17 16:56] ariel-phet commented on #425
@jonathanolson any other testing to do here?

[2015-11-17 17:13] ariel-phet commented on #420
@pixelzoom possible to publish with branching process?

[2015-11-17 17:33] jonathanolson commented on #425
Nope, thanks! Noted links to the testing problems in the main KaTeX issue.

[2015-11-17 17:33] #425 closed

[2015-11-17 17:46] ariel-phet commented on #374
Bumping to top QA priority now that pH-scale is complete

[2015-11-17 17:48] pixelzoom commented on #420
Yes. I will patch scenery to address #65, then publish 1.2.0.

[2015-11-17 17:49] pixelzoom commented on #421
Test matrix looks complete, and no need to repeat QA checklist above. So this sim is ready to publish, at the same time as ph-scale 1.2.0.  I will patch scenery to address phetsims/ph-scale#65, then publish 1.2.0.

[2015-11-17 19:13] pixelzoom commented on #420
1.2.0 is published. Remaining check list items moved to https://github.com/phetsims/ph-scale/issues/66. Closing.

[2015-11-17 19:14] #420 closed

[2015-11-17 19:36] pixelzoom commented on #421
1.2.0 is published. Remaining check list items moved to https://github.com/phetsims/ph-scale-basics/issues/41.  Closing.

[2015-11-17 19:36] #421 closed

[2015-11-17 20:03] jonathanolson commented on #432
My current top two preferences:
- tiger.colorado.edu
- ox.colorado.edu

Both are quite type-able (excludes apollo for me) and don't sound weird out loud.

@samreid, @mattpen, @aaronsamuel137, @jbphet any further thoughts?

[2015-11-17 20:07] samreid commented on #432
I like "ox", nice suggestion.

[2015-11-17 20:24] pixelzoom commented on #432
+1 for ox.colorado.edu

[2015-11-17 21:06] jessegreenberg commented on #432
I like "ox" too.  Short, sweet, and easy to type.

[2015-11-18 06:27] samreid commented on #424
@ariel-phet suggested Forces and Motion: Basics.  Its a popular sim, the friction changes and art changes would be nice.

@samreid suggested to check in with @jessegreenberg to make sure accessibility is in a good place before bringing this to production for S2015R.

[2015-11-18 19:46] aaronsamuel137 commented on #307
I'll try to do this for color-vision before I leave.

[2015-11-19 03:02] mattpen commented on #403
I created an account to upload apps and have packaged an HTML5 app that is ready to test (pending payment of the fee).  Publishing a flash app should be fairly simple since we already have them packaged for download.

There are a few items to consider.

1. Publishing requires a google account, which shows up on the store page under "offered by".  I created a Google account called phetdev, I'm not

[2015-11-19 15:06] ariel-phet commented on #212
I think this issue can be closed since we have a reasonably working UI.

[2015-11-19 15:06] #212 closed

[2015-11-19 16:41] oliver-phet commented on #403
@mattpen We already have an account setup. We can talk about it at meetings today.

[2015-11-19 18:14] aaronsamuel137 commented on #432
Seems like ox is the consensus. I am going to leave this open but unassign.

[2015-11-19 19:55] jessegreenberg commented on #428
This is one that I could do since MAL was the only sim I have had to redeploy so far.

[2015-11-19 20:40] jessegreenberg commented on #424
Accessibility is in active development for forces-and-motion-basics.  Net force screen is getting some revamped accessibility designs after an initial round of student testing.  Accessible content for the remaining screens are being implemented for the first time now.

However, references in code to accessibility changes should be safely hidden in blocks starting with ```this.accessibleContent = {

[2015-11-19 20:53] samreid commented on #424
Thanks @jessegreenberg, let's keep everything in master for now and we can re-evaluate if issues arise.

[2015-11-19 21:11] arouinfar opened #436 "Satellite Artwork for Gravity & Orbits"
@mariahmaephet, we would like you to create new artwork to replace the satellite that's currently in Gravity and Orbits.

![image](https://cloud.githubusercontent.com/assets/8419308/11278297/86d9acda-8ea7-11e5-872a-9555a153fd0a.png)

You can see the current artwork in context at http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.24/gravity-and-orbits_en.html

I like the loo

[2015-11-19 21:17] samreid commented on #424
Closing, we'll track this in the forces-and-motion-basics issue now.

[2015-11-19 21:17] #424 closed

[2015-11-19 22:17] ariel-phet commented on #432
Request for "ox" sent to OIT. Closing!

[2015-11-19 22:17] #432 closed

[2015-11-19 23:56] BryceAG commented on #374
For the long test, would it be possible that just the word "slope" would cause the textbox to be too long and go under the graph?

[2015-11-20 05:49] samreid opened #437 "Dev Testing Bending Light 1.0.0-dev.45"
Here is the version for dev testing:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.45/bending-light_en.html

@ariel-phet recommends dev testing on these platforms:

- [x] Chrome/Windows
- [x] Mac/Safari
- [x] Win/Edge
- [x] iPad2/iOS9

[2015-11-20 05:52] ariel-phet commented on #428
@jessegreenberg sounds good, assigning to you. Lets make getting Trig tour out the priority, and then we can figure out where getting this ready for redeploy lands.

[2015-11-20 05:56] ariel-phet opened #438 "Testing website in other locales for oddness"
@phet-steele this is a bit of a background task, but when you get a chance it would be good to poke around the site and see if we have missed anything in terms of oddness to do with viewing in another locale.

For instance, some "oddness" we fixed was that when you went to "by device" and viewed in another locale a bunch of non-HTML5 sims were populating the iPad category. Basically be on the look

[2015-11-20 14:40] pixelzoom commented on #374
@BryceAG I'm not clear on what instance of "slope" you're referring to. Create an issue with the question and a screenshot, and I'll check it out. Thanks.

[2015-11-20 16:05] phet-steele commented on #438
Roger. I'll keep my eyes peeled while translating the Help Center, too.

[2015-11-20 16:45] ariel-phet commented on #437
@BryceAG @bryo5363 @elisemorgan @phet-steele @orejolaphet @brroberts1231 please make this a high testing priority as graphing lines testing is wrapping up.

As before, please comment in this issue as to what platform you are working on of the above 4 so that other QA team members know.

In addition, on the "prisms" screen, we know that performance starts to lag with too many objects, it is good to

[2015-11-20 16:56] orejolaphet commented on #437
I will test mac/safari

[2015-11-20 18:08] elisemorgan commented on #437
I will test iPad2

[2015-11-20 18:43] arnabp commented on #429
I took a look at the ones you listed. The fan noise seems VERY minimal. I can take it out, but I just wanted to make sure that it was these sims that you were referring to, as opposed to other videos I might be missing that may have more severe background noise.

Where/How do I find the sentence I'm supposed to change in molecule shapes and molecule shapes basics?

[2015-11-20 19:21] schasteen commented on #429
Arnab,

I'll listen again to the fan noise, perhaps it's not as bad as I thought.  I'm on a call until 1 and then will look.
For the sentence, are you unable to locate it?  I would just have to listen to the whole primer to locate it.  Have you done so and can't find it?

Stephanie

On Nov 20, 2015, at 11:43 AM, arnabp <notifications@github.com<mailto:notifications@github.com>> wrote:

I took a lo

[2015-11-20 19:54] arnabp commented on #429
I listened to both and nothing really seemed out of place. Am I supposed to know it when I hear it?

[2015-11-20 19:59] schasteen commented on #429
It wouldn't be out of place.  It's a sentence which is incorrect/misleading in its' content and we are replacing it with the corrected sentence.

As indicated in the notes,
We want to replace "This function of the simulation allows students to discover that double and triple bonds have the same influence on molecule shape as a single bond."

We are replacing that sentence with the one that Amanda

[2015-11-20 20:08] arnabp commented on #429
Ah, it appears I forgot about the notes on the spreadsheet of the sims. I've found what was being referenced, shouldn't be a problem now.

[2015-11-20 20:12] brroberts1231 commented on #437
I'll test Win/Chrome

[2015-11-20 20:16] schasteen commented on #429
I updated the notes in the List of Sim Primers to include the exact timecode, and some specific notes on fan noise.
https://docs.google.com/spreadsheets/d/1zlelf5q9txcK86WLkdCeYKoCtlxlhGDNJlT1fPmkSSk/edit#gid=0

On Nov 20, 2015, at 1:08 PM, arnabp <notifications@github.com<mailto:notifications@github.com>> wrote:

Ah, it appears I forgot about the notes on the spreadsheet of the sims. I've found w

[2015-11-20 20:20] BryceAG commented on #437
I'll test win/Firefox

On Fri, Nov 20, 2015, 1:12 PM Ben Roberts <notifications@github.com> wrote:

[2015-11-23 23:44] oliver-phet commented on #426
I now have the OTP device setup and successfully ssh'd in!

[2015-11-23 23:44] #426 closed

[2015-11-24 18:36] mariahmaephet commented on #401
Is this better? @amanda-phet @ariel-phet

<img width="608" alt="screen shot 2015-11-24 at 11 36 09 am" src="https://cloud.githubusercontent.com/assets/11527557/11376733/995386be-929f-11e5-909b-4e5d57fdc2ac.png">

[2015-11-24 19:43] ariel-phet commented on #401
As I said in our meeting, I think the perspective is looking better. Although I love the designs on the coins (like PhET girl!) we might have to see how they work in context and make sure they are not too busy.

[2015-11-24 20:18] amanda-phet commented on #401
These look great to me! I agree that we will need to see how they work in context and then I may have more tweaks for you.

[2015-11-30 17:42] oliver-phet opened #439 "Get JB's computer setup"
Software for @jbphet computer:
CU Windows 10
Git
Skype
Adobe CS6
Intellij
Secure Shell Client
All Browsers
CU VPN client
7 zip
Office
Zoom
WinHTTrack
Collabnet Subversion Client

[2015-11-30 22:28] amanda-phet commented on #401
@mariahmaephet can you drop the .ai file in to drive so I can play with the coins in context?

[2015-12-01 05:42] bryo5363 commented on #437
@BryceAG I went ahead and tested on Windows Edge. Performance overall is good but a tad slow on the prisms tab with reflections enabled.

[2015-12-01 17:59] oliver-phet commented on #439
Looks like everything is good to go except Collabnet (requires login) and Secure Shell Client (which specific client?)

[2015-12-01 19:01] oliver-phet commented on #439
@arnabp We got adobe licensed properly. Just need you to fix the dpi scaling and look into moving @jbphet email archives on his old computer to the new one.

[2015-12-01 19:28] mariahmaephet commented on #436
@ariel-phet @arouinfar something like this or do you want more detail?

<img width="725" alt="screen shot 2015-12-01 at 12 26 53 pm" src="https://cloud.githubusercontent.com/assets/11527557/11511545/f2f3d5e8-9826-11e5-83d2-9bbfd0cc4d31.png">

[2015-12-01 19:31] ariel-phet commented on #436
@mariahmaephet I might try putting some "gold foil" on the satellite body (just to brighten it up against the black background) - maybe just on the bottom half. But otherwise, looking nice!

[2015-12-01 19:31] ariel-phet commented on #436
@arouinfar - your thoughts?

[2015-12-01 20:37] arouinfar commented on #436
Great start @mariahmaephet!

I would like to see a little bit more tiling detail on the solar panels. The tiling could be subtle -- no need to be as detailed as the reference photos.

I would also like to see the "gold foil" @ariel-phet proposed.

[2015-12-01 22:24] jbphet opened #440 "dev test arithmetic 1.0.0-dev.16"
This sim is getting close to publication, and it would be good to do a round of dev testing.  Please first emphasize basic functionality testing, then test on a few browsers, including on an iPad.

[2015-12-01 22:24] jbphet commented on #440
Link: http://www.colorado.edu/physics/phet/dev/html/arithmetic/1.0.0-dev.16/

[2015-12-02 16:36] ariel-phet commented on #440
- [ ] Chrome/Windows
- [ ] Mac/Safari
- [ ] Win/Edge
- [ ] iPad2/iOS9

[2015-12-02 16:39] ariel-phet commented on #374
@BryceAG @bryo5363 @elisemorgan @phet-steele @orejolaphet @brroberts1231 moving to medium priority...it would be good to finish off the last couple of platforms and check off the QA items (string tests and such).

However, this sim will require another RC that will require some more invasive changes so lowering the priority of testing

[2015-12-02 17:06] orejolaphet commented on #440
Testing Mac/Safari

[2015-12-02 17:26] phet-steele commented on #440
Win/Chrome for this guy!

[2015-12-02 18:13] elisemorgan commented on #437
I wrapped up chrome/windows. @ariel-phet This dev testing is complete

[2015-12-02 18:15] elisemorgan commented on #440
iPad2

[2015-12-02 18:20] ariel-phet commented on #437
excellent, thanks! Note @samreid - testing complete.

[2015-12-02 18:20] #437 closed

[2015-12-02 18:21] ariel-phet commented on #374
back up to high priority now that Bending light dev testing is complete.

[2015-12-02 20:52] samreid opened #441 "Revolutions off by a factor of 2 in Ladybug Revolution"
From phethelp:

[2015-12-02 20:52] samreid commented on #441
@ariel-phet said:

[2015-12-02 20:53] samreid commented on #441
@ariel-phet said:

[2015-12-02 20:53] samreid commented on #441
Thanks!  The next step would be to check historical versions on spot here: http://www.colorado.edu/physics/phet/dev/rotation/  I was planning to do that but really anyone could check it.

[2015-12-02 20:53] samreid commented on #441
@ariel-phet said:

[2015-12-02 20:53] samreid commented on #441
Thanks, I'll take a quick look first.

[2015-12-02 20:57] samreid commented on #441
It looks like you can see the same problem if you set angular velocity to 360 degrees per second.  I did so and saw that it took the ladybug 10.1 seconds to go around 5 times.

[2015-12-02 21:20] samreid commented on #441
Problem noted in 1.12.00 published on 26-Oct-2012
In 1.00.00 published on 27-Jul-2007 the problem is more exaggerated, taking 11.5 seconds to go around 5 times (at a purported 360 deg/s).

I also noticed that the 1.00.00 version of the simulation is charts-only (no intro screen).

I recall in our older simulations we struggled with having simulations consistently match "wall time" across devices o

[2015-12-02 21:28] oliver-phet opened #442 "Check local printing companies about business cards"
@ariel-phet

[2015-12-02 22:28] oliver-phet commented on #442
http://www.8days.com/
http://www.mpboulder.com/

[2015-12-02 23:20] pixelzoom commented on #441
@samreid wrote:

For @ariel-phet's benefit... This is the line of code that I said looked suspect when we were discussing on Skype yesterday.

[2015-12-02 23:21] pixelzoom commented on #441
@samreid wrote:

For @ariel-phet's benefit... This is the line of code that I said looked suspect when we were discussing on Skype yesterday.  Removing the `2` made the rotation occur faster, but still not at the correct wall-clock time.

[2015-12-02 23:24] pixelzoom commented on #441
Related note... I realize that @ariel-phet probably create this issue in GitHub because Unfuddle is harder to deal with.  But if we start spreading issues across Unfuddle and GitHub, then future maintainers won't know where to look.  So I suggest that we keep Java/Flash issues in Unfuddle, and recommend moving this issue there.

[2015-12-03 00:20] ariel-phet commented on #441
@pixelzoom I had merely suggested making a task for checking historical versions (that seemed appropriate since it could be something a QA student does), But I agree, this code related discussion should be in unfuddle.

[2015-12-03 00:24] ariel-phet commented on #441
@samreid please move to an unfuddle issue, and if an easy fix, here is what I suggest:

1. Leave the second tab "as is"...since there is a time readout on the graphs, I see no issue here, someone can see what is going on with the timing.

2. On the first screen, set the timing to match realtime, since if teachers want to do experiments like the one who wrote to phethelp, their students will be abl

[2015-12-03 00:25] ariel-phet commented on #441
@samreid please also close this issue once move to unfuddle

[2015-12-03 17:10] pixelzoom commented on #441
@ariel-phet Thanks for the clarification in https://github.com/phetsims/tasks/issues/441#issuecomment-161474734. It looked to me by the title and comments (eg https://github.com/phetsims/tasks/issues/441#issuecomment-161437077)that this issue was being investigated and debugged here.

[2015-12-03 17:26] oliver-phet opened #443 "Take "Team" photo for website"
@brroberts1231 @BryceAG We need to take your portraits for the PhET team page: https://phet.colorado.edu/en/about/team

Check in with me or @arnabp (someone with a decent camera phone) and we'll snap some pics of you guys!

[2015-12-03 17:27] oliver-phet commented on #443
@mariahmaephet I'll send you the pics once we have them. Can you get them in shape for the team page (aspect ratio, color, etc)?

[2015-12-03 19:17] jbphet commented on #307
Discussed during the 12/3/2015 meeting and decided to close this, since there are individual issues in place for the remaining common code repos.  Individual developers are responsible for doing it for "their" sims, and an issues will be created for color-vision since the developer who ported it has left.  Closing.

[2015-12-03 19:17] #307 closed

[2015-12-03 19:17] pixelzoom commented on #307
color-vision annotations moved to https://github.com/phetsims/color-vision/issues/98.

[2015-12-03 19:22] oliver-phet commented on #429
@arnabp Can you give a status update on this task?

[2015-12-03 20:14] oliver-phet commented on #426
@jonathanolson

[2015-12-03 20:27] ariel-phet commented on #374
@elisemorgan can you finish of the test matrix (I think just iPad testing is left)

[2015-12-03 21:15] brroberts1231 commented on #440
Win/Edge

[2015-12-03 22:59] elisemorgan commented on #374
@ariel-phet Matrix is complete

[2015-12-03 23:56] oliver-phet opened #444 "Update student availability calendar"
@brroberts1231
@BryceAG
@phet-steele
@bryo5363
@orejolaphet
@arnabp
@elisemorgan
Can all of you guys (as soon as you know) please update the student availability calendar for the holiday break? @ariel-phet and I need to have a gauge on who is going to be around. Thanks!

[2015-12-04 02:36] pixelzoom commented on #374
@ariel-phet All issues have been addressed, will require an additional RC with spot testing on a couple of platforms.  Let me know when you'd like me to create the next RC.

[2015-12-04 19:19] pixelzoom opened #445 "RC test: Graphing Lines 1.1.0-rc.2"
http://www.colorado.edu/physics/phet/dev/html/graphing-lines/1.1.0-rc.2/graphing-lines_en.html

Fixes made were very localized and not platform specific. So this RC requires spot testing on any 1 platform, and does not require a test matrix.  Instead, there is a short checklist of tests below. Please check these off as they are completed. And please indicate the test platform used (device name and

[2015-12-04 19:20] pixelzoom commented on #374
I went ahead and created the next RC, see https://github.com/phetsims/tasks/issues/445. Closing.

[2015-12-04 19:20] #374 closed

[2015-12-04 19:38] ariel-phet commented on #445
@BryceAG It looks like you are available this afternoon. If so it would be great to polish of this testing so we can redeploy the sim. Thanks!

[2015-12-04 19:50] pixelzoom commented on #334
Reopened to track publication dates, and so I can remember which sims haven't been redeployed.

[2015-12-04 20:14] oliver-phet commented on #443
We have a pic for @BryceAG. Just waiting on one for @brroberts1231

[2015-12-04 20:17] arnabp commented on #439
DPI scaling is fixed. When do you want to look at the email archives next week? (my times on the student calendar are accurate)

[2015-12-04 21:50] mattpen commented on #403
@oliver-phet I've run into a significant obstacle using the offline html5 packages from the website.  The javascript needs to be in a separate file, it will not run as a packaged app in Chrome if the js is inline.  Do you know which developer packages the HTML5 apps?

[2015-12-04 21:54] BryceAG commented on #445
Tested on Bates, windows 7. The first 3 regression tests were tested on Chrome, Firefox, and Internet Explorer. The game was tested several dozen times on Chrome only, although I was unable to test a game matching the -9/7 slope as was in the screenshot for the initial issue. All questions I was given did accept the correct answer.

[2015-12-04 21:58] oliver-phet commented on #403
No idea. Maybe @ariel-phet knows. I thought it was a semi-automated process.

[2015-12-04 22:12] oliver-phet commented on #403
Just ran into Ariel. Talk to @jonathanolson about the build process.

[2015-12-05 00:00] ariel-phet commented on #355
@mariahmaephet - we need a small tweak

please see https://github.com/phetsims/forces-and-motion-basics/issues/137

It looks like when you increased the hair volume on the man, you did not adjust his hands to a higher height in the sitting position. Lets make that tweak. Thanks!

[2015-12-07 17:58] ariel-phet commented on #445
@pixelzoom - see comment above....seem OK to go ahead with redepoly?

[2015-12-07 18:23] pixelzoom commented on #445
Re @BryceAG comment https://github.com/phetsims/tasks/issues/445#issuecomment-162092475 ... The  -9/7 slope is unlikely to ever come up.  But there are undoubtedly other slopes (difficult to identify) that could have this problem.  I'm confident that the floating point error is resolved, but wanted you to test the Game to make sure it wasn't (generally) broken by the changes. So thanks for doing t

[2015-12-07 18:30] pixelzoom commented on #445
1.1.0 has been published to the PhET website.  Closing.

[2015-12-07 18:30] #445 closed

[2015-12-07 18:31] pixelzoom commented on #445
Remaining redeploy items enumerated in https://github.com/phetsims/graphing-lines/issues/58.

[2015-12-08 02:55] samreid commented on #403
Another step to manage if publishing on the Chrome web store: we would want to gather and integrate usage statistics (if possible).

[2015-12-08 02:57] samreid commented on #403
Can you show a picture of what this looks like to the end users?  Perhaps we would want to name this "phet" or "PhET" or "PhET Interactive Simulations" or "phet-interactive-simulations" or "phetsims", depending on the context.

[2015-12-08 03:02] samreid commented on #403
There are a few ideas in this thread about how to extract script tags from an HTML document:
http://stackoverflow.com/questions/6659351/removing-all-script-tags-from-html-with-js-regular-expression

We have two main options:
(1) write a script that takes a built (single) HTML file and extracts the script tags to a single JS file
(2) update the build process so that the single HTML + single JS are

[2015-12-08 03:44] jonathanolson commented on #403
Working with @mattpen, it was easy to patch the build process to output chrome-web-store-compatible directories (one HTML, multiple JS), in https://github.com/phetsims/chipper/commit/977e35cdd69b6be5bbfa4cc3a977aa5264b50bd3 (6 hours ago), but it doesn't follow (1) or (2) since it was easier to have multiple scripts. Presumably it would need changes and documentation before merging in (we probably

[2015-12-08 03:50] samreid commented on #403
Multi-scripts sounds good, no problem.  Looking forward to discussing the other points in the future.

[2015-12-08 14:59] samreid commented on #441
Status update:
Moved to https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3713
Committed a fix
Building from OS X has this failure:
![image](https://cloud.githubusercontent.com/assets/679486/11658734/63d21c02-9d81-11e5-81e4-4f89530b9614.png)

I should try building from my Win8.  Next step will be to publish a dev version for verification.

[2015-12-08 15:26] mattpen commented on #403
Oliver has already setup one of the phet gmail accounts (phethelp@gmail.com) to be able to publish to the webstore and he verified our URL and such.  Its showing up as "offered by phet.colorado.edu".

![image](https://cloud.githubusercontent.com/assets/11747676/11659326/ef2a2c60-9d84-11e5-944d-5d06e4c3b391.png)

[2015-12-08 16:03] jbphet commented on #439
I think I can take it from here.  Thanks for your help on this!

[2015-12-08 16:03] #439 closed

[2015-12-08 16:45] samreid commented on #441
I published a new version here http://www.colorado.edu/physics/phet/dev/rotation/1.12.02/
@pixelzoom @jonathanolson @jessegreenberg @mattpen @jbphet let's code freeze simulations-java until this is published.

@ariel-phet can you test this version and make sure it is satisfactory?  After that, we can create a tasks issue to perform broader dev testing before we republish the sim.

[2015-12-08 16:59] pixelzoom commented on #441
Re the Java error on Mac OS X...  It used to be the case that, if you had an old Java 6 installed, it would continue to run.  Starting with OS X 10.10, Apple crippled Java 6 by removing some critical files.  So you'll need to install Oracle Java 7 or 8.

[2015-12-08 17:10] jbphet opened #446 "create a mailing list for PhET developers"
During the 12/8/2015 developer meeting @pixelzoom suggested setting up an email list for PhET developers.  Group consensus was that this would be a good thing to have.  The suggested name is phet-dev@lists.colorado.edu.  This list should include anyone who is on the PhET mailing list who also is a developer.

[2015-12-08 17:12] jbphet commented on #446
I'm guessing that this should be assigned to @oliver-phet, but am not certain, he can reassign as appropriate.

[2015-12-08 17:13] pixelzoom opened #447 "add instructions related to branch-and-patch to sim_deployment.md"
From 12/8/15 dev meeting notes:

CM: beware that if you branch-and-patch a common repo, you’ll need to manually check out that repo’s branch after doing ‘grunt checkout-shas’
Example:
% cd graphing-lines
% git checkout 1.1
% grunt checkout-shad
% cd ../vegas
% git checkout graphing-lines-1.1
% cd ../graphing-lines
5 grunt

JG: add something to sim_deployment.md?
https://github.com/phetsims/phet-in

[2015-12-08 17:43] pixelzoom commented on #378
@jbphet says that sun will be done today. Closing.

[2015-12-08 17:43] #378 closed

[2015-12-08 17:56] jessegreenberg opened #448 "Determine method for allowing IDRC to contribute to repositories"
IDRC is going to start contributing code to PhET repositories.  Specifically, they will add some content to John Travoltage for accessibility.  We need to determine what needs to be done to allow these contributions.

Developer consensus is to allow IDRC to push to sim repositories but not common code.  For changes to common repositories, we can collaborate to implement changes.

IDRC will also ne

[2015-12-08 17:57] mattpen commented on #403
It looks like there is a separate JavaScript library for integrating GA into Chrome packaged apps.  https://github.com/GoogleChrome/chrome-platform-analytics/wiki
We'll need to look into adapting the current script to work with this API.

[2015-12-08 18:03] oliver-phet commented on #227
https://docs.google.com/forms/d/1h3QudroS2ODEwkjTivg9LkuDNi-vV_RjtNwZDcG9sws/viewform

[2015-12-08 18:04] ariel-phet commented on #441
@samreid I tested and all looks good. I assume this was a very small change in terms of being invasive? I am hesitant to do dev testing...the sim has many types of interaction that do not really go with our current way of doing things...I think you will get lots of unnecessary bug reports. No offense to the original creators, but this one needs some serious overhauling.

Can you give me thoughts o

[2015-12-08 18:04] oliver-phet commented on #227
Google form above created for recording suggestions and improvements. This will be linked from the new Help Center. Possibly also in the website footer?

[2015-12-08 18:28] ariel-phet commented on #448
Yes, I think we are fine providing IDRC with those rights. @jessegreenberg feel free to email a copy of the CLA to the appropriate devs or give me their contact and I will take care of it. If you send it to them please cc me.

[2015-12-08 18:44] mariahmaephet commented on #355
@ariel-phet Good catch! Sorry I missed that. The new version is in my artwork folder

[2015-12-08 18:51] jessegreenberg commented on #448
It looks like the CLA document is private, I am unable to access it.  @ariel-phet, I will send an email to you with the contact information of the contributing dev.  Does a copy of the CLA also need to be completed on behalf of the IDRC in addition to the dev?

[2015-12-08 18:53] jessegreenberg commented on #448
Before I send the contact info, I will check to see if any other devs from IDRC plan to contribute code to PhET.

[2015-12-08 19:14] samreid commented on #441
The change to rotation was trivial and not a significant source of risk.  The larger issue is if other changes have crept in to the dependencies.  The only significant change I see to common code since August 2015 are related to the "Ask" feature.  @pixelzoom is that to a stable point?

[2015-12-08 19:28] bryo5363 commented on #440
I tested Win/Chrome since it was the last element left. Testing is now complete.

[2015-12-08 20:26] pixelzoom commented on #441
All work on the "Ask" feature was backed out, since it's no longer an "in sim" feature.

[2015-12-08 20:50] samreid commented on #441
Based on my brief investigation into the SVN history and @pixelzoom remarks, it seems safe to republish.  @ariel-phet if you agree, give the go-ahead and I'll push the button.

[2015-12-08 21:57] oliver-phet commented on #446
This has now been created and all devs have been added to the list.

[2015-12-08 21:57] #446 closed

[2015-12-08 23:23] ariel-phet commented on #441
Yes please republish

[2015-12-08 23:38] oliver-phet opened #449 "PhET Email Signature logo/look"
We need to create a standardized, clean, signature logo or look that should start to be used in all "outward-facing" emails (phethelp, phetmail, donation asks, etc)

Assigning to myself for now.

[2015-12-09 16:29] samreid opened #450 "Update on Office Mix?"
I wanted to check in on our Office Mix status, are our apps being used there?  How many apps do we have there?  @arouinfar can you comment on this or point me in the right direction?

[2015-12-09 17:12] jessegreenberg commented on #448
Email sent to @ariel-phet, reassigning.

[2015-12-09 18:09] arouinfar commented on #450
@samreid I actually do not know our Office Mix status. I had been emailing our liaison with a link to newly published sims, and he was initially quite responsive. However, the last time I heard from him was 11/4/14, and I've reached out to him three times since (latest being 3/25/15). I can do some investigating and see which sims are currently available through the PhET Office Mix App, but I don'

[2015-12-09 18:10] mariahmaephet commented on #436
@ariel-phet @arouinfar

<img width="451" alt="screen shot 2015-12-09 at 11 09 41 am" src="https://cloud.githubusercontent.com/assets/11527557/11694092/612ff656-9e65-11e5-98a5-d773bffa8f6d.png">

[2015-12-09 18:53] arouinfar commented on #450
Checking the Office Mix app, we are missing our five newest sims (Molecule Shapes, Molecule Shapes Basics, Least-Squares Regression, Molecules & Light, Hooke's Law). I told the liaison about the first two, but not the others. I will try reaching out to him again.

I also found login credentials for our Microsoft store on Unfuddle, so I will also try logging in and see if the process to add sims to

[2015-12-09 19:32] arouinfar commented on #450
I've emailed an update to @ariel-phet and @samreid that details what I found when logging into our Microsoft store. I will contact our Microsoft liaison later this afternoon.

[2015-12-09 20:22] samreid commented on #450
Balloons and static electricity still cannot be iframed on ID, see https://github.com/phetsims/balloons-and-static-electricity/issues/93

[2015-12-09 21:36] samreid commented on #441
Ladybug Revolution 1.13
and
Torque 1.13

were republished and spot tested.  Torque crashed on Mac on angular momentum screen after playing audio--probably not a new problem and I can't seem to reproduce it.

Reassigning to @ariel-phet to do any desired verification steps and to notify the customer.

[2015-12-10 00:54] ariel-phet commented on #441
Customer notified. Closing

[2015-12-10 00:54] #441 closed

[2015-12-10 03:50] ariel-phet commented on #448
Email sent to the IDRC folks. Will close this issue once CLA's are returned and uploaded to unfuddle.

[2015-12-10 17:25] pixelzoom commented on #447
sim_deployment.md has been update. @jessegreenberg please review.

[2015-12-10 17:59] jessegreenberg commented on #447
Looks great @pixelzoom.  This should be a helpful reminder for sims that need a branch and patch of a common repo.  Thanks for including the example. Closing.

[2015-12-10 17:59] #447 closed

[2015-12-10 19:45] oliver-phet commented on #403
@mattpen Please publish the Molarity/Density combo for testing on a Chromebook to see if we can get the Flash sim to run. Do you have a URL with info on enabling Flash?

[2015-12-10 19:57] mattpen commented on #403
How to enable flash to always run: https://helpx.adobe.com/flash-player/kb/enabling-flash-player-chrome.html

[2015-12-10 20:10] mattpen commented on #403
@oliver-phet The link will be available from the [developer dashboard](https://chrome.google.com/webstore/developer/dashboard?authuser=2) soon.  You will need to be logged into google as phethelp@gmail.com.

[2015-12-10 20:26] pixelzoom opened #451 "update test machines to iOS 9.2 and Mac OS X 10.11.2"
iOS 9.2 and Mac OS X 10.11.2 were released in the past few days. Time to update the test machines. Assigning to @ariel-phet to decide which machines and who will do the updates.

[2015-12-10 20:45] pixelzoom commented on #376
12/10/15 status meeting: Go ahead and generate 1.2.0-rc.1.  I'll do this based on shas from graphing-lines 1.1, since that snapshot of common code seemed stable.

[2015-12-10 20:45] pixelzoom commented on #371
12/10/15 status meeting: Go ahead and generate 1.2.0-rc.1.  I'll do this based on shas from graphing-lines 1.1, since that snapshot of common code seemed stable.

[2015-12-10 21:21] oliver-phet commented on #403
@brroberts1231 @BryceAG Take a look at this and report.

[2015-12-10 21:27] oliver-phet commented on #451
@brroberts1231 @BryceAG

[2015-12-10 21:29] ariel-phet commented on #371
@pixelzoom if you publish this RC soon, I might be able to get some testing resources on it this week.

[2015-12-10 21:29] samreid opened #452 "Dev Testing Bending Light 1.0.0-dev.50"
Here is the version for dev testing:
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.50/bending-light_en.html

@ariel-phet can you take it for a brief test drive first, then choose desired testing platforms and reassign to the QA team?

[2015-12-10 21:31] samreid commented on #452
Cancelling dev testing, we want to change the hot spots on the sensors.

for next dev test, @ariel-phet recommends:
iPad2
mac/safari
win/chrome
win/edge

[2015-12-10 21:31] #452 closed

[2015-12-10 21:35] ariel-phet commented on #451
For any iPad's **already** on iOS 9, please put them to the latest version, but leave the iOS 8 iPad on iOS8 (Lave), the two iPad minis can also be upgraded to iOS9

[2015-12-10 21:37] ariel-phet commented on #451
Please upgrade the 10.11 on Dirac and Erdos to Mac OS 10.11.2

[2015-12-10 21:59] brroberts1231 commented on #403
Successfully ran in offline mode. The instructions to enable flash to always run I think are simple enough. I added the Density and Phet Package apps and they both worked when I turned off the wifi on the chromebook. The energy skate park basics would open up offline, but got stuck on the loading screen whether I was online or offline.

[2015-12-10 22:07] samreid opened #453 "Dev Testing Bending Light 1.0.0-dev.51"
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.51/bending-light_en.html

@ariel-phet or @arouinfar can you confirm the changes in https://github.com/phetsims/bending-light/issues/326

Afterwards, @ariel-phet can prioritize and reassign this issue:
For the dev test, @ariel-phet recommended:

- [x] iPad2
- [x] mac/safari
- [x] win/chrome
- [x] win/edge

[2015-12-10 22:15] samreid commented on #453
@arouinfar reported about the new hot spots:

So this dev testing can proceed.  Leaving assigned to @ariel-phet to spot test (if desired), then prioritize and reassign to test team.

[2015-12-10 22:16] brroberts1231 commented on #403
The apps work on both Vygotsky and Chadwick.
It also appears that they can work even if the check box for "always allowed to run" is not checked, just as long as flash is enabled.

[2015-12-10 22:23] ariel-phet commented on #440
Testing complete, closing

[2015-12-10 22:23] #440 closed

[2015-12-10 22:39] ariel-phet commented on #453
@BryceAG @bryo5363 @elisemorgan @phet-steele @orejolaphet @brroberts1231  this is the current top testing priority. Please comment in the issue what device you are working on.

In addition, as before, it is a known issue that performance will take a hit on the prisms screen with many objects in the play area, no need to report if things start to get slow with 3 or more objects.

[2015-12-10 22:50] brroberts1231 commented on #453
Win/Chrome

[2015-12-10 22:50] elisemorgan commented on #453
iPad2

[2015-12-10 22:52] orejolaphet commented on #453
Mac safari

[2015-12-10 22:56] BryceAG commented on #453
Win/Edge

[2015-12-10 23:34] BryceAG commented on #451
Dirac, Witten, Tycho, diSessa, Euler, and Leibniz have all been updated. Bjork is being updated through iTunes on Dirac.

[2015-12-11 03:27] ariel-phet commented on #444
@brroberts1231
@BryceAG
@phet-steele
@bryo5363
@orejolaphet
@arnabp
@elisemorgan please comment in this issue when you have made updates. Thanks!

[2015-12-11 03:28] ariel-phet commented on #438
doesn't seem like anything problematic has been observed or reported. Closing.

[2015-12-11 03:28] #438 closed

[2015-12-11 03:38] elisemorgan commented on #444
@ariel-phet I am up to date

[2015-12-11 18:01] ariel-phet commented on #453
BTW, I just tested on Win 7 FF, all looking really good!

[2015-12-11 19:20] samreid commented on #453
@elisemorgan I had a follow up question in https://github.com/phetsims/bending-light/issues/327#event-489618201 , can you take a look?

[2015-12-11 19:37] mattpen commented on #403
There exists an [API for publishing and updating apps](https://developer.chrome.com/webstore/api_index)

It appears there will still be some manual work involved.
* The initial setup of the page for each sim will need to have the description, screenshots, category, etc. set manually.  This cannot be set with an API or configuration file.
* It appears that human interaction is also required to use

[2015-12-11 19:42] jbphet opened #454 "Test Arithmetic 1.0.0-rc.1"
The first release candidate for Arithmetic is ready for testing.

**Test Matrix**
https://docs.google.com/spreadsheets/d/1f53Zh7DFgwnp18F0eBTs6beZgC0lsUxxIggQakM6P-s/edit#gid=2.

**Main Testing Link**
http://www.colorado.edu/physics/phet/dev/html/arithmetic/1.0.0-rc.1/arithmetic_en.html

**Additional QA items:**

- [x] stringTest=double
- [x] stringTest=long
- [x] stringTest=X (short strings)
- [x

[2015-12-13 01:09] pixelzoom commented on #371
Test matrix with links to RC version:

https://docs.google.com/spreadsheets/d/122LHEriqD-9iBfdWA0gMh1OSXSxkjJGVyDHYwTd51T0/edit#gid=604790131

Additional QA items:

- [ ] stringTest=double
- [ ] stringTest=long
- [ ] stringTest=X (short strings)
- [ ] stringTest=rtl (right-to-left)
- [ ] showPointerAreas (touchArea=red, mouseArea=blue)
- [ ] Full screen test
- [ ] Perform RC testing

This sim has

[2015-12-13 01:13] pixelzoom commented on #376
Test matrix with links to RC version:

https://docs.google.com/spreadsheets/d/10AeWzU1b-QoX7i_1N89-RFmMg-EKDkZzckcAjfiT_rs/edit#gid=1998116932

Additional QA items:

- [ ] stringTest=double
- [ ] stringTest=long
- [ ] stringTest=X (short strings)
- [ ] stringTest=rtl (right-to-left)
- [ ] showPointerAreas (touchArea=red, mouseArea=blue)
- [ ] Full screen test
- [ ] Perform RC testing

This sim has

[2015-12-13 01:15] pixelzoom commented on #451
I updated the test matrix template, https://docs.google.com/spreadsheets/d/1vk0QUOOOj_Jr4ePVgwiQ5L7HOsvgor7jkbNYqmCVWnQ/edit

[2015-12-14 16:29] ariel-phet commented on #451
Looks good. Closing. Thanks @pixelzoom

[2015-12-14 16:29] #451 closed

[2015-12-14 16:35] ariel-phet commented on #454
@brroberts1231 @BryceAG @phet-steele @bryo5363 @orejolaphet @elisemorgan this is top testing priority at the moment (but I know you all have finals). We will be having the entire PhET team jumping in on this one, but if you are available, please also hop in on a platform or two.

[2015-12-14 16:53] ariel-phet commented on #454
String tests "long" "rtl" "X" all look good.

[2015-12-14 17:06] amanda-phet commented on #454
PointerAreas look good to me.

[2015-12-14 17:42] ariel-phet commented on #454
Full screen looks good on FF, Chrome, IE. @amanda-phet can you check Full screen on safari?

[2015-12-14 18:08] amanda-phet commented on #454
I've never used full screen before! Anything specific to be aware of? It seemed to work really well for me on Safari.

[2015-12-14 18:35] ariel-phet commented on #454
@amanda-phet - no we have not seen any issues yet, but it is a new feature we put in with the redeploys in the menu, and just want to keep checking to make sure nothing is broken.

[2015-12-15 04:20] ariel-phet commented on #448
IDRC asked for an "institutional version" of the CLA, CU's lawyers have provided one, and it has been sent to IDRC

[2015-12-15 04:21] ariel-phet commented on #454
@jbphet testing is complete. Closing.

[2015-12-15 04:21] #454 closed

[2015-12-15 20:39] ariel-phet commented on #409
All CLA's in the notebook have now been updated to the standard naming convention, and the naming convention has been documented in https://github.com/phetsims/phet-info/blob/master/contributors/CLA.md

[2015-12-15 20:39] #409 closed

[2015-12-16 16:27] mattpen commented on #403
@jonathanolson @samreid - I think I've found a work-around for allowing inline js in the chrome apps.  We would just need to package them in a [sandbox](https://developer.chrome.com/apps/app_external#sandboxing).  This would limit our ability to use any of the Chrome App API's, but that doesn't create any problems with the existing sims.  I was able to install and test Energy Skate Park Basics as

[2015-12-16 16:35] samreid commented on #403
@mattpen that sounds promising, especially if it helps with analytics.  We may still want to abandon numeric.js and other eval/based approaches for future, but sandboxing seems straightforward for now and worth further investigation.

[2015-12-16 21:53] jbphet opened #455 "Test Arithmetic 1.0.0-rc.2"
A new release candidate - v1.0.0-rc.2 - has been published for the Arithmetic simulation.  This release addresses several issues that were found during the testing of v1.0.0-rc.1.  Most of the changes made were in the code for the Factor screen, so testing should emphasize this screen.  Also, I wouldn't expect any of the changes to have a big impact on performance, so a basic verification of perfo

[2015-12-16 22:03] ariel-phet commented on #455
@amanda-phet @amyh-phet @arouinfar @oliver-phet I think we can do this testing fairly efficiently

@jbphet also mentioned that ?autoAnswer can be a useful query parameter if you want to look at end behavior or see how the board looks filled out (but may have some quirky behavior otherwise).

[2015-12-16 23:38] elisemorgan commented on #453
Tested Mac/Safari. Only a tiny bit of lagging w/ wave on More Tools screen, barely noticeable

[2015-12-17 18:58] arouinfar commented on #453
Looks good on Win/Edge!

[2015-12-17 19:14] ariel-phet commented on #453
@samreid dev testing complete.

[2015-12-17 19:14] #453 closed

[2015-12-17 19:14] arouinfar commented on #455
Win10/Chrome is a little laggy when compared to Win10/Edge and Win10/Firefox, but it still feels pretty good to me. I probably wouldn't have noticed it if it weren't for using the sim on so many other platforms today, which is why I marked it as "Good"

[2015-12-17 19:18] arouinfar commented on #455
Looks like we just need to take care of Mac OS X 10.9.5 and 10.10.5. I can take care of 10.9.5. @amanda-phet are you still using 10.10?

[2015-12-17 19:41] amanda-phet commented on #455
Yes and I plan to test 10.10.

Sent from Outlook Mobile<https://aka.ms/blhgte>

On Thu, Dec 17, 2015 at 11:18 AM -0800, "Amy Rouinfar" <notifications@github.com<mailto:notifications@github.com>> wrote:

Looks like we just need to take care of Mac OS X 10.9.5 and 10.10.5. I can take care of 10.9.5. @amanda-phet<https://github.com/amanda-phet> are you still using 10.10?

-
Reply to this email direct

[2015-12-17 20:59] jbphet commented on #455
Testing is complete, closing.

[2015-12-17 20:59] #455 closed

[2015-12-18 18:41] samreid opened #456 "Test Bending Light 1.0.0-rc.1"
The first release candidate for Bending Light is ready for testing.

**Test Matrix**
https://docs.google.com/spreadsheets/d/1__9A1CBoW9C5xrWVfADcR1zR09PhuKbIJC-b275LMKM/edit#gid=2

**Main Testing Link**
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-rc.1/bending-light_en.html

**Additional QA items:**

- [x] stringTest=double
- [x] stringTest=long
- [x] stringTest=X (short strin

[2015-12-18 22:14] ariel-phet commented on #456
@elisemorgan sounds like you will be around so please help with this testing

@BryceAG @bryo5363 @phet-steele @orejolaphet @brroberts1231 if any of you are around next week it would be great to have your work on this sim

@amyh-phet @arouinfar @oliver-phet @amanda-phet if you have time it would be go to work on a couple platforms (I will also hop in on testing as it would be great to get this sim

[2015-12-18 22:36] amanda-phet commented on #456
FYI, on OS X 10.10, having the sim open in Firefox (never touched) used 71% of my CPU. It's not in the testing matrix but I wanted to share it here in case there is a memory leak.

[2015-12-18 23:01] ariel-phet commented on #456
@amanda-phet FF in Win 7 is only at ~10% cpu on my home desktop when playing with white light on the prisms screen. Can you try restarting your computer and only having FF open and seeing if you get the same sort of heavy CPU usage?

[2015-12-18 23:23] samreid commented on #456
My OS X 10.11.1 + Firefox 42.0 (on 2012 Macbook Air) reports high CPU during startup, then settles down once to <10% the sim has launched (never touched):

![image](https://cloud.githubusercontent.com/assets/679486/11909403/91c4d1c0-a5a3-11e5-9a43-e680a04f4c0f.png)

When I checked FF version, it wanted to update, so I'll report on that next.

[2015-12-18 23:25] samreid commented on #456
I'm seeing about the same CPU usage on FF 43.0.1

[2015-12-19 01:13] amanda-phet commented on #456
@ariel-phet I did as you instructed and it still happens (up to 96% CPU). However, it is when one of the three screens is open, not the homescreen. I'm not interacting with the sim. It seems to resolve itself if I open Github in another tab, though. But a third tab sends Firefox to 150% CPU.

It also happens with Safari (up to 34% CPU) and Chrome (well, [Google Chrome Helper] (http://www.wired.com

[2015-12-19 05:05] ariel-phet commented on #456
@amanda-phet can you try another sim? like ESPB and see if you are seeing similar issue?

[2015-12-19 05:06] ariel-phet commented on #456
And @amanda-phet - please update FF (that is a *very* old version)

[2015-12-19 18:19] amyh-phet commented on #456
@ariel-phet    This will be top priority for me on Monday.   I'll coordinate with @arouinfar @elisemorgan and the rest of the QA team to get this done quickly.

[2015-12-21 22:14] amanda-phet commented on #456
@ariel-phet the CPU hogging still happens with FF 43.0.1 when the tab is open to a screen or I am using the screen. It is happening with ESPB as well. It is also still happening with Safari. I use FF all the time and haven't noticed this with other sims, so I thought it was worth mentioning, but if you're thinking it's only my machine or we're no longer supporting OS X 10.10 then we can let it go.

[2015-12-21 22:56] arouinfar commented on #456
Everything's been looking good over here! When starting out on 10.11.2/Chrome, my fan almost immediately kicked itself on, but I didn't notice abnormally high CPU usage. I'm going to give it a try on my personal Mac (running 10.10) to see if I have similar issues.

Looks like the testing matrix is complete, except for the optional Win 10/Edge iFrame test which may be tricky to do since we've been

[2015-12-21 23:48] elisemorgan commented on #456
@ariel-phet the testing matrix is complete.
@samreid Just to let you know, when the I used webgl=false on the iPad, the graphics quality improved significantly and the wave light no longer disconnected from the generator.

[2015-12-22 00:44] ariel-phet commented on #456
Excellent, closing

[2015-12-22 00:44] #456 closed

[2015-12-22 19:24] samreid opened #457 "Test Bending Light 1.0.0-rc.2"
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-rc.2/bending-light_en.html

There are 3 issues in Bending Light marked as "ready for review".  Each just requires minimal spot testing on a single platform.  Aside from this, there should also be a "sanity test" on a single platform that nothing has been disturbed.

@arouinfar volunteered over email, so I'll assign this to her.

[2015-12-22 19:31] arouinfar commented on #457
I'm on it @samreid!

[2015-12-22 19:51] arouinfar opened #458 "Make Trish's iPad a test device"
@patricialoeblein returned her iPad to the project, and it should probably be turned into a testing device (reformatted, iOS 9 installed, named, labelled, and added to our asset inventory). The iPad and charger are currently sitting on the desk in device office (F1011). The iPad has something to the effect of "Trish PhET" written in sharpie on the back.

Assigning this to @ariel-phet to reassign a

[2015-12-22 20:01] arouinfar commented on #457
Testing completed on Mac OS X 10.11.2 and Chrome 47.0.2526.106. Everything looks great! Should we do a sanity test on a PC as well?

[2015-12-22 20:02] ariel-phet commented on #457
I will do one right now..

[2015-12-22 20:03] samreid commented on #457
The differences between rc.1 and rc.2 are minor and are not expected to create differences across platforms, but a quick windows test would be nice.

[2015-12-22 20:06] ariel-phet commented on #457
Spot testing all looking good! I think you have the green light to publish @samreid

@arouinfar once Sam has published you will need to go through and upload categories, related sims and such.

[2015-12-22 20:11] arouinfar commented on #457
Awesome! I'll go ahead and close this issue.

Will do! @samreid please let me know when the sim is up and ready for this. I can take care of the categories, etc. and then make the sim visible.

[2015-12-22 20:11] #457 closed

[2015-12-22 21:39] oliver-phet commented on #443
Done. Closing.

[2015-12-22 21:39] #443 closed

[2015-12-22 21:59] oliver-phet commented on #442
@mariahmaephet If you are available, could you create 8.5"x11" pdf's (front and back) of our latest business card? Add bleeds to the cards. The latest file is called "kathy-perkins-card.ai" Put some of both the general orange card and Kathy blue card on the sheet.

The two local printers need this to do proofs of the card so that we can compare quality and decide who to go with for our next batch

[2015-12-22 22:13] ariel-phet commented on #458
Hmm, I might grab this for myself @arouinfar - there are several time now when a developer has asked me to evaluate performance or such on an ipad and I have been working from home. It would certainly be handy.

[2015-12-22 23:24] jbphet opened #459 "Test Neuron 1.0.0-rc.1"
Neuron is ready for some release testing.  There are several issues that I have left open because they are a bit complex to duplicate, and were challenging to fix, so I'd like someone else to verify that they no longer occur.  These issues are:

- [x] https://github.com/phetsims/neuron/issues/88
- [x] https://github.com/phetsims/neuron/issues/91
- [x] https://github.com/phetsims/neuron/issues/92
-

[2015-12-22 23:38] ariel-phet commented on #459
@elisemorgan it looks like you are the only tester currently working this week.

@orejolaphet please help on this next week if it is not yet finished

@amanda-phet @amyh-phet @arouinfar @oliver-phet  if you have a little time would be great to test a platform, but OK if this waits until after the holidays (if not complete)

[2015-12-24 01:50] ariel-phet commented on #459
**Additional QA items:**

- [ ] stringTest=double
- [ ] stringTest=long
- [ ] stringTest=X (short strings)
- [ ] stringTest=rtl (right-to-left)
- [ ] showPointerAreas (touchArea=red, mouseArea=blue)
- [ ] Full screen test
- [ ] webgl=false

[2015-12-25 20:36] mariahmaephet commented on #442
@oliver-phet Hey Oliver--I'm just a little confused which ones you want (there's a bunch on drive and that .ai file only has the backs).

[2015-12-26 17:24] ariel-phet commented on #442
@mariahmaephet

I think you might be looking in the wrong place, try here:

https://drive.google.com/drive/folders/0B5JSfRAuRHDzZnFDOGt5dl92WDg

[2015-12-27 04:14] samreid opened #460 "Identify unused strings in sims"
In https://github.com/phetsims/bending-light/issues/340 I discovered that there were unused strings in Bending Light.  We should add an automated tool to report on this (I had thought there was one?) or add steps in the code review to prevent this problem in the future because once a simulation is published it becomes difficult to change the strings file (due to concurrent modification by translat

[2015-12-28 03:08] bryo5363 commented on #459
I noticed that issue phetsims/neuron#93 is present on Microsoft Edge 25.10586.0.0

[2015-12-28 19:56] samreid commented on #460
I added a checklist item, which can be seen here:
https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md

Should we also try to create automated tools to help with this (or are there already some in place that I am unaware of)?

[2015-12-28 22:49] oliver-phet commented on #442
@mariahmaephet The link Ariel shared is correct - please create the pdf's from the 'kathy-perkins-card.ai'  file.

[2015-12-29 00:27] schasteen commented on #429
I'm not sure how to edit the original task, but there are now several more primers to be produced.  All are in the list of sims, at https://docs.google.com/spreadsheets/d/1zlelf5q9txcK86WLkdCeYKoCtlxlhGDNJlT1fPmkSSk/edit#gid=0
Make sure to look at the Notes, as they sometimes have some instructions.

Primers to be produced:
Beer's Law
Build an Atom
Concentration
Molarity
Molecule Shapes
Molecule S

[2015-12-29 05:05] mattpen commented on #403
@oliver-phet - Is translatability a priority for this project?

[2015-12-29 15:12] oliver-phet commented on #403
Not a priority right now. If there is a lot of demand for our sims via the Chrome web store in the future, we can investigate then.

[2015-12-29 17:45] pixelzoom commented on #460
Does Rosetta show these unused strings to the translator, or does it get the set of strings that are actually used from the html file? If the latter, then I care less about this issue.

[2015-12-29 17:48] pixelzoom commented on #460
@samreid says that rosetta.routes.js, line 407, looks like it's reading the English strings file, and therefore showing unused strings.

[2015-12-29 17:50] pixelzoom commented on #460
So we need something like chipper.reportUnusedMedia, but for strings.  As strings are loaded, add them to a list.  When done, compare the list to the English string file, identify English keys that are not in the list - they are the unused strings.

[2015-12-29 17:52] pixelzoom commented on #460
@jessegreenberg volunteered to looks at this.

[2015-12-29 18:27] bryo5363 commented on #459
It appears that testing is complete. The only previous issue that remains is phetsims/neuron#93 for Microsoft Edge

[2015-12-29 18:34] ariel-phet opened #461 "Test Java version of Isotopes and Atomic mass"
@bryo5363 can you test the Java version of Isotopes and Atomic Mass. We are porting this sim, and it would be good to identify any existing bugs.

[2015-12-29 18:34] ariel-phet commented on #461
Report any existing bugs in the repo and please label "java bug"

[2015-12-29 18:37] bryo5363 commented on #461
I'm on it
On Dec 29, 2015 11:34 AM, "Ariel Paul" <notifications@github.com> wrote:

[2015-12-29 19:04] elisemorgan commented on #459
Noticed phetsims/bending-light#335 is present on Chromebook

[2015-12-29 21:18] arnabp commented on #429
Yes, I'll be back in the office every day now, I can definitely get these done.

[2015-12-29 22:27] arouinfar commented on #459
The testing matrix is complete @jbphet @ariel-phet.

[2015-12-30 17:33] ariel-phet commented on #459
Good, closing

[2015-12-30 17:33] #459 closed

[2015-12-30 18:39] jessegreenberg commented on #460
Example output from balloons-and-static-electricity:

[code]

[2015-12-30 19:57] jessegreenberg commented on #460
Ran through grunt-all.sh, spot checking results.  Reported unused strings were correct.

@pixelzoom, would you mind reviewing reportUnusedStrings.js if you have the time?

[2015-12-30 20:09] pixelzoom commented on #460
Looks great.  I made one change, which was to clarify the warning message.  For example, for this unused entry in function-builder-strings_en.json:

[code]

The old message was:

`>> Unused string: FUNCTION_BUILDER/foo, Foo`

The revised message is:

`>> Unused string: key=FUNCTION_BUILDER/foo, value=Foo`

If that looks OK to you, feel free to close this issue.

[2015-12-30 20:12] jessegreenberg commented on #460
Thanks for reviewing!  Yes, that does clarify the output.  Change is good, closing this issue.

[2016-01-04 16:38] ariel-phet commented on #371
@elisemorgan @phet-steele @bryo5363 @orejolaphet this is the current top sim testing priority

[2016-01-04 16:40] #444 closed

[2016-01-04 16:43] #171 closed

[2016-01-04 16:58] ariel-phet opened #462 "Create a Forces and Motion Basics HTML5 design doc"
Hey @elisemorgan - it looks like you are working some solid hours this week. When you could use a break from testing it would be great if you can work on making a design doc for Forces and Motion Basics HTML5

I believe you did a similar job with Energy Skate Park Basics

The design doc for Isotopes and Atomic Mass HTML5 is probably a good template:
https://docs.google.com/document/d/1RU2ruZMAon9I

[2016-01-04 17:21] ariel-phet commented on #376
@elisemorgan @phet-steele @bryo5363 @orejolaphet please make this a high testing priority after balancing chemical equations.

[2016-01-04 22:15] arnabp commented on #429
On Molarity I can add the concentration simulation is a pop up as requested, but how do you want me to do this? Should it slide in for a few seconds every time? Or do you just want to see it once?

There's also another issue with this. Vimeo doesn't support adding annotations to their videos, so there are three ways we can approach this. We can give the direct link to the simulation (which would b

[2016-01-04 22:18] schasteen commented on #429
I think it should just slide in once.   If you create something for one primer, we can look and see what we think.

I didn’t expect this to be any annotation in Vimeo necessarily, just something on-screen to show that this is a separate sim.   I hadn’t expected to put in a link.  But others can indicate if they disagree.

On Jan 4, 2016, at 3:15 PM, arnabp <notifications@github.com<mailto:notifica

[2016-01-04 22:43] arnabp commented on #429
I created two versions of the Molarity primer, v3 has the slide in, it's a bit rough (I'd probably adjust the little bubble beneath the primer to be a more fitting font and color).

[2016-01-04 23:55] ariel-phet commented on #462
@elisemorgan also, please assign back to me when finished, thanks!

[2016-01-04 23:56] ariel-phet commented on #462
And I should mention, not a huge rush, but would be nice to get done before the spring semester begins.

[2016-01-05 00:05] ariel-phet opened #463 "Transferring ownership of Trish google docs"
@phet-steele could you work on transferring ownership of all @patricialoeblein google docs so that they are:

 - owned by phethelp@gmail.com
 - shared with phet-team@googlegroups.com

@patricialoeblein said she may have several accounts, and she will be willing to share account info with you over the phone.

You should be able to do much of this transfer in bulk (if you have questions ask myself o

[2016-01-05 01:30] ariel-phet commented on #462
Uhh...nevermind, this is already done!

[2016-01-05 01:30] #462 closed

[2016-01-05 16:02] phet-steele commented on #463
10-4

[2016-01-05 22:49] arnabp commented on #430
All sims have been re-produced with the new bumpers and are in their respective folders, let me know if everything checks out!

[2016-01-06 06:49] mattpen opened #464 "Forwarding messages from phetmail@colorado.edu account"
It was discovered that there is a significant number of email received at the phetmail account that was not being handled as this should be an account for sending out newsletters etc.  In a discussion with @jonathanolson we decided to setup a filter to forward the mail to phethelp in order to respond.

However, the majority of the mail received at this account is delivery status delay or failure n

[2016-01-06 23:06] jbphet commented on #401
I'm now integrating these images into the simulation, and for the most part they are working great.  However, one minor adjustment is needed: The the hole in the center of the one coin that has such a hole should be transparent, otherwise it looks a little weird.  Here's a portion of a screenshot to illustrate the problem:

![ex-ex-coin-hole](https://cloud.githubusercontent.com/assets/3082831/1215

[2016-01-07 00:17] amanda-phet commented on #401
I took care of this fix and will email @jbphet an updated .ai file.

[2016-01-07 00:21] amanda-phet commented on #401
Since we have the artwork for this task I'll go ahead and close this issue.

[2016-01-07 00:21] #401 closed

[2016-01-07 01:15] ariel-phet commented on #458
I have taken this iPad as a personal test device. I have named it "Loeblein" in honor of @patricialoeblein :). It has been added to the asset matrix. Closing.

[2016-01-07 01:15] #458 closed

[2016-01-07 03:16] patricialoeblein commented on #458
Phunny name  Thanks☺

Trish

From: Ariel Paul [mailto:notifications@github.com]
Sent: Wednesday, January 6, 2016 6:15 PM
To: phetsims/tasks <tasks@noreply.github.com>
Cc: Patricia J Loeblein <patricia.loeblein@colorado.edu>
Subject: Re: [tasks] Make Trish's iPad a test device (#458)

I have taken this iPad as a personal test device. I have named it "Loeblein" in honor of @patricialoeblein<https://

[2016-01-07 17:13] phet-steele commented on #463
Taken care of!

[2016-01-07 17:13] #463 closed

[2016-01-07 18:04] schasteen commented on #429
I like the slide-in, especially with the little bit of action that you added (though I hadn't expected to get that fancy with it).  The fancier we are, the more trouble it is to do this every time another sim is mentioned, but it's most likely to happen with sims that are in a set, like these chemistry concentration simulations.  @amyh-phet, can you take a look and see if you like it?  If we do li

[2016-01-07 18:17] elisemorgan commented on #371
@ariel-phet Testing matrix is complete, once @bryo5363 confirms performance on Win 10 Edge

[2016-01-07 18:23] schasteen commented on #430
I've reviewed them all and put some comments in a new column G about any changes needing to be made.  Most are OK to upload to Vimeo (and to then archive on PBU2 as detailed in Production Notes), but I couldn't review ESPB (file didn't work), and the screenshot for Fraction Matcher looked fuzzy.  Also, if any of these mention other simulations, we might want to do the slide-in to highlight that si

[2016-01-07 18:24] schasteen commented on #429
It wasn't clear if the new primers were ready for me to review, so I did review them all, and put comments in the new Column G in the list of sims needing primers about any changes needing to be made. Some weren't done and one had some problems but otherwise looked good.  Thanks for all this, Arnab.  Note that this task is higher priority than the "reproducing primers" task, so prioritize this.

[2016-01-07 18:56] phet-steele opened #465 "Standardize labels for GitHub issues"
Make all the labels across sim repos and tasks the same color and text.

[2016-01-07 19:39] phet-steele commented on #371
@pixelzoom @ariel-phet testing done!

[2016-01-07 19:45] pixelzoom commented on #371
Self assigning to publish 1.1.0-rc.2.  That should be a short RC test, with https://github.com/phetsims/balancing-chemical-equations/issues/110 requiring verification on 1 or 2 platforms.

[2016-01-07 20:15] ariel-phet commented on #260
@phet-steele here is the issue for organizing google docs. The first priority is the published sim table.

To organize everything into folders you will need to be signed into the phethelp@gmail account, see the Area Builder example. Let me know as you have questions.

[2016-01-07 20:21] pixelzoom opened #466 "RC test: Balancing Chemical Equations 1.1.0-rc.2"
Here's the RC version:

http://www.colorado.edu/physics/phet/dev/html/balancing-chemical-equations/1.1.0-rc.2/balancing-chemical-equations_en.html

This RC does not require a test matrix.  It requires spot testing this feature enhancement on 1 or 2 platforms:

- [x] https://github.com/phetsims/balancing-chemical-equations/issues/110 (display best times in the game)

@ariel-phet Please assign this

[2016-01-07 20:22] pixelzoom commented on #371
RC 1.1.0-rc.2 has been published, testing tracked in https://github.com/phetsims/tasks/issues/466.

Closing.

[2016-01-07 20:22] #371 closed

[2016-01-07 21:12] ariel-phet commented on #466
@phet-steele please take care of this spot test. Thanks!

[2016-01-07 21:52] amyh-phet commented on #429
@arnabp and @schasteen   I think the Molarity primer looks good with the slide-in.   I agree that we don't need to show actions in the slide-in if it makes production more complicated (although it was really fun to see the sim in action).

Primers that mention other sims:
Concentration - mentions Beer's Law lab
Beer's Law - mentions looking at the Concentration sim page for the teacher tips

[2016-01-07 22:52] phet-steele commented on #466
:+1: good to go on Win 8.1 FF and OS X 10.11.2 Chrome (Dirac).

[2016-01-07 23:04] phet-steele commented on #376
@pixelzoom matrix complete!

[2016-01-07 23:08] pixelzoom commented on #466
Thans @phet-steele.

RC testing completed. Self-assigning to publish 1.1.0.

[2016-01-07 23:10] pixelzoom commented on #376
Thanks @phet-steele.

Self-assigning to create another RC version. The only issue to address is https://github.com/phetsims/reactants-products-and-leftovers/issues/42, but it requires touching common code, probably the sun repo.  If I can patch sun, then we may be able to just spot test the next RC.

[2016-01-07 23:18] pixelzoom commented on #466
1.1.0 published. Closing.

Thanks to all the testers!

[2016-01-07 23:18] #466 closed

[2016-01-08 15:58] ariel-phet commented on #465
@samreid has suggested that multiword labels such as "high priority" are hyphenated "high-priority" "code-review" "master-checklist" and such

some other standard labels that should be on all sim repos
"master-checklist"
"high-priority"
"medium-priority"
"low-priority"
"wishlist"
"requires-kathy"
"developer-meeting"
"phet-io"
"teaching-resources"
"accessibility"
"design"

especially for searches i

[2016-01-08 16:00] pixelzoom commented on #465
Having to manage labels per repository is not scalable, and ensures that this tasks will need to be repeated. @phet-steele, you might consider making an official request to GitHub for a way to define labels that can be applied to all repos that are owned by an Organization.

[2016-01-08 16:02] ariel-phet commented on #465
@pixelzoom I will make that request. I think it may also be possible for us to write a tool to do this ourselves through the github API, it is something I might have @mattpen look into. But I want to get a standard set of labels rolling and settled on as well, so we will do the manual step for the moment.

[2016-01-08 16:03] pixelzoom commented on #465
Other PhET-standard labels:

code-review
deferred
phet-io-meeting
performance
licensing

... and `scenery` has a lot of labels that may or may not be specific to that repo.

[2016-01-08 16:09] pixelzoom commented on #465
How about adding something to the `phet-info` repo (github_labels.md?) that lists the labels defined by PhET and their associated colors.  That would save me a bit of time and guesswork, the next I need to (for example) add a "code-review" label.

[2016-01-08 16:14] ariel-phet commented on #465
@pixelzoom great suggestion

@phet-steele please choose one repo to do this "fresh" on. I think expression-exchange would be good since it is a new repo. And then reassign the issue to me, so that we can discuss colors and such as a team, then once we have the full list of labels and colors, I will create a reference doc.

[2016-01-08 16:16] phet-steele commented on #465
@ariel-phet Will do.

[2016-01-08 16:20] ariel-phet commented on #465
Feature request sent to Github.

[2016-01-08 16:39] ariel-phet commented on #465
reply from github

[2016-01-08 16:41] ariel-phet commented on #465
I think I will make an issue in chipper to investigate the above

[2016-01-08 16:46] ariel-phet commented on #465
Issue created here https://github.com/phetsims/chipper/issues/425

[2016-01-08 17:18] phet-steele commented on #465
@ariel-phet the website repo also has a lot of labels that seem pretty specific to it. So I'm thinking three options:
Should they not be put on the list and then deleted when the standard list is incorporated?
Should they not be put on the list and then not deleted when the standard list is incorporated?
Should  they be put on the list and therefore be in every repo?

This question really applies

[2016-01-08 17:25] ariel-phet commented on #465
@phet-steele if custom labels already exist (such for the website repo), the standard list should merely augment this list, we should not add these to the standard list.

[2016-01-08 18:12] samreid commented on #465
Everything above looks good so far.  There is another label I often use, let me describe how it works and we can decide together how to name it and if we want to standardize it in our labels.

Let's say I'm working on Moving Man and the sim team + QA team have identified 4 issues that require work.  I fix the first issue, but I don't want to close it until it has been verified by the person that r

[2016-01-08 18:16] jonathanolson commented on #465
@samreid, I had a "fixed-pending-testing" label for molecule-shapes for this exact reason. https://github.com/phetsims/molecule-shapes/labels/fixed-pending-testing.

@ariel-phet, list of issues looks perfect.

Setting a script up that uses the GitHub API sounds like the best path.

[2016-01-08 18:24] samreid commented on #465
@jonathanolson I think I used `ready-for-testing`, but I like `fixed-pending-testing` as a standardized-cross-repo label.

[2016-01-08 18:26] ariel-phet commented on #465
@phet-steele I believe you also had some thoughts...was "multitouch" one of them?

[2016-01-08 18:32] phet-steele commented on #465
@ariel-phet yea, it's already on my list

[2016-01-08 18:33] ariel-phet commented on #223
Github gave some advice on this, moved to a chipper issue https://github.com/phetsims/chipper/issues/425 closing

[2016-01-08 18:33] #223 closed

[2016-01-08 18:34] ariel-phet commented on #465
@phet-steele cool, please add any on your list to the comment above

[2016-01-08 18:43] phet-steele commented on #465
Here's the list so far. The first seven are the default ones (they can always be deleted thought). Should summer-2015-redeploy be added?

bug
duplicate
enhancement
help-wanted
invalid
question
wontfix

-------------------------------
master-checklist
high-priority
medium-priority
low-priority
wishlist
requires-kathy
developer
developer-meeting
phet-io
phet-io-meeting
teaching-resources
accessibili

[2016-01-08 18:51] ariel-phet commented on #465
hey @phet-steele I made a few edits

removed "developer" "graphic-arts" (these are very tasks repo specific) and changed "quality assurance to "QA" (faster to type)

summer-2015-redeploy does not need to be added

[2016-01-08 18:56] pixelzoom commented on #465
Here's how I handle what @samreid described in https://github.com/phetsims/tasks/issues/465#issuecomment-170078050...

I don't use labels to address this, and I close issues as I address them.   I track issues that need to be verified by associating them with their RC task. When an issue is created related to an RC test task, I put "Related to RC test phetsims/tasks#XX" as a comment in the issue (

[2016-01-08 18:59] pixelzoom commented on #465
@ariel-phet Something that would streamline the process described in https://github.com/phetsims/tasks/issues/465#issuecomment-170091387 is if the testers would handle tagging issues with their associated RC task.  When they create an issue related to an RC test, put ""Related to RC test phetsims/tasks#XX" in the comments for the issue.  Not a big deal if they don't do this, and perhaps only relev

[2016-01-08 19:45] jessegreenberg commented on #465
I prefer to keep issues open until after they have been verified as fixed through further testing.  A standard label like ```fixed-pending-testing``` would help identify the status of these issues.

Referencing the RC task in the issue is also helpful for documenting and identifying changes and fixes resulting from RC testing.

I think both label and reference are helpful in documenting issue stat

[2016-01-08 19:46] jessegreenberg commented on #465
I would prefer ```a11y``` instead of ```accessibility```.  ```a11y``` is shorter to type, matches conventions of the accessibility community, and is in sync with our code documentation style.

I also prefer ```i18n``` instead of ```translation``` for similar reasons.  Changing the list, but if others disagree, they can be changed back.

[2016-01-08 20:22] samreid commented on #465
Yes, that's how I feel as well. I like the symmetry of having the same person that opened the issue be the one to close it.

[2016-01-08 20:28] samreid commented on #465
Are any of these redundant?

when-time-allows
deferred
low-priority
wishlist

I'm not sure of everyone's connotations attached to these phrases, or if these combinations would ever be used in combination.

[2016-01-08 20:40] ariel-phet commented on #436
@arouinfar feedback on this?

[2016-01-08 20:44] arouinfar commented on #436
@mariahmaephet sorry for not noticing this sooner! The gold foil looks good to me. I also like what you've done with the tiling, but it feels just a tad too heavy. Perhaps the colors of the tiles could be a bit more similar so they don't have quite so much contrast/visual weight.

Anything to add @ariel-phet?

[2016-01-08 21:23] jbphet opened #467 "test Gravity Force Labs 1.2.0-rc.1"
Release candidate is ready for testing.

Test Matrix: https://docs.google.com/spreadsheets/d/1Hbe-bDR0VC23nS-pyl4UpsO16HPZ1ayt-yWgyZh1OL0/edit#gid=59768831

RC itself: http://www.colorado.edu/physics/phet/dev/html/gravity-force-lab/1.2.0-rc.1/gravity-force-lab_en.html

[2016-01-08 21:25] jbphet commented on #467
Checklist for S2015R milestone (GitHub issues labeled "Summer 2015 redeploy")

**Developer**
- [ ] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues with a milestone.
- [ ] Look over the code review checklist, decide if code review should be redone, https://github.com/phetsims/phet-info/blob/master/checklists/code_revie

[2016-01-08 23:27] amanda-phet opened #468 "Artwork for Proportion Playground"
As discussed with @mariahmaephet and @ariel-phet today, the following artwork is needed for this sim:
- [x] Two differently colored beads: one round, one square
- [x] A paint splotch that can easily be drawn in code (it will scale and change color), perhaps with some dimension or a fun appearance that is not reminiscent of nickelodeon
- [x] A paint can pouring out some paint into a small puddle (c

[2016-01-08 23:43] ariel-phet commented on #467
This sim should be current top testing priority @phet-steele @elisemorgan @orejolaphet @BryceAG @brroberts1231 @bryo5363

[2016-01-09 00:42] pixelzoom opened #469 "RC test: Reactants, Products and Leftovers 1.1.0-rc.2"
Here's the RC version:

http://www.colorado.edu/physics/phet/dev/html/reactants-products-and-leftovers/1.1.0-rc.2/reactants-products-and-leftovers_en.html

This RC does not require a test matrix. It requires spot testing this bug fix on 1 or 2 platforms:

- [ ] https://github.com/phetsims/reactants-products-and-leftovers/issues/42 (Infinite Sandwiches!)

I'm going to assign this to @phet-steele, s

[2016-01-09 00:43] pixelzoom commented on #376
Issue addressed, sun patched, RC version created, tracking in https://github.com/phetsims/tasks/issues/469.

Closing.

[2016-01-09 00:43] #376 closed

[2016-01-09 02:17] ariel-phet commented on #465
@samreid I suppose "when-time-allows" could be nixed in favor of simply "low-priority"

"wishlist" is truly that for me - items we have thought of that would be nice one day, but we know there is no priority for

"deferred" seems like - he we should do this, but we need to punt for the moment due to other constraints.

I will go ahead and remove "when-time-allows" from the list above.

[2016-01-09 03:12] samreid commented on #465
@ariel-phet thanks for clarifying.

[2016-01-11 02:53] mattpen opened #470 "Sponsors Page - Resize images"
From [website/#298](https://github.com/phetsims/website/issues/298) - the new sponsor images need to be resized to improve delivery of the About Sponsors page.  The image sources can be found [here](https://docs.google.com/spreadsheets/d/1BPfMCA0-p5AB3sTYIDNqmKuikzjpE5MYsDSfQBXMR7A/edit#gid=0).

The images should be sized to a max height of 150px and max width of 350px. The aspect ratio should not

[2016-01-11 16:11] phet-steele commented on #469
@pixelzoom I tested on iPad 3 iOS 9.2 (disessa) and Win 8.1 Chrome. All looks good, you got the green light from me!

[2016-01-11 16:37] pixelzoom commented on #469
Thanks @phet-steele. Back to me.

[2016-01-11 17:33] pixelzoom commented on #469
1.1.0 deployed, closing.

[2016-01-11 17:33] #469 closed

[2016-01-11 17:37] pixelzoom commented on #334
All of my sims have been redeployed, publication dates recorded in https://github.com/phetsims/tasks/issues/334#issue-103119995.

Closing.

[2016-01-11 17:37] #334 closed

[2016-01-11 18:00] ariel-phet commented on #470
Hey @phet-steele - this one is for you :)

[2016-01-11 19:39] veillette opened #471 "Test release candidate 5 for charges and fields"
A new release candidate was published here: http://www.colorado.edu/physics/phet/dev/html/charges-and-fields/1.0.0-rc.5/charges-and-fields_en.html

And the test matrix is here: https://docs.google.com/spreadsheets/d/13LTW0wpaZcvWRPLFjQCwmkfbpkmFdqAlm65Mg5OpNl4/edit#gid=32007012

You should test the canvas version of the simulation by setting webgl=false on chrome and firefox and i.e.
e.g.
http://w

[2016-01-11 19:47] arnabp commented on #429
Adding in the slide in of the sim in action really isn't much more difficult than a screenshot (just adds a bit of rendering time). I can go ahead and look at concentration and beer's law and add those in.

I've adjusted the audio on Molecule Shapes and Molecule Shapes Basics. Background noise should be mostly gone, however, adding in the extra bit of audio is tricky. Audio consistency is REALLY h

[2016-01-11 19:54] schasteen commented on #429
I’ll listen to Molecule Shapes and see if we should re-record.

For the slide-in of sims, please take a quick listen through the other primers, since I think there are times when other sims are mentioned other than just Beers Law and Concentration.  Maybe you can listen on 2X speed, or scan through the scripts (which you should have), just to make sure we get them all.

Please also document the pr

[2016-01-11 19:59] amyh-phet commented on #429
I just listened to Molecule Shapes and the inserted sentence is definitely notable.  Stephanie, let me know what you think.  I can record again if needed, but won't get to it until next week as I'm at a conference T-F this week.

[2016-01-11 20:07] ariel-phet commented on #471
@veillette thanks for getting this setup. @jonathanolson and I are going to make a couple minor tweaks to handle some i18n issues, but otherwise things are looking really good!

[2016-01-11 20:29] jbphet commented on #460
For the record, I think the assertion that rosetta uses the English string file as the basis of what to present to users of the translation utility (as stated in https://github.com/phetsims/tasks/issues/460#issuecomment-167842577 above) is incorrect.  I'm basing this on two things:
+ There are nine translations for Bending Light that have been submitted in the last few days, and the published vers

[2016-01-11 20:35] pixelzoom commented on #460
Rosetta gets its strings from the published html file, so unused strings won't go away until a new sim version is published.  A definitive answer to whether Rosetta presents unused strings to the translator is important only if PhET cares whether unused strings are being translated.  Reopening and assigning to @ariel-phet to decide whether @jbphet should dig further.

[2016-01-11 20:57] phet-steele commented on #465
added top priority

[2016-01-11 21:16] pixelzoom commented on #465
Surely you mean top-priority :)

[2016-01-11 21:17] phet-steele commented on #465
haha yes, that's how I added it in the list above.

[2016-01-11 21:44] phet-steele commented on #465
@ariel-phet I added all these to expression exchange so I could mess with the colors, check it out! Tell me if you change any colors, I'm keeping track of hex codes.

[2016-01-11 23:11] ariel-phet commented on #465
@phet-steele thanks...I think we will discuss at dev meeting

[2016-01-11 23:51] schasteen commented on #429
I’m surprised the inserted sentence sounds that different — it actually sounds like it was recorded with a different mic and maybe at a different distance (further) from the mic.   Amy, do you know if you used the same setup in this recording?   If not, maybe we could better replicate the original recording.  I don’t mind if it sounds off, but this is quite off.

 Arnab, it sounds like you tried m

[2016-01-11 23:57] amyh-phet commented on #429
I did use  the same mic, but given our recording set up, it is extremely hard to make sure I'm the same distance from the mic when recording at different times.  I don't think re-recording would be that time consuming.  I can work on this next Tuesday.

[2016-01-12 00:45] ariel-phet opened #472 "Spot testing on iOS 9.3 preview?"
@phet-steele can you see if you can put the iOS 9.3 preview on one of the iPad 2's and do some spot testing on published sims?

Ask @oliver-phet if you need access to the developer account

[2016-01-12 01:22] samreid commented on #460
As far as I understand it, the strings are loaded with the requirejs plugin and hence only the used strings appear in the built HTML file.

[2016-01-12 16:46] jbphet commented on #460
Since the currently published version of Bending Light (v1.0.0) is known to contain unused strings (see https://github.com/phetsims/bending-light/issues/340), I figured that I'd test whether these strings appear on the translation page for this sim.  The list of unused strings can be seen in this commit (where they were removed from the master branch): https://github.com/phetsims/bending-light/com

[2016-01-12 19:03] ariel-phet commented on #471
Since we made some tweaks, and JO has made some recent performance improvements, we are first going to dev test the latest version before full RC. Closing.

[2016-01-12 19:03] #471 closed

[2016-01-12 22:51] arnabp commented on #429
Yes, I'm afraid changing things didn't help too much. The problem was that the re-recorded clip sounded a little worse, and while I can make good audio sound close to bad audio, it's harder to make bad audio sound good.

Fraction Matcher screenshot resolution should be fixed and ESPB should be fixed.

I'll spend the rest of the week looking through sims for slide in references and adding those in,

[2016-01-12 23:37] ariel-phet commented on #460
Marking for developer meeting just so we are all on the same page. If such strings are not seen by translators I am fine with making sure they are removed, but not worrying about doing maintenance releases to address, as the issue will get addressed with future redeploys (phet-io, a11y, etc)

[2016-01-13 19:37] amyh-phet commented on #429
@arnabp  I'll do my best to get you new recordings of Molecule Shapes: Basics and Molecule Shapes by next Wednesday.

[2016-01-13 19:43] ariel-phet commented on #472
@BryceAG see if you can test this out

[2016-01-13 19:44] oliver-phet opened #473 "Add help center questions"
We need to add all of the help center questions via the admin interface.
Administration>Help Center> Choose subject, copy/paste question and answer

@phet-steele was going to lead this effort, but @brroberts1231 and @BryceAG can start on it for now.

Google doc of questions and answers:
https://docs.google.com/spreadsheets/d/1jirckePXaztwuackBhsqo2OfyKUCj81IloF9dhSpQOs/edit?usp=sharing

Let me kno

[2016-01-13 19:44] ariel-phet commented on #472
Test a bunch a bunch of sims, try downloading and putting in the reading list.

[2016-01-13 20:05] ariel-phet commented on #467
Testing complete closing

[2016-01-13 20:05] #467 closed

[2016-01-13 20:15] ariel-phet opened #474 "Dev testing of published versions of Resistance in a Wire and Ohm's Law"
Both Ohm's Law and Resistance in a Wire are some of the very first HTML5 sims we published, and did not get certain QA steps (like all the string tests)

Before redeploy it would be good to test the **published** versions on the website for some of the various QA issues we have been seeing in Gravity Force Lab. It will be much easier to fix any found issues instead of first doing an RC candidate a

[2016-01-13 20:25] oliver-phet opened #475 "Setup MP's new SSD"
- Win 7 64-bit
- IntelliJ
- GIT / Git Bash
- SVN (SlikSVN/1.9.2) https://sliksvn.com/download/
- Sublime
- MS Office - Word/Excel
- Java 7 SDK
- Node / NPM
- Oracle Virtualbox

[2016-01-13 21:09] amanda-phet commented on #468
After we see how the storefronts/fruit stands turn out, I am thinking we might want similar "scenes" to set the, well, scene, for different contexts in this sim.

I'm thinking a brick wall for the paintball scene but am not sure about the others. We have to be sure these kinds of things can scale well when users drag a browser window to be larger.

[2016-01-13 23:04] mattpen commented on #473
If you are adding html tags and you want to test out how it will look once it goes live, please let me know and I can publish the full version on phet-dev.

[2016-01-14 15:27] pixelzoom commented on #354
Work has been done on "Models of the Hydrogen Atom" (aka MOTHA), enough to jumpstart the design process.  Further work is being done as a low-priority background task, so this port is unlikely to be completed (by me, anyway) before late-2016/early-2017.

Since I now have plenty of "port" work on my plate, unassigning this issue.  I'll reassign when I need more work.

[2016-01-14 16:12] pixelzoom commented on #460
My understanding is:
(1) Unused strings are not presented to the translator by Rosetta.
(2) Therefore there is no urgency to republish sims that contain unused strings.
(3) But, as a matter of good code hygiene, unused strings should be removed when identified by the build process.

[2016-01-14 16:30] orejolaphet commented on #474
I will test Mac Safari

[2016-01-14 16:31] bryo5363 commented on #474
I'll get win/edge
On Jan 13, 2016 1:15 PM, "Ariel Paul" <notifications@github.com> wrote:

[2016-01-14 16:41] orejolaphet commented on #474
The query parameters ?stringTest=double, rtf, long, and none  do not change anything on the both published sims "Ohm's Law" and "Resistance in a Wire" on OS X 10.11 Safari 9.0

[2016-01-14 16:45] orejolaphet commented on #474
To clarify, the strings in both sims do not change at all with addition of the query parameter.

[2016-01-14 17:03] ariel-phet commented on #474
@orejolaphet yes, as I said in the initial comment in the issue:

[2016-01-14 17:06] orejolaphet commented on #474
Ahh my mistake, I miss read the comment. Thanks for the clarification.

On Thursday, January 14, 2016, Ariel Paul <notifications@github.com> wrote:

[2016-01-14 18:03] oliver-phet commented on #475
@arnabp There's a samsung SSD on your desk - can you put it in any test computer and install the above onto it?

[2016-01-14 18:13] jessegreenberg commented on #460
The above list makes summarizes my thoughts as well.  No need to redeploy, but unused strings should be removed as they pop up after the build.

[2016-01-14 19:09] pixelzoom opened #476 "complete S2015R redeploy"
At 1/14/2016 dev meeting, we decided that we needed a list of sims that haven't been redeployed with translation support.  Here's the list.

*Click on a sim name to see that sim's open issues.*

- [x] [Area Builder](https://github.com/phetsims/area-builder/issues) (published on 5/13/2016)
- [x] [Balancing Act](https://github.com/phetsims/balancing-act/issues) (published on 4/7/2016)
- [x] [Balloon

[2016-01-14 19:10] pixelzoom commented on #476
Mentioning all developers who might be involved in redeploy: @samreid @jbphet @jonathanolson @jessegreenberg

[2016-01-14 19:27] elisemorgan commented on #474
IPad 2

[2016-01-14 19:49] #460 closed

[2016-01-14 20:08] pixelzoom commented on #476
1/14/2016 status meeting:

Have testers run string tests on all of the above with the test server, to identify i18n layout issues. @ariel-phet will schedule that work.

JB would like to prioritize: Ohm's Law, Resistance In A Wire, Build An Atom, Balancing Act, Area Builder

[2016-01-14 22:25] jonathanolson opened #477 "RC Test for Molecule Shapes 1.1.2-rc.1"
Testing Matrix: https://docs.google.com/spreadsheets/d/1wfA1SVvOKK-d26ozNNeGDuuq5OtUpInGcEkfK_Eqvgg/edit#gid=334453563

Direct link to HTML: http://www.colorado.edu/physics/phet/dev/html/molecule-shapes/1.1.2-rc.1/molecule-shapes_en.html

This was published out of master, so presumably it will need a full re-test.

**Developer**
- [x] Review outstanding issues, mark what will be addressed for rede

[2016-01-14 22:26] jonathanolson commented on #477
I'll have the Molecule Shapes: Basics test up soon. It crashed the build-server when I tried to use the new way, so it's a bit delayed.

[2016-01-14 23:40] jonathanolson opened #478 "RC Test for Molecule Shapes: Basics: 1.1.0-rc.2"
Testing Matrix: https://docs.google.com/spreadsheets/d/1pfJglrdMScIyruOXQilQiNse91tGhafQKLouOJISSMY/edit#gid=1989446480

Direct link to HTML: http://www.colorado.edu/physics/phet/dev/html/molecule-shapes-basics/1.1.0-rc.2/molecule-shapes-basics_en.html

This was published out of master, so presumably it will need a full re-test.

**Developer**
- [x] Review outstanding issues, mark what will be add

[2016-01-14 23:45] phet-steele commented on #473
@oliver-phet this is very close to being wrapped up. I've added all the links, might do one last grammar check, and still want to see how things look on phet-dev first, but after that we should be good. You still need to add the new "Account" question you wanted to add.

[2016-01-15 00:51] ariel-phet commented on #477
**Developer**
- [ ] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues with a milestone.
- [ ] Look over the code review checklist, decide if code review should be redone, https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md
- [ ] Review and update licensing info (source code and images/a

[2016-01-15 00:52] ariel-phet commented on #477
@jonathanolson can you please verify that the remaining developer steps above are complete before I assign this for QA?

[2016-01-15 00:52] ariel-phet commented on #478
**Developer**
- [x] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues with a milestone.
- [x] Look over the code review checklist, decide if code review should be redone, https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md
- [ ] Review and update licensing info (source code and images/a

[2016-01-15 00:53] ariel-phet commented on #478
@jonathanolson please verify that the remaining developer steps above are completed before I assign for QA

[2016-01-15 01:07] ariel-phet opened #479 "Test sims awaiting redeploy for string issues"
@elisemorgan @BryceAG @brroberts1231 @orejolaphet @bryo5363 we would like to test the following sims for string issues before we move onto the redepoly process. Many of these sims are old enough that the will not have the full set of ?stringTest available on the published version.

**How to test**
Please test using phettest.colorado.edu (you will need to be on campus or using VPN to access phettes

[2016-01-15 01:48] mattpen commented on #473
@oliver-phet @phet-steele The full helpcenter is up on phet-dev for testing.

[2016-01-15 05:53] jonathanolson commented on #477
Complete except for "Address RC issues" which presumably happens later.

[2016-01-15 05:53] jonathanolson commented on #478
Complete except for "Address RC issues" which presumably happens later.

[2016-01-15 06:36] ariel-phet commented on #477
@elisemorgan @brroberts1231 @orejolaphet @BryceAG @bryo5363 @phet-steele please make this the top testing priority

[2016-01-15 06:37] ariel-phet commented on #478
@elisemorgan @brroberts1231 @orejolaphet @BryceAG @bryo5363 @phet-steele please make this a top testing priority along with molecule shapes

[2016-01-15 14:38] BryceAG commented on #474
Windows chrome

On Thu, Jan 14, 2016, 12:27 PM elisemorgan <notifications@github.com> wrote:

[2016-01-15 17:17] ariel-phet commented on #461
@bryo5363 - is there any more to do here, or do you feel testing is complete?

[2016-01-15 17:20] ariel-phet commented on #400
This issue can be closed, related discussion to the API tracked in another issue.

[2016-01-15 17:20] #400 closed

[2016-01-15 17:22] ariel-phet commented on #428
Closing, dealt with in other issues like https://github.com/phetsims/least-squares-regression/issues/48

[2016-01-15 17:22] #428 closed

[2016-01-15 17:50] bryo5363 commented on #461
I do not believe so. Most of the issues have been addressed.
On Jan 15, 2016 10:17 AM, "Ariel Paul" <notifications@github.com> wrote:

[2016-01-15 18:20] ariel-phet commented on #461
Excellent, closing

[2016-01-15 18:20] #461 closed

[2016-01-15 20:03] elisemorgan commented on #479
@ariel-phet So far I am having trouble testing because the String Tests fail to load on the first few sims
![screen shot 2016-01-15 at 12 58 14 pm](https://cloud.githubusercontent.com/assets/12610678/12363781/df9d841a-bb87-11e5-83fc-da841624fbfa.jpg)

Is this because they don't have string tests available? (I am inferring that phettest allows for string tests but I might be wrong there)

[2016-01-15 20:08] jessegreenberg commented on #479
Looks like a query parameter issue.  Since phettest seems to use some query parameters automatically, try ```&stringTest``` instead of ```?stringTest```.

[2016-01-15 20:12] elisemorgan commented on #479
That worked. Thanks @jessegreenberg !

[2016-01-19 16:30] ariel-phet commented on #450
@arouinfar - status of this issue? Can it be closed?

[2016-01-19 16:39] ariel-phet opened #480 "Test new login functionality on phet-dev"
@phet-steele we need you to test consequences of https://github.com/phetsims/website/issues/361

This will probably require making up (or using) several different email addresses, checking confirmation, and checking edge cases for logging in. Some cases you might want to try are to create an account but at first do not confirm the email. Then try logging in in various ways (ie):
- logging in with

[2016-01-19 17:11] ariel-phet commented on #448
IDRC signed the institutional version, and it has been uploaded to the unfuddle notebook. Closing.

[2016-01-19 17:11] #448 closed

[2016-01-19 17:30] phet-steele commented on #477
@jonathanolson testing matrix done.

[2016-01-19 18:43] schasteen commented on #429
Arnab, while you are waiting for Amy to record, here are the outstanding tasks that we identified:
- Identify primers mentioning other sims, and insert screenshot accordingly
- BAA had an issue in the primer (see List of Sims Needing Primers)

[2016-01-19 18:44] schasteen commented on #430
Arnab, the items above are still currently needing to be done for these primer videos, let us know if you need anything else from us on them.

[2016-01-19 19:58] arouinfar commented on #450
@ariel-phet I haven't heard back from the liaison, but I will send a follow up email this afternoon. If I don't hear back by the end of the week, I'll close this issue.

[2016-01-20 16:45] ariel-phet commented on #465
@phet-steele I also realized we should have a "status-meeting" label, adding that to the list

[2016-01-20 17:08] ariel-phet commented on #465
Began a table to document (which we can eventually use for a json file) here https://github.com/phetsims/phet-info/blob/e107784c98c62781bacb8905391f5f3eb17e6ce0/issue-info/labels.md

[2016-01-20 18:20] phet-steele commented on #478
@jonathanolson testing matrix complete

[2016-01-20 19:31] phet-steele opened #481 "?stringTest=Double issues"
Alright @jbphet, here's some things happening with ?stringTest=Double:

Game screen instructions cover the right panel (right panel still usable):
![ba dubs3](https://cloud.githubusercontent.com/assets/5863899/12460267/2d01a902-bf70-11e5-93d5-b3c276e9685e.PNG)

The scroll box covers the seesaw on the 2nd screen:
![ba dubs2](https://cloud.githubusercontent.com/assets/5863899/12460279/4602396c-bf70-

[2016-01-20 19:31] phet-steele commented on #481
Sorry wrong repo

[2016-01-20 19:31] #481 closed

[2016-01-20 19:37] BryceAG commented on #472
I have updated Tycho to the 9.3 beta. So far I have downloaded Energy Skate Park Basics and Hooke's Law to the reading list and they work fine. I have also tested a few RC sims that were previously downloaded to the reading list (neuron, Faraday's Law) and they also seem to work, but Faraday's has a lot of lag, particularly with field lines on. Strangely enough, all string tests other than rtl imp

[2016-01-20 19:41] ariel-phet commented on #472
@BryceAG - please try a few of these sims as published versions off the web (not downloading to the reading list) such as GFL and Faraday's Law.

[2016-01-20 19:43] BryceAG commented on #472
will do

[2016-01-20 19:51] BryceAG commented on #472
Molecular Shapes, Faraday's Law, and Gravity Force Lab have all been tested off the website and appear to be fully functional.

[2016-01-20 21:51] ariel-phet commented on #472
@BryceAG one other request...can you check a couple sims with games (these hit a few different code libraries). Balancing Act, Graphing Lines, and Balancing Chemical Equations should cover it. Please test these directly off the website, thanks!

[2016-01-20 21:56] ariel-phet commented on #355
I think this issue can be closed now.

[2016-01-20 21:57] #5 closed

[2016-01-20 23:09] phet-steele commented on #480
@mattpen @ariel-phet ignore the reference above from the balancing act repo.

[2016-01-20 23:10] phet-steele commented on #5
@ariel-phet :cry:

[2016-01-21 01:15] ariel-phet commented on #5
well @phet-steele it seems like this issue is quite old (and Trish is now retired...so)

[2016-01-21 17:15] orejolaphet commented on #479
I noticed this on Safari Version 9.0 (11601.1.56) on every sim using the query ?stringTest=double
double and overlaps all the text in the "About" section
Area builder for example

<img width="1209" alt="screen shot 2016-01-21 at 10 11 43 am" src="https://cloud.githubusercontent.com/assets/5631059/12488232/db02c74a-c027-11e5-8314-e3db009a7c6a.png">

[2016-01-21 17:55] pixelzoom commented on #476
I edited https://github.com/phetsims/tasks/issues/476#issue-126724851 so that clicking on a sim name takes you to the list of open issues for that sim.

[2016-01-21 18:00] jessegreenberg commented on #479
This distortion looks related to https://github.com/phetsims/scenery/issues/469, a Safari specific issue with the requireJS version of the sim.

[2016-01-21 18:49] mattpen opened #482 "Create Team Member page for downloading all sims in a Zip file"
Discussed at the phet-io meeting on 1/21/2016.  It was requested to make a page where a PhET team member can download a zip file of all sims and all sims in a given technology.  It was agreed to make this available on the Admin page of the website.

[2016-01-21 20:10] phet-steele commented on #479
@ariel-phet checklist complete. If @elisemorgan @BryceAG @brroberts1231 @orejolaphet @bryo5363 feel good about what they tested and have reported all issues they've found, then this task is complete.

[2016-01-22 04:38] mattpen opened #483 "Find users who are not confirmed but have recorded website activity"
During status meeting on 1/21/16, @kathy-phet asked if we have any users who have not confirmed their email address but still somehow had some sort of activity on the website.

There are a few but they are pretty minimal.  Since 2011, we have had 3 users post comments on a contribution (one of which was a link to an ebay page - see http://phet-dev.colorado.edu/en/contributions/view/3350), and 6 us

[2016-01-22 18:30] ariel-phet opened #484 "Testing embed using https on phet-dev"
@phet-steele this test is related to https://github.com/phetsims/website/issues/368

We would like to change the Embed code such that it serves the sims from "https" not "http"

@mattpen has made this change on phet-dev, please test that the embed code works for several HTML5, Flash, and Java sims. Also double check a few sims that have both an HTML5 version and a legacy version (a few that have f

[2016-01-22 19:28] BryceAG commented on #472
I have tested Balancing Act, Graphing Lines, and Balancing Chemical Equations off the website, and they function well. There was one issue I found with Balancing act, but it was consistent across multiple operating systems, so I did not refer to this task. It is phetsims/balancing-act#63

[2016-01-22 22:40] phet-steele commented on #484
@mattpen copy and pasting works fine, but how much do we support "customizing" the embedding ex. changing dimensions, adding borders, etc.? (if that's even a question that matters)

[2016-01-22 22:53] mattpen commented on #484
@phet-steele, we provide help with embedding on an ad hoc basis. It really depends on the situation.   We mostly would support getting the iframe to work as is on another page, but not editing the internal content.  There is an infinite number of ways you can break things if you start editing the internal html or JavaScript.  The sim itself should be pretty rigorously tested.

[2016-01-23 00:22] jbphet opened #485 "test neuron 1.0.0-rc.2"
A new release candidate for the Neuron sim is ready for testing.  Changes that could have significant implications were made in the process of fixing issues found during the testing of the previous release candidate, so a thorough retest is warranted.

**Testing Matrix**
 https://docs.google.com/spreadsheets/d/13lSN1kUHkqDnar9EkoMerj-WCuVfxAZwnqgxjUGTSe0/edit#gid=1479477481

**Testing Link**
 http

[2016-01-23 01:02] jessegreenberg opened #486 "Dev testing Trig Tour 1.0.0-dev.19"
This sim is almost ready for publication, so it would be good to do a round of dev testing.  Here is the link to the version to be tested:
http://www.colorado.edu/physics/phet/dev/html/trig-tour/1.0.0-dev.19/trig-tour_en.html

There have been many changes related to code review and performance, so as part if this dev test, it would be great if we could include the following:

  - [x] Test the sim

[2016-01-25 05:23] ariel-phet commented on #484
@phet-steele please comment if you checked the various scenarious I mentioned above...if so please feel free to close the issue.

[2016-01-25 05:37] ariel-phet commented on #485
@phet-steele @elisemorgan @BryceAG @bryo5363 @orejolaphet @brroberts1231 please make this RC testing the current top testing priority

[2016-01-25 05:38] ariel-phet commented on #474
@orejolaphet @elisemorgan @BryceAG @bryo5363 please check off your platform if testing is complete

[2016-01-25 05:40] ariel-phet commented on #486
@phet-steele please make this your personal top testing priority (above Neuron)

[2016-01-25 17:44] mattpen commented on #482
@kathy-phet Can you comment on the translation requirements?  Should the zip files contain all translated sims or do we need the ability to select a particular locale?

[2016-01-25 18:18] phet-steele commented on #484
@ariel-phet @mattpen looks good on my end :+1:

[2016-01-25 18:18] #484 closed

[2016-01-25 21:56] emily-phet opened #487 "Text edits to journal graphic abstracts - by Jan. 28th"
@daveunderwood designed some beautiful journal graphic abstracts last October (last email I believe was Oct. 8th). I now need final versions to submit by Thursday - which requires some text tweaks to the originals.

1) The Red Accessibility Sign graphic should read:

The Cutting Edge: Educational Innovation,
Disability Law, and Civil Rights
Emily B. Moore, Department of Physics, University of Colo

[2016-01-25 22:30] oliver-phet commented on #475
@mattpen What did we decide on Adobe? Do you currently have a license you would want to transfer to the new machine?

[2016-01-26 06:52] ariel-phet commented on #479
Task complete, closing

[2016-01-26 06:52] #479 closed

[2016-01-26 06:54] ariel-phet commented on #472
Excellent, thanks @BryceAG, closing issue

[2016-01-26 06:59] ariel-phet commented on #310
Where are we at on this issue? can it be closed?

[2016-01-26 07:01] ariel-phet commented on #203
@elisemorgan pinging on this issue

[2016-01-26 14:46] daveunderwood commented on #487
Here ya' go, Emily.

![disability_law](https://cloud.githubusercontent.com/assets/13662881/12583615/e9829a20-c400-11e5-9a2a-2c4c8e67d97c.jpg)
![conf_chem](https://cloud.githubusercontent.com/assets/13662881/12583616/e9852fec-c400-11e5-8cc9-033c2c60532f.jpg)
![interactive_chem](https://cloud.githubusercontent.com/assets/13662881/12583617/e989c084-c400-11e5-961c-f2945d807a12.jpg)
Thanks, D

[2016-01-26 17:01] pixelzoom commented on #310
We've been creating issue for individual sims that fail automated testing, so yes, this can be closed. Which I shall now do.

[2016-01-26 17:01] #310 closed

[2016-01-26 18:03] mattpen commented on #465
As soon as this table is complete, I can write a script to standardize all the repos.  It's currently missing the hex-codes for the colors.

[2016-01-26 18:17] phet-steele commented on #486
@jessegreenberg performance on IOS 9.3 beta (Tycho), iOS 9.2 (Witten), and iOS 8.4 (Lave) was all great.

[2016-01-26 21:27] phet-steele commented on #486
@jessegreenberg I'd say I've finished this. There was nothing too crazy :disappointed:

[2016-01-26 21:43] emily-phet commented on #487
@daveunderwood - perfect! Thanks!

[2016-01-26 21:43] #487 closed

[2016-01-26 21:52] emily-phet commented on #383
@daveunderwood - @ariel-phet just reminded me of this issue. Can you update the text on "Volunteers_2" so that it looks like "volunteers_D". Once that's done I think we're all set and I can edit the content as needed. Thanks!

[volunteers_D.pdf](https://github.com/phetsims/tasks/files/105730/volunteers_D.pdf)
[volunteers_2 copy.pdf](https://github.com/phetsims/tasks/files/105734/volunteers_2.copy.

[2016-01-26 23:01] daveunderwood commented on #383
Hi Emily,

The copy you sent of "volunteers_2.copy" simply has a blank text box. Do you want the text from "volunteers_D" to go into that design (black and white/hand)?

D

Dave Underwood

Design and Media Teaching Consultant

PhET Interactive Simulations, Department of Physics

Program for Writing and Rhetoric

University of Colorado Boulder

303 728 4600

________________________________
From: e

[2016-01-26 23:14] aadish opened #488 "Dev Test Isotopes and Atomic Mass V1.0.0-dev.5"
This version is ready for dev testing here is the link : http://www.colorado.edu/physics/phet/dev/html/isotopes-and-atomic-mass/1.0.0-dev.5/isotopes-and-atomic-mass_en.html

At this point we are looking for thorough functionality testing (there are a few known performance issues, mainly a lag when generating "nature's mix")

Please test on the following platforms:

- [x] iPad2 iOS 9+
- [x] Windows

[2016-01-27 00:02] ariel-phet commented on #486
@jessegreenberg feel free to close this issue unless you want to keep it open for reference.

[2016-01-27 00:06] jessegreenberg commented on #486
Closing, this task was referenced as issues were created :thumbsup:.  Thank you for testing @phet-steele!

[2016-01-27 00:06] #486 closed

[2016-01-27 01:33] emily-phet commented on #383
Hi Dave,

Yes, the idea is that they are two versions of the same poster, so the text can be same.

Thanks,

~ Emily
—
Director of Research & Accessibility
PhET Interactive Simulations
http://phet.colorado.edu
Department of Physics
University of Colorado Boulder

On Jan 26, 2016, at 4:01 PM, daveunderwood <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi Emily,

The copy you s

[2016-01-27 02:01] mattpen commented on #475
@oliver-phet I'll be able to figure the adobe part out. I'll remove it from the list.

[2016-01-27 02:06] emily-phet opened #489 "Single Slide for Funder Meeting - Due Monday Feb. 1st"
I have been asked to present a story about an individual the PhET project has impacted. I am allowed one slide that includes an image of that person. Since this is a funder meeting, and this will be the only presentation by the project at this conference, I figure it should look snazzy.

I have decided to tell a story about a student who has been helping with our accessibility efforts, who is blin

[2016-01-27 03:29] ariel-phet commented on #489
Definitely a @daveunderwood project, he is working on Friday so this should be doable.

[2016-01-27 03:45] ariel-phet commented on #482
@mattpen I suggest bringing up this question quickly during status meeting

[2016-01-27 05:04] ariel-phet commented on #488
@phet-steele assigning to you but feel free to enlist help of other QA members

[2016-01-27 06:21] elisemorgan commented on #203
Thanks for the ping @ariel-phet this task has been completed. https://drive.google.com/file/d/0B_TAL-jnJOoKVXlGRWxvOTZ2UUk/view?usp=sharing

[2016-01-27 06:28] ariel-phet commented on #203
:smiley_cat: awesome!

[2016-01-27 06:28] #203 closed

[2016-01-27 14:24] daveunderwood commented on #489
Yup, I've got this one. Send me the particulars as soon as you have them, Emily.
I'm not planning on working until Friday, so it'll be a tight turnaround. I'd like to be ruminating on the design before then, though.

D

[2016-01-27 21:47] mariahmaephet commented on #468
@amanda-phet @ariel-phet
<img width="318" alt="screen shot 2016-01-27 at 2 11 10 pm" src="https://cloud.githubusercontent.com/assets/11527557/12628361/0655a520-c500-11e5-9a9f-d868fc74af19.png">
<img width="550" alt="screen shot 2016-01-27 at 2 11 23 pm" src="https://cloud.githubusercontent.com/assets/11527557/12628362/065aa142-c500-11e5-82e7-4f391e4cf442.png">
<img width="513" alt="screen shot 201

[2016-01-27 21:49] mariahmaephet commented on #468
Let me know about any modifications--I wasn't sure about the beads... they're so simple I can't really think of a way to change them without getting too complicated.

[2016-01-27 21:59] mariahmaephet commented on #436
@arouinfar @ariel-phet is this better?
<img width="655" alt="screen shot 2016-01-27 at 2 59 32 pm" src="https://cloud.githubusercontent.com/assets/11527557/12629785/99618b30-c506-11e5-92b1-4639fa4630da.png">

[2016-01-27 22:01] mariahmaephet commented on #309
@ariel-phet How does this look?
<img width="281" alt="screen shot 2016-01-27 at 3 00 45 pm" src="https://cloud.githubusercontent.com/assets/11527557/12629850/d759da28-c506-11e5-9d22-fe3ac2991bea.png">
<img width="489" alt="screen shot 2016-01-27 at 3 00 53 pm" src="https://cloud.githubusercontent.com/assets/11527557/12629851/d75d1b84-c506-11e5-9454-1172c00436f1.png">

[2016-01-27 22:03] arouinfar commented on #436
Looks great! Thanks @mariahmaephet. I don't have any other tweaks to request, but perhaps @ariel-phet does.

[2016-01-27 22:05] ariel-phet commented on #309
@mariahmaephet I think that is looking pretty good! Anyway you can drop him into a screenshot of the sim for scale and context?

[2016-01-27 22:21] ariel-phet commented on #436
Looks great to me! Can you upload to drive and reassign to me?

[2016-01-28 00:19] arnabp commented on #475
SSD is set up and ready to go!

[2016-01-28 00:23] jonathanolson opened #490 "Molecule Shapes 1.1.2-rc.2 spot checks"
See http://www.colorado.edu/physics/phet/dev/html/molecule-shapes/1.1.2-rc.2/molecule-shapes_en.html

Modified maximum widths of components (panels and real/model radio buttons) and fixed layout of the electron/molecule shape geometry panel so it won't change size with longer strings.

Should be no other changes in the sim or common code that would need testing.

**Dev**
- [ ] Address RC issues

*

[2016-01-28 04:51] #478 closed

[2016-01-28 05:00] ariel-phet commented on #490
@phet-steele please do a few spot checks on this sim and with the longer string tests (I think a quick test on ipad, safari, and chrome should be sufficient).

[2016-01-28 14:24] daveunderwood commented on #489
Hey Emily,

If you get a chance, please send along the pieces for the slide. I know it's due tomorrow, but I'm in meetings, etc., for much of Friday. It would be nice getting a head start. Also, do you have final text available from "volunteers_D.pdf?" I have several iterations, but I want to be certain it's right. It would be easiest to start fresh. (Pasting that text into "volunteers_2.copy.pdf.

[2016-01-28 17:45] phet-steele commented on #490
@jonathanolson you said to not test this, right?

[2016-01-28 17:51] phet-steele commented on #477
@jonathanolson I'm assuming this can be closed?

[2016-01-28 17:57] ariel-phet commented on #477
yes this can be close now

[2016-01-28 17:57] #477 closed

[2016-01-28 18:49] phet-steele commented on #474
@ariel-phet I finished this and checked it off. Closing.

[2016-01-28 18:49] #474 closed

[2016-01-28 19:32] elisemorgan commented on #485
@ariel-phet Testing is complete

[2016-01-28 19:33] phet-steele commented on #470
@mattpen the first link in the google doc for Hewlett Packard is the wrong image, can you find the right one and put it in there?

[2016-01-28 19:39] phet-steele commented on #472
@ariel-phet @oliver-phet I just got a pop up asking if I want to update to iOS 9.3 Beta 2, can I get a go ahead?

[2016-01-28 20:00] phet-steele commented on #488
@aadish I'm looking forward to the next dev version :smile:, this one is complete.

[2016-01-28 20:48] jonathanolson commented on #490
Correct, will create new spot testing issue.

[2016-01-28 21:00] #490 closed

[2016-01-28 21:01] jonathanolson opened #491 "Molecule Shapes (normal/basics) spot testing for RCs"
Changed geometry name panel layout and constraints for large strings (test double/long and a few general checks).

Molecule Shapes: http://www.colorado.edu/physics/phet/dev/html/molecule-shapes/1.1.2-rc.4/molecule-shapes_en.html
Molecule Shapes: Basics: http://www.colorado.edu/physics/phet/dev/html/molecule-shapes-basics/1.1.0-rc.4/molecule-shapes-basics_en.html

[2016-01-28 21:39] phet-steele commented on #491
@jonathanolson :+1: