[2018-11-12 21:49] emily-phet commented on #962
@arouinfar I don't have a preference re wheelchair or not. For the prosthetic legs, I think it just needs to 1) be clearly a prosthetic leg, and 2) look "cool". Maybe something like the second pic above?

[2018-11-12 23:46] phet-steele commented on #967
El fin. I'll double check my work shortly.

I don't know what this means, so I'll let @amanda-phet close when she is ready.

[2018-11-14 22:40] pixelzoom commented on #968
This pattern should also be used in cases where the same font should be used.  For example, SOM repeats this in both screens that have a thermometer:

[code]

So if I want to change the thermometer font, I have to do it in 2 places, and keep them in sync. `THERMOMETER_FONT: new PhetFont( 20 )` should be in `SOMConstants`.

[2018-11-15 17:58] lmulhall-phet commented on #947
Procedure can be found here https://github.com/phetsims/QA/blob/master/doc/qa-book.md#screenshots and here https://github.com/phetsims/phet-info/blob/master/qa-team-info/Screenshots.md.

[2018-11-16 19:30] pixelzoom commented on #947
Reopening.   The [new sim checklist](https://github.com/phetsims/phet-info/blob/master/checklists/sim_new_checklist.md) still indicates 2048x1344.

[2018-11-16 19:35] arouinfar commented on #947
@KatieWoe @lmulhall-phet the [sim port checklist](https://github.com/phetsims/phet-info/blob/master/checklists/sim_port_checklist.md) should also be updated.

[2018-11-16 19:41] lmulhall-phet commented on #947
Both checklists are updated with links to the new instructions... Are there any other documents that need to be updated?

[2018-11-16 19:44] pixelzoom commented on #947
lmulhall-phet said:

It looks to me like the latter is duplicated (copy-pasted) in the former.  Really not a good idea to duplicate this, it will definitely get out of sync at some point.  Better to put a link to the latter in the former.

[2018-11-16 19:45] lmulhall-phet commented on #947
Will do, @pixelzoom.

[2018-11-16 19:47] pixelzoom commented on #947
This was at one point labeled for developer meeting discussion, and apparently that happened but no notes were put in this issue.  So here's today's relevant Slack discussion on the "developer" channel:

Chris Malley [12:35 PM]
Are all devs aware that the size for screenshots was changed from 2048x1344 to 1536 x 1008 ?  This was news to me, perhaps I missed a dev discussion.  Noticed while reviewi

[2018-11-16 20:38] #947 closed

[2018-11-19 20:09] samreid commented on #958
I reviewed each case and it seemed like they intended to send messages to a non-self window.  I'll commit the MDN recommendation shortly.

[2018-11-19 20:10] samreid commented on #958
Pushed, closing.  Will post to slack and check CT to see if anything comes up.

[2018-11-20 19:51] jessegreenberg commented on #958
In phetsims/a11y-research#126, it was found that the a11y view is no longer receiving the "load" message from the sim embedded in the iframe.

[2018-11-20 19:55] jessegreenberg commented on #958
It seems like the check we want is `window.top !== window`. Or maybe `window.parent !== window`

[2018-11-20 19:59] samreid commented on #958
My apologies, @jessegreenberg can you please determine the correct logic for that case?  Also, can you comment on what makes that case unique?  Or do we need to update all of these sites?

[2018-11-20 20:13] jessegreenberg commented on #958
I inspected each case, I believe the intention for each is to send a message to the parent frame so `window.parent !== window` seems correct. I tested a11y-view and the color picker iframe tool, they seem to be working correctly.

LoL harness isn't working I can't tell if that is because of this change or something else, Ill keep looking.

[2018-11-20 20:17] jessegreenberg commented on #958
@samreid seem OK to reclose?

[2018-11-20 20:18] samreid commented on #958
You're right, thanks for correcting this, closing.

[2018-11-21 00:57] megan-phet commented on #962
<img width="396" alt="screen shot 2018-11-20 at 5 48 56 pm" src="https://user-images.githubusercontent.com/40698031/48811827-ba7d2200-ecec-11e8-913b-afb479ebaee1.png">
<img width="373" alt="screen shot 2018-11-20 at 5 49 14 pm" src="https://user-images.githubusercontent.com/40698031/48811829-bcdf7c00-ecec-11e8-8372-e9cddcaf5e10.png">

[2018-11-22 22:08] lmulhall-phet commented on #715
What's going on with this issue? Can it be closed?

[2018-11-27 23:13] arouinfar commented on #962
Looks awesome @megan-phet! I think the 2nd option has a very cool prosthetic, but I think we'll have to wait and see how well it scales since the skater's size changes with mass.

![image](https://user-images.githubusercontent.com/8419308/49117623-91b1db00-f25e-11e8-8d2a-7bd1248a3324.png) ![image](https://user-images.githubusercontent.com/8419308/49117648-a42c1480-f25e-11e8-9ebc-103f644d3dc1.png)

[2018-11-29 17:13] jonathanolson commented on #969
Sounds like a good question for @ariel-phet in general. It sounds like the biggest concern is crashes due to memory usage. Patterns like those mentioned above ALSO improve cpu performance, so it seems generally nice to do for common code.

I've generally been trying to write the most readable/maintainable code up front, handling performance/memory issues where problems arise, but we could definite

[2018-12-03 18:56] arouinfar commented on #939
The artwork has been committed in `wave-interference` so there's nothing else left to do here. Thanks @clmccutchan!

[2018-12-03 18:56] #939 closed

[2018-12-05 17:47] jessegreenberg opened #970 "All a11y listeners should use scenery.Event instead of DOMEvent"
From https://github.com/phetsims/scenery/issues/888, now that many listeners are passing a scenery Event as the arg to listeners I think it would make things easier to read if all a11y functions did this moving forward, especially in common code. For instance, in KeyboardDragListener instead of passing the optional `start`  function a DOMEvent, it would be more unified if it received a scenery.Eve

[2018-12-05 18:55] zepumph commented on #970
No concerns. This is great. This implementation seems like it will cover discussion in https://github.com/phetsims/scenery-phet/issues/408#issuecomment-444571306. Should we close that one to be done here?

[2018-12-05 19:21] jessegreenberg commented on #970
Thanks @zepumph, sounds good.

[2018-12-05 20:21] jessegreenberg commented on #970
Running through local tests now, Ill commit if all looks OK. I tried to find all cases of this by searching for usages of `click:` `focus:` `blur:` `change:` `input:` `keydown:` `keyup:` `event.preventDefault` and `keyCode ` and `event.which`. Hopefully this caught everything.

[2018-12-05 20:53] jessegreenberg commented on #970
Local aqua is passing, scenery unit tests are passing.

[2018-12-05 21:14] jessegreenberg commented on #970
Closing, but Ill keep an eye on CT. @mbarlow12 if you would like to discuss this further, please feel free to reopen.

[2018-12-05 21:14] #970 closed

[2018-12-06 23:02] samreid opened #971 "Address issues on CT"
There are currently several different Bayes CT issues that I could help out with, many related to PhET-iO, some or all are tracked in separate issues.  This issue is to put it on my TODO list to review and address them.

[2018-12-08 21:35] samreid commented on #971
I addressed ESPB issues and commented on the Sugar and Salts issues.  Putting on hold for now.

[2018-12-11 17:56] zepumph opened #972 "Remove `for of` loop from sim code"
It looks like babel transpiles this into using `Symbol` and expects a polyfill. We don't do polyfill that right now. On top of that @jonathanolson says that `forEach` loops are faster even with the closure. As a result we should convert usages to that, and when necessary use the traditional `for (let i=0; i<length; i++)`.

I see 75 usages of `for \( let \b[A-z]*\b of`, though many can stick around

[2018-12-11 18:03] samreid commented on #972
See also https://github.com/phetsims/wave-interference/issues/223

[2018-12-12 15:51] samreid commented on #972
Pushed new lint rule that prevents `for...of`.  This will prevent it from leaking into our sims, and will help encourage us to use consistent style across sims + tools.

[2018-12-12 19:02] pixelzoom opened #973 "Replace inappropriate uses of `let` with `const`"
(1) Replace inappropriate uses of `let` with `const`.   Use `let` only for things that will be modified.

(2) Investigate whether we need another lint rule.

<details>
<summary>Slack discussion</summary>

Chris Malley [11:53 AM]
Hey devs, I’m looking through recent common code changes, and I suspect that some devs are confused about when to use `const` vs `let`.   Use `const` for things that will

[2018-12-12 19:02] samreid commented on #973
Lint can catch this:

[code]

And lint can auto-fix this.  There are currently 564 occurrences of this across our codebase.

[2018-12-12 22:02] zepumph commented on #973
I'm going to go through and try to hit a bunch of these that are my fault.

[2018-12-12 22:53] zepumph commented on #973
As I'm going through this I'm finding that there is one issue with the lint rule above. There is one case that requires either ignoring the lint rule, or refactoring.

[code]

This will be triggered by the prefer-const rule because the value is not reassigned. Unfortunately the following is illegal:
[code]

So either we need to disable the rule, or code around it.

I'll be committing shortly, so f

[2018-12-12 23:04] pixelzoom commented on #973
Declaring a variable without initializing its value is a code smell.   Both of the examples in the preceding comment (for `let` and `const`) have that smell.   In both of the example above, simply wait to declare until you assign.

[2018-12-12 23:04] zepumph commented on #973
Scratch that I'm going to do all of them.

[2018-12-12 23:05] zepumph commented on #973
I agree except that sometimes it is nice to declare in a larger scope, and then initialized in a loop or something.

[2018-12-12 23:07] pixelzoom commented on #973
Then use `let something = initialValue` in the outer scope, and change it's value in the inner scope.

[2018-12-12 23:14] pixelzoom commented on #973
Example from GQCheckBox:

[code]

If you really want to be bulletproof, `assert( content, '...' )` after the `if` statement.

[2018-12-12 23:23] zepumph commented on #973
Sounds good to me, thanks.

[2018-12-13 03:19] jonathanolson commented on #972
Definitely don't want to have to provide an eslint disable for most of my for-loops in Node.js code.

How about we deliberately have separate Node.js and browser rules? For example, you never want to reference a global `window` in Node.js since it doesn't exist. But presumably we don't want to have an eslint line disable comment for every usage of `window`, etc. (or would you feel otherwise?)

[2018-12-13 17:02] clmccutchan commented on #955
@amanda-phet Finally!! Let me know how these look and what needs to be fixed.

![fractions_cakes_whole](https://user-images.githubusercontent.com/25354670/49954610-1424d680-febe-11e8-9a24-55513beca12e.png)
![fractions_cakes_eighth](https://user-images.githubusercontent.com/25354670/49954604-12f3a980-febe-11e8-8df9-5f6985e087db.png)
![fractions_cakes_fifth](https://user-images.githubusercontent.com

[2018-12-13 18:10] amanda-phet commented on #955
These look great! I said we didn't need the 1/6 piece, but since yours all look really sharp and maybe slightly different from 1/6, can you make that piece too?

[2018-12-13 19:56] jessegreenberg commented on #972
Possibility to extend eslintrc files? https://eslint.org/docs/developer-guide/shareable-configs#using-a-shareable-config

[2018-12-13 19:57] pixelzoom commented on #972
12/13/18 dev meeting:  @zepumph will investigate splitting into sever (Node) vs browser lint rules.

[2018-12-13 20:00] zepumph commented on #972
High priority so this doesn't fall off my list.

[2018-12-13 20:22] Denz1994 commented on #973
Lint rule has been created by @zepumph. Devs have been made aware.

[2018-12-13 20:52] clmccutchan commented on #955
@amanda-phet You bet!

[2018-12-13 21:49] pixelzoom commented on #966
@samreid FYI... I converted the "singular" list in https://github.com/phetsims/tasks/issues/966#issue-376096392 into a check list.  And I took care of my sims.

[2018-12-13 23:02] zepumph commented on #972
Looking into https://github.com/eslint/eslint/issues/6460 it doesn't look like we can support this with one eslint file, but perhaps we can still handle this within chipper.

Before we supported es6 linting in all repos (and sim code), we had eslintrc files all over the place specifying that it was es6. Rather than trying to do a solution like that, I wonder if we can just have two lists in lint,

[2018-12-13 23:10] lmulhall-phet opened #974 "Put up whiteboard in F925"

[2018-12-14 01:03] zepumph commented on #972
I tried the following and thought it would work, but I can't see to get it to:

`chipper/js/grunt/.eslintrc`:
[code]

`chipper/eslint/node_eslint.js`:
[code]

But I can't get this to work. If it did, the next step would be to add the basic eslintrc to every dir we wanted to be linted with node.

Next I'm going to try having two instances of CLIEngine in lint.js because you can specify different en

[2018-12-14 02:49] zepumph commented on #972
After discussing with @samreid, we made some good progress!

the dead end I found in https://github.com/phetsims/tasks/issues/972#issuecomment-447176812 had to do with the fact that we were using `configFile` option in eslint.CLIEngine in lint.js, and that has precedent over any other eslintrc files in directories. So we weren't able to override our "defaults" by adding an eslintrc file in, say, `

[2018-12-14 03:35] samreid commented on #972
https://eslint.org/docs/developer-guide/nodejs-api#cliengine

ahhh so maybe we can just load the base config as a string, and then have the files override it.

on second thought, I don’t know how that would plug in to IntelliJ

[2018-12-14 18:56] clmccutchan commented on #955
@amanda-phet Here's 1/6.

![fractions_cakes_sixth](https://user-images.githubusercontent.com/25354670/50021760-50783580-ff97-11e8-9a63-fe3b0df2bcd8.png)

[2018-12-15 00:55] zepumph commented on #972
Alright, with the immense help of @samreid, I was able to get to a commit point. This piece of writing is a bit of a hunk (sorry), but I would like devs to understand it as best they can so we can discuss next steps at developer meeting.

Here is how lint now works in the project now:

Well maybe it would be best to explain how it used to work. Before we just had one file. It was simple enough to

[2018-12-26 19:21] zepumph commented on #972
In the above commit, we added a "sub" `.eslintrc.js` file to specify a global that we are only allowing in a single wrapper. This could become a convention for how we allow sub directories to add on addition lint rules. I hope to discuss further about how we likely will only want to do with sparingly (mit Geschmack). No matter this seemed useful enough to us to commit to master before discussing.

[2018-12-26 21:53] chrisklus opened #975 "Cleanup .gitignores"
@zepumph, @samreid, and I found some inconsistencies with .gitignore files when working on https://github.com/phetsims/phet-io-wrappers/issues/221.

We think the model .gitignore should look something like:

[code]

So basically, for most sims, this just means removing build-phet-io, which we no longer use.

[2018-12-27 02:46] zepumph commented on #975
@samreid, once you left the call today, @chrisklus  and I went through the rest of the entries in the `.gitignore` files for repos, and things seemed good to us. As a result, the only change I have made is to get rid of `build-phet-io/`. Is there anything else to do here?

[2018-12-27 21:14] zepumph commented on #972
We discussed this at the dev meeting today. People were excited about having three rc files that could be extended:
 * a base one for most things, including es5 sims
 * a node one
 * a sim specific es6 one for sims entirely in es6

We also wanted to take some time to go through globals currently defined in the main `.eslintrc.js` file and see if (a) some should be removed, and (b) if any only have

[2018-12-27 21:57] zepumph commented on #972
I'm not going to add `no-var` to the node rules right now, because there are 700+ usages in the repos we are linting with node rules ( mostly in aqua). I will tackle that soon though.

[2018-12-27 22:01] zepumph commented on #972
- [ ] There are over 100 usages of `/* eslint-env node */`, but we can now specify that in the node eslint file and remove those usages when they are in node repos.

[2018-12-27 23:07] zepumph commented on #972
I could not do this without adding package.json files to basically all of the repos, which I didn't want to do, nor did I think it was better long term. I renamed to a better name ('no-lint'). For now I think we should move on.

[2018-12-27 23:47] zepumph commented on #972
Now the only places where we put `eslint-env node` is to override a default config that is for sim, not for node repos.

[2018-12-28 01:03] zepumph opened #976 "add `no-var` to node lint rules"
From https://github.com/phetsims/tasks/issues/972. This code doesn't need to support ie11, and for the most part it already uses no-var anyways. We should make sure that it uses let/const correctly and consistently.

[2018-12-28 01:08] zepumph commented on #972
Everything here has been done or has separate issues addressing it. @samreid please review.

[2018-12-28 01:10] zepumph commented on #976
I added the no-var rule to node config above, and I converted quite a few files to accomplish this. It would be good to get a review on this. For the most part it seems like it was in files that are not sim files, so it felt safe to me. Please review.

[2018-12-29 02:43] zepumph commented on #972
One thing I should still do:
- [ ] convert the "JSON-like" stuff in .eslintrc.js to our code conventions of javascript. For example get rid of double quotes.

[2018-12-31 01:52] samreid commented on #972
I would even consider getting rid of quotes from keys that don't need them at all.  For example:

[code]

etc.

[2019-01-03 04:56] samreid commented on #969
I want to look at this from a many-year perspective.  We want to maintain our simulations for many years, and make it easy to add accessibility, phet-io and other features as desired.  Our supported platforms are gaining more memory and more CPU power.

In Energy Skate Park: Basics, we sacrificed readability/maintainability in order to reduce allocations--see for example the commits in https://git

[2019-01-03 20:23] samreid commented on #969
@ariel-phet: It is a natural part of PhET evolution that our software uses more memory and CPU as we move forward.  We will keep an eye on it, but we don't have plans to suddenly support older/slower platforms.  I'm generally OK with our current policy: dropping older, slower platforms as their usage drops off the chart.  Most of our software still has good performance on our most used platforms,

[2019-01-03 20:28] samreid opened #977 "Review phet-info/doc/phet-software-design-patterns.md"
From https://github.com/phetsims/tasks/issues/969#issuecomment-451265925 @ariel-phet recommended that all PhET developers are aware of this doc.  @pixelzoom volunteered to take an initial look through this document.

[2019-01-03 20:32] pixelzoom commented on #977
Duplicate of https://github.com/phetsims/phet-info/issues/88.

[2019-01-03 20:32] #977 closed

[2019-01-09 23:06] pixelzoom opened #978 "estimate to port Fourier"
@ariel-phet requested a ballpark estimate to port _Fourier: Making Waves_ from Java to HTML5.  Assume that the basic layout will be the same, and only minor UI changes will be required.   Assume that we don't a 3rd-party library for charts.

My previous overview from https://github.com/phetsims/tasks/issues/354:

Deadline is Wednesday, January 23.  Earlier is better.

[2019-01-09 23:13] pixelzoom opened #979 "3rd-party chart libraries"
According to @ariel-phet, some upcoming sims will need charts (Fourier, Moving Man,...)  PhET has griddle, but undertaking a full-featured chart library may not be in PhET's best interests.  So investigate 3rd-party chart libraries that meet PhET's feature and licensing needs.

JFreeChart has been ported to JSFreeChart, see https://github.com/jfree/jsfreechart

[2019-01-10 20:29] jonathanolson opened #980 "Project-wide common code review (a11y/phet-io)"
Summary (for making changes):

- Before you work on changes, look at outstanding work or problems related to the code.
- Before adding phet-io or a11y, evaluate and understand what is about to be added. Is there a good fit between the current implementation and what you need to do? (If not, decide what the scope of changes should be)
- As you're adding features, all of the typical code review item

[2019-01-10 20:31] samreid commented on #980
Equally or more importantly, identifying which files are not yet instrumented, and will require significant refactoring/rewriting/modularization before it is appropriate to instrument.

[2019-01-10 20:32] zepumph commented on #980
Before diving in too much about this, I think it would be good to flush out what the type of comment would be at the top of files. I think it would be important to not be so specific that it becomes hard to maintain, but also it should specify enough information that someone doesn't still need to check in the code. If that balance can't be found maybe this would just be a wasted cost.

[2019-01-10 20:52] pixelzoom commented on #972
FYI, adding this to all package.json files:

[code]

... has made it impossible to cherry pick and run `grunt lint` without checking out all dependencies for a release branch.

For example, this fails:

[code]

I need to get shas for all dependencies in order lint sim-specific changes.  E.g., this works:

[code]

Mighty inconvenient, but I guess we'll have to live with it.

[2019-01-10 21:05] pixelzoom commented on #972
I see 128 occurrences of this in project-wide package.json files:

[code]

Why is this needed in every sim's package.json file? For the same reason that we don't repeat "phetLibs", "preloads", etc. in every package.json, why is this default not specified in chipper/build.json?

[2019-01-10 21:06] samreid commented on #972
This convention is required by ESLint, see https://eslint.org/docs/user-guide/configuring

[2019-01-10 22:07] zepumph commented on #972
This is not for build, this is for our linting in requirejs mode. Each repo needs eslint configuration specified. Rather than just having a single file for all linting, the structure of the file system specifies the eslint config desired for that directory.

[2019-01-11 15:00] jessegreenberg opened #981 "Shoud "Box" suffix be lowercase everywhere?"
In https://github.com/phetsims/tasks/issues/910 we decided to change CheckBox to Checkbox for consistency. We have other *Box classes, should they be renamed too? Also related to https://github.com/phetsims/sun/issues/440

ComboBox
ComboBoxDisplay
ComboBoxItem
ComboBoxItemNode
LayoutBox
AccordionBox
AlignBox

And many others in sim code. @samreid what do you think?

[2019-01-11 15:00] jessegreenberg commented on #981
Also in https://github.com/phetsims/tasks/issues/909 ToolBox was renamed to Toolbox.

[2019-01-11 15:02] samreid commented on #981
Wikipedia lists "Checkbox" as one word but "Combo box" as two words.  Likewise it seems like "Accordion Box" is two words, "Layout Box" is two words and "Align Box" is two words.

[2019-01-11 15:03] samreid commented on #981
"List Box" is also listed as 2 words.

[2019-01-11 15:41] jessegreenberg commented on #981
Got it, thanks. I was comparing against attributes in the [ARIA spec](https://www.w3.org/TR/wai-aria-1.1/), but all attributes are lowercase so that shouldn't have been used. At that link I see two cases of "List Box" in documentation.

[2019-01-11 15:41] #981 closed

[2019-01-11 22:40] pixelzoom commented on #978
Fourier is also dependent on a PhET-specific package called "charts".  It does not use JFreeChart.

[2019-01-11 22:51] pixelzoom commented on #978
Fourier has 18 Unfuddle tickets that need to be triaged.   The only issue that is relevant to the HTML5 version is [#2152 revisit game levels](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/2152?cycle=true).

[2019-01-11 23:10] pixelzoom commented on #978
Fourier is a 3-screen sim, written by me. Implementation started in May 2005, and 1.00 was published in August 2005. The most recent version (3.06) was published in July 2011.

The Java implementation has about twice as many lines of code as Graphing Lines (19286 vs 9866), another 3-screen sim that I wrote in Java and ported to HTML5.  Fourier has sophisticated charting needs, and PhET currently l

[2019-01-11 23:17] pixelzoom commented on #979
@ariel-phet Even if PhET finds a chart library that meets feature and licensing needs, there's no way that it will match PhET's a11y and PhET-iO requirements.  And you definitely don't want to be adding a11y and PhET-iO instrumentation to 3rd-party code. So if PhET is planning sims that have significant chart needs, then you should anticipate a significant cost to create a general chart package.

[2019-01-14 19:01] zepumph opened #982 "Allow modifier parens on @private?"
@samreid @chrisklus @jessegreenberg @jonathanolson @zepumph @jbphet were involved in a discussion around the `@private` annotations and adding specifying parens afterwards, like in `RectangularButtonView.js`

[code]
That was added while converting the press listener from a `var` to a member variable (property). The annotation was specified because if it weren't for its a11y usage it wouldn't have

[2019-01-16 17:52] ariel-phet commented on #979
Discussed with @kathy-phet briefly and she agreed that given our desires for both a11y and iO we will need to "roll our own" charting library. Likely as we begin to design Moving Man we will simultaneously be considering requirements for a charting library and plan to work on this library as a supporting project potentially with several developers.

[2019-01-16 17:52] #979 closed

[2019-01-16 17:53] ariel-phet commented on #978
@kathy-phet here is the information for estimates of porting Fourier that we discussed. Use at your discretion to produce an estimate for the STROBE folks.

[2019-01-16 22:57] zepumph commented on #982
The above is a bad example, and I don't want to divert this issue. What if the above press listener was private and read only?

[code]

that looks reasonable to me, but maybe no?

[2019-01-17 02:57] samreid commented on #982
Yes, we should keep the read-only modifier.

[2019-01-17 19:36] pixelzoom commented on #968
1/17/19 dev meeting: No objections to above. Closing.

[2019-01-17 19:36] #968 closed

[2019-01-17 20:15] zepumph commented on #982
Consensus during dev meeting, we decided that firstly, we reiterated that the modifier (like `(phet-io)`) is just that, it modifies the annotation, rather than expanding on it or explaining it. With that in mind we decided that for `@private` there is no need for modifiers, save `read-only` because it only applies to that file anyways. We also don't want to add documentation that needs to be kept

[2019-01-17 20:15] #982 closed

[2019-01-17 20:55] zepumph commented on #972
I believe everything has been done for this issue. Further work in linked issues above.

@pixelzoom as for the error you pointed out, I have two thoughts.

* The chipper lint config doesn't change all the time, but if we added a lint rule that the old rc of BCE failed, then it would be reasonable to think that you would have to checkout old chipper in order to get lint to pass. To me finding a bug

[2019-01-18 00:18] pixelzoom commented on #972
Thanks for investigating options.

I'll live with having to checkout-shas in order to cherry pick.

Closing.

[2019-01-18 00:18] #972 closed

[2019-01-18 19:40] zepumph opened #983 "What to do about ` static get ` in es6 classes"
I see 10 usages of ` static get ` in our code (Input.js and Client.js). Likely all from me. After talking with @samreid about it, and looking at https://github.com/phetsims/phet-info/issues/82#issuecomment-443808272 and https://github.com/phetsims/wave-interference/issues/281 it seems like we don't want to put attributes on classes this way.  @samreid said it has to do with babel.

Should these us

[2019-01-18 19:42] samreid commented on #983
Right, those look like good candidates to move to static properties as described in https://github.com/phetsims/wave-interference/issues/281.  Once babel supports static attributes, they can be moved back.

[2019-01-18 19:44] zepumph commented on #983
Sounds good I'll convert usages.

[2019-01-18 19:45] zepumph commented on #983
It seems like this should be added to a lint rule, perhaps ` static get ` is now bad text in sims. Would you like me to add this @samreid?

[2019-01-18 19:46] samreid commented on #983
Yes please.

[2019-01-18 23:10] zepumph commented on #983
I can start with this patch next time I work on it:
[code]

[2019-01-22 17:13] jessegreenberg opened #984 "Remove a11y strings marked with visible: false from string files"
From https://github.com/phetsims/john-travoltage/issues/325, there are 15 strings thorughout the project in translatable strings files marked as `visible: false`. We initially considered this as a strategy to remove a11y strings from the translation utility and mark them for a11y. But we have since moved to using files like *A11yStrings.js to hold a11y strings.

These strings are only used in the

[2019-01-22 18:13] samreid commented on #966
I made these changes in my working copy and ran a full aqua an phet brand.  No problems noted.  I sent the following message to slack:

[2019-01-22 18:39] pixelzoom commented on #966
So everything in the checklist in https://github.com/phetsims/tasks/issues/966#issue-376096392 can be checked?

[2019-01-22 18:42] samreid commented on #966
I think my commits + pushes will cover the entire checklist.

[2019-01-22 21:34] jessegreenberg commented on #984
I should also mention, in https://github.com/phetsims/john-travoltage/issues/325 @jbphet said

So this is the inspection I am doing as I go through these.

[2019-01-22 21:54] jessegreenberg commented on #984
Done with the above commits. This mostly involved forces-and-motion-basics, but there were 2 strings each in joist and scenery-phet. Most were just removed, as equivalent strings were already in and being used from JoistA11yStrings.js and SceneryPhetA11yStrings.js. The only exception was the accessible label for the Reset All button, which was moved to SceneryPhetA11yStrings.

Closing.

[2019-01-22 21:54] #984 closed

[2019-01-22 22:14] samreid commented on #966
After noticing that my working copy had text like "Utilsities" in the iOS repo, I realized I'll need to try this again.

[2019-01-23 16:58] samreid opened #985 "Make sure ResetAllButton size and pointer area is OK in each sim"
In https://github.com/phetsims/scenery-phet/issues/458#issuecomment-456872033 we decided to change the default ResetAllButton radius and pointer area.  We will need to do the following additional steps:

(a) simulations that were using the default size will now have a smaller ResetAllButton, with a larger pointer area.  We will need to look through and make sure this doesn't cause any layout issue

[2019-01-23 21:58] samreid commented on #985
Sorry for the wild goose chase, after our discussion earlier I realized what we really need to check are simulations that use the default ResetAllButton radius (not the list of simulations with non-default screen bounds).  Maybe I can print out a list of that with the help of aqua.  I'll take a look.

[2019-01-23 22:45] samreid commented on #985
This list should be more helpful. I ran all the simulations through aqua and printed out the simulation name if it created a ResetAllButton with the default radius.  Hence they are the only ones that could have changed in https://github.com/phetsims/scenery-phet/issues/458#issuecomment-456872033

- [ ] acid-base-solutions
- [ ] area-model-algebra
- [ ] area-model-decimals
- [ ] area-model-introduc

[2019-01-24 05:06] samreid commented on #985
Discussion with @ariel-phet on Slack:

Ariel Paul [9:09 PM]
Also for https://github.com/phetsims/tasks/issues/985 I am finding several sims where the dilation is larger than agreed upon
Is is possible just to make every sim use the default?

Sam Reid [9:10 PM]
for the dilation, or for the radius?

Ariel Paul [9:10 PM]
Dilation definitely, radius maybe
I know that the "actual" radius will depend on

[2019-01-24 05:07] samreid commented on #985
I've identified all of the ResetAllButton touchAreaDilation overrides and removed them.  Will commit shortly.

[2019-01-24 05:09] samreid commented on #985
I commented on slack:

[2019-01-24 05:15] samreid commented on #985
@ariel-phet I committed removal of the overrides for ResetAllButton touchAreaDilation.  What's next?

[2019-01-24 19:45] ariel-phet commented on #985
AP self note:

unchecked in list above will need some sim specific issues (minor tweaks)

Build a fraction Reset button moves between screens, not a problem but would be a nice polish in future

[2019-01-30 02:56] ariel-phet commented on #985
Issues made in relevant sims. Closing

[2019-01-30 02:56] #985 closed

[2019-01-30 16:33] samreid commented on #966
I message on Slack:

Does everyone have the SHAs they want?  https://github.com/phetsims/tasks/issues/966 came up next on my TODO list.

But on second thought it will be safer to wait until after July 31.  Going on hold for a while.

[2019-02-01 15:45] samreid opened #986 "Record stable SHAs for next RCs or Publications"
From yesterday's developer meeting notes:

JG: There are some changes in the wings that are potentially destabilizing to master.  Does anyone need to publish soon (and who therefore needs stable SHAs on master)?
CM: Graphing Lines 1.3.0, Graphing Slope-Intercept 1.1.0 (> Feb 4)
JO: Molecule Shapes Basics - requested in early March, would like to get done in Feb
DB&AP: Masses and Springs Basics - g

[2019-02-01 16:33] pixelzoom commented on #986
RCs for my sims were published yesterday afternoon during dev meeting. So I'm all set.

[2019-02-01 20:05] jonathanolson commented on #986
I branched earlier today, I'm all set.

[2019-02-01 20:51] Denz1994 commented on #986
Branch created for MASB, so I'm set. I'll reassign @samreid.

[2019-02-01 23:31] samreid commented on #986
Thanks @jonathanolson @Denz1994 @pixelzoom, closing.

[2019-02-01 23:31] #986 closed

[2019-02-05 15:32] samreid commented on #976
This rule is working as desired:

![image](https://user-images.githubusercontent.com/679486/52283695-310ae280-2920-11e9-874e-7e79da9b4dfc.png)

I reviewed the rule specification in node_eslintrc.js and sim_es6_eslintrc.js and they seem good.

[2019-02-05 15:32] #976 closed

[2019-02-15 01:47] zepumph commented on #983
Implemented above, and the lint rule was added to the sim specific bad text. @samreid please review.

[2019-02-15 14:22] samreid commented on #983
Looks great to me, my only question was about the leading whitespace before 'static'.  Does eliminating the whitespace introduce any false positives?  The leading whitespace seems to be relying on our nesting and formatting conventions.

[2019-02-15 16:39] Denz1994 opened #987 "Investigate use of Typescript"
From Dev Meeting: 02/14/19

While reviewing https://github.com/phetsims/dot/issues/84, it became apparent that the loosely typed nature of javascript makes refactors more difficult, as seen by the commits made by @samreid [here](https://github.com/phetsims/dot/issues/84#issuecomment-463889327). @mbarlow12 was advocating that [Typescript](https://www.typescriptlang.org/) may be a useful alternative

[2019-02-15 17:03] zepumph commented on #983
No false positives or anything. I thought about it, but it seems the most complete to me. Also note that I'm pretty sure this will only ever be within a class declaration and scope. What do you think is best?  I don't want a false positive on "what an ecstatic get he is." :)

[2019-02-15 18:32] samreid commented on #983
That sounds reasonable, thanks for adding this! Closing.

[2019-02-15 22:55] mbarlow12 commented on #987
Here's a rough plan of attack:
- [ ] create `tsploration` branch in dot
- [ ] add types directory & populate `index.d.ts` (dot doesn't need to know about TS)
- [ ] create new sim repo & add minimal necessary packages
- [ ] assess impact of requirejs (there may be ways around this or ways to integrate with it)
- [ ] tinker

My biggest question/concern is how we're handling module dependencies. If I

[2019-02-16 00:31] samreid commented on #987
We would have the same barrier to using Flow for types.

[2019-02-18 21:05] chrisklus opened #988 "Update copyright dates"
Files that have been modified since the beginning of 2019 should have their copyright year updated, if  not already done.

I discussed this with @samreid, and he said that `perennial/bin/for-each.sh active-runnables "grunt update-copyright-dates"` or `perennial/bin/for-each.sh active-runnables grunt update-copyright-dates` should handle this in one go.

Relevant slack conversation for how I should

[2019-02-18 21:48] chrisklus commented on #988
This is complete, and went pretty smoothly. For future reference, here are the steps I took (in a slightly adjusted order for better lint-error handling):

1. Notify slack dev channel to please not push for a short while
2. `perennial/bin/pull-all.sh -p`
3. `perennial/bin/for-each.sh active-runnables npm install`
4. `perennial/bin/for-each.sh active-runnables grunt update-copyright-dates`
5. `pere

[2019-02-18 21:48] #988 closed

[2019-02-20 11:50] emily-phet opened #989 "Spreadsheet Help - Need by Feb. 22nd (Friday)"
I'm working on a grant proposal, and would like someone to complete a spreadsheet of a collaborators list of co-authors. This person has a lot of co-authors!

Please take the attached spreadsheet, [Mackay_Collaborators.xlsx](https://github.com/phetsims/tasks/files/2884463/Mackay_Collaborators.xlsx) start at line 67, and list all the co-authors and their affiliations from this [webpage](https://ex-

[2019-02-20 20:30] ariel-phet commented on #989
@kellywurtz said should would be able to work on this task.

[2019-02-20 21:11] emily-phet commented on #989
@ariel-phet Thanks! I think @phet-steele may have already started on this. He asked me a question on Slack earlier today.

[2019-02-20 21:21] emily-phet commented on #989
@kellywurtz Let me know if you have any questions!

[2019-02-20 21:49] kellywurtz commented on #989
[Mackay_Collaborators.xlsx](https://github.com/phetsims/tasks/files/2886619/Mackay_Collaborators.xlsx)

Let me know if this looks alright! I also took down the email addresses from those who had them on their paper.

[2019-02-22 20:12] emily-phet opened #990 "Design Thinking process graphic"
From conversation with @elharden2 today:

Learn _(about the users and context)_
Define _(the problem or design challenge)_
**Brainstorm** _(design ideas)_
**Build and Refine** _(a prototype)_
**Test and Retest** _(the prototype)_
Share

Brainstorm, Build and Refine, and Share steps can be displayed in a circle (like the 'Research' step in the PhET R&D diagram) to indicate that you can cycle throug

[2019-02-22 20:16] emily-phet commented on #990
Sorry for the confusing issue - using commenting across repos for the first time.

Here's the original comment https://github.com/phetsims/a11y-research/issues/131#issue-410031492 that was discussed in the a11y repo. The final wording was decided on and that is what is commented above.

Would like to have a finalized version of this by mid-March.

[2019-02-26 03:04] ariel-phet commented on #990
@kellywurtz is on the case

[2019-02-26 04:00] ariel-phet commented on #990
@kellywurtz questions can be directed to @elharden2

[2019-02-26 19:05] kellywurtz commented on #990
@emily-phet @elharden2 Re-posting since I accidentally posted in the old issue. Here's the first draft! (things inside the learn circle are a bit off-center in this version, will be fixed in the next draft).

![image](https://user-images.githubusercontent.com/42352972/53439170-b41ed600-39be-11e9-8d98-8ba205f708f9.png)

[2019-02-27 18:20] emily-phet commented on #989
Thanks @kellywurtz - meant to tell you sooner, but this was perfect! Special thanks from me, and from Wendy!

[2019-02-27 18:20] #989 closed

[2019-02-27 18:50] emily-phet opened #991 "Reference formatting - need by 10am MT Feb. 28"
Need to have this list of 43 references in APA format by 10am MT Feb. 28th.
[ReferencesCited.docx](https://github.com/phetsims/tasks/files/2911807/ReferencesCited.docx)

Here are other reference lists with a lot of overlap, APA formatted.
[References.docx](https://github.com/phetsims/tasks/files/2911813/References.docx)

I need someone to copy/paste the APA formatted version of each reference into

[2019-02-27 19:03] ariel-phet commented on #991
@phet-steele is on the :briefcase:

[2019-02-28 18:19] phet-steele commented on #991
This was finished and delivered last night.

[2019-02-28 18:19] #991 closed

[2019-03-05 12:05] emily-phet commented on #990
@kellywurtz very nice! I really like the color palette and the little icons. A few thoughts:
- How about a color a little more green for "test"
- can you move the whole "brainstorm, build+refine, test" circle up, so that the center of the 'circle' is even with the 'learn, define, share' row?
@elharden2 Any other suggestions?

[2019-03-05 20:33] samreid opened #992 "Testing for Map"
From https://github.com/phetsims/phet-info/issues/93, we would like to create a simple usage of Map and request QA to test it on all of our supported platforms.  MDN indicates it is supported, but @jbphet indicated trouble in https://github.com/phetsims/expression-exchange/issues/102.  But maybe things have changed since then.

[2019-03-05 23:39] elharden2 commented on #990
@kellywurtz @emily-phet Agreed! The colors are great and it's a fun little graphic.  I concur on shifting the cyclical process up so that it is more in line with the rest of the process.  One thought I have is looking at it now, it seems like having 'Build and Refine' in the same circle is a bit confusing. Wouldn't the sequence more likely be Build-->Test-->Refine OR Build-->Test-->Brainstorm-->Re

[2019-03-07 15:13] kellywurtz commented on #990
@elharden2 I'd say I'm in favor of making it an "or" instead of dropping "refine" entirely. I'll wait to hear @emily-phet 's opinion on that ordering/wording, but for now, here's a new version with the cyclic process up higher.

<img width="939" alt="screen shot 2019-03-07 at 8 09 14 am" src="https://user-images.githubusercontent.com/42352972/53966452-6ede6080-40b0-11e9-8171-7b83e926993c.png">

[2019-03-10 23:24] emily-phet commented on #990
Whatever @elharden2 thinks will be the most helpful for the students she works with. We can always tweak more later after seeing how they interpret it.

Also, maybe we could try not having the light grey color (which somehow looks more egg shaped than circular - though I think it's a circle). Maybe having the arrows going around the circle look different than the ones going left to right - perhaps

[2019-03-11 15:51] elharden2 commented on #990
Let's change the + to an 'or' so it says 'Build or Refine'. And I agree, let's nix the light gray background circle and just keep it simple.  Looks great, @kellywurtz, thanks!!

[2019-03-14 00:13] kellywurtz commented on #990
@elharden2 @emily-phet Here's a version without the grey background. As far as using different arrows goes, these are ever so slightly different, but another idea is using outlines of arrows (white center) instead of the solid ones I have right now. That option not built into Illustrator, so since it would take a few extra steps, I figured I would see how you guys feel about the idea first, or if

[2019-03-15 04:18] emily-phet commented on #990
Syncronicity! I was thinking of suggesting an 'inverted' style arrow for the circular portion.
I like the upper version, with now grey background circle. This one may be fine as is - @elharden2 do you think the upper version would work for a first go?

[2019-03-18 18:26] kellywurtz commented on #990
@emily-phet Can you explain "inverted" further?

[2019-03-19 15:41] elharden2 commented on #990
@emily-phet Just to clarify, you like the version with the light gray circle and white arrows for the cyclical portion?  I am fine with either one, and yes I think we have what we need for a first go.  Thanks @kellywurtz!

[2019-03-21 18:44] samreid opened #993 "Add babel and phetmarks to list of repos required to build"
A google group member pointed out that we need babel and phetmarks need to be pulled.

[2019-03-21 18:45] samreid commented on #993
@pixelzoom can you please jot down the places that need to be updated?

[2019-03-21 18:48] pixelzoom commented on #993
Need to:

(1) Run `grunt published-README` for all published sims.

(2) Fix [PhET Development Overview](https://docs.google.com/document/d/1Ys1EiwnqQGYuzGOcQSr4uXDes35mF1v1XhMZIl10nk8/edit) to indicate the new dependencies.

(3) Notify the user in https://groups.google.com/forum/#!topic/developing-interactive-simulations-in-html5/9QouIghG2wg that the problem has been addressed.

[2019-03-22 20:01] jbphet commented on #993
I've made the requests changes and updates.  @pixelzoom and @samreid - feel free to check my work and/or close at your discretion.

[2019-03-23 20:12] pixelzoom commented on #993
Looks good.

This is not the first time that this has happened, and probably won't be the last.  Instead of having to update the `git clone` commands in the "Getting Started" sections of [PhET Development Overview](https://docs.google.com/document/d/1Ys1EiwnqQGYuzGOcQSr4uXDes35mF1v1XhMZIl10nk8/edit), perhaps we should run `grunt published-README` in example-sim. Then have the "Getting Started" sec

[2019-03-24 00:12] samreid commented on #993
Sounds like a step in the right direction to me.  How will we remember to run `grunt published-README` in example-sim when dependencies change?

[2019-03-25 17:32] zepumph opened #994 "Review "*Describer" singleton pattern for accessibility descriptions"
From the singleton related design pattern meeting this week.

A `*Describer.js` type is a type that deals with description related string formation/formatting, and concatenation.

There is a good chance that the way that we are using describers should change. Up to this point we have been using them as singletons, but recent feedback suggests that instead they should be used just simple instances

[2019-03-25 18:43] jbphet commented on #993
I agree that this sounds like a step in the right direction.  One question first: Do all sims have the same dependencies and thus need the same list of `git clone` commands?  I had made the (possibly naive) assumption that the list in the Development Overview doc was all inclusive, but the list in each individual sim's readme file had the actual dependencies of the sim, and could be a subset.  So,

[2019-03-25 18:58] pixelzoom commented on #993
No, all sims do not have the same dependencies.   The core dependencies are in `chippper/build.json`.  Additional dependencies are described in the "phetLibs" field of `package.json`.

The list of `git clone` commands in README.md is generated for that sims, and is ground truth.

The description that doc is for example-sim, and should therefore should match example-sim's dependencies.  Which is ex

[2019-03-26 00:24] pixelzoom commented on #917
Factoring this out is not time well spent.  We should be spending that time moving a11y strings to `*strings_en.json`, see https://github.com/phetsims/rosetta/issues/193.

[2019-03-27 19:17] jbphet commented on #993
Got it, thanks for the clarification.

I just looked at the main example-sim GitHub page at https://github.com/phetsims/example-sim and the README at https://github.com/phetsims/example-sim/blob/master/README.md, and it is the unpublished version, which does not list dependencies.  If we want to use this approach, we should update to the published readme.  Will that work okay for an unpublished si

[2019-03-27 19:34] phet-steele commented on #993
Whatever all has changed, and whatever will continue to change, don't let me/yourself forget to also change the .md for the Development Overview doc in phetsims/phet-info/issues/94. FYI, that issue has been pretty much done for awhile, but I still wanted to make sure links worked and I had one TODO to add an image. It's probably totally maybe perhaps ready for use.

[2019-03-28 04:30] samreid commented on #993
I believe @pixelzoom suggested this in https://github.com/phetsims/tasks/issues/993#issuecomment-475900890.  I'm OK with the idea and not aware of any problems it could cause.  It also crossed my mind that we could use an actual published simple simulation (like faradays-law) in place of example-sim, but that has disadvantages too.

[2019-03-28 14:11] pixelzoom commented on #993
I don't think we want anything more complicated that example-sim.  The purpose of the example is to provide a good starting place for understanding how a PhET sim is architected (especially the use of MVC). And even example-sim has proven to be a bit complicated, and probably requires more scaffolding/documentation.

[2019-03-28 23:46] pixelzoom commented on #993
`grunt published-README` isn't appropriate for example-sim.  It doesn't have a page on the PhET site, it doesn't have screenshots, etc.  This is taking more time than anticipated, so I think we should just leave this as is, with the `git clone` commands duplicated in the Development Overview doc.  @jbphet @samreid feel free to close if you agree.

[2019-03-28 23:57] pixelzoom commented on #994
After looking at SolutionDescriber in Molarity, I think the current Describer approach may be a misuse of the singleton pattern.  I agree with @samreid's recent observation that creating an instance (or instances) and passing them around is likely preferable.

In the case of SolutionDescriber specifically, I don't see the advantage to putting everything into one describer.  The attempt to do so is

[2019-03-30 13:05] samreid commented on #993
I agree let's keep using example-sim and not mark it as a published sim. Also a reminder for @jbphet to check on links as requested in https://github.com/phetsims/tasks/issues/993#issuecomment-477316471 before closing.

[2019-04-01 18:36] zepumph commented on #994
@jessegreenberg and I discussed this today, and we think that both AlertManagers and Describers should be instances and not globals. In the general case, we want the flexibility to have a specific describer or alert manager to handle arbitrarily specific and complex types. For example an alert manager and describer specific to a Balloon in BASE, each instance of which would be tied to its own `Bal

[2019-04-01 18:50] jbphet commented on #993
@pixelzoom and @samreid - sounds like a plan, we'll leave it as is for now.

@phet-steele - I just took a look at the list of `git clone` commands in https://github.com/phetsims/phet-info/blob/master/doc/phet-development-overview.md, and it appears that `babel` and `phetmarks` have already been added as dependencies.  Assigning to you to double check that all is copacetic with this and, if so, ple

[2019-04-01 19:01] pixelzoom commented on #994
For my general benefit...  Can you briefly describe "alert manager" and "describer", in terms of their responsibilities and scope?

[2019-04-01 19:45] phet-steele commented on #993
The changes were simple and minimal. Miniple? Thanks @jbphet.

[2019-04-01 19:45] #993 closed

[2019-04-01 20:10] jessegreenberg commented on #994
"Describers" are responsible for generating the strings that describe the state of the model. In general, this will use `StringUtils.fillIn` extensively to create sentences that may change with model Properties. "Alert managers" are responsible for the dynamic alerts that happen separate from user focus, generally sending strings to `utteranceQueue`. "Alert managers" will often use "describers" to

[2019-04-02 00:50] twant commented on #994
@zepumph and I did this for Molarity, and it went really smoothly. The only thing to work out is that the MolarityAlertManager isn't referenced anywhere else (an instance isn't needed), and it therefore creates a lint error. What should the pattern be, since sometimes we'll need to pass an AlertManager to other components, and sometimes we will not? We suppressed the lint rule manually for now, wi

[2019-04-02 16:02] jessegreenberg commented on #994
@twant @zepumph what do you think about moving the work of MolarityAlertManager into MolarityScreenView and removing MolarityAlertManager? The only purpose of this alert manager is to organize/separate a11y code, and I wonder if that is indicative that this shouldn't be a class in this case.

[2019-04-04 01:01] zepumph commented on #994
Sounds reasonable to me, though if there is a future increase in complexity/size in calls to utterance queue, then we can rethink it. @twant please take that on for molarity if that sounds good to you.

[2019-04-04 13:45] twant commented on #994
@zepumph @jessegreenberg sounds good to me! I'll be working on Molarity tonight and tomorrow, and will implement then.

[2019-04-09 20:37] emily-phet opened #995 "Graphic Design work for Chart - Needed by April 25th"
We have a data set we would like to include in a manuscript as a chart. We need some help designing the chart. Here's some info from Brianna - who is leading the manuscript.

![image](https://user-images.githubusercontent.com/5109055/55832858-17cb1180-5adc-11e9-8146-2e03f4f30e12.png)
[Data in this spreadsheet: for figure.xlsx](https://github.com/phetsims/tasks/files/3060870/for.figure.xlsx)

This

[2019-04-10 05:06] ariel-phet commented on #995
@emily-phet unfortunately, I don't think have anyone to recommend at the moment for this work. Dave Underwood has officially retired, and unfortunately Kelly is swamped until the NSF video showcase is complete. This might fall within @clmccutchan wheelhouse, but not sure she does infographic type work.

[2019-04-10 19:57] amanda-phet opened #996 "presentation artwork needed - by June 1"
I have three settings I'd like illustrated better than my icon artwork. I've seen some examples that you created for Kathy's recent presentations, and would love something similar.

I'd like all three to have the same look and feel, and be equally valid ways of teaching (so, don't make one setting look less ideal than another).

1. **Demonstration:** the teacher is the one using the sim, and is th

[2019-04-10 20:00] amanda-phet commented on #715
I uploaded the presentation to the template folder. Closing.

[2019-04-10 20:00] #715 closed

[2019-04-10 20:32] amanda-phet opened #997 "Modify scenes to be wider"
Related to the scenes created in #951

We'd like to use the scenes found here (https://drive.google.com/drive/u/0/folders/1ZwO6UgHtgKmT7KXjiZAWK2aq4K-TQVUs) like the skatepark, classroom, etc. as background images for a new website header design.

Here is an example of how we will use them:
![image](https://user-images.githubusercontent.com/7852916/55910901-c0d94100-5b9c-11e9-8605-5b25784707f4.png

[2019-04-12 11:45] emily-phet commented on #995
@cimccutchan Thanks! @amanda-phet drafted up something really quick a few days ago, and it looks pretty close already. I'm checking in with her about whether or not she feels she'd have the time to complete and finalize the draft. I'll reach out to you if it seems like she wouldn't be able to continue.

[2019-04-15 20:35] amanda-phet commented on #995
@emily-phet and Brianna, here are two ideas. These are missing time stamps, colors have not been verified for color-blindness and for b&w printing, and these are certainly far from pixel-polished. However I wanted to share progress as far as organizing the information goes.

Option 1, separates data by whether the sim was used first or second (my preference). This makes it easier to compare overal

[2019-04-16 13:42] briannatomlinson commented on #995
I think that I like 1b or 2b better, in general -- seeing it more split up makes comparisons across a bit easier?

I don't know that I have a huge preference between them, but maybe 1b would be a bit better? So far, the paper is structured so that we talk about first time sim use then differences across their second-time sim use, and any patterns/changes between when that's OL vs. RIAW.

I'm hopin

[2019-04-16 16:28] amanda-phet commented on #995
I prefer option 1 myself. Having all data sets stacked makes comparisons easier than looking across, and will make it easier to indicate time stamps. The color coding can orient you if you are wanting to compare sims, and having the first on top helps orient first uses vs second uses.

[2019-04-16 16:32] briannatomlinson commented on #995
So everyone can see the whole conversation, here's the note/comment from Bruce (my advisor):
"I like 1b the best. I think that the time dimension (first used, second used) is easiest for people to grok, and so it's a good way to lay out the quadrants (left/right). 2b makes you do some mental gymnastics to think about what was used first, what was used second, etc. Another possible layout would be

[2019-04-16 16:48] amanda-phet commented on #995
Quickly, here is what it could look like keeping each row consistent with one participant. Let's call this 1c.
![image](https://user-images.githubusercontent.com/7852916/56228456-1dbd7700-6035-11e9-8d0b-a743d2a977b4.png)

Sorting by 1-8 could get messy, but I'm happy to mock that up as well.

[2019-04-16 16:50] briannatomlinson commented on #995
Yeah, I think sorting 1-8 totally would be way too much, to be honest

[2019-04-16 20:43] briannatomlinson commented on #995
Ok! So we had lots of discussion about these images. It seems that: option 1 with all 4 lined up might be easiest to read. Can we use this one moving forward?

Thanks for all of your work on these! It's made us have some interesting discussions about the paper/what we're trying to convey/

Would it be possible to:
- try option 1 with a faint gray vertical grid system that runs through across all o

[2019-04-17 15:59] amanda-phet commented on #995
Option 1, in four variants. All have the P1A, etc. labels, but those can be reverted.

A. With grid lines. It's pretty busy, so I'm also including an option with no hatches for the description navigation.

![image](https://user-images.githubusercontent.com/7852916/56302593-59207a00-60f7-11e9-94e1-2ff8c9bfec03.png)

![image](https://user-images.githubusercontent.com/7852916/56302615-62a9e200-60f7-1

[2019-04-17 22:30] briannatomlinson commented on #995
Thanks for all of these!!

I think I would prefer B (with the minute grid lines) but without the other labels on the participant IDs (I think keeping them at a more simple "P1" would be best)

@emily-phet -- what do you think??

[2019-04-18 21:35] emily-phet commented on #995
I like (B) as well, also without the additional labels on the participant IDs (so P1, P2, etc. and not P1A, P2A).

[2019-04-30 01:52] pixelzoom opened #998 "replace Array.includes with _.includes"
Over in https://github.com/phetsims/scenery-phet/issues/493, @samreid determined that `Array.includes` is undefined on IE11, and fixed a problem in NumberControl by replacing `Array.includes` with `_.includes`.    I was assigned to review, and discovered many more usages of `Array.includes` in PhET code, including core classes like Screen, Enumeration, ComboBox,...

How were these passing QA?

Sho

[2019-04-30 02:06] pixelzoom commented on #998
Should we have a lint rule that prevents us from using `Array.includes`?  Does eslint already have such a rule?

In the commits above, I fixed the cases that I felt confident touching.  Here are some remaining cases that need to be examined.  We can probably skip some of these if they don't involve a browser.   @jbphet the ones in tambo and rosetta probably need to be addressed.

- [ ] tambo/sound

[2019-04-30 02:07] pixelzoom commented on #998
I asked why these weren't being caught in QA.  In https://github.com/phetsims/scenery-phet/issues/493#issuecomment-487799669, @samreid said:

So does that mean that no one is testing on IE with assertions enabled? Why?

[2019-04-30 02:08] pixelzoom commented on #998
Assigning to @ariel-phet to prioritize and assign.  Looks like the "must do" ones are for @jbphet, in tambo and rosetta.

[2019-04-30 02:50] ariel-phet commented on #998
@KatieWoe isn't there something about IE where we had to give up running with assertions enabled?

[2019-04-30 13:01] samreid commented on #998
We had similar discussion about `Array.prototype.find` in https://github.com/phetsims/tasks/issues/932.  In that issue, we decided to add a code review item under the "IE11" section rather than adding a lint rule or erroring "polyfill".

[2019-04-30 14:33] KatieWoe commented on #998
There is a problem with running assertions in IE.  It looks something like this in the console when you try to run the debug version.
![fails](https://user-images.githubusercontent.com/41024075/56969577-aa326400-6b22-11e9-9c46-7bf3e0a2ad31.png)

[2019-05-01 17:11] jbphet commented on #998
This isn't a problem for the rosetta code, since the portion identified only runs on the server.  I've left this as is because I think it reads better, but I can change it if we decide to add a lint rule.

I've changed the usages in `soundManager` to use the underscore version.  The reason it was never a problem in IE is that the `includes` calls were only used in assert statements, which are stri

[2019-05-06 18:23] KatieWoe commented on #998
Further notes.  When testing rcs we generally only run the debug version through fuzz on chrome on one platform.  RC's that aren't the debug version do not have assertions in them.

[2019-05-09 15:59] jessegreenberg commented on #980
In addition to the above list, we discussed that the developer instrumenting should consult with the original author of the component to go over new features, approaches, and discuss current state of the component. What may seem like a reasonable solution to the one instrumenting may feel more like grafting to the original author.

This issue was originally discussed because developers were surpri

[2019-05-09 17:34] oliver-phet commented on #980
@chrisklus Will create google spreadsheet for each common code component (sun, scenery-phet, joist): repo, responsible dev, priority, condition, phet-io, accessibility, sonification
SR: maybe look around Binder as a reference
JG: EM or TS may already have a list of these components

[2019-05-14 18:45] ariel-phet commented on #998
@pixelzoom see @jbphet comment above, is this something we should bring to dev meeting, I am a little unclear if further action is needed.

[2019-05-14 18:49] pixelzoom commented on #998
Sounds like all work is done, no further action needed.

[2019-05-14 18:49] #998 closed

[2019-05-14 23:49] ariel-phet commented on #995
Deadline has passed, closing

[2019-05-14 23:49] #995 closed

[2019-05-15 00:00] ariel-phet opened #999 "Data-driven social media sim posts"
It would be beneficial to get a student worker to go through our Yotta stats and identify if there are times of the year for peak usage of sims. Some sims we know are fairly steady use during the school year (such as CCK), However, others historically have more "seasonal" usage.

As the season for popular sims are approaching we could advertise these sims more on social media. I do this process a

[2019-05-16 19:03] pixelzoom commented on #980
5/16/19 dev meeting update from @chrisklus:  All of his time was taken up on other things this week, so maybe next week.

[2019-05-18 00:27] zepumph commented on #994
FL actually didn't use this pattern, all of the describers are singletons. I fixed friction above. From recent pairings with TW, Molarity has been fixed. Closing.

[2019-05-18 00:27] #994 closed

[2019-05-20 11:43] emily-phet opened #1000 "Beautified Table - by 10am MT May 22nd"
Table providing info on three different tech learning tools - needs to show a screenshot of each tool, some info/refs on each, and the accessibility features of each in an aesthetically pleasing way.

Content not yet complete, draft here: [TableFig.pptx](https://github.com/phetsims/tasks/files/3197726/TableFig.pptx)

[2019-05-20 16:56] DianaTavares commented on #1000
Hi Emily! i am going to work in this artwork!
What size do you want the table? Do you want that I use the pictures in the file?

[2019-05-20 17:19] emily-phet commented on #1000
@DianaTavares Thanks for taking this on!

I poked around for an example that might serve as inspiration. This is a nice example of something that doesn't "feel" like a table...which is what i'm hoping for.
<img width="256" alt="Screen Shot 2019-05-20 at 12 15 28 PM" src="https://user-images.githubusercontent.com/5109055/58039755-4c79b200-7af9-11e9-82a8-8b820049e687.png">

This will be put into a p

[2019-05-20 20:03] DianaTavares commented on #1000
this are the first drafts (I use the same text about PhET in the three columns only to see how it looks with more text). I think that helps when the pictures are the same size.

![Screen Shot 2019-05-20 at 1 59 17 PM](https://user-images.githubusercontent.com/26031501/58048258-8fdb1d00-7b07-11e9-9f63-d0d8a5d63139.png)

I am not very sure it the table need extra lines to differentiate the columns:

[2019-05-20 20:14] emily-phet commented on #1000
@DianaTavares Thanks! These look great...I think all black text, with the vertical lines separating each one, and (additionally) a very thin, short horizontal line separating the text details from the display features checklist would be nice.

Which software did you used to make this? Now that you have it all laid out nicely, I could probably adapt the file directly as the final content gets added

[2019-05-20 20:21] DianaTavares commented on #1000
It is PowePoint
here is the file:
[EmilyTable.pptx](https://github.com/phetsims/tasks/files/3199693/EmilyTable.pptx)

Here is the picture withe horizontal lines:
![Screen Shot 2019-05-20 at 2 20 06 PM](https://user-images.githubusercontent.com/26031501/58049611-7e474480-7b0a-11e9-823e-4fd14b597b85.png)

[2019-05-20 20:31] emily-phet commented on #1000
Perfect! Thanks. I can take it from here.

[2019-05-20 20:35] DianaTavares commented on #1000
Good! then I am going to close the issue. You can open it again if you need that I help more!

[2019-05-20 20:35] #1000 closed

[2019-05-23 02:52] ariel-phet commented on #987
Is this something we want to continue to pursue?

[2019-05-23 04:30] samreid commented on #987
Some thoughts on the topic, not necessarily connected, complete or in order of importance:

* I'm not opposed to smaller scale investigation--would be a good way to understand up front costs and benefits.
* Typescript is a gamble, unclear whether it will be popular in N years.  We were strongly advised by multiple consultants to adopt Coffeescript for our full stack.  We bet on JavaScript instead

[2019-05-23 18:41] zepumph opened #1001 "removeKeyValuePair is buggy"
Discovered while working on buggy case found while working on https://github.com/phetsims/joist/issues/558.

I added a test to illustrate what I found in mirror-inputs:

[code]
Here is how it fails:

[code]

[2019-05-23 18:47] zepumph commented on #1001
Hopefully fixed above. I added more unit tests, and that makes me feel pretty confident. @chrisklus can you please review.

[2019-05-23 19:26] chrisklus commented on #980
First pass here: https://docs.google.com/spreadsheets/d/1f3MN7J57deJIN6dGhZ3lbK5Zwbo2vyrgXPu0AmRjCR0/edit#gid=0

I came up with the fields and created a key, and then per @pixelzoom's suggestion, only filled out four components so the team can give feedback and discuss the chart setup.

[2019-05-23 19:32] pixelzoom commented on #980
Self assigning so I remember to review.

[2019-05-23 20:40] zepumph commented on #980
I definitely like the way we are starting to keep track of this state of common code elements. This is especially helpful as our project grows, and with that the footprint of a11y and phet-io do too.

That said I'm not really understanding the purpose of a standalone spreadsheet for this. I can't seem to think of a way in which this won't get totally out of sync with the code. Perhaps if there was

[2019-05-24 06:14] pixelzoom commented on #980
@zepumph said:

I agree.  It sure would be nicer to have this information at the top of the .js files.   Is putting it in a spreadsheet intended to make it easier for non-developers to access?  If so, what happened to documenting UI components in .md files, e.g. [ComboBox.md](https://github.com/phetsims/sun/blob/master/doc/Checkbox.md) ?

Seems like we're spreading info out over many places - .js

[2019-05-25 01:45] samreid commented on #980
Yes, let's discuss further before more work.

[2019-05-26 15:34] SteelWagstaff opened #1002 "PHeT simulations throwing uncaught JS errors"
Users of our Pressbooks authoring tool have reported some issues with embedded PhET simulations when placed within a "collapsible subsection." You can see an example at https://phetcollapse.textopress.com/chapter/chapter-1/

If you view the JavaScript console in the example book you'll see JavaScript prints two fatal errors (one for each hidden PhET simulation).

![Screen Shot 2019-05-26 at 10 32

[2019-05-30 15:53] amanda-phet commented on #955
This sim has been published so this can be closed.

[2019-05-30 15:53] #955 closed

[2019-05-31 15:51] oliver-phet opened #1003 "Download and re-upload .gdoc files in phet-storage"
KP noticed that some files seem to be tricky to access and they are files that have the .gdoc file extension in phet-storage google drive.

To clean up, the files need to be downloaded and re-uploaded to phet-storage.
To find files, search "*.gdoc" in phet-storage google drive.
(You may need to clear your browser cache to download the files)

[2019-05-31 16:11] arouinfar commented on #1003
@oliver-phet much of phet-storage is being migrated to phet-research. IRB-protected research data should not be downloaded and re-uploaded as it will seriously set back the migration progress.

[2019-05-31 16:14] oliver-phet commented on #1003
@arouinfar Are the files you are migrating being deleted from phet-storage after migration? We can defer on this issue until that is done.

[2019-05-31 16:20] arouinfar commented on #1003
Ownership is being transferred to phet-research, files are then reorganized within the phet-research Drive structure, and then will be eventually unshared with phet-storage.

[2019-05-31 16:53] oliver-phet commented on #1003
Assigning to you, @arouinfar - update the issue when that phet-research migration is done and I'll get going on this.

[2019-06-03 23:42] chrisklus commented on #1001
Wow whoops haha, nice catch @zepumph. Your fix and additional test looks good. Back to you.

[2019-06-03 23:45] #1001 closed

[2019-06-04 02:30] amanda-phet commented on #996
Mariah was able to wrap this up.

[2019-06-04 02:30] #996 closed

[2019-06-05 18:44] megan-phet commented on #997
<img width="682" alt="Screen Shot 2019-06-05 at 12 42 49 PM" src="https://user-images.githubusercontent.com/40698031/58981401-8e5c5680-878f-11e9-9e4e-a9c9e2fb378c.png">

[2019-06-05 18:50] megan-phet commented on #997
<img width="1046" alt="Screen Shot 2019-06-05 at 12 49 30 PM" src="https://user-images.githubusercontent.com/40698031/58981850-6de0cc00-8790-11e9-89b5-ae2e43d4a0dc.png">

[2019-06-06 00:08] jessegreenberg commented on #992
I have need for Map in the above issue, I am happy to create a simple test.

[2019-06-06 00:10] jessegreenberg commented on #992
Link to expected compatibility from MDN: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map#Browser_compatibility

[2019-06-06 19:00] jbphet commented on #987
@jonathanolson mentioned another concern in the 6/6/2019 dev meeting:
+ We often run sims in RequireJS mode, and it makes the debugging process very fast.  Would we be slowed down due to the need to do a compilation step?

[2019-06-06 19:06] jbphet commented on #987
This was discussed in today's dev meeting, we did a poll, and ultimately decided to look at this and related language improvements at some point in the future.

[2019-06-10 22:29] arouinfar commented on #1003
@oliver-phet, searching phet-storage for *.gdoc files results in only 69 files. None of these files are research-related, and only 4 of these files are owned by phet-storage. The rest are owned by the deprecated phetstorage account.

Most of these files appear to be related to Teacher Primers. Not sure why these files are even on phet-storage, as Teacher Primer files are all stored in phet-docs un

[2019-06-11 22:53] jessegreenberg commented on #1002
Thanks for reporting the issue @SteelWagstaff. I see the errors in the link you provided, as well as in the following simple HTML:
<details>

[code]
</details>

When assertions are enabled, we first hit

[2019-06-11 23:10] jessegreenberg commented on #992
I checked in tests for Map that are driven by QUnit. Tests were mostly derived from examples or descriptions at https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map. @samreid is this ready for QA to test on supported platforms?

[2019-06-12 04:28] samreid commented on #992
I spot checked coverage in the QUnit test against https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map and it seemed pretty good.  I also ran tests on my mac/chrome and iphone/safari and all tests are passing.  I bet @jonathanolson would appreciate taking a quick look if he isn't too busy at the moment.  Otherwise I think you are good to proceed, thanks!

[2019-06-12 15:46] jessegreenberg commented on #992
Thanks @samreid. @jonathanolson do you have time to review tests at https://github.com/phetsims/phet-core/commit/afe2dd935aeff5c072fcdd4ee973fd4f574e9317 to see if this includes all features we would want from Map before asking QA to run on supported platforms?

[2019-06-13 04:18] samreid commented on #1002
I'm able to reproduce the problem on the masses and springs version referenced above, but not in a freshly built Faraday's law.

[2019-06-13 18:12] jessegreenberg commented on #1002
Assigning to @ariel-phet and @oliver-phet, can you please review this issue?

[2019-06-13 18:41] samreid commented on #980
Today @ariel-phet proposed writing a tool that automatically lists (a) all of the common code components used by a simulation and (b) listing all of the simulations a specific a common code component appears.

[2019-06-13 18:59] samreid commented on #980
When building a sim, we need to know:

(a) What existing common code components will it use? (we need a process for identifying these)
 - for each common code component
   - make sure it has acceptable level of main/PhET-iO/a11y features (we need a process for identifying this)
   - if not, then working with the original author of the component, perform refactoring as necessary to make it amenable

[2019-06-13 19:02] mattpen commented on #980
Top Goals:
- Designers would like to know which components in a sim are common code.
- Developers would like to know which sims have been instrumented for a11y and phet-io
- Developers would like to know which common-code components have been instrumented for a11y and phet-io
- When we are doing a11y/phet-io work how do we decide which components need updating? We need a process for making and doc

[2019-06-13 19:06] mattpen commented on #980
@zepumph will investigate binder to see if it easily adaptable to these purposes.

[2019-06-13 19:08] oliver-phet commented on #1003
I verified that these files are all on phet-docs. Closing.

[2019-06-13 19:08] #1003 closed

[2019-06-15 19:27] jonathanolson commented on #992
It looks like enough features for QA testing to me.

[2019-06-17 17:17] ariel-phet commented on #1002
@SteelWagstaff when I try the provided link, everything seems to work? Did @connerbw make a fix, or do we need to investigate further?

Also does Pressbooks currently have a more formal relationship with our project? If not, could you give us the contact info of the correct person to discuss partnerships with?

[2019-06-17 18:29] ariel-phet commented on #987
Gave myself a calendar reminder for Nov 4 2019. Unassigning for now

[2019-06-17 21:45] KatieWoe opened #1004 "ISTE 2019 video"
This includes the previous year's video.  Please look and request and changes.
https://drive.google.com/drive/folders/1JulUuWxjCKvx3WsRfw8jbjAofXf6vlrZ

[2019-06-17 21:49] zepumph commented on #958
I wonder if we want this change after all. I have run into two cases in the last 10 days where it would be nice to get the postMessage on load delivered to the sim's own frame. One in a grunt task for PDOM comparison, and the other is binder. In binder we actually broke the whole program when adding this logic. Would anyone mind if we removed the `parent !== window.top` check on the error/load pos

[2019-06-17 22:16] connerbw commented on #1002
We worked on a hack:

https://github.com/pressbooks/pressbooks-book/blob/8357b6ec5f43476e1757ff07c1cfbd981e5098cb/assets/src/scripts/collapse-sections.js#L107

Did you look at the network console? I can still reproduce. The bug is still there.

![image](https://user-images.githubusercontent.com/812192/59640261-80adb600-912b-11e9-84a8-76b9d98d07e5.png)

[2019-06-17 23:01] zepumph commented on #958
In the "allow postMessage to own frame" commit, I removed a few usages of ` window.parent !== window`.  There are still 12 more usages though. I wanted to change a few and then get a review before continuing. @samreid I'm happy to discuss further if needed. That said please review the changes in the aforementioned commit.

[2019-06-17 23:15] arouinfar commented on #1004
@KatieWoe I'm only seeing an a11y-specific video in that folder. Is there a more general video too?

[2019-06-18 14:34] KatieWoe commented on #1004
Right, sorry.  That was the latest ISTE video I found.  I'll dig deeper.

[2019-06-18 15:49] amanda-phet commented on #1004
I see conference videos here: https://github.com/phetsims/phet-info/tree/master/conferences

The ISTE_2017 video looks fine to me.

[2019-06-18 17:42] ariel-phet commented on #1002
@jonathanolson is going to spend about an hour seeing if he can identify what is going on here.

[2019-06-18 19:15] jonathanolson commented on #1002
The root cause is that when running in an invisible iframe, Chrome is showing window.innerWidth and window.innerHeight as both 0. We have some graceful fallbacks, but PhetButton's onResize is missing the fallbacks and hits a hard error.

This is easy enough to patch, however there's a more fundamental tricky issue to resolve when our iframe is hidden: our text bounds detection method fails, so our

[2019-06-19 03:38] ariel-phet commented on #1002
@jonathanolson what is wrong with delaying sim startup? That seems totally reasonable to me, you open the frame, and the sim "boots" as it were. Seems like acceptable behavior. If we delayed start-up, it sounds like that solves the various issues?

Should we also make a separate issue for the PhETButton Resize fallbacks?

[2019-06-19 18:11] jonathanolson commented on #1002
This actually looks like it was resolved in master since we branched masses-and-springs-basics.

Yes, it seems like the best option to me. It will likely require some changes in chipper to our HTML and loading process (we can't use the main image/phet-io loading delay section, as code could already have executed buggily). This seems generally useful to me.

@ariel-phet should I proceed with change

[2019-06-19 20:22] jessegreenberg commented on #957
@zepumph is this a duplicate of #958?

[2019-06-20 02:22] ariel-phet commented on #1002
@jonathanolson yes please proceed. Can you document progress in a separate chipper issue and tag this one?

[2019-06-20 21:19] oliver-phet commented on #1004
@KatieWoe can you add CCK and EFaC to the ISTE 2019 rotator video and re-upload to phet-info?

[2019-06-20 22:58] oliver-phet opened #1005 "Conference Email collection form"
@chrisklus is making a simple webpage that can be loaded on any computer for users at conferences to type in their email. We can then email these users after the conference to remind them of PhET, encourage them to sign up for a website account, etc.

[2019-06-21 17:47] chrisklus commented on #1005
I've finished and committed the utility. It lives here: https://github.com/phetsims/phet-info/blob/master/conferences/collect-emails.html. Navigate to it in your file system, then simply double click to open in your browser.

Description and instructions, copied directly from the file header:

[code]

@oliver-phet can you review and test?

[2019-06-21 18:02] oliver-phet commented on #1005
This is working great, thanks @chrisklus !

[2019-06-21 20:13] KatieWoe commented on #1004
New 2019 ISTE video: https://github.com/phetsims/phet-info/blob/master/conferences/ISTE_2019.mp4

[2019-06-21 20:27] #1004 closed

[2019-06-25 17:18] zepumph commented on #957
Yes sorry, not sure how that happened.

[2019-06-25 17:18] #957 closed

[2019-06-27 01:12] zepumph commented on #980
I have not yet gotten to this yet.

[2019-06-28 00:16] jessegreenberg commented on #992
Awesome, thanks! Ill make an issue in QA.

[2019-06-28 16:38] oliver-phet commented on #1005
A few enhancements we'd like:

- Pressing [Enter] submits the form
- The email text box always has "focus" so that users don't need to click inside of it to start typing

[2019-06-30 15:13] samreid commented on #958
First, a minor point.  It seems `window.parent` always exists, so `window.parent && window.parent.postMessage` can be changed to `window.parent.postMessage`.  Second, I'm still unclear why binder requires a "same-frame" load message.  If that is really what is happening, why can't binder use some other within-frame way of listening for when sim load is complete, such as `endedSimConstructionEmitte

[2019-07-01 17:57] zepumph commented on #958
That's a good idea, and I can experiment with that, but the main use case if loading the sim from pupeteer, and then needing to know when the sim has loaded. I'm not sure if it will be easy to make that requirejs step has completed (such that there is `Sim.endedSimConstructionEmitter`). The Postmessage is a clean and nice way to handle this to me.

[2019-07-01 18:11] chrisklus commented on #1005
I've added a few enhancements. Changes include:

* submit the form via [enter] or button press
* text input receives focus on page load and after successful form submission
* text input resizes responsively and has x-padding for smaller devices
* style improvements
* "Learn more about PhET!" added as the tab title so people viewing sims in the same browser know what the page is for

I looked these

[2019-07-01 18:11] #1005 closed

[2019-07-01 18:58] jessegreenberg commented on #992
Testing results can be found in https://github.com/phetsims/QA/issues/355. Of the platforms we support the only one to have issues with the tests was IE11. Results all match the table in https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map#Browser_compatibility.

Everything works with Map except that in IE11:
- You cannot create a new map from an iterable
- You ther

[2019-07-01 19:06] jessegreenberg commented on #992
Adding developer meeting label to decide how to proceed and whether we can use Map.

The list of IE11 issues is too long to use Map as-is. We could create our own `Map` class that uses native Map but  fixes these issues or errors loudly everywhere.

[2019-07-02 00:11] samreid commented on #992
I'm fine to use the IE subset of Map.  I'm also fine with using the "use objects as maps" pattern which I will describe for clarity:

[code]

In the latter example, `class Model`'s constructor would have `this.view=null` with documentation about how it can be assigned.  I know this is not what we learned in GOF class, but it is clear and idiomatic to JS, and seems suitable for simulation code, tho

[2019-07-03 01:26] zepumph commented on #958
I would like to bring this up for developer meeting. To me it doesn't seem like too big of a deal to send these messages to itself if `window.parent === window`. That said I would like to bring it up for developer meeting to see what potential problems there are with it.

[2019-07-03 04:58] zepumph commented on #980
In the above commits I added support for a list our sims, and each common code component used in it. You can see it here. http://phettest.colorado.edu/binder/doc/#sims

This exercise was useful in acquainting myself with the repo. It would be good to rank future priorities before doing more work.

Also note there is a bug where when you click on the side menu, it doubly adds the simulation view to

[2019-07-03 18:41] chrisklus opened #1006 "Get @brandonLi8 access to bayes"
@brandonLi8 and I have been trying to set up his RSA key on bayes so that he can publish a dev version for vector addition. When he tries to login, the server responds with "Connection closed", so I'm assuming his identikey needs to be added for him to have access.

![image](https://user-images.githubusercontent.com/5618316/60616799-8d6b1480-9d8f-11e9-9edb-66cef302833e.png)

@mattpen could you che

[2019-07-03 18:44] amanda-phet commented on #997
Thanks @megan-phet , we have re-thought the direction of these banners and will be making new artwork instead of trying to re-use some of the older stuff.

[2019-07-03 18:44] #997 closed

[2019-07-03 19:05] mattpen commented on #1006
I've added Brandon to the appropriate admin group, he should be able to logon now.  Let me know if he has trouble running sudo or needs to be added to the `phet` group.

[2019-07-11 05:54] samreid commented on #958
My main question is whether it is an antipattern to send a within-frame message via `postMessage` rather than using a traditional function call.  Or if that is an anti-pattern as a rule of thumb, if this case is an exception to that rule.

[2019-07-11 17:17] oliver-phet opened #1007 "Certificate for Lairane to visit PhET"

[2019-07-11 19:22] zepumph commented on #980
From dev meeting this week, it was brought up that a potential solution for phet-io and a11y documentation is to use the `InstanceRegistry` to mark runnable "code documentation" that bind can parse and display. We wanted to wait for @samreid before continuing that conversation. In the mean time I will work on https://github.com/phetsims/binder/issues/25.

[2019-07-11 20:08] chrisklus commented on #1006
@brandonLi8 able to publish dev versions, thanks @mattpen!

[2019-07-11 20:08] #1006 closed

[2019-07-15 03:07] samreid commented on #980
Can you please clarify next steps for me?

[2019-07-17 03:28] ariel-phet commented on #974
White board is hung, I will caulk it to give a finished appearance on Thursday. Closing

[2019-07-17 03:28] #974 closed

[2019-07-18 18:30] samreid commented on #980
From dev meeting notes:

AP, CM: Schedule some time to bring common code up to the latest PhET-iO standards. E.g. use of type-specific Properties, phetioType, uninstrument dynamic elements.  Create an issue in tasks repo?
MK: We should discuss documentation strategy, like how this may be covered in binder.
AP: Perhaps we can codify a level like “PhET-iO 1.0”.  Then we can use that as a standard fo

[2019-07-18 20:22] jessegreenberg commented on #958
I don't see anything here (https://developer.mozilla.org/en-US/docs/Web/API/Window/postMessage) that discourages within-frame messages, but at the same all documentation is about cross window/frame communcation.

[2019-07-18 22:07] zepumph commented on #980
Next steps for this issue is to develop, in <2 hours or so, a prototype that gathers a list of components that have been published in a phet-io version since GQIO 1.1. We will consider those "up to phet-io standard," and all others as needing attention.

[2019-07-24 19:51] ariel-phet commented on #1007
Letter sent to Oliver, it sounds like Lairane might need something else to bring back, but we can discuss after she gets here. Closing.

[2019-07-24 19:51] #1007 closed

[2019-07-25 18:49] jessegreenberg commented on #992
We discussed during developer meeting 7/25/19. We are going to proceed with using Map in PhET code. With the list in https://github.com/phetsims/tasks/issues/992#issuecomment-507384524, we are going to add a point in the code review checklist that if you are using Map, be sure that everything works in IE11.

[2019-07-26 01:56] samreid commented on #958
After discussion at the previous developer meeting, it seems the next step is for me to discuss this further with @zepumph before we bring it back to the group.

[2019-07-26 10:29] terracoda opened #1008 "Graphic for Description Framework"
I need a high resolution graphic for a manuscript submission.
The manuscript is due in mid September, so no immediate rush.

I have made a sketch of the graphic.
![Sketch7-Framework_web](https://user-images.githubusercontent.com/1902116/61944546-33c8c500-af9e-11e9-8312-63bf1be0d625.jpg)

The colors are important as they need to kind of match the colors we use in a second figure:
![fig02-pdom-4col-

[2019-07-26 10:31] terracoda commented on #1008
I would add that the circles could be filled in with color with some kind of accentuation of the over-lapping areas.

@emily-phet, do you have anything (any details) to add?

[2019-07-30 17:02] emily-phet commented on #1008
@terracoda I agree the color coding is important, to help people see the relationship between these two figures. I'm not sure filled circles will work, since they overlap (and what color would it be at the overlap?) so let's definitely have a version where the circle stroke has a color. Not opposed to trying out filled circles as a second option, though.

I don't have any other suggestions at the

[2019-07-30 19:41] DianaTavares commented on #1008
I am going to work on the design starting next week. Thanks for the sketch and yes, I am going to consider the color-coding!

[2019-08-02 20:05] lmulhall-phet opened #1009 "General protocol for z-ordering of tools?"
1. Does anyone know of a general protocol for the z-ordering of tools like timers, rulers, etc.?
2. Should there be a general protocol for the z-ordering of tools?

See this [issue writeup](https://github.com/phetsims/gas-properties/issues/148#issue-474282628) (not the whole issue) and [this comment](https://github.com/phetsims/gas-properties/issues/148#issuecomment-516569707) for clarification.

[2019-08-05 16:36] amanda-phet commented on #1009
I can't really comment because I'd need a bunch of sims to think about for context. For "tools" like meters and readouts, I suppose they should be layered by whichever was last clicked, but there are so many unique cases I don't think we can generalize for all sims...

[2019-08-05 16:52] ariel-phet commented on #1009
@lmulhall-phet @amanda-phet @arouinfar

This is a tough one...I do agree that generally having the "active" tool on top seems to makes sense. That should probably be our "default" thought - but I think we are still going to need to determine behavior on a sim-by-sim basis since due to the vast nature of tools we use.

[2019-08-05 21:14] DianaTavares commented on #1008
Here is the first draft. The size is 3.5 X 2.6 inches. Let me know what do you think!

![Graph-Description-Framework-02](https://user-images.githubusercontent.com/26031501/62495615-aa7e7300-b793-11e9-9508-f235ed5d960f.png)

[2019-08-15 18:39] jonathanolson commented on #980
@ariel-phet can we just remove this from the developer meeting, or is there something additional to do?

[2019-08-16 22:46] terracoda commented on #1008
@DianaTavares, thanks, apologies for the delay. This looking really good. I have to think about the colours and the fonts.

I want the 4 colours to be clearly different, and I want the areas "Current State" and "Relevant Changes" to kind of be different some how.

[2019-08-16 23:57] DianaTavares commented on #1008
@terracoda I am going to be on vacation until the 26. I am going to send you the .ia file by email if you want to play with the fonts and colors. After 26 I can help you again with the design as needed.

[2019-08-21 03:20] arouinfar commented on #1009
Agreed. I think it could be worthwhile for the "default thought" to be added to the QA handbook. When QA looks at the z-ordering of tools, this should generally be the behavior they're looking for. If the behavior is different, double check with the design doc and/or lead designer.

[2019-08-22 19:37] chrisklus commented on #980
Per discussion in 08/22/19 dev meeting, we are going to close this issue.

[2019-08-22 19:37] #980 closed

[2019-08-22 19:40] zepumph commented on #980
@zepumph will create 2 issues from here:
1. go over the phet-io "how to instrument" document with the whole team for them to gain familiarity with phet-io code/process.
2. create a "how to instrument for a11y" document that outlines the steps and ordering and process for adding a11y.

[2019-09-05 20:24] terracoda commented on #1008
@DianaTavares, thanks for sending me the .ai file. I adjusted the type styles a little and added filled circles. I am not yet happy with the colors (need to check for accessibility still).

I have a question. You have more than one artboard in the file. How do I export into a hi-res png just a single art board. I have the column diagram in another .ai file and I do not need it in this file.

[2019-09-05 20:32] terracoda commented on #1008
Here's my updated figure:
![framework-figure-filled-colors](https://user-images.githubusercontent.com/1902116/64377997-4820c880-d006-11e9-90ec-255a1e9385fb.png)

What do you think of the type?

I am trying to communicate 2 main categories that are accessed in different ways
- State Descriptions (reading - skimming and scanning)
- Responsive Descriptions (interacting with actual objects and making

[2019-09-05 20:35] terracoda commented on #1008
I will email the file back to you, so you have the updated one.

[2019-09-05 21:21] emily-phet commented on #1008
@terracoda Regarding draft in https://github.com/phetsims/tasks/issues/1008#issuecomment-528569905, I really like the updated typology. One small suggestion regarding font would be to try tweaking so that "Current State" and "Relevant Changes" are highlighted a little bit more. Maybe slightly larger font, or slightly thicker stroke. I didn't realize for a moment that they were bolded (which is odd

[2019-09-05 22:48] DianaTavares commented on #1008
Hi @terracoda,
At the top of Illustrator, click on "File" and then select "export". In the window that appears:
1. Select in what format you want to save the picture
2. Select "Use Artboards"
3. Select "Range" and write the number of the artboard that you want to import (in case that is only one or a couple of artboards but not all of them).

![Screen Shot 2019-09-05 at 5 37 44 PM](https://user-im

[2019-09-05 23:13] terracoda commented on #1008
One last go before I sleep ;-)
I used the following colors in this version.
- Blue `#5BB8E8` - 100% and 30% opacity
- Light Green `#33B44E` at 30% opacity for filled circle
- Darker Green stroked circle `#2C993E` 100% opacity
- orange and yellow are the sam as in your file

![Screen Shot 2019-09-05 at 8 35 08 PM](https://user-images.githubusercontent.com/1902116/64389407-1bc47680-d01d-11e9-869d-12

[2019-09-05 23:16] terracoda commented on #1008
Here's a handy color tool in case you need  it.
[http://colorbrewer2.org/#type=sequential&scheme=BuGn&n=3](http://colorbrewer2.org/#type=sequential&scheme=BuGn&n=3)

[2019-09-05 23:18] DianaTavares commented on #1008
Thanks @terracoda. I am finishing today too, I will play with it tomorrow!

[2019-09-05 23:20] terracoda commented on #1008
Ok, sounds good @DianaTavares, I will work on the writing of the paper tomorrow :-) and leave the color iterations to you :-)

[2019-09-07 01:06] DianaTavares commented on #1008
One first idea was to take out the circles' strokes.  I feel that they take a lot of attention because they are bigger than the text. Also, with the strokes, the color combination of the green and blue doesn't make a contrast, but without the strokes, it looks better.

![image](https://user-images.githubusercontent.com/26031501/64467776-af5f7b00-d0e1-11e9-89d5-d6981bd117a7.png)

I am going to cont

[2019-09-09 17:08] samreid commented on #971
CT has been doing OK for a while now, closing.

[2019-09-09 17:08] #971 closed

[2019-09-09 17:58] terracoda commented on #1008
@DianaTavares, I really like the graphic without the strokes. It is a great idea to remove those.

Do you have any experience with testing the contrast of colors for people with colorblindness? There are free tools available.

Most of my experience is in choosing background colors that provide a high enough contrast with any over-layed text. I have less experience with actually ensuring each color

[2019-09-10 03:59] DianaTavares commented on #1008
Hi @terracoda, I tried the two options that Illustrator includes for colorblindness: protanopia (blindness to red picture 1) and deuteranopia(blindness to green picture 2). This are the results:
![Screen Shot 2019-09-09 at 10 52 13 PM](https://user-images.githubusercontent.com/26031501/64582932-cf4aa500-d354-11e9-86f7-7bfbb73e168e.png)

![Screen Shot 2019-09-09 at 10 52 25 PM](https://user-images.

[2019-09-10 05:17] samreid commented on #958
We have priorities at the moment, but I added a personal calendar notification for next week to try to schedule a time for discussion.  Self-unassigning for now.

[2019-09-10 13:31] terracoda commented on #1008
Not bad, but could you try tweaking the blue and green, if possible making
- the green more different from the red in the protanopia (blindness to red) (picture 1)
- the blue and green more different in the greyscale

I do not know anything about colors to make this happen.
Can you ask @amanda-phet to see what she thinks?

[2019-09-10 13:45] emily-phet commented on #1008
Hey folks - I think we're getting a little off track here. I think if we add the lines back in, people will get that there is a relevant union happening, regardless of color. For this figure, and others throughout the paper, the different colored regions will be labeled.

I think we want to maximize the color cueing (that the different description types blend to make something new) for those that

[2019-09-10 13:59] terracoda commented on #1008
@emily-phet, I can see how the lines help will help with defining the overlaps, maybe thinner ones would be bit more subtle, but still define the overlaps.

[2019-09-10 17:16] DianaTavares commented on #1008
Ok! Then this is the comparison of the pictures with a stroke of 1pt and the original that was 2 pt (using the original colors):

Light Green #33B44E at 30% opacity for filled circle
Darker Green stroked circle #2C993E 100% opacity
orange and yellow are the same as in your file

![image](https://user-images.githubusercontent.com/26031501/64634651-546ca300-d3c3-11e9-9a33-9820076ba0d7.png)

I realiz

[2019-09-10 19:51] terracoda commented on #1008
The thinner strokes look way better. Thanks @DianaTavares!

I agree with @DianaTavares. I like the first color version in comment https://github.com/phetsims/tasks/issues/1008#issuecomment-530035370

Any preferences @emily-phet?
Or is this a wrap?

[2019-09-11 01:13] terracoda commented on #1008
I got feedback from Clayton, @DianaTavares and @emily-phet, I'll sketch a tweak to the labeling in the morning - colours are fine, I think. Top priority is making sure I get the abstract submitted and paper finished.

[2019-09-12 16:58] zepumph opened #1010 "Do some simple batch find/replace es6 conversions?"
I have spend a noticeable amount of time converting files to es6. In general this is about 5 steps. Some of these could be done across the project in a batch find replace, here are the ones I've thought of. Does this seem like something worth doing on the whole? Marking for a last minute dev meeting.

[code]

[2019-09-19 16:40] zepumph opened #1011 "replace spot links with phet-dev"
I am still seeing a few places that are linking to `www.colorad.edu/physics/. . .` instead of phet-dev.

[2019-09-19 16:43] zepumph commented on #1011
[code]

@jessegreenberg will you please review. I kept the links in chipper 1.0 deploy docs, though I'm not sure if that is worth it. What do you think?

[2019-09-19 18:03] pixelzoom commented on #1010
Sure, but... why?

[2019-09-19 18:13] jonathanolson commented on #1010
Sounds like it would save time to do it in one batch?

[2019-09-19 18:13] zepumph commented on #1010
If all require statements were `consts`, it would improve the auto-import grunt task.

It also seems like energy that is never worth thinking about/spending, ever again. doing it on a file by file basis is likely X times less efficient, where X is the number of files, as it will take 30 seconds to change all usages.

30 seconds X 2744 (number of usages of `@constructor`) = too much time!

[2019-09-19 19:23] Denz1994 commented on #1010
Discussed at dev meeting: 09/19/19

This is a time saver. @zepumph  go ahead with this addition.

Taking this a bit further means enabling the no-var lint rule and auto fix the failed cases. We suspect auto-fix will change var to const/let and if it can’t fix it will leave var. @zepumph will take a go at this.

[2019-09-19 22:11] zepumph opened #1012 "investigate using `prefer-const` or `no-var` rules to change all `var` usages"
From https://github.com/phetsims/tasks/issues/1010. We could use the "fix" option during lint to convert a lot of usages. If we get lucky we may be able to fix all of them.

[2019-09-19 22:27] zepumph commented on #1010
I committed the top two above. I will attempt to use the `no-var` to autofix over in https://github.com/phetsims/tasks/issues/1012. Closing

[2019-09-19 22:27] #1010 closed

[2019-09-19 23:03] zepumph commented on #1012
After the above commits. There are now "only" 600 usages of `var` in js code. This feels like a relatively small number considering our code base. By glancing at some usages, it looks like for the most part these are the weird cases where there is potential for hoisting loops etc. I don't think I need to spend any more time on this personally. If there was going to be more work done. I think we co

[2019-09-19 23:03] #1012 closed

[2019-10-02 16:53] terracoda commented on #1008
@DianaTavares, I am going to close this issue for now. I'll open a new one when/if we need to iterate.

Thanks for your help on this figure.

[2019-10-02 16:53] #1008 closed

[2019-10-07 23:09] zepumph commented on #917
Over in https://github.com/phetsims/rosetta/issues/193 we have a plan forward that involves deleting `*A11yStrings.js` files. I'm going to close this, see https://github.com/phetsims/chipper/issues/795 for issue about deleting.

[2019-10-07 23:09] #917 closed

[2019-10-14 22:12] KatieWoe commented on #553
This may be discussed more in QA.  For now we will try to add definitions for the three levels of performance

[2019-10-14 22:12] #553 closed

[2019-10-23 17:54] chrisklus opened #1013 "using delete increases memory"
@samreid, @zepumph, and I were trying to improve cleanup by removing the no-longer-needed phetioBaselineMetadata from all phetioObjects after the sim's construction has finished with `delete this.phetioBaselineMetadata` in PhetioObject.

We then ran some tests to see if this saved us any memory, too, but found that this deletion actually consistently *increased* Graphing Quadratic's memory by 1MB.

[2019-10-24 16:13] jonathanolson commented on #1013
It definitely would change the hidden class, however there's a chance that it's not changing the hidden class and is instead rolling it back to a slower larger key-value store type? That would explain the memory increase. nulling things out would probably be preferred.

[2019-10-24 16:41] samreid commented on #1013
I ran the following tests to see the impact on memory:

[code]

[code]

[2019-10-24 16:49] jonathanolson commented on #1013
Are we using random (or different) property names in common phet-io things?

[2019-10-24 16:50] zepumph commented on #1013
Not that I know of.

How would we do a delete case that demonstrated this problem? I couldn't get it to work with this.

[code]

[code]

[2019-10-24 16:53] samreid commented on #1013
No, but I've sometime seen code like this:

[code]

[2019-10-31 18:34] amanda-phet opened #1014 "Investigate MS Teams"
Things to investigate:
- Web, desktop, and mobile clients
- Messaging
- Emoji reactions
- Code snippets
- Channels
- Threads
- Message searching
- Guest access
- Status options
- Integrations with google drive, google calendar, github
- Polling option (also, Forms)
- Video calling features
- Teams (directory, how conversations are organized, quick access to people, tabs)

[2019-11-05 16:43] jessegreenberg commented on #992
I added the item to the CRC - closing.

[2019-11-05 16:43] #992 closed

[2019-11-20 20:22] pixelzoom opened #1015 "using Molarity as an example"
@ariel-phet asked for a list of which parts of Molarity are related to phet-io and a11y, to be safely ignored in the context of a programming task that focuses on the general MVC architecture of PhET sims.  Here’s my (likely incomplete) list:

phet-io
* everything in the phet-io/ directory
* all tandem options
* any option with “phetio” prefix
* any comment that starts with “phet-io” or “phetio”

[2019-11-21 19:51] zepumph commented on #1015
I will take a look at this as part of https://github.com/phetsims/molarity/issues/165.

[2019-12-03 23:06] oliver-phet opened #1016 "Create gifs for email campaign"
Can you please create a ~600px wide (at our standard aspect ratio) GIF of quick interactions (~5 seconds) with the following unreleased sims:

- [ ] Energy Skate Park - measure screen, using the measure tool on dots
- [ ] Circuit Construction Kit:AC -
- [ ] Density -

@kathy-phet please fill in details for what you would like. QA can take the recordings and I can get them into our holiday emails.

[2019-12-03 23:32] oliver-phet commented on #1016
Also - if it seems like the details are too small to capture at our normal aspect ratio, you could take a smaller screen recording of the relevant feature.

[2019-12-04 16:41] KatieWoe commented on #1016
Not final, just suggestions for what the gifs might look like.  Let me know if you approve and I'll make good quality versions in the right aspect ratio:
![suggestionforgif](https://user-images.githubusercontent.com/41024075/70162044-48b71280-167a-11ea-92e1-e8f0ad7e75a4.gif)

[2019-12-04 18:34] oliver-phet commented on #1016
@KatieWoe I think these are looking good - @kathy-phet any comments or requests?

[2019-12-05 23:49] oliver-phet commented on #1016
@KatieWoe Can you try making a new separate gif on ESP - basically what you already had above (but at the proper aspect ratio)?
Might try to "zoom in" to the energy panel/dots within the gif.

[2019-12-06 19:20] KatieWoe commented on #1016
@kathy-phet here are my proposals:
![espzoomin](https://user-images.githubusercontent.com/41024075/70349805-b8680180-1822-11ea-8907-b01bcdc4ffa1.gif)

[2019-12-06 19:20] KatieWoe commented on #1016
![cckac](https://user-images.githubusercontent.com/41024075/70349825-c1f16980-1822-11ea-8732-51ef057f49c3.gif)

[2019-12-06 19:20] KatieWoe commented on #1016
![density](https://user-images.githubusercontent.com/41024075/70349839-c9187780-1822-11ea-8688-3aaa39ae4bdd.gif)

[2019-12-09 20:20] ariel-phet opened #1017 "Ensuring associated github issue for TODOS in common code"
As discussed in https://github.com/phetsims/chipper/issues/815, we will go through our common code repos (excluding scenery, dot, kite for now) and see what TODOs need an associated github issue, once complete, we will enforce the suggested lint rule in these common repos. We will have devs sign up for various repos at dev meeting, and do a weekly check in until this work is complete.

- [x] aqua

[2019-12-11 19:21] oliver-phet commented on #1016
@KatieWoe I don't know what caused this but the CCK image seems to have a black border on the top and right sides. Any way to get rid of that?

[2019-12-11 19:31] KatieWoe commented on #1016
I probably didn't have the screen aligned well when I recorded it. I'll try to crop it out.

[2019-12-11 19:36] KatieWoe commented on #1016
Here you go:
![ezgif com-resize](https://user-images.githubusercontent.com/41024075/70654072-dbbff180-1c12-11ea-95b6-d1c8dd7ab68d.gif)

[2019-12-12 21:52] zepumph opened #1018 "Improve high level documentation about phetsims repos"
From https://github.com/phetsims/phet-io-wrappers/issues/292.

It was brought up that github repos have a flat structure, there is no inherent way to classify or organize them. The main issue with this is adding to the cognitive load of newcomers. There is no good way to understand high level groupings.

If we just had a single giant repo, it is likely that we would have a structure like:
- phetsi

[2019-12-17 02:24] ariel-phet commented on #999
@KatieWoe this would be a fairly helpful background task for QA (or yourself)

Basically it would be useful to analyze our stats for several various trends. Perhaps starting with a spread sheet that notes peak usage times for something like our 30 most popular HTML5 sims

We could also interrogate statistics for other trends in the future, like understanding if there are certain international usag

[2019-12-19 02:08] pixelzoom commented on #1018
I don't think that having a single document is the way to go.  It is unlikely to be maintained, and it's not "the way" that GitHub repositories are typically documented.

I'd start with a list of common-code repositories, and useful information in the `README.md` files for those common-code repositories.  The README.md is what everyone sees when they come to a repository's GitHub page - it's where

[2019-12-19 17:41] jonathanolson commented on #1018
Improving READMEs of common repos sounds good in general.

[2019-12-26 18:37] pixelzoom commented on #1017
All of the "chipping" that I volunteered for is done.  I created 7 issues, and addressed 2 or 3.

[2019-12-30 17:01] samreid commented on #966
Renames completed and I added a bad-text rule to prevent new modules from being named ending in `Util` (singular).  I'll leave this open until CT has a good column or two.

[2019-12-31 00:33] samreid commented on #966
CT seems OK and the new lint rule seems OK, closing.

[2019-12-31 00:33] #966 closed

[2020-01-02 17:17] #1016 closed

[2020-01-13 19:56] amanda-phet opened #1019 "Artwork needs for Number Line Suite"
### Number Line Operations:
- [x] "Money bags" for assets and debts with room for those respective labels and room for 4 objects

The following objects need an obvious spot to include the dollar amounts, either integrated into the image or just below the images:
- [x] Borrow note
- [x] Credit card debt x2
- [x] Bike loan
- [x] Paper money bill (might just use the one from CCK?)
- [x] Gold bar
- [x

[2020-01-17 23:40] KatieWoe commented on #999
This spreadsheet was made with data from 2017, 2018, and 2019: https://docs.google.com/spreadsheets/d/1NzSOldWr2ewmj-YmY38rfyDF6Tjd-sx_yyRhpNrizMI/edit?usp=sharing
The cells have the number of the two months that saw the most traffic that year for that sim. The cell is red if the data is incomplete and grey if there is no data. The sims are marked green if there is complete for all three years. Th

[2020-01-21 17:06] ariel-phet commented on #1014
For the moment, we feel like slack is meeting our needs.

One of the big missing features of Teams currently appears to be the ability to set a current status, which although a small feature, is fairly integrated into our current workflow/habits.

I am going to mark as deferred and set a calendar reminder for us to revisit this question in 6 months.

[2020-01-23 05:08] samreid commented on #1018
Note this overlaps somewhat with the automatic README generation in https://github.com/phetsims/utterance-queue/issues/5#event-2971998130

[2020-01-23 21:26] KatieWoe commented on #999
The second sheet is finished. It is organized by month and contains sims that are listed on the first page with that month if it included a year's worth of data. If the sim is Green, that month was in the top 2 used for 3 years. If it is yellow, the month was in the top 2 used for 2 years. If it is orange, the month was in the top 2 used for 1 year.

[2020-01-24 00:14] zepumph opened #1020 "Eliminate all debugger usages from the project"
I often get bit by trying to search for where I have added debuggers for local debugging and finding that the project has 12 usages of `debugger;` checked in. Can we get rid of them? I'm going to try to do that and mark for dev meeting to see if anyone disagrees with me.

[2020-01-24 00:54] zepumph commented on #1020
Done in the above commit. In all cases it seems like I was just cleaning up, and most of it looked mistakenly checked in. Does anyone dislike the idea of adding `debugger;` to bad-text?

[2020-01-27 22:07] arouinfar commented on #962
As discussed with @megan-phet, we'd like two additional skaters which look more like high school students -- one male and one female.

The latest .ai file can be found in the sim design folder:
https://drive.google.com/drive/folders/0B6CMwxdP0NGYQXEyZVk0U3I1Q3M

This should take priority over #1019.

[2020-01-27 22:21] arouinfar opened #1021 "Artwork for CCK - updated dog"
In https://github.com/phetsims/circuit-construction-kit-common/issues/512 we modified the behavior of the dog so that it has a fuse-like behavior. It will disconnect from the circuit and bark when the current is too high.

We would like to update the dog's artwork so to that it looks at the screen when when it "barks". @megan-phet mentioned that it might be more time consuming to modify the origin

[2020-01-29 23:51] pixelzoom commented on #1020
I don't see any reason why code with `debugger;` should be checked in.  OK with me to add to bad-text.js.

[2020-01-30 02:47] samreid commented on #1020
It would be better to use this built-in lint rule: https://eslint.org/docs/rules/no-debugger

[2020-01-30 03:08] zepumph commented on #1020
That's a great idea! Thanks @samreid.

[2020-01-30 18:20] jessegreenberg commented on #1020
We are already using no-debugger
![image](https://user-images.githubusercontent.com/6396244/73477989-3c41f400-4363-11ea-885d-93bc71613db5.png)

[2020-02-06 19:58] samreid commented on #1017
@ariel-phet would like to see another one checked off for next week.

[2020-02-06 22:53] zepumph commented on #1017
Chipper is done

[2020-02-11 19:24] pixelzoom opened #1022 "fill in gaps in public-facing developer documentation"
Over in https://github.com/phetsims/normal-modes/issues/2, I did a code review of Normal Modes, contributed by a 3rd party.   The review took longer than expected because the 3rd party was not aware of some of the essential tools and documentation that PhET relies on.

@ariel-phet asked me to create this issue based on my comment in https://github.com/phetsims/normal-modes/issues/2#issuecomment-58

[2020-02-12 17:57] amanda-phet opened #1023 "Modify banner artwork"
Currently all banners are 1024x170. We would like the artwork modified so that
1. The banners are 1300x170 (with artwork contained in 1260x170)
2. All titles are vertically centered in the banners

There can be artwork above and below the title bounding boxes, just not inside. In some cases the artwork can be make larger or smaller, but in most cases you'll probably need to _add_ artwork to fill t

[2020-02-12 23:20] pixelzoom commented on #1020
@zepumph Since we already have a lint rule for this, can this issue be closed?

[2020-02-12 23:46] clmccutchan commented on #1023
@amanda-phet Here's a first attempt at the underwater banner.

![banner_underwater_021220-01](https://user-images.githubusercontent.com/25354670/74387904-1bdc5580-4db7-11ea-866d-33b37ed1098b.jpg)

[2020-02-13 00:58] zepumph commented on #1020
What I was finding was code that wasn't linted, and multiple places where there was checked in `// debugger;`. I think that it was enough to just delete those few usages. Ready to close, thanks.

[2020-02-13 00:58] #1020 closed

[2020-02-13 15:04] samreid opened #1024 "Greenhouse waves prototype"
@arouinfar requested a Greenhouse waves prototype, here are my notes on how it should work:

Waves emanating down from the top of the screen.  Not damped.  Black lines on white page, controls for frequency and amplitude. Control for number of waves.  They are all in phase.  3-10 waves.  Reset button that starts them at the top again.

Next greenhouse meeting is Tuesday 1pm.  But Amy is out on Feb

[2020-02-13 15:09] samreid commented on #1024
Here's an initial prototype, you need to make sure the window is short and wide instead of tall and thin so you don't see the tops of the sine waves:

https://phet-dev.colorado.edu/html/scenery-phet/1.0.0-dev.17/phet/scenery-phet_en_phet.html?greenhouseWaves

@arouinfar can you please take a look and let me know if you'd like any other changes for this draft?

[2020-02-13 18:05] samreid commented on #1024
@kathy-phet here is a version with yellow waves and a higher max number of waves:

https://phet-dev.colorado.edu/html/scenery-phet/1.0.0-dev.18/phet/scenery-phet_en_phet.html?greenhouseWaves

[2020-02-13 22:45] clmccutchan commented on #1023
@amanda-phet To make the colors on the banners less vibrant, I've added a white rectangle above the image and decreased it's opacity. You can set the opacity at the percent that works best for the website.
![banner_underwater_OpaqueLayer-01](https://user-images.githubusercontent.com/25354670/74485379-d7fd5500-4e77-11ea-8456-d21f53efc809.png)

[2020-02-13 23:17] clmccutchan commented on #1023
@amanda-phet Here's a draft of the classroom banner.
![banner_classroom_Border_021320](https://user-images.githubusercontent.com/25354670/74487265-417f6280-4e7c-11ea-85b2-89eeefa36747.png)
![banner_classroom_Opaque_021320](https://user-images.githubusercontent.com/25354670/74487269-42b08f80-4e7c-11ea-98c9-742e1ee47cd8.png)

[2020-02-14 17:50] amanda-phet commented on #1023
I think it would be helpful to see the classroom banner with a title. I suspect that it will look strange with a title centered in that red rectangle and not centered within the white board. A few ideas...
1. Make the whiteboard the fill height of the banner (or maybe with a thin border) and put the student in the center over to the side.
2. Make the whiteboard shorter so the title looks centered

[2020-02-14 20:42] clmccutchan commented on #1023
Totally agree on the classroom, @amanda-phet.

1 and 2. I had the same thought about the whiteboard and started altering it. I'll place sample text that is two lines long in each of the banners so we can really get a feel for the text placement. I think that it could be centered vertically and the student moved.

3. We may need to discuss this so I can come up with a solution that makes sense with

[2020-02-14 21:38] arouinfar commented on #1024
@samreid this is looking great, thanks!

I think this demo takes care of our needs @kathy-phet. Can we close the issue?

[2020-02-17 00:33] clmccutchan commented on #1023
@amanda-phet I've updated the classroom, skatepark, and jungle banners.
![banner_classroom_021420](https://user-images.githubusercontent.com/25354670/74615972-50674e80-50e2-11ea-80ea-a2496a3f6b2b.png)
![banner_skatepark_021420](https://user-images.githubusercontent.com/25354670/74615974-53623f00-50e2-11ea-9e53-94e80460c3a4.png)
![banner_jungle_CM_021620](https://user-images.githubusercontent.com/2

[2020-02-17 21:48] amanda-phet commented on #1023
These are looking really great! Let me try them in context for these pages and run them by the team at tomorrow's meeting.

[2020-02-18 01:50] clmccutchan commented on #1023
@amanda-phet Here are two more. I've left the more difficult lab scene and three flatiron banners for last. Let me know what edits need to be made to the other banners!

![banner_flyingphetgirl_021720-01](https://user-images.githubusercontent.com/25354670/74696835-34cd7800-51b6-11ea-8489-9b1bf4cbad48.png)
![banner_space_021720-01](https://user-images.githubusercontent.com/25354670/74696841-35fea50

[2020-02-18 21:56] clmccutchan commented on #1023
@amanda-phet Here are two ideas for the laboratory banner. The text in example B is centered in the vertical space but looks too low because there are no graphic elements at the top of the banner to balance the lab bench at the bottom. Example A attempts to create a more balanced space. There might be another graphic that would work better than the curly tubing.

![banner_lab_021820A](https://user

[2020-02-18 22:31] amanda-phet commented on #1023
These are all looking great! One thing I think I'd like, now that we're making these a lot more useful... is actually a wider box for titles. I think the bounds right now for that inner rectangle are 300x105. If you can squeeze that out to 400x105 I think that might make the area a little more useful. The outer rectangle (170x420) should still include some visual elements so that on a mobile devic

[2020-02-19 20:11] amanda-phet opened #1025 "Feedback on website description"
@ariel-phet Edit/suggest/comment in this doc: https://docs.google.com/document/d/1Mv7DCXKlo7h1SE8Grv2NC04zU5ND-ObpDK_XqcfGZXs/edit#heading=h.m5fwu39qwys5

[2020-02-20 01:55] clmccutchan commented on #1023
@amanda-phet Here are 5 of the banners with the new boundaries and the correct font.

![banner_jungle_021920](https://user-images.githubusercontent.com/25354670/74893309-5317ad00-5349-11ea-924d-a2b719425ece.png)
![banner_lab_021920](https://user-images.githubusercontent.com/25354670/74893312-54e17080-5349-11ea-98e1-426f490a0af4.png)
![banner_skatepark_021920](https://user-images.githubusercontent.

[2020-02-20 20:27] Denz1994 commented on #1017
As discussed in dev-meeting on 02/20/20:
PSA @jbphet will take a swing at one of his assigned repo within the next 1-2 weeks.

[2020-02-20 21:02] clmccutchan commented on #1023
@amanda-phet Here are two more with the updated text boundary. I'll work on the three flatirons scenes now.

![banner_classroom_021920](https://user-images.githubusercontent.com/25354670/74978307-8c9ff500-53e9-11ea-9acd-c1584ce6d8e4.png)
![banner_flyingphetgirl_021920](https://user-images.githubusercontent.com/25354670/74978310-8dd12200-53e9-11ea-82a0-fe06792de2ec.png)

[2020-02-20 21:32] amanda-phet commented on #1023
Awesome. These look great!

[2020-02-21 15:47] clmccutchan commented on #1023
@amanda-phet I'm going to need to rework the Flatirons scene(s). The current layout just doesn't work with the text box layout. I'll try to get a new draft of one of the Flatirons banners by Monday.

[2020-02-25 03:29] ariel-phet commented on #1025
@amanda-phet I have added my feedback, closing

[2020-02-25 03:29] #1025 closed

[2020-02-25 22:25] amanda-phet commented on #1023
@clmccutchan can you email or upload the ai files for these final banners? We are ready to do some exporting and get the website updated!

[2020-02-25 22:47] clmccutchan commented on #1023
@amanda-phet I'm having trouble finding the Google drive I need to put the .ai files in. Could you send a link? Thanks!

Also, I should have a draft of the Flatirons tomorrow!

[2020-02-26 00:03] ariel-phet commented on #990
This issue appears stale. Closing

[2020-02-26 00:03] #990 closed

[2020-02-26 00:03] ariel-phet commented on #948
This spreadsheet is working nicely. Closing

[2020-02-26 00:03] #948 closed

[2020-02-26 00:04] ariel-phet commented on #862
We seem to no longer be facing this issue in github issues. Closing

[2020-02-26 00:04] #862 closed

[2020-02-26 00:05] ariel-phet commented on #415
This just no longer seems like a relevant need for the project. Closing

[2020-02-26 00:05] #415 closed

[2020-02-26 00:07] ariel-phet commented on #158
Our flyer and business cards seem to have been working well at the booth, closing

[2020-02-26 00:07] #158 closed

[2020-02-26 16:27] pixelzoom opened #1026 "convert @pixelzoom sims to ES6"
Convert the sims that I'm responsible for to ES6. I'm constantly bumping into old-style code, and it would be nice just to do it all at once and be done with it.  I have an efficient process now, so think I could do it in a day.  My sims that need to be converted are:

- [x] acid-base-solutions
- [x] balancing-chemical-equations
- [x] beers-law-lab
- [x] concentration
- [x] equality-explorer
- [x]

[2020-02-26 16:58] ariel-phet opened #1027 "Migrate "Spotlight" sims on Edmodo to their "Discover" platform"
Currently, Edmodo has changed their platform, but it is unclear if and when we will be able to upload resources

https://support.edmodo.com/hc/en-us/articles/360040227553

[2020-02-26 17:32] amanda-phet commented on #1023
This folder should work: https://drive.google.com/drive/folders/11Pjhsui7cGYKEIFuNeC_IjjqPuB-TBWV

Thanks!

[2020-02-26 20:01] clmccutchan commented on #1023
@amanda-phet I've placed 7 Illustrator files in the folder. All of the files are saved as CS6. The 3 remaining banners all of the Flatirons.

[2020-02-26 21:31] clmccutchan commented on #1023
@amanda-phet Here's a first draft of a reworked Flatirons banner.

![banner_flatirons_022620](https://user-images.githubusercontent.com/25354670/75389917-a2f3f800-58a4-11ea-8605-a010cfa7299b.png)

[2020-03-02 19:17] amanda-phet commented on #1023
Thanks @clmccutchan ! I went to the folder and had no problem opening the underwater banner, exported it, and hopefully soon it will be on the website. If any issues arise I'll let you know, but I don't anticipate anything.

I'll run this flatirons banner by the team tomorrow. I think it looks pretty!

[2020-03-04 06:55] pixelzoom commented on #1026
Conversion of my sims is complete, except for these classes:

equality-explorer:
- [ ] TermDragListener
- [ ] UniversalOperationControl

unit-rates:
- [ ] DoubleNumberLineAccordionBox
- [ ] ShoppingQuestionsAccordionBox

All of these have complicated "`this` before `super`" issues.

[2020-03-05 20:03] pixelzoom opened #1028 "replace mipmap with image where possible"
Many of the mipmaps (that we used mainly to solve Firefox quality problems) are probably not needed anymore.  Identify where mipmaps are used, convert to images where they aren't needed.

[2020-03-10 20:07] pixelzoom commented on #1026
The remaining conversions listed in https://github.com/phetsims/tasks/issues/1026#issuecomment-594357784 are done.   All sims that I'm responsible for have been converted to ES6.  Closing.

[2020-03-10 20:07] #1026 closed

[2020-03-11 17:54] clmccutchan commented on #1023
@amanda-phet Here's another draft of the Flatirons banner. The right side of the mountains needs some work and the plants aren't completely filled in. I think the thing that is odd about the Flatirons banners is that they don't have any people in them. All of the other banners have kids doing things, but the three Flatirons banners don't match this style. I think I'm trying to create a hybrid styl

[2020-03-11 18:14] amanda-phet commented on #1023
I agree the mountains need a little bit of work (a little pointer? flatter sides?), but I love the buffalo and plants! This is awesome! Don't worry about the lack of people in this banner. It looks great as it is. Thanks for the update, and I'd say let's continue in this direction.

[2020-03-12 02:21] samreid commented on #987
I followed these instructions to tell WebStorm to check JS code using the Typescript type checker:
https://blog.jetbrains.com/webstorm/2019/09/using-typescript-to-check-your-javascript-code/

The results looked something like this for main/gas-properties/js/diffusion/view/DiffusionSettingsNode.js

![image](https://user-images.githubusercontent.com/679486/76480964-cdca6a00-63d5-11ea-8d13-e91a36d864

[2020-03-12 19:16] jessegreenberg commented on #1018
We are going to wait until @ariel-phet is available to discuss this during a dev meeting, we need to decide which developers will be responsible for documentation in each repo.

[2020-03-12 22:19] oliver-phet opened #1029 "Create artwork for Flash end-of-life"
@megan-phet We'd like you to create some artwork that will be used on the website and emails to users about the upcoming [end-of-life of Adobe Flash](https://theblog.adobe.com/adobe-flash-update/).

Some ideas we've tossed around:

1. [A Flash gravestone](https://www.google.com/search?q=adobe+flash+dead&client=safari&hl=en&sxsrf=ALeKk01BNNVAf_nY4zMxtSxJAsrkdHlVrw:1584051333342&source=lnms&tbm=isch

[2020-03-12 22:32] amanda-phet commented on #1029
Some "cute gravestone" ideas. Instead of R.I.P. it would be the flash logo.

![image](https://user-images.githubusercontent.com/7852916/76571852-2bb28c80-647e-11ea-83b2-7b87c440224e.png)

![image](https://user-images.githubusercontent.com/7852916/76571899-408f2000-647e-11ea-8d32-62020c8bce4c.png)

![image](https://user-images.githubusercontent.com/7852916/76571937-56044a00-647e-11ea-8e69-30a545251

[2020-03-12 23:16] jbphet commented on #1017
Mine are done, unassigning.

[2020-03-13 01:15] pixelzoom commented on #942
Reopening.  This TODO by @zepumph has not been addressed:

[code]

[2020-03-13 01:19] pixelzoom commented on #1017
I did the perennial and tappi repos.

[2020-03-13 01:52] pixelzoom commented on #1017
I also took care of scenery-phet.

All repos are done. Closing.

[2020-03-13 01:52] #1017 closed

[2020-03-15 00:37] pixelzoom opened #1030 "Building and running legacy Java sims in IntelliJ IDEA"
For the "ports" of Gas Properties and Natural Selection to HTML5, I needed to revisit the Java legacy code, and it was very useful to have it build and run in IntelliJ IDEA.   I managed to do this, but it took some time, so I figured that I'd make some notes here for posterity.

The screenshot below shows details about the version of IDEA that I used.  I made the mistake of updating, only to disco

[2020-03-15 00:44] pixelzoom commented on #1030
I also verified that PhetBuildGUI starts.  But the "Test" button used to run the sim results in a bunch of build errors, so I stopped there.  So if you need PhetBuildGUI to redeploy a sim for some reason, you'll likely have work to do.

[2020-03-16 23:59] zepumph commented on #942
I have not worked on this file at all, over to you @samreid.

[2020-03-17 00:12] samreid commented on #942
No work planned at the moment, unassigning.

[2020-03-18 16:51] clmccutchan commented on #1023
@amanda-phet I've filled in the plants and fixed the right side of the mountains for the Flatirons banner. I'm working on the snow scene now.

![banner_flatirons_031720](https://user-images.githubusercontent.com/25354670/76985832-70b74280-6906-11ea-82df-8ba22ba6b1bc.png)

[2020-03-19 21:30] amanda-phet commented on #1023
Looks awesome!

[2020-03-23 23:31] clmccutchan commented on #1023
@amanda-phet Here are the last two Flatirons banners. Let me know what you'd like me to edit.

![banner_flatironsnow_032120](https://user-images.githubusercontent.com/25354670/77372765-10703880-6d2c-11ea-9c84-3bf639e5595e.png)
![banner_flatironsunset_032320](https://user-images.githubusercontent.com/25354670/77372769-1239fc00-6d2c-11ea-9bb8-3c6c61d638db.png)

[2020-03-24 17:20] amanda-phet commented on #1023
These look great! I'm a little concerned about the sunset one because it's also night time, and I'm not sure there is enough contrast between the white text and the background for some of those light colors. So I think we either need to make it earlier in the evening (so the rest of the sky can be blue/purple, but light enough for black text), or later at night (and just a very faint glow where th

[2020-03-25 22:44] megan-phet commented on #1029
How is this?
<img width="526" alt="Screen Shot 2020-03-25 at 4 44 04 PM" src="https://user-images.githubusercontent.com/40698031/77592438-ca47e000-6eb7-11ea-8ae0-098d6e353cb5.png">

[2020-03-25 23:47] clmccutchan commented on #1023
@amanda-phet Let me mess around with this. I'll lighten the sky and try removing the moon. I may need to add bats or some other creature that likes being out at dusk.

[2020-03-26 00:30] oliver-phet commented on #1029
I wonder if the "f" needs to be red so that it is more recognizable?

[2020-03-26 16:45] amanda-phet commented on #1029
Can you make the style more similar to the examples? I think I prefer the old "toon" style in this case.

[2020-03-26 20:08] oliver-phet opened #1031 "New user email"
(ON, AP) An email to our new users with short gifs about how to do things. Orientation.

[2020-03-26 20:55] oliver-phet commented on #1031
Quick ideas:
- HTML5 vs Java/Flash
- Share a sim link with students
- Embed a sim
- Find teaching activities associated with a sim
- Browse sims/find subjects
- Find translations
- Offline access

[2020-03-26 21:08] oliver-phet commented on #1031
@ariel-phet Enter copy here: https://docs.google.com/document/d/1s7w8Dl4Zj6q4Sl_TuVBJ4mfIn_PeGyKPyptmd810osI/edit

[2020-03-26 22:27] oliver-phet commented on #1031
Also, new registrants currently receive this:

![](https://cloud.githubusercontent.com/assets/11747676/23738678/a94290d0-0457-11e7-8cd3-4573703ad735.png)

[2020-03-30 16:46] KatieWoe commented on #999
New page ranking sim usage in each month of 2019..

[2020-03-30 19:27] oliver-phet commented on #1031
We may just want to replace the above new user email with the [Google doc email](https://docs.google.com/document/d/1s7w8Dl4Zj6q4Sl_TuVBJ4mfIn_PeGyKPyptmd810osI/edit). That way any new users after the transition receive that info.

[2020-03-31 18:21] megan-phet commented on #1029
<img width="795" alt="Screen Shot 2020-03-31 at 12 21 24 PM" src="https://user-images.githubusercontent.com/40698031/78061220-20020980-734a-11ea-868e-87605b94b7fc.png">

[2020-03-31 18:24] megan-phet commented on #1029
<img width="771" alt="Screen Shot 2020-03-31 at 12 24 46 PM" src="https://user-images.githubusercontent.com/40698031/78061475-88e98180-734a-11ea-9b40-7103ad7f349a.png">

[2020-03-31 18:26] megan-phet commented on #1021
![IMG_08E0FB1EF6A9-1](https://user-images.githubusercontent.com/40698031/78061708-d9f97580-734a-11ea-885c-d9e2b00b2419.jpeg)

[2020-04-01 20:14] arouinfar opened #1032 "Background artwork for Energy Skate Park"
For https://github.com/phetsims/energy-skate-park/issues/248.

The Java version of [Energy Skate Park](https://phet.colorado.edu/en/simulation/energy-skate-park) had different backgrounds when the gravity was set to Moon or Jupiter.
| Moon | Jupiter |
| --- | --- |
| ![image](https://user-images.githubusercontent.com/8419308/78177806-eac5ec00-741b-11ea-8ff4-ad2e80efac40.png) | ![image](https://use

[2020-04-01 20:30] arouinfar opened #1033 "Background artwork for the Greenhouse Effect"
This is a higher priority than #1032.

We are currently redesigning the [Greenhouse Effect](https://phet.colorado.edu/en/simulation/legacy/greenhouse) simulation, which has three distinct scenes: modern, pre-industrial, and ice age.

Java artwork:
<img width="790" alt="Screen Shot 2020-04-01 at 2 16 30 PM" src="https://user-images.githubusercontent.com/8419308/78182488-827b0880-7423-11ea-85e3-81f2

[2020-04-06 18:10] oliver-phet commented on #1031
User email is coded up. Current plan is to send 4/7/2020 (pending more remote activity tagging).

[2020-04-06 18:10] #1031 closed

[2020-04-12 22:13] megan-phet commented on #1021
<img width="426" alt="Screen Shot 2020-04-12 at 4 12 33 PM" src="https://user-images.githubusercontent.com/40698031/79081204-825af280-7cd8-11ea-8b43-e8615cf66881.png">

[2020-04-16 15:14] samreid commented on #1022
If `assert` was an `import` instead of a global, then users could have a clear path to navigating to it, then we can document it there?

[2020-04-20 19:49] amanda-phet commented on #1023
Hey @clmccutchan do you have an update on the flatirons banners? I think the sunset one was the only one that still needed tweaking. How is that going now? I think the spring and winter ones were all done- can you put those in the google drive for us to start using?

[2020-04-20 20:34] clmccutchan commented on #1023
Hi @amanda-phet, I'm working on that banner today and tomorrow and hopefully, will have a new draft by the afternoon. Sorry I stalled out on that!

[2020-04-21 02:10] amanda-phet commented on #1023
Thanks for the update! Just wanted to wrap this up because I might have another task for you to start :)

[2020-04-22 21:59] amanda-phet opened #1034 ""Gifts" artwork for Ratio and Proportion"
@emily-phet has asked for some "gift" artwork for a new sim that is being actively worked on. See https://github.com/phetsims/ratio-and-proportion/issues/22 for full details and context.

This issue is for tracking progress and discussing feedback.

Please create 5 differently shaped and styled gifts similar to the ones in this photo.
![image](https://user-images.githubusercontent.com/7852916/8003

[2020-04-23 00:24] clmccutchan commented on #1023
@amanda-phet Here's a light option and a dark option for the sunset banner. What do you think?

![banner_flatironsunset_DARK_042120](https://user-images.githubusercontent.com/25354670/80045995-733d2700-84c6-11ea-88e9-73e8b358ec08.png)
![Uploading banner_flatironsunset_LIGHT-042220.png…]()

[2020-04-23 00:28] clmccutchan commented on #1023
@amanda-phet  Here's a light option and a dark option for the sunset banner. What do you think?

![banner_flatironsunset_DARK_042120](https://user-images.githubusercontent.com/25354670/80046093-cc0cbf80-84c6-11ea-8d76-96e5c1e5f576.png)
![banner_flatironsunset_LIGHT-042220](https://user-images.githubusercontent.com/25354670/80046118-daf37200-84c6-11ea-9f35-e137dc96fc3a.png)

[2020-04-23 19:32] zepumph commented on #1022
From developer meeting today:

* Not a super high priority
* There are more developers out there using our code
* Updating documentation is important
  * Running lint
  * enabled assertions (maybe we enabled by default)
  * Using es6 modules
* Add assertions to example-sim/simula rasa as examples (there are none currently)

@pixelzoom volunteered to implement the last two bullets. Thank you @pixel

[2020-04-23 19:57] pixelzoom commented on #1022
- [x] Running lint

I added this to the "Utilities and Instrumentation for Development and Testing" section of the PhET Development Overview:

- [x] enabled assertions (maybe we enabled by default)

This was already present in the "Utilities and Instrumentation for Development and Testing" section of the PhET Development Overview:

- [x] Using es6 modules

This will presumably be addressed by http

[2020-04-23 20:14] amanda-phet commented on #1023
Now we have another banner, yay! They both look great to me. The light sunset has something funny on the pink circle, but I can't quite tell what it is, but the top looks like the blue is squishing it or something. The shape just doesn't quite look as "radiant" as the one in https://github.com/phetsims/tasks/issues/1023#issuecomment-602914587. But this is minor. I think if you find anything there

[2020-04-23 20:59] clmccutchan commented on #1023
@amanda-phet The light blue banner has to abrupt a transition between the pink and blue. I'll tweak that.

[2020-04-23 21:25] clmccutchan commented on #1023
@amanda-phet I've changed the type of blur used in the sunset to that it transitions better from one color to the next.

![banner_flatironsunset_CM_LIGHT-01](https://user-images.githubusercontent.com/25354670/80150978-86a7cb00-8576-11ea-8270-06e6970baca5.png)

[2020-04-23 22:55] clmccutchan commented on #1023
@amanda-phet All the Illustrator files have been uploaded. Let me know if there's anything else you want me to tweak.

[2020-04-23 23:06] arouinfar commented on #1034
@clmccutchan you can prioritize this above the sim background artwork needed in #1033 and #1032.

[2020-04-23 23:16] clmccutchan commented on #1034
@amanda-phet you bet! Do you have maximum/minimum dimensions in mind, such that I shouldn't make a very tall, skinny package? Should I just keep the dimensions similar to those in the examples?

[2020-04-24 14:07] emily-phet commented on #1034
@clmccutchan Good question!

I don't have exact dimensions, but this might help. The gifts will likely be in a drop down menu (similar to the solutes in [Molarity](https://phet.colorado.edu/sims/html/molarity/latest/molarity_en.html). Where this is a colored square indicating solute color, there would be a gift box with the words "Mystery 1", "Mystery 2", etc. or "Challenge 1" "Challenge 2", etc.

[2020-04-24 20:53] clmccutchan commented on #1034
@emily-phet That gives me an idea of the size. The gifts will be pretty small and shouldn't have a lot of detail, but each gift will need to be distinctive from the others.

[2020-04-25 01:50] amanda-phet commented on #1023
Thanks so much @clmccutchan . These are all so beautiful. I can't wait until we can get them all up on the website!

[2020-04-25 01:51] #1023 closed

[2020-04-27 16:33] clmccutchan commented on #1034
@amanda-phet @emily-phet I have a first rough draft of 7 possible gifts. I've made these drafts 100x100 px, which may still be too large. I've used much brighter colors than the examples above because they will be so small. Note that most of the packages still need some work. Let me know which styles you like, edits you have for colors, and how you might like the patterns/bows/ribbons rearranged.

[2020-04-27 18:48] amanda-phet commented on #1034
These are super cute! I'll leave this to @emily-phet and @zepumph to specify size and feedback.

[2020-04-27 19:23] ariel-phet commented on #1022
@chrisklus please feel free to close once review (and any changes or back and forth that should take place) are complete.

[2020-04-27 19:48] chrisklus commented on #1022
Code and documentation changes look good. I tested the type checks added to `simula-rasa` with `grunt create-sim` and they're working as expected. Thanks @pixelzoom, back to you to close if all set.

[2020-04-27 19:56] pixelzoom commented on #1022
👍 Closing.

[2020-04-27 19:56] #1022 closed

[2020-04-28 23:43] zepumph commented on #1034
Over to @emily-phet as the lead designer.

[2020-04-29 13:58] emily-phet commented on #1034
@clmccutchan Agreed, very cute! After discussing with @zepumph yesterday, and considering the small space available for each, it might be best to go with very simple shapes, and no bow. Maybe "mystery box" is really more what we'll be able to make recognizable, rather than gift. Could you make a couple options similar to the bottom middle box? Could be different shapes, but all having essentially

[2020-04-30 11:39] samreid commented on #987
To elaborate on the previous comment, TypeScript has a feature to type check JS files described here: https://www.typescriptlang.org/docs/handbook/type-checking-javascript-files.html

<img width="931" alt="image" src="https://user-images.githubusercontent.com/679486/80706026-d02b7500-8aa4-11ea-82f6-a7d8b79d3db4.png">

It may be a way for us to leverage typescript type checking and our existing JSD

[2020-04-30 19:39] pixelzoom commented on #1028
@ariel-phet pointed out that this was addressed in https://github.com/phetsims/chipper/issues/840.  Closing.

[2020-04-30 19:39] #1028 closed

[2020-04-30 21:24] clmccutchan commented on #1034
@emily-phet @amanda-phet Here's a next draft of the boxes. I've simplified all of them and have tried to make them similar in size.

![Box Draft 2 043020](https://user-images.githubusercontent.com/25354670/80760695-8d928880-8af6-11ea-969e-0ec969cc9d2e.png)

[2020-05-03 14:07] samreid opened #1035 "CT issues for May 3, 2020"
I'd like to have a better understanding of the issues on CT today.  If there are pre-existing issues, I'll mark them below.  If I can't find them, I'll create them.

On second thought, let's start with a checklist in case any can be closed quickly.

- [x] Balancing Act/Color Vision/Natural Selection:  Uncaught Error: The specified studio instance should be selected
- [ ] Balloons and Static Electr

[2020-05-03 14:59] emily-phet commented on #1034
@zepumph Can you use the purple, blue, and red boxes in the sim?

[2020-05-03 15:00] emily-phet commented on #1034
@clmccutchan These look great. We'll see how they look in the sim, and go from there!

[2020-05-04 16:09] clmccutchan commented on #1034
@emily-phet Would you like me to give you pngs with transparent backgrounds?

[2020-05-07 02:57] samreid commented on #1035
Let's track in other issues now, closing.

[2020-05-07 02:57] #1035 closed

[2020-05-08 17:11] samreid commented on #1024
I moved the prototype over to the greenhouse-effect repo, closing.

[2020-05-08 17:11] #1024 closed

[2020-05-15 13:31] emily-phet commented on #1034
@clmccutchan that would be great!

[2020-05-15 13:43] emily-phet opened #1036 ""Grid" Graphics for RaP radio buttons"
For the sim Ratio and Proportion, I would like to replace the currently labeled "Grid" and "Numbered Grid" with icons of a grid and numbered grid.

The "grid" display in the sim will ultimately have only horizontal lines, no vertical lines (think notebook paper you used in school with wide ruled horizontal lines). So for the icon, perhaps three horizontal lines, and for the numbered grid perhaps t

[2020-05-15 17:54] clmccutchan commented on #1036
@emily-phet These icons should be pretty simple to create. I'll use a size of 100x100 pixels for the assets. We may need to tweak the size of the numbers once you place the draft .pngs in the sim.

[2020-05-15 18:35] clmccutchan commented on #1034
@emily-phet Here are the .pngs. I've provided a set that is at screen resolution and a set at high resolution so that you can choose what works best.

The Illustrator file is here: https://drive.google.com/open?id=1ApeJSmDL4_wmSWLI2ZT-VN6g7IijemB8

![MysteryBoxes_HighRes_051520_Box 1](https://user-images.githubusercontent.com/25354670/82084369-716f1980-96a8-11ea-8b09-dcb1df61f03f.png)
![MysteryBox

[2020-05-22 14:18] emily-phet commented on #1036
@clmccutchan Here's updated info on the look and feel needed for this artwork. We'd like something that will be implemented as buttons, similar to these:
<img width="293" alt="Screen Shot 2020-05-22 at 7 08 42 AM" src="https://user-images.githubusercontent.com/5109055/82676648-965d1280-9bfb-11ea-92bd-0aaf2227d2dc.png">
(in mockup above, the lines in the button artwork indicate text, not gridlines,

[2020-05-22 15:49] clmccutchan commented on #1036
@emily-phet I'm so sorry I stalled out on this! I should have a draft by the end of the day; Monday at the latest.

[2020-05-25 20:13] clmccutchan commented on #1036
@emily-phet How about something like this?

![Gridlines_Grid_052520](https://user-images.githubusercontent.com/25354670/82841022-e0f7bc80-9e91-11ea-8664-504c2446fe8c.png)
![Gridlines_NumberedGrid_052520](https://user-images.githubusercontent.com/25354670/82841024-e1905300-9e91-11ea-94e9-424c953a0dc1.png)

[2020-05-28 14:06] emily-phet commented on #1036
Thanks @clmccutchan! I think these are on the right track. Can you make the grey lines thinner, and bring them closer together within each image. Also, square off the edges for the numbered grid.
The latest sim now has the numbered grid in it, so here's what it looks like (note: I think they'll be some tweaks to the numbers - maybe making them bold, or changing the font).

<img width="949" alt="Sc

[2020-06-01 21:03] clmccutchan commented on #1036
@emily-phet Would you like me to add an additional gridline so that there are 4 per icon?

[2020-06-02 13:18] emily-phet commented on #1036
@clmccutchan I think the three lines per image looks pretty good. Can you move the lines within each one a little closer together? Maybe 40% closer?

[2020-06-02 17:17] clmccutchan commented on #1036
@emily-phet Here are two options for line spacing for each icon. What do you think?

![Gridlines_060220_Grid](https://user-images.githubusercontent.com/25354670/83549488-a1992380-a4c2-11ea-8f6f-ef84123008c0.png)
![Gridlines_060220_Grid2](https://user-images.githubusercontent.com/25354670/83549491-a2ca5080-a4c2-11ea-9472-bf15b80b3d28.png)
![Gridlines_060220_NumberedGrid](https://user-images.githubu

[2020-06-02 18:18] emily-phet commented on #1036
Thanks @clmccutchan - the second of each (closest distance) looks great to me.

@zepumph Let's try these, along with the eye image that's in Area Model Multiplication.

[2020-06-02 19:28] zepumph commented on #1036
Catch you over in https://github.com/phetsims/ratio-and-proportion/issues/55 for implementation.

[2020-06-02 23:30] zepumph commented on #1036
Sorry I forgot, we need to store the original asset in github as well, so @clmccutchan  can you please provide the `ai` file or whatever underlying resource provided the png files above. Thanks!

[2020-06-05 01:42] clmccutchan commented on #1036
Sorry about the delay, @zepumph. I've placed the file in my folder on Google drive since github doesn't accept .ai files. Here's the link to my folder: https://drive.google.com/open?id=0B6CMwxdP0NGYbDZ4Qmt2UDZlOEU

The file is called Gridlines.ai.

[2020-06-05 19:48] zepumph commented on #1036
Thanks! Added to github.

[2020-06-05 19:48] #1036 closed

[2020-06-09 13:39] samreid commented on #987
I saw this article about why one company decided to move from Typescript to Javascript: https://docs.google.com/document/d/1_WvwHl7BXUPmoiSeD8G83JmS8ypsTPqed4Btkqkn_-4/preview?pru=AAABcr1aFbQ*c7R6Bt9IKDZaBJdD7_Ie0g

Some highlights:
* Incremental compile time when changing files in cli/js takes minutes. This is crushingly slow and painful to modify.
* The typescript organization/structure that we'

[2020-06-11 19:17] zepumph opened #1037 "Remove support for IE11"
Today we decided to remove support of IE11. Wahoo!

We will want to do the following work:
- [ ] Make a notification https://github.com/phetsims/chipper/issues/954
- [ ] Update QA processes to not test QA.
- [ ] Remove workarounds already in place
  - [ ] remove polyfills like `es6-promise-1e68dc.auto.min.js and `mdn-array-from-polyfill.js`.
  - [ ] Remove `Client.errorIfIE`.
  - [ ] Client.js:156

[2020-06-15 13:56] samreid opened #1038 "Investigate Tabnine"
There is a product called https://www.tabnine.com/ which uses machine learning to train on an existing corpus of code to assist in autocomplete using similar patterns.  Now that we have a larger body of code, I wonder whether this could be useful to our team.  Custom training requires "Enterprise" level, which is "contact us for pricing".

I don't have time to investigate this now, but wanted to w

[2020-06-16 01:18] ariel-phet commented on #1038
@brandonLi8 I know you had been learning a bit about machine learning, do you have any interest in looking into this tool a bit and reporting back to the team.

If not, no worries, please assign back to me.

[2020-06-17 02:49] samreid opened #1039 "Replace %1===0 with Number.isInteger"
From https://github.com/phetsims/axon/issues/253:

I'll add a checkbox to https://github.com/phetsims/tasks/issues/1037

[2020-06-17 22:34] brandonLi8 commented on #1038
@ariel-phet Although this doesn't involve any ml engineering (more of a configuration of software that TabNine made), i'll give it a shot locally. I'll be trying the 14 free trial of the "professional plan."

[2020-06-17 22:38] brandonLi8 commented on #1038
One thing that I'll add right away is that it is super easy to setup for both sublime and vim (both of my editors that I use).

However, @ariel-phet, on https://www.tabnine.com/install, it doesn't look like there is any support for web-storm, which is what I believe most phet devs use.

[2020-06-17 22:55] brandonLi8 commented on #1038
After using TabNine on sublime for about 5 minutes, I noticed right away that it blocks all sublime snippets.

Issue is known by TabNine here https://github.com/codota/tabnine-sublime/issues/11 (still open).

[2020-06-18 19:15] chrisklus commented on #1037
from 06/18/20 dev meeting:

One part we brought up is that it would be nice for us to use built-in versions of utility functions like `String.endsWith` and `Array.includes` instead of the lodash versions going forward.

For now, we're not going to replace existing lodash usages that have built-in counterparts, but will keep that big shift as an option for the future if we find it annoying that the

[2020-06-25 18:26] samreid commented on #1018
We would like to discuss this further when @pixelzoom returns.

@ariel-phet pointed out that we have more outside users using phet code now.  In order to help with onboarding, and making our libraries easy to use, steps forward here will be a bonus.  We will probably make this a chip-away issue, but will wait until more devs are here to decide where to start.

[2020-06-29 16:38] brandonLi8 commented on #1038
I've been using "Deep TabNine Cloud" on sublime for the last 2 weeks. Here's my review:

- Overall, really really good product. Definitely a good time saver!
- Although it blocks sublime snippets, I was able to get around it with setting `autocomplete: true` alongside TabNine.
- There were no performance issues with "Deep TabNine Cloud" on sublime, but I didn't try the free version or other editor

[2020-06-29 17:13] samreid commented on #1038
Thanks for the investigation @brandonLi8, it sounds promising.  I recommend reaching out to TabNine about training the custom model. It would be good to see a baseline price for their "Enterprise" level and whether they can offer any incentives to open source/educational products.

[2020-06-30 17:13] ariel-phet commented on #1038
Marking for discussion/demo at dev meeting.

@samreid feel free to contact for pricing, however, with the current situation I think it is highly unlikely we would be able to spend much.

[2020-06-30 19:00] samreid commented on #1038
I reached out to TabNine regarding their Enterprise plan.

[2020-07-01 19:53] pixelzoom commented on #1026
FYI... Converting all of the above sims took 31.75 hours, spread over 2/26, 2/27, 3/1, 3/2, 3/3/2020.

[2020-07-02 19:30] zepumph commented on #1018
From today's developer meeting:

How to make breaking api changes like to SimLauncher and es6 module conversion? These changes supposedly broke TH's repo and he had to manually update things.

We discussed converting to semantic versioning, but felt like it was too much of a burden, and that we are quite set up to develop and publish on master.

- [ ] We think that it would be good to create a thr

[2020-07-05 16:24] pixelzoom opened #1040 "PhET-iO production versions due "late August""
At 7/2/2020 phet-io meeting, @kathy-phet presented scheduling information that she received from the client.

At 7/2/2020 dev meeting, we noted that there are several sims (ph-scale, EFAC, SOM, ... others?) that all have the same "late August" milestone for delivering PhET-iO production versions.  Instead of tackling each sim independently, a coordinated effort seems like a good idea, so that we d

[2020-07-05 16:35] pixelzoom commented on #1018
I seem to recall that this was assigned to me because I volunteered to do something.  But I don't recall what it is, and I don't see it in the meeting notes above.  @samreid @ariel-phet can you refresh my memory?

[2020-07-06 15:14] samreid commented on #1040
Self unassigning because I am unlikely to work on this issue before Thursday's PhET-iO meeting, where this issue is marked on the agenda for discussion.

[2020-07-07 02:13] zepumph commented on #1018
I don't recall at all. @ariel-phet is the guy.

[2020-07-07 04:15] pixelzoom commented on #1018
Ah, now I remember.  I'm going to create a "BREAKING CHANGES" thread in the Google Group.

[2020-07-08 19:03] pixelzoom commented on #1018
I started writing the "BREAKING CHANGES" topic.  It seems like this should be a message from PhET.  So (as a vendor) it doesn't feel appropriate for me to start this thread.

Here's what I came up with for the title and text:

I would pin this topic to the top of the list - check the box to the left of the topic, choose "Actions > Display at the top").

@ariel-phet please assign someone from PhET

[2020-07-08 19:16] pixelzoom commented on #1040
The scheduling info that @kathy-phet received from the client included:

This date is very surprising. Our original milestone (which we're not going to meet) was August 1, 2020. @kathy-phet Is June 2021 really correct?

[2020-07-08 19:32] BLFiedler opened #1041 "Mockup for new Waves sim idea for upcoming grant proposal"
@amanda-phet @arouinfar

@emily-phet is working on a grant proposal and we were hoping for a quick turnaround for a basic, sketchy mockup for a sim idea we have with all of the usual PhET elements. This will be used as a figure in the proposal with some explanation text about the premise. Ideally, we could have the mockup made by early-middle next week!

I've included a SUPER basic graphical idea

[2020-07-09 17:53] ariel-phet commented on #1014
I think this issue can be closed. The free version of slack has been working fine, and it seems that there is actually some advantage to NOT having an infinite history of messages as it forces the team to properly document decisions/critical discussions in github issues/design documents/ etc.

[2020-07-09 17:53] #1014 closed

[2020-07-09 18:05] zepumph commented on #1040
From phet-io meeting today:

@kathy-phet is meeting with the client sometime next week. She will ask for a specific deadline.

She thinks we should plan on the complete list being ph-scale, EFAC, SOM, but will update us if that changes from the meeting.

We have worked down the list of blocking publication issues, such that all that remains would be anything that comes from sim-specific phet-io de

[2020-07-10 03:05] emily-phet commented on #1041
@amanda-phet @ariel-phet @arouinfar We're hoping someone could a little bit of time to throw this together, doesn't have to be polished, just something to get the idea across while having a typical PhET feel to it (rather than the sketch above). Please let me know if the timeline is too tight and it's not possible, or if another artist on the team may have the time.

[2020-07-10 03:52] amanda-phet commented on #1041
I can work on this tomorrow (Friday 7/10/20) if @BLFiedler or @emily-phet is available for a zoom call about it.

[2020-07-10 13:04] BLFiedler commented on #1041
Reaching out via slack

[2020-07-10 15:45] amanda-phet commented on #1041
Met with @BLFiedler and came up with these three screenshots. If you have a room, I think a starting state is really helpful :)

Please discuss and let me know what tweaks you want.

![image](https://user-images.githubusercontent.com/7852916/87172615-be7b0080-c291-11ea-9f67-098dec546a9c.png)

![image](https://user-images.githubusercontent.com/7852916/87172709-e1a5b000-c291-11ea-8954-fc4fa34d88ea.p

[2020-07-10 17:50] emily-phet commented on #1041
These look great!

Can we add the following? - so it seems a bit more PhET-like...
- Shift the whole "Play area" over the left slightly (or squish down a bit) to make room for some controls on the right side.
- Add some radio buttons (scene selection style) with a few different wave patterns (complete constructive, destructive, and something else @BLFiedler?)
- Just above the center wave, put a bl

[2020-07-10 18:15] BLFiedler commented on #1041
I think that makes sense. I think the 3rd choice would be 90o out of phase (pi/2), which is slightly higher in amplitude but shifted relative to the drawn sinusoid:
![image](https://user-images.githubusercontent.com/47331395/87185319-cbeeb580-c2a6-11ea-958f-f8194883b6f1.png)

@amanda-phet Let me know if you'd like to hop in another quick call for me to try to clarify if you're not quite sure what

[2020-07-10 18:29] jbphet commented on #1040
I'll be working on individual issues to get SOM out, and all are logged in GitHub, so I'm unassigning myself from this for now.

[2020-07-10 18:40] amanda-phet commented on #1041
![image](https://user-images.githubusercontent.com/7852916/87187431-656b9680-c2aa-11ea-9d7d-0de6c7c74d40.png)

![image](https://user-images.githubusercontent.com/7852916/87187456-6d2b3b00-c2aa-11ea-84c5-ec71d02a67ed.png)

![image](https://user-images.githubusercontent.com/7852916/87187486-76b4a300-c2aa-11ea-8c28-6dde871a6f81.png)

[2020-07-10 19:24] BLFiedler commented on #1041
Ah sorry, I totally spaced during our discussion. The center line checkbox should put the line on both sides, not just the right.

[2020-07-10 21:20] amanda-phet commented on #1041
Here you go. Also updated the checkbox, which is a little strange. You may want a phrase there instead.

![image](https://user-images.githubusercontent.com/7852916/87203877-c900be80-c2c0-11ea-9423-3291d9e4c73c.png)
![image](https://user-images.githubusercontent.com/7852916/87203888-d322bd00-c2c0-11ea-83ee-a78c6e8e0d77.png)
![image](https://user-images.githubusercontent.com/7852916/87203903-dd44bb8

[2020-07-13 05:10] pixelzoom commented on #1040
pH Scale RC is in progress, proceeding on its own schedule.  So unassigning myself.

[2020-07-15 20:15] BLFiedler commented on #1041
Hey @amanda-phet

Could we modify the icon for the center line to have 3 dashes and center it with the above grid icon?

After that, that should do it for this mockup!

[2020-07-15 21:12] amanda-phet commented on #1041
![1D-wave-01](https://user-images.githubusercontent.com/7852916/87596506-7e5eb800-c6ad-11ea-9158-61e1913ba3de.png)
![1D-wave-02](https://user-images.githubusercontent.com/7852916/87596509-7ef74e80-c6ad-11ea-9683-d54d9455b8ba.png)
![1D-wave-03](https://user-images.githubusercontent.com/7852916/87596511-7f8fe500-c6ad-11ea-8707-30f605315f4b.png)

[1D-wave.ai.zip](https://github.com/phetsims/tasks/fil

[2020-07-15 21:15] BLFiedler commented on #1041
Looks great! Over to you @emily-phet to close.

[2020-07-20 00:03] emily-phet commented on #1041
@BLFiedler can you take the zip file and put it in the proposal folder? Once that's done, go ahead and close.

This looks great - thanks @BLFiedler and @amanda-phet for putting this together!

[2020-07-20 00:58] #1041 closed

[2020-07-22 19:10] zepumph opened #1042 "Document supported browsers in an open source manner"
Related to https://github.com/phetsims/tasks/issues/1037 and https://github.com/phetsims/query-string-machine/issues/39#issuecomment-659488375 and https://github.com/phetsims/tasks/issues/1018. It feels like we should have a place where devs can see what browsers we support.

Over in https://github.com/phetsims/query-string-machine/issues/39#issuecomment-659488375, @samreid mentioned that likely h

[2020-07-28 19:55] oliver-phet opened #1043 "User suggestion: PhET Tutorial/Documentation"
@ariel-phet requested this be tagged for developer meeting.

[2020-07-30 18:35] mattpen opened #1044 "Convert common-code repos to ES6 patterns"
At 7/30/2020 dev meeting, we decide to create this "chip away" issue to convert common code to modern ES6 patterns.  @ariel-phet asked @pixelzoom to identify patterns and repos to convert.

Patterns:

* Replace `inherit` with `class`.
* Replace `self` with `this` and arrow functions.
* Replace `var` with `const` or `let`.
* Replace `MyClass.someMethod =` with `static someMethod(...)`.
* Replace `M

[2020-07-30 18:54] ariel-phet commented on #1044
@pixelzoom when you make that checklist please make it as the first comment and delete both this one and the initial comment :)

[2020-07-30 19:19] mattpen commented on #1037
Dev meeting, 7/30: @zepumph will continue to chip away as time allows, but nothing is time sensitive.

Urgent problems have separate issues, like phetsims/chipper#963

[2020-07-30 19:25] mattpen commented on #1042
@ariel-phet will create a document that lists the browsers we support in phet-info.

[2020-08-06 17:04] amanda-phet commented on #1029
This is complete and the email went out.

[2020-08-06 17:04] #1029 closed

[2020-08-13 03:37] samreid commented on #1044
A reminder that `class` can extend `inherit` but `inherit cannot extend `class`, so do not convert a base type from `inherit` to `class` unless all of its subtypes have are already using `class`.

[2020-08-13 19:05] jessegreenberg commented on #1038
8/13/20

@brandonLi8 gave a demo and it looks really nice! He is still using it in Sublime. Anyone that is interested can certainly try it out as well, but we are not going to look into the "Enterprise" plan any further.

Closing this one.

[2020-08-13 19:05] #1038 closed

[2020-08-19 14:27] BLFiedler opened #1045 "Mockup for new geometry sim for upcoming grant proposal"
Tagging @amanda-phet and @arouinfar for this first. This will be similar in nature to what @amanda-phet created for the last proposal.

@emily-phet is working on a new grant proposal and we were hoping for a quick-ish turnaround for another basic, sketchy mockup for a sim idea we have with all of the usual PhET elements. This will be used as a figure in the proposal with some explanatory text abou

[2020-08-19 23:49] arouinfar commented on #1045
This may be more up @amanda-phet's alley, but if she's unavailable, I can meet with @BLFiedler on Friday to discuss.

[2020-08-20 16:32] BLFiedler commented on #1045
Amanda has agreed to take it up! Meeting tomorrow to discuss.

[2020-08-25 22:33] pixelzoom commented on #1044
@ariel-phet would like me to knock off a couple of "low risk" conversions in the near future.

[2020-08-26 23:57] pixelzoom commented on #1044
I finished 2/2 in vibe and did 4/17 in vegas.

[2020-08-27 13:09] pixelzoom opened #1046 "postmortem on pH Scale RC process (with PhET-iO)"
On 7/9/2020, we started the 1.4 RC process for ph-scale and ph-scale-basics. Release branches were created, and the first RCs were published for testing.

On 8/26/2020 in https://github.com/phetsims/ph-scale/issues/166#issuecomment-681178035, we abandoned that RC process and decided to start over:

There were 4 major problems experienced during the ph-scale RC process. I think these are worth disc

[2020-09-01 00:12] emily-phet commented on #1034
Sim design ended up with a combobox for selecting challenges, which doesn't lend itself to the gift box idea. I like all the gift boxes designed, and will keep this in mind for future sims!

[2020-09-01 00:12] #1034 closed

[2020-09-02 17:00] zepumph commented on #1040
I feel like at this point this issue is stale. We are past august, and timeline has been communicated to us moving forward. I'm going to close this issue, but please reopen if anyone has more to say.

[2020-09-02 17:00] #1040 closed

[2020-09-03 20:26] pixelzoom commented on #1044
@ariel-phet would like to keep this assigned to me, and chip away when I have time/motivation.

[2020-09-07 20:08] zepumph opened #1048 "Support for static properties on es6 classes"
We have dropped support for IE11 (see issues like https://github.com/phetsims/tasks/issues/1037). This caused the question of supporting static "getter" fields (not functions) on es6 classes. See discussion in https://github.com/phetsims/tandem/issues/188#issuecomment-688356582

Tagging @pixelzoom and @samreid.

@samreid mentioned that over in https://developer.mozilla.org/en-US/docs/Web/JavaScrip

[2020-09-07 20:09] zepumph commented on #1048
I want to note that this is not a top-priority issue, but it is annoying to have to work around this non-obvious defect with what our codebase supports.

[2020-09-14 13:52] amanda-phet commented on #1045
Feedback from @emily-phet on 9/10/20:

* Remove sim name from the lower left corner of both
* In the yellow-background example, let's have the right-side panel be taller and wider, as if the person dragged the upper right vertex up and to the right. That makes it clear that horizontal and vertical shifts result in accommodating changes to result in a parallelogram.
* For the blue background exampl

[2020-09-14 15:22] amanda-phet commented on #1045
![parallelogram-sim_1](https://user-images.githubusercontent.com/7852916/93104817-9205ab00-f66b-11ea-8501-288c6bc7721e.png)
![parallelogram-sim_2](https://user-images.githubusercontent.com/7852916/93104819-929e4180-f66b-11ea-95d3-39cde2eb3567.png)
![parallelogram-sim_3](https://user-images.githubusercontent.com/7852916/93104820-929e4180-f66b-11ea-9c9c-6f202d0ddbab.png)
![parallelogram-sim_4](https

[2020-09-16 20:18] zepumph commented on #1048
After a convesation with @ariel-phet, I updated the first comment, and marked for developer meeting.

[2020-09-16 21:30] samreid commented on #1048
I tried adding

[code]
to Bunny.js.  I observed:

* This runs properly in unbuilt mode
* This triggers a lint error
* grunt build fails with this error:

[code]

Next I tried adding:
[code]

* This worked in unbuilt mode
* This triggered a lint error (bad-text for static get, which we can easily repair)
* This worked in built mode

[2020-09-17 19:11] zepumph commented on #1044
@ariel-phet assigned @jonathanolson for dot this week. @Denz1994 will take on shred.

Thanks!

[2020-09-18 16:41] samreid commented on #1044
I converted a few usages in NumberPicker as part of https://github.com/phetsims/scenery/issues/1078

[2020-09-19 18:34] pixelzoom commented on #1044
... and apparently didn't mention this issue, so commits related to ES6 conversion (this issue) are not identified. And there are many commits - I count 8. This is consequently going to be time-consuming to review, so I've moved review (and clarification) to phetsims/scenery-phet#626.

[2020-09-19 19:17] samreid commented on #1044
The 3 commits to convert to ES6 "Convert var=>const" "Convert to class" and "Convert to class" are now all linked to this issue via commit comments (see above).

[2020-09-22 02:15] ariel-phet commented on #1027
No obvious upload feature has yet occurred, and Spotlight is completely defunct. I have reached out to see if there is currently a way to upload resources, but since this is not a current priority and no word has come from Edmodo, I am closing this issue.

[2020-09-22 02:15] #1027 closed

[2020-09-24 17:00] BLFiedler commented on #1045
I believe this is complete for now with some additional work coming from an external designer.

[2020-09-24 19:13] Denz1994 commented on #1044
From Dev Meeting on 09/24/20:

@pixelzoom mentioned that Joist has some larger classes (ScreenView.js for example) @ariel-phet likes the progression on this issue. Let's keep it up.

[2020-09-29 17:12] clmccutchan commented on #1033
Hey @arouinfar, I just wanted to give you a heads up that I'm getting back into these backgrounds. Has anything changed about the specifications before I start? Thanks!

[2020-09-29 21:58] BLFiedler commented on #1045
Reopening this rather than creating a new issue - we have a few modifications we'd like to make to this "quadrilaterals" sim to expand it to a "Shapes" sim for (yet) another grant we are submitting soon!

Without getting too fancy (will be a rather small image), the plan will be to change to another shape, possibly one more control added, and to make some minor color changes.

@amanda-phet Let me

[2020-09-30 22:22] samreid commented on #1048
I got this to work, but I had to use the babel-loader in webpack in addition to updating the babel step itself.  Maybe if we use the webpack babel-loader we will no longer need the babel post-processing step?  Note: this fix gets builds working but not lint.

<details>

[code]

</details>

[2020-09-30 22:44] samreid commented on #1048
@jonathanolson and I looked into this further and found that the webpack babel did the transpilation, and the downstream transpilation wasn't doing anything further.  We were confused by this, since the "browsers" list we specified in the downstream transpile was the same output as not specifying browsers in the webpack babel-loader.

We also found that this is not yet supported on Safari, perhaps

[2020-09-30 23:16] pixelzoom commented on #1048
Does this include mobile Safari? I'm pretty used to making a code change on my MacBook (lydian), and simply pointing my iPad to http://lydian.local/~cmalley/GitHub/ to quickly test changes.  And I do that frequently during performance optimization phases of development.  If I have to build every time I make a change, that's going to be costly.

[2020-10-01 00:12] zepumph commented on #1048
I do that too for testing on my iPad. I feel like this would be  a dealbreaker (especially since we just got past this issue for IE).

[2020-10-01 00:26] samreid commented on #1048
For convenience, here is a picture of the link that was linked above:

![image](https://user-images.githubusercontent.com/679486/94753082-614f9200-034a-11eb-8e9d-7e45630f1b04.png)

Note that neither Safari nor iOS has this feature yet.  Perhaps it would be prudent to wait until there is better support there so we don't have to build to run on Safari.

[2020-10-01 17:43] amanda-phet commented on #1045
Three options: radio buttons, "scene selection" radio buttons, and three screens.

Please let us know what else you'd like here.. different color, checkbox options, etc.
![image](https://user-images.githubusercontent.com/7852916/94844139-04e88300-03db-11eb-9e02-1e4f32158dea.png)

[2020-10-01 17:43] amanda-phet commented on #1045
@emily-phet this is for your review!

[2020-10-01 19:45] pixelzoom commented on #1044
10/1/2020 dev meeting:

sun is mostly converted. @jonathanolson will convert `MutableOptionsNode` and `Popupable`.

`Panel` is going to be a lot of work, because there are 47 occurrences of `inherit( Panel,` that must be converted first.

[2020-10-02 04:24] pixelzoom opened #1049 "convert Panel subclasses to ES6 class"
In https://github.com/phetsims/tasks/issues/1044#issuecomment-702358435 (conversion of common code to ES6 class), I said:

I've addressed all but 3 of those.  The remaining ones are a bit more work, and I'd like the responsible developer (@jbphet) to address them.  They include:

- [x] area-builder: FeedbackWindow and its 2 subclasses (@jbphet)
- [x] gene-expression-essentials: BiomoleculeToolboxN

[2020-10-02 04:38] pixelzoom commented on #1049
I took care of neuron in MembranePotentialChart in https://github.com/phetsims/neuron/issues/145.

[2020-10-02 05:00] pixelzoom commented on #1049
Note that @jessegreenberg was originally assigned to this, but I converted Panels in his sims, and removed them from the list in https://github.com/phetsims/tasks/issues/1049#issue-713335871.

[2020-10-02 05:16] pixelzoom commented on #1049
@jbphet I converted (and tested) area-builder FeedbackWindow and its 2 subclasses in the above 3 commits. Please review.

[2020-10-05 17:21] BLFiedler commented on #1045
@amanda-phet  Thanks again! Can we take the first image and just make the numbers a bit bigger (just for show) as the image will be about this small:
![image](https://user-images.githubusercontent.com/47331395/95111215-6cb10d80-06fc-11eb-823c-380407580d70.png)

Perhaps two font sizes up? (or whatever looks good without looking comical or obtrusive) and any necessary adjustments to the radio button

[2020-10-05 17:57] amanda-phet commented on #1045
![shapes-triangle-05](https://user-images.githubusercontent.com/7852916/95114886-dc75c700-0701-11eb-991b-2374f451fd2d.png)

[2020-10-05 18:18] #1045 closed

[2020-10-05 20:02] ariel-phet commented on #1049
Sounds like @jbphet can fit this work in this week as it should be a quick review.

[2020-10-05 23:18] pixelzoom commented on #1049
@ariel-phet to clarify...   The review part of this issue will be quick.  Converting the remaining 2 classes listed in  https://github.com/phetsims/tasks/issues/1049#issue-713335871 will not be quick.

[2020-10-05 23:35] jbphet commented on #1049
The changes for area-builder's `FeedbackWindow` look great, and I tested the behavior and it appears correct.  I'll work on converting the two remaining panels listed above next.

[2020-10-08 18:20] jessegreenberg commented on #1043
Discussion 10/8/20 -

This would be really nice to have. But we also recognized that this could be a project of large scope. Comparing to other resources, we recognized that we would need to consider examples, how to present them, what it should look like, things involving thoughtful design.

It was also mentioned during meeting that we could improve our auto-generation of documentation for code w

[2020-10-09 22:12] jbphet commented on #1049
I've converted the usages in Gene Expression and Projectile Motion.  In both cases, I decided to make the panels subclasses of `Node` rather than `Panel` so that `super` could be called at the beginning of the constructor, thus allowing all the `this` usages, and then adding the `Panel` as a child at the end of the constructor.  The kept the code changes to a minimum and was more expedient than a

[2020-10-09 22:15] jbphet commented on #1049
BTW, I left the name of `LabProjectileControlPanel` unchanged, since it is still a control panel in the sim, even though it is no longer a direct subclass of `Panel`.

[2020-10-12 18:01] pixelzoom commented on #1049
Looks good, closing.

[2020-10-12 18:01] #1049 closed

[2020-10-14 01:58] ariel-phet commented on #1042
@zepumph the more I think about this, why don't we link to the example testing matrix? I believe I brought that up, but for some reason people maybe didn't think it was a good idea

https://docs.google.com/spreadsheets/d/1jl8z3MjmGBeU_Z5voMIN-rBF9al6LNyey9ZIuOpoUzA/edit#gid=26937364

That is really the ground truth document. Whenever we add or remove a platform, that is where we do it. Having a se

[2020-10-14 17:36] zepumph commented on #1042
I think that the important piece is to make sure that the whole world has read access to it. I'm not sure that is set up at this time.

[2020-10-14 20:20] zepumph commented on #1048
From dev meeting last week. We decided:

* We feel that we want to support unbuilt on safari
* We will set a calendar update to see when support for static fields gets added Safari. I'll add a calendar to check up on this in 6 months.
* For static getters, I will remove the lint rule and we can start using them. Dev discretion for when using this vs assignment after the class is made.

[2020-10-14 20:40] jbphet commented on #1044
Over Slack, @pixelzoom was making a PSA about converting common code classes to ES6, and said "I'm not very familiar with shred, so I verified by fuzz testing sims that use shred. You may want to test drive to make sure there's nothing wrong that fuzz testing didn't catch."  I did a sanity test on Build an Atom and Isotopes and Atomic Mass, and all looks well there.

[2020-10-15 04:08] ariel-phet commented on #1042
Document here: https://github.com/phetsims/phet-info/blob/master/doc/supported-browsers.md

Closing

[2020-10-15 04:08] #1042 closed

[2020-10-15 19:18] pixelzoom commented on #1044
10/15/2020 dev meeting:

* @jonathanolson is going to handle conversion of phet-core
* @jonathanolson is going to handle conversion of scenery-phet FormulaNode (see phetsims/scenery-phet#634)
* before converting scenery and tandem.PhetioObject, large numbers of subclasses in sim-specific code must be converted

[2020-10-15 19:44] samreid opened #1050 "Convert simulations to ES6/class"
Similarly to #1044, we would now like to investigate converting simulation repos to use ES6/class/arrow functions/`this` instead of `self`/const, etc.  @jonathanolson demonstrated a utility he developed to assist in this task.  @ariel-phet asked me to create a checklist issue in the tasks repo to track each developer porting one simulation forward by Thursday Oct 22.

- [x] @pixelzoom (all sims ha

[2020-10-15 19:55] samreid commented on #1050
I used the Sublime script to convert fraction-comparison, and it went very smoothly.  There was one occurrence of `this` before `super`, and I manually fixed some whitespace near the constructor jsdoc (added a blank line before it).  I manually converted a few `var` to `const`, and everything else looked great, nice work @jonathanolson.

[2020-10-16 00:03] samreid commented on #1050
I finished my remaining sim.  We are down to 868 occurrences of `inherit( `.

[2020-10-16 00:55] zepumph commented on #1050
With this timeline, I would like to promote priority.

[2020-10-16 15:24] mattpen commented on #1050
I removed Shreyas because he is not currently working for us.

I haven't worked on the sim development since mid-2016.  Is there a quick guide to what needs to be done for me to complete work on a sim?  If not, it may be more efficient to remove me from this list.

[2020-10-16 15:28] samreid commented on #1050
I noted that @mattpen wasn't listed in https://github.com/phetsims/phet-info/blob/master/sim-info/responsible_dev.md, so I'm going to check him off and unassign.  Sorry for the confusion!

[2020-10-20 03:25] ariel-phet commented on #1050
Marking to check in for dev meeting

[2020-10-21 16:43] jbphet commented on #1050
I've ported Faraday's Law using the script.  The script is awesome, and I think I may use it to port a sim or two a week until mine are all done. Thanks @jonathanolson.  Unassigning myself.

[2020-10-21 23:45] zepumph commented on #1050
The plugin can be found at https://github.com/phetsims/phet-sublime-plugin

[2020-10-22 00:03] zepumph commented on #1050
That was tremendously pleasant. My experience in Friction, and involved going to each file in the `js/` directory that wasn't already a class, and running the "Phet: Classify" command from the sublime command palette. I found that no extra steps had be done after that for the sim to successfully run. I think my preferred mode of using this would be to apply this to a whole directory, instead of ju

[2020-10-22 03:41] Denz1994 commented on #1050
Similar story to @zepumph's comment above.

I ended up using Sublime to avoid any potential Intellij compatibility issues. Masses and Springs converted nicely. Capacitor-Lab-Basics still required additional workarounds due to using `this` before the `super` call but that is a sim specific implementation detail and not related to @jonathanolson's tool. Great tool overall.

[2020-10-22 15:45] jessegreenberg commented on #1050
I used the plugin on trig-tour using Sublime Text 3, it was great and saved a ton of time. I had to do very few things manually, they were
- Required visibility annotations that became eslint errors after the switch, there is no way to automate that.
- It didn't add a space between the class declaration and constructor documentation.
- Occasionally it didn't change `SuperType.call` -> `super`. I a

[2020-10-22 18:46] mattpen commented on #1050
@ariel-phet will create a chip-away issue to apply the change to all sims.

@jonathanolson will try to address some of the above comments.

[2020-10-22 20:30] zepumph commented on #1050
I was able to have success converting all js files recursively in a directory using this script after you cd to that dir (like `js/` in a sim repo). Running on git bash on windows. You can just change the path to the classify script as needed.

`find ./ -maxdepth 100 -iname '*.js'  -type f -exec python /c/Users/MyUser/AppData/Roaming/Sublime\ Text\ 3/Packages/phet-sublime-plugin/classify.py {} \;`

[2020-10-28 02:02] ariel-phet opened #1051 "Converting all sims to ES6"
The dev team agreed it would be good for the (code) health of the project to convert all simulations to ES6

## HTML5 Sims Conversion Party List

- [x]  Acid-Base Solutions | @pixelzoom
- [x]  Area Builder | @jbphet
- [x]  Area Model Algebra | @jonathanolson
- [x]  Area Model Decimals | @jonathanolson
- [x]  Area Model Introduction | @jonathanolson
- [x]  Area Model Multiplication | @jonathanolson

[2020-10-28 14:32] chrisklus commented on #1050
I converted Plinko Probability and Color Vision above. Thanks @jonathanolson! And thanks @zepumph for the recursive suggestion in https://github.com/phetsims/tasks/issues/1050#issuecomment-714743901 - that worked very well for me.

[2020-10-29 15:25] jonathanolson commented on #983
It seems useful to have static get, AND it doesn't seem like we're transpiling classes now. Can we have this? Display's `get focus` turns into a `static get` when moving it to class.

[2020-10-29 17:13] zepumph commented on #983
Yes, we decided this over in https://github.com/phetsims/tasks/issues/1048#issuecomment-708638575. I will remove the lint rule. I just haven't gotten to it. Closing, please see that issue.

[2020-10-29 17:13] zepumph commented on #1048
in https://github.com/phetsims/tasks/issues/983#issuecomment-718827783 @jonathanolson said:

I'll remove the lint rule now.

[2020-10-29 17:14] zepumph commented on #1048
Thanks for the ping.

[2020-10-29 17:14] #983 closed

[2020-10-29 17:24] zepumph commented on #1048
Removed in the above commit. I set a calendar reminded for April 29, 2021. Unassigning and deferring now.

[2020-10-29 23:33] pixelzoom commented on #978
Kathy contacted me via Slack to confirm my estimate.

Kathy Perkins  3:58 PM
Hi Chris, Natural selection was 436 hours (non PhET-iO). Your original estimate for Fourier was about 400 hours. Do these feel about the same to you now?

Chris Malley  5:19 PM
Yes. I'm optimistic that 400 hours is on the upper end. That's a bit higher than my hours for previous 3-screen sims. But Fourier has these featur

[2020-11-10 17:25] pixelzoom opened #1052 "review Build a Nucleus"
@ariel-phet asked me to do a quick review of "Build a Nucleus", https://github.com/Luisav1/Build-a-Nucleus, with these instructions:

[2020-11-10 21:25] pixelzoom commented on #1052
I'm not familiar with the domain, but overall a nice looking sim.  And a fine effort considering that this was done independently, with no direct assistance from PhET.  In retrospect, it would have been better to have @jbphet review this, since it's essentially a modification of the "Atom" screen of build-an-atom.  That said...

Room for improvement:

* Repository structure is incorrect, and preve

[2020-11-12 16:44] amanda-phet commented on #506
@ariel-phet is this something that still needs to be done? I don't think I ever followed up about getting the login.

[2020-11-12 17:54] ariel-phet commented on #506
@amanda-phet please check with KP, I think she was supposed to have a conversation with the founder at some point and perhaps be looking into a partnership.

[2020-11-12 19:20] chrisklus commented on #1051
Assuming this is a continuation of https://github.com/phetsims/tasks/issues/1050, I checked off what I converted over there.

[2020-11-12 21:26] zepumph commented on #1050
I think all that is left in this issue are the improvements to classify.py, like https://github.com/phetsims/tasks/issues/1050#issuecomment-714583971

[2020-11-12 21:28] amanda-phet commented on #506
@kathy-phet is there anything you want done with Curriki? Or is this issue pretty dated?

[2020-11-12 22:46] zepumph commented on #1051
All of my sims have been done. I also checked off optics-lab, which seemed to already be done (classify.py didn't change anything). I also converted Projectile Motion because I was in that sim last.

[2020-11-16 18:31] #999 closed

[2020-11-16 19:15] ariel-phet commented on #1043
@chrisklus do mind asking your friend Nick if he would be open to perhaps doing an MVP for this issue?

[2020-11-17 04:08] ariel-phet commented on #1052
I have sent these review comments to the student, and she will be addressing them and let me know when the sim is ready for further review.

[2020-11-19 20:20] samreid commented on #1051
@jbphet will review the unchecked sims to see if they need to be updated.  He will also look at doing more than one a week, so we can finish sooner rather than later.

@ariel-phet: I'd like to have this polished off early in January.

[2020-11-20 00:36] zepumph commented on #1037
I did a bit of work here, largely removing the IE specific code in phet-io. It simplified implementations, and cleaned things up. In general I think this is time well spent. I am not going any further for now. Let's bring this back to dev meeting to see if we should keep chipping away, or just close with IE-specific code in our code-base for ever.

[2020-11-23 17:14] Denz1994 commented on #1044
From dev meeting on 11/23/20:

@jonathanolson will add phet-core conversion to his priority list. The remaining repos are still on hold until all sims are published.

[2020-11-23 17:53] Denz1994 commented on #1037
From dev meeting on 11/23/20:

MK: I worked on the most important pieces from the original checklist.

MK: We should add an item to the CRC that says "IE isn't supported and shouldn't require workarounds".

JO: I can remove any Scenery workarounds, but will have to review the instances.

@samreid will take a pass of the easy items remaining. Note: These aren't critical to the project but if it isn

[2020-11-23 20:53] samreid commented on #1037
I addressed several parts in the commits above.  I did not want to take the time to convert all `string.indexOf` to `string.includes` or `string.startsWith`, so I added that to the CRC.  The remaining work for this issue is:

- [ ] 14 remaining usages of `platform.ie` in scenery. Those are likely workarounds.
- [ ] 35 usages of `IE11` as a whole word, many for a Stencil support
- [ ] @jonathanolso

[2020-12-03 19:42] zepumph commented on #1051
We reallocated some assignments to try to get this done by next week. Good luck us!

[2020-12-03 22:14] samreid commented on #1051
I finished greenhouse and forces-and-motion basics.

[2020-12-04 01:02] zepumph commented on #1051
neuron complete, see https://github.com/phetsims/neuron/issues/146.

[2020-12-09 17:29] Denz1994 commented on #1051
Number-Play complete.

[2020-12-10 17:37] jessegreenberg commented on #1051
I just finished rutherford-scattering and inverse-square-law-common, removing my assignment.

[2020-12-10 18:37] pixelzoom commented on #1051
12/10/2020 dev meeeting

* @jbphet will be done by the end of the week
* @jonathanolson is checking my-solar-system now

When this issue is done, @jbphet will label open associated issues (e.g. phetsims/phet-info#143) for dev meeting.

[2020-12-10 18:38] pixelzoom commented on #1044
12/10/2020 dev meeting:

@jonathanolson is handling the remaining items in the list.  Waiting on simulations to be fully converted.

[2020-12-12 00:34] jbphet commented on #1044
Sims have been converted (see #1051), so we should now be able to move forward on this.

[2020-12-12 01:49] jbphet commented on #1051
I think I've finished off the last ones.  We should take one more look at this in developer meeting to make sure we haven't missed anything, and then close this pup.

[2020-12-15 19:21] jonathanolson commented on #1044
Inherit and module-code conversion looks complete!

There is still some ES5-style code in things like scenery/tests (or other code?), leaving on meeting to decide what priority those should be!

[2020-12-16 19:53] DianaTavares opened #1053 "AAPT winter meeting presentation"
- [x] Make the presentation for the conference

- [x] Send the presentation to being reviewed by Kathy

- [x] Record the video

- [x] Edit the video (20 min long)

- [x] Submit the video to the AAPT website

- [ ] PArticipate in the event (January 9-13, 2021)

[2020-12-16 20:11] DianaTavares commented on #1053
I was invited to give a talk in the session: "Comming to America", which has the idea of shared experiences of the mix of cultures, context, and perspective of PER Researchers and teachers that visit the USA to work.

The abstract that was sent can be found [here](https://docs.google.com/document/d/1IeWYNkAXRRJmb9LFwESdZc4o4AnGXVYw/edit?rtpof=true).

The general idea is to share the experiences as

[2020-12-16 20:17] DianaTavares opened #1054 "Review Spanish activities in the PhET website"
Visit the website and look for new activities in Spanish ready to be reviewed.

[2020-12-16 20:19] DianaTavares opened #1055 "Review video about "Talks about Physics Education Research""

[2020-12-16 20:20] DianaTavares opened #1056 "New MOOC planning"

[2020-12-16 20:24] DianaTavares opened #1057 "Workbook for Physics 1, high school"
- [x] Send an email to Orozco and Ruplex about when to meet and designed the way to work next year in this project

[2020-12-16 20:26] DianaTavares opened #1058 "Organize the material for the Online course for Colombia"

[2020-12-16 20:27] DianaTavares opened #1059 "Write an article about Inquiry Learning and PhET for the "Talks about Physics Education Research" project Dead line January 20."

[2020-12-17 17:07] DianaTavares opened #1060 "Translate ESP sim to spanish"

[2020-12-17 17:30] #1060 closed

[2020-12-17 19:47] #1051 closed

[2020-12-17 19:50] ariel-phet commented on #1044
We feel like this issue can be closed and devs can feel free to convert any vestigial code not covered by this issue to ES6

[2020-12-17 19:50] #1044 closed

[2020-12-17 21:04] DianaTavares opened #1061 "Organize material for the online course with Fenomeno Phi in Argentina"
- [ ] Don't forget to send an email to the UNA to let them know the work that we are doing with Fenomeno Phi and the possibility of assessors for the online course that they want
- [ ] Google Drive folder with the material of the MOOC to adapt it for the Online Course

[2020-12-17 22:01] #1057 closed

[2020-12-18 04:45] DianaTavares opened #1062 "Translate website for ESP"

[2020-12-18 05:27] #1061 closed

[2020-12-23 17:37] #1058 closed

[2020-12-23 17:40] DianaTavares opened #1063 "Colombia online course in Collaboration with Oscar Jardey"
We are planning a teacher PD that includes 2online courses: 1) Intro to PhET and 2) PhET and Inquiry Learning, 23 hours long each one.  At the same time, we are planning to do research about it.

[2020-12-23 17:44] DianaTavares commented on #1063
Meeting Dic 22:

- [ ] Write about my ideas of the survey used in the MOOC: possible publication in a journal in Spanish about teachers' perspectives about teaching science and the influence of the PhEtt's MOOC in how it perspective change.

- [ ] Make a shared folder in Mendeley for the papers about PhET for probably write a paper about "state of the art"

- [ ] Continue updating the content of t

[2020-12-23 17:47] DianaTavares commented on #1053
The presentation is ready!! Now it can be reviewed. I send an email to Kathy and the team in Colombia. I am not sure if they are going to have time to review it, and I need to submit the video now. Then I will wait until tomorrow afternoon to record, edit, and send the video to the AAPT.

See the presentation here:
https://drive.google.com/drive/u/1/folders/1hSkY_XH__OMQXKeJG4Ru6OxY3WMl5yT-

[2020-12-30 23:47] customcommander commented on #935
Hi,

Total stranger here! I struggled with this myself and found this thread while I was doing a bit of research on the subject and thought I'd share back what I've found.

It was a surprise to me but the type expressions `{number}` and `{Number}` aren't the same at all. One describe a literal which is non-nullable by default, the other describe an instance which is nullable by default. Therefore

[2021-01-04 00:32] samreid commented on #935
I tested the following code in the google closure compiler:

[code]
and the compiler said it was acceptable:

![image](https://user-images.githubusercontent.com/679486/103492648-82ac9800-4de9-11eb-9193-340e50360f32.png)

https://closure-compiler.appspot.com/home#code%3D%252F%252F%2520%253D%253DClosureCompiler%253D%253D%250A%252F%252F%2520%2540compilation_level%2520ADVANCED_OPTIMIZATIONS%250A%252F%

[2021-01-04 01:43] customcommander commented on #935
Absolutely this is fine too. `{?number}` is just syntactic sugar for `{number|null}`.

<img width="936" alt="Screenshot 2021-01-04 at 01 42 40" src="https://user-images.githubusercontent.com/681975/103494313-2e77d700-4e2e-11eb-9ae0-816f7169818f.png">

See https://github.com/google/closure-compiler/wiki/Types-in-the-Closure-Type-System

[2021-01-04 18:52] DianaTavares commented on #1053
The video was sent to the AAPT organizers

[2021-01-04 18:52] #1053 closed

[2021-01-06 05:22] DianaTavares opened #1064 "Physics workbook with PhET for high school project"

[2021-01-06 05:37] DianaTavares commented on #1055
This is the google folder with all the documents from "Talks about Physics Education Research":
https://drive.google.com/drive/u/1/folders/1bEZd3OgawE3uzKfECMQ9rGohN8WpriGC

[2021-01-06 05:41] DianaTavares commented on #1059
All the material is in this folder:
https://drive.google.com/drive/u/1/folders/1bEZd3OgawE3uzKfECMQ9rGohN8WpriGC

[2021-01-06 05:43] DianaTavares opened #1065 "Review activities in Spanish sent by teachers in the PhET website (try to do ir each Tuesday)"

[2021-01-06 06:00] DianaTavares commented on #1065
Actividades que debo checar si ya tienen permisos de visualización de sus google documentos, para el 12 de Enero:
*Ideas Previas de Irma Aguiñaga
*Fracciones-matematicas de Víctor Cruz
*Preguntas Clicker de José Ricardo

[2021-01-06 06:32] DianaTavares commented on #1059
15 páginas, para el 26 de Enero enviar el primer borrador con el formato de GIREP

[2021-01-06 06:56] DianaTavares commented on #1054
Actividades que debo volver a revisar si ya tienen permisos sus archivos en Drive el 12 de Enero:

1. Ideas previas	irma aguiñaga
2. Fracciones- matematicas dinamicas-actividades	Víctor Cruz Jiménez
3. Preguntas Clicker	José Ricardo Gutiérrez Torres
4. Escala ph Ideas previas	Andy Mercado

[2021-01-06 06:58] DianaTavares commented on #1055
Send an email to the team of this project to share my ideas and opinions about the topics discussed in the video.

[2021-01-06 19:40] #1055 closed

[2021-01-06 19:42] DianaTavares opened #1066 "Design work for My Solar system"
- [ ] Work in the design document (https://docs.google.com/document/d/10sP4KC5ZRVNf8jvm_djwRUkQwMu5GkH-ZY_eE_ZutTo/edit#)

- [ ] Improve the mockup

[2021-01-06 20:05] DianaTavares opened #1067 "AAPT winter meeting"
You are scheduled to present at the upcoming AAPT Winter Meeting (WM21). Please think of the virtual AAPT WM21 as a ‘flipped classroom’ conference. This means pre-recorded video presentations are pre-released, so that attendees, speakers and moderators can review contributed and invited conference content before the conference. During preview time, attendees can chat questions directly to the pres

[2021-01-06 20:06] #1065 closed

[2021-01-08 20:54] DianaTavares commented on #1064
Cosas que debo tener listas para la reunión del sábado 9:

- [ ] Presentación sobre: estándares de diseño de actividades PhET, indagación y ciclo de aprendizaje.

- [ ] Formatos de documentos

- [ ] update the ILD de vectores

[2021-01-11 22:14] #1067 closed

[2021-01-11 22:17] DianaTavares opened #1068 "Participation in the SoDoFi conference"

[2021-01-11 22:18] DianaTavares commented on #1068
- [ ] Workshop abstract

- [ ] Presentation for the talk (15 min + 5 min questions)

- [ ] Presentation for the workshop (2 hours)

[2021-01-11 22:20] DianaTavares opened #1069 "II Congreso Iberoamericano de docentes 2021"

[2021-01-11 22:20] DianaTavares commented on #1069
- [ ] Llenar formato para el taller (2 horas), intro PhET

[2021-01-11 22:22] DianaTavares opened #1070 "Translate users answers"
translate the answers of this document: https://docs.google.com/spreadsheets/d/1EOKEI5fMpKMSfOJzuVyCszeGY9B2E4_kL-knEhkTzxU/edit#gid=0

[2021-01-13 06:14] #1070 closed

[2021-01-13 18:50] DianaTavares commented on #1063
Compromisos de la reunión:

- [ ] Hacer un mapeo del cuestionario que hice, con el CLASS

- [ ] Leet los artículos sobre ideas y persepciones de los profesores

siguiente junta, jueves14 de Enero.