[2016-01-29 02:48] mattpen commented on #483
This was discussed at status meeting on 1/28/2016.  Since there are no unconfirmed users with contributions, website translations, or sim translations, there is no follow up action necessary.  Additional discussion for handling of unconfirmed accounts continues in [website/361](https://github.com/phetsims/website/issues/361).

[2016-01-29 02:48] #483 closed

[2016-01-29 02:51] mattpen commented on #470
I updated it with a link to the full image on the site.

[2016-01-29 05:31] jonathanolson commented on #491
Assigned to me, QA label removed? @ariel-phet, does this mean since the one issue created is will-not-fix, I should publish both Molecule Shapes and Molecule Shapes: Basics?

[2016-01-29 06:13] mattpen commented on #475
@arnabp @oliver-phet - I installed the new SSD tonight, but my PC says no boot device found.  Can I bring it in sometime tomorrow or next Monday?

[2016-01-29 06:33] ariel-phet commented on #491
@jonathanolson yes, you can go ahead and redeploy and close this issue.

[2016-01-29 06:41] ariel-phet commented on #475
@mattpen - just a thought have you tried looking at the bios?

[2016-01-29 06:53] mattpen commented on #475
Well.... It might help if I actually plug the drive into the port! That's embarrassing.  Please disregard my previous comment, it's working now.

[2016-01-29 07:31] ariel-phet commented on #472
@phet-steele absolutely. Feel free to also do some spot testing on Beta 2

[2016-01-29 17:52] ariel-phet opened #492 "Charging "station" for QA devices"
@phet-steele had suggested that we come up with a plan for a charging station for our test devices. This seems like a good idea, and might be especially nice to set up once we have moved offices.

@phet-steele please note a bit more specifically what you are proposing in this issue (for instance maybe we just need a nice wall mounted power strip and a custom shelf or such).

Edit: if you had some

[2016-01-29 17:57] phet-steele commented on #470
@BryceAG @brroberts1231 since there isn't much in the way of testing, can you guys take a crack at this today? @BryceAG you were going to find a better way to do this to keep transparency, any ideas?

You can assign this back to me at the end of the day.

[2016-01-29 18:25] amanda-phet commented on #468
I will start putting these in the mockups to see how well they work and let you know if I see places for modifications. Thanks!

[2016-01-29 19:22] jonathanolson commented on #491
Both deployed:
Molecule Shapes 1.1.2
Molecule Shapes: Basics 1.1.0

Closing.

[2016-01-29 19:22] #491 closed

[2016-01-29 19:31] ariel-phet opened #493 "Test Rutherford Scattering to prepare for port"
@phet-steele (feel free to delegate)

Please test the Java version of Rutherford Scattering and report any found issue in the rutherford scattering repo and mark them with a "java bug" label

Testing on one platform (windows or mac) is fine, mainly looking for model bugs and such.

http://phet.colorado.edu/en/simulation/rutherford-scattering

[2016-01-29 19:59] brroberts1231 commented on #470
@mattpen The logo for the King Saud University ECSME below (taken from the phet website)
![image](https://cloud.githubusercontent.com/assets/11947677/12686570/a1809bc6-c687-11e5-9463-b15e9a64a47c.png)
doesn't have a link to a full size image on the spreadsheet, it just links to a webpage. I could just upload the image I put here, but it's blurry. Not sure what to do with this one.

[2016-01-29 20:04] mattpen commented on #470
If the links on the spreadsheet don't work, you can just go to the [sponsor page](https://phet.colorado.edu/en/about/sponsors), right click the image, and choose "Save image as".  The images on this page are the full size images, that's why we need to resize them.

In the case of the KSU ECSME logo, the image is already appropriately sized.

[2016-01-29 20:30] phet-steele opened #494 "Phetbackup is moving!"
Phetbackup has been moved (and will probably need to be moved again in the near future), and we need to get it set up.

Assigning to @ariel-phet to take care of.

[2016-01-29 20:35] mattpen commented on #475
@oliver-phet @arnabp I've got everything setup except for Adobe.  My Adobe ID is registered under an email address for an education institution that I no longer have access to.  It would be really useful to have access to Flash and Illustrator for work on porting sims and the website.  Is it possible to obtain a license?

[2016-01-29 20:45] jessegreenberg opened #495 "RC test Trig Tour 1.0.0-rc.1"
Trig Tour is ready for release candidate testing!

**Release Candidate:** http://www.colorado.edu/physics/phet/dev/html/trig-tour/1.0.0-rc.1/trig-tour_en.html

**iFrame:** http://www.colorado.edu/physics/phet/dev/html/trig-tour/1.0.0-rc.1/trig-tour_en-iframe.html

**Testing Matrix:** https://docs.google.com/spreadsheets/d/114EUr7wY3aZo-YFfjdzXsgvP37PQHitBmWUpnYKEsag/edit?ts=56abcb7f#gid=0

**_Addi

[2016-01-29 20:56] ariel-phet commented on #495
@bryo5363 @phet-steele @elisemorgan @brroberts1231 @BryceAG @orejolaphet please make this the top testing priority

[2016-02-01 15:03] oliver-phet commented on #475
Yep, I can look into getting the licenses.

[2016-02-01 18:53] ariel-phet commented on #489
I believe this issue is complete. Closing

[2016-02-01 18:53] #489 closed

[2016-02-01 18:56] ariel-phet opened #496 "PhET brand standards documentation"
@kathy-phet requested that I work with @daveunderwood to create a brand standards document

I have asked @amyh-phet to create a google doc skeleton based on the CU brand standards document.

This doc should have two main divisions between PhET and PhET-iO and probably some mention of where to use the registered logos for each.

Assigning to @amyh-phet for the moment. @amyh-phet - when you have mad

[2016-02-01 19:05] amyh-phet commented on #496
Will do.

[2016-02-01 19:18] phet-steele commented on #493
@ariel-phet I tested on Win 8.1 and OSX 10.11.2. No issues found :+1:

[2016-02-01 19:23] ariel-phet commented on #493
Excellent, thanks @phet-steele!

[2016-02-01 19:23] #493 closed

[2016-02-01 19:59] ariel-phet commented on #496
And just to document what was said by @kathy-phet

[2016-02-01 20:37] pixelzoom commented on #465
I've seen several references (such as http://programmers.stackexchange.com/questions/129714/how-to-manage-github-issues-for-priority-etc) that recommend organizing labels into "groups", as a way to add some structure to GitHub's free-for-all label feature. Labels are grouped by using the general form `<label-group>:<label-name>`.  Labels within a group are mutually exclusive.

For example:

"type"

[2016-02-01 20:51] ariel-phet commented on #465
And don't forget the "meeting" group: :smiling_imp:

[2016-02-01 22:33] amanda-phet opened #497 "Make a spreadsheet of sims and 1.0.0 date"
Currently, the database has some inconsistent information about when our HTML5 sims were published. This task shouldn't take long but is very important.
Go to http://www.colorado.edu/physics/phet/dev/html/ and for every published HTML5 sim, find the date of the 1.0.0/ version of the sim.

For example, if you click on acid-base-solutions, the date for 1.0.0 is 18-Apr-2014.
<img width="761" alt="scr

[2016-02-01 22:37] phet-steele commented on #497
@amanda-phet on it!

[2016-02-01 22:45] jbphet commented on #485
Closing, will follow up on the issues that were logged as a result.

[2016-02-01 22:45] #485 closed

[2016-02-01 23:12] phet-steele commented on #497
@amanda-phet Voila:

https://docs.google.com/spreadsheets/d/1WfYjEWBv5bdoelxZrCnQDd5OtSd7RrbXplWPWMV-pq8/edit?usp=sharing

[2016-02-01 23:16] amanda-phet commented on #497
Awesome! Thank you!!

[2016-02-01 23:17] #497 closed

[2016-02-02 18:35] ariel-phet commented on #465
I am liking @pixelzoom suggestion in https://github.com/phetsims/tasks/issues/465#issuecomment-178176176 I am going to play with this in expression exchange as I work on the color schem

[2016-02-03 02:11] ariel-phet commented on #465
example of colors and proposed labels here using groups
https://github.com/phetsims/expression-exchange/labels?sort=name-asc

[2016-02-03 02:19] samreid commented on #465
This label may be a typo "multitouch0000FF" ?

[2016-02-03 02:20] ariel-phet commented on #465
How apropos that the multitouch label got fat fingered...fixed, thanks @samreid

[2016-02-03 02:20] samreid commented on #465
The alphabetical grouping is an unexpectedly nice feature here, I like it.

[2016-02-03 02:26] ariel-phet commented on #465
One break I decided to try from the general scheme was priority1, priority2, etc for that group name. I found when scanning the labels when creating an issue it was nice to have these in a clear hierarchy.

[2016-02-03 02:32] ariel-phet commented on #465
and I agree @samreid - the aphabetical grouping seems very efficient for this large set of labels and seem good scalability - thanks for the suggestion @pixelzoom !

[2016-02-03 03:55] mattpen commented on #465
I think these look great.  This will really help with workflow.  Are the labels in this repo finalized?  I can just use this as the model instead of the table above. I can propagate the labels throughout the rest of the organization whenever they are ready.

[2016-02-03 03:57] samreid commented on #465
Is there a migration path, so that things currently marked with "high-priority" would get mapped to the new name?  I've been out of the loop on this conversation.

[2016-02-03 04:38] ariel-phet commented on #465
@mattpen lets wait until we discuss a bit more at developer meeting. Once everything is settled I want to actually document it in the phet-info file as well as couple of examples of useful searches with labels.

[2016-02-03 05:17] mattpen commented on #465
My 2¢. Backwards compatibility with the existing labels would make automating this project significantly more complex.  For example, it would be difficult to know if a repo is using "high-priority" vs "high priority" (no hyphen) as any user can define a new label.  The website repo I know has at least one misspelled label -- "HMTL5 Sim Translation".  This would involve a lot of manual checking.

[2016-02-03 06:23] mattpen commented on #465
Discussed with @ariel-phet in a Skype call.  One possible solution is pushing the new labels but not removing the old labels, then having @phet-steele or another QA person manually adjust any duplicate labels in the repos with a large issue history.

[2016-02-03 16:54] pixelzoom commented on #465
Feedback on https://github.com/phetsims/tasks/issues/465#issuecomment-178958530

The "priority" group labels look a little off.  There are 5 different groups: "priority1",...,"priority5".  Did you mean for all of these to be "priority"?

[2016-02-03 16:55] samreid commented on #465
I am guessing he did that so the alphabetical sorting would match the priority ranking.  Correct me if wrong!

[2016-02-03 16:57] ariel-phet commented on #465
@pixelzoom yes see https://github.com/phetsims/tasks/issues/465#issuecomment-178962478

[2016-02-03 17:11] pixelzoom commented on #465
Recommended to use 1 group name, and move the sorting issue to the name. Ie:

priority:1-top
priority:2-high
priority:3-medium
priority:4-low
priority:5-low

[2016-02-03 17:12] jonathanolson commented on #465
Sounds beneficial long-term to me.

[2016-02-03 17:14] ariel-phet commented on #465
That works for me, will adjust

[2016-02-03 17:16] samreid commented on #465
Looks great, nice suggestion @pixelzoom

[2016-02-03 17:22] phet-steele commented on #470
@mattpen everything is resized! Switching over to you.

[2016-02-03 18:51] phet-steele commented on #495
@jessegreenberg matrix complete

[2016-02-03 19:42] BryceAG commented on #472
I have tested energy skate park basics and hookes law from the reading list, and downloaded faradays law to the reading list. I have also tested molecular shapes and gravity force lab off the Web. And tested the games in balancing act, balancing chemical equations, and graphing  lines. They all appear to be functioning well with beta 2

[2016-02-03 19:48] phet-steele commented on #472
Thanks @BryceAG

[2016-02-03 21:08] phet-steele commented on #492
@ariel-phet This is what I was imagining:
http://www.amazon.com/Luxor-Charging-Tablets-chromebooks-Horizontal/dp/B013RMI32Y/ref=sr_1_30?ie=UTF8&qid=1454532902&sr=8-30&keywords=wall+mounted+charging+station

I'm not saying buy this, but it's the closest representation of what I had in my head (besides, according to the single, 1-star review, it isn't even big enough for a chromebook let alone lapto

[2016-02-03 22:59] jessegreenberg commented on #495
Thanks! Since phetsims/trig-tour#76 is assigned to me, reassigning to @ariel-phet to handle Design/Admin section of checklist.

[2016-02-03 23:51] jonathanolson opened #498 "Dev test Pendulum Lab 1.0.0-dev.8"
**Testing Link**
http://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.0.0-dev.8/pendulum-lab_en.htm

**Platforms**
- [x] iPad2 iOS 9+
- [x] Windows Edge
- [x] Windows Chrome
- [x] Mac Safari

Let others know in this issue what platform you have claimed

**Additional Tests**
- [x] stringTest=double
- [x] stringTest=long
- [x] stringTest=X (short strings)
- [x] stringTest=rtl (right-to-left)

[2016-02-04 02:20] ariel-phet commented on #495
@jessegreenberg will phetsims/trig-tour#76 require another RC?

[2016-02-04 04:56] ariel-phet commented on #498
@BryceAG @bryo5363 @brroberts1231 @orejolaphet @elisemorgan please make this your current top testing priority

[2016-02-04 16:25] jessegreenberg commented on #495
Yes, the fix to https://github.com/phetsims/trig-tour/issues/76 involved a change in Scenery.  Since 1.0 will require a new version of scenery, another RC will be necessary.

[2016-02-04 17:19] ariel-phet commented on #495
another RC necessary. Closing

[2016-02-04 17:19] #495 closed

[2016-02-04 19:22] mattpen commented on #465
Discussed at dev meeting on 2/4/2016.  I'm going to extract the JSON for expression exchange label state and store in phet-info.  I'll also test pushing the new labels to the masses-and-springs repo.

[2016-02-04 20:58] arouinfar commented on #450
No response from the liaison, so closing for now. I'll reopen if there are any updates.

[2016-02-04 22:51] jessegreenberg opened #499 "RC Test: trig-tour 1.0.0-rc.2"
Trig Tour 1.0.0-rc.2 is ready for an RC test.  this RC includes changes to the pointer areas and the way Scenery draws line segments.

No major changes, but we should spot check to make sure that Scenery related changes are OK across platforms.

**Link to RC:** http://www.colorado.edu/physics/phet/dev/html/trig-tour/1.0.0-rc.2/trig-tour_en.html

**Link to iFrame:** http://www.colorado.edu/physics/

[2016-02-04 22:53] ariel-phet commented on #498
Bueller....bueller?

[2016-02-04 22:58] ariel-phet commented on #499
@BryceAG @bryo5363 @brroberts1231 @orejolaphet @elisemorgan @phet-steele  please make this your current top testing priority (now above dev testing pendulum lab). Hopefully we can publish this one soon!

[2016-02-04 22:59] ariel-phet commented on #498
Changed to high priority since Trig tour is current top priority test

[2016-02-05 00:42] jessegreenberg commented on #499
Going through hoops to change ownership of test matrix to phethelp.  Test matrix above may be down momentarily, I will post another link when it is back up.

[2016-02-05 00:57] jessegreenberg commented on #499
New document made, and phethelp is new owner. Link to new test matrix updated in initial comment.

[2016-02-05 01:27] BryceAG commented on #498
Windows Chrome

[2016-02-05 05:35] mattpen commented on #465
I pushed the new labels to masses-and-springs tonight.  Should we automatically replace the github standard-issue labels?  e.g 'bug' becomes 'type:bug'

[2016-02-05 06:19] phet-steele commented on #465
@mattpen no. In fact we will be doing the opposite. It will be a manual task of going through and editing the old labels to match the new one, then deleting the new labels. We want to preserve the old labels so any issue with a preexisting label will not have its label deleted.

[2016-02-05 06:29] mattpen commented on #465
@phet-steele The reason we're not doing this automatically is because there are too many variations on user-created labels.  I'm just suggesting we update the 6-7 automatically issued labels, not delete and replace.  It would be the same thing you are doing, just in a script.

[2016-02-05 06:34] phet-steele commented on #465
Oh now that does sound nifty @mattpen! Thoughts @ariel-phet? We should at least test this script, probably in the masses-and-springs repo at this point, with an issue that has a standard label and see if the label is removed after running the script.

[2016-02-05 06:36] mattpen commented on #465
To clarify, I'm only referring to these labels:
![image](https://cloud.githubusercontent.com/assets/11747676/12839582/135ca4c8-cb98-11e5-8b99-3ff726c709e6.png)

[2016-02-05 06:36] phet-steele commented on #465
@mattpen I know :smile:

[2016-02-05 06:45] mattpen commented on #465
The script and standard codes in JSON format are [here](https://github.com/phetsims/phet-info/tree/master/github-labels)

[2016-02-05 06:55] ariel-phet commented on #465
@mattpen yes, I think it would be safe to replace the standard github labels

[2016-02-05 06:56] ariel-phet commented on #465
And obviously the "invalid" label can just be deleted

[2016-02-05 18:52] mattpen commented on #465
[Masses and Springs](https://github.com/phetsims/masses-and-springs/labels) shows the results after running the script I wrote.

@ariel-phet, Is there another repo you want to test this on?

[2016-02-05 18:55] ariel-phet commented on #465
@mattpen please try on Friction

If everything works as planned, I would expect the Summer Redeploy label to remain

[2016-02-05 19:00] mattpen commented on #465
@ariel-phet  I just ran the script for friction, please check at https://github.com/phetsims/friction/labels

[2016-02-05 19:04] ariel-phet commented on #465
Working as expected. Lets run on all repos. Once complete reassign to me.

[2016-02-05 20:25] brroberts1231 commented on #498
Safari

[2016-02-05 20:43] mattpen commented on #465
The new labels have been added to all 119 repos.  I checked a few and it looks like it worked as planned.

[2016-02-05 20:58] bryo5363 commented on #498
I'll get Edge

[2016-02-05 21:01] mattpen opened #500 "Test uploading translated teacher's guides"
@ariel-phet - It would probably be a good idea to test the new locale-specific teacher's guides in phetsims/website#324 before deploying to figaro.

Here's an list (not necessarily complete) of things to test:
1. Upload a new English guide.
2. Upload a new translated guide.
3. Change the locale of a translated guide.
4. Remove a translated and an English guide.
5. Add a translated guide to a local

[2016-02-05 22:27] mariahmaephet commented on #468
@ariel-phet @amanda-phet
<img width="476" alt="screen shot 2016-02-05 at 3 24 21 pm" src="https://cloud.githubusercontent.com/assets/11527557/12860874/a8ee2e2e-cc1c-11e5-932f-4eb7bb48a2bb.png">

<img width="407" alt="screen shot 2016-02-05 at 3 25 27 pm" src="https://cloud.githubusercontent.com/assets/11527557/12860906/d4562bc0-cc1c-11e5-92f1-59e8c8775fef.png">
<img width="322" alt="screen shot 20

[2016-02-05 22:30] ariel-phet commented on #355
Actually reopening, the characters could use their hands adjusted so they sit totally flat when holding up boxes and such.

[2016-02-05 22:34] ariel-phet opened #501 "New robot "pusher" for forces and motion basics"
The current pusher is very pixelated, we want to redraw, need the following poses:

- standing (front view)
- fallen down
- a number of incremental "pushing" harder stances (at least 15 increments, but could up to 30)

@mariahmaephet this would be great to have soon

[2016-02-05 22:38] mariahmaephet commented on #436
@ariel-phet in my artwork folder

[2016-02-05 22:47] ariel-phet opened #502 "New cyclist girl for Energy Forms and Changes"
will need the bike artwork for Mariah so she can work on this project.

[2016-02-05 22:50] ariel-phet opened #503 "PhET icon work for iPad app and perhaps favicon"
It would be good to work on a new PhET icon to conisder for our "favicon" (the little icon in browser bars/tabs) as well as an for the PhET iPad app. I think something in the style of the sticker @mariahmaephet made could work. I like the way the white outline brings some "pop" and energy to the design

<img width="655" alt="icon" src="https://cloud.githubusercontent.com/assets/4051174/12925070/ca

[2016-02-05 23:08] phet-steele commented on #499
@jessegreenberg @ariel-phet matrix complete! :tada:

[2016-02-06 02:44] mattpen commented on #464
@oliver-phet - Any thoughts on which messages should be forwarded (if any)?

[2016-02-06 06:00] ariel-phet opened #504 "De-duplicate new labeling system in all repos"
Below is a list of all "active repos" (taken from chipper).

**Note**
I have been changing Summer 2015 Redeploy to "task:S2015R" #5319e7
 (might need to change this name to not confuse with "tasks")
sim specific labels I have been going with `<sim:label-name>`
repo specific labels I have been going with `<repo-name:label-name>` #737373
I have been changing java/flash bugs to` <sim:legacy-bug>` #CD

[2016-02-06 07:16] ariel-phet commented on #499
Deployed! closing

[2016-02-06 07:16] #499 closed

[2016-02-06 07:17] ariel-phet commented on #498
back to top testing priority for the moment

[2016-02-06 07:22] ariel-phet opened #505 "Sorting out our Google doc issues"
@amanda-phet mentioned that sorting out how we are using google docs as an organization needs to be sorted out sooner than later.

Creating this issue to track thoughts and progress. Will plan to work with @oliver-phet to come up with a clear plan.

It seems one of the first steps is going to be to migrate all files to our colorado.edu gmail accounts.

[2016-02-06 07:31] ariel-phet commented on #505
Link to info on making an organization for google docs:

https://apps.google.com/learning-center/products/drive/set-up-file-share/

Chrome app for migrating files

https://chrome.google.com/webstore/detail/drive-migrator/nakklajdcijlkfagghhcdofbgbhddoed?hl=en

[2016-02-07 23:15] ariel-phet commented on #504
@phet-steele - I know I was planning to assign you this task, but I realized there were going to be enough "management" decisions that it was best to just take care of myself.

[2016-02-08 01:33] ariel-phet commented on #504
All repos de-duplicated

[2016-02-08 01:33] #504 closed

[2016-02-08 01:49] ariel-phet commented on #465
All repos have been double checked and de-duplicated. Closing

[2016-02-08 01:49] #465 closed

[2016-02-08 01:54] ariel-phet commented on #297
Everything from these scenes looks great! Closing.

[2016-02-08 01:54] #297 closed

[2016-02-08 01:58] ariel-phet commented on #500
@phet-steele this would be good to tackle at some point, but currently low priority

[2016-02-08 02:00] ariel-phet commented on #436
excellent, closing

[2016-02-08 02:00] #436 closed

[2016-02-08 14:51] emily-phet commented on #285
@daveunderwood - the journal has indicated reservations about the use of the graphic abstracts. They have currently agreed to approve versions of the graphic abstracts without the name/affiliations line (pending further approval by their lead editor). Could you send me versions without the name/affiliation line, and second versions without any added text (title or affiliation line) - just in case?

[2016-02-08 17:01] oliver-phet commented on #464
Non-spam, personal emails either in reply to a newsletter or sent directly to phetmail. Would that be possible? Or perhaps it would make more sense to setup an auto-reply from phetmail so that users know the email will not be received?

[2016-02-08 18:37] elisemorgan commented on #498
iPad 2

[2016-02-08 18:43] amyh-phet commented on #496
Initial document created in google docs.

https://docs.google.com/document/d/1Rn8-M5i61M9aR2NLEZ9DFevnR3i3b7_6jSoo3U1ZUxs/edit?usp=sharing

Let me know of other work that needs to be done in the document.

[2016-02-08 18:52] ariel-phet commented on #502
All current images can be found here:
https://github.com/phetsims/energy-forms-and-changes/tree/master/images

[2016-02-08 18:54] ariel-phet commented on #502
Here is the current bike .png for @mariahmaephet reference

![bicycle_frame_3](https://cloud.githubusercontent.com/assets/4051174/12895652/b7aba942-ce5a-11e5-83ea-2034a020b97c.png)

will try to locate .ai files

[2016-02-08 19:50] arnabp commented on #492
I checked online for some commercial solutions to this, and it should be noted that they all range from $300 to $600 depending on size and construction. [Examples](http://www.globalindustrial.com/g/office/computer-furniture/laptop-storage-charging/luxor-laptop-storage-charging-cart).

The middle ground solution to buying one of these and sticking a surge protector on a table with a bunch of wires

[2016-02-08 20:27] orejolaphet commented on #498
Mac Safari

On Monday, February 8, 2016, elisemorgan <notifications@github.com> wrote:

[2016-02-08 21:47] daveunderwood commented on #285
Will do as soon as I'm back. What's your timeline, Emily? D

[2016-02-08 21:51] jonathanolson commented on #498
Sorry, I was closing some issues as I fixed them. All fixes I've applied (closed issues for this sim today) will apply to all platforms.

[2016-02-08 22:07] ariel-phet commented on #505
from @oliver-phet

[2016-02-08 22:14] emily-phet commented on #285
@daveunderwood - Unfortunately, as soon as possible. I wasn't told the graphic wasn't going to work as is until the point where they are ready to finalize...so the publisher is wanting it soon.

[2016-02-08 22:41] daveunderwood commented on #285
Those rascals! Always in a hurry, eh?  ;-)

Like this?:

![conf_chem3](https://cloud.githubusercontent.com/assets/13662881/12901684/28fad7d4-ce7a-11e5-8eb1-c0360fc29dfa.jpg)
![conf_chem3b](https://cloud.githubusercontent.com/assets/13662881/12901685/29215ba2-ce7a-11e5-8585-485c164b0e64.jpg)
![interactive_chem3](https://cloud.githubusercontent.com/assets/13662881/12901698/37559490-ce7a-11e5-9b7a-ac

[2016-02-08 22:44] emily-phet commented on #285
@daveunderwood - exactly! Except the last one didn't come through (the red accessibility sign with the title.

[2016-02-08 22:51] daveunderwood commented on #285
![disability_law3](https://cloud.githubusercontent.com/assets/13662881/12902027/df2997ec-ce7b-11e5-8978-d623bc392279.jpg)

[2016-02-08 23:56] ariel-phet opened #506 "Updating Curriki Account"
PhET has an account on Curriki that is incredibly stale

http://www.curriki.org/members/phethelp/#

It could use lots of updating:
- updated resources (no HTML5 sims)
- logo
- account info

[2016-02-09 17:39] ariel-phet commented on #304
This issue can be closed.

[2016-02-09 17:39] #304 closed

[2016-02-09 18:18] ariel-phet commented on #503
Note: icon probably needs to work at least 32x32 pixels

Note 2: above is just to show the general style

[2016-02-10 03:50] ariel-phet opened #507 "Testing "Puffin Academy" Browser on iPad for Flash sims"
The "Puffin Academy" app on iPad was recommended on twitter as a way to run all of our flash sims. I tried this a bit and it seemed to be performing well. We should install the app on one of our iPad2's running iOS 9+ and test all of our flash sims.

Mainly, we just want to test for performance, and see how it compares to desktop. Obviously report if something looks obviously buggy, but from what

[2016-02-10 03:52] ariel-phet commented on #507
Assigning to @phet-steele - not a major priority, but would be good to test and should be fairly quick. If everything looks good we will probably put a recommendation on our "by device" iPad category page and such.

[2016-02-10 05:04] emily-phet commented on #285
@daveunderwood - thanks!

[2016-02-10 05:04] #285 closed

[2016-02-10 16:57] mattpen opened #508 "Paring duplicated accounts from the database."
The basic description of the issue is in phetsims/website#377.  We need to manually go through the list of duplicated accounts, which I'll send to @phet-steele via email, and decide which account to keep.  It should be pretty clear which account of the two has the more complete profile, and that is the one we'll keep.  If they are the same then we can just delete one arbitrarily.

One problem migh

[2016-02-10 17:13] mattpen commented on #508
Discussed with @ariel-phet via skype.

This will probably not be a task that can be done by @phet-steele because the admin utility gives an internal error for duplicated accounts.  I'll write a script to delete the older account as long as there are no associated contributions. If there are contributions, I'll flag the user and process the resulting list manually.

[2016-02-10 17:22] ariel-phet commented on #508
This is fine to track in the website repo in this case, comment above copied to original issue and closing.

[2016-02-10 17:22] #508 closed

[2016-02-10 17:25] jbphet opened #509 "RC Test: Neuron 1.0.0-rc.3"
This should be a full retest, since some of the changes affected the way the simulation is clocked, which could impact performance on all platforms.

**Test Matrix**
https://docs.google.com/spreadsheets/d/13lSN1kUHkqDnar9EkoMerj-WCuVfxAZwnqgxjUGTSe0/edit#gid=1112106199

**Issues to Verify**
The following issues should be verified as fixed or at least addressed (these were logged during testing of

[2016-02-10 17:31] jbphet commented on #509
Test matrix: https://docs.google.com/spreadsheets/d/13lSN1kUHkqDnar9EkoMerj-WCuVfxAZwnqgxjUGTSe0/edit#gid=1112106199

[2016-02-10 17:35] phet-steele commented on #509
@jbphet the dialogue for webgl context loss correctly appears in this rc.

[2016-02-10 17:51] ariel-phet commented on #498
Moving back to high priority as testing Neuron will be top priority

[2016-02-10 17:52] ariel-phet commented on #509
@BryceAG @bryo5363 @brroberts1231 @orejolaphet @elisemorgan please make this your current top testing priority

[2016-02-10 19:17] phet-steele commented on #472
@BryceAG guess what? It's Beta 3 now! A day where there isn't much for you to do, can you redo these tests again? This would be pretty super low priority.

[2016-02-11 17:28] samreid opened #510 "Create a status:on-hold label for all repos"
@samreid said:

Hi there,

I have a number of issues that I want to keep assigned to me, but that I cannot actually work on because I am awaiting feedback from someone outside of the team.  I'd like to keep these issues assigned to me so I will remember to check up on the person if I don't hear from them in a while.

I considered adding a label `status:on-hold` or `status:awaiting-3rd-party` but w

[2016-02-11 17:29] samreid commented on #510
@mattpen replied:

Hello all,

I've also run into this same problem, but I don't really have a great solution working at present.

I'd vote for adding two labels - status:on-hold and status:pending. "On-hold" would signify if the issue is waiting on some thing, ( shipment of hardware, fulfillment of OIT request, deployment of dependent code, etc ), and "pending" would indicate that the issue is wa

[2016-02-11 17:29] samreid commented on #510
@ariel-phet said:

Hey Sam,

It would be easy to add a new label to all repos.

Ariel

[2016-02-11 17:29] samreid commented on #510
@pixelzoom said:

'status:on-hold’ is probably the most general, can apply to needing feedback, being blocked because of some other issue, etc.

Chris

[2016-02-11 17:29] samreid commented on #510
@samreid said:

Sounds good, I'll create an issue for Matt.

[2016-02-11 17:30] samreid commented on #510
@mattpen, can you please create a `status:on-hold` label for us all to use?

[2016-02-11 17:32] ariel-phet commented on #510
@mattpen self-assiging so I can decide on a color, will do a "mockup" in masses and spring

[2016-02-11 18:17] mariahmaephet commented on #355
@ariel-phet  file is in my drive (Mariah Artwork > PhET Characters > "NEW sitting phets")

[2016-02-11 19:26] pixelzoom commented on #476
2/11/16 dev meeting: According to @ariel-phet, testing for i18n problems has been completed.

[2016-02-11 19:39] pixelzoom commented on #476
2/11/16 dev meeting:

Decided to fix i18n issues, but ignore other issues for now, so that we can get this done.

This does not apply to FAMB, Gravity Force Lab, and Build An Atom, which are all in the process of triaging and fixing issues.

[2016-02-11 20:31] pixelzoom opened #511 "RC test: Color Vision 1.1.0-rc.1"
Color Vision 1.1.0-rc.1 is ready for testing.

**NOTE**
Please do a full test on all platforms. But be aware that the priority for this release is making the sim translatable, and we've chosen not to address some known issues (https://github.com/phetsims/color-vision/issues). We will be doing several of these kinds of tests, mainly addressing the translation issues

**So before you test** look ove

[2016-02-11 20:32] pixelzoom commented on #511
Assigned to me until the RC is actually published.

[2016-02-11 20:40] pixelzoom commented on #511
RC version is published. @ariel-phet feel free to assign test resources.

[2016-02-11 23:50] mattpen opened #512 "Test new website login procedures"
@ariel-phet

It would be a good idea to test the changes to the login procedures from phetsims/website/issues/167 and phetsims/website/issues/361.  Can we have @phet-steele test registering, submitting change email requests and logging in with emails in a variety of case structures?

[2016-02-12 04:46] samreid commented on #510
I'm going to use `priority:4-low` until `status:on-hold` is ready.

[2016-02-12 05:17] ariel-phet commented on #510
@mattpen color chosen #F0FFF0, modeled in masses and springs,

please go ahead and propogate through the repos and adjust the json file.

[2016-02-12 17:50] ariel-phet commented on #511
@BryceAG @bryo5363 @brroberts1231 @orejolaphet @elisemorgan please make this the next testing priority after the completion of Neuron testing

[2016-02-12 17:59] mattpen commented on #510
The label has been added across the organization and I adjusted the json.  I verified by checking the website, tasks, and special-ops repos.

[2016-02-12 18:15] #510 closed

[2016-02-12 18:22] ariel-phet commented on #512
@mattpen can you make a (simplified) checklist of case structures for this issue?

[2016-02-12 18:46] mattpen commented on #512
1. Create an account with email address in each of these forms:
    - all caps
    - mixed case
    - all lower case

2. Try to login with each of the previous accounts by typing the email in the following form:
    - all caps
    - mixed case
    - all lower case

[2016-02-12 19:15] ariel-phet commented on #512
@phet-steele since this is a quick test and is important for users lets bump this to top priority

@mattpen should this testing be done on phet-dev, or the main site? Are the changes pushed to the main site?

[2016-02-12 19:21] phet-steele commented on #512
@ariel-phet it hasn't been quick so far! And I've been testing on phet-dev.

[2016-02-12 19:23] ariel-phet commented on #512
@phet-steele "quick" qualifier removed...:)

[2016-02-12 19:33] elisemorgan commented on #509
Testing is complete

[2016-02-12 19:53] jbphet commented on #509
Excellent - thanks everyone.  I'll close this and address the issues found.

[2016-02-12 19:54] #509 closed

[2016-02-12 21:31] ariel-phet commented on #498
dev complete, closing

[2016-02-12 21:31] #498 closed

[2016-02-12 21:32] ariel-phet commented on #511
Other testing currently finished (neuron and pendulum lab), moving up to top priority for QA

[2016-02-12 21:37] jessegreenberg commented on #355
Thanks @mariahmaephet, I will add these new images.

[2016-02-12 22:10] ariel-phet commented on #505
@oliver-phet definitely agrees the right solution is first to migrate all phet relevant to colorado.edu gmail accounts. This migration has major advantages, but might have some hiccups in the migration phase.

- how to move docs over if you have an existing file/folder structure
- making sure not funkiness occurs with shared folders

We will plan to test a few migration strategies.

[2016-02-12 22:29] arnabp commented on #429
I've put in the recordings, they sound great, and the new video files are in their respective folders. Next week I'll start combing through the simulations looking for areas I can add slide ins.

[2016-02-12 22:49] ariel-phet commented on #505
What about new google-group in colorado domain

[2016-02-12 22:50] ariel-phet commented on #505
@oliver-phet suggests using same google group but deleting "personal" addresses and putting in only colorado.edu addresses

[2016-02-12 22:54] ariel-phet commented on #505
Drive migrator appears to be working, once you follow the steps carefully. @oliver-phet is going to try a more robust test.

Current plan is probably to have people make sure they have moved all google doc ownership to phethelp@gmail, and then to an enormous batch migration.

[2016-02-12 23:15] mattpen commented on #512
Nothing has been pushed to Figaro yet.  Testing should be done on PhET-dev.

[2016-02-12 23:22] oliver-phet commented on #505
Sent request for two new accounts to be provisioned to OIT:
‘phet-storage@colorado.edu'
‘phet-docs@colorado.edu’

[2016-02-15 19:31] ariel-phet commented on #355
I believe this issue can be closed again, will reopen if any further tweaks needed

[2016-02-15 19:31] #355 closed

[2016-02-15 19:58] phet-steele commented on #512
@mattpen this is working on my end.

[2016-02-15 22:11] pixelzoom commented on #476
+1 to wait for 1.0.0 GA, we don't have time for an RC.

[2016-02-15 23:48] jessegreenberg opened #513 "RC Test Balloons and Static Electricity 1.2.0-rc.1"
Balloons and Static Electricity 1.2.0-rc.1 is ready for testing.

**Link to Sim:** http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-rc.1/balloons-and-static-electricity_en.html

**Link to iFrame:** http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-rc.1/balloons-and-static-electricity_en-iframe.html

**Link to test matrix:** https

[2016-02-16 05:24] mattpen commented on #512
Thanks @phet-steele.  I've merged changes for phetsims/website#167 and phetsims/website#361 in with the master branch. Closing.

[2016-02-16 05:24] #512 closed

[2016-02-16 16:18] ariel-phet commented on #513
@BryceAG @bryo5363 @brroberts1231 @orejolaphet @elisemorgan @phet-steele please make this the next testing priority after the completion of Color-Vision testing

[2016-02-16 18:30] samreid opened #514 "Dev testing for PhET-iO simulations"
As a preliminary test before broader RC testing, we should perform cross-platform testing (not exhaustive) on many of the PhET-iO dev versions that were recently published.

My recommendation, subject to discussion/approval by @ariel-phet:

## Windows + Internet Explorer

http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.4.0-dev.4/phet-io/protected/wrappers.html
- [ ] Events (colorized

[2016-02-16 19:26] samreid commented on #514
The location of the password is described in https://github.com/phetsims/phet-io/issues/334#issuecomment-184841553

As part of the testing, we will have to test that authentication happens and works nicely across platforms.  Please report anything buggy or weird about passwords/logging in.

[2016-02-16 20:27] phet-steele commented on #511
@ariel-phet the matrix appears complete!

[2016-02-16 20:29] pixelzoom commented on #511
No new issues found, #104 deferred until a future release. So I'll proceed with publishing 1.1.0.

[2016-02-16 20:33] #511 closed

[2016-02-16 20:46] samreid commented on #514
@ariel-phet and I discussed this and decided to start with a more focused set of initial tests.  I'll create a new issue for that, closing.

[2016-02-16 20:46] #514 closed

[2016-02-16 20:52] samreid opened #515 "Preliminary PhET-iO dev testing"
Similar to #514, @ariel-phet and I pruned the set of platforms and applications to be tested:

## Windows + Edge running Faraday's Law

http://www.colorado.edu/physics/phet/dev/html/faradays-law/1.2.0-dev.1/phet-io/protected/wrappers.html
- [x] Events (JSON).  Open the console and confirm that every user action has a corresponding message in the event stream, and one or more corresponding model re

[2016-02-16 21:05] ariel-phet commented on #515
Note, this test will be done just by @phet-steele - not a general QA task

[2016-02-17 17:16] ariel-phet commented on #494
Will deal with when offices eventually move, unless some pressing need occurs to access phetbackup.

Likely we will also migrate all of phet-backup onto our "phet-storage.colorado.edu" account once that is all sorted out in #505

[2016-02-17 17:18] jbphet opened #516 "RC test: Ohm's Law 1.3.0-rc.1"
Ohm's Law 1.3.0-rc.1 is ready for testing.

**NOTE**
Please do a full test on all platforms, but be aware that the priority for this release is making the sim translatable. We will be doing several of these kinds of tests, mainly addressing the translation issues

**So before you test** look over the known issues in the sim.

**Test Matrix**
https://docs.google.com/spreadsheets/d/1ADXBLeL4OlX9kvc-

[2016-02-17 17:30] ariel-phet commented on #516
@BryceAG @bryo5363 @brroberts1231 @orejolaphet @elisemorgan @phet-steele please currently make this the next testing priority in the queue after Balloons and Static electricity

[2016-02-17 17:31] phet-steele commented on #434
Help Center is already being translated by our very proactive translators, and any problems I've seen have been fixed.

[2016-02-17 17:31] #434 closed

[2016-02-17 18:33] phet-steele commented on #515
@samreid authentication has been working well across platforms.

[2016-02-17 18:42] samreid commented on #515
Nice! I am glad to hear it, thanks for testing it out @phet-steele.

[2016-02-17 19:55] aadish commented on #488
Thanks for testing this finding the bugs. The bugs have been recorded and fixed. This task is complete.  Closing it.

[2016-02-17 19:55] #488 closed

[2016-02-17 20:05] aadish opened #517 "Dev Test Gravity Force Lab V-2.0.0-dev.2"
The dev version of Gravity Force Lab is out and is [here](http://www.colorado.edu/physics/phet/dev/html/gravity-force-lab/2.0.0-dev.2/gravity-force-lab_en.html)

This version fixes the issues brought up in last testing. Besides this a new feature is added of constant mass in it. The code has gone through lot of refactoring and will require thorough testing.

**Issues to test for**

- [x] Resetting

[2016-02-17 20:18] ariel-phet commented on #516
Moving to medium priority. Current priority list should go Balloons, Gravity Force lab dev test, and then this test.

[2016-02-17 20:19] ariel-phet commented on #517
@BryceAG @bryo5363 @brroberts1231 @orejolaphet @elisemorgan @phet-steele please make this the next testing priority after the completion of #513

[2016-02-17 20:26] BryceAG commented on #517
Testing Win Chrome

[2016-02-17 20:27] brroberts1231 commented on #517
Safari

[2016-02-17 20:46] jbphet opened #518 "RC Test: Neuron 1.0.0-rc.4"
This should be a partial retest with a focus on the behavior of the membrane potential chart and its interaction with recording.  There were two issues addressed since the last RC, and neither should have any significant effect on performance.  Verifying that these two issues are resolved and that no new ones were introduced should be sufficient.

**Issues to Verify**
The following issues should b

[2016-02-17 21:57] ariel-phet commented on #518
@phet-steele when you feel like a change a pace, this testing would be great to bang out so we can hopefully publish Neuron!

[2016-02-17 22:03] ariel-phet commented on #518
@phet-steele - also checking with @jbphet (I don't think we need to do the full test matrix, just some spot checking)

[2016-02-17 23:02] phet-steele commented on #515
@samreid probably totally okay, but I wanted to say that the PhET menu and about dialogue do not appear in a screenshot. This correct?

[2016-02-17 23:08] arnabp commented on #429
Outside of Molarity, I found two other simulations that reference other sims: Concentration and Beer's Law. I'll add in their slide ins this week, let me know if you think there's any other sim where I missed a simulation reference.

[2016-02-17 23:15] amyh-phet opened #519 "PhET scenes for offices"
print some artwork to hang in 9th floor offices

[2016-02-18 01:50] mariahmaephet commented on #501
<img width="636" alt="screen shot 2016-02-17 at 6 49 16 pm" src="https://cloud.githubusercontent.com/assets/11527557/13131216/49a45bca-d5a7-11e5-85bf-1d37ea035716.png">

[2016-02-18 02:48] samreid commented on #515
Let's create an issue for it, we should ask @jonathanolson whether this is the expected behavior, and it is not the desirable behavior.

[2016-02-18 03:03] ariel-phet commented on #501
Double :+1: :+1: from me @mariahmaephet!

[2016-02-18 03:06] ariel-phet commented on #519
@arouinfar @amyh-phet here are your choices:

![camp phet](https://cloud.githubusercontent.com/assets/4051174/13132630/bfc08fe0-d5b1-11e5-8ff9-a2f1ae92d4dd.PNG)
![skatepark](https://cloud.githubusercontent.com/assets/4051174/13132631/c18002a2-d5b1-11e5-883a-6aa40835024d.PNG)
![movie](https://cloud.githubusercontent.com/assets/4051174/13132632/c344b704-d5b1-11e5-8ad5-6322000b97f6.PNG)
![chemlab](ht

[2016-02-18 03:21] ariel-phet commented on #470
@mattpen, quick ping on this issue. Might be nice to finish off and close

[2016-02-18 03:22] ariel-phet commented on #433
Tagging for dev meeting....can this issue be closed?

[2016-02-18 03:25] ariel-phet commented on #328
considering comment above, closing

[2016-02-18 03:25] #328 closed

[2016-02-18 03:28] ariel-phet commented on #345
Sponsors page is updated, this issue no longer seems necessary. Closing

[2016-02-18 03:28] #345 closed

[2016-02-18 03:29] ariel-phet commented on #368
Seems unnecessary to have this checklist or issue

[2016-02-18 03:29] #368 closed

[2016-02-18 03:30] ariel-phet commented on #326
@phet-steele can you answer the question above?

[2016-02-18 03:34] ariel-phet commented on #266
Looks done. Closing

[2016-02-18 03:34] #266 closed

[2016-02-18 03:37] ariel-phet commented on #260
Unassigning until we sort out https://github.com/phetsims/tasks/issues/505

[2016-02-18 05:53] oliver-phet commented on #475
@mattpen I forgot - did we still need an Adobe license for you?

[2016-02-18 06:07] mattpen commented on #475
@oliver-phet Yes, it would be nice to have for porting masses-and-springs.

Also, do we have any external DVD drives that I could use?  I have a disc for Visio that I'd like to install but my DVD drive appears to no longer be working.

[2016-02-18 15:52] amyh-phet commented on #519
Think I'm going to have to choose the chem lab scene.  Shocking I know!

[2016-02-18 16:28] oliver-phet commented on #475
I don’t have any external drives, but we have several testing computers with physical drives and we could make a flash drive with a disk image of whatever you need.

[2016-02-18 16:46] pixelzoom commented on #433
Here's our current pattern for namespace registration:

[code]

If it's important to register only "complete" types, then change our pattern to this:

[code]

[2016-02-18 17:02] samreid commented on #433
The approach in the preceding comment has been working acceptably well for phet-io.  We haven't identified any practical cases like `as soon as the MyType class is declared, create an instance of it`, so perhaps our plan is sufficient for the foreseeable future.

[2016-02-18 17:04] arouinfar commented on #519
I also really like the chem lab. It feels a bit more science-y than the others, but they are all really great!

[2016-02-18 17:08] jonathanolson commented on #433
My comment https://github.com/phetsims/tasks/issues/433#issuecomment-156787995 notes that registering at the end of the module still isn't enough to only register complete types.

[2016-02-18 17:10] pixelzoom commented on #433
Sounds like the answer to @ariel-phet's question is: Yes, this issue can be closed, because what we're currently doing is working.

[2016-02-18 17:13] phet-steele commented on #326
@amanda-phet @ariel-phet sims!

[2016-02-18 17:14] oliver-phet commented on #473
This can be closed as part of https://github.com/phetsims/website/issues/288

[2016-02-18 17:14] #473 closed

[2016-02-18 17:15] oliver-phet commented on #227
This is now part of the help center. Closing.

[2016-02-18 17:15] #227 closed

[2016-02-18 17:18] oliver-phet commented on #505
These accounts are now active and receiving email.

Kathy can claim these secondary accounts by logging into CUIdM https://cuidm.colorado.edu
with identikey and then clicking on the "Activate My Secondary Accounts" link.
http://www.colorado.edu/oit/tutorial/identikey-secondary-account-activation

Instructions for configuring these accounts may be found at:
http://www.colorado.edu/oit/services/mess

[2016-02-18 17:58] elisemorgan commented on #517
iPad 2

[2016-02-18 18:19] amyh-phet commented on #429
@arnabp  These should be the only other primers that reference other sims.  Thanks for tracking this down and putting the slide-ins into the primers.

[2016-02-18 18:32] elisemorgan commented on #513
Assigning to @phet-steele to wrap up Win8/10 testing

[2016-02-18 19:20] phet-steele commented on #513
@jessegreenberg @ariel-phet I had done most of that without marking it, so testing complete!

[2016-02-18 19:28] pixelzoom commented on #476
Added developer-meeting label, should make it a weekly practice to check on status of this.

[2016-02-18 19:29] ariel-phet commented on #513
@jessegreenberg looks like this this is good to go

[2016-02-18 19:37] pixelzoom commented on #433
2/18/16 dev meeting, yes ok to close.

[2016-02-18 19:37] #433 closed

[2016-02-18 19:39] jessegreenberg commented on #513
Thanks @phet-steele!  Need to go through https://github.com/phetsims/balloons-and-static-electricity/issues/130 after 2/18/16 dev meeting discussion.  Then will be ready for redeploy.

[2016-02-18 21:45] mariahmaephet commented on #501
@ariel-phet How does this look? These are just the 'landmark' poses and then I'll go in and add a bunch of incremental changes (and fix the glares).

<img width="715" alt="screen shot 2016-02-18 at 2 39 37 pm" src="https://cloud.githubusercontent.com/assets/11527557/13159187/c26c4850-d64d-11e5-9a95-5214422daf13.png">
<img width="733" alt="screen shot 2016-02-18 at 2 40 54 pm" src="https://cloud.gi

[2016-02-18 23:56] jessegreenberg commented on #309
@ariel-phet what is the status of this?  Should I add any new assets before I create an RC for the redeploy of John Travoltage?

[2016-02-19 00:00] jonathanolson commented on #515
Is expected, as I thought it would be desired (by me) at the time, since you had to open the menu to take a screenshot. Thus hiding the menu was beneficial.

Comment in ScreenshotGenerator:
[code]

[2016-02-19 01:53] ariel-phet commented on #501
@mariahmaephet I love going into the splits! I think that is great for a "fall off" pose, however, I think there needs to be a tweak for the "leaning" poses...

Notice in the frame three above the front foot is to the left of the knee, I think that is important. If you are leaning in an pushing really hard, you will go into a deep and deeper lunge, so the foot should stay behind the knee. Kind of

[2016-02-19 02:08] ariel-phet commented on #309
@jessegreenberg yes I think that would be good. I will get @mariahmaephet to upload a copy

[2016-02-19 02:10] ariel-phet commented on #309
@mariahmaephet can you upload a cleaned up .ai file to your drive of this artwork?

You and I will need to meet and discuss some other changes, but for the time being the current piece will go into our sim.

[2016-02-19 18:44] oliver-phet commented on #505
Accounts have been fully activated.

[2016-02-19 18:49] mariahmaephet commented on #501
@ariel-phet right! I was basing it more off of smooth motion from first to final pose, but I can change the final pose to still having the leg vertical below the knee. Are these better?

<img width="947" alt="screen shot 2016-02-19 at 11 25 35 am" src="https://cloud.githubusercontent.com/assets/11527557/13184906/c75cf2d4-d6fb-11e5-9bfb-5df6f1c57551.png">
<img width="949" alt="screen shot 2016-02-1

[2016-02-19 19:03] ariel-phet commented on #501
@mariahmaephet yes, looks great!

[2016-02-19 19:57] phet-steele commented on #518
@jbphet sim's good, full throttle ahead!

[2016-02-19 20:12] BryceAG commented on #472
I have tested faradays law and hookes law from the reading list, deleted and redownloaded energy skate park basics to the reading list. I have also tested molecular shapes and gravity force lab off the Web. I also tested the games in balancing act, balancing chemical equations, and graphing lines. They all appear to be functioning well with beta 3

[2016-02-19 20:13] phet-steele commented on #472
@BryceAG Thanks yet again!

[2016-02-19 20:13] #472 closed

[2016-02-19 21:57] jessegreenberg commented on #513
Will need a new RC after recent scenery/joist patches.  Closing.

[2016-02-19 21:57] #513 closed

[2016-02-19 23:08] oliver-phet commented on #505
@arnabp and I are investigating. Here are some notes:

1. When using Drive migrator, all folder structure and file types are preserved
2. All previous sharing setting are removed (no one is shared on any migrated docs except the new owner 'phet-docs@colorado.edu')
3. Hyperlinks within google docs are preserved, but reference to the original copy - this means people will need to manually update lin

[2016-02-19 23:16] jessegreenberg opened #520 "RC Test Balloons and Static Electricity 1.1.0-rc.6"
Balloons and Static Electricity 1.1.0-rc.6 is ready for RC testing.

**NOTE**
This version is identical to 1.2.0, other than the version number and a patch to joist for setting the renderer on Edge.  Another full RC test is not necessary.  However, please spot check all platforms to make sure that nothing is broken after the recent patch, and fill out the test matrix as spot checking is completed.

[2016-02-22 03:17] samreid commented on #515
Ah, thanks for commenting about the screenshot, I'll create an issue for it in phet-io.

[2016-02-22 16:03] jbphet commented on #518
Closing.  Looks like an rc.5 version will be needed to incorporate some common code fixes for issues that were found on the latest version of the Edge browser.

[2016-02-22 16:03] #518 closed

[2016-02-22 16:31] ariel-phet commented on #520
@BryceAG @bryo5363 @brroberts1231 @orejolaphet @elisemorgan @phet-steele please currently make this the next testing priority in the queue after #517

[2016-02-22 18:29] jbphet commented on #516
A new RC is needed due to some issues with the latest version of Edge, see https://github.com/phetsims/scenery/issues/515.  Closing this one, rolling a new RC.

[2016-02-22 18:29] #516 closed

[2016-02-22 18:40] phet-steele commented on #515
@samreid alright, found what I could with these.

[2016-02-22 18:41] jbphet opened #521 "RC test: Ohm's Law 1.3.0-rc.2"
Ohm's Law 1.3.0-rc.2 is ready for testing.  The previous version passed almost all tests, but a general issue on the latest version of MS Edge is forcing a new RC, see https://github.com/phetsims/joist/issues/321.  Also, I decided to go ahead and attempt a fix for an issue with artifacts on some letters, see https://github.com/phetsims/ohms-law/issues/26.  Given the minimal changes to the code, a

[2016-02-22 18:41] samreid commented on #515
Thanks @phet-steele, closing.

[2016-02-22 18:41] #515 closed

[2016-02-22 18:44] elisemorgan commented on #517
Dev testing is complete

[2016-02-22 18:44] ariel-phet commented on #521
@phet-steele this seems pretty quick to bang out, feel free to do yourself, or delegate to another QA team member

[2016-02-22 18:45] ariel-phet commented on #517
@elisemorgan there appear to be two unchecked items above?

[2016-02-22 18:52] elisemorgan commented on #517
Text issues was tested but is not resolved. Wasn't sure whether or not to check it.

[2016-02-22 18:53] ariel-phet commented on #517
@elisemorgan and the constant radius?

[2016-02-22 18:55] elisemorgan commented on #517
@ariel-phet no issues with that feature

[2016-02-22 18:56] ariel-phet commented on #517
thanks, closing

[2016-02-22 18:56] #517 closed

[2016-02-22 18:57] ariel-phet commented on #520
#517 complete, bumping to top priority

[2016-02-22 19:39] elisemorgan commented on #520
xss tested, passed, on OS X 10.10.5 Safari 9.0.3 (10601.4.4)

[2016-02-22 21:01] phet-steele commented on #521
@jbphet artifacts resolved on IE11, and Menu problem resolved in Edge 25.

[2016-02-22 21:02] jbphet opened #522 "RC Test: Neuron 1.0.0-rc.5"
Neuron 1.0.0-rc.5 is ready for testing.  This version was created due to a couple of issues with the previous RC when running on the latest version of Edge.  A full retest is not required, but a sanity test (i.e. a test to make sure that it loads, runs, and is interactive) should be done on our major platforms.  Please sanity test on:

- [x] Windows 7 + Chrome
- [x] Windows 10 + Chrome
- [x] Windo

[2016-02-22 22:01] ariel-phet commented on #522
@BryceAG @bryo5363 @brroberts1231 @orejolaphet @elisemorgan @phet-steele please currently make this the next testing priority in the queue after #520

[2016-02-22 22:02] ariel-phet commented on #522
Also if you take the windows edge test, please not in the issue

[2016-02-22 22:51] arnabp commented on #429
I've put in the slide ins for Concentration and Beer's Law, I've also updated the producer guidelines to explain the process. That appears to be everything I think? Let me know if there's anything else missing that I should do.

[2016-02-23 06:57] mattpen commented on #470
The resized images were deployed to figaro tonight.  The page is still a little slow to load, but I think its due to the sheer volume of images on the page, rather than their size.  I only noticed the slowness if I spammed the Page Down button the instant the page appeared.

@ariel-phet is this acceptable?  Does the page need to be further optimized or is a QA task is needed?  Personally, I think

[2016-02-23 07:43] ariel-phet commented on #470
Yes, acceptable, closing

[2016-02-23 07:43] #470 closed

[2016-02-23 16:59] ariel-phet commented on #503
reassigning to @daveunderwood

[2016-02-23 17:40] phet-steele opened #523 "Test Edge Maintenance Releases"
Found here: http://www.colorado.edu/physics/phet/dev/olsonjb/maintenance/

Look specifically for visual issues in Edge, and that the PhET menu and NavBar behave nicely.

[2016-02-23 17:50] ariel-phet commented on #494
unassigning for the moment

[2016-02-23 18:38] mariahmaephet commented on #501
@ariel-phet so this is 32 poses. Do you want to have the developer people use this and see if we need more?

<img width="999" alt="screen shot 2016-02-23 at 11 36 18 am" src="https://cloud.githubusercontent.com/assets/11527557/13262372/b99423e2-da21-11e5-96ba-75cae93ae19d.png">

[2016-02-23 18:47] ariel-phet commented on #501
@mariahmaephet I think that is a good idea, and probably will be enough. Can you upload the .ai file of just the pusher?

[2016-02-23 18:54] mariahmaephet commented on #501
@ariel-phet it's uploaded

[2016-02-23 19:02] schasteen commented on #430
ESPB is OK, and it looks like Fraction Matcher screenshot is no longer fuzzy.  @arnabp, did you check this list of sims for needed slide ins as well?
For Color Vision, we want to add some on-screen text to clarify an issue we've found with the sim.  At 0:36 please add on-screen (perhaps in the blank space at top right) the following text:
Note:  Balloon is not filled with helium; see Teacher Tips.

[2016-02-23 19:25] schasteen commented on #429
Concentration and Beer's Law are OK.  However, I note that the Camtasia date in the file name doesn't match the mp4 date.  For consistency, they should, so we know which Camtasia was used to produce the mp4.  E.g., instead of Concentration_v4_v15_12302015 it should be Concentration_v4_v15_02172016.  Could you update these Camtasia file names for our archives?

Really nice documentation on the slid

[2016-02-23 21:28] phet-steele commented on #523
@jonathanolson @ariel-phet done.

[2016-02-23 21:36] oliver-phet commented on #505
@ariel-phet: @arnabp and I have tested a few different scenarios using the drive migrator and we think we are ready to kick off this process soon. However, a few questions that need to be sorted out:

I'm not sure how we would like to handle this.

So, after we do the migration and create a nice, clean folder structure within phet-docs, if anyone would like to create new folders and files (new sim

[2016-02-23 21:57] oliver-phet commented on #505
We are thinking about public sim assets (.ai files, teacher tips) be stored on github.

[2016-02-23 22:44] ariel-phet commented on #501
thanks @mariahmaephet! unassigning for now, but leaving open in case any tweaks are needed.

[2016-02-23 23:41] jonathanolson commented on #523
New batch of maintenance-release candidates at http://www.colorado.edu/physics/phet/dev/olsonjb/maintenance2/

Recommend brief testing + checks for the "full screen is broken" (bad resizing, NOT the crazier one), and the dashed-lines.

[2016-02-24 00:28] ariel-phet commented on #523
Back at you @phet-steele , hopefully lots of these are fixed now.

[2016-02-24 01:12] ariel-phet opened #524 "HTML5 Sims missing teacher tips"
The following sims need teacher tips

- [x] Arithmetic
- [x] Balancing Act (legacy tips exist)
- [x] Faradays Law
- [x] Forces and Motion Basics (new features coming, legacy tips exist)
- [x] Gravity Force Lab (new features coming)
- [x] John Travoltage
- [x] Neuron
- [x] Ohm's Law
- [x] Resistance in a Wire
- [x] Under Pressure (legacy tips exist)
- [x] Wave on a String (legacy tips exists)

[2016-02-24 01:14] ariel-phet commented on #524
@phet-steele since you have now worked on some teacher tips, can you draft teacher tips of any of the above sims where they are marked "legacy tips exist"

You can either do this yourself, or show one of the the other QA team members how the current tips template. The idea would be to take the legacy tips, put them into the new format with fresh screenshots, then clean up by myself, @amyh-phet, or

[2016-02-24 01:16] ariel-phet commented on #524
@phet-steele said arithmetic tips have been made, were sent to @amanda-phet but need review by someone else now that she is on leave.

[2016-02-24 02:03] phet-steele commented on #523
@jonathanolson am I to assume the above Acid Base Solutions and Graphing Lines issues are resolved? Because they aren't.

[2016-02-24 03:06] ariel-phet commented on #500
@phet-steele feel free to delegate this task, it is rising in priority

[2016-02-24 04:10] jonathanolson commented on #523
Those are not yet fixed. Should we wait on testing for those sims to fix those issues?

[2016-02-24 16:02] phet-steele commented on #523
@jonathanolson yes, I can test everything but those two.

[2016-02-24 16:12] jbphet commented on #521
Thanks all.  Looks like this one is good to go for production release.  Closing.

[2016-02-24 16:12] #521 closed

[2016-02-24 18:41] phet-steele commented on #500
@mattpen I couldn't find anything wrong with this after a solid 1.5 hrs of testing, nice job.

[2016-02-24 18:45] mattpen commented on #500
Thanks @phet-steele

[2016-02-24 18:45] #500 closed

[2016-02-24 19:01] phet-steele commented on #520
@jessegreenberg @ariel-phet matrice completato.

[2016-02-24 19:33] brroberts1231 commented on #522
Taking Edge

[2016-02-24 19:41] brroberts1231 commented on #522
Appears to run correctly now on Edge. phetsims/neuron#120 scenery issue not recreated.

[2016-02-24 20:35] ariel-phet commented on #520
@jessegreenberg feel free to close (no noted issues)

[2016-02-24 21:03] oliver-phet opened #525 "Make sure things are shared/owned with phethelp"
We need to ensure that every collaborative Google file and folder (docs, sheets, etc) are shared and owned by the phethelp gmail. When all of your files have been transferred, check your name off the list.

All non-google files (.ai, .pdf, etc.) can't be transferred to google, so those will need to be manually updated later.

- [x] Oliver
- [x] Amy R
- [x] Amy H
- [x] Steele
- [x] Ariel
- [x] Aman

[2016-02-24 21:05] oliver-phet commented on #505
Will discuss this during 2/25 status meeting.

[2016-02-24 21:13] oliver-phet commented on #505
Also will need to migrate the google calendars to @colorado

[2016-02-24 22:53] jonathanolson commented on #523
http://www.colorado.edu/physics/phet/dev/olsonjb/maintenance3/graphing-lines_en.html should be good for testing now also (includes fix for https://github.com/phetsims/graphing-lines/issues/60).

[2016-02-24 22:57] amyh-phet commented on #524
I'll take Ohm's law

[2016-02-24 23:03] arouinfar commented on #524
I'll take care of Resistance in a Wire this Friday/Monday. I'd also like to work on FAMB and GFL, but time the tips with the release of updated versions.

[2016-02-24 23:15] arnabp commented on #429
I've fixed all incorrect file names and added the note to Balloons. When I reupload the sims that were updated to V15, should I simply replace the existing Vimeo file for those or create a new video altogether on vimeo? Also, what is PBU2? I couldn't find it anywhere on the producer guidelines.

[2016-02-24 23:15] arouinfar commented on #524
@phet-steele we can work together on FAMB since it has legacy tips.

[2016-02-24 23:24] amyh-phet commented on #524
I can also work on Neuron so tips are ready when sim gets released.

[2016-02-24 23:24] amyh-phet commented on #524
I can also work on Neuron so tips are ready when sim gets released.

[2016-02-25 00:25] schasteen commented on #429
Yes, replace the existing Vimeo file for the updated sim primers.  PhET Backup 2 = PBU2.  The producer guidelines that refer to it are:
In PhET Backup 2, create an archival copy of all information in the Draft Primer and Final Primer folder for that sim (PhET Backup 2 / SEI Media / PhET Teacher Primers) including a Word copy of the outline and reviewer comments.
Don’t delete anything from Google D

[2016-02-25 01:32] jonathanolson commented on #523
http://www.colorado.edu/physics/phet/dev/olsonjb/maintenance3/acid-base-solutions_en.html also should be good, includes a patch for https://github.com/phetsims/acid-base-solutions/issues/145.

Please keep https://github.com/phetsims/acid-base-solutions/issues/145 open, as it isn't fixed in master.

[2016-02-25 01:34] jonathanolson commented on #523
Also https://github.com/phetsims/molecules-and-light/issues/132 and https://github.com/phetsims/joist/issues/322 are deferred, so I believe I've patched all the other issues (just pending testing now).

[2016-02-25 02:42] ariel-phet commented on #501
Working really well! If you want to see these in action @mariahmaephet check out http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/1.1.5-dev.15/forces-and-motion-basics_en.html

Closing as this work is complete.

[2016-02-25 02:42] #501 closed

[2016-02-25 17:40] phet-steele commented on #480
@ariel-phet @mattpen done what I can here, and it all behaves as expected for me.

[2016-02-25 17:44] mattpen commented on #480
phetsims/website#361 has been deployed to figaro and appears to be working as planned.  Closing.

[2016-02-25 17:44] #480 closed

[2016-02-25 18:33] jonathanolson opened #526 "RC test: Wave on a String 1.1.0-rc.1"
**Test URL:** http://www.colorado.edu/physics/phet/dev/html/wave-on-a-string/1.1.0-rc.1/wave-on-a-string_en.html

**Iframe URL:** http://www.colorado.edu/physics/phet/dev/html/wave-on-a-string/1.1.0-rc.1/wave-on-a-string_en-iframe.html

**Test matrix:** https://docs.google.com/spreadsheets/d/1av1hvj2t8V7dkKOX4NhhC_mOBo_1Aw1WpOxKxfClaTA/edit#gid=1447851188

**NOTE**
This is a translation "S2015R" R

[2016-02-25 18:43] ariel-phet commented on #522
testing complete closing

[2016-02-25 18:43] #522 closed

[2016-02-25 18:43] phet-steele commented on #326
@arouinfar hi!

[2016-02-25 18:48] jessegreenberg commented on #520
Excellent, thanks!  The redeploy is being tracked in https://github.com/phetsims/balloons-and-static-electricity/issues/130, so closing this issue.  We are ready to deploy 1.1 of balloons!

[2016-02-25 18:48] #520 closed

[2016-02-25 19:06] ariel-phet commented on #526
@BryceAG @bryo5363 @brroberts1231 @orejolaphet @elisemorgan @phet-steele please makes this the current top testing priority

[2016-02-25 19:17] phet-steele commented on #523
@jonathanolson all is well, testing done.

[2016-02-25 19:31] arouinfar commented on #326
@phet-steele @amyh-phet and I have been working on a general template for PhET metadata. I've started filling in the relevant data for the HTML5 sims, but there is still some work that would be good for @phet-steele to take care of. You can find the spreadsheet in the "PhET Metadata Template" Google sheet.

- [ ] Ensure that the keywords in columns D, E, H, I in the Copy of Metadata Project 2015 f

[2016-02-25 19:31] samreid commented on #476
Ohm's law is the latest published sim, with these shas: https://phet.colorado.edu/sims/html/ohms-law/1.3.0/dependencies.json

But it doesn't have the clipping area fix or the text area artifact fix.

[2016-02-25 19:32] samreid commented on #476
@jonathanolson said "Wave on a String" has latest scenery fixes and may be a good candidate for next SHAs.

[2016-02-25 19:38] arouinfar commented on #326
Actually, @ariel-phet should assign a priority for this task, so reassigning.

[2016-02-25 19:42] jonathanolson commented on #523
Thanks! Will be deploying the maintenance releases.

[2016-02-25 19:42] #523 closed

[2016-02-26 18:51] jbphet opened #527 "RC test: Neuron 1.1.0-rc.6"
Neuron 1.0.0-rc.6 is ready for testing.  This release was created for in order to resolve one very specific issue, but fixing the issue involved significant changes to the code that controls the concentration readouts.  Please verify that the the issue, listed below, is resolved on the platform where it was originally found, then regression test the behavior of the concentration readouts on our ma

[2016-02-26 19:15] ariel-phet commented on #527
@phet-steele since you are intimately familiar with this issue can you verify the fix and test on some major platforms? As @jbphet noted, please mark in this issues what platforms you tested on. Would be great to get this one published!!

[2016-02-26 20:42] jbphet opened #528 "RC Test: Resistance in a Wire 1.2.0-rc.1"
This is the first release candidate for the translatable version of this simulation, so a full retest should be performed.

**Test Matrix**
https://docs.google.com/spreadsheets/d/1vKzKed4O0Dh19_2eNDCabfxRCnJKERNixUqt7jQ_xWE/edit#gid=2107416879

**Issues to Verify**
The following issues should be verified, and if fixed, please close the issue.  *Please also read through the issue resolution before

[2016-02-26 23:05] ariel-phet commented on #528
@BryceAG @bryo5363 @brroberts1231 @orejolaphet @elisemorgan @phet-steele please makes this the next testing priority after #526 is complete

[2016-02-29 16:54] phet-steele commented on #527
@jbphet @ariel-phet All good to go. Tested on:

iPad2 iOS 9.2 (Witten)
OSX 10.9.5 Safari (Jordan)
OSX 10.11.3 Safari & Chrome (Dirac)
Edge 20+ (Steele & Galileo)
Win 10 Chrome (Steele)

[2016-02-29 17:32] ariel-phet commented on #527
@jbphet does this mean we can publish?

[2016-02-29 20:09] jonathanolson opened #529 "Performance tests for overflow fix"
For testing https://github.com/phetsims/phet-io/issues/341, I want to make sure that this change won't adversely affect performance.

Can the two sims (in both the "fixed" and normal) configurations under http://www.colorado.edu/physics/phet/dev/olsonjb/no-overflow/ be tested on a range of platforms, to see if performance is significantly affected?

Ideally, try to put things off-screen (meters, p

[2016-02-29 20:28] jbphet commented on #528
Two issues were logged during the early testing on this, and I've fixed them, so I'm going to roll a new RC and create a new test task.  Closing this one.

[2016-02-29 20:28] #528 closed

[2016-02-29 20:32] jonathanolson opened #530 "Test fix for iPad 2 phet-io playback"
Please test http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.4.0-dev.6/phet-io/protected/wrappers/mirror-input-events.html?sim=beers-law-lab on iPad 2/3 to ensure that https://github.com/phetsims/phet-io/issues/341 fixes the issue.

[2016-02-29 20:34] jbphet opened #531 "RC Test: Resistance in a Wire 1.2.0-rc.2"
This is the second release candidate for the translatable version of this simulation, but I cut short the first round in order to fix a couple of issues, so a full retest should be performed.

**Test Matrix**
https://docs.google.com/spreadsheets/d/1vKzKed4O0Dh19_2eNDCabfxRCnJKERNixUqt7jQ_xWE/edit#gid=72714242

**Issues to Verify**
The following issues should be verified, and if fixed, please close

[2016-02-29 20:45] ariel-phet commented on #527
Testing complete, closing

[2016-02-29 20:45] #527 closed

[2016-02-29 20:47] ariel-phet commented on #531
@BryceAG @bryo5363 @brroberts1231 @orejolaphet @elisemorgan @phet-steele please makes this the next priority after #526

[2016-02-29 21:53] arouinfar commented on #525
Done!

[2016-03-01 16:49] daveunderwood commented on #503
29 X 29 pixels is a tough size to do anything interesting with. I love the white outline in the example above, but in the size required, I can't make it work. Here's the closest thing I have to an icon that imparts a little motion. See what you think.
![icon_1](https://cloud.githubusercontent.com/assets/13662881/13434380/d5f0af76-df92-11e5-9376-93d2f8254fb2.jpg)

[2016-03-01 16:49] ariel-phet commented on #526
@phet-steele looks like this one is close, would be great to finish off soon

[2016-03-01 19:11] phet-steele commented on #526
@ariel-phet done.

[2016-03-01 20:21] samreid opened #532 "Test new batch of phet-io sims"
I've published a new batch of phet-io sims here:

The wrappers links are here:

http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.4.0-dev.5/phet-io/protected/wrappers.html
http://www.colorado.edu/physics/phet/dev/html/color-vision/1.2.0-dev.2/phet-io/protected/wrappers.html
http://www.colorado.edu/physics/phet/dev/html/concentration/1.3.0-dev.3/phet-io/protected/wrappers.html
http://ww

[2016-03-01 20:28] phet-steele commented on #326
@arouinfar done, back to you.

[2016-03-01 21:20] ariel-phet commented on #531
Moving to top priority now that WOAS testing is complete

[2016-03-01 21:25] ariel-phet commented on #526
testing complete, closing

[2016-03-01 21:25] #526 closed

[2016-03-01 21:28] ariel-phet commented on #532
I think @phet-steele can spare an hour or so. @phet-steele marking as high priority

[2016-03-01 21:31] oliver-phet commented on #525
All of my "collaborative" google docs are now owned by phethelp.

I also migrated the folder 'PhET - sharon's files' to phet-docs. She is still the owner of the folder, but the migration copied and retained all of the files.

[2016-03-01 21:32] oliver-phet commented on #525
Assigning to @amyh-phet, she is next on the list!

[2016-03-02 05:39] ariel-phet commented on #503
Hey @daveunderwood I think we actually have a bit more leeway. Looking at the guidelines, that very small icon could be what you have, but we could have a more detailed one for the iPad homescreen. Looks like 76x76 is by far the more important size to work with and get looking nice (the 29x29 only appears when you go into settings). So lets try doing something we love at 76x76 and can be simplifie

[2016-03-02 15:45] ariel-phet commented on #519
@amyh-phet can you make a .pdf of the chem scene from the .ai file on drive at the appropriate poster size (poster prints 36" in one dimension). And once you have the file assign this issue to @phet-steele.

@phet-steele once this issue is assigned to you, please work with @oliver-phet to get the poster printed. I know this seems like a low priority, but it will actually be very beneficial to have

[2016-03-02 16:11] amyh-phet commented on #519
@phet-steele   Here's the file for the chem scene.  Should print a 36" x 48" poster.

[chem.scene.office.pdf](https://github.com/phetsims/tasks/files/155139/chem.scene.office.pdf)

[2016-03-02 16:28] phet-steele commented on #530
@jonathanolson it's fixed!

[2016-03-02 16:55] jonathanolson commented on #530
Thanks!

[2016-03-02 16:55] #530 closed

[2016-03-02 19:26] brroberts1231 commented on #529
Link to phet-io#341 gives 404 error, so I will leave what I find in here.

[2016-03-02 19:30] jonathanolson commented on #529
@ariel-phet, presumably QA should have some access to phet-io and hidden repositories?

[2016-03-02 19:37] brroberts1231 commented on #529
Between the two Beer's law lab versions, I don't see any major performance issues as of yet, but I did find that if given the same inputs for wavelength and concentration, the two versions can sometimes give different transmittances (probably due to differences in rounding error.)
This seems to mostly happen at low concentration values.

Original  version:
![screen shot 2016-03-02 at 12 35 00 pm](

[2016-03-02 20:28] brroberts1231 commented on #529
Never mind about this last issue, I think that dragging the slider can place it on fractions of mM between the whole numbers you see, slightly altering the calculation. If I change the concentration by only using the arrows, the transmittances will be the same every time.

[2016-03-02 22:30] ariel-phet commented on #529
Yes, they should have access, I have added QA team to the repo.

[2016-03-03 16:27] phet-steele commented on #519
The poster was printed and hanged yesterday! Anyone else get a poster?

[2016-03-03 17:43] amyh-phet commented on #525
@phet-steele   Your up next!

[2016-03-03 17:59] ariel-phet commented on #519
@amyh-phet can you prep a pdf for the "math" scene?

@phet-steele please print the math scene and hang in your office

[2016-03-03 18:30] amyh-phet commented on #519
@phet-steele    Math poster attached.
[mathclassroom.office.pdf](https://github.com/phetsims/tasks/files/157415/mathclassroom.office.pdf)

[2016-03-03 19:00] ariel-phet commented on #519
This is now low priority

[2016-03-03 19:06] pixelzoom commented on #532
@phet-steele please verify these issues for beers-law-lab as part of testing 1.4.0-dev.5:

https://github.com/phetsims/beers-law-lab/issues/148
https://github.com/phetsims/beers-law-lab/issues/149
https://github.com/phetsims/beers-law-lab/issues/150
https://github.com/phetsims/beers-law-lab/issues/151

[2016-03-03 19:15] phet-steele commented on #525
Did mine...Trish's is up next, yaaay.

[2016-03-03 19:34] jonathanolson commented on #476
Use WOAS SHAs (https://github.com/phetsims/wave-on-a-string/blob/1.1/dependencies.json) except for phetcommon, which should use https://github.com/phetsims/phetcommon/commit/380b1fb5f15d097133bfceaf119d3eaf40a3a2d4.

This has NOT been fully tested yet.

[2016-03-04 19:21] phet-steele commented on #531
@jbphet @ariel-phet finito

[2016-03-04 20:03] ariel-phet commented on #531
test task complete, closing

[2016-03-04 20:03] #531 closed

[2016-03-04 20:15] jbphet opened #533 "RC Test: Resistance in a Wire 1.2.0-rc.3"
This is the third release candidate for the translatable version of this simulation, and the second was was tested fairly thoroughly.  For this one, the main changes were a fix to the gradient on the wire, a change to a more coppery color for the wire, and an update to the currently approved SHA set for S2015R deployments.  Since these changes are fairly minimal, yet not trivial, we should do a sa

[2016-03-04 20:52] oliver-phet opened #534 "Investigate "retractable posters" for PhET booth"

[2016-03-04 21:37] ariel-phet commented on #533
@BryceAG @brroberts1231 @elisemorgan @phet-steele please makes this the next testing priority, should be fairly quick to spot test these platforms

[2016-03-07 16:09] mattpen opened #535 "Artwork request for the new footer"
As part of the [new footer](phetsims/website#390), we'll need new image files for the four sponsors (Hewlett, NSF, O'Donnell, Moore) that are black and white with transparent background.  There is a mockup [here](https://cloud.githubusercontent.com/assets/4051174/13240423/b8dee662-d99f-11e5-97ed-f649c53a495f.PNG).  The dimensions should roughly be 115X45 or less.

Assigning to @ariel-phet for prio

[2016-03-07 17:27] phet-steele commented on #533
@jbphet spotting complete!

[2016-03-07 19:23] jonathanolson opened #536 "Maintenance Release testing for https://github.com/phetsims/chipper/issues/429"
For this, I'd recommend:
1. Open the sim in Chrome, ~30 seconds of "does it run" testing
2. Save the sim file to your computer, and open it using the file:// protocol in Chrome (can probably be done by navigating to the file and opening it with chrome).
3. On the tab with the sim, open Chrome's Dev-tools (Ctrl-Shift-J or Command-Option-J) and select the "network tab in the tools.
4. Reload the sim

[2016-03-07 19:23] jonathanolson commented on #536
Associated issue: https://github.com/phetsims/chipper/issues/429

[2016-03-07 20:01] ariel-phet commented on #536
@phet-steele current top testing priority. Please test yourself or delegate as you see appropriate.

[2016-03-07 20:45] phet-steele commented on #536
@jonathanolson, only sim with no collect was Graphing Lines. All sims passed a sanity test.

[2016-03-07 21:28] phet-steele commented on #532
@samreid @ariel-phet well, that was more than an hour, but I'd say I'm done with this batch. @pixelzoom the query parameters associated with the above issues worked in all wrappers not embedding the sim in an iframe.

[2016-03-07 21:39] pixelzoom commented on #532
I'm not sure what that means. Was there problems with these features when embedded in an iframe?

[2016-03-07 21:40] pixelzoom commented on #532
Also https://github.com/phetsims/beers-law-lab/issues/151 is not a query parameter, it's a layout change, which I would expect to be independent of PhET-iO and iframes.

[2016-03-07 21:46] phet-steele commented on #532
@pixelzoom yup, I know, and it was fine.

The query parameters simply did nothing in the sim. The why is really a question for @samreid, and something I think he answered for me in Skype a few days ago:

"Ah, the wrappers that embed the sim in an iframe have a different way of passing through those query parameters, a way that you will not be able to use.  (Editing the HTML file).  OK to skip thos

[2016-03-07 21:57] pixelzoom commented on #532
Thanks for the clarification. Thanks for the clarification. I've closed the beers-law-lab issue mentioned in https://github.com/phetsims/tasks/issues/532#issuecomment-191917299.

[2016-03-07 23:32] jonathanolson commented on #536
Thanks! I figured out the graphing-lines issue (why it didn't get the patch) and have tested it also.

Will be pushing out maintenance release production deployments.

[2016-03-07 23:32] #536 closed

[2016-03-08 00:32] jessegreenberg opened #537 "RC Test: John Travoltage 1.2.0-rc.1"
John Travoltage 1.2.0-rc.1 is ready for testing.

**Link to sim:** http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.2.0-rc.1/john-travoltage_en.html

**Link to iFrame:** http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.2.0-rc.1/john-travoltage_en-iframe.html

**Test Matrix:** https://docs.google.com/spreadsheets/d/1m1FlqB8-1u8ZDxU1P1VGKiKzPwjKIHDVC_69SUzayX0/edit#gid=

[2016-03-08 00:46] ariel-phet commented on #537
@BryceAG @brroberts1231 @elisemorgan @bryo5363  @phet-steele please makes this the current top testing priority

[2016-03-08 00:50] ariel-phet commented on #533
republished, closing

[2016-03-08 00:50] #533 closed

[2016-03-08 00:52] ariel-phet commented on #519
@amyh-phet can you prep a "camp phet" one ( @jbphet requested that one for his office )

[2016-03-08 17:59] ariel-phet commented on #535
@amyh-phet is this something that would be easy for you to take care of? If not please assign back to me.

[2016-03-08 18:00] ariel-phet commented on #535
marking as low priority since we will not need these until the footer is almost ready to go.

[2016-03-08 18:03] amyh-phet commented on #535
@ariel-phet I'm happy to take care of this.

[2016-03-08 18:39] schasteen commented on #430
@Arnab, can you please submit a status update?

[2016-03-08 18:40] schasteen commented on #429
@arnabp, please provide an update on status.

[2016-03-08 18:57] amyh-phet commented on #505
We should also keep @phetsims/schasteen in the loop on this.

[2016-03-08 18:59] amyh-phet commented on #525
Can we add @arnabp to the list as we need to move primer documents that he owns?

[2016-03-08 19:52] jbphet opened #538 "Test rotating text on Balancing Act 1.1.0-dev.2"
The Balancing Act simulation is currently being worked on in order to create and publish a translatable version.  There was previously a workaround in this sim for the handling of rotating text, see https://github.com/phetsims/balancing-act/issues/16 and https://github.com/phetsims/balancing-act/issues/25.  I did some light testing to see if the problem with rotating text had been solved in the br

[2016-03-08 19:59] ariel-phet commented on #507
@phet-steele looks like you have tested several sims....thoughts so far?

[2016-03-08 20:00] ariel-phet commented on #538
@phet-steele can you check this out or delegate if you are crunched for time?

[2016-03-08 20:21] phet-steele commented on #507
@ariel-phet the check boxes have actually been @BryceAG (who may have some thoughts?), but you still aren't wrong since I have been testing it now and again! Performance is all over the place, sims that (I'm assuming) have heavy data transfer are really slow, like Normal Modes, Radiating Charge, My Solar System, etc.., while other sims run adequately well, like Density, Curve Fitting, Pendulum Lab

[2016-03-08 20:39] ariel-phet commented on #507
OK, thanks for the report @phet-steele , I think we can end testing there. I think this is something we will keep in our back pocket to tell people if they are "desperate" to use a flash sim on an ipad but not advertise anywhere on the website.

[2016-03-08 20:39] #507 closed

[2016-03-09 03:41] arnabp commented on #429
Sorry, I was sick most of last week. I've started uploading the primer data to PBU2, and I'll be updating and adding the new vimeos later this week.

[2016-03-09 16:44] phet-steele commented on #538
@jbphet there are some noticeable issues in FF and Chrome. The text on Chrome "swims" around while FF text strobes. The catch is that this really only happens when the see saw is rotating slowly. Fast rotating text makes these issues less discernible.

[2016-03-09 16:47] amyh-phet commented on #519
@phet-steele   Here's "Camp PhET" too.
[campphet.pdf](https://github.com/phetsims/tasks/files/165610/campphet.pdf)

[2016-03-09 18:06] amyh-phet commented on #519
Lets try again.
[campphetsized.pdf](https://github.com/phetsims/tasks/files/165775/campphetsized.pdf)
[mathclassroom3.pdf](https://github.com/phetsims/tasks/files/165776/mathclassroom3.pdf)

[2016-03-09 19:12] phet-steele commented on #525
@amanda-phet you up for this? Your turn!

[2016-03-09 19:51] phet-steele commented on #519
@amyh-phet @ariel-phet printed!

[2016-03-09 19:51] samreid commented on #532
Thanks @phet-steele, I'll share the links with our collaborators.

[2016-03-09 19:51] #532 closed

[2016-03-09 20:13] phet-steele commented on #529
@jonathanolson platforms have been tested. I saw no discernible difference between the two.

[2016-03-09 20:20] phet-steele commented on #537
@jessegreenberg @ariel-phet matrix has been filled out!

[2016-03-09 20:25] amanda-phet commented on #525
I think I did this a long time ago but I can double-check that all new files are transferred.

Sent from Outlook Mobile<https://aka.ms/blhgte>

On Wed, Mar 9, 2016 at 11:12 AM -0800, "phet-steele" <notifications@github.com<mailto:notifications@github.com>> wrote:

Assigned #525<https://github.com/phetsims/tasks/issues/525> to @amanda-phet<https://github.com/amanda-phet>.

-
Reply to this email dir

[2016-03-09 20:47] BryceAG commented on #472
Beta 6 has been released yesterday, so I missed 4 and 5, but... I have tested energy skate park basics and hookes law from the reading list, deleted and redownloaded Faraday's law to the reading list. I have also tested molecular shapes and gravity force lab off the Web. I also tested the games in balancing act, balancing chemical equations, and graphing lines. They all appear to be functioning we

[2016-03-09 20:53] ariel-phet commented on #537
@phet-steele can you comment on the performance difference between iOS 9 and iOS 8 on the iPad 2, I am surprised it is marked "OK" for iPad2 iOS9

Can you further comment on how iPad2 iOS9 performance of this RC compares to the published version? I want to know if equivalent or not. I am fine if they are equivalent, but if this RC has degraded performance it would be good to know how and why.

[2016-03-09 21:25] phet-steele commented on #537
@ariel-phet I personally would have labeled iOS 8 performance as "OK" (BR tested that platform). For both iOSs, the performance between the RC and the published was equivalent.

[2016-03-09 22:10] ariel-phet commented on #537
Sounds good, thanks for the info @phet-steele (I noted your comments in the test matrix

@jessegreenberg assigning back to you to complete the redeploy!

[2016-03-09 22:26] jessegreenberg commented on #537
Thanks @phet-steele, closing this tasks issue.  Completing the redeploy will be tracked in https://github.com/phetsims/john-travoltage/issues/86

[2016-03-09 22:26] #537 closed

[2016-03-10 01:30] samreid commented on #476
@jessegreenberg and @jonathanolson can you comment on the state of the shas above?  Can I use them for Energy Skate Park: Basics?  Were they used for John Travoltage?

[2016-03-10 01:44] jessegreenberg commented on #476
The shas mentioned in https://github.com/phetsims/tasks/issues/476#issuecomment-191927692 were used in John Travoltage and passed through the testing task successfully.  Above shas seem good to go, but there may be updates to dependencies that I am not aware of.

[2016-03-10 02:01] pixelzoom opened #539 "accounts for schmitzware on PhET servers"
Moving this from https://github.com/phetsims/rutherford-scattering/issues/30#issuecomment-194538227. @phetsims/schmitzware will need accounts on the PhET dev and production servers in order to deploy simulations.  Assigned to @ariel-phet, since I have no idea who handles this.

[2016-03-10 02:13] pixelzoom commented on #539
Looks like there was some discussion about this on Skype, and @jessegreenberg is contacting the relevant parties. So assigning to him.

[2016-03-10 03:03] samreid commented on #476
@jonathanolson, what is the state of the SHAs?  I need to know SHAs for building Energy Skate Park: Basics, is the tail of this still good? 

@jonathanolson responded:

[2016-03-10 05:30] jonathanolson commented on #529
Thanks!

[2016-03-10 05:30] #529 closed

[2016-03-10 16:45] samreid commented on #476
I had to grab new shas for Fraction Matcher to pick up sun and scenery-phet fixes.

[2016-03-10 16:57] samreid commented on #476
Also a note for those who follow in my footsteps, the Wave on a String dependencies.json includes a sha for wave-on-a-string which should be removed for your sim.

[2016-03-10 17:16] samreid opened #540 "Dev testing for Energy Skate Park: Basics 1.1.0-dev.1"
Energy Skate Park: Basics underwent major implementation changes regarding WebGL and requires dev testing before moving into a formal RC.  The main parts this will impact are the pie chart, bar chart and skater, so please focus testing on those components and performance.  You can tell WebGL is enabled if the pie chart has no inner lines/strokes on the slices, webgl is disabled if the pie chart ha

[2016-03-10 17:30] ariel-phet commented on #540
@BryceAG @brroberts1231 @elisemorgan @bryo5363 @phet-steele please makes this the current top testing priority

[2016-03-10 19:45] samreid commented on #360
It looks like Tween.js has Universal Module Definition: https://github.com/tweenjs/tween.js/blob/master/src/Tween.js

[code]

So perhaps it does not need to be a global.

[2016-03-10 21:21] schmitzware commented on #539
I've sent OIT a note.. waiting for a response.

[2016-03-10 21:57] samreid opened #541 "RC Test: Fraction Matcher 1.1.0-rc.1"
Fraction Matcher 1.1.0-rc.1 is ready for testing (as created in https://github.com/phetsims/fraction-matcher/issues/92 )

**Link to sim:** http://www.colorado.edu/physics/phet/dev/html/fraction-matcher/1.1.0-rc.1/fraction-matcher_en.html

**Link to iFrame:** http://www.colorado.edu/physics/phet/dev/html/fraction-matcher/1.1.0-rc.1/fraction-matcher_en-iframe.html

**Test Matrix:** https://docs.goog

[2016-03-11 00:18] ariel-phet commented on #541
@BryceAG @brroberts1231 @elisemorgan @bryo5363 @phet-steele please makes this the current next testing priority after #540 is complete thanks!

[2016-03-11 02:22] jessegreenberg opened #542 "RC Test: Least Squares Regression 1.1.0-rc.1"
Least Squares Regression 1.1.0-rc.1 is ready for testing.

**Link to Sim:** http://www.colorado.edu/physics/phet/dev/html/least-squares-regression/1.1.0-rc.1/least-squares-regression_en.html

**Line to iFrame:** http://www.colorado.edu/physics/phet/dev/html/least-squares-regression/1.1.0-rc.1/least-squares-regression_en-iframe.html

**Link to test matrix:** https://docs.google.com/spreadsheets/d/1

[2016-03-11 05:53] ariel-phet commented on #542
@BryceAG @brroberts1231 @elisemorgan @bryo5363 @phet-steele please makes this the t next testing priority after #541 is complete.

[2016-03-11 20:12] jbphet opened #543 "RC Test: Gravity Force Lab 2.0.0-rc.1"
Gravity Force Lab 2.0.0-rc.1 is ready for testing.

**Test Link:** http://www.colorado.edu/physics/phet/dev/html/gravity-force-lab/2.0.0-rc.1/gravity-force-lab_en.html

**Link to test matrix:** https://docs.google.com/spreadsheets/d/1Hbe-bDR0VC23nS-pyl4UpsO16HPZ1ayt-yWgyZh1OL0/edit#gid=1441111908

Please do a full test of this RC on all platforms, and run the following to check internationalizatio

[2016-03-11 20:17] ariel-phet commented on #543
@BryceAG @brroberts1231 @elisemorgan @bryo5363 @phet-steele next in line for redepoly testing after #542

[2016-03-11 20:37] oliver-phet commented on #475
This is done.

[2016-03-11 20:37] #475 closed

[2016-03-11 21:17] oliver-phet commented on #534
http://www.tradeshowplus.com/Exhibit-Accessories-s/130.htm
https://www.4imprint.com/tag/540/Retractable-Banners/product/8922-32/Economy-Retractor-Banner-Display-32
https://www.postupstand.com/narrow-base-24-x-80-banner-stand

[2016-03-11 22:37] elisemorgan commented on #540
testing complete @samreid

[2016-03-11 23:13] arnabp commented on #429
I have archived all the sim primer files to PBU2 and uploaded/updated all sim primer videos on Vimeo. Let me know if everything looks okay!

[2016-03-14 20:16] schasteen commented on #525
@kdessau-PhET needs to be added to this list; I've found several items from the Moore Foundation Meeting and Carl Wieman folders that are owned by her.

[2016-03-14 20:19] oliver-phet commented on #525
@schasteen and @kdessau-PhET - Please keep in mind that we only need to transfer ownership to phethelp of files that are collaborative - if files are private or are only used by a subset of the team, they do not need to be transferred and can instead be transferred to your CU google account.

[2016-03-14 20:26] schasteen commented on #525
I have also found a few documents in the Moore meeting folder owned by @kathy-phet

[2016-03-14 20:28] kdessau-PhET commented on #525
let me know if you see any files that you'd like on the phethelp

[2016-03-15 18:10] ariel-phet commented on #541
assigning to @phet-steele to move forward

[2016-03-15 22:32] schasteen commented on #525
I have completed mine, but am not sure how to check my name off the list.

While doing it, I noticed some that would be good to be owned by PhET, I think:

Kathy P
https://drive.google.com/open?id=1928viGJhUVxdsrQdsrWXQZXeq3M2G-lqcunENiSlZw4

Kathy D
https://drive.google.com/folderview?id=0B8P9FsNfemDDNldoZG90SWhxRms&usp=sharing
https://drive.google.com/open?id=0B8P9FsNfemDDNldoZG90SWhxRms

John B

[2016-03-15 22:57] schasteen commented on #429
This looks good so far, except that PBU2 contains .gdoc files of the primer outline/scripts.  Those need to be exported as Word documents.  I know it's a pain, but those scripts are important documentation.  You can do it for the outlines only and not the review.

Also, it looks like the "reproducer primer videos" issue has not been addressed yet, correct?  Once that's done and all is archived in

[2016-03-15 23:07] ariel-phet commented on #429
@schasteen can you comment one why these need to be exported as word documents? They can be viewed as google docs from the archived file correct?

[2016-03-16 00:30] jessegreenberg commented on #539
OIT responded, an account for @phetsims/schmitzware should be ready for activation.  I have forwarded the activation link to @phetsims/schmitzware.

[2016-03-16 04:54] mattpen commented on #535
@amyh-phet - Is there any update on this yet?

Changing priority to medium after discussion with @ariel-phet

[2016-03-16 05:06] mattpen commented on #535
The O'Donnell sponsor image will be replaced by [New Schools](http://www.newschools.org/)

[2016-03-16 14:42] amyh-phet commented on #535
@mattpen   Sponsor logos are ready to go including New Schools.  Current artwork has each image at 115 x 45 or less, and all type is in white.  I'll send you the AI files this morning.

[2016-03-16 15:37] schasteen commented on #429
Ariel — exporting the script as Word was the guideline that Yuen-Ying and I developed when we documented the Primer process.  The archive of all primers is on Phet Backup 2, which is an external drive, not on Google.  The thinking was that we wanted a complete, readable archive right there on PBU2, so that if, in 5 years, we needed to re-record the primer, we would have an archive of all pieces of

[2016-03-16 15:51] oliver-phet commented on #429
If you are going to be downloading multiple scripts to word docs, it would be most efficient to use Google takeout.

[2016-03-16 15:52] ariel-phet commented on #429
@schasteen thanks for the info

It might be good to note that the plan is to eventually migrate all of our backups to google drive (since the university gives us unlimited storage if we use colorado.edu google accounts). So in the nearish future all data on PBU, and PBU2 are going to be moved to a google drive account (something like phet-storage). You might not have been aware of that plan, but i

[2016-03-16 16:37] kdessau-PhET commented on #525
I changed the folders above. Let me know if you have more items that you'd like me to change.

[2016-03-16 16:59] amyh-phet commented on #535
Here you go @mattpen. Let me know if you need anything else.
![hewlett_logo_footer_vv](https://cloud.githubusercontent.com/assets/13650180/13821186/2e0e4568-eb66-11e5-8253-62e69f6ca429.png)
![moore_foundation_logo_footer-01](https://cloud.githubusercontent.com/assets/13650180/13821187/2e100060-eb66-11e5-8b5c-aa78e3326d8a.png)
![new_schools_logo_footer-01](https://cloud.githubusercontent.com/assets

[2016-03-16 17:01] amyh-phet commented on #535
@mattpen   Sending the pngs by email as well - white text doesn't show up well here!

[2016-03-16 17:47] elisemorgan commented on #541
Testing complete

[2016-03-16 18:47] mattpen commented on #535
Thanks Amy!

[2016-03-16 18:47] #535 closed

[2016-03-16 19:49] jessegreenberg commented on #539
@phetsims/schmitzware provided OIT with the information and activated his account on spot.  We are now trying to add him to the physphet group  so that he as proper access.  OIT is working on this and may contact @jessegreenberg for confirmation.

[2016-03-16 20:10] ariel-phet commented on #543
bumping to top testing priority

[2016-03-16 21:45] arnabp commented on #430
These should all be done, I've swapped out all the bumpers for all these sims with the v15 one.

[2016-03-16 21:48] arnabp commented on #429
Converting to word may be more solid and reliable, but since the backups are all going to google drive anyway it may not matter. Let me know what you want me to go with.

[2016-03-16 22:08] oliver-phet commented on #429
Since we are going to be moving PBU to PhET-storage, I don't think we should worry about individually exporting these as Word docs at the moment. We can always do a google takeout of the files if there is an immediate need.

[2016-03-16 22:14] schasteen commented on #429
OK, given that PBU2 will move to Google, we’ll go with archiving google docs only.

[2016-03-16 23:12] jbphet commented on #476
Balancing Act 1.1.0-rc.1 is being created with the SHA set described in https://github.com/phetsims/tasks/issues/476#issuecomment-191927692, but also adds the vegas and vibe repos.

[2016-03-16 23:42] jbphet opened #544 "RC Test: Balancing Act 1.1.0-rc.1"
Balancing Act 1.1.0-rc.1 is ready for testing.

**Test Link:** http://www.colorado.edu/physics/phet/dev/html/balancing-act/1.1.0-rc.1/balancing-act_en.html

**Link to test matrix:** https://docs.google.com/spreadsheets/d/1FM9JxwMp_HSZFeUWDY4gWaUmQ0TOSOtVMqyVuYesPpw/edit#gid=2

Please do a full test of this RC on all platforms, and run the following to check internationalization:

- [x] stringTest=

[2016-03-17 04:21] ariel-phet commented on #538
@jbphet reverted to the rasterized text as noted in https://github.com/phetsims/balancing-act/issues/25

Closing task

[2016-03-17 04:21] #538 closed

[2016-03-17 04:23] ariel-phet commented on #544
@BryceAG @brroberts1231 @elisemorgan @bryo5363 @phet-steele next in line for redepoly testing after #543

[2016-03-17 17:41] ariel-phet opened #545 "Dev test Rutherford Scattering 1.0.0-dev.1"
**Testing Link**
http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-dev.1/rutherford-scattering_en.html

- [x] iPad2/Safari
- [x] Win/Edge
- [x] Win/Chrome
- [x] OS X/Safari

**General Tests**
The following tests should also be performed as part of this testing
- [x] stringTest=double
- [x] stringTest=long
- [x] stringTest=X (short strings)
- [x] stringTest=rtl (right-to-lef

[2016-03-17 18:42] ariel-phet commented on #545
@phet-steele assigning to you (feel free to complete yourself or delegate)

[2016-03-17 19:28] jessegreenberg commented on #539
@phetsims/schmitzware has been added to physphet group and now has proper spot access.  He has successfully deployed a dev version to spot for testing.  Closing.

[2016-03-17 19:28] #539 closed

[2016-03-17 22:24] phet-steele commented on #543
@ariel-phet @aadish finito.

[2016-03-17 23:42] jbphet opened #546 "investigate whether sims are leaking memory"
While preparing a release candidate for Gravity Force Labs, @aadish and I ran a test where we loaded the sim with the ```fuzzMouse=100``` query param and periodically took heap snapshots using the Chrome developer tools.  I expected to see the memory increase to some value and then stabilize, figuring that garbage collection would kick in and limit memory consumption.  What we saw instead is that

[2016-03-17 23:52] jbphet commented on #546
During the developer meeting it was suggested that I profile using Hooke's Law 1.0, since @pixelzoom feels like that was tested for memory leaks before release.  I profiled this sim by first loading it and taking a heap snapshot (all snapshots are being done using Chrome developer tools by the way), and then reloading it with ```fuzzMouse=100``` set as a query parameter and taking snapshots every

[2016-03-17 23:54] jbphet commented on #546
@samreid may have found a smoking gun.  He ran these tests on the 'blast' sim, which doesn't have much going on, and found that memory was increasing there too.  He commented out the phet-menu, and found that memory allocation no longer increased.  Nice detective work!

[2016-03-18 01:27] jbphet commented on #546
I just tested the current master version of Hooke's Law with a line of code added to PhetButton.js to make it unpickable so that the PhetMenu won't be created during fuzz testing.  The memory allocation still goes up, but **much** more slowly than it was before, and it stays pretty close to 30MB total.  Seems like PhetMenu may be responsible for the bulk of the issue.  Here is a screenshot of the

[2016-03-18 02:03] samreid opened #547 "IntelliJ IDEA 2016.1 takes too long to push"
I reported this issue the development team today, and made a bug report to IDEA, this issue is to track the problem.  The JetBrains bug report is here: https://youtrack.jetbrains.com/issue/IDEA-153191

I'm going to use 15.0.2 until this is fixed or worked around.

[2016-03-18 02:05] pixelzoom opened #548 "incorrect doc for PhetButton.initialize"
In commit https://github.com/phetsims/joist/commit/d1f201a12aa5346a782d7fb408adcca05fce48fa by @jessegreenberg, the documentation for PhetButton.initialize no longer matches the function signature:

[code]

[2016-03-18 02:08] pixelzoom opened #549 "implement PhetButton.dispose?"
Noted while investigating https://github.com/phetsims/tasks/issues/546.

In https://github.com/phetsims/joist/commit/dc0a0a3ca18462d06950c943089f793135d1b374, @jessegreenberg added this to PhetButton:

[code]

What is "accessible check box"? (there is no CheckBox in PhetButton)
Does this function need to be implemented?
While it's not implemented, is it a memory leak?

[2016-03-18 02:17] pixelzoom commented on #546
AccessiblePeer looks suspect.  It's constructor has `@param {DOMElement} domElement`, to which it adds listeners. It has no `dispose` function, so it never removes listeners. I don't know if that's significant or related to this, but AccessiblePeer is created by PhetMenu.  And as a common-code component, AccessiblePeer should *definitely* have a `dispose` function.

[2016-03-18 02:52] samreid commented on #540
Thanks @elisemorgan and @phet-steele, I'll move to the next step in https://github.com/phetsims/energy-skate-park-basics/issues/336

[2016-03-18 02:52] #540 closed

[2016-03-18 03:11] samreid opened #550 "RC Test: Energy Skate Park: Basics 1.1.0-rc.1"
Energy Skate Park: Basics 1.1.0-rc.1 is ready for testing (as prepared in https://github.com/phetsims/energy-skate-park-basics/issues/336 )

**Link to sim:** http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.1.0-rc.1/energy-skate-park-basics_en.html

**Link to iFrame:** http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.1.0-rc.1/energy-skate-park-basics

[2016-03-18 03:17] samreid commented on #541
Thanks for testing, everyone, I'll continue in https://github.com/phetsims/fraction-matcher/issues/92

[2016-03-18 03:17] #541 closed

[2016-03-18 15:14] jbphet commented on #543
Thanks all.  Closing, and will follow up with fixes for what looks like a couple of minor issues in GitHub and either do an new RC or, if changes are small, straight to a production deployment.

[2016-03-18 15:14] #543 closed

[2016-03-18 16:48] jbphet commented on #546
It may be related to AccessiblePeer, but I think something more basic may be going on too.  I just ran a test where I put a ```debugger``` statement in the code just before ```phetMenu.dispose()``` is called in ```PhetButton```, and this line of code is never hit if I then click on the button and then click outside of the menu.  If I do this several times, then take a heap snapshot and look at the

[2016-03-18 16:52] jbphet commented on #546
As for the priority of this issue, it seems like this is unlikely to be a problem for our customers, since they'd have to open the menu a lot of times in order to run into any memory issue, but it does make it hard to test sims for memory leaks since this leak would likely overshadow any others.

[2016-03-18 17:07] ariel-phet commented on #546
Marking as medium priority

Agreed with @jbphet that unlikely to be affecting users, but it does seem important to address to allows us to test for memory leaks.

[2016-03-18 17:10] ariel-phet commented on #546
@samreid @jbphet should this issue also now be moved to joist?

[2016-03-18 17:22] ariel-phet commented on #550
@BryceAG @brroberts1231 @elisemorgan @bryo5363 @phet-steele please makes this the next testing priority after #544 is complete.

[2016-03-18 20:23] aadish opened #551 "RC Test: Gravity Force Lab 2.0.0-rc.2"
Gravity Force Lab 2.0.0-rc.2
**Test Link** : http://www.colorado.edu/physics/phet/dev/html/gravity-force-lab/2.0.0-rc.2/gravity-force-lab_en.html

A few minor bugs were discovered in 2.0.0-rc.1 and does not requires complete re-testing. These issues were fixed and should be verified:

- [x] Slider track should be black (https://github.com/phetsims/gravity-force-lab/issues/71)
- [x] Labels on slide

[2016-03-18 20:50] ariel-phet commented on #551
I am testing currently, will do this myself

[2016-03-18 21:37] ariel-phet commented on #551
All issues resolved! @aadish, @jbphet  looks like this sim is ready for redeploy

[2016-03-18 21:44] jbphet commented on #546
I was going to let @samreid make that determination.  Seems like a joist issue to me, but @pixelzoom mentioned ```AcceissiblePeer```, which is in Scenery, so I thought a little more investigation was in order before moving the issue.

[2016-03-18 23:54] jessegreenberg commented on #546
```AccessiblePeer``` should definitely have a completed dispose function, to be tracked in https://github.com/phetsims/scenery-phet/issues/226.  But it is not a culprit for these memory leaks. ```AccessiblePeer``` is still hidden behind the ```accessibility``` query parameter and should never be touched in the tests mentioned in this issue.

[2016-03-19 00:59] samreid commented on #546
I'll create a Joist issue for the AboutDialog memory, but let's leave this issue open until we test for other systemic issues.

[2016-03-20 19:22] mariahmaephet commented on #309
@ariel-phet what do you think of these?
<img width="696" alt="screen shot 2016-03-20 at 3 17 58 pm" src="https://cloud.githubusercontent.com/assets/11527557/13906560/7fd289c6-eeaf-11e5-883c-04a4e6b78478.png">
<img width="703" alt="screen shot 2016-03-20 at 3 21 49 pm" src="https://cloud.githubusercontent.com/assets/11527557/13906561/7fd3cbec-eeaf-11e5-9b6d-729e3de02771.png">

[2016-03-21 15:15] ariel-phet commented on #309
@mariahmaephet looking good! a few tweaks:

- lets make john's hair black in both
- in the first version it is important for his right hand to be in his pocket
- lets give the hand a bit more detail in both
- since the jacket and such have shading, the face in the first one seems a bit odd since it has no shading/chin line. the one flat tone does not seem to fit the rest of the piece
- I think in

[2016-03-21 16:39] samreid opened #552 "RC Test: Fraction Matcher 1.1.0-rc.2"
@ariel-phet I fixed the issues that appeared in Fraction Matcher 1.1.0-rc.1:

https://github.com/phetsims/fraction-matcher/issues/95
https://github.com/phetsims/fraction-matcher/issues/97

And published a new version here:
http://www.colorado.edu/physics/phet/dev/html/fraction-matcher/1.1.0-rc.2/fraction-matcher_en.html

This uses the same SHAs for all common code repos as rc.1 and I manually diff

[2016-03-21 19:08] ariel-phet commented on #552
@phet-steele this would be good to finish off. I agree with @samreid a quick spot test on 2 platforms would be good (iPad and one desktop sounds good to me)

[2016-03-21 19:11] aadish commented on #551
thanks @ariel-phet for testing this,
closing the issue and the sim has been deployed and is live on the website

[2016-03-21 19:11] #551 closed

[2016-03-21 20:42] phet-steele opened #553 "Standardizing Performance Testing"
Alright @ariel-phet and anyone else, here is where we shall brainstorm ideas. The suggestion here is to make performance testing a much more objective process for QA. Right now it is quite the opposite, and is a very opinionated test. Really the sim passes performance if it "looks" good. Among the QA team, this has caused discrepancy when reporting performance as "Good", "OK", or "Poor" since we h

[2016-03-21 20:56] phet-steele commented on #552
@samreid @ariel-phet above issues verified as good. Spot testing on Win 10 Chrome and iPad 2 & 3 was good to go.

[2016-03-21 20:58] phet-steele commented on #544
@jbphet testing for this rc is done.

[2016-03-21 21:27] phet-steele opened #554 "Update some devices to new versions"
QA should update Tycho from iOS 9.3 Beta to the released version (iOS 9.3), and presumably update Dirac's 10.11.3 partition to 10.11.4.

[2016-03-21 22:28] oliver-phet commented on #534
@ariel-phet What do you think of something like this: https://www.postupstand.com/narrow-base-33-x-80-banner-stand

Would this size (33x80") work for us?

[2016-03-22 02:01] ariel-phet commented on #534
That size could certainly work...I wonder if the 24"x80" might be better (33" wide is pretty darn big), and smaller might be a bit easier for transporting. I assume this will go kind of the corner of our booth, a bit into the foot traffic so we probably don't want it blocking too much space. Either way, I am sure Dave can lay something out that will look good.

Thoughts?

[2016-03-22 02:07] ariel-phet commented on #519
All these have been, printed, and look fantastic. Closing!

[2016-03-22 02:07] #519 closed

[2016-03-22 03:15] samreid commented on #552
Excellent, thanks, I'll continue publication in https://github.com/phetsims/fraction-matcher/issues/92

[2016-03-22 03:15] #552 closed

[2016-03-22 06:16] ariel-phet commented on #550
Bumping to top priority

[2016-03-22 16:21] bryo5363 commented on #545
I will test chrome and edge

[2016-03-22 17:38] ariel-phet opened #555 "Getting headshot of New People"
@oliver-phet assigning this to you for now, we should get a headshot of @andrewadare for the Team page.

I will try to remind @kathy-phet to bring her camera to work perhaps on Thursday for status meeting.

[2016-03-22 17:46] andrewadare commented on #555
I will try and remember to wear a nice shirt.

[2016-03-22 20:53] phet-steele commented on #554
Tycho and Leibniz are iOS 9.3, Dirac has a 10.11.4 partition (replaced 10.11.3). Asset spreadsheet updated.

[2016-03-22 23:53] jessegreenberg commented on #548
Yikes!  Thanks @pixelzoom, fixed in commit above.  Closing.

[2016-03-22 23:53] #548 closed

[2016-03-22 23:57] jessegreenberg commented on #549
Yikes! Very sloppy, I am sorry.  References to check box should have no place here.  Dispose function implemented in commit above.

Not likely to have been a memory leak previously.  AccessiblePeer exists for as long as the PhetButton.  But should be covered by dispose now.

Closing, but @pixelzoom feel free to review changes if you wish.

[2016-03-22 23:57] #549 closed

[2016-03-23 12:52] arouinfar commented on #524
I've just uploaded the Tips for Gravity Force Lab, so checking it off this list. I've also finished up the tips for FAMB, but will hold off on posting them until the sim has been redeployed. John Travoltage tips have been started, and should be finished up this week.

[2016-03-23 12:59] arouinfar commented on #524
GFL and FAMB tips have also been uploaded to Drive.

[2016-03-24 16:20] jonathanolson opened #556 "Screenshot testing"
I've added support for WebGL in screenshots (https://github.com/phetsims/joist/issues/212), and fixed a few other things related to screenshots. It should now be available in the PhET menu.

I'm curious to spot-check the following sims:
1. Energy Skate Park: Basics (the energy pie chart is WebGL exclusively, and should appear as normal in screenshots)
2. Molecule Shapes (the 3D molecule view is in

[2016-03-24 18:58] phet-steele commented on #556
@jonathanolson quick testing on ESPB and MS looked great. I'll wait on @ariel-phet before putting more time into this.

[2016-03-24 19:39] schasteen commented on #430
All the new primers, and previous primers, appear to have been updated and archived appropriately.  @amyh-phet , could you close this issue, and the other on on the new sims, and get started on the captioning aspect of the project?  Also, can you find out if these can all get pushed to the site, and the captions will update as they get completed?  @arnabp , seems like you're all done with your par

[2016-03-24 19:50] #430 closed

[2016-03-24 19:51] #429 closed

[2016-03-24 23:10] ariel-phet commented on #556
@phet-steele what platforms did you test on?

[2016-03-28 15:40] phet-steele commented on #556
@ariel-phet Win 10 chrome for maybe 10 minutes

[2016-03-28 16:16] ariel-phet commented on #556
@phet-steele since @jonathanolson also asked for a general test on "our supported platforms" we should probably test these two sims on all supported platforms. Feel free to make a simplified "Screenshot Test Matrix"

[2016-03-28 17:22] phet-steele commented on #554
@elisemorgan please also update diSessa to 9.3

[2016-03-28 17:50] elisemorgan commented on #554
Done and updated on asset inventory

[2016-03-28 17:56] phet-steele commented on #554
Thanks

[2016-03-28 17:56] #554 closed

[2016-03-28 19:40] phet-steele commented on #550
@ariel-phet @samreid matrix complete, with outstanding crashing issues on iPads

[2016-03-28 22:19] oliver-phet commented on #534
Yep, I think the 24" would work. Can we have Dave mockup a poster that is 24x80"?

[2016-03-29 04:01] samreid opened #557 "Testing new minimal PhET-iO instrumentation sims"
From https://github.com/phetsims/phet-io/issues/383#issuecomment-201375267

Here is a list of sims that should be tested:

- [x] Balancing Act: https://phet-io.colorado.edu/0.1/sims/balancing-act/1.1.0-dev.3/phet-io/protected/wrappers.html
- [x] Graphing Lines: https://phet-io.colorado.edu/0.1/sims/graphing-lines/1.2.0-dev.1/phet-io/protected/wrappers.html
- [x] Wave on a String: https://phet-io.c

[2016-03-29 15:34] phet-steele commented on #557
Balancing Act, Graphing Lines, and Arithmetic each suffer from phetsims/scenery/issues/514. There's nothing really we can do about this but wait, just figured I'd note it.

[2016-03-29 16:21] ariel-phet commented on #534
Yes, I will have him work on it.

[2016-03-29 16:46] oliver-phet opened #558 "NCTM supplies and prep"
- [x] New Math Flyer? @amyh-phet
- [x] Check banner (new sponsors?)
- [x] Print Flyers
- [x] Setup iPad air with sims/app
- [x] Business cards (general and Ariel) new cards ordered 3/31

[2016-03-29 17:03] amyh-phet commented on #558
I can take care of the flyer.

[2016-03-29 17:10] phet-steele commented on #557
These look great on Win 10 Chrome, switching to Mac.

[2016-03-29 18:39] phet-steele commented on #557
And everything is good on 10.11.4 Safari as well!

[2016-03-29 21:16] samreid opened #559 "Check whether Energy Skate Park: Basics 1.1.0-dev.3 crashes the iPad"
@jonathanolson and I published a proposed fix for the crash problem for Energy Skate Park: Basics here

http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.1.0-dev.3/energy-skate-park-basics_en.html

It needs to be tested on the device where it was previously crashing.  @ariel-phet can you please prioritize and reassign?  @elisemorgan and @phet-steele reported the problem befo

[2016-03-29 21:23] jbphet commented on #544
Thanks for the testing.  I'll work on the open issues and put out a new RC shortly.  Closing.

[2016-03-29 21:23] #544 closed

[2016-03-29 22:41] phet-steele commented on #559
The sim runs beautifully on iPad 2 & 3, huzzah! Now maybe we tackle phetsims/energy-skate-park-basics/issues/299? :wink:

[2016-03-30 00:14] ariel-phet commented on #559
Looks like this was checked by @phet-steele closing

[2016-03-30 00:14] #559 closed

[2016-03-30 12:44] samreid commented on #550
It looks like all issues are tracked elsewhere, closing.

[2016-03-30 12:44] #550 closed

[2016-03-30 12:48] samreid commented on #557
@phet-steele thanks for taking these for a test drive, I'll continue in https://github.com/phetsims/phet-io/issues/383#issuecomment-201375267

[2016-03-30 12:48] #557 closed

[2016-03-30 21:43] phet-steele commented on #542
@jessegreenberg @ariel-phet done.

[2016-03-31 01:22] jessegreenberg commented on #542
Thank you @phet-steele!  I will have a new RC out soon, closing this issue.

[2016-03-31 01:22] #542 closed

[2016-03-31 15:35] phet-steele commented on #545
@brroberts1231 @BryceAG @elisemorgan please take a crack at this sim.

[2016-03-31 16:11] jonathanolson opened #560 "Sim testing with phet-app query parameter"
Would be great to get testing on two sims (one with an options dialog available via the phet menu, e.g. Molecule Shapes, and one without) with the ?phet-app query parameter added.

Testing on one platform should be sufficient, but please test the require.js AND built modes on phettest.colorado.edu.

Testing should look for the changes from https://github.com/phetsims/phet-app/issues/24, namely:
1.

[2016-03-31 16:45] ariel-phet commented on #560
@phet-steele this would be good test soon.

The appropriate platform would be iPad2 latest iOS, since iPad is the only platform where the ?phet-app will be relevant.

[2016-03-31 17:04] elisemorgan commented on #545
OS X / Safari

[2016-03-31 17:37] jessegreenberg opened #561 "RC Test: Least Squares Regression 1.1.0-rc.2"
Least Squares Regression 1.1.0-rc.2 is ready for RC testing.

**Link to Sim:** http://www.colorado.edu/physics/phet/dev/html/least-squares-regression/1.1.0-rc.2/least-squares-regression_en.html

**Line to iFrame:** http://www.colorado.edu/physics/phet/dev/html/least-squares-regression/1.1.0-rc.2/least-squares-regression_en-iframe.html

**Link to test matrix:** https://docs.google.com/spreadsheets/

[2016-03-31 19:01] phet-steele commented on #560
@ariel-phet @jonathanolson works as expected on Tycho with Bending Light & Charges and Fields.

[2016-03-31 19:07] ariel-phet commented on #561
@BryceAG @bryo5363 @elisemorgan @phet-steele @brroberts1231 please make this the current top testing priority

[2016-03-31 19:19] jessegreenberg opened #562 "Dev Test: Forces And Motion Basics 2.0.0-dev.1"
A few new features have been added to Forces and Motion: Basics, so it would be good to an initial dev test before pushing through last steps of the redeploy.

**Link to sim:** http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.0.0-dev.1/forces-and-motion-basics_en.html

Please do a dev test of this sim on the following platforms:
 - [x] iPad2/Safari
 - [x] Win/Edge
 - [x] Wi

[2016-03-31 20:02] jonathanolson commented on #560
Thanks!

[2016-03-31 20:02] #560 closed

[2016-03-31 20:02] phet-steele commented on #561
@ariel-phet, @jessegreenberg and I have agreed to terminate 1.1.0-rc.2 testing until phetsims/least-squares-regression/issues/52 is fixed and phetsims/least-squares-regression/issues/61 is implemented. Testing will wait until the next rc.

[2016-03-31 20:02] #561 closed

[2016-04-01 05:24] ariel-phet commented on #562
@phet-steele @elisemorgan @brroberts1231 @BryceAG please make this the current top testing priority. Please mention in this issue the platform you are testing so other QA members know

[2016-04-01 05:25] ariel-phet commented on #545
bumping to high priority (after forces and motion testing)

[2016-04-01 21:21] #302 closed

[2016-04-01 22:04] oliver-phet commented on #464
Assigning this back to @mattpen. Let me know if/how we can setup forwarding.

[2016-04-01 22:36] jonathanolson opened #563 "Maintenance release testing for the phet-app"
Main issue: https://github.com/phetsims/phet-app/issues/24

For this, I'd recommend doing very similar testing to https://github.com/phetsims/tasks/issues/560. For the following sim URLs (RCs), please ensure that:

1. The first link seems to run normally (15-30 seconds?), and has the same PhET Menu options as before, etc.
2. The second (phet-app) link should have the changes mentioned in #560, but

[2016-04-02 00:15] ariel-phet commented on #563
@phet-steele feel free to complete yourself or delegate

[2016-04-02 00:19] ariel-phet commented on #563
FYI I checked Acid-Base all looked good.

[2016-04-04 18:27] phet-steele commented on #562
I'll probably do them all eventually, but I've been doing both Win platforms.

[2016-04-05 18:19] phet-steele commented on #563
@jonathanolson all good.

[2016-04-05 18:30] phet-steele commented on #563
@jonathanolson are you aware that none of them had "Screenshot" in the menu?

[2016-04-05 19:18] jonathanolson commented on #563
Yes, it's not supposed to be there. Thanks!

[2016-04-05 19:18] #563 closed

[2016-04-05 20:44] samreid commented on #476
New SHAs requested for Energy Skate Park: Basics in https://github.com/phetsims/energy-skate-park-basics/issues/336 and available in http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.1.0-rc.2/dependencies.json

[2016-04-05 20:45] amyh-phet commented on #558
@oliver-phet   New Math flyer is in Drive.   Files saved in:  PhET Ai files > Flyers > 2016.04_NCTM.

[2016-04-05 20:58] samreid commented on #547
Resolved in the issue above, closing.

[2016-04-05 21:11] samreid opened #564 "RC Test: Energy Skate Park: Basics 1.1.0-rc.2"
Energy Skate Park: Basics 1.1.0-rc.2 is ready for testing (as prepared in phetsims/energy-skate-park-basics#336 )

First, before doing anything else, test that it doesn't crash on iPad2

- [x] Doesn't crash on iPad2.

After verifying that it doesn't crash on iPad2, let's continue through the test matrix.  This sim is published off master, many things could have changed in common code, so please be

[2016-04-05 21:12] jbphet opened #565 "RC Test: Balancing Act 1.1.0-rc.2"
Test link: http://www.colorado.edu/physics/phet/dev/html/balancing-act/1.1.0-rc.2/balancing-act_en.html

There were only a few changes since v1.1.0-rc.1, so a full retest is not required.  Please do a sanity test on the major supported platforms, then verify that the following have been fully fixed (and close them if so):

- [x] move the reset button (https://github.com/phetsims/balancing-act/issu

[2016-04-05 21:34] ariel-phet commented on #564
@phet-steele @elisemorgan @brroberts1231 @BryceAG please make this the next testing priority after #562

[2016-04-05 21:37] ariel-phet commented on #565
@phet-steele this looks a job for you to polish off at high priority

[2016-04-06 00:31] jessegreenberg opened #566 "Dev Test: Keyboard navigation for FAMB, CLB, BASE"
As part of the updates to the accessibility page, we are going to publish prototypes for keyboard navigation for Capacitor Lab: Basics, Forces and Motion: Basics, and Balloons and Static Electricity.  It would be good to do some dev testing of the keyboard navigation for these prototypes before they are added to the updated page.

Here are the links to each dev version:

**CL:B**
http://www.colora

[2016-04-06 00:42] jessegreenberg commented on #566
Also here are a few notes on the keyboard interactions for each sim:

Balloons and Static Electricity:
- Press 'H' anywhere to pull up a keyboard help dialog
- 'Tab' should navigate to the next interactive element
- 'Shift + Tab' should navigate to the previous interactive element
- 'Enter or Spacebar' to press buttons and toggles
- Press 'Enter' or 'Spacebar' to pick up a balloon
- Once a balloon

[2016-04-06 17:57] brroberts1231 commented on #564
Just to be sure, we are working on rc.2, not rc.1which is written at the top of this issue, correct?

[2016-04-06 19:13] samreid commented on #564
I updated the issue description to point to rc.2 (was incorrectly pointed at rc.1).

[2016-04-06 19:46] phet-steele opened #567 "NCTM video for projection"
Get about 10 seconds of video showing off each of these sims to make into one video for NCTM.
- Least Squares Regression
- Balancing Act
- Fraction Matcher
- Area Builder
- Trig Tour
- Wave on A String

[2016-04-06 21:50] ariel-phet opened #568 "Upload new Donation Video to YouTube"
@arnabp we would like to upload the following video to youtube (probably grab the high res version)

https://www.hightail.com/download/ZWJWZ280NHZwaFNybHNUQw

It would also be great to caption voice over properly.

**Youtube Text**
Title: PhET for Every Classroom

Description: For over a decade, PhET has developed interactive simulations to help learning come alive. By converting our sims to HTML5

[2016-04-06 21:52] ariel-phet commented on #568
@oliver-phet also tagging you in this issue

[2016-04-06 22:15] phet-steele commented on #565
@jbphet you're good to go on this.

[2016-04-06 22:21] oliver-phet commented on #568
@ariel-phet Do we already have the caption text?

[2016-04-06 22:24] ariel-phet commented on #568
At PhET, we believe everyone has the right to a great education.
For PhET, HTML5 is the key to delivering our interactive resources everywhere.
We also believe the best educational resources should always be free.
By supporting our mission, you can help us bring high quality interactive simulations to every classroom. Today, and tomorrow.
Be an HTML5 hero. Please donate today.

[2016-04-06 22:35] oliver-phet commented on #568
Video is up and captioned here: https://youtu.be/zsTFNkVnbOY

[2016-04-07 00:42] ariel-phet commented on #534
We are trying out the 24"x80", @oliver-phet has ordered for NCTM. Closing

[2016-04-07 00:42] #534 closed

[2016-04-07 00:50] ariel-phet commented on #568
Excellent! Closing

[2016-04-07 02:28] #568 closed

[2016-04-07 04:05] ariel-phet opened #569 "Make donate link in donation video clickable"
Hey @oliver-phet, I think it would be a nice touch if in the ending screen of the donation video the donation link were clickable.

Do you think you or @arnabp could make that happen?

[2016-04-07 16:08] oliver-phet commented on #569
I don't believe youtube allows links to other sites. @arnabp do you know if there is a way?

[2016-04-07 16:32] oliver-phet commented on #569
Figured it out. Should be live now.

[2016-04-07 17:15] ariel-phet commented on #569
Looks good, thanks!!

[2016-04-07 17:15] #569 closed

[2016-04-07 17:32] phet-steele commented on #562
@jessegreenberg looks like the team finished up the testing, your move now.

[2016-04-07 18:38] jbphet commented on #565
Thanks for the testing, closing.

[2016-04-07 18:38] #565 closed

[2016-04-07 21:29] jessegreenberg opened #570 "Dev test: Least Squares Regression 1.1.0-dev.1"
Before we go through a full RC process, it would be good to verify that the following issues have been fixed in Least Squares: Regression:

- [x] https://github.com/phetsims/least-squares-regression/issues/61
- [x] https://github.com/phetsims/least-squares-regression/issues/60
- [x] https://github.com/phetsims/least-squares-regression/issues/57
- [x] https://github.com/phetsims/least-squares-regre

[2016-04-07 22:52] jbphet opened #571 "backup the old phet-server and retire it"
There is a Gateway desktop machine sitting next to my desk that was used a while back as a server for some data collection as well as for some prototyping of web site changes.  Since a new phet-server is currently being set up, this would probably be a good time to retire this old machine.  Before doing so, we should make a backup of any data that is on this machine.  I would suggest a backup of a

[2016-04-08 17:02] ariel-phet commented on #571
@arnabp please see @jbphet when you are ready for this task. @oliver-phet can take care of the surplussing once the backup has been made. The backup can probably be put on a colorado.edu google drive account

[2016-04-08 18:39] phet-steele commented on #570
@jessegreenberg tested, ball is in your court now.

[2016-04-08 18:40] phet-steele commented on #545
@schmitzware @ariel-phet this dev version is done with testing.

[2016-04-08 19:50] ariel-phet commented on #545
Looks as though all referenced issues have been addressed. Closing

[2016-04-08 19:50] #545 closed

[2016-04-08 21:25] brroberts1231 commented on #556
I noticed while writing phetsims/energy-skate-park-basics#346 that when I took a screenshot with the phet menu option, and it didn't show what was actually being displayed on screen.

The issue I was seeing: skater is invisible
![screen shot 2016-04-08 at 3 16 24 pm](https://cloud.githubusercontent.com/assets/11947677/14397972/d231554c-fd9d-11e5-9168-36e1d2b2ad56.png)

vs. what the screenshot took

[2016-04-08 23:08] jessegreenberg commented on #570
Thanks for the test and verification!

[2016-04-08 23:08] #570 closed

[2016-04-08 23:08] jessegreenberg commented on #562
Excellent, thanks for the test!

[2016-04-08 23:08] #562 closed

[2016-04-09 16:19] elisemorgan commented on #564
This matrix is complete

[2016-04-09 19:39] samreid commented on #564
Thanks, I'll continue in the ESPB issue.

[2016-04-09 19:39] #564 closed

[2016-04-10 21:26] pixelzoom opened #572 "add preferred fonts to Java/Flash translation utility"
Creating an issue here, since checking Unfuddle is no longer part of my workflow.

Requests for 'preferred font' support in Java/Flash translation utility:

Tigrinya: https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3704
Gujarati: https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3714
Tibetan: https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3719

@ariel-phet ple

[2016-04-10 21:26] pixelzoom commented on #572
Mentioning @oliver-phet, since he created the Unfuddle tickets.

[2016-04-11 04:41] mattpen opened #573 "Create new email address - phet-licensing@colorado.edu"
@oliver-phet - Could you please help create this address and make sure its documented and forwarded correctly?  This was requested as part of the phet-io website partnerships page, see the comment in the powerpoint file in phetsims/phet-io-website#53

@ariel-phet Can you please comment on priority?

[2016-04-11 15:03] phet-steele commented on #572
@pixelzoom @ariel-phet I do want to say that when you decide the priority of these, Tibetan is a recent request by a currently active translator who yearns to do Java/Flash :smile:

[2016-04-11 15:43] oliver-phet commented on #573
Request sent to OIT.

[2016-04-11 16:36] ariel-phet commented on #572
@pixelzoom can you comment on a time estimate of what this would take?

[2016-04-11 16:53] phet-steele commented on #567
Made! Thanks @phet-steele.

[2016-04-11 16:53] #567 closed

[2016-04-11 17:01] pixelzoom commented on #572
Hard to say how long it will take... The changes are relatively trivial, < 45 minutes.  What is almost always a problem is publishing a new version of Translation Utility, and a dev version of a sim that can be used (by the translator) to test it.  In the past, that has taken hours, depending on what state the Java/Flash build tools are in.  Then we need to get feedback from the translator - in th

[2016-04-11 19:07] ariel-phet commented on #572
@pixelzoom in that case, marking as low priority. I am guessing the "poking" gets done by @jonathanolson? If so, this is going to need to wait at minimum until the website server switch over is complete.

[2016-04-11 19:14] ariel-phet commented on #572
@pixelzoom reassigning to you. In the next couple of months if a situation arises where you have a pause in other work and feel like taking a dive into this issue, feel free.

[2016-04-11 19:14] pixelzoom commented on #572
@oliver-phet Could you please notify the translators that it will be possibly as long as "a couple of months" before we can fulfill their request?

[2016-04-11 19:50] oliver-phet commented on #572
Translators have been notified.

[2016-04-11 20:44] jonathanolson commented on #572
There's a part of the build process where this should be doable mostly automatically. If we've already told translators it will be a while, this would be great to use for testing to make sure this process will still work after we move to the new server.

[2016-04-11 21:16] samreid commented on #476
Shas from ESPB 1.1.0-rc.2 were approved for publication.  Future S2015R releases can use those.  Keep in mind that ESPB doesn't use vibe, vegas, shred and possibly others which may need scrutiny during testing.

[2016-04-11 21:29] samreid commented on #476
Energy Skate Park: 1.1.0 is published on figaro and I have updated the issue description.

[2016-04-12 13:37] emily-phet opened #574 "Formatting set of 2-page docs - Need by April 14th"
I have seven 2-page documents that need to be formatted the same way. I will have more over the course of this week, for a total of 18-20 2-page documents. Most are in the correct format or close.

[2016-04-12 14:31] ariel-phet commented on #574
@emily-phet are these written or word or what?

[2016-04-12 14:33] emily-phet commented on #574
@ariel-phet: some are in Word, others are PDF.

[2016-04-12 14:42] ariel-phet commented on #574
@arouinfar do you think you will be available to help out with this work?

[2016-04-12 17:27] arouinfar commented on #574
I can work on this @ariel-phet.

@emily-phet can you please send me the documents and the formatting guidelines?

[2016-04-12 20:50] jbphet commented on #546
We discussed the importance of tracking down all the memory leaks during the 4/12/2016 developer meeting and decided that we should determine whether the sims actually exhibit problems in a memory constrained environment, such as an iPad 2.  To test this, I fuzz tested (fuzzMouse=100) Acid Base Solutions v1.2.4 on an iPad 2 model A1395 with 16 GB of memory running iOS 9.3.1.  I ran two trials, and

[2016-04-12 21:38] jessegreenberg opened #575 "Dev test: Capacitor Lab: Basics"
Capacitor Lab: Basics is ready for some dev testing.  Here is the link to a deployed dev version:

http://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.0.0-dev.16/capacitor-lab-basics_en.html

As part of this dev test, please test the simulation on the following platforms and create issues for any problems that you find:

 - [x] iPad2/Safari
 - [x] Win/Edge
 - [x] Win/Chrome
 - [x]

[2016-04-12 21:55] ariel-phet commented on #575
@phet-steele @elisemorgan @brroberts1231 @BryceAG @bryo5363  please make this a high testing priority

@jessegreenberg - please note that @phet-steele will be away at the NCTM conference with us most of this week so testing will be mainly dependent on other QA team availability

[2016-04-13 00:05] samreid commented on #546
We should test how long `master` of the same sim runs.  Perhaps joist memory fixes have helped?

[2016-04-13 00:25] jessegreenberg opened #576 "RC Test: Least Squares Regression 1.1.0-rc.3"
Open issues from rc.1 have been verified as fixed, so Least Squares Regression 1.1.0-rc.3 is ready for RC testing.

**Link to Sim:** http://www.colorado.edu/physics/phet/dev/html/least-squares-regression/1.1.0-rc.3/least-squares-regression_en.html

**Link to iFrame:** http://www.colorado.edu/physics/phet/dev/html/least-squares-regression/1.1.0-rc.3/least-squares-regression_en-iframe.html

**Link t

[2016-04-13 03:00] arouinfar commented on #574
@emily-phet can you please send me the relevant information so I can get started on this?

[2016-04-13 03:31] samreid commented on #546
Assigning to @jbphet.

[2016-04-13 04:50] ariel-phet commented on #576
@phet-steele @elisemorgan @brroberts1231 @BryceAG @bryo5363 please make this the current top testing priority

[2016-04-13 19:23] BryceAG commented on #575
Testing Win Chrome

[2016-04-13 19:59] aadish opened #577 "RC Test: Build An Atom: 1.2.0-rc.1"
Build An Atom 1.2.0-rc.1 is ready for testing

**Link to sim:** http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.2.0-rc.1/build-an-atom_en.html

**Link to iFrame:** http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.2.0-rc.1/build-an-atom_en-iframe.html

**Test Matrix:** https://docs.google.com/spreadsheets/d/1ftWkWzaQrRVf_R02LrsONwmmtUMoOKOos2e5l2verXs/edit#gid=2

Please d

[2016-04-13 22:15] jbphet commented on #546
I built a version of Acid Base Solutions off of master as of today and re-ran the fuzz test on it using the same iPad 2 referenced in one of the comments above.  The results indicate that things are better, but the testing was ultimately a bit inconclusive because the home screen icons eventually scroll out of view due to https://github.com/phetsims/joist/issues/331, and as a result fuzz testing g

[2016-04-13 23:31] ariel-phet commented on #577
@phet-steele @elisemorgan @brroberts1231 @BryceAG @bryo5363 please make this the next testing priority after #576

[2016-04-13 23:32] arouinfar commented on #574
I've formatted the documents and have sent them off to @emily-phet for review. I'll self-assign this issue for now. Once @emily-phet approves them, I'll close this issue.

[2016-04-14 16:37] samreid commented on #546
I put a bandaid on the joist 331 issue, so you should be able to proceed with testing here.

[2016-04-14 16:50] #558 closed

[2016-04-14 16:51] samreid opened #578 "fix all occurrences of var linear = require( 'DOT/Util' ).linear."
From https://github.com/phetsims/scenery-phet/issues/233

We should avoid `var linear = require( 'DOT/Util' ).linear`

[2016-04-14 16:59] jbphet commented on #546
Cool, thanks.  I'll re-run the test and report the results today.

[2016-04-14 20:31] jessegreenberg opened #579 "Dev test: Forces and Motion: Basics 2.0.0-dev.2"
Forces and Motion: Basics 2.0.0-dev.2 is ready for another dev test.  Here is the dev version to be tested:
http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.0.0-dev.2/forces-and-motion-basics_en.html

As part of this test, please verify that the following issues have been resolved:

- [x] https://github.com/phetsims/forces-and-motion-basics/issues/187
- [x] https://github.c

[2016-04-14 20:49] jessegreenberg commented on #579
It looks like that link is not the most recent version, now looking into why.

[2016-04-14 20:53] jessegreenberg commented on #579
Redeployed, updated the link.  Dev version is correct now.

[2016-04-15 03:26] arouinfar commented on #575
Testing Mac/Safari

[2016-04-15 14:36] ariel-phet commented on #579
@phet-steele @elisemorgan @brroberts1231 @BryceAG @bryo5363 please make this a high testing priority after #577

[2016-04-15 16:30] jbphet commented on #546
I re-ran the test on a built version of Acid Base Solutions that incorporated both the fixes for the memory leaks in common code and the 'bandaid' fix for the drifting icons on the home screen.  This test was still running after 20 hours, which is a huge improvement.

[2016-04-15 16:40] samreid commented on #546
Given the rate of memory leak (as measured in Chrome Dev Tools) and the fact that it took 20 minutes to crash an iPad, you should be able to extrapolate from the new rate of memory leak and project the crash time for the fixed app:

`time to crash the fixed app in minutes = memory leak rate of broken app / memory leak rate of fixed app * 20`

For instance, if you estimate the broken app leak rate

[2016-04-15 16:43] samreid commented on #546
I'm somewhat interested in the numbers above, so I'll take a look.

Running 1.2.4 with ?fuzzMouse=100
Initial Memory 34.5MB, after 30 seconds 59MB (average over two runs)

[2016-04-15 16:51] samreid commented on #546
For a fresh build in master and fuzzMouse=100:
Initial Memory 34.5MB, after 30 seconds 35.7MB

Hence the "fixed" app still has a slow leak that would crash the iPad after roughly `24.5/1.2*20=408` minutes, which is roughly 7 hours.

[2016-04-15 16:55] samreid commented on #546
Oh wait, @jbphet reported that the fixed app was running over 20 hours, so there must be something else at play here.

[2016-04-15 16:56] jbphet commented on #546
It's not safe to assume that if there is more memory allocated after 30 seconds there is a memory leak.  My experience has been that the simulations continue to allocate memory for a while during fuzz testing, which makes sense, since there are new portions of the code being run that may allocate memory.  The sim's memory allocation tends to stabilize after a few minutes once more of the code has

[2016-04-15 18:50] BryceAG commented on #576
Matrix complete

[2016-04-15 20:13] jbphet commented on #546
Fuzz test on iPad 2 on Acid Base Solutions with mem leak fix and icon shift bandaid (details of test described above) still running after 24 hours with no discernible slowdown.  I'm calling the test a success and shutting it down.

[2016-04-15 21:28] pixelzoom commented on #546
I didn't realize that the performance also changed.

How was the memory profile after 24 hours? Leaking or not?

[2016-04-15 22:49] oliver-phet commented on #416
@daveunderwood

[2016-04-18 17:07] #574 closed

[2016-04-18 20:34] jessegreenberg commented on #576
Thanks for the test!

[2016-04-18 20:34] #576 closed

[2016-04-18 20:37] jessegreenberg commented on #576
New RC will be deployed once https://github.com/phetsims/least-squares-regression/issues/63 is closed.

[2016-04-18 22:51] jessegreenberg opened #580 "RC Test: Least Squares Regression 1.1.0-rc.4"
Least Squares regression is ready for an RC test:

**Link to the Sim:** http://www.colorado.edu/physics/phet/dev/html/least-squares-regression/1.1.0-rc.4/least-squares-regression_en.html

**Link to iFrame:** http://www.colorado.edu/physics/phet/dev/html/least-squares-regression/1.1.0-rc.4/least-squares-regression_en-iframe.html

Internationalization has already been tested so we do not need to do

[2016-04-19 17:13] ariel-phet commented on #577
Bumping to current top QA priority

[2016-04-19 17:15] ariel-phet commented on #580
@phet-steele this sim does not require a full retest. Please check that the issue is resolved and spot test on a few platforms.

Would be great to do soon, so that we can get this one redeployed!

[2016-04-19 17:16] jbphet commented on #546
I entered the bit about "no discernible slowdown" because during the previous test - the one where mobile Safari crashed after ~25 minutes - the sim also looked a bit slower (@jonathanolson was in the room at the time and thought so too).    I wanted to make it clear for the record that, as far as I could tell, the sim was behaving normally after 24 hours.

The test was run on an iPad, so I wasn't

[2016-04-19 18:19] brroberts1231 commented on #579
Tested on Mac Safari, issues listed here appear to all be fixed.

[2016-04-19 18:29] phet-steele commented on #580
:+1: Thanks, @jessegreenberg

[2016-04-19 18:34] ariel-phet commented on #580
@phet-steele can you list the platforms you spot checked, just for posterity in this issue

[2016-04-19 18:42] phet-steele commented on #580
Win/Chrome&FF
Chromebook
iPad2 iOS 9.3

[2016-04-19 21:04] jbphet commented on #546
I re-ran the profiling test from https://github.com/phetsims/tasks/issues/546#issuecomment-198136011 above on the current master version of Hooke's Law.  This was a built version.  Below are the results, with the initial results included:

| Time (s)        | Size (MB) Before Fixes  |  Size (MB) After Fixes |
| ------------- |:-------------:|:-------------:|
| 0| 25.1 | 24.4 |
| 30| 39.6 | 25.2 |

[2016-04-19 21:22] jbphet commented on #546
Marking for developer meeting to decide whether to close this, do a bit more investigation on a simple sim, or unassign.

[2016-04-19 21:50] samreid commented on #546
My current recommendation (I reserve the right to change my mind after discussion):

* Choose an acceptable memory leak rate in MB/minute.
* Document this value in https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md
* Add instructions in the code review checklist how to check for memory leaks.
* Close this issue

As part of development of new sims or when old sims

[2016-04-19 23:40] jessegreenberg commented on #580
Excellent, thanks for the testing.

[2016-04-19 23:40] #580 closed

[2016-04-20 01:04] jessegreenberg commented on #476
Least Squares Regression 1.1.0 was published, and the issue description has been updated.  It was published with the SHAs mentioned in https://github.com/phetsims/tasks/issues/476#issuecomment-191927692 since those were the stable SHA's when rc.1 was first published.

[2016-04-20 19:11] BryceAG commented on #579
Tested on Win 7, Chrome. All initial issues appear to be fixed, except for most recent comments on 187, 183, and 180.

[2016-04-20 19:36] brroberts1231 commented on #575
Tested iPad 2 safari

[2016-04-20 22:22] phet-steele commented on #577
iPad2 iOS 8.4.1 is temporarily unavailable to test on. @ariel-phet says testing on it is not needed for redeploy.

[2016-04-20 22:55] phet-steele commented on #577
@aadish @ariel-phet @jbphet RC done.

[2016-04-21 15:04] jbphet commented on #577
Thanks everyone!  Closing this, will work with @aadish to create the next RC.

[2016-04-21 15:04] #577 closed

[2016-04-21 17:57] jbphet commented on #546
Discussed in the 4/21/2016 developer meeting and we decided to add a screen to the "blast" sim and run this memory testing on that, then determine next steps based on the results.  I will add the screen and will work with @phet-steele to gather the testing data.

[2016-04-21 18:10] ariel-phet commented on #556
@phet-steele any movement on this issue?

[2016-04-21 18:19] phet-steele commented on #556
@ariel-phet, only slight. Hasn't been priority.

[2016-04-21 18:22] ariel-phet commented on #556
@phet-steele we are no shipping this feature with published sims, so I think we need to bump priority...

[2016-04-21 19:03] aadish opened #581 "RC Test: Build An Atom 1.2.0-rc.2"
Issues

 from rc.1 are verified and fixed, and rc.2 is ready for testing.

**Link to the sim**: http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.2.0-rc.2/build-an-atom_en.html

**Link to IFrame**: http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.2.0-rc.2/build-an-atom_en-iframe.html

There were only a few changes since v1.2.0-rc.1, so a full retest is not required. Please

[2016-04-21 19:55] ariel-phet commented on #575
Looks like dev testing is complete, assigning back to @andrewadare to address open issues

[2016-04-21 19:58] ariel-phet commented on #575
@andrewadare feel free to close this issue...some people like to keep open since open issues are all referenced here, but your choice

[2016-04-21 20:00] ariel-phet commented on #581
@phet-steele @elisemorgan @brroberts1231 @BryceAG @bryo5363 please make this the current top testing priority, would be good to finish off and get republished!

[2016-04-21 20:41] #575 closed

[2016-04-21 22:11] phet-steele commented on #581
Works fine on Win 10 and iPads.

[2016-04-21 22:19] phet-steele commented on #556
@jonathanolson I'm not seeing any major problems (hooray!) except *super* minor problems with kerning in the resulting screenshot, and iPad screenshots only looking nice with two tabs open beforehand (see phetsims/joist/issues/234 for the sort of related issue).

[2016-04-22 17:20] aadish commented on #581
@phet-steele thanks for testing this, the sim has been deployed and it is live, closing it

[2016-04-22 17:20] #581 closed

[2016-04-22 17:37] jbphet commented on #476
Build an Atom v1.2.0 was just published and the issue descriptions has been updated.  The SHAs referenced in https://github.com/phetsims/tasks/issues/476#issuecomment-205981346 were used with the addition of recent SHAs for vibe and vegas.

[2016-04-22 17:44] phet-steele commented on #566
@jessegreenberg I'd say testing is done. Awaiting fixes!

[2016-04-22 17:44] #566 closed

[2016-04-22 17:52] phet-steele commented on #579
@jessegreenberg, done.

[2016-04-25 13:57] emily-phet opened #582 "Poster/Flyer Printing"
Can someone print the following for me - by 2pm tomorrow (Tuesday 4/26):

- a conference poster (I can send the PDF tomorrow)
- 25 Accessibility flyers

[2016-04-25 18:28] ariel-phet commented on #582
@phet-steele should be able to handle this tomorrow. @phet-steele let me know if that will be an issue.

[2016-04-25 18:38] phet-steele commented on #582
@emily-phet I'll do it. I get in to the office at 9, so I'll start then or as soon as the poster is sent.

[2016-04-25 18:45] phet-steele commented on #582
@emily-phet is the flyer file ready? I can do those today/

[2016-04-25 18:47] phet-steele commented on #582
@emily-phet oh wait they probably already exist. Are they somewhere in google drive?

[2016-04-25 18:56] jbphet commented on #476
A fix was just made to chipper related to the ability to handle per cent symbols in translated strings, see https://github.com/phetsims/rosetta/issues/115.  We should probably have all sims use a version of chipper that is https://github.com/phetsims/chipper/commit/55c02ee94221a6b2cfa022295d60d68cdd37fef3 or later for future deployments.

[2016-04-25 20:04] emily-phet commented on #582
@phet-steele - Great! The flyer is an older one, I'll send it to you in an email. The poster I'm finishing up this evening. I'll send you the PDF file and the final dimensions tonight so it's ready for you in the morning. Thanks!

[2016-04-25 21:18] phet-steele commented on #524
I've been taking at crack at Balancing Act.

[2016-04-25 21:39] jbphet commented on #546
I've added the screen and published the new sim to spot, see http://www.colorado.edu/physics/phet/dev/html/blast/0.0.0-dev.5/blast_en.html.  I've discussed the data gathering with @phet-steele and he's all over it.  Assigning to him.

[2016-04-25 21:52] phet-steele commented on #546
| Time (s)        | Size (MB) |
| ------------- |:-------------:|
| 0:00 | 25.1 |
| 0:30 | 39.6 |
| 1:00 | 52.3 |
| 1:30 | 61.2 |
| 2:00 | 72.0 |
| 2:30 | 81.1 |
| 3:00 | 91.9 |
| 3:30 | 91.9 |
| 4:00 | 91.9 |
| 4:30 | 91.9 |
| 5:00 | 91.9 |
| 5:30 | 91.9 |
| 5:30 | 91.9 |
| 5:30 | 91.9 |
| 5:30 | 91.9 |
| 5:30 | 91.9 |

[2016-04-25 21:53] phet-steele commented on #546
Woops, pressed enter too early, editing above comment still.

[2016-04-25 22:06] phet-steele commented on #546
I know everyone was yearning for a graphical representation:
![memorygraph](https://cloud.githubusercontent.com/assets/5863899/14800556/9cb6c6a8-0aff-11e6-8fa2-14953c304b9e.PNG)

[2016-04-25 22:09] phet-steele commented on #546
@jbphet did a snapshot at the time of this writing out of curiosity (15 minutes after the test) and it had climbed to 19 MB.

[2016-04-26 03:58] arouinfar commented on #524
I'll be working on Wave on a String.

[2016-04-26 16:17] emily-phet commented on #582
@phet-steele - Just wanted to check in. I emailed you the flyer file and the poster pdf. Let me know if you've had any issues with them. I should be in the office around 2:30-ish to pick them up. Thanks!

[2016-04-26 16:18] phet-steele commented on #582
@emily-phet, I'm currently standing next to the printer

[2016-04-26 18:01] phet-steele commented on #582
@emily-phet, your items await your presence in your office.

[2016-04-26 19:00] samreid commented on #578
Fixed in https://github.com/phetsims/chipper/issues/461, closing.

[2016-04-26 19:00] #578 closed

[2016-04-26 20:32] jonathanolson commented on #572
The build process resource deployment is tested and working (on our new server).

I'll be able to handle this after the move-over.

@pixelzoom, is the fonts file up-to-date in SVN?

[2016-04-26 21:01] jessegreenberg commented on #579
Thanks @phet-steele, looks like we are almost ready for an RC!

[2016-04-26 21:01] #579 closed

[2016-04-26 21:02] pixelzoom commented on #572
No - none of the work has been done for the above mentioned locales. Font names need to be verified, and dev versions need to be tested by the translators.

[2016-04-26 21:04] #582 closed

[2016-04-26 21:06] jonathanolson commented on #556
Sounds great, thanks!

[2016-04-26 21:06] #556 closed

[2016-04-27 19:42] jessegreenberg opened #583 "RC Test: Forces and Motion: Basics 2.0.0-rc.1"
Forces and Motion: Basics 2.0.0-rc.1 is ready for release candidate testing.

**Link to sim:** http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.0.0-rc.1/forces-and-motion-basics_en.html

**Link to iFrame:** http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.0.0-rc.1/forces-and-motion-basics_en-iframe.html

**Test Matrix:** https://docs.google.com/sprea

[2016-04-27 20:14] ariel-phet commented on #583
@phet-steele @elisemorgan @brroberts1231 @BryceAG @bryo5363 please make this the current top testing priority.

[2016-04-28 21:26] mattpen opened #584 "Testing for new PhET server"
@phet-steele - The new server is ready for testing from the QA team.  I'll list items here that should take highest priority.

- [x] Browsing the website in various locales, including RTL languages and alternate fonts, such as zh_TW and ar_SA.
- [x] Test running and downloading simulations
- [x] Test downloading and uploading contributions
- [x] Test translating the website and deploying new websi

[2016-04-28 21:44] phet-steele commented on #584
@elisemorgan @BryceAG @brroberts1231 @bryo5363 go here for the website:

https://phet-new.colorado.edu/

The above suggestions are a good place to start, but in the end literally *everything* on this website needs to be tested, including clicking on every single link. It will be very helpful if everyone has an admin account for the website, so if you don't have one then make one (I can help of cou

[2016-04-29 15:43] mattpen commented on #584
@phet-steele - Accounts should be created on phet-new.  Eventually they will be overwritten when we move the database over when we go live.

[2016-04-29 17:05] mattpen commented on #584
We should also test user account creation and modification:

- Create user accounts and newsletter-only accounts
- Edit the profiles
- Change the email addresses
- Change the passwords

[2016-04-29 20:51] jbphet opened #585 "dev test Under Pressure v1.1.0-dev.5"
A translatable version of Under Pressure is nearly ready for publication.  Since there have been a lot of internal changes and cleanup, we should do a round of dev testing before creating the release candidate branch and starting the RC process.

**Link to dev version:**
 http://www.colorado.edu/physics/phet/dev/html/under-pressure/1.1.0-dev.5/under-pressure_en.html

**NOTE**
 Any and all issues r

[2016-04-29 21:10] phet-steele commented on #583
@ariel-phet @jessegreenberg Matrix done.

[2016-04-29 21:36] ariel-phet commented on #583
@phet-steele what about the tests above? can those all be checked off?

[2016-04-29 21:40] ariel-phet commented on #585
@phet-steele @elisemorgan @brroberts1231 @BryceAG @bryo5363 please make this a high testing priority (and note any platform your are testing)

[2016-04-29 21:41] phet-steele commented on #583
Can be and have been.

[2016-04-29 21:46] ariel-phet commented on #583
@jessegreenberg reassigning to you to close and create another RC with memory leak fixes in place.

[2016-04-29 22:20] ariel-phet commented on #585
@aadish and @jbphet I tested on Win 7 Chrome and found some minor issues

Also tested all physics and verified everything is correct (pressure at depth, unit conversions, pressures with atmosphere off, etc.)

[2016-04-29 22:22] brroberts1231 commented on #585
Testing on Mac Safari

[2016-05-02 16:28] oliver-phet opened #586 "User reported issue: embedding in Canvas"
Hi,

I’m trying to run the PHET simulations on a CANVAS page and they always seems to need refreshing a few times to get them to
work.

Is this a known problem and is there a way to fix it?

For example, the embed code for vectors, I used was:

`<iframe src="https://phet.colorado.edu/sims/vector-addition/vector-addition_en.html" width="600" height="300" allowfullscreen="allowfullscreen"></iframe>`

[2016-05-02 16:29] oliver-phet commented on #586
Developers - any ideas on this issue?

[2016-05-02 16:43] ariel-phet commented on #586
My guess is it has to do with Vector Addition being a flash sim. CANVAS is an LMS that apparently other people have embedded us in without issue (once we changed embed code to serve from //https)

@oliver-phet can you email back and see if the HTML5 sims embed seamlessly?

[2016-05-02 18:10] phet-steele commented on #585
Handling Edge.

[2016-05-02 19:06] jessegreenberg opened #587 "RC Test: Forces and Motion: Basics 2.0.0-rc.2"
Forces and Motion: Basics 2.0.0-rc.2 is ready for RC testing.

**Link to sim:** http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.0.0-rc.2/forces-and-motion-basics_en.html

**Link to iFrame:** http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.0.0-rc.2/forces-and-motion-basics_en-iframe.html

**Test Matrix:** https://docs.google.com/spreadsheets/d/17nuS

[2016-05-02 19:09] jessegreenberg commented on #583
Thanks for the testing!  New task created to test 2.0.0-rc.2 with updated common code for the memory leak, closing this issue.

[2016-05-02 19:09] #583 closed

[2016-05-02 20:34] oliver-phet commented on #586
Same problem reported when embedding HTML5 sims.

[2016-05-02 20:42] ariel-phet commented on #587
@phet-steele @elisemorgan @brroberts1231 @BryceAG @bryo5363 please make this the current top testing priority

[2016-05-02 21:09] ariel-phet commented on #586
The code he is saying he is using looks a little different from what we supply on our website. For instance we supply:

`<iframe src="https://phet.colorado.edu/sims/vector-addition/vector-addition_en.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>`

and he has a piece that says
`
allowfullscreen="allowfullscreen"`

[2016-05-03 18:55] oliver-phet commented on #449
Current list of automatic emails:

1. Confirm your account
2. Welcome to PhET
3. Email change confirmation
4. PhET Newsletter Subscription Confirmation (when confirmed)
5. Please Confirm Your PhET Subscription (newsletter only)
6.

[2016-05-03 20:55] oliver-phet commented on #573
This is completed.

[2016-05-03 20:55] #573 closed

[2016-05-04 21:22] jessegreenberg commented on #476
Forces and Motion: Basics 2.0.0-rc.2 is using a new set of SHA's to include the memory leak fixes.

http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.0.0-rc.2/dependencies.json

These SHA's are from master as of 5/2/16 and have not been fully tested yet.

[2016-05-04 23:42] jbphet opened #588 "RC Test: Area Builder 1.1.0-rc.1"
Area Builder 1.1.0-rc.1 is ready for RC testing.

Link to sim: http://www.colorado.edu/physics/phet/dev/html/area-builder/1.1.0-rc.1/area-builder_en.html

Link to iFrame: http://www.colorado.edu/physics/phet/dev/html/area-builder/1.1.0-rc.1/area-builder_en-iframe.html

Test Matrix: https://docs.google.com/spreadsheets/d/1FQLci5g_LzLhmb7YVdZBpiKhc3dgbop_mcviwKaiVl4/edit#gid=1712820847

Please do a

[2016-05-05 00:18] ariel-phet commented on #588
@phet-steele @elisemorgan @brroberts1231 @BryceAG @bryo5363 please make this the next top testing priority after #587

[2016-05-05 16:24] mattpen commented on #449
Additionally the website automatically sends an "Email change success" message.

[2016-05-05 18:15] samreid commented on #586
The embed code in the issue description works perfectly for me in Chrome.

![image](https://cloud.githubusercontent.com/assets/679486/15052449/fd0bc90a-12ba-11e6-9695-8309ef2fde24.png)

I only had to refresh once.

[2016-05-05 18:15] mattpen commented on #449
@oliver-phet - Can you send me the html/css code that you wrote for the salesforce emails so I can import the style into the website template?

[2016-05-05 18:17] ariel-phet commented on #586
@oliver-phet please also inquire as to browser being used

Potentially have the user send us the link for what he is doing? Or open the web browser console and let us know any errors showing up?

[2016-05-05 18:18] phet-steele commented on #585
Working on iPad, stay tuned.

[2016-05-05 18:53] phet-steele commented on #585
Done

[2016-05-05 18:55] pixelzoom opened #589 "Function Builder: preliminary testing"
We're at a point where some preliminary testing of Function Builder would be a good idea, as a sanity check.  I'd like to have some of @phet-steele's time to do this.

Here's the dev version to be tested:

http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.25/function-builder_en.html

There is no test matrix. If you find anything, create GitHub issues. Please link any issues

[2016-05-05 20:37] mariahmaephet commented on #309
How do these look? and the moving arm & leg are separate so you can have them move however much you want.

<img width="448" alt="screen shot 2016-05-05 at 2 11 07 pm" src="https://cloud.githubusercontent.com/assets/11527557/15056251/de476778-12cd-11e6-97dc-db230530beff.png">
<img width="478" alt="screen shot 2016-05-05 at 2 14 51 pm" src="https://cloud.githubusercontent.com/assets/11527557/1505625

[2016-05-06 01:47] ariel-phet commented on #442
Seems we have found a solution with CU imaging services, closing

[2016-05-06 01:47] #442 closed

[2016-05-06 01:48] ariel-phet commented on #383
deadline long since passed. Closing

[2016-05-06 01:48] #383 closed

[2016-05-06 01:56] ariel-phet commented on #296
Now that we are going to be doing "twitter cards" this will likely be unnecessary, I will work with @mattpen to wire up the cards to the "share on twitter" button

[2016-05-06 01:56] #296 closed

[2016-05-06 01:58] ariel-phet commented on #170
@kathy-phet remarked awhile back that she wanted to hold off on this effort indefinitely until the PhET App has traction. Closing.

[2016-05-06 01:58] #170 closed

[2016-05-06 01:59] ariel-phet commented on #347
@mattpen any further action here? It seems the sponsors page is up to date?

[2016-05-06 02:02] ariel-phet commented on #360
@pixelzoom can this issue be closed now that we have twixt?

[2016-05-06 02:06] ariel-phet commented on #589
@phet-steele this would be good to tackle after current high priority QA tests are finished, or if you just need to bang on a different sim for awhile :smiling_imp:

[2016-05-06 03:21] pixelzoom commented on #360
Yes.

[2016-05-06 03:21] #360 closed

[2016-05-06 03:25] aadish commented on #585
thanks for testing this, closing it

[2016-05-06 03:25] #585 closed

[2016-05-06 18:51] oliver-phet commented on #586
I was finally able to reproduce this problem. Console screenshot:
<img width="1440" alt="screen shot 2016-05-06 at 12 49 33 pm" src="https://cloud.githubusercontent.com/assets/5090275/15083175/084ebdbc-1389-11e6-8cd9-e48d4b3be3ea.png">

"637energy-skate-park-basics_en.html:586 Uncaught TypeError: Cannot read property 'width' of undefined"

Code used:
<iframe src="https://phet.colorado.edu/sims/htm

[2016-05-06 18:53] oliver-phet commented on #586
It appears code should be:
`<iframe src="https://phet.colorado.edu/sims/html/energy-skate-park-basics/latest/energy-skate-park-basics_en.html" width="800" height="600" scrolling="no" allowfullscreen></iframe>`

Email to user sent to see if this fixes the issue.

[2016-05-06 19:03] phet-steele commented on #587
@ariel-phet @jessegreenberg fin.

[2016-05-06 19:24] amyh-phet commented on #525
@arnabp  When you have a chance, can you transfer ownership of the primer documents to phet-help?  I know we can't change video files, but we should be able to move the outlines, review documents, and documentation of procedures.

Thanks!

[2016-05-06 20:13] jessegreenberg commented on #587
Excellent!  Thank you for the testing!  Closing this issue, completion of the redeploy will be tracked in https://github.com/phetsims/forces-and-motion-basics/issues/149.

[2016-05-06 20:13] #587 closed

[2016-05-06 20:55] jessegreenberg commented on #476
Forces and Motion: Basics 2.0.0 was published and SHAs in https://github.com/phetsims/tasks/issues/476#issuecomment-217006786 (which include vibe) passed through RC testing successfully.

[2016-05-06 21:40] ariel-phet commented on #588
Bumping to top priority

[2016-05-09 16:14] oliver-phet commented on #586
Reply from user:

Any ideas on a fix?

Browser console output:
<img width="774" alt="screen shot 2016-05-09 at 10 13 41 am" src="https://cloud.githubusercontent.com/assets/5090275/15119582/cc2ea494-15ce-11e6-986d-908d269cda96.png">

[2016-05-09 16:31] ariel-phet commented on #586
@oliver-phet can you also ask this user to email Canvas support and see if they have any suggestions?

[2016-05-09 16:31] ariel-phet commented on #586
and what browser are they using? have they tried Chrome?

[2016-05-09 16:33] oliver-phet commented on #586
Browser is Chrome. As mentioned above I was also able to reproduce the issue on Chrome. I'll ask user to contact Canvas support.

[2016-05-09 16:39] ariel-phet commented on #555
@oliver-phet did @kathy-phet leave her camera around?

[2016-05-09 16:59] oliver-phet commented on #555
I don't see it around here.

Sent from Outlook Mobile<https://aka.ms/thuyj7>. Yes, it works with Gmail.

On Mon, May 9, 2016 at 9:39 AM -0700, "Ariel Paul" <notifications@github.com<mailto:notifications@github.com>> wrote:

@oliver-phet<https://github.com/oliver-phet> did @kathy-phet<https://github.com/kathy-phet> leave her camera around?

-
You are receiving this because you were mentioned.
Reply

[2016-05-09 17:09] ariel-phet commented on #555
Ah...KP reports brought it home for mothers day...will bring back Thursday

[2016-05-09 21:57] jbphet commented on #546
I talked with @samreid about using re-running this test with some Chrome flags set that might help us to reduce the impact of memory allocations from the browser and thus distinguish them from memory allocations made by the sim code.  We decided to try setting the ```v8-cache-options``` value to ```Disabled```.  These flags can be set in Chrome ussing ```chrome://flags``` in the address bar.  Here

[2016-05-10 13:58] arouinfar commented on #524
FAMB tips are now live on the site.

[2016-05-10 14:32] arouinfar commented on #326
I'm going to go ahead and close this issue. The original goal has been achieved. We reviewed the spreadsheet created by Trish's working group, and verified that the appropriate categories were tagged on the website. It's unclear what (if any) work needs to be done on the template we created. I will open new issues, if anything else arises.

[2016-05-10 14:32] #326 closed

[2016-05-10 18:07] alynne-phet opened #590 "Test Issue"
Test device: Personal MacBook Pro

Operating System: OS X 10.11.4

Browser: Chrome

Problem description: Photons disappear when changing color and will not reappear when the flashlight is turned on and off. Relate task to phetsims/tasks/issues/553

Steps to reproduce:
1. Go to single bulb screen
2. Click on photon view
3. Change colors of the photon rapidly

Severity: High, major feature not worki

[2016-05-10 18:11] alynne-phet commented on #590
@phet-steele Can you check this issue out?

[2016-05-10 18:14] phet-steele commented on #590
@alynne-phet it's fixed!

[2016-05-10 18:14] alynne-phet commented on #590
Thanks!

[2016-05-10 18:14] #590 closed

[2016-05-10 19:21] ariel-phet commented on #309
Met with @mariahmaephet 5/10/2016 -- she is going to adjust position of left arm so that elbow is more forward as in the original sim (allowing full pivot). Also adjust left foot so that it will go flat to the ground

[2016-05-10 19:37] aadish opened #591 "RC Test: Under Pressure 1.1.0-rc.1"
Under Pressure 1.1.0-rc.1 is ready for RC testing.

**Link to sim:** http://www.colorado.edu/physics/phet/dev/html/under-pressure/1.1.0-rc.1/under-pressure_en.html

**Link to iFrame:** http://www.colorado.edu/physics/phet/dev/html/under-pressure/1.1.0-rc.1/under-pressure_en-iframe.html

**Test Matrix:** https://docs.google.com/spreadsheets/d/1ReiXqlgvJUG4GHNtZ4wAP_nZwhXLOq9zaXnaGChNvNo/edit?ts=573

[2016-05-10 19:48] ariel-phet commented on #591
@phet-steele @elisemorgan @brroberts1231 @BryceAG @alynne-phet  please make this the next top testing priority after #588

[2016-05-12 02:56] ariel-phet opened #592 "Testing demos on phet-io website"
@kathy-phet requested that the demos on the phet-io website get fully tested as she has seen a number of bugs on iPad

Please test the following available at https://phet-io.colorado.edu/io-solutions/:

- [x] Virtual Laboratory
- [x] Online Homework
- [x] eTextbook

Report any issues in https://github.com/phetsims/phet-io-website and please reference this test task as usual

[2016-05-12 14:52] phet-steele commented on #589
@pixelzoom yesterday was a pretty fullfillin

[2016-05-12 16:13] pixelzoom commented on #589
Thanks you @phet-steele.

[2016-05-12 17:03] alynne-phet commented on #588
@ariel-phet @jbphet Testing matrix is complete.

[2016-05-12 17:57] jbphet commented on #546
Here's a graph of the data in the previous comment:
![mem-usage-graph](https://cloud.githubusercontent.com/assets/3082831/15224810/afddd5a0-1838-11e6-8b9e-e2da604ed831.PNG)

[2016-05-12 18:07] jbphet commented on #546
We discussed this issue in the 5/12/2016 developer meeting and decided that the current state of affairs is acceptable.  The big memory leaks have been fixed, and we have several tests that demonstrate that there are no major leaks in most sims.  While there is some "noise" in the measurement (probably due to the way the V8 engine works, but possibly just because of where the snapshots occur durin

[2016-05-12 18:07] #546 closed

[2016-05-12 18:45] pixelzoom commented on #589
Closing this issue, testing completed.

[2016-05-12 18:45] #589 closed

[2016-05-12 18:52] ariel-phet commented on #588
Excellent! :birthday:

@jbphet back to you to move to quick RC-2 and redeploy!

[2016-05-12 23:35] jbphet commented on #588
Thanks for the testing.  I'll close this issue and move forward with RC2

[2016-05-12 23:35] #588 closed

[2016-05-13 18:08] jbphet opened #593 "RC Test: Area Builder 1.1.0-rc.2"
Area Builder 1.1.0-rc.2 is ready for release candidate testing.

Link to sim: http://www.colorado.edu/physics/phet/dev/html/area-builder/1.1.0-rc.2/area-builder_en.html

Link to iframe: http://www.colorado.edu/physics/phet/dev/html/area-builder/1.1.0-rc.2/area-builder_en-iframe.html

There were only a few issues identified during the testing of 1.1.0-rc.1, and those issues should be addressed in t

[2016-05-13 18:30] ariel-phet commented on #593
@phet-steele looks like you are all over this already

[2016-05-13 18:33] ariel-phet commented on #176
@emily-phet what is the status of this issue?

[2016-05-13 19:07] emily-phet commented on #176
@ariel-phet - I don't think @daveunderwood finished iterating on these. I don't recall seeing any updated designs.

[2016-05-13 20:23] phet-steele commented on #593
@ariel-phet @jbphet things look fine on Win 10 Chrome/FF, Mac Safari OSX 10.11.4, and iOS 9.3.2.

[2016-05-13 22:44] jbphet commented on #593
Thanks for the testing, it has now been published.  Closing.

[2016-05-13 22:44] #593 closed

[2016-05-16 15:54] amyh-phet opened #594 "Preliminary interviews on Function Builder"
Interviews scheduled with 2 MS students on 5/16/2016.  Will use latest dev version of sim for interviews:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.28/function-builder_en.html

@pixelzoom noted the following issues with sim:

Known issues on all platforms, try to avoid these:
• Reset All applies only to functions in the builder, and cards in the output carousel.  Fun

[2016-05-16 18:52] phet-steele commented on #591
@aadish @ariel-phet all done!

[2016-05-16 19:05] aadish commented on #591
Thanks @phet-steele  and QA team, issues have been noted and will roll out a new RC resolving the issues

[2016-05-16 19:05] #591 closed

[2016-05-16 19:17] aadish opened #595 "RC Test: Isotopes And Atomic Mass 1.0.0-rc.1"
Isotopes and Atomic Mass 1.0.0-rc.1 is ready for RC testing. It is the first RC for the HTML 5 version of this simulation

**Link to sim:** http://www.colorado.edu/physics/phet/dev/html/isotopes-and-atomic-mass/1.0.0-rc.1/isotopes-and-atomic-mass_en.html

**Link to iFrame:** http://www.colorado.edu/physics/phet/dev/html/isotopes-and-atomic-mass/1.0.0-rc.1/isotopes-and-atomic-mass_en-iframe.html

*

[2016-05-16 19:22] ariel-phet commented on #595
@brroberts1231 @alynne-phet @elisemorgan @phet-steele please make this top priority along with #584

[2016-05-17 17:39] aadish opened #596 "RC Test: Under Pressure 1.1.0-rc.2"
Under Pressure 1.1.0-rc.2 is ready for release candidate testing.

Link to sim: http://www.colorado.edu/physics/phet/dev/html/under-pressure/1.1.0-rc.2/under-pressure_en.html

Link to iframe: http://www.colorado.edu/physics/phet/dev/html/under-pressure/1.1.0-rc.2/under-pressure_en-iframe.html

There were only a few issues identified during the testing of 1.1.0-rc.1, and those issues should be addr

[2016-05-17 17:41] ariel-phet commented on #596
@phet-steele can you bang this out today? if possible would be great to finish off S2015R!!

[2016-05-17 18:49] phet-steele commented on #596
@aadish @ariel-phet Tested on Win 7 IE11, Win 10 Chrome, OSX 10.11.5 Safari, and iPad2 iOS 9.3.2. Molto bene.

[2016-05-17 18:50] ariel-phet commented on #596
Alright...lets publish!

[2016-05-17 18:58] amyh-phet commented on #594
@pixelzoom and @ariel-phet   Below is a short summary of things I noticed while conducting interviews yesterday.  Both students were 7th graders and were in Algebra 1 this year.

1)  Flow and interactions seemed good.  Both students quickly figured out how to place functions on the builder and drag input cards to the slot and into the builder.   Both students also discovered that cards in the outp

[2016-05-17 19:04] aadish commented on #596
Thanks for the testing
Deployed and it is live :+1:

[2016-05-17 19:04] #596 closed

[2016-05-17 19:08] aadish commented on #476
Under Pressure has been published and SHAs are the same as Area Builder except for Scenery which includes fix for pain canvas https://github.com/phetsims/scenery/commit/12bb4bd8fafd173c47691dd717c5b0b545ca2395

[2016-05-17 19:14] aadish commented on #476
S2015R is complete closing this issue

[2016-05-17 19:14] #476 closed

[2016-05-17 19:17] phet-steele commented on #476
@ariel-phet, time for S2016R?

[2016-05-17 20:22] brroberts1231 commented on #595
Matrix complete.

[2016-05-17 20:25] ariel-phet commented on #595
@aadish assigning back to you

[2016-05-17 22:27] aadish commented on #595
thanks for testing this issues have been noted and will be rolling out the next RC candidate, closing this

[2016-05-17 22:27] #595 closed

[2016-05-18 06:50] ariel-phet opened #597 "Test plinko probability flash version for bugs"
@phet-steele as part of the master checklist, we should check the legacy sim for bugs. As usual please report any bugs in the repo and mark as label "sim:legacy-bug"

Feel free to delegate or do yourself.

[2016-05-18 14:49] andrewadare opened #598 "Dev test: Capacitor Lab Basics 1.0.0-dev.20"
**Sim**: http://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.0.0-dev.20/capacitor-lab-basics_en.html

**iframe**: http://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.0.0-dev.20/capacitor-lab-basics_en-iframe.html

It's been almost a month since we put out the last dev version, and the sim has seen heavy development: extensive refactoring, many bug fixes, and a ful

[2016-05-18 14:57] ariel-phet commented on #598
@phet-steele feel free to delegate or tackle yourself

[2016-05-18 16:44] aadish opened #599 "RC Test: Isotopes And Atomic Mass 1.0.0-rc.2"
Isotopes and Atomic Mass 1.0.0-rc.2 is ready for RC testing.

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/isotopes-and-atomic-mass/1.0.0-rc.2/isotopes-and-atomic-mass_en.html)**

**[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/isotopes-and-atomic-mass/1.0.0-rc.2/isotopes-and-atomic-mass_en-iframe.html)**

There were only a few issues identified during the testing

[2016-05-18 17:07] pixelzoom commented on #594
https://github.com/phetsims/function-builder/issues/44 created to track concern in observation (3) above.

[2016-05-18 17:17] pixelzoom commented on #594
#45 and #46 created to address observations in (4) above about meaning associated with function icons.

[2016-05-18 17:18] phet-steele commented on #598
Doing Win/Chrome.

[2016-05-18 17:23] pixelzoom commented on #594
Issues have been created to address all concerns related to the interview observations. @amyh-phet feel free to close this issue, unless there's more to be done here.

[2016-05-18 18:47] #594 closed

[2016-05-18 19:03] brroberts1231 commented on #599
@aadish @ariel-phet Both issues resolved. Looks good to go.

[2016-05-18 19:35] brroberts1231 commented on #598
Mac Safari

[2016-05-18 20:13] phet-steele commented on #599
Tested on all Win browsers, iPad 2 iOS 9.3.2, and OSX 10.11.5

[2016-05-19 17:05] pixelzoom opened #600 "RC Test: Beer's Law Lab 1.4.0-rc.1"
Beer's Law Lab 1.4.0 is a minor release that will pick up the following changes:

https://github.com/phetsims/beers-law-lab/issues/169 (add solute Sodium Chloride)
https://github.com/phetsims/beers-law-lab/issues/146 (change "fixed" string key to "preset")

@ariel-phet When ready to proceed with RC testing, please assign this issue back to me, and I'll flesh it out using the RC test template.

Men

[2016-05-19 17:06] arouinfar opened #601 "Artwork for Unit Rates"
Development on Unit Rates is progressing, and will need some graphic arts work from @mariahmaephet.  The sim has two contexts -- shopping and racing (see the <a href="https://docs.google.com/document/d/1D4FBgMwvvQvo_jITN5a675KWMxseWiMZ-oN0rd7nG9A/edit?usp=sharing">design doc</a> for more details). The Shopping screen is currently being developed, so artwork for this screen should be prioritized ov

[2016-05-19 17:09] pixelzoom opened #602 "RC Test: Concentration 1.3.0-rc.1"
Related to https://github.com/phetsims/tasks/issues/600.  When publishing Beer's Law Lab 1.4.0, we'll also be publishing Concentration 1.3.0.   Since Concentration is a subset of Beer's Law Lab, Concentration will not require a full RC test matrix - we can do spot testing.

@ariel-phet When ready to proceed with RC testing, please assign this issue back to me, and I'll flesh it out using the RC te

[2016-05-19 18:18] brroberts1231 commented on #598
Also doing iPad 2

[2016-05-19 21:18] jessegreenberg commented on #598
As part of this test, would you mind verifying performance on iPad2?  There was some discussion a while ago that performance would need to be addressed, but I am not sure if that is still necessary.

I will add a checkbox to the issue description.

[2016-05-19 22:07] brroberts1231 commented on #598
@jessegreenberg iPad 2 performance is good. Dragging to change the size of the capacitor with charges and field shown, is only slightly slower than when they are not shown. It's noticeable, but I wouldn't say it's significant.

I ran the sim side by side on the iPad and on Windows, to make sure that the capacitor doesn't discharge at a different rate than on the computer. With the same settings an

[2016-05-20 23:54] ariel-phet commented on #599
Sim published (though not yet visible). Closing

[2016-05-20 23:54] #599 closed

[2016-05-20 23:55] ariel-phet commented on #600
@pixelzoom I think I can assign for testing starting 5/23/2016

So sending back your way.

[2016-05-20 23:56] ariel-phet commented on #602
Testing should be able to commence 5/23/2016

[2016-05-22 01:44] ariel-phet commented on #601
@mariahmaephet lots of fun artwork in this upcoming project! Assigning to you to arrange a time with @arouinfar

[2016-05-23 15:53] pixelzoom commented on #600
Beer's Law Lab 1.4.0-rc.1 is ready for RC testing.  This release candidate requires a full regression test.

**Test Matrix**
Links to sim and iframe test are in the test matrix.
https://docs.google.com/spreadsheets/d/1opT_0el4D08ezqlqrb4dgdYreiPRfjAG5gWRnADOyrk/edit#gid=2102595442)

**Issues to Verify**
(*all should be marked "status:fixed-pending-testing"*)
Please test the following issues and ch

[2016-05-23 16:06] pixelzoom commented on #600
Beer's Law Lab 1.4.0-rc.1 is ready for RC testing. This release candidate requires a full regression test.

**Test Matrix**
Links to the sim and iframe test are in the test matrix. See:
(https://docs.google.com/spreadsheets/d/1nrGez8Z4HXelhgDXNkfVAd_qxWiC5z0nnG3a8Dzxwlc/edit?ts=573a195e#gid=2)**

**Issues to Verify**
Please test the following issues and check them off after addressing. If they are

[2016-05-23 16:07] pixelzoom commented on #602
Concentration 1.3.0-rc.1 is ready for RC testing, and requires only "spot testing".  This sim is a subset of Beer's Law Lab, and this release candidate is built with the same sources as Beer's Law Lab 1.4.0-rc.1 (see #600). So the two sims should be tested together.

**Test Matrix**
Link to sim and iframe test are in the test matrix. See:
https://docs.google.com/spreadsheets/d/1ghqNXGEAK4sApVwFIHI

[2016-05-23 16:56] ariel-phet commented on #600
@alynne-phet @brroberts1231 @elisemorgan @phet-steele please move forward on this test (currently at medium priority)

[2016-05-23 16:56] ariel-phet commented on #602
@alynne-phet @brroberts1231 @elisemorgan @phet-steele please move forward on this test (currently at medium priority)

[2016-05-24 15:13] alynne-phet commented on #600
@pixelzoom The matrix is complete!

[2016-05-24 15:15] phet-steele commented on #598
@jessegreenberg @andrewadare @ariel-phet looks like we are done!

[2016-05-24 16:20] alynne-phet commented on #602
@pixelzoom Matrix is complete

[2016-05-24 17:21] samreid opened #603 "Test requirejs mode phet-io wrappers"
Now that the phet-io-require-2 branches have been merged to master, it would be great to test the requirejs (not built) version of these simulations, since the launch sequence has been changed significantly.  The built version was already tested by @phet-steele.

What would be best:
Test 1-2 wrappers each, sampling from Beer's Law Lab, Capacitor Lab: Basics and Faraday's Law (others not up-to spee

[2016-05-24 18:13] ariel-phet commented on #598
@andrewadare assigning back to you, feel free to close

[2016-05-24 18:39] #598 closed

[2016-05-24 18:58] ariel-phet commented on #603
@phet-steele probably do this before the phet-io website wrapper tests. Feel free to do yourself or delegate.

[2016-05-25 22:13] amanda-phet commented on #594
Thank you for conducting these interviews, @amyh-phet !

[2016-05-26 16:04] amyh-phet commented on #594
@amanda-phet    Happy to help!

[2016-05-26 16:31] pixelzoom opened #604 "Function Builder: preliminary interviews (iOS)"
Time for some preliminary interviews on iOS.

Use this dev version:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.37/function-builder_en.html

Please do NOT use an iPad2 for the interviews, due to https://github.com/phetsims/function-builder/issues/35.  Should be fine on later models, but you may want to test drive before the interviews, so that there are no surprise tha

[2016-05-26 17:55] emily-phet opened #605 "Poster Printing - by May 31st"
I have a poster that needs printing for the DRK-12 PI conference next week. Kathy will be taking my poster, along with her own, to DC. Can someone print my poster and leave it in Kathy's office by end of day Tuesday the 31st? (Ideally with a rubber band around it so it doesn't expand fully inside the tube)

Once someone is assigned, I can send along the pdf file.

[2016-05-26 17:57] phet-steele commented on #605
Yes @emily-phet, please send it to me.

[2016-05-26 21:54] pixelzoom commented on #604
@amyh-phet I published a new dev version (1.0.0-dev.37) with changes requested at today's design meeting, and edited the above comment accordingly.  The changes related to your interview observations in https://github.com/phetsims/tasks/issues/594 are:

https://github.com/phetsims/function-builder/issues/45 (change mystery function icons)
https://github.com/phetsims/function-builder/issues/46 (cha

[2016-05-27 17:02] arouinfar commented on #601
I emailed @mariahmaephet to set up a meeting time. Typically my schedule is pretty open Mondays, Tuesdays, and Fridays.

[2016-05-27 21:46] phet-steele commented on #605
@emily-phet poster is printed and in Kathy's office.

[2016-05-27 21:46] #605 closed

[2016-05-31 15:24] amyh-phet commented on #604
@pixelzoom   After interviewing on an iPad air with two students, here's what I noticed.

- No issues observed with the icons on the function cards in the Pattern screen.  Question marks seemed to indicated students should guess what the function would do.  Students still were confused by the output of the identity function (no change), but the icon was not misleading (e.g., students did not expec

[2016-05-31 16:37] pixelzoom commented on #604
@amyh-phet Re:

Did the students eventually figure out the identity function? Eg, did they say anything like "what goes in is what comes out"?

[2016-05-31 16:41] amyh-phet commented on #604
@pixelzoom

Students realize the identity function doesn't change the image on the card.  One student though it might rotate the image "all the way around".  Others expressed that they realized no change happened, but weren't sure why.   I think this is function will be a great teaching point as students are expecting the image to change but it doesn't.

[2016-05-31 17:27] andrea-phet opened #606 "Test issue"
Test device: Lenovo W540 (Personal device)

Operating System: Windows 7

Browser: Chrome 51.0.2704.63 m

Problem description: I tried to find a bug and the problem is I couldn't find one. @alynne-phet  @phet-steele

Steps to reproduce:

1. Go to the concentration screen.
2. Click on anything
3. Notice you can't find any bugs

Severity: not severe at all

Screenshots:
<img width="882" alt="test_iss

[2016-05-31 17:33] phet-steele commented on #606
@andrea-phet good job finding this bug! It's caused because we have great developers!!!!!

[2016-05-31 17:35] phet-steele commented on #606
@alynne-phet can you verify that this is fixed in master?

[2016-05-31 17:37] phet-steele commented on #606
I mean @andrea-phet, you verify

[2016-05-31 17:44] andrea-phet commented on #606
I'm reopening so I can reclose.

[2016-05-31 17:44] andrea-phet commented on #606
Now closing it.

[2016-05-31 17:44] #606 closed

[2016-05-31 18:21] phet-steele opened #607 "Getting Andrea started"
@ariel-phet @oliver-phet not in any specific order, just things that have been done and still need to be done:
- [x] GitHub email/account, join the organization
- [x] Enter info into the planning document (including Skype)
- [x] Go over GitHub workflow
- [x] Website account
- [x] Practice creating an issue
- [x] Introduce test-server
- [x] Introduce the website
- [x] Introduce PhET-iO
- [x] Acquai

[2016-06-01 15:36] veillette opened #608 "Dev Test for Plinko-Probability"
We are ready for a round of dev testing on plinko probability. In addition we would like you to keep an eye on performance.

Link to dev version:
http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.3/plinko-probability_en.html

Dev Test Platforms:

-  [x] iPad 2 iOS 9.3.1
-  [x] Win Chrome

The following tests should be performed as part of this testing
 showPointerAreas (to

[2016-06-01 16:06] ariel-phet commented on #608
@phet-steele this should be at the top of the sim testing list...since there isn't any other sim testing currently :)

[2016-06-01 16:06] ariel-phet commented on #608
Feel free to designate as appropriate

[2016-06-02 16:11] pixelzoom commented on #604
Observation about identity function has been noted in #46.

Closing.

[2016-06-02 16:11] #604 closed

[2016-06-02 16:54] aadish opened #609 "Dev Test: States of Matter 1.0.0-dev.6"
Dev release for states of matter is out

Link to the simulation: http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-dev.6/states-of-matter_en.html

This dev release is aimed at seeing whether the performance is acceptable on iPad or not

Other issues which are fixed and need to be tested are
- [x] Internationalization
- [x] Interaction Potential is too deep https://github.com/phe

[2016-06-02 16:59] phet-steele opened #610 "PhET app recording"
@ariel-phet requested a short video to be made highlighting the use of the PhET app. This will be done before the end of the week probably.

[2016-06-02 18:11] ariel-phet commented on #609
@phet-steele this would be good to do at a similar priority to testing plinko. Especially since @aadish is only here for a few more days.

[2016-06-02 22:37] oliver-phet commented on #607
@andrea-phet You'll just need to activate your identikey, and update your W-4 and Direct Deposit information, then you'll be good to go!

[2016-06-03 15:13] phet-steele commented on #610
Will need to wait until Monday for use of Leibniz.

[2016-06-03 15:35] ariel-phet commented on #610
Looks like @kathy-phet might be in later today

[2016-06-03 17:15] ariel-phet commented on #17
@phet-steele this doc might be good to go through and see if it is up to date (guessing it is not) especially with phettest. Perhaps work with @brroberts1231 to update? and close this issue?

[2016-06-03 17:17] ariel-phet commented on #176
@emily-phet here is the latest version, see what you think

![a11yicons](https://cloud.githubusercontent.com/assets/4051174/15786985/bdc8a758-297c-11e6-97cf-f17aeb8a9520.PNG)
[icons_june-2.pdf](https://github.com/phetsims/tasks/files/298076/icons_june-2.pdf)

[2016-06-03 17:25] ariel-phet commented on #553
@phet-steele - what are your current thoughts on this issue?

[2016-06-06 15:28] phet-steele commented on #553
@ariel-phet my current thoughts are the same. two months later and I still think we need to care about quantifying performance for QA passes.

[2016-06-06 16:25] alynne-phet commented on #608
I tested the iPad 2 iOS 9.3.1. The performance seems to be pretty slow

[2016-06-06 16:25] phet-steele commented on #608
@veillette @ariel-phet testing here is done. It appears that master is an insane amount of commits ahead anyway 😄

[2016-06-06 16:48] pixelzoom commented on #600
Another RC will be required.

[2016-06-06 16:48] pixelzoom commented on #602
Another RC will be required.

[2016-06-06 17:16] veillette commented on #608
We solved many issues and some performance bottlenecks. Before closing this issue I would like to know what kind of slowness on the iPad we are dealing with.   Is it janky due to garbage collection, or is it unresponsive to events, or something else?

[2016-06-06 17:17] veillette commented on #608
@alynne-phet, can you chime in?

[2016-06-06 17:48] alynne-phet commented on #608
@veillette The balls don't fall smoothly. Also, the erase button stays depressed after pushing it initially on the first screen. Most of the performance problems are because of gc and master has fixed many of these problems.

[2016-06-06 18:34] veillette commented on #608
We made great progress regarding vector allocations which should greatly diminished the number of garbage collection events. Also the balls are now rendered as images so we don't end up paying the cost drawing radial gradients over and over.

[2016-06-06 18:35] veillette commented on #608
Thanks, closing this issue. I'll open a ticket about the erase button

[2016-06-06 18:53] #608 closed

[2016-06-07 15:38] phet-steele commented on #610
@ariel-phet video made. Close if acceptable.

[2016-06-07 16:12] phet-steele commented on #603
@samreid this has been given a solid effort, I'd say we are all done.

[2016-06-07 16:13] samreid commented on #603
Thanks @phet-steele, I'll continue in the referenced issues, closing.

[2016-06-07 16:13] #603 closed

[2016-06-07 16:20] ariel-phet commented on #610
Looks good, thanks @phet-steele !! :kissing_cat:

[2016-06-07 16:20] #610 closed

[2016-06-07 17:31] emily-phet commented on #176
I really like the auditory description, language, and text to speech icons. I think those are good to go.

For the sound icon, I think we may need either two icons (one like what you have here, that indicates some sound component, and a second that indicates more sophisticated sounds), or a just a single sound icon that looks a little different from the typical, as it would be indicating that the

[2016-06-08 14:59] phet-steele commented on #609
@aadish I believe this dev testing is complete.

[2016-06-08 15:21] phet-steele commented on #592
@ariel-phet @kathy-phet @samreid I'm pretty confident in saying that any errors I've seen are caused by phetsims/phet-io/issues/420

[2016-06-08 17:09] aadish commented on #609
Thanks @phet-steele and QA team for testing this. Issues have been noted and being worked upon.
closing this issue.

[2016-06-08 17:09] #609 closed

[2016-06-08 20:24] #602 closed

[2016-06-08 20:24] #600 closed

[2016-06-08 22:34] aadish opened #611 "Dev Test: States of Matter 1.0.0-dev.7"
Dev 1.0.0-dev.6 release is out and includes fixes for the issues found in last dev release.

Link for the simulation: http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-dev.7/states-of-matter_en.html

It will be good to test and close these issues, to have a clean slate before some-one else starts on it.

Issues to test for

- [x] https://github.com/phetsims/states-of-matter/issu

[2016-06-08 22:39] aadish opened #612 "Dev Test: Atomic Interactions 1.0.0.dev.10"
Dev release for Atomic Interactions 1.0.0.dev.10 is out for testing. Majority of the simulation is similar to third screen of SOM but have few added features and would be good to test fixes for those issues.

Link to the Simulation: http://www.colorado.edu/physics/phet/dev/html/atomic-interactions/1.0.0-dev.10/atomic-interactions_en.html

Issues to check
- [x] https://github.com/phetsims/atomic-in

[2016-06-09 01:55] ariel-phet commented on #592
Thanks @phet-steele, @samreid feel free to close

[2016-06-09 01:58] ariel-phet commented on #612
@phet-steele -- you and the crew do your thing

[2016-06-09 01:58] samreid commented on #592
Since issues are tracked elsewhere, I'll close this one.  Thanks @phet-steele!

[2016-06-09 01:58] #592 closed

[2016-06-09 01:59] ariel-phet commented on #611
@phet-steele please assign any issues than cannot be closed to @jbphet

[2016-06-09 01:59] ariel-phet commented on #612
@phet-steele please assign any issues than cannot be closed to @jbphet

[2016-06-09 02:00] ariel-phet commented on #586
@oliver-phet did we ever get word back on this issue?

[2016-06-09 17:19] pixelzoom commented on #309
6/9/16 status meeting: Don't forget to redraw his hand(s) to match the style of his head.

[2016-06-09 17:21] pixelzoom commented on #309
6/9/16 status meeting: Don't forget to redraw his hand(s) to match the style of his head. Current iteration has an avatar-style head and photographic hand, which looks odd:

![screenshot_21](https://cloud.githubusercontent.com/assets/3046552/15939294/4364f428-2e34-11e6-8da8-ced8bb91258e.png)

[2016-06-09 18:17] pixelzoom opened #613 "Function Builder: dev testing (round 2)"
Previous round of testing was https://github.com/phetsims/tasks/issues/589.  Time for another...

6/9/16 dev meeting notes:

AP: yes, just make an issue, it will be top priority

I'll create a dev version, then assign to @phet-steele.

[2016-06-09 18:22] phet-steele commented on #613
@pixelzoom I'm standing by, and eagerly await the dev version!

[2016-06-09 19:03] ariel-phet opened #614 "ISTE conference booth needs and staffing"
- [ ] @kathy-phet,  need to register as individual (KP is getting our included Full Conference Badge)
- [x] Print flyers (any updates?)
- [x] Decide who all is attending and when (7 exhibitor badges + 10 free exhibitor admissions): AP, ON (half days), JB, AL, SR, JG
- [x] New rotating video @phet-steele Neuron, Color Vision, Bending Light, ESPB, Area Builder, Graphing Lines, BaA, Molecule Shapes,

[2016-06-09 19:04] ariel-phet commented on #614
Will have 7 booth badges - John Blanco, Andrea Lin, Sam Reid, Jesse are interested in attending

[2016-06-09 20:11] schasteen commented on #225
Some additional documentation on this issue:
On some Macbooks, even though it pairs correctly, the ModMic has a buzzing in the background.  This is not the case with Copernicus.  So, if you can pair the ModMic on your computer, listen to make sure there is no background buzz.
When pairing on Copernicus, System Preferences refers to the ModMic as the External Microphone.  You can select "reduce bac

[2016-06-09 21:09] pixelzoom commented on #613
Here's the version for testing:

http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.47/function-builder_en.html

The first 3 screens are feature complete.  New features since the previous dev test:
• Reset All
• equation drawer (Numbers and Equations screens)
• table drawer (Numbers and Equations screens)
• graph drawer (Equations screen)

The "Mystery" screen is blank, skip