[2017-08-07 04:51] emily-phet commented on #880
@terracoda Just to be clear, my thought is for you to help with the wording of the descriptions (e.g., what's in the bubbles of text). Others on the team have experience creating teacher tips, which is what this is very similar to, but no one has more experience with potential accessibility features than you. I may not be able to give feedback as quickly as I would like, so it would be helpful for

[2017-08-07 11:51] terracoda commented on #880
@emily-phet, understood. I can focus on the bubbles, and keep things moving.

[2017-08-07 16:32] arouinfar commented on #880
@emily-phet I'll get started on the tips documents. Thanks for providing an outline!

[2017-08-07 16:38] arouinfar commented on #880
@emily-phet I have a question regarding:

Add sentence below “See all activities for Build an Atom” that reads “For an introduction to Build an Atom, and more tips for use, watch the Video Primer at https://phet.colorado.edu/en/simulation/build-an-atom.”

I've noticed that these links are directed to the sim page, but the "here" link actually goes to the For Teachers section of the sim page that i

[2017-08-07 16:52] arouinfar commented on #880
@emily-phet here's the modified Teacher Tips.
[build_an_atom_html5_guide-GrantProposal.pdf](https://github.com/phetsims/tasks/files/1205498/build_an_atom_html5_guide-GrantProposal.pdf)

[2017-08-07 18:25] arouinfar commented on #880
@emily-phet @terracoda here's a rough draft of the document highlighting the a11y features. I still need to work on a mockup for the sim options dialog, but I've included everything else that @emily-phet outlined in the doc. I threw in some screenshots so there'd be context for the callouts, but they can be easily replaced with something else.

I've included an editable version in case you want to

[2017-08-07 18:31] terracoda commented on #880
@arouinfar, I am reading through mock-ups :-)

[2017-08-07 18:53] emily-phet commented on #880
@arouinfar Thanks! The modified Build an Atom teacher tips look great.
For the accessible sim version
All pages:

- Please add "Accessible Simulation Concept: Build an Atom" to the header (in that black header bar).
- Add the little keyboard help button to the bottom bar of each screenshot.

Alternative Input Section:
- Please add another callout 'pointer' lines to the "all interactive objects acc

[2017-08-07 19:06] terracoda commented on #880
@emily-phet:

- For the alternative input section, the action verb, "Access" could also be "Operate". And I would recommend a second pointy line to either the checkboxes or the radio buttons, or even to the Atom and or the buckets.
- For keyboard call-out, I suggest: "Review common and custom keyboard shortcuts." Or "Review common and custom key commands with the keyboard shortcuts button."

[2017-08-07 19:23] terracoda commented on #880
@emily-phet and @arouinfar, mayb ein some screenshots, we do not have to have all accordions open. That might indicate how they are interactive, and help focus the accompanying description (if needed).

[2017-08-07 19:40] terracoda commented on #880
@arouinfar and @emily-phet for the Auditory display section, I think it might make sense to flip the order of the call-outs around, and keep the text stuff on the left and sonfication stuff on the right.

For example, Text description on left side could look like this:

1. Hear a "big-picture" overview that describes the essential state of the sim, or explore details of each object any time, all a

[2017-08-07 20:05] terracoda commented on #880
@emily-phet, and @emily-phet not sure all that can fit.

[2017-08-07 20:22] terracoda commented on #880
@arouinfar, I am trying my suggestions out in the power-point. Will add link when done.

[2017-08-07 20:34] arouinfar commented on #880
Thanks @terracoda! I'll review and implement your and @emily-phet's suggestions later this afternoon.

[2017-08-07 20:58] terracoda commented on #880
@arouinfar, I also like @emily-phet suggestion of making the call-outs different for text-to-speech. That idea might work better.

[2017-08-07 21:16] terracoda commented on #880
@arouinfar, not sure this is any better ;-)
[build_an_atom_a11y-GrantProposal-TS-edits-v2.pptx](https://github.com/phetsims/tasks/files/1206177/build_an_atom_a11y-GrantProposal-TS-edits-v2.pptx)

[2017-08-08 18:09] clmccutchan commented on #879
@arouinfar I'll be back from vacation tomorrow morning and can mock this up then. Will that be ok?

[2017-08-09 14:31] emily-phet commented on #880
@terracoda @arouinfar Thanks! I combined the last two version to come up with this (attached). It needs the keyboard shortcuts button in the mockups, and a sound on/off button. @arouinfar, can you add these, and mockup something for the visual display concept screens, and the control panel? Probably the control panel screen will take the most work, so if you could mockup something for that (you co

[2017-08-09 14:46] terracoda commented on #880
@emily-phet, nice job! The little sound icons around "Lithium" is a nice touch.

In the visual zoom section, do you want the pink highlight around the letters, or around the heading. The pink normally goes around the focused element which in this case, i think is the interactive heading that opened the accordion.

![baa-net-charge-highlight](https://user-images.githubusercontent.com/1902116/291277

[2017-08-09 14:49] terracoda commented on #880
@emily-phet, oh, I see, you are highlighting the auditory display, not keyboard focus.

[2017-08-09 15:20] arouinfar commented on #880
Thanks @emily-phet and @terracoda! I'll be focusing on this issue once my morning meetings wrap up.

[2017-08-09 19:53] arouinfar commented on #880
Converting outstanding work to a checklist...
- [ ] Add the little keyboard help button to the bottom bar of each screenshot.
- [ ] Alternative Input Section: Please add another callout 'pointer' lines to the "all interactive objects accessible through alternative input". Like second pointy line to the Element box.
- [ ] For the alternative input section, the action verb, "Access" could also be "O

[2017-08-09 20:13] emily-phet commented on #880
Thanks @arouinfar

[2017-08-09 20:17] emily-phet commented on #880
Whoops! Did that accidentally from my phone!

Anyway, thanks! In the google doc with pictures of my drawings, I think the second to last one shows the visual display example. Essentially, the entire screen is one of the accordion boxes (so imagine a student has selected to zoom in on only one of the accordion boxes. Let me know if that helps, there are some example call outs in my drawing also.

[2017-08-09 20:20] arouinfar commented on #880
@emily-phet I made a large version of the Net Charge panel. Let me know if I can tweak it.
![image](https://user-images.githubusercontent.com/8419308/29142011-b8114438-7d0d-11e7-9ee1-0c866e58f939.png)

I didn't mock anything up for the high contrast visual display, because I'm not sure what that should look like.

[2017-08-09 20:35] arouinfar commented on #880
I've mocked up a control panel in PowerPoint, but it looks a bit rougher than it would in Illustrator...

[build_an_atom_a11y-GrantProposal-AR.pptx](https://github.com/phetsims/tasks/files/1212782/build_an_atom_a11y-GrantProposal-AR.pptx)

[2017-08-09 20:48] clmccutchan commented on #879
@arouinfar Here's a quick and incomplete draft of an atomic puller. Sorry I didn't get more of it done before you leave for vacation! I was trying to model it after a molecular building kit students would use.
![pullers_atomic_879](https://user-images.githubusercontent.com/25354670/29143290-cf8b9600-7d11-11e7-9922-3c2d2f46e605.png)

[2017-08-09 21:08] emily-phet commented on #880
Thanks, this is great! I know you're heading out soon, so I think we can take it from here @arouinfar.

[2017-08-09 21:09] arouinfar commented on #880
Sounds good, thanks @emily-phet!

[2017-08-09 21:10] emily-phet commented on #880
Just a note, in case it ever comes up again...
For the color contrast screenshot of the sim, I just take a screenshot, open in Preview, and adjust the color under Tools>Adjust Color...
Unfortunately, if you take a screenshot while in the accessibility invert colors mode, the color change is not recorded so you have to take an image and manually adjust the colors in the file.

[2017-08-09 21:18] arouinfar commented on #879
I really like the style @clmccutchan!!

I think it would be good for @ariel-phet to also review before you go any further.

[2017-08-09 21:42] terracoda commented on #880
@emily-phet, I think you need a sound button, too, like the one in John Travoltage or Ohm's Law.

[2017-08-09 22:23] oliver-phet commented on #872
I don't know of anything else that needs done on this issue? @ariel-phet

[2017-08-10 00:51] ariel-phet commented on #879
Super cool @clmccutchan - Very "ball and stick" model.

@arouinfar - We might want to use different colors (since blue and red in the sim are associated with positive and negative charges in the sim), but color is an easy change. But overall this seems like a good direction, and will be straightforward to make the versions in different states of pulling and pushing.

[2017-08-12 23:15] emily-phet commented on #880
Thanks! All done.

[2017-08-12 23:15] #880 closed

[2017-08-13 17:54] zepumph commented on #720
@samreid and I were able to get this to run recently as `node --inspect-brk node_modules/grunt/bin/grunt` in a sim repo. Then all arguments afterward are args to grunt.

Then in the chrome dev tools, now there is an icon that appears when the debugger is listener on a port:
![image](https://user-images.githubusercontent.com/6856943/29252074-5e621d38-800d-11e7-8245-e1a7ba775899.png)

When you click

[2017-08-13 21:42] zepumph commented on #720
`--inspect-brk` will pause in the debugger on the first line of code, where `--inspect` will just go, and the debugger will attach at some point during the run.

[2017-08-14 14:38] ariel-phet commented on #871
closing, we are fully migrated and working nicely

[2017-08-14 14:38] #871 closed

[2017-08-14 14:41] ariel-phet commented on #260
Can be closed since we have an organizational system now.

[2017-08-14 14:41] #260 closed

[2017-08-14 14:47] ariel-phet commented on #872
@oliver-phet I don't think anything else needs to be done with this issue. I think it answers the main question of what is the value of primers relative to the teacher guides. It seems comparing the two, the primers are certainly getting used at a rate that gives them comparable values to the guides.

I will point @arouinfar and @amanda-phet at this issue so they are aware of the stats.

[2017-08-14 14:47] #872 closed

[2017-08-14 14:57] ariel-phet opened #881 "PhET 15 year anniversary promo?"
@emily-phet mentioned that PhET will be turning 15 years old this year and maybe doing some promotion around an idea like "PhET is turning 15! Help us go strong for another 15 years"

@oliver-phet @kathy-phet we should discuss. Maybe have Dave work on a few promotional items, and if Mariah is available have her sketch up something cute.

Thoughts?

[2017-08-14 18:23] clmccutchan commented on #879
Thanks, @ariel-phet!

@arouinfar I'll plan on finishing the draft of atomic human by Friday at the latest. It's probably wise to determine the colors of the atoms before I complete the whole series of illustrations for the pusher and puller.

[2017-08-14 21:00] amanda-phet opened #882 "Research video editing software and port primer bumpers"
This task has two parts:

1. Research video editing software to be used for creating video primers. Create a table with columns for software name, cost, licensing, platform(s), and any other relevant information.

ideal features:
- free or inexpensive (multiple licenses)
- cross platform
- easy to use
- pretty basic features in terms of transitions, adding text, adding images
- white noise removal

[2017-08-14 21:29] amanda-phet commented on #882
@arnabp can you confirm that you'll be able to work on this this week? I'd like part (1) to be done by Friday if possible.

[2017-08-15 17:57] arnabp commented on #882
Yes, I can do this. I'll start working on it today.

Although from memory of past research into video editing software, none are as reliable as Final Cut or Premiere Pro. But I'll see what I can find!

[2017-08-15 18:08] oliver-phet commented on #882
I just got an email from TechSmith and they are going to provide 5 licenses of the latest version of Camtasia (Mac or Win).

[2017-08-15 20:33] arouinfar commented on #879
@clmccutchan let's go with cyan for the head/hips, and yellow for the elbows/knees. The figure will be on a black background, so I think it would be a good idea to add a thin white stroke around the circles. Here's a rough mockup (please ignore the missing upper arm)
![image](https://user-images.githubusercontent.com/8419308/29334959-611b5804-81c6-11e7-89ca-5254783197ea.png)

We'll also want to ma

[2017-08-17 21:15] arnabp commented on #882
- iMovie (**Free**): Fast, has most of the features we would require, might take some research to do some of the higher level functions (frame by frame editing, white noise removal, etc). Mac only.

- Camtasia (**Licenses Available**): Already in use, works with legacy projects. Not very optimized, can be slow to edit with and struggles to do higher level functions.

- Filmora (**$60 per license,

[2017-08-17 21:51] oliver-phet commented on #882
Thanks, @arnabp. We may just stick with Camtasia for the time being since we have some new licenses.

[2017-08-17 21:53] oliver-phet commented on #882
Also, I don't see a reason we couldn't use several editors... as long as we have the assets available for each format. For example, we could have the "bumpers" in Camtasia, Final Cut, Premiere, etc. There are several labs around campus that have Final Cut and Premiere installed for us to use.

[2017-08-18 20:21] clmccutchan commented on #879
@arouinfar How does this look?
![pullers_atomic_879_081817](https://user-images.githubusercontent.com/25354670/29476264-72d503c2-8420-11e7-8923-9549d17f913f.png)

[2017-08-18 20:25] amanda-phet commented on #882
For primers, we need to stick with one video software. They change often enough that I wouldn't want to go around to all the formats and update them all. I agree with @oliver-phet that since we have licenses we should just continue to use it for the time being. However we don't have to use camtasia for *everything*, just looking for something stable and easy to use for primers.

@arnabp thank you

[2017-08-18 20:25] #882 closed

[2017-08-18 21:48] arouinfar commented on #879
Looks pretty good @clmccutchan! A few suggestions...
* Use the blue (#6ACEF5) and yellow (#FEE105) from the PhET logo. (Your draft looked close to our logo colors, which think would look really nice here!)
* The arms/hands should be more overlapped, like the original pushers/pullers.

[2017-08-18 22:14] clmccutchan commented on #879
will do, @arouinfar! I had pulled that other hand up just so it was more visible but will match the body positions in the updated .ai file you sent me.

[2017-08-18 22:15] arouinfar commented on #879
Sounds great! Thanks @clmccutchan.

[2017-08-21 16:49] amanda-phet opened #883 "On-board Clara"
- [x] Review a few published primers
- [x] add to github, google group, drive
- [x] share primer documentation
- [x] review guidelines for recording
- [x] review guidelines for producing
- [x] assign first two primers

[2017-08-21 19:26] amanda-phet opened #884 "Record Least-Squares Regression primer"
Script shared with @CWilson4960.

@CWilson4960 when you have a draft ready to review feel free to add it to the drive folder and ping me to let me know it's ready to review.

[2017-08-21 20:25] arouinfar opened #885 "Record Molecules and Light Primer"
Reviewed the script on Drive with @CWilson4960.

@CWilson4960 once you have a draft ready for review, please upload it to the Drive folder, and I'll take a look. If you have any questions about the primer, I'd be happy to chat with you.

[2017-08-22 20:28] CWilson4960 commented on #884
@amanda-phet I just finished up a rough draft and it is uploaded. Let me know if there's any trouble looking at it.

[2017-08-23 18:57] lmulhall-phet opened #886 "Test Issue"
Test device:
MacBook Air (13-inch, Early 2015)

Operating System:
macOS Sierra 10.12.4

Browser:
Safari 10.1

Problem description:
There is no cake.

Steps to reproduce:
1. Open the sim.
2. There is no cake.

Screenshots:
![screen shot 2017-08-23 at 12 53 19 pm](https://user-images.githubusercontent.com/31285590/29633024-16868380-8802-11e7-9153-e1c1d71d282b.png)
There should be cake in this area.

[2017-08-23 18:59] phet-steele commented on #886
@lmulhall-phet thanks for pointing this out....here you go:

![cake](https://user-images.githubusercontent.com/5863899/29633223-cb6996ac-8802-11e7-9e24-81e641864cf7.jpg)

@lmulhall-phet is this to your liking?

[2017-08-23 19:00] lmulhall-phet commented on #886
Yes, this is to my liking.

[2017-08-23 19:00] #886 closed

[2017-08-23 19:13] arouinfar commented on #879
@clmccutchan just realized I didn't directly answer your question. Please go ahead and create the set of atomic pushers/pullers. We'll also need one figure that stands upright (see below) for when the force is zero.

![puller_1](https://user-images.githubusercontent.com/8419308/29633804-bf5a86c6-8804-11e7-9451-187afe5b2849.png)

[2017-08-24 20:24] CWilson4960 commented on #884
Rough draft 2 is uploaded.

[2017-08-28 18:20] amanda-phet opened #887 "Convert teacher tips files"
- [x] Play around with these two pages documents. See if you can find an easy way to "transfer" the styles from the function-builder-basics-guide-helvetica.pages doc to the function-builder-guide.pages doc.
[teacher tips.zip](https://github.com/phetsims/tasks/files/1257777/teacher.tips.zip)

- [x] Go through each sim folder (PhET files > PhET Sim Design > Sim Name HTML5 folder) and download the cu

[2017-08-28 20:16] arouinfar opened #888 "Balloons for Balloons and Static Electricity"
In https://github.com/phetsims/balloons-and-static-electricity/issues/72, it was discovered that we don't have an .ai asset for the balloons in [Balloons and Static Electricity](https://phet.colorado.edu/sims/html/balloons-and-static-electricity/latest/balloons-and-static-electricity_en.html).

@clmccutchan can you recreate these balloons (as closely as possible) in Illustrator? The string is draw

[2017-08-28 21:24] ariel-phet commented on #888
@arouinfar can you get @clmccutchan the current artwork for the balloons? (probably .png files) so we can match dimensions and such? My guess is it will be easiest if these are just "drop in" replacements

[2017-08-28 21:31] arouinfar commented on #888
@clmccutchan here are the .png files currently being used in the sim. The images have some transparency so that the sweater is visible beneath them. Unfortunately, I don't know the precise opacity %, but please try to match as closely as possible.

[balloon-green.png](https://user-images.githubusercontent.com/8419308/29794566-b19679fa-8c05-11e7-95d6-cf25fb328c32.png)
[balloon-yellow.png](https://u

[2017-08-29 00:50] CWilson4960 commented on #885
@arouinfar. The draft file is uploaded to the drive folder. Thanks!

[2017-08-29 14:13] clmccutchan commented on #879
@arouinfar I'll have the pullers for you today and the pushers tomorrow!

[2017-08-29 17:07] clmccutchan commented on #879
@arouinfar Here's a png of the standing atomic person and the last frame of the puller. I'll send you the .ai file for the puller via email.
![pullers_atomic_082817](https://user-images.githubusercontent.com/25354670/29833909-46de6ef6-8caa-11e7-9750-c2d4535fb4eb.png)
![pullers_atomic_stand_082817](https://user-images.githubusercontent.com/25354670/29833910-46f62afa-8caa-11e7-9ac0-6016e8d7a1d4.png)

[2017-08-30 22:52] oliver-phet opened #889 "Update Surface tablet to Win 10"
Tablet is in QA office.
@phet-steele assign to a QA member of your choice!

[2017-08-31 14:32] clmccutchan commented on #879
@arouinfar Here's the last frame of the pusher. I'll send you the .ai file via email.

![pushers_atomic_879-01](https://user-images.githubusercontent.com/25354670/29928774-f32bbce0-8e26-11e7-8733-b0d0a6c0aa9c.png)

[2017-08-31 16:12] arouinfar commented on #879
@clmccutchan looking good so far! The pullers are all ready to go. Self-assigning to review/export the pullers.

[2017-08-31 18:15] amanda-phet commented on #884
Ready to produce! Handing off to @CWilson4960 and @arnabp .

[2017-09-01 19:08] CWilson4960 commented on #887
@amanda-phet The Acid Base Solutions Teacher Tips has been uploaded to the Updated drive folder.

[2017-09-01 19:13] CWilson4960 commented on #887
Area builder has as well.

[2017-09-05 19:58] CWilson4960 commented on #884
@arnabp , [here](https://drive.google.com/drive/u/1/folders/0B6CMwxdP0NGYcS12a28xWUQ4NkE) is the link, version 3 with my name on it is the one ready for editing.

[2017-09-06 17:55] CWilson4960 commented on #885
@arouinfar The second draft file is uploaded to the drive folder. [Here](https://drive.google.com/drive/u/1/folders/0B6CMwxdP0NGYZkRIWUh4SlRNbHM?ths=true) is the folder. Thanks!

[2017-09-07 17:33] ariel-phet commented on #881
Both Dave and Mariah have been contacted

[2017-09-08 17:05] samreid opened #890 "LOL sim preparation"
@kathy-phet said she'll request a designer to send metadata to LOL for

Build an Atom
Projectile Motion
Pendulum Lab (when published)

And I'm going to work on preparing these sims for LOL release:
Force and Motion: Basics
Energy Skate Park: Basics

[2017-09-08 18:16] arouinfar commented on #885
v2 is ready for production @CWilson4960 @arnabp!

[2017-09-08 19:33] amanda-phet opened #891 "Record Function Builder primer"
Script is written and ready to be reviewed by @CWilson4960

Files located in this folder:
https://drive.google.com/drive/folders/0B6CMwxdP0NGYMUpxOTVlbXE2ZFE

[2017-09-08 19:58] CWilson4960 commented on #885
@arnabp The cmproj file is [Here](https://drive.google.com/drive/u/1/folders/0B6CMwxdP0NGYZkRIWUh4SlRNbHM) for the MOL primer.

[2017-09-08 23:47] clmccutchan commented on #888
@arouinfar Here's a first draft of the balloons. I made them the same size as the reference pngs. I set the opacity at about 80%.
![balloons_green](https://user-images.githubusercontent.com/25354670/30234761-ab077916-94bd-11e7-9637-6282a7314d4f.png)
![balloons_yellow](https://user-images.githubusercontent.com/25354670/30234762-ab2b1d12-94bd-11e7-919a-c1c11fc449ff.png)

[2017-09-09 22:07] samreid commented on #890
Forces and Motion: Basics is being tracked in https://github.com/phetsims/forces-and-motion-basics/issues/235

[2017-09-09 22:08] samreid commented on #890
Energy Skate Park: Basics is being tracked in https://github.com/phetsims/QA/issues/41

[2017-09-11 15:43] arouinfar commented on #888
Those look spot-on @clmccutchan! Can you send me the .ai file?

[2017-09-11 15:54] clmccutchan commented on #888
@arouinfar I just emailed you the .ai file.

[2017-09-11 18:25] arouinfar commented on #888
Everything looks good @clmccutchan! The assets have been delivered to @jessegreenberg. Closing.

[2017-09-11 18:25] #888 closed

[2017-09-12 01:59] CWilson4960 commented on #891
@amanda-phet The first draft (script draft) of the Function Builder primer is uploaded, [here](https://drive.google.com/drive/u/1/folders/0B6CMwxdP0NGYMUpxOTVlbXE2ZFE)

[2017-09-13 16:29] oliver-phet opened #892 "Create drk12 PhET student assent and pre survey (Qualtrics)"
Link to Google doc of questions: https://docs.google.com/a/colorado.edu/document/d/1DvPU2zPzF7sH1fUYfOHXqecKng9bvuM3Wbfid7IkpDw/edit?usp=sharing

Example survey to match (consent only): https://www.surveymonkey.com/r/SGD14pre

[2017-09-13 16:29] oliver-phet commented on #892
@arnabp Can you plan to get this setup when you are in tomorrow?

[2017-09-14 19:41] oliver-phet commented on #892
Closing!

[2017-09-14 19:41] #892 closed

[2017-09-15 04:06] #733 closed

[2017-09-15 20:09] arnabp commented on #884
Edited and exported. Final video placed in the same folder. @amanda-phet please review and make sure everything looks okay.

[2017-09-18 16:49] phet-steele commented on #890
Reopening for @kathy-phet to do this. It is evident this is still on her plate since https://github.com/phetsims/QA/issues/46#issuecomment-328160857 was still assigned to her to complete.

[2017-09-18 20:44] amanda-phet commented on #884
Awesome.

One small change, the text on the first frame should say "Recorded by Clara Wilson with Amanda McGarry". That is our convention when someone wrote or assisted with script writing, and someone else recorded.

Can you make that change, re-export, and replace the file in the folder? Once it is exported, let's have @CWilson4960 go through the steps to upload the file to Vimeo with the specia

[2017-09-19 20:57] arnabp commented on #885
Exported final video. I'll upload my camtasia file when I figure out how to get cross-platform working. Final video placed in the same folder.

[2017-09-19 21:06] arnabp commented on #884
Fixed, new version is uploaded.

[2017-09-20 18:51] CWilson4960 commented on #891
@amanda-phet The second draft is uploaded for review, [here](https://drive.google.com/drive/u/1/folders/0B6CMwxdP0NGYMUpxOTVlbXE2ZFE)

[2017-09-20 20:53] amanda-phet commented on #891
Looks great! Feedback is detailed in slack.

[2017-09-20 22:54] ariel-phet commented on #772
@oliver-phet I have echoed a few people who have mentioned office mix, but it does not seem like it has huge traction. I think an email to our users would be more powerful than a social media post. I think I would also forgo flyers personally.

[2017-09-20 22:56] ariel-phet commented on #772
@oliver-phet I forget, did you already do an email?

[2017-09-21 14:26] oliver-phet commented on #772
Yep, email was sent to all users 5/26:
<img width="472" alt="screen shot 2017-09-21 at 8 26 18 am" src="https://user-images.githubusercontent.com/5090275/30701042-91cbd9f4-9ea6-11e7-9f03-6d59c6fd8ea7.png">

[2017-09-21 14:27] oliver-phet commented on #772
I agree, I think email was the priority. Is this all that needs done on this issue?

[2017-09-22 18:20] CWilson4960 commented on #891
@amanda-phet The third draft is uploaded for review [here](https://drive.google.com/drive/u/1/folders/0B6CMwxdP0NGYMUpxOTVlbXE2ZFE)

[2017-09-25 18:08] phet-steele commented on #680
@oliver-phet, Java 9 fixes this issue. Off to you for next steps.

[2017-09-25 18:22] oliver-phet commented on #680
Help center has been updated: https://phet.colorado.edu/en/help-center/running-sims/windows

Currently the entry points to an Oracle page since the Java website still points to version 8.

[2017-09-25 18:42] #680 closed

[2017-09-25 19:09] CWilson4960 commented on #885
@arouinfar Molecules and Light is uploaded to the PhET website. Captioning to follow this week.

[2017-09-25 19:10] CWilson4960 commented on #884
@amanda-phet The Least-Squares Regression primer is uploaded to the PhET website. Captions to follow this week

[2017-09-25 19:52] arouinfar commented on #885
Excellent! Thanks @CWilson4960 @arnabp. Once captioning is completed, you can close this issue.

[2017-09-26 01:25] CWilson4960 commented on #884
@amanda-phet The captions are live. Should I close the issue?

[2017-09-26 20:45] emily-phet opened #893 "File Upload to Google Drive/mailing of hard drive"
I need someone to move the files from the hard drive sitting on my desk, and put them on Google drive (wherever the raw footage for videos go). This footage is from interviews with me, Esha, and Jesse from two years ago, which have been used for the NSF Video Showcase videos.

Once that's complete, the hard drive needs to be returned to Shawna. Email me and I'll send the address.

No particular ur

[2017-09-26 21:15] amanda-phet commented on #884
Just a few changes and then it will be ready:

(1) the script toward the end is supposed to say “correlation coefficient” not “correlational coefficient”, and even though you accidentally said correlational, the captioning should say the correct word, which is correlation.

(2) There are a couple places where the sentence is cut off at an odd time. At 0:32 I’d move “more” to the next chunk with “a

[2017-09-26 21:24] arouinfar commented on #885
On second thought, I should probably take a look at the captions once they're live. So reassign to me, and I'll let you know if anything needs tweaking.

[2017-09-26 21:32] CWilson4960 commented on #885
@amanda-phet listened to it and found some errors that I had missed. We are planning on taking it down and re-recording it. Its got some bad white noise which comes and goes, and some weird buzzing. Does that sound good @arouinfar ?

[2017-09-26 21:33] CWilson4960 commented on #884
@amanda-phet I will see if I can reuse them. I will fix these tonight. Thanks

[2017-09-27 19:50] CWilson4960 commented on #885
v4 is uploaded to the [drive](https://drive.google.com/drive/u/1/folders/0B6CMwxdP0NGYZkRIWUh4SlRNbHM)

[2017-09-27 21:34] ariel-phet commented on #893
@oliver-phet seems like something @arnabp could take care of pretty easily. Let me know if that won't work.

[2017-09-27 21:55] oliver-phet commented on #893
@arnabp let's put this in the root of phet-storage.

[2017-10-02 15:53] amanda-phet opened #894 "Artwork for Equality Explorer"
https://github.com/phetsims/equality-explorer/issues/6

@clmccutchan is creating a tiny dog, cat, and turtle for the fourth scene.

[2017-10-02 18:13] amanda-phet opened #895 "Record Function Builder: Basics primer"

[2017-10-02 18:22] CWilson4960 commented on #895
Draft 1 is in the [drive](https://drive.google.com/drive/u/1/folders/0B6CMwxdP0NGYQjZjUFNlekRreVk)

[2017-10-02 19:56] oliver-phet opened #896 "Vimeo PhET Amara translations (primers)"
@arouinfar Do you happen to know how we are supporting translation of our Vimeo video subtitles (primers)?

It looks like Vimeo no longer integrates with Amara: https://help.vimeo.com/hc/en-us/articles/224968828-Captions-and-subtitles?flash_digest=5b8d6d78e5394081575fe70dd56d6ea78d29172b

And you have to manually upload translations for each video.

[2017-10-02 20:32] amanda-phet commented on #896
I have never seen a translated video, but @CWilson4960 recently added subtitles to a primer. I believe she had to manually upload the script and do the captioning, but I'm not aware of how these get translated.

[2017-10-02 20:42] CWilson4960 commented on #896
Last week, I uploaded and captioned a Vimeo video using Amara without any trouble, so I'm not sure the extent to which Vimeo is no longer integrating with Amara. The Least Squares Regression primer on the PhET website has Amara subtitles (I'm working on adding them to the intro and outro, but right now they're just in the body). So Amara subtitles are still working on Vimeo videos.
From what I can

[2017-10-02 21:10] arouinfar commented on #896
@oliver-phet I believe we have been using Amara because of its translation support (primarily for our YouTube videos). As far as I know, we have always logged into Amara to create the subtitles and then uploaded the subtitle file to Vimeo, as @CWilson4960 has said.

I am not aware of translated primers, and I'm not sure if there's a demand for them. Looking at the Amara account settings, it seems

[2017-10-02 21:53] oliver-phet commented on #896
That's what I thought. @ariel-phet do you want to support translation of our primers? It would likely require us making the current captions available to translators, accepting translations of the captions, then uploading them to vimeo.

[2017-10-03 17:35] ariel-phet commented on #896
@oliver-phet @amanda-phet the Japanese visitors were specifically interested in the possibility of subtitling.

@amanda-phet perhaps when you meet with them tomorrow, let them know to email Oliver in the future if they are interested in translating the subtitles of the primers since it sounds like we could support that effort.

[2017-10-03 17:35] ariel-phet commented on #896
@oliver-phet this might also come up with our visit to Mexico, I could see Spanish subtitles being popular as well.

[2017-10-03 19:06] amanda-phet commented on #884
Final video with all captions is up! This can be closed.

[2017-10-03 19:06] #884 closed

[2017-10-04 17:54] CWilson4960 commented on #885
Molecules and Light is captioned and uploaded to the PhET website. Should I go ahead and close the issue?

[2017-10-04 23:36] CWilson4960 commented on #891
The Function Builder Primer is live with captions (or will be once it uploads) [here](https://phet.colorado.edu/en/simulation/function-builder)

[2017-10-05 18:23] amanda-phet commented on #891
All looks good.

[2017-10-05 18:23] #891 closed

[2017-10-05 18:23] #883 closed

[2017-10-05 21:18] CWilson4960 commented on #895
Function Builder: Basics primer is live on the PhET website with subtitles

[2017-10-06 14:16] clmccutchan commented on #894
@amanda-phet How do these look? I'm not entirely satisfied with the dog, but it's so tiny I'm not sure my dissatisfaction matters that much.

![basics-artwork-without-shadow_cat](https://user-images.githubusercontent.com/25354670/31282065-af8df7c8-aa6e-11e7-8bcd-59484f5c395d.png)
![basics-artwork-without-shadow_dog](https://user-images.githubusercontent.com/25354670/31282066-afaf0454-aa6e-11e7-84e

[2017-10-06 16:17] amanda-phet commented on #894
In context:
![screen shot 2017-10-06 at 10 14 29 am](https://user-images.githubusercontent.com/7852916/31287653-2e10f202-aa7f-11e7-8911-3973ec1732bf.png)

I think they really work! I agree, the dog could use something but I'm not sure what.. can you make it more of a "golden retriever" color? And maybe make the head a little rounder? not sure if that would actually be an improvement or not.

For t

[2017-10-06 17:45] amanda-phet commented on #896
@ariel-phet I forgot to specifically mention primers to the Japanese visitors, sorry. Hiroto translated Area Builder, so I did tell him to translate some more sims! :)

What else needs to be done with this issue?

[2017-10-10 17:21] #895 closed

[2017-10-11 16:39] #885 closed

[2017-10-11 20:39] arouinfar commented on #885
@CWilson4960 next time, please reassign the issue to me once the primer is uploaded and captioned. That way I'll do a final review of the live primer to make sure the captions look good, and then close the issue.

Everything in MAL looked good, by the way. :)

[2017-10-13 19:21] ariel-phet commented on #896
@oliver-phet was going to bring this up at next status meeting. Seems there are some aspects that would be good to discuss with @kathy-phet

[2017-10-16 13:00] pixelzoom commented on #894
To my eye, the arc of the cat's tail conflicts with the '0's in equations - I would lose the long tail.  I also don't think the cat needs more detail.  Less detail is better for these icons, since they need to be rendered so small.

[2017-10-16 18:02] clmccutchan commented on #894
@amanda-phet @pixelzoom I tweaked the horrible first draft of the dog and changed the cat's tail and adding just a bit of highlighting to the cat. What do you think now?

![basics-_cat](https://user-images.githubusercontent.com/25354670/31627237-c87b6dee-b269-11e7-95d4-c2c7e5028703.png)
![basics-_dog](https://user-images.githubusercontent.com/25354670/31627238-c8d66c80-b269-11e7-8392-59d898ae4ef3.

[2017-10-16 19:01] amanda-phet commented on #894
I really like these! The white on the cat is nice so at a small size it is even more distinguishable from the other objects. And the dog looks great with the golden color. I'm really happy with these so unless @pixelzoom is concerned I'd like to try integrating them.

[2017-10-16 20:19] amanda-phet opened #897 ""caption" some classroom video clips"
In the folder I shared with you you'll find video clip files and a spreadsheet indexing them.

1. In the spreadsheet, add a column for "new name" and rename the clips in a logical way so it's a little easier to identify them. For example, classroom-A-small-group-discussion.mov or classroom-A-teacher-instruction-open-play.mov

2. Rename the clips to match the new column in the spreadsheet.

3. crea

[2017-10-16 20:48] arnabp commented on #893
PhET Accessibility folder is now in the root of phet-storage.

[2017-10-17 20:18] #662 closed

[2017-10-17 20:19] pixelzoom commented on #894
@amanda-phet Proceed with integrating into .ai files. Let's see how they look in context.

[2017-10-19 18:33] amanda-phet commented on #894
@clmccutchan One more request for the cat. I really like everything about it but @kathy-phet had a good suggestion to remove some of the detail in the white fur. Perhaps just a triangle patch for the chest and just a circle at the tail? Basically removing some of the furriness.

[2017-10-19 20:12] clmccutchan commented on #894
@amanda-phet I've updated the .ai file and am emailing it to you.

[2017-10-19 22:53] pixelzoom commented on #894
Did we reflect the dog and cat? (rotate horizontally)

[2017-10-19 23:05] oliver-phet opened #898 "Update 2018 Physics calendar"
@ariel-phet Here's the link to the physics calendar google doc: https://docs.google.com/document/d/1PPWUF4DGMUKZ6NFjDlYWRppNILBSjJyS_ukAbswwa0I/edit

[2017-10-20 17:14] amanda-phet commented on #894
@pixelzoom yes I reflected them and am going to commit the updated .ai files now

[2017-10-23 16:21] terracoda commented on #176
﻿﻿﻿Jon Hung shared this infusion icon during the design crit for keyboard dialog design. It could be worth considering as an alternative for the keyboard accessibility icon.

<img width="180" alt="kb-a11y-icon-infusion" src="https://user-images.githubusercontent.com/1902116/31900416-d531d5fc-b7f8-11e7-8d71-f4e22376a8b6.png">

[2017-10-23 17:17] oliver-phet commented on #772
No posts or flyers planned. Closing this issue.

[2017-10-23 17:17] #772 closed

[2017-10-24 21:31] oliver-phet opened #899 "Update qualtrics survey with latest questions, check on iPad"
@arnabp Can you update the
[DRK12_PhET_Student_Survey - PreSurvey - v3.docx](https://github.com/phetsims/tasks/files/1412556/DRK12_PhET_Student_Survey.-.PreSurvey.-.v3.docx) and test on an iPad?

Let @amanda-phet know when this is all done and maybe take screenshots of the survey on an iPad if there are concerns about layout.

[2017-10-25 16:42] ariel-phet commented on #898
Photo and blurb sent to Veronica. Closing

[2017-10-25 16:42] #898 closed

[2017-10-30 16:00] pixelzoom opened #900 "standardized unit tests"
In https://github.com/phetsims/axon/issues/156#issuecomment-339147946 and https://github.com/phetsims/axon/issues/153#issuecomment-339158399, I had some unit tests that I wanted to add.  But the axon unit tests didn't look like what I was expecting.  So in both cases I punted by saying something like:

In https://github.com/phetsims/axon/issues/156#issuecomment-340488450, @samreid said:

I replied

[2017-10-30 23:23] pixelzoom commented on #900
In https://github.com/phetsims/axon/issues/153#issuecomment-340610458, we had problems with axon unit tests failing when run from scenery/kite/dot.  @jonathanolson discovered that axon unit tests for uses initialize-globals.js, which is supposed to only be run for simulations.

[2017-10-30 23:24] pixelzoom commented on #900
@jonathanolson noted in Slack: Axon unit tests are also loading a jQuery copy from a CDN, not sherpa's (I'll fix that too)

[2017-10-30 23:37] jonathanolson commented on #900
Fixed up phet-core and axon's unit tests to be in line with dot/kite/scenery.

That sounds good to me, although it will require going through a LOT of unit tests. query-string-machine looks like it skipped ahead to a new version of qunit instead of using what the rest used at the time (and there are some decent reasons for doing so).

[2017-10-30 23:41] jonathanolson commented on #900
There's also a lot of work that could be done cleaning up the unit test harnesses (since there's some duplicated HTML/JS for each place we have unit tests).

[2017-10-31 00:59] samreid commented on #900
@pixelzoom can you clarify what you meant by this?

[2017-10-31 02:21] pixelzoom commented on #900
I was wondering if QA might be able to convert unit tests from old to new pattern.

[2017-11-01 20:32] ariel-phet commented on #506
@amanda-phet I have been meaning to look into this for quite some time, but it just has not happened. Is this something @CWilson4960 could do?

[2017-11-02 03:48] samreid commented on #900
What if we just had one test harness and the sims supplied only the JS files with the tests?

[2017-11-02 03:53] samreid commented on #900
Also, even QueryStringMachine at qunit 2.0.1 is getting far behind the current version of qunit which is 2.4.1, here is the changelog: https://github.com/qunitjs/qunit/blob/2.4.1/History.md

[2017-11-02 03:57] samreid commented on #900
Kite, dot and scenery are already somewhat composite tests.  For instance, from kite:

[code]

then

[code]

[2017-11-02 04:10] samreid commented on #900
We could also rework the unit tests for each repo to be focused just on that repo (not dependencies), then use an aggregator strategy like https://github.com/JamesMGreene/qunit-composite

[2017-11-02 04:10] samreid commented on #900
I wonder if it would simplify things if we moved all our tests (even fuzz tests) to run as qunit tests.

[2017-11-02 16:08] jonathanolson commented on #900
It would also need to specify dependencies. For example in Scenery's unit tests (compared to Dot), it has a bunch of extra required dependencies from sherpa.

Sounds nice.

Would require upgrading qunit then, as the version being used currently has a number of issues with continuous testing (as it can't properly report when all tests are complete).

[2017-11-02 18:01] samreid commented on #900
@jonathanolson will discuss it with QA team.

[2017-11-03 18:26] emily-phet opened #901 "Sim runs and standards"
For the following list of eight sims, can someone list out:
- the specific middle school and/or high school NGSS standards addressed, and
- total sim runs for the last year.

Balancing Act
Balloons and Static Electricity
Energy Skate Park: Basics
Forces and Motion: Basics
Friction
Gravity Force Lab: Basics
John Travoltage
Plinko Probability

The standards can be found in the various standards docu

[2017-11-06 18:44] lmulhall-phet opened #902 "Copyright date in iframe source code"
I noticed that the copyright date in the iframe source code is

`
`

Does this need to be changed?

[2017-11-06 19:00] phet-steele commented on #902
Specifically in the test link we use on spot: https://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.5.0-dev.2/capacitor-lab-basics_en-iframe.html

[2017-11-06 19:22] arouinfar commented on #901
@emily-phet I could not find relevant NGSS standards for Balancing Act and Plinko Probability, so I've provided Common Core math standards instead. @ariel-phet said he would provide the sim run stats, so unassigning myself.

**Balancing Act**
[CCSS.MATH.CONTENT.K.MD.A.2](http://www.corestandards.org/Math/Content/K/MD/A/2/)
[CCSS.MATH.CONTENT.4.OA.A.2](http://www.corestandards.org/Math/Content/4/OA

[2017-11-06 22:15] ariel-phet commented on #901
| Simulation  | Runs Oct 2016 - Oct 2017|
| :---------- | :------------- |
| Balancing Act | 1,250,845 |
| Balloons and Static Electrcity | 1,147,656  |
| Energy Skate Park: Basics | 3,401,149 |
| Forces and Motion: Basics | 3,598,726 |
| Friction  | 230,249  |
| Gravity Force Lab  | 936,715 |
| John Travoltage  | 786,632  |
| Plinko Probability  | 239,710  |

[2017-11-07 01:52] ariel-phet commented on #902
@samreid I believe we have some automated code in other places that keeps this up to date. Is this something that could easily be fixed up?

Nice catch @lmulhall-phet!

[2017-11-08 13:28] emily-phet commented on #901
Thanks! This is perfect!

[2017-11-08 13:28] #901 closed

[2017-11-08 21:12] samreid commented on #902
In https://github.com/phetsims/chipper/commit/18cc4eca7e859000e4717ca4e821f90042701d7a I updated the copyright date in the iframe template HTML to 2002-2017 (though I noticed the last commit before this was from 2016).

The automated tool to update copyrights only works on JS code.  When I tried running it across our active-runnables like so:

[code]

I observed that it updated 372 files.  @ariel-

[2017-11-09 15:11] ariel-phet commented on #902
@samreid spot check and commit sounds good. I don't think you need to do this on active-repos at the moment.

[2017-11-09 23:31] samreid commented on #902
I spot checked 10 files or so and all changes match expectations.  I also noticed changes in the *.config files, which were recently automatically generated.  Still, it doesn't seem to do any harm to update them in this commit (even if the copyright date gets overwritten with 2017 next time they auto-update).

[2017-11-10 00:08] samreid commented on #902
372 files originally marked as changed, then I decided to run `for-each.sh active-runnables grunt generate-config` and now we are down to 295, so I'll go with that.

[2017-11-10 00:13] samreid commented on #902
Committed and closing.

[2017-11-10 16:49] phet-steele commented on #902
@samreid who needs spot checks when you have Bayes! It revealed three issues:

[code]

[2017-11-10 17:30] samreid commented on #902
Thanks @phet-steele and `@bayes`!  Some of those `Copyright -2017` dates indicate code over 4000 years old!  Commit on the way.

[2017-11-10 17:33] samreid commented on #902
The commits are here, I'll check bayes again in an hour or so to see how we are doing.

[2017-11-10 18:23] #893 closed

[2017-11-10 18:32] ariel-phet opened #903 "Craft email to Colorado teachers for "personal stories""
CU strategic relations would be interested to see if we can gather some leads on personal stories that might relate to PhET/CU especially in regards to areas outside of Boulder (rural CO and western slope).

They like the "end user" to be the focus and compelling personal stories.

We should look over the types of stories they have used:
https://www.colorado.edu/hometowns/

The main goal is to imp

[2017-11-10 18:55] samreid commented on #902
Bayes seems ok, closing for now.

[2017-11-10 18:55] #902 closed

[2017-11-10 19:15] amanda-phet commented on #903
or even during Thanksgiving when many teachers have a week off... right after Thanksgiving teachers will be pretty swamped with getting back in to things.

[2017-11-10 19:36] ariel-phet commented on #903
@amanda-phet it is true...although with my travel I might not be able to help craft the email much!

[2017-11-13 14:29] emily-phet opened #904 "Urgent: Artwork needed for grant proposal (today!)"
I need some image of ESP:B for a grant proposal. The images will need to be very similar to those created in https://github.com/phetsims/tasks/issues/880 for BAA, but using ESP:B. Here's the images ones I need:
- Color Contrast (note, instructions on how to do this are in https://github.com/phetsims/tasks/issues/880)
- Zoom/Enlarge w/ Text-to-speech Highlight (zoomed in on bar chart, with one kine

[2017-11-13 16:05] ariel-phet commented on #904
@arouinfar it looks like you did something similar in the past. Could you handle this today?

[2017-11-13 17:46] arouinfar commented on #904
@emily-phet I have a question about the color contrast screenshot. In #880 you said:

Which parameters should I adjust? Contrast? Saturation?  How far up should I bump them? I don't know what the a11y invert color mode looks like, so I'm not sure what I'm trying to replicate.

Original:
<img width="500" alt="espb" src="https://user-images.githubusercontent.com/8419308/32740166-49b47a30-c85f-11e7-9

[2017-11-13 18:21] arouinfar commented on #904
@emily-phet here are the other two screenshots. Please let me know if anything needs tweaking!

Zoom/Enlarge with text-to-speech highlight:
![espb-zoom](https://user-images.githubusercontent.com/8419308/32741735-7ece15dc-c864-11e7-8fb8-153f42c49504.png)

Options:
![espb-options](https://user-images.githubusercontent.com/8419308/32741773-99967f58-c864-11e7-94c1-391c6733c313.png)

[2017-11-13 18:54] emily-phet commented on #904
Thanks @arouinfar! A couple things:
- for the Zoom version, can edit the graph so that it's more compact (and can be "zoomed in" on further? For example, can you move, or even remove, the trash can, and lower the word "Energy" so that the actual graph can be much larger? Can you also highlight the word "Kinetic" by using a pink-ish background behind the whole word, rather than an outline? I think

[2017-11-13 21:08] arouinfar commented on #904
@emily-phet here are the updated screenshots. Can you also take a look at https://github.com/phetsims/tasks/issues/904#issuecomment-343999733?

![espb-zoom-2](https://user-images.githubusercontent.com/8419308/32749258-0ba7ed0e-c87c-11e7-9c62-2dd63706a2e5.png)
![espb-options-2](https://user-images.githubusercontent.com/8419308/32749257-0b913442-c87c-11e7-9dbc-77c953d3f3a4.png)

[2017-11-14 01:57] emily-phet commented on #904
Thanks! I have everything I need.

[2017-11-14 01:57] #904 closed

[2017-11-21 19:40] jonathanolson commented on #900
Discussing with @phet-steele now.

[2017-11-25 20:57] veillette commented on #826
As an update, there are three examples of the conditional expression
[code]

one In moleculeShapeScreenView,js one is ExplorePanel.js and One in PaperNumberNode.js

Unassigning myself from this issue.

[2017-11-30 18:41] ariel-phet commented on #881
PhET15for15 is under way closing

[2017-11-30 18:41] #881 closed

[2017-12-04 19:56] arouinfar opened #905 "Add LoL to master checklists"
Moving forward, all new sims will be tested in the LoL harness and delivered to LoL, so we should add a few items to the master checklists.

We'll be meeting with LoL later this week, so the delivery process/desired metadata may shift slightly, so I'll hold off on drafting the checklist until then.

[2017-12-14 19:51] oliver-phet commented on #896
It sounds like we are going to proceed with moving to Youtube. Closing for now.

[2017-12-14 19:51] #896 closed

[2017-12-14 19:54] oliver-phet opened #906 "Move Vimeo teacher primers to YouTube."
@ariel-phet brought it up that we are going to proceed with moving our Vimeo primers to YouTube to gain "easy" (our hands off) translation.

[2017-12-15 22:47] arouinfar commented on #879
The final assets have been delivered to devs, closing.

[2017-12-15 22:47] #879 closed

[2017-12-18 17:37] samreid opened #907 "Investigate GitHub "projects""
I noticed a (new?) tab today on a GitHub repo called "Projects", we should look into it and see if it is helpful or not.

[2017-12-18 23:34] samreid commented on #907
I took about 4 minutes to try this out for Wave Interference, and set up columns and cards like so:

![image](https://user-images.githubusercontent.com/679486/34133290-2b2508c8-e411-11e7-9526-00f225bc2d75.png)

I do not (yet?) grasp the advantage of this over issue labels--probably because I have a lot of experience dealing with issue labels.  I'm closing this issue and moving on.

[2017-12-18 23:34] #907 closed

[2017-12-21 18:13] oliver-phet commented on #906
Some updates from today:

- Youtube appears to NOT support downloading. If we proceed, we may need to host videos on both Youtube (for translated subtitles) _and_ Vimeo (for download).

- Investigation of the Youtube API will be done by @mattpen.

[2017-12-28 17:31] ariel-phet commented on #903
Not sure if this is going to happen or not. Closing and will make a separate issue if it comes up.

[2017-12-28 17:31] #903 closed

[2018-01-02 15:44] mattpen commented on #906
Changes to the website and the Metadata API will be tracked here: https://github.com/phetsims/website/issues/660

[2018-01-11 00:55] jessegreenberg opened #908 "textDescription option should be removed"
While reviewing https://github.com/phetsims/sun/issues/332 I noticed that textDescription option is used in VerticalCheckBoxGroup, and a quick project search shows it appearing a number of places. This a11y option is quite old and isn't used anymore, all usages should be deleted.

[2018-01-11 00:56] jessegreenberg commented on #908
I am seeing usages in forces-and-motion-basics, joist, and sun.

[2018-01-11 01:04] jessegreenberg commented on #908
Removed, closing.

[2018-01-11 01:04] #908 closed

[2018-01-11 03:40] samreid opened #909 "Toolbox is one word"
While working on CapacitorLabBasics, I noticed that we sometimes use `toolbox` and sometimes use `toolBox`.  This disparity can potentially lead to incorrect variable, type or tandem names.  I checked the internet to see which is correct and it seems that "toolbox" gets 23,100,000 hits whereas "tool box" gets 16,700,000 hits.  Most of the dictionaries vote for "toolbox", so perhaps we should stand

[2018-01-11 03:41] samreid commented on #909
Note we should be consistent about "toolbox" vs "tool box" in comments, but it seems more important to be consistent about "toolbox" vs "toolBox" in code.

[2018-01-11 17:03] samreid commented on #909
As for our own code, we have around 600 occurrences of `oolbox` and around 60 occurrences of `oolBox`

[2018-01-11 17:46] samreid commented on #909
I changed tool box => toolbox in several files (code only, not comments yet), and ran a full fuzz test and didn't see any issues.  I'll commit, but there's a chance that the case-renamings will cause problems on mac or win.  I'll check with someone after commit.

[2018-01-11 17:51] samreid commented on #909
I messaged the developer channel on slack:

[2018-01-11 17:54] samreid opened #910 "Checkbox is one word"
Similar to #909 it seems we should make checkbox be one word and avoid "checkBox" or "check box".

Having a uniform custom will make it easier to avoid casing mismatch bugs, and will help us keep a consistent API for sim development and for PhET-iO clients.

[2018-01-11 17:56] samreid commented on #910
Google votes 9,020,000 votes for "check box" and 25,300,000 votes for "checkbox".

[2018-01-11 22:26] samreid commented on #910
Our codebase has 1176 occurrences of `heckBox` and 603 occurrences of `heckbox` and 137 occurrences of `heck box`.  So it seems we have been inclined to separate that into two words.  I'll search further for ground truth.

[2018-01-11 22:31] samreid commented on #910
Even wikipedia uses both forms in the 2nd paragraph:

![image](https://user-images.githubusercontent.com/679486/34850723-53790596-f6e4-11e7-88d9-0a634aab5fc2.png)

though checkbox appears 27 times on that page and "check box" appears 4 times.

[2018-01-11 22:33] samreid commented on #910
On MDN https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement "checkbox" appears 7 times and "check box" appears 0 times.

Likewise the spec refers to checkbox (17 times) and never "check box".  Note these are for the HTML element not the scenery component, but it seems we should follow the same logic.

I'm inclined to go with "checkbox".  I'll add lint rules and look at updating these.

[2018-01-11 22:39] samreid commented on #910
I noticed that @pixelzoom used "Check box" and CheckBox in sun--it would be good to get him to sign off before we start making changes.  @pixelzoom can you please review this issue and comment?

[2018-01-11 23:45] samreid commented on #909
Should we add lint rules to prohibit "tool box" in comments?

[2018-01-11 23:49] samreid commented on #909
I manually changed tool box => toolbox in comments and docs.  No lint rule yet, and technically we may not need one since all APIs are derived from code/strings.  Closing for now.

[2018-01-12 00:09] pixelzoom commented on #910
I'm fine with whichever you choose. Is this and #909 primarily motivated by consistency of phetioIDs?

[2018-01-12 00:15] pixelzoom commented on #910
Btw... I've used "check box" mainly for consistency with the UI toolkits I've used in the past.  E.g. JCheckBox (Java Swing), QCheckBox (Qt), CheckBox (X/Motif), ...

[2018-01-12 00:28] samreid commented on #910
This issue was discovered while working on making `phetioID`s consistent, but I would consider it nearly as important to have a consistent API for our sim development (to avoid case-related `undefined` bugs).

It seems odd because Java has `java.awt.Checkbox` but `javax.swing.JCheckBox`.  Why did they make this change?

Iterating through top hits in google search for "checkbox API":
* Android has

[2018-01-12 02:01] samreid commented on #910
After adding this lint rule, lint-everything reports:

This may take some time unless we can take error-free shortcuts.

[2018-01-12 02:05] samreid commented on #909
Before closing, I should make sure someone with Windows can pull the filename casing changes without a hassle.  @jessegreenberg can you please pull-all and see if you have any problems, say with `BiomoleculeToolboxNode.js` which had a case-only renaming?

[2018-01-12 02:23] samreid commented on #910
I changed checkbox to one word in the preceding commits.  Aqua is passing and lint (with new rule) is passing.  I also tested an instance proxies wrapper + launch and it worked OK.  Leaving open until we find out if Windows handles case changes OK.

[2018-01-20 00:02] oliver-phet opened #911 "Resubmit all Spanish HTML5 sim translations"
Task from https://github.com/phetsims/chipper/issues/563#issuecomment-358757182

@DianaTavares Can you please resubmit your translations (for all HTML5 sims)? This will cause a sim rebuild using a new build process.

[2018-01-20 00:14] oliver-phet commented on #911
@DianaTavares please comment in this issue once all sims have been resubmitted. Thank you!

[2018-01-22 19:44] DianaTavares commented on #911
It's ready! The Spanish and MX translations

[2018-01-22 21:55] oliver-phet commented on #911
Thanks @DianaTavares, closing for now!

[2018-01-22 21:55] #911 closed

[2018-01-23 01:54] jessegreenberg commented on #909
I was able to pull this with Windows, all looks good here. Closing.

[2018-01-23 01:54] #909 closed

[2018-01-23 02:19] jessegreenberg commented on #910
I was able to pull changes on my Windows machine, thanks @samreid. Closing this isssue.

[2018-01-23 02:19] #910 closed

[2018-01-24 00:20] emily-phet opened #912 "Flyers for MIT Event - need by EOD 1/26"
Just a heads up - I need two flyers created (or adapted from prior flyers) to send to MIT folks for their booth.

Both flyers would be focused on providing information about accessibilty work.
- One would be for a researcher or more technical audience (research questions and technical infrastructure).
- The other would be for a practitioner audience (what features we're developing, what's availabl

[2018-01-24 01:38] ariel-phet commented on #912
@emily-phet do you have a previous flyer to work off? Do you have the content figured out?

[2018-01-24 06:35] ariel-phet commented on #912
@oliver-phet said he could help out with this

[2018-01-24 11:41] emily-phet commented on #912
@oliver-phet we updated some flyers for accessibility for the Nov 8th event at NSF. I can find no files on this (on Google drive, in my email, in a previous Github issue). Crazy. Maybe we discussed on slack but search history won't let us go back that far?

@phet-steele printed them and shipped them to NSF, so he might remember something.

My hope is to adapt these.

[2018-01-24 17:16] oliver-phet commented on #912
@emily-phet is this the flyer you'd like to work off? https://drive.google.com/open?id=0B6CMwxdP0NGYLUwtSWRKek9pZTA

[2018-01-25 14:59] emily-phet commented on #912
@oliver-phet - there is a version of this flyer that has images of individual sims listing out the individual accessibilty features (like the front of the general phet flyer). I can't find it - I think Slack has eaten it and I can't remember who worked on (maybe @arouinfar?). If this file could be found, it would be helpful, but if not that's ok.

Turns out, they need the files for the flyers asap

[2018-01-25 15:06] oliver-phet commented on #912
@emily-phet I'll upload the general flyer and powerpoint to this folder: https://drive.google.com/open?id=1o3r9Fznt_mJAST7wQkzfRtQxMsrXfdfK

@arouinfar can you try to track down the accessibility flyer? We've both looked through drive, but haven't had luck yet.

[2018-01-25 16:11] oliver-phet commented on #912
@emily-phet the John Travoltage screenshot looks very crisp on my Mac. I turned off picture compression and re-saved the .pptx -- can you try opening to see if it is resolved? The image is very blurry if I try to export as a .pdf, however.
I can try exporting on a Windows machine this morning, too.

[2018-01-25 17:08] arouinfar commented on #912
@emily-phet @oliver-phet I tracked down the accessibility flyer in the FETC folder:
https://drive.google.com/drive/folders/0B6CMwxdP0NGYNUlYNG9RNWc5Z2M

[2018-01-25 17:32] oliver-phet commented on #912
@emily-phet I had to recreate the .ppt in .ai and I exported it as a .pdf
The latest general flyer is also uploaded.

We're still looking for the accessibility flyer you are describing.

Here's the folder: https://drive.google.com/open?id=1o3r9Fznt_mJAST7wQkzfRtQxMsrXfdfK

[2018-01-25 17:39] arouinfar commented on #912
@oliver-phet pointed out that I linked to the same flyer as in https://github.com/phetsims/tasks/issues/912#issuecomment-360206815.

@emily-phet could you be thinking of the work I did for ESPB in #904 or BAA in #880?

[2018-01-25 18:55] emily-phet commented on #912
@oliver-phet @arouinfar Looking at this now. From the comments I think I have everything I need. I'll just double check. I'll close this in a moment if all is good.

[2018-01-25 20:12] #912 closed

[2018-01-28 03:38] emily-phet opened #913 "Small edit to Camtasia (For Mac) or MP4 files - need by EOD Feb. 1"
Using Camtasia, I created two video files describing how to make accessible pdf files and word files. Since then, Word for Mac has changed, and I need these videos to remove any mention of Word for Mac removed.

I tried to do this myself, but cannot get Camtasia2 (on Mac) to remain open for more than 15 seconds or so. This could be an issue with my computer - it's old and quirky - or it could be t

[2018-01-29 16:54] ariel-phet commented on #913
Sounds like @arnabp can handle this task.

[2018-01-29 18:13] emily-phet opened #914 "Draft of PDOM Content for Rutherford Scattering (e.g., labels)"
@ariel-phet Please draft label, help, and static description content for this sim's PDOM.

I have created an outline for you to complete in this [a11y design doc](https://docs.google.com/document/d/1PxMAm5qjbYn_F8Buo_CH5cZ-Xb6D4ARjrAt3NAc5Kms/edit?usp=sharing). The section to be completed has the heading "Headings, Labels, and Help Text". Text in blue is for you to consider and edit. Red are notes

[2018-01-29 21:09] arnabp commented on #913
Can I get write permission for the necessary folders so I can add the new versions?

[2018-01-30 02:13] ariel-phet commented on #914
moved to https://github.com/phetsims/rutherford-scattering/issues/138 since this issue belongs in the sim repo not in tasks

[2018-01-30 02:13] #914 closed

[2018-01-30 12:01] emily-phet commented on #913
@arnabp I didn't realize it didn't already have write privileges. Sorry about that. Should be fixed now. Let me know if it's not.

[2018-01-30 18:13] arnabp commented on #913
All good now! I've uploaded Week2-Video4-v2.mp4 and Week2-Video3-v3.mp4 to their respective folders and updated both cmproj files. I did this on Camtasia 2 so it doesn't seem to be a compatibility issue.

[2018-02-02 20:39] emily-phet commented on #913
These look really great! Very smooth transitions! Thanks very much @arnabp

[2018-02-02 20:39] #913 closed

[2018-02-07 22:33] mattpen opened #915 "Confirm changes for profile pages"
@phet-steele - Can QA please confirm that the most recent changes for the profile pages haven't introduced any new bugs?

The issues are:
- [ ] phetsims/website-meteor#48
- [ ] phetsims/website-meteor#49
- [ ] phetsims/website-meteor#50
- [ ] phetsims/website#669

The components affected are the admin page tables for schools/orgs, the Add Your School/Org dialog, the School/Org autosuggest input, a

[2018-02-07 22:41] mattpen commented on #915
Wrong repo - handled in https://github.com/phetsims/QA/issues/91

[2018-02-07 22:41] #915 closed

[2018-02-08 17:58] amanda-phet commented on #506
Sure, can you send me the login?

[2018-02-10 12:52] emily-phet opened #916 "Figures - needed by Feb. 20th"
Figures:
- Figure 1: Screenshot of BASE on sim load
- Figure 2: Screenshot of RIAW on sim load
- Figure 3: Screenshot of JT on sim load - no pink boxes on arm/leg
- Figure 4: Two Panels - Left Panel: Only white slider control panel from RIAW sim, showing sliders in  a position different from the start, all numerical values not rounded (more difficult to work with). Right Panel: Only white slider c

[2018-02-12 17:42] ariel-phet commented on #916
@amanda-phet said that @CWilson4960 should be able to do these screenshots.

The other figure probably requires some illustrator work and would be good practice for @DianaTavares

[2018-02-12 20:51] amanda-phet commented on #916
@CWilson4960 do you think you can get to these by Wednesday 2/14?

[2018-02-12 22:12] amanda-phet commented on #916
@phet-steele can do these in 5 minutes so he is the best person to do them right now.

@emily-phet I think we need some clarification on the aspect ratio you want for screenshots, as well as some of the figures you are describing. Do you have time tomorrow to zoom about this?

[2018-02-13 18:24] emily-phet commented on #916
@amanda-phet I don't have a strong feeling regarding aspect ratio. The manuscript is single column, with really wide margins, so the 'usable' space for text/figures is a little over 4 inches wide. The most important thing is that the screenshots all have the same aspect ratio.

Unfortunately, I don't have much time today to spare. Can you summarize the questions here, and I'll take a look and see

[2018-02-13 19:03] amanda-phet commented on #916
(1) Figure 4: This is  a screenshot of the panel from the sim, correct? At first I was reading this thinking it would be a slider like the one in your example, but that's probably why I was confused.

(2) Figure 5: Do you want the entire JT sim in the screenshot, or just a cropped version like the one you showed as an example? Do you want the pie to look like the one in your example? Do you alread

[2018-02-13 19:04] samreid opened #917 "Factor out duplicated xss test code"
During https://github.com/phetsims/friction/issues/64 I noticed the following code:

balloons-and-static-electricity/js/balloons-and-static-electricity/BASEA11yStrings.js
[code]

friction/js/friction/FrictionA11yStrings.js
[code]

john-travoltage/js/john-travoltage/JohnTravoltageA11yStrings.js
[code]

joist
[code]

molecules and light
[code]
ohms-law
[code]

resistance-in-a-wire
[code]

scenery-ph

[2018-02-15 00:06] arouinfar commented on #905
**Pre-publication Items**
- [ ] [LoL icons](https://docs.google.com/document/d/1GmLNE31gs8hQYGze3xwmN9k7B6gu7lQ7wJe2phqdH9Y/edit) for each screen created and uploaded to Drive
- [ ] LoL [metadata](https://docs.google.com/spreadsheets/d/1umIAmhn89WN1nzcHKhYJcv-n3Oj6ps1wITc-CjWYytE/edit#gid=562591429) for each screen (description, vocab words, questions for before/after sim use)

**Post-publication

[2018-02-15 00:14] arouinfar commented on #905
Added to [sim_new_checklist.md](https://github.com/phetsims/phet-info/blob/master/checklists/sim_new_checklist.md) and [sim_port_checklist.md](https://github.com/phetsims/phet-info/blob/master/checklists/sim_port_checklist.md). Closing.

[2018-02-15 00:14] #905 closed

[2018-02-15 22:26] samreid opened #918 "www-legacy server commonly referred to as spot decommissioning scheduled for July"
I came across this article today: https://www.colorado.edu/today/2018/02/15/www-legacy-server-retiring-summer-2018

I also wasn't sure what this part meant:

Assigned to @ariel-phet to evaluate/prioritize/delegate.

[2018-02-16 00:56] ariel-phet commented on #918
@mattpen can you confirm that this is the url we care about:

https://www.colorado.edu/physics/phet/dev/?

Do we use so-called "spot" for anything else

[2018-02-16 01:23] samreid commented on #918
Here's a list of files and directories in https://www.colorado.edu/physics/phet

[code]

[2018-02-16 01:26] samreid commented on #918
I'm moving this issue over to https://github.com/phetsims/special-ops/issues/92

[2018-02-16 01:26] #918 closed

[2018-02-19 18:03] emily-phet commented on #916
@amanda-phet

(1) Figure 4: This is a screenshot of the panel from the sim, correct? At first I was reading this thinking it would be a slider like the one in your example, but that's probably why I was confused.
- yes, I'm referring to the white panel that holds all of the sim's sliders.

(2) Figure 5: Do you want the entire JT sim in the screenshot, or just a cropped version like the one you sho

[2018-02-19 20:07] phet-steele commented on #916
@amanda-phet @emily-phet @DianaTavares I believe the screenshots needed from me are done and placed here: https://drive.google.com/drive/folders/17vDCWhBtwLY3gTJ5B7_W8zenVE7SzBKG?usp=sharing

Let me know if anything else is needed. Have fun!.

[2018-02-20 18:48] terracoda commented on #916
@amanda-phet and @DianaTavares

Rough arrangement for 60 positions was somewhat like this, but I see my ranges here are more even than the the one in Jon Hung's diagram:

"Position 0, farthest from the door knob".

"Position 1 to 4, very far from the door knob".
"Position 5 to 9, far from the door knob".
“Position 10 to 14, neither far or close to the door knob”.
"Position 15 to 19, somewhat close

[2018-02-20 19:50] DianaTavares commented on #916
Hi @terracoda, this is the Figure. The .ai file is in Drive

![screen shot 2018-02-20 at 12 45 13 pm](https://user-images.githubusercontent.com/26031501/36445646-1c5b52f4-163c-11e8-900b-4cbc5baaf021.png)

What are the labels for the second pieJT Figure?  The description said that the pie have to show the "current description regions"

[2018-02-20 21:16] terracoda commented on #916
@amanda-phet and @DianaTavares , I think the circle needs to have a gap at the end.
I will draw some pictures and post asap. Likely tomorrow morning.

[2018-02-21 17:27] terracoda commented on #916
@DianaTavares, Looking great... just finished, my pencil drawing for the comparison. It is king of complicated and hard to see. Will take a closer shot, since you have done the upper one already.

[2018-02-21 17:32] terracoda commented on #916
@DianaTavares, could you put a gap in the red region to show that the it start at 0 and ends at 60?

[2018-02-21 17:35] terracoda commented on #916
@DianaTavares, I will add the text in the next comment
![figure-arm-comparison](https://user-images.githubusercontent.com/1902116/36495529-1eb8764c-1710-11e8-902e-27c790667b03.jpg)

[2018-02-21 17:52] DianaTavares commented on #916
I see that this pie has 9 section + 1 little section. And one section (the one closer to the door) is divided in other 4 sections, and the section in the bottom is divided in two. I am going to start with the pie for now.

 I don't see very well the text. Do I use the same color that the first pie?

[2018-02-21 17:54] terracoda commented on #916
@DianaTavares, it still has 12 regions...I am typing out text. Will post in a minute.

[2018-02-21 18:04] DianaTavares commented on #916
ok! first I made the  gap at the end of the first pie picture. I am no sure if you mean something like this. Because other option is to draw a black or red line between position 0 and 60. What do you like more?

![screen shot 2018-02-21 at 11 02 21 am](https://user-images.githubusercontent.com/26031501/36496885-e7f9cb88-16f6-11e8-9b2b-e6fe32b528c4.png)

[2018-02-21 18:05] terracoda commented on #916
Here's the text:
Postion -15: Farthest from doorknob. Last stop. [Type Landmark]

Position -14 to -12: Very far from doorknob. [Type Region]
 - Position -13: Hand poiting away from door, very far from doorknob. [Prefix adds orientation]

Position -11 to -9: Far from doorknob. [Type Region]

Position -8: Hand pointing straight up. [Type Landmark]

Position -7 to -6: Not so close to doorknob. [Type

[2018-02-21 18:12] DianaTavares commented on #916
this one has a better the gap at the end, because the red sections have the same side and the gap don't have a black line from the circle. Looks more like the end of a cicle.
![screen shot 2018-02-21 at 11 10 52 am](https://user-images.githubusercontent.com/26031501/36497283-19307eee-16f8-11e8-8b85-33197c5fdb34.png)

I start to work in the other picture

[2018-02-21 19:20] DianaTavares commented on #916
@terracoda

I made the divisions of the circle using your drawing. Three questions:
-I made the division as they are in your drawn. Do you want them that way or you want it all the same size?
-What do you think about the colors?
-I understand that you want some text inside the triangles, and some outside(o,1,-1 for example). But I don't understand if you want some text 6 and 8 and the full text fo

[2018-02-21 19:27] amanda-phet commented on #916
Another question for @terracoda :

Do you want position 30 (top panel) and position 0 (bottom panel) to be in the 3-o'clock position? Or would you like it rotated so that it is actually closest to the doorknob?

This is important to know because it will make the diagrams easier to compare if the decision is the same for both, and it impacts how @DianaTavares draws the segments in the circle becaus

[2018-02-21 19:29] terracoda commented on #916
Rotated so the green stripe is "At the doorknob."

[2018-02-21 19:31] terracoda commented on #916
The -8 and 7 are not perfect visually, but that's ok.
See the position numbers in this version of the John Travoltage:
https://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.36/john-travoltage-a11y-view.html?valueText

[2018-02-21 19:39] terracoda commented on #916
What is imporant to convey comparison is the following:
- reduction in number of positions from 61 to 31
- the new range orientation from -15 to 15 with 0 at the doorknob.
- the addition of landmarks and positions with orientation. I think logically these behave the same way.
  - Negative 8 and Positive 7 for straight up and straight down.
  - Negative 4 and Positive 4 for Pointing to upper and lo

[2018-02-21 19:57] terracoda commented on #916
Just going to throw this out there. From a designer's perspective, do think this would better compared with side by side vertical representations of the slider and slider content, and one clean picture of the pie on top of John's arm?

[2018-02-21 19:59] terracoda commented on #916
This is totally rough. Do you understand it?

![rough-side-by-side](https://user-images.githubusercontent.com/1902116/36502377-50385d0e-1724-11e8-86b8-dee48d97726d.jpg)

[2018-02-21 20:01] terracoda commented on #916
@DianaTavares, it might be way easier to display the text vertically, and it might actually communicate the comparison more efficiently.

What do you think?

[2018-02-21 20:14] DianaTavares commented on #916
for now I have this:
![screen shot 2018-02-21 at 1 10 29 pm](https://user-images.githubusercontent.com/26031501/36502920-a3c5e0e8-1708-11e8-97fc-fbf6dde026a0.png)

I rotate both pies, and now the green line match with the closer position from the doorknob.
But I don't see them like similares to compare. But put all the text around the second circle is not posible because it's a lot of text, and so

[2018-02-21 23:28] DianaTavares commented on #916
last version
![screen shot 2018-02-21 at 4 27 06 pm](https://user-images.githubusercontent.com/26031501/36511502-22f32838-1724-11e8-9528-a909ed61587b.png)

[2018-02-22 03:23] terracoda commented on #916
@DianaTavares, I think the last one is the best.

**Text Changes**
- Punctuation should be the same on both sides, e.g use colons on both sides and capitalize first word. (**sorry I didn't make that clear in the text I provided**)
- Fix **my typos** in -13 poiting -> pointing

**Design changes**
Any chance we can add some line-height to make things less crowded?
Add a title row with column headers

[2018-02-23 16:33] terracoda commented on #916
@emily-phet, @DianaTavares

I updated the illustrator file and uploaded new versions to the google drive folder and I created a hi-res JPG (also uploaded to the folder).

Waiting to hear back from @emily-phet to see if the JPG file looks nice when added to the manuscript.

For visual reference here the JPG file:
![figure5_jt-arm-comparison](https://user-images.githubusercontent.com/1902116/3660497

[2018-02-23 16:35] terracoda commented on #916
@emily-phet and @DianaTavares, in addition, I didn't see a way to make a PDF in illustrator of the figure which is why I created a hi-res JPG.

[2018-02-23 16:37] terracoda commented on #916
For documentation purposes, @emily-phet  and @terracoda decided to remove the circles and just go with the tables.

[2018-02-23 18:28] terracoda commented on #916
@emily-phet, @DianaTavares found some inconsistencies in font size that I introduced, and has cleaned that up. I will send you a new image.

[2018-02-23 18:44] terracoda commented on #916
@emily-phet, @DianaTavares fixed the font sizing.
I uploaded a new hi-res JPG file for figure 5 to the folder. where the font size is all the same size.

![figure5_jt-arm-comparison](https://user-images.githubusercontent.com/1902116/36610885-459271da-18ac-11e8-8457-f8e3d051e0d3.jpg)

[2018-02-23 19:40] terracoda commented on #916
Image has been approved. Closing the issue.

[2018-02-23 19:40] #916 closed

[2018-02-27 03:55] samreid opened #919 "Array.isArray() is preferable to instanceof Array"
Discovered in https://github.com/phetsims/axon/issues/172, according to MDN https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/isArray `Array.isArray()` is preferable to `instanceof Array`.  I noticed we have several places in our code that use `instanceof Array`.  Even if MDN's logic doesn't apply to our case, it may still be more idiomatic to use `isArray`. I

[2018-02-27 21:07] emily-phet opened #920 "Updated Artwork for Publication - need by end of day March 1st"
From a prior issue Dave worked on a diagram of the PDOM for a publication. That publication was accepted, though we need to update the PDOM figure prior to publication.

@terracoda is working on a mockup of the needed changes, and will upload those tomorrow.

Can someone be assigned to this - who can have a quick meeting with @terracoda Wednesday to iterate on some of the changes?

[2018-02-27 21:34] ariel-phet commented on #920
@DianaTavares I think you can handle these changes, they should be pretty simple.

[2018-02-27 21:38] DianaTavares commented on #920
It's a pleasure to work with @terracoda again :D
I am free any time Wednesday for the meeting

[2018-02-27 23:36] terracoda commented on #920
@DianaTavares, agreed. This one should be easier than the last one.

This is the figure that we need to update.
![screen shot 2018-02-27 at 19 49 31](https://user-images.githubusercontent.com/1902116/36760950-6363a0f0-1bf7-11e8-8b05-6f2ffc1dd34c.png)

Instead of showing two uncharged balloons, we want it to represent a single negatively charged balloon against the wall.

The upper Tree Diagram sho

[2018-02-27 23:59] DianaTavares commented on #920
What size should the image be?

[2018-02-28 02:05] terracoda commented on #920
@DianaTavares, the balloon in the little screenshot could contain fewer negative charges, if need be. And if so, the HTML content would need to change to, like this:
<img width="297" alt="screen shot 2018-02-27 at 22 31 56" src="https://user-images.githubusercontent.com/1902116/36765980-5fc62384-1c0e-11e8-97df-60eebdb38b43.png">
HTML
[code]

[2018-02-28 02:11] terracoda commented on #920
@DianaTavares, I can meet sometime after 20 am mountain time.

[2018-02-28 14:28] terracoda commented on #920
Great question. No wider than the column. we have some flexibility in height. I'll have to check the column. It might be the same width as the last one. I need to double check.

[2018-02-28 15:45] mattpen commented on #919
It looks like this is well supported now (http://kangax.github.io/compat-table/es5/#test-Array.isArray).  I'd say we should use Array.isArray moving forward.

[2018-02-28 15:46] terracoda commented on #920
@DianaTavares, the template says that the text columns are 8.45 cm (3.33") with a .83 cm
(.33") gutter.

So, the image should be no more than 3 inches wide, maybe no more than 3.33 inches. Does that make sense?

[2018-02-28 15:48] terracoda commented on #920
You should have access to the original image file. Dave Underwoord made it. I do not have access to it.

[2018-02-28 16:25] emily-phet commented on #920
The file should probably be located in the artwork folder on google drive - everyone should have access. If it’s not there, please email Dave directly to track them down.
If you’re not able to get access quickly, it’ll probably easier to just start from scratch. The lowers portion of the figure will be re-done anyway, so it’s only the upper boxes that would be duplicate work.

[2018-02-28 17:15] DianaTavares commented on #920
I already start the work and I have the boxes, then I don't need the file. Thanks for the size picture, no more that 3",I have it.

[2018-02-28 17:19] pixelzoom commented on #919
Ah, gotta love JavaScript... Apparently even `instanceof` can't be relied on for all types, and you need to understand subtle "under the hood" details to implement (what should be) simple type checks.  But I digress...

The argument against `instanceof` seems to be that ["it fails when checking arrays across frames, since the Array constructor used for the instance will likely be different to the

[2018-02-28 17:24] jessegreenberg commented on #919
+1 for `Array.isArray`, according to [this jsPerf test](https://jsperf.com/array-isarray-vs-instanceof-vs-constructor-check) it is also faster (though probably negligible in the scheme of things).

[2018-02-28 17:25] pixelzoom commented on #919
Searching all .js files...
40 occurrences of `instanceof Array`
273 occurrences of `Array.isArray`

[2018-02-28 17:54] pixelzoom commented on #919
If we're really worried about the "across frames" issue, then we also shouldn't be doing `if ( o.constructor === SomeConstructor )`.   But how else can you test for a specific type?

[2018-02-28 18:19] pixelzoom commented on #919
From https://shamasis.net/2011/08/infinite-ways-to-detect-array-in-javascript/

Miraculous?... I had a different adjective in mind.  Especially after examining these checking hacks.

It gets better:

[code]

Poking around in StackOverflow, etc... The above is apparently the recommended polyfill when `Array.isArray` isn't available.  I'm having trouble typing with my jaw on the keyboard.  Relying o

[2018-02-28 20:15] DianaTavares commented on #920
it's ready

![balloonwall](https://user-images.githubusercontent.com/26031501/36810925-68484250-1c89-11e8-8c06-ba9269a39fdd.jpg)

[2018-02-28 22:43] jbphet commented on #919
+1 for `Array.isArray`.

[2018-03-01 05:30] jessegreenberg commented on #919
I am also wondering about @pixelzoom question in https://github.com/phetsims/tasks/issues/919#issuecomment-369324858, are we actually worried about the cross frame issue? If so, it would probably be for PhET-iO or third party (like LoL) reasons?

[2018-03-01 06:27] Denz1994 commented on #919
+1 to use Array.isArray. In response to @pixelzoom [comment](https://github.com/phetsims/tasks/issues/919#issuecomment-369324858) is it possible to employ some form of duck typing in cases where cross frame issues are an issue? I believe there are certain limitations such as:

But could unique methods to `o.constructor` be used to compare to `SomeConstructor` to determine type equivalency? These m

[2018-03-01 06:31] samreid commented on #919
Aren't our constructor tests all within-frame?

[2018-03-01 17:07] pixelzoom commented on #919
@samreid asked:

Yes.  But cross-frame issues appear to be the (only?) reason to be concerned about Array.toArray vs instanceof.   So if we're not concerned with cross-frame issues, why not do nothing and close this issue?

[2018-03-01 17:19] jonathanolson commented on #919
If we are worried about these types of checks not working cross-frame, we would also need to do checks for Vector2 or any other type like this. For instance, if you have a Vector2 object from a sim iframe (and you type check it in another frame), you would presumably need `instanceof iframe.contentWindow.phet.dot.Vector2`, since it would be different than a Vector2 defined locally.

This may show

[2018-03-01 17:27] pixelzoom commented on #919
@jonathanolson said:

Does anyone know ES5 added Array.isArray, but nothing similar was added for Number, String,... ?

[2018-03-01 17:28] jonathanolson commented on #919
Not sure, but we should generally be using raw numbers instead of using the `Number` type.

[2018-03-01 17:29] samreid commented on #919
Because `typeof` is intended to be used for numbers and strings.

[2018-03-01 17:35] pixelzoom commented on #919
@jonathanolson said:

Ah right... Use of the wrapper types (Number, String,...) is now generally discouraged, flagged as such by WebStorm. (I'll resist the urge to go off on another JS rant here.)

[2018-03-01 20:11] samreid commented on #919
We'll go with `Array.isArray`

[2018-03-02 14:52] terracoda commented on #920
@DianaTavares thanks for your work on this. All files are uploaded to google drive. I am closing this issue.

[2018-03-02 14:55] #920 closed

[2018-03-03 00:35] jbphet commented on #919
@arnabp - let's discuss this at our next meeting before you do this.

[2018-03-06 01:34] ariel-phet commented on #894
I am pretty sure all artwork has been made. Closing

[2018-03-06 01:34] #894 closed

[2018-03-06 01:35] ariel-phet commented on #789
Currently Function Finder is on hold (possibly indefinitely). We will reopen this issue if it comes back to the table.

[2018-03-06 01:35] #789 closed

[2018-03-06 01:36] ariel-phet commented on #779
@phet-steele can this be handed off to @CWilson4960 perhaps?

[2018-03-06 01:39] ariel-phet commented on #889
Moving to QA repo.

[2018-03-06 01:39] #889 closed

[2018-03-06 01:46] ariel-phet commented on #309
Closing this, as we seem to have not addressed this in 1.5 years

[2018-03-06 01:46] #309 closed

[2018-03-06 01:55] pixelzoom commented on #894
There may be artwork required from the screen icons.  But we'll deal with that in https://github.com/phetsims/equality-explorer/issues/14.

[2018-03-06 02:50] ariel-phet commented on #547
Seems to be a non-issue now. Closing

[2018-03-06 02:50] #547 closed

[2018-03-06 02:55] ariel-phet commented on #572
@oliver-phet - I think we need to just drop support for anything new in Java-land. If you get further requests, just point people towards HTML5 and let them know that nothing new is being done with our legacy sims. Feel free to close out the related unfuddle issues.

[2018-03-06 02:56] ariel-phet commented on #496
This is fine for now. Closing

[2018-03-06 02:56] #496 closed

[2018-03-06 03:07] ariel-phet opened #921 "Update Sim Design Elements document"
@DianaTavares this would be a good task for you:

Please read carefully through the [Sim Design Elements document](https://docs.google.com/document/d/1rpp0vT7-bGUs_5tZP_77-HM8PnaGbIDQ5DGNygX5CBo/edit)

[2018-03-06 03:15] samreid commented on #658
I've got this working (must be in another issue), but I press alt+shift+cmd+R and it inserts a require statement at the right spot. Closing.

[2018-03-06 03:15] #658 closed

[2018-03-06 03:18] samreid commented on #700
We have standardized on `self` and have a lint rule to enforce it, closing.

[2018-03-06 03:18] #700 closed

[2018-03-06 03:18] samreid commented on #720
This is somewhat of a moving target as node/chrome evolve, but it's good to know it exists.  Closing.

[2018-03-06 03:18] #720 closed

[2018-03-06 03:23] samreid commented on #826
I know it's been a while, but this still seems good to investigate when there's time.

[2018-03-06 03:44] ariel-phet commented on #650
This might come up again if our QA hire has some teaching background

[2018-03-06 05:25] #572 closed

[2018-03-06 05:30] jonathanolson commented on #722
The --debugHTML flag triggers the building of the _debug version. Deployments for perennial pretty much all build this when possible. For phet-brand, it is not uglified (phet-io minifies and mangles without stripping assertions). Assertions are turned on for these builds (the `phet.chipper.isDebugBuild` flag is set to true in the template).

[2018-03-06 09:24] jonathanolson commented on #826
Fixed and tested.

[2018-03-06 09:24] #826 closed

[2018-03-06 16:53] samreid commented on #722
Sounds great @jonathanolson, reassigning to @phet-steele to evaluate if/how QA should leverage these builds, if at all.

[2018-03-06 17:07] samreid commented on #663
I'm seeing a number of:

[code]

I'll treat it as a special case as I go through.

[2018-03-06 17:11] samreid commented on #663
I cleaned up some cases where it was clear that `options &&` was incorrect.  In many cases, `options &&` was checked in the main options declaration--so I left those alone.  I'll create a new issue for the canvasBounds, closing.

[2018-03-06 17:11] #663 closed

[2018-03-06 17:13] samreid opened #922 "Is canvasBounds required?"
In https://github.com/phetsims/tasks/issues/663#issuecomment-370853957 I noted 5 occurrences of:

[code]

It seems these were mainly introduced by Schmitz.  Are they necessary?  Is canvasBounds optional or required?  What happens if it is not passed in?   Should there be an assertion in CanvasNode?  I suspect @jonathanolson will be able to answer these questions most efficiently.

[2018-03-06 17:17] samreid commented on #730
It's difficult to imagine retrofitting old APIs with Approach 3 or 4 (unless they have minimal usage or need major surgery), but perhaps we should keep those ideas in mind as we develop new common code components (which we are doing with notably less frequency these days).  Let's close for now, this closed issue can be a reference for what to do next time we have a common code component.

[2018-03-06 17:17] samreid commented on #731
Closed since #730 is closed.

[2018-03-06 17:17] #731 closed

[2018-03-06 17:26] jbphet commented on #720
I use Chrome all the time for debugging rosetta (which is a Node.js server app), and it works well and has been extremely helpful.

[2018-03-06 17:28] pixelzoom commented on #730
I doubt that anyone will keep these ideas in mind if the issue is closed - we're more likely to continue to use flat options and propagate the entire options hash. Vegas is about to get a bunch of new components.  And I suspect that common components in general will see significant revisions as we continue to outfit for PhET-iO, a11y, sonification, etc -- which are all likely to involve more optio

[2018-03-06 19:41] jonathanolson commented on #922
The CanvasNode doesn't care about canvasBounds until it needs to be rendered. (it's required for it to be displayed, but not required for its construction).

[2018-03-06 19:55] samreid commented on #922
It seems we should remove the assertion.

[2018-03-06 20:19] DianaTavares commented on #921
Wow, it's a big document.

But if I see that a sim follow other rules, do I have to update the document?  For example, the document said that the colors of acceleration and velocity are:

![screen shot 2018-03-06 at 1 18 05 pm](https://user-images.githubusercontent.com/26031501/37056190-dff5bef2-2140-11e8-99b6-d04201fc7f48.png)

But in the proyectil motion the colors are:

![screen shot 2018-03-06

[2018-03-06 21:29] emily-phet opened #923 "Tagged PDF for manuscript submission - need end of day Thursday"
We need a pdf file with tags and alt text submitted for a publication. We have run into difficulties doing this (@terracoda, @jessegreenberg, and myself) and may need a team effort for a short time on Thursday.
Here's the difficulty - a single page (page 7) of the eight page document will not allow us select or tag any content. Essentially, the page seems to be like one big unselectable image to A

[2018-03-06 22:36] ariel-phet commented on #923
@emily-phet have you contacted anyone at disability services? Someone like Alaina? This seems more in their wheelhouse

[2018-03-06 22:38] ariel-phet commented on #923
Will ask @arnabp as well...since he tends to be our resident random tech savvy person

[2018-03-07 00:01] ariel-phet commented on #921
@DianaTavares for an example like projectile motion, best to add to the document, instead of update. Perhaps in this case show color schemes that have been used. I believe masses and springs and Pendulum lab use the same conventions as projectile motion. There does not have to be a single standard, but we should note the standards we are using.

[2018-03-07 17:25] ariel-phet opened #924 "CoSN conference materials"
@oliver-phet here is what I am thinking I should have for the CoSN conference pod

- [x] some app fliers definitely (200?)
- [x] some general fliers (maybe?)
- [x] PhET general business cards (2 packs maybe)
- [x] Business card holder/display
- [x] iPad Air with app loaded
- [ ] Perhaps some stickers

Any thoughts? probably easiest for me to grab this stuff Thursday, but Friday would be fine too.

[2018-03-07 17:48] oliver-phet opened #925 "NSTA conference list"
**Booth 1308**

- [x] app fliers
- [x]  general fliers
- [x]  PhET general business cards
- [x]  Business card holder/display
- [x]  iPad Air with app loaded
- [ ] Chromebook with app loaded
- [x] Projector
- [x] Banner (booth and popup)
- [ ] Updated video loaded on projector computer

[2018-03-07 18:08] phet-steele commented on #925
@ariel-phet please review the video at https://github.com/phetsims/phet-info/tree/master/conferences and let me know if it should be updated.

[2018-03-07 18:16] phet-steele commented on #925
Nevermind, @arouinfar can you review instead please.

[2018-03-07 18:49] arouinfar commented on #925
@phet-steele I reviewed the ISTE 2017 and NSTA Stem Forum 2016 videos. I think the older NSTA video is a good one to build from. It's about a minute shorter than the ISTE video, which is why I've recommended more adding than swapping/removing.

- [ ] Add CCK: DC
- [ ] Add Projectile Motion
- [ ] Add Gravity and Orbits
- [ ] Add States of Matter (use ISTE clip)
- [ ] Remove Graphing Lines
- [ ] Swa

[2018-03-07 23:46] oliver-phet commented on #924
@ariel-phet Everything checked above has been left in @phet-steele's office. He'll get the iPad ready.

[2018-03-08 15:36] terracoda commented on #923
@ariel-phet and @emily-phet, ideally, we need a person who has access to a Windows computer with a recent or latest version of MS Word and Adobe Acrobat Professional, or Adobe Acrobat DC.

I have put all the files on google drive conference folder.

[2018-03-08 17:36] emily-phet commented on #923
Responding to the comment about asking folks in disability services -
I haven't reached out to them, since the problem isn't a typical issues. It's not a "how do I make this accessible" kind of problem - it's a "how do I deal with some issues likely in the ACM manuscript template" kind of problem.

[2018-03-08 19:51] arnabp commented on #923
I have an up to date windows computer, but I don't have Adobe Acrobat Pro or DC so I may not be much help. Which files should I be looking for in the google drive conference folder?

[2018-03-08 22:47] terracoda commented on #923
Thanks @arnabp, @emily-phet and I found the main source of the problem after much effort.
One figure on page 7 was corrupting the page some how. We replaced the image and I was able to tag the pdf.

Adobe's a11y checker says there are still a coupe of issues.

I have sent everything to @emily-phet.

@emily-phet, please close issue when you submit the manuscript.

[2018-03-08 23:53] samreid opened #926 "See if we need to factor out MathSymbols"
From https://github.com/phetsims/scenery-phet/issues/353#issuecomment-371595507

I'm listed as responsible for:
- [x] Bending Light  - uses the % sign
- [x] Circuit Construction Kit: family -voltmeter and ammeter have negatives
- [x] Energy Skate Park: Basics
- [x] Fraction Matcher - equals sign and greater than/less than (stylized, may be scenery nodes)
- [x] John Travoltage
- [x] Protein Synthes

[2018-03-09 00:04] samreid commented on #926
Reported in the parent issue, closing.

[2018-03-09 00:04] #926 closed

[2018-03-09 13:59] terracoda commented on #923
@emily-phet submitted manuscript, so closing this issue.

[2018-03-09 13:59] #923 closed

[2018-03-09 17:50] ariel-phet commented on #924
Got what I needed. Closing.

[2018-03-09 17:50] #924 closed

[2018-03-09 20:11] DianaTavares commented on #921
I show the document to @Amy and she is agree that should be some standards (in special for the colors used) and suggest a space probably in a meeting design or other meeting for get an agreement.

I can work in a color proposal if you told me in what sim  I should base. As I show with the red color used for thermal energy, all the sims use different colors.

You can review the document and my ques

[2018-03-10 20:15] pixelzoom commented on #919
@arnabp @jbphet It looks like Arnab is not using the PhET code style, the formatting on these changes is incorrect.  E.g. in https://github.com/phetsims/vibe/commit/18b9bdf97e5fe31e37b3bab290bac9e12b9ac8f4:

`Array.isArray(soundInfoArray)` should be `Array.isArray( soundInfoArray )`

It looks like all of the files that were touched by commits will need to be reformatted.

[2018-03-10 20:26] pixelzoom commented on #919
In the above commits, I fixed formatting of `Array.isArray` across the entire PhET code base.

@arnabp Before you make any more changes to PhET code, please consult with one of the PhET developers about installing the PhET code style for your IDEA.

[2018-03-11 06:11] arnabp commented on #919
Ah I'm sorry, I have the code style installed, but I have to manually ask webstorm to reformat the code, so I'm still getting used to it. I'll make sure it doesn't happen again.

Is there a way to have it auto-reformat code that I'm unaware of or are the manual reformats standard practice?

[2018-03-11 14:10] samreid commented on #919
In the commit dialog, you can select "Reformat Code" in the Before Commit section:

![image](https://user-images.githubusercontent.com/679486/37254443-8350d4fe-2503-11e8-8d5f-189a1d11030f.png)

[2018-03-11 22:45] pixelzoom commented on #919
@arnabp If you use the  "Reformat Code" feature shown above, be a tad careful.  If a file isn't formatted correctly to begin with, then you can end up obscuring the significant changes due to a bunch of formatting changes.  If the file format doesn't match PhET code style to begin with, it's preferable to update the formatting as a separate commit.

[2018-03-12 04:07] samreid commented on #922
@jonathanolson just to clarify, should we remove the 5 assertions mentioned in the issue description?

[2018-03-12 04:43] samreid commented on #730
Should we label this for developer meeting to raise awareness?

[2018-03-12 17:44] jonathanolson commented on #922
Sounds fine in general, but if they always need `canvasBounds` up-front (and will never change), an assertion at the start sounds fine.

[2018-03-12 18:21] samreid commented on #922
@jonathanolson said it's OK to keep these assertions where we know the `canvasBounds` is not set elsewhere.

[2018-03-12 18:21] #922 closed

[2018-03-13 18:02] DianaTavares commented on #921
Sorry, looks that the file that I was using was a very old file. This is the new file:
https://docs.google.com/document/d/1rpp0vT7-bGUs_5tZP_77-HM8PnaGbIDQ5DGNygX5CBo/edit#

[2018-03-13 19:42] phet-steele commented on #925
Video uploaded to github.

[2018-03-13 21:00] oliver-phet commented on #925
Booth bag left with @arouinfar. Have a great conference @arouinfar @DianaTavares @Denz1994!

[2018-03-13 21:00] #925 closed

[2018-03-13 21:56] arnabp commented on #919
Thanks everyone! I've updated my IDE and I'll definitely be getting in the habit of reformatting manually to begin with.

[2018-03-13 21:56] #919 closed

[2018-03-13 22:31] pixelzoom commented on #919
Thanks @arnabp, overall nice job on this issue. And no big deal about the formatting, just wanted to make sure you were on board with the PhET code style.

[2018-03-14 23:52] jbphet commented on #730
This issue is quite long, and was closed and then reopened with a comment about "raising awareness". I'm assuming that we will discuss and disseminate at the developer meeting and that further input on whether we should migrate old code to on of the new approaches is not desired at this point.

I will be developing new common code components in support of sonification, so it would be good to emerg

[2018-03-15 02:55] arouinfar commented on #921
Nice work @DianaTavares! I've added some comments to the doc. I think it would be good to discuss as a group sometime. Not sure if there will be time to discuss in keyboard nav meeting anytime soon, so perhaps better to request design meeting time.

[2018-03-16 17:35] samreid opened #927 "Should we be consistent about using “chart” vs “graph” in our user interface text?"
From Slack:

Should we be consistent about using “chart” vs “graph” in our user interface text? I see:
Masses and Springs “Energy Graph”
Acid base Solutions “Graph”
Energy Skate Park: “Bar Graph”
Hookes Law: “Bar Graph”
Pendulum Lab: “Energy Graph”
Neuron: “Potential Chart”
Energy Skate Park: “Pie Chart”
And Wave Interference has “Graph” in the mock-up

Steele Dalton [10:56 AM]
https://english.sta

[2018-03-16 17:50] samreid commented on #927
@amanda-phet said:

[2018-03-16 17:52] pixelzoom commented on #927
If there are any sim-specific changes to be made, please create sim-specific issues.

[2018-03-21 15:05] samreid opened #928 "Java 10 testing"
Java 10 came out yesterday, do we want to schedule testing for it?

https://www.oracle.com/corporate/pressrelease/Java-10-032018.html

[2018-03-21 15:57] ariel-phet commented on #928
Yes, I will make a QA issue. Closing

[2018-03-21 15:57] #928 closed

[2018-03-21 17:01] ariel-phet commented on #927
Seems like a good topic to bring up when @kathy-phet is available since she will have more historical context. I will plan on bringing up in design meeting sometime in April, but definitely not a pressing issue.

[2018-03-21 20:07] phet-steele commented on #17
Moved to phetsims/QA/issues/110.

[2018-03-21 20:07] #17 closed

[2018-03-29 17:33] samreid commented on #730
The proposed approach is to pass options objects for sub-components as described in https://github.com/phetsims/tasks/issues/730#issuecomment-370860967.

After everyone has "signed off" on this issue, we'll close it and reference it from the code review guidelines.

[2018-03-29 17:35] samreid commented on #730
Assigned to @jbphet to review the preceding comment and add a reference to this to the code review guidelines.  Let us know if you have any questions.

[2018-04-02 21:10] jbphet commented on #730
I've reviewed the comment and added a checklist item to the [code review checklist](https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md), which is what I think @samreid was suggesting in the comment just above.  @samreid - please review and close, edit, or reassign back to me at your discretion.

[2018-04-02 22:37] samreid commented on #730
Looks great, thanks!  Closing for now.  Once reviewers are using the new documentation/pattern, they may have recommended changes--in that case we can reopen this issue and discuss further.

[2018-04-02 22:37] #730 closed

[2018-04-10 23:49] zepumph opened #929 "Proliferation of Properties named `activeProperty`"
From https://github.com/phetsims/joist/issues/479, I'm not sure that this is even an issue.

I wonder if having so many different usages for the term activeProperty is troublesome. I think of it as a code smell, as it makes for many false positives when searching for it across the project, but I am curious about how other devs feel about this. Currently I count 6 `activeProperty = new` declaration

[2018-04-11 21:46] pixelzoom commented on #929
I see no problem with naming something `activeProperty`.  As with any other Property or property, the name is disambiguated by the context.  E.g. `Sim.activeProperty` tells me that the Sim is active; `Screen.activeProperty` tells me that the Screen is active.  If there are some `activeProperty` names that are unclear, that's a different problem.

[2018-04-11 21:47] pixelzoom commented on #929
As an analogy...  I see 29 occurrences of `visibleProperty = new`, 35 occurrences of `enabledProperty = new`.   Why would `activeProperty` be treated differently?

[2018-04-11 21:58] zepumph commented on #929
It wouldn't be treated differently in my book, I just didn't notice the other names. If we don't think that it is beneficial to rename these then I'm fine with that. I have found that it makes it hard to find all usages without getting false positives, but no matter it isn't a large problem by any means.

[2018-04-11 23:50] jessegreenberg commented on #929
I agree with https://github.com/phetsims/tasks/issues/929#issuecomment-380605895. Actually, I think it could be more confusing for Sim and Screen to both have an axon Property that indicates whether or not they are "active", but have them named different things.

[2018-04-12 00:03] samreid commented on #929
@zepumph maybe instead we should make a change to the studio so that if it detects a name clash, then it will get include the preceding part of the PhET-iO ID (before the last dot) to disambiguate.

[2018-04-13 19:30] zepumph commented on #929
I think we have heard a consensus, and I have also been convinced (3 to 0). Closing. We will leave these named the same.

[2018-04-13 19:30] #929 closed

[2018-04-18 04:35] samreid opened #930 "Required options/named parameters"
In a few places in the Area Model review https://github.com/phetsims/area-model-common/issues/99 I noticed that `options` was being used for a named parameter pattern instead of a pure "options" pattern (where values are truly optional and have reasonable defaults).  I have had the need to do something like this myself in a few places.  I'm wondering if we should:

(a) broaden our definition of "o

[2018-04-18 19:38] samreid opened #931 "Decide on scope for constants"
From CalculationNode.js for Area Model review https://github.com/phetsims/area-model-common/issues/99

[code]

[2018-04-18 19:47] samreid commented on #930
Also from the code review:

[code]

[2018-04-18 20:00] zepumph commented on #930
I would be fine with required params in options as long as the documentation was solid. I worry about inconsistencies about how we document objects playing into the effectiveness of communicating that a parameter is required for the type.

Let's say we settle on the above documentation as the recommended approach for documenting options (not sure it is), then I would like to see something like:

[2018-04-18 20:02] zepumph commented on #931
If CalculationNode.js was 2000 lines of code, I may agree with @jonathanolson, but since it is barely 200, I think I agree that uppercase and in the `// constants` section is a bit cleaner for an outside coder to come across.

[2018-04-18 22:10] jbphet commented on #930
IMO, options should be optional.  I've coded all my sims that way and that is my expectation when looking at other developer's sims, and it will increase the difficulty of interpreting other developers' code if we don't all follow this convention.  If there are parameters that are required, I think they should either be separate individual arguments if there are only a few, or if grouping them tog

[2018-04-18 22:49] samreid commented on #930
To provide examples of the preceding comment:

[code]

[2018-04-19 00:11] jonathanolson commented on #930
I'm totally fine with `config` for required things and `options` for optional things. I just want a nice clean pattern to use when we would have a mess of listed parameters that is hard to read at the call site otherwise.

[2018-04-19 00:28] pixelzoom commented on #930
No.

Yes

No.  If you have something that complex, you probably need a new type, or at least a data structure type.

No. Keep it simple.  Named parameters are required.  Options are optional, and default values are provided for anything that is optional.  If your argument list gets too long, consider a data structure type, or live with it.

[2018-04-19 00:32] pixelzoom commented on #931
There's nothing preventing you from using uppercase for constants in local scope.  Uppercase is not reserved for the `// constants` section.

[2018-04-19 01:11] jonathanolson commented on #931
Agreed. When we do es6+, this would be nice:
[code]

and things like this I believe are harder to read:
[code]

furthermore, say we do the above usage, but then run into a case where we want the arrow size to be some that is NOT a constant (say, depends on options). Then we need to take the chain of everything that "was" a constant and rename it so it doesn't look like a constant?

[Google's style

[2018-04-19 01:25] jonathanolson commented on #930
The original example is AreaChallengeDescription, where descriptions are created like:
[code]
and you are saying we would prefer:
[code]
which is WAY harder to read. And if it's that complex, I don't know what you mean by a new type, because AreaChallengeDescription is meant to be an object with those properties. It IS the data structure type.

So, do people actually prefer the second one without

[2018-04-19 02:58] samreid commented on #930
In my opinion, inventing another "named, required parameters" object that could be supplied in parallel to `options` sounds horrible.  Let's say I have a complex type that has 3 required unnamed parameters, and an options object which takes 14 options.  If I want to make one of the options required but named, it seems odd to take it out of the options object and create a different "config" object

[2018-04-19 05:13] jonathanolson commented on #930
So... what if we take everything named `options` right now and name it `config`? Does that solve the problem (since some configuration fields may be required, and some may be optional)?

[2018-04-19 15:32] jessegreenberg commented on #930
For AreaChallengeDescription I was imagining something like this:
[code]

I would prefer this to an object that can have both required and optional fields, even if it is renamed to something other than  "options".

[2018-04-19 15:35] zepumph commented on #930
The this passes the burden onto `DescriptionConfig`, how do you create that type? One object with named, required params, or individual named args. @jonathanolson's qualms in https://github.com/phetsims/tasks/issues/930#issuecomment-382579658 still apply.

[2018-04-19 15:46] pixelzoom commented on #930
@jonathanolson asked:

No. Using an object literal data structure (sin the current implementation of AreaChallengeDescription) is fine.

[2018-04-19 15:48] pixelzoom commented on #930
I think @jessegreenberg has the right idea.  Keep optional things in `options`.  Bundle (related!) required things in `config`.

[2018-04-19 15:49] pixelzoom commented on #930
I think @jessegreenberg has the right idea.  Keep optional things in `options`.  Bundle (related!) required things in `config`.  But `config` doesn't need to be a type, it can be a literal (duck type).

[2018-04-19 15:51] zepumph commented on #930
I like the idea of using `{Object} options` param for optional and using `{Object} config` for required args (options still always last). But it sounds like there was some push back on that. It is probably a bit confusing to have both.

[2018-04-19 15:54] jonathanolson commented on #930
That also sounds inconvenient if we need to have a separate nested config object alongside a nested options object (for components that things through). Maybe that can be avoided?

[2018-04-19 16:11] pixelzoom commented on #930
I'm fine with mixing required and optional fields in `config`, as long as they are well-documented, and provide defaults using `_.extends` (ala `options`).   I am not OK with putting required fields in `options`.

[2018-04-19 19:36] jonathanolson commented on #930
Current proposal:

- We can use the "options" pattern for things are required. When this happens, it should NOT be called `options`, but should generally be called `config`.
- Any required fields in a `config` should have assertions making sure they are present.
- The same nested "config" pattern would be used (like we do for options).

Uncertain:

- Some prefer calling functions like `f( config,

[2018-04-19 19:36] jonathanolson commented on #930
Leaving dev meeting tag for more discussion. @jessegreenberg, can you provide feedback in advance of the meeting?

[2018-04-19 19:39] samreid commented on #931
Module level constants are for things used throughout a file, or things that may need to be tweaked in that file.  OK to have local variables that are used in localized spots.

[2018-04-19 19:40] #931 closed

[2018-04-19 23:43] jessegreenberg commented on #930
I think it could be confusing to have optional fields in `config`. Why wouldn't these be in `options`?

We won't have to worry about this if we put optional fields in options. I could learn to look through `config` to learn which fields are optional and required, but that changes how we previously used options. I don't understand the benefit of changing yet.

[2018-04-20 07:53] jonathanolson commented on #930
Examples for config only (`One`), or config and options (`Two`):

[code]

Things get more complicated if you want to require some things (like a `font:`) but pass them to e.g. a mutate. Then you need `this.mutate( _.extend( {}, config, options ) )`?

Is the inconvenience of having twice the _.extend calls, twice the number of input parameter objects, etc. worth the potential confusion from having

[2018-04-20 18:28] pixelzoom commented on #930
The `new One(...)` examples are fine with me.  But 2 questions:

(1) How do you propose to document which properties are required vs optional?  `@param {Type} requiredParamName` vs `@param {Type} [optionalParamName]` clearly communicates this for function parameters.  But that documentation style doesn't apply well to `config`.

(2) Do you intend to provide assertions for all `config` properties t

[2018-04-20 18:30] pixelzoom commented on #930
Re (3)...  I anticipate that the argument for not filtering will be "we don't do it for `options now`, why should we do it for `config`?"   I'm not buying that argument.  And I propose that we should "filter before propagating" for both `config` and `options` going forward.

[2018-04-20 19:31] zepumph commented on #930
We could add our own `@optional` (not legal jsdoc) to the doc of params like:
[code]

+1

Although this is a code smell, I see it complicating every file to manually  filter before propagation, often unnecessarily. Could we solve this with naming conventions, for subtypes having `{{type}}Parameter}}`?

[2018-04-23 23:15] samreid opened #932 "Create a reverse polyfill to facilitate cross-platform compatibility"
From slack:

A lint rule would be nice but cannot cover all bases because it doesn't know the runtime types.

This issue is to decide if we want to investigate something along these lines.

[2018-04-24 02:30] jonathanolson commented on #930
I'm not sure yet. `// {string} (optional) - Blah blah blah`?

Yup.

I'll do this going forward.

[2018-04-24 19:28] samreid commented on #932
From slack:

Chris Malley [1:01 PM]
Why is the reverse polyfill needed if we have a lint rule?

Sam Reid [1:02 PM]
Some cases cannot use lint rule, such as the first example in #932
Generally, it is OK to call someArgument.find(…), but we have to know the runtime type of someArgument to know if it is illegal.
Lint does not know runtime types.

Chris Malley [1:04 PM]
reverse polyfill just sounds li

[2018-04-26 15:33] zepumph commented on #932
I am unsure that we need to devote time to the reverse polyfill. How often does this bite us?

[2018-04-26 15:56] samreid commented on #932
Maybe we should focus on lint rules, including special cases so that _.find() is OK but somethingElse.find() is not OK?

Initial development of the polyfill would be quick to make--the main time cost will be handling corner cases--say if one browser throws an error when we change Array prototype or such.

I'm guessing maybe 30% of RC versions have a problem like this, on the other hand, it is not

[2018-04-26 17:27] zepumph commented on #930
Deferred to next dev meeting because @jessegreenberg is out, and he had thoughts on this.

[2018-04-26 20:55] amanda-phet opened #933 "Replace legacy sim footage with HTML5 footage"
The Brief Intro to PhET and What is PhET videos have a lot of footage of sims that have been ported, so @CWilson4960 is replacing that footage with newer sim footage. We don't have editable video files so we can't make any other changes at this time, but this is still a huge improvement.

1. @CWilson4960 will finish up final edits (just one left)
2. We need to upload the videos to our youtube chan

[2018-05-01 23:02] samreid opened #934 "Filter options"
In https://github.com/phetsims/tasks/issues/930 we decided we would no longer like to pass all of the options through to parent options--rather we would like to omit the subtype-specific options before passing the options through to the parent.  This will take slightly more CPU and memory, but hopefully in the noise (unless many objects being created using this pattern per frame).

To explore this

[2018-05-01 23:05] samreid commented on #934
If we go for something more general in phet-core (usable outside of Node.js), one option would be something like:

[code]

[2018-05-01 23:06] zepumph commented on #934
the above method wouldn't support passing options up via `.call( options )`, which to me feels more dangerous that just overlapping with the `Node` options. `.call` will pass up through all ancestors on its way to `Node`

[2018-05-01 23:09] samreid commented on #934
Sam Reid [5:07 PM]
Thanks, good point.  The `omitKeys` strategy I proposed in the issue may work for `call(this,options)`.

Chris Malley [5:07 PM]
I almost never use `mutate`.

Sam Reid [5:07 PM]
On the other hand, there are 258 occurrences of `this.mutate( options );` across our repos, so it may warrant special handling.

Chris Malley [5:08 PM]
The only reason to use `mutate` is if there are circ

[2018-05-02 03:42] samreid commented on #934
If we implement filtering thoroughly, we will be able to check for incorrect options.  For instance, at the end of an inheritance hierarchy, we do one last filter.  Anything left in options is a typo and we can throw an assertion error.

[2018-05-02 03:48] pixelzoom commented on #934
I suspect that we're going to create some problems when we omit options in existing code.  For example, consider something like `font` which might be used by both the subtype and supertype - a dubious approach, but I guarantee it's out there somewhere.  When the subtype filters out `font`, the subtype is going to be left using its default `font`.  And that will result in different look/behavior, d

[2018-05-03 17:07] jessegreenberg commented on #930
I reviewed comments since https://github.com/phetsims/tasks/issues/930#issuecomment-382914940. Everyone is in agreement about `config`, and I am OK with that moving forward. Assertions and documentation about optional properties (mentioned above) will really help.

[2018-05-03 23:22] zepumph opened #935 "Adopt the official jsdoc way of documenting nullable/non-nullable types?"
I was poking around the jsdoc documentation for https://github.com/phetsims/phet-io-wrappers/issues/74 and found the following segment about annotating types for parameters and such:

http://usejsdoc.org/tags-type.html

![image](https://user-images.githubusercontent.com/6856943/39607069-58d0b3d2-4ee5-11e8-8d0e-ec680c48e238.png)

Currently I see 707 usages in the project of the regex `\{.*\|{0,1}nu

[2018-05-04 21:44] oliver-phet commented on #906
Duplicate of https://github.com/phetsims/website/issues/660. Closing.

[2018-05-04 21:44] #906 closed

[2018-05-07 17:52] phet-steele commented on #779
Updated what master checklists I could to say its sim has alts, but no guarantees.

[2018-05-07 17:52] #779 closed

[2018-05-10 19:09] phet-steele commented on #722
QA knows the debug versions exist, and they know when to use them 👍

[2018-05-10 19:09] #722 closed

[2018-05-15 20:19] samreid commented on #934
Note that this issue is very similar to https://github.com/phetsims/area-model-common/issues/139 which describes nesting as a way to specify where options are supposed to go.

[2018-05-16 00:48] zepumph commented on #935
I would be inclined to agree. My vote would be to support `{?number}` to mean number number or null.

[2018-05-16 22:32] pixelzoom commented on #935
If we're going to start following the spec...  The spec also indicates `{(number|boolean)}` where we've been using `{number|boolean}`.

[2018-05-17 02:25] jonathanolson commented on #932
I wouldn't mind if there was a custom query parameter that added the "polyfill" (if it's workable and doesn't cause problems with ANY of the libraries we use). That could be used with CT.

However I've said before we should have various different platforms/browsers testing for CT, so all of these cases are things that should be caught almost immediately by seeing CT go red (right?)

[2018-05-17 02:29] jonathanolson commented on #934
Also potentially relevant, but filtering everywhere will reduce performance (since now we're creating lots of extra objects everywhere to get GC'ed).

[2018-05-17 02:44] jonathanolson commented on #935
I guess if you have a more complicated expression, you'd need to wrap it, e.g. `{number|boolean|null}` => `?(number|boolean)`? We would also have `Property.<?number>` (that would be valid?)

I feel strongly that the default "nothing specified" should be non-nullable.

I don't have a strong preference otherwise. I anticipate a lot of cases that are tricky to update, and cases that I won't immediate

[2018-05-17 15:45] zepumph commented on #930
@samreid had spoke earlier about trying to develop a consistent pattern/tool to help with this. I definitely think that would be good to discuss.

[2018-05-17 15:57] zepumph commented on #935
I know there are a lot of pieces of the jsdoc spec that we don't touch, and I'm not saying we should. Currently it doesn't seems like `{(number|boolean)}` is providing any benefit over `{number|boolean}`. Specifically for the nullable annotation, I do see an improvement. `{?Array.<?Node>}` over `{Array.<Node|null>|null}`. It is a single character that means the same thing as 5, and imo improves re

[2018-05-17 16:03] zepumph commented on #935
When annotating nullable for a arg that can take multiple types, I think it would be annotated as
`{?number|boolean|Array.<string>}`

not

`{?(number|boolean|Array.<string>)}`

[2018-05-17 16:05] jonathanolson commented on #935
`{?number|boolean|Array.<string>}`

Sounds good to me.

Presuming we go with this, would we just update documentation as we see it, or would we try to do global replacements?

[2018-05-17 18:40] samreid commented on #930
We decided we are happy with the plan described above, @samreid will attempt to summarize the pattern in phet-info/docs/phet-software-design-patterns.md

[2018-05-17 19:30] zepumph commented on #935
I'm not very interested in a global find/replace. I would rather chip away at it.

[2018-05-23 22:26] jbphet commented on #935
I'm up for using the question mark to mean nullable type, and not using the exclamation point for non-nullable (seems like unnecessary noise).

[2018-05-23 22:33] jbphet commented on #934
@pixelzoom said:

and

I use it quite a bit in cases where I create a Scenery node and need methods like `addChild()`, but then want to pass through attributes such as `left`, 'top`, etc.  The supertype constructor is called early, then child nodes are added, then `mutate` is called.  This was a pattern that was suggested way back in the PhET HTML5 stone ages, and I think we will continue to need

[2018-05-24 00:39] zepumph commented on #935
Above is a commit where I converted `Accessibility.js` to use this, I thought it could help illustrate some of the different usages, and it is easily revertible.

[2018-05-24 02:11] pixelzoom commented on #934
@jbphet I used that same pattern in the early days, but switched to calling the supertype constructor as late as possible, passing in children.  I'd like to see a specific example where you need to use mutate.

[2018-05-24 02:16] pixelzoom commented on #934
And for the record... I'm not saying that you shouldn't use `mutate`, though I prefer not to unless I need to.  What I'm saying is that filtering of options (the issue we're discussing here) should not rely on having to use `mutate`, as was proposed in some of the comments above.

[2018-05-24 02:19] pixelzoom commented on #934
And to clarify... I'm not saying that you shouldn't use mutate. If that's your style, go for it.  I personally think it's overused, and I don't see the point in initializing something twice (which is what happens with mutate) unless you need to, so I only use it if I have to -- which I find to be very rarely.  What I'm saying related to this issue is that filtering of options should not rely on ha

[2018-05-24 11:56] emily-phet commented on #927
My 2 cents - just seems like we should be consistent for similar looking representations (e.g., pie chart looking representations are all called 'pie charts', and things that look like an x and y-axis grid-like things are called 'graphs'). If there are discipline-specific reasons for calling a representation something different, that's fine though (like - the grid/square representation in Area Mod

[2018-05-24 13:02] samreid commented on #934
So are the outstanding questions for this issue:

(a) coming up with a pattern that works for both `Super.call(this)` and `mutate`?
(b) deciding how to address options that are needed by both the subtype and parent type (from @pixelzoom in https://github.com/phetsims/tasks/issues/934#issuecomment-385857016 ) ?

[2018-05-24 13:12] samreid commented on #935
TLDR: Usage of `?` in Accessibility.js seems reasonable to me.

Longer explanation: The versions with `|null` is slightly easier for me to read at the moment, but I suspect that's because I'm more accustomed to it at the moment and I'll get used to `?` quickly.  Not a big deal one way or the other to me, but I do prefer heading in the direction of standards instead of something we made up because

[2018-05-24 14:53] Denz1994 commented on #934
`_.omit` is documented as being " considerably slower than `_.pick`. " Instead of omitting options we don't want to pass could we `_.pick` options we do want?

[2018-05-24 15:00] pixelzoom commented on #934
@Denz1994 Nice find, and that's a good thought.  Using `_.omit` only requires that a type know about its own options.  Using `_.pick` would require types to know the options of subtypes and subcomponents.  We could probably find a way to limit breakage of encapsulation, but it wouldn't be as clean/straightforward as omitting.

[2018-05-24 16:20] jonathanolson commented on #934
We could just expose this like is done for Node and its subtypes in scenery (`Node._mutatorKeys`, `Path._mutatorKeys`, note that it's not public right now), but that style might be a lot of boilerplate if we do that for every component.

[2018-05-24 16:22] jonathanolson commented on #934
Also, if we use `_.pick`, we lose the benefit of assertions failing if you typo something.

Another note is I would consider an option that **only uses `_.omit` when assertions are enabled** so we don't hurt performance by creating new objects if we don't have to for assertions.

[2018-05-24 16:58] pixelzoom commented on #934
Having to maintain a separate list of keys (like `Node._mutatorKeys`) seems like a hassle, and an opportunity for the list to get out of sync from the default options hash.

[2018-05-24 17:02] jonathanolson commented on #934
Also I'd like to discuss the question of whether the level of boilerplate/performance-loss/discussion is worth the benefits (mainly, in my understanding, catching typos of property names earlier). Are there other major benefits that I'm not factoring in here?

[2018-05-24 19:35] zepumph commented on #935
We talked about this more today, and @pixelzoom brought up a good point that because we currently aren't planning to adopt parens around multiple types like `{(number|string}}`, so we aren't using legal jsdoc anyways by adopting a solution like `{?number|string}`.

I don't feel too strongly, and I'm beginning to feel like this change is just muddying clear enough waters. There are some places for

[2018-05-24 19:57] ariel-phet commented on #927
We agree with @emily-phet suggestion for internal consistency, but right now within sim usage all the above make sense. Closing

[2018-05-24 19:57] #927 closed

[2018-05-24 20:37] pixelzoom commented on #935
If we're not concerned with being JSdoc-compliant, and we consider both `null` and `undefined`, I prefer `{string|null|undefined}` to something like `{?string|undefined}` or `{?(string|undefined)}`.  I'm not a fan of using special notation for special cases.  But I'll follow the consensus.

[2018-05-29 20:02] zepumph opened #936 "Should repos use `doc/` or `docs/`"
This is a small issue, but I think it could be important for uniformity. Right now we are using `docs/` for sun and scenery-phet as it pertains to the style guide and `binder`, but in all of our sim repos, we use `doc/` for where we put the implementation and model notes. It is probably better to choose one. By far `doc/` is used more, here are the following usages of `docs/` in our project. Taggi

[2018-05-30 02:38] ariel-phet commented on #936
@zepumph - yes we should rename all to `doc/`

[2018-05-30 16:58] andrealin opened #937 "Getting Saurabh started"
@ariel-phet @saurabhtotey things that have been done and would be good to do:
- [x] Set up Sublime Text 3 (with GitGutter and SublimeLinter)
- [x] Walked through example-sim
- [x] Looked at a couple things in code review checklist
- [x] Join Slack
- [x] GitHub email/account, join the organization
- [x] Go over GitHub workflow
- [x] Acquaint him with the calendar
- [x] Read Eloquent JavaScript or E

[2018-05-30 18:45] zepumph commented on #936
All that is left is binder and sun, assigning over to @mbarlow12 to take care of these, because I think code relies on those paths.

[2018-05-30 19:51] arouinfar opened #938 "Artwork for Energy Forms and Changes"
In https://github.com/phetsims/energy-forms-and-changes/issues/40, we discussed adding a mechanical energy output for [Energy Forms and Changes](https://phet.colorado.edu/en/simulation/energy-forms-and-changes).

![image](https://user-images.githubusercontent.com/8419308/40743668-72ef1396-640f-11e8-9182-c79ff9fe66dd.png)

@clmccutchan and I met to discuss the needed artwork.

* Fan/propeller with

[2018-05-31 03:52] mbarlow12 commented on #936
Closing.

[2018-05-31 04:31] mbarlow12 commented on #936
Fun update! Github can only provide pages support for either a gh-pages branch, master branch, or the `docs/` folder. Binder is currently not building, and I imagine there are other issues with documentation hosing at the moment.

Using the gh-pages branch could prove difficult for designers and others who don't have the git expertise that most of the devs do. Should we revert to `docs/` or find a

[2018-05-31 19:30] zepumph commented on #935
It has been decided that we will not adopt using a `?` to document nullable types generally. In the few places for phet-io docs that require this to be properly rendered in jsdoc, we will keep it in there, and be ok with this minor discrepancy.  If in the future, we feel like this needs to be revisited, then we will. Closing

[2018-05-31 19:30] #935 closed

[2018-06-07 17:38] Denz1994 commented on #934
It seems like there hasn't been problems with not filtering passed options. At this point, we should be aware of how we are naming options. It would not be worth the dev time to implement a general solution for filtering options. @zepumph will update the PhET_software_design_pattern.md to include a warning for how we name options.

[2018-06-07 17:38] #934 closed

[2018-06-07 21:08] arouinfar opened #939 "Artwork for Wave Interference"
@clmccutchan, as discussed, we need artwork for various wave sources for the Wave Interference simulation. The [Java version](https://phet.colorado.edu/en/simulation/wave-interference) of the sim will give you a better idea of what things will look like in action, but the [HTML5 prototype](https://bayes.colorado.edu/dev/html/wave-interference/1.0.0-dev.12/phet/wave-interference_all_phet.html?dev)

[2018-06-12 14:38] samreid opened #940 "Eliminate dangling commas"
We have 95 dangling commas across our repos.  For example, sun/js/Dialog.js line 178 or so:

[code]

In my opinion, this looks incorrect.  In most places in our code, we do not have the trailing comma--it looks like something that just didn't get cleaned up when other options were removed.  There is also a nonzero (albeit very low!) probability that catching a dangling comma with lint may prevent

[2018-06-12 14:41] samreid commented on #940
I committed a lint rule that flags dangling commas.  I reviewed changes by the autofix and they seem correct, so I'll commit them next.

[2018-06-12 14:48] samreid commented on #940
Pushed fixes and will monitor Bayes CT to see if problems come up.  Closing for now.

[2018-06-12 14:48] #940 closed

[2018-06-12 18:45] zepumph opened #941 "Should we use a Web App Manifest JSON?"
This May be a nice improvement to how mobile devices can use our content. The jury is still out on exactly how best to implement this, but already in some places I see:
[code]

perhaps this would just be adding onto this/improving on it.

I see potential here to add manifests for sim html files, for when people add a sim link directly to their homepage. And perhaps also (to a much lesser extent) f

[2018-06-13 20:15] clmccutchan commented on #939
@arouinfar For the water source, how about a garden hose? The shape would match that of the light source, and the button could be the same as for the light source.

[2018-06-13 20:55] arouinfar commented on #939
I really like the idea of the garden hose @clmccutchan! I also just realized that I forgot to send you the laser asset file, which might be helpful. You can find it here:
https://drive.google.com/open?id=1ZrFzcqdGY1ZD1LGhxaZZtAPEswf5zngQ

[2018-06-20 12:59] samreid commented on #930
@jessegreenberg can you please review the change above?  If all is well, please close the issue.

[2018-06-20 16:00] jessegreenberg commented on #930
Thanks @samreid. In https://github.com/phetsims/tasks/issues/930#issuecomment-383783547 it was mentioned that assertions for should be added for required config properties. I added a statement about that, can you please re-check?

[2018-06-20 16:06] samreid commented on #930
Thanks for reminding me about the asserts, I also changed it to check for `null` so that values of `0` wouldn't fail out, and I added an assert message.  Can you double check?

[2018-06-20 16:15] jessegreenberg commented on #930
Very nice, thanks @samreid. Closing.

[2018-06-20 18:31] #930 closed

[2018-06-21 04:43] samreid commented on #941
We should probably even expand the scope and delegate a developer too look into Progressive Web Apps (of which Web App Manifest JSON is one facet) more generally, to see if there are other strategies we should leverage (included but not limited to manifest).

[2018-06-21 07:20] jonathanolson commented on #941
Also might be worth checking whether we can stuff that information inline with a data URL.

[2018-06-21 18:57] ariel-phet commented on #941
We are not going to investigate this idea at the moment, if we start to get some requests from users we will revisit.

[2018-06-21 18:57] #941 closed

[2018-06-30 15:18] clmccutchan commented on #939
@arouinfar Here's a draft of the water source and speaker at max and min. I can easily edit the speaker between the max and min settings to create a set of images for the animation.

![wave interference_hose](https://user-images.githubusercontent.com/25354670/42126476-95795ff8-7c46-11e8-9ead-330f4c50a3cd.png)
![wave interference_speaker max](https://user-images.githubusercontent.com/25354670/42126

[2018-07-02 20:06] samreid commented on #930
I used this pattern in WaveInterferenceTimerNode, which has a required option.  It seemed awkward to pass `config` through to `options`.  I don't see a way out of that other than just using either `options` or `config` everything (and they can have arbitrary number of optional or required args).

[2018-07-02 21:00] samreid opened #942 "Repo development visualization"
It could be useful to visualize a number of metrics for a GitHub repository as a function of time.  For instance, number of files, lines of code, lines of comments, number of TODOs, number of REVIEW comments and publication dates.  This may be a meaningful data point in understanding the lifecycle of a sim in development.  Different developers wield `TODO` and `REVIEW` differently, so results woul

[2018-07-02 22:22] arouinfar commented on #939
@clmccutchan these are looking really nice!  A few thoughts...

### Garden Hose
* I still really like the idea of using a hose as the water source.
* Can you mock up a version with a longer nozzle?
![image](https://user-images.githubusercontent.com/8419308/42188885-0b249614-7e13-11e8-85af-25dcbc8c0ba4.png)

### Speaker
* Speaker skeleton is looks awesome!
* Can you tweak the min/max so that they a

[2018-07-06 21:14] pixelzoom opened #943 "which iOS versions should be supported and tested?"
Motivated by comments at https://github.com/phetsims/equality-explorer/issues/134#issuecomment-402826308 and later.

System Requirements FAQ on the PhET website currently says:

But PhET currently has no iOS 10 test device, and the QA team has questioned the cost/benefit of testing on some of the iOS versions that are "supported".

Assigned to @ariel-phet for comment, prioritization, etc.   FYI, I

[2018-07-09 15:32] jbphet commented on #938
We're getting close to needing this artwork, so I'm increasing the priority of this issue.

[2018-07-09 16:51] arouinfar commented on #939
@clmccutchan these are all looking great! I think the first/last speaker will work great for the max amplitude case.

Can you upload the .ai file (CS6) to your Drive folder? I'd like to add them to the mockups for design team feedback.

In the meantime, can you prioritize the fan/propeller blades for #938?

[2018-07-09 17:15] clmccutchan commented on #939
@arouinfar I've placed the .ai file in my artwork folder and formatted for CS6. Is that the right version for you?

I'm working on those blades today!

[2018-07-09 17:33] arouinfar commented on #939
Thanks @clmccutchan!  The CS6 file works for me. Can you also include the original garden hose?

[2018-07-09 17:38] clmccutchan commented on #939
@arouinfar Do you mean the reference photo with the longer nozzle or the first hose I sent you? I modified my original into the long nozzle version. I can easily redo my original in about 15 minutes if you'd like to have both versions.

[2018-07-09 17:44] arouinfar commented on #939
@clmccutchan I was referring to the first hose you drew:
![image](https://user-images.githubusercontent.com/8419308/42466658-c06539a8-836c-11e8-8eec-e734cc3a808a.png)

I can modify the other hose to look somewhat similar. If the team prefers that look, I'll follow up with you recreate the original, but don't worry about it for now. Sorry about that! I should have clarified that I was looking for o

[2018-07-09 20:17] clmccutchan commented on #939
@arouinfar I've got the .png of the original hose if that does you any good.

[2018-07-09 20:18] arouinfar commented on #939
That would definitely be helpful @clmccutchan! Can you drop it in your folder?

[2018-07-09 20:21] clmccutchan commented on #939
@arouinfar It's in there now! It's only screen resolution not high resolution but that should be good enough to debate over.

[2018-07-09 20:54] arouinfar commented on #939
Got it, thanks @clmccutchan! It'll definitely work for debate. :)

[2018-07-09 23:36] lmulhall-phet commented on #943
@oliver-phet provided iOS statistics for the past year:

iOS is 9.55% of total traffic.

| iOS Version | Percent of iOS Traffic  |
| --  | -- |
| 8 |  0% |
| 9 |  8% |
| 10 |  31% |
| 11 |  43% |

[2018-07-10 16:09] andrealin commented on #937
@SaurabhTotey , you're all set up! I'll leave this for you to close.

[2018-07-11 16:54] chrisklus opened #944 "Change chrisklus git email"

[2018-07-11 16:54] zepumph commented on #944
this may be helpful, https://help.github.com/articles/setting-your-commit-email-address-in-git/

[2018-07-11 18:08] KatieWoe commented on #943
Once we have a device designated as iOS 10 or etc, put a big warning label on the device that says "iOS 10 DO NOT UPGRADE."  Probably best as a first line to stop upgrading a device by a person by accident.

[2018-07-11 18:10] KatieWoe commented on #943
https://www.hexnode.com/blogs/how-to-block-automatic-updates-in-ios-android-and-windows-devices/
This may be some help in stopping any automatic upgrades.

[2018-07-11 18:22] phet-steele commented on #943
@KatieWoe @ariel-phet the link in https://github.com/phetsims/tasks/issues/943#issuecomment-404261719 and many others found through google (that say the same thing) will not solve the problem. The issue is not an automatic update, it's the nagging notification to download the update in the first place. Disabling automatic updates only stops the iPad from updating without human intervention (which

[2018-07-11 19:12] KatieWoe commented on #943
This may help, though it seems to have limited effectiveness.  The other solution I found involves blocking two apple websites through router settings, which isn't really feasible for us.  Leaving the link for reference when we get an iOS 10 device.
https://airmore.com/turn-off-ios-11-update-notification.html

[2018-07-11 19:21] phet-steele commented on #943
@KatieWoe hate to break it to yea, but the link in https://github.com/phetsims/tasks/issues/943#issuecomment-404279325 outlines the same things as the first plus some other non-fixes.

[2018-07-11 19:36] lmulhall-phet commented on #943
Option 4 in this article seems very inconvenient, and gives me pause, but it's a possibility:

http://osxdaily.com/2016/01/04/stop-ios-software-update-notification/

[2018-07-12 12:29] samreid commented on #942
I have been grinding through many TODOs in Wave Interference and interested to see the big picture of the progress, so I threw something together quickly.  Here is the plot of Lines of Code and TODOs (multiplied by 50) vs time:

![image](https://user-images.githubusercontent.com/679486/42633075-93213e60-859c-11e8-9115-5826ae4cf810.png)

Here is the script that can be used to gather that data (or s

[2018-07-12 14:49] chrisklus commented on #944
Thanks Michael!

[2018-07-12 14:49] #944 closed

[2018-07-12 16:03] jonathanolson commented on #942
perennial seems fine to me, under js/scripts/?

[2018-07-12 16:04] samreid commented on #942
Sounds great, thanks!

[2018-07-12 16:35] lmulhall-phet commented on #715
I think this would be a good task for @megan-phet.

[2018-07-12 17:03] lmulhall-phet commented on #715
Just to clarify, this is a backburner task. @amanda-phet told me this would also be a good task for @CWilson4960.

[2018-07-15 22:56] samreid commented on #942
Initial version checked in and working ok, we can update/refine it later as needed.  Closing.

[2018-07-16 12:37] clmccutchan commented on #938
Hey @arouinfar, sorry for the long delay on this one! It's taken me awhile to get the perspective right on the blades. Here's one frame for the animation. What do you think of the angle of the blade? I think it needs to be flipped to face the right, but that's an easy edit.

![energy_forms_changes_071618a](https://user-images.githubusercontent.com/25354670/42759027-bd5b9eea-88c2-11e8-9ae2-ce433e11

[2018-07-16 17:51] #937 closed

[2018-07-16 23:09] arouinfar commented on #938
Thanks @clmccutchan! I think the turbine itself looks really nice, but the slightly-skewed perspective ends up looking a bit odd in context, so I think we'll need to try going in another direction for this particular sim. That said, I think the turbine artwork will come in useful for a wind energy sim we're currently designing. @clmccutchan can you upload the .ai file in CS6 format to your Drive f

[2018-07-17 15:59] arouinfar commented on #938
Just to clarify, I'm only asking for the single frame shown in https://github.com/phetsims/tasks/issues/938#issuecomment-405233479. The wind energy sim is still very much in the design process, so we won't need the additional frames anytime soon. For now, please focus on the ship propeller-style artwork.

[2018-07-17 18:53] CWilson4960 commented on #715
@lmulhall-phet I'd be happy to work on this!

[2018-07-17 19:29] lmulhall-phet commented on #715
Thanks, @CWilson4960. Again, not super high priority, so if you have other things you're doing for @amanda-phet, don't worry about this until you get some time. But if you have time to work on it, have at it.

[2018-07-17 19:31] clmccutchan commented on #938
@arouinfar I've uploaded the .ai file to my Google drive and titled it Wind Energy. The side view of the fan should be pretty easy to work with, and I'll get started on that.

[2018-07-17 22:33] CWilson4960 commented on #933
Both "A Brief Introduction to PhET" and "What is PhET?" have been updated and uploaded to youtube.
What is PhET? : https://youtu.be/OjZ6qvi21Qo
Brief Intro: https://youtu.be/H9rdIl3rPgI
@mattpen they are ready to be uploaded to the website.
Thanks!

[2018-07-19 15:20] mattpen commented on #933
@CWilson4960 @amanda-phet - These videos are now up at https://ox-dev.colorado.edu/en/about and https://ox-dev.colorado.edu/en/teaching-resources/tipsForUsingPhet.  Can you please take a quick look and let me know if these are ok to deploy?

[2018-07-19 15:40] amanda-phet commented on #933
Both look good. Thanks @mattpen !

[2018-07-19 15:52] mattpen commented on #933
OK, I'll deploy these tonight.

[2018-07-19 18:19] amanda-phet commented on #933
Sorry, one more thing.

On the sidebar of this page https://ox-dev.colorado.edu/en/about there is a link for the What is PhET video at the top. That link opens the old version of the video. I didn't realize that link would need a separate update. Can you please replace that one too?

[2018-07-19 18:39] mattpen commented on #933
OK, I thought I replaced all instances, I'll take another look.

[2018-07-20 13:59] mattpen commented on #933
I fixed the remaining link and deployed to production. Closing.

[2018-07-20 13:59] #933 closed

[2018-07-20 16:59] mattpen opened #945 "QA: check a11y functions in the iOS app TableView"
The new table view for browsing some in the iOS app (iPhones only) needs to be checked to make sure it is accessible.  The primary things to check will be compatibility with voice over and focus highlighting.

Currently there is no dev version available. Assigning to myself until there is one published.

[2018-07-20 20:22] ariel-phet commented on #945
Just noting when there is a dev version, to put the issue in the QA repo, but seems appropriate to have this one in tasks as a reminder.

[2018-07-23 11:34] emily-phet commented on #176
Closing - @amanda-phet created some beautiful icons for a recent update to the a11y webpages.

[2018-07-23 11:34] #176 closed

[2018-07-23 11:52] emily-phet opened #946 "Light editing + captions for John Travoltage demo video"
Captioned video needs to be completed and ready for uploading by end of day, Thursday July 26 in preparation for submission Friday July 27th.

@terracoda is creating a video demo of the sound and description of John Travoltage. Please check with @terracoda regarding when this video will be ready for captioning. This video will be submitted as supporting materials for an accepted conference paper d

[2018-07-23 12:17] terracoda commented on #946
@emily-phet, thanks for creating this issue. I'm just about to do a test, and I agree keeping my voice part minimal is ideal (using content from manuscript.)

[2018-07-23 12:41] emily-phet commented on #946
@terracoda Sorry for being unclear - the comment at the end regarding the 250 word max was referring to a written description (e.g., alt text-like description) for the video on uploading to conference site. It turns out this is not required - so you can forget I said anything about it! The instructions are unclear, but I made it to the final submission page so I can see exactly what the required u

[2018-07-23 15:00] terracoda commented on #946
The transcript and times for editing are here:
https://docs.google.com/document/d/1vLy-TD_vUE3q6VUJRAM9Rvr0YykdTqPbptBPTO2jUJc/edit#

[2018-07-23 20:22] ariel-phet commented on #946
Sounds like @CWilson4960 will be able to help with this project in a timely manner. Assigning.

[2018-07-24 18:14] CWilson4960 commented on #946
@emily-phet
![image](https://user-images.githubusercontent.com/31217926/43157667-e9d18312-8f3a-11e8-94b0-3dbae808380c.png)
I'm using Camtasia to produce the captions and video. These are the settings I can change. I'm unsure how to get to MP4 encoding using the H.264 codec. I can export the video as a MP4 and change the setting shown above, but that's all I know. Any recommendations?

[2018-07-24 20:34] terracoda commented on #946
@CWilson4960, sorry I can't help here.

[2018-07-25 06:07] ariel-phet commented on #921
Unassigning myself for the moment...this work is being thought about in Binder, which may well replace this document.

[2018-07-25 21:51] CWilson4960 commented on #887
@amanda-phet The first batch of 21 teacher tips (not including Atomic Interactions, Forces and Motion: Basics, and Friction) is uploaded to the drive for you to review.
https://drive.google.com/drive/u/1/folders/0B3l-M0dd38HNVWl1ZC1lR2hzdjg

[2018-07-26 15:51] emily-phet commented on #946
@CWilson4960 not sure about your question regarding H.264 - can you clarify? What happens if you use H.264 that's undesirable?

For the file size question, I think the issue is the dimensions you have here. They need to be smaller to decrease the final file size. If you play around with exporting other dimension options, I think you'll find something that drops below the 50MB we need.

[2018-07-26 15:59] amanda-phet commented on #946
The issue is that H.264 doesn't appear to be an option in that screenshot. Do you know where to find encoding settings?

[2018-07-26 16:03] emily-phet commented on #946
After consulting with Google - I think mp4 files exported from Camtasia are h.264. So let's just assume that's the case, and that any under 50MB mp4 file from Camtasia fits the submission requirements.

[2018-07-27 06:04] terracoda commented on #946
Thanks @CWilson4960 and @emily-phet. It looks and sounds great to me.

[2018-07-27 21:05] amanda-phet opened #947 "Define a new process for taking sim screenshots"
There are a couple of inefficiencies in making sim screenshots, and @oliver-phet and I found an incredibly simple and seamless way to take sim screenshots using chrome. I don't want to outline every reason here for why a new process is a good idea, but the one factor holding me back from being able to take a screenshot on my high-res external monitor is I can only get to 2048x1343 (not the require

[2018-07-30 16:14] ariel-phet commented on #947
It will be good to hear from developers on this question as well. I feel like they were the ones that originally encouraged the highest res possible.

[2018-07-31 23:09] ariel-phet commented on #946
Since deadline for this task has passed, assuming it can be closed. Closing.

[2018-07-31 23:09] #946 closed

[2018-07-31 23:15] ariel-phet opened #948 "Improve information in our "Good Media Tweets" doc"
@kathy-phet requested that we improve the information in the [Good Media Tweets](https://docs.google.com/document/d/1E3Kk5FBd-8rnyHHZKFrpWhbI5cuK0_A-x793pB0i_zs/edit) google doc

She said:

My plan is to have Kelly W. work on this task when she starts, since it would be a good intro to understanding our social media presence and some of the "PhET love" out there.

[2018-08-01 18:13] arouinfar commented on #938
How are things coming along @clmccutchan?

[2018-08-02 14:11] clmccutchan commented on #938
I am so sorry this one is taking sooooo long, @arouinfar! The perspective on the blades has been vexing me, but I should have a set of the images this morning. I think we may need more frames than I've created because the blades facing the viewer change so much as they move.

[2018-08-02 16:49] clmccutchan commented on #938
@arouinfar Here are 6 frames for the fan animation. Just let me know how many more we need since I feel like this won't be enough. Also, let me know if anything looks wonky. I don't really have a good model to work from.

![energy_forms_changes_1](https://user-images.githubusercontent.com/25354670/43598319-aae6a6ba-9641-11e8-9c1e-1d529869a2ab.png)
![energy_forms_changes_2](https://user-images.gith

[2018-08-02 17:33] oliver-phet commented on #947
Including this old issue: https://github.com/phetsims/tasks/issues/100

[2018-08-02 17:36] amanda-phet commented on #947
Shoot! We forgot to ask this at status today!

[2018-08-02 18:25] oliver-phet commented on #947
Untagging @kathy-phet

[2018-08-02 18:26] amanda-phet commented on #947
Assigning myself to define the new steps

[2018-08-02 19:27] arouinfar commented on #938
Thanks @clmccutchan! These are looking pretty awesome! I'll try these images out in the mockups, and let you know if I have any further feedback.

[2018-08-02 19:44] arouinfar commented on #938
@ariel-phet had some feedback, so reassigning to him.

[2018-08-03 15:33] clmccutchan commented on #938
Looking forward to the feedback, @ariel-phet!

[2018-08-03 16:42] ariel-phet commented on #938
Hi @clmccutchan my main feedback is that in the sim we want the fan "blowing" to the right. So the pitch of the blades needs to be adjusted such that they are taking a bite of the air on the left hand side.

Here is my quick attempt at what I mean. Otherwise, I think this is looking quite good (@arouinfar made a simple animation, and it was looking quite nice as a start)

![fan](https://user-image

[2018-08-03 18:06] clmccutchan commented on #938
@ariel-phet When I started drawing, I knew the direction the blades were facing was important but wasn't sure which way the fan needed to turn. This edit is quite simple. I just need to flip the blades in Illustrator. I can also increase the length.

@arouinfar Do you think that you need more frames? I wasn't sure how smooth this would be with only 6 frames.

[2018-08-06 17:52] arouinfar commented on #938
@clmccutchan the direction of rotation isn't important, so long as it goes in the natural direction of the propeller to move air out to the right.

Here's the .gif I made from the images in https://github.com/phetsims/tasks/issues/938#issuecomment-409993793. It looks reasonably smooth to me. If we wanted more frames, we would need to keep the angle of rotation between each frame equal, which leave

[2018-08-08 19:19] CWilson4960 commented on #887
@amanda-phet The second batch of 22 tips is uploaded for review https://drive.google.com/drive/u/1/folders/0B3l-M0dd38HNVWl1ZC1lR2hzdjg

[2018-08-09 04:05] samreid commented on #932
@ariel-phet suggested working on this since it may be quick.  Investigating usages of Array.prototype.find, I used this regular expression: `[a-zA-Z0-9]\.find\(` and it revealed code in fractions-common/js/building/view/ShapeGroupNode.js that would fail on IE.  Also, there are several places in perennial that are using Array.prototype.find acceptably, because we control those environments.  For th

[2018-08-09 17:00] jonathanolson commented on #932
That's an ObservableArray, which implements find(), so that should work, right?

Nope, we aren't including the babel-polyfill.

[2018-08-09 17:33] samreid commented on #932
My apologies, you are right.  Based on the considerations mentioned above, a static lint-based check for this seems like it won't work, unless we have a lot of `// eslint-disable` directives scattered around.  Not sure if it is worth the effort.  If we are conscientious about testing on IE, we will catch the problems there and can patch with similar SHAs (without a lot of effort).  Or should we ad

[2018-08-09 18:47] jonathanolson commented on #932
I'm not sure what's best, but I have no objections to adding a code review step that lists the most common "offenders". Either way.

[2018-08-09 20:25] samreid commented on #932
I added to the code review, please review.  OK to close if it seems good to you.

[2018-08-09 22:18] jonathanolson commented on #932
Looks good, thanks!

[2018-08-09 22:18] #932 closed

[2018-08-10 16:03] emily-phet opened #949 "Need artist for icons and slide designs for presentation"
I'm creating a presentation that needs to look very polished, including overall consistent professional PhET theme, and design of some icons. I'm outlining and laying out content now, and already know of some icons and slide designs needed.

- Content will be created/refined now until Sept 20.
- Final polishing can occur between Sept. 21-Sept. 25 (mid-day).

I would like to partner with someone on

[2018-08-10 16:34] ariel-phet commented on #949
@emily-phet I think you might have seen some of @megan-phet work on the design-sims channel. She is working with our QA team, but seems to have some great graphic artist chops. I suggest you two connect on slack to discuss the project.

[2018-08-12 11:17] emily-phet commented on #949
@ariel-phet Will do, thanks!

[2018-08-15 21:26] mattpen commented on #945
I moved this to https://github.com/phetsims/QA/issues/171, closing.

[2018-08-15 21:26] #945 closed

[2018-08-16 23:12] zepumph opened #950 "Are all eslintrc files needed?"
I see 8 `.eslintrc` files in the project, but I didn't know if we still needed them because of recent work in supporting es6 for all repos.
![image](https://user-images.githubusercontent.com/6856943/44239610-b8904980-a166-11e8-8f01-4ae609358c12.png)

@jonathanolson are these all needed? Or just the one in chipper.

[2018-08-20 16:10] kellywurtz commented on #948
Completed spreadsheet w/ all tweets and tweet info: https://docs.google.com/spreadsheets/d/1yttVrJKGl0txW93JOihr4m_FRRSipjcw9rtdgU4OX64/edit?usp=sharing

[2018-08-22 21:33] arouinfar commented on #938
@clmccutchan sent me updated assets for the fan, and things are looking good!
![fan_revised](https://user-images.githubusercontent.com/8419308/44486597-4493ec80-a611-11e8-9549-8929c67b59d2.gif)

Here's what it looks like in the mockup:
![image](https://user-images.githubusercontent.com/8419308/44486792-cdab2380-a611-11e8-8d7a-87f3b3aa59e9.png)

[2018-08-22 21:41] arouinfar commented on #938
@clmccutchan all that remains is a front view of the fan for the selection icon:
![image](https://user-images.githubusercontent.com/8419308/44492456-d7d51e00-a621-11e8-9128-3e8f6cef6ea3.png)

[2018-08-24 22:00] ariel-phet commented on #138
Long way off from working on this sim. Closing.

[2018-08-24 22:00] #138 closed

[2018-08-24 22:02] ariel-phet opened #951 "More "Scenes" for use in presentations and social Media"
From @kathy-phet

- More cute options for thanking/celebrating teachers
- An option for celebrating students
- Elementary science (~2nd grade kids)
- Elementary math (~2nd grade kids)

[2018-08-26 23:15] clmccutchan commented on #938
@arouinfar Here's the one frame of the side view and the front view of the fan. The front view is currently as large as the side view. I wasn't sure how many pixels it needed to be.

![energy_forms_changes_fan 1](https://user-images.githubusercontent.com/25354670/44634182-724f9d00-a953-11e8-8c1b-7c7a81ab9d64.png)
![energy_forms_changes_fan front](https://user-images.githubusercontent.com/25354670/

[2018-08-27 17:26] arouinfar commented on #938
Looks great @clmccutchan! Can you upload the .ai file for the front-view to your [Drive folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYbDZ4Qmt2UDZlOEU)?

[2018-08-28 18:14] oliver-phet commented on #947
I met with KW and LM and outlined all the steps. We're going to go with 1536x1008 for MaS since it has the same aspect ratio and no decimals. I think the procedures should live in phet-info since (hopefully) this will allow any team member to take consistent screenshots.

[2018-08-28 18:34] oliver-phet commented on #947
@lmulhall-phet Can you write up the procedures in a new md file in phet-info?

[2018-09-05 14:53] samreid opened #952 "Discuss dependency injection"
In https://github.com/phetsims/wave-interference/issues/79#issuecomment-416045828 we were considering creating a composite type DoubleHeadedArrowWithBarsNode.

A type definition like https://github.com/phetsims/wave-interference/blob/f116b8b2d3f1aa7731d3866fe5d796916734e9bc/js/common/view/DoubleHeadedArrowWithBarsNode.js is inflexible. It is hard-coded to use Line and ArrowNode, and has a clumsy w

[2018-09-05 15:14] pixelzoom commented on #952
Dependency injection is one tool in the toolbox. Understanding it (and it's many forms) and knowing when to use it is what's important.  So maybe that's what this discussion is about.

Re `Checkbox.createTextCheckbox`, "dependency creation" is a stretch; I would call that a convenience method.  I believe that I created that method, and I've since avoided using it.  I think code is clearer when the

[2018-09-05 15:20] samreid commented on #952
I'm coining a new phrase here.  "Dependency creation" means the function creates the concrete subtype.  "Dependency injection" means the function takes components as arguments.  `Checkbox.createTextCheckbox` takes `{string} text` and `{object} textOptions` and has this line of code:

[code]

Hence I have classified that as "Dependency creation".  If this was using "Dependency Injection", instead o

[2018-09-05 15:28] pixelzoom commented on #952
Yes, I understand that "dependency creation" is a term that you coined.  I'm just saying that I don't think a new term is necessary, and possibly confuses things.

[2018-09-06 00:04] samreid opened #953 "What casing should we used for checkboxes and radio buttons?"
Skimming through several simulations, I saw several cases where checkboxes or radio buttons were title cased, like this:

![image](https://user-images.githubusercontent.com/679486/45118092-a4f85300-b114-11e8-8015-815b6bf7513d.png)

![image](https://user-images.githubusercontent.com/679486/45118106-ade92480-b114-11e8-9ebf-b49dc46c9ec1.png)

![image](https://user-images.githubusercontent.com/679486/

[2018-09-06 00:18] ariel-phet commented on #953
@samreid consistency is nice and all, but I don't think it is worth the effort to skim through all sims for changes, the trig tour one (since noticed) can be changed, I will create an issue.

[2018-09-06 01:06] amanda-phet commented on #953
We already have Binder combing through all sims, so it would be pretty easy to have someone spend less than an hour looking through the examples of radio buttons and check boxes and creating issues for each sim.
________________________________
From: Ariel Paul <notifications@github.com>
Sent: Wednesday, September 5, 2018 6:18:09 PM
To: phetsims/tasks
Cc: Subscribed
Subject: Re: [phetsims/tasks] W

[2018-09-06 02:27] samreid commented on #953
@amanda-phet pointed out one way we might proceed.  Another possibility would be to note in a pre-publication checklist so we don't publish new sims with this inconsistency.  @ariel-phet up to you if you want to re-close or follow an alternate strategy.

[2018-09-06 05:14] jonathanolson commented on #950
All but the main one should be unneeded. I removed and tested `grunt lint-everything` and it's working nicely.

[2018-09-06 05:14] #950 closed

[2018-09-06 16:36] jonathanolson commented on #952
Sounds like something that can be helpful. We wouldn't want to overuse it, because there are many cases where only one type is used, or more detailed information is needed. Passing in factory methods (and using options instead of required parameters) may be more general.

[2018-09-06 16:38] ariel-phet commented on #953
@KatieWoe please look through all current HTML5 sims (or delegate ) and look for this inconsistency (we will want title case). For any sim that needs to be corrected, please make an issue in the sim repo and then close this issue.

[2018-09-06 16:53] amanda-phet commented on #953
https://phetsims.github.io/binder/

The "sim examples" section seems broken. @mbarlow12 do you know anything about this?

[2018-09-07 17:49] CWilson4960 commented on #887
All of the teacher tips have been redeployed. Closing.

[2018-09-07 17:49] #887 closed

[2018-09-07 18:30] arouinfar commented on #502
I found the assets on [Drive](https://drive.google.com/file/d/1_QBh_076HSgT4P2ciYVsa0bdrxJsIY08/view), thanks to @megan-phet!

The asset file will need to be reformatted before it's checked into the `energy-forms-and-changes` repo, which I can take care of.

However, we're still missing artwork for tired PhET girl to replace the [original](https://github.com/phetsims/energy-forms-and-changes/blob/

[2018-09-07 18:52] arouinfar commented on #953
@amanda-phet the Sim Examples sections are loading for me, though RadioButtonGroup does not appear to include VerticalAquaRadioButton (yet), so we're missing the string-based radio buttons.

[2018-09-07 19:19] pixelzoom commented on #953
For the record, I disagree with this "convention" of requiring labels to begin with uppercase.

[2018-09-07 19:20] samreid commented on #953
I agree, there are cases where lowercase is warranted.

[2018-09-07 19:30] samreid commented on #953
Perhaps use your judgment, and if you see something that looks odd or inconsistent, create an issue for the designer?  For instance in Area Model looks like the casing was done purposefully and consistently, so doesn't seem problematic to me:

![image](https://user-images.githubusercontent.com/679486/45239182-8c697380-b2a1-11e8-9cd9-2b512b2794d7.png)

But, for instance, if only one of these words

[2018-09-07 19:54] arouinfar commented on #953
@KatieWoe please continue to make issues, but assign them to the lead designer for final review.

@pixelzoom stated in https://github.com/phetsims/function-builder/issues/122

This does not extend to every control. I, too, would disagree with that. The accordion boxes and panel titles in @samreid's https://github.com/phetsims/tasks/issues/953#issuecomment-419542826 would not fall under this issue.

[2018-09-07 19:59] pixelzoom commented on #953
The more you use uppercase everywhere, the less effective it becomes at adding "weight".   Kind of like the overuse of bold text that we were guilty of in Java sims.   That said, I think the convention used in the Area Model sims is vastly superior.

[2018-09-07 21:09] megan-phet commented on #502
Yes, I can do that.

[2018-09-10 15:57] KatieWoe commented on #953
@arouinfar I have checked all the checkboxes in the the style guide example.  However, there is no vertical aqua radio button group in the style guide.
@ariel-phet should I check the sims on master for this aspect, or should the issue be held until vertical aqua radio buttons are added to the style guide?

[2018-09-10 17:03] arouinfar commented on #502
@megan-phet created this awesome series of fatiguing torsos.

![image](https://user-images.githubusercontent.com/8419308/45312238-c4162c80-b4e8-11e8-9d08-ab226054a15d.png)

All that's left to do is to reformat/export the assets for implementation, which I'll take care of this afternoon.

[2018-09-10 18:10] samreid commented on #952
We discussed this and decided that some places dependency injection is appropriate, and some places it is not.  We will have to decide on a case by case basis where to use this pattern in common code.  We considered changing Slider.js to take a SliderTrack argument, and this simplifies the options pass-through, but ultimately makes a more complex client-side API, and leaks implementation details t

[2018-09-10 18:10] #952 closed

[2018-09-10 20:46] ariel-phet commented on #502
@arouinfar those are pretty awesome, but I think we want her to look less "distressed" and more tired. That last pose definitely gets the message across, but she looks like she is in bad pain discomfort. I think we want to go for more "happily exhausted" if possible.

[2018-09-11 20:09] ariel-phet commented on #953
@KatieWoe I think the issue should be held until they are added to the style guide

[2018-09-11 20:35] arouinfar commented on #953
Thanks @KatieWoe! I agree with @ariel-phet. Let's wait until `verticalAquaRadioButtonGroup` is in the style guide.

[2018-09-12 17:29] ariel-phet opened #954 ""Quick Tips" video suggestions"
@kellywurtz everyone really liked the initial draft of the "Quick Tips" video you did for the `?screens` query parameter. I thought it would be good to make a running list of potential videos that fall under this category. KP had some ideas as well, so I thought I would put them all in one place.

- [ ] `?screens` query parameter use
- [ ] Screenshots feature (in the sim menu)
- [ ] Projector mode

[2018-09-13 18:29] oliver-phet commented on #943
I think it was decided we are no longer supported iOS 9 when the iOS app is published? Can this issue be closed?

[2018-09-13 22:37] kellywurtz commented on #954
I think I'm happy with how Custom Screens looks. What further steps before we consider it done?

And Google Classroom is still waiting on the embedding bug to be fixed. Who is that a question for?

[2018-09-14 02:48] amanda-phet opened #955 "artwork for Fractions Intro"
@clmccutchan we are porting the java version of Fractions Intro to HTML5 and wanted to make a change to the cake artwork. Then we found out we only have .png files for every variation of cake, and they were all drawn using sketchup. So... it would be great if you could create these in illustrator instead so that we can also request a few tweaks.

(1) Re-draw each asset using illustrator, saved in

[2018-09-14 02:51] amanda-phet commented on #955
Whoops! Here is the original artwork!

[Cakes.zip](https://github.com/phetsims/tasks/files/2381700/Cakes.zip)

[2018-09-14 17:26] megan-phet commented on #502
[Updated](https://github.com/phetsims/tasks/files/2384277/phetgirlbiking.pdf)

[2018-09-14 17:42] arouinfar commented on #502
@megan-phet made these tweaks to the tired pose. @ariel-phet if these look good to you, I'll work on exporting the assets for implementation.

![tiredpose](https://user-images.githubusercontent.com/8419308/45566184-276acc00-b813-11e8-827e-e87173d387fc.png)

[2018-09-17 15:40] pixelzoom commented on #953
@ariel-phet  Now that a whole bunch of issues have been created, what is the timeframe for deciding whether they will be (or even need to be) addressed?

[2018-09-18 18:04] emily-phet commented on #949
- [ ] Slide 1 and Slide 5: Keep text as is on each slide. Make look of each consistent. Make sure background cropped image is even on slide, and center box with text is centered. Right now the alignment is all wonky!

- [ ] Slide 7: Please see image of a sketch I created for an idea of what I have in mind. Please use the same icons aready in the slide (need grey version of laptop icon). These are

[2018-09-18 20:45] emily-phet opened #956 "Two short videos clips for presentation"
I need two short video clips made for the presentation I'm giving Sept. 26.

- [ ] John Travoltage. Shooting for 30 seconds total. Use keyboard nav throughout. Includes:
- rubbing foot shown (no discharge event) - no audio at all
- rubbing foot shown, (no discharge event) - clear concise auditory descriptions provided (Note - No Voiceover readout visually on screen, make sure electron count is hea

[2018-09-19 01:57] ariel-phet commented on #956
@emily-phet do you want any "effects" likes text or any overlay or intro/outro or such? @kellywurtz who I am assigning this to is quite skilled with video stuff.

@kellywurtz please make this your top priority, and feel free to have QA show you how to access the various features.

[2018-09-22 13:12] emily-phet commented on #954
We'd love some quick tips videos for accessibility!

General
- [ ] Description
- [ ] Sound
- [ ] Alternative Input

There could also be some sim-specific quick tips for each of these categories.

[2018-09-22 13:57] emily-phet commented on #949
Worked with Megan on some slides, and will work with Kelly to wrap up.

[2018-09-22 13:57] #949 closed

[2018-09-25 19:45] zepumph opened #957 "is "window.parent && window.parent.postMessage" check buggy?"
With @samreid recently while running CAF in phet-io mode, we noticed that `ColorProfile.reportColor()` was sending a `postMessage` to itself. That was being picked up by the phet-io message listener, producing some buggy data stream.

<details>
<summary>PhET-iO Events Stream</summary>
31 chargesAndFields.controller.input.mouseUpEmitter emitted {"args":[{"x":270.3999938964844,"y":407},{"pointerId":

[2018-09-25 19:45] zepumph opened #958 "is "window.parent && window.parent.postMessage" check buggy?"
With @samreid recently while running CAF in phet-io mode, we noticed that `ColorProfile.reportColor()` was sending a `postMessage` to itself. That was being picked up by the phet-io message listener, producing some buggy data stream.

<details>
<summary>PhET-iO Events Stream</summary>
31 chargesAndFields.controller.input.mouseUpEmitter emitted {"args":[{"x":270.3999938964844,"y":407},{"pointerId":

[2018-09-26 22:15] samreid commented on #958
To clarify, the code in question is:

[code]

It appears the intention was to send the message to another frame, not to itself.  Skimming through other occurrences of `window.parent && window.parent.`, they all seem to have the same intent.

MDN suggests using a check more like: https://developer.mozilla.org/en-US/docs/Web/API/Window/parent

[code]

But checking `window.parent!==window` also seems

[2018-09-27 14:04] jessegreenberg commented on #958
Both of those sound fine to me. It looks like we are already using `window.parent !== window` in a few places.

[2018-09-27 18:53] samreid commented on #958
@samreid will review cases and convert logic for cases that are obviously not meant for self window.  Where unclear, I'll reach out to responsible devs.

[2018-09-28 20:33] emily-phet commented on #956
All done!

[2018-09-28 20:33] #956 closed

[2018-10-04 14:07] clmccutchan commented on #955
@amanda-phet So sorry for the delay on this! I've dropped you an email about meeting to discuss. Also, the top link takes me to the original sim. Could you check that for me?

[2018-10-04 20:40] amanda-phet commented on #955
After a discussion with @clmccutchan she is going to first redraw the whole cake (1/1) and make sure we agree on that look first before drawing the pieces. She proposed making it look a little more realistic with the decoration (maybe pink frosting instead of green, that sort of thing). Once we have agreed on the look she will draw the remaining pieces.

[2018-10-05 15:23] emily-phet opened #959 "Mockup of a Physics calendar submission on a11y work"
The physics department is asking for submissions for the 2019 calendar. @kathy-phet suggested we put together one representing the a11y work. Here's an idea I had:

One idea would be an artistic image that conveys the description layers added into Balloons and Static Electricity, with an inset or overlay of an image of a student using the a11y features [like this one](https://donatenow.networkforg

[2018-10-05 16:39] amanda-phet commented on #959
Would it make sense to include the work that Megan has done to illustrate an inclusive classroom? She and Mariah have spent a lot of time on those graphics and I have been wondering when they will be used.

[2018-10-05 17:02] ariel-phet commented on #959
@amanda-phet I use those scenes Mariah created (and will be using the ones Megan created) a fair bit on social media.

@emily-phet can you make a powerpoint slide or just a hand sketch of what you are describing, I am not quite sure I follow. This could literally be just rectangular boxes with "screenshot here" etc, very low fidelity. I am also not sure what you mean by things like "a semi-transpa

[2018-10-08 20:23] clmccutchan commented on #955
@amanda-phet I've attached a new draft of the cake with more decorative frosting. I need to tweak the perspective on some of the frosting, but I think you'll be able to see what I'm thinking about for a more realistic cake than the original.

I didn't add any shading on the actual cake, which I think will be appropriate since the frosting has some shading.

![fractions_cakes_draft100818-01](https:

[2018-10-08 20:29] amanda-phet commented on #955
I like this direction! It does look more realistic than the green stripe, and I agree the pink could be toned down a bit- perhaps more of a pastel pink.

Can you elaborate on why there is no shading, or why that might be appropriate? I personally liked the shading.

[2018-10-09 15:06] emily-phet opened #960 "Downloads and views for Activities authored by Tim Herzog"
Can someone aggregate statistics on the views and downloads to activities authored by Tim Herzog? I'd like to share these numbers with him, and acknowledgment his long-time collaboration with us.

[2018-10-09 15:14] arouinfar commented on #960
I don't know how to access statistics for activities, but here's a link to Tim Herzog's activities to make it a bit easier for whoever is assigned this issue:
https://phet.colorado.edu/en/teaching-resources/browse-activities?sims=all&types=all&subjects=all&levels=all&locales=all&query=Herzog

Interestingly, one of Tim's activities has been modified by another teacher for MS/HS, and another has bee

[2018-10-09 16:45] clmccutchan commented on #955
@amanda-phet I was just trying to get a quick draft with the frosting. But, because the frosting has some shading, I think the cake should also. I've toned down the pink and added shading to the cake. Let me know what you think of this draft.

![fractions_cakes_draft100918-01](https://user-images.githubusercontent.com/25354670/46684575-773d7880-cbb0-11e8-84b5-94b7603d61ce.png)

[2018-10-09 17:56] amanda-phet commented on #955
@clmccutchan this is very pretty and a big improvement over the current cake pieces. However, I talked with @jonathanolson this morning about how he is currently using the images in the code, and I'm starting to think this is going to be problematic to re-draw all of the cake pieces. It could end up being very expensive to use new artwork if it isn't exactly the same in every way as the current ar

[2018-10-09 20:59] ariel-phet commented on #960
@emily-phet how important/priority is this? I will discuss with Matt, but I don't think we currently have this ability as I think stats are only currently being kept for sims. My guess is it will take either some new scripts going forward, and I am not sure if we can parse logs or not for this historical data. Will check with Matt?

[2018-10-09 21:33] mattpen commented on #960
Here are the total page views from Google Analytics.  This relies on sampling and is not super accurate, but should give a good rough estimate.  To calculate the downloads, I'd need to spend a couple of hours parsing the apache logs.  Should we be tracking these numbers going forward?

|                         title                          |       date | authors

[2018-10-10 13:18] emily-phet commented on #960
Hmm, I didn't realize this was such a challenge. I believe I've seen download counts for activities before, and assumed we had some relatively straightforward way of determining this. The views from Google Analytics are probably sufficient. I'm going to close this issue, and will re-open in the (unlikely) case more data is needed. Thanks!

[2018-10-10 13:18] #960 closed

[2018-10-10 23:01] clmccutchan commented on #955
@amanda-phet You betcha! I knew redrawing the cake would certainly take a lot more time than leaving  it as is. But I hadn't considered the issues with coding. I'll work on (2) for the pieces of cake sitting in the bucket next week.

[2018-10-12 22:13] clmccutchan commented on #939
@arouinfar Here's a quick draft of the reworked hose. It's a bit boring right now, but what do you think of the shape and bronze color?

I've got all of the speakers done and can pass that on to you if you'd like.

![wave interference_spout 2](https://user-images.githubusercontent.com/25354670/46896300-9bf85100-ce39-11e8-8d2e-eb22a922b450.png)

[2018-10-12 22:15] arouinfar commented on #939
Thanks @clmccutchan! I'll review the hose with the design team and get back to you early next week. In the meantime, can you send me the .ai file (CS6) for the speaker?

[2018-10-15 23:29] terracoda opened #961 "Poster Layout Help for ASSETS demonstration poster"
Help needed to set-up illustrator file that I can tweak content and add and adjust images

Google document containing sketch and text is here:
https://docs.google.com/document/d/11i-V1xENMVCKhvpXiQCEZ9tqOfqlIEVwROcoZNdoKp8/edit?ts=5bc4c4ec#

What would be great to have illustrator poster file set in a portrait layout
- no wider than 33 inches (with bleed)
- using the new black/pink theme
  - thick

[2018-10-15 23:30] terracoda commented on #961
@arouinfar or @DianaTavares would one of you be able to help me with this issue? I know it is very short notice.

[2018-10-16 01:07] emily-phet commented on #961
@ariel-phet - any chance someone might be able to help @terracoda out with this one?

[2018-10-16 01:57] DianaTavares commented on #961
This is the first draft. I fallowed the structure in the picture in the document in google drive and I put all the text of the file (The table in the Demo/auditory Display is only an example). The size in this moment is 33X48 in, body font size 32 pt and 40 pt for the header.

Bullet lists are super tricky in illustrator (I did the Visual Demo and Methods as example). I am going to ask @arouinfar

[2018-10-16 07:31] terracoda commented on #961
@DianaTavares, thank you are amazing! I now see very clearly where I need to shorten text (everywhere)!

I'd like the poster to be a very visual attention grabber - with the Demo section big and inviting. I will visualize PDOM text, so it will be an image.

On the final version, I'd really like to have the four main PhET A11y icons (Sound, Static Descritpions, Dynamic Descriptions, Alternative Inp

[2018-10-16 10:40] terracoda commented on #961
Found the accessibility icons. They are here:
https://drive.google.com/drive/folders/0B44Uycdx6JGdb2NkbmhlSGtMSUk

For easy access, I'll copy the png's into my Assets Poster folder.

[2018-10-16 12:58] terracoda commented on #961
@DianaTavares, thanks again fro your quick layout. It's helping me focus.

I uploaded several images:
- a head shot of me (and my son, but it was the only good one I could find)
- 2 screen shots
  - the JT PDOM
  - JT arm positions (may not use)
- a11y icons for sonification, description, full description, and keyboard
- STILL NEED to FIND a Georgia Tech logo and maybe sound lab logo if they have

[2018-10-16 13:43] arouinfar commented on #961
@DianaTavares I don't think there is a particularly great way to make bulleted lists in Illustrator. You'll need to insert the bullet symbol into the text box or draw your own circle next to the text. I prefer drawing the circle separately, as that gives me more control over the size and placement. The size of your bullets in the mockup looks good, but I would add a few more spaces between the bul

[2018-10-16 15:54] DianaTavares commented on #961
Thanks @arouinfar and @terracoda! I am working in the editions suggested. @terracoda, can you send me the link of the folder with the images?

I will wait till the text is shorten to work about the bullet lists with @arouinfar recommendations.

I already did this feedback.  Working in the Auditory Display - Sound Table!

[2018-10-16 15:58] terracoda commented on #961
@DianaTavares, I uploaded new logos for Georgia Tech and Sonification Lab.

[2018-10-16 15:58] terracoda commented on #961
Apologies, I just updated the list instead of posting a new comment. I should have made a checklist.

[2018-10-16 16:05] terracoda commented on #961
All the files are  in here:
https://drive.google.com/drive/folders/1IafXB_kq_OTzAhDBWeF5VDKHCiTqAjdF

[2018-10-16 18:02] DianaTavares commented on #961
I add the pictures (I just need to know where to put them). The quality of the logos looks a little bad when it's small, but looks good in the 100% zoom. I don't finish the table yet because I only put two rows and it's not going to fit, the table in the document has 4 rows more, then probably @terracoda want to delete some text in the table as well.

Let me know your comments and when the new tex

[2018-10-16 19:17] arouinfar commented on #502
The artwork was missing the bike pedals, which @megan-phet added last week. She also made some tweaks to the bike.

Currently, the leg layers are mis-ordered, leading to pairings like this:
![image](https://user-images.githubusercontent.com/8419308/47041308-af5f3100-d145-11e8-97f0-81dcd72792a6.png)

@megan-phet the file you shared with me on Friday still has the funny layering. Did you accidentall

[2018-10-17 15:28] terracoda commented on #961
New version just uploaded to google docs.
Everything above the Evaluation section is done (except I need to add new small screen shots)

I am now shortening the text in the google doc for the bottom sections. I do not know how to 3 important things:
- Underline my name in the list of authors
- Add bullets where I currently have dashes
- Turn off auto hyphenation. I'd like to see if everything fits

[2018-10-17 16:44] DianaTavares commented on #961
The poster it's looking beautiful!! this is the way to get that 3 things:

Select the text that you want to underline, click in "Character" in the top of illustrator and click in the underline icon:

![screen shot 2018-10-17 at 10 06 26 am](https://user-images.githubusercontent.com/26031501/47101052-4388d100-d1f6-11e8-9d7a-9a3e84f3c97f.png)

Find the little circle symbols clicking first in "Type"

[2018-10-18 01:31] terracoda commented on #961
Thanks so much for your help @DianaTavares. Here's a small screenshot of the final version.
<img width="397" alt="screen shot 2018-10-18 at 3 28 39 am" src="https://user-images.githubusercontent.com/1902116/47125904-26034800-d286-11e8-8049-2fbdcc2eb50c.png">

[2018-10-18 01:31] #961 closed

[2018-10-20 05:55] arouinfar commented on #502
@megan-phet finalized the cyclist assets, and everything is looking great! I've formatted/exported the assets for implementation, so we can go ahead and close this issue.

[phetgirlbiking+tiredfaces.pdf](https://github.com/phetsims/tasks/files/2497841/phetgirlbiking%2Btiredfaces.pdf)

Thanks @megan-phet!!

[2018-10-20 05:55] #502 closed

[2018-10-22 16:30] emily-phet commented on #959
For layer 1, I was hoping to have something that conveys some of the different types of work involved. It doesn't have to be readily understandable to the viewer, but something visually interesting that sets the backdrop for the outcomes shown in layer 2 and 3 (i.e., the completed accessible simulation, and the happy learner).

This could be screenshots of the a11y view, text Taliesin generates li

[2018-10-22 17:08] emily-phet commented on #959
Some screenshots of example artifacts:
From [BASE: Two-balloon experiments.](https://docs.google.com/document/d/1LrOWT4RZiS4emrumW479POK--zWveWiylZMd7unNyi0/edit?usp=sharing)
<img width="779" alt="screen shot 2018-10-22 at 12 01 30 pm" src="https://user-images.githubusercontent.com/5109055/47306555-61897380-d5f2-11e8-95cd-4d41df3cefd4.png">

From [BASE: Grid Descriptions Simplified and Revised](ht

[2018-10-22 18:41] ariel-phet commented on #959
@megan-phet will try to do a rough draft tonight.

[2018-10-23 19:12] DianaTavares commented on #959
Hi @emily-phet, this is what I understand with the descriptions. Let me know what you think:

![screen shot 2018-10-23 at 1 09 40 pm](https://user-images.githubusercontent.com/26031501/47384639-112f1600-d6c5-11e8-9aae-f7c4d6dae6bc.png)

[2018-10-23 22:12] emily-phet commented on #959
@DianaTavares Looks nice! A few suggestions:

- Could you add a border to the image of the student, and bump the picture up and to the left a little, so that it doesn't go to the edge of the image. Maybe enough left so that it covers the 'reset balloon' button in the sim, and just high enough it doesn't overlap with a speech bubble in the sim.
- Could you replace the text in the speech bubbles wit

[2018-10-24 16:08] emily-phet commented on #959
@kathy-phet
Proposed caption:
Dr. Moore is the Director of Research and Accessibility for the PhET Interactive Simulations project. Dr. Moore is a leader in inclusive education technology, and directs a team of physicists, linguists, musicians, education researchers, software developers, teachers, and students in the research and development of multimodal simulations. Through the careful design an

[2018-10-24 17:39] emily-phet commented on #959
@DianaTavares

Looks great! A few last tweaks:

- Let's replace the 'description icon' with the blue lines, with the one having yellow/orange lines. Then remove the current 'description icon' with yellow/orange lines from behind the photo.
- Move the keyboard icon up slightly
- You might just remove the radio buttons box entirely, and just draw in a balloon cord that would then be missing. It does

[2018-10-24 17:52] DianaTavares commented on #959
![screen shot 2018-10-24 at 11 51 05 am](https://user-images.githubusercontent.com/26031501/47450706-2c605b00-d783-11e8-9152-84b39266534e.png)

[2018-10-24 19:04] arouinfar opened #962 "Artwork for Energy Skate Park"
@jessegreenberg will be working on adding skater options to ESP (https://github.com/phetsims/energy-skate-park/issues/32), so we should get started on updating the skater artwork.

Here are the options in Java:
<img src="https://user-images.githubusercontent.com/8419308/47448163-8f9abf00-d77c-11e8-85ef-9439a169fdc2.png" width=250>

Some modern skater options could include:
* PhET girl
* @ariel-phe

[2018-10-24 19:30] emily-phet commented on #959
@DianaTavares
Perfect!! I love it. :)

[2018-10-24 19:35] DianaTavares commented on #959
:D perfect, I am glad that you like it! I love it too!

Here is the PDF that have the size that @ariel-phet give me (because the images that I use in this issue are screenshot. Let me know if you need that I save the file in other extension and where to save it in PhET google Drive if its needed.

[2018calendarRoughDraft.pdf](https://github.com/phetsims/tasks/files/2512012/2018calendarRoughDraft.p

[2018-10-24 21:32] DianaTavares commented on #959
yes, working in that!

[2018-10-24 22:30] DianaTavares commented on #959
this is a 9 X 11.5 in document with .25 in border (then the image is 8.5 X 11). I just move a little bit some pictures.
![calendarphet2018-01](https://user-images.githubusercontent.com/26031501/47465371-eff42580-d7a9-11e8-922b-52eca4e6719f.png)
[calendarPhET2018.pdf](https://github.com/phetsims/tasks/files/2512559/calendarPhET2018.pdf)

[2018-10-25 16:56] emily-phet commented on #959
Wonderful. I believe this all done. I'll reopen if we get some requests from the folks putting together the calendar.

[2018-10-25 17:36] emily-phet commented on #959
@DianaTavares
Update suggested by folks making the calendar:

Does this seem doable? So having the grey background, and the images in the background, go to the edges, leaving the logo/sim screenshot/photograph where they are.

[2018-10-25 17:49] DianaTavares commented on #959
Yes, then it's something like this:
A 9 X 11.5 document without white margin: pictures and logo in the same position that the last time:
[calendarPhET2018.pdf](https://github.com/phetsims/tasks/files/2516138/calendarPhET2018.pdf)

![calendarphet2018v2-01](https://user-images.githubusercontent.com/26031501/47519823-b4119c80-d84b-11e8-87ba-fd10df282f5d.png)

[2018-10-25 21:14] zepumph opened #963 "sort all require statements"
From https://github.com/phetsims/phet-io/issues/1401 and https://github.com/phetsims/phet-io/issues/1396. We need to sort require statements that we changed in those issue. I'll just run the grunt task for all repos.

[2018-10-25 23:29] zepumph commented on #963
I ran `for-each.sh perennial/data/active-repos grunt sort-require-statements` and while there were a few repos that were skipped because grunt wasn't installed, this hit most of them. Closing

[2018-10-31 17:53] amanda-phet opened #964 "Classroom video clips"
@kellywurtz is working on creating a collection of clips from Linda's classroom.

Here is the tracking document: https://docs.google.com/document/d/1Jfzeh8BGkTjN92jxqr6twhEF9Wyqs8LyI-ibERhfbt8/edit#

Here is the folder with the original footage: https://drive.google.com/drive/folders/1CgxFcHhRHlF30_EUtjOBM85_cVTfH7G-

And here is the folder where the clips should go: https://drive.google.com/drive

[2018-10-31 18:07] amanda-phet opened #965 "Combining video footage into single files"
@kellywurtz is working on combining footage from the math classroom study into single files for more seamless coding. Each teacher has multiple class periods that were filmed and need to be combined. We will use this checklist to keep track of the progress.

Simon
- [ ] Lesson 1 Period 1
- [ ] Lesson 1 Period 2
- [ ] Lesson 1 Day 2 Period 1
- [ ] Lesson 1 Day 2 Period 2
Miyasaki
- [ ] BAU_P6
- [ ]

[2018-10-31 18:11] samreid opened #966 "Util vs Utils"
From https://github.com/phetsims/phet-io/issues/1366

@pixelzoom said:

@chrisklus replied:

We should make a choice on this and be consistent, in the near future for PhET-iO API.

Here is a list of the current names we use for this.

Util, singular:

`~/github$ find . -not -path "*node_modules*" -name "*Util.js"`
- [x] ./dot/js/Util.js
- [x] ./unit-rates/js/common/URUtil.js
- [x] ./scenery/js/uti

[2018-10-31 18:42] pixelzoom commented on #966
@chrisklus said:

I don't think the name should be based on how many methods are in the file.  We don't want to have to change (or remember to change) a name when the number of methods is increased from 1 to > 1.

@samreid asked:

Plurals seems more correct to me.  But I don't feel to strongly about this issue, if the consensus ends up being "do nothing".

[2018-11-01 06:10] jonathanolson commented on #966
My feelings mirror @pixelzoom's, with the note that now I prefer files named with the "theme" of what they provide. If things provide many different themes (DOT/Util), I'd prefer (long-term) to break them out into multiple files.

For example in DOT/Util, I'd want to at least separate e.g. `RootSolver`, `Intersection` or `Geometry`, etc. I'm not exactly sure what is ideal, but including a bunch of

[2018-11-01 15:49] amanda-phet commented on #965
@kellywurtz just check off videos as you complete them!

[2018-11-01 17:43] ariel-phet commented on #953
@pixelzoom I think we can just address these issues when we republish sims. There is no need to prioritize this work otherwise. Closing this issue now that specific issues have been created.

[2018-11-01 17:43] #953 closed

[2018-11-01 23:29] zepumph commented on #963
It wasn't enough. I needed to install grunt in all repos first, I reran this again.

[2018-11-01 23:39] #963 closed

[2018-11-02 11:02] emily-phet commented on #959
Sent. Thanks @DianaTavares

[2018-11-02 11:02] #959 closed

[2018-11-02 14:55] samreid commented on #966
Based on prior remarks, this seems like we have the correct name in the public PhET-iO API.  Therefore, this issue would not block publication.

[2018-11-06 03:10] ariel-phet commented on #962
Here is a reference photo for Emmy (I can certainly take one if having a specific post would be helpful, just let me know what you would want @megan-phet)

@arouinfar lets start with the basic options, and we can talk with @emily-phet if there is an inclusive option we want to try.

![hans yard](https://user-images.githubusercontent.com/4051174/48040577-be2e7780-e136-11e8-9b97-2c2e4b2f18d0.jpg)

[2018-11-06 12:01] emily-phet commented on #962
@ariel-phet @arouinfar How about a skater with a prosthetic leg, an homage to Jon Comer?

[2018-11-07 16:10] arouinfar commented on #962
Thanks @ariel-phet @emily-phet! I'll set up a meeting with @megan-phet to get started on this.

[2018-11-07 20:03] kellywurtz commented on #965
@amanda-phet Atwood is done btw!

[2018-11-07 22:42] amanda-phet opened #967 "Add CCSS-M to database"
@phet-steele you have the alignment doc, so you just need to go to the admin page for each of the math sims and add all applicable standards.

If a checklist would be helpful here let me know.

[2018-11-07 23:05] phet-steele commented on #967
@amanda-phet just let me know if any are missing from this list (it should match the doc so I'll move forward with this list unless you say I'm missing one):

- [ ] Area Builder
- [ ] Area Model Algebra
- [ ] Area Model Decimals
- [ ] Area Model Introduction
- [ ] Area Model Multiplication
- [ ] Arithmetic
- [ ] Build A Fraction
- [ ] Equality Explorer
- [ ] Equality Explorer: Basics
- [ ] Equalit

[2018-11-08 17:45] amanda-phet commented on #967
The list looks right to me.

Note to self: I should identify the CCSS for the applications sims, too.

[2018-11-09 17:57] pixelzoom opened #968 "factor out constants for option default values"
Look for opportunities to factor out constants for option default values, especially in common code, but also in sim-specific code.  This is not necessary for values of type `{number}`, `{boolean}`, or `{string}`. (JavaScript interns strings.)

https://github.com/phetsims/tandem/issues/71 (the memory increase due to IO types) is an example of what can happen when default option values are created

[2018-11-09 18:01] pixelzoom opened #969 "reduce memory usage of sims"
This came up in discussion of https://github.com/phetsims/tandem/issues/71 with @samreid.  After mitigating the memory consumption due to IO types, we noticed other opportunities to reduce memory usage.

Some questions for discussion at dev meeting:

* Should we reduce memory usage of sims?  Is the effort worth the cost?

* What patterns should devs be aware of?

* How aggressively should we apply

[2018-11-09 23:39] pixelzoom commented on #968
We should also discuss ways to prevent such constants from being mutated.  E.g. the pattern used for Vector2.ZERO, Object.freeze,...

[2018-11-12 17:21] arouinfar commented on #962
Thanks @megan-phet! I'll show these to to the team in our next design meeting.

[2018-11-12 17:31] emily-phet commented on #962
Nice! As a note for any future iterations on the the third skater above - modern prosthetic limbs look more bionic. If you'd like me to point you to some images of real ones, let me know.

[2018-11-12 18:06] arouinfar commented on #962
@emily-phet can you send us some reference images?

[2018-11-12 18:13] emily-phet commented on #962
google image search for "prosthetic leg skateboarder" and you'll find a ton.

[2018-11-12 18:15] emily-phet commented on #962
as i believe @ariel-phet mentioned, there's also the wheelchair athlete that could be represented. image search "wheelchair athlete skateboarder" and you'll find a lot.

[2018-11-12 18:42] arouinfar commented on #962
@emily-phet we don't have any artwork of a wheelchair athlete with the appropriate perspective. While I love the inclusivity, I'm worried that the large wheels will create expectations of moment of inertia/rotational energy that ESP is not designed to address.

Looking at "prosthetic leg skateboarder", none of these look particularly bionic to me, though I do see some room for improvement over the