[2015-03-31 19:29] jonathanolson commented on #205
I've cleaned up the branches I've created (most notably the mutable-bits ones).

[2015-03-31 19:49] arnabp commented on #181
@aaronsamuel137 This is the HTML embed code for a test video I made. Can you test this on a HTML5 sim page primer?

iframe src="https://player.vimeo.com/video/123764106" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe
(insert brackets before and after)

[2015-03-31 20:05] pixelzoom commented on #205
At 3/31/15 dev meeting, we decided to create an issue each time we create a (non release) branch, including the branch name, it's purpose, and when/whether it's intended to be deleted. Issue title should be "branch: <name>".  No need to create such an issue for 'gh-pages' branches.

[2015-03-31 20:07] pixelzoom commented on #205
@jonathanolson thanks for cleaning up.  I still see some branches in scenery/dot/kit that don't have a "branch" issue (see below).  Were these created by someone else?

scenery: ocad-day-1, ocad-day-2, pixi.js
dot: bounds2-vector-components
kite: pixi.js

[2015-03-31 20:44] pixelzoom commented on #205
I've created issues for all branches that are unaccounted for, except those mentioned immediate above for scenery/dot/kite.  Feel free to describe or delete the branches at your leisure.

These common-code repos (see below) have branches with version numbers, which I think can be safely deleted. @jonathanolson @samreid @jbphet any objections?

axon: 1.0, 1.1
chipper: 1.0, 1.1
phet-core: 1.0

[2015-03-31 20:47] jessegreenberg opened #207 "Test Molecules and Light Release Candidate 1.0.0-rc.1"
Molecules and Light has a release candidate that is ready to be tested.  The test matrix can be found here: https://docs.google.com/spreadsheets/d/1SIuHF5V4TPR-H2FHugvL52cB6MvQ60gYgg-W-88A6mg/edit#gid=2

[2015-03-31 20:51] pixelzoom commented on #205
I created issues for the scenery/dot/kite branches, i.e.:

scenery: ocad-day-1, ocad-day-2, pixi.js
dot: bounds2-vector-components
kite: pixi.js

[2015-03-31 20:57] pixelzoom commented on #205
Deleted these branches:

axon: 1.0, 1.1
chipper: 1.0, 1.1
phet-core: 1.0

[2015-03-31 20:57] pixelzoom commented on #205
Done, closing.

[2015-03-31 20:57] #205 closed

[2015-03-31 23:07] ariel-phet commented on #207
@bryo5363 @orejolaphet @phet-steele please make this your top testing priority

[2015-03-31 23:23] mariahmaephet commented on #197
![screen shot 2015-03-31 at 5 22 42 pm](https://cloud.githubusercontent.com/assets/11527557/6931456/a5ea9eca-d7ca-11e4-959e-a73f98436442.png)

@arouinfar

[2015-04-01 00:03] mariahmaephet commented on #198
![screen shot 2015-03-31 at 5 54 36 pm](https://cloud.githubusercontent.com/assets/11527557/6931916/2ee2a10a-d7d0-11e4-8c49-f3b3c211b7cd.png)
![screen shot 2015-03-31 at 5 59 16 pm](https://cloud.githubusercontent.com/assets/11527557/6931917/2ee5e770-d7d0-11e4-8c94-3205c70bc309.png)

@arouinfar what do you think about these?

[2015-04-01 15:21] ariel-phet commented on #200
Issues addressed and bumped to RC

[2015-04-01 15:21] #200 closed

[2015-04-01 17:40] arouinfar commented on #197
Great work, @mariahmaephet! Can you please put the .ai file(s) into your Google Drive folder? I would like to put them into the mockup to see how they look.

[2015-04-01 17:41] schasteen commented on #195
I assume you want just a .mov or .mp4 of the PhET "swoosh" and credits screens?  Not modifiable?  Or did you want our Premiere files in which the text, title, etc., is modifiable?

[2015-04-01 17:41] schasteen commented on #195
Also, the ending screen will likely be changed soon, but I assume you want the current one; it will be perhaps a month before we finalize the new ending screen.

[2015-04-01 17:45] arouinfar commented on #198
It's looking good, @mariahmaephet. I prefer the second design, but it will need a little adjusting. The hook looks a bit too sharp. Can you give it a more rounded/blunted end? This artwork isn't pressing, so please focus your attention on #206.

In the meantime, can you please send me the file for the 2nd arm? We will be discussing this sim during tomorrow's design meeting, and I'd like to insert

[2015-04-01 17:46] oliver-phet commented on #195
I think just the video file is fine for now .mov might be easiest for us.

[2015-04-01 20:36] oliver-phet opened #208 "Get activity licensing text"
@kathy-phet Do you have the licensing text for user-submitted activities? We would like to add this to the new 'Submit your activity' page and also have it available to answer user licensing questions about activities.

[2015-04-01 20:52] oliver-phet commented on #208
We also need to know if the user has to check an "I agree" button, or if we can simply use text like "By submitting this activity, you are agreeing to the Licensing Agreement above."

[2015-04-01 20:53] oliver-phet opened #209 "Update PhET Design Guidelines page"
http://phet-dev.colorado.edu/en/teaching-resources/activity-guide

[2015-04-01 21:44] amanda-phet commented on #194
@patricialoeblein, Just to clarify, We are all planning to participate in this process of looking at gold-star activities and determining if they can be included with the HTML5 sim, but it seemed like something you'd want to get started on.

Any activities for which we could not make a determination will prompt an email asking the author(s) to update it if they wish for it to show up on the HTML5

[2015-04-02 00:01] patricialoeblein commented on #194
Last time I responded, I said I would prefer to contact the authors of gold stars for the sims similar to the html5 ones. Also, send out a wide call for activities which we would review as they come in. Only after that do I think we should try to re-identify activities and only if there are not a gold one for a sim. Did I miss a discussion?

Trish

From: Amanda McGarry [mailto:notifications@github

[2015-04-02 03:25] mariahmaephet commented on #206
![screen shot 2015-04-01 at 9 21 42 pm](https://cloud.githubusercontent.com/assets/11527557/6957125/2608cf24-d8b5-11e4-9eff-d5a0f1bdd2a8.png)

@amanda-phet Does this look good? What does the text on the bottom right say?

[2015-04-02 03:30] mariahmaephet commented on #206
![screen shot 2015-04-01 at 9 30 25 pm](https://cloud.githubusercontent.com/assets/11527557/6957194/5da235f0-d8b6-11e4-8ffc-286ce09d70ca.png)

[2015-04-02 04:21] ariel-phet commented on #206
Hey, @mariahmaephet - nice start! It might be good to hash out the rest of the polishing in person. It looks like you might have some time on Friday...is there a good time for you to meet up?

A couple of requested tweaks:
1. I think it would be best if the "shouldn't the best..." question fit on two lines (it seems a bit odd to read on 3 lines) Feel free to choose a different font or play around

[2015-04-02 21:53] amanda-phet commented on #208
It is clearly a standard that other sites use when agreeing to licensing:
![screen shot 2015-04-02 at 3 53 03 pm](https://cloud.githubusercontent.com/assets/7852916/6974493/6fc8a38c-d950-11e4-94b9-2158c8113acf.png)

[2015-04-03 02:14] mariahmaephet commented on #206
@ariel-phet I apologize for not responding sooner--my computer charger is hiding from me. I'll try to borrow one tomorrow. I can meet any time, so let me know what works for you. If it's after 11am I should be able to get a charger and make those edits by then.

[2015-04-03 04:08] ariel-phet commented on #206
Hey @mariahmaephet - how about we meet at 1 pm in @amanda-phet 's office

[2015-04-03 14:30] mariahmaephet commented on #206
@ariel-phet 1pm works! See you then

[2015-04-03 16:47] mariahmaephet commented on #206
@ariel-phet
![screen shot 2015-04-03 at 10 45 36 am](https://cloud.githubusercontent.com/assets/11527557/6985274/dccfabda-d9ee-11e4-818c-9960807c8f9e.png)

[2015-04-03 16:49] mariahmaephet commented on #198
![screen shot 2015-04-03 at 10 49 10 am](https://cloud.githubusercontent.com/assets/11527557/6985292/13295280-d9ef-11e4-8e1c-3c91a00a4f17.png)
@arouinfar

[2015-04-03 16:54] samreid commented on #198
The source of light within a sim is from the top-left.  For instance, if you run Concentration, you will see the highlighting on the top left of the reset all button (and Hooke's Law will also feature this reset all button):
https://phet.colorado.edu/sims/html/concentration/latest/concentration_en.html

Some of our sims are a bit of a "lighting direction" jumble at the moment, but it is one small

[2015-04-03 17:19] mariahmaephet commented on #198
![screen shot 2015-04-03 at 11 18 22 am](https://cloud.githubusercontent.com/assets/11527557/6985684/40056c72-d9f3-11e4-9e3b-bd7b86bea4f9.png)
@samreid more like that?

[2015-04-03 17:30] samreid commented on #198
Yes, thanks!  That will look more consistent with the reset all button (not sure what other graphics appear in Hooke's Law).

[2015-04-03 18:09] arouinfar commented on #197
Self-assigning to implement new icons in the mockup.

[2015-04-03 18:10] arouinfar commented on #198
Thanks for your input @samreid. The arm looks great @mariahmaephet! Can you please update the .ai file in Drive?

[2015-04-03 18:30] amanda-phet opened #210 "Artwork for Making Tens"
This sim allows users to manipulate little torn pieces of paper. The best I could do with my skills currently looks like this:
![screen shot 2015-04-03 at 12 29 42 pm](https://cloud.githubusercontent.com/assets/7852916/6986711/22e4f3ec-d9fd-11e4-8bd4-4efba55b456c.png)

The original app that the sim is based on has this look:
![screen shot 2015-04-03 at 12 29 19 pm](https://cloud.githubusercontent.

[2015-04-03 18:30] mariahmaephet commented on #198
@arouinfar just updated it

[2015-04-03 19:16] aaronsamuel137 commented on #132
It looks like there are still some missing screenshots - I haven't looked to closely but it seems like all of the sims the have HTML versions need legacy screen shots as well as some other random ones like circuit-construction-kit-dc.

[2015-04-03 19:24] aaronsamuel137 commented on #203
The names that should be used are the ones listed when you log in as an admin and click on the "Simulations" link. The legacy sims (unfortunately) do not follow the same conventions as the java sims. To find the right name, look in the "flavor" column of the simulation table.

I have already changed the names for the screenshots that have been uploaded already on my local machine - but this is goo

[2015-04-03 19:30] phet-steele opened #211 "Research a new quick-release plate for a Kalimar tripod"
We are missing a plate that goes with our Kalimar Pro-Tech V-40 tripod, and the ones we have don't fit quite right. I've been told we have bought one that didn't work. @schasteen can you let us know what you bought so we don't buy it again?

[2015-04-03 19:31] oliver-phet commented on #211
@schasteen

[2015-04-03 21:10] amanda-phet commented on #132
@aaronsamuel137 Based on the spreadsheet being filled in it looks like @bryo5363 is still wrapping up this project and is checking them off as he goes. I don't think they are all in the drive folder that is linked above.

[2015-04-03 21:37] aaronsamuel137 commented on #132
OK great! All of the screenshots I have are on phet-dev now. Any ones that look like they are the wrong size are one's I haven't received yet.

[2015-04-03 21:37] aaronsamuel137 commented on #132
@bryo5363, please take a look at my comments in #203 to see the correct naming convention.

[2015-04-04 01:18] schasteen commented on #211
Here is the link to the product we bought before

<http://www.tripodquickrelease.com/Kalimar_Quick_Releases.htm>

Forum references:
<http://www.fixya.com/support/t5657474-kalimar_tripod>
<http://www.dpreview.com/forums/thread/1984617>

[2015-04-04 18:53] ariel-phet commented on #209
Moving to website repo (since the task is part of website design). Moved to https://github.com/phetsims/website/issues/114

Closing

[2015-04-04 18:53] #209 closed

[2015-04-04 18:58] ariel-phet commented on #206
@mariahmaephet - can you put the finalized version in the phet .ai files google drive in the booth materials folder, and then reassign this issue to me to verify and close?

[2015-04-04 19:02] ariel-phet opened #212 "Translation utility UI mockups"
Hey @mariahmaephet, I need some help mocking up the user interface for our planned translation utility.

As a first step, please plan a meeting with @amanda-phet in the near future to get a quick overview of the "InVision" tool.

It would also be good for you and I to find a meeting time the week of April 6th to get started on this project (please just email me to set up a time).

[2015-04-04 19:05] ariel-phet commented on #208
Just as a side note, @oliver-phet  an issue such of this would be better to put in the website repo with the "requires Kathy" label

[2015-04-05 04:47] ariel-phet commented on #206
Hey @mariahmaephet - I do not see the poster in the folder I mentioned above. It looks like you did not have edit permissions on that folder (which you now have).

[2015-04-05 04:49] ariel-phet commented on #206
@mariahmaephet - also for clarity, when you upload the file please name it with the date (2015_04_04_phet-booth-banner)

[2015-04-06 03:19] ariel-phet commented on #206
Looking great! Closing.

[2015-04-06 03:19] #206 closed

[2015-04-06 15:03] aaronsamuel137 commented on #181
Sorry, I forgot to comment on this last week, but the vimeo video is working great. You can see it now being tested on the new sim pages: http://phet-dev.colorado.edu/en/simulation/area-builder

I would say that we can go ahead with vimeo.

The only remaining privacy concern is that the way the page is set up now, somebody still could technically get the video link by viewing the page source - eve

[2015-04-06 15:33] ariel-phet commented on #181
Hey @aaronsamuel137 - good to hear!

I am going to move your comments to a website issue and close this one.

[2015-04-06 15:33] #181 closed

[2015-04-06 16:04] amanda-phet commented on #210
Also, the three-digit paper looks like this:
![screen shot 2015-04-06 at 10 04 38 am](https://cloud.githubusercontent.com/assets/7852916/7007158/5a8c5044-dc44-11e4-97e2-ac90b840737a.png)

[2015-04-06 16:49] amanda-phet opened #213 "PhET girl poses for level selection buttons"
We need 10 different level-selection icons for Making Tens. Ideally, they will communicate information about the level, but also be whimsical.

An idea I had was to use PhET girl in different poses with numbers to communicate things like "under 10" and "between 10 and 99".

The 10 levels are described below. As you can see, a button does not have a lot of real estate, so the images can not be too

[2015-04-06 16:52] ariel-phet commented on #213
@mariahmaephet - as an example I think for "over 100" we though we could have her peeking over the 100, or for one of the "under" examples perhaps peeking underneath the number (or bench pressing it or such). It can be pretty creative.I am sure you and @amanda-phet will discuss lots of ideas, but that is just to give a feel for the kind of thing we were thinking.

[2015-04-06 17:25] phet-steele commented on #211
Do we still have this plate?

[2015-04-06 17:45] schasteen commented on #211
No, it was returned.

[2015-04-06 19:24] patricialoeblein commented on #194
Amanda and I made a spreadsheet to keep track of progress. https://docs.google.com/spreadsheets/d/1ZYUl9GLmgc4KV0ioXT2FKaKkYLm33_C8VR4SorrXVbQ/edit#gid=0  . Steele will use the published date to help identify phet activities that could be updated with the contact information. I will email the person and ask if they can update the activity with the exception of me. I will put updating mine into my

[2015-04-06 20:05] oliver-phet commented on #195
@arnabp Can sync the video/speech as @arouinfar suggested? I have the intro clip and ending slides to add to the clip too.

[2015-04-06 22:03] oliver-phet commented on #207
Testing is now completed.

[2015-04-06 22:21] ariel-phet commented on #207
Excellent...closing

[2015-04-06 22:21] #207 closed

[2015-04-07 01:48] alexklinger commented on #196
here is the one I made for the design task
![bikepumpphet](https://cloud.githubusercontent.com/assets/8651105/7015742/f36e4eb0-dc95-11e4-98d3-2ffaf316ebb4.jpg)

[2015-04-07 01:51] alexklinger commented on #176
update wit rounded corners and more gender neutral look.
![accessibilty-icons](https://cloud.githubusercontent.com/assets/8651105/7015751/40eaf2ba-dc96-11e4-95d2-20632fb50ada.jpg)

[2015-04-07 20:22] arnabp commented on #190
Headphones, mic, and adapter have all been connected and bundled together on Oliver's desk.

[2015-04-07 20:22] #190 closed

[2015-04-07 22:29] arnabp commented on #195
<a href="https://drive.google.com/file/d/0BxerAx_XXHB2cW9JZUtwVzBTSWc/view?usp=sharing">Here</a> is the finished video. Did you want me to upload it to one of the Youtube channels? Phet Sims or Phet Sims: Tech Info?

[2015-04-07 22:33] arouinfar commented on #195
Great job with the syncing, @arnabp!

[2015-04-07 22:45] oliver-phet commented on #195
@arnabp and I were discussing the length of the intro (I thought it seemed too long for this type of troubleshooting video). Thoughts from others?

[2015-04-07 23:08] arouinfar commented on #195
@oliver-phet, are you talking about the stock PhET intro? I didn't find the intro to be unreasonably long when I first watched the video. It wasn't until after reading your comment that I noticed that it takes up a rather sizable percentage of the total running time.  For branding purposes I think we should keep our intros consistent. Though if we have plans to make several "quick tip" videos, it

[2015-04-07 23:14] oliver-phet commented on #195
Yes, the stock intro. It is ~9 seconds and seems unnecessary for a troubleshooting video like this. I'm assuming the plan is to embed videos like this in the troubleshooting page, so imo they don't need to be branded like other videos and could either have a shorter intro or no intro.

[2015-04-07 23:31] arouinfar commented on #195
If the only access point to the video will be through the troubleshooting page, then I agree that branding is not as important. If we plan on making more troubleshooting videos, then a short intro may be worth creating.  Otherwise, I'd be fine with removing the intro.

[2015-04-08 04:04] schasteen commented on #195
I personally think the intro adds a nice polish and consistency to the video, and isn't too long.   But as Amy says, if this is part of a series, then the intro is more important.  I also think you can move off the intro screen more quickly.  It's pretty much done at 07:00 but we don't hear a narrator until 0:11.  I think that lag is the reason it feels slow.  You could start the narration slightl

[2015-04-08 16:58] oliver-phet opened #214 "Test a few sims on the new "Datawind" 7" tablet"
@orejolaphet @bryo5363 @phet-steele Can you guys test a few HTML5 sims on this new "Datawind" 7" tablet? Maybe Molecule Shapes, ESPB, Balancing Act?

I put the tablet (still in box) on the device shelf.

Note issues you encounter on the tablet.

After testing sims, see if you can upgrade any of the software on the device (OS, browser), then retest some sims to see if there are any improvements.

[2015-04-08 17:41] pixelzoom commented on #214
@oliver-phet Which model are you testing? Just curious.  Worth noting is that the resolution of all Datawind devices is only 800x480.

[2015-04-08 17:56] phet-steele commented on #214
Using the "Browser" app, not the "Internet UbiSlate" app, these sims had very long load times:
Molecule Shapes (canvas) will run at 5-6 FPS, and selecting SF6 essentially freezes the app.
ESPB will run at 6-9 FPS on the first two screens, and drops to 4 FPS when multiple tracks are out on the playground screen.
Balancing Act, ?profiler wasn't working, but I'd put this sim in the ballpark of 6-10 F

[2015-04-08 18:05] phet-steele commented on #214
I cant get any of the three previously mentioned sims to open on the "Internet UbiSlate" app.

[2015-04-08 19:30] phet-steele commented on #214
I've downloaded Chrome, and it does not perform any better or worse in my opinion.

[2015-04-08 19:48] amanda-phet commented on #212
@mariahmaephet the site is http://www.invisionapp.com/. Sign up for a free account and you can look at the sample projects or tinker with making your own project. You basically just upload images, then within the site you can adding clickable areas that link to target images, comments, notes, etc.

---
Amanda McGarry
PhET Interactive Simulations
http://phet.colorado.edu

On Apr 4, 2015, at 12:02 P

[2015-04-08 20:34] ariel-phet opened #215 "Update iPads to iOS8.3"
Hey @orejolaphet, @bryo5363, @phet-steele, @arnabp whenever any of you gets the chance, can you update the iPads to iOS8.3 (which just came out)

Thanks!

[2015-04-08 21:55] pixelzoom commented on #214
Curious about how it looks on this device, with the lower resolution.

[2015-04-08 22:00] oliver-phet commented on #214
The sims I saw @phet-steele testing were all unusable using the default browser, Internet UbiSurfer, and the latest version of Chrome due to load time and lag. The resolution seemed "low", but adequate, to show a sim.

[2015-04-09 05:23] ariel-phet commented on #201
Switching to low priority since it is looking like something quirky was going on with Kathy's computer, and not a general issue

[2015-04-09 05:24] ariel-phet commented on #188
We are going to try this banner idea at NCTM, closing.

[2015-04-09 05:24] #188 closed

[2015-04-09 14:34] samreid commented on #215
@ariel-phet I'm seeing many reports that iOS 8.3 improves performance for iPad2 and iPad3, see http://www.reddit.com/r/apple/comments/31xh3l/ios_83_made_my_phone_feel_faster_than_ever_before/

I recommend to test performance on several sims on iOS8.2 using the ?profiler query parameter and record performance, *then* upgrade to iOS 8.3 and re-test performance on those same sims, so we can see if th

[2015-04-09 15:03] ariel-phet commented on #215
Sounds good to me. @samreid do you mind putting a checklist of a few sims that are known to be borderline performance and might be good test cases?

[2015-04-09 19:34] samreid commented on #215
Some tests for my iPad3, run with ?profiler so we can compare frame rates:

iOS 8.1.2
Energy Skate Park: Basics 1.0.0.  Intro Screen.  Pie Chart on, Bar Graph on, Grid on, Speedometer on.  Skater oscillating back and forth on the parabola track.
60fps

Energy Skate Park: Basics 1.0.0.  Playground Screen.  Dragging a single track in a circle many times
14fps

Faraday's Law 1.0.1.  Dragging bar magn

[2015-04-09 19:37] samreid commented on #215
Would be great for others to replicate these tests on iPad3/iOS8.2, iPad3/iOS8.3, iPad2/iOS8.2, iPad2/iOS8.3.  Once my iPad3 is updated to iOS8.3 I'll run the tests again and report here.

[2015-04-09 19:52] arnabp commented on #195
The background noise was from the AC in Oliver's room, which is too loud and spreads through the room too much for the new mic not to pick up (which I used for this).

Here's <a href="https://drive.google.com/file/d/0BxerAx_XXHB2T0JETmZHV216UEk/view?usp=sharing">a new version</a> where I reduced the length of the intro, used a simple background noise reducer, boosted the audio a bit, and switched

[2015-04-09 19:59] samreid commented on #215
I reported some numbers above.  SVG things seem about the same speed, but canvas seemed a bit faster, at least from the color-vision test.

[2015-04-09 20:19] arouinfar commented on #195
The audio quality has definitely improved. I don't hear the background noise unless I turn the volume up quite high.

The "Mac Sim Troubleshooting" title and subtitle appear on screen for too little time to actually be read. Perhaps we should remove the "Bypassing Gatekeeper for Java Simulations" subtitle to facilitate quicker reading.

[2015-04-09 21:51] schasteen commented on #195
I agree that the background noise is better.  If the title screen stays on there about another 1 second, and the title text doesn't fade out before the screen changes, that would probably help readability.

[2015-04-09 22:46] arouinfar commented on #197
Icons implemented, closing.

[2015-04-09 22:46] #197 closed

[2015-04-09 22:52] arouinfar commented on #198
Hey @mariahmaephet, there are a few tweaks that we'd like to make to the hook, but it's probably easiest to discuss them in person. There's also another piece of artwork we'll need for Hooke's Law that we can discuss during our meeting. I'll send you an email to schedule a time.

[2015-04-09 23:26] arouinfar commented on #196
Hey @alexklinger, I'd let to set a time with you to discuss what needs to be done with the pump. I've sent you an email to schedule the meeting.

[2015-04-10 18:28] phet-steele commented on #215
The iPad2 in the office is running iOS 8.0, and her are the results from the same tests performed above:
ESPB Intro: 60fps
ESPB Playground: 17fps
Faraday's: 20fps
Color Vision: 60fps
Build an Atom: 12fps

I also performed tests on Molecule Shapes 1.0.0.
Model Screen, 4 lone pairs, 2 single bonds, rotating the molecule around while holding a bonded atom: 55fps
Real Molecules, SF6 with bond angles a

[2015-04-10 19:07] phet-steele commented on #215
iPad2 now running on iOS 8.3, earlier performance is the first number reported, then the arrow points to the updated performance:
ESPB Intro: 60fps --> 60fps
ESPB Playground: 17fps --> 17fps
Faraday's: 20fps --> 20fps
Color Vision: 60fps --> 60fps
Build an Atom: 12fps --> 12fps
Molecule Shapes Model: 55fps --> 58fps
Molecule Shapes Real: 20fps --> 20fps

iPad3 now running on iOS 8.3:
ESPB Intro: 6

[2015-04-10 19:10] samreid commented on #215
Thanks @phet-steele, this is very valuable to help us understand what is happening in new iOS updates, and how it relates to performance improvements reported by others.  Nice work!

[2015-04-12 17:16] emily-phet opened #216 "Polishing of CHI Poster"
If Mariah has some time to add a little polish to a poster by noon on Tuesday (this is the time I will head over to JILA to print it), that would be very helpful.
- If only a little bit of time is possible, just going over it and aligning things would be great.
- If she has more time, I bet there's a way to structure this poster similar to the ACS poster she made a few weeks ago, e.g., with the "t

[2015-04-12 17:47] alexklinger commented on #158
Here is the first draft of the bookmark, I wasn't sure what information was important, so I kind of guessed.

Side 1:
![phetbookmarkdraft-01](https://cloud.githubusercontent.com/assets/8651105/7106745/7e3cd292-e109-11e4-88bf-b9e3c7dccb1a.png)

Side 2:
![phetbookmarkdraft-02](https://cloud.githubusercontent.com/assets/8651105/7106747/b330371e-e109-11e4-9cbf-7ccc5b9d8a27.png)

[2015-04-13 03:53] ariel-phet commented on #216
Hey @mariahmaephet - please make this your top priority now that the booth items are finished.

If possible, I think @emily-phet would like to meet with you on Monday (4/13) or Tuesday (4/14) - obviously I will let you two coordinate, I just wanted to put a "heads up" in this comment

[2015-04-13 04:33] mariahmaephet commented on #216
@emily-phet @ariel-phet   I'm meeting Amy tomorrow at 3 if Emily is available at that time?

[2015-04-13 13:26] emily-phet commented on #216
@mariahmaephet - I am available at 3pm today.

[2015-04-13 15:48] oliver-phet commented on #184
@arnabp Can you re-activate the PhET CafePress account?

[2015-04-13 15:52] aaronsamuel137 opened #217 "[Website] Testing new sim pages"
The new sim pages on phet-dev.colorado.edu need thorough testing. In addition, there have been changes to the front page, and to the log in page.

http://phet-dev.colorado.edu/

*Please note issues in the "website" repo, and use the "Sim Pages" label*
https://github.com/phetsims/website/issues

Please test the following across all of our supported browsers.
- Windows (IE, FIrefox, Chrome)
- Mac(Sa

[2015-04-13 16:48] ariel-phet commented on #217
@arnabp @bryo5363 @oliver-phet @phet-steele please make this your current top testing priority. This is our first pass of testing on this project so we want to flesh out as many bugs as possible. There will likely be another round of testing before we make everything live. Thanks!

[2015-04-13 16:51] ariel-phet commented on #215
Witten, Bjork, Leibniz still need updating

###Note
Please leave Lave as iOS 7.1 so we have an iOS 7 testing platform

[2015-04-13 16:55] oliver-phet commented on #217
Can we set up a testing matrix for this? If we are testing across all supported browsers, I think it would easier to sign up for a test and record performance/bugs with a matrix.

[2015-04-13 16:58] ariel-phet commented on #217
@oliver-phet - definitely, do you mind putting one together? (It only has to be browsers, devices shouldn't matter too much, except obviously mobile safari needs to be an ipad)

[2015-04-13 17:00] ariel-phet commented on #217
@oliver-phet btw, I accidently put you with the "@" symbol instead of oliver o. - but great suggestion, and certainly won't hurt for all of the designers to be doing some dev testing as well.

[2015-04-13 18:17] mariahmaephet commented on #216
@emily-phet   Cool! Amy said she'll be running a little late so we can talk at 3 and probably be done by the time she gets there

[2015-04-13 18:19] emily-phet commented on #216
@mariahmaephet - Amy and I may be coming from the same meeting, but I think our chat will be short so hopefully we can squeeze it in at 3pm.

[2015-04-13 18:30] oliver-phet commented on #217
https://docs.google.com/spreadsheets/d/1Almjl_c4iYCigUUZLXu2_xwK48jOlfrPABxjsZ-4A6Y/edit?usp=sharing

[2015-04-13 22:01] arouinfar commented on #198
@mariahmaephet will be working on the hinged look we discussed this afternoon. Assigning to @ariel-phet for prioritization.

[2015-04-13 22:23] arouinfar commented on #196
Just to summarize some of what @alexklinger and I discussed this morning --

Let's start with the making the handle more grabbable and interactive. One way to do this would be to create a "grippy" look similar to the current version of the pump. @alexklinger can also play with other ways of cueing interactivity. The perspective will also need to become flatter, but let's focus on the handle first.

[2015-04-14 00:41] alexklinger commented on #196
@arouinfar
![bikepumpphet2](https://cloud.githubusercontent.com/assets/8651105/7128242/a3bf4140-e20c-11e4-81f9-31a64ac1c149.jpg)

[2015-04-14 14:43] ariel-phet commented on #198
@mariahmaephet - this would be a good priority after the CHI poster since this sim is moving along quickly.

[2015-04-14 15:37] ariel-phet commented on #176
Hey @alexklinger - nice changes. Speaker looks good. I think I would suggest 1 main tweak to the "head" artwork.

Since these could appear fairly small, I think we need to reduce the detail slightly. I think you have captured a gender neutral look well, but we should look for places where detail can be reduced. For instance on the head with hair, I think we don't want that one separate bit of hair

[2015-04-14 15:43] ariel-phet opened #218 "Polishing up Cafepress store"
Hey @alexklinger - as your sort of "wrap up" project I think we will have you work on our cafepress store.

Currently, the store is inactive, but the merchandise and such are soon to be reactivated (as assigned in #184).

You can see the "shell" of the store here:
http://www.cafepress.com/phetsims

It might be worth looking at some popular stores on CafePress and seeing what is done well. Unfortun

[2015-04-14 15:57] ariel-phet opened #219 "Creating PhET "Breaking Bad" T shirt"
I think it would be fun to have a PhET "Breaking Bad" style T-shirt. Something like:

![31mxzujkf4l _sx342_](https://cloud.githubusercontent.com/assets/4051174/7141074/79e2f74c-e28c-11e4-81ed-64fc98cd6e48.jpg)

But with "Interactive" (with the "In" for the element Indium) and "Simulations" (with the "Si" for the element Silicon).

[2015-04-14 16:00] ariel-phet opened #220 "Looking into a marketing intern"
Hey @oliver-phet - this task is just a reminder for you and I to look into this possibility of a marketing intern (and figuring out where best to advertise for such a role). Ideally, find an undergrad in the business school who is particularly interested in social media as well as wants to gain experience with nonprofits/educational sector.

[2015-04-14 16:06] ariel-phet commented on #220
Looks like the appropriate place to post such a job would be here:

https://www.myinterfase.com/cuboulder_leeds/employer/

@oliver-phet - do you mind registering us as an employer (and maybe putting the login info in an unfuddle ticket and such)?

[2015-04-14 17:55] arouinfar commented on #196
I really like the handle, @alexklinger! I'd like to see how it looks in the mockup. Can you put the .ai file in your Drive folder?

[2015-04-14 19:02] arnabp commented on #184
The website has been reactivated at http://www.cafepress.com/phetsims
I've also set it to private so you can only get to it with the link.

[2015-04-14 19:30] arnabp commented on #195
Here's <a href="https://drive.google.com/file/d/0BxerAx_XXHB2M1ByQ2pVTXJNcnc/view?usp=sharing">another version</a> where I've boosted the slightly reduced the audio a bit, extended the intro a bit, and I had the test fade at the same time as the rest of the intro.

[2015-04-14 19:35] arouinfar commented on #195
Looks good to me! Nice work, @arnabp.

[2015-04-14 20:13] alexklinger commented on #196
@arouinfar Just uploaded it.

[2015-04-14 20:15] arouinfar commented on #196
Thanks, @alexklinger!

[2015-04-15 00:40] ariel-phet commented on #184
Excellent, thanks!

[2015-04-15 00:40] #184 closed

[2015-04-15 00:42] ariel-phet commented on #218
OK, @alexklinger the merchandise how now been reactivated. Please take a look when you get a chance.

[2015-04-15 00:45] ariel-phet commented on #195
I think this video looks great, really clear narration as well!

[2015-04-15 00:46] ariel-phet commented on #216
Since this poster has been printed, I am closing the issue

[2015-04-15 00:46] #216 closed

[2015-04-15 00:48] ariel-phet commented on #214
Sounds like since sims are pretty much unusable we should close this investigation

[2015-04-15 02:07] samreid commented on #214
@ariel-phet are you interested in testing the performance of webgl on this platform, to see what may (in principle) be possible for our sims with webgl support?  Here are some examples from a popular open source 2D WebGL project that may indicate "order of magnitude" of performance and tell us whether webgl will help anything on this platform:
http://www.pixijs.com/examples/

[2015-04-15 03:45] ariel-phet commented on #214
@samreid - they were testing Chrome with ESPB...shouldn't that have already given a gauge of if Webgl is working?

[2015-04-15 03:50] samreid commented on #214
The ESPB test gives us some information but it doesn't answer what would happen if more (or all) of the sim was rendered in WebGL--only about 5 moving objects were being rendered with WebGL in ESPB: the skater, the bar chart, the pie chart and the speedometer needle.  The rest (hundreds of other graphics) is a very heavyweight SVG tree, so we cannot be certain which was the expensive part to rende

[2015-04-15 04:03] ariel-phet commented on #214
@samreid - I am going to close this issue again. If at some point we have a sim rendered more fully in webgl, we can test, and at that time this tablet may also have an improved model.

[2015-04-15 04:03] #214 closed

[2015-04-16 23:27] kathy-phet opened #221 "Background Research on Potential Math Grant Partners"
We are applying for some funding for math grant, and need to understand who the other applicants are because we need to approach them to see if they would be open to working with PhET sims if we were funded.

Do NOT email these contacts.

Just create a google document, and do a bit of background research on the organization. Find the link to the organization/project website that the person works f

[2015-04-17 19:16] kathy-phet opened #222 "Complete PhET Party Poll!"
Please go here and fill out the PhET Party Poll ... we are hoping to be able to coordinate a time when our undergraduate team is around!

Reassign the issue to someone who hasn't checked off their name!

Thanks, Kathy

http://doodle.com/k56qvmr3b8vbz9ky

- [x] arnabp
- [x] BrianNewsome
- [x] bryo5363
- [x] EmilyRandall
- [x] jessegreenberg
- [ ] mariahmaephet
- [x] oreolaphet
- [x] phet-steele
- [

[2015-04-20 18:52] ariel-phet commented on #222
@arnabp @EmilyRandall @BrianNewsom @bryo5363 @jessegreenberg @mariahmaephet @orejolaphet @alexklinger please respond

[2015-04-20 18:53] ariel-phet commented on #201
Nobody else seems to have reported this issue...I never saw anything while working at the recent conference. Closing

[2015-04-20 18:53] #201 closed

[2015-04-20 18:54] ariel-phet commented on #2
This issue seems stale and outdated, closing

[2015-04-20 18:54] #2 closed

[2015-04-20 18:55] ariel-phet commented on #102
We are now up to iOS 8.3, closing

[2015-04-20 18:55] #102 closed

[2015-04-20 18:55] ariel-phet commented on #9
Bumping up the priority of this issue, since it is becoming more important.

@BrianNewsom - do you have an update on how this work is going?

[2015-04-20 18:59] ariel-phet opened #223 "Investigate adding a consistent label set to new repostiories"
From Developer meeting:

I find labels super useful for organizing issues, maybe we should start to build a consistent set we tend to use for sim repos (and maybe when working with a 3rd party)
Possible labels (such as priority, requires-kathy, performance, code review, scenery-related, ...)
Does this seem like a useful tool:
http://www.dorukdestan.com/github-label-manager
CM: I’ll have a look aft

[2015-04-20 20:07] BrianNewsom commented on #9
Hey Ariel,

Thanks for letting me know the priority is bumped - I will prioritize it more, I was just working on a few other things since I was a little stuck.  Things are going fairly well. I've set up a node backend to run the script and its "working" with my supervision.  I'm stuck on two things right now
* Apache times out my requests because the script takes too long to run.  I've tried setti

[2015-04-21 16:14] pixelzoom opened #224 "What do we do with the "sim suggestions" list?"
In 4/21/15 developer meeting notes, @ariel-phet asked:

The general consensus at the meeting is that this should be moved to a Google doc.

[2015-04-21 17:21] orejolaphet commented on #217
@ariel-phet @aaronsamuel137 more of just a design question, but it seems that all pages have the same width with the exception of the "About PhET" page and "For Teachers". These two pages are just substantially wider than all the others. Would it be more appropriate for all pages to have the same dimensions?

[2015-04-21 18:20] amanda-phet commented on #132
We have determined that this is in a "good enough" state. Closing.

[2015-04-21 18:21] oliver-phet commented on #217
@orejolaphet That is a known issue that we aren't addressing in this overhaul. But yes, we will be unifying things in the future.

[2015-04-21 23:39] alexklinger commented on #218
@ariel-phet Hey, can you send me the log in for the cafe press, i'm curious to see what it looks like from that end.

[2015-04-21 23:42] ariel-phet commented on #218
@alexklinger - the log in information has been sent to your colorado.edu email addy

[2015-04-22 05:45] alexklinger commented on #138
Updated Bunny with long tail.
![whitebunnylongtail](https://cloud.githubusercontent.com/assets/8651105/7267961/83c8380e-e880-11e4-9559-95198135a2bc.jpg)

[2015-04-22 06:08] ariel-phet commented on #138
Hey @alexklinger - this looks good for the moment. I would say let's focus on the Cafe press project for the moment, as that is likely to be a fair bit of work.

[2015-04-22 20:08] phet-steele commented on #215
Those three iPads are now updated! What's the deal with having two iPads named diSessa?

[2015-04-22 20:15] phet-steele commented on #215
Never mind about the diSessa thing, figured it out.

[2015-04-22 21:34] ariel-phet commented on #215
Excellent, thanks, and closing.

[2015-04-22 21:34] #215 closed

[2015-04-22 21:51] ycarpenterphet opened #225 "Troubleshoot modmic for Mac"
We've run into an issue with the modmic that was recently purchased for recording sim primers.

On several Macbooks (e.g. mine [mid-2012 retina 15", OSX 10.9.5] and Dirac), the external mic is not recognized by the system when plugged in using the provided headset/mic splitter - only the internal microphone is displayed under System Preferences > Sound > Input, although the headphones are recogniz

[2015-04-22 22:05] oliver-phet commented on #225
I just tested on my mac and the first time I plugged in, the mic wasn't recognized, I unplugged/replugged everything on my mac and mic and tried again and it recognized like normal.

[2015-04-23 15:48] bryo5363 commented on #222
@kathy-phet I believe everyone has completed the poll. I apologize for the delay; I filled the poll out on my phone but apparently it did not register with the site.

[2015-04-23 15:55] bryo5363 commented on #217
@aaronsamuel137 I noticed some issues when trying to register on the site. Everything on the register site was working EXCEPT for Country selection. I continued to register and got the following error

![screen shot 2015-04-23 at 9 55 05 am](https://cloud.githubusercontent.com/assets/7717368/7301273/df8ef87a-e99e-11e4-98c8-9d1c2ba793ce.png)

[2015-04-23 16:05] aaronsamuel137 commented on #217
The register page is not finished - this is expected for now. I'll let you know when this page is ready for testing.

[2015-04-23 16:21] ariel-phet commented on #222
Excellent, thanks!

[2015-04-23 16:21] #222 closed

[2015-04-23 17:16] ariel-phet opened #226 "Reformatting AP's old computer"
@arouinfar I am going to eventually assign this issue to @arnabp for the actual work but it would be good to put the desire software requirements here.

I am assuming we want the following (and then please add or modify this list):
1. Windows 7
2. Microsoft Office
3. Camtasia
4. Java
5. IE, Firefox, Chrome (with up-to-date Flash)

The computer has many of these already, so we could either just wip

[2015-04-23 17:35] arouinfar commented on #226
Looks great. @amanda-phet and I cannot think of any additional software that we would need on the laptop. Reassigning to @ariel-phet to prioritize this task for @arnabp.

[2015-04-23 17:45] pixelzoom commented on #130
4/23/15 developer meeting consensus:

• For internal code reviews, copy the code-review checklist to a GitHub issue titled "code review".  Do this when it's time to do a code review.

• For 3rd-party contracts, copy the code-review checklist to a GitHub issue titled "code review". Do this at the time that the contract is negotiated.

Nothing else to do at this time, closing.

[2015-04-23 17:45] #130 closed

[2015-04-23 18:46] oliver-phet opened #227 "Improve user suggestion recording"
Right now new sim suggestions wallow in “the ether” on unfuddle (ON enters them). We would like to create a more robust system for recording these that allows sorting, prioritization, etc.

[2015-04-23 22:28] ariel-phet commented on #224
duplicate of https://github.com/phetsims/tasks/issues/227, closing

[2015-04-23 22:28] #224 closed

[2015-04-23 22:31] oliver-phet commented on #128
Printing instruction doc updated with info for printing on the konica downstairs: https://docs.google.com/document/d/12inPH4gafwEX3Pl52Ahzu7vSQd4q865w1oOeeuIb00I/edit#

[2015-04-23 22:31] #128 closed

[2015-04-23 22:34] arnabp commented on #221
https://docs.google.com/spreadsheets/d/1U0_9H_xyTe34HPRS18JAZ0e4pAHZalhEwGETlgtFxOk/edit?usp=sharing

I've filled out most of the information. I'm not exactly sure what "teacher PD services" are. Does PD stand for professional development? And what exactly does that entail, ie, what am I looking for?

[2015-04-24 00:09] ariel-phet commented on #221
@arnabp  - yes PD stands for professional development. @kathy-phet can comment more but usually PD involves short courses or such that teachers can take to learn more about content, a particular teaching method, effective use of a tool in the classroom etc.

For example, an interactive whiteboard company might have a webinar, or a short online course, or a short in person course (day long or such)

[2015-04-24 13:47] patricialoeblein commented on #221
Good explanation. Teachers need to document their PD hours for things like license renewal or as part of their evaluations. Often self-identified independent learning is counted for PD. For example, if I wanted to learn more about how to use PhET effectively with clickers, I might watch videos, read articles, search for questions that are already written, etc. So, you may find that a district has

[2015-04-24 16:59] mariahmaephet commented on #198
@arouinfar

![screen shot 2015-04-24 at 10 56 22 am](https://cloud.githubusercontent.com/assets/11527557/7324147/e5fbd3a4-ea70-11e4-9e93-879ce1a72935.png)
![screen shot 2015-04-24 at 10 58 04 am](https://cloud.githubusercontent.com/assets/11527557/7324148/e5fe0700-ea70-11e4-84a1-32f8ef4a67f4.png)

[2015-04-24 17:03] arouinfar commented on #198
Thanks, @mariahmaephet -- it looks great! Can you please put the .ai file into your Drive folder? Closing.

[2015-04-24 17:25] mariahmaephet commented on #212
@ariel-phet

I think I've got InVision down, what would you like me to do?

[2015-04-24 17:57] mariahmaephet commented on #219
@ariel-phet   were you thinking something like this?

![screen shot 2015-04-24 at 11 53 22 am](https://cloud.githubusercontent.com/assets/11527557/7325015/8e8e80c8-ea78-11e4-8485-e7cd97095c70.png)
![screen shot 2015-04-24 at 11 51 24 am](https://cloud.githubusercontent.com/assets/11527557/7325017/8fdaa2a4-ea78-11e4-81ee-4b118c12480c.png)

I also thought it might be cute to have matching shirts wit

[2015-04-24 18:09] mariahmaephet commented on #219
![screen shot 2015-04-24 at 12 08 50 pm](https://cloud.githubusercontent.com/assets/11527557/7325302/b7dcb86c-ea7a-11e4-84a3-af6aa4a95b37.png)

[2015-04-24 18:20] mariahmaephet commented on #219
![screen shot 2015-04-24 at 12 17 58 pm](https://cloud.githubusercontent.com/assets/11527557/7325559/4c0b66b8-ea7c-11e4-8758-9da5a1f40d4b.png)
![screen shot 2015-04-24 at 12 20 11 pm](https://cloud.githubusercontent.com/assets/11527557/7325558/4c07cb98-ea7c-11e4-91ba-d1853f525d54.png)

[2015-04-24 20:12] pixelzoom commented on #198
@arouinfar Please send me the .ai, so I can check it into GitHub and integrate it into the sim.

[2015-04-24 20:56] BrianNewsom commented on #9
@ariel-phet I believe I am mostly done here.  The script takes forever to run, but there's not really anything to be done.  If it fails, it should redirect and tell the person on the page that it has failed, otherwise it will redirect and give a success message.

Ended up being basically just a php script that runs on the backend.  Sorry I got caught up in node - seemed like a good idea at the tim

[2015-04-24 21:13] ariel-phet commented on #9
@BrianNewsom - excellent, I will check it out!

Were you also able to set up some sort of "chronjob" to run this script?

[2015-04-24 21:25] ariel-phet commented on #9
Worked for me (even from a VPN connection).

I think having this script automatically run once a day at say 1:00 am or so would be a great final step

[2015-04-24 22:12] arouinfar commented on #198
The asset files have been sent to @pixelzoom.

[2015-04-27 17:25] jbphet opened #228 "test cross-platform behavior of beaker version 1.0.0-together.2"
In the development of the data sharing capabilities, we have done very little cross platform testing.  It would be good to get some initial testing done to see if there are any major issues.

I'm a little reluctant to put the direct link up here, since we are trying to keep this unindexed for now, so I'm going to obfuscate it a bit.  To get there, go to http://www.colorado.edu/physics/phet/dev/htm

[2015-04-27 17:26] jbphet commented on #228
@phet-steele is going to start working on this.

[2015-04-27 17:43] jbphet commented on #228
Modified test matrix for this task: https://docs.google.com/a/colorado.edu/spreadsheets/d/1we2uhIFvBKQKtgt3DZ_ChAkl8fahOOPiXDU1EeG4s54/edit?usp=sharing

[2015-04-27 18:19] ariel-phet commented on #217
I am currently going to close this issue. We can make a new task once the register page is finished and any other testing we need done.

[2015-04-27 18:19] #217 closed

[2015-04-27 18:20] ariel-phet commented on #228
@bryo5363 @orejolaphet @phet-steele please make this sim your current top testing priority. Note that this is not a normal phet sim, and it is a prototype for some collaborations we are doing.

[2015-04-27 18:25] ariel-phet commented on #219
Hey @mariahmaephet - the first row is exactly what I was thinking in terms of the Interactive Simulations portion. It might be nice to have everything just on the front...so it says PhET with our logo small, and then Interactive Simulations in the breaking bad style (that was my vision anyhow).

Also remember, a good workflow is to reassign issues to someone if you want them to take a look. Mentio

[2015-04-27 20:51] BrianNewsom commented on #9
@ariel-phet I've set up the task - however to run it when the user is not logged in I need to create a password for the user on the computer.  Is it okay if I set this up?

[2015-04-27 21:07] ariel-phet commented on #9
Yes, I will email you the password

[2015-04-27 21:40] BrianNewsom commented on #9
Thanks @ariel-phet.. I believe I have it configured.  I will verify that it worked tomorrow morning then it should be set!

[2015-04-28 01:18] samreid commented on #228
@bryo5363 @orejolaphet @phet-steele I wasn't sure if @jbphet mentioned it, but to see the data output for that test, you must open the browser javascript console.  Instructions for doing so vary from browser to browser.

[2015-04-28 01:18] samreid commented on #228
Oops, accidentally hit close.  It's open again.

[2015-04-28 19:26] ariel-phet opened #229 "Teacher Appreciation Week Picture for Facebook"
Hey @mariahmaephet - next week is "Teacher Appreciation Week" and we wanted to do a fun and thankful post on our facebook page. It would be really helpful to have a great illustration for this post.

We were thinking about something with PhET girl. Maybe she could be holding up a big sign that says "Thanks Teachers!" or such. For some reason I think it would be fun to have her in a lab coat, but t

[2015-04-28 20:53] oliver-phet commented on #211
Closing this issue. If we need a new tripod, I will order another.

[2015-04-28 20:53] #211 closed

[2015-04-28 21:48] emily-phet opened #230 "Artwork for Conference Paper"
I would like Mariah to work on two figures - only requiring some stylizing of text content - for a conference proceedings paper. Ideally, she would be able to have these completed by the middle of next week. I think it will be quite quick (maybe 1 hr of work).

[2015-04-28 22:05] amanda-phet commented on #230
@mariahmaephet This seems like a pretty small task to fit in this week after you have finished #229. If you think it will take much longer than Emily is guessing then let me or @ariel-phet know.

[2015-04-28 22:09] ariel-phet commented on #230
@mariahmaephet & @amanda-phet I think it would also be OK to do in parallel with #229 if you have time.

[2015-04-28 22:46] mariahmaephet commented on #229
@ariel-phet Sounds good! I'll get right on that

[2015-04-28 22:49] mariahmaephet commented on #230
@emily-phet @amanda-phet @ariel-phet

Seems easy enough--I can have that done this week

[2015-04-29 19:35] emily-phet opened #231 "Accessibility About Page"
@aaronsamuel137 - can you update the http://phet.colorado.edu/en/about/accessibility page a little, ideally by May 5th?

Here's what I have in mind:
- Making the "Keyboard Navigation and Auditory Description Prototypes" section more similar to the "Sonification" section (e.g., with a table). Can you make one subheading for this section - "Forces and Motion: Basics (Net Force Screen)", and then inc

[2015-04-29 20:18] oliver-phet commented on #9
@BrianNewsom Would it be easy to add a screen to the PhET test page to show the date it was last updated...
![screen shot 2015-04-29 at 2 12 38 pm](https://cloud.githubusercontent.com/assets/5090275/7400495/8f333658-ee7a-11e4-9c2f-d8325efd44ae.jpg)

[2015-04-29 20:19] pixelzoom commented on #223
github-label-manager does not support "batch" synchronization of labels across multiple repositories. It allows you to copy all (or some) labels from one repository to another.   As it's help says:

We could have a "template" repository that has standard labels that we want, and add those to a repository when it's created. But when we modify the template in any way, github-label-manager doesn't pr

[2015-04-29 20:22] pixelzoom commented on #223
Here's another possibility to investigate, but looks kind of scary: https://github.com/piwik/github-sync

[2015-04-29 20:39] pixelzoom commented on #223
Punting on github-sync, see https://github.com/piwik/github-sync/issues/5.

[2015-04-29 20:41] pixelzoom commented on #223
@ariel-phet is there anything else you want me to do regarding this issue?

[2015-04-29 22:38] arouinfar opened #232 "Fix iPad Stand"
The iPad stand we use in interviews is broken. It looks like the screw holding one of the arms in place came loose and just needs to be put back into place. Assigning to @ariel-phet.

[2015-04-30 02:55] BrianNewsom commented on #9
Yeah, absolutely. I'll try and get that implemented!

Thanks for the idea!
On Apr 29, 2015 2:18 PM, "oliver-phet" <notifications@github.com> wrote:

[2015-04-30 04:35] ariel-phet commented on #231
@aaronsamuel137 - if this is quick (which it looks like), it would be good to squeeze in by the end of the week.

[2015-04-30 14:37] aaronsamuel137 commented on #231
Sounds good - I'll work on this today.

[2015-04-30 14:47] aaronsamuel137 commented on #231
Also, it is better to put issues having to do with the website in the website repo instead of tasks in the future. There is a higher chance I will miss issues in tasks since I don't follow it as closely.

[2015-04-30 18:31] pixelzoom commented on #223
At 4/30/15, @ariel-phet asked @aaronsamuel137 to look at writing something custom to do this.

[2015-04-30 19:18] samreid commented on #223
I wasn't at today's meeting, but how about doing @samreid's suggestion from the issue description:

[2015-04-30 19:21] pixelzoom commented on #223
I agree that we could manually update a couple of repos to agree on the set of labels, colors, etc. But we have 96 entries in active-repos. It would take hours (days?) for someone to manually update them.

[2015-04-30 19:26] samreid commented on #223
Assuming it takes 2 minutes to do each repo, plus 10 minutes to create a list of repos and a place to check them off when done, this would be 10+2*96 minutes = 3.4 hours.  How long will it take to create + test an automated tool for this? How will it handle corner cases like "label already exists but is the wrong color" or "similar label exists and issues need to be associated with the new label"?

[2015-04-30 19:34] pixelzoom commented on #223
I'm not advocating automation of this, and I think there will be some unexpected issues. (The case "label already exists but is the wrong color" is (supposedly) handled by github-sync, so I don't think that's a problem.  Replacing or deleting a label is indeed a problem.)

But I think your estimate of 2 minutes per repo is overly optimistic. I think it will be closer to 5 minutes per repo. Updatin

[2015-05-01 05:11] aaronsamuel137 commented on #231
Deployed. Assigning to @emily-phet for review. Feel free to close if it looks good.

[2015-05-01 16:50] ariel-phet commented on #212
@mariahmaephet - lets discuss when we meet up

[2015-05-01 22:09] emily-phet commented on #231
Looks fantastic, thanks!

[2015-05-01 22:09] #231 closed

[2015-05-01 23:34] alexklinger commented on #218
I'm using this thread as image hosting for now, maybe we can transfer over to your preferred server later.

![cafepressideas](https://cloud.githubusercontent.com/assets/8651105/7438819/33602052-f028-11e4-9820-ef53ec1c4c0e.jpg)

[2015-05-01 23:40] ariel-phet commented on #218
That seems perfectly fine for the moment. Nice looking banner!

[2015-05-02 00:05] ariel-phet commented on #220
Advertisement for position is up, closing

[2015-05-02 00:05] #220 closed

[2015-05-02 00:05] ariel-phet commented on #229
@mariahmaephet - think you will have something for Monday?

[2015-05-02 19:06] alexklinger commented on #218
@ariel-phet I think I'm getting close to a point for feedback on the store. http://www.cafepress.com/phetsims

[2015-05-04 17:58] emily-phet commented on #230
@mariahmaephet - just wanted to check in on how this is going.

Also, there has also been a slight wording tweak to Figure 1. The second paragraph in Figure 1 should read "In this case, according to the Court meaningful access is shown: "
If you have any questions about this, let me know.

[2015-05-04 18:43] jbphet opened #233 "test concentration sim in data collection wrapper"
An environment has been set up that wraps PhET's Concentration simulation in an environment that captures users' actions so that they can be played back and evaluated at a later time.  This environment should be tested on multiple platforms to make sure that it appears to run well, and that the activity associated with it can be done with no issues.  Testing this will require a link to the page an

[2015-05-04 19:01] mariahmaephet commented on #230
@emily-phet @amanda-phet How do these look? I wasn't really sure how to do Figure 2...

![screen shot 2015-05-04 at 1 00 00 pm](https://cloud.githubusercontent.com/assets/11527557/7460057/983e3d2e-f25d-11e4-89a6-774b697973db.png)
![screen shot 2015-05-04 at 12 59 53 pm](https://cloud.githubusercontent.com/assets/11527557/7460060/9a463b12-f25d-11e4-9d62-e58a6083bc9d.png)

[2015-05-04 19:52] emily-phet commented on #230
@mariahmaephet - these look great! Two small suggestions:
- For the Section 504 figure, add a little more space above the line starting with (b)(4)
- For the Alexander v. Choate figure, can you remove the little white boxes that appear in the right side after the two headings?

After that, these look good to go! Thanks!

[2015-05-04 19:57] mariahmaephet commented on #230
@emily-phet Like that? Or more space?

And those little boxes won't appear--that's just illustrator showing me info about the text boxes.

![screen shot 2015-05-04 at 1 56 24 pm](https://cloud.githubusercontent.com/assets/11527557/7461139/6308f51a-f265-11e4-803c-dcf407259817.png)

[2015-05-04 20:17] emily-phet commented on #230
@mariahmaephet - this looks great. Can there be less space at the bottom?

[2015-05-04 22:32] mariahmaephet commented on #230
@emily-phet

![screen shot 2015-05-04 at 2 46 43 pm](https://cloud.githubusercontent.com/assets/11527557/7463938/2b6e2b50-f27b-11e4-8013-eedbe5e04e7b.png)
![screen shot 2015-05-04 at 2 47 24 pm](https://cloud.githubusercontent.com/assets/11527557/7463941/31453f82-f27b-11e4-95ed-dcadf06e97fe.png)

[2015-05-05 00:13] emily-phet commented on #230
Looks great! @mariahmaephet Can you send these to me as jpg files?

[2015-05-05 01:09] mariahmaephet commented on #230
@emily-phet I just sent them to you in an email and I can also put them in my folder on Google Drive

[2015-05-05 19:18] #230 closed

[2015-05-05 21:19] amanda-phet commented on #218
The banner looks great. I like the overall look of the store.

Something we noticed when trying to set up the store is that the "tabs" at the top don't really work, but the links on the left-hand navigation do. Our thought is that the tabs at the top should work the way the links to... clicking T-Shirts & Clothing should take you to.. the collection of T-Shirts & Clothing. Can you get that working

[2015-05-06 02:15] ariel-phet commented on #229
Great job on this artwork @mariahmaephet - excited to use it in our facebook post!

[2015-05-06 02:15] #229 closed

[2015-05-06 16:18] arouinfar commented on #232
Thanks for fixing the stand, @ariel-phet!

[2015-05-06 16:18] #232 closed

[2015-05-07 17:42] pixelzoom opened #234 "triage issues assigned to samreid"
(5/7/2015 developer meeting)

Triage issues assigned to @samreid, to see if any of these should be reassigned while he's on leave. @ariel-phet will handle.

[2015-05-08 17:10] amanda-phet commented on #132
This project needs to be completed. It is good enough for the current state of the website, but all of our sims need to have a high-res screenshot that lives in this folder: https://drive.google.com/folderview?id=0B7WUaZM7uvVKbXhjMEs4Rm1OVU0&usp=sharing. Please add any here that were done but are missing.

Please complete this spreadsheet as the screenshots get done: https://docs.google.com/spread

[2015-05-09 13:56] samreid commented on #234
One issue we discussed at a PhET developer meeting a while ago that was assigned to me but never completed was:

There is an issue for "adapted from" features here: https://github.com/phetsims/brand/issues/2 But as far as I know, no issues for moving the brand repo and making it private.

[2015-05-09 14:00] samreid commented on #234
@kathy-phet asked me to look into buggy tab key in photoelectric effect 10 months ago, and I spent 2.5 hours on it.  The issue:

Fix Photoelectric Effect tabbing: https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3633 see photoelectric#3281

My report:

@kathy-phet response:

[2015-05-09 14:02] samreid commented on #234
It would be good to discuss with @emily-phet if anything else will be required for accessibility in the near future.

[2015-05-09 18:47] samreid commented on #234
Oh one more issue I just remembered.  We will probably get a new version of CCK's NoiseGenerator.java soon and someone may need to update CCK code with the new file, and republish a dev version of CCK.

[2015-05-09 21:35] emily-phet commented on #234
@samreid - you mentioned last week that you wanted to meet to discuss the Paciello group meeting. Could you summarize if there are any changes to implementation approaches you would recommend based on that meeting?

[2015-05-10 04:43] samreid commented on #234
@jonathanolson & I discussed accessibility implementation details briefly after the Paciello group meeting and agreed that *based on Paciello group answers to technical questions* the "parallel DOM tree" strategy would be a viable alternative to the "canvas subdoms + svg aria markup" strategy which we were previously considering.  This basically frees us up to use an approach that may be (a) easie

[2015-05-10 22:36] emily-phet commented on #234
Thanks @samreid - that's useful to know. Perhaps @jonathanolson can weigh in on his thoughts from the meeting, and also a brief description of the basic differences between the subDOM vs parallel DOM approaches.
I believe I have a general idea, but it would be useful to lay out some basic structural differences and the impacts of each (e.g., how each implementation may effect tablets, phones, scre

[2015-05-11 12:11] jonathanolson opened #235 "Importing additional website statistics data"
This is work to be done on figaro-dev.colorado.edu.

Most notably, /data/web/htdocs/phetsims/statistics/month_sort2/combine/README describes the latest process the contractor was using to import the data.

/data/web/htdocs/phetsims/statistics/analysis/ contains most of the view UI and DB code, /data/web/htdocs/phetsims/statistics/month_sort2/ contains the latest importing. We want to import a much

[2015-05-11 12:12] jonathanolson commented on #235
Hello,

Here's some analysis done for August 2014 for circuit-construction-kit-dc, buoyancy and our HTML5 build-an-atom. I've included three types of apache logs (phet.colorado.edu-access_log + ssl_request_log + phet-downloads.colorado.edu-access_log), where ssl_request_log includes HTTPS requests (previously not counted in our spreadsheets), and phet-downloads.colorado.edu (since that's where the

[2015-05-11 17:25] bryo5363 commented on #132
@amanda-phet I have compiled most of the screenshots that needed to be taken into a new file. I was not able to capture 8 screenshots; the information is available on the spreadsheet you created.

There is no Java version of ph scale basics so I was not able to produce a screenshot for this sim. Everything else either has Mac compatibility issues or will not let the user adjust aspect ratio.

[2015-05-11 17:34] ariel-phet commented on #233
@bryo5363 and @orejolaphet please make this your current testing priority

[2015-05-11 19:15] amanda-phet commented on #132
Can you point me to the place where all of the screenshots are located? Even better, can you put them in the linked google drive folder so they are all in the same place?

[2015-05-11 20:55] orejolaphet commented on #228
@jbphet what data am I supposed to see? On Windows 7 IE 11, the console only displays the following after I interact with the simulation.
"
SEC7119: XMLHttpRequest for https://kinesis.us-east-1.amazonaws.com/ required CORS preflight.
File: phet-metacog-wrapper.html
"

[2015-05-11 22:39] amanda-phet commented on #132
Thanks @bryo5363 All of the screenshots are now in one folder, shared with the team. Closing.

[2015-05-11 22:39] #132 closed

[2015-05-12 02:11] ariel-phet commented on #228
Not sure this is a high priority to test at the moment reassigning to @jbphet to comment or close

[2015-05-12 02:32] ariel-phet opened #236 ""phet-dev" website testing for HTML5 sim pages deploy"
@bryo5363 @phet-steele @orejolaphet - we are ready to do final testing on the website to get ready for our HTML5 sim pages rollout. It is expected that full testing will take a couple of days (you guys are always thorough and the hope is deploy this weekend). See below for all the details!

**Testing link: http://phet-dev.colorado.edu/**
(you will likely want to make sure you have done a "hard ref

[2015-05-12 04:20] jonathanolson commented on #234
Normal sub-DOM like structure:
[code]
With this approach, some features may be supported with SVG in some browsers, some may be supported with Canvas in browsers, and we have to do at least double the work at implementing things. Has many problems when one "thing" you want selected happens to be displayed by multiple layers (SVG and Canvas).

A "parallel" DOM tree would allow us to not use mixed S

[2015-05-12 05:19] samreid commented on #234
@jonathanolson one possibility I was considering for accessibility: since we are moving toward the "One parallel DOM tree for accessibility" approach, it seems there may be some advantages in powering it using the together.js engine.  I created an issue in the together repository where we can discuss it, please see https://github.com/phetsims/together/issues/118

[2015-05-12 05:32] jonathanolson commented on #234
Responded. Hopefully Scenery can provide a good accessibility framework and implementation, that could potentially be hooked into with together.

[2015-05-12 16:41] jbphet commented on #228
We've probably done all the testing that is needed on this release.  In answer to @orejolaphet, I'm not sure what you're seeing.  I just tried IE11 on Win7 and the data logging appears in the console as it should.  At any rate, I think we're done here.  Closing.

[2015-05-12 16:41] #228 closed

[2015-05-12 20:24] arnabp commented on #221
I've added information for the first two companies. Is this the sort of thing you're looking for? Should I be more (or less) specific?

https://docs.google.com/spreadsheets/d/1U0_9H_xyTe34HPRS18JAZ0e4pAHZalhEwGETlgtFxOk/edit?usp=sharing

[2015-05-12 21:13] arnabp commented on #226
All listed applications have been installed on "Schrodinger" (It doesn't have a label yet). It's sitting on my desk in Oliver's office.

[2015-05-12 21:24] ycarpenterphet commented on #226
the label-maker lives on the bottom shelf of AP's office (where most of the devices live), if it is needed.

[2015-05-12 21:31] ariel-phet commented on #226
@arnabp - excellent...when it is labelled and added to the asset matrix can you drop it off with an appropriate charger in Amy and Amanda's office?

[2015-05-13 15:40] amanda-phet opened #237 "Create a handle for movable reference line"
We have a reference line in some sims that has a handle to cue that you can grab and move it. However, it is still not the most intuitive handle and is pretty heavy. Can you mock up a few ideas for a handle that looks grippy/grabbable/movable and less heavy?

Check out Wave on a String as an example:
![screen shot 2015-05-13 at 9 39 54 am](https://cloud.githubusercontent.com/assets/7852916/7614445

[2015-05-13 16:11] ariel-phet commented on #236
BTW @bryo5363 @phet-steele and @orejolaphet - when it comes to the website and iPad testing, please only use iPad 2. The iPad3 is helpful for finding performance issues in sims, but it is a very small percentage of devices actually used.

[2015-05-13 17:14] BrianNewsom commented on #235
@ariel-phet, @jonathanolson I've made a backup of the db using mysqldump.  Is there anywhere in particular you'd like this to live?  I tried to move it to /tmp but there was not space on the drive as it's 52 GB.

[2015-05-13 18:24] samreid commented on #235
Why is the database backup 52GB?

[2015-05-13 18:42] BrianNewsom commented on #235
@samreid - Not sure, I've been doing queries to try and figure out what's really going on in this data.  I was told the interface took minutes to query so I was not surprised at the large size.

Based on some quick queries here are how many rows some of the tables have:
[code]
I'm sure there are other large tables, these are just a few I've found.

So I guess my understanding is just that there's

[2015-05-13 18:48] samreid commented on #235
Surely there must be a lot of binary data in the database for it to reach 52GB.  @jonathanolson or @aaronsamuel137 does 52GB seem sensible to you?  Should we create a "clean up the database" issue?

[2015-05-13 21:41] jonathanolson commented on #235
Just using a back-of-the-envelope calculation (very approximate), if we average 2 sim runs / second, and each entry takes 0.5 kb (I see multiple timestamps and varchars), that's in the 30 GB range (per year of data).

52GB is within the same order of magnitude, particularly since it contains not just a lot of the raw log entries, but other structures too.

I'd use /data2 personally (885GB free).

[2015-05-13 22:41] ycarpenterphet commented on #225
Looks like this can now be resolved by using the USB adapter instead of the splitter that plugs into the headphone jack.

I'll update the teacher primers technical documentation with information about both cases.

Closing.

[2015-05-13 22:46] oliver-phet commented on #225
@ycarpenterphet Arnab and I were running into some weird clicking/beeping when using different mic setups. It might be good to double-check some the audio you've recorded to make sure it is acceptable quality.

[2015-05-13 23:11] ycarpenterphet commented on #225
Interesting. I know that @arouinfar was encountering more static with the modmic (especially when using the USB adapter, although some with the headphone jack adapter as well) than with the internal mic on her laptop.

I will re-open this issue for now and report back after I try recording a new primer in a few days.

[2015-05-14 00:07] samreid commented on #235
Thanks @jonathanolson that is very helpful in understanding what is happening with the database size and contents.  /data2 sounds good.

[2015-05-14 21:02] arnabp commented on #226
Labeled and delivered!

[2015-05-15 14:25] pixelzoom opened #238 "clarify how to run a sim in "PhET Development Overview""
In several places in the "PhET Development Overview" document, the instructions to run a sim look something like this:

At least one user had a problem with this. Here's a posting from the Google Group:

When I open any browser to the path : http://localhost:8080/example-sim/example-sim_en.html
The error message on Git bash is - "GET/joist/strings/joist-strings_en.json?bust=1431607520150" Error (4

[2015-05-15 15:13] samreid commented on #238
I'm not opposed to clarifying the path/port, but wanted to point out two things:

(a) if the user followed the directions in the PhET development overview (including using npm+http-server), their port and path would be correct
(b) the purported problem on the Google Group may actually be another problem, see my response:

[2015-05-15 20:56] pixelzoom commented on #238
True, it sounds like this user's problem is probably a missing dependency. Let's deal with that in the Google Group.

I didn't read the full instructions in "PhET Development Overview".  Looks like those instructions do result in the correct URL, since they are using a specific path and a specific web server.  So closing this issue.

[2015-05-15 20:56] #238 closed

[2015-05-18 14:24] bryo5363 commented on #236
@ariel-phet I think for the most part this testing is complete. We still need to find a device w/ Win 7 IE 10 but every other browser has been tested on.

[2015-05-18 15:30] ariel-phet commented on #236
I believe "phettest" has IE 10 on it? Am I mistaken?

[2015-05-18 15:34] bryo5363 commented on #236
Which device is phettest? I do not see it on the Asset Inventory.
On May 18, 2015 9:30 AM, "Ariel Paul" <notifications@github.com> wrote:

[2015-05-18 16:04] ariel-phet commented on #236
That is the computer that sits on my table that has the asset inventory spreadsheet on it and where you check devices out.

[2015-05-18 16:13] bryo5363 commented on #236
Ah, that computer runs IE9
On May 18, 2015 10:05 AM, "Ariel Paul" <notifications@github.com> wrote:

[2015-05-18 16:19] ariel-phet commented on #236
Ah...well we have removed IE9 as a supported platform, so lets put IE10 on that computer. When you do, check with @oliver-phet - there are some special settings we had to enforce to make sure that the browser did not get updated.

[2015-05-18 16:20] ariel-phet commented on #208
We now have this text, closing

[2015-05-18 16:20] #208 closed

[2015-05-18 16:24] bryo5363 opened #239 "Update AP computer to IE10"

[2015-05-18 16:38] ariel-phet opened #240 "Dev test Curve Fitting 1.0.0-dev.4"
@orejolaphet, @phet-steele, @bryo5363

Please dev test the latest version of Curve Fitting (http://www.colorado.edu/physics/phet/dev/html/curve-fitting/1.0.0-dev.4/curve-fitting_en.html)

- [x] Windows + Chrome
- [x] OS X + Safari 7.1+
- [x] iPad iOS 8 + Safari

Consider this testing the next priority after any final website testing

[2015-05-18 17:14] phet-steele opened #241 "Create Spreadsheet of Gold Star Activity Authors"
From @patricialoeblein:
Go through all the activities presently on the live website. We need a spreadsheet that would have the author’s name and email and also if they have one or multiple gold star activities. No need to include any PhET authors. There should be about 60 GS authors. Once the spreadsheet is filled, email each one to make them aware of  recent PhET changes.

[2015-05-18 18:21] mariahmaephet commented on #237
@amanda-phet are you thinking something like these? I guess they don't look much lighter though

![screen shot 2015-05-18 at 12 00 19 pm](https://cloud.githubusercontent.com/assets/11527557/7687141/57b8fb76-fd58-11e4-888a-13dd421ce2e4.png)
![screen shot 2015-05-18 at 12 11 05 pm](https://cloud.githubusercontent.com/assets/11527557/7687142/596b88d0-fd58-11e4-82fc-a5720fab212b.png)
![screen shot 201

[2015-05-18 18:32] ariel-phet commented on #237
Hey @mariahmaephet - seems there was a slight miscommunication on our part. The reference line to and "grabber" to which @amanda-phet was referring is this one:

![capture](https://cloud.githubusercontent.com/assets/4051174/7687352/f6d34e4a-fd59-11e4-862b-27b1902305a9.PNG)

[2015-05-18 18:44] mariahmaephet commented on #237
@ariel-phet @amanda-phet  Oh! Yeah, you're right, I didn't even notice that. What kind of handle were you thinking? Is it supposed to be holding that line like a rope or something?

[2015-05-20 03:43] amanda-phet commented on #241
@patricialoeblein didn't you start a spreadsheet with a lot of this information? Just checking because it may help @phet-steele  to start with the work you already put in.

[2015-05-20 16:52] amanda-phet commented on #237
Yes, the handle is holding the line, but often users might not know that they can grab it and move it around. Something like a hand, or generally grippy handle could work.

[2015-05-20 17:01] patricialoeblein commented on #241
My spreadsheet has lots of information that is not relevant. Also, since other people have been receiving the notifications, I have not kept track of all Gold Star authors as thoroughly as I had in the past. I think having a fresh spreadsheet will be helpful for several purposes; we have added a few columns. Also, Steele has found a quick way to identify all authors, so we will be starting with a

[2015-05-20 17:28] ariel-phet commented on #180
Everything here now seems acceptable, closing

[2015-05-20 17:28] #180 closed

[2015-05-20 18:00] ariel-phet opened #242 "Figuring out number of activity downloads for specific author"
@jonathanolson - one of our collaborators in Chemistry is hoping to know how many of the activities he authored have been downloaded from our website. @kathy-phet said you have gathered such numbers for @patricialoeblein before, so we would like to do this again for this collaborator and know the steps.

[2015-05-20 18:14] phet-steele commented on #241
Spreadsheet made! Next step is to email.

[2015-05-20 18:15] amanda-phet commented on #241
Great! I think we are still working on what that email will say. Stay tuned.

[2015-05-20 18:28] patricialoeblein commented on #241
Thanks. Also, we won't email until the sim pages, activity upload, and profile management are fully working.

[2015-05-20 19:40] mariahmaephet commented on #237
@amanda-phet  I just made a bunch of handle things you could use now or later--will one of these work? I uploaded the illustrator file to my Drive folder

![screen shot 2015-05-20 at 1 36 43 pm](https://cloud.githubusercontent.com/assets/11527557/7734777/a788b21a-fef5-11e4-9e6f-6b4944157b44.png)

[2015-05-20 20:31] ariel-phet commented on #239
@orejolaphet - can you take care of this task? This would be to update "phettest" the computer that sits on my table to IE10, however, you might want to talk to @oliver-phet - you need to be careful when you update that it does not automatically update to IE11 with normal windows updates. There is a way to force it to stay on IE10. (currently the computer is on IE9, but that is no longer a support

[2015-05-20 20:36] ariel-phet opened #243 "Test Flash Version of Calculus Grapher"
@orejolaphet and @phet-steele please test the flash version of Calculus Grapher for bugs. We plan to port this sim soon, so it would be good to flesh out any bugs in the original:

http://phet.colorado.edu/sims/calculus-grapher/calculus-grapher_en.html

Please report issues in the calculus grapher repo and assign them to @amanda-phet with the "flash version bug" label

https://github.com/phetsims/

[2015-05-20 20:42] ariel-phet commented on #233
@jbphet reports issue can be closed. Closing.

[2015-05-20 20:42] #233 closed

[2015-05-20 21:25] ariel-phet commented on #237
I kind of like the red ring for this one...goes with the line, but definitely seems grabbable

[2015-05-20 23:07] ariel-phet opened #244 "HTML5 sims that need a design doc"
No Doc yet:

- [x] Forces and Motion Basics
- [x] Fraction Matcher
- [x] Resistance in a Wire
- [x] Ohm's Law

Docs that needs to be brought to a modern standard:
- [x] Balancing act

[2015-05-21 17:41] oliver-phet commented on #129
This is done.

[2015-05-21 17:41] #129 closed

[2015-05-21 18:34] oliver-phet opened #245 "Test all deployed sims for layout issue using "?stringTest=double""
We need to test all of our redeployed sims to find problems where strings aren't being scaled and this interferes with the sim.

This will need to be done after pulling all on master go on to the computer called phettest (AP's table) > open gitbash > type "pull-all.sh".

Then testing the latest version on http://phettest.colorado.edu/git-dev/

For example (problem):
![screen shot 2015-05-21 at 12

[2015-05-21 19:10] pixelzoom opened #246 "identify common-code issues for "Summer 2015" redeploy"
Identify common-code issues that should be addressed for "Summer 2015" redeploy.  Assigned to me at 5/21/15 dev meeting.

[2015-05-21 19:12] oliver-phet opened #247 "Find the number of open issues for every published sim"
We need a count of all of the open issues on a deployed sim basis. Add the number to this spreadsheet:
https://docs.google.com/spreadsheets/d/1eBcV1O5o7IyB5Nh_z5iP_0w5tGP1ZVB4uZmBVnIf3q8/edit#gid=1627417351

[2015-05-21 19:21] pixelzoom commented on #25
According to @jonathanolson, the current screenshot implementation with not work with sims that use WebGL.  There is some additional work required.  So perhaps we should defer this testing until that work is done?

[2015-05-21 19:23] pixelzoom commented on #25
https://github.com/phetsims/joist/issues/237 (make screenshot work for WebGL) is a prerequisite for this testing.

[2015-05-21 19:27] jonathanolson commented on #242
This is a bit more time consuming. It would require going through Apache logs for the region in time we're curious about (100s of GB of processing if we need to search through "all time").

It's similiar to manually processing statistics for simulation/installer downloads. An intern may be best suited.

[2015-05-21 21:19] oliver-phet opened #248 "Setup old Dell Windows computer with Linux Mint"
Wipe HDD and install Linux Mint:
http://www.linuxmint.com/download.php

[2015-05-21 23:04] jbphet opened #249 "home screen crashes when using adapted from PhET branding"
Hitting this error when launching a multi-screen sim using Adapted from PhET branding:
```Uncaught TypeError: Cannot read property 'link' of undefined```

The problem appears to be that AdaptedFromPhETText is expecting a lookAndFeel parameter but is getting a boolean property.

[2015-05-21 23:06] jbphet commented on #249
Fixed.  Assigning to @samreid to make sure that there wasn't some subtle thing that I missed here that would explain why it was like this.

[2015-05-21 23:07] jbphet commented on #249
Oops, this is in the wrong repo.  Moving to joist.

[2015-05-21 23:07] #249 closed

[2015-05-22 17:53] phet-steele commented on #247
I went ahead and did this.

[2015-05-22 17:53] #247 closed

[2015-05-22 17:54] pixelzoom commented on #246
Developers: I'm triaging common-code issues, setting "Summer 2015 redeploy" label and assigning issues. If you feel that an issue shouldn't be part of the redeploy, or shouldn't be assigned to you, please  comment in the relevant issue.

[2015-05-22 17:54] pixelzoom commented on #246
sun: https://github.com/phetsims/sun/labels/Summer%202015%20redeploy

[2015-05-22 17:58] pixelzoom commented on #246
Here's the set of all phetsims issues that are labeled "Summer 2015 redeploy":
https://github.com/search?utf8=✓&q=is%3Aopen+label%3A%22Summer+2015+redeploy%22+user%3Aphetsims+

[2015-05-22 18:00] pixelzoom opened #250 "identify scenery issues for "Summer 2015" redeploy"
Please tag issues with "Summer 2015 redeploy" label.

[2015-05-22 18:01] pixelzoom commented on #246
I don't have the background to complete this task for scenery, so assigning this subtask to @jonathanolson: https://github.com/phetsims/tasks/issues/250.

[2015-05-22 18:04] phet-steele commented on #247
I should add, it was done at 11:51 AM, 5/22

[2015-05-22 19:40] pixelzoom commented on #246
I can't evaluate kite issues, many are too terse or lacking descriptions. Assigning a subtask to @jonathanolson, see https://github.com/phetsims/kite/issues/46.

[2015-05-22 20:11] pixelzoom opened #251 "identify kite issues for "Summer 2015" redeploy"
I took a stab at this, but I can't evaluate kite issues, many of which have terse or no descriptions.

Assigning to @jonathanolson. Please assigning label "Summer 2015 redeploy" where appropriate, then close this issue.

[2015-05-22 20:20] pixelzoom commented on #246
I completed this task, with the exception of scenery (#250) and kite (#251).

In retrospect, I should have used GitHub milestone instead of labels. Next time...

Here's the set of all phetsims issues that are labeled "Summer 2015 redeploy":
https://github.com/search?utf8=✓&q=is%3Aopen+label%3A%22Summer+2015+redeploy%22+user%3Aphetsims+

Here's the same set by repository:

assert: none
axon: https:

[2015-05-22 20:21] pixelzoom commented on #246
Assigning to @ariel-phet, so he can oversee completion of the issues.

[2015-05-22 20:28] pixelzoom commented on #246
Breakdown by developer:

@jbphet 18
https://github.com/issues?q=is%3Aopen+is%3Aissue+assignee%3Ajbphet+label%3A%22Summer+2015+redeploy%22

@jonathanolson 15
https://github.com/issues?utf8=✓&q=is%3Aopen+is%3Aissue+assignee%3Ajonathanolson+label%3A%22Summer+2015+redeploy%22+

@pixelzoom 5
https://github.com/issues?utf8=✓&q=is%3Aopen+is%3Aissue+assignee%3Apixelzoom+label%3A%22Summer+2015+redeploy%22+

[2015-05-22 20:48] pixelzoom opened #252 "identify sims that have i18n layout issues"
Decided that we needed to do this at 5/21/15 developer meeting.

The "Summer 2015 redeploy" is primarily for translation features. So it's important that sims behave correctly when string length changes.  Identify which sims have i18n layout problems.

Assigning to @ariel-phet to decide how to accomplish this. (student testers? developers? ...)

[2015-05-22 20:50] pixelzoom commented on #252
I reviewed the following sims where I've been primary developer. They all have i18n layout issues, and I've created issues in their respective repositories.

acid-base-solutions
balancing-chemical-equations
beers-law-lab
graphing-lines
molarity
ph-scale
reactants-products-and-leftovers

[2015-05-22 21:05] jonathanolson commented on #246
Currently reviewing Scenery/Kite for issues, I'll note here when I'm done.

[2015-05-22 21:14] jonathanolson commented on #246
Added tag to relevant issues. Depending on performance issues during testing, some of the other Scenery high-priority issues might be added to the list.

[2015-05-22 22:04] ycarpenterphet commented on #225
Testing Results:

<b>USB:</b> While the USB adapter offers higher compatibility (is recognized by more macs), there is, as reported, a continuous repeated beeping noise in the background as a result of how the USB port is powering the mic. This renders the audio unusable.

<b>Headphone jack splitter:</b> Offers great audio quality but is only recognized by a limited number of Macbook models. Of th

[2015-05-22 22:06] ycarpenterphet commented on #225
I'll update the documentation and primer team accordingly. If we decide we need any alternate solution, I'll open a new issue then.

Closing.

[2015-05-22 22:06] #225 closed

[2015-05-23 03:22] jonathanolson commented on #250
Tagged currently relevant issues. Will in the future tag any issues that need to be done for performance reasons.

[2015-05-23 03:22] #250 closed

[2015-05-23 03:23] jonathanolson commented on #251
There were no other Kite issues that were relevant for the redeployment.

[2015-05-23 03:23] #251 closed

[2015-05-26 15:38] ariel-phet commented on #236
Pages deployed! Thanks everyone for all the hard work. Closing.

[2015-05-26 15:38] #236 closed

[2015-05-26 15:40] ariel-phet commented on #210
@mariahmaephet - can you make this your top priority, and let me know when you thing you will be able to get to it?

[2015-05-26 16:17] amanda-phet opened #253 "Update sim info content, starting with credits"
@phet-steele Please make this your top priority today. Each HTML5 sim has credits that can be found under About...
![screen shot 2015-05-26 at 10 14 55 am](https://cloud.githubusercontent.com/assets/7852916/7817147/111f5d70-0390-11e5-9cb4-ff6f0e0c8aa1.png)

Please transfer this information to the new HTML5 sim pages by logging in as an administrator. I can show you how to do this.

Track your prog

[2015-05-26 17:48] amanda-phet commented on #237
I also like the red ring. I'm not sure it needs to be red if the line is red, but maybe the color can change on a sim-by-sim basis?

I also like the top right rounded handle with the brown wood-like feel.

[2015-05-26 18:22] arouinfar commented on #198
I'm reopening this issue because there have been some concerns with the design of the hook (most notably that a hook is unlikely to be used to push). We would like to try a hooked pincer that could grab the end of the spring. The pincer could still have a similar artistic style to the hook that @mariahmaephet has already created. There should be two versions of the pincer, open and closed.

Here i

[2015-05-26 18:23] ariel-phet commented on #218
@zepumph please work on polishing up the cafe press store and any bugs you notice

[2015-05-26 22:57] arnabp commented on #248
Mendeleev has been wiped and Mint has been installed

[2015-05-26 22:57] #248 closed

[2015-05-26 23:23] ariel-phet commented on #245
@pixelzoom said

acid-base-solutions
balancing-chemical-equations
beers-law-lab (concentration)
graphing-lines
molarity
ph-scale (ph-scale-basics)
reactants-products-and-leftovers

[2015-05-26 23:25] ariel-phet commented on #252
duplicate of #245 closing

[2015-05-26 23:25] #252 closed

[2015-05-27 01:40] emily-phet opened #254 "Camtasia for Mac file -> MP4 file export"
I need 11 Camtasia for Mac (*.camproj) files converted to MP4 files (or some movie format that is cross-platform compatible). This needs to be done as soon as possible to allow Argenta access to these data sets.

The Camtasia files are located in the following directories on phetbackup:
Individual/College Individual/2014_05_13_SOM_MolPol_Dev5_C2_F_KG_EM
Individual/College Individual/2014_05_13_SOM

[2015-05-27 15:25] ariel-phet commented on #254
Hey @orejolaphet - can you hop on this conversion?

Probably the best thing to do for downloading the files off phetbackup is to plug in to the ethernet right on my desk, that will give the fastest connection.

[2015-05-27 15:44] orejolaphet commented on #254
Yeah, I can get that done!

[2015-05-27 16:57] orejolaphet commented on #254
@emily-phet I went through every folder and noticed in each there already exists a " .MPG " video file which is cross compatible. I did see folders with a " .cmproj " extension, but these aren't Camtasia files. I suppose I'm confused, exactly what files I am to convert?

[2015-05-27 17:07] emily-phet commented on #254
@orejolaphet - Here's a screen shot of one of the directories:
![screen shot 2015-05-27 at 11 05 18 am](https://cloud.githubusercontent.com/assets/5109055/7842471/77f369a8-0460-11e5-8f91-fa2b5a319ebc.png)

It's the *.cmproj file that needs to be converted. Are you opening this file with Camtasia for Mac? You'll need to use the Mac version of Camtasia to open the file and convert it. Let me know if

[2015-05-27 17:17] amanda-phet commented on #194
This is done! Closing.

[2015-05-27 17:17] #194 closed

[2015-05-27 17:24] phet-steele commented on #253
Credits are done, with the exception of Build an Atom, Friction, and Molecules & Light. phetsims/website/issues/205

[2015-05-27 17:26] orejolaphet commented on #254
Oh ok, I was using a windows computer earlier. That clears everything up. I'm currently downloading the files, thanks.

[2015-05-27 17:30] phet-steele commented on #253
If I get the go ahead on crediting third-party libraries, I will. This would take awhile, though.

[2015-05-27 17:59] phet-steele commented on #5
@patricialoeblein did u make Gooru aware of our new sim pages yet? I may recollect a recent-ish email to someone at Gooru about this.

[2015-05-27 19:21] ariel-phet commented on #25
Closing this issue for the moment, until making screenshot functionality work with WebGL becomes a priority.

[2015-05-27 19:21] #25 closed

[2015-05-27 20:20] amanda-phet commented on #253
Thanks, @phet-steele !

Moving on to sim topics and learning goals. We will use the same spreadsheet to record when the topics and learning goals have been reviewed and updated (if applicable).

[2015-05-27 21:10] orejolaphet commented on #245
This task has been completed.

[2015-05-28 00:05] zepumph commented on #218
I fixed a few bugs here and there @ariel-phet, thoughts?

http://www.cafepress.com/phetsims

[2015-05-28 04:56] ariel-phet commented on #218
@zepumph - nice improvements. I am still seeing several issues we should address:

- [ ] When you click on a item within a category the "tab" indication goes away. For instance, if you click on a specific t-shirt the tab at the top no longer indicates "t-shirts and clothing"

- [ ] The "rollover" behavior seems really odd. For instance when you roll over an item like a mug with your mouse you get

[2015-05-28 05:01] ariel-phet commented on #245
Excellent, closing

[2015-05-28 05:10] ariel-phet opened #255 "Test sims with games for issues with sound on iPad 2"
@phet-steele this should be a quick task, please complete at your earliest convenience

This task is related to https://github.com/phetsims/vegas/issues/32

please test the following sims on iPad2 with iOS 8 (even though the orginal issues were reported with iOS7, if everything is fine with iOS8 it will not be worth investigating further) Just note if sound works. For any sims with an issue please

[2015-05-28 16:08] phet-steele commented on #255
Tested the live version of all these with Tycho. Everything was fine.

[2015-05-28 16:08] #255 closed

[2015-05-28 16:23] ariel-phet commented on #240
Task looks complete, closing

[2015-05-28 16:48] pixelzoom opened #256 "revise support for branding"
Branding is currently spread out across multiple GitHub accounts, multiple repositories and multiple branches. This makes is cumbersome to use, difficult to refactor, etc.

First steps:

1. Identify the various brands (and their repos/branches) that currently exist.
2. Discuss what additional brands are (or may be) needed.

Requirements for the new approach:

1. Optionally specify a brand at build

[2015-05-28 16:49] pixelzoom commented on #256
@ariel-phet @jonathanolson @samreid @jbphet Are there any additional requirements?

[2015-05-28 16:57] pixelzoom commented on #256
Here are the repositories and branches involved:

https://github.com/phetsims/brand
  master
  adapted-from-phet

https://github.com/phetbrand/brand
    master
    together

The branches are not documented, so I don't know what they are for. I will create issues to document the branches.

[2015-05-28 17:13] jonathanolson commented on #256
Depends a lot on how hard we would want to make it to put PhET branding on (if you aren't on the PhET team). If we support custom brands, remember users could replace their logo with the PhET logo, etc. to make it appear as a PhET sim, so I'd personally wouldn't worry too much about how easy it would be to switch to PhET branding (checking for existence of a file?)

Also, people may "publish" sims

[2015-05-28 18:08] pixelzoom commented on #24
5/28/15 dev meeting:  Have a developer test this to see if it's ready. If it's ready, publish a release candidate of some sim, then assign to a student tester.

[2015-05-28 18:11] jonathanolson commented on #24
Will to a dev deployment of molecule-shapes with fullscreen enabled by default for testing (and will have a new sheet in the sim's test matrix).

[2015-05-28 22:50] #195 closed

[2015-05-29 03:50] jonathanolson commented on #24
Added sheet to Molecule Shapes test matrix for this testing (https://docs.google.com/spreadsheets/d/1wfA1SVvOKK-d26ozNNeGDuuq5OtUpInGcEkfK_Eqvgg), and deployed Molecule Shapes 1.0.1-dev.1 (http://www.colorado.edu/physics/phet/dev/html/molecule-shapes/1.0.1-dev.1/molecule-shapes_en.html) with fullscreen support enabled by default (if available for the browser).

[2015-05-29 03:51] jonathanolson commented on #24
Assign to @ariel-phet for priority.

[2015-05-29 15:13] phet-steele opened #257 "Make a google doc for teachers on how to update activities"
At @patricialoeblein request, we need to create a google doc for those authors that need to update their activities to be shown on the HTML5 sim pages. The doc is here:
https://docs.google.com/document/d/1At9OMHSV_OzoBwsn6v97O_RjE6ioAzhpNWJd30Ujda8/edit?usp=sharing

[2015-05-29 15:53] ariel-phet commented on #24
Closing this issue (since there is quite a bit of older info), and creating a new up-to-date task.

[2015-05-29 15:53] #24 closed

[2015-05-29 16:05] ariel-phet opened #258 "Test "Full Screen" functionality using molecule-shapes 1.01.-dev.1 [joist]"
@bryo5363 @orejolaphet @phet-steele please make this task your current top testing priority.

We would like to thoroughly test full screen functionality to see if it is appropriate to provide in all sims. As a test bed @jonathanolson has published a fresh version of molecule shapes that has full screen enabled by default (if available in the browser). Test as you would a release candidate, as we w

[2015-05-29 16:12] #240 closed

[2015-05-29 16:44] orejolaphet commented on #239
Bates has been updated with IE 10. Task is complete, closing.

[2015-05-29 16:44] #239 closed

[2015-05-29 18:58] emily-phet commented on #254
@orejolaphet - I just tried to open the Camtasia cmproj file in folder Individual/K12 Individual/2011_03_24_SOM_G7_M_GB_EM. It seemed to open just fine (I'm using Camtasia v2 on my Mac). Is this one of the files that you weren't able to open?

[2015-05-29 19:25] mariahmaephet commented on #213
@amanda-phet @ariel-phet

So I've been looking into character design and whatnot for PhET girl and figured out it's a lot easier and smarter to just work out her whole character in individual parts and then piece them together later for different poses and situations. I'm also not able to manipulate the versions of her you gave me previously so I'm having to redraw and figure out her whole look. T

[2015-05-29 22:42] emily-phet commented on #254
@orejolaphet - can you send me an update of how the files are progressing? I don't see any completed files yet, even in the newer directories. Thanks!

[2015-05-29 22:47] BrianNewsom commented on #235
## Information dump as of 5/29

I did not get nearly as much done as I was hoping due to illness and lack of time worked, but I wanted to set whoever is on this next up for at least a little more success.

### General Niceness
For some reason the referenced mysql is wrong and does not work.  Similarly php is not in the path so it is hard to use.  To remedy this situation I added the following to m

[2015-06-01 05:57] ariel-phet opened #259 "Dev Test Bending Light 1.0.0-dev.3"
@bryo5363 @phet-steele @orejolaphet @elisemorgan please make this your current top testing priority.

Please review the opened issues in the Bending LIght repo before testing

**Platforms**
- [x] Windows + Chrome
- [x] Mac + Safari
- [x] iPad2 iOS8

**Testing Link**
http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.3/bending-light_en.html

[2015-06-01 16:45] orejolaphet commented on #254
@emily-phet The videos I was able to convert to .mp4 include:
Individual/K12 Individual/2011_10_11_SOMB_MolShap_Mag_G5_M_KR_EM
Individual/K12 Individual/2011_10_11_SOMB_MolShap_Mag_G6_M_JK_EM
Individual/K12 Individual/2011_10_17_SOMB_MolShap_BL_G7_F_AV_EM
Individual/College Individual/2014_05_13_SOM_MolPol_Dev5_C2_F_KG_EM
Individual/College Individual/2014_05_13_SOM_PhotoElec_U2_F_HP_EM

And yes,

[2015-06-01 17:06] orejolaphet commented on #254
@emily-phet so it turns out phetback has 31.3 MB of available space, definitely not enough space for these video files. How do you want me to transfer the converted videos that I do have?

[2015-06-01 17:15] emily-phet commented on #254
Thanks @orejolaphet - can you start a Google Drive folder and upload them there for now. Share this folder with me and Argenta. I'll email you the appropriate email addresses.

[2015-06-01 17:24] orejolaphet commented on #254
@emily-phet Ok, I'm currently uploading to a google drive folder.

[2015-06-01 17:25] emily-phet commented on #254
Thanks @orejolaphet - it's so odd that converting some files turned into so much trouble... thanks for chugging along on this. I'll see what I can figure out about the files not opening on Camtasia.

[2015-06-01 17:28] orejolaphet commented on #254
@emily-phet No problem! Also, the folder has been shared.

[2015-06-01 19:03] amanda-phet opened #260 "Organize shared google docs"
Using the phethelp google account, organize google docs in to folders so that we can easily share folders of docs rather than individual ones.

[2015-06-01 20:08] pixelzoom commented on #198
There was some discussion about this at 5/28/15 design meeting that I don't see captured here. Was the consensus that the about pincer was a good direction? Or something else?

[2015-06-01 21:32] mariahmaephet commented on #210
@ariel-phet @amanda-phet

How do these look?
![screen shot 2015-06-01 at 2 32 08 pm](https://cloud.githubusercontent.com/assets/11527557/7923779/06bc23d8-086b-11e5-9697-3d40af30bd43.png)

[2015-06-01 21:40] ariel-phet commented on #198
@arouinfar - can you address @pixelzoom comment above and then reassign to @mariahmaephet

[2015-06-01 22:54] mariahmaephet commented on #213
Here's a few I've been working on--does this look alright? I'll go through and add the logo to her shirt eventually
![screen shot 2015-06-01 at 3 53 21 pm](https://cloud.githubusercontent.com/assets/11527557/7925141/5e28dbe2-0876-11e5-940f-900d400073c5.png)

[2015-06-02 03:41] ariel-phet commented on #98
Apparently Windows 10 is being released globally on July 29 2015.

@oliver-phet and @arnabp I believe @jessegreenberg is going to upgrade his computer to the computer Martin was using. His current computer might work well for doing a beta test on Windows 10.

[2015-06-02 05:06] arnabp commented on #98
I will also be upgrading to Windows 10 on my home PC at launch, so I can help with testing until we have more windows 10 machines.

[2015-06-02 05:32] phet-steele commented on #98
I've been planning on upgrading my personal computer as well.

[2015-06-02 06:02] ariel-phet commented on #98
@arnabp - is there a way for us to get windows 10 before launch?

[2015-06-02 16:13] amanda-phet commented on #210
These look great! Will I be able to resize the pieces if you put the .ai file in drive? I'm concerned that the sizes aren't quite what we need, so I'm not sure if it's easier for you to make them the right size for for me to do it.

Does this picture help you with the sizing?
![screen shot 2015-06-02 at 10 12 43 am](https://cloud.githubusercontent.com/assets/7852916/7940734/f255cfe8-090f-11e5-9e41

[2015-06-02 16:37] arouinfar commented on #198
@pixelzoom, we decided to move forward with designing the pincer since it can be used to push and pull. The plan is to implement a wireframe pincer in the code (as shown below), but go through a few design iterations before implementing anything more complicated.
![image](https://cloud.githubusercontent.com/assets/8419308/7925639/abc93f78-0884-11e5-811c-d280e2cc1b3e.png)

@mariahmaephet, we would

[2015-06-02 17:37] arnabp commented on #98
yes, they have an open beta I can install onto one of our computers

[2015-06-02 17:58] amanda-phet commented on #213
These are looking great!

[2015-06-02 22:02] ariel-phet commented on #260
@elisemorgan can you go into the following google doc and fill in the Sim Design table with links for any google docs with which you are shared?

https://docs.google.com/document/d/1yjT1oE95JG_evwob9LB_De-brD7JpfFM6iIL6pF812k/edit

Some of these documents will not exist yet, or will not be shared with the google group yet (which is part of what we want to find out). Generally it should be pretty e

[2015-06-02 22:07] elisemorgan commented on #260
Hey Ariel,
Some of the results I'm getting are dev docs and some are testing matrices,
is there a preference for which I should link to?
Elise

On Tue, Jun 2, 2015 at 4:02 PM, Ariel Paul <notifications@github.com> wrote:

[2015-06-02 22:08] elisemorgan commented on #260
I can also compile the dev docs and testing matrices together now and link
to that. I'll start doing that unless you say other wise.
Elise

On Tue, Jun 2, 2015 at 4:07 PM, Elise Morgan <elise.phet@gmail.com> wrote:

[2015-06-02 22:41] amanda-phet commented on #253
Making a new issue for the other content. Closing.

[2015-06-02 22:41] #253 closed

[2015-06-02 22:41] mariahmaephet commented on #210
@amanda-phet  Yeah, you can definitely change the sizes in illustrator. I'll upload that now--let me know if it doesn't work

[2015-06-02 22:49] amanda-phet opened #261 "Update sim info content- topics and learning goals"
For any sims you have claimed (or have been claimed for you @ycarpenterphet ), review the Topics and Learning Goals on the current HTML5 sim page. If they look appropriate, keep them. If they need updating, log in as an administrator and make the necessary changes. After it is reviewed and/or updated, check it off using [this spreadsheet] (https://docs.google.com/spreadsheets/d/19v98MXCCbfXF6gKOOt

[2015-06-02 23:02] mariahmaephet commented on #198
@arouinfar so something like this? Did you want the arm thinned out?

![screen shot 2015-06-02 at 4 01 53 pm](https://cloud.githubusercontent.com/assets/11527557/7949228/bf6c7ca4-0940-11e5-9153-90a18ad1e205.png)
![screen shot 2015-06-02 at 4 02 01 pm](https://cloud.githubusercontent.com/assets/11527557/7949227/bf6c6070-0940-11e5-8fa2-4e1d9629e5aa.png)

[2015-06-02 23:15] arouinfar commented on #198
That's a good start, @mariahmaephet. Let's pause on this issue for now, and wait to see how the team responds to the wireframe pincer implementation. We can discuss how to modify the pincer when the time comes.

Self-assigning this issue for now.

[2015-06-03 14:19] amanda-phet commented on #210
It looks like it will work very well. I see now that they are rotated or flipped around to add variety, so I will do that! Thanks so much.

[2015-06-03 18:40] amanda-phet commented on #210
When I resized the ripped paper to make the three necessary sizes, I noticed that the larger one now has a stretched appearance and a much thicker border. Would it be possible for you to make three different sizes so that the ripped edge doesn't scale so much when resized? They don't need to be exactly the proportion that I need, but I don't think stretching them is working.

![screen shot 2015-06

[2015-06-03 18:45] jbphet opened #262 "Do some multi-platform testing on beaker together.6"
We are delivering a bundle (i.e. sim plus demos) of the beaker simulation to a customer.  As of this writing, there has been no multi-platform testing - all testing has been done on Win7 and Chrome-latest.  It would be good to test this on some other platforms and make sure there are no major issues.  Major issues would include anything that prevents the simulation from being used, like failures t

[2015-06-03 18:48] jbphet commented on #262
I'm intentionally not providing a link since this is a public repo.  Link available here: https://github.com/phetsims/beaker/issues/57#issuecomment-108571675.

[2015-06-03 18:48] jbphet commented on #262
Assigning to @ariel-phet, but @phet-steele is already starting work on this.

[2015-06-03 18:49] jbphet commented on #262
Please log versions of OS and browser used for this testing.

[2015-06-03 18:52] jbphet commented on #262
The basic approach should be to test all the links in the links file and verify that they load, look reasonable, and behave as intended.  Each link is labeled with a brief description of what the sim should look/behave like.

[2015-06-03 18:54] ariel-phet commented on #262
@phet-steele this can be your top priority, but the testing team top priority as a whole should currently be Bending Light

[2015-06-03 20:26] ycarpenterphet commented on #226
@arnabp Can you add this laptop as a new row in the Laptops section of the asset inventory spreadsheet, filling in the appropriate details on Home location, OS, model, any licensed software installed (like VMware or Camtasia)?

[2015-06-03 21:07] jbphet commented on #262
Assigning to @arnabp to get a bit more coverage before we need to send this out.

[2015-06-03 21:39] arnabp commented on #262
When using the "Simulation with Logging Enabled" on Firefox on OSX, with the web console open, framerate while running a trial drops to about 5 fps and becomes very choppy.

[2015-06-04 03:18] ycarpenterphet commented on #225
Updates:

Tested modmic with alternate USB adapter (brand: Plantronics) with widely varying results. No beeping sounds in the background, but audio quality seemed to depend heavily on the laptop used. With my macbook pro (mid 2012 15" retina), there is audible continuous static in the background of the recording. With the Macbook Air (Jordan), the audio has a slightly different timbre (deeper?) us

[2015-06-04 16:32] bryo5363 commented on #259
Mac and Safari testing is complete. Will continue on Windows. So far I have not noticed any issues w/ Windows that differ from the Mac

[2015-06-04 16:33] ariel-phet commented on #259
@bryo5363 - thanks for the update, and good to hear

[2015-06-04 16:44] jbphet commented on #262
Thanks @arnabp and @phet-steele - the testing you've done should be sufficient.  Closing.

[2015-06-04 16:44] #262 closed

[2015-06-04 17:46] oliver-phet commented on #98
@jonathanolson JB mentioned that you have a "Scenery Unit test" that he was suggesting we use to test Windows 10 and the new browser.
@arnabp
You'll want to look at the unit test in addition to ESPB, Molecule Shapes, Balancing Act, RPAL.
Compare visual look to other browsers (Chrome especially).

[2015-06-04 17:48] oliver-phet commented on #98
@arnabp Can you start testing by just around at the website and noting any weird issues.

[2015-06-04 17:49] elisemorgan commented on #244
Do you mean Build an Atom instead of Build a Molecule? I can't find an HTML5 version of the Molecule but I did find the Java and HTML5 versions for the Atom. As far as I can tell, Build an Atom does not have an HTML5 design doc.

[2015-06-04 17:55] aaronsamuel137 opened #263 "[pendulum-lab] Test 1.0.0-dev.4"
Testing matrix: https://docs.google.com/spreadsheets/d/1otMWjgj2jCQHYhp_LebfnNk9H475fhxhw-cPjj_lp2g/edit#gid=2

Link: http://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.0.0-dev.4/pendulum-lab_en.html

Assigning to @ariel-phet.

[2015-06-04 18:32] jbphet opened #264 "Test Joist #137"
This issue needs to be tested: https://github.com/phetsims/joist/issues/137

[2015-06-04 19:01] ariel-phet commented on #264
Hey @bryo5363 - this seems like a quick test...can you try this in the near future

[2015-06-04 19:01] ycarpenterphet commented on #225
Copernicus, Schrodinger and Erdos all correctly recognize the modmic with headset adapter. However, the sound quality with the headset adapter and Schrodinger is poor. The pickup of static is louder than the voice pickup, which is extremely quiet even after adjusting settings. It seems Mac's default ambient noise reduction is also very helpful.

Camtasia is not yet installed on Copernicus or Erdos

[2015-06-04 19:13] ariel-phet commented on #244
@elisemorgan - yes I did mean Build a Molecule. That is sim is very much on hold, lets discuss what do with that in person.

[2015-06-04 19:19] ycarpenterphet commented on #225
Screen resolution on Socrates is too low for recording (max 680 pixels vertically).

[2015-06-05 02:12] samreid commented on #256
One goal I'd like to have for branding: everything should be in a single repository in master.  Globals or preload files or other logic chooses between different brands.  Changing repos or branches to test different brandings is too cumbersome.

[2015-06-05 15:45] jbphet commented on #256
Perhaps we could encrypt the brand resources (such as the logo) that we want to use only for PhET and require a key to be in the local chipper directory.  This would be somewhat similar to what was done for jar signing back in JavaVille. If no key it defaults to 'adapted-from-phet' or unbranded, and we could have build options to select between these.

[2015-06-05 21:59] bryo5363 commented on #264
Should I test on iPad 2?

[2015-06-05 22:49] pixelzoom commented on #256
@samreid wrote:

Agreed, everything in 1 repo is the way to go. Perhaps subdirs for various brand options. And I was thinking of something like $HOME/.phet/build-preferences.json to specify which brand option to use.  Still ruminating on ways to prevent unauthorized usage of the PhET brand.

[2015-06-06 00:28] emily-phet opened #265 "Clipping Video Footage"
I have some video footage that needs some clips pulled over the next two weeks and also some organizational work. Elise is familiar with the footage setting (Tim's classroom) now, does she have some time she could put towards this? It's probably about 10 hours of work.

[2015-06-06 00:31] emily-phet opened #266 "Poster Design"
I'll need to 2-3 posters designed as part of a conference proceeding submission due June 25th. I'll be able to have some mockups to start from around June 15th. Will Mariah have time to work on this?

[2015-06-06 01:39] elisemorgan commented on #265
I have time and can get started as soon as this weekend, just send me the details.

[2015-06-06 19:40] ariel-phet commented on #264
Yes, iPad 2, iOS8

[2015-06-06 20:16] ariel-phet commented on #265
@elisemorgan - please count this work towards your billable hours

[2015-06-06 23:07] emily-phet commented on #265
@elisemorgan

The first thing you'll want to do is access phetbackup (I'll email you details), and download the video footage you'll be working with. This will take awhile...

[2015-06-08 14:14] ariel-phet commented on #259
@bryo5363 @phet-steele @orejolaphet @elisemorgan lets get this testing finished off today (Monday) if possible

[2015-06-08 14:36] amanda-phet commented on #266
I know she is out of town for a good chunk of the summer and working intermittently.

@mariahmaephet Can you comment on whether you'd be available mid-late July to work on this?

[2015-06-08 14:39] mariahmaephet commented on #266
@amanda-phet @emily-phet For sure! The only time I will not be available is June 30-July 9

[2015-06-08 15:20] ariel-phet commented on #263
@bryo5363 @phet-steele @orejolaphet @elisemorgan some more testing work, but currently lower priority

[2015-06-08 15:22] ariel-phet commented on #244
@elisemorgan - it turns out Build a Molecule did have a design doc (just not shared to the group), it should be shared with you now

[2015-06-08 16:12] amanda-phet commented on #266
Assigning to @emily-phet to coordinate with @mariahmaephet .

[2015-06-08 16:46] ycarpenterphet opened #267 "Upgrade Copernicus to OSX 10.9"
We are planning to reserve the laptop Copernicus for video recording and production tasks, since it works well with the the modmic - this way, anyone needing to record a primer video can borrow the mic and laptop as a pair, and @schasteen can edit the final production videos there.

However, Camtasia will not work with OSX 10.8, which is the current OS, and Adobe Premiere (which we have a licensed

[2015-06-08 17:09] ariel-phet commented on #267
Hey @arnabp - please get this done as soon as your time allows

[2015-06-08 17:33] kathy-phet commented on #221
Hi Everyone,

Thanks for the info on these groups. I did follow-up with many of these companies over the past month, and made some good contacts that will lead to PhET being used by them. Although the grant opportunity turned out not work well for our offerings, the connections were great.

I'll close the ticket.
K

[2015-06-08 17:33] #221 closed

[2015-06-08 20:13] ariel-phet commented on #254
@emily-phet - can this task be closed?

[2015-06-08 20:14] ariel-phet commented on #261
My assigned topics and learning goals have all been reviewed

[2015-06-08 20:28] arouinfar commented on #261
I've also finished reviewing/updating the topics and learning goals for the sims assigned to me.

[2015-06-08 20:37] ycarpenterphet commented on #261
Mine are done as well - looks like the spreadsheet is complete. Tagging @amanda-phet to double-check and close this issue if no sims are remaining.

[2015-06-08 20:46] amanda-phet commented on #261
Thanks everyone! Closing.

p.s. It's never too late to write a teacher tips document!

[2015-06-08 20:46] #261 closed

[2015-06-08 21:19] arnabp commented on #226
Asset inventory has been updated

[2015-06-08 21:19] #226 closed

[2015-06-09 00:20] emily-phet commented on #254
@ariel-phet - unfortunately no, we still haven't figured out how to convert the older Camtasia files. They won't open on version of Camtasia Oliver O. was using.

[2015-06-09 17:38] ariel-phet opened #268 "Create some "PhET + Data" logo treatments"
Hey @mariahmaephet, @kathy-phet has requested that we explore some possibilities for agumenting our logo. Currently we are building in capabilities for our simulations to be able to collect data about user interactions to allow researchers and such to better understand the paths through which students use our sims.

For sims that have this capability activated we want to augment our logo. We are t

[2015-06-09 17:55] ariel-phet commented on #268
Tagging as related to https://github.com/phetsims/brand/issues/4

[2015-06-09 18:01] arnabp commented on #267
10.9 has now been installed on Copernicus!

[2015-06-09 18:03] ariel-phet commented on #267
@ycarpenterphet - please verify if this upgrade solves your issues

[2015-06-09 18:43] ycarpenterphet commented on #267
Looks great. Thanks @arnabp

[2015-06-09 18:43] #267 closed

[2015-06-09 19:57] elisemorgan commented on #244
@ariel-phet the five listed above are complete, owned by phethelp, and linked on the master list.

[2015-06-09 21:43] ariel-phet commented on #244
excellent @elisemorgan - I am going to leave this issue open since there might be a couple others as I am going through and cleaning things up

[2015-06-10 04:49] samreid commented on #268
I'm interested to see what @mariahmaephet comes up with based on the above descriptions but wanted to add in 2¢ for discussion with @ariel-phet.  I am somewhat concerned that "data" misses out on the interoperable part of this feature set--many may think data just means that the sim is producing data.   The features we provide are the following:

* configuring the sim on startup (using query param

[2015-06-10 04:57] samreid commented on #268
If we are thinking prospective clients will be primarily interested in the data output features, then perhaps calling it "PhET data" may be perfect--I don't know how heavily we wanted to market the configurable/controllable/interoperable angle.

[2015-06-10 19:16] mariahmaephet commented on #268
@ariel-phet @samreid   Is this close to what you were thinking? And what's the best way for me to show you these? I thought I'd just collage them for now...

also, do you want the 'university of colorado' parts included at the bottom, or just  'phet + ?'

![screen shot 2015-06-10 at 12 14 12 pm](https://cloud.githubusercontent.com/assets/11527557/8091696/493a0a26-0f6a-11e5-8a00-816a4cd546c6.png)

[2015-06-10 19:56] ariel-phet commented on #259
Dev testing complete, closing

[2015-06-10 19:56] #259 closed

[2015-06-10 22:17] oliver-phet commented on #98
@arnabp Can you note in this issue general performance, issues, odd behavior, etc. you've seen on Windows 10 beta?

[2015-06-10 22:20] oliver-phet opened #269 "Test iOS 9"
@arnabp Can you put iOS 9 on Tycho and start to perform some testing? ESPB, Molecule Shapes, Balancing Act, RPAL.

[2015-06-10 22:20] oliver-phet opened #270 "Test OSX 10.11"
@arnabp Go ahead and put 10.11 on your computer and start taking a look at some sims: ESPB, Molecule Shapes, Balancing Act, RPAL.

[2015-06-10 22:43] aaronsamuel137 opened #271 "[rosetta/chipper] Test HTML5 sim translation"
We need testing for html5 sim translations.

1. Go to http://phet-dev.colorado.edu/translate/
2. Select Molecules and Light as a test sim. Do not test with the other sims since they are not compatible with the translation process yet.
3. Select some locale that is not French or Afar, since these have already had some testing.
4. Fill in your translation - you can use fake strings if you want. Thes

[2015-06-11 00:06] ariel-phet commented on #218
Hey @zepumph - looks like things are coming along nicely!

The text wrapping looks much better, but I still see some minor issues such as in the screenshot below.

![capture](https://cloud.githubusercontent.com/assets/4051174/8097046/7985faec-0f9b-11e5-905d-6544fac76250.PNG)

[2015-06-11 00:13] ariel-phet commented on #268
@mariahmaephet I think this is a great way to display them, and gives us some good discussion ideas.

Could you take all the ones with "data" to the right of the phet logo and also try incorporating a "+" symbol? No need to have any CU branding.

[2015-06-11 00:17] ariel-phet commented on #258
@bryo5363 @orejolaphet @phet-steele @elisemorgan I am setting this task back to the top priority with finishing off pendulum lab testing as a close second

[2015-06-11 00:20] ariel-phet commented on #271
@aaronsamuel137 - it seems we should also give a few examples of the kinds of strings used in "chains" to flesh out if there are any issues with html and such. Could you put a list of a few test strings that should be used?

[2015-06-11 14:35] aaronsamuel137 commented on #271
It would be good to test multiline strings and html strings - even if they don't appear in the english strings of MAL. You can use strings of this form for a few of the strings just to see how it works:

Multiline string example:
```Give me a\nbreak.```

HTML string example:
```Turning left on <i>red</i> is a <b>bold</b> move.```

The rest of the kinds of strings already appear in MAL.

[2015-06-11 14:51] zepumph commented on #218
I think I figured that out, the only thing left I can see is the hover
logic in choosing an item. The overlapping logos of phet and cafepress. I'm
still thinking about how I will do that, I'll keep you posted though.

On Wed, Jun 10, 2015 at 6:06 PM, Ariel Paul <notifications@github.com>
wrote:

--
Michael Kauzmann
PhET Interactive Simulations
michael.phet@gmail.com

[2015-06-11 14:55] ariel-phet commented on #271
@phet-steele - this assignment seems tailor made for you. Think you could get it done today?

[2015-06-11 15:31] ariel-phet commented on #218
Thanks for the update, nice work so far!

[2015-06-11 15:59] mariahmaephet commented on #268
@ariel-phet

![screen shot 2015-06-11 at 8 54 58 am](https://cloud.githubusercontent.com/assets/11527557/8111682/0ff04902-1018-11e5-988b-0db6c89d270b.png)
![screen shot 2015-06-11 at 8 55 21 am](https://cloud.githubusercontent.com/assets/11527557/8111684/110344a2-1018-11e5-8af4-ff46928a7aa0.png)
![screen shot 2015-06-11 at 8 58 02 am](https://cloud.githubusercontent.com/assets/11527557/8111687/15c

[2015-06-11 16:16] samreid commented on #268
I think another valuable step for us to effectively evaluate these proposed logos would be to see them in context.  @mariahmaephet Can you mock up one or two of your favorites in the context of a sim?

[2015-06-11 16:21] amanda-phet commented on #268
You can find our mockup skeleton under PhET Ai Files > Design Assets > Homescreen Mockup.

[2015-06-11 17:04] phet-steele commented on #271
I'll commence the quality assurance.

[2015-06-11 17:43] mariahmaephet commented on #268
@samreid @ariel-phet @amanda-phet   I think I'm set on keeping the addition that same greenish yellow

![screen shot 2015-06-11 at 10 32 32 am](https://cloud.githubusercontent.com/assets/11527557/8113994/83bb6fde-1026-11e5-9d6a-146f85893c69.png)
![screen shot 2015-06-11 at 10 33 23 am](https://cloud.githubusercontent.com/assets/11527557/8113995/859df7f4-1026-11e5-9d59-30ee39721f4c.png)
![screen sh

[2015-06-11 18:02] oliver-phet opened #272 "Update Java requirements to be current"
@arnabp Can you update the text on our http://phet.colorado.edu/en/faqs System Requirements to basically be the Java system req's with 2 changes: 256 MB Ram, and remove the processor requirement.
http://java.com/en/download/help/sysreq.xml

[2015-06-11 18:13] oliver-phet commented on #270
@arnabp Also, test the scenery unit test: http://phetsims.github.io/scenery/tests/qunit/unit-tests.html

[2015-06-11 18:13] oliver-phet commented on #269
@arnabp Also, test the scenery unit test: http://phetsims.github.io/scenery/tests/qunit/unit-tests.html

[2015-06-11 18:16] oliver-phet commented on #269
Actually use this link: http://phettest.colorado.edu/git-dev/scenery/tests/qunit/unit-tests.html

[2015-06-11 18:16] oliver-phet commented on #270
Actually use this link: http://phettest.colorado.edu/git-dev/scenery/tests/qunit/unit-tests.html

[2015-06-11 18:20] ariel-phet commented on #268
Thanks @mariahmaephet - we will look at these with @kathy-phet and then give some feedback!

[2015-06-11 18:33] samreid opened #273 "When testing edge, we should test whether offline loads are faster"
See https://github.com/phetsims/joist/issues/164

@ariel-phet can you assign a tester to (a) download a recent sim for offline use and (b) launch with Edge and report if the same symptoms in joist#164 are observed?

[2015-06-12 16:39] ariel-phet commented on #273
@arnabp - since you have the windows 10 computer can you download an html5 sim (I think Molecule Shapes would be a good candidate) and see how long it takes to open the downloaded sim with Edge?

Currently, if you download an HTML5 sim and open it with IE11, it takes over 20 seconds to load (and usually is just a blank webrowser until the sim loads). We want to see if there is any improvement with

[2015-06-12 16:40] ariel-phet commented on #265
@elisemorgan - can you comment on the progress of this task?

[2015-06-12 16:48] elisemorgan commented on #265
@ariel-phet The files are converted and I started clipping them yesterday.
I'll keep working on them this weekend.

On Friday, June 12, 2015, Ariel Paul <notifications@github.com> wrote:

[2015-06-12 22:10] arnabp commented on #269
![img_0004](https://cloud.githubusercontent.com/assets/8583364/8140850/eaf7106c-111c-11e5-9856-9d53d4fe1410.jpg)
![img_0003](https://cloud.githubusercontent.com/assets/8583364/8140852/eafa2180-111c-11e5-9884-6411a59b5487.jpg)
![img_0001](https://cloud.githubusercontent.com/assets/8583364/8140848/eaf5f876-111c-11e5-8284-ea43f8dc20f1.jpg)
![img_0002](https://cloud.githubusercontent.com/assets/858336

[2015-06-15 14:55] emily-phet commented on #266
@mariahmaephet - I have the manuscript drafted that is associated with the first poster. I'll mockup something for you to start the poster with today or tomorrow. The poster will need to be a max of 3 feet wide x 4 feet high (though a bit smaller is good). I'm thinking that the ACS poster structure from last March (with the sim image in the center) would work well - though I think the color palett

[2015-06-15 15:36] samreid opened #274 "Report on 3rd party images & audio licenses"
For some of our collaborations and contracts, we must provide reports about 3rd party assets (code/images/audio/fonts/etc.) that we are using.  Most of the code licensing (and the only font we are including, 'liberation-sans-regular-subset-numeric-degrees.js') is being handled in the sherpa repository.  We still need to report on our images and audio.  Note that images & audio are scattered around

[2015-06-15 15:39] ariel-phet commented on #274
@samreid where should the code for this utility actually live. Chipper?

[2015-06-15 15:44] samreid commented on #274
Yes, I'd recommend the license reporting code be developed in chipper.

[2015-06-15 15:57] ariel-phet commented on #274
@pixelzoom - can you comment on @samreid thoughts above? Since you have familiarity with what was done in Java, can you give me a feel for how involved writing such tools would be (is this more on the 10 hours of work scale, or is this more on the 100 hours of work scale?)

[2015-06-15 15:57] pixelzoom commented on #274
@ariel-phet Is this a requirement for "Summer 2015 redeploy"?

[2015-06-15 15:58] ariel-phet commented on #274
@pixelzoom - potentially...it would be helpful to get some more information on the difficulty of this task.

[2015-06-15 16:00] ariel-phet commented on #274
@pixelzoom - correction, it won't be a prerequisite, but might be good to have done in parallel

[2015-06-15 16:18] samreid commented on #269
Tagging @jonathanolson since this should be on his radar.

[2015-06-15 16:18] bryo5363 commented on #264
This issue is no longer present. Closing

[2015-06-15 16:18] #264 closed

[2015-06-15 16:23] pixelzoom commented on #274
Why is this issue titled "Report on images & audio that were created by PhET" ? Shouldn't it be "Report on third-party resources (images, audio,...) used by PhET"?

[2015-06-15 16:33] pixelzoom commented on #274
The format and semantics of license.txt are ill-defined and inappropriate for HTML5.  We took what was used in Java/Flash (which was also ill-defined) and simply moved it to HTLM5.  So this is more than a

Here's what needs to be done:

Design (15+ hours)
1. Replace license.txt with license.json
2. Define the fields in license.json, which are required/optional, etc.
3. Require a license field for

[2015-06-15 16:33] pixelzoom commented on #274
Back to @ariel-phet for review.

[2015-06-15 16:38] pixelzoom commented on #274
A few notes on where this stuff lives in Java...

Source code in phet-svn-trunk/build-tools/src/edu.colorado.phet.licensing, mostly undocumented

phet-svn-trunk/build-tools/licensing-readme.txt (which have been more useful if located in edu.colorado.phet.licensing)

Fields in license.txt documented in ResourceAnnotation.java.

[2015-06-15 16:51] samreid commented on #274
Thanks @pixelzoom, I updated the title accordingly.

[2015-06-15 16:53] pixelzoom commented on #274
Proposed format for license.json, example:

[code]

Description of fields:

**Required for all entries:**

`source`: Tells us whether the resource is owned by "PhET" or a 3rd-party. For 3rd-parties, this field identifies the organization or individual(s) who own the resource.

**Required for all entries where source === "PhET":**

`author`: Identifies the individual(s) that created the resource.

[2015-06-15 17:38] jonathanolson commented on #269
This is mostly looking like it's failing trying to download all the many hundreds of files necessary, except for the "checked" failure, which looks like a bug on my part of when the unit tests are attempted to be hidden.

Did it work when not tethered (which might slow things down?)

[2015-06-15 17:56] orejolaphet commented on #258
Is the full screen function require webGL? Internet Explorer 10 does not support webGL, and the option for "Full Screen" is not available under the PhET menu.

[2015-06-15 18:01] arnabp commented on #269
No, the scenery test could never complete regardless of if it was tethered.

[2015-06-15 18:29] arnabp commented on #98
![unit test error](https://cloud.githubusercontent.com/assets/8583364/8167153/33cb61fe-1351-11e5-8a9f-d58b12059fae.PNG)

Unit test cannot complete on Windows 10's edge. It gets hung up on the "External image displayed before load, then after load (webgl)" and never goes past that. I've also included the error log on the left.

[2015-06-15 20:03] jonathanolson commented on #269
Can you try http://phetsims.github.io/scenery/tests/qunit/compiled-unit-tests.html, as it doesn't load a ton of files?

[2015-06-15 20:52] arnabp commented on #273
Both IE11 and Edge on Windows 10 are having very variable opening times. Sometimes it takes the 20 seconds to load with the blank screen and other time is loads almost immediately.

[2015-06-15 20:57] arnabp commented on #269
Unforunately, this test wasn't much different. The iPad auto-refreshed a few times before giving up. Here's a screenshot I was able to capture between refreshes:
![img_0006](https://cloud.githubusercontent.com/assets/8583364/8170577/e4a47b24-136e-11e5-9a1c-cde44469f700.jpg)

[2015-06-15 21:00] oliver-phet commented on #98
@jonathanolson Assigning this issues to you - it looks like Win 10 Edge is hanging on the scenery unit test.

[2015-06-16 06:49] jonathanolson commented on #98
Fixed platform detection in https://github.com/phetsims/phet-core/issues/20, now it looks good:
![edge-unit-tests](https://cloud.githubusercontent.com/assets/480878/8177390/89edbb70-13c1-11e5-87e1-ee51d74e262a.PNG)

[2015-06-16 17:46] arnabp commented on #270
Safari passed with no issues, Chrome failed on 3 issues (just like previous OSs: Opacity and Blending (canvas), Simple clipping (dom), Nested Node/Fill/Stroke Opacity (canvas))

[2015-06-16 17:51] arnabp commented on #98
The test is still not completing for me. Is this because you have only updated the local version?

[2015-06-16 19:43] orejolaphet commented on #254
@emily-phet - I added the remaining 6 files to the google drive folder I shared with you previously. All 11 videos have been converted to .mp4 format.

Closing

[2015-06-16 19:43] #254 closed

[2015-06-16 21:25] arnabp commented on #270
https://github.com/phetsims/molecule-shapes/issues/125

[2015-06-16 22:24] jonathanolson commented on #269
Any clue if OS X 11 is needed to debug with a tether for this?

[2015-06-16 22:25] jonathanolson commented on #258
They are unrelated, IE10 independently does not support WebGL and the full-screen API.

[2015-06-16 23:17] aaronsamuel137 commented on #271
@phet-steele, I have made some fixes. Please continue testing when you have a chance.

[2015-06-17 16:22] mariahmaephet commented on #266
@emily-phet I'm actually on the road this summer! I'm working from coffee shops along the west coast so I'm not able to meet in person. If you don't think emails are enough we can set up phone/skype calls?

[2015-06-17 20:42] arnabp commented on #269
No, anything from Mountain Lion Safari and up has the "Safari Web Inspector"

[2015-06-17 23:25] emily-phet commented on #266
@mariahmaephet - Ahh, I see. Sounds like fun! The deadline got extended for this, so I still haven't quite gotten some of the content finished. How about this - can you take the ACS poster from this past March and come up with a few different color schemes (something that looks a bit less bright/childlike)? The sim that will be focused on is the first screen of Forces and Motion: Basics - so somet

[2015-06-18 05:05] jonathanolson commented on #98
My fix (https://github.com/phetsims/phet-core/commit/328c6e2f6df1ee3da1bdd41877d2113cfc1e4a71) was pushed before you tested. What were you using to test, phettest? I don't know if it was updated.

[2015-06-18 16:26] bryo5363 commented on #258
The matrix seems to be complete.

[2015-06-18 18:10] pixelzoom commented on #274
Another option (proposed at 6/18/15 dev meeting) is to replace third-party images and audio with PhET-created resources.

[2015-06-18 21:23] ariel-phet commented on #258
Thanks, closing

[2015-06-18 21:23] #258 closed

[2015-06-19 18:05] pixelzoom opened #275 "inspect uses of Math.round"
As discovered in https://github.com/phetsims/dot/issues/35, Math.round is not symmetric for positive and negative numbers, and that's not desirable for PhET sims.  Typically dot.Util.roundSymmetric should be used instead.

There are currently 178 occurrences of Math.round in PhET code. These should be inspected and changed to dot.Util.roundSymmetric where appropriate.  Where Math.round is OK, reco

[2015-06-19 18:17] arnabp commented on #98
This link: http://phettest.colorado.edu/git-dev/scenery/tests/qunit/unit-tests.html

[2015-06-19 18:20] pixelzoom commented on #275
I inspected Math.round in the following repos:

acid-base-solutions (all OK, positive numbers only)
beers-law-lab (all OK, positive numbers only)
dot (used only in Util.roundSymmetric)
graphing-lines (9 occurrences all changed to Util.roundSymmetric)
hookes-law (4 occurrences all changed to Util.roundSymmetric)
joist (all OK, positive numbers only)
molarity (all OK, positive numbers only)
ph-scale

[2015-06-19 18:21] pixelzoom commented on #275
Assigning to @jbphet to inspect his sims.

[2015-06-19 19:28] phet-steele commented on #271
@aaronsamuel137, I managed to make the service unavailable again. The only thing I can think I did differently, since its been working all day up until now, is that I translated all the common strings at once.

[2015-06-19 19:50] jbphet opened #276 "test installer made with httrack 3.48 for missing files"
The installers were recently found to be missing files, see https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3696 for details.  The problem seems to have been narrowed down to a bug in HTTrack, so I had OIT upgrade to the latest version and have re-run the installer builder.  Initial indications are promising - no missing files were seen in the rip.  I could use some help testing the i

[2015-06-19 19:56] jbphet commented on #276
Script for testing whether any JNLP files are missing - paste this into a text file (e.g. list-mising-jnlp-files.sh), put the file into the root directory of the PhET installation, and run it.  It may be necessary to modify permissions with the command ```chmod +x```.

[code]

[2015-06-19 20:09] aaronsamuel137 commented on #271
It might be something to do with the fact that the build server isn't running now. Not totally sure. I am going to be updating the build server over the next few days, so now that the string saving seems to be working, you can hold off on testing until then.

[2015-06-19 20:30] jbphet commented on #276
Assigning to @ariel-phet, but @phet-steele is already working on it.

[2015-06-22 17:06] phet-steele commented on #276
1. This issue is already known: the link to the version without activities still contains activity pages. The activities themselves, however, are not reachable and just lead to a file not found. An example location of a file not found on the Scaling Shapes Activity and Lesson activity, on Area Builder:

/C:/Program Files (x86)/PhET/services/download-servletb101.html?filename=/4015/Scaling_LessonPl

[2015-06-22 17:33] bereaphysics opened #277 "Test Charges-And-Fields Release Candidate 1.0.0-rc.1"
OK a release candidate was published here: http://www.colorado.edu/physics/phet/dev/html/charges-and-fields/1.0.0-rc.1/

And the test matrix is here: https://docs.google.com/spreadsheets/d/13LTW0wpaZcvWRPLFjQCwmkfbpkmFdqAlm65Mg5OpNl4/edit#gid=2

Aside from the test matrix (linked above), please run the following tests:

This sim is somewhat unusual in the sense that it has multiple modes (one non

[2015-06-22 17:36] ariel-phet commented on #277
Thanks @bereaphysics - can you also please transfer ownership of the testing matrix to phethelp?

[2015-06-22 17:37] samreid commented on #275
Would there be a problem with just replacing all occurrences?  Or are there some cases where Math.round is necessary?

[2015-06-22 17:38] ariel-phet commented on #263
Since this testing is almost complete, lets making finishing off this testing matrix the current top QA priority

[2015-06-22 17:41] ariel-phet commented on #277
@elisemorgan @phet-steele @bryo5363 @orejolaphet please test this sim and in addition to the test matrix comment on the bullet point tasks @bereaphysics outlined above.

[2015-06-22 17:44] pixelzoom commented on #275
If Math.round is used in a performance-critical loop, changing to Util.roundSymmetric would incur 2 additional function calls.

[2015-06-22 17:45] pixelzoom commented on #275
If Math.round is used in a performance-critical loop, changing to Util.roundSymmetric will incur 2 additional function calls - the call to Util.roundSymmetric and a call to Math.abs.

[2015-06-22 18:05] bereaphysics commented on #277
phethelp is now owner.

[2015-06-22 18:17] orejolaphet commented on #263
@ariel-phet all major platforms have been tested for pendulum lab 1.0.0-dev.4

[2015-06-22 18:58] ariel-phet commented on #263
Excellent thanks!

[2015-06-22 18:58] #263 closed

[2015-06-22 18:59] ariel-phet commented on #277
bumping to top testing priority now that Pendulum lab testing is finished.

[2015-06-22 21:42] arnabp commented on #272
<b>Windows</b>
Windows 8
Windows 7
Windows Vista
RAM: 256 MB
Approximately 518 MB available disk space (for full installation)
Browsers: Internet Explorer 9 and above, Firefox, Chrome

<b>Mac OS X</b>
Intel-based Mac running Mac OS X 10.8.3+, 10.9+
Administrator privileges for installation
A 64-bit browser (Safari, Firefox, or Chrome for example) is required to run Oracle Java on Mac OS X.

<b>Lin

[2015-06-22 23:06] jbphet commented on #275
I've reviewed and updated the following sims:

+ area-builder
+ arithmetic
+ atomic-interactions
+ balancing-act
+ beaker
+ build-an-atom
+ energy-forms-and-changes
+ estimation
+ faradays-law
+ friction
+ gene-expression-basics
+ gravity-force-lab
+ isotopes-and-atomic-mass
+ molecules-and-light
+ neuron
+ ohms-law
+ resistance-in-a-wire
+ states-of-matter
+ states-of-matter-basics
+ under-pressu

[2015-06-23 02:25] samreid commented on #275
I agree but wanted to document some thoughts I had about this.

The implementation is:

[code]

So this looks very fast and optimizable.

Also, rounding seems unlikely to be used in a performance critical loop--for instance, performance critical loops for physics updates would be unlikely to use rounding as part of the math (full precision is likely to be used instead) and rounding is unlikely to

[2015-06-23 06:01] elisemorgan commented on #265
@emily-phet is this ready to be closed?

[2015-06-23 13:00] emily-phet commented on #265
Yes, great work @elisemorgan !

[2015-06-23 17:50] jonathanolson commented on #98
Looks like phettest is out of date (http://phettest.colorado.edu/git-dev/phet-core/js/platform.js is the older version). I'll look into updating this.

[2015-06-23 18:07] jonathanolson commented on #98
pull-all.sh was deleted on phettest.colorado.edu. I restored it, and I'm updating all repos.

[2015-06-23 18:22] jonathanolson commented on #98
There were also random common/contrib directories, I'm refreshing things so status is clean.

[2015-06-23 18:30] ariel-phet commented on #98
@jonathanolson - there is also now a linux box that can be set up as phettest when some time allows (probably once we have the redeploy rolling).

[2015-06-23 19:41] jonathanolson commented on #9
While in the office, I wrote a Node.js script (which can launch git nicely) that will go through active repos and clone/pull as necessary: htdocs/refresh-server.js.

It's running right now in git-bash, and the "Refresh All Sims" button works (confirmed to pull a token commit).

[2015-06-23 19:42] jonathanolson commented on #98
For now, I got the clone/pull working on phettest (just by not writing anythign in PHP/shell, all in node.js): https://github.com/phetsims/tasks/issues/9#issuecomment-114620561

[2015-06-23 19:58] jonathanolson commented on #98
Assigning to @ariel-phet for reassignment for further testing.

[2015-06-23 20:09] jonathanolson commented on #269
I'd like to test this in-person to try to see what I can do with the console to debug.

[2015-06-23 20:20] jonathanolson commented on #275
Took care of sims I've done or liaison'ed, assigning to @samreid for his sims.

[2015-06-23 21:05] jonathanolson commented on #269
I'm not concerned about the unit tests failing, but I noticed this is a more general issue so I won't close this for now. Feel free to close if the unit tests are the only things blocking closure.

[2015-06-23 21:08] jonathanolson commented on #98
Completed successfully in Edge on further tests, closing.

[2015-06-23 21:08] #98 closed

[2015-06-23 21:15] samreid commented on #275
I reviewed usages of Math.round in:

balloons-and-static-electricity
beaker
bending-light
energy-skate-park-basics
forces-and-motion-basics
fluid-pressure-and-flow

the latter two will need attention.

[2015-06-23 21:20] samreid commented on #275
I determined that all at-risk usages in fluid-pressure-and-flow are positive, so that's fine.

[2015-06-23 21:30] samreid commented on #275
I finished the work for the sims and libraries for which I am the primary developer. Next, over to @aaronsamuel137

[2015-06-24 13:42] emily-phet commented on #265
@elisemorgan - there are just a few more details here. Thought it might be easier to track than random emails if I just reopened this issue.

- Please add the timepoints to the spreadsheet regarding the "typo" that you originally found. We'll just go ahead and roll with that one.

- Can you please clip one new segment from the videos - the point where Tim asks students to start using their sim, an

[2015-06-24 14:36] aaronsamuel137 commented on #275
I review usages in color-vision and gravity-and-orbits. Assigning to @jessegreenberg.

[2015-06-24 17:06] phet-steele commented on #257
This doc has been created and deemed complete.

[2015-06-24 17:06] #257 closed

[2015-06-24 20:37] orejolaphet commented on #243
@ariel-phet I believe this task is complete.

[2015-06-25 09:16] jessegreenberg commented on #275
It looks like @jbphet already inspected molecules-and-light, energy-forms-and-changes, and isotopes-and-atomic-mass.  I looked over the updates made to those sims.

I reviewed usages thus far in capacitor-lab-basics, all rounding operations on clearly positive values.

I believe that is everyone, reassigning to @pixelzoom to review, delegate next steps, or close.

[2015-06-25 14:21] ariel-phet commented on #243
Excellent, closing

[2015-06-25 14:21] #243 closed

[2015-06-25 14:40] pixelzoom commented on #275
Reopening. I believe we forgot @bereaphysics.  Martin, if you don't have time for this, assign back to me and I'll review your sims.

[2015-06-25 14:42] pixelzoom commented on #275
I also see that @dubson has a number of questionable uses of Math.round in trig-lab.

[2015-06-25 14:45] bereaphysics commented on #275
Will do

[2015-06-25 14:48] pixelzoom commented on #275
In https://github.com/phetsims/tasks/issues/275#issuecomment-114193425 @samreid asked:

I'm warming up to this suggestion. Currently we still have 145 uses of Math.round, and more will undoubtedly be created in the future by developers who are not familiar with this issues (see trig-lab for recent concrete examples.) It would be much easier to say "don't use Math.round unless you have a specific r

[2015-06-25 14:48] pixelzoom commented on #275
A similar argument applies to `toFixed`.

[2015-06-25 15:03] bereaphysics commented on #275
Personally, I use math.ceil or math.floor to convert float to integer. This is often used in some intermediate calculation step and is not necessarily used to format a number to be displayed on the screen.  If someone would use round instead, then symmetric rounding would probably not lead to the intended result. Personally, I would advocate the use of roundSymmetric on a need of use basis.

[2015-06-25 15:46] bryo5363 commented on #277
The major platforms are nearly complete. We just need an official report on Wn 8 IE 11. @phet-steele could you verify that the sim works on this platform?

[2015-06-25 20:56] elisemorgan commented on #277
@bryo5363 I just tried to open the sim on Win 8.1 IE 11 and it was unsuccessful

[2015-06-26 18:10] ariel-phet commented on #212
This task has become a lower priority

[2015-06-26 18:11] ariel-phet commented on #49
Bumping up the priority of this task, it would be good to get going on in the month of July

[2015-06-26 18:11] ariel-phet commented on #49
I will be on vacation until July 8th, lets plan to discuss when I return

[2015-06-26 19:11] phet-steele commented on #241
All emails sent on 6/26

[2015-06-26 19:42] patricialoeblein commented on #241
thanks for doing this. I will keep track of replies on the spreadsheet.

[2015-06-26 20:31] ariel-phet opened #278 "Create icon that messages "interactivity""
Hey @mariahmaephet - we are going to have a website that is "co-branded" with another company and one of the icons they have associated with our project should message "interactivity".

Since the website is not yet public. you can find the link in this private repo

https://github.com/phetsims/special-ops/issues/7

As you can see, they are using orange icons that are all from "font awesome" - we w

[2015-06-28 13:56] bereaphysics commented on #275
I reviewed the following sims

- charges-and-fields
- blackbody-spectrum
- least-squares-regression
- plinko-probability

Blackbody spectrum was the only sim making use of Math.round. It was changed to Util.roundSymmetric

Reassigning to @pixelzoom for further assignment.

[2015-06-28 14:15] bereaphysics commented on #277
We will need to issue a new release candidate because so many platforms could not render the sim because of the math.log10 command. It has been replaced by a polyfill and all the platforms should work on the next release candidate.

[2015-06-28 21:39] ariel-phet commented on #277
@bereaphysics - sounds good, I will close this issue, please create another RC when ready, and create a new testing issue

[2015-06-28 21:39] #277 closed

[2015-06-29 15:36] pixelzoom commented on #275
I think that's everyone.

Since there is no consensus on whether to use Util.roundSymmetric everywhere, we won't do that. The "Common Errors" section of the code review checklist (https://github.com/phetsims/phet-info/blob/master/code_review_checklist.md) includes reviewing uses of Math.round and toFixed, so hopefully that will prevent inappropriate uses of those function from creeping back in.

C

[2015-06-29 15:36] #275 closed

[2015-06-29 16:16] #265 closed

[2015-06-29 16:46] oliver-phet commented on #272
@aaronsamuel137 @zepumph Here is the updated Java/Flash sys req's for this page: http://phet.colorado.edu/en/faqs#q2-header
Also, add "Approximately 518 MB available disk space (for full installation)" to both Mac OS X and Linux

[2015-06-29 17:46] bereaphysics opened #279 "Test release candidate 2 for charges and fields"
A new release candidate was published here: http://www.colorado.edu/physics/phet/dev/html/charges-and-fields/1.0.0-rc.2/

And the test matrix is here: https://docs.google.com/spreadsheets/d/13LTW0wpaZcvWRPLFjQCwmkfbpkmFdqAlm65Mg5OpNl4/edit#gid=2

The main focus of this release candidate is to check the performance on the (numerous)  platforms that did not run last time so check that they are  inde

[2015-06-29 23:28] aaronsamuel137 commented on #272
Assigning to @zepumph

[2015-06-30 21:48] mariahmaephet commented on #278
@ariel-phet Are these sort of what you were imagining?

![screen shot 2015-06-30 at 2 44 21 pm](https://cloud.githubusercontent.com/assets/11527557/8442891/cb3b7ff6-1f36-11e5-804b-3c3a2763d408.png)
![screen shot 2015-06-30 at 2 40 56 pm](https://cloud.githubusercontent.com/assets/11527557/8442895/cee07008-1f36-11e5-9b1d-3bf5c5cc7470.png)
![screen shot 2015-06-30 at 2 28 47 pm](https://cloud.github

[2015-06-30 21:55] mariahmaephet commented on #278
@ariel-phet

![screen shot 2015-06-30 at 2 52 41 pm](https://cloud.githubusercontent.com/assets/11527557/8443052/157d5570-1f38-11e5-9c16-aa8ac7f78a42.png)
![screen shot 2015-06-30 at 2 54 50 pm](https://cloud.githubusercontent.com/assets/11527557/8443053/157e1af0-1f38-11e5-9892-a57b9776a5a7.png)

[2015-06-30 21:59] mariahmaephet commented on #278
@ariel-phet so you can see them smaller

![screen shot 2015-06-30 at 2 58 45 pm](https://cloud.githubusercontent.com/assets/11527557/8443095/88d67808-1f38-11e5-98be-f99d3ad17bfa.png)

[2015-06-30 22:01] mariahmaephet commented on #210
@amanda-phet have you heard back from the team about what they'd like?

[2015-06-30 22:08] amanda-phet commented on #210
Sorry, I didn't realize I wrote that last sentence! Yes, we like the appearance you came up with.

I hope you can make these in 4 different sizes for me (we will also need a 1000 piece). The smallest two (1 and 10) look pretty good, but 100 and 1000 will need some work so that that gray border matches the thickness in the smallest two. When you look at them layered together, feel free to use your

[2015-06-30 22:09] amanda-phet commented on #278
I like the top left of the orange set, personally!

[2015-06-30 22:13] amanda-phet commented on #213
For the purposes of Making Tens, can you come up with the poses for these specific levels? Again, the ideas we had were things like holding a 100 over her head (for under 100) or posing on top of a 10 (for over 10), or peeking over a 10.

[2015-07-01 15:29] zepumph commented on #272
For the disk space section for the big installer, right now the available disk space is being dynamically loaded based on how big the installation actually is. @oliver-phet  would you like me to just hard code in 518MB? Or keep it dynamic?

[2015-07-01 16:25] oliver-phet commented on #272
Oh I didn’t realize that - keep it dynamic.
--
Oliver Nix
PhET Interactive Simulations
University of Colorado
oliver.nix@colorado.edu<mailto:oliver.nix@colorado.edu>

On Jul 1, 2015, at 9:29 AM, Michael Kauzmann <notifications@github.com<mailto:notifications@github.com>> wrote:

For the disk space section for the big installer, right now the available disk space is being dynamically loaded based o

[2015-07-02 15:29] zepumph commented on #272
Changes are up on phet-dev if you want to take a look at them.

[2015-07-02 15:57] ariel-phet commented on #278
@mariahmaephet - yes, these were very much what I was thinking!

@amanda-phet - can you get @kathy-phet to take a look at these (and I agree with your choice @amanda-phet )

[2015-07-02 15:58] ariel-phet commented on #279
@bryo5363 @elisemorgan @orejolaphet @phet-steele please make this your top testing priority

[2015-07-02 18:22] orejolaphet commented on #279
Simulation opens for Win 7 with IE 10 & IE 11 and Win 8 with IE 11

[2015-07-02 18:26] orejolaphet commented on #279
Simulation opens on iPad 2 iOS 7 + Safari

[2015-07-02 21:20] amanda-phet commented on #278
@kathy-phet agrees that the top-left orange icon looks best. However, she perceived the bubbles as spilled chemicals. @mariahmaephet can you mockup that one up with the same open-circle bubbles as the icon just to the right? When that's finished I think you can just put the .ai file in the drive folder and I'll send it to Kathy. Thanks!

[2015-07-03 14:57] pixelzoom commented on #256
Another thought about Brand.js.  It's currently a template that looks like this:

[code]

Why not use JSON?  And since this is the only thing in the brand repository, does brand need to be a repository?

[2015-07-03 14:59] samreid commented on #256
Where else could/should it go?  We need to decide for the following brands: phet, adapted from phet, custom.

[2015-07-03 16:06] pixelzoom commented on #256
Email sent to all PhET developers:

As a baby step towards revising support for branding (https://github.com/phetsims/tasks/issues/256) ...

(Note the difference between ‘phetsims’ and ‘phetbrand’ in this email.)

The repository phetbrand/brand is deprecated and will be deleted in the near future.
All brands now live in phetsims/brand, with the following branches:

master: empty brand
phet: regula

[2015-07-03 16:07] pixelzoom commented on #256
TODO:
• Delete phetbrand/brand repo
• Discuss deleting phetbrand GitHub account

[2015-07-03 16:13] pixelzoom commented on #256
phetbrand/brand/README.md now indicates that it's deprecated, and refers to phetsims/brand.

[2015-07-03 16:18] pixelzoom opened #280 "bad copyright in LICENSE?"
Here's the copyright in the LICENSE file for all PhET common-code repos (e.g., phetsims/scenery/LICENSE):

`Copyright (c) 2014 University of Colorado Boulder`

Here's the copyright in phetsims/brand/LICENSE (all branches):

`Copyright (c) 2014 phetsims`

Why is brand different? Should it be the same as other repos?

[2015-07-03 16:18] pixelzoom commented on #280
@sam you created the brand repo. Do you have an insight into why this is different?

[2015-07-03 16:26] samreid commented on #280
It is just an old stale bug, we should fix this in all brand branches.  Not sure how copyrights are supposed to work for files intended to be forked, but we should standardize the copyright statements for these files for now.

[2015-07-03 16:30] pixelzoom commented on #280
Fixed in all branches. Closing.

[2015-07-03 16:30] #280 closed

[2015-07-03 18:10] bereaphysics commented on #279
I think I got all the information I needed from this release candidate. So the sim opens but we have some performance issue on some platforms. @orejolaphet: I don't have access to most of the troublesome platforms. I'll contact you next week. Please send me your Skype handle by email

[2015-07-03 18:31] orejolaphet commented on #279
@bereaphysics I won't have access to a computer from this afternoon to Sunday night as I will be camping in Wyoming. I will be in the office on monday.

[2015-07-05 17:26] bereaphysics commented on #279
Issuing a new release candidate. Closing

[2015-07-05 17:26] #279 closed

[2015-07-05 17:47] bereaphysics opened #281 "Test release candidate 3 for charges and fields"
A new release candidate was published here: http://www.colorado.edu/physics/phet/dev/html/charges-and-fields/1.0.0-rc.3/

And the test matrix is here: https://docs.google.com/spreadsheets/d/13LTW0wpaZcvWRPLFjQCwmkfbpkmFdqAlm65Mg5OpNl4/edit#gid=2

The main change  in this release candidate is the use of canvasNode to render the electric field arrows. This should hopefully addressed the most pressin

[2015-07-05 17:58] bereaphysics commented on #281
Also, I'm punting on issues
https://github.com/phetsims/charges-and-fields/issues/48
https://github.com/phetsims/charges-and-fields/issues/49
since both are  corner cases that are minor annoyances.
In addition, I don't have easily access to a touch device, and even i did
i would not know how to start tackling them.

https://github.com/phetsims/charges-and-fields/issues/49 should be logged as a sce

[2015-07-06 19:01] oliver-phet commented on #272
@zepumph Looks good. This should be ready to go live when you can get to it.

[2015-07-06 19:04] oliver-phet opened #282 "Create a draft of a Linux troubleshooting entry for installer"
@arnabp Can you draft up a Linux troubleshooting entry about chmod, and modeunattended using the ticket: https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3681

[2015-07-07 03:28] aaronsamuel137 commented on #272
Deployed to figaro. Closing

[2015-07-07 03:28] #272 closed

[2015-07-07 16:46] samreid commented on #256
Today we discussed using build-local.json to specify brand for the build process and query parameters for selecting brand for requirejs mode.  We would move all brand branches to master.

[2015-07-07 17:32] ariel-phet commented on #271
@aaronsamuel137 - status of this testing? I believe @phet-steele is finished working for the summer so we will need to assign to someone else.

[2015-07-07 17:33] ariel-phet commented on #281
@elisemorgan @orejolaphet @bryo5363 please make this sim your top testing priority

[2015-07-08 16:32] pixelzoom commented on #245
Reopening. As identified by @jessegreenberg in https://github.com/phetsims/hookes-law/issues/4, long strings aren't the only problem. Strings that are shorter than the English strings can also result in layout problems.  So sims should also be tested with something like stringText=X.

Assigning to @ariel-phet to decide whether to do another pass of testing, or whether just look for this in sims th

[2015-07-08 16:33] pixelzoom commented on #245
FYI... I've completed i18n layout fixes in all of my sims:

acid-base-solutions
balancing-chemical-equations
beers-law-lab (concentration)
graphing-lines
molarity
ph-scale (ph-scale-basics)
reactants-products-and-leftovers

[2015-07-08 18:02] samreid commented on #274
@ariel-phet has suggested replacing 3rd party images and audio with PhET-created resources.  If we are going to do this, then we will need to provide a list to @ariel-phet for what needs to be re-created.  @ariel-phet would you like me to see if there is a low-cost way to do so (perhaps I would try reusing our Java license parsing code?) or just address them manually on a simulation by simulation

[2015-07-08 18:11] pixelzoom commented on #274
[code]
You'll see some false results due to incorrect usage of the "author" field ("author=PhET"), and those should be fixed.

[2015-07-08 18:17] pixelzoom commented on #274
Of course the above will not identify resources that are not properly accounted for in a license.txt file.

[2015-07-08 18:56] ariel-phet commented on #278
@mariahmaephet - any progress on the changes above?

[2015-07-08 21:30] samreid commented on #274
I created a grunt script to report on images & audio in simulations.  It identifies non-phet resources, and resources that are not annotated one way or the other (and resources that are annotated more than once).  Here are the docs for the script:

[code]

Here is the output of this script (I have stripped out my local path for convenience):
[code]

Reassigning to @ariel-phet to decide how to proc

[2015-07-08 23:15] aaronsamuel137 commented on #271
There were no open issues that @phet-steele left, but I think this could use more testing. There are a few things left to discuss at dev meeting, and then we should hit do a few more tests. In particular, I have pushed chains for testing different kinds of strings and concentration for testing a sim that draws strings from multiple sim repos.

[2015-07-09 16:32] ariel-phet commented on #245
@bryo5363 @orejolaphet @elisemorgan - please test our html5 sims with the query parameter stringText=X (as mentioned by @pixelzoom above) and look for layout issues

I have added a column to the spreadsheet mentioned in this issue, please report issues there, and if a layout issue exists please make an issue in the appropriate sim repo.

[2015-07-09 18:08] oliver-phet opened #283 "Investigate a way to email/collect information from users interacting in the PhET Google Group"
https://groups.google.com/forum/?hl=en#!forum/developing-interactive-simulations-in-html5

@kathy-phet @ariel-phet This came up during developer meeting. We would like to be able to investigate outside projects, collect information (3rd party database), and get it onto @kathy-phet and @kdessau-PhET lists so that they are aware of the use and to see if we should be connecting with them.

[2015-07-09 18:30] samreid commented on #274
@ariel-phet suggested:

Can SR look into these issues?  Start by seeing if we are just missing license.txt files from Java.  Annonate any images that you are sure are phet-drawn.  Then re-run report.

[2015-07-09 18:32] samreid commented on #274
@kathy-phet likes TXT moving to JSON, but it doesn't need to be done immediately

[2015-07-09 20:41] arnabp commented on #282
1 - Download package.
2 - Open the console/terminal.
3 - Navigate to the folder where the download is.
4 - Give your system permissions to execute the file:
<a>&#160;&#160;&#160;&#160;&#160;</a>>> chmod 777 PhET-Installer_linux.bin
5 - Run the installer:
<a>&#160;&#160;&#160;&#160;&#160;</a>>> ./PhET-Installer_linux.bin
5.1 - If you still do not have permissions use:
<a>&#160;&#160;&#160;&#160;&#1

[2015-07-09 22:21] oliver-phet commented on #269
When I was testing some audio using Balancing Act, @jonathanolson noticed a layout bug when the iOS 9 iPad was rotated between portrait and landscape:
![image1](https://cloud.githubusercontent.com/assets/5090275/8608279/7ec87544-2656-11e5-989d-b503790fce58.PNG)
![image2](https://cloud.githubusercontent.com/assets/5090275/8608277/7ec50e40-2656-11e5-9314-06f1e016060e.PNG)
![image3](https://cloud.git

[2015-07-10 22:08] ariel-phet opened #284 "Grind through non-English activities looking for junk"
@elisemorgan - this is a bit of a "grindy" task, but would be good to chip away at.

Basically go through all the non-English activities and look for junk. For instance, a few times people have uploaded things like resumes and such. @patricialoeblein has requested we go through all non-English activities and look for these kinds of abuses.

Probably the easiest thing to do would be to sign in to t

[2015-07-11 14:46] patricialoeblein commented on #284
There have been 2 issues in the last few weeks that have instigated this ticket. In both cases, I have emailed the author and politely told them that they have posted incorrectly. I will include the emails below. One activity had a PhET teachers' Tips as the uploaded file, so wondered if there was a language barrier. The other had a resume. I think we should continue to email authors and help them

[2015-07-11 14:56] patricialoeblein commented on #284
Please make the recording file a spreadsheet so we can easily sort. Let's call it "Deleted Activities". Column headings should be: Author name, email, language (we can put non-english if the specific language is not identifiable), reason to delete activity (corrupt file, incorrect file, inappropriate - with a specific reason so I can email), date, emailed date, response if received.
thanks and cal

[2015-07-11 15:22] patricialoeblein commented on #284
I think we should also have a sheet be a place to document gold star activities. So now, I am thinking the title of this spreadsheet should be Teaching Activities Records. One sheet for Deleted Activities and one for Gold Stars. After you make the doc and share it with me, I will add columns for the Gold Stars, but I want to think about what we would document and include some other PhET resource p

[2015-07-11 20:56] ariel-phet commented on #284
@patricialoeblein - just a note I edited your comments above to remove email addresses and phone numbers. Since github is public we want to be careful about those things.

[2015-07-12 00:35] emily-phet opened #285 "Artwork for Journal Publication"
I need two "graphic abstracts" for two upcoming journal publications - ideally before July 17th. The graphic abstract is a small image that will be shown with the article abstract in search lists. It needs to encapsulate the point of the paper in a single graphic. Examples can be found here (in the top left there is a panel where you can scroll through the most recent 10 graphic abstracts): http:/

[2015-07-12 03:34] patricialoeblein commented on #284
Thanks

[2015-07-13 14:02] elisemorgan commented on #284
@patricialoeblein Do you want all Gold Star activities compiled or just the non-English?

[2015-07-13 14:09] elisemorgan commented on #284
@patricialoeblein @ariel-phet I just need a little clarification. https://phet.colorado.edu/en/contributions/view/3944 This document isn't a lesson but seems to be instructions on how to use the sim. My impression is that this is the kind of thing we don't want, correct?

[2015-07-13 16:39] ariel-phet commented on #284
@elisemorgan - it is true that such instructions are not ideal in terms of what we recommend for sim lessons, but such a contribution is not junk/spam. Basically, I think what we are looking for are uploads that clearly do not pertain to the sim (someone's resume, some sort of nonsense, etc). We are not looking to judge the quality of contribution as a teaching tool, just to make sure it is releva

[2015-07-13 16:59] patricialoeblein commented on #284
elise Ariel is right about not judging the lesson; I tired to do that when nonenglish ones first were added, but the translation tools available don' t get the science well enough to judge. I quit trying to read them a few years ago which caused the problem of the bad activities still being published. Once you make the sheet with old ones, I will keep it up to date. I get notified every Sat about

[2015-07-13 18:12] oliver-phet commented on #282
closing. repeat of phetsims/website#96  @arnabp Add in your instruction comment into that issue.

[2015-07-13 21:55] elisemorgan commented on #284
@ariel-phet @patricialoeblein Great that clarifies a lot

[2015-07-13 21:57] mariahmaephet commented on #213
@amanda-phet @ariel-phet Is this close to what you were thinking? And how is the page layout going to change? I wasn't sure what the numbers should look like or how big they or phet girl should be.

<img width="1060" alt="screen shot 2015-07-13 at 3 45 13 pm" src="https://cloud.githubusercontent.com/assets/11527557/8661823/b7bbc828-2977-11e5-99b8-abc57aeb375f.png">

[2015-07-13 22:05] mariahmaephet commented on #213
@amanda-phet @ariel-phet

Since I didn't have wifi to do some things I spent a good amount of time just practicing and playing around with PhET girl and getting better and quicker at drawing her and learning how to do clothing and poses and such. I've done some objects and things but those probably aren't as relevant yet.

<img width="1199" alt="screen shot 2015-07-13 at 4 01 12 pm" src="https://c

[2015-07-13 22:09] mariahmaephet commented on #210
@amanda-phet   I just readjusted some of them--I'll upload the .ai file to drive now so you can play around with them and let me know if they work.

[2015-07-13 22:16] mariahmaephet commented on #278
@ariel-phet @amanda-phet

like this?

<img width="475" alt="screen shot 2015-07-13 at 4 15 04 pm" src="https://cloud.githubusercontent.com/assets/11527557/8662156/6e13a364-297a-11e5-93b2-7e5b566efbd7.png">

[2015-07-13 22:17] amanda-phet commented on #278
Yes that is perfect. Can you put that icon in a file in google drive?

[2015-07-13 22:19] amanda-phet commented on #210
I will do that and get back to you. Thanks!

[2015-07-13 22:22] mariahmaephet commented on #219
@ariel-phet

Just playing around with merchandise ideas--how do you like these stickers/designs?

<img width="856" alt="screen shot 2015-07-13 at 4 18 07 pm" src="https://cloud.githubusercontent.com/assets/11527557/8662265/44ed3594-297b-11e5-8a1d-33a99ac2deb7.png">
<img width="465" alt="screen shot 2015-07-13 at 4 18 22 pm" src="https://cloud.githubusercontent.com/assets/11527557/8662267/44f63f86-

[2015-07-13 22:28] mariahmaephet commented on #278
@amanda-phet done! (finalbeaker.ai)

[2015-07-13 22:48] amanda-phet commented on #278
Awesome. Kathy just saw it and approves. Closing.

[2015-07-13 22:48] #278 closed

[2015-07-13 23:07] elisemorgan commented on #281
@ariel-phet RC 3 has been retested on all platforms

[2015-07-13 23:15] ariel-phet commented on #281
@elisemorgan - I am a bit confused, when I look at the test matrix, RC3 is not completely filled out.

It looks like the link Martin gave above takes you the test matrix with the RC1 sheet open.

Here is the direct link

https://docs.google.com/spreadsheets/d/13LTW0wpaZcvWRPLFjQCwmkfbpkmFdqAlm65Mg5OpNl4/edit#gid=576424251

Did some entries for RC3 accidentally get put on the RC1 sheet?

[2015-07-13 23:33] elisemorgan commented on #281
@ariel-phet Yes, my apologies that is exactly what happened. I'll update the rc3 sheet

[2015-07-13 23:55] aaronsamuel137 commented on #271
I think this is ready for a little more testing. @ariel-phet, do you think we should code review first or do more testing first? @phet-steele did a bit of testing, so perhaps it would be better to finish the code review before doing a second round.

[2015-07-13 23:57] ariel-phet commented on #271
@aaronsamuel137 your call...if you want to test now, that is fine, just assign to me and I will assign to one of the testers.

[2015-07-14 15:21] ariel-phet commented on #285
@mariahmaephet - please get in touch with @emily-phet and make this a high priority issues (since it has a tight deadline). Thanks!

[2015-07-14 15:31] aaronsamuel137 commented on #271
I'd say go ahead and do some testing. I would recommend a few tests for "chains" simulation to test multiline and html strings, and a few tests in concentration to test a normal sim that draws from different sim repos. Have the tester follow the steps on the first comment above, except for step 2, where they are welcome to use chains and concentration in addition to molecules-and-light.

Testers w

[2015-07-14 17:14] mariahmaephet commented on #285
@emily-phet

Ok, I think I get what you're looking for. Will the graphic only been seen at that size on the homepage, or would you want a larger version as well?

Have there been icons created for the inclusive design features or do we need to come up with those? and you'll probably have to explain that second graphic a little bit more to me.

[2015-07-14 19:33] jonathanolson opened #286 "Full-screen iframe testing"
Please test http://www.colorado.edu/physics/phet/dev/olsonjb/full-screen-iframe/molarity_en-iframe.html and check whether it is not possible to enter full-screen mode (from the PhET Menu) in any supported browser, particularly where it IS possible in the non-iframe version http://www.colorado.edu/physics/phet/dev/olsonjb/full-screen-iframe/molarity_en.html.

[2015-07-14 19:36] ariel-phet commented on #281
Thanks, closing testing task

[2015-07-14 19:36] #281 closed

[2015-07-14 19:38] ariel-phet commented on #271
@bryo5363 - please perform the testing @aaronsamuel137 outlines above. If you have questions, do not hesitate to contact him on skype or such.

[2015-07-14 19:40] ariel-phet commented on #269
@jonathanolson - it seems this testing is generally complete, do you want to move the found issues to appropriate tickets in appropriate repos?

[2015-07-14 19:49] jonathanolson commented on #269
I moved out https://github.com/phetsims/joist/issues/280, the unit-tests on iPad I probably wouldn't create an issue for.

If testing for this is complete, should it be closed?

[2015-07-14 19:54] ariel-phet commented on #286
@elisemorgan @orejolaphet please make this your top testing priority, it should be pretty quick

**Test Matrix**
https://docs.google.com/spreadsheets/d/1Ud6wAjmNnTqD0Hbv30SicWlHtakKZ2oPf_7hSqipPJ8/edit#gid=2

As @jonathanolson notes, please test all browsers, some may not support full screen. If the Iframe full screen does not work, please comment in the test matrix whether the regular non-iframe

[2015-07-14 19:55] ariel-phet commented on #244
Closing for the moment

[2015-07-14 19:55] #244 closed

[2015-07-14 20:35] ariel-phet commented on #269
Sounds good, lets close.

[2015-07-14 20:35] #269 closed

[2015-07-14 21:16] ariel-phet opened #287 "Investigate steps to publishing HTML5 sims on Edmodo"
At ISTE I talked with several people from Edmodo who thought our Apps would be a great addition to their website (which has very high volume use in the education market).

The first step would be to register us as an Edmodo Developer and continue the investigation from there.

https://developers.edmodo.com/

@kathy-phet will need to look at the publisher agreement and see if there are any issues b

[2015-07-14 21:21] ariel-phet commented on #234
This issue seems to be stale now that @samreid  is ramping hours up.

[2015-07-14 21:21] #234 closed

[2015-07-14 21:31] ariel-phet commented on #287
Looks as though we already had an account set up in the past, but there were some technical barriers. A first pass suggests that things might be much easier now (since it seemed the delivery model was an iFrame). I will investigate.

[2015-07-14 22:39] ariel-phet commented on #287
I have emailed the main person with which we had contact in the past. A review of linkedin profiles revealed the other two contacts had moved on. I also tried using the login information for the publisher account we had in the past, but that account appears to have been deactivated/defunkt.

[2015-07-15 14:13] ariel-phet commented on #9
Since this all seems to be working, closing. Will eventually make phettest a linux box.

[2015-07-15 14:13] #9 closed

[2015-07-15 14:14] ariel-phet commented on #213
@mariahmaephet - love all these new poses/outfits! I think Safari PhET girl is one of my favorites

[2015-07-15 14:19] ariel-phet commented on #213
@mariahmaephet  - 2 other interesting variations (if you feel inspired, but not high prioritiy at all)

1 -  a more "ethnically ambiguous" PhET girl...I think color vision has a good example of ethnically ambiguous (slightly darker skin, dark wavy/curly hair)

2. - PhET girl in a really "sporty" wheelchair. Looking like she is racing in it or such

[2015-07-15 15:35] mariahmaephet commented on #213
@ariel-phet Like this kind?

![hannah-cockcroft](https://cloud.githubusercontent.com/assets/11527557/8702226/b94b701e-2ad3-11e5-8295-c2f49a13ec0d.jpg)

And did you want to try PhET girl out as more ambiguous in general or make it like different characters/outfits?

<img width="494" alt="screen shot 2015-07-15 at 9 33 49 am" src="https://cloud.githubusercontent.com/assets/11527557/8702394/c1287d1c-

[2015-07-15 15:50] ariel-phet commented on #213
Just in general for the moment, so we have some thoughts/options.

Good question about Balancing Act, I will ask the original creator of the artwork, might be nice to have consistent artwork. (Similar question for Forces and Motion Basics).

Yes on the Wheel Chair...something like that and with a look of confidence on her face.

[2015-07-15 15:50] #198 closed

[2015-07-15 15:52] ariel-phet opened #288 "Wall and robotic arm "box" improvements for Hooke's Law"
@mariahmaephet - do you have some time to meet up and discuss some artwork for Hooke's Law. I have some ideas for improvements, but I think they will be easiest to iterate over in person.

[2015-07-15 15:53] ariel-phet commented on #288
Are you available Friday afternoon potentially (7/17)?

[2015-07-15 16:17] aaronsamuel137 commented on #271
Also, you'll want to test if your name appears on the translator credits page: http://phet-dev.colorado.edu/en/for-translators/translation-credit

[2015-07-15 17:41] elisemorgan commented on #284
@patricialoeblein Here is the list of the documents I deleted https://docs.google.com/spreadsheets/d/1S9qWDRdaVRW3VqEqiGD82YfF57kIPKiJ6aBrNQczQQE/edit#gid=0 and I believe those are all the non-English junk

[2015-07-15 17:49] emily-phet commented on #285
@mariahmaephet - I think that's the largest the graphics will be shown.

There were some accessibility icons created for PhET awhile back - see Task Issue #176. For the first one, perhaps three of these accessibility icons surrounding a PhET sim, or surrounding an icon of a computer with the PhET logo surrounding it?

For the second, maybe an icon of a computer in the center, with a recognizable l

[2015-07-15 19:27] orejolaphet commented on #245
I reviewed all sims on the spreadsheet for ?stringTest=X and noticed only one issue for energy-skate-park-basics. No major issues arise with very small strings.

[2015-07-15 19:53] orejolaphet commented on #286
@ariel-phet The testing matrix has been completed.

[2015-07-15 22:27] patricialoeblein commented on #284
Thanks Elise,
15 icky activities gone due to your diligence. I will write the authors.

[2015-07-15 22:30] jonathanolson commented on #286
Created https://github.com/phetsims/joist/issues/281, thanks! Closing this issue.

[2015-07-15 22:30] #286 closed

[2015-07-15 22:44] patricialoeblein commented on #284
I have been sending email that look like this
subject "Inappropriate PhET lesson deleted"
Dear  ,
You had uploaded a file containing (reason) perhaps in error to the PhET  teacher resources. The sharing on the PhET site is meant for teachers to get ideas to use PhET simulations. Please feel free to share your ideas for using PhET.
sincerely,

[2015-07-15 22:48] ariel-phet opened #289 "Schrodinger to Win 8, Socrates to Win 7"
@arnabp please reformat Schrodinger and make it a Win 8 testing machine (so most important to have all 3 browsers, java, and flash installed). Good to also have camtasia.

Wipe Socrates and make it Win 7 again. We want to make this computer pretty "lightweight" software wise since it is pretty slow already.

@arouinfar please comment on any other requirements

Also update the asset tracking spread

[2015-07-15 23:25] arouinfar commented on #289
@arnabp, it would be best if Socrates could have the same software as Schrodinger. Namely:

1. Windows 7
2. Microsoft Office
3. Camtasia
4. Java
5. IE, Firefox, Chrome (with up-to-date Flash)

[2015-07-16 03:41] mariahmaephet commented on #288
@ariel-phet I am! Any time should be fine

[2015-07-16 16:44] emily-phet opened #290 "Converting Camrec files to Movie Files - ideally by July 23rd"
Please export the *.camrec recording in the following directories on phetbackup to a more user friendly movie format - e.g., *.mov, and upload to a Google Drive folder and share with me.

2013_07_08_BASE_OL_RIAW_HTML5_G5_F_SL1_Surface_Chrome_NP
2013_07_08_BASE_OL_RIAW_HTML5_G5_F_SL2_Surface_Chrome_NP
2013_07_10_BASE_OL_RIAW_HTML5_G5_M_QC_PC_NP
2013_07_10_BASE_OL_RIAW_HTML5_G7_M_ZC_PC_NP

[2015-07-16 16:46] ariel-phet commented on #290
@orejolaphet can you get this done by the 30th? Especially since you have done this type of task before?

[2015-07-16 17:03] samreid opened #291 "Create a S2015R checklist"
In https://github.com/phetsims/sherpa/issues/37, @ariel-phet suggested creating a S2015R checklist.

@ariel-phet said:

Perhaps lets make a sample list here and then put it in phet-info when ready?

@samreid - thoughts/addition/clarifications to the list below?

- [ ] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues wi

[2015-07-16 17:03] samreid commented on #291
@pixelzoom also suggested the following:

Since the focus of this redeploy is translations, I'd like to see the "translation beta test" item fleshed out a bit more.  Perhaps:

- [ ] stringTest=double
- [ ] stringTest=X
- [ ] stringTest=SomeExtremelyLongStringThatWouldLikelyBreakAnythingThatDoubleDidNotExpose
- [ ] Rosetta test (whatever that is)
- [ ] RTL language test

[2015-07-16 17:04] samreid commented on #291
Assigned to @samreid since @ariel-phet requested feedback for the list.

[2015-07-16 18:15] ariel-phet commented on #245
Excellent @orejolaphet thanks!

[2015-07-16 18:15] #245 closed

[2015-07-16 18:28] orejolaphet commented on #290
@ariel-phet I'll get on this asap

[2015-07-16 19:00] samreid commented on #291
I've made some suggestions during the meeting, but my other thought is to also include our normal QA/deploy checklists, such as https://github.com/phetsims/tasks/blob/master/doc/issue-template-release-candidate-testing.md and some of the lists from https://github.com/phetsims/phet-info/

[2015-07-16 19:12] ariel-phet commented on #291
Probably after first redeployed sim, do beta testing of rosetta deploying to phet-dev. Then after all working allow depolys to figaro.

[2015-07-16 20:55] oliver-phet commented on #289
I wasn't aware we were doing Win 7 on Socrates. Win7 and 8 are very comparable performance wise, and since Socrates has a touchscreen we may want to keep it Win 8 just so that we have a touchscreen computer we can test with.

[2015-07-16 21:18] oliver-phet opened #292 "Add email information to 3rd party google sheet"
@elisemorgan We need to enter some email data from (many) phethelp emails into a google sheet called '3rd party database'. The sheet tracks usages of PhET by various outside parties across the world and is useful to have as a reference for contact information and for reporting usage when applying for grants: https://docs.google.com/spreadsheets/d/1BbzXueD_ioifg1NchqZ2tvArd57t7fsWTXKQXmKJkL0/edit#g

[2015-07-17 04:21] emily-phet commented on #213
Just a thought - if PhET Girl has different colored skin, it might be more appropriate to change her hair and possibly other features correspondingly. I always find it a bit odd to see, for example, paintings of Native American women that look white women with darker skin. Regardless, we'll need to be careful here...not all dark skinned women have curly hair, etc.
I wonder if there might be someon

[2015-07-17 05:40] ariel-phet commented on #289
@oliver-phet good point...I think @arouinfar thought win7 might be faster. Maybe just try upgrading (is it Win8 right now? Maybe put it to Win 8.1?)

Additionally, is just not a very good machine, and sometimes has issues that are very specific to that machine, so it does not make a great test platform. Seems like we should look into a decent Win 8 touchscreen testing computer (that will eventuall

[2015-07-17 07:26] arouinfar commented on #289
Thanks for your input, @oliver-phet. It doesn't seem like Socrates' hardware can handle Windows 8 very well, and it is very sluggish. For example, PowerPoint would have a very noticeable lag when trying to switch between slides and Energy Forms & Changes ran at a snail's pace. I second @ariel-phet's comment that it does not make for a good testing platform. I don't particularly care what OS Socrat

[2015-07-17 18:09] ycarpenterphet commented on #289
I think the slowness is a new issue. I've used Socrates for ppt presentations in the past, as well as to run both HTML and Java sims without noticeable issue, with it running Win8.

Sure, the machine has had some weird issues of its own, and is not the best testing device for touch long-term, since it often has issues that are unique to that device (and don't generalize to other Win8 platforms).

[2015-07-17 18:18] arouinfar commented on #289
I agree with @ycarpenterphet. I have used Socrates before (we took it to NSTA this year) and I remember it being a little slow, but not terrible. However, when using it this week to give a presentation and demo a few Java sims it was <i>extremely</i> slugglish, despite having all other applications closed.

It sounds like the consensus is to try wiping Socrates and clean installing Win8 or Win8.1

[2015-07-17 18:28] oliver-phet commented on #289
Yep, that's what we are doing.

[2015-07-17 19:51] mariahmaephet opened #293 "PhET girl for donations splash dialogue"
@amanda-phet met with @ariel-phet and he told me about this website issue that I'll work on--2 versions of PhET girl and banners for her to hold

https://github.com/phetsims/website/issues/251

[2015-07-17 19:54] mariahmaephet commented on #285
@emily-phet I'll get to this tonight!

[2015-07-17 21:09] arnabp commented on #289
I've clean installed both computers to Windows 8.1, installed all listed software, updated the asset spreadsheet accordingly, and moved both to F1011.

[2015-07-17 21:12] ariel-phet commented on #289
You rock @arnabp! Closing issue.

[2015-07-17 21:12] #289 closed

[2015-07-17 22:41] ariel-phet opened #294 "Update PhET logo on FB page to registered trademark"
@arouinfar can you update our FB page to use our trademark logo?

[2015-07-17 23:17] arouinfar commented on #294
Done! I've also added a registered version of the square black logo to Drive.  While I'm at it, do you think it'd be okay to delete some of our older profile pictures? There are 10 or so iterations on the black logo in our profile pictures album. From a branding perspective, I think it's best to delete those earlier versions.

[2015-07-18 00:04] mariahmaephet commented on #285
@emily-phet are these on the right track?

<img width="862" alt="screen shot 2015-07-17 at 5 59 27 pm" src="https://cloud.githubusercontent.com/assets/11527557/8759289/3249cd36-2cae-11e5-8f7a-560009b72fca.png">
<img width="649" alt="screen shot 2015-07-17 at 6 03 38 pm" src="https://cloud.githubusercontent.com/assets/11527557/8759290/324e45dc-2cae-11e5-8c92-fc1593dfb67f.png">

[2015-07-18 03:47] emily-phet commented on #285
@mariahmaephet - I like the computer icon a lot. How about something more like this for the first graphic abstract:
![slide1](https://cloud.githubusercontent.com/assets/5109055/8760195/23f87372-2ccc-11e5-9c6b-6d81b8a204f1.png)

One issue I see is that the icons all looks so different, they don't necessarily look related. What about putting them inside colorful circles like the icons from the PhET

[2015-07-20 15:07] ariel-phet commented on #294
@arouinfar - yes good idea, best to just have the current correct picture

[2015-07-20 15:18] ariel-phet commented on #294
I also updated our twitter and github accounts with the registered trademark logo.

[2015-07-20 15:20] ariel-phet commented on #291
- [ ] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues with a milestone.
- [ ] Look over @pixelzoom's revamped code review checklist
- [ ] Review and update licensing info (source code and images/audio)
- [ ] stringTest=SomeExtremelyLongStringThatWouldLikelyBreakAnythingThatDoubleDidNotExpose
- [ ] Rosetta test (Openin

[2015-07-20 15:28] ariel-phet commented on #291
Moved to https://github.com/phetsims/tasks/blob/master/doc/S2015R_checklist.md

Closing

[2015-07-20 15:28] #291 closed

[2015-07-20 17:03] mariahmaephet commented on #285
@emily-phet is this what you were thinking?

<img width="427" alt="screen shot 2015-07-20 at 10 54 43 am" src="https://cloud.githubusercontent.com/assets/11527557/8781819/a6191af6-2ece-11e5-96ff-698cbbf7126f.png">
<img width="862" alt="screen shot 2015-07-20 at 11 00 52 am" src="https://cloud.githubusercontent.com/assets/11527557/8781849/dd8b775e-2ece-11e5-9619-a15e1e6f194b.png">

[2015-07-20 17:12] arouinfar commented on #294
Done! Closing.

[2015-07-20 17:12] #294 closed

[2015-07-20 17:35] amanda-phet commented on #213
Thanks for chiming in @emily-phet . This was also making me think that rather than change the skin and hair of the current PhET girl, perhaps we should make a PhET boy instead? It might feel less contrived that way.

[2015-07-20 17:44] ariel-phet commented on #213
@amanda-phet and @emily-phet - I also asked @mariahmaephet to try making a PhET girl that was just a separate character (not necessarily just trying to change hair/skin tone).

[2015-07-20 19:07] jonathanolson opened #295 "RC testing for Molecule Shapes 1.1.0-rc.1"
**File to test**
http://www.colorado.edu/physics/phet/dev/html/molecule-shapes/1.1.0-rc.1/molecule-shapes_en.html

**Testing Matrix**
https://docs.google.com/spreadsheets/d/1wfA1SVvOKK-d26ozNNeGDuuq5OtUpInGcEkfK_Eqvgg/edit#gid=1633239973

[2015-07-20 19:47] ariel-phet commented on #295
@elisemorgan @orejolaphet @bryo5363 @arnabp

Please read the following carefully:
1. This sim should be your top testing priority
2. This sim is the first of our "summer redeploy" of sims. *LOTS* has changed under the hood for our sims, so the first couple of these redeploy sims are going to need to be tested thoroughly.
3. For instance, we need to check that iframe, download, and fullscreen (on s

[2015-07-20 19:53] ariel-phet commented on #295
**Developer**
- [ ] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues with a milestone.
- [ ] Look over @pixelzoom's revamped code review checklist, decide if code review should be redone
- [ ] Review and update licensing info (source code and images/audio)
- [ ] Address RC issues and publish

**QA**
- [ ] stringTest=So

[2015-07-20 22:01] ariel-phet commented on #287
I now have a new contact at Edmodo, and I got our developer account reactivated. I have a skype call on 7/21/2015 to find out what is new and will begin investigating what is necessary for uploading our sims!

[2015-07-21 05:17] emily-phet commented on #285
@mariahmaephet - Beautiful!

I love the colored circles - it really softens up the logos.

For Graphic Abstract #1 (with the phet sim logo in the center) - can you make the scale of each of the colored circles a little more even. The keyboard one looks a bit larger than the others, and it looks like you might have added some more padding around the translation ("earth") one to make it more even wi

[2015-07-21 15:26] ariel-phet commented on #274
Seems I was assigned still assigned to this issue, reassigning to @samreid since he is doing all the current work.

[2015-07-21 16:12] mariahmaephet commented on #285
@emily-phet

<img width="859" alt="screen shot 2015-07-21 at 10 10 56 am" src="https://cloud.githubusercontent.com/assets/11527557/8805894/fdb6603a-2f90-11e5-86a2-430bdfa6880b.png">
<img width="863" alt="screen shot 2015-07-21 at 10 12 03 am" src="https://cloud.githubusercontent.com/assets/11527557/8805895/fdc708cc-2f90-11e5-9a84-fcfcfc2c2414.png">

[2015-07-21 17:59] ariel-phet commented on #287
Edmodo connect flow
Items into spotlight marketplace
App store (more comprehensive app experience)
Spotlight (more granular level, can give metadata)
spotlight.edmodo.com (in publisher account)
edmodo share button? on sim pages?

Account profile picture
Picking good metags

Might do some spotlight promotional

publish "publisher community"

[2015-07-21 18:46] mariahmaephet commented on #293
@ariel-phet @amanda-phet   Eh?

<img width="413" alt="screen shot 2015-07-21 at 12 42 36 pm" src="https://cloud.githubusercontent.com/assets/11527557/8809508/52cdcbca-2fa6-11e5-802a-0bda5c0ba3a7.png">

[2015-07-21 19:18] mariahmaephet commented on #213
@amanda-phet @ariel-phet @emily-phet PhET girl has a whole gang now

I thought the boy on the bottom left could be good option for an 'ethnically ambiguous' PhET boy

<img width="985" alt="screen shot 2015-07-21 at 1 13 46 pm" src="https://cloud.githubusercontent.com/assets/11527557/8810169/5e85e3e0-2faa-11e5-9188-84277e8f91cb.png">

[2015-07-21 19:30] emily-phet commented on #213
I like ariel as phet boy. Now we need an Emmy PhET dog. :)

[2015-07-21 22:18] samreid commented on #274
I added checks to the image, audio and mipmap plugins, and found issues for:

balancing-act (needs license.txt filled in) https://github.com/phetsims/balancing-act/issues/53
build-a-molecule (needs license.txt filled in) https://github.com/phetsims/build-a-molecule/issues/75
gravity-and-orbits (needs attribution in the HTML) https://github.com/phetsims/gravity-and-orbits/issues/149
john-travoltage

[2015-07-22 03:28] emily-phet commented on #285
@mariahmaephet - the top one is perfect!
For the lower one (with three circles) can you try more of an interconnected triangular shape, with the "law" and the "accessibility" icons being lower.

[2015-07-22 06:06] ariel-phet commented on #290
@orejolaphet - where is this task at?

[2015-07-22 06:06] ariel-phet commented on #287
Started putting some sims up, can be seen at https://spotlight.edmodo.com/profile/phet-interactive-simulations,7330154/

Closing

[2015-07-22 06:06] #287 closed

[2015-07-22 14:54] samreid commented on #274
With my comments in https://github.com/phetsims/tasks/issues/274#issuecomment-123496206 and my new annotations of what has been completed vs moved to other tasks in https://github.com/phetsims/tasks/issues/274#issuecomment-112129344 this issue is ready to be closed.

[2015-07-22 14:54] #274 closed

[2015-07-22 16:55] ariel-phet commented on #293
Great for the HTML5 one...can you also do the lab coat one?

[2015-07-22 16:56] ariel-phet commented on #293
Thoughts @amanda-phet ?

[2015-07-22 17:05] amanda-phet commented on #293
I like the superhero idea for the HTML5 prompt a lot.

Let's do a lab coat version for the other prompt (airplane on shirt, not HTML5 shield).

[2015-07-22 17:10] orejolaphet commented on #290
@ariel-phet I have been working out of the office the past few days, will be coming in today to convert the 4 videos.

[2015-07-22 19:33] arouinfar opened #296 "Write tweets to be shared from HTML5 sim pages"
In line with our updated social media strategy, we'd like to create more descriptive tweets for the Share on Twitter buttons on our HTML5 sim pages.  These tweets should include:
- [ ] Appropriate hashtags (e.g. #PhETsims)
- [x] Official screenshot of the sim
- [ ] Descriptive text that doesn't just copy what's in the \<title> tags
- [x] Shortened link to the sim page, if necessary

Self-assigning

[2015-07-22 20:21] arouinfar commented on #213
@mariahmaephet these are all super awesome! Great work!!

[2015-07-22 21:05] arouinfar opened #297 "New Twitter header photo"
We'd like to create a new header photo for our Twitter account that incorporates sim screenshots and PhET Girl.

@ariel-phet will set up a time with @mariahmaephet to discuss the details.

[2015-07-23 02:29] mariahmaephet commented on #293
@ariel-phet @amanda-phet same pose different outfit?
<img width="507" alt="screen shot 2015-07-22 at 8 28 11 pm" src="https://cloud.githubusercontent.com/assets/11527557/8841860/4b6985e4-30b0-11e5-94be-fedfc3da9576.png">

[2015-07-23 16:42] amanda-phet commented on #293
Looks great Mariah. Would you mind putting this in Drive? @aaronsamuel137 is working on it today and tomorrow. Thank you!

[2015-07-23 17:13] orejolaphet commented on #290
@emily-phet I have converted the four video files to .mp4 format, and I have uploaded the files to the google drive folder https://drive.google.com/drive/folders/0B1dDzrtWHaLbfjloNS1EOWRKSTlaYUJGYkJaRmtZMTQ3OUV4VDFXZG9pZXFGTjBvTEE4alk

[2015-07-23 17:13] #290 closed

[2015-07-23 19:42] mariahmaephet commented on #285
@emily-phet

<img width="862" alt="screen shot 2015-07-23 at 1 40 02 pm" src="https://cloud.githubusercontent.com/assets/11527557/8860371/9fac33d2-3140-11e5-9dce-8c0480dbd199.png">
<img width="863" alt="screen shot 2015-07-23 at 1 41 43 pm" src="https://cloud.githubusercontent.com/assets/11527557/8860372/a0169196-3140-11e5-80b2-f83902aa10e7.png">

[2015-07-23 19:48] samreid opened #298 "Review the HTML header"
@kathy-phet wanted to review the HTML header text.  Just creating an issue here as a reminder.  I'll also paste the text from a recent build of hookes-law in case it is helpful:

[code]

[2015-07-24 03:44] emily-phet commented on #285
@mariahmaephet - I think I like the upper one best, with more distance between the circles. Can you make a version that removes the outer circle (the thin line) for each of the three circles (just for this one image).

[2015-07-24 03:55] emily-phet opened #299 "Updated Poster: Mid-day July 29th Deadline"
I need a 4 foot high x 3 foot wide version of the ACS poster (from Issue #173). I'll need to update the text a bit, but the overall design should be fine. Also, it would be ideal if it had less bright colors, and the first screen of Forces & Motion: Basics in the center.

I'll need to have it done and printed by 4pm on Wednesday. Is this possible @mariahmaephet?

[2015-07-24 04:30] ariel-phet commented on #266
looks like this is a duplicate issue of #299 closing

[2015-07-24 04:32] ariel-phet commented on #293
@mariahmaephet - once you have put this artwork in drive, please assign the issue to @amanda-phet

@amanda-phet we probably want to have @aaronsamuel137 upload the .ai file to github and then we can close this issue

[2015-07-24 04:34] ariel-phet commented on #297
@mariahmaephet - let me know a time next week that might work (perhaps a Wednesday meeting). Although this is not yet a high priority, it would be good to toss around some ideas. I think you are going to be able to do something really fun with it!

[2015-07-24 04:37] emily-phet commented on #266
@ariel-phet - unfortunately, this is not a duplicate. These posters never got made. Not sure what happened. Turns out I didn't need to submit them with the manuscripts (unlike its sister CHI conference) but if accepted I will need to have these completed.

[2015-07-24 15:19] mariahmaephet commented on #285
@emily-phet
<img width="859" alt="screen shot 2015-07-24 at 9 19 19 am" src="https://cloud.githubusercontent.com/assets/11527557/8877861/1b5762a0-31e5-11e5-9e11-22207be40dbb.png">

[2015-07-24 15:26] mariahmaephet commented on #299
@emily-phet sure! Did you want the colors to be totally different colors or literally just dulled down versions of what they currently are?
<img width="372" alt="screen shot 2015-07-24 at 9 25 53 am" src="https://cloud.githubusercontent.com/assets/11527557/8878027/03c4a746-31e6-11e5-848c-14661771dce9.png">

[2015-07-24 15:29] mariahmaephet commented on #266
@emily-phet let me know

[2015-07-24 15:31] mariahmaephet commented on #297
@ariel-phet sounds fun! Wednesday would be good

[2015-07-24 15:32] mariahmaephet commented on #213
@amanda-phet Are you available next week to go over the poses for the levels? I think I'll be meeting with Ariel on Wednesday but I could come in Monday as well.