[2015-07-24 15:36] emily-phet commented on #299
@mariahmaephet - the left side coloring looks fine to me.
I was thinking of the poster you made before this one, the very large poster for the ACS conference in March. That poster had the description of inclusive design features, in color blocks around the central one. Do you have that one?

[2015-07-24 16:02] amanda-phet commented on #293
There is a slight issue. I am trying to use live paint to get the lab coat to be white (since the image will be exported with a transparent background). The right side of the coat doesn't work for me and I'm not too familiar with live paint groups. Can you look at the _edited file in drive and help me with this?

[2015-07-24 16:25] ariel-phet commented on #297
Ok, lets plan Wednesday at 1 pm @ Amanda's office

[2015-07-24 17:35] mariahmaephet commented on #299
@emily-phet This guy? and you'd just want it changed to 4x3 with some edits?

<img width="719" alt="screen shot 2015-07-24 at 11 34 10 am" src="https://cloud.githubusercontent.com/assets/11527557/8880727/048b625c-31f8-11e5-98ad-f826182c7597.png">

[2015-07-24 19:51] emily-phet commented on #299
@mariahmaephet - yes, do you think it can just be scaled down to the new dimensions, or should some redesign/reformatting happen. I can't remember what size it was originally (maybe it was used for the same size before...).

[2015-07-27 16:12] bryo5363 commented on #271
@aaronsamuel137 I am currently trying to get access to the translations page but according to the website I am not a trusted translator

[2015-07-27 16:41] ariel-phet commented on #271
@bryo5363 I believe you can update your profile and mark yourself as a trusted translator (since you are part of the PhET team). Let me know if that does not work.

[2015-07-27 16:56] ariel-phet commented on #295
@bryo5363 which Win 8 laptop are you using for testing? I think we want to generally retire "Socrates" from testing and use Schrodinger for Win 8 testing - Socrates has some quirks and sometimes has issues that are only seen on that computer.

[2015-07-27 16:58] bryo5363 commented on #295
I am using Socrates; everything was running a tad bit slow but this might
be an IE 11 Windows 8 specific bug. Do we have any other Windows 8 devices?
On Jul 27, 2015 10:56 AM, "Ariel Paul" <notifications@github.com> wrote:

[2015-07-27 17:07] ariel-phet commented on #295
@bryo5363 yes...there is a computer called Schrodinger (it is my old PhET laptop). It is a big dark grey metallic Dell laptop. Please try the testing with that. It should be in the testing room, but if not I think @oliver-phet can help you track it down.

[2015-07-27 17:09] ariel-phet commented on #235
This issue is now in the hands of @jonathanolson and being handle in the yotta repo

[2015-07-27 17:09] #235 closed

[2015-07-27 17:12] ariel-phet commented on #218
@zepumph - there are couple last things that it would be great for you to do before you head out for the summer.

1. Can we have the PhET logo on this banner be a link back to the PhET website?
2. Can we give the banner a more permanent home? Perhaps we need a github repo like phet-cafepress (or maybe put the banner somewhere in the website repo?)

It would be great if these two changes could be d

[2015-07-27 17:13] bryo5363 commented on #295
Issue is still present on Schrodinger
On Jul 27, 2015 11:07 AM, "Ariel Paul" <notifications@github.com> wrote:

[2015-07-27 18:12] bryo5363 commented on #295
@ariel-phet I believe testing is complete

[2015-07-27 18:14] bryo5363 commented on #271
@ariel-phet I can no longer log in to the page. There is a 503 error

[2015-07-27 18:28] ariel-phet commented on #271
@bryo5363 - looks like phet-dev is temporarily down, I will get one of the web developers to take a look. Try back in an hour or two, should be working again soon I imagine.

[2015-07-27 18:36] ariel-phet opened #300 "Dev test Trig Lab 1.0.0-dev.14"
@bryo5363 @orejolaphet @elisemorgan please Dev test Trig lab

As usual create issues in the Trig Lab repo and assign to @dubson

**Platforms**
- [x] Windows + Chrome
- [x] Mac + Safari
- [x] iPad2 iOS8

**Testing Link**
http://www.colorado.edu/physics/phet/dev/html/trig-lab/1.0.0-dev.14/

[2015-07-27 19:18] arouinfar opened #301 "Install Microsoft Office on Curie & Jordan"
Last week I gave a remote workshop, and was broadcasting my slideshow via screen sharing. I wanted to use a second device so I could have access to my speaker notes while presenting, but discovered we do not have Microsoft Office installed on any of the Macs. I was able to use Office 365 to open the powerpoint, but it was a less than ideal environment.

@amanda-phet and I often use one of the MacB

[2015-07-27 19:28] amanda-phet commented on #210
I'll close this since these are all finished and were emailed to Ashraf.

[2015-07-27 19:28] #210 closed

[2015-07-27 20:05] arnabp commented on #301
Curie and Jordan both now have updated versions of Office '11 and the asset inventory doc has been updated accordingly.

[2015-07-27 20:05] #301 closed

[2015-07-27 20:15] zepumph commented on #218
@ariel-phet Do you only want the logo to link, or the whole banner. Also here is the link to the image: https://cloud.githubusercontent.com/assets/8651105/7442365/efb48632-f0cb-11e4-8b8c-cd62dbb28a41.jpg,
 before I move it somewhere more permanent, do you want @amanda-phet to make the middle writing a bit prettier like we had talked about before? Or any other work, It probably wouldn't be too hard

[2015-07-27 20:32] schasteen opened #302 "Create a test of the "Balloons" primer"
This is a task for Arnab to try a draft version of the Balloons and Static electricity primer.

We'd like you to try making a walkthrough of the Balloons and Static Electricity simulation.  This is just to try out the process of someone using another person's script, so do as well as you can, but the goal is not to end up with a website-ready primer at the end of this test.  Let me know if you hav

[2015-07-27 21:00] ariel-phet commented on #271
@bryo5363 - looks like phet-dev is up and working for me again.

[2015-07-27 21:16] zepumph commented on #218
I just added the link to the whole banner, see what you think.

[2015-07-27 21:39] ariel-phet commented on #218
@zepumph - I think it would be better to just link the logo (but the whole banner is a decent stopgap).

Let me talk with @amanda-phet

[2015-07-27 22:04] zepumph commented on #218
As discussed over skype, the new banner will consist of the 'on cafe press' wording on black as the header background, and then the new svg trademarked logo will be put on top of that, as a link to the website. All resources here will be put into a new repo: phetsims/phet-cafepress.

[2015-07-27 22:44] emily-phet commented on #299
@mariahmaephet - just wanted to give you a heads up, I'm working on the text for the poster now. I'll send it along to you in an hour or so. Can you let me know when you'll be able to send me an updated draft?

[2015-07-28 00:24] emily-phet commented on #299
@mariahmaephet - I just emailed you the poster text. Let me know if you have any questions!

[2015-07-28 00:26] emily-phet commented on #299
@mariahmaephet - just a thought - you could add a PhET character to the top border if you wanted. No pressure, not sure how long what I've already sent you will take.

[2015-07-28 15:07] mariahmaephet commented on #299
@emily-phet Cool! I'll get working on that shortly and let you know. It probably wouldn't be much extra effort to add PhET girl in it somewhere.

[2015-07-28 15:32] ariel-phet commented on #218
@zepumph - where you able to get the PhET logo up...I see the black banner but not the log working yet?

[2015-07-28 15:54] zepumph commented on #218
Yeah I'm working on it currently, the banner works great! I'm having some trouble with the svg logo, but I'll figure it out.

[2015-07-28 16:03] amanda-phet opened #303 "Put a copy of the HTML5 sim screenshots in google drive folder"
We have a google drive folder with the newest official screenshots for all java and flash sims. Since some team members are actively using this folder, we thought it would be a good idea to have the HTML5 sim screenshots included as well.

Can you download the official screenshots for all HTML5 sims from Github and put them in the PhET Sim Screenshots folder?

Assigning to @arnabp since @oliver-ph

[2015-07-28 17:35] zepumph commented on #218
@ariel-phet you can take a look at it now, we ended up hosting the images from the website directly, rather than github, so the images in phet-cafepress aren't necessarily tied to cafe press at all. Any changes to those images will need to be re copied into /data/web/htdocs/phet/files/cafepress-assets on figaro, just so you know.

[2015-07-28 18:17] mariahmaephet commented on #299
@emily-phet How does this look?

<img width="864" alt="screen shot 2015-07-28 at 12 16 41 pm" src="https://cloud.githubusercontent.com/assets/11527557/8939599/8b9b464a-3522-11e5-863e-3b91a478ffb2.png">

[2015-07-28 21:25] arnabp commented on #303
To clarify, the pictures in the folder now are screenshots of Java and Flash sims, and I just need to add all the HTML5 ones, correct?

[2015-07-28 21:27] amanda-phet commented on #303
Yes that is correct. The HTML5 ones can all be found in their Github repositories.

[2015-07-29 01:45] emily-phet commented on #299
@mariahmaephet - this looks wonderful!

Some small tweaks:
- Can the white border of the center circle be narrowed a bit (or the font size increased for the text inside it - it seems a bit think for the text)
- Can you layer the sim screen in the center under the outer white border. I'm imagining this will look ok but if it looks weird to you then forget it.
- Can PhET girl be holding a white sign

[2015-07-29 15:06] emily-phet commented on #299
@mariahmaephet - I received the pdf file, but found two small issues (sent to you by email). If you can't get to this by about 10:30am today, I'll send it on to Oliver to be printed as is, but it would be great if you could tweak these last things before then.

[2015-07-29 17:04] elisemorgan commented on #292
@oliver-phet I'm almost done with this but the last few organizations submitted the info through the PhET Licensing Use form. I've looked through the phethelp drive but can't seem to locate the responses to this form. Can you point me in the right direction?

[2015-07-29 17:45] mariahmaephet commented on #288
@ariel-phet How does this look?

<img width="940" alt="screen shot 2015-07-29 at 11 42 57 am" src="https://cloud.githubusercontent.com/assets/11527557/8965168/ffe20858-35e6-11e5-9fed-1b22b586f161.png">

[2015-07-29 18:07] bryo5363 commented on #271
@ariel-phet @aaronsamuel137 I am still not able to translate the page because I am not a trusted translator. I am not able to find where to verify myself as a trusted translator

[2015-07-29 18:20] ariel-phet commented on #271
Hey @bryo5363 - ah it appears you are not set up as a PhET team member! I will email you my login credentials

[2015-07-29 18:22] ariel-phet commented on #271
@bryo5363 also email @aaronsamuel137 the email address you use for the site and he will set you up as a PhET team member for the future.

[2015-07-29 18:24] ariel-phet commented on #288
Better...can I see it in the context of the entire sim @mariahmaephet?

[2015-07-29 18:42] zepumph commented on #218
@ariel-phet I think I fixed everything you asked for, including the nested sidebar. The main problem with the site is that a lot of the javascript is slow, because it is run everything a new page is loaded, but because we don't have access to backend, I'm not sure how we would fix this.

[2015-07-29 18:45] amanda-phet commented on #218
I think it looks really good. There's still some oddness when rolling over some items, but I don't personally think it's a big deal.

[2015-07-29 18:56] oliver-phet commented on #292
@elisemorgan Don't worry about the contacts that submitted via the google form (since they submitted via form an email record doesn't exist). As long as the other emails tagged with the "3rd+Party+GoogleDoc" label have been added to the google sheet, we are good to go.

[2015-07-29 19:21] elisemorgan commented on #292
Great, this task has been completed.

[2015-07-29 19:21] #292 closed

[2015-07-29 19:46] ariel-phet commented on #218
@zepumph - thanks for all your help on this! Now just up to me to finish getting the merch up!

[2015-07-29 19:46] #218 closed

[2015-07-29 21:02] mariahmaephet commented on #288
@ariel-phet
<img width="718" alt="screen shot 2015-07-29 at 3 02 03 pm" src="https://cloud.githubusercontent.com/assets/11527557/8969782/d14293fc-3602-11e5-9d2e-8bb3dc3b6259.png">

[2015-07-30 17:53] elisemorgan commented on #300
@ariel-phet I've tested all the platforms and haven't seen any new issues. I believe dev testing is complete

[2015-07-30 19:55] arnabp commented on #303
Okay, all screenshots have been added to the folder on Google Drive.

[2015-07-30 20:40] ariel-phet commented on #300
Excellent, thanks @elisemorgan!

[2015-07-30 20:40] #300 closed

[2015-07-31 15:52] amanda-phet commented on #303
Fantastic. Thank you @arnabp !

[2015-07-31 15:52] #303 closed

[2015-07-31 19:33] arnabp commented on #302
https://drive.google.com/file/d/0BxerAx_XXHB2ajRkUDRSSzZuRjA/view?usp=sharing

Here is a link to the primer. I edited the script to clean up a few language and grammar issues, but otherwise the content should be all the same. Let me know if there's anything I should change.

[2015-07-31 20:52] ariel-phet commented on #297
Sims screenshots to use:
Color Vision, Forces and Motion: Basics, pH Scale:Basics, Area Builder, Energy Skate Park

[2015-07-31 20:54] ariel-phet commented on #297
To get screenshots go to sim repository, then to assets, click on screenshot, click "raw", can save screenshot

[2015-08-02 04:22] ariel-phet commented on #219
Breaking bad shirt is up on cafepress, closing

[2015-08-02 04:22] #219 closed

[2015-08-02 04:23] ariel-phet commented on #299
Since the deadline has passed, and I assume poster printed, I am closing

[2015-08-02 04:23] #299 closed

[2015-08-02 04:26] ariel-phet opened #304 "PhET Sticker Design"
@mariahmaephet I moved this to a new issue since the other one was specifically for the "Breaking Bad" T-shirt

When possible can you send me a 2000x2000 pixel png of this design with the proper transparency?

<img width="449" alt="44f2fca4-297b-11e5-80b9-a4d322894751" src="https://cloud.githubusercontent.com/assets/4051174/9024725/5e073392-389c-11e5-9261-5a69f04258be.png">

[2015-08-02 04:27] ariel-phet commented on #304
And maybe shrink the PhET logo a little so that the "Interactive Simulations" tagline is not so tight to the airplane edges

[2015-08-03 18:58] pixelzoom commented on #256
@samreid Has been doing a lot of work related to this issue.  So assigning to him to determine what (if anything) in this issue is not covered by some other open/closed issue.

[2015-08-03 21:02] amanda-phet commented on #304
I'd also like to point out the PhET visual identity here: https://docs.google.com/document/d/1WnthgL675uxozx29siRB30zDRWZOgRFxqKC-mW0_q1c/edit?usp=sharing. Please be sure to use the correct PhET yellow!

[2015-08-03 21:20] arouinfar commented on #288
I like the updated look of the box that the arm disappears into. Thanks, @mariahmaephet! I think we should go ahead and use this version, and it looks like something that @pixelzoom can implement in code. Should we go ahead and move forward with this implementation, @ariel-phet?

[2015-08-03 21:40] amanda-phet opened #305 "phettest "refresh all" button not working"
The "refresh all sims" button does not seem to be working right now. In the meantime, we can pull all using git bash on the hp in Ariel's office, but I wanted to notify people that the button on phettest is not working at the moment.

[2015-08-03 21:59] pixelzoom commented on #288
Closing. This work will be completed in phetsims/hookes-law#17.

[2015-08-03 21:59] #288 closed

[2015-08-03 23:29] aaronsamuel137 commented on #271
I've made you a phet team member @bryo5363.

@ariel-phet, anyone who is a team member can easily go into the admin section and add people as team members, so if I am out of town again this doesn't need to be a blocking issue. Just go to the admin section under users, and enter their email "edit another user's profile". There will be a box at the bottom to make people phet team members.

[2015-08-04 14:17] ariel-phet commented on #295
@bryo5363 @elisemorgan please see if testing Win 8 using the following link resolves https://github.com/phetsims/molecule-shapes/issues/132

http://www.colorado.edu/physics/phet/dev/olsonjb/molecule-shapes-three-r71.html

Also assigning https://github.com/phetsims/molecule-shapes/issues/132

[2015-08-04 17:59] ariel-phet commented on #295
@elisemorgan @bryo5363 - looks like @jonathanolson resolved the above issu

[2015-08-05 05:20] samreid commented on #256
I'm aggregating comments from above that are not addressed elsewhere:

We decided to make this public.

We decided against this.

We added some functions in there for dynamically generating the links.

It seems like brand is a good place to encapsulate this.

see https://github.com/phetbrand/brand/issues/2 and https://github.com/phetbrand/brand/issues/3

I think that's everything.  Closing.

[2015-08-05 05:20] #256 closed

[2015-08-05 17:45] ariel-phet commented on #284
Looks like this issue can be closed.

[2015-08-05 17:45] #284 closed

[2015-08-05 19:49] schasteen commented on #302
Arnab,
We think your test primer is great!  How long did this take you, and how many "takes" did you do?
I'd like to chat when you are back about a few changes we'd like to have you do, and re-record.  Please contact me to set up a time.   Copying @amanda-phet
Stephanie

[2015-08-05 20:13] ariel-phet opened #306 "test issue for Amy H and Dave U"
Here is fun little test issue

- [x] assign to @daveunderwood

[2015-08-05 20:14] amyh-phet commented on #306
here you go

[2015-08-05 20:16] daveunderwood commented on #306
Thanks @amyh-phet

[2015-08-05 20:16] #306 closed

[2015-08-06 16:19] jonathanolson commented on #305
Should be fixed, let me know if there are any additional problems.

[2015-08-06 19:49] pixelzoom opened #307 "review our use of visibility annotations"
Visibility annotations are @public @protected @private.

We've been marking stuff as @private, and assuming everything not marked is public.

Should we perhaps be making stuff as @public or @protected, and assuming everything not marked is private?  This would be a safer approach, and would make it easier to search for the public API.

[2015-08-06 20:12] amanda-phet commented on #305
I clicked it this morning and never saw the "status" image stop spinning, so I'm not sure how to tell if the button works or not.

[2015-08-06 20:20] jonathanolson commented on #305
I'll check in person soon, reopening.

[2015-08-06 20:42] jonathanolson commented on #305
Looks like the console program (where it was running) had been closed. I restarted it, and it seems to be working fine now. Definitely let me know if we run into any other issues.

If that happens again, I can figure out a way to get it to always run in the background.

[2015-08-06 20:42] #305 closed

[2015-08-07 16:57] ariel-phet commented on #268
@mariahmaephet - can you paste that "PhET io" rough draft you had in this issue?

[2015-08-07 16:58] ariel-phet commented on #158
@daveunderwood - above you can see a rough draft that one of our students started in the past for a bookmark. No need to use any of the above, but you can see someone else's take on it.

[2015-08-07 16:59] ariel-phet commented on #293
@amanda-phet since this "ask" is functional on the website, can this issue be closed? Or is there anything left to do?

[2015-08-07 17:01] amanda-phet commented on #293
Yes we can close it! Thanks.

[2015-08-07 17:01] #293 closed

[2015-08-07 17:17] mariahmaephet commented on #304
@ariel-phet I'll have those in my drive shortly

@amanda-phet I made one with the yellow and one with the green. In the file you gave me with all the logos the logo with the black background is actually that green... that's probably why I did that. So it is one of your colors, just not the one you use on the website. So whatever you like best!

<img width="657" alt="screen shot 2015-08-07 at 11 13

[2015-08-07 17:22] mariahmaephet commented on #268
@ariel-phet I think the second one is what you had drawn for me? The others are just ideas if you wanted to play around with it more. I'll fix the O for the final drafts

<img width="622" alt="screen shot 2015-08-07 at 11 20 15 am" src="https://cloud.githubusercontent.com/assets/11527557/9141488/5da3c68c-3cf6-11e5-8490-1f1a10c700cb.png">
<img width="631" alt="screen shot 2015-08-07 at 11 20 21 am"

[2015-08-07 17:23] amanda-phet commented on #304
@mariahmaephet you're correct- the logo on black did originally use a "greener" yellow, but we have since changed it to use the same warmer yellow everywhere. The document has the hex/rgb values of the yellow.

I like the second one :)

[2015-08-07 17:25] ariel-phet commented on #304
@mariahmaephet agreed...second one. However, maybe it is just my eye, but it looks like the line of "interactive simulations" is not quite parallel to the line of the airplane edge. Can you check that?

[2015-08-07 17:28] ariel-phet commented on #268
@mariahmaephet - I am actually going assign this to @daveunderwood so those drafts are good enough for discussions. Thanks! Some cool ideas there.

[2015-08-07 17:31] mariahmaephet commented on #304
@ariel-phet good catch!

<img width="499" alt="screen shot 2015-08-07 at 11 30 38 am" src="https://cloud.githubusercontent.com/assets/11527557/9141687/c73d3bb8-3cf7-11e5-9654-d23d7a928a56.png">

[2015-08-07 17:32] ariel-phet opened #308 ""PhET io" Logo"
@daveunderwood we will discuss more in person, but we want to come up with a "PhET io" logo (standing for PhET interoperable sims). Below are some **very** rough sketches of ideas as a jumping off point. We will likely want to demphasize "PhET" in this logo (possibly make it all one color or such) and emphasize the IO portion.

<img width="622" alt="screen shot 2015-08-07 at 11 20 15 am" src="http

[2015-08-07 17:33] ariel-phet commented on #268
moved discussion to #308  now that we have decided on "PhET io" closing

[2015-08-07 17:33] #268 closed

[2015-08-07 21:40] ariel-phet opened #309 "Redraw "John Travoltage""
@mariahmaephet in the sim [**John Travoltage**](http://phet.colorado.edu/sims/html/john-travoltage/latest/john-travoltage_en.html) John's face and hand are from a picture to which we do not own the rights.

It would be good to redraw his face and hand - it can be _very_ close to the original, but it would be good for it to be our own.

You can find a .png here https://github.com/phetsims/john-trav

[2015-08-08 03:08] samreid opened #310 "Make sure every active-runnable can build and run"
Many of our active-runnables either have a build issue or fail during launch.  Someone should run a full report and fix all of the issues.  Some (but not all) of these issues will be addressed during summer 2015 redeploys.  Having these issues makes testing systemic changes difficult.

I'll mark this for an upcoming developer meeting to see if other agree we should spend time on this, and so we ca

[2015-08-08 20:33] samreid opened #311 "Test Bending Light Performance on iPad2 for a few scenarios"
Please test the performance for Bending Light in the scenarios given in: https://github.com/phetsims/bending-light/issues/153

There is a link there for testing and full details in the issue.  Please report your results in https://github.com/phetsims/bending-light/issues/153

@ariel-phet please delegate.

[2015-08-10 18:56] phet-steele commented on #276
Been resolved for awhile, according to @jbphet.

[2015-08-10 18:56] #276 closed

[2015-08-10 21:45] oliver-phet opened #312 "Cafepress list"
To buy:
* Stainless Steel Travel Mug
* Kids T-shirt (Medium)

[2015-08-10 22:07] amanda-phet opened #313 "PhET girl artwork for Trig Tour"
I need an image of PhET girl who looks like she just fell because she has been spinning around too much and is dizzy. Here is a rough idea:
![screen shot 2015-08-10 at 4 05 59 pm](https://cloud.githubusercontent.com/assets/7852916/9185513/bbc5bc22-3f79-11e5-9e4b-9577a55bc846.png)

I noticed in a lot of images that there is an "orbit" of stars around their head. Since this will appear after making

[2015-08-10 23:06] #312 closed

[2015-08-11 04:22] ariel-phet commented on #298
@samreid please put this on this week's status meeting agenda so we can get it looked at and closed.

[2015-08-11 04:23] ariel-phet commented on #298
@samreid - disregard, I will request it for status meeting.

[2015-08-11 04:31] ariel-phet commented on #313
Hey @mariahmaephet, for some more context, here is a working version of the sim:

http://www.colorado.edu/physics/phet/dev/html/trig-lab/1.0.0-dev.16/trig-lab_en.html

You will notice that as you spin the red dot along the circle a spiral gets drawn that goes further and further out...we plan to have it stop when the spiral gets a bit bigger than the main circle (that is when this image will appea

[2015-08-11 16:07] kathy-phet commented on #298
Looks good to me. Thanks!

[2015-08-11 16:07] #298 closed

[2015-08-11 16:22] pixelzoom commented on #307
Another option would be to tag everything with an annotation.

[2015-08-11 16:32] samreid commented on #307
We have been talking about adding annotations for each declaration.  We should discuss exactly how this should look. One way to do this:
[code]

[2015-08-11 16:33] pixelzoom commented on #307
this.width = 30; // @public
this.model = options.model; // @private the model associated with this UI component

// @public
this.x = x;
this.y = y;
this.width = width;
this.height = height;

[2015-08-11 16:39] pixelzoom commented on #307
PropertySet.call( {
 x: x,
 y: y,
 width: width,
 height: height,
 foo: options.foo // @private
} );

[2015-08-11 16:41] samreid commented on #307
Here's a PropertySet subclass I saw in bending light:

[code]

[2015-08-11 16:41] pixelzoom commented on #307
Consensus: Let's try annotating all definitions. Revisit common code as we have time.

[2015-08-11 16:56] samreid commented on #310
The things a sim should be able to do:
1. lint
2. build
3. launch
4. pass fuzz test

[2015-08-11 16:59] samreid commented on #310
@pixelzoom recommends a continuous integration server sort of thing, that runs once a week.

[2015-08-11 17:00] samreid commented on #310
If we archive the results of this, it would make it easy to compare "what was broken before" to "what is broken now".

[2015-08-11 17:02] samreid commented on #310
@samreid will generate a full report and note it here for discussion at an upcoming developer meeting.

[2015-08-11 17:52] pixelzoom commented on #307
To test drive this, I added annotations to all existing code in hookes-law.  It took me 9 minutes to annotate  5724 lines of code in 63 file.  That doesn't feel like much of a burden for the benefit.

[2015-08-11 17:55] pixelzoom commented on #307
Should we update the section on coding guidelines in the PhET Development Overview? (http://bit.ly/phet-development-overview).  It currently says:

[code]

[2015-08-11 17:57] pixelzoom commented on #307
Looks like the guidelines currently match what we've decided to do. But perhaps we should emphasize that we want definitions (instance fields and prototype functions) annotated.

[2015-08-11 18:17] pixelzoom commented on #307
As an additional test drive, I added annotations to acid-base-solutions - code I'm familiar with but did not write.  3798 lines of code in 46 files took me 12 minutes.

[2015-08-11 18:19] pixelzoom commented on #307
Should the code-review checklist be amended?

[2015-08-11 18:20] pixelzoom commented on #307
Ah... The code-review checklist doesn't need to be amended because it refers to the PhET Development Overview for issues related to code style.

[2015-08-11 18:30] amanda-phet commented on #213
@mariahmaephet have you had a chance to make any of the level selection icons yet? If you have just one that would be great to look at as an update. Thanks!

[2015-08-11 18:33] samreid commented on #307
@pixelzoom can you describe your strategy for annotating these?  Are you doing string searches to see if things are public or private?  Are you running code for any tests? Etc. etc.

[2015-08-11 18:59] pixelzoom commented on #307
My strategy was visual inspection of the source code.

[2015-08-11 19:31] jessegreenberg opened #314 "RC Testing for Molecules and Light"
Molecules and Light 1.1.0-rc.1 is ready or release candidate testing.

**Link to the file:**  http://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.1.0-rc.1/molecules-and-light_en.html

**Link to test matrix:** https://docs.google.com/spreadsheets/d/1SIuHF5V4TPR-H2FHugvL52cB6MvQ60gYgg-W-88A6mg/edit#gid=384018845

[2015-08-11 20:14] ariel-phet commented on #314
@phet-steele @bryo5363 @orejolaphet @elisemorgan please make this sim your top testing priority.

Please note, some changes have been made "under the hood" to the navbar, so pay particular attention as to how the navbar layout looks (especially when doing string tests)

**Developer**
- [x] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). The

[2015-08-11 21:08] samreid commented on #310
I tried running this and got the following results:

![image](https://cloud.githubusercontent.com/assets/679486/9210628/9d45a796-403a-11e5-9adc-bed408594f8a.png)

![image](https://cloud.githubusercontent.com/assets/679486/9210634/a7eb9eee-403a-11e5-9794-d9c3838b028c.png)

![image](https://cloud.githubusercontent.com/assets/679486/9210640/aeab1b38-403a-11e5-82da-52a8d771be1b.png)

Sim errors (dev):

[2015-08-11 21:08] samreid commented on #310
Also the build server failed with this tail:

[code]

[2015-08-12 16:31] ariel-phet commented on #308
Of the above very **rough** ideas @kathy-phet liked the second one best but with an arrow going "into" the "i"

<img width="631" alt="phet-io rough" src="https://cloud.githubusercontent.com/assets/4051174/9230022/484fe230-40dd-11e5-98f3-8acd4c33379d.png">

[2015-08-13 01:15] samreid commented on #309
Please assign https://github.com/phetsims/john-travoltage/issues/83 to @samreid once the artwork is complete.  Please see this explanation https://github.com/phetsims/john-travoltage/issues/83#issuecomment-130497287 for why I've unassigned it for now.

[2015-08-13 01:52] samreid commented on #310
My working copy changes for energy-skate-park-basics give:
![image](https://cloud.githubusercontent.com/assets/679486/9241078/af4c3d96-412b-11e5-8e8d-515e83c14030.png)

I also tested manually and no issues noted.

I'll commit shortly.

[2015-08-13 02:35] samreid commented on #310
Fixed images in FPAF and now it's all green:

![image](https://cloud.githubusercontent.com/assets/679486/9241502/a81d59c8-4131-11e5-9eb2-10e1678510af.png)

[2015-08-13 02:39] samreid commented on #310
scenery-phet fixed above:

![image](https://cloud.githubusercontent.com/assets/679486/9241538/2de1008c-4132-11e5-93b9-521d9e1edd17.png)

[2015-08-13 03:10] samreid commented on #310
sugar-and-salt-solutions got a band-aid in https://github.com/phetsims/sugar-and-salt-solutions/issues/18

![image](https://cloud.githubusercontent.com/assets/679486/9241873/877a1698-4136-11e5-9bb8-802ee8148a2e.png)

[2015-08-13 07:23] arnabp commented on #302
I'll be back on Monday and will be available 1-4 PM every day that week. I can discuss everything then!

[2015-08-13 14:23] samreid commented on #310
Well, I fixed 4 of the 19 issues. I'll assign this for discussion at the next `developer-meeting`

[2015-08-13 15:47] schasteen commented on #302
Let's set up a meeting time when you're back.  Available times:

Thursday the 20th, 1 or 2
Friday the 21st, 2 or 3

Stephanie

I'll be back on Monday and will be available 1-4 PM every day that week. I can discuss everything then!

—
Reply to this email directly or view it on GitHub<https://github.com/phetsims/tasks/issues/302#issuecomment-130563733>.

[2015-08-13 17:20] veillette opened #315 "Testing for Charges and fields dev version 13."
Please check the performance of the electric field grid on chrome, firefox, ie and ipad.
Pay attention to any pixellation effects ( which will be present but we want to minimize it in as much as possible)

- [x] Chrome
- [x] Firefox
- [x] IE
- [x] iPad2

Here is the link
http://www.colorado.edu/physics/phet/dev/html/charges-and-fields/1.0.0-dev.13/

[2015-08-13 17:43] pixelzoom commented on #307
8/13/15 dev meeting:
We're going to go with this. I will clarify the relevant code style paragraph in the PhET Development Overview.

[2015-08-13 18:04] samreid commented on #310
mikes-playground will be deleted

[2015-08-13 18:04] pixelzoom commented on #310
graphing-quadratics is fixed.

[2015-08-13 21:19] jonathanolson opened #316 "RC testing for Molecule Shapes 1.1.0-rc.2"
**File to test**
http://www.colorado.edu/physics/phet/dev/html/molecule-shapes/1.1.0-rc.2/molecule-shapes_en.html

**Testing Matrix**
https://docs.google.com/spreadsheets/d/1wfA1SVvOKK-d26ozNNeGDuuq5OtUpInGcEkfK_Eqvgg/edit#gid=2024261228

[2015-08-13 21:31] ariel-phet opened #317 "Adjusting PhET Team page headshots"
@amanda-phet please describe to @mariahmaephet what you want done with the headshots. Assigning to you for the moment.

[2015-08-13 21:34] oliver-phet opened #318 "Look into Adobe DPI scaling on Windows computers"
@arnabp When you have time can you look into solving the unreadable fonts in Illustrator CS6. Ariel and Amy Hanson both have Dell XPS machines with high res displays that are experiencing the problem. I found this fix but haven't been able to get it to work with some quick testing: http://www.danantonielli.com/adobe-app-scaling-on-high-dpi-displays-fix/

[2015-08-14 14:16] ariel-phet commented on #311
Looks like @bryo5363 reported these results. Closing

[2015-08-14 14:16] #311 closed

[2015-08-14 14:19] ariel-phet commented on #316
**Developer**
- [x] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues with a milestone.
- [ ] Look over @pixelzoom's revamped code review checklist, decide if code review should be redone
- [ ] Review and update licensing info (source code and images/audio)
 - [ ] Double check relevant entries in https://github.com/phet

[2015-08-14 14:20] ariel-phet commented on #295
New RC. Closing

[2015-08-14 14:20] #295 closed

[2015-08-14 14:22] ariel-phet commented on #316
@bryo5363 @orejolaphet @elisemorgan @phet-steele please make this a high testing priority. Can be done in parallel with Molecules and light testing.

[2015-08-14 14:27] ariel-phet commented on #315
@phet-steele - this should be a fairly quick test (perhaps report frame rates when dragging a charge around)

@arouinfar - might be nice to do some testing while feeling under the weather

[2015-08-14 18:14] arouinfar commented on #315
@ariel-phet @phet-steele I can test on Mac OSX 10.10.4 and 10.9.5 since I have access to those platforms at home.

[2015-08-14 18:47] ariel-phet commented on #315
@arouinfar since dev testing, try 10.10.4 on FF and Chrome

[2015-08-14 19:01] phet-steele commented on #315
Well first of all, the "Direction Only" box is broken and doesn't do anything (which I think is okay in this case since I believe performance is worse with it off).

These three browsers were performed on Windows 8.1 64-bit while moving around one charge:
Firefox 40.0: went up to 40 charges --> 60fps (with the occasional 61fps!)
Chrome 44.0.2403.155 m: went up to 40 charges --> 60fps (also saw som

[2015-08-14 19:17] ariel-phet commented on #308
Latest version (not finalized), just latest direction

@kathy-phet very much likes the "dotted" "i" - feels it adds a friendliness and make the "i" clearly an "i"

![phet-io](https://cloud.githubusercontent.com/assets/4051174/9282044/d2b58af6-4286-11e5-95f6-4453ee888773.png)

[2015-08-15 03:50] ariel-phet opened #319 "A fun PhET-girl 404 error page image"
@mariahmaephet - for when you are feeling inspired sometime...

@amanda-phet thought this might be another nice opportunity to connect with our users.

First, watch this 4 minutes video for some ideas:
http://www.ted.com/talks/renny_gleeson_404_the_story_of_a_page_not_found

I was thinking maybe have safari PhET girl looking at a map scratching her head like she is lost. Or maybe make it look like

[2015-08-15 03:51] ariel-phet commented on #319
And just as a note "wishlist" means lower priority than when time allows. Again, just when you feel inspired.

[2015-08-17 05:51] ariel-phet commented on #315
@veillette see above for results of dev testing

[2015-08-17 18:14] arouinfar commented on #315
Testing on Mac OSX 10.10.4 with latest Chrome and Firefox yielded similar results to the Windows testing reported by @phet-steele. The pixellation is noticeable compared to previous versions, but not severe (FF is a little worse than Chrome). I agree that it will probably go unnoticed by most.

[2015-08-17 20:29] jbphet opened #320 "test auto-built installers that were created over the weekend"
In an attempt to track down an issue with the auto-build of the downloadable installers, the auto-build was scheduled to run on Sat Aug 15 2015.  From the logs, it appears that this build fully succeeded.  The resulting installers should be tested to make sure that they contain the sims, blogs, newsletters, and so forth.  For the activities-included version, the presence of several activities shou

[2015-08-18 19:14] oliver-phet opened #321 "Create CLASS survey using Google Forms"
Hey @arnabp Can you recreate the following surveys in a google form (using either phethelp or phetstorage):
CHEM
http://www.colorado.edu/sei/surveys/Fall15/CLASSfa15-chem-1113-pre.html
http://www.colorado.edu/sei/surveys/Fall15/CLASSfa15-chem-1113-post.html
PHYS
http://www.colorado.edu/sei/surveys/Fall15/CLASSsp15-phys-1120-pre.html
http://www.colorado.edu/sei/surveys/Fall15/CLASSsp15-phys-1120-po

[2015-08-18 20:15] mariahmaephet commented on #313
@amanda-phet @ariel-phet like this?

<img width="698" alt="screen shot 2015-08-18 at 2 14 19 pm" src="https://cloud.githubusercontent.com/assets/11527557/9341495/8b560a02-45b3-11e5-8279-5aeabeb7c247.png">
<img width="615" alt="screen shot 2015-08-18 at 2 15 00 pm" src="https://cloud.githubusercontent.com/assets/11527557/9341496/8b575f92-45b3-11e5-80cf-5f8a319b868e.png">

[2015-08-18 20:47] amanda-phet commented on #313
They look great to me! Mike prefers the second one, but I think I like the first. It would be great to hear from @ariel-phet and @kathy-phet as well.

@mariahmaephet can you go ahead and share the .ai file with me? We will be exporting this on a transparent background as well, if that affects any adjustments you want to make before sharing it.

[2015-08-18 21:42] pixelzoom opened #322 "RC test: pH Scale 1.2.0-rc.1"
Per @ariel-phet, I need to publish this and create the test matrix.

[2015-08-18 21:45] pixelzoom opened #323 "RC test: pH Scale: Basics 1.2.0-rc.1 (aborted)"
Related to #322...

Per @ariel-phet, I need to publish this and create the test matrix. Since it's a subset of 'pH Scale', we'll be doing spot testing, and publishing 'pH Scale' and 'pH Scale: Basics' concurrently.

[2015-08-18 21:59] arnabp commented on #320
I tested both versions and everything looks great! Non activity wouldn't load activities while offline and redirected to sign in page when online as expected. Activities would download the files without a hitch. The only noticeable issue was the flash on edge problem which I'll post on unfuddle tomorrow.

[2015-08-18 22:30] ariel-phet commented on #313
@amanda-phet the first one...she looks dizzy but happy in that one. In the second she looks upset.

[2015-08-19 17:08] amanda-phet commented on #317
As discussed with @mariahmaephet today, 8/19, she will make the pictures black & white and also brighten the faces of folks who had their picture taken on a sunny day.

Another request, after playing around with some of the pictures myself... some "black and white" filters makes the picture look really gray and with not much contrast. (It could also be the colors in the original picture.) So, it w

[2015-08-19 17:09] amanda-phet commented on #317
Also, Aaron is starting to work on the page and it needs to be live by the end of August. So, our timeline is pretty tight.

[2015-08-19 21:09] ariel-phet commented on #308
Latest iteration. Some adjustment to the "h", alignment and spacing

![phet-io](https://cloud.githubusercontent.com/assets/4051174/9369081/4171b57c-4684-11e5-89eb-56aa781eb910.png)

[2015-08-19 22:22] oliver-phet opened #324 "Add all troubleshooting and FAQ questions to google spreadsheets"
@phet-steele Can you copy paste (or re-type if you have to) all of the questions at the following URLS to the google spreadsheet below? Try to put them in the proper category (columns A-G), but use 'Not Sure' if there isn't a category that fits.

https://phet.colorado.edu/en/troubleshooting
https://phet.colorado.edu/en/troubleshooting/mac
https://phet.colorado.edu/en/troubleshooting/windows
https:

[2015-08-19 22:42] veillette commented on #315
I corrected the 'Direction Only" problem I introduced in this new dev version. It seems that we have solve the slowness problem https://github.com/phetsims/charges-and-fields/issues/59
and it doesn't seem to affect ipad2 performance too much (if at all).

Closing

[2015-08-19 22:42] #315 closed

[2015-08-19 23:41] pixelzoom opened #325 "regenerate all README files"
When `babel` was introduced as a new dependency for all sims, the README.md files (for published and unpublished sims) were not regenerated. So the "Quick Start" instructions with commands to clone the needed repos are wrong.

Assigning to @jonathanolson since he added the new dependency.

[2015-08-20 02:57] dubson commented on #313
I much prefer the second one.  In the first one, her smile makes it look like she's high. People don't smile when they're dizzy, except when they are high.  In the second one, the look is bemused, not upset.

[2015-08-20 02:58] dubson commented on #313
When convenient, please give me png version so I can place in sim.

[2015-08-20 18:01] phet-steele commented on #324
Done, @oliver-phet . The questions in the "Getting Started" and "Running Sims - General" categories were ambiguous to me as to where they should go, so change those around if my judgement calls weren't the best.

[2015-08-20 18:56] phet-steele opened #326 "Summer Teachers' Metadata Project"
At @patricialoeblein request:

Complete the summer teachers' projects of keyword/category metadata and course/standards alignment docs. The keywords and categories need to be sorted, reviewed, and added to the website. The standards need to also be sorted and added, as well as made into docs to be uploaded to the website.

[2015-08-20 20:12] phet-steele commented on #314
Matrix complete.

[2015-08-20 23:19] mariahmaephet commented on #317
@amanda-phet Did you want color and b&w edits, or just b&w?

[2015-08-20 23:35] pixelzoom commented on #322
RC version:
http://www.colorado.edu/physics/phet/dev/html/ph-scale/1.2.0-rc.1/ph-scale_en.html

Text matrix:
https://docs.google.com/spreadsheets/d/1_GwEET-3UrACqvNyzWT-q8ANvvQGTFRVHYoXswjNDqs/edit#gid=1331742457

[2015-08-20 23:36] amanda-phet commented on #317
Hm, if it's not too much trouble, the color edit could be nice so folks have a color version of their picture for other uses. The most critical piece is brightening the faces (however you do that) so if that's difficult to do while keeping the color looking good, then you can make a judgement call.

[2015-08-20 23:37] amanda-phet commented on #317
Oops I meant to add a request above:

Can you also crop them with a different aspect ratio? Kathy has requested that they be more like 8x10, and a little more zoomed in on the faces.

[2015-08-20 23:38] pixelzoom commented on #323
RC version:
http://www.colorado.edu/physics/phet/dev/html/ph-scale-basics/1.2.0-rc.1/ph-scale-basics_en.html

Test matrix:
https://docs.google.com/spreadsheets/d/1F0JBJ2MyPkKk4LmFSs224OpPKUNR8lQpUPOeOw56uqk/edit#gid=1465534985

*This sim only needs to be spot tested.*  This sim is the "Macro" screen from ph-scale, and ph-scale is being RC tested in #323. The only behavior that's different is that

[2015-08-21 00:17] pixelzoom commented on #322
Please halt RC testing. This is serious: https://github.com/phetsims/scenery/issues/455#issuecomment-133221684

[2015-08-21 00:17] pixelzoom commented on #323
Please halt RC testing. This is serious: https://github.com/phetsims/scenery/issues/455#issuecomment-133221684

[2015-08-21 04:26] samreid commented on #310
@pixelzoom mentioned he was having trouble running these tests, so I ran them on my platform:

![image](https://cloud.githubusercontent.com/assets/679486/9401268/012ad096-478a-11e5-9f2f-73d712007419.png)
![image](https://cloud.githubusercontent.com/assets/679486/9401272/0d680fea-478a-11e5-9535-4755b513d2fa.png)

[code]

[2015-08-21 04:30] samreid commented on #310
Pardon me, I was in a branch for beers-law-lab.  Will re-run it shortly.

[2015-08-21 04:35] samreid commented on #310
BLL master is clean:
![image](https://cloud.githubusercontent.com/assets/679486/9401389/c6f82688-478b-11e5-91ba-0c7a50d2d1c0.png)

[2015-08-21 04:44] samreid commented on #310
Balloons is fixed:
![image](https://cloud.githubusercontent.com/assets/679486/9401442/d17d3282-478c-11e5-850e-89b6422f9598.png)

[2015-08-21 04:44] samreid commented on #310
9 sims to go, we are making good progress.

[2015-08-21 17:06] veillette opened #327 "Test release candidate 4 for charges and fields"
A new release candidate was published here: http://www.colorado.edu/physics/phet/dev/html/charges-and-fields/1.0.0-rc.4/

And the test matrix is here: https://docs.google.com/spreadsheets/d/13LTW0wpaZcvWRPLFjQCwmkfbpkmFdqAlm65Mg5OpNl4/edit#gid=320070127

I have used some new SHAS for this release candidate.  As far as the QA team is concerned, this means that one should **NOT** assume that if some

[2015-08-21 22:32] arnabp commented on #321
CHEM
http://goo.gl/forms/wszXyBHAZv
http://goo.gl/forms/nzGZEAqIQr
PHYS
http://goo.gl/forms/SLxrx6LhCM
http://goo.gl/forms/I9ldPeoD7p
BIO
http://goo.gl/forms/vwbvuBg2H7

[2015-08-23 23:07] mariahmaephet commented on #313
@amanda-phet @ariel-phet @dubson Is this a better in-between? (the .ai file 'dizzyphetgirl' is in my drive )

<img width="614" alt="screen shot 2015-08-23 at 5 05 59 pm" src="https://cloud.githubusercontent.com/assets/11527557/9430600/6e4595c2-49b9-11e5-927e-f2c9cb4ae111.png">

[2015-08-24 16:19] elisemorgan commented on #316
@ariel-phet Testing matrix is complete. iPad 2 w/ iOS 7 is missing because Lave was updated to iOS 8.4. Are we done testing with iOS 7 or is there another device I can use?

[2015-08-24 16:35] ariel-phet commented on #316
@elisemorgan please talk to @oliver-phet - Lave should not have been updated and it must have been done by mistake. We need to revert it...

[2015-08-24 16:35] samreid commented on #325
Possibly related to https://github.com/phetsims/chipper/issues/311

Sims can be launched in requirejs nonbuilt mode without babel, but cannot be built without babel (even if just building the english version).  So this is a high priority issue to resolve.

[2015-08-24 16:35] samreid commented on #325
The failure when building the english version is:
Fatal error: ERROR on git SHA attempt: code: 128, signal: null with stderr:
fatal: Not a git repository: '../babel/.git'

[2015-08-24 16:38] oliver-phet commented on #316
I don't know anything about Lave being updated. @arnabp can you look into reverting it to iOS 7.1?

[2015-08-24 16:41] jonathanolson commented on #316
@ariel-phet, should https://github.com/phetsims/scenery/issues/455 be something to add in for another quick test, or to not be worried about? It requires "stringTest=double" to cause a failure, as some punctuation (in this case the colons) need to be inserted for the glitches on IE to occur.

[2015-08-24 16:45] samreid opened #328 "Naming for Util"
We have a few different conventions for our Util classes.

Util.js found in dot, mobius, scenery, optics-lab, trig-tour
Utils.js found in shred, build-an-atom
Sim-specific util files as noted below, such as ChipperStringUtils.js
![image](https://cloud.githubusercontent.com/assets/679486/9446076/d98b7714-4a4c-11e5-9d5f-9b3a50816d55.png)

It would be nice to standardize on a naming for our utility f

[2015-08-24 16:47] ariel-phet commented on #316
@jonathanolson - wouldn't that require you to publish another version?

[2015-08-24 16:51] jonathanolson commented on #316
Yes, but it looks safe to just bump up the Scenery code to the fix, so that no other common code changes are applied. I'd just recommend brief testing on all browsers with "stringTest=double" to see if text looks acceptable.

[2015-08-24 16:53] ariel-phet commented on #316
@jonathanolson please do that and explain the test that should be done to @elisemorgan

[2015-08-24 17:01] elisemorgan commented on #316
@jonathanolson I can do that this afternoon if a new RC is published, I'll be on the look out for it

[2015-08-24 17:04] ariel-phet commented on #327
Hey @phet-steele - please chip away at this testing in between our summer redeploy testing.

[2015-08-24 17:05] jonathanolson commented on #316
@ariel-phet, I'm also checking with other developers to see if there were any other issues that came up since I created 1.1.0-rc.2 before putting up 1.1.0-rc.3.

[2015-08-24 17:35] jonathanolson opened #329 "RC testing for Molecule Shapes 1.1.0-rc.3"
**File to test**
http://www.colorado.edu/physics/phet/dev/html/molecule-shapes/1.1.0-rc.3/molecule-shapes_en.html

**Testing Matrix**
https://docs.google.com/spreadsheets/d/1wfA1SVvOKK-d26ozNNeGDuuq5OtUpInGcEkfK_Eqvgg/edit#gid=2024261228

**NOTE:**
This is not meant to be a full RC test, but is just checking all platforms with http://www.colorado.edu/physics/phet/dev/html/molecule-shapes/1.1.0-rc.

[2015-08-24 17:36] jonathanolson commented on #329
@ariel-phet, is there anything else that should be mentioned here?

[2015-08-24 17:37] jonathanolson commented on #316
Created https://github.com/phetsims/tasks/issues/329 to handle testing for this issue (and any others), closing.

[2015-08-24 17:37] #316 closed

[2015-08-24 17:40] ariel-phet commented on #329
Nope, I think that looks good. I think @elisemorgan can take it from there!

[2015-08-24 17:56] pixelzoom commented on #325
Not related to phetsims/chipper#311.  Non-English html files don't build because babel is a required repo. In afterRequirejsBuild.js:

`88 basePath = repository.path + '/../babel/' + repository.name + '/';

[2015-08-24 18:13] jonathanolson commented on #325
Failures:
[code]

[2015-08-24 18:14] jonathanolson commented on #325
Presumably beaker/blast/etc. shouldn't have this done?

[2015-08-24 18:28] pixelzoom commented on #325
Not sure why balloons-and-static-electricity is failing for this, I'll investigate.  I works fine for a half dozen other sims that I tried, e.g.:

[code]

[2015-08-24 18:29] pixelzoom commented on #325
* `grunt published-README` for sims that have been published to the PhET website.
* `grunt unpublished-README` for sims that are in pre-1.0 development.
* No grunt task for common-code repos, they have their own specific README.md files.

[2015-08-24 18:32] pixelzoom commented on #325
generateREADME.js is probably failing at line 25:

[code]

[2015-08-24 18:34] pixelzoom commented on #325
Bug introduced in https://github.com/phetsims/balloons-and-static-electricity/commit/ea7b00aaf1d6a7dc980052ec9c77ff899a494ef9. simTitleStringKey was changed in the strings file, but not in package.json.

[2015-08-24 18:37] pixelzoom commented on #325
@samreid Presumably you change balloons-and-static-electricity in reaction to https://github.com/phetsims/chipper/issues/302. Did you change simTitleStringKey for any other sims?

[2015-08-24 18:41] pixelzoom commented on #325
@jonathanolson Elaborating on https://github.com/phetsims/tasks/issues/325#issuecomment-134329117... README.md files need to be generated for published sims only. They are the only README.md files that expose the dependencies, via clone commands listed in the "Quick Start" section. Easiest way to do this is probably to edit your working copy of active-runnables so that it includes only published s

[2015-08-24 18:52] samreid commented on #325
Sorry, I don't recall.  Is there an easy way to check what other sims suffer from this kind of problem?

[2015-08-24 18:59] pixelzoom commented on #325
`grunt-all.sh published-README` (but don't commit, because https://github.com/phetsims/tasks/issues/325#issuecomment-134333658).

[2015-08-24 19:29] jonathanolson commented on #325
No, seems like I need to handle unpublished sims too. Had to go through by hand.

[2015-08-24 19:30] jonathanolson commented on #325
Description of issue was "all" READMEs, not just published ones.

[2015-08-24 19:36] pixelzoom commented on #325
You asked: https://github.com/phetsims/tasks/issues/325#issuecomment-134323166.
I replied: https://github.com/phetsims/tasks/issues/325#issuecomment-134333658

[2015-08-24 19:43] jonathanolson commented on #325
The issue description states:

I had taken care of manually going through the sims before you replied with https://github.com/phetsims/tasks/issues/325#issuecomment-134333658, which might have saved some time.

Let me know if there are any issues however, since many unpublished sims show changes (states-of-matter-basics, function-builder, rutherford-scattering, protein synthesis, etc.). I can reve

[2015-08-24 19:51] pixelzoom commented on #325
You're obviously put out with having to deal with this. Sorry you feel that way.

[2015-08-24 19:54] jonathanolson commented on #325
Not particularly, I just don't want to have committed things incorrectly that shouldn't have been done (does regenerating unpublished READMEs cause issues?) since what was in the issue description was different than what was desired.

[2015-08-24 19:54] samreid commented on #325
I looked to see what change occurred in protein-synthesis, it was just changing the phrase:

to

So this seems good.  Anything else to do here?

[2015-08-24 19:59] #325 closed

[2015-08-24 22:05] mariahmaephet commented on #317
@ariel-phet @amanda-phet I'm uploading all of the edits now--they seem to already be 8x10? Would you still like them cropped in more?

[2015-08-24 22:08] amanda-phet commented on #317
They are currently 2x3, so I'm not sure what you're seeing. Go ahead and upload the edits- I can always quickly crop them if they are not what Kathy wants!

[2015-08-24 22:16] mariahmaephet commented on #317
@amanda-phet Ohhh you're right--one of my presets was labelled incorrectly. They should be done uploading in a few minutes

[2015-08-24 22:18] amanda-phet commented on #317
They look SO good! I'm glad we went with b&w.

[2015-08-24 22:21] amanda-phet commented on #317
There were some new ones taken in the last week, as well as 2 more coming on Wednesday. Do you want to wait until Wednesday to edit the final 6?

[2015-08-24 22:31] mariahmaephet commented on #317
@amanda-phet I guess I might as well for them all at once on Wednesday

[2015-08-25 06:41] elisemorgan commented on #329
@jonathanolson Matrix is complete

[2015-08-25 14:39] ariel-phet commented on #308
We all seem pretty happy with this logo. @daveunderwood tried playing around with some other ideas and decided he liked the above version the best.

Current .ai assets on github are clean and correct. Closing

[2015-08-25 14:39] #308 closed

[2015-08-25 14:53] ariel-phet commented on #313
@mariahmaephet - yes, I think that is a nice compromise, without the concerned eyebrows!

@dubson - does this look good to you?

[2015-08-25 14:53] jonathanolson commented on #329
@ariel-phet, ready for production deployment of Molecule Shapes?

[2015-08-25 14:57] ariel-phet commented on #329
Not quite... Since this would be our first production S2015R we should carefully go through the checklist we created.

**Developer**
- [x] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues with a milestone.
- [ ] Look over @pixelzoom's revamped code review checklist, decide if code review should be redone
- [ ] Review a

[2015-08-25 14:59] ariel-phet commented on #329
@jonathanolson please look over the list above. Could you also perform an RTL test?

[2015-08-25 15:00] ariel-phet opened #330 "Update Lave information"
Hey @elisemorgan, can you get some clear labels on Lave that say to leave it on iOS 7?

[2015-08-25 15:18] jonathanolson commented on #329
Sure, will do.

[2015-08-25 15:41] jbphet opened #331 "test Rosetta using a sim that draws most strings from other repos"
Atomic Interactions should serve as a good test case for this, since it draws all but one of its strings (the title) from the states-of-matter repository as well as possibly some common code repos.  @aaronsamuel137 has set Rosetta up such that it should be able to translate this sim, let's test and see how it does.

[2015-08-25 15:46] jonathanolson commented on #329
RTL test seems fine (_fa):
![screen shot 2015-08-25 at 9 43 15 am](https://cloud.githubusercontent.com/assets/480878/9471535/15e443e6-4b0e-11e5-9165-fc9324593260.png)
![screen shot 2015-08-25 at 9 43 53 am](https://cloud.githubusercontent.com/assets/480878/9471543/1ac609b2-4b0e-11e5-9977-ac7ec07710c6.png)

[2015-08-25 16:05] jonathanolson commented on #329
It seems like this should be done BEFORE release candidates are put out.

[2015-08-25 16:10] ariel-phet commented on #329
@jonathanolson - agreed (I assumed it had already been done in this case since Molecule Shapes was recently published). And I know this sim had a code review before publishing, so I thought it would be a formality to check this one off...but yes, especially for older sims that will be key.

[2015-08-25 16:36] jbphet commented on #328
Discussed at 8/25/2015 meeting and the consensus was that this doesn't bother us too much but if someone wants to make them consistent, it would make life slightly easier.  Either Util or Utils is fine.

[2015-08-25 16:36] pixelzoom commented on #328
It would make life slightly easier if we picked either 'Utils' or 'Util' and used it consistently.  I don't feel a need to expand to "Utilities", since it's such a common abbreviation.

[2015-08-25 17:11] jessegreenberg opened #332 "RC testing for Molecules and Light 1.1.0-rc.2"
Molecules and Light version 1.1.0-rc.2 is ready for release candidate testing.

**File:** http://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.1.0-rc.2/molecules-and-light_en.html

**iFrame:** http://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.1.0-rc.2/molecules-and-light_en-iframe.html

**Test Matrix:** https://docs.google.com/spreadsheets/d/1SIuHF5V4TPR-H2FHugvL52

[2015-08-25 17:56] jessegreenberg commented on #314
Thank you @phet-steele.  New task here: https://github.com/phetsims/tasks/issues/332.  Closing.

[2015-08-25 17:56] #314 closed

[2015-08-25 18:49] jessegreenberg commented on #310
Capacitor Lab: Basics is fixed:
![cap](https://cloud.githubusercontent.com/assets/6396244/9476047/c2387338-4b27-11e5-8019-361ba8a83bca.PNG)

[2015-08-25 19:08] pixelzoom commented on #322
phetsims/scenery#455 was fixed and 1.2.0-rc.1 has been republished. Please resume testing.

[2015-08-25 19:11] pixelzoom commented on #323
phetsims/scenery#455 was fixed and 1.2.0-rc.1 has been republished. Please resume testing.

[2015-08-25 19:19] samreid commented on #328
What about renaming DOT/Util to DOT/DotUtil so that you can use it together with other Utils?

[2015-08-25 19:22] pixelzoom commented on #328
See https://github.com/phetsims/dot/issues/4

[2015-08-25 19:28] samreid commented on #328
Ah right, thanks for reminding me about the dot issue.  I'll unassign this.

[2015-08-25 20:08] arnabp commented on #302
https://drive.google.com/file/d/0BxerAx_XXHB2dkNKcm9VZ2VSZnc/view?usp=sharing

Here's the next draft. Resolution should be fixed by now. This took relatively little time (an hour if you include exporting), and I got the audio and video recordings on my first try for both (it's important to take into account that I'd said the script and gone through the mouse rouetines enough times that, at this po

[2015-08-25 20:44] ariel-phet opened #333 "Rosetta beta testing with published S2015R Molecule Shapes"
**Developer**
- [x] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues with a milestone.
- [x] Look over @pixelzoom's revamped code review checklist, decide if code review should be redone
- [x] Review and update licensing info (source code and images/audio)
 - [x] Double check relevant entries in https://github.com/phet

[2015-08-25 20:52] ariel-phet commented on #333
@aaronsamuel137 and @oliver-phet we now have a sim we can beta test with translators live on the website. We should think about how best to proceed and if things are ready for a "live" dry run.

@oliver-phet - maybe give me the contact info I will need over email to contact some trusted translators.

[2015-08-25 20:53] ariel-phet commented on #329
Final issues will be taken care of in #333 closing.

[2015-08-25 20:53] #329 closed

[2015-08-25 20:57] elisemorgan commented on #330
@ariel-phet Done, but it hasn't been reverted to iOS 7. @arnabp can you revert it?

[2015-08-25 21:20] pixelzoom opened #334 "@pixelzoom: redeploy sims"
I'm creating this issue to track progress on sims that I'm responsible for redeploying as part of the "Summer 2015 redeploy" milestone.

sim | version | # issues | published
------- | ------- | ------- | ------- | -------
acid-base-solutions | 1.2.0 | [0](https://github.com/phetsims/acid-base-solutions/issues//labels/Summer%202015%20redeploy) | 11/12/2015
balancing-chemical-equations | 1.1.0 | [0]

[2015-08-25 21:48] ariel-phet commented on #332
@elisemorgan @bryo5363 @phet-steele @orejolaphet please make this your current top testing priority.

As mentioned above this can be a quicker test checking the checklist issues.

[2015-08-25 22:21] pixelzoom commented on #334
Quick links to open issues for each sim:

https://github.com/phetsims/acid-base-solutions/issues
https://github.com/phetsims/balancing-chemical-equations/issues
https://github.com/phetsims/beers-law-lab/issues
https://github.com/phetsims/concentration/issues
https://github.com/phetsims/graphing-lines/issues
https://github.com/phetsims/molarity/issues
https://github.com/phetsims/ph-scale/issues
htt

[2015-08-25 22:24] pixelzoom commented on #334
Values in the "# issues" column link to the "open issues" page for the sim.

[2015-08-25 22:36] pixelzoom commented on #334
@ariel-phet I've reviewed all open issues for the above sims, set label "Summer 2015 redeploy" for issues that should be discussed/considered, and entered the number of such issues in the "# issues" column above. This group of sims has a small number of open issues, so the amount of development work should be relatively low. But quite a few of these issues are design issues that require discussion

[2015-08-26 08:01] ariel-phet commented on #331
@phet-steele please coordinate with @jbphet to complete this test. Submit issues in the rosetta repo

[2015-08-26 16:55] jbphet commented on #310
Area Builder and Arithmetic are now passing.  I'm seeing failures on capacitor-lab-basics, so I'm handing this off to @jessegreenberg to investigate.

[2015-08-26 17:14] bryo5363 commented on #332
The strings do not go over the bounds on IE 11. We haven't seen any issues with strings so far.

[2015-08-26 21:21] amanda-phet commented on #317
Hey @mariahmaephet . The remaining 6 headshots are on drive!

[2015-08-27 12:55] jessegreenberg commented on #310
Energy Forms and Changes and Capacitor Lab: Basics should be fixed:
![all_good](https://cloud.githubusercontent.com/assets/6396244/9520823/a519da24-4c87-11e5-84a4-680d3e010b2f.PNG)

Not sure who is next from the list above, so reassigning to @samreid.

[2015-08-27 16:13] dubson commented on #313
love it!

[2015-08-27 16:16] dubson commented on #313
Amanda,  where is your "my drive".    (the .ai file 'dizzyphetgirl' is in my drive ) -thanks! mike

[2015-08-27 16:17] amanda-phet commented on #313
I emailed the image to you. I will email it again!

[2015-08-27 16:37] dubson commented on #313
Hi Amanda, Got it.  Can I get an image without the white background?  I want phetGirl to appear in the sim without the background.  -thanks! mike

[2015-08-27 16:56] mariahmaephet commented on #313
@amanda-phet @dubson I'm uploading a .png version (so no background) now. Amanda can forward that on to you!

[2015-08-27 16:59] amanda-phet commented on #313
Thanks @mariahmaephet . It was transparent but my email converted it to a .jpeg and added the background! Apple mail is funky sometimes.

I think we can close this issue now!

[2015-08-27 16:59] #313 closed

[2015-08-27 18:07] mariahmaephet commented on #317
@amanda-phet They're uploading now

[2015-08-27 18:10] pixelzoom opened #335 "document basic instructions for using Rosetta beta"

[2015-08-27 18:10] pixelzoom commented on #333
Issue to create doc for using Rosetta beta: https://github.com/phetsims/tasks/issues/335.

[2015-08-27 18:12] aaronsamuel137 commented on #333
We are going to go ahead with this. I will set up figaro with Rosetta and master branch of babel, then @ariel-phet will contact a trusted translator for the beta testing.

[2015-08-27 18:19] pixelzoom commented on #335
Make sure this issue is addressed in the documentation: https://github.com/phetsims/rosetta/issues/48 (Unused strings are available to translate).

[2015-08-27 18:23] ariel-phet opened #336 "Ask a few trusted translators to beta test Molecule Shapes translation"
Use this document to find a few translators

https://docs.google.com/spreadsheets/d/1xbnvt7jv5u8ZbntZWf1RrwlnO0NTWOMnxIOpo0IAjCM/edit#gid=0

[2015-08-27 18:30] ariel-phet commented on #330
Reverting cannot be done easily apparently. We have decided to no longer test iOS7. Please remove the label from Lave, update to the latest iOS version, and then update the Assett matrix.

[2015-08-27 19:00] ariel-phet opened #337 "Fall 2015 PhET office moving checklist"
- [x] Remove Blackboards
- [x] Scrape away blackboard adhesive
- [x] Sand adhesive, and patch holes
- [x] Arrange for paint touch up
- [x] Re-key offices
- [x] Purchase new whiteboards (same brand, with magnetic backing)
- [x] Install new whiteboards
- [x] Furniture layout for each office
- [x] Arrange move-in with undergrad assistance

Current plan is:
-- Developers in the corner office (3 desks,

[2015-08-27 19:57] #320 closed

[2015-08-28 16:07] ariel-phet commented on #335
@phet-steele since you are the most experienced user of Rosetta, could you create a google doc with instructions for translating a sim, including screen shots? When you have a document together please reassign to me so I can edit and add some caveats. Thanks!

[2015-08-28 16:19] amanda-phet opened #338 "Upload all team profiles to Our Team page"
We would like @phet-steele or @elisemorgan to upload the individual profiles and photos from the team bios doc via the administration page. See https://github.com/phetsims/website/issues/256.

@phet-steele @elisemorgan  When are you working next? We need to coordinate the deployment of the new team page with when you are working so that the profiles can be promptly uploaded.

[2015-08-28 16:22] ariel-phet commented on #338
Student work avaibility calendar says @elisemorgan should be around 2-5 pm today (but not sure if up to date).

[2015-08-28 16:24] aaronsamuel137 commented on #338
Ideally, we'd like to do this late afternoon or evening. I could aim to deploy around 4pm today if that works for @elisemorgan, or else we can set up a time for next week.

[2015-08-28 16:43] ariel-phet commented on #338
@elisemorgan - also note this task should be considered top priority over any testing tasks when you are available

[2015-08-28 16:52] amanda-phet commented on #338
@elisemorgan I've shared the necessary google drive folder with you that contains the Team Bios doc and Final B&W folder of headshots.

[2015-08-28 17:57] elisemorgan commented on #338
@ariel-phet @amanda-phet I apologize for any inconvenience but that availability is no longer up to date and was a mistake on my part - I mixed up my schedule. I can get to this tonight or tomorrow if need be but no sooner. This week has been crazy, but I will be much more available next week.

[2015-08-28 18:02] ariel-phet commented on #338
@elisemorgan - no problem, just let @aaronsamuel137 know in this issue when you will be available (ideally early next week), so we can schedule things smoothly.

[2015-08-28 18:06] ariel-phet commented on #323
@elisemorgan @phet-steele @bryo5363 @orejolaphet please test next in line after #322

[2015-08-28 18:06] ariel-phet commented on #323
And ideally for efficiency test concurrently (since only needs spot testing) on each platform

[2015-08-28 18:08] ariel-phet commented on #322
@elisemorgan @phet-steele @orejolaphet @bryo5363 - this testing should be next in line after molecules and light testing wraps up.

[2015-08-28 19:50] ariel-phet commented on #285
@mariahmaephet - can you upload this to your google drive?

[2015-08-28 20:04] ariel-phet commented on #246
Since we are now redeploying sims this issue can be closed

[2015-08-28 20:04] #246 closed

[2015-08-28 20:08] elisemorgan commented on #338
@aaronsamuel137 Monday 2-4 is my best time early next week and I'm available after 5 that day to finish stuff up. Does that work?

[2015-08-28 21:28] amanda-phet commented on #338
I'm also available Monday afternoon and can help out. It shouldn't take us more than an hour, I would imagine.

[2015-08-28 21:57] mariahmaephet commented on #285
@emily-phet  @ariel-phet Yep! I created a folder titled 'Emily' in 'Mariah Artwork' so I can keep the things that I do for her together.

[2015-08-29 00:50] samreid opened #339 "Add "update 3rd party contributions" to the publishing a sim checklist"
From https://github.com/phetsims/website/issues/73 @samreid should add instructions to the "publishing a simulation" steps to update the 3rd party contributions document.

[2015-08-29 03:09] jonathanolson opened #340 "Molecule Shapes 1.1.1-rc.1 RC testing"
Molecule Shapes 1.1.1-rc.1: http://www.colorado.edu/physics/phet/dev/html/molecule-shapes/1.1.1-rc.1/molecule-shapes_en.html, testing matrix: https://docs.google.com/spreadsheets/d/1wfA1SVvOKK-d26ozNNeGDuuq5OtUpInGcEkfK_Eqvgg/edit#gid=100360333

Molecule Shapes is mainly an update to common code (https and statistics fixes). Normal testing on a single platform, and then light testing across all pl

[2015-08-29 15:05] aaronsamuel137 commented on #338
Monday should work fine. I am thinking I will deploy Sunday night so there is no potential to interrupt classroom use of the website. A few hours on Monday without a team page shouldn't be a big deal. Does this sound okay to you @ariel-phet?

[2015-08-29 21:39] ariel-phet commented on #338
That sounds totally OK...our team page can be broken/in progress for awhile.

[2015-08-31 02:11] aaronsamuel137 commented on #338
The new team page is up. Feel free to start adding team members at your earliest convenience.

[2015-08-31 16:19] ariel-phet commented on #271
seems like @phet-steele has taken over most of this testing in a separate issue. Closing

[2015-08-31 16:19] #271 closed

[2015-08-31 16:40] jonathanolson commented on #340
Removed Molecule Shapes: Basics from this issue, as it seems best to put it on hold until more translator testing is done.

I'd like to get the Molecule Shapes statistics fixed ASAP, however.

[2015-08-31 16:42] pixelzoom commented on #322
This test task is on hold until we've done more beta testing of Rosetta. Assigning to me for now. I'll pass it back to @ariel-phet when I feel comfortable proceeding.

[2015-08-31 16:43] pixelzoom commented on #323
This test task is on hold until we've done more beta testing of Rosetta with translators. Assigning to me for now. I'll pass it back to @ariel-phet when I feel comfortable proceeding.

[2015-08-31 19:33] pixelzoom commented on #307
Discussion about qualifiers for these annotation took place in https://github.com/phetsims/scenery/issues/452.  Examples of what we decide to go with:

[code]

[2015-08-31 19:42] pixelzoom commented on #307
Here are the changes that I made to the PhET Development Overview:

Because JavaScript lacks visibility modifiers (public, protected, public), PhET uses JSdoc visibility annotations to document the intent of the programmer, and define the public API. Visibility annotations are required for anything that JavaScript makes public. Information about these annotations can be found here and here. PhET g

[2015-08-31 19:49] pixelzoom commented on #307
I've create issues for all of my sim repos (assigned to me), and for all common-code repos (unassigned), to add visibility tags.

[2015-08-31 20:23] elisemorgan commented on #338
Done, Steele did most of it

[2015-08-31 20:23] #338 closed

[2015-08-31 20:25] elisemorgan commented on #330
@ariel-phet The asset inventory is updated

[2015-08-31 20:51] amanda-phet opened #341 "Fill in FAQ answers"
@phet-steele The spreadsheet you filled in with the troubleshooting and FAQ questions has been super helpful. We've organized them a bit and added some new ones. Now we need the answers! Can you please fill in the answers from the website in the column to the right of each question? (If the column is hidden you'll see two arrows so you just need to make it visible).

Thanks!

[2015-08-31 21:27] ariel-phet commented on #338
Looks great!

[2015-08-31 22:12] pixelzoom opened #342 "sims have no team lead"
While working on resolving issues for S2105R, I'm repeatedly running into a problem: The team leader (or person who reported the issue) is no longer with the project. So I don't know who to assigning the issue to for questions or verification.  The sim that are currently have no team leader are as follows...

Yuen-ying (@ycarpenterphet) was team lead for:
atomic-interactions
balancing-chemical-equ

[2015-09-01 00:06] pixelzoom commented on #307
I've completed adding visibility annotations to all of my sims. It was fairly quick, since I already was making consistent use of @private and @protected, so just had to confirm and add @public.

Assigning to @ariel-phet to decide how to get this done for common repos and other sim repos.

[2015-09-01 02:11] samreid commented on #310
Here's a new snapshot of status:

![image](https://cloud.githubusercontent.com/assets/679486/9594732/23c91b86-501c-11e5-98a1-a86406bc6db1.png)
![image](https://cloud.githubusercontent.com/assets/679486/9594740/327ed4ae-501c-11e5-91e9-58bc518b1e6e.png)
![image](https://cloud.githubusercontent.com/assets/679486/9594742/3a9268b8-501c-11e5-9b58-7a84995c06c0.png)

[code]

[2015-09-01 02:15] samreid commented on #310
So the outstanding issues are:

changes-and-fields
gene-expression-basics
litmus
molecule-shapes
molecule-shapes-basics
optics-lab
pendulum-lab
rutherford-scattering
states-of-matter-basics

[2015-09-01 02:19] pixelzoom commented on #310
The only one that I'm responsible for is litmus. litmus (JSmol test bed) is unlikely to get any love until we decide how to finish up molecule-polarity, see https://github.com/phetsims/molecule-polarity/issues/15.  It's not immediately obvious what's currently wrong with litmus, and I don't have time to spend on it. I'm reluctant to take it out of active-repos, because I don't want it to become to

[2015-09-01 02:23] pixelzoom commented on #310
I've removed litmus from active-runnables, so it will no longer be visited by test-server.

[2015-09-01 02:24] samreid commented on #310
Probably just the fact that I don't have jsmol-14.2.4/JSmol.min.nojq.js checked out in the right place at the right time?

[2015-09-01 02:24] samreid commented on #310
Can (should?) you point to a CDN or put a copy in sherpa?

[2015-09-01 02:25] pixelzoom commented on #310
Nah, litmus is running correctly for me either, and I have JSmol installed. Failing at startup in requirejs mode with `TypeError: Cannot set property 'font' of null` and no stack trace.

Re rutherford-scattering... I believe the @phetsims/thejakey's first order of business is supposed to be to make it pass test-server.

[2015-09-01 02:26] pixelzoom commented on #310
CDN might be OK.  But JSmol has an PhET-incompatible license, that's why it's not in sherpa.

[2015-09-01 02:44] samreid commented on #310
Why are we investigating something with an incompatible license?

[2015-09-01 02:46] samreid commented on #310
The website reports: http://sourceforge.net/projects/jsmol/

Is the LGPL truly compatible with our work?

[2015-09-01 02:58] ariel-phet commented on #342
These are all chemistry sims. The lead for questions should be @amyh-phet - she can always turn to me if she needs advice.

[2015-09-01 02:59] ariel-phet commented on #330
excellent, closing

[2015-09-01 02:59] #330 closed

[2015-09-01 03:25] pixelzoom commented on #310
https://github.com/phetsims/litmus/issues/8

JSmol was open to other licensing terms. But it's packaging doesn't work with PhET (https://github.com/phetsims/litmus/issues/2) and many other issues were encountered (https://github.com/phetsims/litmus/issues).

Again... Read through https://github.com/phetsims/molecule-polarity/issues/15 is you want the status of where molecule-polarity is at wrt a 3

[2015-09-01 03:27] pixelzoom commented on #310
The other reason that we investigated it is because it was used quite successfully in the Java version of molecule-polarity.

[2015-09-01 03:27] pixelzoom commented on #342
Got it. Closing.

[2015-09-01 03:27] #342 closed

[2015-09-01 15:28] jessegreenberg commented on #332
That is great to hear, thanks for testing.  In the mean time, please stop testing of this release candidate.  We will have a new release candidate out soon to include some internal changes to joist and chipper. ( https://github.com/phetsims/molecules-and-light/issues/123 )

[2015-09-01 16:10] jonathanolson commented on #340
@ariel-phet, any preferences on testing for this? Should I test myself and redeploy, so we can get the fixed stats up?

[2015-09-01 16:21] samreid commented on #307
We'll discuss this in the developer meeting on Thursday.

[2015-09-01 17:14] ariel-phet commented on #317
@amanda-phet - can this issue now be closed?

[2015-09-01 17:30] amanda-phet commented on #317
Yes! I thought Mariah had closed it.

[2015-09-01 17:30] #317 closed

[2015-09-01 17:45] aaronsamuel137 commented on #333
We are ready for testing with trusted translators on phet-dev. molecules-and-light and concentration are up and ready to go.

Trusted translators must be marked as such on phet-dev (and probably on the main site too just so we don't forget). To do this, go into the admin section under users and edit another users profile. You'll need their phet email address to do this.

Assigning to @ariel-phet.

[2015-09-01 17:46] aaronsamuel137 commented on #333
Note that babel is now on branch master, so any changes they make to strings will show up even when we switch to figaro.

[2015-09-01 17:47] aaronsamuel137 commented on #333
The URL they start from is https://phet-dev.colorado.edu/translate/.

[2015-09-01 20:14] aaronsamuel137 commented on #333
Before we tell the trusted translator, there are a few clean up items that we decided to take care of, suggested by @pixelzoom. I'll let you know when it is ready.

[2015-09-01 21:52] pixelzoom commented on #307
I took care of phetsims/axon#65, and wouldn't mind doing some of the other common repos if you want to assign to me. I probably shouldn't do dot/kit/scenery because I'm not as familiar with that code base.

[2015-09-02 07:15] samreid commented on #310
The charges-and-fields issue is:

charges-and-fields
Uncaught TypeError: Cannot read property 'distance' of undefined
TypeError: Cannot read property 'distance' of undefined
    at e.n.getIsLinePresent (http://localhost:8080/charges-and-fields/build/charges-and-fields_en.html?ea&postMessageOnLoad&postMessageOnError&fuzzMouse=100:529:13824)

The code in question is:

[code]

So the problem is that

[2015-09-02 07:23] samreid commented on #310
I proposed a fix for charges-and-fields here:
https://github.com/phetsims/charges-and-fields/issues/63#issuecomment-136960247

[2015-09-02 07:24] samreid commented on #310
@jbphet are you the liaison for gene expression basics?  If so, can I assign this issue to you nextL

[2015-09-02 14:35] jbphet commented on #310
I'm not entirely sure if I'm the liaison - I don't have it on my list - but it would make sense if I were.  I'll see if I can resolve the issue with that sim.

[2015-09-02 15:27] phet-steele commented on #335
If certain changes are made, I'll need to change some wording and the majority of the screenshots.

[2015-09-02 15:29] ariel-phet commented on #340
@phet-steele can you burn through this test this morning? Should be pretty quick.

[2015-09-02 15:32] phet-steele commented on #340
On it.

[2015-09-02 17:17] pixelzoom opened #343 "[hookes-law] test 1.0.0-dev.29"
Hooke's Law is ready for dev testing.

**Dev version:**
http://www.colorado.edu/physics/phet/dev/html/hookes-law/1.0.0-dev.29/hookes-law_en.html

Please test on the following platforms:
- [x] iPad2 iOS 8
- [x] Windows Chrome
- [x] Mac Safari

**Available query parameters:**
dev - Shows the "safe bounds" of the screen, selects all check boxes.

[2015-09-02 17:28] ariel-phet commented on #343
@elisemorgan - can you take a look at dev testing this sim? Should be a fun one! As usual, report any issues in the sim repo.

[2015-09-02 18:02] phet-steele commented on #340
Fin.

[2015-09-02 18:07] ariel-phet commented on #340
Magnifique @phet-steele.

@jonathanolson - looks like you can publish this fix and close this issue.

[2015-09-02 19:33] amanda-phet opened #344 "Resize Team photos"
We need each team member's photo (found in the google drive folder "Final B&W") resized so that they have a width of 480px. Please use software that allows the photos to still be 'high quality' when resizing.

1. Make a new folder and add the resized photos there, then add that folder to drive.
2. Have someone review a resized photo to be sure the quality still looks good.
3. Sign on to the site a

[2015-09-02 20:40] ariel-phet opened #345 "Sponsor page mockup"
@daveunderwood our current "sponsor" page needs some love

http://phet.colorado.edu/en/about/sponsors

Right now it is tough to discern the different levels of sponsorship, and every logo is a different size and such.

We were wondering if we could get two mockups of an improved page:

1. A mockup with no logos (something like [this example] (https://www.khanacademy.org/about/our-supporters) from

[2015-09-02 21:22] elisemorgan commented on #343
I can start a little bit this afternoon.

On Wednesday, September 2, 2015, Ariel Paul <notifications@github.com>
wrote:

[2015-09-02 21:30] aaronsamuel137 commented on #344
Where did the width of 480px come from? You could do a width of 304px and it would still be double resolution for the largest photos on the page (Kathy's and Carl's).

If you really want to be precise you could do double resolution for each individual role exactly, so 240px for team members and 200px for undergrads. Might be overkill to do this though.

[2015-09-02 21:40] amanda-phet commented on #344
480 came from 4x120, the width of the team photos. I forgot about the larger photos for Kathy and Carl. Let's go with 304 if you think double is adequate.

[2015-09-02 21:47] amanda-phet commented on #337
I would like one of the small wood-laminate desks, a chair, and a bookshelf. The desk and chair I'm currently using are working well for me, so I'll continue using those. The bookshelves downstairs are fine, but if we're moving the green ones down I'll take a green one.

[2015-09-02 22:07] pixelzoom commented on #334
@ariel-phet FYI... All of the above sims except `balancing-chemical-equations` are now ready to be redeployed.

[2015-09-02 23:16] aaronsamuel137 commented on #344
Double is adequate in my opinion. No real advantage to going higher since the browser will just scale it down anyway (until they come out with "double-retinas" or something). Definitely a good idea to save the original high res photos in drive though.

[2015-09-03 03:29] ariel-phet commented on #344
@aaronsamuel137 - I had suggested 4 times bigger since 4K displays already exist (though fairly rare at the moment). But we can always up the resolution when they become more prominent :).

[2015-09-03 03:34] jonathanolson commented on #340
Will handle deployment tomorrow, VPN is causing some issues with production deploy.

[2015-09-03 03:35] ariel-phet commented on #340
no worries, sounds good.

[2015-09-03 16:30] ariel-phet commented on #170
I think we might consider this step after we have made our iOS App with the CS senior design project.

[2015-09-03 17:53] jbphet commented on #307
Discussed in 9/3/2015 meeting, will assign to @jonathanolson for dot/kit/scenery, he can assign back to @pixelzoom when he's done for the remaining common code.  For sims, each will have this done as they are prepared for the 2015 redeploy.

[2015-09-03 18:41] ariel-phet commented on #336
Some caveats:

1. some strings are going to have dependency with other sims (translate Concentration it is going to create strings shared with Beer's Law)

2. Translator will still need to hit submit even if all strings are filled in.

[2015-09-03 20:00] mariahmaephet commented on #297
@ariel-phet @amanda-phet  Just an update

Chem Lab
<img width="898" alt="screen shot 2015-09-03 at 1 53 55 pm" src="https://cloud.githubusercontent.com/assets/11527557/9669293/5828038c-5243-11e5-918c-c1f0f455eba6.png">

Vision - do you like them with or without the 3D glasses?
<img width="823" alt="screen shot 2015-09-03 at 1 56 14 pm" src="https://cloud.githubusercontent.com/assets/11527557/96693

[2015-09-03 20:02] mariahmaephet commented on #297
I'm also making files of all the objects so we have those individually for the future

<img width="720" alt="screen shot 2015-09-03 at 1 59 22 pm" src="https://cloud.githubusercontent.com/assets/11527557/9669424/46d0f5f2-5244-11e5-90f5-127107da0ce5.png">
<img width="718" alt="screen shot 2015-09-03 at 1 59 34 pm" src="https://cloud.githubusercontent.com/assets/11527557/9669423/46ccff60-5244-11e5-8

[2015-09-03 20:20] mariahmaephet commented on #297
and just for reference this is how they look with the simulations
<img width="960" alt="screen shot 2015-09-03 at 2 18 31 pm" src="https://cloud.githubusercontent.com/assets/11527557/9669863/daf1d34e-5246-11e5-97f9-9a6392fd96a2.png">
<img width="963" alt="screen shot 2015-09-03 at 2 19 03 pm" src="https://cloud.githubusercontent.com/assets/11527557/9669864/daf4ba1e-5246-11e5-82ec-c71d14cf0017.png"

[2015-09-03 20:28] amanda-phet commented on #297
This looks amazing @mariahmaephet .

Re: Color Vision, I think we should skip the 3D glasses since that sim is more about color perception.

[2015-09-03 20:34] ariel-phet commented on #297
Looking great! For pedagogical reasons, the "tug of war" should be with a cart if we are comparing to the sim...so could we put a big cart in the scene?

[2015-09-03 20:38] ariel-phet commented on #297
Oh and in the movie scene the girl in the top right should be given open eyes

[2015-09-03 20:43] arnabp commented on #344
I have to run for the day, but I put all the resized photos in a separate folder in the drive. Preview resampled them so they all look great, but you're free to check yourself. I'll have them uploaded to the website tomorrow.

[2015-09-03 20:45] amanda-phet commented on #344
I think they look great. Tomorrow is fine to upload them to the website, but let me know if that doesn't happen so I can make sure it gets done by the end of the day tomorrow.

[2015-09-04 16:20] elisemorgan commented on #332
@jessegreenberg Has testing resumed for this? I'm seeing on the dev that a new RC was published on 9/1.

[2015-09-04 16:21] ariel-phet commented on #332
@elisemorgan - yes please resume testing with that RC

[2015-09-04 17:06] daveunderwood commented on #345
These sponsor inventories are a nightmare for designers. They often end up looking like a NASCAR entry. Ugh. That said, here's one idea. Simply flipping the format helps a lot - logo (all of which are aligned right) first, text next, justified left. That way we have an even gutter right down the middle, just like you see in movie credits. Also, logos should be sized first so as not to have wild ju

[2015-09-04 17:11] daveunderwood commented on #345
@amanda-phet I was told you'd want to see this by @ariel-phet

[2015-09-04 17:18] amanda-phet commented on #345
I like this a lot (of course!). I am pretty sure Kathy will want the logos so this seems like a great option for the page. Unfortunately, the page will be long with all the sponsors, but I like how the title makes it easy to see where the sections begin.

Also, can you please clarify what you mean here:

[2015-09-04 17:28] elisemorgan commented on #343
@ariel-phet @pixelzoom The platforms listed above have been tested

[2015-09-04 17:45] arnabp commented on #344
All resized photos are up!

[2015-09-04 17:54] amanda-phet commented on #344
Yes, it can take a while to update. We can wait a bit before closing the issue. I'll check as well.

[2015-09-04 18:05] arnabp commented on #344
Site seems to have updated, everything looks good?

[2015-09-04 18:06] ariel-phet opened #346 "Redo of website main banner"
As we discussed lets try some mockups of a new banner with new colors, a smaller logo, the university logo removed, and just using "University of Colorado Boulder"

Also as we discussed lets through together some mockups in the context of new front page ideas (rough) in a google slide show

[2015-09-04 18:30] amanda-phet commented on #344
Looks great. Thank you @arnabp !

[2015-09-04 18:30] #344 closed

[2015-09-04 18:39] ariel-phet commented on #345
@amanda-phet .... @daveunderwood was referring to a logo like the top one which had white text in a big green block. So he reversed it to be just the text and made the text green. So removing boxes where possible.

[2015-09-04 18:42] amanda-phet commented on #345
I see. Many places have multiple versions of a logo so we can investigate that. Hewlett, for example, has a version with a white background.

[2015-09-04 18:56] amanda-phet opened #347 "Find updated sponsor logos"
After a brief bit of searching, I found that many of the logos on our sponsors page are outdated. It would be great to have an undergrad find each sponsor's most current logo.

I'd start by clicking on the direct link to their page (from https://phet.colorado.edu/en/about/sponsors) to see an obvious new logo. Then, google "x logo" to see if the company (usually the larger ones) has a branding page

[2015-09-04 19:35] ariel-phet commented on #347
@elisemorgan - this would be a nice little task to complete, but not very high priority. Good to do when testing work is slow.

[2015-09-04 20:52] ariel-phet commented on #347
@elisemorgan - as part of this task ca you also verify sponsor links? It seems some are broken, such as in https://github.com/phetsims/website/issues/233

Perhaps when you do this task also create a simple spreadsheet with sponsor name, link to proper logo, link to proper website, and note if current link is broken on our site.

Thanks!

[2015-09-05 01:55] samreid opened #348 "Review the accessibility proposed API"
@jonathanolson requested @samreid to review the accessibility API proposal in https://github.com/phetsims/scenery/issues/461

I'd love to take a look but not sure if I'll be able to look this week or next.

[2015-09-08 15:57] jonathanolson commented on #340
Closing since it was published (I just tested and verified statistics collection).

[2015-09-08 15:57] #340 closed

[2015-09-08 19:17] jbphet opened #349 "Test the translation utility with more unusual fonts"
@pixelzoom has reminded us that a number of issues arose when the Java sims were translated into languages that used more "exotic" fonts.  One of the things that was done to help us to respond to the issues that were encountered was to display the font being used, and @pixelzoom suggested that we consider that for Rosetta (see https://github.com/phetsims/rosetta/issues/56).  We have decided not to

[2015-09-08 19:57] aaronsamuel137 opened #350 "Test new resend confirmation form and confirm email box"
It would be good to do a sanity check for the changes in https://github.com/phetsims/website/issues/263.

Here are some good things to test on phet-dev:
1. Create a new account with the new confirm email box.
2. Try to resend the confirmation email.
3. Check the UI and wording for anything that looks off.

Assigning to @ariel-phet for prioritization. Should be a quick one.

[2015-09-08 20:28] pixelzoom commented on #322
I deleted 1.2.0-rc.1 from spot, will re-publish it when we resume RC testing.

[2015-09-08 20:28] pixelzoom commented on #323
I deleted 1.2.0-rc.1 from spot, will re-publish it when we resume RC testing.

[2015-09-08 20:29] pixelzoom commented on #322
Unassigning until we resume RC testing.

[2015-09-08 20:29] pixelzoom commented on #323
Unassigning until we resume RC testing.

[2015-09-08 21:53] #318 closed

[2015-09-08 21:53] #282 closed

[2015-09-08 22:13] elisemorgan commented on #332
@ariel-phet Testing matrix is complete

[2015-09-09 13:57] ariel-phet commented on #349
@phet-steele think you could give this a shot?

[2015-09-09 13:58] ariel-phet commented on #350
@elisemorgan can you perform this testing on phet-dev?

[2015-09-09 13:59] ariel-phet commented on #343
Thanks, closing!

[2015-09-09 13:59] #343 closed

[2015-09-09 14:44] elisemorgan commented on #350
@aaronsamuel137 @ariel-phet Everything looks good from my end, I was able to resend the confirmation repeatedly. I honestly don't know how to actually check the UI but wording, etc is fine.

[2015-09-09 14:48] aaronsamuel137 commented on #350
Great! That's good enough. By check the UI, I just meant see if all of the layout looks normal, like nothing is look odd or out of place or broken. Thanks!

Closing

[2015-09-09 14:48] #350 closed

[2015-09-09 14:49] ariel-phet opened #351 "Logos for various repos"
Hey @daveunderwood - this is a very "back burner" project, so I have labeled it as a priority of _wishlist_ (which means even lower than _when time allows_)

You might recall helping us a little with a logo for one of our main repositories called Scenery (logo can be viewed here http://phetsims.github.io/scenery/)

We have many other so-called "common" code repositories off of which our sims are b

[2015-09-09 15:07] phet-steele commented on #349
@ariel-phet of course.

[2015-09-09 20:36] ariel-phet commented on #351
Each of repos has a "readme" if you click on the link and scroll down the page a bit that has a simple description. The names generally have some reflection as to the purpose of the repo in a clever way (such as "joist" is code the underlies all of our sims and controls things like the navbar which appear in every sim, or the look of the about menu).

Some repos that would be nice to have logos fo

[2015-09-09 23:04] amanda-phet opened #352 "Find math classroom video clips"
@elisemorgan is going to review the raw footage from the Nov 2013 Fractions Intro classroom study to find useful clips involving teacher facilitation, student discovery, student discussion, etc.

Hopefully we can find something useful by early next week!

[2015-09-10 21:53] pixelzoom opened #353 "rename 'tab' to 'screen' in string keys"
There are several sims that use 'tab' in string keys, a holdover from Java terminology. For example, the 2 screens in Beer's Law Lab currently have these keys for their screen names:

[code]

Since we are assuming that keys provide useful context in Rosetta, it's recommend to change 'tab' to 'screen'.  In the above example, the keys would become `"screen.concentration"` and `"screen.beersLaw"`.

S

[2015-09-10 21:54] pixelzoom commented on #353
At 9/10/15 developer meeting, we agreed that this would be good to address before S2015R milestone.

[2015-09-10 22:24] pixelzoom commented on #353
Done. @jbphet randomly chosen to review.

[2015-09-11 00:13] pixelzoom commented on #334
@ariel-phet FYI... 100% of my sims are now ready to be redeployed, 0 open issues.

[2015-09-11 00:34] pixelzoom opened #354 "port sims (@pixelzoom)"
Creating this task to evaluate porting of sims that I've worked on from Java to HTML5.

[2015-09-11 00:42] pixelzoom commented on #354
Here are the Java-based PhET simulations that I was primarily responsible for, and their porting status.

**Completed:**
- Acid-Base Solutions (MLL)
- Balancing Chemical Equations (MLL)
- Beer's Law Lab (@pixelzoom)
- Color Vision (@aaronsamuel137)
- Concentration  (@pixelzoom)
- Faraday's Electromagnetic Lab, Generator, Magnet and Compass, Magnets and Electromagnets (@pixelzoom)
- Fourier: Making

[2015-09-11 03:23] pixelzoom commented on #354
From an email to @ariel-phet on 8/25/2014, an overview of various Java "projects" that I worked on that have not yet been ported to HTML5.

**bound-states**
- lines of code: 21522
- Unfuddle issues: 2
- graphics: Piccolo
- model: Listener
- 3rd-party: SchmidtLeeSolver.java (GPL)
- sims:
  - Quantum Bound States (3 screens)
  - Double Wells and Covalent Bonds (1 screen from QBS)
  - Band Structure

[2015-09-11 03:27] pixelzoom commented on #354
From 2/7/2014 email to @ariel-phet, overview of Java chem sims that had not yet been ported to HTML5.  This includes sims that I didn't implement.

✅ **Model of the Hydrogen Atom**
- Java project: hydrogen-atom
- first published: 1/2007
- original developer: CM
- lines of code: 18K
- Unfuddle tickets: none
- graphics: Piccolo2D
- notification: Listener
- 3D view of deBroglie model relies on wirefr

[2015-09-11 03:46] samreid commented on #348
I left my comments in the scenery issue.  I'll be available for further discussion as things proceed, just let me know @jonathanolson and @jessegreenberg.

[2015-09-11 03:46] #348 closed

[2015-09-11 05:41] #339 closed

[2015-09-11 15:29] ariel-phet commented on #337
@arouinfar and @amyh-phet please comment in this issue what you would like in your office. Thanks!

[2015-09-11 15:56] phet-steele commented on #341
@amanda-phet this isn't the prettiest thing I've done, but it's mostly done. There are some green questions left unanswered as I figured it was better for someone else to get the wording right.

[2015-09-11 16:06] phet-steele commented on #349
These all check out :+1:

[2015-09-11 17:27] ariel-phet commented on #349
Awesome, thanks for checking! Closing

[2015-09-11 17:27] #349 closed

[2015-09-11 19:46] amyh-phet commented on #337
I definitely would like the desk and chair I currently use.   It also sounds like the table and extra office chairs should come too.  I will check with Amy R on Monday to figure out any other items that should be moved.

[2015-09-11 20:02] arouinfar commented on #337
I would also like to keep my current desk and chair.  @amyh-phet and I will discuss what other furniture we'd like moved over on Monday and let you know, @ariel-phet.

[2015-09-11 20:33] amanda-phet commented on #337
Trish wants her current table, bookshelf, and chair.

[2015-09-11 20:51] mariahmaephet commented on #213
@amanda-phet
<img width="795" alt="screen shot 2015-09-11 at 2 51 15 pm" src="https://cloud.githubusercontent.com/assets/11527557/9826018/9c2d33de-5894-11e5-9e65-257db1884bff.png">

[2015-09-11 20:53] mariahmaephet commented on #213
and i uploaded the .ai file to my drive (levelselection.ai)

[2015-09-11 21:17] mariahmaephet opened #355 "Balancing Act - Sitting Phet People"
<img width="1423" alt="screen shot 2015-09-11 at 3 14 37 pm" src="https://cloud.githubusercontent.com/assets/11527557/9826473/d7a33596-5897-11e5-9013-35e88095aa98.png">

[2015-09-11 21:18] mariahmaephet commented on #355
<img width="1426" alt="screen shot 2015-09-11 at 3 18 15 pm" src="https://cloud.githubusercontent.com/assets/11527557/9826538/5cf49906-5898-11e5-9524-3ed13e2cc668.png">

[2015-09-11 21:25] mariahmaephet opened #356 "New Puller"
<img width="1431" alt="screen shot 2015-09-11 at 3 22 58 pm" src="https://cloud.githubusercontent.com/assets/11527557/9826682/57b6f05a-5899-11e5-9582-6c78cb2b5756.png">

[2015-09-11 21:41] #356 closed

[2015-09-12 04:09] ariel-phet commented on #49
closing this issue, will crate a newer more relevant one.

[2015-09-12 04:09] #49 closed

[2015-09-12 18:16] veillette commented on #327
So far, three issues have been raised as part of this task

https://github.com/phetsims/charges-and-fields/issues/63
https://github.com/phetsims/charges-and-fields/issues/64
https://github.com/phetsims/charges-and-fields/issues/65

@phet-steele: Two Questions:
What is the current status on this task? It it considered done?

In addition, I see a bunch of slash in the test matrix with the iPad 2. Do

[2015-09-12 19:29] phet-steele commented on #327
The slashes were put there in response to http://github.com/phetsims/tasks/issues/330#issuecomment-135515636. @ariel-phet please clarify if you meant we are no longer testing iOS7 in general, or just iOS 7.0.

As far as the status of testing this goes, RC testing was temporarily placed on hold while getting ready for our HTML5 translation utility to be beta tested. I think the utility is basically

[2015-09-13 17:56] ariel-phet commented on #327
@phet-steele - we have dropped iOS7 support for PhET sims.

[2015-09-14 04:23] emily-phet opened #357 "PC Laptop setup with new software"
I am in need of a PC laptop for the next couple of weeks that has the following software installed:
- Camtasia (with enough memory to keep Camtasia from crashing frequently...this is a problem on older computers, e.g., Schrodinger)
- Microsoft Office
- JAWS Demo
- NVDA
- Zoomtext demo

From the PhET Assets spreadsheet, it looks like there's only Mendeleev that is possibly available for this (does

[2015-09-14 16:06] ariel-phet commented on #357
@emily-phet - I think Schrodinger would be best option actually (that is my old laptop and should have plenty enough memory to use Camtasia, as I had used the program many times). Were you thinking of Socrates instead? Let me know if that would work, and I will get someone on it.

[2015-09-14 16:53] pixelzoom opened #358 "managing Tween animations"
While investigating, https://github.com/phetsims/hookes-law/issues/25, it was discovered that starting a Tween animation while one is already running can cause problems.  And this is likely to be the case in other sims that are using Tween, including:

Area Builder
Arithmetic
Bending Light
Charges and Fields
Forces and Motion: Basics
Fraction Comparison
Fraction Matcher
Gene Expression: Basics
Lea

[2015-09-14 17:11] oliver-phet opened #359 "CLASS survey for PHYS 4460"
@arnabp Please create a survey for PHYS 4460. It will be used this semester.

[2015-09-14 17:19] pixelzoom opened #360 "animation repository"
I've used Tween in 2 sims - Hooke's Law, and now Function Builder.  It's used in 13 other sims, where there is duplicate code and varying patterns to accomplish similar animation tasks.   Proposal: Rather than embedding Tween this heavily in sims, how about writing wrappers for common animation tasks? This would reduce duplicated/different code, promote reuse, and make it easier to switch to some

[2015-09-14 17:19] pixelzoom commented on #360
Skype discussion:

[9/14/15, 10:53:56 AM] Sam Reid: BRAINSTORM:  // Integrated support for animation in scenery.  Specify target values and durati var animationHandle = node.animateTo({x:100,y:100,opacity:0.5},{animationTime:100,type=‘quadratic’});  // Use the handle to communicate with the animation. animationHandle.stop();  
[9/14/15, 10:54:03 AM] Sam Reid: ALTERNATE BRAINSTORM:
[9/14/15, 10:55:

[2015-09-14 17:20] pixelzoom commented on #360
Input from @jonathanolson @jbphet @aaronsamuel137 @jessegreenberg requested.

[2015-09-14 17:22] pixelzoom commented on #360
Related to https://github.com/phetsims/tasks/issues/358 (managing Tween animations).  If we had a common library for animations, this would be easier to assess and fix.

[2015-09-14 17:26] samreid commented on #360
One issue for using Tween.js is that when an animation starts, it copies *all* properties of the animated object.  This means calling getters for things like get x() get y() get matrix(), etc.  This is why we have settled on the patten of passing an object literal instead of a scenery node to be tweened, then passing the values through to the scenery node.

One step we could in making a superior A

[2015-09-14 17:29] oliver-phet commented on #324
DOne.

[2015-09-14 17:29] #324 closed

[2015-09-14 17:29] oliver-phet commented on #341
Done.

[2015-09-14 17:29] #341 closed

[2015-09-14 17:32] pixelzoom commented on #360
@samreid wrote:

You're referring to what is typically called the 'patterns' literal, correct?  Eg:

[code]

[2015-09-14 17:33] samreid commented on #360
I presume you meant the `parameters` literal.  If so, yes.

[2015-09-14 17:42] pixelzoom commented on #360
Yep, `parameters`.

[2015-09-14 17:44] phet-steele commented on #335
@ariel-phet I've updated the doc to match the new UI changes.

[2015-09-14 17:48] samreid commented on #360
So it appears there are actually 2 issues at play here:

1. Factoring out duplicated values/details
2. Changing the public API

We should discuss both independently--TWEEN.js uses a different convention for its API than we use throughout our libraries.

[2015-09-14 17:58] phet-steele commented on #331
Done.

[2015-09-14 17:58] #331 closed

[2015-09-14 18:05] ariel-phet commented on #335
Awesome I will check it out

[2015-09-14 19:38] emily-phet commented on #357
@ariel-phet - I believe Elise and I tried some video editing on Schrodinger, and it kept crashing (Camtasia crashes frequently on most computers, but it was so frequent it was unusable on Schrodinger). That's why Elise has Socrates right now.

Actually, that's probably ok, as long as I can use some other screen capture software (not Camtasia) to record on Schrodinger, I can do the editing I need t

[2015-09-14 19:41] ariel-phet commented on #357
@arnabp can you take care of the above with Schrodinger?

[2015-09-14 19:51] jbphet commented on #337
I'd like the tall wooden bookshelf, the larger black office chair, my stand-up desk apparatus, the books on the back of my desk, the Gateway PC tower (phet-server) to the left of my desk, the UPS next to phet-server, to all be moved.  The large green steel desk should NOT be moved (one of the drawers doesn't close), and the bookshelf sort of thing at the back of it should also NOT be moved.  I may

[2015-09-14 20:21] samreid commented on #360
My recommendations:

* Create our own API that makes things easy for us and very consistent with the rest of our development process
* After we have developed our desired API, then build adapters that use Tween.js or write our own tweening support.
* After things are working with our new API and implementation, we will be able to judge and decide how to factor out duplicated variable/content/logic

[2015-09-14 20:28] samreid opened #361 "Spot testing for Bending Light 1.0.0-dev.29"
After Actual Concepts addressed numerous issues in the codebase for Bending Light, we should re-test the simulation (a) to see if any work remains for Actual Concepts to work on before making their final invoice and (b) catching issues that remain for me.  This does not need to be an exhaustive test, it would be sufficient to test on the following platforms:

- [x] iPad: Safari
- [x] OS X: Firefox

[2015-09-14 20:32] ariel-phet commented on #332
Closing since test is complete

[2015-09-14 20:32] #332 closed

[2015-09-14 20:34] ariel-phet commented on #361
@orejolaphet it looks like you are scheduled to be available on 9/15 - please work on this testing then.

If it turns out you are not available let me know and I will reassign. Note what @samreid said above...there are many known issues so as you find them, make sure you are not creating duplicate issues.

[2015-09-14 21:53] arouinfar commented on #337
After discussion with @amyh-phet we've decide to keep the two bookcases and chair currently in the new office, but get rid of the desk and large table. We'd also like to move our desks, all of the chairs, and the large table from F-1019. There are three large green bookcases in our office that do NOT need to be moved (unless @emily-phet wants one for her new office).

[2015-09-15 15:20] ariel-phet commented on #336
Some trusted translators have been emailed, beta test beginning. Closing

[2015-09-15 15:20] #336 closed

[2015-09-15 15:21] ariel-phet commented on #335
Looks good, will use for the Beta test, closing!

[2015-09-15 15:21] #335 closed

[2015-09-15 16:11] emily-phet commented on #285
@ariel-phet - can Dave take a look at the final versions of these two figures? I don't have any further feedback for Mariah on these, but I would be curious if Dave has any suggestions.

[2015-09-15 17:29] orejolaphet commented on #361
@ariel-phet currently the sim does not load off of phettest (completely white screen), maybe missing or moved repository? Is it appropriate to test dev.29 published 9/12/15?

[2015-09-15 18:41] samreid commented on #361
I fixed the link in the issue description, thanks for pointing out that it was missing!

http://www.colorado.edu/physics/phet/dev/html/bending-light/1.0.0-dev.29/bending-light_en.html

[2015-09-15 20:16] arnabp commented on #357
I've never dealt with the last few softwares. I found these links and will download, but if any of them aren't the correct software let me know.
http://www.freedomscientific.com/Downloads/JAWS
http://www.nvaccess.org/download/
http://www.zoomtext.com/download-zoomtext-free-trial/?_ga=1.207755986.1753445445.1442348126

[2015-09-15 20:18] #359 closed

[2015-09-15 20:49] ariel-phet commented on #357
@emily-phet can you confirm the above?

[2015-09-15 20:58] arnabp commented on #357
Assuming these are correct, I'm putting Schrodinger back in F101. If you I need to change anything I can go and get it back tomorrow. Other than that everything else should be running fine. I have installed OBS, a screen capture software that has been very reliable for me. I've set it up to capture the full screen and save the mp4 files into the user video folder. Simply hit Start Recording and yo

[2015-09-16 01:15] ariel-phet commented on #328
What is the status of this issue, seems to have gone a bit stale?

[2015-09-16 01:40] ariel-phet commented on #354
@pixelzoom - more and more it seems Molecule Polarity will be the right one to attack next. Perhaps we should discuss at developer meeting. Seems like it would be good to coordinate this port with @jonathanolson working on Build a Molecule so that we can make nice progress on a 3d molecule viewer.

[2015-09-16 15:25] pixelzoom commented on #328
The consensus (summarized in https://github.com/phetsims/tasks/issues/328#issuecomment-134664688) is that this is a minor inconvenience and a major pain to change, so someone will work on it if/when they feel the urge. Imo it's not tragic if it's never addressed; we have much bigger fish to fry.

[2015-09-16 15:26] pixelzoom commented on #354
@ariel-phet said:

Label added.

[2015-09-17 15:13] aaronsamuel137 opened #362 "Test GAO new algorithm"
@phetsims/bereaphysics implemented a new algorithm for the model code that improves performance quite a bit. Before merging this change into master, it would be good to do some side by side testing of the two algorithms and see if there are any differences in the sim behavior.

The old algorithm can be found here: http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.20/gravit

[2015-09-17 19:06] jonathanolson opened #363 "Test for iOS 9 portrait/landscape bug"
See https://github.com/phetsims/joist/issues/280

If this bug is present, it would be a very high priority for me to resolve, so testing ASAP would be great.

[2015-09-17 19:18] ariel-phet commented on #362
@phet-steele - you are the man for the job

[2015-09-17 19:21] ariel-phet commented on #363
@elisemorgan - can you upgrade one our iPads to iOS9 (ask @oliver-phet if you need help with this), and check if this bug is still present or if it has been taken care of now that iOS9 is no longer in Beta.

[2015-09-17 19:22] ariel-phet commented on #363
@elisemorgan - and of course, please update the PhET Asset Matrix when you make this upgrade.

[2015-09-17 20:54] elisemorgan commented on #363
@jonathanolson Bug is still present
![image 10](https://cloud.githubusercontent.com/assets/12610678/9945688/f509329e-5d4b-11e5-8f21-e02bef98d103.jpg)
![image 9](https://cloud.githubusercontent.com/assets/12610678/9945689/f50c9074-5d4b-11e5-9b47-7db4c6a758ef.jpg)
![image 8](https://cloud.githubusercontent.com/assets/12610678/9945687/f5046584-5d4b-11e5-82de-f93efdc16f88.jpg)

[2015-09-17 23:12] oliver-phet commented on #321
@arnabp Can you modify the questions to the template surveys (BIO, PHYS, CHEM) so that the questions are 1-5 responses. See example questions 1 in BIO: https://docs.google.com/forms/d/15yN7NSJJsrPnh7UIiXqrvLwfpDob8Fbqt4ukG5oR6H0/edit

CHEM: https://docs.google.com/forms/d/1QpWi2YAKTXPtYfkgCAtbwxT7eCtcQW8Euz4tpGsd43E/edit

PHYS: https://docs.google.com/forms/d/1Rj1oZ-kURjfoeeGGNgEp4RnXyTL9pchjZiOJT

[2015-09-18 03:20] emily-phet commented on #357
Everything looks great @arnabp ! Thanks so much.

[2015-09-18 03:20] #357 closed

[2015-09-18 18:51] arnabp commented on #321
Surveys have been updated.

[2015-09-19 02:25] samreid opened #364 "Test portrait bug on iOS9"
This task is for @samreid to test https://github.com/phetsims/joist/issues/280#issuecomment-141609855 on iPad3.

[2015-09-21 19:33] oliver-phet opened #365 "Move all of the contents of Emily's bookshelf to boxes and put on empty desk in F1029"
@arnabp @phet-steele @orejolaphet @bryo5363 @elisemorgan The next time any of you are in can you box up the books and random stuff that is on the shelf in F1019 and move it into F1029?

[2015-09-21 21:13] elisemorgan commented on #352
@amanda-phet Just want to check in now that you've done your presentation. Should I keep pulling files off of phetnackup and look at them?

[2015-09-22 04:08] samreid commented on #364
Commented above, closing.

[2015-09-22 04:08] #364 closed

[2015-09-22 16:03] pixelzoom commented on #354
In https://github.com/phetsims/tasks/issues/354#issuecomment-140595442, @ariel-phet proposed discussing the 3D molecule viewer in Molecule Polarity.  That is addressed in https://github.com/phetsims/molecule-polarity/issues/15, so let's move the discussion there.

[2015-09-22 17:06] oliver-phet commented on #365
Done.

[2015-09-22 17:06] #365 closed

[2015-09-22 17:10] orejolaphet commented on #361
Spot testing complete.

[2015-09-22 18:10] amanda-phet commented on #352
This is a task that we still want completed, but it does not need to be high priority anymore. Thanks so much for rushing for me last week! The presentation went well and the clips were very useful.

[2015-09-22 19:10] jonathanolson commented on #363
Looks like iOS 9 beta was still on the testing iPad. I completed the upgrade to the latest iOS 9 version, and the bug disappeared. Closing.

[2015-09-22 19:10] #363 closed

[2015-09-22 19:46] jonathanolson opened #366 "Test Mouse/other input Scenery changes"
I've put up http://www.colorado.edu/physics/phet/dev/olsonjb/friction_en.html and the iframed http://www.colorado.edu/physics/phet/dev/olsonjb/friction_en-iframe.html as testing for a potential fix for https://github.com/phetsims/scenery/issues/464. The change is basically us no longer telling the browser "Don't do anything else with the mouse/touch/etc. besides what we do" but instead "Please don

[2015-09-22 20:12] ariel-phet commented on #366
@elisemorgan can you hop on this testing this afternoon?

[2015-09-22 21:20] oliver-phet opened #367 "Wipe hdd in old tower computer in our office"
@arnabp Please properly wipe the hdd in the old tower computer in our office. The computer can then be surplused.

[2015-09-22 23:12] jbphet commented on #353
I spot checked the commits, and what I saw looked good.  I also searched the string files for ".tab" and found no occurrences.  Looks good, closing.

[2015-09-22 23:12] #353 closed

[2015-09-23 15:48] ariel-phet commented on #361
Since spot testing is complete closing

[2015-09-23 15:48] #361 closed

[2015-09-23 17:03] elisemorgan commented on #366
@jonathanolson I can't seem to pull up the iframe link that you have here. The regular html link shows no issues, but as I remember from before this issue seems to be iframe specific

[2015-09-23 17:22] jonathanolson commented on #366
Sorry, here's the URL: http://www.colorado.edu/physics/phet/dev/olsonjb/friction_en-iframe.html

[2015-09-23 17:25] pixelzoom commented on #366
S2015R redeploys are on hold until this testing is completed.

[2015-09-23 17:35] ariel-phet commented on #337
Phase 1 complete, closing

[2015-09-23 17:35] #337 closed

[2015-09-23 17:37] ariel-phet opened #368 "Phase 2 office moving checklist"
-- Moving @kathy-phet into new office
-- Painting new office?
-- Whiteboard for new office?
-- Rekeying?
-- Testing desk/bookshelf, and 2 work tables for undergrads in Bolton's office

[2015-09-23 17:40] elisemorgan commented on #366
@jonathanolson the issue is now more difficult to recreate, but it is still present. I am not seeing any of the possible new behaviors that you listed above.

[2015-09-23 17:44] jonathanolson commented on #366
Can you provide instructions for recreating, including which browser version is used?

[2015-09-23 17:48] elisemorgan commented on #366
iOS Yosemite  10.10.5 on the latest google chrome. Will test on more
platforms as soon as I get the chance. Drag around quickly, remove mouse
from frame, unclick. Like I said, it may take a few tries because it's not
as consistent as before.

On Wednesday, September 23, 2015, Jonathan Olson <notifications@github.com>
wrote:

[2015-09-23 17:55] pixelzoom opened #369 "RC test: Hooke's Law 1.0.0-rc.1"

[2015-09-23 18:03] pixelzoom opened #370 "RC test: Acid-Base Solutions 1.2.0-rc.1"
@ariel-phet When you're ready to start this, assign back to me.

[2015-09-23 18:03] pixelzoom opened #371 "RC test: Balancing Chemical Equations 1.1.0-rc.1"
@ariel-phet When you're ready to start this, assign back to me.

[2015-09-23 18:07] pixelzoom opened #372 "RC test: Beer's Law Lab 1.3.0-rc.1"
@ariel-phet When you're ready to start this, assign back to me.

Since Concentration is a subset of Beer's Law Lab, this should be done at the same time as #373.

[2015-09-23 18:08] pixelzoom opened #373 "RC test: Concentration 1.2.0-rc.1"
@ariel-phet When you're ready to start this, assign back to me.

Since Concentration is a subset of Beer's Law Lab, this should be done at the same time as #372.

[2015-09-23 18:11] pixelzoom opened #374 "RC test: Graphing Lines 1.1.0-rc.1"
@ariel-phet When you're ready to start this, assign back to me.

[2015-09-23 18:11] pixelzoom opened #375 "RC test: Molarity 1.2.0-rc.1"
@ariel-phet When you're ready to start this, assign back to me.

[2015-09-23 18:12] pixelzoom opened #376 "RC test: Reactants, Products and Leftovers 1.1.0-rc.1"
@ariel-phet When you're ready to start this, assign back to me.

[2015-09-23 18:14] pixelzoom commented on #334
An "RC test" task has been created for each of the above sims, assigned to @ariel-phet to schedule.

[2015-09-23 18:16] jonathanolson commented on #366
I haven't been able to reproduce with about ~15min of testing on my side (OS X 10.9.5, latest Chrome).

Can you describe the behavior that happened when you released the mouse button outside the frame? Did going back into the frame (with the mouse button up) still cause movement of the book itself?

[2015-09-23 18:19] elisemorgan commented on #366
The book still moved when I had the mouse unclicked both inside and outside
the frame. I was able to move the mouse all over my screen and the book
moved. I was only able to get the issue to happen on the first click (ie I
kept refreshing the sim). Wish I could be more specific but I just did fast
movement in and out of the frame and then unclicked outside of the frame.

On Wednesday, September 23

[2015-09-23 19:51] oliver-phet opened #377 "Update wording on translation page"
http://phet.colorado.edu/en/for-translators
*Translating HTML5 Simulations*

*The translation process for HTML5 sims is currently being tested. To request access to the HTML5 translation utilty, please submit a request here.*

Translating *Java and Flash* Simulations

PhET *Java and Flash* simulations have been written so that they are easily translated to languages other than English. The process

[2015-09-23 20:14] pixelzoom commented on #270
OS X 10.11 will be publicly available on 9/30, and we're about to resume re-publication of sim, so we should wrap this up.

phetsims/molecule-shapes#125 is closed, fixed on all platforms.

@arnabp is there anything else to do here?

[2015-09-23 20:21] oliver-phet commented on #377
https://github.com/phetsims/website/issues/279

[2015-09-23 20:21] #377 closed

[2015-09-24 04:23] elisemorgan commented on #366
@jonathanolson @ariel-phet I won't be available to do further testing of this until Monday. If testing needs to be completed before then, best assign to a different QA

[2015-09-24 04:27] ariel-phet commented on #366
@elisemorgan, thanks for the heads up!

[2015-09-24 06:30] jonathanolson commented on #366
I'm planning to work on reproducing tomorrow while on campus (with the device used if available, or otherwise just more up-to-date OS X laptops). Online searches into this behavior mostly came up with the preventDefault potential workaround, so I'm not sure what else to hit yet.

[2015-09-24 16:43] pixelzoom commented on #322
@ariel-phet said that ph-scale may not be first on the redeploy schedule. Assigning this back to him.  Assign back to me with instructions when ready.

[2015-09-24 16:43] pixelzoom commented on #323
@ariel-phet said that ph-scale-basics may not be first on the redeploy schedule. Assigning this back to him.  Assign back to me with instructions when ready.

[2015-09-24 16:47] pixelzoom commented on #323
Since we'll be starting over on RC testing, I deleted the '1.2' branch of ph-scale-basics.

[2015-09-24 16:47] pixelzoom commented on #322
Since we'll be starting over on RC testing, I deleted the '1.2' branch of ph-scale-basics.

[2015-09-24 16:55] ariel-phet commented on #366
@orejolaphet since you are here today can you work on this testing.

[2015-09-24 16:57] ariel-phet commented on #366
@orejolaphet comment in this issue if you have any questions about the testing.

[2015-09-24 17:21] orejolaphet commented on #366
Testing http://www.colorado.edu/physics/phet/dev/olsonjb/friction_en-iframe.html I was able to reproduce the issue on my machine (OSX 10.10.4 2015 macbook), but it only occurs when I use the "force touch" feature. The book only moved while my mouse was within the iframe even though unclicked.

[2015-09-24 17:25] pixelzoom commented on #358
@phet-steele: @ariel-phet says to poke around and see if you find problems, low priority, when you have time.

[2015-09-24 17:27] samreid commented on #360
From Sept 24 meeting: we would like the API to automatically handles cancelling previous animations (if any)

[2015-09-24 17:28] pixelzoom commented on #360
9/24/14 dev meeting:
@ariel-phet says that animation will be used more in design, so this is worth the longterm investment.

[2015-09-24 17:29] pixelzoom commented on #358
@phet-steele Never mind. We decided we're going to work on an animation library (see #360).  So don't bother with this.

[2015-09-24 17:29] #358 closed

[2015-09-24 20:24] pixelzoom opened #378 "pattern for namespacing"
This came up in the context of together, where having namespacing is required for deserialization, JS type verification, and documentation of associated JS types.

Come up with a pattern that we like and apply it to existing code (sims and common).

[2015-09-24 20:25] pixelzoom commented on #378
(1) Pattern similar to @jonathanolson repos (scenery, kite, dot,... )

[code]

[2015-09-24 20:28] pixelzoom commented on #378
(2) Create a global function for namespacing. Requires duplication of the namespace token (e.g. 'functionBuilder').

[code]

[2015-09-24 20:39] pixelzoom commented on #378
@jonathanolson and I are leaning towards (1).

[2015-09-25 12:35] pixelzoom commented on #378
To be clear on why I'm leaning towards (1)....

• The `require` statement will catch typos, you can't accidentally assign to some other global.
• If you add the `require` statement and forget to do the namespace assignment, lint will complain.
• The namespace assignment is done via an assignment statement - smells like a duck, looks like a duck. (My preference is for the assignment statement immed

[2015-09-27 01:39] samreid opened #379 "Review ColorProfile"
I got a quick glance of ColorProfile at the last developer meeting, in https://github.com/phetsims/scenery-phet/issues/156

I haven't taken it for a test drive but would like to do so.  Also something that occurred to me that might be worth investigation is using a global Property.<string> for the profile and letting each individual file handle its own colors as desired instead of centralizing the

[2015-09-28 15:28] jonathanolson opened #380 "Test Scenery mouse/input handling"
I've put up http://www.colorado.edu/physics/phet/dev/olsonjb/friction-iframe-test/friction_en.html and the iframed http://www.colorado.edu/physics/phet/dev/olsonjb/friction-iframe-test/friction_en-iframe.html as testing for a potential fix for https://github.com/phetsims/scenery/issues/464. The change is basically us no longer telling the browser "Don't do anything else with the mouse/touch/etc. b

[2015-09-28 15:36] ariel-phet commented on #380
@phet-steele are you available for this testing today?

[2015-09-28 16:01] phet-steele commented on #380
@ariel-phet yup, I'm looking into this. I didn't come in to the office today so I won't have access to a touch device until Wednesday.

[2015-09-28 16:15] ariel-phet commented on #380
@bryo5363 @elisemorgan @orejolaphet if you have access to a touch device please also help out with this testing

[2015-09-28 18:01] pixelzoom commented on #372
RC testing of beers-law-lab is blocked until https://github.com/phetsims/beers-law-lab/issues/111 is resolved.

[2015-09-28 18:30] pixelzoom commented on #378
@samreid @jbphet @aaronsamuel137 @jessegreenberg please comment. Propose additional patterns, and vote on your preferred pattern.

[2015-09-28 18:35] #367 closed

[2015-09-28 18:40] aaronsamuel137 commented on #378
+1 for pattern (1)

[2015-09-28 19:31] pixelzoom commented on #270
@ariel-phet Can you please comment on whether this issue should be closed before resuming RC testing? If it's not necessary, then please remove the "Summer 2015 redeploy" label. If it is necessary, please escalate.

[2015-09-28 19:34] pixelzoom commented on #366
Since this is blocking RC testing, added "developer-meeting" label so that we remember to check on status.

[2015-09-28 19:36] arnabp commented on #270
Probably our biggest issue depends on how much we want to make sure our sims scale with having windows be in large vertical and small horizontal configurations, as this may become more prevalent with the split screen feature. Besides that I didn't notice anything that demanded immediate attention.

[2015-09-28 20:45] ariel-phet commented on #366
updated issue in #380, closing

[2015-09-28 20:45] #366 closed

[2015-09-29 02:08] jonathanolson commented on #380
Testable version with improved IE support:
http://www.colorado.edu/physics/phet/dev/olsonjb/friction-iframe-test/friction_en.html
http://www.colorado.edu/physics/phet/dev/olsonjb/friction-iframe-test/friction_en-iframe.html

[2015-09-29 02:48] ariel-phet commented on #380
@phet-steele did you notice any issues in your testing?

[2015-09-29 02:49] ariel-phet commented on #380
@orejolaphet looks like you are available on Tuesday...can you try this testing?

[2015-09-29 02:51] orejolaphet commented on #380
Yes, can do.

On Monday, September 28, 2015, Ariel Paul <notifications@github.com> wrote:

[2015-09-29 02:54] ariel-phet commented on #270
@jonathanolson reports this was a very sim specific bug related to 3D scaling. Seems like not issue, closing.

[2015-09-29 02:54] #270 closed

[2015-09-29 03:09] jonathanolson commented on #380
Recommended testing platforms:
- [ ] iPad 3 (iOS 9)
- [ ] Safari (OS X)
- [ ] Firefox (OS X)
- [ ] Chrome (OS X)
- [ ] IE 10 (Win7?)
- [ ] Chrome (Win7)
- [ ] Firefox (Win7)
- [ ] IE 11 (Win8?)
- [ ] Edge (Win10)
- [ ] Chrome (Win10)
- [ ] Firefox (Win10)
- [ ] Chrome (Chromebook)

Recommend brief test for iframe and non-iframe, in both mainly trying to test mouse/touch interaction patterns. Try d

[2015-09-29 15:33] samreid commented on #378
Sure you could, there might be a copy paste error like this:
[code]

Yes, but if you forget both, you won't see any lint errors. (However, we could add custom ESLint rules to catch this issue).

Assignment using `=` operator cannot check for collisions.  What if a sim has two Electron.js files (one in the view and one in the model?)

The following
[code]
doesn't require any inherit call, and works

[2015-09-29 15:36] samreid commented on #378
I'm also interested in discussing our plan for namespacing files:

1. On a file-by-file as-needed basis
2. Once any file in a repo needs it we namespace everything in the repo
3. We try to instrument everything all at once

If we are using (2) - (3) we may be incentivized to look into ESLint to check that files are namespaced (we may even be able to check the filename somehow?)

[2015-09-29 15:54] pixelzoom commented on #378
I'd prefer to namespace all of my files at once. Will take me a couple of hours, then I won't have to deal with it again.

[2015-09-29 17:58] orejolaphet commented on #380
iframe http://www.colorado.edu/physics/phet/dev/olsonjb/friction_en-iframe.html does not work on iPad iOS 8.3. Screen starts with the PhET loading then changes to a white screen that fills the web page.
![unnamed](https://cloud.githubusercontent.com/assets/5631059/10173408/4a7f473c-66a1-11e5-823f-d0224fc028b2.jpg)
Is there a particular repository I should place these issues?

[2015-09-29 18:08] pixelzoom commented on #378
9/29/15 dev meeting:
• using Tandem doesn't seem to have significant advantages
• would be nice to create a namespace for a repo, error out if you try to attach something to a namespace that doesn't exist (or the wrong namespace?), check typos in names, etc.
• look at using ESLint to catch related errors
• @jonathanolson unsure how he would change scenery/dot/kite to work with function call (patte

[2015-09-29 18:11] ariel-phet commented on #380
@orejolaphet best to place issues in Scenery for the moment

[2015-09-29 18:16] jonathanolson commented on #378
Pattern 3:

[code]

[2015-09-29 18:37] orejolaphet commented on #380
Issue https://github.com/phetsims/scenery/issues/464 still occurs on Win 7 IE 10.

[2015-09-29 18:43] orejolaphet commented on #380
@bryo5363 Can you test the Win 10 on your new machine?

[2015-09-29 18:43] bryo5363 commented on #380
Why yes I can. I'm on it
On Sep 29, 2015 12:43 PM, "Oliver Orejola" <notifications@github.com> wrote:

[2015-09-29 19:23] jonathanolson commented on #380
Can you verify the URLs being used to test? The latest are:

The above URL reported in the test is the older http://www.colorado.edu/physics/phet/dev/olsonjb/friction_en-iframe.html

[2015-09-29 19:26] jonathanolson commented on #380
I've updated the URLs in the first description of the issue.

[2015-09-29 19:28] bryo5363 commented on #380
The sim is compliant with Windows 10 on all browsers.

[2015-09-29 19:32] pixelzoom commented on #378
Unassigning. Will be discussed at 10/6/15 developer meeting after we individually test-drive.

[2015-09-29 19:42] orejolaphet commented on #380
My mistake I tested the older version http://www.colorado.edu/physics/phet/dev/olsonjb/friction_en-iframe.html

I went through the new links on my machine (OSX) platforms and no new issues arise. Will check latest links on Windows 7 platforms shortly.

[2015-09-29 20:26] orejolaphet commented on #380
Tested on newest links. Behavior still occurs IE 10 Win 7

[2015-09-29 20:39] mariahmaephet commented on #176
<img width="555" alt="screen shot 2015-09-29 at 2 38 38 pm" src="https://cloud.githubusercontent.com/assets/11527557/10177529/d45bf73c-66b7-11e5-96a8-2b6935a9614b.png">

[2015-09-29 20:41] mariahmaephet commented on #319
<img width="493" alt="screen shot 2015-09-29 at 2 29 05 pm" src="https://cloud.githubusercontent.com/assets/11527557/10177579/1336efde-66b8-11e5-9cf8-fc58a49b08fc.png">

[2015-09-29 20:41] mariahmaephet commented on #355
<img width="802" alt="screen shot 2015-09-29 at 2 41 30 pm" src="https://cloud.githubusercontent.com/assets/11527557/10177607/36ce5932-66b8-11e5-87f6-b4b6e86beccf.png">

[2015-09-29 21:10] pixelzoom commented on #378
I took pattern #3 for a test-drive, see these (committed) files in function-builder:

Namespace.js - namespace abstraction, would be moved to common code
functionBuilder.js - sim-specific namespace instance
PatternsModel.js - example of namespace in a file that uses inherit
FBColors.js - example of namespace in a file that does not use inherit, returns an object literal

[2015-09-29 21:12] samreid commented on #378
Thoughts and reflections after testing this out?

[2015-09-29 21:18] samreid commented on #378
The term `PatternsModel` appears 4 times in PatternsModel.js

[2015-09-29 21:24] pixelzoom commented on #378
I like this pattern - I think it combines the best elements of the other 2.  I'm not crazy about duplication of the name of the thing being registered (e.g. PatternsModel). But that's an issue with all patterns that we've considered.

[2015-09-29 21:27] pixelzoom commented on #378
One could eliminate one duplication of the thing being registered (e.g. PatternsModel) if the `inherit` call could be embedded, like this:

[code]

But I don't like the look of this, and it somewhat obfuscates the value of what's being registered.

[2015-09-29 21:32] samreid commented on #378
BRAINSTORMING_EMOTICON_NOT_FOUND:

We could move inherit to Namespace and do something like this (only needs a require statement for functionBuilder, not for inherit):

[code]

[2015-09-29 21:33] pixelzoom commented on #378
Responsibility for inheritance doesn't belong in Namespace.

[2015-09-29 21:35] pixelzoom commented on #378
![images](https://cloud.githubusercontent.com/assets/3046552/10178864/b0f20a9a-66bf-11e5-94a5-c7cc2efc8e72.png) Responsibility for inheritance doesn't belong in Namespace.

[2015-09-29 23:27] samreid commented on #378
Not advocating, just brainstorming still: Namespace could be renamed to ModuleSystem which provides namespacing and inheritance functions (related functions for creating a module).

[2015-09-30 17:01] phet-steele commented on #380
@jonathanolson other than phetsims/scenery#464, there's not really any issues cropping up for me on Win 8 after some pretty thorough testing. There was something in the first versions posted in this issue, but I can't reproduce in the subsequent versions.

[2015-09-30 19:41] samreid commented on #379
I reviewed and commented in the scenery-phet issue, closing.

[2015-09-30 19:41] #379 closed

[2015-09-30 20:37] ariel-phet opened #381 "Draft email to trusted translators to update profile"
@oliver-phet and @ariel-phet should draft an email to the trusted translators to have them update their profile in anticipation of us opening up HTML5 sims to translation (since profiles must be properly updated for us to make users a trusted translator)

[2015-09-30 22:53] jbphet commented on #355
These look great!  A few comments:
+ Let's make the male teach a bit more African-American looking.  That was the intent with the original artwork, though it may not have come across very clearly
+ The perspective on the face of the female teacher looks a little off to me, making it look like she is kind of half-smiling.  Can this be improved?
+ We'll need standing versions too, despite the title

[2015-10-01 14:47] ariel-phet commented on #369
@pixelzoom - looks like RC testing can now proceed, please publish the RC version and test matrix and assign back to me once ready and in the issue.

[2015-10-01 14:47] ariel-phet commented on #375
Looks like we can get this redeploy testing going. Lets begin with Molarity.

[2015-10-01 14:50] ariel-phet commented on #380
testing complete, plan to leave IE 10 as will not fix.

[2015-10-01 14:50] #380 closed

[2015-10-01 14:50] ariel-phet commented on #375
with caveat that https://github.com/phetsims/chipper/issues/342 is not a blocking issue

[2015-10-01 16:33] amanda-phet commented on #319
Looks perfect to me! We'll add this to the queue of website changes.

[2015-10-01 16:43] mariahmaephet commented on #319
@amanda-phet uploaded to drive (phetgirl404page)

[2015-10-01 16:58] mariahmaephet commented on #355
Are these better?

<img width="1073" alt="screen shot 2015-10-01 at 10 57 54 am" src="https://cloud.githubusercontent.com/assets/11527557/10227566/527e9ee8-682b-11e5-8a17-998aaaca96cc.png">

[2015-10-01 17:05] pixelzoom commented on #378
How is this a module system?
AMD is a module system, and is API specification is implemented by requirejs.

If it's indeed a module system, then why do we need requirejs?  Or why would we want to have 2 module systems?

[2015-10-01 17:06] pixelzoom commented on #378
And what is the advantage (other than the syntactic convenience described in https://github.com/phetsims/tasks/issues/378#issuecomment-144197582) of combining namespace and inheritance responsibilities?

[2015-10-01 17:08] samreid commented on #378
Every time we call inherit, we also want to add something to the namespace.  Hence it seems like an opportunity to factor something out.

[2015-10-01 17:22] pixelzoom commented on #378
... and we want to add things to the namespace that have nothing to do with inheritance. Again, sounds like combining responsibilities that should be decoupled.

[2015-10-01 17:57] ariel-phet opened #382 "Updating testing devices and asset matrix to reflect"
We our updating our supported devices/platforms

We our dropping IE10 support, only supporting Safari 9+, and dropping OSX 10.8

You can see the supported platforms in the example testing matrix.

We are going to be able to start RC testing of our redeploys today so it would be good to get devices in line.

https://docs.google.com/spreadsheets/d/1vk0QUOOOj_Jr4ePVgwiQ5L7HOsvgor7jkbNYqmCVWnQ/edit#gi

[2015-10-01 18:34] oliver-phet commented on #381
Dear [translator's name],
We are excited to announce that very soon a new translation utility for our HTML5 sims will be available!

We have made a simple web interface for translating our HTML5 sims, and we would like to invite you to begin translating as we enable translatability in our HTML5 sims.

In order to grant you access to the new utility, we need to ensure your PhET website profile has

[2015-10-01 19:17] ariel-phet commented on #381
Dear [translator's name],
We are excited to announce that very soon a new translation utility for our HTML5 sims will be available! This new utility is a simple web interface for translating our HTML5 sims, and at first, we will only be granting access to one translator per language/locale.

As a first step, we need to ensure your PhET website profile has been updated.
1. Please visit http://phet.

[2015-10-01 19:18] ariel-phet commented on #381
@oliver-phet what do you think about the above edits?

[2015-10-01 19:32] emily-phet commented on #285
I met with Dave Underwood to discuss refining these a bit. He's going to take a look at them.

[2015-10-01 19:33] emily-phet commented on #266
I met with Dave Underwood to discuss designing a template for PhET posters that are more on the slick/promotional end of the poster spectrum. He's planning to a draft something up.

[2015-10-01 19:34] emily-phet commented on #176
I met with Dave Underwood to discuss these. He's planning to tweak some, and draft something new for others.

[2015-10-01 19:35] oliver-phet commented on #321
@arnabp Can you double check that all of the questions are present in the surveys? I noticed that the Physics survey was missing the question "I find that reading the text in detail is a good way for me to learn physics." (I fixed it, but check BIO and CHEM)

[2015-10-01 19:36] emily-phet commented on #176
@ariel-phet - can we change the timeline on this? It would be great to have these ready to go in the next month or so. I'm going to start churning out new accessibility materials (e.g., more presentations, updating PhET's accessibility page, working with Jesse on developer material for general sharing) and it would be great to have these ready to add in to these materials.

[2015-10-01 19:38] ariel-phet commented on #176
Sure, I imagine @daveunderwood will iterate quickly

[2015-10-01 19:42] emily-phet opened #383 "Flyer Design for Interview Recruiting - by Oct. 19th."
We're going to start putting up flyers around Boulder to ask for interview participants with disabilities. It would be great to have a nicely designed, high contrast, flyer. It would be great to have this finalized by October 19th.

Here's the content that will need to be included:

________________________________________________________________________________
Volunteers Needed! The PhET Interac

[2015-10-01 19:47] oliver-phet commented on #381
That looks good. Ready to be sent to trusted translators?

[2015-10-01 20:48] ariel-phet commented on #381
yes, go ahead and send, and then close the issue, thanks!

[2015-10-01 21:18] elisemorgan commented on #382
@ariel-phet for OS X 10.9.5 and 10.10.5 it is not possible to update safari without updating the OS because they are bundled together

[2015-10-01 21:29] ariel-phet commented on #382
@elisemorgan - OK, don't update, we will get someone to look into it. Maybe @arnabp can figure out a workaround.

@arnabp do you know of (or can find a way) to just update safari?

[2015-10-01 21:31] #381 closed

[2015-10-01 21:35] elisemorgan commented on #382
![screen shot 2015-10-01 at 3 33 22 pm](https://cloud.githubusercontent.com/assets/12610678/10234443/da515600-6851-11e5-913f-89da0473dae6.png)
@arnabp If I select only the Safari update, will it not update the OS X? The wording isn't very clear so I'm cautious. This is on Jordan

[2015-10-01 21:48] pixelzoom commented on #369
Test matrix:
https://docs.google.com/spreadsheets/d/1nXLDYtyugguh2kG23atx9zwECCGEtk-Pbs2Gj27e8vc/edit#gid=1389496089

Links to RC version are in the test matrix.

[2015-10-01 21:52] pixelzoom commented on #375
Test matrix:
https://docs.google.com/spreadsheets/d/1TGckOBNmvdCQvuHQCZ0hK5mOfAU_WdidNbirI24DJI0/edit#gid=1766847255

Links to RC version are in the test matrix.

[2015-10-01 21:53] pixelzoom commented on #375
As part of testing this candidate, please verify that change https://github.com/phetsims/scenery/issues/472 has not affected non-iPad platforms.

[2015-10-01 22:14] elisemorgan commented on #382
Trying to install 10.11 on Dirac but I need an administrator password. Nothing on the asset spreadsheet or Unfuddle is doing the trick. Any suggestions?

[2015-10-02 01:13] ariel-phet commented on #382
@oliver-phet do you know the administrator password for this machine?

[2015-10-02 01:20] ariel-phet commented on #369
@phet-steele @bryo5363 @elisemorgan @orejolaphet

Yeah! we are ready to try to publish some new sims and republish our old HTML5 ones finally. Please make this testing and molarity testing a high priority.

[2015-10-02 01:23] ariel-phet commented on #375
**Developer**
- [ ] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues with a milestone.
- [ ] Look over @pixelzoom's revamped code review checklist, decide if code review should be redone
- [ ] Review and update licensing info (source code and images/audio)
  - [ ] Double check relevant entries in https://github.com/phe

[2015-10-02 01:26] ariel-phet commented on #375
@elisemorgan @bryo5363 @orejolaphet @phet-steele
please test this sim at a similar priority level to hooke's law

@amyh-phet please hop in on testing this sim (even just on your work computer browsers is fine, should be fairly quick...but check in places like the about dialog and such for bugs)

@pixelzoom - please check off items done above (I believe you already took care of all prepublication i

[2015-10-02 14:59] samreid commented on #378
Not to belabor the point unnecessarily, but I do want to understand your perspective: If I have a situation where every time x() is called y() must also be called, we should not necessarily create a method that calls both x() and y()?

[2015-10-02 15:45] aaronsamuel137 commented on #375
Testers, please let me know when this is finished so I can finish https://github.com/phetsims/scenery/issues/472

[2015-10-02 16:38] jonathanolson commented on #378
This hasn't been true for Scenery, but that could be an argument for refactoring things into separate (30+) more files.

[2015-10-02 18:03] arnabp commented on #382
@elisemorgan updating safari there will be totally fine. The only time you get a major OS iteration upgrade will be in the form of its own application called by the installer (eg "Install OS X Yosemite"). As long as you're in no such application all installations will be for specific software as opposed to major OS updates.

I'm installing 10.11 on Dirac now.

[2015-10-02 19:15] samreid commented on #378
Trying to get context on your comment, I found inherit calls in scenery like this:
[code]

CircleDOMDrawable is somewhat of an inner class--should it be put on the namespace?

Also, I think the issue of separate files is separate from namespacing (we could namespace multiple things from a single file if we wanted to).

[2015-10-02 21:51] pixelzoom commented on #375
@ariel-phet These 5 items from the checklist in https://github.com/phetsims/tasks/issues/375#issuecomment-144894353 should be done *before* publishing a release candidate, and they are currently *not* checked. Should the RC test be halted?

- [ ] Look over @pixelzoom's revamped code review checklist, decide if code review should be redone
- [ ] Review and update licensing info (source code and ima

[2015-10-02 21:54] pixelzoom commented on #375
Btw... I'm not in a position to confirm whether PhET's third-party license information is correct. Someone from PhET will need to verify that information.  The license info is *complete* because the sim builds without error, but that doesn't mean that it's correct.

[2015-10-02 22:04] ariel-phet commented on #375
@pixelzoom when you said this sim was ready to go for redeploy RC I had assumed you had looked over the S2015R redeploy checklist. Apparently that was not a good assumption. Not much testing has occured so far, so see what you can check off.

And though you are not in a position to *confirm* if the information is correct, please note anything suspicious :smile_cat:

[2015-10-02 22:08] pixelzoom commented on #378
Just because 2 responsibilities both happen to be done in many situations doesn't mean that those responsibilities should be combined into 1 type that handles both responsibilities. The responsibilities should be related, and with clear advantages to handling them both in one type. I have yet to hear the answer to my original question: How are namespace and inheritance related, and what is the adv

[2015-10-02 22:08] ariel-phet commented on #375
In addition since the was your port, I figure it probably passes the code review checklist you developed...

[2015-10-02 22:13] samreid commented on #378
A and B are related if every time A happens, B also happens.

It is under discussion whether we want to namespace every type or not: https://github.com/phetsims/tasks/issues/378#issuecomment-145129656

Easier to remember, less opportunity for manual error, factoring out duplicated code, that sort of thing.

[2015-10-02 22:20] pixelzoom commented on #375
Sorry, I didn't know that there was such a checklist.

Everything checks out OK. I did not see anything obviously wrong with third-party-licenses.md, but cannot verify the correctness of the information therein.

OK to proceed with RC test.

[2015-10-02 22:21] pixelzoom commented on #378
Could we possibly get some other opinions on whether namespace and inheritance responsibilities should be combined? @jonathanolson @jbphet @aaronsamuel137 @jessegreenberg ?

[2015-10-02 22:29] ariel-phet commented on #375
We developed the checklist awhile back in a dev meeting (but that was some time ago)...will paste it in to future.

[2015-10-03 15:41] samreid commented on #378
I took pattern (3) for a test drive (in my working copy only--won't commit) by putting Namespace.js (from function-builder) in phet core, creating a sceneryPhet namespace in scenery-phet, adding the ResetAllButton to the namespace and adding this assertion to TogetherCommon.js

[code]

The assertion worked properly.  Notes and thoughts:
(1) IDEA marks phet.sceneryPhet as unresolved:
![image](https

[2015-10-05 14:51] daveunderwood commented on #383
Two ideas: one kind of unusual, one very predictable:

[volunteers.pdf](https://github.com/phetsims/tasks/files/7758/volunteers.pdf)
[volunteers_2.pdf](https://github.com/phetsims/tasks/files/7761/volunteers_2.pdf)

[2015-10-05 16:17] elisemorgan commented on #382
@arnabp That worked for Jordan, but Dirac and Curie do not have an individual update displayed for safari. Any suggestions?

[2015-10-05 17:59] arnabp commented on #382
Hm, that's odd, there's nothing in the app store huh? I will be able to give it a look tomorrow afternoon.

[2015-10-05 19:14] amyh-phet opened #384 "Balance for Isotopes and Atomic Mass"
@ariel-phet   Can we have Mariah work on creating a new balance for Isotopes and Atomic Mass?

![electronic_balance](https://cloud.githubusercontent.com/assets/13650180/10290507/d48f36a2-6b61-11e5-9f8f-59d9e24b45a5.jpg)

Above is a picture to give an idea of what we would like the artwork to emulate.  Here is what the current balance looks like:
![old_balance_isotopes](https://cloud.githubusercont

[2015-10-05 23:23] pixelzoom commented on #378
Done in above commit.

[2015-10-06 00:35] jonathanolson commented on #378
and:

I've been using "Nested" packaging, assigning things that would appear as scenery.Circle.CircleDOMDrawable. Since Circle is a function, it can't really be a new Namespace, right? If CircleDOMDrawable isn't handled with namespacing, I would have an explicit "inherit called but no namespacing done", which would argue that namespacing and inheritance should be separate. I'm curious about how th

[2015-10-06 01:25] jessegreenberg commented on #378
I tested out options 1 and 3, and my preferences is also for option 3.  I like the idea of having an explicit Namespace file in phet-core for isolation and documentation.  The use of  ```register``` reduced the number of references to the name space at the end of the file:

Option 1 in capacitor-lab-basics:
[code]
Option 3 in molecules-and-light:
[code]
I am a unclear about how many types will nee

[2015-10-06 17:15] samreid commented on #378
Consensus, we'll use `functionBuilder.register( 'PatternsModel', PatternsModel );` as a single line immediately after the declaration of the constructor, with a blank line between the last `{` of the constructor and the `register` call.

[2015-10-06 17:16] pixelzoom commented on #378
I'll move Namespace.js to phet-core.

[2015-10-06 17:28] samreid commented on #378
Consensus: namespace will be applied to every top-level class.  It will be up to developers whether they want to revisit pre-existing code.  For nested types, we'll use a strategy like:

[code]

[2015-10-06 17:29] samreid commented on #378
Consensus: @jonathanolson will test out this strategy in scenery, kite & dot and report back before we instrument other sims.

[2015-10-06 17:30] pixelzoom commented on #378
@samreid pointed out that we need to handle nested types, e.g. beers-law-lab.ATDetectorNode.

@jonathanolson will handle scenery, dot and kit first, in case there are issues with using this pattern to replace the namespacing in those repos.

[2015-10-06 17:46] pixelzoom commented on #378
Make Namespace.register parse for '.' separators.  Eg in scenery.Circle, something like:

[code]

[2015-10-06 19:37] jbphet commented on #355
Better.  It would be good if the male teacher's hair was a bit more curly.  As for the standing people, they look great, but I think their pose might take up a bit too much horizontal space with the hands on their hips, since space is pretty tight on the carousel.  See the screenshot below.
![ba-people-in-carousel](https://cloud.githubusercontent.com/assets/3082831/10320161/46a4671c-6c2f-11e5-8fc5

[2015-10-06 20:14] arnabp commented on #382
To get the notification for the Safari 9.0 update you have to download and install all other existing OS updates first. I went ahead and did that, Dirac and Curie are now up to date on Safari 9.

[2015-10-06 20:24] ariel-phet commented on #382
@arnabp can you take care of any other devices also included in this issue?

[2015-10-06 20:32] ariel-phet commented on #355
@mariahmaephet - I think you can also give him a bit more of a "fro" - a little more volume to his hair.

[2015-10-06 20:39] ariel-phet commented on #355
@mariahmaephet - @jbphet also requested a PhET t-shirt on either the boy or girl (or both). The one complication is that then the right facing and left facing images will not just be reflections (or the text is going the wrong way. So you probably need to reflect, and then redo the PhET logo. Does that make sense?

[2015-10-06 21:27] emily-phet commented on #383
@daveunderwood - These are really cool! I particularly like the second one (high contrast and probably easier to print). We don't need the IDRC logo, so just the PhET logo will be fine.

[2015-10-06 22:56] amanda-phet commented on #319
Great. Thanks @mariahmaephet !

[2015-10-06 22:56] #319 closed

[2015-10-07 17:25] aaronsamuel137 commented on #362
I think enough testing has been done on this. @samreid and I decided it is okay to merge the new branch into master. Closing

[2015-10-07 17:25] #362 closed

[2015-10-07 18:53] arnabp commented on #382
My attempts to update Magnus ended in the entire partition getting corrupted, and Dirac is refusing to recognize that a Safari 9 update exists on its Yosemite partition for reasons I can't comprehend. Turing was updated to Safari 9 successfully.

[2015-10-07 19:26] ariel-phet commented on #382
Is it possible a clean install is necessary on those partitions with the desired OS?

[2015-10-07 21:29] jessegreenberg opened #385 "RC Test: Molecules and Light 1.1.0-rc.4"
New release candidate for Molecules and Light is deployed to spot and ready for testing.

**Test Matrix:** https://docs.google.com/spreadsheets/d/1SIuHF5V4TPR-H2FHugvL52cB6MvQ60gYgg-W-88A6mg/edit#gid=553184252

**Link to RC version:** http://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.1.0-rc.4/molecules-and-light_en.html

**Link to iframe:** http://www.colorado.edu/physics/phet/de

[2015-10-07 21:31] ariel-phet commented on #385
**Developer**
- [ ] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues with a milestone.
- [ ] Look over @pixelzoom's revamped code review checklist, decide if code review should be redone
- [ ] Review and update licensing info (source code and images/audio)
  - [ ] Double check relevant entries in https://github.com/phe

[2015-10-07 21:32] ariel-phet commented on #385
@jessegreenberg please look over the above list, and lets make sure everything is check off on the dev side before RC testing commences. If something needs attention, please address, publish a new version and edit the links above as necessary.

[2015-10-08 00:20] mariahmaephet commented on #355
@ariel-phet @jbphet  How do these look? I wasn't sure how exactly you wanted the PhET tshirt to look--using the official logo looks a little weird cause it doesn't match the cartoon style. The original characters just had basic font.

<img width="1047" alt="screen shot 2015-10-07 at 6 18 10 pm" src="https://cloud.githubusercontent.com/assets/11527557/10354701/eeefbafc-6d1f-11e5-9189-75b524ad9a33.p

[2015-10-08 00:30] ariel-phet commented on #355
Looks good to me....what say you @jbphet ?

[2015-10-08 19:50] jonathanolson opened #386 "Test for Balloons and Static Electricity (manually patched 1.0.1)"
URL for version to test: http://phet.colorado.edu/sims/html/balloons-and-static-electricity/1.0.1/balloons-and-static-electricity_en.html

Can we have brief testing for each platform below, to see whether the sim launches and whether you can drag the balloon like normal. I'd like testing for the "online" and "downloaded" forms for each platform. I'm imagining ~15 seconds of testing once the sim ha

[2015-10-08 20:32] ariel-phet commented on #386
@elisemorgan do you have time for this test this afternoon?

[2015-10-08 20:48] ariel-phet commented on #382
@arnabp did you see my comment above?

[2015-10-08 20:49] ariel-phet commented on #383
@emily-phet I saw that @daveunderwood sent you some files in regards to this task. If all looks good can you close?

[2015-10-08 20:58] oliver-phet commented on #382
I do think a clean install will be necessary. @arnabp Could we make a timemachine of Dirac and use that to restore Magnus?

[2015-10-08 21:25] ariel-phet commented on #386
@phet-steele - if this task is not complete, please work on it first thing Friday morning, thanks!

[2015-10-08 21:33] jbphet commented on #355
These look good.  Let's leave it at this for now, and I'll integrate these into the Balancing Act simulation when it comes up for redeployment and will see if any other changes are needed.

@mariahmaephet - can you please send me the .ai files?  Thanks.

[2015-10-09 01:15] elisemorgan commented on #386
@phet-steele please test on the remaining devices since I don't have access to them. For future reference @ariel-phet how should I be testing Win 10? Asset inventory doesn't list devices running on that OS

[2015-10-09 01:23] ariel-phet commented on #386
Good question @elisemorgan! I think most of the win 10 testing had been taking place on personal machines, but PhET should get a dedicated Win 10 machine. I will look into it.

[2015-10-09 01:24] ariel-phet opened #387 "Win 10 machine"
@oliver-phet we probably need to purchase another windows laptop for testing windows 10. Can you look into (or have @arnabp look into) purchasing a reasonably priced laptop? I don't think we have any machines that would currently be a good candidate.

[2015-10-09 16:14] bryo5363 commented on #387
I have a windows 10 device that I use for testing now. Any windows 10 tasks can be assigned to me

[2015-10-09 16:18] ariel-phet commented on #386
@bryo5363 - if possible help finish off the Win 10 stuff here

[2015-10-09 16:18] phet-steele commented on #386
@ariel-phet yea I can't actually do anything pending getting devices for the last four tests. This issue wants an iPad 3 with iOS 9, but our only iPad 3 is iOS 8.3. We only have an iPad 2 that is iOS 9. I could update this iPad 3 if we want to, but we would lose our only iPad 3 + iOS 8.3 combination.

[2015-10-09 16:28] ariel-phet commented on #386
@phet-steele yes, please update the ipad3 to iOS 9 and update the asset matrix. We want to make sure we have an iPad2 on iOS 8.3, but the iPad3 should be on the latest.

[2015-10-09 16:36] bryo5363 commented on #386
Everything looks great on Windows 10

[2015-10-09 16:47] phet-steele commented on #386
@jonathanolson I can't get the downloaded version to finish loading on IE11 (Win 8.1)

[2015-10-09 16:53] elisemorgan commented on #386
I observed the same behavior on Win 8 IE 11 but thought it was slow
internet because when I opened it a second time it was fine.

On Friday, October 9, 2015, phet-steele <notifications@github.com> wrote:

[2015-10-09 17:08] phet-steele commented on #386
Online version of iPad3 iOS 9 was fine, but the downloaded version had this as a loading screen after refreshing:
![img_0077](https://cloud.githubusercontent.com/assets/5863899/10400440/fb32b93e-6e75-11e5-93d1-74a0ef29041e.PNG)

And dragging the balloon revealed a second balloon behind the first that is unresponsive:
![img_0076](https://cloud.githubusercontent.com/assets/5863899/10400445/00c251f2-

[2015-10-09 17:20] bryo5363 commented on #386
I noticed this behavior as well

On Microsoft Edge we see the same thing...

<img width="937" alt="balloons" src="https://cloud.githubusercontent.com/assets/7717368/10400735/5fdd1fc0-6e6f-11e5-988d-6301fe163486.png">

[2015-10-09 17:26] phet-steele commented on #386
@jonathanolson as an update to my previous comment about IE11 on Win 8.1, I came back to it after awhile and it had loaded. However, it takes at least 5 minutes to load (that's how long I waited until I got bored and did other things).

[2015-10-09 18:24] pixelzoom commented on #360
Unassigning for now. I'll revisit when I start adding animation to function-builder.

[2015-10-09 20:17] jbphet opened #388 "Dev test Neuron 1.0.0-dev.13"
This sim is getting closer to being ready for a release candidate, but I thought it would be good to do a round of dev testing first so that I can fix anything that is found on master prior to creating an rc branch.

Please test this version, looking primarily for functional issues:
http://www.colorado.edu/physics/phet/dev/html/neuron/1.0.0-dev.13/neuron_en.html

[2015-10-10 05:26] jonathanolson commented on #386
For all mentioned issues, can you test the published website version of the sim (http://phet.colorado.edu/sims/html/balloons-and-static-electricity/latest/balloons-and-static-electricity_en.html) to see if it has the same issue?

[2015-10-10 05:29] jonathanolson commented on #386
Sounds like https://github.com/phetsims/joist/issues/164, presumably was still a problem in the old version.

[2015-10-10 17:45] mariahmaephet commented on #355
@jbphet How would you like me to send that to you? It's currently in my google drive folder if you have access to that (PhET Ai files > Design Assets > Mariah Artwork 'sitting phets.ai')

[2015-10-12 15:36] jbphet commented on #355
Thanks @mariahmaephet - I can see the file, and will look at it in greater detail later today.

[2015-10-12 15:58] emily-phet commented on #266
@daveunderwood - I'll need to have a finished poster printed on October 21st. Do you think you'll have time to work on a template this week?

[2015-10-12 16:41] elisemorgan commented on #375
@bryo5363 please test on Win 10. This one is quick and easy

[2015-10-12 17:06] bryo5363 commented on #375
completed win 10 testing. noticed one issue on edge; posted to the repository

[2015-10-12 17:40] ariel-phet commented on #386
@elisemorgan see @jonathanolson comment above. For the issue can you test the version on the website and see if these issues also exist in the published version?

[2015-10-12 17:51] arouinfar commented on #196
New pump has been implemented in States of Matter. Closing.

[2015-10-12 17:51] #196 closed

[2015-10-12 18:01] emily-phet commented on #266
@daveunderwood - I found a cool magazine layout that could be adapted into a nice template.
<img width="1290" alt="screen shot 2015-10-12 at 11 52 08 am" src="https://cloud.githubusercontent.com/assets/5109055/10434729/91b8d186-70d8-11e5-9aef-2e165d9a277d.png">

I'm imagining the upper right area could have images/graphs layed out in an aesthetically pleasing way, with each labeled by a number tha

[2015-10-12 18:06] arouinfar opened #389 "Investigate the disappearance of git-pull-all.sh"
I tried to pull all repos from Bates using the git-pull-all.sh command from within the git-dev directory, but it looks like that script doesn't exist anymore. Can you take a look and see if the script has been renamed? Once you get down to the bottom of the situation, it'd be best to update the "Using Phettest" google doc with the appropriate command to pull all repos.

[2015-10-12 18:19] emily-phet commented on #266
@daveunderwood - note, poster dimensions for my upcoming poster are a max of 3 feet wide x 4 feet high. Anything inside that will work.

[2015-10-12 20:26] pixelzoom commented on #375
@ariel-phet I see "RTL language test" in the checklist inhttps://github.com/phetsims/tasks/issues/375#issuecomment-144894353. Can you please clarify what that is, and how QA is supposed to accomplish it?  If you mean to test with an RTL language, that's going to be impossible until we have translations.

[2015-10-12 20:31] emily-phet commented on #266
I made an Powerpoint Presentation that contains the content for the poster. If @daveunderwood has time to work on a template this week, perhaps @mariahmaephet could add the content starting early next week? Would that work?
[ASSETS-Poster-Draft.pptx](https://github.com/phetsims/tasks/files/11992/ASSETS-Poster-Draft.pptx)

[2015-10-12 21:42] ariel-phet commented on #375
@pixelzoom yes RTL is (right-to-left) language test. We did some of this testing previously in rosetta when on phet-dev. Can't it also be done using query parameters?

[2015-10-12 21:58] pixelzoom commented on #375
I don't know of any query parameter support for RTL testing, and there is nothing indicated in chipper/initialize-globals.js - which is where all query parameters are documented.   So this sounds like new functionality.  I have no knowledge of how/whether this was done in Rosetta.

[2015-10-12 21:59] pixelzoom commented on #375
@jbphet or @aaronsamuel137 can you please comment on what RTL testing was done in Rosetta, and whether anything is currently available for general RC testing of sims.

[2015-10-12 22:15] ariel-phet commented on #375
@pixelzoom - when using rosetta and the "test" button I believe it injects all the strings into the sim using query parameters.

Here is an example of chains:

http://phet-dev.colorado.edu/sims/html/chains/latest/chains_en.html?strings=%7B%22CHAINS%2FplainString%22%3A%22test%22%2C%22CHAINS%2FmultilineString%22%3A%22asdas%22%2C%22CHAINS%2FhtmlString%22%3A%22Left%20%3Ci%3Ered%3C%2Fi%3E%20is%20a%20%3

[2015-10-12 22:16] ariel-phet commented on #375
I figured we would do a bit of this sort of testing on the first few published redeploys, make sure there are no major issues, and then take this piece off the checklist.

[2015-10-12 22:20] pixelzoom commented on #375
Expecting the QA team to provide a specific RTL string has the same problems that the "long string" test did (see https://github.com/phetsims/chipper/issues/381).  Different strings will be used, and results will be inconsistent. I recommend adding a `stringTest=rtl` query parameter that substitutes a consistent RTL string for all strings (with a chipper issue to request this feature).  And I'd al

[2015-10-12 22:21] ariel-phet commented on #375
Sounds good.

[2015-10-12 23:14] ariel-phet commented on #386
@elisemorgan forget previous comment. Looks like fixing this file is going to need to wait until redeploy. Closing.

[2015-10-12 23:14] #386 closed

[2015-10-13 01:06] daveunderwood commented on #266
Hey Emily, I think this will be a piece of cake. I'm thrilled that you're looking for inspiration in editorial layout. Very cool!! I'm off until Wednesday, then we'll hit it hard. And if we pull a useful template out of this, even better! D

[2015-10-13 02:42] aaronsamuel137 commented on #375
If I remember correctly, @jbphet did some rtl testing with rosetta, so I am not sure that we need to do it for every sim. There is not an easy way for the testers to use rosetta's test feature to test this, since the sim would need to be deployed to show up in rosetta.

If we want rtl testing, I think @pixelzoom's suggestion to add a stringTest=rtl option is the best way to go.

[2015-10-13 14:28] ariel-phet commented on #388
@orejolaphet looks like you are available today, can you do some dev testing on the following:

- [ ] iPad2 iOS9
- [ ] Windows Chrome
- [ ] Mac OSX Safari

[2015-10-13 14:29] ariel-phet commented on #355
@jbphet - if all looks good please close this issue

[2015-10-13 15:37] pixelzoom commented on #334
It's been 34 days since this set of sims was ready, and we're redeployed zero. According to @ariel-phet (10/12 phone call), there's been a change in plans - due to other development priorities, sims are going to be redeployed when we have time. So recording the dates (as I proposed in https://github.com/phetsims/tasks/issues/334#issuecomment-142684925) serves no purpose at this point.

[2015-10-13 16:44] ariel-phet commented on #375
@elisemorgan can you wrap up testing on the remaining platforms today?

[2015-10-13 17:36] elisemorgan commented on #375
Yes if I can get my hands on the iPads. @arouinfar @jbphet If you're not going to still be in the office after four can you put the iPads (2 and 3 w/iOS9) on the QA shelf?

[2015-10-13 17:39] arouinfar commented on #375
@elisemorgan, I've returned Tycho to the QA shelf.

[2015-10-13 17:56] elisemorgan commented on #375
@ariel-phet All major platforms have been tested

[2015-10-13 18:18] ariel-phet commented on #375
excellent, closing. We will need one more RC for this sim, but should be a quick test.

[2015-10-13 18:18] #375 closed

[2015-10-13 18:36] ariel-phet commented on #369
@elisemorgan also would be good to finish off this testing. Again will need one more RC, but should be pretty quick.

[2015-10-13 19:47] pixelzoom commented on #375
@ariel-phet said:

Not the case.  We need to pull in master of all common-code repositories to pick up critical bug fixes. And there have been 168 changes (and counting) to repos since 1.2.0-rc.1 was published.  So unless you want to inspect 168 commits and decide which ones need to be tested (and specify how to test them), we will need a *full* test suite for the next RC version.

[2015-10-13 19:52] pixelzoom commented on #369
@ariel-phet said:

Again, not the case.  We need to pull in master of all common-code repositories to pick up critical bug fixes. And there have been 168 changes (and counting) to repos since 1.2.0-rc.1 was published.  So unless you want to inspect 168 commits and decide which ones need to be tested (and specify how to test them), we will need a *full* test suite for the next RC version.

[2015-10-13 20:38] ariel-phet commented on #369
@pixelzoom - yes I am aware it will be a full RC test, but I do anticipate it being fairly quick in the grand scheme of things.

[2015-10-13 20:47] ariel-phet commented on #369
Quick as in the model is now well vetted, so we will mainly be looking for interaction bugs/rendering bugs etc.

[2015-10-13 21:36] pixelzoom commented on #378
In case someone is planning to look at my namespace "test drive" described in https://github.com/phetsims/tasks/issues/378#issuecomment-144192399... I've removed it from function-builder.

[2015-10-13 22:41] elisemorgan commented on #369
@phet-steele Can you still do the Win 8 testing?

[2015-10-13 23:08] arouinfar commented on #389
It looks like the script has been renamed pull-all.sh and is functional. The Using Phettest google doc has been updated accordingly. Closing.

[2015-10-13 23:08] #389 closed

[2015-10-14 15:49] jbphet commented on #355
Closing.  Will reopen or create a new issue if any of these images don't end up working well when integrated into Balancing Act.

[2015-10-14 17:20] daveunderwood commented on #266
See if this looks okay. I'm dropping in two versions - a PPt and a jpg - to avoid machine-to-machine discrepancies w/ fonts. It should look like the jpg, which specs w/ Calibri and Times. Thanks, D
[FROM_DAVE.pptx](https://github.com/phetsims/tasks/files/13415/FROM_DAVE.pptx)
![slide1](https://cloud.githubusercontent.com/assets/13662881/10491766/81e7dc82-7265-11e5-97e7-8e73c839f384.jpg)

[2015-10-14 17:22] pixelzoom opened #390 "RC test: Molarity 1.2.0-rc.2"

[2015-10-14 19:35] arnabp commented on #382
Magnus will almost certainly need a clean install and I may try to just reinstall Yosemite on Dirac. Does Magnus has important information that we need to use Time Machine for?

[2015-10-14 19:46] oliver-phet commented on #382
@arnabp and I discussed today. He's going to do a fresh wipe and a new time machine backup so that if this happens again it can be easily fixed.

[2015-10-14 19:57] ariel-phet commented on #333
Closing this issue...we will have the updated checklist when we are ready for the newest RC.

[2015-10-14 19:57] #333 closed

[2015-10-14 21:37] pixelzoom commented on #390
Checklist for S2015R milestone (GitHub issues labeled "Summer 2015 redeploy")

**Developer**
- [ ] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues with a milestone.
- [ ] Look over the code review checklist, decide if code review should be redone, https://github.com/phetsims/phet-info/blob/master/checklists/code_revie

[2015-10-14 21:56] pixelzoom commented on #390
Test matrix:
https://docs.google.com/spreadsheets/d/1TGckOBNmvdCQvuHQCZ0hK5mOfAU_WdidNbirI24DJI0/edit#gid=2010012600

Links to the RC version are provided in the test matrix (upper left).

I spot tested on the following platforms:
• iPad2 + iOS 9.0.2 + Safari
• Mac Pro + OS X 10.10.5 + Safari
• Mac Pro + OS X 10.10.5 + Chrome
• Mac Pro + OS X 10.10.5 + Firefox

In addition to completing the test m

[2015-10-14 21:57] pixelzoom commented on #390
@ariel-phet Ready for RC testing.

[2015-10-14 22:15] ariel-phet commented on #390
@elisemorgan @bryo5363 @orejolaphet @arnabp @phet-steele @amyh-phet

**Please make this sim top testing priority**

 we want to move this testing along efficiently so for instance @arnabp and @amyh-phet if you have some time tomorrow please hop in on some platforms.

Many common code changes have occurred since the last RC. These changes have been spotted checked, but please test thoroughly on all

[2015-10-14 22:22] ariel-phet commented on #390
I performed stringTests on chrome on windows, all appeared normal

[2015-10-15 01:13] jessegreenberg opened #391 "Dev Test: trig-tour 1.0.0-dev.18"
Trig Tour code review is complete and all issues have been resolved, except for
 - [x] phetsims/trig-tour#16 (i18n, solution pending design review)

dev.18 is deployed and ready for dev testing:
http://www.colorado.edu/physics/phet/dev/html/trig-tour/1.0.0-dev.18/trig-tour_en.html

If you would rather wait until phetsims/trig-tour#16 is closed, another version can be published testing at that time

[2015-10-15 14:06] elisemorgan commented on #390
@ariel-phet If no one has done Win 8 by this afternoon, is it ok for me to test this RC on Socrates?

[2015-10-15 14:19] ariel-phet commented on #390
@elisemorgan, Yes, that should be alright for this sim.

[2015-10-15 14:49] ariel-phet commented on #391
@elisemorgan if you have a little time today, this would be a great sim to dev test, although Hooke's law will be the priority (there will be an RC later today).

- [ ] iPad 2 iOS 9
- [ ] Windows Chrome
- [ ] Mac OSX Safari

[2015-10-15 14:51] ariel-phet commented on #273
@bryo5363 can you check this on your computer and edge, and report back, should be an easy test.

[2015-10-15 14:52] ariel-phet commented on #327
Closing, since with all the changes this sim will need to have another RC.

[2015-10-15 14:52] #327 closed

[2015-10-15 14:52] bryo5363 commented on #273
Yep I've got a decent block of class but I will let you know ASAP
On Oct 15, 2015 8:51 AM, "Ariel Paul" <notifications@github.com> wrote:

[2015-10-15 14:54] ariel-phet commented on #369
I finished off the Win 8 testing. Closing.

[2015-10-15 14:54] #369 closed

[2015-10-15 15:34] pixelzoom opened #392 "RC test: Hooke's Law 1.0.0-rc.2"
Checklist for S2015R milestone (GitHub issues labeled "Summer 2015 redeploy")

**Developer**
- [x] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues with a milestone.
- [x] Look over the code review checklist, decide if code review should be redone, https://github.com/phetsims/phet-info/blob/master/checklists/code_revie

[2015-10-15 15:40] pixelzoom commented on #392
Test matrix:
https://docs.google.com/spreadsheets/d/1nXLDYtyugguh2kG23atx9zwECCGEtk-Pbs2Gj27e8vc/edit#gid=464137285

Links to the RC version are in the test matrix (upper left).

I spot tested on the following platforms:
• Mac Pro + OS X 10.10.5 + Safari
• Mac Pro + OS X 10.10.5 + Chrome
• Mac Pro + OS X 10.10.5 + Firefox

In addition to completing the test matrix and QA check list (shown above),

[2015-10-15 15:41] pixelzoom commented on #392
@ariel-phet Ready for RC testing.

[2015-10-15 15:49] amyh-phet commented on #390
@elisemorgan  I can test Win 8 on my laptop this morning.   Can you test Win 10?

[2015-10-15 15:49] ariel-phet commented on #392
@elisemorgan @amyh-phet @arouinfar @bryo5363 @orejolaphet @phet-steele @bryo5363

Please make this sim the top testing priority once Molarity is finished up (looks like only a few platforms to go on that one)

[2015-10-15 16:17] ariel-phet commented on #390
@oliver-phet can you make the (somewhat crappy) windows 10 computer available for testers until we get the JB computer swap worked out?

[2015-10-15 16:28] amyh-phet commented on #390
@ariel-phet  if needed i can upgrade to Win 10 on my laptop if other computers can run Win 8.

[2015-10-15 16:30] elisemorgan commented on #390
@amyh-phet I don't have access to a Win 10 device but I can test on Win 8. So an upgrade on your device would be most convenient. Thanks for your help!

[2015-10-15 16:33] oliver-phet commented on #390
Win 10 computer has been added to the asset inventory (still needs label and name) and put in F1011.

[2015-10-15 17:15] ariel-phet commented on #390
@amyh-phet stay on win 8 for the moment. We need to do a bit of device musical chairs, and now we have a win 10 computer in the testing office

[2015-10-15 17:33] elisemorgan commented on #390
@ariel-phet All platforms have been tested

[2015-10-15 17:43] ariel-phet commented on #390
@elisemorgan can you look at the two remaining checkbox's? I have checked an iframe and it looked good. Can you test that and text rendering on edge? (I assume good since you saw no issues)

[2015-10-15 17:49] amyh-phet commented on #390
@ariel-phet   Will stay on Win 8

[2015-10-15 18:09] elisemorgan commented on #390
@pixelzoom phetsims/scenery#464 was reproducible. See phetsims/hookes-law#32

[2015-10-15 18:16] pixelzoom commented on #390
@elisemorgan OK, thanks.

[2015-10-15 18:37] pixelzoom commented on #390
Dev meeting decision: We will publish this with the iframe problem (phetsims/scenery#464), since it's better than what's currently on the website.

[2015-10-15 19:13] pixelzoom commented on #390
RC test complete and passed. Thanks everyone. Onward to 1.0.0.

[2015-10-15 19:35] pixelzoom commented on #390
Assigning to @ariel-phet to complete checklist items in https://github.com/phetsims/tasks/issues/390#issuecomment-148214213.

[2015-10-16 15:04] mariahmaephet commented on #297
@ariel-phet @amanda-phet comments on these and ideas for how the banner should be arranged?

I still want some sort of writing on the white board in the classroom scene but I'm still working on how to make it look good. Any ideas on what should be written?

<img width="598" alt="phet - skate park scene" src="https://cloud.githubusercontent.com/assets/11527557/10545024/b912ab86-73e3-11e5-8385-90c2a

[2015-10-16 16:37] ariel-phet commented on #297
Hey @mariahmaephet really coming along amazingly! A few comments/tweaks but overall super awesome!

1. In the math scene the two students seem to be looking off into the distance, maybe have them looking at the teacher or at their work?

2. In the math scene maybe make the student look much more obviously african-american. I think we want at least one character pretty dark skinned, and like the te

[2015-10-16 17:07] ariel-phet commented on #297
Here is an example of what the board should look like

http://images.wisegeek.com/chalkboard-geometry-shapes-and-equations.jpg

Definitely keep the triangle, but maybe replace the cylinder with  a rectangle with (A=L*w)

[2015-10-17 00:35] bryo5363 commented on #273
I tested Molarity 1.2.0-rc.2 offline and I did not notice the string loading issue that was present when I was online. The loading time was much faster as well.

[2015-10-17 00:58] ariel-phet commented on #273
Thanks @bryo5363

[2015-10-17 00:58] #273 closed

[2015-10-17 17:00] ariel-phet opened #393 "Cautionary Java Security Tale"
From the developer of Jmol:

Hello, PhET developers,

I am the principal developer of Jmol. I had a recent experience with my code signing certificate that I thought you should at least be aware of. It may be completely not relevant to you because you no longer feel Java applets are significant to your operation. In any case, I offer the following as a cautionary tale.

On October 15, 2015, all de

[2015-10-17 17:02] ariel-phet commented on #393
@samreid - please discuss at the next developer meeting and comment in this issue if there is anything we should be aware of for the near future. I checked Molecule Polarity (which I believe uses Jmol) and it runs just fine, I assume because it is a "stand-alone" Java application.

[2015-10-19 14:09] #390 closed

[2015-10-19 14:24] ariel-phet commented on #382
@arnabp - let us know when this task is complete, and thanks for getting the fresh installs and such done!

[2015-10-19 16:26] samreid commented on #393
@jbphet & I discussed this, and we've concluded we are at minimal risk for now since our SHA-1 certificate should continue to work until Jan 2017, and we are not too worried about our certificate being compromised by hash collisions or other issues that are making HTTPS website developers favor SHA-2.

Before we renew our certificate in late 2016, we will re-evaluate and see if SHA-1 is still suit

[2015-10-19 17:17] emily-phet commented on #266
@daveunderwood - I'm shifting from email to here, for tracking. I'm not sure if you're working today or not...perhaps @mariahmaephet can pick up from here?
Here are a list of tweaks that will be needed to finalize the specific version that needs to be printed by mid-day Wednesday.

- Change in headers: Header 1: "Interactive Simulations", Header 2: "Goals", Header 3: Progress, Header 4 could be ch

[2015-10-19 17:30] ariel-phet commented on #266
@emily-phet not sure if you will have @daveunderwood or @mariahmaephet time before Wednesday...feel free to ask @amyh-phet to help you finish off this task

[2015-10-19 17:32] amyh-phet commented on #266
@emily-phet
Let me know if I can help.

[2015-10-19 17:39] emily-phet commented on #266
@amyh-phet - if you have time to start implementing the changes I listed above, please go for it. My hope is that it won't take long - all of the structure is already in place if you can access @daveunderwood original files.

[2015-10-19 19:38] amyh-phet commented on #266
@emily-phet   working on implementing changes now.

[2015-10-19 20:17] ariel-phet commented on #392
I performed all string tests and multiple full screen tests. All looks good.

[2015-10-19 20:35] amyh-phet commented on #266
@emily-phet   Just wanted to check on poster dimensions.  3 foot wide, 4 foot high is the maximum but smaller is okay?  The current poster mock up looks to be 28 inches by 21 inches.   I would like to make it a bit larger (32 inches by 43 in would be the maximum but I can try to keep it smaller).   This would allow us to include larger graphs/pictures at the bottom of the poster.

[2015-10-19 20:37] amyh-phet commented on #266
@emily-phet    Sorry - maximum sizes would be 32 inches wide by 25 inches high.

[2015-10-19 20:50] amyh-phet commented on #266
@emily-phet  Sorry - maximum dimensions would be  31 inches wide by 24 inches high.

[2015-10-19 21:01] emily-phet commented on #266
@amyh-phet - the max dimension would be great. Were you imagining scaling it (for example, exporting to pdf and just setting the printed size from there) or trying to alter the powerpoint layout options to increase the size?

[2015-10-19 21:44] amyh-phet commented on #266
@emily-phet   Just checking on  max size - 3 foot wide x 4 foot high?   This would produce a portrait style layout rather than landscape.   I'm attaching a copy of the file which  I can easily size to fit a maximum size of 4 foot wide x 3 foot high (landscape orientation).

Let me know what else needs to be done for the poster.
[ASSETS_Poster_Draft_10_18_15.pptx](https://github.com/phetsims/tasks/

[2015-10-19 21:51] emily-phet commented on #266
@amyh-phet - Sorry, I think I was unclear. I meant to say that the max size you suggested (still in landscape) would be great. I'm not that picky for this one, so essentially if it's relatively easy for you to take what Dave did and make it slightly bigger (still with same ratios and landscape) that would be fine. If it's a lot of trouble, Dave's ppt sizing will also work.

[2015-10-19 21:51] amyh-phet commented on #266
@emily-phet   I did alter the layout a bit in powerpoint to increase size.   The file I sent is for a poster that is 31 inches wide by 24 inches high.  Will that work?

[2015-10-19 23:59] elisemorgan commented on #392
@ariel-phet All major platforms have been tested

[2015-10-20 00:19] ariel-phet commented on #392
Excellent, thanks @elisemorgan! Closing

[2015-10-20 00:20] ariel-phet commented on #391
@bryo5363 @orejolaphet please also hop on this dev test if you have time

[2015-10-20 02:26] mariahmaephet commented on #384
@ariel-phet @amyh-phet Sorry for the late response--how does this look?

<img width="457" alt="screen shot 2015-10-19 at 8 25 16 pm" src="https://cloud.githubusercontent.com/assets/11527557/10596259/918cb138-769f-11e5-9446-978539e5db8b.png">

[2015-10-20 12:55] samreid opened #394 "license should be a valid SPDX license expression"
Doing a build with latest npm/node, I'm seeing this new warning:

According to https://spdx.org/licenses/ 'GPL-3.0' is a license but we are using the string `GPLv3`.  We should probably change this to use the SPDX version.  Our MIT licenses seem ok.  @jonathanolson @jbphet @pixelzoom @aaronsamuel137 @jessegreenberg I'll schedule myself to work on this at medium priority unless/until I hear otherwi

[2015-10-20 13:36] amyh-phet commented on #384
Mariah -

Looks so much better than my drawing!   Thanks for your help.

[2015-10-20 13:37] amyh-phet commented on #384
@mariahmaephet   Looks so much better than my attempt!  Thanks for your help.

[2015-10-20 14:19] ariel-phet commented on #384
@mariahmaephet can you upload this file to drive?

[2015-10-20 14:49] daveunderwood commented on #266
I can help today also. I just sent Emily three JPG variations on the poster theme that add a little punch. It may be a bit late for this project, but I'd like to head toward a template that can help in the future. See what you think. Also, if you want, I'd be happy to re-do the bar chart so that it's a bit more sophisticated. Just say the word and let me know which color(s) you've decided on.

The

[2015-10-20 14:59] emily-phet commented on #266
@amyh-phet had started making some progress on finalizing this yesterday. @amyh-phet, I think I actually like the layout in the original sizing a touch better (not sure what feels different about the new one), so I think I'm fine going with the original, smaller size.

@daveunderwood - I like the one with the picture, and I believe we have some pictures with students standing and pointing to a pro

[2015-10-20 15:06] mariahmaephet commented on #384
@ariel-phet @amyh-phet Yep! It's in my folder (scale.ai)

[2015-10-20 15:18] mariahmaephet commented on #266
@emily-phet Hey Emily--sorry I didn't see this until now. I was getting emails but I only saw Dave's name so I didn't read through them. Let me know if there's anything I can do today to help out

[2015-10-20 15:19] amyh-phet commented on #266
@emily-phet  and @daveunderwood  attached is a version of poster with original dimensions and updated content (abstract and new graphics included)

Let me know if you need me for anything else.
[FROM_DAVE_UPDATED_CONTENT.pptx](https://github.com/phetsims/tasks/files/16901/FROM_DAVE_UPDATED_CONTENT.pptx)

[2015-10-20 16:04] jbphet commented on #384
An observation about this: In the code, I can't add perspective, at least not very easily.  That means that the text, the checkboxes, and the readout will look flat while the scale itself appears to have perspective.  I find this a bit disturbing, and I just asked @jonathanolson for his opinion (because he was in the office at the time), and he feels the same way.  I think that this should be modi

[2015-10-20 16:07] mariahmaephet commented on #384
@jbphet Makes sense to me. I'll try changing that up today

[2015-10-20 16:08] amyh-phet commented on #384
@jbphet    Thanks for the suggestion.
@mariahmaephet mariahmaephet    Thank you for implementing changes.

[2015-10-20 16:08] ariel-phet commented on #384
@mariahmaephet - if you are doing some modification, please also have the light source coming from the upper left (looks to me right now it is from the upper right, at least on the silver tray)

[2015-10-20 16:10] daveunderwood commented on #266
Here's the little graph if it helps. I've color-matched it, and tightened it up a bit. Also, for higher-end stuff, I always like rotating axis labels to be more easily read. See what you think.

[sim_runs.pdf](https://github.com/phetsims/tasks/files/16951/sim_runs.pdf)

[2015-10-20 16:44] emily-phet commented on #266
@daveunderwood - the graph looks wonderful! Would you have time today to add the following to the file from Amy above (with the updated content):
- add your new beautiful graph
- replace the student image (the center image) with this one (I like this one a bit more because the sim looks more central and active)
[StudentPic.pptx](https://github.com/phetsims/tasks/files/16982/StudentPic.pptx)
- If p

[2015-10-20 18:02] ariel-phet opened #395 "CCK Donation Ask Mockups"
@mariahmaephet as we discussed we want to work on this mockup.

Here is @kathy-phet 's idea
[2015_PhET_CCKAsk_InitialIdeas.pptx](https://github.com/phetsims/tasks/files/17034/2015_PhET_CCKAsk_InitialIdeas.pptx)

As we discussed, lets try having to teachers...one gesturing/pointing to the "hey educators" message, and one pointing to the donate button.

[2015-10-20 18:05] amyh-phet commented on #384
@ariel-phet    I notice in the original sim that the light source was a bit strange on the Mix Isotopes tab was a bit odd.   The buckets were shaded as if the light source was coming from the upper left, but the atoms were shaded as if the source was to the upper right.   I'm assuming the upper right was chosen for the atoms to accommodate the label with with the mass number.
![hydrogen_bucket](ht

[2015-10-20 18:51] mariahmaephet commented on #384
@jbphet @amyh-phet @ariel-phet Is this what you were thinking? And let me know if you want the light source changed

<img width="425" alt="screen shot 2015-10-20 at 12 50 12 pm" src="https://cloud.githubusercontent.com/assets/11527557/10617713/22a40494-7729-11e5-9380-4f1bd42b16dc.png">

[2015-10-20 18:57] amyh-phet commented on #384
@mariahmaephet    I like the new balance.  Let's leave the light perspective for now.  I'll check with @ariel-phet and the rest of the sim design team to see if this is an issue.
@jbphet - Will this new perspective work better in code?

[2015-10-20 20:30] emily-phet commented on #266
@amyh-phet or @mariahmaephet - Can either of you take a stab at the changes I suggested just above some time today?

[2015-10-20 20:48] amyh-phet commented on #266
@emily-phet   I can work on this and get a version back to you this afternoon for review.   Is this what you were thinking for the Radiating Charge image?
![radiating_charge_circular_001](https://cloud.githubusercontent.com/assets/13650180/10620674/a4f751f2-7739-11e5-99f0-bd9f209ea478.png)

[2015-10-20 20:52] emily-phet commented on #266
Thanks @amyh-phet! The screenshot looks great. That's such a cool looking sim.

I hope you're feeling better this afternoon.

[2015-10-20 20:55] amyh-phet commented on #266
@emily-phet    Just want to make sure I'm on the right track.  For the color panel on the top, you are referring to the second poster above with the blue panel behind the title?

Thanks - I am feeling better - mostly just didn't want to spread a cough and scratchy voice to the rest of the team, especially Amy R. who is stuck in the office with me.

[2015-10-20 21:02] emily-phet commented on #266
@amyh-phet Glad you're feeling better.

Yes, you're exactly right. I like the color panel Dave suggested above, so if you could give that a shot I think it would a bit of depth to the poster.

[2015-10-20 21:03] amyh-phet commented on #266
@emily-phet   I will get this back to you as soon as possible so you have time to review and request changes if needed.

[2015-10-20 21:11] ariel-phet commented on #384
Looks good to me...that will work in code since it is a "flat" perspective on the items that matter (display, text, radio buttons)

[2015-10-20 22:29] amyh-phet commented on #266
@emily-phet   Attached are two possible options for the poster.   Let me know of changes to make.  One has a blue color panel as in Dave's mock up above and one has a red color panel to match the bars on your graph at the bottom of the poster.    I'm happy to make changes as needed.   I'll be away from my computer for a few hours but can work on this after 6 pm tonight if needed.
[ASSETS_Poster_Dr

[2015-10-20 23:12] jbphet opened #396 "RC test: Friction 1.2.0-rc.1"
Test Matrix: https://docs.google.com/spreadsheets/d/1xs2_pAvLnEGoC7a1a0IqD29B8gyhGyvBPaD9iCSSZJM/edit#gid=184957754

[2015-10-20 23:14] jbphet commented on #396
This redeployment is being done in support of translation, which is connected to the S2015R milestone, so below is the associated checklist.

**Developer**
- [ ] Review outstanding issues, mark what will be addressed for redeploy (@ariel-phet and original developer). Then mark these issues with a milestone.
- [ ] Look over the code review checklist, decide if code review should be redone, https://

[2015-10-21 02:04] amyh-phet commented on #266
@emily-phet    In looking over the poster files tonight, I realized I had not changed the outlines of the box around the title.   Attached are new files with the outline on the color panel removed.

[ASSETS_Poster_Draft_10_20_15_blue.pptx](https://github.com/phetsims/tasks/files/17260/ASSETS_Poster_Draft_10_20_15_blue.pptx)
[ASSETS_Poster_Draft_10_20_15_red.pptx](https://github.com/phetsims/tasks/

[2015-10-21 03:41] ariel-phet commented on #387
We seem to have this covered for the moment, closing

[2015-10-21 03:41] #387 closed

[2015-10-21 03:48] ariel-phet commented on #396
@bryo5363 @elisemorgan @orejolaphet @phet-steele this should be the next top QA priority. Now that Molarity and Hooke's Law are published, we will be regularly releasing redeploys. We are going to try to start with some quicker to test sims like this one.

[2015-10-21 14:19] pixelzoom commented on #392
Reopening. Please describe the next step.  Fix any issues? Another RC? Publish as is? ...

[2015-10-21 14:22] pixelzoom commented on #394
Why do we care whether it's in SPDX format? Disable the warning?

[2015-10-21 14:25] aaronsamuel137 commented on #392
@ariel-phet asked me to publish this to the website this morning. I am planning on doing so around 9AM.

[2015-10-21 14:28] pixelzoom commented on #392
Thanks @aaronsamuel137. Closing.

[2015-10-21 14:30] pixelzoom commented on #392
Reopening again. @ariel-phet There are incompletely items in the Design/Admin section of the publishing checklist (see above) and I don't see any related issues for addressing those.

[2015-10-21 14:41] arouinfar commented on #392
@pixelzoom I've spoken to @ariel-phet directly about this yesterday. I am prepared to enter the necessary information on the website once @aaronsamuel137 publishes.

[2015-10-21 14:44] arouinfar commented on #392
The Teacher Tips document is ready to upload. There are currently several other sim primers in the production stage, and the recording mic is being revisited for future primers (including Hooke's Law). It will be awhile before a Hooke's Law primer can be released.

[2015-10-21 14:55] amyh-phet commented on #266
@emily-phet    In looking over the poster files tonight, I realized I had not changed the outlines of the box around the title.   Attached are new files with the outline on the color panel removed.

[ASSETS_Poster_Draft_10_20_15_blue.pptx](https://github.com/phetsims/tasks/files/17759/ASSETS_Poster_Draft_10_20_15_blue.pptx)
[ASSETS_Poster_Draft_10_20_15_red.pptx](https://github.com/phetsims/tasks/

[2015-10-21 15:13] samreid commented on #394
From https://spdx.org/licenses/

If this in the npm standard and we are developing using npm, why would we want to do something different?

I am unaware of ways to disable specific warnings here.

[2015-10-21 15:24] jbphet commented on #394
@samreid - we can split this up if you like.  I ran into it yesterday when trying to run the test-server, and everything was essentially failing the build as a result.

[2015-10-21 15:25] samreid commented on #394
@jbphet can you clarify--an npm install *warning* was failing the build?

[2015-10-21 15:26] amyh-phet commented on #384
@mariahmaephet   I don't see the scale.ai file in your folder.  Can you try uploading again.

[2015-10-21 15:30] jbphet commented on #394
Perhaps I shouldn't say 'failed'.  Basically, I ran the test-server, and the middle column of the indicators (the one that is supposed to represent the build result) ended up being some color other than green.  I can't recall if it was red or something else, and the machine has done an auto-reboot-update since then, so I'd have to recreate it if you want to know for sure.  Do you need that, or sho

[2015-10-21 15:35] ariel-phet commented on #384
@amyh-phet two things
1. I think the mixed light source is a bit odd, but I think just keep the atoms the way they are
2. Mariah went to organize her folder a bit yesterday and makes subfolders, I can find the subfolders, but I cannot see the contents. Looks like she might need to individually share those. I will get in touch with her.

[2015-10-21 15:36] samreid commented on #394
So far, nobody has provided a good reason *not* to fix it.  It should just take <5 minutes to do a global query replace in the right file pattern.

[2015-10-21 15:44] ariel-phet commented on #392
@pixelzoom - remaining items being tracked here now https://github.com/phetsims/hookes-law/issues/35

I did this for Molarity, and thought I had also done it for this sim. Thanks for the heads up. Closing!

[2015-10-21 15:44] #392 closed

[2015-10-21 16:17] jbphet commented on #384
This scale looks much better.  As far as the shading on the bucket and particles goes, this is a super easy thing to fix in the code, so I'll make sure that we draw all code-rendered elements as though the light source is up and to the left.