[2016-12-13 00:01] #619 closed

[2016-12-13 00:09] arouinfar commented on #649
@mariahmaephet can you please upload the .ai files to your Google Drive folder?  I've just granted you edit privileges to the "Mariah's Artwork Files" folder through your CU email, so you should be getting an automated email with the link to the folder. Otherwise, you can access the folder here:
https://drive.google.com/drive/u/0/folders/0B6CMwxdP0NGYbVlQRU53RFNhdDQ

[2016-12-13 03:11] terracoda commented on #619
@arouinfar, sorry for the late reply, but I agree and prefer the modified font awesome icon as well.

[2016-12-13 17:24] jbphet opened #753 "RC Test: States of Matter 1.0.0-rc.1"
@ariel-phet, @phet-steele, and @arouinfar, States of Matter 1.0.0-rc.1 is ready for RC testing.

Link to sim:
http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-rc.1/states-of-matter_en.html

Link to iFrame:
http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-rc.1/states-of-matter_en-iframe.html

Test Matrix:
https://docs.google.com/spreadsheets/d/15oDRy4E5kqXxhZ

[2016-12-14 18:13] jbphet commented on #743
The GitHub issue for instrumenting this sim is https://github.com/phetsims/gravity-force-lab/issues/76.  @phet-steele - if this testing is successful, please close the issue in the GFL repo.  If not, assign it back to me.

[2016-12-15 16:45] jonathanolson commented on #722
Due to the need to have multiple testers use this (and presumably not coordinate with each other), it sounds like we should probably include or change deployments to have a version with assertions available.

I'll investigate adding this ability to the build (at least for builds that get deployed, preferably having both forms built)

[2016-12-15 20:00] phet-steele commented on #753
Finished. ☃️

[2016-12-15 20:46] #736 closed

[2016-12-15 21:24] andrewadare opened #754 "Dev test: Capacitor Lab Basics 1.0.0-dev.37"
There have been many, many refactoring changes throughout the sim since dev.36 (see commit list for phetsims/capacitor-lab-basics/issues/117). Please test with an eye for any regressions from this process.

Testing link:
http://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.0.0-dev.37/capacitor-lab-basics_en.html

[2016-12-16 16:21] ariel-phet commented on #754
@phet-steele placing at high....comes after SOM and app testing

[2016-12-16 21:34] oliver-phet commented on #494
This has been completed. @emily-phet all files that were previously on PhET Backup can now be accessed via phet-storage. Closing!

[2016-12-16 21:34] #494 closed

[2016-12-16 23:33] jbphet opened #755 "RC Test: States of Matter 1.0.0-rc.2"
States of Matter 1.0.0-rc.2 is ready for RC testing.  This RC fixes for issues identified while testing v1.0.0-rc.1, so the focus should be to verify that those issue are resolved and to complete any testing that wasn't already performed on the previous RC.

Link to sim:
http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-rc.2/states-of-matter_en.html

Link to iFrame:
http://www.c

[2016-12-19 17:23] ariel-phet commented on #753
task for RC.2 has been created, closing

[2016-12-19 17:23] #753 closed

[2016-12-19 17:24] #752 closed

[2016-12-20 18:13] pixelzoom commented on #730
I agree that we should revisit Approach 4 (https://github.com/phetsims/tasks/issues/730#issuecomment-260863644), using an `_.extend`  call for each of the nested options hashes.

[2016-12-20 21:57] phet-steele commented on #755
![greenlight](https://cloud.githubusercontent.com/assets/5863899/21369542/aea90f16-c6c4-11e6-83ef-0049d343ae26.png)

[2016-12-20 22:51] #755 closed

[2016-12-21 16:38] jbphet opened #756 "RC Test: States of Matter: Basics 1.0.0-rc.1"
States of Matter: Basics 1.0.0-rc.1 is ready for RC testing.  This is the first RC of the "basics" version, but the full version just went through the test-and-release process, so all of the code that underlies this simulation has been pretty well tested.  A basic verification on all supported platforms should be sufficient for this.

Link to sim:
http://www.colorado.edu/physics/phet/dev/html/stat

[2016-12-21 16:55] ariel-phet commented on #749
this round of testing is complete

[2016-12-21 16:55] #749 closed

[2016-12-21 16:55] ariel-phet commented on #756
@phet-steele please create a testing matrix for this issue if you would be so kind. Sounds like a quick tests on platforms should do nicely for verification.

[2016-12-21 19:13] phet-steele commented on #756
Matrix has been made.

[2016-12-23 02:44] samreid opened #757 "The PhET-iO Sim Status looks like it isn't configured properly"
This document can only be accessed from my gmail.com account and not from my colorado.edu  account.  @amanda-phet or @oliver-phet can you please take a look?

https://docs.google.com/spreadsheets/d/1ToW8wc9zOFpMglIf63jB1j8YA9Qmh2dxNLH2Sm4qxEo/edit#gid=0

[2016-12-29 20:29] amanda-phet opened #758 "Create video clips from interview data"
I shared 5 video files to download and crop to just the first 8 minutes of the student exploration portion. When you are finished, please put them in a google drive folder and share with me, otherwise I can create a folder for you to upload the videos to.

[2016-12-30 15:37] samreid opened #759 "How should we refer to the view coordinates?"
In the Circuit Construction Kit, the coordinates of model objects matches the view.  These coordinates aren't "pixels" because of the scaling in joist.  Should we call these "view coordinates" or is there a better term?

[2016-12-30 20:28] jessegreenberg opened #760 "Replace {DOMElement} with {HTMLElement} or {Element}"
In phetsims/scenery#596 @samreid said

A local search shows 29 matches for ```{DOMElement}``` across 8 files, mostly in scenery (and mostly added by me!).  These should probably all be switched to ```{HTMLElement}``` or ```{Element}```.

[2016-12-30 20:46] jessegreenberg commented on #760
Replaced in the above commits.  Pinging @jonathanolson because a few were added by him.  If any of these should actually be DOMElement, please let me know but it seems the standard is HTMLElement or Element.  Closing.

[2016-12-30 20:46] #760 closed

[2016-12-31 02:48] jonathanolson commented on #760
HTMLElement looks correct, thanks!

[2017-01-03 20:19] jbphet commented on #756
I received the following text message from @kathy-phet:

Based on this, I assumed that RC testing is considered complete.  Closing.

[2017-01-03 20:19] #756 closed

[2017-01-03 21:05] arouinfar opened #761 "Dev test: CCK: Black Box Study 1.0.6-phetio"
Shima conducted some pilot testing last semester with 1.0.4-phetio and requested that we add wire stubs to the black box (https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/21) before her studies this semester.  I will be testing 1.0.6-phetio, but it would also get some light testing from @phet-steele since it's been awhile since he's had a go at CCK:BB.

Shima's Upcoming

[2017-01-03 21:08] phet-steele commented on #757
New link here https://docs.google.com/spreadsheets/d/1pU9izdNQkd9vr8TvLAfXe_v68yh-7potH-y712FBPr8/edit#gid=0

@samreid may close if everything is in order.

[2017-01-03 21:11] samreid commented on #757
Looks great, thanks, closing.

[2017-01-03 21:11] #757 closed

[2017-01-04 00:01] samreid commented on #547
@pixelzoom and I are still seeing this problem.  Reopening.

[2017-01-04 00:22] samreid commented on #547
I shared a 1-minute long video that shows the problem and the workaround:
https://drive.google.com/a/colorado.edu/file/d/0B8guh7oYpZbQNW9oVGxZT0tneG8/view?usp=sharing

[2017-01-04 00:27] samreid commented on #547
My hypothesis about how this problem occurs is:

1. after making changes in repo X, it is marked "dirty" by IDEA (and gets a "-" in the push dialog)
2. when committing changes to repo Y, then showing the push dialog, it iterates through all repos to check if they need to be pushed. Repos with "-" that do not show any commits are changed to "unchecked".  If you press "push" before it clears "-" to

[2017-01-04 00:29] samreid commented on #547
Testing this:
it seems any repo with "-" or "checked" gets pushed.  If you wait long enough for it to iterate through all of them and convert "-" to "unchecked" there is no problem.  If you manually uncheck one that got converted from "-" to "unchecked" to "checked" then "unchecked", then push, then IDEA remembers and doesn't mark the repo as "-" for next push.

[2017-01-04 00:30] samreid commented on #547
If we could easily reproduce the creation of a "-", that should be reported to JetBrains.

[2017-01-04 00:36] samreid commented on #759
It looks like I've used the term "screen coordinates" and "view coordinates" for this before.

[2017-01-04 01:15] pixelzoom commented on #547
@samreid wrote:

Confirmed.  In the upper-right corner of the left pane, there is a busy indicator (see screenshot below). If I wait for the busy indicator to disappear, then "there is no problem".

![screenshot_260](https://cloud.githubusercontent.com/assets/3046552/21628906/9801cb3c-d1e0-11e6-9381-e3f0b9458936.png)

[2017-01-04 17:28] pixelzoom commented on #759
PhET sims typically have 2 coordinate frames: model and view.  So "model coordinates" and "view coordinates" seems appropriate.

[2017-01-04 17:32] jbphet commented on #759
I have generally used the term "screen coordinates" to describe the coordinate system that corresponds to the layout bounds.

[2017-01-04 17:35] pixelzoom commented on #759
"Screen coordinates" is an example of a view coordinate that applies to one node (ScreenView).  So I'd still argue that the more general term is "view coordinate".

[2017-01-04 20:47] samreid commented on #759
"screen coordinate*" occurs 52 times across our repos. I'm also seeing some incorrect usages of "Pixels" such as in shred's AtomNode.  Area Builder also has this comment `// In screen coords, which are roughly pixels`.

[2017-01-04 20:49] pixelzoom commented on #759
"view coordinate" occurs 126 times.

[2017-01-04 23:47] jonathanolson commented on #759
My impression:

- View coordinates: The coordinate frame of the view, which is usually the local coordinate frame of the ScreenView.
- Screen/global coordinates: The coordinate frame in screen 'px', where (0,0) is the upper-left of the inside of the window. Goes down to (window.innerWidth,window.innerHeight) in the lower-right. You get here by applying the ScreenView's coordinate transform to view

[2017-01-05 17:40] pixelzoom commented on #547
Now that I know to wait for the busy indicator to complete... The first time I need to wait awhile for it to complete.  But after that, it completes quickly.  So it seems like this is a case of "be patient the first time" and then you won't encounter the problem.  My workflow is no longer being disrupted, so unassigning myself from this issue.

[2017-01-05 17:41] pixelzoom commented on #547
Also worth noting that the "check and uncheck repos" workaround doesn't really do anything -- it's waiting for the busy indicator to complete that does the trick.

[2017-01-05 17:41] samreid commented on #547
I'm not planning to investigate further, unassigning myself for now.

[2017-01-05 17:52] jessegreenberg commented on #759
I generally think of "view coordinates", terms "model coordinate" and "view coordinate" run parallel to the MV* pattern to me.  I wasn't aware of the distinction in https://github.com/phetsims/tasks/issues/759#issuecomment-270520987.

[2017-01-05 17:54] jonathanolson opened #762 "Dev test: Make a Ten 1.0.0-dev.15"
(NEW): Testing link: http://www.colorado.edu/physics/phet/dev/html/make-a-ten/1.0.0-dev.15/make-a-ten_en.html

(OLD): Testing link: http://www.colorado.edu/physics/phet/dev/html/make-a-ten/1.0.0-dev.13/make-a-ten_en.html

[2017-01-05 18:16] phet-steele commented on #762
To the QA team, reviewing the adding logic for this sim may be helpful while testing. Second section of this document: https://docs.google.com/document/d/1CBjNti_ZArayAqulgwEQNQPDjJhsC_IR-gg5aGU3bpQ/edit

[2017-01-05 18:19] pixelzoom commented on #759
Screen coordinates is when something actually gets mapped to the screen.  View coordinates are relative to the "view" portion of the code, in PhET's case is scenery.  There is not (and should not be) a single view coordinate frame - hence the need for local, parent, and global coordinate frames in scenery.  As @jonathanolson said, in PhET sims the model coordinate frame is usually the ScreenView c

[2017-01-05 20:14] samreid commented on #759
From today's meeting: the "ScreenView coordinate frame" is the one that Joist scales up and down.

[2017-01-05 20:18] samreid commented on #759
@pixelzoom said there is really no need to go back and update incorrect terminology, because it is generally clear that "pixels" means "ScreenView coordinate frame" in the appropriate context (though not when referring to canvas or webgl).

[2017-01-06 18:36] arouinfar commented on #761
@phet-steele and I have completed testing. Back to you @samreid.

[2017-01-06 18:43] samreid commented on #761
Thanks @arouinfar and @phet-steele, closing.

[2017-01-06 18:43] #761 closed

[2017-01-07 21:20] zepumph commented on #747
Alright there are 9 lint errors now showing in grunt lint-everything. I'm going to delete lint-everything.txt because it is no longer needed. @jonathanolson would you tackle the rest of them since they are mostly in tests. Also will you look at 'fastmath.js' for an example of how I got rid of many of the no-undef problems in test suites, I want to make sure that was an alright method. Thanks!

[2017-01-08 00:40] jonathanolson commented on #747
I think we're planning on upgrading to a newer QUnit that doesn't use more than 1 global for tests. I'll also look at creating a top level global for use in unit tests.

[2017-01-08 23:39] zepumph commented on #750
In chipper I changed all files that had module.exports, but I didn't touch the requirejs-plugins folder because it looked like there was a reason that they were using AMD 'define' even though they didn't export to both global or window. @jonathanolson do you know anything about this, or could you point me in the right direction?

[2017-01-09 00:10] zepumph commented on #750
Added to rosetta, perennial, chipper, installer builder, and yotta. @jbphet do you think there are any other repos that may have node code in them?

[2017-01-09 06:33] jonathanolson commented on #750
Aqua, most Gruntfiles too. And some files are made to run in Node and in the browser (like the plugins).

[2017-01-09 16:16] #758 closed

[2017-01-09 16:19] zepumph commented on #750
We decided earlier in this issue that we won't change the modules that were to be used in both. Do you think we should somehow @jonathanolson?

[2017-01-09 17:03] amanda-phet commented on #237
Since we have a number of handle options to choose from I think we can close this issue.

[2017-01-09 17:03] #237 closed

[2017-01-09 18:19] jonathanolson commented on #750
What do you mean "change the modules"?

[2017-01-09 20:42] zepumph commented on #750
'Change' meaning add env node to the top of these files. 'These files' (the modules) being those that are loaded both in the browser and in node, i.e. chipper/js/requirejs-plugins and chipper/js/data/localeInfo.js.

[2017-01-09 21:02] zepumph commented on #750
Also @jonathanolson, most Gruntfiles that look like this:

[code]

I thought wouldn't need these extra lines since they are so simple, do you disagree?

[2017-01-10 07:03] jonathanolson commented on #762
Updated release to test: http://www.colorado.edu/physics/phet/dev/html/make-a-ten/1.0.0-dev.15/make-a-ten_en.html

[2017-01-10 16:21] amanda-phet commented on #762
@phet-steele has the testing started for this sim yet? I am wondering about the priority because it looks like there are a few other dev testing tasks open already.

[2017-01-10 16:58] phet-steele commented on #762
@amanda-phet it has indeed been in testing.

[2017-01-10 17:17] phet-steele commented on #748
@jbphet instance proxies and event wrappers both show the expected requests. Even though the sim is far from complete instrumentation, it should be well enough for Georgia Tech. Regression tests also proved stable.

[2017-01-10 17:21] kathy-phet commented on #762
Adding a high priority tag to this -- since it is close to publication if it can pass dev testing! Interviews done, code ready.

However iPad App testing would be priority over this -- when that comes up.

[2017-01-10 18:37] jbphet commented on #748
Thanks @phet-steele.  Closing.

[2017-01-10 18:37] #748 closed

[2017-01-10 19:02] mattpen commented on #672
The build tools were updated for the new server in this changeset: https://phet.unfuddle.com/a#/repositories/23262/commit?commit=74659.

We've tested redeploying the jars for Java and Flash sims as part of the resigning process, so that task is complete.

@zepumph - Since the original work is completed this should be opened in a new issue.

[2017-01-10 19:02] #672 closed

[2017-01-10 23:08] EthanWJohnson commented on #754
I've been yelling at this for a while now and I haven't found anything else broken or malfunctioning.

[2017-01-11 17:25] phet-steele commented on #754
@EthanWJohnson good to hear. We can say this sim has passed dev testing, thank you.

[2017-01-11 17:55] ariel-phet commented on #762
@phet-steele lets make this current top testing priority

[2017-01-11 17:56] ariel-phet commented on #754
Closing.

[2017-01-11 17:56] #754 closed

[2017-01-13 17:03] phet-steele commented on #762
@jonathanolson @ariel-phet @kathy-phet Done.

[2017-01-13 18:58] samreid opened #763 "RC Testing for Energy Skate Park: Basics PhET-iO version 1.3.0-phetiorc.1"
See https://github.com/phetsims/phet-io/issues/533

This version implements the ability to save and load tracks using the PhET-iO API, which can be demonstrated/tested in the state wrapper.

The RC is published here:
http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.3.0-phetiorc.1/wrappers/index/

Testing Matrix: https://docs.google.com/spreadsheets/d/1kaJd59mURbe9tPcHZsJPRX

[2017-01-13 19:28] kathy-phet commented on #763
Just a note: While "on or before Jan 30" is what we committed to, they would use if as soon as it is delivered and it is holding up their work. So relatively high priority --- behind PhET App and behind Make-a-Ten.

[2017-01-13 19:45] jonathanolson commented on #762
Thanks for the testing!

[2017-01-13 19:45] #762 closed

[2017-01-13 23:02] #759 closed

[2017-01-13 23:07] samreid opened #764 "QA testing for the scaled splash/progress bar screens"
See https://github.com/phetsims/joist/issues/382

I published http://www.colorado.edu/physics/phet/dev/html/faradays-law/1.3.7-dev.3/faradays-law_en.html which demonstrates the resizing splash screen.
UPDATE: new version described here https://github.com/phetsims/tasks/issues/764#issuecomment-278850431

This needs to be tested on all of our platforms, since we have never used CSS to resize the spl

[2017-01-13 23:41] oliver-phet commented on #740
I just talked with @jbphet about this and this issue can be closed since all of the docs in question are on the @colorado.edu domain. They will not be organized in the 'phet files' folder structure, but can be in the future.

[2017-01-13 23:41] #740 closed

[2017-01-17 01:22] ariel-phet commented on #763
Given the short timeline on which hope to deliver, making this current top test priority

[2017-01-17 01:25] ariel-phet commented on #735
Reassigning to myself to discuss with @jbphet, my guess is there is a much more current version worthy of testing

[2017-01-17 01:27] ariel-phet commented on #764
@phet-steele marking this task P2...it should be pretty quick to test on each platform, perhaps could be done in parallel with ESPB testing as you are on each platform? Just would be better to complete sooner than later so it can be moved to master.

[2017-01-17 16:31] jbphet commented on #735
This is the latest version that is stable enough to trust for interviews.  I've been making major changes to the code that underlies the first three screens in order to add support for the game.  @ariel-phet - it's probably better for you to talk with @amanda-phet and see if any interviews are planned within the next few weeks.  If not, this can be closed.

[2017-01-17 16:42] amanda-phet commented on #735
I plan to do interviews again once the game is ready. I think we can probably dev test again around that time.

[2017-01-17 17:32] ariel-phet commented on #735
OK, closing in that case. We can make a test when we have the game ready.

[2017-01-17 17:32] #735 closed

[2017-01-18 17:16] samreid opened #765 "Testing for Circuit Construction Kit: Prototype 1.0.0-prototype.2"
See https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/29 and the sim is published at:

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-prototype.2/circuit-construction-kit-dc_en.html

On 1/13/17 2:17 PM, @kathy-phet wrote:

If I understand correctly, the main point of this test is to see if there are major physics or graphics issues on our

[2017-01-18 18:38] arouinfar commented on #765
@samreid where should I log relevant issues, `circuit-construction-kit-dc`?

[2017-01-18 18:48] samreid commented on #765
Yes, please log issues here: https://github.com/phetsims/circuit-construction-kit-dc/issues/new

[2017-01-19 23:39] zepumph commented on #750
@jonathanolson would you mind commenting on my thoughts about adding this to the Gruntfiles?

[2017-01-20 04:47] jonathanolson commented on #750
Sounds worth a try. Does eslint support a "node.js and browser" mode?

I'm not worried about those files, so whatever helps them pass lint sounds good.

[2017-01-20 16:19] zepumph commented on #750
@jonathanolson thanks for the recommendation, after some research I found that just as easily we can add `eslint-env node, browser`; there doesn't have to be just one. I think that is all of the node files in the project.

[2017-01-20 16:22] zepumph commented on #750
Closing.

[2017-01-20 16:22] #750 closed

[2017-01-23 21:37] BryceAG commented on #764
On Win 7, IE the splash will pop up in the top left corner for a brief moment, then center itself. Happens regardless of window size.

[2017-01-24 17:30] amanda-phet opened #766 "Update Our Team page"
We need to add @Denz1994 and remove Andrew.

@Denz1994 I can take your photo today or Thursday if you have some time. Please come up with key words and a bio, following the guidelines here: https://docs.google.com/document/d/16cDM5qYaFXzddaG5JtJ5jyiib4rk4bKvpUJzkehXeM0/edit#heading=h.iu4exno4bfbw

[2017-01-24 17:30] amanda-phet commented on #766
@phet-steele am I forgetting anyone?

[2017-01-24 18:57] Denz1994 commented on #766
I will have the bio complete for our photo on Thursday. Thanks!

[2017-01-24 19:04] phet-steele commented on #766
@amanda-phet I know I'm going to regret saying this....but do we remove Trish? (ahh it pains me to even think of it!)

[2017-01-24 20:04] amanda-phet commented on #766
We should ask @kathy-phet about that.

[2017-01-25 04:55] samreid commented on #763
@phet-steele and @ariel-phet what is the status on this issue?

[2017-01-25 15:43] ariel-phet commented on #763
@samreid - @phet-steele was actively testing yesterday and as noted it is the top testing priority currently, so it will be worked on until it is finished

[2017-01-25 18:08] phet-steele commented on #763
@samreid testing here is done, back to you!

[2017-01-25 18:11] samreid commented on #763
Many thanks @phet-steele and @EthanWJohnson, I've fixed some of the issues in master + branch, will leave this issue open to track fixing them all in the branch.

[2017-01-25 18:13] samreid commented on #763
@zepumph let's work together at your convenience to move your fixes from master to these stable branches for the next release.

[2017-01-25 19:01] ariel-phet commented on #764
@phet-steele bumping to top since this would be good to finish off

[2017-01-25 20:14] jonathanolson opened #767 "RC Testing for Make a Ten 1.0.0-rc.1"
@amanda-phet, @bethstade, @ariel-phet, Make a Ten 1.0.0-rc.1 is ready for RC testing.

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/make-a-ten/1.0.0-rc.1/make-a-ten_en.html)**

**[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/make-a-ten/1.0.0-rc.1/make-a-ten_en-iframe.html)**

**[Test Matrix](https://docs.google.com/spreadsheets/d/1aWJdfQl7BV4-qWiBz-oN-mesnT4_6Eo0w

[2017-01-25 21:19] Denz1994 commented on #766
Just sent an email with my bio and keywords to @amanda-phet.

[2017-01-25 22:23] zepumph commented on #763
I cherry picked these commits:

https://github.com/phetsims/joist/commit/eadf3020fc44920dd7a855f183432e58458a995d to joist
https://github.com/phetsims/phet-io/commit/e9ddcece2776022c6d2c2c3711c15d245c3f2e06 to phet-io
https://github.com/phetsims/chipper/commit/24125355349a8296d589d9b436f3a3654e65d8e2 to chipper
https://github.com/phetsims/chipper/commit/5f37f55ed6bafcc8acf0798099bbf8b4cff0c12b to

[2017-01-25 22:27] zepumph commented on #763
I then updated the dependencies from a build I did with everything checked out. Unassigning myself.

[2017-01-25 22:36] samreid commented on #763
Thanks @zepumph, I'll make a table of the fixes and we can see which still need to get cherry picked.

- [ ] devguide.html fails to style the page phetsims/phet-io#969
- [ ] [ESPB] Mirror Inputs and all Event wrappers fail at the Barrier Rectangle phetsims/phet-io#974
- [ ] [ESPB] Relative path in Generate HTML phetsims/phet-io#978
- [ ] [ESPB] Gravity Property on all three screens crashes wrapper

[2017-01-25 22:49] samreid commented on #763
It looks like everything is here.  I know @kathy-phet wanted this to be done quickly for BrainPOP so I'll try to publish a new RC soon.

[2017-01-25 22:52] samreid commented on #763
I checked out shas, then got the branch for:
chipper
joist
phet-io

[2017-01-25 22:57] samreid commented on #763
New version is here, I'll try to spot test the above before creating a new RC issue:
http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.3.0-phetiorc.2/wrappers/index/

[2017-01-25 22:58] samreid commented on #763
- [ ] devguide.html fails to style the page phetsims/phet-io#969
- [ ] [ESPB] Mirror Inputs and all Event wrappers fail at the Barrier Rectangle phetsims/phet-io#974
- [ ] [ESPB] Relative path in Generate HTML phetsims/phet-io#978
- [ ] [ESPB] Gravity Property on all three screens crashes wrapper when set to 0 phetsims/phet-io#984
- [ ] [ESPB] Skater properties not working well phetsims/phet-io#80

[2017-01-25 23:02] samreid commented on #763
Everything checks out, new RC task coming up.

[2017-01-25 23:05] samreid opened #768 "RC Testing for Energy Skate Park: Basics PhET-iO version 1.3.0-phetiorc.2"
From #763

New version is here:
http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.3.0-phetiorc.2/wrappers/index/

To verify:
- [x] devguide.html fails to style the page phetsims/phet-io#969
- [x] [ESPB] Mirror Inputs and all Event wrappers fail at the Barrier Rectangle phetsims/phet-io#974
- [x] [ESPB] Relative path in Generate HTML phetsims/phet-io#978
- [x] [ESPB] Gravity

[2017-01-26 03:21] ariel-phet opened #769 "Fire artwork for Circuit Construction Kit"
@clmccutchan this would be the first high priority artwork task.

The original sim can be seen here:
https://phet.colorado.edu/en/simulation/circuit-construction-kit-dc

Basically, when a battery is short circuited it catches on fire, and we need updated artwork.

A preliminary version of the HTML5 sim is here (thought not feature complete it will help give an idea of the new layout and look and s

[2017-01-26 03:22] ariel-phet commented on #769
Assigning @arouinfar as well just so she is aware of this issue, and can get in touch with @clmccutchan as needed

[2017-01-26 03:24] ariel-phet commented on #768
@phet-steele given the time pressure on this item, bumping to current top priority

[2017-01-26 03:25] ariel-phet commented on #763
Closing this issue since a new RC task has been made

[2017-01-26 03:25] #763 closed

[2017-01-26 03:27] ariel-phet commented on #767
Next in priority line after #768

[2017-01-26 04:27] jbphet opened #770 "RC Testing for Balloons and Static Electricity PhET-iO version 1.2.0-phetiorc.1"
Link: http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-phetiorc.1/wrappers/index/

Test Matrix: https://docs.google.com/spreadsheets/d/1iUMWBd4HMZGbHMM7An4kh_YcWo2dqAodJUI-1dOoMuc/edit#gid=2

This version is going to be shared with various collaborators, so should be tested pretty thoroughly.

Also, the process of instrumenting the simulation revealed some bugs t

[2017-01-26 05:41] ariel-phet commented on #770
This task is also a "top" priority along with #768

@phet-steele it looks like #768 is mainly verification so hopefully the testing for BASE can also proceed soon.

[2017-01-26 17:35] samreid opened #771 "Test commas in query parameters"
Before we proceed with rolling out a huge number of maintenance releases for https://github.com/phetsims/joist/issues/399 we would like to check whether commas are supported as query parameters on **all of our platforms**.

To test this, you can launch:
https://phet.colorado.edu/sims/html/states-of-matter/latest/states-of-matter_en.html?screens=2,3

and check whether it is only showing the "Phase

[2017-01-26 17:43] phet-steele commented on #768
@samreid the above issues are verified, all on macOS 10.12.3 Chrome (and a dab into Safari).

[2017-01-26 17:49] samreid commented on #768
Thanks, I'll move forward with publishing this as a production version.

[2017-01-26 17:56] clmccutchan commented on #769
@ariel-phet  What's the best way to include images on tickets? jpg, screenshot, pngs?

[2017-01-26 17:59] arouinfar commented on #769
@clmccutchan a screenshot is perfectly fine for initial feedback. Once the artwork is finished, you'll move it over to a folder on Google Drive, which I imagine @ariel-phet will set up for you. If you have any other questions about the artwork, please let me know!

[2017-01-26 18:13] ariel-phet commented on #769
@clmccutchan screenshots are fine, although I prefer pngs

[2017-01-26 18:18] oliver-phet opened #772 "Get materials ready for Office Mix"
Tagging @ariel-phet

Ideas:

- [x] Help Center entry ("How do I embed PhET simulations?")
- [x] Email to teacher users
- [ ] Social media posts
- [ ] Flyers for conferences?

[2017-01-26 18:24] clmccutchan commented on #769
@arouinfar Here's a screenshot with some possible options for the fire. Let me know what you think, and then I can combine feedback into a single image.
![769_fire_draft1](https://cloud.githubusercontent.com/assets/25354670/22344598/f0c3055c-e3b9-11e6-99c7-07c6908afd1c.png)

[2017-01-26 18:34] BryceAG opened #773 "Get key for Bryce"
As requested, here is the task to remind you.

[2017-01-26 18:43] arouinfar commented on #769
@clmccutchan these options are a great start! I'm leaning more towards option (2). I like its softer gradient and orange outline, but I have a few tweaks to suggest.

You've matched the Java look quite well, but I think a slightly less jagged flame would better match our modern aesthetic. I'd also like to see what it would look like with a flatter (though not completely flat) bottom. I think a fla

[2017-01-26 19:05] samreid commented on #768
Deployed here: https://phet-io.colorado.edu/sims/energy-skate-park-basics/1.3.0-phetio/wrappers/index/

[2017-01-26 19:08] samreid commented on #768
I spot checked instance-proxies => generate HTML and the data stream and all seems well.  I'll share the link to BrainPOP, closing.

[2017-01-26 19:08] #768 closed

[2017-01-26 19:20] clmccutchan commented on #769
@arouinfar Here's (2) with a flatter bottom and simplified flames. Let me know if those could be even more simplified.
![phet_circuitcontr_769_fire_2](https://cloud.githubusercontent.com/assets/25354670/22346534/b19bbaba-e3c1-11e6-8d73-79b27d34332b.png)

[2017-01-26 20:20] emily-phet opened #774 "Update on Yotta use"
A graduate student at Georgia Tech would like to include sim usage as part of her analysis of cultural aspects of PhET sims and resources this semester. Kathy mentioned that yotta was being updated, can someone let me know when the student would be able to access the database of sim and resource use, and what data (if anything) we might have access to in the meantime?

[2017-01-26 21:21] ariel-phet commented on #774
@emily-phet I think you will need to discuss with @kathy-phet

My general understanding is Yotta is slowly churning through data at the moment to remove hits from bots and generally get more accurate counts.

There is also an effort to move Yotta onto a new server we have, which should allow for faster processing. However there is still a fair bit to do for this move, it will likely be a couple we

[2017-01-26 22:22] emily-phet commented on #774
@ariel-phet I see. I misunderstood the comment from Kathy, I thought it was something wrapping as JO had time, not as elaborate a process as you describe. I'll check with Kathy.

[2017-01-26 22:22] #774 closed

[2017-01-27 18:42] arouinfar commented on #769
Looks good @clmccutchan! I'd like to take a look at the flame in context. Can you email me the .ai file? (Generally, you'll place .ai files into a designated Google Drive folder, but I think @oliver-phet is still in the process of getting you added to our Google group.)

[2017-01-27 18:57] clmccutchan commented on #769
@arouinfar I just emailed the .ai file to you.

[2017-01-27 19:10] ariel-phet commented on #649
@clmccutchan finishing up this artwork would be next on the priority list at the moment. I think we are pretty solid on the cannon and PhET girl, but the various other items need to be done.

You can see the original sim here:
https://phet.colorado.edu/en/simulation/projectile-motion

And it might be worth a discussion with @arouinfar if anything is unclear.

Feel free to upload a png of the buick

[2017-01-27 19:11] ariel-phet commented on #649
@clmccutchan and as for timeline...we are still developing this simulation, but having the artwork all worked out by the end of February would be nice.

[2017-01-27 19:12] ariel-phet commented on #139
Closing this task. We are unlikely to work on Natural selection anytime soon

[2017-01-27 19:12] #139 closed

[2017-01-27 19:13] ariel-phet commented on #468
@amanda-phet Can this be closed now?

[2017-01-27 19:14] ariel-phet commented on #138
unassigning and labeling deferred until we work on this sim

[2017-01-27 19:14] clmccutchan commented on #649
@ariel-phet @arouinfar  There is a list of possible assets dated Sept. 19 above. Has that list been altered or should I use that to determine what I am illustrating?

[2017-01-27 19:24] ariel-phet commented on #649
@clmccutchan please also assign people when you have a question. So for instance please assign @arouinfar on this issue (she is in the best position to answer your question)

[2017-01-27 19:29] arouinfar commented on #649
@clmccutchan yes, the list of assets are in this comment from Sept. 19: https://github.com/phetsims/tasks/issues/649#issuecomment-248084499.  I don't anticipate that we'll be adding anything else to that list for now.  Please let me know if you have any questions about the artwork. I'd also be happy to chat with you over Skype if that'd be easier.

As @ariel-phet said, it's generally best to assig

[2017-01-27 19:33] clmccutchan commented on #649
@arouinfar How do you get it to tag a comment like you did above??

[2017-01-27 19:38] arouinfar commented on #649
Great question @clmccutchan. Right click on the comment's timestamp, copy the link address, paste it as-is into your comment, and then GitHub will automatically format the link. You can also do the same to reference other GitHub issues. If you want to reference an issue in the same repo, type # and then the issue number, otherwise paste in the URL to the issue and GitHub will automatically format

[2017-01-27 22:11] clmccutchan commented on #649
@arouinfar Here's a first draft of the pumpkin and the Buick. Let me know what you want me to tweak.
![projectilemotion_649_buick](https://cloud.githubusercontent.com/assets/25354670/22389459/d848af10-e4a2-11e6-954b-86b431f52c0a.png)
![projectilemotion_649_pumpkin](https://cloud.githubusercontent.com/assets/25354670/22389458/d82db5b6-e4a2-11e6-9d84-84982614ec13.png)

[2017-01-30 18:31] jessegreenberg opened #775 "RC Test Gravity Force Lab: 2.1.0-rc.1"
@ariel-phet @oliver-phet @phet-steele Gravit Force Lab 2.1.0-rc.1 is ready for RC testing.

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/gravity-force-lab/2.1.0-rc.1/gravity-force-lab_en.html)**

**[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/gravity-force-lab/2.1.0-rc.1/gravity-force-lab_en-iframe.html)**

**[Test Matrix](https://docs.google.com/spreadsheets/d/1

[2017-01-30 19:31] aadish opened #776 "Dev Test: Gene Expression Essentials 1.0.0-dev.2"
@ariel-phet

This sim is feature complete and can have some testing flush out some bugs and unwarranted behavior.
Performance still lags and would be using this dev release as benchmark to make performance better

Link to the Sim: http://www.colorado.edu/physics/phet/dev/html/gene-expression-essentials/1.0.0-dev.2/gene-expression-essentials_en.html

[2017-01-30 19:32] ariel-phet commented on #775
@phet-steele plan for after #765

[2017-01-30 19:35] ariel-phet commented on #765
moving this task to low priority for the moment, many other priorities above it

[2017-01-30 19:37] ariel-phet commented on #776
Would be good to do after #767

[2017-01-30 19:39] ariel-phet commented on #771
@phet-steele, this is low priority, however, since you have some RC testing to do coming up, perhaps this test could be performed on each platform concurrent with an RC test? Basically it is just "open the link, and make sure it is running with only those two screens". Might be easy to couple with the MAT test.

[2017-01-30 23:41] phet-steele commented on #770
@jbphet done.

[2017-01-31 16:17] jbphet commented on #770
Thanks.  I'll start tackling the issues that were found.  Closing.

[2017-01-31 16:17] #770 closed

[2017-01-31 18:21] phet-steele commented on #767
To the QA team, reviewing the adding logic for this sim may be helpful while testing. Second section of this document: https://docs.google.com/document/d/1CBjNti_ZArayAqulgwEQNQPDjJhsC_IR-gg5aGU3bpQ/edit

[2017-01-31 22:48] amanda-phet commented on #468
Yes.

[2017-01-31 22:48] #468 closed

[2017-01-31 22:49] amanda-phet commented on #766
Done.

[2017-01-31 22:49] #766 closed

[2017-02-01 20:56] jbphet opened #777 "RC Testing for Balloons and Static Electricity PhET-iO version 1.2.0-phetiorc.2"
Link: http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-phetiorc.2/wrappers/index/

This version needs spot checking and verification of some specific issues before sharing with collaborators/customers.  Those issues are:

- [x] https://github.com/phetsims/phet-io/issues/994
- [x] https://github.com/phetsims/phet-io/issues/996
- [x] https://github.com/phetsims/phe

[2017-02-01 20:58] jbphet commented on #777
Assigning directly to @phet-steele since this is fairly urgent and should be quick.

[2017-02-01 21:01] amanda-phet opened #778 "Artwork for Equality Explorer"
Hey Cheryl, We are working on a sim about solving equations (and maintaining equality) and I need a balance. I'm currently using a very simple triangle with two flat lines for "plates" to get the point across:
![screen shot 2017-02-01 at 1 47 13 pm](https://cloud.githubusercontent.com/assets/7852916/22525633/2783b7f6-e885-11e6-8e05-fd6f7147b340.png)

but something more like the image below would m

[2017-02-01 21:15] phet-steele commented on #777
Issues verified, spot checked on macOS 10.12.3 Chrome. Back at you, @jbphet.

[2017-02-01 22:33] clmccutchan commented on #778
@amanda-phet It looks like the scale will need to have 3 illustrated pieces: the base, the horizontal stick, and a plate (the plate would be used twice). Sure I'd be able to discuss over Skype. My schedule tomorrow is a bit weird, but I would have time between 1-2 Thurs or Friday (Feb 3) anytime after 10.

[2017-02-02 18:10] arouinfar commented on #769
Everything looks good! Thanks @clmccutchan.

[2017-02-02 18:10] #769 closed

[2017-02-02 23:30] jonathanolson commented on #747
grunt lint-everything is now passing. Closing, will handle QUnit upgrade in the relevant issue.

[2017-02-02 23:30] #747 closed

[2017-02-02 23:55] jbphet commented on #777
Looks good.  I've published the production phetio version.  Closing.

[2017-02-02 23:55] #777 closed

[2017-02-03 20:33] phet-steele commented on #771
@samreid every platform/browser loaded properly.

[2017-02-03 20:35] phet-steele commented on #767
@jonathanolson @amanda-phet @ariel-phet, rc done. Back to JO.

[2017-02-03 20:39] #771 closed

[2017-02-03 21:01] ariel-phet commented on #776
bumping to current top priority

[2017-02-06 22:07] amanda-phet commented on #778
Updated mockup based on today's conversation: slightly taller fulcrum and showing an exaggerated balance (ignore the misalignment between the readout and what is on the scale!)

![screen shot 2017-02-06 at 2 39 19 pm](https://cloud.githubusercontent.com/assets/7852916/22668425/f3a054b0-ec7d-11e6-883a-ef9e8dbfc5bc.png)

[2017-02-07 22:12] #767 closed

[2017-02-07 22:27] ariel-phet opened #779 "Add more screenshots to each HTML5 sim repository"
@phet-steele this is a bit of a "chip-away" task, but would be useful to do any time you are testing a sim, or need to do something semi-mindless for a bit

When we implement the new web design we will want more screenshots of sims, and more immediately, customers have asked for more screenshots on our Edmodo posts.

**Screenshot Guidelines**
1. Maximum of 3 more screenshots (for a total of 4 incl

[2017-02-07 22:28] ariel-phet commented on #779
- test
- test

[2017-02-07 22:30] ariel-phet commented on #779
- [ ] Acid-Base Solutions
- [ ] Area Builder
- [ ] Arithmetic
- [ ] Atomic Interactions
- [ ] Balancing Act
- [ ] Balancing Chemical Equations
- [ ] Balloons and Static Electricity
- [ ] Beer's Law Lab
- [ ] Bending Light
- [ ] Build an Atom
- [ ] Charges And Fields
- [ ] Color Vision
- [ ] Concentration
- [ ] Energy Skate Park: Basics
- [ ] Faraday's Law
- [ ] Forces and Motion: Basics
- [ ] Frac

[2017-02-07 22:53] phet-steele commented on #775
Done, back to @jessegreenberg

[2017-02-07 22:58] ariel-phet commented on #765
Closing this issue, as it will be superseded by a CCK testing issue @samreid will create soon.

[2017-02-07 22:58] #765 closed

[2017-02-08 02:20] clmccutchan commented on #778
![scale](https://cloud.githubusercontent.com/assets/25354670/22720770/0f10f9ce-ed6a-11e6-9398-a1fe7978134e.png)
@amanda-phet Here's a first stab at the scale. The base, cross bar, and pans are separate elements that can move independently.

[2017-02-08 04:08] samreid opened #780 "RC Test: John Travoltage PhET-iO"
John Travoltage has been instrumented for PhET-iO in https://github.com/phetsims/john-travoltage/issues/182 and a 1st RC has been published at http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-phetiorc.1/wrappers/index/

Testing Matrix
https://docs.google.com/spreadsheets/d/1Pg8HhMCdSVtiZAM7qXTo1kweL72VreW8qSpf1sl_W1c/edit#gid=2

The normal PhET-iO testing process should be used.

[2017-02-08 15:43] ariel-phet commented on #780
@phet-steele please make this top QA priority

[2017-02-08 21:28] samreid opened #781 "Test Circuit Construction Kit: Black Box Study 1.1.0-phetiorc.6"
In https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/40 I prepared a new version of Circuit Construction Kit: Black Box Study which will be used by our collaborators at Stanford in an upcoming study.

The first 1.1 RC is published here
UPDATE: see new version here https://github.com/phetsims/tasks/issues/781#issuecomment-278657028
UPDATE: see newer version here: https://g

[2017-02-08 22:23] ariel-phet commented on #781
@phet-steele next in line after #780

[2017-02-09 00:02] arouinfar commented on #781
There are three query parameters to test (including in combination with one another).

?showPlayPauseButton
* A play/pause button appears in the lower left corner of the sim.
* In "pause" mode the sim background is gray.
* In "pause" mode voltmeter and current meter will have a blank display.
* Electrons will not flow until "play" is pressed.
* In "play" mode, most actions will trigger "pause" mod

[2017-02-09 03:24] samreid commented on #781
These query parameters came in handy during debugging and I realized they may also come in handy during testing:

`&vertexDisplay=index&dev` shows the vertex indices and makes the black box semi-transparent:
![image](https://cloud.githubusercontent.com/assets/679486/22768012/612bf858-ee3c-11e6-82d6-c21d02b2c82f.png)

`&vertexDisplay=voltage` shows the voltage for each vertex (no ground).
![image](

[2017-02-09 14:22] samreid commented on #781
I have fixed 5/6 issues noted above.  The sixth is https://github.com/phetsims/circuit-construction-kit-common/issues/251 about the layering of electrons.  The layering of electrons and circuit elements has proved tricky, there are many open issues about layering and this will need a significant amount of work.  Hence we may leave that one out of RC.2.

[2017-02-09 14:29] samreid commented on #781
I do not believe that testing on rc.1 has completed.  Still, since I have addressed 5 of the discovered issues, I decided to publish rc.2.  I will leave it up to @phet-steele and @arouinfar whether they want to finish testing rc.1 or switch over to rc.2 now.

http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.0-phetiorc.2/circuit-construction-kit-black-box-s

[2017-02-09 16:46] jessegreenberg commented on #775
Thanks @phet-steele, closing, next version for spot checking fixes will be ready soon.

[2017-02-09 16:46] #775 closed

[2017-02-09 17:19] arouinfar commented on #781
I will switch my testing over to rc.2. Thanks @samreid.

[2017-02-09 18:51] phet-steele commented on #781
Ditto.

[2017-02-09 19:28] arouinfar commented on #649
@clmccutchan these look good. I absolutely love the Buick!

For the pumpkin, can you try something a bit more cartoony?  We're developing a new math sim, Unit Rates, that has quite a bit of produce in it. If possible, I'd like the style of the pumpkin to be similar to what's been done for Unit Rates.

Here are a few screenshots showing examples of the produce:
<img width=250, src="https://cloud.gi

[2017-02-10 01:48] clmccutchan commented on #649
Thanks, @arouinfar! The additional examples are very helpful. Much simpler than my pumpkin.

[2017-02-10 03:46] samreid commented on #764
To address https://github.com/phetsims/joist/issues/400 I published http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.3.1-dev.3/energy-skate-park-basics_en.html

It can now be used for subsequent testing.

[2017-02-10 05:00] samreid opened #782 "RC Test Bending Light 1.1.4-rc.2"
@kathy-phet pointed out that the reflected wave color in bending light was incorrect.  When @jonathanolson solved that problem in https://github.com/phetsims/bending-light/issues/359, it revealed a latent bug in the geometry which manifested as in incorrect wave propagation direction in the transmitted wave.  RC.2 fixes both of these issues (at least on my device that exhibited the problems):
http

[2017-02-10 19:35] arouinfar commented on #649
@clmccutchan if it would be helpful for us to have a Skype chat about the remaining artwork, please let me know! I'd be happy to chat with you about any questions you may have.

[2017-02-11 00:02] arouinfar commented on #781
@samreid I've finished testing rc.2.

[2017-02-13 16:35] clmccutchan commented on #649
@arouinfar A Skype or Zoom chat would be very helpful! Thanks. Here are some times that would work for me: Tues: 8:30-1:30, Wed 10-4, Fri: 8:30-3.

[2017-02-13 19:10] arouinfar commented on #649
Sounds good @clmccutchan. How about tomorrow at 12:00?

[2017-02-13 19:18] clmccutchan commented on #649
@arouinfar Sounds good. Skype or Zoom?

[2017-02-13 20:12] samreid commented on #782
@ariel-phet requested an increase in the number of prisms in https://github.com/phetsims/bending-light/issues/369

Hence, I'll withdraw this issue and create a new one when ready.

[2017-02-13 20:12] #782 closed

[2017-02-13 22:10] arouinfar commented on #649
@clmccutchan I've emailed you a Zoom link we can use tomorrow.

[2017-02-14 18:28] phet-steele commented on #773
🍹

[2017-02-14 18:28] #773 closed

[2017-02-14 18:39] jessegreenberg opened #783 "RC Test: Gravity and Orbits 1.1.0-rc.4"
@ariel-phet @oliver-phet @arouinfar, Gravity and Orbits 1.1.0-rc.4 is ready for RC testing.

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.1.0-rc.4/gravity-and-orbits_en.html)**

**[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.1.0-rc.4/gravity-and-orbits_en-iframe.html)**

**[Test Matrix](https://docs.google.com/spreadsheet

[2017-02-14 19:39] arouinfar commented on #649
@clmccutchan I've made a few slight tweaks to the checklist in https://github.com/phetsims/tasks/issues/649#issuecomment-248084499 based on our discussion today.

[2017-02-15 00:23] jessegreenberg opened #784 "RC Spot Check: Gravity Force Lab 2.1.0-rc.2"
@ariel-phet @phet-steele @arouinfar @oliver-phet, Gravity Force Lab 2.1.0-rc.2 is ready for an RC spot check after the last RC.  The two issues that have been fixed do not require a new RC, but they should be verified as fixed before closing and redploying the sim.

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/gravity-force-lab/2.1.0-rc.2/gravity-force-lab_en.html)**

**[Link to i

[2017-02-15 18:22] samreid commented on #781
All above issues have been addressed.  I'll use master for sun to pick up the slider fix.  Otherwise I'll use same SHAs as in RC.2 to minimize testing overhead.

[2017-02-15 18:27] samreid commented on #781
Sun also picked up some changes with respect to dispose(), we should make sure disposing sun components is still OK in RC.3

[2017-02-15 18:39] samreid commented on #781
I published RC.3 here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.0-phetiorc.3/wrappers/index/
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.0-phetiorc.3/circuit-construction-kit-black-box-study_en-phetio.html?phetioStandalone

I'll test each of the above open issues myself before turning this over to @aro

[2017-02-15 18:46] samreid commented on #781
I noted this issue in RC.3: https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/36#issuecomment-280100528

@phet-steele and @arouinfar can you please test out RC3 (links above) and see what else remains to be done before sharing with Shima?

[2017-02-15 19:34] jessegreenberg commented on #783
This sim has the bug in https://github.com/phetsims/joist/issues/403, and joist SHA needs to be updated.

[2017-02-15 20:31] samreid commented on #780
@emily-phet and I are wondering about the anticipated schedule for this issue.  @phet-steele @ariel-phet: When do you think testing will complete?

[2017-02-15 20:38] phet-steele commented on #780
@samreid it would be okay if this were deemed complete now. The testing matrix is not filled out but that's not to say the sim was not tested on those platforms.

[2017-02-15 20:38] samreid commented on #780
Excellent, thanks @phet-steele.  I'll leave this issue open as a reference/index to the discovered issues.

[2017-02-15 20:39] amanda-phet commented on #778
I like the style of this a lot! I put a screen shot into the design and it looks pretty nice.
![screen shot 2017-02-15 at 1 36 33 pm](https://cloud.githubusercontent.com/assets/7852916/22994424/1e90c15c-f384-11e6-91cc-123083ae7bae.png)

A few details are still needed:
1. The joint at the fulcrum should look like it can move, and be slightly higher than the horizontal bar
2. The joint where the ver

[2017-02-15 23:45] jessegreenberg commented on #784
Thanks @phet-steele, #73 should be fixed now, closing, preparing a new task.

[2017-02-15 23:45] #784 closed

[2017-02-16 00:13] jessegreenberg opened #785 "RC check: Gravity Force Lab 2.1.0-rc.3"
@ariel-phet @phet-steele @arouinfar @oliver-phet, Gravity Force Lab 2.1.0-rc.3 is ready for an RC spot check after the last RC. The last issue should be fixed, and required minor changes.  @phet-steele could you please verify that it can no longer be produced? OSX Safari was the last platform to spot check in the previous RC, could you also check that platform before we redeploy?

[Link to sim](ht

[2017-02-16 00:41] jessegreenberg commented on #783
I have updated the task links and comments for the new version.  We are up to rc.4 because gravity-and-orbits was a guinea pig for build-server yesterday.  IMO we shouldn't need to start the test task over, the only change is an updated joist SHA, but @phet-steele it is your call.

[2017-02-16 01:59] clmccutchan commented on #778
@amanda-phet It actually might be helpful to chat over zoom tomorrow or Fri so we can figure out how to make the joints more flexible. Thursday's weird for me but I'll give you some times anyway.

Thurs: 8:15-9:15, 12:15-2
Friday: anytime between 8:30 and 3:30

[2017-02-16 17:07] phet-steele commented on #783
Not going to start over.

[2017-02-16 17:10] samreid opened #786 "RC Test Bending Light 1.1.4-rc.3"
@kathy-phet pointed out that the reflected wave color in bending light was incorrect.  When @jonathanolson solved that problem in https://github.com/phetsims/bending-light/issues/359, it revealed a latent bug in the geometry which manifested as in incorrect wave propagation direction in the transmitted wave.  RC.3 fixes both of these issues (at least on my device that exhibited the problems):
http

[2017-02-16 17:31] samreid commented on #780
@emily-phet, will you please review the open issues marked above to see if they must be solved before delivering something to ETS?

[2017-02-16 17:36] phet-steele commented on #780
I'll reference this one, too. https://github.com/phetsims/phet-io/issues/1037

[2017-02-16 17:49] emily-phet commented on #780
@samreid Just sent you an email about this. Here's the list:
Issues likely important to address before sending to ETS:
https://github.com/phetsims/phet-io/issues/1035
https://github.com/phetsims/john-travoltage#193
https://github.com/phetsims/phet-io/issues/1039
https://github.com/phetsims/john-travoltage/issues/194
https://github.com/phetsims/john-travoltage#198

Not sure about importance of:
htt

[2017-02-16 18:03] ariel-phet commented on #781
@phet-steele moving to top priority for the moment until complete

[2017-02-16 20:53] samreid commented on #780
@emily-phet reviewed the issues and it looks like rc1 should be promoted to production for ETS.  We can discuss if we want to pick up the other master changes and do another test cycle before sharing to other groups and listing in our PhET-iO set.

[2017-02-16 21:01] samreid commented on #780
I published 1.3.0-phetio.  Still getting this error in playback:

![image](https://cloud.githubusercontent.com/assets/679486/23040920/6ec777de-f450-11e6-96fa-730a367f5830.png)

[2017-02-16 21:17] phet-steele commented on #785
@oliver-phet @jessegreenberg This rc has been spot checked!

[2017-02-17 00:48] oliver-phet opened #787 "Create promo/review email"
Subject: Thanks, small gift, and a request.

Thanks for providing your feedback on our iPad app survey and bing willing to being contacted for more feedback.

As a small token of our appreciation, here is a promo code for you to share with a friend that they can redeem for a FREE copy of the PhET iPad app.

If you have a moment, we are trying to collect more reviews of our iPad app.

Follow these

[2017-02-17 05:47] samreid commented on #781
I published rc.4 here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.0-phetiorc.4/wrappers/index/

It addresses 4 of the above open issues.  For the remaining open issues, I'm hoping we can "punt" on them for our February deadline.

[2017-02-17 17:08] samreid commented on #781
I also published rc.5 here http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.1.0-phetiorc.5/wrappers/index/ which contains these new black boxes: https://github.com/phetsims/circuit-construction-kit-black-box-study/issues/41

[2017-02-17 17:24] clmccutchan commented on #778
@amanda-phet  Take a look at this draft of the scale. What do you think? If you like it, I'll send you the .ai file.

![scale](https://cloud.githubusercontent.com/assets/25354670/23075820/217ad86c-f4fb-11e6-95db-5ff3d747e8c4.png)

[2017-02-17 20:02] phet-steele commented on #786
@samreid I checked:

- macOS 10.12.3 Chrome, everything looked fine.
- iOS 10.2 retina, wave direction was good
- iPad 2, performance was not different
- JB's iPhone 5c, wave direction was good
- Win 10 Chrome & Edge, everything looked fine.

@samreid @ariel-phet, is this enough testing?

[2017-02-17 20:48] samreid commented on #786
In my opinion, that is sufficient testing for these changes, thanks @phet-steele!

[2017-02-17 21:06] phet-steele commented on #781
For all intents and purposes, this testing is done. The sim has a production version and will soon be delivered. Lowering priority and passing back to @samreid.

[2017-02-17 21:08] ariel-phet commented on #786
Sounds good to me

[2017-02-17 21:09] ariel-phet commented on #776
Moving back to top priority for the moment

[2017-02-17 23:21] oliver-phet commented on #787
Emails have been sent to 12 users. Closing.

[2017-02-17 23:21] #787 closed

[2017-02-20 15:10] samreid commented on #780
The above issue will probably be fixed when the phet-io website gets republished.  1.3.0 was shared with @emily-phet and ETS and this issue is ready to close.

[2017-02-20 15:10] #780 closed

[2017-02-20 16:12] amanda-phet commented on #778
I was thinking the hinge would be at the meeting place for the plate stand and horizontal bar. Can you also make a version like this? I'll run both by the design team and see what feedback they have.

![screen shot 2017-02-20 at 9 10 37 am](https://cloud.githubusercontent.com/assets/7852916/23132990/aac77c9e-f74c-11e6-864f-11bcca4ab758.png)

Thanks!

[2017-02-20 19:13] clmccutchan commented on #778
@amanda-phet How about this instead?
![scale](https://cloud.githubusercontent.com/assets/25354670/23138685/f99e3e84-f765-11e6-961c-e79534b9710c.png)

[2017-02-20 21:05] amanda-phet commented on #778
Thanks @clmccutchan . Now that I see it I realize that doesn't work as well as I thought.. let me show these to some design team members to get feedback and I'll be in touch about further tweaks!

[2017-02-21 18:26] clmccutchan commented on #778
@amanda-phet Most pan balances have some kind of rod under each pan to keep it aligned vertically. I wonder if there is some way to design the scale like that. Maybe that's the problem with the hinges; it looks like the pans can just flop over to the sides.
![images-5](https://cloud.githubusercontent.com/assets/25354670/23178608/5b9b34ee-f828-11e6-8918-cbd9fe0a28fd.jpeg)
![unknown](https://cloud.g

[2017-02-21 18:32] amanda-phet commented on #778
I agree- it does seem floppy!

The rod might be a good way to go... I just wanted the balance to look clean and not distracting from the important stuff (the items ON the balance). Perhaps we could make it gray/steel instead of brass, give it a base (I prefer something like the second picture but maybe shorter vertically), put the pans on a vertical rod, and put something in the center that would

[2017-02-21 18:41] clmccutchan commented on #778
@amanda-phet  I think so. The two examples I put up have a lot of extra parts that aren't needed in a cartoon scale. I'll make a super simple example so we can get the lengths of the components correct. Then, I can doll it up a bit once you're happy with the general proportions.

[2017-02-21 19:15] clmccutchan commented on #778
@amanda-phet You did have a scale in the comment above (ahttps://github.com/phetsims/tasks/issues/778#issue-204703710) that is fairly simple. Want to go back to that design without the stabilizing rods?

[2017-02-21 19:18] amanda-phet commented on #778
Let's try the stabilizing rods. The scale I included was a starting point, but the plates would likely get in the way of the horizontal bar when unbalanced. However if the new ideas are proving difficult feel free to try whatever you want!

[2017-02-21 21:25] jonathanolson opened #788 "RC Testing for Make a Ten 1.0.0-rc.2"
@amanda-phet, @bethstade, @ariel-phet, Make a Ten 1.0.0-rc.2 is ready for RC testing.

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/make-a-ten/1.0.0-rc.2/make-a-ten_en.html)**

**[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/make-a-ten/1.0.0-rc.2/make-a-ten_en-iframe.html)**

**[Test Matrix](https://docs.google.com/spreadsheets/d/1aWJdfQl7BV4-qWiBz-oN-mesnT4_6Eo0w

[2017-02-21 21:51] clmccutchan commented on #778
@amanda-phet I'm trying to envision how the scale will move in the animation and did one little mock-up in Flash. No rods, but I can alter the components really quickly to add them. what do you think?

[2017-02-21 21:52] clmccutchan commented on #778
@amanda-phet  Eeek! I think I just did something bad to this ticket! I may have

[2017-02-22 00:28] ariel-phet commented on #788
@phet-steele since this sim is close to publication it should be top testing priority

[2017-02-22 15:06] samreid commented on #781
Thanks @phet-steele and @arouinfar for all your discoveries during testing, closing.

[2017-02-22 15:06] #781 closed

[2017-02-22 18:40] clmccutchan commented on #649
@amanda-phet I believe this is everything on the list except for David's shorts on the ground. I'll get those to you later today. I left one wheel by the broken Buick; it could potentially roll off of the screen when the car hits the ground. Let me know what needs to be tweaked on these.

![projectile motion_buicks](https://cloud.githubusercontent.com/assets/25354670/23226602/5eca408a-f8f3-11e6-8b

[2017-02-22 18:58] arouinfar commented on #649
I love it @clmccutchan!! When you get the chance can you put the .ai file in your Drive folder?
https://drive.google.com/drive/u/0/folders/0B6CMwxdP0NGYbDZ4Qmt2UDZlOEU

I think these will all work nicely, but I'd like to drop them into the mockups to check if anything needs tweaking.

[2017-02-22 19:38] clmccutchan commented on #649
@arouinfar I don't have access to the Google drive folder. I just requested access. The .ai file is small enough for me to email. Here are the shorts.

![projectile motion_shorts](https://cloud.githubusercontent.com/assets/25354670/23228987/dbdab3fe-f8fb-11e6-9e4d-57516a706c1f.png)

[2017-02-24 04:16] samreid commented on #764
@ariel-phet what is the expected timeline for completing testing for this issue?

[2017-02-24 04:17] samreid commented on #786
Thanks for testing @phet-steele, I'll continue with publishing in https://github.com/phetsims/bending-light/issues/370

[2017-02-24 04:17] #786 closed

[2017-02-24 16:53] ariel-phet commented on #764
@phet-steele can this be finished today?

[2017-02-24 17:28] amanda-phet commented on #778
The team really liked the scale you emailed to me that was animated. A few tweaks:

1. If the vertical bar holding the plate can be shorter but still accommodate the maximum tilt, let's make it a tiny bit shorter.
2. The vertical post in the center can probably be shorter - perhaps just to the horizontal bar?
3. Can you change the point of rotation to the *base* of the red arrow rather than the mi

[2017-02-24 17:45] amanda-phet opened #789 "Artwork for Function Finder"
Discussed briefly with @clmccutchan a bit already, but summarizing here. We are looking for a few "scenes" that can be interacted with using a spinner. To start,
- [ ] fish in fish bowl (0 - 4 fish total)
- [ ] "toon" heart that will shrink a tiny bit
- [ ] snow pile in front of a ruler (ranges from 15 - 18 inches)

Once we have a few started we can add more to the list.

[2017-02-24 17:50] phet-steele commented on #764
@samreid @ariel-phet this has been chipped away as we go, and most everything runs well except for one issue that may be indicative of something more sinister: phetsims/joist/issues/407

Other than that, testing here is done.

[2017-02-24 18:45] samreid commented on #764
Thanks @phet-steele, I'll continue in the joist issue.

[2017-02-24 18:45] #764 closed

[2017-02-27 19:13] phet-steele commented on #788
![greenlight](https://cloud.githubusercontent.com/assets/5863899/23375459/b036939c-fce5-11e6-9f7a-77fcd69c8dca.png)

[2017-02-27 19:25] jonathanolson commented on #788
@amanda-phet and @ariel-phet, good to deploy to production? (I believe https://github.com/phetsims/make-a-ten/issues/273 should not be a blocking issue).

[2017-02-27 20:06] clmccutchan commented on #778
@amanda-phet Here's a new draft of the scale. I'll send you an animation via email so that you can see its range of motion.
![scale](https://cloud.githubusercontent.com/assets/25354670/23377511/84ad9df8-fced-11e6-99fa-6f2bcc72f37b.png)

[2017-02-27 20:40] clmccutchan commented on #778
@amanda-phet  I think I've successfully put the .ai file in my shared drive. Let me know if you need me to tweak some more things.

[2017-02-27 21:50] amanda-phet commented on #778
Thanks @clmccutchan this looks great! I'll go ahead and close this issue.

[2017-02-27 21:50] #778 closed

[2017-02-28 17:37] ariel-phet commented on #788
@jonathanolson yes, good to deploy! closing

[2017-02-28 17:37] #788 closed

[2017-02-28 19:12] amanda-phet opened #790 "Screenshot for Make-A-Ten"
Can you please take the official screenshot for Make-A-Ten using an iPad? I believe it then gets uploaded to the sim repo.

For some reason my screenshot won't upload... I've been trying for at least an hour! What I had in mind is the explore screen with a few different combined numbers. If you are feeling up to it, maybe be in the process of breaking apart a number while the hand cue starts fadin

[2017-02-28 20:08] aadish opened #791 "RC Check: Isotopes And Atomic Mass 1.0.6-rc.1"
@ariel-phet , @phet-steele  Isotopes and Atomic Mass 1.0.6-rc.1 is ready for RC testing. It does not involve invasive changes to code base therefore a complete testing is not required. Spot Check should work

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/isotopes-and-atomic-mass/1.0.6-rc.1/isotopes-and-atomic-mass_en.html)**

**[Link to iFrame](http://www.colorado.edu/physics/phet/

[2017-02-28 21:30] ariel-phet commented on #791
Marking high since should be quick

[2017-02-28 21:41] phet-steele commented on #790
Pick a screenshot, any screenshot!

![img_0027](https://cloud.githubusercontent.com/assets/5863899/23434532/01ea4d22-fdc3-11e6-8973-a05459fe8889.png)

![img_0028](https://cloud.githubusercontent.com/assets/5863899/23434956/d199775a-fdc3-11e6-8e33-8bb750bfcfe0.png)

It was not easy to upload these, either.

[2017-02-28 21:53] phet-steele commented on #790
Or this one:

![img_0026](https://cloud.githubusercontent.com/assets/5863899/23435834/b3d27f8a-fdc5-11e6-8f85-e9feb9e52de2.PNG)

[2017-02-28 22:09] phet-steele commented on #791
@aadish it works! Thanks!

Checked on macOS 10.12.3 Chrome.

[2017-02-28 22:17] aadish commented on #791
@phet-steele thanks, will go ahead and publish it

[2017-02-28 22:25] phet-steele commented on #790
To simulate how each would look on the site:

![img_0026](https://cloud.githubusercontent.com/assets/5863899/23437003/c14b2ff0-fdc9-11e6-9a02-b4055563c87d.PNG)

![img_0026](https://cloud.githubusercontent.com/assets/5863899/23436808/1558902a-fdc9-11e6-8451-28442d89803c.PNG)

![img_0027](https://cloud.githubusercontent.com/assets/5863899/23436962/96927854-fdc9-11e6-81de-46f307bdd91b.png)

![img_002

[2017-02-28 22:26] aadish commented on #791
deployed and its live at: https://phet.colorado.edu/sims/html/isotopes-and-atomic-mass/latest/isotopes-and-atomic-mass_en.html

closing

[2017-02-28 22:26] #791 closed

[2017-02-28 22:29] amanda-phet commented on #790
I like the first one the best, but am fine with either of the "506=" if others have strong opinions. Thank you for taking these!

[2017-02-28 22:41] phet-steele commented on #790
@jonathanolson @amanda-phet uploaded the bottom aligned "506=" image!

[2017-02-28 22:41] #790 closed

[2017-03-01 22:41] jbphet opened #792 "RC Test: Build an Atom v1.4.0-phetiorc.1"
A PhET-iO release candidate of Build an Atom is ready for testing.  This version is intended to be demonstrated at the South by Southwest conference in early March 2017 and then shared with customers.  This version covers only screens 1 and 2 and does not include the game screen (i.e. the game screen is entirely omitted from this build).

A fairly thorough test should be performed, since a lot of

[2017-03-02 02:31] ariel-phet commented on #792
Considering the priority for @kathy-phet this should be top of the heap.

[2017-03-02 06:28] jessegreenberg commented on #785
@ariel-phet @phet-steele @oliver-phet 2.1.0 has been deployed to the website! Closing.

[2017-03-02 06:28] #785 closed

[2017-03-02 19:57] ariel-phet opened #793 "Consider animated GIFs for twitter"
I have been meaning to try this for awhile. Sounds like quicktime lets you do screencapture to gif easily, and there are a few other tools. Will investigate.

[2017-03-03 20:00] jonathanolson opened #794 "Proportion Playground dev testing (1.0.0-dev.19)"
http://www.colorado.edu/physics/phet/dev/html/proportion-playground/1.0.0-dev.19/proportion-playground_en.html could use some initial dev testing.

Please check on the following platforms

- [x] Mac Safari
- [x] Windows Chrome
- [x] iPad

[2017-03-03 20:05] jessegreenberg opened #795 "RC Test: Balloons and Static Electricity 1.2.0-rc.2"
@ariel-phet @phet-steele @jbphet @arouinfar, Balloons and Static Electricity 1.2.0-rc.2 is ready for RC testing.

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-rc.2/balloons-and-static-electricity_en.html)**

**[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-rc.2/balloons-and-static-electrici

[2017-03-03 20:20] jonathanolson opened #796 "RC Check: Make a Ten 1.0.1-rc.1"
@ariel-phet, @phet-steele  Make a Ten 1.0.1-rc.1 is ready for RC testing. It does not involve invasive changes to code base therefore a complete testing is not required. Spot Check should work

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/make-a-ten/1.0.1-rc.1/make-a-ten_en.html)**

**[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/make-a-ten/1.0.1-rc.1/make-a-ten_e

[2017-03-06 17:01] phet-steele commented on #796
@jonathanolson spot check done. Checked,

- macOS 10.12.3 Chrome
- macOS 10.12.3 FF
- Win10 Chrome
- iPad iOS 9.3.5

[2017-03-06 17:11] phet-steele commented on #795
@jessegreenberg there was already an rc test for a version 1.2.0-rc.1 in #513. Can you verify that the link you supplied above is the most up to date and not the same sim from a year ago?

[2017-03-06 18:22] phet-steele commented on #783
@jessegreenberg done.

[2017-03-07 06:17] pixelzoom opened #797 "Dev test: Unit Rates 1.0.0-dev.68"
Unit Rates is ready for its first round of dev testing.

Here's the dev version:

http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.68/unit-rates_en.html

Familiarize yourself with the domain by reading [model.md](https://github.com/phetsims/unit-rates/blob/master/doc/model.md). Then read the Terminology section of [implementation-notes.md](https://github.com/phetsims/unit-rates/b

[2017-03-07 06:17] pixelzoom commented on #797
@ariel-phet please assign and prioritize.

[2017-03-07 07:36] ariel-phet commented on #797
@phet-steele also a current top priority

[2017-03-07 23:21] jessegreenberg commented on #783
Thanks very much @phet-steele, will redeploy today.

[2017-03-07 23:32] #783 closed

[2017-03-07 23:47] jessegreenberg commented on #795
Good catch @phet-steele.  I bumped to RC.2, and built a new sim.  I updated the links in the original issue ticket.

Here is the history and reason there was previously an 1.2.0 that went through an RC test:
- Before the summer redeploy, there was an a branch for 1.1.0 in balloons-and-static-electricity that went through some RC testing, but never passed, and was never deployed.
- Rather than upda

[2017-03-08 19:19] phet-steele commented on #795
Specifically, so the testing matrix doesn't become confusing with multiple tabs of the same version.

[2017-03-08 19:48] jonathanolson commented on #796
Deployed, thanks!

[2017-03-08 19:48] #796 closed

[2017-03-08 21:43] phet-steele commented on #795
Issue above was referenced wrong, ignore it.

[2017-03-09 07:21] mattpen commented on #464
@oliver-phet - It looks like there has been more "legitimate" mail to this inbox recently.  I added a filter to this account that may work.  I'm currently sending the mail that passes this filter to the folder "Potential Whitelist".  Can you take a look and see if that would be reasonable for forwarding to phethelp?

[2017-03-10 18:14] zepumph opened #798 "Test: Installer-builder"
The links to test can be found here:
http://www.colorado.edu/physics/phet/dev/installer-testing/2017-03-09/

A few key points:
* Hammer the pages focused around the sims. Make sure that there aren't any places that the sims aren't served correctly, or if they aren't working. That's the core function of the installer after all.
* Look at the url as you click around, it is easy to get redirected bac

[2017-03-10 19:28] oliver-phet commented on #798
Also assigning @arnabp if he has availability to test.

[2017-03-10 19:31] clmccutchan commented on #789
@amanda-phet  I should have a draft of all of these for you by Monday. For the fish, would you like one kind of fish or four kinds of fish to put in the fish bowl?

[2017-03-10 22:00] mattpen opened #799 "QA test for https://bayes.colorado.edu"
@phet-steele - Would it be possible to spend some time QA testing the disaster recovery version of the website at https://bayes.colorado.edu in the next week?

The website is in "maintenance-mode", which means you should not be able to logon or register, or do anything else that might be saving new data on the website.

This is related to phetsims/website#590.

[2017-03-10 22:00] mattpen opened #800 "QA test for https://bayes.colorado.edu"
@phet-steele - Would it be possible to spend some time QA testing the disaster recovery version of the website at https://bayes.colorado.edu in the next week?

The website is in "maintenance-mode", which means you should not be able to logon or register, or do anything else that might be saving new data on the website.

This is related to phetsims/website#590.

[2017-03-10 22:05] mattpen commented on #799
DUPE

[2017-03-10 22:05] #799 closed

[2017-03-10 22:13] phet-steele commented on #800
@mattpen can you be a bit more specific on what exactly wouldn't work while testing?

[2017-03-10 22:25] jbphet opened #801 "RC Test: Build an Atom v1.4.0-phetiorc.2"
A new RC has been built from the 1.4-phetio branch and is ready for testing.  This issue supplants the testing that was in progress for v1.4.0-phetiorc.1.

Link to the index of wrappers (this is password protected): http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.4.0-phetiorc.2/wrappers/index/

Testing Matrix:
https://docs.google.com/spreadsheets/d/16nsbXx_2r7_FoCxSQyZSOtLcoYs4VddA3m

[2017-03-10 22:27] jbphet commented on #792
Superseded by #801, closing.

[2017-03-10 22:27] #792 closed

[2017-03-10 23:42] mattpen commented on #800
@phet-steele - That was intentionally open-ended, because I can't think of any other use case that would take data from a user.  All forms, including website translation, profile editing, contribution submitting, should not be accessible if there is no way to logon.  If you can think of any other way a user might submit some form or data please let me know.

This should just be a general glance ov

[2017-03-11 02:05] ariel-phet commented on #801
Marking medium for the moment (since the SXSW goal was already reached)

[2017-03-11 22:05] amanda-phet commented on #789
Awesome! We can keep it simple and just have one kind of fish.

[2017-03-13 17:02] phet-steele commented on #797
@pixelzoom this dev testing is done. I (personally) tested Win 10 Edge, macOS 10.12.3 Chrome & Safari, and iOS 10.2.

[2017-03-13 17:10] pixelzoom commented on #797
Thank you @phet-steele for your usual thoroughness.

Closing.

[2017-03-13 17:10] #797 closed

[2017-03-13 17:42] pixelzoom commented on #797
@arouinfar @ariel-phet  Dev testing is completed. Ready for RC testing as soon as https://github.com/phetsims/unit-rates/issues/176 is verified by @arouinfar.

[2017-03-13 17:53] arouinfar commented on #797
@pixelzoom please hold off on publishing an RC version. I may have some minor change requests, but I'll be speaking with @amanda-phet about them first. We're meeting in about an hour, but I'll let you know the final decision ASAP @pixelzoom.

[2017-03-13 18:51] ariel-phet commented on #794
Moving to current top testing priority

[2017-03-13 18:57] ariel-phet opened #802 "Materials for elementary school STEM night"
@oliver-phet @phet-steele I was asked to do a table at a local elementary school STEM night this Thursday March 16. A few things I will need:

- [x] Our banner poster
- [x] Some general PhET flyers (if we have some leftover ones that will be fine). I am sure ~100 would be plenty
- [x] An iPad air with the PhET app loaded
- [x] One extension cord and surge protector
- [ ] Perhaps a first stab at ou

[2017-03-13 20:05] jbphet commented on #801
Yes, the SXSW goal has been reached, but I spoke with @kathy-phet after she got back from the conference and she said that there was a lot of interest in the phet-io version of BAA and she would like to have a production release of this ready to go this week (i.e. the week of March 13 2017).  Also, the collaborators from Georgia Tech need an update pretty badly, please see https://github.com/phets

[2017-03-13 20:36] ariel-phet commented on #801
Bumping to parallel top priority with proportion playground testing.

[2017-03-13 21:08] clmccutchan commented on #789
@amanda-phet Here's a first draft of those illustrations. I did draw two kinds of fish, but the second fish is just tweaked from the first fish. I can change the fish color if you want. The fish tank contains some taller plants which I've placed behind the fish. I've also given you two snow piles to choose from: one with very little detail and the other with more detail. Let me know what you would

[2017-03-14 17:58] phet-steele commented on #802
@ariel-phet all materials will be in my office.

[2017-03-14 18:12] oliver-phet commented on #802
@ariel-phet If we are going to try to print the parent flyer, we’ll need to come up with some copy (it is currently Greeked).

[2017-03-14 18:34] ariel-phet commented on #802
@oliver-phet perhaps Jackie is willing to take a stab? Or you and I can put something together? I look at this as a potential test run

[2017-03-16 16:09] phet-steele commented on #801
@jbphet we can consider this done, no major bugs! Congrats!

[2017-03-17 02:43] emily-phet opened #803 "Export of older Camtasia Recordings to video file"
I need the following camtasia files from phet-storage exported as video files for sharing with collaborators:
2013_07_10_BASE_OL_RIAW_HTML5_G7_M_ZC_PC_NP.camrec
2013_07_10_BASE_OL_RIAW_HTML5_G5_M_QC_PC_NP.camrec
2013_07_10_BASE_OL_RIAW_HTML5_00010_G5_F_SL2_Surface_Chrome_NP.camrec

By March 24th would be ideal.

[2017-03-17 17:22] amanda-phet opened #804 ""train coupler" needed for Equality Explorer"
I'd like to have something that looks like a train coupler to show when two boxes are detached and attached. Ideally they have a simple appearance (perhaps two-tone but no more than two colors). I'd also like to be able to change the color of the arms separately, but I'm not sure what the final colors will be. So, the left arm might be blue and the right arm might be red.

Here is a picture for re

[2017-03-17 17:22] amanda-phet commented on #789
This looks great.

Since this sim is on hold I'll keep this assigned to myself and reassign to @clmccutchan when I have some more specific feedback.

[2017-03-17 17:23] ariel-phet commented on #803
@oliver-phet @phet-steele it seems this would be good to take care of in the near future (given the time line). Is this something @arnabp has some time to do? If not could one of you handle it?

[2017-03-17 17:24] ariel-phet commented on #802
STEM night attended, closing

[2017-03-17 17:24] #802 closed

[2017-03-17 18:55] oliver-phet commented on #464
@mattpen That all looks fine to forward. Another alternative I thought might be to just send an automatic return to any mail received that says something like "This email account is not monitored. To contact PhET, please email phethelp@colorado.edu." ?

[2017-03-17 19:22] oliver-phet commented on #803
@emily-phet It looks like all 3 of these have already been converted to .mpg and stored on phet-storage. The 3rd file, I couldn't find (exactly) is the one I linked the correct file?

2013_07_10_BASE_OL_RIAW_HTML5_G7_M_ZC_PC_NP.camrec https://drive.google.com/drive/folders/0BxY3hgNdnYNHVlgyN0tkLUhjdWc?usp=sharing
2013_07_10_BASE_OL_RIAW_HTML5_G5_M_QC_PC_NP.camrec
https://drive.google.com/drive/fol

[2017-03-17 19:54] mattpen commented on #464
@oliver-phet - I thought of that also, but I'm worried that it creates a less than ideal user experience.   I can put that in place using the vacation responder if you don't think it will be a problem.

[2017-03-17 20:13] jbphet commented on #801
Thanks @phet-steele - I'll move forward with the production release.  Closing.

[2017-03-17 20:13] #801 closed

[2017-03-17 20:53] oliver-phet commented on #464
How about for now, setup the automatic forwarding. If that isn't working we can change it to a vacation responder.

[2017-03-17 21:04] mattpen commented on #464
@oliver-phet - OK the forwarding is in place.  If the inbox gets overwhelmed we can filter it out with "to:phetmail@colorado.edu".

[2017-03-20 13:09] emily-phet commented on #803
@oliver-phet The .mpg files in these folders are actual video recordings of the interviews, not the  converted camtasia files.

[2017-03-20 17:37] emily-phet opened #805 "Balloons and Static Electricity - The Animated Movie! (Needed by March 27th)"
I would like a very special screen capture made of Balloons and Static Electricity.

As part of the sonification work, we will need a short (screen capture) video of Balloons and Static Electricity, where the video shows use of the sim as a narrative - a short story about a balloon that discovers it can pick up charges from a sweater, induce charge in a wall, find a friend (Green Balloon), battle,

[2017-03-20 18:52] phet-steele commented on #794
@jonathanolson @ariel-phet this is done.

[2017-03-20 19:21] oliver-phet commented on #803
@emily-phet: @phet-steele and I just uploaded the new exported videos into the accompanying folder on phet-storage (they are the new .mp4 files).
2013_07_10_BASE_OL_RIAW_HTML5_G7_M_ZC_PC_NP
https://drive.google.com/drive/u/1/folders/0BxY3hgNdnYNHVlgyN0tkLUhjdWc
2013_07_10_BASE_OL_RIAW_HTML5_G5_M_QC_PC_NP
https://drive.google.com/drive/u/1/folders/0BxY3hgNdnYNHYVdrU2ZCREFYV0k
2013_07_08_BASE_OL_RIA

[2017-03-20 20:13] ariel-phet commented on #805
@phet-steele - you have certainly done lots of our screen capture work (for conference and website rotating videos), I feel like this would be in your wheelhouse.

[2017-03-20 20:25] phet-steele commented on #805
@emily-phet a few questions:

- What would the ideal length of this video be?
- Do we need to see the cursor or would it be better to hide it?
- High resolution?
- Is there an ideal screen size?

[2017-03-20 21:11] emily-phet commented on #805
@phet-steele Attempted answers...
- Length - 2 minutes max, more like 90 seconds would be ideal.
- Ideally the cursor would not be seen, but I'm not sure if that will actually make sense...e.g., you might need to distinguish between "grabbed" and not "grabbed" so that it's clear to the audience when the balloon is being moved vs attracted/repelled. So, probably cursor will need to be seen.
- For t

[2017-03-21 21:25] oliver-phet opened #806 "Prepare stuff for NSTA"
- [x] Print general flyers (800?)
- [x] 2x iPads with app
- [x] Potentially new stickers?
- [x] Booth bag ready
- [x] Print app flyers (200?)
- [x] Macbook Air conference video (@ariel-phet, is this video sufficient or does @phet-steele need to remake? https://github.com/phetsims/phet-info/blob/master/conferences/NSTA_STEM_2016.mp4)
- [x] Send NSTA email
- [x] KP business cards

[2017-03-22 18:21] arouinfar commented on #806
@oliver-phet 800 flyers sounds about right. I think Trish and I handed out about 700 flyers last time we were at NSTA.

[2017-03-22 18:30] ariel-phet commented on #806
@oliver-phet I think that video is good, if I were going to change anything I would add function builder, but I think it is fine as is

[2017-03-22 21:53] jbphet opened #807 "Dev test: Expression Exchange 1.0.0-dev.21"
We are about to start interviews on Expression Exchange, and it would be good to do a round of dev testing to make sure that the sim is ready for this.  The game screen has been recently implemented and hasn't been tested much, so a fair amount of testing effort should be spent on that.  Also, implementing the game code caused a lot of code refactoring that could have impacted the other screens, s

[2017-03-22 22:10] ariel-phet commented on #807
Seems like this should get top billing currently.

[2017-03-22 23:25] clmccutchan commented on #804
@amanda-phet Here's a first draft of the train coupler open and closed. I've made the coupler with a background color (blue or red in these examples), but you can change the background to any color you like in Illustrator. The highlights/shadows are created with gray transparency filters so you can change that background color and the shadows/highlights should still work. I tested them with a numb

[2017-03-23 02:32] mattpen commented on #464
@oliver-phet - Please reassign me if we need any further changes.

[2017-03-23 03:02] mattpen opened #808 "Website QA: Activity page and file access"
@phet-steele - Can QA please test the latest state of activity page and file access on ox-dev as described in phetsims/website#580?

The changes are that unapproved activities, both pages and files, should only be accessible to users signed in as the owner of the file or phet team members.  All approved activity pages should be accessible by anyone, and all approved activity files should be access

[2017-03-23 20:30] phet-steele commented on #808
@mattpen @ariel-phet on hold until https://github.com/phetsims/website/issues/580#issuecomment-288849926

[2017-03-24 16:15] amanda-phet commented on #804
I found a way to integrate what you made and it looks great! The team likes the appearance, too. I don't have any tweaks. I will just want to change the colors (which you made possible- thank you!) and extend the arm to be a bit longer (which seems easy enough). Please feel free to share your .ai file!

[2017-03-24 16:46] clmccutchan commented on #804
@amanda-phet Awesome! The .ai file is in my artwork folder. Let me know if you have any questions.

[2017-03-24 17:31] amanda-phet commented on #804
For some reason I'm having trouble opening the file. I know you use a newer version of illustrator but this time it's saying the file is a pdf (it is clearly an ai file though). Can you try saving it as an older version? We are using CS6.

[2017-03-24 17:49] clmccutchan commented on #804
@amanda-phet Oh yes, I forgot you guys use CS6. I've saved the file in the older format and reloaded it in the google drive.

[2017-03-24 18:02] amanda-phet commented on #804
Perfect! Thank you so much.

[2017-03-24 18:02] #804 closed

[2017-03-24 18:55] phet-steele commented on #680
http://www.java9countdown.xyz/

[2017-03-27 22:19] emily-phet commented on #805
@phet-steele - how is this coming along? Is it still possible to get this by end of day today? Thanks!

[2017-03-27 22:37] mattpen commented on #800
@phet-steele - I've corrected the two linked issues.  Is there anything else to be done here?

[2017-03-27 23:09] phet-steele commented on #805
@emily-phet I sent an email to @arnabp to check on the status.

[2017-03-28 07:11] terracoda commented on #805
@emily-phet, @phet-steele, and @arnabp, I created one that might do, and just in case people are short on time.
I am uploading it to the Phet Acessibility/Sonification Work folder.

It is done in QuickTime. The screen capture is a full 95 seconds, but can be clipped on either end. I included a bit of button clicking at the start, and a reset at the end. Those bits could be cut.

[2017-03-28 08:14] terracoda commented on #805
My connection is slow. It will take some time to upload :-)

[2017-03-28 09:18] terracoda commented on #805
Hmm, upload failed a few times. I'll try again at night.

[2017-03-28 16:21] phet-steele commented on #800
@mattpen the linked issue immediately above is the last thing I felt should be brought up.

[2017-03-28 16:27] phet-steele commented on #798
@zepumph testing of the installer revealed it was solid enough to start the weekly installer testing again. We do not need a dedicated test task anymore. In case no one has told you @zepumph, the installer will now be downloaded from the website and tested every Monday.

[2017-03-28 16:27] #798 closed

[2017-03-28 16:28] #794 closed

[2017-03-28 18:25] arnabp commented on #805
I'm working on it now. To be clear, the clip we're creating won't have any sound in it for now right?

[2017-03-28 18:28] phet-steele commented on #805
@arnabp that is correct.

[2017-03-28 19:16] arnabp commented on #805
[How does this look?](https://drive.google.com/open?id=0B4YbviHsDyYITllNcWc5Q0ZZZUk)

[2017-03-28 19:29] phet-steele commented on #805
@emily-phet @arnabp I'm not sure and this probably should have been asked sooner, but what version should this be recorded with? The most up to date version (below) has a slack string and different balloon behaviour when compared to the production version.

http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-rc.2/balloons-and-static-electricity_en.html

That being s

[2017-03-28 19:59] arnabp commented on #805
I think the older version definitely has more content in the way of the balloon interactions, so if it doesn't have to be up to date the already recorded version would probably be better.

[2017-03-30 10:07] terracoda commented on #805
@emily-phet, the one I made is in the [Sonfication Work](https://drive.google.com/drive/folders/0B50Cor5oitKqaVRGU0hnbWhodms) folder.

It did actually upload 2 days ago :-)

[2017-03-30 15:50] phet-steele commented on #803
@emily-phet is everything good here? Can this be closed?

[2017-04-03 15:35] phet-steele commented on #805
Thanks @arnabp and @terracoda. @emily-phet will these videos work and can this issue be closed?

[2017-04-03 15:41] samreid commented on #743
I'm curious why testing was requested for a dev version instead of an RC version.  Is this getting ready for production?  Also, I recall gravity force lab was getting re-implemented as Coulomb's Lab was created.  So it may need re-testing?

[2017-04-03 16:27] pixelzoom opened #809 "RC test: Unit Rates 1.0.0-rc.1"
@arouinfar @ariel-phet Unit Rates 1.0.0-rc.1 is ready for RC testing.

Link to sim:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-rc.1/unit-rates_en.html

Link to iframe:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-rc.1/unit-rates_en-iframe.html

Testing Matrix
https://docs.google.com/spreadsheets/d/1nsZJqZvbLbPE0ZzsF2DQRSN-EwoeiQii3_W_unDO-f8/edit#gid=2

@phet-

[2017-04-03 16:27] pixelzoom commented on #809
Assigning to @ariel-phet to assign and prioritize.

[2017-04-03 16:38] ariel-phet commented on #809
@phet-steele definitely top priority...we ideally want to publish before Thursday, so good to get the testing rolling.

[2017-04-03 17:23] #805 closed

[2017-04-03 17:45] oliver-phet opened #810 "Prepare booth for NCTM"
- [ ] Print general flyers (800?)
- [ ] 2x iPads with app
- [x] Potentially new stickers?
- [x] Booth bag ready
- [x] Print app flyers (200?)
- [ ] Macbook Air conference video (@ariel-phet, is this video sufficient or does @phet-steele need to remake? https://github.com/phetsims/phet-info/blob/master/conferences/NCTM_2016.mp4)
- [x] Send NCTM email
- [x] KP business cards

[2017-04-03 17:45] oliver-phet commented on #806
Closed.

[2017-04-03 17:45] #806 closed

[2017-04-03 18:45] oliver-phet commented on #810
Remind people:
- Chromebook filtering (and iPad): sort by device
- Remind people to register for an account (new sim email notifications)

[2017-04-03 19:18] phet-steele commented on #809
Currently on hold due to the above issues. Chances are we will need to begin an rc.2, but we will see once those issues are addressed.

[2017-04-03 19:21] pixelzoom commented on #809
This RC test is aborted due to phetsims/scenery#609.

[2017-04-03 19:21] #809 closed

[2017-04-03 19:38] pixelzoom opened #811 "RC test: Unit Rates 1.0.0-rc.2"
1.0.0-rc.1 was aborted due to an accessibility bug in scenery (https://github.com/phetsims/unit-rates/issues/196).  Here's the next RC.

Link to sim:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-rc.2/unit-rates_en.html

Link to iframe:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-rc.2/unit-rates_en-iframe.html

Testing Matrix:
https://docs.google.com/spreadsheet

[2017-04-03 22:27] pixelzoom commented on #811
Self-assigning so I don't have to search for this issue to check status.

[2017-04-04 17:10] phet-steele commented on #811
![greenlight](https://cloud.githubusercontent.com/assets/5863899/24669332/3869fe54-1927-11e7-855b-275f84c15a53.png)

[2017-04-04 17:18] pixelzoom commented on #811
Thanks @phet-steele. I'll proceed with publication of 1.0.0.

[2017-04-04 17:18] #811 closed

[2017-04-04 18:46] pixelzoom opened #812 "Dev test: Graphing Slope-Intercept 1.0.0-dev.6"
Dev version:
http://www.colorado.edu/physics/phet/dev/html/graphing-slope-intercept/1.0.0-dev.6/graphing-slope-intercept_en.html

iFrame test:
http://www.colorado.edu/physics/phet/dev/html/graphing-slope-intercept/1.0.0-dev.6/graphing-slope-intercept_en-iframe.html

This sim consists of 2 screens from Graphing Lines:
• Slope-Intercept: identical to Graphing Lines, no changes.
• Line Game: quacks l

[2017-04-04 18:47] pixelzoom commented on #812
Assigned to @ariel-phet to assign and prioritize.

Mentioning @amanda-phet so she knows that this issue is tracking dev testing.

[2017-04-05 04:00] ariel-phet commented on #776
@phet-steele is this dev-test complete yet? Putting at current top priority again

[2017-04-05 04:02] #803 closed

[2017-04-05 14:56] pixelzoom commented on #812
@phet-steele Please standby... I just realized that 1.0.0-dev.5 was built awhile ago, and may (or may not) have the common-code problems that were identified during RC testing of unit-rates.  So while there haven't been any graphing-slope-intercept changes since 1.0.0-dev.5, I'm going to build you a new dev version with fresh common code.

[2017-04-05 15:18] pixelzoom commented on #812
@phet-steele I published a new dev version (1.0.0-dev.6) and updated the URLs in the instructions above, as well as the title of the issue.

graphing-slope-intercept 1.0.0-dev.6 was built using the shas that were used to publish unit-rates 1.0.0, with the following changes:
• added `vegas` and `vibe` from master, since unit-rates didn't use those repos
• used `brand` master to pick up About dialog

[2017-04-05 15:20] pixelzoom commented on #812
@phet-steele  You may proceed with dev testing.

[2017-04-05 16:14] phet-steele commented on #779
@ariel-phet naming convention will probably go `sim-name-screenshot-alt1(++)`

[2017-04-05 16:26] phet-steele commented on #776
Yes testing is done, I was leaving it open as a personal reminder to discuss something with @aadish pertaining to this dev test. It doesn't need to be open for that anymore.

[2017-04-05 18:15] jessegreenberg opened #813 "Dev test: Accessible John travoltage 1.3.0-dev.20"
@terracoda @emily-phet @jhung @jobara @ariel-phet @phet-steele Accessibility features in john-travoltage are almost ready to be deployed as part of the main simulation.  Accessibility in that sim is "feature complete" and we are ready for a dev test before moving to an RC.

**Link to Sim:** http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.20/john-travoltage_en.html

@phet-st

[2017-04-05 21:26] mattpen commented on #808
@phet-steele - The blocking issues in https://github.com/phetsims/website/issues/580#issuecomment-288849926 have been resolved.  Please continue testing.  New activities should now be unapproved by default.

[2017-04-07 00:31] ariel-phet commented on #813
@phet-steele given the desire to publish a keyboard accessible version of this sim, making current top testing priority

[2017-04-07 00:35] ariel-phet commented on #810
All going well, closing

[2017-04-07 00:35] #810 closed

[2017-04-07 19:54] phet-steele commented on #808
@mattpen everything worked on my end, nice work! 🤞

[2017-04-07 19:54] #800 closed

[2017-04-07 20:27] mattpen commented on #808
Thanks @phet-steele

[2017-04-07 20:27] #808 closed

[2017-04-07 21:18] phet-steele commented on #795
@jessegreenberg see the one issue above and to add Ethan to the credits, and don't forget to grab changes from phetsims/special-ops/issues/68. Testing is done!

[2017-04-08 22:17] ariel-phet opened #814 "Business Cards for AP and DB"
@oliver-phet - I believe I am running low on Business cards, and will likely need another pack for ISTE (I have black).

Can we also get a pack for @Denz1994? He can let you know the color he wants.

[2017-04-09 03:01] Denz1994 commented on #814
Are there any blue cards available?

[2017-04-10 17:08] emily-phet commented on #813
@phet-steele Can you give a brief update of where this is at?

[2017-04-10 17:24] phet-steele commented on #813
@emily-phet Well, it was given priority on Thursday night, so it's had one days worth of testing so far. So, not much progress yet.

[2017-04-10 17:25] jessegreenberg commented on #813
@phet-steele I should also mention, the only screen reader/browser combinations that we we care about for right now are the ones listed in this issue ticket since each screen reader is not guaranteed to work well with anything else.  Sorry, I should have clarified that before.

[2017-04-10 18:18] emily-phet commented on #813
@phet-steele Thanks! Are you finding issues? I was looking around to see if any had been posted and I can't find any.

[2017-04-11 16:06] phet-steele commented on #812
@pixelzoom, done. I personally tested on macOS 10.12.4 browsers and iOS latest. @EthanWJohnson  tested on Win 10 browsers.

[2017-04-11 16:07] pixelzoom commented on #812
Great, thanks.  All related issues have been addressed, so we will proceed to RC testing.

[2017-04-11 16:07] #812 closed

[2017-04-11 16:27] pixelzoom opened #815 "RC test: Graphing Slope-Intercept 1.0.0-rc.1"
RC version:
http://www.colorado.edu/physics/phet/dev/html/graphing-slope-intercept/1.0.0-rc.1/graphing-slope-intercept_en.html

iFrame test:
http://www.colorado.edu/physics/phet/dev/html/graphing-slope-intercept/1.0.0-rc.1/graphing-slope-intercept_en-iframe.html

Text matrix:
https://docs.google.com/spreadsheets/d/1Tocnn1DCtML3rrYDJj4pTgQ96tE0caTQR4fqYeA0vuU/edit#gid=2

In addition to the test mat

[2017-04-11 16:28] pixelzoom commented on #815
@ariel-phet please set priority and assign.

[2017-04-11 16:32] pixelzoom commented on #815
@amanda-phet Graphing Slope-Intercept is now in RC testing.

[2017-04-11 16:57] ariel-phet commented on #815
@phet-steele marking as high, currently after #807 is finished in the QA line

[2017-04-11 17:02] aadish commented on #776
Thanks @phet-steele  and others for testing this, issues have been noted and working in them to fix,

closing this

[2017-04-11 17:02] #776 closed

[2017-04-11 20:22] pixelzoom opened #816 "Dev test: Graphing Lines 1.2.0-dev.1"
Dev test:
http://www.colorado.edu/physics/phet/dev/html/graphing-lines/1.2.0-dev.1/graphing-lines_en.html

iFrame test:
http://www.colorado.edu/physics/phet/dev/html/graphing-lines/1.2.0-dev.1/graphing-lines_en-iframe.html

Major changes were made to the Line Game screen in order to support its reuse in the Graphing Slope-Intercept sim.   So we're mainly interested in testing the Line Game screen.

[2017-04-11 20:23] pixelzoom commented on #816
Note to self:  This dev version was created with shas from graphing-slope-intercept 1.0.0-rc.1, with the following changes:  graphing-lines master, chipper master

[2017-04-11 20:23] pixelzoom commented on #816
@ariel-phet please prioritize and assign.

[2017-04-12 17:40] pixelzoom commented on #815
Note to self: Changes in #11 will required changes to graphing-lines. So there will need to be at least one more RC "spot test", which uses the master branch of graphing-lines.

[2017-04-12 17:45] pixelzoom commented on #815
@phet-steele It looks like RC testing has not started, so please hold off until I give the green light. https://github.com/phetsims/graphing-slope-intercept/issues/11 required nontrivial changes to both graphing-slope-intercept and graphing-lines, so I'm going to delete 1.0.0-rc.1 and rebuild it when that issue is resolved.

[2017-04-12 19:50] pixelzoom commented on #815
@phet-steele I rebuilt 1.0.0-rc.1, so you may proceed with RC testing.

Note to self: Here's how I rebuilt 1.0.0-rc.1.  I'm using the same shas, but picking up the changes to graphing-lines from master.

[code]

[2017-04-13 16:09] oliver-phet opened #817 "Prepare for award visit"
- [x] Foothills room reservation
- [ ] Translator contact(s)
- [ ] Teacher contact(s)
- [ ] Disseminator contact(s)

[2017-04-13 17:32] phet-steele commented on #807
@jbphet @ariel-phet @amanda-phet testing done.

[2017-04-13 17:33] jbphet commented on #807
Thanks! Closing.

[2017-04-13 17:33] #807 closed

[2017-04-13 23:03] jonathanolson opened #818 "Maintenance release RC tests"
The following RCs are available for for https://github.com/phetsims/phet-android-app/issues/16, https://github.com/phetsims/phetcommon/issues/37 and https://github.com/phetsims/vibe/issues/30. I'll comment when they are fully deployed.

The following complete list should be tested for:

- Basic interaction (no major introduced bugs, standard ~30sec or so)
- When given the `?phet-android-app` query

[2017-04-13 23:44] jonathanolson commented on #795
@phet-steele noted this passed except for the patches. It would be easier for me to include it directly with the maintenance patches I'm applying.

[2017-04-14 02:22] jonathanolson commented on #795
Next RC link for BASE: http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.0-rc.3/balloons-and-static-electricity_en.html.

Do you want a separate testing task, or treat it as part of https://github.com/phetsims/tasks/issues/818?

[2017-04-14 03:15] phet-steele commented on #795
@jonathanolson the only changes made were the patches, which are part of the maintenance release anyway. We will wrap this rc in with #818.

[2017-04-14 03:57] jessegreenberg commented on #795
Thanks @jonathanolson!

[2017-04-14 05:26] jessegreenberg commented on #795
@phet-steele BASE was bumped to rc.4 for https://github.com/phetsims/balloons-and-static-electricity/issues/72, but a spot check in #818 should still be fine.

[2017-04-14 07:38] jonathanolson commented on #818
RCs are ready for testing.

[2017-04-14 16:11] ariel-phet commented on #818
@phet-steele these tests would be good to perform sooner than later (preferably before May 1) as we would like these releases published well before publishing the android app.

[2017-04-14 16:14] phet-steele commented on #818
Also @ariel-phet, https://github.com/phetsims/vibe/issues/30 is pretty serious so I'll more than likely get to these tests immediately.

[2017-04-14 16:16] ariel-phet commented on #818
@phet-steele sounds good

[2017-04-14 17:07] phet-steele commented on #818
@jonathanolson, balancing-chemical-equations shows no change with `phet-android-app`.

[2017-04-14 17:27] jonathanolson commented on #818
Fixed balancing-chemical-equations, new RC linked in main list.

[2017-04-14 17:28] phet-steele commented on #818
Fixed, thanks

[2017-04-14 22:30] phet-steele commented on #813
@jessegreenberg @emily-phet sorry this took so long, there was certainly a learning curve and an amount of patience needed. I think this is done. Keyboard nav w/o a screen reader was universally good. Most issues were isolated to the JAWS + IE11 test case. The next test pass will certainly be helpful, and thank you @terracoda @jobara for logging some VO issues and helping the QA process.

[2017-04-14 22:33] phet-steele commented on #795
Going to go ahead and close this. rc.4 testing went well in #818 and will be deployed from that issue.

[2017-04-14 22:33] #795 closed

[2017-04-14 22:54] phet-steele commented on #818
@jonathanolson Done! Everything went swimmingly. All runs included the brand, had pingver=3, and hid the appropriate items in the PhET menu with the query param.

[2017-04-14 22:57] jonathanolson commented on #818
Ok, will be pushing out production releases.

[2017-04-16 17:35] jonathanolson commented on #818
Deployed production versions:

- [acid-base-solutions](http://www.colorado.edu/physics/phet/dev/html/acid-base-solutions/1.2.10/acid-base-solutions_en.html)
- [area-builder](http://www.colorado.edu/physics/phet/dev/html/area-builder/1.1.5/area-builder_en.html)
- [arithmetic](http://www.colorado.edu/physics/phet/dev/html/arithmetic/1.0.9/arithmetic_en.html)
- [atomic-interactions](http://www.colora

[2017-04-16 17:36] #818 closed

[2017-04-17 19:33] pixelzoom opened #819 "Dev test: Molarity 1.3.0-phetiodev.1"
Wrappers (password protected):
http://www.colorado.edu/physics/phet/dev/html/molarity/1.3.0-phetiodev.1/wrappers/index/

This is the first version of Molarity that has been instrumented for PhET-iO.  So the focus of this dev test is PhET-iO features.  That said, the plan is to also republish the 'phet' brand version of this sim, so please test _all_ sim features.

There are no sim-specific query p

[2017-04-17 19:34] pixelzoom commented on #819
@ariel-phet please prioritize and assign.

[2017-04-17 19:36] pixelzoom commented on #819
Self-assigned so I can watch the progress of this issue.

[2017-04-17 20:19] ariel-phet commented on #751
@phet-steele perhaps @maggiewiseman would be willing to work on this issue as it is quite stale

[2017-04-17 20:20] ariel-phet commented on #819
marking high priority but for after #816

[2017-04-17 20:29] phet-steele commented on #751
@samreid is the link above still viable to be tested, or do we need a more updated link?

[2017-04-17 20:58] mattpen opened #820 "QA Task: Android App"
@phet-steele - Can you do a QA test for the current state of the phet app?

The app is available here:
~~https://drive.google.com/open?id=0BwA8lLKUclCPSU5XaXFXMEppb28~~
(You'll need to enable apps from outside sources before dowwnloading)

The features implemented include:
- Searching and Filtering
- Selecting/Unselecting/resetting favorites
- Updating sims
    - They are installed from an old arc

[2017-04-17 21:03] pixelzoom commented on #819
@phet-steele Since #32 is such a fundamental bug (and is now fixed), I think we should terminate this dev test and begin a new one.  Agreed?

[2017-04-17 21:04] phet-steele commented on #819
Perhaps, will the property in phetsims/molarity/issues/32 be instrumented?

[2017-04-17 21:07] pixelzoom commented on #819
Yes, fix for phetsims/molarity#32 would be in the new dev version.

[2017-04-17 21:09] phet-steele commented on #819
@pixelzoom let's terminate!

[2017-04-17 21:10] pixelzoom commented on #819
Terminated.  Standby for next dev version.

[2017-04-17 21:10] #819 closed

[2017-04-17 21:18] pixelzoom opened #821 "Dev test: Molarity 1.3.0-phetiodev.2"
Wrappers (password protected):
http://www.colorado.edu/physics/phet/dev/html/molarity/1.3.0-phetiodev.2/wrappers/index/

Please verify the following issues that were found in the [previous dev version](https://github.com/phetsims/tasks/issues/819):

- [x] https://github.com/phetsims/molarity/issues/32

This is the first version of Molarity that has been instrumented for PhET-iO. So the focus of th

[2017-04-17 21:18] pixelzoom commented on #821
I assume that priority is the same as the previous dev test, https://github.com/phetsims/tasks/issues/819#issuecomment-294580137:

[2017-04-17 21:26] pixelzoom commented on #821
Self-assigning so that I can navigate to this issue more easily.

[2017-04-18 06:32] emily-phet opened #822 "Creating Qualtrics Teacher Survey"
In collaboration with Georgia Tech, we have developed a survey to be given to teachers using PhET sims. This survey needs to be created in Qualtrix. This survey has about 40 questions and a moderate amount of logic needed (e.g., multiple branching questions). If there is a way to give @kainip from GT access to CU's Qualtrix, she may be able to create this independently, otherwise she can help the

[2017-04-18 15:22] samreid commented on #751
Since these are sim-specific logic issues and one-platform testing, the link above is still good.

[2017-04-18 15:22] oliver-phet commented on #739
Haven't had new migration docs. Closing for now.

[2017-04-18 15:22] #739 closed

[2017-04-18 15:23] oliver-phet commented on #464
This looks to be setup and working properly. Closing.

[2017-04-18 15:23] #464 closed

[2017-04-18 15:58] phet-steele commented on #751
Alright, thanks @samreid. @maggiewiseman, can you look into this testing? Read the first post for the details.

[2017-04-18 16:01] ariel-phet commented on #822
@oliver-phet - you are the qualtrix expert, any thoughts here?

[2017-04-18 16:04] maggiewiseman commented on #751
yes! Will check it out @phet-steele later tonight!

[2017-04-18 16:15] pixelzoom opened #823 "Dev test: Function Builder: Basics 1.0.0-dev.3"
Dev test:
http://www.colorado.edu/physics/phet/dev/html/function-builder-basics/1.0.0-dev.3/function-builder-basics_en.html

iFrame test:
http://www.colorado.edu/physics/phet/dev/html/function-builder-basics/1.0.0-dev.3/function-builder-basics_en-iframe.html

"Function Builder: Basics" consists of 2 screens:
• Patterns: identical to Function Builder, no changes
• Mystery: similar to Function Build

[2017-04-18 16:15] pixelzoom commented on #823
@ariel-phet please prioritize and assign.

[2017-04-18 16:28] oliver-phet commented on #822
We can add the GT collaborator as a CU affiliate which will give them access to CU Qualtrics.
Can you email me @kainip's contact info?

[2017-04-18 17:05] emily-phet commented on #822
Done. Just sent @oliver-phet an email connecting him with @kainip.

[2017-04-18 18:26] phet-steele commented on #815
@pixelzoom, as a reminder before rc.2, this sim will need to pick up changes from phetsims/vibe/issues/30 (of which rc.1 currently suffers from).

[2017-04-18 18:27] pixelzoom commented on #815
Thanks. I was unaware of phetsims/vibe#30.

[2017-04-18 18:28] phet-steele commented on #815
Actually, it may need the other two patches from #818?

[2017-04-18 18:34] pixelzoom commented on #815
@jonathanolson Advice on how to integrate the fix for phetsims/vibe#30 into the release branch for this sim?

[2017-04-18 18:40] pixelzoom opened #824 "how to patch audio fix into 1.0 release branch?"
In https://github.com/phetsims/tasks/issues/815#issuecomment-294937398, @phet-steele said:

and:

Apparently there was a change to the audio API that broke all sims on Safari, and was recently fixed and patched.  Unfortunately that fix was made after I created the 1.0 release branch, so the bug is still present in 1.0.0-rc.1.   So we'll need to figure out how to patch this, or we'll need to do ano

[2017-04-18 18:43] pixelzoom commented on #824
Whoops, wrong repo. Moved to https://github.com/phetsims/graphing-slope-intercept/issues/17.

[2017-04-18 18:43] #824 closed

[2017-04-18 18:44] pixelzoom commented on #815
@phet-steele Picking up the audio fix is not going to be straightforward, so I moved it to its own issue. See https://github.com/phetsims/graphing-slope-intercept/issues/17.

[2017-04-18 18:56] pixelzoom commented on #816
@phet-steele Since this dev version was built from shas from graphing-slope-intercept 1.0.0-rc.1, it almost certainly has the web audio problem phetsims/vibe#30.  Tracking that in https://github.com/phetsims/graphing-lines/issues/76.

[2017-04-19 18:43] mattpen commented on #820
@phet-steele - Talkback is now enabled in the app and should be tested as well.  Things should be fairly similar to the ios app with VoiceOver.

The new version (0.2) is available here: https://drive.google.com/a/colorado.edu/file/d/0BwA8lLKUclCPMDFnbVhfTnVkVm8/view?usp=sharing

[2017-04-20 18:46] jessegreenberg commented on #813
Excellent, thanks for all the testing @phet-steele and the QA team! :)

[2017-04-20 18:46] #813 closed

[2017-04-21 15:58] ariel-phet commented on #817
moved to https://github.com/phetsims/special-ops/issues/71

Closing

[2017-04-21 15:58] #817 closed

[2017-04-21 18:26] pixelzoom commented on #816
Next dev (RC?) version will be built with shas from graphing-slope-intercept 1.0.0-rc.2.

[2017-04-24 17:49] pixelzoom commented on #815
Due to significant code changes required to address https://github.com/phetsims/graphing-lines/issues/78 (memory leak in Graphing Lines), @phet-steele and I agreed that this would be a good place to stop this RC test task.  And prior to starting the next RC test, we should do another dev test of Graphing Lines.

Leaving this issue assigned to me, so that I can identify what needs to be regression

[2017-04-24 17:50] pixelzoom commented on #816
Due to significant code changes required to address phetsims/graphing-lines#78 (memory leak in Graphing Lines), @phet-steele and I agreed that this would be a good place to stop this dev test task. And we should do another dev test of Graphing Lines prior to starting on the next RC test for Graphing Slope-Intercept.

Leaving this issue assign to me so that I can identify issues that require regres

[2017-04-24 21:08] maggiewiseman commented on #751
@phet-steele @samreid  I played with the sim for about 4 hours over the last few days.  Other than the two minor issues I submitted (368 and 369), I could not find anything wrong. All seemed to be working as expected.

[2017-04-24 21:22] samreid commented on #751
Excellent, thanks @maggiewiseman.  It seems like no new bugs were introduced in the refactoring so this issue can be closed.  We will continue with #368 and #369 separately.

[2017-04-24 21:22] #751 closed

[2017-04-25 20:14] pixelzoom opened #825 "Dev test: Graphing Lines 1.2.0-dev.2"
Previous dev test (1.2.0-dev.1) is https://github.com/phetsims/tasks/issues/816.  See that issue for pointers to query parameters, terminology, etc.

Dev test:
http://www.colorado.edu/physics/phet/dev/html/graphing-lines/1.2.0-dev.2/graphing-lines_en.html

iFrame test:
http://www.colorado.edu/physics/phet/dev/html/graphing-lines/1.2.0-dev.2/graphing-lines_en-iframe.html

GitHub issues to regressio

[2017-04-25 20:14] pixelzoom commented on #816
Dev testing continues in https://github.com/phetsims/tasks/issues/825.

Closing.

[2017-04-25 20:14] #816 closed

[2017-04-25 20:19] pixelzoom commented on #815
The next RC test is deferred until we complete dev testing of Graphing Lines, see https://github.com/phetsims/tasks/issues/825.

[2017-04-25 20:34] samreid opened #826 "Use event.canStartPress"
In https://github.com/phetsims/scenery-phet/issues/214#issuecomment-296918337 @jonathanolson said:

Also worth noting:

[code]
should probably be converted into
[code]

[2017-04-26 18:35] jonathanolson opened #827 "Dev test: Proportion Playground 1.0.0-dev.25"
General dev version testing desired for the latest version. Moved back to non-WebGL handling for the necklace/balloons, did major refactoring for the billiards table, and updated the rate for the number pickers (so those are good places to test more)

Dev test:
http://www.colorado.edu/physics/phet/dev/html/proportion-playground/1.0.0-dev.25/proportion-playground_en.html

iFrame test:
http://www.co

[2017-04-26 18:37] ariel-phet commented on #827
@phet-steele this sim is definitely "tippy-top" priority

[2017-04-28 19:38] pixelzoom commented on #690
I just finished doing maintenance release 1.0.6 to patch phetsims/function-builder#107 and phetsims/function-builder#108., closed up the issue, and figured that I was done.   Then quite by accident, I ran across this issue.  I had no idea that here was a 1.1-phetio branch, or that it might need patching.  @samreid How should I proceed?

[2017-04-28 19:39] samreid commented on #690
I don't know of any upcoming usages of the phet-io "lite" instrumentation, so I think it's fine to leave it alone.

[2017-04-28 22:08] phet-steele commented on #827
@ariel-phet @jonathanolson sim is done testing. Nothing big found (except performance).

[2017-05-01 15:40] mattpen commented on #820
@phet-steele - Keyboard navigation is not working in the app as well.

The latest version (0.3) is available here: https://drive.google.com/a/colorado.edu/file/d/0BwA8lLKUclCPTE1aRElEX3RxYUk/view?usp=sharing

[2017-05-01 17:04] phet-steele commented on #823
@pixelzoom @ariel-phet this testing is done.

[2017-05-01 17:08] pixelzoom commented on #823
Thanks @phet-steele. I'll have an RC test task for you shortly.

[2017-05-01 17:37] pixelzoom opened #828 "RC test: Function Builder: Basics 1.0.0-rc.1"
This RC test follows dev test 1.0.0-dev.3, https://github.com/phetsims/tasks/issues/823#issuecomment-298375146.  It was built using the same shas as 1.0.0-dev.3, plus the master branch of function-builder (to pick up dev test fixes.)  So common-code is identical to 1.0.0-dev.3.

RC test:
http://www.colorado.edu/physics/phet/dev/html/function-builder-basics/1.0.0-rc.1/function-builder-basics_en.htm

[2017-05-01 17:38] pixelzoom commented on #828
@ariel-phet please prioritize.

[2017-05-01 17:45] pixelzoom commented on #823
RC test task created. Closing.

[2017-05-01 17:45] #823 closed

[2017-05-01 17:53] phet-steele commented on #828
`?phet-android-app`, pingver=3, brand=phet all checks out. Vibe fix in this sim is not needed.

[2017-05-01 18:04] pixelzoom commented on #828
@phet-steele I added `stringTest` checklist above.

[2017-05-01 18:14] ariel-phet commented on #828
Setting as top priority for the moment since this sim is close to publication

[2017-05-01 18:18] aadish opened #829 "Dev Test: Gene Expression Essentials 1.0.0-dev.10"
@ariel-phet

After current level of optimizations this simulation is still a bit choppy on IPad 2.

It works very smoothly in Chrome Book and IPad Air and above.

In discussion with @jbphet the target audience for this simulation is not going to be many on people on IPad2.

Link for latest dev version
http://www.colorado.edu/physics/phet/dev/html/gene-expression-essentials/1.0.0-dev.10/

 Let us k

[2017-05-01 22:43] ariel-phet commented on #829
@aadish I took a look and after discussing with @jbphet it appears the rendering of mRNA is the bottleneck and would be good to improve. Closing, and creating a separate issue in the sim repo.

[2017-05-01 22:43] #829 closed

[2017-05-01 23:23] jessegreenberg opened #830 "Create an RC testing matrix for a11y features"
To efficiently test accessibility features we need a test matrix for the desired platforms and and features that should be included/verified for publication.

@phet-steele had some good ideas for what this might look like, and thought that it could look similar to the phet-io testing matrices since we will have platform specific features to test.

@phet-steele would you mind drafting a testing mat

[2017-05-02 17:41] jessegreenberg opened #831 "Dev test: Accessible John Travoltage 1.3.0-dev.20"
@ariel-phet @emily-phet @phet-steele Given the number of description changes from the last dev version, we should do one more round of dev testing before moving to an RC with accessibility features, which will also make the RC process faster.

Link to Sim: http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-dev.36/john-travoltage_en.html

The only changes have been for descriptions

[2017-05-02 18:47] jonathanolson commented on #827
@phet-steele, I've published http://www.colorado.edu/physics/phet/dev/html/proportion-playground/1.0.0-dev.26/proportion-playground_en.html (presumably as a sanity-check) version for reproducing crashing. It includes no changes since dev.25, but has updated common code.

[2017-05-02 18:51] ariel-phet commented on #827
@phet-steele please see if this version is free from crashing

[2017-05-02 19:45] oliver-phet commented on #822
@emily-phet it sounds like @kainip was able to log in to Qualtrics. Closing for now.

[2017-05-02 19:45] #822 closed

[2017-05-02 20:26] emily-phet commented on #831
@ariel-phet - just to give you an idea of timeline - keyboard and screen reader accessible version of JT needs to be published to PhET website by start of NSF Video Showcase (May 15th).

[2017-05-02 21:04] jessegreenberg commented on #831
@phet-steele sorry, I should have also mentioned, we are aware of VoiceOver and JAWS bugs which were found in
 https://github.com/phetsims/john-travoltage/issues/237 and https://github.com/phetsims/john-travoltage/issues/227, which have both been marked as ```wontfix```.

[2017-05-02 21:11] ariel-phet commented on #831
Given the very short timeline, marking this as top priority

[2017-05-02 21:11] ariel-phet commented on #828
Bumping down priority due to #831

[2017-05-02 21:13] ariel-phet commented on #830
Needs to be high priority given #831

[2017-05-02 22:46] oliver-phet commented on #814
@Denz1994 What text is going on your card?
For reference, here's AP's
[ariel-paul-card-Mar2016_2.pdf](https://github.com/phetsims/tasks/files/972155/ariel-paul-card-Mar2016_2.pdf)

[2017-05-03 19:34] phet-steele commented on #827
It is not, here is an attempt to have other people try to reproduce: phetsims/proportion-playground/issues/74. Closing this dev test.

[2017-05-03 19:34] #827 closed

[2017-05-04 03:59] mattpen opened #832 "Website QA: Team Page translatability"
@phet-steele - I've made the "Our Team" page translatable and it required a significant retooling of the entire Team Member process.  Could you please schedule a QA test for the Team Page?  The proposed changes are currently deployed to https://ox-dev.colorado.edu/en/about/team

The processes that were affected include:
- [x] Creating a new Team Member
- [x] Deleting a Team Member
- [x] Editing an

[2017-05-04 17:56] arouinfar opened #833 "Artwork for Circuit Construction Kit"
@clmccutchan we'll need some artwork for the Grab Bag items for [Circuit Construction Kit: DC](http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.12/circuit-construction-kit-dc_en.html?dev). These items should be similarly scaled to the other components, like the batteries and resistors (~100px when the sim resolution is 1024x768). In [Java](https://phet.colorado.e

[2017-05-04 18:51] arouinfar opened #834 "Artwork for Coulomb's Law"
@clmccutchan we're working on a new sim called Coulomb's Law. It will be somewhat similar to [Gravity Force Lab](https://phet.colorado.edu/sims/html/gravity-force-lab/latest/gravity-force-lab_en.html), as they're both inverse square laws. In Gravity Force Lab, there are figures that pull against the masses so that they don't accelerate towards one another.
![image](https://cloud.githubusercontent.

[2017-05-04 20:54] oliver-phet opened #835 "Change your unfuddle password"
There was an unfuddle security breach and they are recommending all users change their password. You should be prompted to change upon sign in.
https://unfuddle.com/blog/2017/05/important-notice/

Please check your name when your password has been updated:

- [x] Amanda McGarry
- [x] Amy Hanson
- [x] Amy Rouinfar
- [x] Arnab Purkayastha
- [x] Emily Moore
- [x] Kathryn Dessau
- [x] Michael Kauzmann

[2017-05-04 20:58] oliver-phet commented on #835
It doesn't appear Dubson or Trish are on github?
@dubson

[2017-05-05 19:44] zepumph opened #836 "RC Test: Resistance In A Wire 1.3.0-rc.1 and 1.3.0-phetiorc.1"
Phet link:
http://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.3.0-rc.1/resistance-in-a-wire_en.html

PhET-iO link to wrappers index (password protected and hidden in the parent version dir):
http://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.3.0-phetiorc.1/wrappers/index

These two versions were just created from master shas. The sim was newly instrumented for P

[2017-05-05 21:14] phet-steele commented on #836
@zepumph @samreid am I wrong in saying this should be a dev test?

[2017-05-05 21:21] samreid commented on #836
Normally we start with a dev test, but I thought it would be prudent to create branches in case we move forward to production with this.  Will it change your process much/at all?

[2017-05-08 16:30] samreid opened #837 "Test color-vision/1.2.4-phetio"
For https://github.com/phetsims/color-vision/issues/115 we created a maintenance release for Color Vision PhET-iO.  Before we can share it back to the client that reported the problem, we need to make sure the DT caps are working properly and nothing else has been disrupted.  To test the dt caps, launch both:
https://phet-io.colorado.edu/sims/color-vision/1.2.3-phetio/wrappers/index/
https://phet-

[2017-05-08 18:21] phet-steele commented on #831
@jessegreenberg @emily-phet I believe testing here is done. rc up next!

[2017-05-08 19:28] phet-steele commented on #830
@emily-phet @jessegreenberg, the rc testing matrix on steroids: https://docs.google.com/spreadsheets/d/1o4I2qSap0AJbyW2lLM3S1ERvEFYawb-7_Et0Sjb_VRs/edit#gid=2

Did I miss anything? You won't be able to edit anything.

[2017-05-08 19:40] emily-phet commented on #831
@jessegreenberg @phet-steele Great!

[2017-05-08 20:07] emily-phet commented on #830
@phet-steele This looks correct to me (regarding screen readers). Regarding keyboard navigation, there are some scenarios where this is not needed, so it might be useful to grey out those cells in the Keyboard Navigation column. For example, no keyboard nav testing is needed for iPads, which (I believe) rely on bluetooth keyboards which don't work well for keyboard nav.

[2017-05-08 20:10] phet-steele commented on #830
@emily-phet that is the purpose of the "/" in those cells. Those cells also cannot be edited, so you can't test them if you wanted to.

[2017-05-09 03:15] ariel-phet commented on #837
@phet-steele marking as current top priority since a client pointed out this bug

[2017-05-09 16:47] jessegreenberg commented on #831
Excellent, thanks @phet-steele!  https://github.com/phetsims/john-travoltage/issues/243 will be closed shortly, and remaining open issues have been investigated and marked as ```wontfix```.  RC will be ready shortly.

[2017-05-09 16:47] #831 closed

[2017-05-09 17:14] oliver-phet commented on #814
@ariel-phet @Denz1994 Cards are here, closing.

[2017-05-09 17:14] #814 closed

[2017-05-09 22:38] jessegreenberg opened #838 "RC accessibility test: John Travoltage 1.3.0-rc.1"
@emily-phet @ariel-phet @phet-steele, John Travoltage 1.3.0-rc.1 is ready for RC testing.

[Link to Sim](http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-rc.1/john-travoltage_en.html)

[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-rc.1/john-travoltage_en-iframe.html)

[Testing Matrix](https://docs.google.com/spreadsheets/d/1gY8Ls5G1xdePpd04

[2017-05-10 02:51] ariel-phet commented on #830
@phet-steele 2 comments (and this may apply to our main testing matrix as well)

1. I think we can remove iPad Air 2 iOS 9.3.5 - at this point I think we can safely assume that on devices that allow iOS 10 they have been updated. And if a user has a device that can be upgraded and has not yet been, that would be our first step in trouble shooting.

2. We might want to check with Oliver, but I am i

[2017-05-10 03:02] ariel-phet commented on #838
Marking as top given the deadline

[2017-05-10 03:04] ariel-phet commented on #837
Moving to high priority right behind #838 (perhaps @EthanWJohnson can polish this off?)

[2017-05-10 16:14] ariel-phet commented on #830
@oliver-phet reports Win 8.1 represents roughly 5.4% of our web traffic (2017 to date), and 10.3% of our Windows users.  So we will continue to test Win 8.1

[2017-05-10 16:55] jessegreenberg commented on #830
For now, accessibility is disabled on that platform.  Mobile VoiceOver has partial support, everything can be read with mobile VO, but interaction is very difficult.  VoiceOver uses CSS to know where the user's fingers should be to interact with something, and we use CSS makes everything invisible/out of the way.  We will need to consider workarounds for this problem.

[2017-05-10 20:36] EthanWJohnson commented on #837
I had let it sit for a while before #838 went up. 1.2.3 lagged to non-responsiveness, 1.2.4 didn't slow down at all.

[2017-05-11 16:27] jessegreenberg commented on #830
@phet-steele JAWS and NVDA both have version numbers, can we add a column to document this?

[2017-05-11 16:42] jessegreenberg commented on #830
@phet-steele recommended that the AT version be added in the row entry for the platform.  That works for me!

[2017-05-11 18:06] pixelzoom commented on #835
I set permissions to "None" for the remaining people who have not changed their passwords: Arnab Purkayastha,  Michael Dubson, Sam McKagan, Trish Loeblein.   When one of them attempts to login, they will be required to change their password.  Then they'll find out they can't access anything.

[2017-05-12 04:53] jonathanolson opened #839 "RC test: Proportion Playground 1.0.0-rc.1"
@amanda-phet, [Proportion Playground] 1.0.0-rc.1 is ready for RC testing.

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/proportion-playground/1.0.0-rc.1/proportion-playground_en.html)**

**[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/proportion-playground/1.0.0-rc.1/proportion-playground_en-iframe.html)**

**[Test Matrix](https://docs.google.com/spreadsheets/d/1d

[2017-05-12 15:16] jessegreenberg commented on #830
@phet-steele this testing matrix is basically sort of testing matrix with more stuff.  Instead of having a new spreadsheet document for each sim, should this matrix be added as a new sheet in the existing sim spreadsheet? Or does it make most sense to have them separate?

[2017-05-12 16:22] phet-steele commented on #830
@jessegreenberg I was thinking this to myself yesterday, but couldn't decide if it was the right thing to do. If we merge the two, how would you purpose documenting that 1.3.0-rc.1 was an a11y test? Or does that even matter? If you are on that sheet for that rc version, it would be clear. But if you were on a different sheet.....should the sheet be named "1.3.0-rc.1 (a11y)"? Am I overthinking this

[2017-05-12 17:40] phet-steele commented on #838
@jessegreenberg, ready for spot check.

[2017-05-12 17:47] jessegreenberg commented on #838
Excellent @phet-steele, thank you very much - will build rc.2 momentarily.

[2017-05-12 18:05] jessegreenberg opened #840 "RC Spot Check: John Travoltage 1.3.0-rc.2"
After the previous RC, John Travoltage 1.3.0-rc.2 is ready for spot checking.

[Link to sim](http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-rc.2/john-travoltage_en.html)

[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-rc.2/john-travoltage_en-iframe.html)

Could you please verify that the following issues have been fixed?
- [ ] https://gith

[2017-05-12 18:06] jessegreenberg commented on #838
Spot check task in #840, closing!

[2017-05-12 18:06] #838 closed

[2017-05-12 19:02] jessegreenberg commented on #840
@phet-steele noticed that the fix in place for https://github.com/phetsims/john-travoltage/issues/249 introduced an issue in IE11.  Shutting down to spot check an rc.3 with that fixed.

[2017-05-12 19:02] #840 closed

[2017-05-12 19:52] jessegreenberg opened #841 "Spot check: John Travoltage 1.3.0-rc.3"
@phet-steele found an IE11 specifiic problem with rc.2, caused by one of the fixed for rc.1. Fix is in place, 1.3.0-rc.3 is ready for spot checking.

[Link to sim](http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-rc.3/john-travoltage_en.html)

[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.3.0-rc.3/john-travoltage_en-iframe.html)

Could you plea

[2017-05-12 20:47] ariel-phet commented on #841
@phet-steele - looks like you have checked these off, but obviously still a top priority until complete

[2017-05-12 21:02] jessegreenberg commented on #841
It's live!

[2017-05-12 21:02] #841 closed

[2017-05-15 20:52] phet-steele commented on #825
@pixelzoom this is completed. Sim is very solid at this point.

[2017-05-16 01:46] pixelzoom commented on #825
Thanks @phet-steele and team.

[2017-05-16 16:11] phet-steele opened #842 "Getting Tyler started"
@ariel-phet @oliver-phet

- [x] Go over the phases of sim development
- [ ] GitHub email/account, join the organization
- [x] Go over GitHub workflow
- [ ] Explain the testing tricks-of-the-trade (sim locations, query params, dev tools, etc...)
- [x] Practice creating an issue
- [x] Introduce test-server
- [x] Introduce the website
- [ ] Website account
- [ ] Share to google-group
- [ ] Enter info

[2017-05-16 16:27] pixelzoom commented on #825
Since this dev test went well (no issues), I was planning to use the 1.2.0-dev.2 shas for 1.2.0-rc.1.  But then I discovered that @jessegreenberg published 1.2.0-dev.3, and I have no idea if it addresses anything relevant to this sim.  So RC testing is blocked until I can find out what's up with 1.2.0-dev.3.

[2017-05-16 18:34] pixelzoom commented on #825
Graphing Lines 1.2.0-dev.3 was used to test joist#140 (a11y heartbeat fix), not relevant to production sims yet.  So I can proceed with the shas from 1.2.0-dev.2.

[2017-05-16 18:46] pixelzoom opened #843 "RC test: Graphing Lines 1.2.0-rc.1"
RC test:
http://www.colorado.edu/physics/phet/dev/html/graphing-lines/1.2.0-rc.1/graphing-lines_en.html

iFrame test:
http://www.colorado.edu/physics/phet/dev/html/graphing-lines/1.2.0-rc.1/graphing-lines_en-iframe.html

Test matrix:
https://docs.google.com/spreadsheets/d/1J-Fb_6PLNqrygQgCjQj0tVtPovb3P0CBWPsrrz3d4Uw/edit#gid=909852363

The previous DEV test was https://github.com/phetsims/tasks/is

[2017-05-16 18:48] pixelzoom commented on #825
RC test task #843 created.  Closing.

[2017-05-16 18:48] #825 closed

[2017-05-16 18:56] ariel-phet commented on #843
Putting at medium for now, would be good to finish of Function Builder basics first

[2017-05-17 17:41] phet-steele commented on #828
@pixelzoom this testing is done.

[2017-05-17 17:44] pixelzoom commented on #828
Excellent, thank you @phet-steele and QA team.

Another RC version (1.0.0-rc.2) will be required, but it not require a full test matrix. It will require verifying these issues on a couple of platforms:

phetsims/function-builder-basics#18
phetsims/function-builder#109

Leaving this open and assigned to me until the next RC task issue is created.

[2017-05-18 23:23] jessegreenberg commented on #830
@phet-steele I think that in the long term future, we will not want to separate at all. Eventually, all sims will have these features and this matrix will replace the "normal" testing matrix.

From that perspective, maybe adding "(a11y)" to the sheet name makes sense as we transition, and we can begin to drop it as a11y becomes a standard in all sims?

[2017-05-19 15:38] pixelzoom opened #844 "RC test: Function Builder: Basics 1.0.0-rc.2"
Previous RC test: https://github.com/phetsims/tasks/issues/828

RC test:
http://www.colorado.edu/physics/phet/dev/html/function-builder-basics/1.0.0-rc.2/function-builder-basics_en.html

iFrame test:
http://www.colorado.edu/physics/phet/dev/html/function-builder-basics/1.0.0-rc.2/function-builder-basics_en-iframe.html

This RC test does not require a full test matrix.  It requires regression testi

[2017-05-19 15:39] pixelzoom commented on #844
@ariel-phet If there's some way that this can be tested today, then I can publish this sim and Function Builder 1.0.7 (maintenance release) before my vacation.

[2017-05-19 15:57] pixelzoom commented on #844
@phet-steele some notes to (hopefully) make testing easier:

Fixing these 2 issue involved revising all of the card images.  So some of the cards (e.g. snowflake) intentionally look different than previous versions.

Test phetsims/function-builder#109 by putting one of each card through the builder, then apply the Mirror function.  Cards that have symmetry (e.g. butterfly, snowflake,...) should no

[2017-05-19 16:00] #828 closed

[2017-05-19 17:08] ariel-phet commented on #844
Sounds like @phet-steele can get to this today.

[2017-05-19 17:50] pixelzoom commented on #844
There's still an anti-aliasing artifact with `?C > Shrink > ?C` because Shink may create an image with non-even dimensions.  See https://github.com/phetsims/function-builder/issues/109#issuecomment-302763232.  This has been fixed, but will require another RC to spot test.

[2017-05-19 18:46] phet-steele commented on #844
@pixelzoom ready for rc.3

[2017-05-19 19:11] pixelzoom commented on #844
Thanks @phet-steele.

To be regression tested in 1.0.0-rc.3:

• Shrink function fix for phetsims/function-builder-basics#18
• Swastika fix for phetsims/function-builder#111

[2017-05-19 19:47] phet-steele commented on #839
@jonathanolson rc.1 finished. Ready for rc.2 when you are.

[2017-05-19 19:52] #842 closed

[2017-05-19 19:54] phet-steele commented on #830
Done here https://docs.google.com/spreadsheets/d/1weqPMQfVBHX_IDtLTcu-EyrFamRaH7xtjFkdELS2Tfg/edit#gid=853935431

We will continue this moving forward. The a11y template will remain.

[2017-05-19 19:54] #830 closed

[2017-05-20 00:37] jonathanolson opened #845 "RC test: Proportion Playground 1.0.0-rc.2"
@amanda-phet, [Proportion Playground] 1.0.0-rc.2 is ready for RC testing. Only spot checks needed.

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/proportion-playground/1.0.0-rc.2/proportion-playground_en.html)**

**[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/proportion-playground/1.0.0-rc.2/proportion-playground_en-iframe.html)**

**Please verify**

- [x] The "Sh

[2017-05-20 00:38] jonathanolson commented on #839
Thanks, rc.2 in https://github.com/phetsims/tasks/issues/845. Closing.

[2017-05-20 00:38] #839 closed

[2017-05-21 17:03] pixelzoom commented on #844
Reminder for myself on how to create 1.0.0-rc.3:

[code]

[2017-05-22 18:00] oliver-phet commented on #835
Sam McKagan was deleted. Closing.

[2017-05-22 18:00] #835 closed

[2017-05-22 21:28] phet-steele commented on #845
@jonathanolson @amanda-phet @ariel-phet this rc test was downgraded to a spot check, no full matrix was needed.

[2017-05-23 19:28] phet-steele commented on #837
@samreid sorry this took so long. As @EthanWJohnson said, https://github.com/phetsims/color-vision/issues/115 is not a problem in 1.2.4 and no regression was obvious.

[2017-05-23 20:06] EthanWJohnson commented on #845
Have found no issues here--paint scene, with show both or otherwise.

[2017-05-24 03:57] zepumph opened #846 "RC Test: John Travoltage 1.4.0-phetiorc.1"
As part of https://github.com/phetsims/phet-io/issues/1139, we need this to help with the wrapper sonification effort with Georgia Tech.

These shas were pulled off of master because they needed to pick up many infrastructure/refactoring changes in the phet-io code.

Here is the link:
http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.4.0-phetiorc.1/wrappers/index/

@ariel-paul please

[2017-05-24 04:03] zepumph opened #847 "RC Test: Build An Atom 1.4.0-phetiorc.1"
As part of phetsims/phet-io#1139, we need this to help with the wrapper sonification effort with Georgia Tech.

These shas were pulled off of master because they needed to pick up many infrastructure/refactoring changes in the phet-io code.

Here is the link:
http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.4.0-phetiorc.1/wrappers/index/

@ariel-paul please assign and prioritize. It m

[2017-05-24 04:07] zepumph opened #848 "RC Test: Balloons And Static Electricity 1.3.0-phetiorc.1"
As part of phetsims/phet-io#1139, we need this to help with the wrapper sonification effort with Georgia Tech.

These shas were pulled off of master because they needed to pick up many infrastructure/refactoring changes in the phet-io code.

Here is the link:
http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.3.0-phetiorc.1/wrappers/index/

@ariel-paul please assign an

[2017-05-24 18:45] mattpen commented on #820
@phet-steele - The latest version is available here: https://play.google.com/apps/testing/edu.colorado.phet.android

[2017-05-24 19:08] phet-steele commented on #845
@jonathanolson, the ball is in your court with phetsims/proportion-playground/issues/73.

[2017-05-24 23:05] ariel-phet commented on #724
@phet-steele I think at this point this issue is quite stale. What say you? If so go ahead and close

[2017-05-25 05:23] arouinfar commented on #833
@clmccutchan how are things coming along? It would be helpful if we could get the artwork to the developer soon. Do you have an estimate of when you'll have the artwork ready?

[2017-05-25 13:53] clmccutchan commented on #833
@arouinfar This is on my list for today! The symmetrical cards took considerably longer than I would have guessed. I should have drafts of everything by next Tuesday. Will that work for you?

[2017-05-25 16:33] jbphet commented on #848
One of the objectives for making this release is to make it possible in the sonification wrappers to turn off sound generation for a screen when that screen is not selected or when the browser tab containing the sim is hidden.  Also, we want to be able to prevent a bunch of individual sonification sounds during reset and instead just play a single reset "earcon".  Below is a list of the issues rel

[2017-05-25 16:33] jbphet commented on #847
One of the objectives for making this release is to make it possible in the sonification wrappers to turn off sound generation for a screen when that screen is not selected or when the browser tab containing the sim is hidden.  Also, we want to be able to prevent a bunch of individual sonification sounds during reset and instead just play a single reset "earcon".  Below is a list of the issues rel

[2017-05-25 16:33] jbphet commented on #846
One of the objectives for making this release is to make it possible in the sonification wrappers to turn off sound generation for a screen when that screen is not selected or when the browser tab containing the sim is hidden.  Also, we want to be able to prevent a bunch of individual sonification sounds during reset and instead just play a single reset "earcon".  Below is a list of the issues rel

[2017-05-29 03:48] samreid commented on #826
I see 7 occurrences of this pattern across charges-and-fields, circuit-construction-kit, expression-exchange and projectile-motion.  @ariel-phet can you recommend a developer and priority level?

[2017-05-30 15:04] ariel-phet commented on #826
@veillette do you mind taking care of this in charges and fields? And if easy the other sims listed?

[2017-05-30 16:00] jonathanolson commented on #826
I had noticed this pattern in expression-exchange and tagged it with a REVIEW item.

[2017-05-30 17:43] phet-steele opened #849 "Getting Alex Started"
@ariel-phet @oliver-phet

- [x] Go over the phases of sim development
- [x] GitHub email/account, join the organization
- [x] Go over GitHub workflow
- [x] Explain the testing tricks-of-the-trade (sim locations, query params, dev tools, etc...)
- [x] Practice creating an issue
- [x] Introduce test-server
- [ ] Introduce the website
- [ ] Website account
- [x] Share to google-group
- [x] Availabili

[2017-05-31 13:18] clmccutchan commented on #833
@arouinfar, here are drafts of four of the five assets. I'm working on the dollar bill next. I know we had a discussion about sizing of the objects, but I can't seem to find anything in my notes. Do you recall the specifications you were looking for?

![833_circuitconstruction_eraser](https://cloud.githubusercontent.com/assets/25354670/26633527/f1dca0b4-45d0-11e7-8ab6-d838c796a0f5.png)
![833_circu

[2017-05-31 15:51] arouinfar commented on #833
@clmccutchan these look great!! Most of these items will be ~100px wide on an iPad, but scaling the vector art shouldn't be a problem. Can you put these assets in your Google Drive folder (or email it to me) as a CS6 .ai file?

[2017-05-31 15:53] arouinfar commented on #833
I'll also need to add the dog to your list, as well. I tracked down the .ai asset, and it turns out it's just the dog's head -- we'll need a full body.

[2017-05-31 16:11] clmccutchan commented on #833
@arouinfar Yep, I'll get the file into my Google drive. Once I've got the dollar bill and dog in, I'll let you know and update the file. Note that the paperclip is made of a stroke with a gradient. If you scale it in Illustrator, you will also need to change the stroke width.

[2017-05-31 16:26] #845 closed

[2017-05-31 16:36] #837 closed

[2017-05-31 16:44] arouinfar commented on #833
Thanks @clmccutchan! I was able to track down the dog artwork yesterday, and it looks like we just have a head, so I'll need to add the dog to your list. Not sure if it will be helpful, but I'll email you the asset for the dog head -- it's based on Ariel's dog.

We'd still like to base the artwork on Ariel's dog. Here's a reference photo:
![image](https://cloud.githubusercontent.com/assets/8419308

[2017-05-31 17:08] clmccutchan commented on #833
@arouinfar Oops, I forgot to convert the .ai file to CS6. I've got a dentist appointment in about 20 mins. I'll try to get the correct version for you before, but if not, then by 2 pm today

[2017-05-31 17:08] arouinfar commented on #833
No worries @clmccutchan! By the end of the day will be fine. :)

[2017-05-31 17:09] clmccutchan commented on #833
@arouinfar I'm pretty sure I can find a good side angle of the pose Ariel's dog is in and then I'll just use Ariel's dog's coloring.

[2017-05-31 17:10] arouinfar commented on #833
Sounds perfect @clmccutchan!

[2017-05-31 17:34] clmccutchan commented on #833
@arouinfar New cs6 version in Google drive!

[2017-05-31 17:37] phet-steele commented on #724
@ariel-phet I do not think this issue is stale, however developer work on resolving any issues with these sims is unlikely to happen anytime soon. By extension, I think QA time on this would be nice, but also somewhat wasted. Closing since it would be better to test when developers are ready (and it would presumably be one sim at a time, not a large batch).

[2017-05-31 17:37] #724 closed

[2017-05-31 19:08] EthanWJohnson commented on #848
Not seeing any issues with active or visible down here.

[2017-05-31 21:08] clmccutchan commented on #833
@arouinfar I'm looking at the assets and, while none of them are taller than 100 px, most are considerably longer than 100 px. Do you want me to scale these down for you? I can make the dog and money no wider than 100 px.

[2017-05-31 21:10] arouinfar commented on #833
@clmccutchan no need to adjust anything. I'm more worried about the aspect ratio than the physical width. I ended up shortening the pencil a bit so that it's not too narrow at 100 px long.

[2017-06-01 05:26] ariel-phet commented on #833
@clmccutchan if there is a specific angle/pose you want of Emmy (my dog) just let me know. I will be happy to take some pics.

[2017-06-01 14:02] clmccutchan commented on #833
@ariel-phet Thanks, I'm all set! I just found some dog poses on the internet that I'll use to position the dog and then and Emmy's coloring.

[2017-06-01 17:30] oliver-phet commented on #772
@ariel-phet Did you want to create social media posts for Office Mix?

[2017-06-01 18:14] clmccutchan commented on #833
@arouinfar I've attached drafts of the dog and dollar. What do you think?

![833_circuitconstruction_cs6_dog](https://cloud.githubusercontent.com/assets/25354670/26694185/d5e09eb2-46c3-11e7-9e5a-ee4d335a5953.png)
![833_circuitconstruction_cs6_dollar](https://cloud.githubusercontent.com/assets/25354670/26694184/d5d995ea-46c3-11e7-8dd0-eb4207fbff39.png)

[2017-06-01 21:12] jbphet opened #850 "RC Test: Build An Atom 1.4.0-phetiorc.2"
A new RC has been released for this that removes the game screen, see https://github.com/phetsims/build-an-atom/issues/159.

This issue supersedes https://github.com/phetsims/tasks/issues/847.

Here is the link to the RC version that should be tested:
http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.4.0-phetiorc.2/wrappers/index/

The scope of the testing has been discussed in recent

[2017-06-01 21:12] jbphet commented on #847
Superseded by https://github.com/phetsims/tasks/issues/850, closing.

[2017-06-01 21:12] #847 closed

[2017-06-01 22:42] arouinfar commented on #833
@clmccutchan I really like the direction of the dollar bill. I'd like to see the circle vertically centered in the bill, and it would also be good to replace the serif PhET with our logo (sans plane). I'll send you an .ai file with the PhET logo.

Can you also add a collar to the dog? @ariel-phet was there any other feedback you had?

[2017-06-02 06:39] ariel-phet commented on #833
No, that all sounds good

[2017-06-02 17:58] samreid opened #851 "Test Build an Atom 1.2.6-rc.2"
For https://github.com/phetsims/build-an-atom/issues/162 @jessegreenberg and I prepared an RC that has the following changes:
1. The sim broadcasts a start message for legends of learning
2. The sim responds to legends of learning pause/resume messages
3. This includes @jbphet's changes to the timer for the game screen so it will also pause and resume.

It was published here:
http://www.colorado.e

[2017-06-05 16:20] clmccutchan commented on #833
@arouinfar Here are new drafts of the dog and the dollar. I could potentially darken the PhET logo on the dollar bill so that it stands out a bit better.

![833_circuitconstruction_cs6_dog](https://cloud.githubusercontent.com/assets/25354670/26792708/8bee4148-49d8-11e7-8faf-c39e0efa522a.png)
![833_circuitconstruction_cs6_dollar](https://cloud.githubusercontent.com/assets/25354670/26792707/8be81476

[2017-06-05 16:22] phet-steele commented on #846
Testing is done, back to @zepumph.

[2017-06-05 16:23] phet-steele commented on #848
Testing is done, back to @zepumph. Features above were verified as (mostly) working.

[2017-06-05 16:24] phet-steele commented on #850
Testing is done, back to @zepumph. Features in #847 were verified as (mostly) working.

[2017-06-05 17:19] phet-steele commented on #843
@pixelzoom this is ready for you!

[2017-06-05 17:55] arouinfar commented on #833
Looks good @clmccutchan! I accidentally sent you the wrong logo file (iO shouldn't be included), but that's something I can easily adjust on my end. Please go ahead and drop these in your Drive folder.

[2017-06-05 18:45] veillette commented on #826
all the instances of
``` event.pointer.isMouse && event.domEvent.button !== 0 ```

have been replaced

[2017-06-05 18:49] veillette commented on #826
There are additional expressions which perform the same function:

[code]

These can be found in make-a-ten, and molecule-shapes.

@jonathanolson: should I go forward and replace them as well?

[2017-06-05 19:28] pixelzoom commented on #843
Issues #80 and #81 (both related to `stringTest=long`) will never occur in practice, so (after consulting with @phet-steele) I've closed them as "won't fix".    Since there are no other issues to address, I will close this issue, and proceed with publishing 1.2.0.

[2017-06-05 19:28] #843 closed

[2017-06-05 19:40] pixelzoom commented on #815
Graphing Lines 1.2.0 has been published, so we can proceed with the next RC task.

[2017-06-05 19:47] clmccutchan commented on #833
@arouinfar The .ai file is in my Google drive now.

[2017-06-05 19:53] jonathanolson commented on #826
I'll look into those.

[2017-06-05 19:53] arouinfar commented on #833
Thanks @clmccutchan!

[2017-06-05 19:56] pixelzoom opened #852 "RC test: Graphing Slope-Intercept 1.0.0-rc.2"
RC version:
http://www.colorado.edu/physics/phet/dev/html/graphing-slope-intercept/1.0.0-rc.2/graphing-slope-intercept_en.html

iFrame test:
http://www.colorado.edu/physics/phet/dev/html/graphing-slope-intercept/1.0.0-rc.2/graphing-slope-intercept_en-iframe.html

Text matrix:
https://docs.google.com/spreadsheets/d/1Tocnn1DCtML3rrYDJj4pTgQ96tE0caTQR4fqYeA0vuU/edit#gid=315434409

In addition to the

[2017-06-05 19:57] #815 closed

[2017-06-05 19:58] pixelzoom commented on #852
Note to self: This RC was created using the same shas as Graphing Lines 1.2.0.    Here's the process:

[code]

[2017-06-05 20:46] mattpen commented on #820
@phet-steele @ariel-phet -

The latest beta will now be available here:
https://play.google.com/apps/testing/edu.colorado.phet.android_app

[2017-06-05 21:54] pixelzoom opened #853 "RC test: Function Builder: Basics 1.0.0-rc.3"
Previous RC test: https://github.com/phetsims/tasks/issues/844

RC test:
http://www.colorado.edu/physics/phet/dev/html/function-builder-basics/1.0.0-rc.3/function-builder-basics_en.html

iFrame test:
http://www.colorado.edu/physics/phet/dev/html/function-builder-basics/1.0.0-rc.3/function-builder-basics_en-iframe.html

This RC test does not require a full test matrix. It requires regression testin

[2017-06-05 21:54] pixelzoom commented on #853
@ariel-phet please prioritize.

[2017-06-05 21:56] pixelzoom commented on #844
@phet-steele (and anyone else looking at this issue)... FYI there is no longer a 1.0.0-rc.2 that corresponds to the testing done in this issue.  In the process of creating 1.0.0-rc.2, I accidentally blew away 1.0.0-rc.2 (see https://github.com/phetsims/chipper/issues/581).   So it goes...

Closing.

[2017-06-05 21:56] #844 closed

[2017-06-06 02:01] zepumph commented on #850
#850 should be addressed here too.

[2017-06-06 18:00] ariel-phet commented on #821
Moving up to high priority since this task has lingered

[2017-06-06 18:06] phet-steele commented on #853
@pixelzoom regression testing verified on:

macOS 10.12.5 Chrome
iPad 2 iOS 9.3.5
Win 10 Edge

![greenlight](https://user-images.githubusercontent.com/5863899/26844406-868ac8e2-4ab0-11e7-9a5f-180ce5ab61fe.png)

[2017-06-06 19:34] pixelzoom commented on #853
Excellent, thank you @phet-steele and QA team.  I will proceed with 1.0.0 publication.

[2017-06-06 19:35] #853 closed

[2017-06-07 15:09] samreid commented on #833
@arouinfar please let me know when the dog and dollar are ready.

[2017-06-07 17:17] arouinfar commented on #833
@samreid I've emailed you the last of the assets. Discussion can continue in https://github.com/phetsims/circuit-construction-kit-common/issues/264 (or new issues, if needed).  Thanks again @clmccutchan!

[2017-06-07 17:17] #833 closed

[2017-06-08 04:53] ariel-phet commented on #834
@clmccutchan any movement on this issue? The sim is moving along nicely and it would be good to get the artwork inserted in the next couple of weeks.

[2017-06-08 12:41] clmccutchan commented on #834
@ariel-phet This is next up on my list. I'm hoping to have it complete by mid-next week.

[2017-06-08 21:13] zepumph opened #854 "RC Test: Plinko Probability 1.1.0-rc.1"
**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.1.0-rc.1/plinko-probability_en.html)**

**[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.1.0-rc.1/plinko-probability_en-iframe.html)**

**[Link to Test Matrix](https://docs.google.com/spreadsheets/d/1Z1HvuZpJIaHYHikb6X5klkvDdgYjCHiY5jtW2OA1jjo/edit#gid=815015682)**

**Please also

[2017-06-08 21:22] zepumph opened #855 "RC Test: Plinko Probability 1.1.0-phetiorc.1"
This is a test for https://github.com/phetsims/phet-io/issues/1140 to get Plinko Probability record and playback ready for Ian and a study he is conducting.

Here is the RC link:
http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.1.0-phetiorc.1/wrappers/index/

Note: most of the phet-io features are not functional, only the record and mirro- input wrappers should be tested. We will

[2017-06-08 21:24] zepumph commented on #855
I reached out to Ian recently asking him to try to specify specific devices and or browsers that he will be using for the study, and he has not responded yet, if he does with useful info to help narrow the focus of this RC Test, I will pass it on to this issue.

[2017-06-09 13:53] samreid opened #856 "Add Legends of Learning to the QA checklist"
At yesterday's meeting it was suggested to add "Testing the Legends of Learning" features to the QA checklist.  The basic instructions for how to test with the Legends of Learning harness are identified in #851.  We should rigorously test the first several sims while this is a new technology, then we can re-evaluate after we have some more experience.  Any sim built with June 2017 Joist or later w

[2017-06-09 15:57] ariel-phet commented on #854
Marking as high priority since the sim might be used in a study soon

[2017-06-09 15:58] ariel-phet commented on #855
@phet-steele it probably makes sense to work on #854 first, and not begin this test until you are reasonable confident the the production release has no major issues. Also would be good to wait for a narrower list of platforms for the iO test.

[2017-06-09 16:01] zepumph commented on #855
I just heard back from Ian. We are looking to try to get him the phetio version before Tuesday the 20th, so there is a bit more time than we thought, but I think the end of next week delivery would be a good goal.

Ian said that he is unsure of browsers, but the computer bank is all PCs.

[2017-06-09 16:04] zepumph commented on #854
Ideally this, with https://github.com/phetsims/tasks/issues/855,  could be done by the end of next week for a study on Tuesday the 20th. @ariel-phet please comment if this is a deadline that we want to try to adhere to, I can relay this back to Ian either way.

[2017-06-09 17:16] veillette commented on #854
The main additional concern that should be targeted in this RC candidate is the performance on the iPad2.
Since the Pegs and the Balls must look visually good at row 1 rather than five, the images of the peg and ball is much larger.
I expect that it may be more costly to render the balls and the pegs.

Performance wise, we are aiming to be on par with the current published simulation.

[2017-06-10 22:26] zepumph opened #857 "RC Test: Balloons And Static Electricity 1.3.0-phetiorc.2"
Here is the link:
http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.3.0-phetiorc.2/wrappers/index/

I'm new at the the iterative RC process, but I think we just need to spot check some issues from the first rc (https://github.com/phetsims/tasks/issues/848):
- [x] https://github.com/phetsims/phet-io/issues/1143
- [x] https://github.com/phetsims/phet-io/issues/1141

Fee

[2017-06-10 22:31] zepumph opened #858 "RC Test: John Travoltage 1.4.0-phetiorc.2"
Here is the link:
http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.4.0-phetiorc.2/wrappers/index/

I'm new at the the iterative RC process, but I think we just need to spot check some issues from the first rc (https://github.com/phetsims/tasks/issues/846):
- [x] https://github.com/phetsims/phet-io/issues/1143
- [x] https://github.com/phetsims/john-travoltage/issues/254
- [x] https:/

[2017-06-10 22:33] zepumph opened #859 "RC Test: Build An Atom 1.5.0-phetiorc.1"
Here is the link:
http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.5.0-phetiorc.1/wrappers/index/

This is actually the third rc, but because of https://github.com/phetsims/build-an-atom/issues/163 we moved from 1.4 to 1.5.
I'm new at the the iterative RC process, but I think we just need to spot check some issues from the last rc (https://github.com/phetsims/tasks/issues/850):

- [x]

[2017-06-10 22:36] zepumph commented on #846
Closing, next rc is https://github.com/phetsims/tasks/issues/858

[2017-06-10 22:37] #846 closed

[2017-06-10 22:37] zepumph commented on #848
Closing, next rc: https://github.com/phetsims/tasks/issues/857

[2017-06-10 22:37] #848 closed

[2017-06-10 22:37] zepumph commented on #850
closing, next rc: https://github.com/phetsims/tasks/issues/859

[2017-06-10 22:38] #850 closed

[2017-06-12 17:28] ariel-phet commented on #856
@samreid I would think https://github.com/phetsims/phet-info/blob/master/issue-info/sample_rc_test_task.md would be a good place.

What say you @phet-steele?

[2017-06-12 17:29] ariel-phet commented on #856
And @phet-steele please take the appropriate action and close this issue, no need to reassign to me.

[2017-06-12 17:41] phet-steele commented on #857
@zepumph @jbphet verified above issues on macOS 10.12.5 Chrome and Win 10 FF.

[2017-06-12 17:42] phet-steele commented on #859
@zepumph @jbphet verified above issues on macOS 10.12.5 Chrome and Win 10 FF.

[2017-06-12 17:43] phet-steele commented on #858
@zepumph @jbphet verified above issues on macOS 10.12.5 Chrome and Win 10 FF. Although, looks like will need some more fixing.

[2017-06-12 17:58] samreid commented on #851
This has been top priority for 7 days.  Can I get a status check?  Should @jonathanolson and I wait for full testing results before addressing https://github.com/phetsims/scenery/issues/619 ?

[2017-06-12 18:20] phet-steele commented on #851
@samreid this has been tested pretty heavily on chromebook and iPad Air 2. Enough testing has been done on desktop where we are probably okay, but it hasn't been enough for the team to "sign off" if you know what I mean.

[2017-06-12 18:21] samreid commented on #851
Sounds good, please keep me posted.

[2017-06-12 18:38] zepumph commented on #857
I will publish this today for @jbphet to use tomorrow.

[2017-06-12 18:38] #857 closed

[2017-06-12 18:40] zepumph commented on #858
Yeah it will, it will need a one word change to get it back to where it was before, pretty safe. I will publish from there. Thanks @phet-steele for the hard work! Closing.

[2017-06-12 18:40] #858 closed

[2017-06-12 18:40] zepumph commented on #859
Thanks for all you do. I will publish from here. Closing.

[2017-06-12 18:40] #859 closed

[2017-06-12 19:48] phet-steele commented on #851
@samreid, sanity checked. Timer behaves nominally.

[2017-06-12 20:07] phet-steele commented on #856
Yes, the rc template is a good place to put it. I've went ahead and done this.

How about I assign to you, then close?

[2017-06-12 20:07] #856 closed

[2017-06-12 21:11] samreid commented on #851
Thanks, we'll proceed with fixing the identified problem in https://github.com/phetsims/build-an-atom/issues/162

[2017-06-12 21:11] #851 closed

[2017-06-12 21:13] phet-steele commented on #855
Record and Mirror-Input wrappers performed great on macOS 10.12.5 Chrome.

[2017-06-13 16:48] ariel-phet commented on #793
I have gotten a tool called "screencast-o-matic", the pro version allows me to make gifs and I have successfully uploaded one to twitter (worked on chrome, but seemed to have an issue on twitter). Will start trying more gifs in tweets.

Closing

[2017-06-13 16:48] #793 closed

[2017-06-13 19:08] jbphet opened #860 "dev test: Expression Exchange 1.1.0-dev.3"
Expression Exchange is getting close to being ready for an RC, but a lot of code was touched during the recent code review, so a round of dev testing would be wise.  Please test it fairly thoroughly for basic functionality on at least one platform, test basic functionality on several platforms, and look at performance on our worst case performance platform (which I believe is iPad 2).

Link: http:

[2017-06-13 19:17] veillette commented on #680
For your information, the previous website is not up to date.  See http://openjdk.java.net/projects/jdk9/ for the official release date.
At this point, it is due to be release on Sept 21. 2017.

[2017-06-13 22:29] jessegreenberg opened #861 "RC Spot Check: Balloons and Static Electricity 1.2.4-rc.1"
@ariel-phet @phet-steele after a fix for https://github.com/phetsims/balloons-and-static-electricity/issues/273, balloons-and-static-electricity 1.2.4-rc.1 is ready for a spot check.  Changes in that issue were not invasive, a full test is not necessary.

[**Link to sim**](http://www.colorado.edu/physics/phet/dev/html/balloons-and-static-electricity/1.2.4-rc.1/balloons-and-static-electricity_en.ht

[2017-06-14 05:51] ariel-phet commented on #861
@phet-steele I imagine this will be a fairly quick test, but currently lots in line before it higher priority

[2017-06-14 16:20] phet-steele commented on #852
![greenlight](https://user-images.githubusercontent.com/5863899/27143274-13572f50-50eb-11e7-93db-315c5e23525a.png)

[2017-06-14 16:23] pixelzoom commented on #852
Thank you @phet-steele and QA team.  No issues found, so we will proceed to publication.

[2017-06-14 16:23] #852 closed

[2017-06-14 17:36] phet-steele commented on #855
Record and Mirror-Input wrappers performed great on Win 10 Chrome, FF, and IE 11 as well.

We do not, and probably never will, perform testing on Win XP. We do not have a device with it loaded, I believe. So @zepumph, maybe we just cross our fingers that it works?

Recording and mirror inputs were the only two tests run on the above platforms. @zepumph is this reasonable?

[2017-06-14 17:49] pixelzoom opened #862 "animated GIFs created with Camtasia can't be viewed in Safari desktop"
The GIF added to https://github.com/phetsims/scenery/issues/619#issuecomment-308221723 causes desktop Safari 10.1.1 (11603.2.5) to error on Mac OS X 10.11.6 when I open that issue. According to @phet-steele, I am "literally the only person with this problem".

This is not the first time that I've experienced this problem, and it requires me to open issues like this with a different browser, which

[2017-06-14 17:49] pixelzoom commented on #862
@samreid said:

[2017-06-14 17:50] pixelzoom commented on #862
It appears to be a problem only with the GIFs that @phet-steele creates with Camtasia.  Preview and Photoshop CS6 also have problems with these GIFs.  If I download the GIF from the above comment, here's the info about the file:

[code]

[2017-06-14 17:52] phet-steele commented on #854
@zepumph @jonathanolson let's pick up the changes in phetsims/scenery-phet/issues/312

[2017-06-14 17:53] pixelzoom commented on #862
Preview error when attempting to open the animated GIF that appears in https://github.com/phetsims/scenery/issues/619#issuecomment-308221723:

![screenshot_280](https://user-images.githubusercontent.com/3046552/27146866-0409a1c4-50f8-11e7-928a-6466d55dd226.png)

Photoshop CS6 experiences the "beachball of death" and must be force quit.

[2017-06-14 17:55] pixelzoom commented on #862
I tried these recommendations:

[2017-06-14 17:56] pixelzoom commented on #862
I tried these recommendations: https://support.apple.com/en-us/HT203353

All extensions off, unnecessary plug-ins and add-ons deleted ... still crashing.

[2017-06-14 17:58] pixelzoom commented on #862
Here's what I see each time I try to load phetsims/scenery#619 in Safari:

![screenshot_281](https://user-images.githubusercontent.com/3046552/27147077-bf9756a2-50f8-11e7-9828-5a1854d60f75.jpg)

[2017-06-14 18:01] pixelzoom commented on #862
I viewed animated GIFs from a few test websites using Safari and Preview, no problems.  The ones that I downloaded reported `version 89a`, while Camtasia is creating `87a`.  Not sure if that's relevant.

[2017-06-14 18:05] zepumph commented on #855
@phet-steele I hate to do this to you, but it seems only right that we would also look at the plain ole simulation with tandem validation disabled. Could you spend a bit more time on this as well?
http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.1.0-phetiorc.1/plinko-probability_en-phetio.html?phetioStandalone&phetioValidateTandems=false

[2017-06-14 18:25] pixelzoom commented on #862
@phet-steele is use Camtasia 2.10.5 (91864) on macOS 10.12.5.

[2017-06-14 18:29] phet-steele commented on #855
No worries, finished! (Win 10 Chrome, FF, and IE 11)

[2017-06-14 18:33] zepumph commented on #855
Thanks! Waiting on https://github.com/phetsims/tasks/issues/854 to proceed.

[2017-06-14 18:47] phet-steele commented on #854
@zepumph testing done with one issue mentioned above. Performance on iPad 2 between this version and the production version was identical.

[2017-06-14 20:22] zepumph commented on #854
@ariel-phet could you please assign someone to publish this phet version to the website. Feel free to keep it on me and I can give it a whirl. I had no part in the changes made, nor have I ever published a phet brand sim to the website. I wanted to give the opportunity for someone else to take over if that should happen.

[2017-06-14 20:26] zepumph commented on #855
All was good for both versions. I will continue in https://github.com/phetsims/phet-io/issues/1140 with a cherry pick and a phet-io publish.

[2017-06-14 20:28] #855 closed

[2017-06-14 20:42] #854 closed

[2017-06-14 22:47] clmccutchan commented on #834
@arouinfar I've got a draft of the puller. The pullers are stacked on top of each other on a single artboard. I'll send you the .ai file via email.

[2017-06-14 22:48] arouinfar commented on #834
Sounds good @clmccutchan!

[2017-06-14 23:13] arouinfar commented on #649
All artwork has been delivered to the developers, closing.

[2017-06-14 23:13] #649 closed

[2017-06-14 23:14] arouinfar commented on #834
Looks great @clmccutchan!! Self-assigning to export the images and deliver the assets to @jessegreenberg.

[2017-06-15 02:11] ariel-phet commented on #834
@arouinfar do we also have the "pullers made of atoms"...and the "hair sticking up pullers"? Just checking since I don't see any mention of those in the issue.

[2017-06-15 21:52] zepumph opened #863 "How about a "tasks:spot-check" label?"
@ariel-phet @phet-steele and other QA folks, would this label be helpful in prioritizing issues and organizing tasks that may not take very long?

My thought is that this would be most often used for RC tests >= 2 that just have issues that need to be confirmed as fixed. For an issue that that is inherently fast and easy.

There is probably a better name out there. Assigning to people to see if pe

[2017-06-15 22:00] zepumph commented on #863
maybe `type:spot-check` makes more sense.

[2017-06-16 01:34] ariel-phet commented on #863
@zepumph `type:` is usually reserved for bugs in our labeling scheme so far

Perhaps we need a new part of the scheme, something the can precede something like `spot-check` or such

We have 'tasks:QA' but maybe it is time to switch this up and have various 'QA:' labels. Such as 'QA:spot-check' 'QA:dev-test' 'QA:rc-test' or such

[2017-06-16 15:11] zepumph commented on #863
I like that idea, then the need for tasks:QA would not be necessary.

[2017-06-16 15:35] ariel-phet commented on #863
@phet-steele what say you about at QA specific repo?

[2017-06-16 18:22] samreid opened #864 "typo in sim description"
Forces and motion basics description says:

Note the missing whitespace after the comma.  @ariel-phet do you know who can solve this?

[2017-06-16 18:53] ariel-phet commented on #864
@samreid fix has been submitted (thanks for pointing it out). Although it make take some time to appear due to caching. Closing

[2017-06-16 18:53] #864 closed

[2017-06-16 18:58] jessegreenberg commented on #861
@phet-steele mentioned that this change could require a new screenshot. This comment is just a reminder so we don't forget.

[2017-06-19 17:47] pixelzoom commented on #821
@phet-steele Can you give me a feel for what % of testing is complete?  The dev version is now over 2 months old, and there have been many PhET-iO changes in master.  If the % completed is low, I'm considering starting over with master.

[2017-06-19 17:51] pixelzoom commented on #821
Skype:
[6/19/17, 11:50:16 AM] Steele Dalton: 87
[6/19/17, 11:50:38 AM] Chris Malley: that's high enough to proceed.

[2017-06-19 18:54] phet-steele commented on #861
@jessegreenberg, checked Win 10 Edge, macOS 10.12.5 Chrome, and iOS 10.3.2 Safari. Good to go.

[2017-06-19 19:00] pixelzoom commented on #821
Discussed with @ariel-phet on Skype.  Since this dev version is now rather stale, we're going to stop this test task, and begin a new dev test task using using master.

[2017-06-19 19:00] #821 closed

[2017-06-19 19:25] pixelzoom opened #865 "Dev test: Molarity 1.3.0-phetiodev.3"
Previous dev test: https://github.com/phetsims/tasks/issues/821

Wrappers (password protected):
http://www.colorado.edu/physics/phet/dev/html/molarity/1.3.0-phetiodev.3/wrappers/index/

This is the first version of Molarity that has been instrumented for PhET-iO. So the focus of this dev test is PhET-iO features. That said, the plan is to also republish the 'phet' brand version of this sim, so ple

[2017-06-19 19:28] pixelzoom commented on #865
@phet-steele I discussed with @ariel-phet, and the goal is to publish 1.3.0-phetio in the next 2-3 weeks.  If that doesn't fit with current QA priorities, or if QA priorities change to make that impossible, please discuss with @ariel-phet.

[2017-06-19 20:33] phet-steele opened #866 "ISTE 2017 booth video"
@ariel-phet please review the video at https://github.com/phetsims/phet-info/blob/master/conferences/ISTEProjectionVideo_06-15-2016.mp4 and suggest any wanted additions.

[2017-06-19 20:53] oliver-phet opened #867 "ISTE 2017 preparation"
- [ ] General Flyers
- [ ] App flyers
- [ ] Chromebook with App
- [ ] Macbook with Video
- [ ] Booth bag packed

[2017-06-20 17:04] ariel-phet commented on #866
@phet-steele lets remove graphing lines, but add the following sims:

States of Matter
Function Builder
Make a Ten

[2017-06-20 20:33] phet-steele commented on #866
Video approved and uploaded here: https://github.com/phetsims/phet-info/blob/master/conferences/ISTE_2017.mp4

Leaving open for myself to put this on some devices.

[2017-06-21 17:50] ariel-phet commented on #863
@phet-steele I have decided to move ahead with this suggestion. It is on the developer meeting agenda (doc) now

[2017-06-21 17:51] #863 closed

[2017-06-21 19:46] zepumph opened #868 "RC Test: Forces and Motion Basics 2.3.0-rc.1"
( @jessegreenberg @arouinfar @oliver-phet )

2.3.0-rc.1 is ready for RC testing.

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.3.0-rc.1/forces-and-motion-basics_en.html)**

**[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.3.0-rc.1/forces-and-motion-basics_en-iframe.html)**

**[Test Matrix](https://docs.google.co

[2017-06-21 19:56] zepumph opened #869 "RC Test: Forces and Motion Basics 2.3.0-phetiorc.1"
@samreid @jessegreenberg  so they know this is in the queue.

This RC is from the same shas as https://github.com/phetsims/tasks/issues/868, so it should be done after testing the phet features. Here is the link to index.

http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.3.0-phetiorc.1/wrappers/index/

If any new issues are found, please note them in https://github.com/phet

[2017-06-21 20:10] ariel-phet commented on #743
This issue seems way stale and problematic, closing reassigning parent issue to @jbphet

[2017-06-21 20:10] #743 closed

[2017-06-21 20:11] ariel-phet commented on #690
@samreid can this issue be closed?

[2017-06-21 20:12] ariel-phet commented on #869
marking medium after #868

[2017-06-21 20:15] pixelzoom commented on #690
Note that the 1.1.-phetio branch should be considered obsolete.  It was not maintained and is way behind master and 1.0 branches.

[2017-06-21 20:16] samreid commented on #690
We delivered a function-builder to Ian months ago, closing.

[2017-06-21 20:16] #690 closed

[2017-06-22 15:36] jessegreenberg commented on #861
Thanks @phet-steele, excellent, will deploy today.

[2017-06-23 02:17] phet-steele commented on #866
Video loaded onto Curie.

[2017-06-23 02:17] #866 closed

[2017-06-23 16:55] phet-steele commented on #860
This is done. 1.1.0-dev.4 is out and being used to verify the above issues.

[2017-06-23 16:55] #860 closed

[2017-06-23 18:57] jessegreenberg commented on #861
@phet-steele took an updated screenshot (thanks!!).  Going through redeploy steps now.

[2017-06-23 19:15] jessegreenberg commented on #861
Deployed, and I can see the new screenshot on the site.  Closing.

[2017-06-23 19:15] #861 closed

[2017-06-23 23:02] jonathanolson opened #870 "Maintenance release testing for RichText changes"
Maintenance release RCs for https://github.com/phetsims/scenery-phet/issues/312.

This was applied to all sims that contained RichText in their production version. It may not be used in some sims.

For all sims:

- Open the sim in Chrome, run through a ~30 second check to make sure the sim operates normally.

For sims that have RichText (usually subscript/superscript bits, I didn't do an exhaustiv

[2017-06-23 23:22] zepumph commented on #836
We need to maintenance these shas into these releases

https://github.com/phetsims/scenery-phet/commit/f210433ebe9880152f420a51c036fd5e95f783c9
https://github.com/phetsims/scenery-phet/commit/727d5bd7ac8d93a1c6e8b78b27c9fb6a8a4e783d

[2017-06-24 18:49] ariel-phet commented on #695
Considering the age of this issue and no known user or QA complaints (as well as chrome being our dominant browser), closing

[2017-06-24 18:49] #695 closed

[2017-06-24 18:59] ariel-phet opened #871 "QA repo setup and task migration"
@phet-steele now that a QA specific repo exists can we do the following?

- [x] migrate open QA issues to the QA repo
- [x] migrate appropriate checklists to the QA repo (example RC test task and such)
- [x] create some QA specific labels (`QA:spot-check` for instance) , and others ones that you feel might be appropriate (I think there should also be something in the realm of `QA:upcoming` or `QA:

[2017-06-24 19:06] ariel-phet opened #872 "Primer Stats"
@oliver-phet it would be good for us to look at some primer stats, perhaps current, and quarterly for the last year.

Since we are investing quite a bit of resources into primers, it would be helpful to understand usage
- how large is usage?
- is it growing?
- rate of growth?
- are there certain kinds of sims/primers getting more attention?

I think that would help us prioritize which primers to w

[2017-06-24 19:07] ariel-phet commented on #872
Obviously, not something that needs attention until after ISTE

[2017-06-24 19:45] ariel-phet commented on #870
@phet-steele marking as medium since this should be a fairly quick test

[2017-06-25 00:35] ariel-phet commented on #867
All done, closing

[2017-06-25 00:35] #867 closed

[2017-06-25 01:17] ariel-phet opened #873 "Taking over weekly review of activities"
Someone is going to need to take over weekly review of activity submissions

@phet-steele is this something the QA team could handle? Basically you are just making sure it appears to be a legit lesson. In theory we should also be gold starring activities?

@amanda-phet and @arouinfar thoughts?

[2017-06-26 16:55] phet-steele commented on #870
Moved to phetsims/QA/issues/2

[2017-06-26 16:55] #870 closed

[2017-06-26 16:58] phet-steele commented on #832
Moved to phetsims/QA/issues/3

[2017-06-26 16:58] #832 closed

[2017-06-26 17:00] phet-steele commented on #836
Moved to phetsims/QA/issues/4

[2017-06-26 17:00] #836 closed

[2017-06-26 17:01] phet-steele commented on #868
Moved to phetsims/QA/issues/5

[2017-06-26 17:01] #868 closed

[2017-06-26 17:03] phet-steele commented on #869
Moved to phetsims/QA/issues/6

[2017-06-26 17:03] #869 closed

[2017-06-26 17:10] phet-steele commented on #820
@mattpen, when you are ready for more testing (which could even be now!), please make an issue in the QA repo.

[2017-06-26 17:10] #820 closed

[2017-06-26 17:10] phet-steele commented on #865
@pixelzoom we should be ready for rc. This sim was not exhibiting any unique problems, woo! Please make the new test tasks in the QA repo.

[2017-06-26 17:10] #865 closed

[2017-06-26 17:12] #849 closed

[2017-06-26 17:20] phet-steele commented on #871
So far I have:

`QA:a11y`
`QA:ios-app`
`QA:android-app`
`QA:website`
`QA:batch-maintenance-release`
`QA:spot-check`
`QA:phet-io`
`QA:dev-test`
`QA:rc-test`

@ariel-phet, not really sure what the purpose is of `QA:expected` and such. Why not just make the QA issue when it's ready?

Won't this delete the label from all issues in this repo? We'd still want to preserve past QA task issues.

[2017-06-26 17:45] amanda-phet commented on #873
It should be either myself or @arouinfar .

Can you let us know all of the work that @amyh-phet used to do that needs to be handed off to either me or @arouinfar and let us discuss how to split it up?

[2017-06-26 20:48] pixelzoom commented on #865
Thanks @phet-steele.

Regarding the issues found... phetsims/scenery-phet#314 and phetsims/phet-io#1161 will not be addressed for this release of Molarity.  They are general PhET-iO issues that will be addressed sometime in the future.

[2017-06-26 21:23] arouinfar commented on #873
Agreed that @amanda-phet or I should review activities for gold stars. Now that activities must be approved before becoming visible on the site, it might be a good idea for each of us to pick a day to review the unapproved activities so there's less of a delay between activity submission and visibility.

[2017-06-26 21:32] mbarlow12 commented on #834
@arouinfar have you sent @jessegreenberg the images? Or do you have any updates on their status?

[2017-06-26 21:33] arouinfar commented on #834
@mbarlow12 I've been working on them this afternoon, so I should have things ready for you and @jessegreenberg soon.

[2017-06-27 13:52] amyh-phet commented on #873
@amanda-phet and @arouinfar   I've used this spreadsheet to track activities that were deleted from the website.  Not sure if you want to keep using it.  Trish passed it along to me.

https://docs.google.com/spreadsheets/d/1QDQYEXNbyoT53vzgQT6BBg-IyM3AFp_GH650OlsK1mU/edit#gid=0

[2017-06-27 13:52] emily-phet opened #874 "HTML version of Survey Consent Form"
We are creating a survey that requires the inclusion of a consent form (attached). The consent form needs to be screen reader accessible. We'd like to include a link in the survey to an HTML page that includes the consent information - this will allow the consent information to be screen reader accessible without having to have lengthy text in the survey question itself.

Can someone create an HTM

[2017-06-27 17:19] arouinfar commented on #834
Artwork has been delivered to @mbarlow12 and @jessegreenberg. Closing.

[2017-06-27 17:19] #834 closed

[2017-06-27 18:43] amanda-phet commented on #873
That spreadsheet is helpful. Do you have an email template that you use when emailing these authors? Also, what is the response column?

[2017-06-27 19:26] amyh-phet commented on #873
Sorry, the response column was incorrectly titled.  I fixed it to say 'Activity Number'.  Trish used to track if she heard back from a user.  Sometimes we get uploads of activities that are blank or incomplete documents.  I typically asked the user to try to upload the document again and gave them a deadline to make changes before just deleting the activity.  I never had a user fix a document and

[2017-06-27 19:32] arouinfar commented on #873
Thanks for the clarification @amyh-phet.

Have you run into the situation where an activity page had a fleshed out description, etc. but had the incorrect file attached? From what I remember most activities with blank/irrelevant documents don't appear to be genuine activities.  Perhaps we can make a habit of outright deleting the spammy-looking activities, but giving a deadline to those who appear

[2017-06-27 19:55] amyh-phet commented on #873
Here's a link to some canned responses https://docs.google.com/a/colorado.edu/document/d/1fAy5HSTXi7b4ypFChk7iDwXvuQ707cQMwMh6q9Pf2rI/edit?usp=sharing

I made a new folder in Teaching Resources that has the deleted activities spreadsheet and canned responses.

[2017-06-27 19:58] amyh-phet commented on #873
@arouinfar   I typically outright delete the spammy activities but send an email to let the author know the activity was deleted.  One big tip off is for when an author aligns the activity to every sim (or a really long list of sims).  If the activity looks legitimate but there is an error with the file, then I'll give the author time to fix and upload a new file.

[2017-06-27 20:37] arouinfar commented on #872
@ariel-phet @oliver-phet do we have any stats for Teacher Tips? It may be worth comparing Teacher Tip downloads to Primer stats, as well.

[2017-06-27 21:38] pixelzoom commented on #862
No plans to work on this, hopefully the problem will go away with a new version of Camtasia, Safari or macOs.  Unassigning for now.

[2017-06-28 03:30] ariel-phet commented on #874
@mattpen is this something you could do quickly? Feel free to recruit @zepumph if it is time consuming and could use some help later in the week

[2017-06-28 15:06] mattpen commented on #874
This should be doable.  @ariel-phet Does it need to be published on phet.colorado.edu by the end of the week?  There are some things in master that are in QA testing at the moment, but I could put up a static version of the file as a workaround.

[2017-06-28 15:35] mattpen commented on #874
@emily-phet - I noticed there is a spot for a link in the description, should I post a pdf version of this file along side it?

Here is the text in question:

I'm planning to publish the consent form as https://phet.colorado.edu/consent-form-educator-surveys.html.  I could publish the pdf version as https://phet.colorado.edu/consent-form-educator-surveys.pdf.

[2017-06-28 15:40] mattpen commented on #874
I added the consent form in this commit: https://github.com/phetsims/website/commit/160ca630f0aa705a09ba4acae28e2cd161d650ba

[2017-06-28 15:58] mattpen commented on #874
FYI - the consent form is now available for preview at https://phet.colorado.edu/consent-form-educator-surveys.html

[2017-06-28 16:02] mattpen commented on #874
I tested the form with NVDA and it seems to work OK, although I'm not an expert user.

[2017-06-28 18:35] arouinfar commented on #873
Thanks @amyh-phet!

@amanda-phet should we each pick a day to review/approve activities? Maybe M/W or M/Th?

[2017-06-28 23:56] oliver-phet commented on #872
I can get the analytics through vimeo for primer views. @mattpen how would I get Google analytics for a URL like this? https://phet.colorado.edu/services/download-servlet?filename=%2Fteachers-guide%2Fbuild-an-atom-html-guide.pdf

[2017-06-29 15:16] mattpen commented on #872
@oliver-phet - I don't believe we are tracking hits to static files (non-HTML pages) in Google Analytics.  We could set something up for the future, using an approach [like this](http://www.ybo-interactive.com/blog/2008/05/29/track-non-html-files-with-google-analytics/), but for know the only way we can find these numbers is by analyzing the access logs for the website.

I can write a script to sc

[2017-06-29 16:46] ariel-phet commented on #874
Unassigning myself, thanks for the work @mattpen!

[2017-06-29 16:51] arouinfar commented on #873
Spoke with @amanda-phet and I will review activities on Mondays, and she'll do Thursdays. Closing.

[2017-06-29 16:51] #873 closed

[2017-06-29 16:58] oliver-phet commented on #872
To discuss at dev meeting.

[2017-06-29 18:50] mattpen commented on #872
I will write a script to get historic data for the past year (since phet-server went live).  I'll open a separate issue in the website repo to track download clicks in GA moving forward.

[2017-06-29 18:52] mattpen commented on #872
The GA tracking will be implemented as part of phetsims/website#621

[2017-06-29 20:37] emily-phet commented on #874
@mattpen - this looks great! Can you please create the pdf version, and add the link (the one you mentioned above sounds perfect). Also, can you add a link at the top that reads "Return to survey". I'm not sure yet what the survey link will be...so this will need to be a placeholder for now.

[2017-06-30 03:48] samreid opened #875 "Check on repository licenses"
From https://github.com/phetsims/circuit-construction-kit-common/issues/383

6/29/17 dev meeting notes:

• circuit-construction-kit-common, inverse-square-law-common and shred should all be GPL
• why can't everything be MIT?
• if everything can't be MIT, why not make all PhET-specific common code GPL, and use MIT only for common code (and dependencies) that is useful outside of PhET?

[2017-06-30 03:48] samreid commented on #875
@kathy-phet replied:

[2017-06-30 03:57] samreid commented on #875
Based on @kathy-phet's remarks, it seems we should license our repositories like so:

1. Sun and Vibe and their dependencies (including but not limited to scenery, kite, dot, chipper, phet-core) should be MIT
2. All other sim repos and sim dependencies (like shred or circuit-construction-kit-common) should be GPL
3. PhET-iO repos are custom license

Aqua and phetmarks depend on simulations so that

[2017-06-30 16:02] phet-steele commented on #871
@ariel-phet said (in person) that it would be a good idea to create a QA outlook so deadlines/priorities could be planned, without conflict, by all members of the team. Not sure that github is the best place for this. A calendar might be better.

Not going to do this.

[2017-07-03 22:04] emily-phet commented on #874
@mattpen - Not sure when you're working this week, but if you could give me a heads up when you'll be able to get to this, that would be helpful for me. Thanks!

[2017-07-05 16:15] mattpen commented on #874
@emily-phet - I can work on this today.  Just let me know when you have the link and I can post it as well.

[2017-07-05 17:00] mattpen commented on #874
@emily-phet - I added the link and the PDF document to the main site, available at the links above.  Right now the link just returns to the consent form.  It should be easy to add the link once you have it.

[2017-07-06 18:40] mattpen commented on #872
@ariel-phet According to the apache logs (with bot access filtered out), here are the statistics for teacher-guide access:

- how large is usage?
    - Over 16k total requests for teachers guides in the past year.
    - Average of 112 requests per guide for the past year, varies between 1 and 3500 requests
- is it growing?
    - These are the total requests per month.
![image](https://user-images.

[2017-07-06 18:41] mattpen commented on #872
@ariel-phet - Does the above data answer the questions?  Do you need anything else?

[2017-07-06 18:56] oliver-phet commented on #872
I think that's all we need on your end @mattpen, thanks. I might use your data to compare it with primer views.

[2017-07-10 16:30] amanda-phet opened #876 "New screenshot for Plinko"
We need a new screenshot for Plinko now that the minimum number of rows is 1. All settings should be identical.

[2017-07-10 18:12] phet-steele commented on #876
Looking at [responsible-dev.md](https://github.com/phetsims/phet-info/blob/master/sim-info/responsible_dev.md), @pixelzoom would you mind doing a release of plinko-probability with this new screenshot? The screenshot is both on master and 1.1, but I'm sure a quick maintenance release off 1.1 would be fine (with no testing).

[2017-07-10 18:18] pixelzoom commented on #876
For future changes like this, the issue should live in plinks-probability.

[2017-07-10 18:21] pixelzoom commented on #876
Moving this issue to https://github.com/phetsims/plinko-probability/issues/102.

[2017-07-10 18:21] #876 closed

[2017-07-12 19:54] oliver-phet commented on #872
I compared the primer plays and teacher guide downloads (for those sims that had data for both primer and guide). It looks like, on average, the primers are getting more 'plays' than guides are 'downloaded' (roughly 25% more plays than downloads) over the same 13-month period .

It is difficult to parse out the growth of primer plays and guide downloads since use is cyclical and new primers contri

[2017-07-13 17:07] ariel-phet commented on #875
@samreid can you give me a WAG on how much time this would take?

[2017-07-13 17:11] samreid commented on #875
I guess an hour or so would be sufficient to scan through everything and update it.

[2017-07-17 18:55] pixelzoom commented on #862
The animated GIF in  phetsims/scenery#619 (comment)  still crashed my Safari.
But the animated GIF in https://github.com/phetsims/molecule-polarity/issues/56 does not.
????

[2017-07-19 15:56] emily-phet commented on #874
@mattpen Thanks, everything looks great.

Here's the survey link: https://cuboulder.qualtrics.com/jfe/form/SV_2rjPNaEnZ1TTEj3

Please let me know when this is up.

[2017-07-19 16:56] ariel-phet commented on #875
@samreid an hour seems reasonable to do. I would say when you feel like a somewhat more "brainless" task, just take this on at your convenience. Marking medium since it will be quick. Let's say sometime in the next month.

[2017-07-19 18:16] mattpen commented on #874
@emily-phet - The link is up now.  It's not working in the PDF, although it looks like that is intended for the "printable format" link.  Should I remove the return to survey link from the PDF? Leave it as is? Or invest some time into getting it to work?

[2017-07-19 19:58] jessegreenberg opened #877 "Create a spot account for @mbarlow12"
It would be great if @mbarlow12 could deploy dev versions.  This issue will track progress for setting up an account on spot.

We sent OIT a request to do this on 7/19/17.

[2017-07-19 21:54] emily-phet commented on #874
@mattpen Great, thanks! If it's easy to remove the "return to survey" part in the pdf, go ahead. If it's difficult, just leave it in...personally I didn't expect it to work since I was landing on a pdf version and it doesn't look like an active link. Otherwise, we're all set, thanks!

[2017-07-19 22:21] mattpen commented on #874
@emily-phet - Thanks, I removed the link from the pdf and republished it.

[2017-07-19 22:21] #874 closed

[2017-07-20 16:09] jessegreenberg commented on #877
Spot account was created, OIT help number was forwarded to @mbarlow12 and he will contact to set up a password.

[2017-07-24 15:51] samreid commented on #875
I got a list of all repos here:

https://api.github.com/orgs/phetsims/repos

[2017-07-24 16:04] samreid commented on #875
Actually:
https://api.github.com/orgs/phetsims/repos?per_page=100&page=1
https://api.github.com/orgs/phetsims/repos?per_page=100&page=2

[2017-07-24 16:31] samreid commented on #875
I pasted those into a file then ran this;

[code]

Then I cloned 127 repos.

[2017-07-24 16:42] samreid commented on #875
Using this code:

[code]

I generated a list of all our licenses, coming in next comment.

[2017-07-24 16:42] samreid commented on #875
Here are all the licenses: I'll put an X by the ones that look sketchy:

[code]

[2017-07-24 16:58] samreid commented on #875
I marked some potential issues, but I also noticed that some are MIT (MIT) and some are MIT.  We should unify all of these, and make sure GPL are all same version too.

[2017-07-24 17:21] samreid commented on #875
`The MIT License (MIT)` and `MIT License` have the same text (I compared tambo and sun).

[2017-07-24 17:34] samreid opened #878 "Does this repo need a license?"
From https://github.com/phetsims/tasks/issues/875

[2017-07-24 17:42] samreid commented on #878
Scheduled for developer meeting to decide on license.

[2017-07-24 17:42] samreid commented on #875
I created issues and reassigned them.  I also noticed that the private repos got left off this list (even though github v3 api said all was default).

[2017-07-24 17:44] samreid commented on #875
HMMMM https://api.github.com/orgs/phetsims/repos?per_page=100&page=1&type=private is returning an empty array

[2017-07-24 17:44] samreid commented on #875
https://github.com/phetsims?utf8=%E2%9C%93&q=&type=private&language= lists 15 private repos

[2017-07-24 17:46] samreid commented on #875
phet-io
phet-io-wrapper-sonification
phet-io-wrappers
phet-io-website
website
phet-io-wrapper-lab-book
phet-io-wrapper-classroom-activity
phet-android-app
yotta
special-ops
installer-builder
phet-ios-app
beaker
exemplar
faraday

[2017-07-24 18:43] samreid commented on #875
After the above commits, the private repos seem OK, and all remaining work is tracked in other open issues.  I recommend to close this issue since all other work is tracked elsewhere.

[2017-07-24 18:43] #875 closed

[2017-07-26 20:28] pixelzoom commented on #878
Licensing is outside of my area.

[2017-07-26 20:31] ariel-phet commented on #878
@samreid we store no code here, so a license does not exactly seem particularly meaninful.

However, the repo is public, I would treat it like "common code" repos if I had to give it a license.

[2017-07-27 19:04] samreid commented on #878
@ariel-phet recommends MIT, I'll go for it.

[2017-08-01 05:02] samreid commented on #878
Done, closing.

[2017-08-01 05:02] #878 closed

[2017-08-01 20:09] arouinfar opened #879 "Atomic Pushers/Pullers for Coulomb's Law"
The Coulomb's Law sim will have an Atomic Scale screen, and if possible, we'd like to have a version of the pushers and pullers that appear to be made of atoms. While atomic pushers/pullers will be a bit whimsical, the goal here is to cue to the users that the sim is now at a very different scale.

@clmccutchan could you mock up what **one** of the figures would look like if they were to appear as

[2017-08-04 20:03] mbarlow12 commented on #877
I've received my updated PW from OIT. @jessegreenberg should we go over the deployment process sometime next week?

[2017-08-04 21:26] jessegreenberg commented on #877
@mbarlow12 sounds great.  Since account has been set up, closing this issue and we can test it out on Friday.

[2017-08-04 21:26] #877 closed

[2017-08-05 11:54] emily-phet opened #880 "Build an Atom - Adapted "Teacher Tips" style Document Needed for Grant Proposal - by August 11th"
I need a three-page description of a design concept for an accessible version of Build an Atom, in the style of a teacher tips document (screenshots, with bubbles pointing/indicating a specific feature, with some additional descriptive text).

I will also need a slightly edited version of Build an Atom's existing teacher tips document.

This will need to be a collaboration between someone on the t

[2017-08-07 01:38] terracoda commented on #880
@emily-phet, I found a copy of the current Teacher Tips for Build an Atom, but I have not found an original design file that can be edited. Your outline is great, but I will likely need help with a some of the visuals that do not yet exist.

[2017-08-07 03:32] ariel-phet commented on #880
@arouinfar do you mind helping with this? Obviously it is a short timeline, so high priority