[2014-06-03 03:52] ariel-phet opened #1 "Installing Chrome-Beta on Socrates"
@bryo5363, @jonathanolson requested that we have a dedicated machine for testing Chrome-Beta, please install Chrome Beta on Socrates (the Asus Win 8 laptop).

You will probably have to uninstall the regular chrome from the machine before putting on the beta version.

https://www.google.com/intl/en/chrome/browser/beta.html

[2014-06-03 22:45] jonathanolson opened #2 "Chrome Beta sim testing for sims on our website"
We should test for bugs like https://github.com/phetsims/scenery/issues/224, which should immediately be apparent.

Can someone run through Beer's Law Lab and a few other sims to see if this occurs? Please first make sure the Beta is as up-to-date as possible.

It would also be nice to schedule this as a once-a-month quick test, so we don't get caught by breaking changes in the non-beta version.

[2014-06-04 22:10] #1 closed, assigned to bryo5363

[2014-06-04 22:12] ariel-phet opened #3 "Install VMware on Testing Macbook"
Hey @bryo5363 please install VMware on the testing macbook so that we can also run windows on that machine.

[2014-06-12 00:46] ariel-phet opened #4 "[Scenery] 0.2 Regression Testing"
Hey @jonathanolson, can you describe in this issue exactly what sort of testing you want for Scenery, so then I can assign it to our testers?

[2014-06-12 02:51] ariel-phet opened #5 "Gooru Collaboration assitance for Trish"
Hey @phet-steele, please track your progress in this issue

Ariel has approved you helping me get the information Gooru needs into a spreadsheet. (they don’t crawl our data). Getting this done quickly and correctly is imperative. I shared the collaboration doc with you.

https://docs.google.com/document/d/1HFB4UQs-Knczdpxlpe5y1AY5H8uHlhdzbs71BntxDpw/edit

Also I shared the spreadsheet.

https://do

[2014-06-16 16:35] #3 closed, assigned to bryo5363

[2014-06-16 17:24] ariel-phet opened #6 "Assisting with office rearrangment"
Hey @bryo5363 please help Yuen Ying with office rearrangement tasks. Feel free to have @orejolaphet assist as well as needed.

[2014-06-16 17:32] ariel-phet opened #7 "Testing for redeploy of Ohm's Law (1.2.0-rc.1) and Under Pressure (1.1.0-rc.1)"
Hey @bryo5363, @orejolaphet, @phet-steele

@jbphet has republished Ohm's Law and Under Pressure and they are now available for testing. Please test these sims once Beer's law testing is complete as well as Scenery regression testing.

As usual, track issues in the individual repositories for each of these sims.

Testing matrices and links here:

Ohm's Law
https://docs.google.com/spreadsheet/ccc?ke

[2014-06-16 17:34] ariel-phet opened #8 "Update Phettest with all latest repositories"
Hey @orejolaphet, if you haven't done so, please update phettest with all current repositories (except /tasks)

[2014-06-16 18:13] ariel-phet opened #9 "Create ability to remotely "pull all" repositories on Phettest"
Hey @orejolaphet, we discussed a long time to have the ability to remotely "pull all" repositories on phettest.This is a "wishlist item" but in case you have some downtime at some point we should look into it again.

[2014-06-16 18:22] emily-phet opened #10 "Checking Faucet Function on HTML5 pH Scale and Beers Law Lab"
I was playing with PhET sims on the new Surface Pro 3 (using Internet Explorer) at the mall this weekend, and for either pH Scale, or Beers Law Lab (I can't remember which), tapping on the faucets did not seem to get them work - dragging them did work, though. Can someone check if tapping works on these sim's faucets on IE?

[2014-06-16 20:39] orejolaphet opened #11 "Create Google Doc for "Updating Phettest""
Create "how to" Google Doc for issue #8

[2014-06-16 21:00] #10 closed, assigned to nobody

[2014-06-17 00:10] ghost opened #12 "Testing of Beer's Law Lab 1.2.0-rc.3"
Thanks for all the great bug catches @bryo5363 and @orejolaphet. Hopefully this latest version will have everything fixed!

https://docs.google.com/spreadsheet/ccc?key=0AnwuYps_JQNtdFYwSGFSakszVHdFbGRQWTdFSUVQX3c&usp=drive_web#gid=7

[2014-06-17 00:13] ariel-phet opened #13 "Testing for Beer's Law Lab 1.2.0-rc.3"
Hey @orejolaphet and @bryo5363 thanks for all the great bug catches so far.

This latest version should hopefully have everything fixed:

https://docs.google.com/spreadsheet/ccc?key=0AnwuYps_JQNtdFYwSGFSakszVHdFbGRQWTdFSUVQX3c&usp=drive_web#gid=7

[2014-06-17 00:14] #12 closed, assigned to nobody

[2014-06-17 00:19] ariel-phet opened #14 "Testing Gravity Force Lab 1.1.0-rc.1"
Test matrix and links here:

https://docs.google.com/spreadsheet/ccc?key=0AnwuYps_JQNtdHVHQ3hXcFVaTnJfZk9DcWVoa1h6eFE&usp=drive_web#gid=5

[2014-06-17 02:56] ariel-phet opened #15 "Dev testing For Graphing Lines 1.0.0-dev.9"
Hey @phet-steele

@pixelzoom  says Graphing lines is ready for dev testing (so no test matrix yet). As usual report all bugs in the graphing lines repository. No need for heavy cross-platform testing yet. Probably one browser on windows, one browser on mac, and some test on iPad.

You can update your progress by checking the boxes below
- [x] - testing on windows complete
- [x] - testing on mac co

[2014-06-17 16:08] ariel-phet opened #16 "Dev testing for Balancing Chemical Equations 1.0.0-dev.2"
Hey @bryo5363 and @orejolaphet, the first dev version of Balancing Chemical Equations is ready for dev testing (as in no full test matrix yet). @pixelzoom  has expressed that testing this sim (as noted by the label) is a very high priority since the sim is being worked on by a third party and we want to keep the ball rolling.

Please test the sim thoroughly on Mac, Windows, and iPad (one browser o

[2014-06-18 05:41] phetsims opened #17 "Student Worker "Getting Started" Google Doc"
Hey @orejolaphet can you start a "PhET Student Worker Intro" google doc? Maybe brainstorm with @bryo5363 the things you have to know...getting a gmail account, getting shared on google docs, getting a github account, maybe paste in some "how to make a good bug report" instructions. Basically a checklist of good things to know as a student worker.

Not a super high priority, but would be nice to ha

[2014-06-18 17:45] bryo5363 opened #18 "Finish testing for Fraction Matcher latest version"
http://www.colorado.edu/physics/phet/dev/html/fraction-matcher/1.0.0-dev.22/fraction-matcher_en.html

[2014-06-18 20:02] #6 closed, assigned to bryo5363

[2014-06-18 22:05] #16 closed, assigned to bryo5363

[2014-06-19 13:25] #13 closed, assigned to orejolaphet

[2014-06-19 19:20] #18 closed, assigned to bryo5363

[2014-06-19 21:06] gruneich opened #19 "Screenshots with iPad mini and iPad 3 or 3 with an HTML5 sim"
Please take a screenshot with both devices in landscape mode with a sim open in safari and email it to me.

Danke!

[2014-06-20 14:47] #19 closed, assigned to orejolaphet

[2014-06-20 21:10] samreid opened #20 "Release Candidate Testing for Fraction Matcher (Full Test Matrix Testing)"
The Fraction Matcher release candidate has been published here:
http://www.colorado.edu/physics/phet/dev/html/fraction-matcher/1.0.0-rc.1/fraction-matcher_en.html

I created a test matrix here:
https://docs.google.com/spreadsheet/ccc?key=0AnwuYps_JQNtdFNjTUtaOXlVeHdwaGJEdDItTnJGZ1E&usp=drive_web#gid=5

Here's the issue in the Fraction Matcher repo for tracking the status of the sim.
https://github

[2014-06-22 17:02] ariel-phet opened #21 "Redeploy testing for Balloons and Static Electricity"
@oliver-phet please assign to one of the student workers at your convenience

https://docs.google.com/spreadsheet/ccc?key=0AnwuYps_JQNtdEtOVG9PYVpTdEZIT3B5WVhnWHVSTWc&usp=sharing#gid=4

[2014-06-22 17:04] ariel-phet opened #22 "Redeploy testing for Acid Base Solutions 1.1.0-rc.1"
@bryo5363 and @orejolaphet here is another one for redeploy testing

https://docs.google.com/spreadsheet/ccc?key=0AkTcamSqEJ6EdENBaUdlQ2pQN3pVbEo5MThvQlJYekE#gid=5

[2014-06-23 16:32] pixelzoom opened #23 "functional testing of Balancing Chemical Equations 1.0.0-dev.3"
@bryo5363 and @orejolaphet:

A new dev version of Balancing Chemical Equations is ready for functional testing. Testing this sim is a very high priority since the sim is being worked on by a third party and we want to keep the ball rolling.

Please test the sim thoroughly on Mac, Windows, and iPad. One browser on each should be fine for your thorough test, but it would be good to do a quick test o

[2014-06-25 03:32] jonathanolson opened #24 "[joist] test "Full Screen" feature"
Testing candidates are at http://www.colorado.edu/physics/phet/dev/olsonjb/scenery-0.2-unoptimized-tests-4/.

Please pick a sim or two and test this feature out on all platforms. A summary of the expected behavior:

1. There is a "Full Screen" item under the PhET Menu (lower-right).
2. There is a check mark next to the "Full Screen" item when the sim is full-screen __as a result of pressing our "F

[2014-06-25 03:39] jonathanolson opened #25 "[joist] test "Screenshot" feature"
Testing candidates are at http://www.colorado.edu/physics/phet/dev/olsonjb/scenery-0.2-unoptimized-tests-4/.

Please pick a sim or two and test the "Screenshot" feature here across all platforms. Expected behavior:

1. Pressing the "Screenshot" item in the PhET Menu should trigger either a download of a screenshot or open it in a new tab. If it opens in a new tab, it should be possible to download

[2014-06-25 04:15] samreid opened #26 "[fraction-matcher] Test 1.0.0-rc.2"
I have published RC2 for Fraction Matcher.  Please see the parent issue for details:
https://github.com/phetsims/fraction-matcher/issues/68

Please verify that:
https://github.com/phetsims/fraction-matcher/issues/66
and
https://github.com/phetsims/fraction-matcher/issues/67
(the issues discovered in rc1) are resolved.

Note that only 2 lines of code were added to address the discovered issues, so

[2014-06-25 04:32] #20 closed, assigned to samreid

[2014-06-26 17:19] #23 closed, assigned to orejolaphet

[2014-06-27 16:37] emily-phet opened #27 "Checking Screencast Instructions"
Sam has created a screencast introduction for using PhET HTML resources. He would like someone to follow the instructions on their own computer and make sure they are clear.

Here's his comments on this:
I integrated the feedback so far and recorded another take here:
https://docs.google.com/file/d/0B3jjQX0hCQVcY0JRVXNaUlRFSmc/edit

If it still says "this video is not yet processed" or "no preview

[2014-06-27 17:13] #7 closed, assigned to jbphet

[2014-06-30 16:44] ariel-phet opened #28 "Install and Test iOS8 Beta on iPad Mini"
Hey @bryo5363, please install iOS 8 Beta on our iPad Mini that until now has had iOS6 on it. Now that iOS 8 is coming out, I think we do not need to reserve a testing device for IOS6.

You might need account details to complete this task (ask @orejolaphet if he has them available). If you cannot get them from Oliver O. let Ariel know by email and he will get you the relevant information.

Once ins

[2014-07-01 17:48] #28 closed, assigned to ariel-phet

[2014-07-02 16:30] emily-phet opened #29 "Updating KP's CV - July 3rd"
On July 3rd, KP will be asking for help updating the presentations section of her CV. She will give specific instructions on that day.

[2014-07-03 18:50] #8 closed, assigned to ariel-phet

[2014-07-06 02:12] #4 closed, assigned to jonathanolson

[2014-07-07 21:09] pixelzoom opened #30 "Testing for Graphing Lines 1.0.0-rc.1"
@bryo5363 and @orejolaphet, here's the first release candidate of Graphing Lines. High priority, this sim has a July 31 deadline.

Test matrix is here:
https://docs.google.com/spreadsheet/ccc?key=0AkTcamSqEJ6EdGswLXhuTzZTSGJPOHFIV2pLYXA3YXc&usp=drive_web#gid=2

[2014-07-07 22:33] jbphet opened #31 "Functional testing for Arithmetic, version 1.0.0-dev.4"
The Arithmetic sim is in a state where it would benefit from some testing by people other than me.  Please take a look at the currently open issues before initiating any testing so that we don't end up with duplicate issues.

Link to version that should be tested: http://www.colorado.edu/physics/phet/dev/html/arithmetic/1.0.0-dev.4/arithmetic_en.html

Link to issues:
https://github.com/phetsims/ar

[2014-07-08 03:48] #15 closed, assigned to pixelzoom

[2014-07-09 14:27] ycarpenterphet opened #32 "Prep USB drives for upcoming conference (ICCE)"
Can you get 15 of the numbered PhET USB drives cleared and pre-loaded with the latest versions of the full website installer for windows AND the installer for mac?

It would be easiest for us to keep track of them if you could find 15 that are sequentially numbered, but no worries if those aren't currently available.

We need them ready to go on Friday, Jul 11.

Thanks!

[2014-07-09 20:41] #14 closed, assigned to jbphet

[2014-07-10 06:22] #32 closed, assigned to ycarpenterphet

[2014-07-11 15:20] samreid opened #33 "[fraction-matcher] Test 1.0.0-rc.3"
A new release candidate has been published at:
http://www.colorado.edu/physics/phet/dev/html/fraction-matcher/1.0.0-rc.3/fraction-matcher_en.html

Since common code libraries had changed (particularly one important change in vegas), the sim should be thoroughly retested.

I created a new test matrix here:
https://docs.google.com/spreadsheet/ccc?key=0AnwuYps_JQNtdFNjTUtaOXlVeHdwaGJEdDItTnJGZ1E&usp=

[2014-07-11 15:45] pixelzoom opened #34 "Test Mac OS X 10.10-beta (Yosemite)"
This is a similar need to iOS8-beta testing, https://github.com/phetsims/tasks/issues/28. It would be advantageous to find problems and report to Apple before 10.10 is generally released.  I'm not sure who should do this, or what hardware should be used. Assigning to @oliver-phet.

[2014-07-11 22:16] samreid opened #35 "[fluid-pressure-and-flow] Test 1.0.0-dev.4"
The latest version should be tested in a complete testing matrix to see what work remains for @notsiddhartha and his team.  I published the latest version here:
http://www.colorado.edu/physics/phet/dev/html/fluid-pressure-and-flow/1.0.0-dev.4/fluid-pressure-and-flow_en.html

The testing matrix is here:
https://docs.google.com/spreadsheet/ccc?key=0AnjjQX0hCQVcdFdoUXg0VzZadnBQS0N1UzNiT2pZLXc&usp=dri

[2014-07-11 22:41] samreid opened #36 "[gravity-and-orbits] test 1.0.0-dev.17"
I published http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.17/gravity-and-orbits_en.html for testing.  Here is the test matrix:
https://docs.google.com/spreadsheet/ccc?key=0AnjjQX0hCQVcdDhmX0FLQ01ocWt4UGUzbkVENkRXZ2c&usp=drive_web#gid=7

Please test by comparing to the Java version.  Getting this tested soon will help us determine whether any work remains for MLL.

Than

[2014-07-14 15:53] #26 closed, assigned to samreid

[2014-07-14 19:28] phet-steele opened #37 "Coding Documents for NGSS Workshop"
Code Dallas documents for referencing. To be done before July 17th workshop meeting.

[2014-07-16 19:23] bryo5363 opened #38 "Helping Kathy with a poster for PERC"

[2014-07-16 21:01] #30 closed, assigned to pixelzoom

[2014-07-16 21:05] pixelzoom opened #39 "Testing for Graphing Lines 1.0.0-rc.2"
@bryo5363, @orejolaphet, @phet-steele: Here's the 2nd release candidate of Graphing Lines. High priority, this sim has a July 31 deadline.

Test matrix is here:
https://docs.google.com/spreadsheet/ccc?key=0AkTcamSqEJ6EdGswLXhuTzZTSGJPOHFIV2pLYXA3YXc&usp=drive_web#gid=5

You can focus on the issues that were resolved for 1.0.0-rc.1. But because common-code issues were fixed for 1.0.0-rc.1, I had to

[2014-07-17 04:23] #37 closed, assigned to phet-steele

[2014-07-17 19:55] samreid opened #40 "Test Energy Skate Park: Basics 1.0.0-rc.5"
1.0.0-rc.5 is ready for release candidate testing. Here is the sim:
http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.0.0-rc.5/energy-skate-park-basics_en.html

Here is the test matrix:
https://docs.google.com/spreadsheet/ccc?key=0AnjjQX0hCQVcdEI5MUpRV2tFT2JYZmVma2ZHb2xBdnc&usp=drive_web#gid=2

To the testers: please verify the GitHub open issues marked as "ready-for-review"

[2014-07-18 22:23] #39 closed, assigned to pixelzoom

[2014-07-18 23:26] #33 closed, assigned to samreid

[2014-07-23 20:26] pixelzoom opened #41 "Testing for Balancing Chemical Equations 1.0.0-dev.14"
@bryo5363, @orejolaphet and @phet-steele, please test this development version:

http://www.colorado.edu/physics/phet/dev/html/balancing-chemical-equations/1.0.0-dev.14/balancing-chemical-equations_en.html

_This task needs to be completed in the next 48 hours._ This sim has a publication deadline of August 1, so it's critical that we start release-candidate testing before the end of this week.  I

[2014-07-24 20:57] samreid opened #42 "[fluid-pressure-and-flow] Test 1.0.0-dev.5"
I published dev.5 for Fluid Pressure and Flow: Water Tower here:
http://www.colorado.edu/physics/phet/dev/html/fluid-pressure-and-flow/1.0.0-dev.5/fluid-pressure-and-flow_en.html

Here is the new test matrix:
https://docs.google.com/spreadsheet/ccc?key=0AnjjQX0hCQVcdFdoUXg0VzZadnBQS0N1UzNiT2pZLXc&usp=drive_web#gid=8

[2014-07-24 20:58] #35 closed, assigned to bryo5363

[2014-07-24 21:27] #41 closed, assigned to bryo5363

[2014-07-25 04:51] pixelzoom opened #43 "Testing for Balancing Chemical Equations 1.0.0-rc.1"
This sim has a publication deadline of 8/1/2014, so high priority.

Since this is the first release candidate, 2 tests (by different testers) on each platform is highly desirable.

Here's the test matrix:

https://docs.google.com/spreadsheet/ccc?key=0AkTcamSqEJ6EdFBoWjJjRjIxS2tLLUJWMzZldTN3ZlE&usp=drive_web#gid=2

[2014-07-25 19:22] samreid opened #44 "[energy-skate-park-basics] Test 1.0.0-rc.9"
I published the release candidate here
http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.0.0-rc.9/energy-skate-park-basics_en.html

The test matrix is here:
https://docs.google.com/spreadsheet/ccc?key=0AnjjQX0hCQVcdEI5MUpRV2tFT2JYZmVma2ZHb2xBdnc&usp=drive_web#gid=3

Please let me know what you discover, or if the sim is ready for publication.  See the parent issue here: http

[2014-07-25 22:14] #40 closed, assigned to nobody

[2014-07-28 15:41] #38 closed, assigned to bryo5363

[2014-07-29 20:21] #43 closed, assigned to pixelzoom

[2014-07-31 15:26] #29 closed, assigned to kathy-phet

[2014-08-01 14:28] #22 closed, assigned to ariel-phet

[2014-08-01 14:53] #36 closed, assigned to bryo5363

[2014-08-01 14:55] samreid opened #45 "[gravity-and-orbits] test 1.0.0-dev.18"
I published dev.18 here:
http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.18/gravity-and-orbits_en.html

I added it as a new tab in the testing matrix:
https://docs.google.com/spreadsheet/ccc?key=0AnjjQX0hCQVcdDhmX0FLQ01ocWt4UGUzbkVENkRXZ2c&usp=drive_web#gid=8

Regarding priority, @oliver-phet said this for dev.17, I'm assuming the same rule applies to dev.18:

[2014-08-01 17:21] #44 closed, assigned to samreid

[2014-08-04 03:44] #21 closed, assigned to ariel-phet

[2014-08-05 16:16] #31 closed, assigned to jbphet

[2014-08-05 16:20] #42 closed, assigned to samreid

[2014-08-05 16:22] ariel-phet opened #46 "[fluid-pressure-and-flow] Test 1.0.0-dev.7"
Hey @bryo5363 and @orejolaphet

@samreid published a new version of the water tower screen of the FPAF sim.

http://www.colorado.edu/physics/phet/dev/html/fluid-pressure-and-flow/1.0.0-dev.7/fluid-pressure-and-flow_en.html

test matrix:
https://docs.google.com/spreadsheet/ccc?key=0AnjjQX0hCQVcdFdoUXg0VzZadnBQS0N1UzNiT2pZLXc&usp=drive_web#gid=9

@samreid says:
If there are issues fixed by Actualcon

[2014-08-06 16:06] samreid opened #47 "[fluid-pressure-and-flow] Test 1.0.0-dev.8"
Hey @bryo5363 and @orejolaphet

I published a new version of the water tower screen of the FPAF sim.

http://www.colorado.edu/physics/phet/dev/html/fluid-pressure-and-flow/1.0.0-dev.8/fluid-pressure-and-flow_en.html

test matrix:
https://docs.google.com/spreadsheet/ccc?key=0AnjjQX0hCQVcdFdoUXg0VzZadnBQS0N1UzNiT2pZLXc

If there are issues fixed by Actualconcepts and reassigned to PhET
testers for v

[2014-08-06 16:07] #46 closed, assigned to bryo5363

[2014-08-06 18:18] jbphet opened #48 "[arithmetic] Test to see if issues resolved on version 1.0.0-dev.6"
Several issues have recently been addressed by MLL, and I could use some help in verifying them.  Here are the issues that need testing:
https://github.com/phetsims/arithmetic/issues/48
https://github.com/phetsims/arithmetic/issues/47
https://github.com/phetsims/arithmetic/issues/45
https://github.com/phetsims/arithmetic/issues/43
https://github.com/phetsims/arithmetic/issues/41
https://github.com

[2014-08-06 22:42] ariel-phet opened #49 "PhET App Preliminary Wireframes"
@ariel-phet would like @TGIFlowen to start working on some very preliminary and rough wireframes for the PhET App.

[2014-08-06 22:43] ariel-phet opened #50 "Head Shot for Color Vision"
@TGIFlowen please send me the latest .png for this headshot

[2014-08-06 22:51] ariel-phet opened #51 "Arithmetic Level Selection Screen Icons"
We would like to differentiate the level selection screen icons on the factor, multiply, and divide screens. One idea was to have the phetgirl juggling various colored squares for the divide screen and an increasing number number of pieces as the levels go up in difficulty.

[2014-08-07 02:14] samreid opened #52 "[energy-skate-park-basics] Test 1.0.0-rc.10"
Energy Skate Park: Basics RC.10 is ready for testing:
http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.0.0-rc.10/energy-skate-park-basics_en.html

Here is the test matrix:
https://docs.google.com/spreadsheet/ccc?key=0AnjjQX0hCQVcdEI5MUpRV2tFT2JYZmVma2ZHb2xBdnc

Please verify all open issues to see if they are fixed in this version.
https://github.com/phetsims/energy-skate-p

[2014-08-07 05:42] ariel-phet opened #53 "Computer For Jesse Greenberg"
Hey @oliver-phet, @samreid said that our new student developer has a pretty ragged old windows machine that he is using (it overheats). I was thinking Noah P's old computer (XPS) might be a good loaner to him for awhile, and if things are really going well with him we could consider buying a machine for him at some point.

Perhaps we could have OO or Bry-Y wipe that computer, reinstall windows and

[2014-08-08 18:05] samreid opened #54 "[fluid-pressure-and-flow] Test 1.0.0-dev.9"
@notsiddhartha completed a new version and I published it and created a new test matrix (including a link) for it here:
https://docs.google.com/spreadsheet/ccc?key=0AnjjQX0hCQVcdFdoUXg0VzZadnBQS0N1UzNiT2pZLXc

Please test that the known issues are resolved and see if any new issues have arisen.  Assigning to @ariel-phet for prioritiziation.

[2014-08-11 06:12] #47 closed, assigned to samreid

[2014-08-11 06:14] #11 closed, assigned to orejolaphet

[2014-08-12 17:53] samreid opened #55 "[energy-skate-park-basics] Test 1.0.0-rc.13"
Test matrix is here, link is in the spreadsheet:
https://docs.google.com/spreadsheet/ccc?key=0AnjjQX0hCQVcdEI5MUpRV2tFT2JYZmVma2ZHb2xBdnc

Assigned to @ariel-phet for prioritization and assignment.

[2014-08-12 18:24] samreid opened #56 "[gravity-and-orbits] test 1.0.0-dev.19"
I published a test matrix here (link for dev.19 is in the matrix):
https://docs.google.com/spreadsheet/ccc?key=0AnjjQX0hCQVcdDhmX0FLQ01ocWt4UGUzbkVENkRXZ2c

In additional to the normal testing, please review each issue marked as "ready-for-review" here:
https://github.com/phetsims/gravity-and-orbits/issues

Assigned to @ariel-phet for prioritization and reassignment.

[2014-08-12 18:52] samreid opened #57 "[fluid-pressure-and-flow] Test 1.0.0-dev.10"
Testing matrix is here (link is inside test matrix):
https://docs.google.com/spreadsheet/ccc?key=0AnjjQX0hCQVcdFdoUXg0VzZadnBQS0N1UzNiT2pZLXc

Please review existing issues marked as "ready for review" and comment in the issues:
https://github.com/phetsims/fluid-pressure-and-flow/issues/

When you find a problem in version dev.10 that already has an issue, please comment in the issue that the prob

[2014-08-12 19:12] #54 closed, assigned to bryo5363

[2014-08-12 19:13] #52 closed, assigned to bryo5363

[2014-08-12 19:13] #53 closed, assigned to oliver-phet

[2014-08-12 19:25] #48 closed, assigned to jbphet

[2014-08-12 19:28] #45 closed, assigned to nobody

[2014-08-13 02:52] aaronsamuel137 opened #58 "[color-vision] Test 1.0.0-dev.12"
Testing matrix is here (link is inside test matrix):
https://docs.google.com/spreadsheet/ccc?key=0AqDLM6bVhh4OdGVOZ1ZyMnc4R3hoSnNjbDI0ZEE4eEE#gid=5

Feel free to create issues for any performance problems in addition to bugs.

Assigned to @ariel-phet for prioritization and reassignment.

[2014-08-13 16:24] #58 closed, assigned to ariel-phet

[2014-08-13 16:42] #27 closed, assigned to orejolaphet

[2014-08-13 16:58] aaronsamuel137 opened #59 "[color-vision] Test 1.0.0-rc.1"
Testing matrix is here (link is inside test matrix):
https://docs.google.com/spreadsheet/ccc?key=0AqDLM6bVhh4OdGVOZ1ZyMnc4R3hoSnNjbDI0ZEE4eEE#gid=5

Feel free to create issues for any performance problems in addition to bugs.

Assigned to @ariel-phet for prioritization and reassignment.

[2014-08-13 23:45] ariel-phet opened #60 "Get Interview Room Keys for Student Testers"
Hey @oliver-phet it would be good to get copies of the interview room keys for the student testers as well as share them on the interview room schedule document, so they could make sure they do not use that room when an interview is scheduled.

[2014-08-14 17:09] #60 closed, assigned to oliver-phet

[2014-08-14 20:16] samreid opened #61 "[fluid-pressure-and-flow] Test 1.0.0-dev.12"
I published Fluid Pressure and Flow with Actualconcepts' latest fixes, here is the updated testing matrix (with links):

https://docs.google.com/spreadsheet/ccc?key=0AnjjQX0hCQVcdFdoUXg0VzZadnBQS0N1UzNiT2pZLXc&usp=drive_web#gid=13

Assigned to @ariel-phet for prioritization and reassignment.

Testers: For bugs that have been identified in previous release candidates, comment in the issue about whe

[2014-08-15 15:48] #57 closed, assigned to orejolaphet

[2014-08-15 17:38] #55 closed, assigned to bryo5363

[2014-08-15 17:40] samreid opened #62 "[energy-skate-park-basics] Test 1.0.0-rc.14"
I published Energy Skate Park: Basics rc.14 with numerous fixes and changes.
https://docs.google.com/spreadsheet/ccc?key=0AnjjQX0hCQVcdEI5MUpRV2tFT2JYZmVma2ZHb2xBdnc&usp=drive_web#gid=6

Please review all of the issues marked as "ready for review" and comment on each one.

Assigned to @ariel-phet for prioritization and reassignment.

[2014-08-15 19:05] ariel-phet opened #63 "Transfer BG Illustrator Files to a Google Drive"
Hey @oliver-phet, I think it would be good to transfer all of Bryce's AI files to a google drive. Many people at PhET will need to pick up some of these projects, so it would be good to have a central depot for them.

Probably just put these on phethelp's google drive, and then share with anyone who does design work and all developers.

Additionally, it might be good to go ahead with creating the

[2014-08-15 19:22] samreid opened #64 "Backup GitHub data"
We have a large amount of important information in GitHub that is not backed up elsewhere.  Each PhET developer has a full copy of the repository code, but we may wish to back up the issues in each repository.  GitHub has a very good record of keeping our data safe and sound, but a backup might be nice "just in case".  Can anyone else think of anything else that needs to be backed up from GitHub?

[2014-08-15 20:37] ariel-phet opened #65 "Website Teacher Resources Tech Review"
Hey @aaronsamuel137,

As we mentioned, we are going to have you move forward with the tech review of some new website code that has been developed for highlighting teacher resources better.

Coordinate with @jonathanolson as needed, and please also feel free to contact Stephanie Chasteen as needed (I will send you her email address)

See the email copied below and while going through the bunch lis

[2014-08-15 21:21] #59 closed, assigned to arouinfar

[2014-08-19 16:31] #62 closed, assigned to nobody

[2014-08-19 16:32] #63 closed, assigned to oliver-phet

[2014-08-19 19:10] #61 closed, assigned to samreid

[2014-08-19 19:36] #56 closed, assigned to samreid

[2014-08-19 20:22] pixelzoom opened #66 "Test pH Scale 1.1.0-rc.1"
Please test release candidate 1.1.0-rc.1 of "pH Scale" and "pH Scale: Basics".

"pH Scale" requires a full test.
Test matrix: https://docs.google.com/spreadsheet/ccc?key=0AkTcamSqEJ6EdE54WTdGS3NSY2RfR3AzQ2lGaGxsN3c#gid=4

"pH Scale: Basics" requires only a spot test. It is identical to the first screen of "pH Scale", with the only difference being that the beaker does not automatically fill with s

[2014-08-22 15:29] jbphet opened #67 "Test Friction 1.1.0-rc.1"
We are rolling a new version of Friction to capture recent changes to the libraries that fix several issues.  There have also been a few minor bug fixes.  Please search Google docs for the matrix, which will have links to the version to test.

[2014-08-22 15:37] samreid opened #68 "[fluid-pressure-and-flow] Test Water Tower 1.0.0-dev.14"
Test matrix is here:
https://docs.google.com/spreadsheet/ccc?key=0AnjjQX0hCQVcdFdoUXg0VzZadnBQS0N1UzNiT2pZLXc&usp=drive_web#gid=14

Please test Water Tower only.  This version should be thoroughly tested to see if any more work is required of actualconcepts, and what else needs to be done before publication.  Please comment on open issues about whether they have been resolved.

Assigned to @ariel-

[2014-08-22 15:45] #66 closed, assigned to pixelzoom

[2014-08-22 23:55] ariel-phet opened #69 "Website Front Page Tweaks"
@TGIFlowen please aim to have the front page redesign tweaks (as described in the email I sent you) done by sometime week of Aug 25-29

[2014-08-26 20:00] #68 closed, assigned to samreid

[2014-08-26 22:41] samreid opened #70 "[john-travoltage] test 1.2.0-dev.1"
I published a dev version of John Travoltage here:
http://www.colorado.edu/physics/phet/dev/html/john-travoltage/1.2.0-dev.1/john-travoltage_en.html

This is for the "Spring 2014 Redeploy".  I fixed a number of minor issues (like https://github.com/phetsims/john-travoltage/issues/70 and https://github.com/phetsims/john-travoltage/issues/71 and https://github.com/phetsims/john-travoltage/issues/72)

[2014-08-26 23:55] samreid opened #71 "[energy-skate-park-basics] Test 1.0.0-dev.55"
Energy Skate Park: Basics is ready for dev testing.  Here's the link:
http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.0.0-dev.55/energy-skate-park-basics_en.html

Please test it on the following platforms:
- [x] Windows + Chrome
- [x] OS X + Safari
- [x] iPad iOS + Safari

For the issues marked as "ready for review", please read through the issue and test whether it is res

[2014-08-27 05:05] #50 closed, assigned to ariel-phet

[2014-08-27 21:13] aaronsamuel137 opened #72 "[color-vision] Test 1.0.0-rc.2"
Testing for color-vision 1.0.0-rc.2

Here's a link to the matrix: https://docs.google.com/spreadsheet/ccc?key=0AqDLM6bVhh4OdGVOZ1ZyMnc4R3hoSnNjbDI0ZEE4eEE&usp=drive_web#gid=7

Assigning to @ariel-phet for prioritization.

[2014-08-28 19:35] #70 closed, assigned to samreid

[2014-08-28 19:42] ariel-phet opened #73 "Test Java Version of Energy Forms and Changes"
@bryo5363 can you test the Java version of Energy Forms and Changes?

Original sim found here:

http://phet.colorado.edu/en/simulation/energy-forms-and-changes

We want to test the java version thoroughly to identify any bugs that are currently present since we are planning to port this sim to HTML5. It would be good to have this testing complete by mid-September.

Please report any issues in the

[2014-09-03 15:44] #71 closed, assigned to nobody

[2014-09-03 19:43] pixelzoom opened #74 "artwork for faucet"
Related to phetsims/scenery-phet#67 and phetsims/scenery-phet#70 ... We haven't been able to locate the Illustrator file(s) that corresponds to the images that are currently used in this sim.  So someone needs to either do a more extensive search, or redraw them.  If someone is assigned to redraw them, have them contact me for how the faucet needs to be divided up into image files.

[2014-09-03 22:21] ghost opened #75 "Wipe and reinstall OSX on Julia's old computer"
Julia's PhET mac can become another PhET testing machine. Let's wipe it and (try) to put 10.7/8/9 and maybe 10.10 beta if possible? I'm not sure of the hardware in this machine and what it will support, but having an array of OS versions seems best. Assigning to @orejolaphet @bryo5363

[2014-09-04 03:18] jonathanolson opened #76 "Wave on a String dev.14 testing"
Latest dev version (dev.14): http://www.colorado.edu/physics/phet/dev/html/wave-on-a-string/0.0.0-dev.14/wave-on-a-string_en.html

Please test out the sim fully on a few platforms, and then spot-check for the presence and correctness of the wrench/window/clamp on all available platforms (invisible, corrupted or graphically different are all things to report).

If you find a bug, please let me know

[2014-09-04 15:56] jbphet opened #77 "Test Area Builder 1.0.0-dev.17"
Area Builder is nearing the release stage, and it would be good to get some testing done on it prior to creating release candidates.  The emphasis at this point should be on testing for correct and complete functionality and identifying any obvious bugs.  Some amount of performance and multi-platform testing should be done, but it should be noted that there is some performance optimization efforts

[2014-09-04 22:30] ghost opened #78 "Create Google Doc for PhET Source Code instructions"
We need to convert the current  information on the source code page (http://phet.colorado.edu/en/about/source-code) to a "living" Google Doc that we will link to.

The new Google Doc needs to have a table of contents and include all of the instructions/images on the existing source code page.

Assigning to @arnabp

[2014-09-05 03:57] #72 closed, assigned to aaronsamuel137

[2014-09-05 16:11] #67 closed, assigned to jbphet

[2014-09-05 16:30] samreid opened #79 "Test Fluid Pressure and Flow in 1.0.0-dev.15"
@notsiddhartha and @kmsravindra provided a new version of Fluid Pressure and Flow, and I have published a dev version here:

http://www.colorado.edu/physics/phet/dev/html/fluid-pressure-and-flow/1.0.0-dev.15/fluid-pressure-and-flow_en.html

The "Flow" screen should be thoroughly dev tested, with an emphasis on finding physics bugs, user interface issues, performance problems, etc.

**Before testin

[2014-09-06 22:32] aaronsamuel137 opened #80 "[color-vision] Test 1.0.0-rc.3"
Testing for color-vision 1.0.0-rc.3

Here's a link to the matrix: https://docs.google.com/spreadsheet/ccc?key=0AqDLM6bVhh4OdGVOZ1ZyMnc4R3hoSnNjbDI0ZEE4eEE&usp=drive_web#gid=7

Please comment on outstanding issues that you have created, or close them if fixed.

Assigning to @ariel-phet for prioritization.

[2014-09-08 20:56] ariel-phet opened #81 "test"

[2014-09-08 20:57] #81 closed, assigned to nobody

[2014-09-09 06:12] samreid opened #82 "Test Energy Skate Park: Basics 1.0.0-dev.60"
Energy Skate Park: Basics 1.0.0-dev.60 is ready for dev testing:
http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.0.0-dev.60/energy-skate-park-basics_en.html

Please test it on the following platforms:
- [ ] Windows + Chrome
- [ ] OS X + Safari
- [x] iPad iOS + Safari

For the issues marked as "ready for review", please read through the issue and test whether it is resolved

[2014-09-09 20:00] #77 closed, assigned to phet-steele

[2014-09-10 20:13] schasteen opened #83 "Website Testing: testing all changes related to "for teachers" deployment"
Currently, all changes for our new "for teachers" resources on our website are living on our "dev" server. The plan is to thoroughly test all related pages and links on the dev server before deploying to our live server.

To access the dev server, go to, http://phet-dev.colorado.edu/

We'd like you to test on the following platforms:
- [x] Mac (Safari only)
- [x] PC (IE, Firefox, Chrome, and Safar

[2014-09-11 17:22] oliver-phet opened #84 "Get an iPad device with iOS 8 installed to test sim performance"
@bryo5363 @orejolaphet @phet-steele We will want to identify a testing iPad that can be upgraded to the iOS 8 beta through our developer account. Can one of you guys do the install and test a couple HTML5 sims: Forces and Motion basics and Water Tower (dev)? @arnabp might help with this task too.

[2014-09-12 02:57] #76 closed, assigned to jonathanolson

[2014-09-15 19:58] samreid opened #85 "Test Energy Skate Park: Basics 1.0.0-dev.62"
Energy Skate Park: Basics 1.0.0-dev.62 is ready for dev testing:
http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.0.0-dev.62/energy-skate-park-basics_en.html

Please test it on the following platforms:
- [x] Windows + Chrome
- [x] OS X + Safari
- [x] iPad iOS + Safari

For the issues marked as "ready for review", please read through the issue and test whether it is resolved

[2014-09-16 02:16] #82 closed, assigned to ariel-phet

[2014-09-16 16:32] #79 closed, assigned to nobody

[2014-09-16 19:31] jonathanolson opened #86 "Test Wave on a String 1.0.0-rc.1"
Wave on a String 1.0.0-rc.1 is ready for release candidate testing:
http://www.colorado.edu/physics/phet/dev/html/wave-on-a-string/1.0.0-rc.1/wave-on-a-string_en.html

The test matrix: https://docs.google.com/spreadsheet/ccc?key=0Ap7SpinExAAxdGVfbTFQR3FLSjVNMlZ1YVB3QmRCZVE#gid=2

This is the first time it's been tested as a release candidate, so please be thorough!

If there is an issue, please se

[2014-09-17 15:55] #80 closed, assigned to nobody

[2014-09-17 18:41] #73 closed, assigned to nobody

[2014-09-17 21:56] ariel-phet opened #87 "Upgrade one of the iPad2's to iOS8"
Hey @bryo5363 can you upgrade one of the iPad2's to iOS8 first thing on Thursday 9-18. All further iPad2 testing should be done on iOS8 if possible. We will soon also upgrade the iPad3.

[2014-09-18 20:07] #87 closed, assigned to nobody

[2014-09-18 20:41] #84 closed, assigned to nobody

[2014-09-18 20:42] #75 closed, assigned to nobody

[2014-09-18 22:37] #86 closed, assigned to jonathanolson

[2014-09-19 16:39] ariel-phet opened #88 "Test Flash version of Pendulum Lab"
@bryo5363 as with the testing you did for Energy Forms and Changes can you do a thorough test of Pendulum Lab. One platform will be fine (for instance on your testing mac). We want to flesh out any bugs in the original before having it get ported to HTML5.

The original sim can be found here:

http://phet.colorado.edu/en/simulation/pendulum-lab

And please report any issues you find here:

https:/

[2014-09-22 15:43] ariel-phet opened #89 "Upadate iPad3 to iOS8"
Hey @bryo5363, please update the iPad3 to iOS8

@oliver-phet, @arnabp, @phet-steele, and @orejolaphet please note that going forward we are going to test iPad 3 in iOS 8, and test iPad2 in both iOS7 and iOS8 (at least until iOS8 adoption numbers are high).

So please make sure we have an iPad2 with iOS7 available for testing and clearly mark it not to update for the time being.

[2014-09-23 14:58] #85 closed, assigned to nobody

[2014-09-23 15:09] ariel-phet opened #90 "FPAF 1.0.0-dev.16 Testing"
Hey @bryo5363, @phet-steele, and @arnabp

Please dev test the latest version of fluid pressure and flow. Please also look at any issues marked "ready for review" and close them if they have indeed been fixed.

http://www.colorado.edu/physics/phet/dev/html/fluid-pressure-and-flow/1.0.0-dev.16/fluid-pressure-and-flow_en.html

Please test it on the following platforms:
- [x] Windows + Chrome
- [x] OS

[2014-09-23 17:42] #89 closed, assigned to bryo5363

[2014-09-23 22:51] jbphet opened #91 "Test Area Builder 1.0.0-rc.1"
The first release candidate for the Area Builder sim is ready for testing.  The sim link can be found here: http://www.colorado.edu/physics/phet/dev/html/area-builder/1.0.0-rc.1/area-builder_en.html.

The test matrix is here: https://docs.google.com/a/colorado.edu/spreadsheet/ccc?key=0AsB8uOkZ_IxYdFBJeGFBNHV3M1BkaVJVVkxRVmEzMUE#gid=2

[2014-09-24 14:56] #88 closed, assigned to ariel-phet

[2014-09-25 16:16] #91 closed, assigned to nobody

[2014-09-25 16:17] jbphet opened #92 "Test Area Builder 1.0.0-rc.2"
A new release candidate is available that fixes some issues found in rc.1, see http://www.colorado.edu/physics/phet/dev/html/area-builder/1.0.0-rc.2/area-builder_en.html.

[2014-09-25 17:23] #90 closed, assigned to bryo5363

[2014-09-26 22:35] #92 closed, assigned to nobody

[2014-09-29 16:10] samreid opened #93 "Test Energy Skate Park: Basics 1.0.0-dev.75"
I published energy skate park basics for dev testing here:
http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.0.0-dev.75/energy-skate-park-basics_en.html

This version uses WebGL for the first time on any of our sims, so should be tested thoroughly for rendering issues.  You can tell if the sim is running in WebGL mode by looking at the pie chart: if there is a black line bet

[2014-09-30 05:40] ariel-phet opened #94 "Dev testing for Under Pressure 1.1.0-dev.3"
@bryo5363, @phet-steele, @arnabp please dev test the latest version of under pressure
http://www.colorado.edu/physics/phet/dev/html/under-pressure/1.1.0-dev.3/under-pressure_en.html

Please test on the following platforms:
- [x] Windows + Chrome
- [x] OS X + Safari
- [x] iPad iOS + Safari

Please report any issues in the under pressure repo
https://github.com/phetsims/under-pressure/issues

[2014-09-30 17:00] jbphet opened #95 "Test Area Builder 1.0.0-rc.4"
Please test Area Builder 1.0.0-rc.4 for potential publication to the main web site.  This version contains a number of fixes to issues found in the first 3 release candidates, and there are no known issues that are blocking publication at this time.  Multi-platform testing should be repeated in order to make sure that we have decent performance on all supported platforms, but the tests can be some

[2014-09-30 22:03] oliver-phet opened #96 "Publish video from SD cards to Youtube"
@arnabp Can you try to finish the YouTube upload of the SDHC cards soon? Please make the video unlisted. Some people from the conference would like access to the video.

[2014-10-01 19:00] #78 closed, assigned to oliver-phet

[2014-10-01 19:01] #96 closed, assigned to arnabp

[2014-10-02 16:14] #93 closed, assigned to nobody

[2014-10-02 16:34] #95 closed, assigned to nobody

[2014-10-02 16:37] ariel-phet opened #97 "Change Ariel's Desk to a Table"
@oliver-phet can you coordinate with the undergrads (probably next week) when @bryo5363 is back to change my desk to a table so multiple people can sit at it for testing/etc.

[2014-10-02 18:43] oliver-phet opened #98 "Test Windows 10"
Investigate installing a Windows 10 beta on a Windows testing machine. Once we have it installed, test a Java sim, Flash sim, and a few HTML5 sims including ESPB using IE.

[2014-10-03 16:05] #69 closed, assigned to TGIFlowen

[2014-10-03 21:08] oliver-phet opened #99 "Google Analytics: update sim runs for Sep 2013-Aug 2014"
We need to go through our Google Analytics account to update our usage statistics for our Flash and HTML5 sims (all languages lumped together) for each month Sep 1, 2013 through Aug 31, 2014.

Account access instructions on unfuddle.

Here is a spreadsheet to track the usages of every Flash and HTML5 sim by month from Sep 2013 through Aug 2014: https://docs.google.com/spreadsheets/d/1TmrwU49Pd8gEe

[2014-10-03 21:53] ariel-phet opened #100 "Full Resolution screenshots needed for all published HTML5 sims"
@orejolaphet we need a full resolution screenshot of all currently published HTML5 sims.

For this task we will need you to do the following:
1. Take all screenshot on a retina display iPad (I believe our iPad3 is the only one with a retina display)
2. Take the shots with iOS8, and some tabs open in the browser (since iOS8 safari has a different aspect ratio for the viewing window if only one url

[2014-10-07 17:41] jonathanolson opened #101 "Test Faraday's Law 1.0.0-rc.1"
Faraday's Law 1.0.0-rc.1 is ready for release candidate testing:
http://www.colorado.edu/physics/phet/dev/html/faradays-law/1.0.0-rc.1/faradays-law_en.html

The test matrix: https://docs.google.com/spreadsheet/ccc?key=0Ap7SpinExAAxdGd4V3ZBbGxSbWUzejFQc0haY0hJWWc#gid=2

This is the first time it's been tested as a release candidate, so please be thorough!

If there is an issue, please see if it was

[2014-10-07 17:50] #94 closed, assigned to ariel-phet

[2014-10-07 23:46] samreid opened #102 "Testing on iOS 8.1 Beta 2"
Apple has published iOS 8.1 Beta 2, and we should test this on one of our devices.  Assigned to @ariel-phet for prioritization and reassignment.

EDIT: iOS 8.2 => iOS 8.1

[2014-10-08 20:20] samreid opened #103 "Test Energy Skate Park: Basics 1.0.0-dev.76"
I published energy skate park basics for dev testing here:
http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.0.0-dev.76/energy-skate-park-basics_en.html

This version uses WebGL for the first time on any of our sims, so should be tested thoroughly for rendering issues.  You can tell if the sim is running in WebGL mode by looking at the pie chart: if there is a black line bet

[2014-10-09 16:14] #99 closed, assigned to oliver-phet

[2014-10-09 16:18] oliver-phet opened #104 "Test Mac installer on 10.9"
@arnabp Please test the Mac installer on the phet website:
Download installer for Mac OS X - 9 MB http://phet.colorado.edu/installer/PhET-Installer_osx.zip

It is looking like something in the installer compiler is creating some problems (I can tell because the installer is usually around ~300MB for each platform instead of 9!)

[2014-10-09 18:10] jbphet opened #105 "Test Arithmetic 1.0.0-dev.8"
Please perform functional testing on the version linked below.  This will constitute acceptance testing of the sim as created by MLL.  MLL will fix any issues identified during this testing and, once that is done, we will take over future development, so please check the behavior thoroughly.  It should be tested on desktop and touch devices (i.e. iPad).

http://www.colorado.edu/physics/phet/dev/ht

[2014-10-09 22:27] oliver-phet opened #106 "Update PhET sim status with date information"
@arnabp @orejolaphet @bryo5363
We need to populate the 'PhET Sim Status' google spreadsheet in the sheet called "Sims2_fill_data" - with various date information for the sims. The cells that need updated are in blue - and once the date is entered changed to 'white'/reset. (please don't modify the sheet "sims2")

There is a comment on the A row for each column explaining briefly where to get the da

[2014-10-10 02:35] #101 closed, assigned to bryo5363

[2014-10-10 16:00] kathy-phet opened #107 "Make videos for PhET's new front page"
We need some new video clips to be made for PhET's new front page.

Camtasia will probably work well for technology.
@ariel-phet -- Can you provide Camtasia license info as needed?

Videos will need to have a particular dimension (pixels x pixels), so you'll need to figure out how to get that set up in your screen correctly and then select the part of the screen to video using camtasia's ability t

[2014-10-13 17:15] #104 closed, assigned to arnabp

[2014-10-14 18:36] jbphet opened #108 "Test the installers"
An issue was reported by our users that the installers weren't working.  I think I have tracked down the root cause and fixed it, but need the installers to be retested.  Testing involves downloading, installing on the appropriate platform (Windows or Mac), verifying that the installer runs, that the resulting app runs, and that at least one Java, Flash, and HTML sim can successfully be run.

Here

[2014-10-15 15:44] samreid opened #109 "Test the Java version of Circuit Construction Kit (CCK) before it is ported"
Before we start porting CCK, it would be valuable for the QA team to test the Java version and enumerate issues, so we can be aware of them before we begin the port.

Assigned to @ariel-phet for discussion, prioritization and reassignment.

[2014-10-15 15:55] #108 closed, assigned to jbphet

[2014-10-16 16:26] #83 closed, assigned to schasteen

[2014-10-16 18:47] #100 closed, assigned to orejolaphet

[2014-10-16 21:08] #97 closed, assigned to oliver-phet

[2014-10-17 13:49] #105 closed, assigned to bryo5363

[2014-10-17 13:50] #65 closed, assigned to aaronsamuel137

[2014-10-20 18:27] samreid opened #110 "Testing for Fluid Pressure and Flow 1.0.0-dev.17"
I published Fluid Pressure and Flow 1.0.0-dev.17 here: http://www.colorado.edu/physics/phet/dev/html/fluid-pressure-and-flow/1.0.0-dev.17/fluid-pressure-and-flow_en.html

@ariel-phet, please specify exactly what should be tested (or let me know if you would like me to do so), prioritize and reassign.

[2014-10-21 15:52] #110 closed, assigned to samreid

[2014-10-21 20:44] #103 closed, assigned to nobody

[2014-10-22 16:37] #109 closed, assigned to ariel-phet

[2014-10-22 17:44] jonathanolson opened #111 "Test Faraday's Law 1.0.0-rc.2"
Faraday's Law 1.0.0-rc.2 is ready for release candidate testing:
http://www.colorado.edu/physics/phet/dev/html/faradays-law/1.0.0-rc.2/faradays-law_en.html

The test matrix: https://docs.google.com/spreadsheet/ccc?key=0Ap7SpinExAAxdGd4V3ZBbGxSbWUzejFQc0haY0hJWWc#gid=2

[2014-10-23 18:52] oliver-phet opened #112 "Figure out how to enable WebGL in browser configurations"
We need to figure out the steps involved in enabling WebGL in various browsers. (It can be disabled/enabled in some browsers)

@arnabp Can you create a google doc with instructions for enabling webgl on the browsers:

Safari 6, 7, 8 (if possible)
Firefox (latest)
Chrome (latest)

[2014-10-27 20:45] #106 closed, assigned to arnabp

[2014-10-28 02:40] #111 closed, assigned to nobody

[2014-10-28 02:42] ariel-phet opened #113 "Getting BG's computer to Martin"
@oliver-phet I think @kathy-phet mentioned that you currently have the lenovo and she has one more thing that needs to be done with it. Can you coordinate getting this computer ready for Martin to use?

[2014-10-28 06:08] jonathanolson opened #114 "Dev testing for Molecule Shapes 1.0.0-dev.9"
Please dev test the latest version of Molecule Shapes: http://www.colorado.edu/physics/phet/dev/html/molecule-shapes/1.0.0-dev.9/molecule-shapes_en.html

It has two performance modes, WebGL (used if available) and Canvas. In bug reports, if possible note which modes a bug occurs in. The changes are quite apparent visually (and Canvas is much slower):

WebGL:
![molecule-shapes-webgl](https://cloud.

[2014-10-29 15:51] ghost opened #115 "Wipe and install Win 7 on Lenovo X1 Carbon"
@arnabp Can you wipe and do a clean install of Windows 7 on the Lenovo X1 Carbon in our office. Flash drive with the computer.

[2014-10-29 18:52] #113 closed, assigned to oliver-phet

[2014-10-29 19:53] #115 closed, assigned to arnabp

[2014-10-29 20:39] samreid opened #116 "Test Energy Skate Park: Basics 1.0.0-rc.16"
I published energy skate park basics for release candidate testing here:
http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.0.0-rc.16/energy-skate-park-basics_en.html

I tested this link myself on a variety of platforms as reported here and did not see any significant blocking issues:
https://github.com/phetsims/energy-skate-park-basics/issues/300

The test matrix is here:
ht

[2014-10-30 17:11] ariel-phet opened #117 "Branded Version of Openstax Sim"
@amanda-phet will work with @ariel-phet to make a mockup of a "adapted from PhET" or such branding for the Openstax wave interference sim.

[2014-11-03 15:08] oliver-phet opened #118 "Create Google Doc for my.Leave set up / entry instructions"
@arnabp Can you work on creating a Google doc for other bi-weekly employees for setting up their my.leave, entering hours worked, and submitting the timesheet to the approver? (add in screenshots for each step)

[2014-11-03 21:57] #118 closed, assigned to arnabp

[2014-11-04 21:13] samreid opened #119 "Acceptance Testing for fluid-pressure-and-flow 1.0.0-dev.19"
I published a version here:
http://www.colorado.edu/physics/phet/dev/html/fluid-pressure-and-flow/1.0.0-dev.19/fluid-pressure-and-flow_en.html

This is not a "release candidate branch" which can be used & maintained for publishing, but rather a snapshot to be used for acceptance testing for the work completed by Actual Concepts before PhET finalizes the simulation for publication.

Here is the tes

[2014-11-05 17:44] pixelzoom opened #120 "investigate GitHub 'Organizations' feature"
@ariel-phet said:

@samreid said:

[2014-11-08 00:02] jbphet opened #121 "Investigate external server providers (e.g. Amazon, Rackspace) for use as data collection hosts"
We have been using phet-server for data collection, but it shut itself down in the midst of a study last week, and is old, and can no longer be relied upon for this purpose.  Simian is a possibility, but is currently being set up as a failover for the main PhET web server machine, so it would probably be best to minimize impact on this machine.  Given these constraints, and the fact that we probab

[2014-11-11 00:22] #120 closed, assigned to pixelzoom

[2014-11-11 15:08] #116 closed, assigned to nobody

[2014-11-11 16:07] oliver-phet opened #122 "Populate new 'By Device' category on PhET site"
We need to create a new category to the site called “By Device” (similarly to “By Grade Level”). This category will (for now) have 2 sub-categories:
•        "iPad/Tablet" (all HTML5 sims) – list of all sims that have an HTML5 version (plus Area Builder)
•        "Chromebook" (all Flash and HTML5 sims) - above plus Flash sims

I've created the new category and sub-categories. We now need to popula

[2014-11-12 21:32] oliver-phet opened #123 "Look into cafepress non-profit account"
http://www.cafepress.com/+nposhops+gifts

Try to set us up with a non-profit account. See what you think of this option vs spreadshirt.com

CU Federal Employer Identification Number (FEIN): 84-6000555

[2014-11-14 02:47] #119 closed, assigned to nobody

[2014-11-16 17:58] #122 closed, assigned to oliver-phet

[2014-11-17 19:07] samreid opened #124 "Forces and Motion Basics: Test 1.1.0-rc.1"
Forces and Motion: Basics has had a number of issues resolved and we would like to perform release-candidate testing for republication.  @samreid performed developer testing as noted in https://github.com/phetsims/forces-and-motion-basics/issues/102

@ariel-phet's notes from the above issue on timing & schedule:

I published a "dev" version here for @ariel-phet's more thorough testing:
http://www.

[2014-11-18 03:31] samreid opened #125 "Investigate WebGL support"
Performance is still a bit sluggish on firefox and iPad.  Can this be improved with WebGL?

[2014-11-18 03:33] samreid opened #126 "Unify the slider look + feel + implementation"
FAMB uses a custom slider because it was written before (or at the same time) as our modern slider was being developed.  It has custom features like being able to gray out half of the slider track, but it would be good to unify this as much as possible with the look + feel + implementation of our main slider.

[2014-11-18 03:34] #126 closed, assigned to samreid

[2014-11-18 03:34] #125 closed, assigned to samreid

[2014-11-19 19:14] #123 closed, assigned to arnabp

[2014-11-19 19:56] aaronsamuel137 opened #127 "[website] Test new front page"
The new front page for the website needs testing.

Here is a link to the testing matrix: https://docs.google.com/spreadsheet/ccc?key=0AqDLM6bVhh4OdDBTaTBPd2xnbDhGbUc1dzROMDRsNlE&usp=drive_web#gid=8

In particular, we want to look for:
- browsers that format things in unexpected ways
- bugs with the video player
- right to left language formatting issues
- all links work as expected

I've made colu

[2014-11-19 22:50] oliver-phet opened #128 "Create a google doc for adding KONICA MINOLTA C754SeriesPCL to a Mac/PC"
@arnabp Can you write up a Gdoc for adding the downstairs copier as a printer?
IP: 128.138.96.104
http://kmbs.konicaminolta.us/wps/portal/web/home/products/office-systems/color-mfps/bizhub-c754

[2014-11-20 18:05] oliver-phet opened #129 "Set up your computer with PhET Build GUI"
@arnabp Can you set up your computer with the PhET Build GUI using the source code instructions:
https://docs.google.com/document/d/1l1FqBW7bGeOAsn0QoDUjjYEMQ7wK8nupJevG1jI0eMA/edit

[2014-11-24 17:33] pixelzoom opened #130 "create a code-review checklist"
This should live in tasks/doc/. I'll describe my code-review process and enumerate the things that I look for. The idea is that this can be used by other developers when preparing their code for review, and when performing a review of someone else's code. This will be a living document.

[2014-11-26 19:08] #124 closed, assigned to bryo5363

[2014-11-26 19:10] #114 closed, assigned to nobody

[2014-12-01 17:43] oliver-phet opened #131 "Add operating system to DVD installation links"
@aaronsamuel137 Can you update 2 links on https://phet.colorado.edu/en/get-phet/full-install
DVD without teaching activities (1,348 MB)
DVD with contributed teaching activities (1,491 MB)

change to:
DVD without teaching activities for Windows, Mac OS X, and Linux - 1,348 MB
DVD with contributed teaching activities for Windows and Mac OS X - 1,491 MB

[2014-12-01 18:56] #131 closed, assigned to oliver-phet

[2014-12-11 21:34] oliver-phet opened #132 "Create new sim screenshots to match HTML5 aspect ratio"
We need to generate new screenshots for all of our "legacy" Java and Flash sims (that do NOT have an HTML5 version). The aspect ratio of the new screenshots will need to be the same as the existing HTML5 screenshots (2048x1342 with navbar) - which means a new screenshot resolution of 1024 x 672.

The screenshots should not include the File menu, only the tabs.

There is a utility called 'Sizer' fo

[2014-12-19 03:56] #107 closed, assigned to orejolaphet

[2014-12-19 03:57] #127 closed, assigned to nobody

[2014-12-19 03:59] #117 closed, assigned to amanda-phet

[2014-12-19 04:13] ariel-phet opened #133 "Test Java version of Bending Light"
@bryo5363 can you test the Java version of Bending Light?

Original sim found here:

http://phet.colorado.edu/en/simulation/bending-light

We want to test the java version thoroughly to identify any bugs that are currently present since we are planning to port this sim to HTML5. It would be good to have this testing complete by mid-January.

Please report any issues in the Energy Forms and Changes

[2014-12-29 15:59] ariel-phet opened #134 "Dev Testing for Pendulum Lab 1.0.0-dev.1"
@bryo5363...

Pendulum Lab 1.0.0-dev.1 is ready for dev testing:
http://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.0.0-dev.1/pendulum-lab_en.html

Please test it on the following platforms:
- [x] Windows + Chrome
- [x] OS X + Safari
- [x] iPad iOS + Safari

There are some layout issues, but @arouinfar will address those, please focus testing on functionality and performance on various p

[2015-01-01 20:14] bryo5363 commented on #134
The iPad performance is quite sluggish. Everything runs pretty slow but it is still functioning well.

[2015-01-05 05:40] pixelzoom commented on #74
Received revised .ai file from @amanda-phet on 12/31/14, integrated on 1/4/15, see:
http://www.colorado.edu/physics/phet/dev/html/scenery-phet/1.0.0-dev.2/scenery-phet_en.html?screens=3

Requested additional changes via email:

That looks much better, but looks like you only added the stroke the knob in the "assembled” faucet.  Could you please apply that treatment to the enabled and disabled (gra

[2015-01-05 18:18] bryo5363 commented on #134
The functionality on all three platforms is acceptable. I have only noticed one bug with the period timer, which has been identified in the issues. There are performance issues on all three platforms however. Both OSX and Windows run fairly well but there is a noticeable stutter upon opening the simulation. The iPad runs slower than both OSX and Windows and also contains the same stutter as the ot

[2015-01-05 18:34] ariel-phet commented on #134
@bryo5363 thanks for finishing up testing!

[2015-01-05 18:36] bryo5363 commented on #133
Where should I report issues? It says above in the Energy Forms and Changes repo but I just want to make sure @ariel-phet

[2015-01-05 18:38] samreid commented on #133
Yes, I think "Energy Forms and Changes repo" is a typo.  I'll create a bending-light repo now for these issues.

[2015-01-05 18:41] samreid commented on #133
I created a bending-light repo and added it to the QA team's repos.  Please test it out and let me know if there is more for me to do:
https://github.com/phetsims/bending-light

[2015-01-05 18:42] #134 closed

[2015-01-05 18:43] pixelzoom commented on #74
Received and integrated revisions from @amanda-phet  on 1/5/2014.  Here's the final result in context:
http://www.colorado.edu/physics/phet/dev/html/scenery-phet/1.0.0-dev.3/scenery-phet_en.html?screens=3

Looks great, closing.

[2015-01-05 18:43] #74 closed

[2015-01-05 18:46] bryo5363 commented on #133
It seems to be working. Thanks @samreid

[2015-01-05 19:40] ariel-phet commented on #133
Definitely a typo...sorry about that!

[2015-01-07 03:58] pixelzoom opened #135 "dev testing: Reactants, Products and Leftovers 1.0.0-dev.23"
Reactants, Products and Leftovers (aka RPAL) is ready for 'dev' testing.  Here's the dev version:

http://www.colorado.edu/physics/phet/dev/html/reactants-products-and-leftovers/1.0.0-dev.23/reactants-products-and-leftovers_en.html

There are no known issues for this sim. If you find a problem or have a question, please create an issue at https://github.com/phetsims/reactants-products-and-leftover

[2015-01-07 04:02] pixelzoom commented on #135
@ariel-phet please feel free to modify (or be more specific about) the platforms that I've enumerated above.

[2015-01-07 06:42] ariel-phet commented on #135
@bryo5363 and @orejolaphet please make this your current top testing priority.

[2015-01-08 19:57] ariel-phet opened #136 "Test Latest Dev Version of Projectile Motion (Flash Version)"
@bryo5363, @oliver-phet, @phet-steele, @arnabp

When one of you has time, please test the following version of projectile motion. If it is someone other than @bryo5363 just self assign this issue (fine for any tester to do this testing, but it does not need more than one tester)

http://www.colorado.edu/physics/phet/dev/projectile-motion/2.03.14/projectile-motion_en.html

This is an unpublished ve

[2015-01-08 23:57] amanda-phet opened #137 "Research monitors"
We need to research and pick out a monitor for sim @amanda-phet and @arouinfar to use. This will be for graphic design, so requirements are:

- 24" - 27"
- high resolution (at least 1920x1200 for 24" monitor, and even higher if 27")
- high number of colors
- excellent color accuracy (something like IPS?)
- less than $1000
- available to purchase on amazon.com

Good to have:
- high ratings
- multip

[2015-01-08 23:58] amanda-phet commented on #137
@arouinfar can you please edit this if you feel there are more requirements?

[2015-01-09 00:07] amanda-phet opened #138 "artwork for bunnies in Natural Selection"
@alexklinger I need a bunny drawn for the HTML5 version of Natural Selection. The original bunnies looked like this:
White
![screen shot 2015-01-08 at 5 03 07 pm](https://cloud.githubusercontent.com/assets/7852916/5673392/6722efb0-9758-11e4-8205-8532157c4474.png)
With long teeth
![screen shot 2015-01-08 at 5 04 17 pm](https://cloud.githubusercontent.com/assets/7852916/5673393/7088abc6-9758-11e4-9d

[2015-01-09 21:10] amanda-phet opened #139 "artwork for wolf in Natural Selection"
I need a wolf drawn in illustrator. The original looked like this:
![screen shot 2015-01-09 at 2 09 00 pm](https://cloud.githubusercontent.com/assets/7852916/5687366/191c8572-9809-11e4-8cc8-9779ee70f057.png)

When the wolves get small on the screen the black stroke around them doesn't look great, so less detail there would be nice. It doesn't need to look exactly like the original.

[2015-01-09 21:14] amanda-phet opened #140 "Redesign social media links on website"
The text and links on our social media page (http://phet.colorado.edu/en/stay-connected) need a new design:
![screen shot 2015-01-09 at 2 14 16 pm](https://cloud.githubusercontent.com/assets/7852916/5687430/db482804-9809-11e4-9c55-9babdf7f248b.png)

We would still like the same information to be there, but there are more visually appealing ways we can direct people to our facebook and twitter page

[2015-01-12 18:02] arouinfar commented on #137
Having a HDMI connection is preferred, though not strictly necessary.

[2015-01-12 22:01] amanda-phet opened #141 "artwork for cannon in Projectile Motion"
I need a cannon drawn in illustrator that looks more iconic than the current civil-war era cannon (https://phet.colorado.edu/sims/projectile-motion/projectile-motion_en.html). It should have a clearly grippable area in the center to drag the cannon on the screen and a clear area on the muzzle to pivot the barrel.

[2015-01-13 01:07] ariel-phet commented on #141
@alexklinger - this particular project would be good to meet with @amanda-phet in person and brainstorm some ideas.

[2015-01-13 17:13] orejolaphet commented on #135
No issues found for Mac OS X + Safari

[2015-01-13 17:31] bryo5363 commented on #135
No issues were found for Max OSX and Firefox 35.0

[2015-01-13 18:22] arouinfar opened #142 "Infrared Source for Molecules & Light"
The infrared source for Molecules & Light is drawn using 3D effects. To avoid rendering issues, it would be best if it can be redrawn in 2D by @alexklinger.

The original .ai file can found here:
https://drive.google.com/file/d/0B-YvjkIIcS_aLWZUTlk5QjlucFk/view?usp=sharing

Assigning to @amanda-phet for prioritization.

[2015-01-13 19:32] alexklinger commented on #141
I'm available to meet between from 1-5pm tomorrow, weds. (1/14), and friday (1/16). On thursday I can meet from 3-5.

[2015-01-13 19:51] arnabp commented on #137
This seems to be the best option: http://amzn.to/17wurVB

The Asus PA279Q is a 27" 1440p IPS display with 99% Adobe RGB, HDMI and MiniDisplay inputs, and full tilt, swivel, pivot, and height adjustments at ~$800.

[2015-01-13 23:05] alexklinger commented on #141
@amanda-phet ^

[2015-01-13 23:12] amanda-phet commented on #141
@alexklinger How about Friday at 1pm?

[2015-01-13 23:57] #51 closed

[2015-01-14 00:00] oliver-phet opened #143 "Print new PhET stickers and flyers"
I ordered a new box of 600 circle stickers. Can you print on them using the image with the logo AND the website URL.

Also, we need 1000 flyers printed of this flyer: https://drive.google.com/file/d/0Bz7jTh2s-5L5dUZkWHM2UDlIQzg/view?usp=sharing

[2015-01-14 03:45] alexklinger commented on #141
@amanda-phet I'll be in on Thursday at 4.

[2015-01-14 06:52] ariel-phet commented on #137
@oliver-phet - let's go ahead and order this monitor, so @amanda-phet and @arouinfar can test one out

[2015-01-14 06:57] ariel-phet opened #144 "Add info to repository description and README re: publication status/obtaining stable version"
@pixelzoom said he would come up with some verbiage appropriate for the readme and description that suggest our process and why it is necessary to contact PhET to fork a stable version of the code.

[2015-01-14 17:36] alexklinger commented on #138
@amanda-phet
This is the basic look I have so far.
![bunny-phet](https://cloud.githubusercontent.com/assets/8651105/5743845/2281880a-9bd9-11e4-892d-67a584ac1a73.jpg)

[2015-01-14 18:11] phet-steele commented on #135
No issues seen on Windows 8.1 Chrome + IE11

[2015-01-14 18:30] pixelzoom commented on #135
Looks like dev testing is completed, with no bugs identified. One performance issue was reported (https://github.com/phetsims/reactants-products-and-leftovers/issues/27), but I suspect that it's specific to iOS7 and is still acceptable.

[2015-01-14 19:14] jbphet opened #145 "Test Neuron 1.0.0-dev.7"
This version could use some pre-release testing.  Please test primarily for behavior, and please emphasize the pause and stepping back/forward behavior, as well as controlling time through the chart.  Please do *not* test performance on iPad at this point.

[2015-01-14 19:38] ariel-phet commented on #135
Sounds good, closing.

[2015-01-14 19:38] #135 closed

[2015-01-14 21:50] alexklinger commented on #142
![infrared-source-no3d](https://cloud.githubusercontent.com/assets/8651105/5748369/9e03801e-9bfc-11e4-9b2e-8991b5283329.jpg) @amanda-phet How does this look?

[2015-01-14 22:00] oliver-phet commented on #137
Monitor should arrive Monday for testing.

[2015-01-14 22:42] arouinfar commented on #142
@alexklinger -- I think the body looks great! The bulb color looks a bit too dark to me. Can you make it a brighter red? Before applying 3D effects, it was e12e00.

[2015-01-14 22:54] amanda-phet commented on #137
Thanks for your research @arnabp !

[2015-01-14 23:31] amanda-phet commented on #138
@alexklinger that's a great start. Let's discuss it Thursday when we meet. (regarding Thursday, my office is F-1019, and I am available earlier if you want to stop by any time after 3:30pm).

[2015-01-15 02:10] alexklinger commented on #142
@arouinfar How's this?
![infrared-source-no3d](https://cloud.githubusercontent.com/assets/8651105/5751447/f9d253c4-9c20-11e4-8b16-4b54a5098350.jpg)

[2015-01-15 02:21] alexklinger commented on #142
@arouinfar How's this?
![infrared-source-no3d](https://cloud.githubusercontent.com/assets/8651105/5751538/84183322-9c22-11e4-887c-6fe47a109ab3.jpg)

[2015-01-15 15:59] pixelzoom opened #146 "rc testing: RPAL 1.0.0-rc.1"
Reactants, Products and Leftovers (aka RPAL) is ready for rc testing.

Release candidate:
http://www.colorado.edu/physics/phet/dev/html/reactants-products-and-leftovers/1.0.0-rc.1/reactants-products-and-leftovers_en.html

Test matrix:
https://docs.google.com/spreadsheet/ccc?key=0AkTcamSqEJ6EdDNIWm5OTEpoemxVUFo1ZmQtd2t5Q2c&usp=drive_web#gid=2

Note that the code base for this version is identical t

[2015-01-15 17:13] ariel-phet commented on #146
@bryo5363, @orejolaphet, @phet-steele, @arnabp please make this your top testing priorities. As noted above you can make the dev tested platforms marked "tested"

[2015-01-15 17:14] orejolaphet commented on #146
@ariel-phet can do

[2015-01-15 19:55] pixelzoom commented on #144
Here's what I came up with. I would discuss with all stakeholders before putting in the time to update repositories.

Repositories for published sims:

Repositories for unpublished sims:

Common-code repositories:

[2015-01-15 20:01] arouinfar commented on #142
Looks great! Closing.

[2015-01-15 20:01] #142 closed

[2015-01-16 03:38] alexklinger commented on #140
I would recommend using font awesome social icons in the footer of the entire site, rather than having a stay connected page. http://fontawesome.io/icons/

[2015-01-16 03:58] alexklinger commented on #138
Here is the white bunny with shadow:
![bunny-phet-drop](https://cloud.githubusercontent.com/assets/8651105/5771383/f47cf216-9cf8-11e4-91d4-68d74fc3f959.jpg)
vs with stroke:
![bunny-phet-stroke](https://cloud.githubusercontent.com/assets/8651105/5771389/05e75618-9cf9-11e4-9907-11a73bb72bf5.jpg)
many with shadow:
![many-bunnies-drop-shadow](https://cloud.githubusercontent.com/assets/8651105/5771397/

[2015-01-16 04:14] samreid commented on #144
In my opinion, the boilerplate descriptive text that we apply to every PhET project should also contain a pointer to http://bit.ly/phet-development-overview

[2015-01-16 17:31] amanda-phet commented on #138
The style and posture look great to me. Let's keep this bunny and work on how we'll define the edge of each one.

When there are multiple, the drop shadow makes the ones in the background so gray that I'm leaning toward the "stroke". Can we try a lighter (maybe gray) and thinner stroke? Also, it would be nice if it was less of an overall outline and more part of the drawing of the bunny- let's see

[2015-01-16 19:15] ariel-phet commented on #144
Thanks for the first stab at the wording @pixelzoom - I also like your suggestion @samreid

@oliver-phet - please discuss this question at developer meeting on January 22nd

We can then run it by @kathy-phet when she and I return from London

[2015-01-17 22:08] ariel-phet opened #147 "Postmortem Checklist"
Work on postmortem checklist and adapt as needed from process used in Java sims

[2015-01-17 22:19] ariel-phet commented on #147
Java postmortem listed below for convenience:

Version 8 Created by Chris M. on 21 Apr 2011. Previous Version
PhET postmortem process

1. Schedule a postmortem review meeting. Require the entire sim team to participate, and optionally anyone else who had a significant involvement. Have the meeting as soon as possible after the sim is released, so that experiences are still fresh in everyone's mind

[2015-01-17 22:22] pixelzoom commented on #147
Does PhET have a "sim completion checklist" for HTML5 sims?

[2015-01-17 22:24] ariel-phet commented on #147
Not yet -- I had started one, but it needs to be refined. I figured doing a postmortem would make it a higher priority for me to finish and get feedback.

[2015-01-17 22:25] samreid commented on #147
Not sure if this is our only checklist, but we have some notes about sim development checklist here in the PhET Development Overview:
https://docs.google.com/document/d/1odXkliRagq0zuf1_NdOtQ2BrkC9hwlISnPi2y-dKdrk/edit#heading=h.tslwrzmorfdr

[2015-01-17 22:30] ariel-phet commented on #147
We will plan to discuss at developer meeting when I return from london...my ideal is to create a "master checklist" for each sim that involves important milestones related to design, development, and testing. I will definitely take a look at the development overview checklist.

[2015-01-17 22:54] ariel-phet commented on #147
@samreid said:

Not sure which members of the design team should attend (though I agree generally anyone with a significant involvement in the sim should attend the postmortem), but I think it is important to have at least one QA team member as part of the postmortem.

@ariel-phet replied:

@samreid -- we can see about that. Although I think that would be handy, I don't think we want to keep them

[2015-01-17 23:23] ariel-phet commented on #147
First pass as postmortem process template viewable here:

https://github.com/phetsims/phet-info/blob/master/postmortem_process.md

[2015-01-19 05:22] ariel-phet commented on #146
Also don't forget to spot test the iframe link on 1 or two platforms and check that the downloaded HTML file works on one platform.

[2015-01-20 05:31] samreid commented on #144
I have added documentation + instructions in the PhET Development Overview about how to check out specific SHAs for a simulation.  This text should be reviewed by another PhET developer, and I recommend to include a link to this section instead of saying:

Please see [PhET Development Overview: Master is Unstable: Accessing Rigorously Tested Code](https://docs.google.com/document/d/1odXkliRagq0zuf

[2015-01-20 16:56] pixelzoom commented on #144
I reviewed the section titled "Master is Unstable: Accessing Rigorously Tested Code". Fixed a couple of typos. This step confuses me:

When did `grunt checkout-shas` start skipping the simulation itself? https://github.com/phetsims/chipper/issues/48 indicates that it doesn't ignore the simulation, and that this is a problem.

[2015-01-20 17:07] orejolaphet commented on #145
Testing http://www.colorado.edu/physics/phet/dev/html/neuron/1.0.0-dev.7/neuron_en.html ?

[2015-01-20 18:06] samreid commented on #144
At today's meeting, we decided that checkout-shas and checkout-master would apply to the dependencies, but not the simulation itself.  I'll check the implementation to make sure this is the case.

[2015-01-20 18:24] orejolaphet commented on #145
Tested on OSX 10.9.4 w/ Chrome 39. I notice no issues with the pause and stepping back/forward functions, that is no real issues in general.

[2015-01-20 18:33] pixelzoom commented on #146
Looking at the test matrix, we have no coverage on Win7.

Per @ariel-phet's request above:
Please spot test iFrame on FF, IE and mobile Safari.
Please spot test HTML download on 2 platforms of your choice.
(Future test matrices will include these tests; for now, note the results in this issue.)

ETA for when this work can be completed?

[2015-01-20 18:37] pixelzoom commented on #146
We're also missing coverage on:
• iPad2 + iOS8 + Safari (@bryo5363 is signed up)
• Mac 9/10 + Chrome (@bryo5363 is signed up)
• Win8 + IE10.

[2015-01-20 18:45] pixelzoom opened #148 "add additional RC-test tasks to the RC-test matrix"
In 1/20/15 developer meeting notes, @ariel-phet requested:

@samreid also has his own RC-testing issue template, which some developers weren't aware of. It lives here: https://github.com/phetsims/tasks/blob/master/doc/issue-template-release-candidate-testing.md

After much discussion, the consensus was that the test matrix is the defacto "check list" for RC testing, and it's not desirable to sprea

[2015-01-20 18:53] pixelzoom commented on #148
Another argument for keeping the entire check list in the RC-test matrix is that PhET has provided funders (e.g. RSC) with a link to the matrix, to demonstrate our QA process.

[2015-01-21 06:42] ariel-phet commented on #148
Seems like a good suggestion.

[2015-01-21 06:42] ariel-phet commented on #143
Thanks for this work, all looked great!

[2015-01-21 06:42] #143 closed

[2015-01-21 07:01] ariel-phet commented on #148
I started updating the example testing matrix a bit...took away the "categories" section since we really only put "must test" devices on here and we don't really test the surface or the nexus these days.

@oliver-phet - I put in a place holder for a checkbox item about iframe and downloaded file working. It seems good to put this at top. Can you pretty it up and make it more functional?
@pixelzoom

[2015-01-21 17:06] jbphet commented on #145
Please try it on a few more platforms, such as Safari and Firefox.

[2015-01-21 19:22] oliver-phet commented on #148
I added a simple Yes/No to the top of the sheet for checking if the single file download and iframe work. Let me know if this is OK or if we want something else.

[2015-01-21 19:24] samreid commented on #148
At the developer meeting, we discussed the desire to test iframe compatibility on a few specific platforms, such as Mobile Safari, IE and Firefox.  We also would like the QA tester to note which platform they *did* do their testing on (say if we leave the "run offline" testing up to the QA tester to decide).

[2015-01-21 19:26] samreid commented on #148
We should also discuss whether QA testers should run the simulation with ?showPointerAreas or ?ea (probably just on one platform for those).

[2015-01-21 19:41] pixelzoom commented on #148
?showPointerAreas (examining pointer areas) is something that should be evaluated by the developer and designer, and should be handled before a sim gets to testers.

?ea (checking for assertion failures) is something that developers should be doing diligently, arguably before on a daily basis, and certainly before publishing a version that other people are going to test.

If these things aren't ha

[2015-01-21 19:44] samreid commented on #148
To me, that sounds like it would be very helpful.

[2015-01-21 20:18] phet-steele commented on #146
iFrames on Windows 8.1 browsers were good.

[2015-01-21 20:23] samreid commented on #144
I verified in the implementation and by testing with energy-skate-park-basics that the simulation is being skipped for SHA checkouts.

[2015-01-21 21:23] samreid commented on #148
By the way, for the spreadsheet I think it would make more sense if the new tasks were put at the bottom (perhaps we can somehow direct Chrome to have new column headers starting at a certain row).  Then it becomes simple: one task per row.  And easy to add more tasks as necessary.

[2015-01-22 02:51] pixelzoom commented on #144
@samreid wrote:

Great, thanks for confirming. So step (6) in the "PhET Development Overview" is valid.

Back to @ariel-phet for a decision on what exactly should be added to the README and description for repositories.

[2015-01-22 03:47] pixelzoom commented on #24
@ariel-phet Since scenery/joist 0.2 has been moved to master, this feature is now enabled, and will be included in any published sims. So perhaps the priority of testing should be raised.

[2015-01-22 03:47] pixelzoom commented on #25
@ariel-phet Since scenery/joist 0.2 has been moved to master, this feature is now enabled, and will be included in any published sims. So perhaps the priority of testing should be raised.

[2015-01-22 08:29] ariel-phet commented on #25
@pixelzoom could you close #24 and #25, and write a more appropriate testing task for each and assign to me for prioritization? Perhaps choose several sims that are 0.2 and you think we be good test cases to put these features through paces?

[2015-01-22 18:21] samreid commented on #144
How about text like:

[2015-01-22 18:22] samreid commented on #144
But it sounds like @ariel-phet and/or @kathy-phet need to weigh in on this before we can move forward.

[2015-01-22 18:27] samreid commented on #144
One point that came up in our discussion is that normally we want developers to use the master branch for development, testing, reporting issues, etc. and that it may be more of a special case where developers want to get the tested SHAs.

[2015-01-22 19:32] amanda-phet commented on #140
Thanks for your input Alex. We agree and will continue working on the redesign of the footer in our weekly meetings.

[2015-01-22 19:40] amanda-phet opened #149 "Redesign of recruting flyer"
This flyer, meant to attract computer science undergrads to apply for an internship at PhET, needs work. Right now there just isn't sufficient information on the flyer to convey what PhET is, what we are soliciting, and how to apply, unless you have a QR scanner.

Take a stab at redesigning this flyer. We would like to *briefly* explain what PhET is and that we are offering an internship in sim de

[2015-01-22 21:25] pixelzoom commented on #25
@ariel-phet Can you clarify what you mean by "a more appropriate testing task", and why this task isn't sufficient as written? @jonathanolson's instructions appear to be quite clear.  And since I'm not familiar with this feature, so I don't have anything to add.  I suggested raising the priority because I was surprised when these features (#24 and #25) became publicly visible.

[2015-01-23 18:23] jbphet opened #150 "Test Arithmetic v1.0.0-dev.11"
Please test http://www.colorado.edu/physics/phet/dev/html/arithmetic/1.0.0-dev.11/ for any behavioral bugs.  It is also legitimate to log issues for any significant performance issues other than the long load time, which is a known issue that will be addressed.

[2015-01-23 19:31] phet-steele commented on #150
Unless the load time is 5min+ (because this is all I waited for), I can't get the sim to load with this link on any of the Win 8.1 browsers. I just get a black screen.

[2015-01-23 19:34] jbphet commented on #150
My bad...I neglected to include the TWEEN library in the build, which is needed for the animation.  I'll fix and redeploy this version.

[2015-01-23 19:41] phet-steele commented on #150
Tried opening the sim on the Asus as well with no luck.

[2015-01-23 19:42] phet-steele commented on #150
oh, just saw the previous comment, sounds good.

[2015-01-23 19:47] jbphet commented on #150
Just realized that this was the wrong version, due to a deployment issue with dev.12.  Closing this ticket and will open one for the correct version.

[2015-01-23 19:47] #150 closed

[2015-01-23 19:48] jbphet opened #151 "Test Arithmetic v1.0.0-dev.12"
Please test http://www.colorado.edu/physics/phet/dev/html/arithmetic/1.0.0-dev.12/ for any behavioral bugs. It is also legitimate to log issues for any significant performance problems other than the long load time, which is a known issue that will be addressed.

[2015-01-23 20:47] bryo5363 commented on #146
Testing is completed on all devices except IE 10 on Windows 8; the only device that had this browser was the MacBook Air that has been deemed lost. Everything looks fine, the iFrame is working on all of the OSX browsers.

[2015-01-23 20:50] orejolaphet commented on #145
Tested on Win 8 w/ FF 35.0 & IE 11 no issues with the pause and stepping back/forward function.

[2015-01-24 16:56] ariel-phet opened #152 "Investigate Chrome Web Store"
Apparently there is a "chrome web store" that would allow us to easily make our sims more discoverable for chromebooks. We should look into this possibility as soon as possible.

@oliver-phet could you gather more info. Perhaps have @arnabp see the steps involved in making a chrome web app.

[2015-01-24 19:01] alexklinger commented on #138
I added some subtle leg stroke, and reduced it around the entire body.
![bunny-with-leg-stroke](https://cloud.githubusercontent.com/assets/8651105/5888550/a17a73e4-a3c0-11e4-9a01-c9dcf0a1f1b2.jpg)

[2015-01-25 20:30] arnabp commented on #152
Uploading apps to the Chrome Web Store is actually really straightforward. The "developing" is done outside and they only require the URL of the applet, along with a .json with app info, a screenshot, a promotional image, and a logo.

So from this it looks like we would only be able to put up the HTML5 sims. We'd also need dedicated logos, but my idea is that we can just take single elements from

[2015-01-26 16:36] amanda-phet commented on #138
Looks good. Can you drop that illustrator file in the drive folder?

[2015-01-26 17:42] pixelzoom commented on #146
@bryo5363  Thanks for the update. What is the status of the HTML download test?

[2015-01-26 17:45] pixelzoom opened #153 "Win8 + IE10 test machine is missing"
In https://github.com/phetsims/tasks/issues/146#issuecomment-71262968, @bryo5363 wrote:

Assigning to @ariel-phet to determine how to replace this missing test platform.

[2015-01-26 17:46] pixelzoom commented on #146
@ariel-phet The Win8+IE10 test platform is missing. Do you want to wait until https://github.com/phetsims/tasks/issues/153 is addressed, or do you want to forgo testing of this platform?

[2015-01-26 18:16] pixelzoom opened #154 "procure a current iPad for testing"
The most current iPad in the test matrix is iPad3 (released March 2012). Shouldn’t we also be testing on something more current?

[2015-01-26 18:23] pixelzoom opened #155 "Safari 8 desktop missing from test matrix"
The test matrix currently has this test category:

Mac OS X 10.10 has Safari 8, which appears nowhere in the matrix. So I recommend splitting 10.9.5 and 10.10 into separate "Device" types.

[2015-01-26 18:29] bryo5363 commented on #155
@pixelzoom when I tested on 10.10 I just entered the Safari version into the browser bar. To conserve space we can just add Safari 7/8. This way we don't have to allocate additional rows for 10.10.1, especially since there is no difference between chrome and Firefox versions.

[2015-01-26 18:31] pixelzoom commented on #155
@bryo5363 That doesn't make it clear that Mac OS 10.10 + Safari 8 is a required test. I'd prefer to split it out, even if Mac OS 10.10 has only one required test (Safari 8).

[2015-01-26 18:34] bryo5363 commented on #155
Sounds goo . I can update the matrix for RPAL since I need to finish HTML downloads. I apologize for the lack of speed on this matrix, I have been quite busy with schoo . It will be complete by tomorrow.

[2015-01-26 18:34] pixelzoom commented on #155
No need to update the RPAL matrix, this is something we'll address in the matrix template after developer meeting discussion. Thanks.

[2015-01-27 18:00] bryo5363 commented on #146
HTML downloads work well on all OSX (10.10.1, 10.9.5, 10.8.5, 10.7.5)

[2015-01-27 19:22] pixelzoom commented on #146
I can't find a Win8+IE10 test machine. And I'm guessing that it's unlikely that one will materialize in the next day or two.  Since RPAL passed IE10 testing on Win7 with no problems, I don't expect Win8 to be any different.

That completes RC testing for RPAL, this sim is ready to publish. Thanks testers! Closing.

[2015-01-27 19:22] #146 closed

[2015-01-28 18:14] pixelzoom opened #156 "upgrade example test matrix for iOS 8.1.3 and Mac OS 10.10.2"
.. which were both released yesterday.

[2015-01-28 18:17] pixelzoom commented on #156
Done.

[2015-01-28 18:17] #156 closed

[2015-01-28 18:21] oliver-phet opened #157 "Test Molecules and Light 1.0.0-dev.3"
Please test 1.0.0-dev.3 http://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.0.0-dev.3/molecules-and-light_en.html

@arouinfar Has the sim been interviewed on? If not, use this dev version.

[2015-01-28 18:21] pixelzoom commented on #155
I changed the Mac OS X sections of the example test matrix, see screenshot below.  The rationale is that the testing on older versions of Mac OS X only needs to be done on older versions of Safari, which Chrome and Firefox should be tested on the latest version of Mac OS X.

@samreid @jonathanolson @jbphet please chime in if you disagree.

@ariel-phet If this looks OK, please close.

![Uploading s

[2015-01-28 18:22] oliver-phet commented on #137
This monitor worked great. And I ordered a second. Closing.

[2015-01-28 18:22] #137 closed

[2015-01-28 18:24] oliver-phet commented on #152
It is looking like we would be able to at least add our HTML5 sims and perhaps our Flash sims.
We'll need to decide on the structuring - do we want one "app" with all of the HTML5/Flash sims. Or one *per* sim?

[2015-01-28 18:27] pixelzoom commented on #147
First pass looks good to me.

[2015-01-28 18:35] arouinfar commented on #157
@oliver-phet, I've already finished my scheduled interviews.  I ended up using dev.1 because dev.2 had serious issues preventing it from being usable in an interview (e.g. browser crashing, photon sources and molecules disappearing from the menus).

[2015-01-28 18:36] ariel-phet commented on #153
After doing a bit of research it appears the IE10 does not run directly on Win8 (there is a mode to run IE11 in IE10 mode but this is meant for web developers).

http://windowsitpro.com/windows-client/internet-explorer-10-windows-81

I will remove IE10 Win8 from the example test matrix.

[2015-01-28 18:38] #153 closed

[2015-01-28 18:38] #155 closed

[2015-01-28 21:40] ariel-phet commented on #152
We likely will want both. Can we find out how big (pixel by pixel) size the logos are? We will likely want to get @alexklinger involved in this project eventually.

[2015-01-29 01:30] ariel-phet commented on #151
@phet-steele - it appears dev testing is complete for this version. Is that correct?

[2015-01-29 01:42] ariel-phet commented on #154
@pixelzoom - what would you suggest? You tend to be "in the know" when it comes to apple products, do they have some planned release? It seems anecdotally things run fine on the iPad4 (I believe @kathy-phet has one). We have also received no issues to my knowledge regarding HTML5 sims and any iPad. I think the philosophy with the iPad3 has been that it is a good indicator, since it has the retina

[2015-01-29 01:44] ariel-phet commented on #154
Just to add a bit more detail - do we anticipate one of the new platforms causing performance issues? For instance, the retina display was a big change and not surprising that is causes some issues. Obviously we can not know for sure, but it seems like certain changes (new OS, new display) are more worrisome than something like just a faster processor.

[2015-01-29 02:35] pixelzoom commented on #154
Let's discuss whether there's a need at developer meeting, see what others think. I just thought it odd that PhET's most current iOS test device is almost 3 years old, which is ancient in the mobile world.  And as we move more into WebGL, it will be important to benchmark on slowest and fastest devices.

The iPad Pro, on the other hand, will be a must-buy device. Rumors: Q2 release, 12.2", 4K disp

[2015-01-29 04:44] ariel-phet opened #158 "Create PhET "Bookmark" for Future Conference Booths"
We should consider making a informational bookmark similar to the one from RSC. A nice in between solution to a full flyer and minimal detail of a business card.

[2015-01-29 17:59] orejolaphet commented on #133
Believe testing has been completed.

[2015-01-29 19:25] arouinfar commented on #154
Having a newer iPad would also benefit our interviews. Yosemite supports iPad screen sharing without the need for 3rd party software, but it only works on modern iPads with the Lightning connector.

Screen recording on an iPad is a bit of a cumbersome process. It requires 3rd party software (Reflector) to screen share to another Mac, which can then have its screen recorded. Reflector doesn't work

[2015-01-29 19:30] samreid commented on #144
This simulation has been published at http://blah/blah/blah
OR
This simulation is under development and has not yet been published.

Development is done in the master branch, so the master branch is not a stable release.  To obtain code corresponding to a fully tested, published version of a simulation, please see [PhET Development Overview: Master is Unstable: Accessing Rigorously Tested Code](ht

[2015-01-29 19:31] samreid opened #159 "design README.md for published sim repos"
See https://github.com/phetsims/tasks/issues/144

@ariel-phet requested @samreid to make a rough draft and discuss it with other developers on Tuesday.

@pixelzoom
suggested
Title
Blurb

[2015-01-29 19:33] samreid commented on #159
Questions: how much should go in README vs in the PhET Development Overview.

Add language for accessing 3 things: master, SHA, and iframe

[2015-01-29 19:58] pixelzoom opened #160 "put all PhET-specific globals under window.phet"
Put all PhET-specific globals under window.phet, but refer to in code as phet.something.

[2015-01-29 20:21] pixelzoom commented on #160
There are some PhET-specific globals in .html files (e.g. sim.html) so make sure those get changed too.

[2015-01-29 21:22] pixelzoom commented on #160
Here are the PhET-specific globals that I was able to locate, by repository where they are defined. Scenery is not included here.

I was only able to indentify globals defined using `window.` prefix. If code is creating globals without `window.` prefix, I have no way to search for it.

arch: phet.arch
assert: assertions, assert, assertSlow
axon: loadedAxon
build-a-molecule: loadedBuildAMoleculeCon

[2015-01-29 21:28] pixelzoom commented on #160
In addition to the `phet` qualifier, should we also indicate which repository the global is defined in? arch is currently doing this. Could be useful to prevent collisions, but could be verbose for long repo names.

For example:

phet.phetcommon.getQueryParameter
phet.energy-skate-park-basics.model
phet.joist.makeEverythingSlow
phet.kite.loadedConfig

I think I like having the repository name incl

[2015-01-29 21:30] pixelzoom commented on #160
@jonathanolson how do you want to handle scenery? Will it attach all of its globals to window.phet.scenery? Are there globals that are not defined using `window.` prefix? Do you want to handle changes?

[2015-01-30 03:00] jonathanolson commented on #160
Scenery standalone (via grunt build) defines window.scenery, but this isn't defined in sims (to keep our namespace clear). Similarly, Kite standalone uses window.kite.

For simulations, I'd be happy to attach the namespaces as follows (the conventions I have been using, but with the .phet prefix):
window.phet.core = <phet-core>
window.phet.axon = <axon>
window.phet.dot = <dot>
window.phet.kite = <

[2015-01-30 03:03] jonathanolson commented on #160
Also, this is most helpful for debugging, as we use require.js for almost all loading purposes.

[2015-01-30 03:05] jonathanolson commented on #160
Also dashes don't work in names, "phet.energy-skate-park-basics.something" is "phet.energy - skate - park - basics.something"

[2015-01-30 03:09] pixelzoom commented on #160
@jonathanolson I see that the repos you've been involved with have a global that looks like this (for example):

What is this "load*Config" global used for?

[2015-01-30 06:43] samreid commented on #160
Yes, that seems like a good rule of thumb for now.

[2015-01-30 07:09] jonathanolson commented on #160
loaded*Config is vestigial. It was used for HTML files that want to use require statements, and we needed to set a global and loop until it was loaded. Now we can use the nested require form (changed with https://github.com/phetsims/scenery/commit/813fbc98d5d8020043821bcb0ee2789438eb975f for Scenery).

I've been working my way through those, must have missed one.

[2015-01-30 16:27] ariel-phet commented on #147
Checklist created, closing

[2015-01-30 16:27] #147 closed

[2015-01-30 16:34] #133 closed

[2015-01-30 16:35] ariel-phet commented on #154
I believe @oliver-phet is going to order a newer iPad shortly

[2015-01-30 16:38] #145 closed

[2015-01-30 16:42] #151 closed

[2015-01-30 17:04] ariel-phet commented on #157
Closing since we are going to make a few tweaks to the sim and reinterview

[2015-01-30 17:04] #157 closed

[2015-01-30 17:05] ariel-phet commented on #136
Some issues found, closing

[2015-01-30 17:05] #136 closed

[2015-01-30 17:46] pixelzoom commented on #160
I said:

@samreid said

@jonathanolson pointed out:

How would you like to handle repo names that contain hyphens? energyskatepark-basics? energySkateParkBasics? other ideas?

[2015-01-30 17:52] pixelzoom commented on #154
@arouinfar thanks for chiming in. It sounds like a newer iPad will be ordered soon. And if access to a MacBook that supports Reflector is an issue, please discuss with @oliver-phet.

[2015-01-30 18:34] jbphet opened #161 "Test States of Matter v1.0.0-dev.2"
Our contractor has delivered an initial version of this simulation for testing.  It has had some cursory testing since delivery, but not much, so this is some of the first thorough internal PhET testing to occur on this sim.

There are known issues on iPad, so for now please restrict your testing to desktop for now.  It would be good to test multiple OSes and browsers, see the list below.  Please

[2015-01-30 20:07] ariel-phet commented on #161
@bryo5363 @orejolaphet @phet-steele @arnabp please make this your top testing priority

[2015-01-30 20:10] alexklinger commented on #149
I know this was lower priority but inspiration struck.

![phetposter](https://cloud.githubusercontent.com/assets/8651105/5982548/4f1a3cc2-a881-11e4-9e07-abcded1eddee.jpg)

[2015-01-30 20:22] pixelzoom commented on #149
Code for Change is a partnership led by NYU Wagner's School of Public Service, One Economy, Code for America and NPower, and Hacker League, in association with the Blue Ridge Foundation.
https://www.hackerleague.org/hackathons/code-for-change

It looks like other organizations are using the same catch-phrase for similar programs. But I wanted you to be aware that it's not something that will be un

[2015-01-30 20:26] amanda-phet commented on #149
@alexklinger I think the new poster looks really nice. I would like to meet at some point to discuss another flyer of ours.
@pixelzoom do we need to include any of that information on this flyer? It might be included in the original QR code, but I'm pretty sure that just directed you to the job posting.

[2015-01-30 20:29] pixelzoom commented on #149
I don't know. Is PhET's "Code for Change" in any way related to the Hacker League program? I wasn't saying that it was.  What I was saying is that it's a common catch phrase that is used by the programs of other organizations.

[2015-01-30 21:09] alexklinger commented on #149
@amanda-phet I'd be happy to come in early for the design meeting on wed, or monday 11am-5pm.

[2015-01-30 21:12] alexklinger commented on #149
@pixelzoom and @amanda-phet I like the Code for Change copy, as long as it is not trademarked, I don't see a problem seeing as that was a one time event in 2012.

[2015-01-30 21:34] jonathanolson commented on #160
I believe I saw consensus in Skype chat for energySkateParkBasics

[2015-01-30 21:51] pixelzoom commented on #160
We're not going to change the globals defined by assert.js.  If we did, we'd need to change all occurrences of:

to:

@jonathanolson said via Skype:

[1/30/15, 2:48:42 PM] Jonathan Olson: since in general it's sims that rely on the phet.X namespace, not the more general libraries

[2015-01-30 22:13] pixelzoom commented on #160
Completed dot: https://github.com/phetsims/dot/commit/c8a39d255f8d31727cf387fd07577db6d8c1168a

[2015-01-30 22:50] amanda-phet commented on #149
@ariel-phet can you please comment? You seemed to say that since we've been using it without issue we should continue using it.

[2015-01-30 22:52] amanda-phet commented on #149
@alexklinger What is the aspect ratio for this flyer? It looks slightly taller than 8.5x11, which is what we usually print our flyers on. Can you adjust the design to fit on a standard 8.5x11 sheet of paper?

Also, the text on the bottom might be easier to read if the background color was slightly darker.

If you can make these changes, go ahead and put the .ai file in our drive folder.

[2015-01-30 22:53] amanda-phet commented on #138
@alexklinger go ahead and drop the .ai file for the bunny in the drive folder. Thanks!

[2015-01-30 23:38] pixelzoom commented on #160
@jonathanolson removed axon.loadedAxonConfig in https://github.com/phetsims/axon/commit/9db795a128d2e9339b5f7084f8e601fb2b6d5453.

[2015-01-30 23:40] pixelzoom commented on #160
@jonathanolson removed BAM global in https://github.com/phetsims/build-a-molecule/commit/92491b52b46ba264192469e04de6f7d5165358d7

[2015-01-30 23:41] pixelzoom commented on #160
@jonathanolson removed kit globals in https://github.com/phetsims/kite/commit/29e2af5a6cbcf47c8bf29ef1715c8ed48765fb8a.

[2015-01-30 23:47] pixelzoom commented on #160
@jonathanolson removed window.loadedPhetCoreConfig in https://github.com/phetsims/phet-core/commit/d1121ec857d95c2b8fe345e1c6ec72609e4d9d0a.

[2015-01-31 00:30] pixelzoom commented on #160
@jonathanolson removed loadedMobiusConfig in https://github.com/phetsims/mobius/commit/d896843c7491a1e2c6a8720eba1a93bf4b01eb9b.

[2015-01-31 01:42] ariel-phet commented on #149
Fine to use it for our purposes since it is just a recruitment flyer for campus and not something we are sending out in a mass email or advertising on our website. Seems to be a good catchphrase.

[2015-01-31 02:19] pixelzoom commented on #160
@samreid arch.js is creating a lot of globals: targets, websocketURL, websocketPath, webSocket, bufferedWebSocket, storedMessages, storeMessageListener.  Is this intentional/necessary? Or can we encapsulate these in an IIFE?

[2015-01-31 02:33] pixelzoom commented on #160
These globals need some discussion:

window.alloc
window.phetAllocation
window.hewlettOERTracker

If I change them to conform to the naming convention for PhET globals, they would be:

window.phet.phetCore.alloc
window.phet.phetCore.phetAllocation
window.phet.phetCore.hewlettOERTracker

In the case of alloc and phetAllocation, I'm worried about the verbosity.  In the case of hewlettOERTracker, I d

[2015-01-31 02:50] samreid commented on #160
Yes, I think so.  Let's create an arch issue and investigate there.

[2015-01-31 02:55] jonathanolson commented on #160
phetAllocation is used in things like Dot, where there is no creation of a global window.phet.

[2015-01-31 03:02] samreid commented on #160
I haven't had to rely on window.alloc, window.phetAllocation and window.hewlettOERTracker lately so am not too concerned about their verbosity.  Typical use of phetAllocation is something like:

[code]

[2015-01-31 04:06] samreid commented on #160
I agree we should keep assert as a top level global.  (Hard to say whether we will want other exceptions).  But I could be persuaded otherwise if others feel strongly.

[2015-01-31 04:41] samreid commented on #138
Nice work @alexklinger, thanks!

[2015-01-31 04:57] alexklinger commented on #149
@amanda-phet This was designed for 14'' X 17'' which is standard poster size for most of the stuff you see on campus. I'll design one in 8.5'' x 11'' so that you have the option.

[2015-01-31 05:07] alexklinger commented on #138
No problem! Here's a look at the brown bunny.
![bunny-brown](https://cloud.githubusercontent.com/assets/8651105/5986887/5713fe22-a8cc-11e4-83ad-f84fb89a3dbf.jpg)

[2015-02-01 06:02] samreid commented on #160
The "I made one" strategy here seems like a nice way to check for extra window leaks at runtime:
http://stackoverflow.com/questions/14063064/how-to-find-the-global-variables-used-in-my-javascript

[2015-02-01 06:11] pixelzoom commented on #160
Yes, that could be a handy utility.

[2015-02-01 06:14] samreid commented on #160
We could bake it into our framework, and run it when ?ea is turned on.  That could help us crowdsource the testing of it.

[2015-02-01 17:25] pixelzoom commented on #160
When ?ea is on, I want to see assertion failures. Printing legitimate globals might obscure that, so I'd prefer a separate query parameter, something like 'printPhetGlobals'.

[2015-02-01 20:19] samreid commented on #160
Let me clarify: the assertion I was recommending would look something like this:

[code]

where `illegalGlobals` is computed using the logic above together with our heuristics for what is allowed (such as window.phet).

[2015-02-02 17:25] pixelzoom commented on #25
@ariel, can you please review this? We need to keep this issue moving forward, since screenshot is now included in all sims, is untested, and apparently is not supported for IE9 (https://github.com/phetsims/joist/issues/212).

[2015-02-02 17:31] pixelzoom commented on #25
I'll go out on a limb here and increase the priority to high. There are sims that will ship with this feature "soon",  Eg, Molecule Shapes is about to go into dev testing.  And there are probably others (Molecules and Light, Neuron, ...) that are close.

[2015-02-02 17:33] ariel-phet commented on #25
@pixelzoom do you know if the screenshot functionality can be set as an option currently? My thinking is we want to have this not visible to users in any sims we publish until we have done more testing/refinement. I believe also right now the screenshot functionality lives in the PhET menu, we may want to have some discussion around whether that is actually where we should have it or not - could b

[2015-02-02 17:41] pixelzoom commented on #25
@ariel-phet This (and fullscreen) were optional features until we moved to scenery 0.2.  At that point that were made non-optional for some reason.  I was surprised to see that, asked about it, and was assigned to do cleanup (see https://github.com/phetsims/joist/issues/206).  So I'm not psyched to spend my time putting this option back in.

[2015-02-02 17:48] pixelzoom commented on #25
I'll handle restoring the query parameter to make this optional, https://github.com/phetsims/joist/issues/213.

[2015-02-02 17:48] pixelzoom commented on #24
I'll handle restoring the query parameter to make this optional, phetsims/joist#213.

[2015-02-02 17:55] pixelzoom commented on #24
This feature is now off by default (see phetsims/joist#213). When testing is completed, please create an issue to make it "on" by default.

[2015-02-02 17:55] pixelzoom commented on #25
This feature is now off by default (see phetsims/joist#213). When testing is completed, please create an issue to make it "on" by default.

Restoring priority to low.

[2015-02-02 17:57] pixelzoom commented on #24
To make the "Full Screen" menu item visible in the PhET menu, run a sim with "fullscreen" query parameter.

[2015-02-02 17:57] pixelzoom commented on #25
To make the "Screenshot" menu item visible in the PhET menu, run a sim with "screenshot" query parameter.

[2015-02-02 19:07] pixelzoom commented on #160
Discussion about checking for illegal globals ("I made one" strategy) moved to https://github.com/phetsims/phet-core/issues/17.

[2015-02-02 19:10] pixelzoom commented on #160
@jonathanolson said:

OK, I guess we'll leave phetAllocation (and alloc) attached directly to window.

[2015-02-02 19:50] pixelzoom commented on #160
My work on this is done.

Cleanup of arch globals has been assigned to @samreid. See https://github.com/phetsims/arch/issues/22, https://github.com/phetsims/arch/issues/23

Globals that didn't move to window.phet and why:

• assert, assertSlow, assertions - Used everywhere, more convenient to write assert && assert
• phetAllocation, alloc - used in scenery
• hewlettOERTracker - liable to break Goo

[2015-02-02 19:50] #160 closed

[2015-02-02 20:49] jbphet opened #162 "Regression test Balancing Act v1.0.2"
An issue has been identified that warrants a maintenance release for the Balancing Act simulation, see https://github.com/phetsims/balancing-act/issues/40 and https://github.com/phetsims/balancing-act/issues/42.  The fixes that have been implemented for these issues should, in theory, produce no functional changes from v1.0.1, which is currently published on the web site.  The QA team should verif

[2015-02-02 20:50] jbphet commented on #162
This has been discussed with @ariel-phet and @phet-steele (both are in my office at the moment), and @phet-steele will be assigned.

[2015-02-02 21:11] amanda-phet opened #163 "Redesign of teacher/conference flyer"
Redesign the flyer we distribute mainly to teachers at our booth at conferences. We want to advertise our free interactive simulations, give some context about the program and how sims can be flexibly used in classrooms, and especially emphasize the URL and the fact that they are free.

[2015-02-03 01:31] alexklinger commented on #138
Here is the brown bunny
![brownbunny](https://cloud.githubusercontent.com/assets/8651105/6012792/aab1705c-ab09-11e4-9706-06f6eae145ba.jpg)

[2015-02-03 03:19] alexklinger commented on #138
with long tail

![whitebunnylongtail](https://cloud.githubusercontent.com/assets/8651105/6013933/bed58a6e-ab18-11e4-927e-d2ac73fe5579.jpg)

[2015-02-03 03:21] alexklinger commented on #138
with long teeth
![bunny-long-teeth](https://cloud.githubusercontent.com/assets/8651105/6013946/fc1bd964-ab18-11e4-8c48-940167053af8.jpg)

[2015-02-03 06:56] jonathanolson opened #164 "Dev testing for Molecule Shapes 1.0.0-dev.14"
Please dev test the latest version of Molecule Shapes (http://www.colorado.edu/physics/phet/dev/html/molecule-shapes/1.0.0-dev.14/molecule-shapes_en.html)

It has two performance modes, WebGL (used if available) and Canvas. In bug reports, if possible note which modes a bug occurs in. The changes are quite apparent visually (and Canvas is much slower):

WebGL:
![molecule-shapes-webgl](https://clou

[2015-02-03 14:45] ariel-phet commented on #154
A newer iPad and a Macbook air have been ordered, closing

[2015-02-03 14:47] ariel-phet commented on #164
@bryo5363 @orejolaphet @phet-steele @arnabp this should be the next main priority once states of matter dev testing is complete.

[2015-02-03 14:50] ariel-phet commented on #152
@arnabp - can you investigate the requirements for the logos (pixel by pixel size being the main constraint)? Please report in this issue and assign back to me. Thanks!

[2015-02-03 14:56] oliver-phet commented on #152
@ariel-phet - arnabp and I were going to post a "test" sim (probably ESPB) for internal testing. We were just going to hack together some test images at the correct dimensions (this test app will not be publicly available).
Here is the getting started info: https://developer.chrome.com/webstore/get_started_simple

[2015-02-03 14:58] ariel-phet commented on #152
Ah, excellent

[2015-02-03 17:20] bryo5363 commented on #164
@jonathanolson The sim does not open in Safari 8

[2015-02-03 17:30] pixelzoom commented on #164
Opens for me on Mac OS 10.10.2 + Safari 8.0.2.  @bryo5363 what version of Mac OS 10? Or is this iOS?

[2015-02-03 17:33] pixelzoom commented on #164
Perhaps @bryo5363 doesn't have WebGL enabled. If I turn off WebGL, the sim crashes on startup, console error below. (Isn't it supposed to fallback gracefully to canvas?)

![screenshot_446](https://cloud.githubusercontent.com/assets/3046552/6025486/159f9f8e-ab90-11e4-8c96-c2ffd81e96c3.png)

[2015-02-03 18:35] bryo5363 commented on #164
I was using OSX 10.10.1 with Safari 8.0. It was on the testing device labeled Dirac.

[2015-02-03 19:43] arnabp commented on #152
I saw this as an option when publishing a sim, we may want to look into this.

Opt in to include this item in <a href="http://developer.android.com/distribute/googleplay/edu/index.html">Google Play For Education</a>. By opting in, you agree to the ,<a href="https://developer.chrome.com/webstore/play_edu_tos">Google Play for Education Developer Terms and Conditions</a>.

[2015-02-03 21:37] ycarpenterphet opened #165 "Inventory/Cataloging of PhET devices [THU FEB 5]"
We need to inventory all of the PhET communal devices and create an up-to-date digital record of these devices. We've asked folks who've borrowed communal tech to return it to F1011 on **Thursday Feb 5** for inventory day so that we can update our records and give devices more permanent homes.

On this day, these are the tasks that need to happen:

- [x] Ensure that every device has a unique name

[2015-02-03 23:55] arnabp commented on #152
There is also an issue I am running into when I trying to create packaged apps (which will give us offline support) instead of hosted apps (which must be online).

Running the app gives me this console error
[code]
Researching this has led me to find out that Chrome Web Store apps don't support inline javascript. I went ahead and isolated all the inline javascript codes to these:
![screen shot 201

[2015-02-04 00:10] oliver-phet commented on #152
@jonathanolson @samreid Do you guys have any insight in to this?
Here is the relevant content security policy: https://developer.chrome.com/extensions/tut_migration_to_manifest_v2#inline_scripts

[2015-02-04 02:25] jonathanolson commented on #164
https://github.com/phetsims/scenery/issues/374 is a bug that will cause failures for any browser that doesn't have WebGL enabled. Please only test this dev release for WebGL-supported browsers (I'll have another release to test non-WebGL browsers).

[2015-02-04 02:27] alexklinger commented on #141
@amanda-phet
![cannonwip](https://cloud.githubusercontent.com/assets/8651105/6034009/a2dea3b4-abda-11e4-90fc-56d07c915f6d.jpg)

[2015-02-04 02:41] jonathanolson commented on #152
Looks like the way we build sims into one file isn't allowed. It would presumably require us to have an additional way of building sims.

I'll add it to discuss briefly in the developer meeting.

[2015-02-04 06:08] samreid opened #166 "Change the wording for the Forces and Motion: Basics blurb"
While I was working on https://github.com/phetsims/tasks/issues/159 to design the sim README.md pages, I saw the text for Forces and Motion: Basics is still referring to "tug of war".  In https://github.com/phetsims/forces-and-motion-basics/issues/91 we renamed all of the "Tug of War" things to "Net Force" because using the term "Tug of War" could lead to misconceptions.  Hence, we should reword t

[2015-02-04 06:29] samreid commented on #159
I've created an initial draft for review here: https://github.com/phetsims/forces-and-motion-basics  I'll add it to Thursday's agenda for discussion, but let me know if you have any suggestions/improvements in advance.

[2015-02-04 15:05] amanda-phet commented on #141
I think it looks great. I will bring it to the sim team to see what they think.

[2015-02-04 17:07] ariel-phet commented on #141
@amanda-phet, how about you and I discuss this artwork before bringing to the larger team.

[2015-02-04 17:09] pixelzoom commented on #159
Initial draft looks great, thanks for doing this.

A few notes/questions/suggestion:

(1)  "PhET Development Overview" link is broken in both places ("Page not found").

(2) For this sim, it says "an educational physics simulation in HTML5".  The question I have is whether it's necessary to say "physics".  If so, we'll need to substitute "chemistry", "math", etc. as appropriate. And I can see that

[2015-02-04 17:16] ariel-phet commented on #140
Yes, a duplicate, copying some comments into the other issue and closing.

[2015-02-04 17:16] #140 closed

[2015-02-04 18:07] #154 closed

[2015-02-04 18:08] oliver-phet commented on #154
New iPad Air 2 is on the tester desk and will be added to the asset doc tomorrow.

[2015-02-04 18:48] aaronsamuel137 opened #167 "Camtasia front page video assets and gifs"
Hi @orejolaphet,

Could you email me the original camtasia files for the front pages videos? It would be good to have these backed up on a server somewhere.

Also, when you have a chance, can you look into exporting these videos as animated gifs with camtasia? I have been trying to convert the mp4s you sent to gifs, but I am getting lousy quality. If we can get the videos in gif format they will a

[2015-02-04 19:52] phet-steele commented on #162
Everything checks out on iPad, Win 8.1 and OSX 10.9.5. I logged a ticket that contains problems that hopefully don't prevent release.

[2015-02-05 06:37] jonathanolson opened #168 "Test Molecule Shapes 1.0.0-dev.15 and Molecule Shapes: Basics 1.0.0-dev.8"
Please dev test the latest version of Molecule Shapes (http://www.colorado.edu/physics/phet/dev/html/molecule-shapes/1.0.0-dev.15/molecule-shapes_en.html) and Molecule Shapes: Basics (http://www.colorado.edu/physics/phet/dev/html/molecule-shapes-basics/1.0.0-dev.8/molecule-shapes-basics_en.html)

Presumably don't repeat testing done in https://github.com/phetsims/tasks/issues/164.

They has two pe

[2015-02-05 14:47] ariel-phet commented on #164
Test moved to #168 closing

[2015-02-05 14:47] #164 closed

[2015-02-05 14:49] ariel-phet commented on #168
@bryo5363 @orejolaphet @phet-steele @arnabp this should be the next main priority once states of matter dev testing is complete.

[2015-02-05 17:42] ariel-phet commented on #166
Simple wording change made

[2015-02-05 17:42] #166 closed

[2015-02-05 17:50] samreid commented on #166
Thanks, looks good.

[2015-02-05 18:54] oliver-phet opened #169 "Update budgets through Jan"
@arnabp Please prioritize updating these budgets through Jan 2015:
Moore NSF DRK12 NSF DRK12 Matching NSF TUES CHEM

Also, your laptop is in F1011 - should hopefully get labeled today.

[2015-02-05 19:14] oliver-phet commented on #148
We decided at developer meeting on Feb 5 that we will have iFrame and Download as 'optional tests' at the bottom of the testing matrix. The developer can decide which platforms/tests need done when creating the testing task.

[2015-02-05 19:14] #148 closed

[2015-02-05 20:14] samreid opened #170 "Consider publishing through the Apple AppStore"
It would be possible to publish individual simulations through the Apple AppStore.  This could make it easier for certain customers to access and use our simulations, and could improve our visibility.  It could be something like ~20 developer hours to investigate packaging our sims into an WebView (I forget the name of the new, faster iOS8 WebView), but that would be the right starting point.

The

[2015-02-05 20:20] samreid commented on #159
Maybe generate this dynamically on a rebuild?  Version can go in there.

[2015-02-05 20:27] pixelzoom commented on #159
I'll take a look at writing a grunt task, after template has solidified.

[2015-02-05 20:30] samreid commented on #159
Sorry to add work, but it may make a lot of sense to work on the automatic generation of *_en.html pages while working on that.

We may also want to automatically generate the *config.js files as well.

[2015-02-05 20:32] arnabp commented on #169
I updated all of them except Moore, I can't seem to find the folder for that

[2015-02-05 20:36] oliver-phet commented on #169
Sorry, number is: 13005113

From: arnabp [mailto:notifications@github.com]
Sent: Thursday, February 05, 2015 1:33 PM
To: phetsims/tasks
Cc: Oliver Pascal Nix
Subject: Re: [tasks] Update budgets through Jan (#169)

I updated all of them except Moore, I can't seem to find the folder for that

—
Reply to this email directly or view it on GitHub<https://github.com/phetsims/tasks/issues/169#issuecommen

[2015-02-05 20:39] pixelzoom commented on #152
How about just publishing a "PhET Interactive Simulations" app that links to the PhET website. This is what Khan Academy and others have done.  Do that as a first step, and see if PhET gets any traffic before committing resources to publishing individual sims.

[2015-02-05 20:46] pixelzoom commented on #159
... and version.js (until we remove it.)

[2015-02-06 02:59] samreid commented on #159
I addressed @pixelzoom comments above.  Regarding:

I left it as is since I think it is important that the developer can copy all the commands in a single block, and we are discussing automatically generating these.

[2015-02-06 15:51] ariel-phet commented on #161
Although not complete closing for now, so Actual Concepts can proceed with fixes instead of delaying until all platforms are tested.

[2015-02-06 15:51] #161 closed

[2015-02-06 17:58] pixelzoom commented on #159
@samreid I think it's fine to leave "Quick Start" as is, as long as we have a grunt task to auto-generate the README, and that task is run every time we do a build.

@ariel-phet @oliver-phet @jbphet @jonathanolson Any more feedback on the content or process? I'm not going to start on the grunt task for auto-generating README until you've weighed in.

[2015-02-06 18:14] pixelzoom commented on #130
I created the Google doc where I'll start the draft: https://docs.google.com/document/d/16dnSetfnsQAyJpTWm7xocchlL47NcZ3e3qAaOpQtxds/edit

Currently editable by anyone on the PhET team, owned by phethelp.

[2015-02-06 18:15] pixelzoom commented on #159
Priority set to medium, which means sometime in the next 2-3 weeks. @ariel-phet feel free change to priority if you want it done sooner.

[2015-02-06 18:17] pixelzoom opened #171 "change ownership of Google Drive assets to phethelp"
@ariel-phet requested this at 2/5/15 developer meeting. phethelp's Gmail address is phethelp@gmail.com.

[2015-02-06 18:32] pixelzoom commented on #171
I transferred ownership of all PhET documents that I've created to phethelp.

Probably the easiest way to make sure this happens is to keep reassigning this issue until everyone has completed ownership transfer.  (Then figure out what to do with docs that are owned by people who are no longer with PhET.)  Assigning to @ariel-phet next, since he owns a fair number of the docs.

[2015-02-06 18:35] pixelzoom commented on #171
Note that this applies to all types of Google Drive assets (documents, spreadsheets,...)

[2015-02-06 19:35] phet-steele commented on #168
Performance is slow with iOS 7 and Safari with most molecules that have octahedral molecular geometry. The performance is very dismal with the larger real molecules (XeF4, BrF5, PCl5, and SF6) coupled with outer lone pairs being shown. Dragging the molecule quickly results in lone pairs lagging behind and detaching from their molecule. An issue will be made at https://github.com/phetsims/molecule-

[2015-02-07 19:47] pixelzoom commented on #159
@samreid wrote:

@pixelzoom wrote:

Generating the README has no dependencies on any of these other auto-generation tasks, it is self-contained. Auto-generating those things is the subject of https://github.com/phetsims/chipper/issues/63 and https://github.com/phetsims/chipper/issues/74. And I will definitely *not* be addressing those issues as part of this issue.

[2015-02-09 04:47] emily-phet opened #172 "Urgent: Graphic Design Poster Work"
I would like to have PhET's new graphic designer do some polishing of a poster I
have created. The deadline is soon, I need to submit by late afternoon Tuesday Feb.10.

The Powerpoint file is located at https://drive.google.com/file/d/0B44Uycdx6JGdMk9MWUlTQzI3SVU/view?usp=sharing . Again, I would just like a little polishing, if this is possible by mid-day Tuesday.

[2015-02-09 05:12] alexklinger commented on #172
Yeah I can clean it up for you by tuesday. Looks like the spacing could just use some alignment.

[2015-02-09 05:22] ariel-phet commented on #172
@alexklinger  The PhET logo is also incorrect (airplane is missing the tail, low res, incorrect font for Interactive Simulations, and that should be all caps). @amanda-phet can get you the proper logo, but you probably already have access to it on google drive.

[2015-02-09 05:33] emily-phet commented on #172
@alexklinger: Thanks for looking into this. Depending on how much time you have, it could have more substantial changes - I can decrease some the text, and also have some background color.

Here are two examples from the conference where this poster will be shown:

1) ![chi14_wip_poster_mph_kamp_desmet-2](https://cloud.githubusercontent.com/assets/5109055/6101476/351e6b0a-afe2-11e4-9889-9779970dfa

[2015-02-09 07:11] jonathanolson commented on #159
FAMB example looks great to me.

[2015-02-09 15:29] ariel-phet commented on #112
Looks like this is all done, since and is now being made into a webpage. Thanks!

[2015-02-09 15:29] #112 closed

[2015-02-09 15:40] ariel-phet commented on #64
Going to close this issue and reopen if necessary (hopefully not!)

[2015-02-09 15:40] #64 closed

[2015-02-09 15:49] ariel-phet commented on #34
Since Mac OSX 10.10.2 is now part of our testing matrix, I am closing this issue

[2015-02-09 15:49] #34 closed

[2015-02-09 15:49] ariel-phet commented on #121
Current plan is fit this test in after Neuron and Arithmetic are published

[2015-02-09 17:06] ariel-phet commented on #171
All of my docs are done. @samreid you are up next!

[2015-02-09 21:12] ariel-phet commented on #159
I made some slight wording changes about the Development Overview, but otherwise all looks good to me.

[2015-02-09 21:28] oliver-phet commented on #159
Looks good to me.

[2015-02-10 03:22] alexklinger commented on #172
@emily-phet Are there specific physical dimensions this will be printed on?

[2015-02-10 04:20] emily-phet commented on #172
@alexklinger: The maximum size would be 4 feet wide x 3 feet high. The final version will need to be printed for the poster session (at whatever it's final full size is) and also made into an A4 or letter sized pdf file for publication.

[2015-02-10 05:13] alexklinger commented on #172
@emily-phet Okay well I just worked in the powerpoint document you gave me and those dimensions for now. I really like the second example you showed and I'd be happy to do a more thought out concept like that with more time. For now, I've cleaned up a lot of alignment issues, and moved a few things.
![2015-sigchi_handocclusionposter 001](https://cloud.githubusercontent.com/assets/8651105/6121919/f

[2015-02-10 05:21] emily-phet commented on #172
@alexklinger: Looks great! If you're all done, just email me the powerpoint file.

[2015-02-10 05:27] alexklinger commented on #172
@emily-phet Alternatively

![2015-sigchi_handocclusionposter2 001](https://cloud.githubusercontent.com/assets/8651105/6122027/c914ee92-b0aa-11e4-8254-4e942a26a724.jpg)

[2015-02-10 17:16] emily-phet commented on #172
Thanks @alexklinger. Posters were received and submitted (yay!). I went with the one where my name is centered. The final poster doesn't need to be printed until early April. If you have time for a more invasive re-design, that would be wonderful. The conference I'll be presenting at is a tech conference in Korea, where folks have very polished looking presentations.
As an aside, I will also need

[2015-02-10 17:16] #172 closed

[2015-02-10 17:23] emily-phet opened #173 "ACS Poster Design & Polishing"
I will be presenting a poster on accessible PhET simulations at the American Chemical Society Conference in March. The poster was invited as part of the Sci-Mix event, a general audience mixer - so it will get more exposure than a typical poster session. I would like help designing this poster, and also polishing up the final product.

[2015-02-10 17:45] amanda-phet commented on #149
Looks good. Closing.

[2015-02-10 17:45] #149 closed

[2015-02-10 17:47] amanda-phet commented on #158
Once we figure out #163 we will talk to @alexklinger about designing a bookmark to accompany the flyer.

[2015-02-10 17:49] amanda-phet commented on #173
@alexklinger does that timeline work for you? Will you be available early-mid March to work on this?

[2015-02-10 20:27] jbphet commented on #159
The readme file itself, as demonstrated in the FAMB example, looks fine to me.  I made a couple of minor edits to the section of the PhET Development Overview document that talks about getting stable code.

[2015-02-10 20:44] samreid commented on #171
is there a way to transfer google drive document ownership as a batch, or only one at a time?

[2015-02-10 20:45] samreid commented on #171
Looks like CMD-A (ctrl-A) works, and sharing settings will apply to all selected.

[2015-02-10 20:53] samreid commented on #171
Apparently I am unable to change the owner of these document to phethelp:

![image](https://cloud.githubusercontent.com/assets/679486/6136224/37d3ec80-b12c-11e4-8c6d-49cce239ac4e.png)

[2015-02-10 20:59] pixelzoom commented on #171
@samreid wrote:

That's odd... Any idea why? Have you shared those docs to phethelp?

[2015-02-10 21:04] samreid commented on #171
No idea.  After sharing to phethelp, the dropdown box reads like the image below.  Only appears to be a problem for video files and one PDF so far.

![image](https://cloud.githubusercontent.com/assets/679486/6136400/9bfdf7b8-b12d-11e4-9766-35fe521e650e.png)

[2015-02-10 21:13] samreid commented on #171
According to this thread https://productforums.google.com/forum/#!msg/drive/-Wlq_u_1_24/iVrgEOHYOBQJ

[2015-02-10 21:17] samreid commented on #171
I have tried to work around this problem by creating a Google Drive Folder owned by phethelp, then transferring the files into that directory.

[2015-02-10 21:22] samreid commented on #171
OK I finished transferring all of my created documents.  For synced documents I have moved them to a folder called "phet-synced-files" which phethelp owns.  Note to those that follow in my footsteps, I searched `owner: me` to find the documents I owned.  Looks like @jbphet is up next!

[2015-02-10 21:26] samreid commented on #171
Another option for @ariel-phet to consider.  phethelp@gmail.com could download all of those synced files that I own, then reupload them, ensuring that phethelp owns (at least once copy of) them.  I'll leave it up to @ariel-phet to decide whether to go for it, or if it is good enough as it is.

[2015-02-10 21:57] jbphet commented on #162
The issue to which @phet-steele is referring is https://github.com/phetsims/balancing-act/issues/43.  The issue is difficult to reproduce, and has likely always been there, so this should not block publication of the maintenance release.

[2015-02-10 21:58] jbphet commented on #162
Testing seems adequate, thanks.  Closing.

[2015-02-10 21:58] #162 closed

[2015-02-11 05:45] alexklinger commented on #173
@emily-phet Yeah, this works.

[2015-02-11 17:14] amanda-phet commented on #141
@ariel-phet and I discussed this and we have some changes we'd like to see. I like the wooden base, and the very clear pivot point. This cannon here has a triangular base, which would allow for more of the cannon to be visible when it is rotated- let's try something like this, and continue the wooden planks under it as you did above (but perhaps not as wide).

![1077884-clipart-pirate-cannon-royal

[2015-02-11 19:03] amanda-phet opened #174 "test out iPad Air mirroring with Yosemite"
We should be able to screen record an iPad (running iOS 8) using the lightening USB cable (so only the iPad Air is applicable) and a mac running Yosemite (one of the macbook airs, please). See this post: http://www.tekrevue.com/tip/record-iphone-screen-quicktime/

Can you please try this out and let us know how easily it works? If it is smooth, document how to do this (perhaps the same document as

[2015-02-11 19:32] amanda-phet commented on #174
Investigate this, too, to compare: http://www.techsmith.com/tutorial-camtasia-mac-fuse-connect-mobile-device.html?utm_source=social&utm_medium=twitter&utm_content=notification&utm_campaign=cm

[2015-02-11 19:53] pixelzoom commented on #159
What did we decide the README should look like for:
• sims that have not yet been published?
• common-code repos?

[2015-02-11 20:29] ariel-phet commented on #174
@arnabp - since you are a pretty tech savy guy, please work on this task when you get a chance (after your high priority items for @oliver-phet are done)

[2015-02-11 23:09] jonathanolson commented on #159
It probably depends a lot on the specific common-code repo.

[2015-02-12 16:54] bryo5363 commented on #168
The sim looks great on OSX 10.9.5 Chrome 40.0.2214.111 (64-bit)

[2015-02-12 17:01] orejolaphet commented on #167
@aaronsamuel137 I just sent you the folder with all of the website videos. I looked into a converting one of the videos in to a gif format, and the quality was compromised. I'll try to find a way to do it with out losing quality.

[2015-02-12 18:14] orejolaphet commented on #167
My attempts at converting to a gif format with Camtasia leave the gradients discrete, and text very blurry.

[2015-02-12 18:30] aaronsamuel137 commented on #167
I had the same problem. I think (though I'm not positive) it's because the mp4 files are already pretty compressed so the original videos are not high enough quality to yield a high quality gif.

Do you have higher quality originals, or are these mp4s the best we have?

[2015-02-12 18:49] ariel-phet commented on #168
This should currently be top priority to finish off

[2015-02-12 18:56] ariel-phet opened #175 "Dev Test Least-Squares Regression 1.0.0-dev.6"
Please dev test the latest version of Least-Squares Regression (http://www.colorado.edu/physics/phet/dev/html/least-squares-regression/1.0.0-dev.6/)

- [x] Windows + Chrome
- [x] OS X + Safari 7.1+
- [x] iPad iOS 8 + Safari

I know this testing has already begun, just creating an issue to track progress.

[2015-02-12 19:18] #169 closed

[2015-02-12 20:55] samreid commented on #159
Perhaps we should put together a working example for Joist (typical PhET repo) and for Scenery (custom PhET repo).  Anyone feel free to start on this or let me know if I should do so.

[2015-02-12 21:13] ycarpenterphet commented on #165
Colored labels arrived today for labelling the power cables associated with various devices. I've placed these on the desk, so could @orejolaphet wrap up this task by adding the color-coded labels to the charging cables as discussed last week?

Once that's done, feel free to close this task.

[2015-02-16 14:57] emily-phet opened #176 "Accessibility (Draft) Icons"
I'd like Alex to draft up a consistent, and playful, set of accessibility icons. This would include icons for:
- keyboard navigation
- text to speech
- auditory descriptions
- sonification
- multiple languages

They don't need to be fancy, they just need a consistent aesthetic somewhat aligned with PhET's other icons, and a general playful look. Below are a few of the better ones that I found onli

[2015-02-16 17:03] samreid commented on #176
I think it would be helpful for you to describe the context where the icons will be used.

[2015-02-16 17:05] emily-phet commented on #176
The icons will be used in grant proposals and presentations.

[2015-02-17 16:42] bryo5363 commented on #168
The simulation does not open on IE 9

[2015-02-17 17:02] ariel-phet opened #177 "Dev Testing for Molecules and Light 1.0.0-dev.5"
@orejolaphet, @phet-steele, @bryo5363

Please dev test the latest version of Molecules and Light (http://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.0.0-dev.5/molecules-and-light_en.html)

- [x] Windows + Chrome
- [x] OS X + Safari 7.1+
- [x] iPad iOS 8 + Safari

Please check than any previously reported issues have been addressed

[2015-02-17 18:37] orejolaphet commented on #165
All of the apple chargers have now been color labeled. Scheme is as follows
Yellow- Macbook Air
Red- iPad
Blue- iPad Mini & iPad air
Green- Mac Book Pro
Closing.

[2015-02-17 18:37] #165 closed

[2015-02-17 18:40] orejolaphet commented on #167
Videos I sent you were the highest quality I had left. I did noticed there were apps dedicated to gif conversion that seemed fairly good quality, although they cost money (2-5 dollars or something).

[2015-02-18 15:19] amanda-phet commented on #176
@alexklinger we are thinking of using the fontawesome icon for translation on the website so maybe you can start there in terms of look and feel?

[2015-02-18 20:00] pixelzoom opened #178 "coding guidelines don't mention 'Property' suffix convention"
The "PhET Development Overview" section of does not include the PhET convention of using 'Property' as the suffix of all names of type axon.Property. This should be explicitly specified in the coding guidelines, so that 3rd-party developers are aware of this. For example, see https://github.com/phetsims/sugar-and-salt-solutions/issues/8.

[2015-02-19 02:25] jonathanolson commented on #171
I've changed ownership on all of my shared files (all docs).

[2015-02-19 05:53] jonathanolson commented on #168
Closing for now, thanks! I have the IE9 issue fixed, and presumably we'll have an RC soon.

[2015-02-19 05:53] #168 closed

[2015-02-20 20:32] orejolaphet commented on #177
Testing on requested platforms have been completed. All previously reported bug related issues have been addressed. Closing.

[2015-02-20 20:32] #177 closed

[2015-02-21 03:14] ariel-phet commented on #175
Looks like all testing is complete. Closing

[2015-02-21 03:14] #175 closed

[2015-02-21 03:17] ariel-phet commented on #167
Looks like @aaronsamuel137 now has the original files, and if direct conversion from camtasia does not produce good results, it is highly unlikely that an app will do better (camtasia is pretty elite software). Closing this issue.

[2015-02-21 03:17] #167 closed

[2015-02-23 21:47] alexklinger commented on #163
![flyerredesign-04](https://cloud.githubusercontent.com/assets/8651105/6338281/eea76a98-bb6a-11e4-8469-6a0d4e2ae372.png)

[2015-02-23 22:06] pixelzoom commented on #163
Looks like there's a black rectangle across the top of the "Color Vision" screenshot. You can see it in the top "thought bubble" and in the red slider.

[2015-02-23 22:18] amanda-phet commented on #163
This is just to show the progress made so far- by no means a final draft!

[2015-02-24 03:04] jonathanolson opened #179 "RC testing for Molecule Shapes 1.0.0-rc.1 & Molecule Shapes: Basics 1.0.0-rc.1"
"Molecule Shapes" and "Molecule Shapes: Basics" are ready for their release-candidate testing.

Release candidates:
http://www.colorado.edu/physics/phet/dev/html/molecule-shapes/1.0.0-rc.1/molecule-shapes_en.html (regular)
http://www.colorado.edu/physics/phet/dev/html/molecule-shapes-basics/1.0.0-rc.1/molecule-shapes-basics_en.html ("Basics")

Test matrices:
https://docs.google.com/spreadsheets/d/

[2015-02-24 03:37] ariel-phet commented on #179
@bryo5363 @orejolaphet @phet-steele @arnabp please make this your top testing priority

**Also Note** the testing matrix now includes a section at the bottom for "other tests" -- such as testing that the download file works, and the iframe works. Since both these solutions were robust, they only need to be tested on the platforms listed.

[2015-02-24 21:38] pixelzoom commented on #159
One of the things that must be filled in is the sim *description* ("Explore the forces at work in a tug of war...")  For Java/Flash sims, the description originally lived in the strings file. It was later removed from the strings file (and About dialog), and made the responsibility of the website. That said... The description currently does not live anywhere in the sim repo. And perhaps it shouldn

[2015-02-24 21:41] pixelzoom opened #180 "design README.md for common-code repos"
Related to https://github.com/phetsims/tasks/issues/159 (design README.md for sim repos).

For common-code repos:

1. What is the template for README.md?
2. When is the README.md generated?

[2015-02-24 21:42] pixelzoom commented on #159
Design of common-code README.md moved to https://github.com/phetsims/tasks/issues/180.

[2015-02-24 21:44] pixelzoom commented on #180
In #159...

@jonathanolson said:

So perhaps we don't have a template?...

@samreid said:

[2015-02-24 21:49] samreid commented on #180
Amending my statement based on new information: I'm busy for the next week at least, so won't be able to start on this now.

[2015-02-24 23:56] alexklinger commented on #141
![cannon](https://cloud.githubusercontent.com/assets/8651105/6362049/02b8d7de-bc46-11e4-9fbf-97395c09afaf.jpg)

[2015-02-25 17:27] alexklinger commented on #141
I decided to shy away from the star idea because it signifies the U.S.A to me and I don't know if that's appropriate for your international audience.

[2015-02-25 20:57] pixelzoom commented on #159
@ariel-phet @oliver-phet @samreid @jonathanolson @jbphet Opinions on https://github.com/phetsims/tasks/issues/159#issuecomment-75851874 please.

[2015-02-25 21:02] oliver-phet opened #181 "Look into privacy of youtube videos"
Hey @arnabp, you might already know the answer to this.. but is there a way to make a video "unlisted" but with even higher privacy? For instance, if we embed the video in a webpage, the user would not be able to click back to YouTube or see the URL and pass it on to someone else (they would only be able to access/see the video on the webpage).

[2015-02-25 21:20] samreid commented on #159
I do like how the blurb appears in https://github.com/phetsims/forces-and-motion-basics -- would feel a bit bare without that blurb text.  Perhaps it could appear in the package.json as "blurb".  But to answer your direct questions:

I would categorize it as desirable rather than necessary.

Package.json seems straightforward, but other places may make sense as well.

[2015-02-25 21:33] pixelzoom commented on #159
If it lives in package.json, how will the website get it?  How will it get translated? We should avoid having it live in both package.json and the website database, it will likely get out of sync.

[2015-02-25 21:36] pixelzoom commented on #159
If it needs to be in the template, then I think (a) it needs to be in the strings file, (b) it needs to be translated using Rosetta, and (c) the website needs to get the translated string from the sim.

I would prefer to see it go away, and make the description live solely on the website, as we did for Java/Flash sims.  Doing a lot of work so that it can in the repo README.md is misplaced effort.

[2015-02-25 22:09] samreid commented on #159
Here are my preferences (top=first preference), but I'd like to hear from @ariel-phet @oliver-phet @jonathanolson @jbphet as well.

1. Include english-only blurb text in the sim README.md files, and run the risk that sometimes they may be out of sync with what appears on the website
2. Don't include blurb text in the README file
3. Invent a complex, expensive or brittle system that lets the text a

[2015-02-25 22:17] jonathanolson commented on #159
Some thoughts:
1. We shouldn't have to deploy a sim to update the description.
2. We'll need templates for repos that aren't published yet, and presumably don't have descriptions.
3. I'd prefer having a completely separate description in package.json for the template, as our description for (presumably) primarily developers may differ from the description for teachers/students.

[2015-02-25 22:23] arnabp commented on #181
The other privacy setting above unlisted is private, which requires users to be directly invited by the creator via email to view the video. I'm not sure how well these translate to embedding and what restrictions we can place on embedded videos though, I can look into that on thursday.

[2015-03-01 20:45] alexklinger commented on #163
![flyerredesignalexpg2](https://cloud.githubusercontent.com/assets/8651105/6432729/395fa3f4-c019-11e4-98c2-f4841b177064.jpg)
![flyerredesignalexpg1](https://cloud.githubusercontent.com/assets/8651105/6432730/396042fa-c019-11e4-8bdd-6418d97e7e90.jpg)

[2015-03-02 19:19] pixelzoom commented on #159
@jonathanolson wrote:

(1) The description has (up until now) been described as the same description that appear on the sim's website page. Why do we need a description that's specific to developers? Why can't they just visit the PhET website (via the link provided in the template) to have a look at the sim?

(2) By "may differ" it sounds like having a developer-specific description would be the e

[2015-03-02 19:31] ariel-phet commented on #159
I suppose the operative question for me becomes "who is the description for" -- ie, what is the use case? On the website it is really for teachers/students.

I assume (but perhaps I am wrong) that the main use case is a developer who is already familiar with our simulations is visiting our repos to look at the source code. Our descriptions tend to be "touchy feely" and not really styled towards th

[2015-03-02 19:32] amanda-phet commented on #163
Thanks @alexklinger. Can you please email me the ai file so that I can edit the prompts and copy?

[2015-03-02 20:32] jonathanolson commented on #159
I'm fine dropping the description then.

[2015-03-02 20:36] samreid commented on #159
I'd be okay with testing out the compromise @ariel-phet described, pointing to the simulation page.

[2015-03-02 21:49] amanda-phet commented on #176
@emily-phet Is it too late for these icons at this point? If not, we can have Alex prioritize this task.

If it is too late, I would still like to keep this issue open because it will be extremely valuable down the road for indicating accessibility (eg., on sim pages).

[2015-03-03 03:47] ariel-phet commented on #180
Seems like a good topic for dev meeting, I will put it on the agenda

[2015-03-03 14:11] emily-phet commented on #176
It's never too late...for some things. :) Sure, keep 'em coming. There are always more grants, presentations, meetings, etc. The next upcoming deadline will probably be the ACS poster - timeline for that is in that github issue.

[2015-03-03 21:42] pixelzoom commented on #144
Not sure why, but this issues was moved over to #159. Closing.

[2015-03-03 21:42] #144 closed

[2015-03-03 21:43] pixelzoom commented on #25
This issue was accidentally closed, reopening.

[2015-03-03 22:13] pixelzoom commented on #25
Note that screenshot is not supported on IE, see https://github.com/phetsims/joist/issues/212. Do we want to test this feature before addressing that issue?

[2015-03-03 22:14] jonathanolson commented on #25
I just successfully took a screenshot on IE11 (with ?screenshot), do you mean a specific version?

[2015-03-03 22:26] pixelzoom commented on #25
IE9, as noted in phetsims/joist#212.

[2015-03-04 01:45] alexklinger commented on #176
I think it would be more efficient to use http://thenounproject.com/ in this case. All of there icons can be used free with attribution to the designer. For $10 dollars per month, they can be used w/o attribution, and for about $2-3 dollars each you can purchase individual licenses for icons, which is probably cheaper than my hourly wage when you account for the time it would take for me to make t

[2015-03-04 03:30] amanda-phet commented on #176
@alexklinger Can you pick out some icons that you think would work?

[2015-03-04 03:41] ariel-phet commented on #176
Just to chime in here...I do not really think cost is the issue. It is more important that they feel consistent with our look and feel and the PhET brand in general. It might be useful to find some icons that have the correct basic idea and work from there. Notice above that @emily-phet said:

a consistent aesthetic somewhat aligned with PhET's other icons, and a general playful look.

I am thinki

[2015-03-04 03:42] ariel-phet commented on #181
@aaronsamuel137 mentioned that vimeo might be another option.

@arnabp can you look into the pricing structure for vimeo as a video host?

[2015-03-04 16:28] emily-phet commented on #176
My thoughts...I'd prefer to not have to worry about attribution (these will be used in a variety of materials, that will likely be reused in various ways for many months - or years - to come).

[2015-03-04 19:45] amanda-phet commented on #163
After review by Kathy and others, we have a new version of our teacher flyer. Thanks @alexklinger

[2015-03-04 19:45] #163 closed

[2015-03-05 19:58] arnabp commented on #181
Vimeo pro lets us customize the video to remove any backtrace links and lets us keep the video private and unlisted. Vimeo plus lets us remove the links but the video will still be listed on their site.

Vimeo Pro: $200/year
Vimeo Plus: $60/year

[2015-03-05 20:11] oliver-phet commented on #181
Is there any limit to the amount of videos we could upload using either account?

[2015-03-05 20:15] samreid commented on #180
We agreed Joist is already in pretty good shape:
https://github.com/phetsims/joist

Each other repo just needs its description.

[2015-03-05 20:16] samreid commented on #180
@pixelzoom will start adding descriptions to some common repos.

[2015-03-05 20:28] arnabp commented on #181
On Pro we can add a maximum of 20 GB of video each week. On Plus it's 5 GB per week

[2015-03-05 21:35] pixelzoom commented on #180
I updated the README.md for the common-code repos:

assert
axon
babel
chipper
dot
joist
kite
phet-core
phetcommon
scenery
scenery-phet
sherpa
sun

I did not do `arch` and `together` because they currently have lots of notes related to prototyping.

I also did not do phetsims/brand and phetbrand/brand (private), because I'm not sure what we should say about these.

Other developers, feel free to re

[2015-03-05 21:36] arnabp commented on #174
Setting up the quicktime recording on iPad is pretty straightforward, if you wanted to paste these instructions into the reflector document:
{
Plug in iPad to Macbook via Lightning USB cable
Open Quicktime (Image Capture will probably also open, ignore it)
Go to File>New Movie Recording
Click on dropdown arrow beside record button and select the iPad for both camera and microphone*
Click on the re

[2015-03-05 23:25] oliver-phet opened #182 "Update budgets for Feb, add ending balance (as of Feb 28) to 'PhET Budget FY2015_MarDistributions_KP'"
@arnabp Can you please prioritize updating budgets through Feb. They should be ready by Tuesday when you are here.

You can add the balances in row 4 of the sheet.

[2015-03-06 05:37] ariel-phet commented on #181
20 GB a week is a pretty serious amount of video...let plan on discussing these options with @kathy-phet

[2015-03-06 17:14] bereaphysics opened #183 "Test Least Squares Regression 1.0.0-rc.1"
Least Squares Regression 1.0.0-rc.1 is ready for release candidate testing:
http://www.colorado.edu/physics/phet/dev/html/least-squares-regression/1.0.0-rc.1/

The test matrix: https://docs.google.com/spreadsheets/d/1fuKgDgWtNw0QjrkA08F4albsVDKlmdwjTjop5qszBi4/edit#gid=2

[2015-03-06 17:18] bereaphysics commented on #183
Assigning to @ariel-phet

[2015-03-06 17:48] ariel-phet commented on #178
@samreid can you add this info to the development overview?

[2015-03-06 17:50] ariel-phet commented on #174
@amanda-phet can you put these descriptions/video in the appropriate place and then close the issue?

[2015-03-06 17:51] ariel-phet commented on #179
It appears there is good testing coverage for this task and a new RC is necessary. Closing the test issue

[2015-03-06 17:51] #179 closed

[2015-03-06 17:54] ariel-phet commented on #183
@phet-steele @orejolaphet and @bryo5363 please make this sim your current top testing priority. Should be fairly straightforward testing. Thanks!

[2015-03-06 17:57] ariel-phet commented on #180
I put this as an agenda item for Thursday March 12 developer meeting. Perhaps we can just fill out the descriptions at that time for the 4 remaining repos

[2015-03-06 18:08] amanda-phet commented on #174
I added it to the Interview Resources folder on Drive.

[2015-03-06 18:08] #174 closed

[2015-03-06 19:48] samreid commented on #178
I added this section to the style guidelines at https://docs.google.com/document/d/1odXkliRagq0zuf1_NdOtQ2BrkC9hwlISnPi2y-dKdrk/edit#heading=h.1oxr3ptyo50w

@pixelzoom want to take a look?

[2015-03-06 19:59] phet-steele commented on #5
@ariel-phet @patricialoeblein  what's the latest from Gooru? It's been awhile since I've heard anything new aside from we were moving to each HTML sim having its own page.

[2015-03-06 20:48] pixelzoom commented on #178
Perfect, closing.

[2015-03-06 20:48] #178 closed

[2015-03-06 20:48] patricialoeblein commented on #5
We have not done any work for gooru for a while. We have been updating the shared spreadsheet whenever a new sim is published. Our plan was to contact them when the new sim pages go live because the urls that they use will be broken.
Trish

From: phet-steele [mailto:notifications@github.com]
Sent: Friday, March 6, 2015 1:59 PM
To: phetsims/tasks
Cc: Patricia J Loeblein
Subject: Re: [tasks] Gooru C

[2015-03-07 02:45] ariel-phet commented on #181
In an email referring to some of the issues with youtube @oliver-phet said:

"Yes, the plan would be to set the videos as ‘private’ so that they wouldn’t be searchable. However, users could watch the video on the sim pages and right-click the video to get the video url (or click the youtube text to take them to the video on youtube). Hiding the navigation also hides the pause/play buttons and this

[2015-03-09 05:24] ariel-phet commented on #9
Hey @BrianNewsom -- this might be an interesting little project that you would have the skill set to help out with. I will email with some more details.

[2015-03-09 05:30] samreid commented on #9
I'd also recommend running `clone-missing-repos.sh` before or after the mass pull, in case any new repos have been created.

[2015-03-09 05:32] ariel-phet commented on #9
@samreid is it possible to make sure no private repos are included in this missing repos script for the moment? Private repos require a password each time which currently stalls the pull-all script unless someone is there to manually enter the password for each one, so we have taken all private repos off phettest (since they are not necessary for testing purposes at the moment)

[2015-03-09 05:39] samreid commented on #9
I compared the list of active-repos used by clone-missing-repos (which is https://github.com/phetsims/chipper/blob/master/data/active-repos ) against our list of private repos which you can view here https://github.com/phetsims/?query=+only%3Aprivate+ and didn't see any matches.  Do you know what repos this has been a problem for in the past, and do you know if this is still a problem at the momen

[2015-03-09 05:48] ariel-phet commented on #9
Oh, I have never used the clone-missing-repos script...I just assumed it would also grab the private ones as well. If it is only grabbing the repos with dependencies that is great.

[2015-03-09 05:49] samreid commented on #9
Well, I haven't tried any scripts from a non-admin account, so just let me know what problems you run into.

[2015-03-09 21:19] ariel-phet opened #184 "Restore CafePress Pages with active merchandise"
Hey @oliver-phet - I believe awhile back you had @arnabp disable all of the active content from the cafepress store we had begun to set up.

Now that we have been given the go ahead to use CafePress by the university legal team it would be good to restore the ability to buy merchandise and see where we were at before advertising our storefront.

Feel free to reassign to @arnabp if he would be the

[2015-03-09 21:56] ariel-phet commented on #132
@bryo5363 and @orejolaphet - this task is becoming a higher priority since we are making nice progress on changes to our sim pages.

I think it would be good to go through all the sims that can be easily resized to the correct aspect ratio first, and we will then figure out how to deal with the outliers.

@bryo5363 - how many of the sims have you done so far?

[2015-03-09 22:57] pixelzoom commented on #159
I implemented a `generate-published-README` grunt task, and took a few liberties tweaking the README format. Here's an example of the output: https://github.com/phetsims/reactants-products-and-leftovers.

This task is *not* integrated into any of the other tasks, because it's intended only for published sims. So until we have a `deploy-production` task, you'll need to run this manually.

@ariel-ph

[2015-03-09 23:00] pixelzoom commented on #159
A question: Do we want any of the links in README.md to open in a new tab/window? My opinion isn't too strong, but while developing this, it felt like all of the links should open in a new tab/window.

[2015-03-09 23:02] pixelzoom opened #185 "design README.md for unpublished sim repos"
Splitting this issue out of #159.  What should the README.md look like for unpublished sim repos?

[2015-03-09 23:03] pixelzoom commented on #159
We have not decided what the README should look like for unpublished sim repos. I've moved that to issue https://github.com/phetsims/tasks/issues/185.

[2015-03-09 23:11] pixelzoom commented on #185
My inclination is to keep the README for unpublished sims as simple as possible. Here's an example, with corresponding screenshot below: https://github.com/phetsims/function-builder.

@ariel-phet @samreid @jbphet please provide feedback.

![screenshot_482](https://cloud.githubusercontent.com/assets/3046552/6566443/2e810574-c67f-11e4-9e08-32cdea51f9b5.png)

[2015-03-09 23:25] pixelzoom commented on #185
README.md can be generated for an unpublished sim using `grunt generate-unpublished-README`. It currently uses a template that produces the format shown in the comment immediately above.

[2015-03-09 23:29] pixelzoom commented on #159
A bunch of commits for this issue were accidentally tagged as being associated with phetsims/chipper#159. I'm not going to try to mention them all here. The files that are relevant are:

[code]

[2015-03-10 00:59] ariel-phet commented on #185
That seems nice, simple, and to the point. I believe it also serves the purpose of making clear that this sim is not yet published. Feel free to just go with this solution.

[2015-03-10 01:01] ariel-phet commented on #159
I think it would be appropriate for links to open in a new tab/window, since all the links lead away from github.

[2015-03-10 15:13] pixelzoom commented on #159
All links now open in a separate tab/window.

[2015-03-10 15:14] pixelzoom commented on #185
This solution is what is currently implemented for `grunt generate-unpublished-README`.
And all links now open in a separate tab/window.

[2015-03-10 16:57] pixelzoom commented on #185
We reviewed this  3/10/15 developer meeting:

• Add “Documentation” section (same as published)

[2015-03-10 16:58] pixelzoom commented on #159
Notes from 3/10/15 developer meeting:

• Delete step 4 in “Quick Start”
• Move steps 5 & 6 under a new “Get Involved” heading

[2015-03-10 18:31] pixelzoom opened #186 "generate README files for published sims"
This needs to be done manually. It can be done most quickly by using IntelliJ IDEA for git commit and push.  But if you'd prefer to have a non-developer do it, the steps for each sim are shown below (example is for acid-base-solutions). Requires chipper and `npm install` in all directories.

[code]

[2015-03-10 18:32] pixelzoom opened #187 "generate README files for unpublished sims"
This needs to be done manually. It can be done most quickly by using IntelliJ IDEA for git commit and push.  But if you'd prefer to have a non-developer do it, the steps for each sim are shown below (example is for graphing-quadratics). Requires chipper and `npm install` in all directories.

[code]

[2015-03-10 18:33] pixelzoom commented on #187
Assigning to @ariel-phet to decide how to complete this task.  The repo description should be edited at the same time.

[2015-03-10 18:34] pixelzoom commented on #186
Assigning to @ariel-phet to decide how to complete this task.  The repo description should be edited at the same time.

[2015-03-10 18:34] pixelzoom commented on #159
All changes incorporated, see https://github.com/phetsims/reactants-products-and-leftovers for an example.  Updating the README for all published sims will be done in https://github.com/phetsims/tasks/issues/186.

Closing.

[2015-03-10 18:34] #159 closed

[2015-03-10 18:35] pixelzoom commented on #185
All changes incorporated, see https://github.com/phetsims/function-builder for an example. Updating the README for all unpublished sims will be done in #187.

Closing.

[2015-03-10 18:35] #185 closed

[2015-03-10 18:35] samreid commented on #159
The changes from today's meeting look great, nice work @pixelzoom.

[2015-03-10 19:26] pixelzoom commented on #186
@ariel-phet never mind, I took care of this. README and repo description has been updated for all published sims.

[2015-03-10 19:26] #186 closed

[2015-03-10 20:38] pixelzoom commented on #187
I generated README.md files for all unpublished sims. The only sim in a funky state is plinks-probability (violates some naming conventions), so I create https://github.com/phetsims/plinko-probability/issues/7 to deal with generating its README.md.

[2015-03-10 21:09] #187 closed

[2015-03-10 22:20] pixelzoom commented on #130
I'm at a good stopping point with this. I don't expect everyone to agree with it, but it's representative of what I consider while doing a code review.

Assigning to @ariel-phet to decide how to proceed.

[2015-03-11 15:27] amanda-phet commented on #141
@alexklinger Can you upload the illustrator file for this cannon to the Drive folder?

[2015-03-11 20:08] amanda-phet opened #188 "Booth banner ideas"
We already made a new banner with a new design that emphasizes the quantity of our sims and the impact they have on learners.

We want to work on banner with a "conversational" question.

@ariel-phet starts off the brainstorming with: "Shouldn't the best educational resources be FREE?"

[2015-03-11 20:27] ariel-phet opened #189 "Install Google Chrome browser on Intel Education tablet"
Hey @arnabp when you get a chance in the nearish future can you figure out how to install Chrome on the Intel Education tablet I gave you.

[2015-03-11 22:14] oliver-phet opened #190 "Research good headset (high quality mic)"
@arnabp Can you look into some good microphones for recording audio. Something "hands free" would be ideal - maybe a headset, but look into desktop mics also. Maybe some regular youtuber's have recommendations on mics they record with?

[2015-03-11 22:24] arnabp commented on #190
The <a href="http://www.amazon.com/Blue-Microphones-Snowball-Condenser-Microphone/dp/B006DIA77E/ref=sr_1_1?s=musical-instruments&ie=UTF8&qid=1426112379&sr=1-1&keywords=blue+snowball"> Blue Snowball </a> is easily the best relatively inexpensive desktop mic.

If we want to go more toward studio grade there's the <a href="http://www.amazon.com/Blue-Microphones-Yeti-USB-Microphone/dp/B002VA464S/ref=s

[2015-03-11 22:33] samreid commented on #190
@pixelzoom may also have some good suggestions here.

Also, I have a Shure XLR with mic stand that isn't doing anything at the moment, but it requires XLR to USB adapter.  Let me know if I should bring it in.

Also, in my experience, MacBooks/iPads/iPhones are pretty great with audio recording.

[2015-03-11 22:57] pixelzoom commented on #190
For "recording audio" is a little vague, but I'll assume that you want to record voiceovers and conversations. Unless you want to mess around with an audio interface, you'll want a USB mic.

Two important considerations:

(1) What pattern do you need? Microphones have different response "patterns". Some are unidirectional, some are omni-directions. If you choose the wrong one for the job, you'll b

[2015-03-11 22:59] pixelzoom commented on #190
@samreid wrote:

Again, don't know what you're trying to do with this. But I agree with @samreid here. Have you tried recording with the built-in mic on a Mac device?

[2015-03-11 23:17] ycarpenterphet commented on #190
@oliver-phet, is this the mic we would be ordering for recording video primers? Or is this a different conversation?

If this is the one for video primers (and other content we'll publish to the website), our biggest priority is good audio quality that minimizes background noise while recording sim actions and voiceover narration in Camtasia.

Using the macbook's internal microphone sometimes has

[2015-03-12 17:46] schasteen commented on #190
I agree with YY.  We want something that is hands free, because the person recording will be manipulating the simulation.  We want something that is close to the mouth, to minimize noise from the computer fan and have a nice warm feel.  I have a personal headset that I use for Skype which works well (but it's old, so we want something newer that can live at PhET for others to use).   So, I would g

[2015-03-13 09:52] arnabp commented on #190
You can move the blue snowball pretty close toward the person's mouth but it is fairly large like most desktop mics and might get in the way of the person attempting to use the sim.

Most headsets are either too expensive or come with very subpar microphones. So <a href="http://www.modmic.com/collections/frontpage/products/modmic-4-0"> ModMic </a> is probably your best option for a good quality mi

[2015-03-13 15:57] amanda-phet opened #191 "Go in to PhET administration and delete all "Ratings""
There are a number of sims that have a "Rating" in the administrative side of the PhET website. These ratings produce a legend icon on the sim page (for example, http://phet.colorado.edu/en/simulation/beta-decay has an "under construction" logo in the top right corner of the sim page).

We would like to delete all of these ratings from each sim that has one. If you log in to the PhET site as an ad

[2015-03-13 16:40] ariel-phet commented on #191
Should be complete.

[2015-03-13 16:40] #191 closed

[2015-03-13 17:14] phet-steele commented on #183
Testing matrix is completely filled out.

[2015-03-13 17:23] ariel-phet commented on #183
Excellent, thanks!

[2015-03-13 17:23] #183 closed

[2015-03-13 17:54] jbphet opened #192 "Collect performance data for Molecules and Light on iPad 3"
There is some work be done to improve the performance on the Molecules and Light simulation, and I could use some help collecting current performance data.  We need the average FPS rate on an iPad three for two different versions in four scenarios.  The two version are:
+ http://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.0.0-dev.8/molecules-and-light_en.html
+ an experimental ver

[2015-03-13 17:56] ariel-phet commented on #192
@phet-steele - definitely make this your top priority for the moment

[2015-03-13 18:07] ariel-phet commented on #130
@pixelzoom created a google doc with fleshed out examples and I have created a cut and paste checklist (with a link to the google doc included) here:

https://github.com/phetsims/phet-info/blob/master/code_review_checklist.md

I changed the google doc sharing to be anyone with the link can view

@samreid do you want to put a link to the template in the the development overview? I think that should

[2015-03-13 18:28] phet-steele commented on #192
For model A1416 (iPad 3 Disessa) with iOS 8.1 and Safari 600.1.4, these are the numbers for 1.0.0-dev.8 taken over 60 seconds at 1 second intervals:

1. Idle: 59.933 fps
2. Infrared + CO: 29.517 fps
3. Pressing "Return Molecule": 24.333 fps
4. UV idle: 29.917 fps

[2015-03-13 18:52] phet-steele commented on #192
For model A1416 (iPad 3 Disessa) with iOS 8.1 and Safari 600.1.4, these are the numbers for the experimental version taken over 60 seconds at 1 second intervals:

1. Idle: 59.95 fps
2. Infrared + CO:  30.883 fps
3. Pressing "Return Molecule": 25.267 fps
4. UV idle: 29.933 fps

[2015-03-13 18:59] jbphet commented on #192
Thanks @phet-steele - this is all we need, at least for now.  Closing.

[2015-03-13 18:59] #192 closed

[2015-03-13 19:34] schasteen commented on #190
This looks fine to me.  Go ahead and order this, but be sure to get the USB adaptor that they say will be needed for a Mac.

On Mar 13, 2015, at 3:52 AM, arnabp <notifications@github.com<mailto:notifications@github.com>> wrote:

You can move the blue snowball pretty close toward the person's mouth but it is fairly large like most desktop mics and might get in the way of the person attempting to us

[2015-03-14 01:24] ariel-phet commented on #130
@pixelzoom, @jbphet, @bereaphysics, @jonathanolson, @aaronsamuel137, @samreid

I have also made this an agenda item to discuss at dev meeting 3/17/2015

[2015-03-16 16:11] samreid commented on #130
It is confusing having two very similar documents, with much copy+paste between them--they will be difficult to maintain, difficult to reference, and will get out of sync easily.  I recommend moving the examples from the google doc into the code review checklist MD file, then deleting the google doc.  The examples can be made more concise if necessary (but I don't mind if they are verbose).

[2015-03-16 16:16] samreid commented on #130
Ideally we will want to align these as much as possible.  Here is one possible plan:
1. Make sure the review checklist covers all of the items currently in the development overview
2. Delete the content from the development overview
3. Add a prominent link from the development overview to the review checklist MD file.

Thoughts from @pixelzoom @ariel-phet @aaronsamuel137 @jbphet @jonathanolson?

[2015-03-16 16:43] samreid commented on #130
I have made several updates here (didn't notice these were different repos, so commit messages were not referencing this issue properly):
https://github.com/phetsims/phet-info/commits/master

* Link to anchor for coding style guidelines, see #130
* Added a checklist item "Are there git repository branches that are no longer used and should be pruned?"
* Fixed grammar error, see #130
* Unified quot

[2015-03-16 16:44] samreid commented on #130
I recommend to rename all usages of the word "imports" and related phrases to "require statements".  Imports are for Java, Python, etc.  OK @pixelzoom ?

[2015-03-16 16:56] samreid commented on #130
The relationship between the review checklist and the development overview's "Coding Style Guidelines" is unclear.  Should we move items from the "Coding Style Guidelines" to the review checklist?

[2015-03-16 16:57] samreid commented on #130
The review checklist MD file says "Are all imports and constants grouped at the top of js source files, similar to this?" but it doesn't refer to anything.

[2015-03-16 17:00] samreid commented on #130
I'm really confused. Multiple times above in this issue thread, it says the checklist should live in tasks/doc.  However, it lives in phet-info.  Is this as intended?  If so, is this issue thread just here vestigially?

[2015-03-16 17:05] samreid commented on #130
The Development Process & Checklist significantly overlaps this checklist.  Overlaps should be identified and isolated:
https://docs.google.com/document/d/1odXkliRagq0zuf1_NdOtQ2BrkC9hwlISnPi2y-dKdrk/edit#heading=h.tslwrzmorfdr

[2015-03-16 17:07] samreid commented on #130
I'd like to continue my review of the checklist, but would like many of the issues I raised above and overlaps with the PhET Development Overview to be resolved first.  Reassigning to @pixelzoom.

[2015-03-16 17:16] ariel-phet commented on #130
@samreid - the markdown file can certainly be moved to tasks. I was writing it up in phet-info for convenience (since that seems to be a good place for in progress stuff), but feel free to move it there.

My main motivation for an actual "checklist" not a google doc is that way one could paste it into a github issue, and actually see the progress (what has been check off and what has not) at a gla

[2015-03-16 17:32] samreid commented on #130
I wasn't advocating one way or the other, just pointing out a discrepancy.  The developers should discuss the appropriate place--perhaps during the Tuesday meeting.

I agree, that is a good reason and it should be a github MD file.

The problem is that the examples weren't just "taken out", but all of the checklist contents were taken out too, and this will cause the problems I described: "they wi

[2015-03-16 17:33] samreid commented on #130
By the way, this is not a problem, just want to set the context for what constitutes "at a glance".

[2015-03-16 17:45] ariel-phet commented on #130
@samreid actually, it still is at a glance, because when you make checklist issues github gives you a progress bar of how many have been completed, so you can see how many items have been checked without even opening the issue (I find this feature especially convenient).

[2015-03-16 17:48] samreid commented on #130
Yes, I agree completely.  But this progress bar would still be visible/usable whether or not there are verbose examples appearing in the checklist.

[2015-03-16 20:59] alexklinger commented on #176
That whole point of buying a license is that you don't have to worry about attribution. Licenses vary from 2-4 dollars per icon on the noun project. These I made from scratch over about 3 hours.
![accessibiltyiconsdraft](https://cloud.githubusercontent.com/assets/8651105/6676368/d73dfab0-cbec-11e4-8060-4b9500503b96.jpg)

[2015-03-16 21:22] samreid commented on #176
Typically purchasing assets from a 3rd party still encumbers us with usage restrictions--for instance, one cannot typically relicense 3rd party assets, but we would be able to relicense artwork that we created ourselves.  In some cases we have used icons or artwork from 3rd parties that had a very open license such as MIT or SIL (fontawesome).  But I agree with @ariel-phet's point that it is also

[2015-03-16 21:36] ariel-phet commented on #176
@alexklinger nice start. A couple of suggested tweaks:

1. On the speaker, round the cornders a bit (we tend to have a very soft look at PhET, not many sharp corners)

2. On both of the icons that have a human head, it looks quite male. Perhaps try to give it a more gender ambiguous look (see the html5 version of color vision for an example).

[2015-03-16 21:37] ariel-phet commented on #176
I particularly like the text to speech one by the way!

[2015-03-16 22:31] pixelzoom commented on #130
Answers to @samreid's questions:

Up to you all to do what you want with this. I was asked to describe what I think about in a code review, and I did that in a Google doc. As I said above - it's what I do, and I don't anticipate that everyone will agree with it. @ariel-phet converted it to a phet-info "check list". I don't think that it lends itself particularly well to a "check list", so I didn't

[2015-03-16 23:06] alexklinger commented on #141
Uploaded

[2015-03-17 01:05] oliver-phet commented on #190
Which mic should I purchase? There were many options mentioned in this thread.

[2015-03-17 01:33] alexklinger commented on #176
https://thenounproject.zendesk.com/hc/en-us/articles/203639098-If-I-purchase-an-icon-do-I-own-it-forever- Since PhET does not sell anything the icons would be able to be used for an unlimited time frame and duplicated as much as needed. They come in SVG format and are easily manipulated in illustrator.

[2015-03-17 02:14] ariel-phet commented on #176
@alexklinger we appreciate you showing us these other resources, but for this particular project we will stick with custom.

[2015-03-17 15:15] schasteen commented on #190
My response to the thread is above, in response to @arnabp suggestion of the ModMic.  @arnabp, you were suggesting the ModMic out of all the options that had been listed, correct?  I assume you had looked at the options that pixelzoom had mentioned?

Here is what I wrote:  This looks fine to me.  Go ahead and order this, but be sure to get the USB adaptor that they say will be needed for a Mac.

[2015-03-17 15:36] oliver-phet commented on #190
I would assume the ModMic also requires a pair of headphones to be functional since it doesn't have a stand. Does PhET have headphones that will be used with this mic?

[2015-03-17 15:44] schasteen commented on #190
I don't know offhand. If not, then please get a set.  They don't need to be great, just functional.

[2015-03-17 17:59] samreid commented on #130
At today's developer meeting with @jbphet @jonathanolson @aaronsamuel137 and @samreid ( @pixelzoom was out), we agreed:

1. There should be only one file, and it should be the MD file.  Information (including examples) from the Google Doc not present in the MD file will be moved over and @jbphet volunteered to do this.  After it is moved over, the Google Doc can be deleted.
2. There will be a prom

[2015-03-17 19:15] jonathanolson opened #193 "RC testing for Molecule Shapes 1.0.0-rc.2 & Molecule Shapes: Basics 1.0.0-rc.2"
"Molecule Shapes" and "Molecule Shapes: Basics" are ready for their second release-candidate testing.

Release candidates:
http://www.colorado.edu/physics/phet/dev/html/molecule-shapes/1.0.0-rc.2/molecule-shapes_en.html (regular)
http://www.colorado.edu/physics/phet/dev/html/molecule-shapes-basics/1.0.0-rc.2/molecule-shapes-basics_en.html ("Basics")

Test matrices:
https://docs.google.com/spreadsh

[2015-03-17 19:29] ariel-phet commented on #193
@oliver-phet @bryo5363 @phet-steele @arnabp please make this sim your top testing priority. I believe @jonathanolson has addressed all issues from RC1, so it should be pretty smooth sailing.

[2015-03-17 20:42] amanda-phet opened #194 "Determine which activities apply to HTML5 sims"
Based on the concerns you brought up in our meeting this morning, I think you would be the perfect person to start the project of going through all of the activities. Do you have time/interest in this project?

Perhaps just start with the gold-star activities, and for sims *that have an HTML5 version*, determine which activities
* were written for the HTML5 version
* could work for the HTML5 versi

[2015-03-17 20:52] #182 closed

[2015-03-17 21:38] oliver-phet opened #195 "Create a youtube video about how to run a sim on a mac"
https://phet-dev.colorado.edu/en/troubleshooting/mac#q5-header

Can you make a video with the steps above and some voice over with instructions. We heard at a recent conference that Mac users are running into trouble and think a video might be better.

[2015-03-17 23:09] arouinfar opened #196 "Gas Pump for States of Matter"
We need a bike pump drawn in 2D for the HTML5 version of States of Matter. This pump will also be used in the upcoming redesign of Gas Properties.

The current version looks like:
![image](https://cloud.githubusercontent.com/assets/8419308/6699483/1ef11924-ccc8-11e4-85dc-482a9c8a5c1e.png)

It's important to make sure the handle maintains its "grippy" look. The base will need some redesign. Can you

[2015-03-18 18:01] pixelzoom commented on #190
ModMic has a uni-directional pattern, so it's will pick up mainly the person (interviewee?) speaking directly into it, and very little of anything else (e.g. , the interviewer).  Just wanted to point that out, because I'm still not clear on what the use cases are for this purchase.

[2015-03-18 18:21] arouinfar opened #197 "Solid, liquid, gas icons for States of Matter"
I need icons depicting a solid, liquid, and gas drawn for States of Matter.

Currently the artwork looks like:
![image](https://cloud.githubusercontent.com/assets/8419308/6715891/484a5840-cd67-11e4-9f8e-6570120e8a51.png)

Ideally, these icons would look like a (non-cartoonish) ice block, water droplet, and gas cloud. These icons should also be drawn in 2D.

Once your PhET gmail account has been se

[2015-03-18 18:25] arouinfar opened #198 "Robotic arm for Hooke's Law"
I will need a robotic arm drawn for Hooke's Law. @mariahmaephet, let's meet in person to discuss the task in more detail and brainstorm/sketch some ideas. When are you available to meet?

[2015-03-18 18:57] patricialoeblein commented on #194
I was going to attach  my spreadsheet of activity english language authors for viewing and discussion, but that doesn't appear to be a feature of GitHub, so I made a google spreadsheet. https://docs.google.com/spreadsheets/d/14HGPf2XI3VnlN4HyX38PAzSxykatSkp0y8p4YyGpa-k/edit#gid=312862783   The purpose of this spreadsheet has varied, so there are many blank spaces. I have made a few notes in the fi

[2015-03-18 19:00] mariahmaephet commented on #198
@arouinfar  I can meet tomorrow (Thursday) after 3 or any time on Friday. I'll be around for Spring Break if you're willing to meet then.

[2015-03-18 19:59] oliver-phet commented on #190
@arnabp I talked with @ycarpenterphet about this and this mic is (primarily) being used for sim primer voice recording. We basically need something that is Mac/PC compatible, records voice well, and picks up little/no background noise. The idea would be that anyone recording a sim primer could use this mic to get consistent audio for the videos.
It could be a headset or desktop mic - whichever mee

[2015-03-18 20:05] jbphet commented on #130
I pulled the information from the "PhET code review guidelines" document (https://docs.google.com/a/colorado.edu/document/d/16dnSetfnsQAyJpTWm7xocchlL47NcZ3e3qAaOpQtxds/edit#) into the MD file in GitHub (https://github.com/phetsims/phet-info/blob/master/code_review_checklist.md).  Who should get it next?

[2015-03-18 20:17] samreid commented on #130
Perhaps the next step is to discuss with @pixelzoom and/or @ariel-phet at the next meeting.  I'm also still a bit unclear about the relationship between the PhET Development Overview "Coding Style Guidelines" and the Code Review checklist items. For instance, one item in the code review checklist is:

Are names (types, variables, properties,...) sufficiently descriptive and specific, avoiding non-

[2015-03-18 20:19] pixelzoom commented on #130
If the Google Doc is going away, then the first line of the MD file should be deleted:

[2015-03-18 20:26] pixelzoom commented on #130
My 2 cents on style guidelines...

PhET Development Overview is currently the "go to" place for PhET-specific style guidelines. The "Codings Style Guidelines" section starts with:

So I think it makes sense to put all PhET-specific style guidelines in the PhET Development Overview, and have the Code Review check list ask "Does it follow the PhET coding style guidelines?"  It will also be easier to

[2015-03-18 20:29] samreid commented on #130
I understand your recommendation but not sure why something like

[code]

is a checklist item and not a coding style item.  Can you clarify for this case and generalize?

[2015-03-18 20:32] pixelzoom commented on #130
As I said in https://github.com/phetsims/tasks/issues/130#issuecomment-81967846, I recommend moving "coding style" things out of the code review and into the "Coding Style Guidelines" section of the PhET Development Overview. They are in the checklist only because I didn't see them in the "Coding Style Guidelines", and wanted to remember to discuss them.

So the example immediately above, along wi

[2015-03-18 20:34] pixelzoom commented on #130
Btw... This whole topic would have been a whole lot easier if y'all had waiting until I was done being sick. I guess I didn't realize that it was such a high priority.

[2015-03-18 20:36] samreid commented on #130
Well, I am still trying to figure out which other items in the checklist count as "code style" items, but happy to wait to discuss this in person, there is no hurry on my behalf.

[2015-03-18 22:46] arnabp commented on #190
Both the snowball and the modmic are good. The general consensus is that Snowball has higher quality but also picks up background noise much more easily. You said we want something that picks up little to no background noise so maybe the Modmic is the preferable option. But if we're recording in quiet rooms then Snowball would be the better option, so it depends on the recording environment.

If w

[2015-03-19 13:55] ariel-phet commented on #198
@mariahmaephet and @arouinfar - actually a slightly higher priority has come up and it would be great if you could meet today at 3:00 pm to work on https://github.com/phetsims/tasks/issues/173

@amanda-phet will be emailing with details and to introduce you to @emily-phet

[2015-03-19 18:09] arnabp commented on #189
So after playing around with the tablet for a while, I don't think I can install Chrome on the tablet without seriously diving into the software, either by rooting the device or by clean installing a different ROM. So I ask, what exactly are we trying to do with the tablet? Are we testing our sims specifically for this tablet, because then we're stuck to the default browser. Are we testing chrome

[2015-03-19 18:13] samreid commented on #180
I have updated the docs for arch + together.  Brand and its variants still need attention.

[2015-03-19 18:27] amanda-phet commented on #194
@patricialoeblein I shared a google doc with you (Alignment of activities w/ HTML5 sims) that will have a tab for each sim and within that tab will have each activity listed with notes. I think we'll need to look at each activity individually, not just each author, and it is probably best organized by sim. Take a look at it and let me know if it looks like something you can use.

[2015-03-19 22:10] bereaphysics opened #199 "Test Least Squares Regression 1.0.0-rc.2"
Least Squares Regression 1.0.0-rc.2 is ready for release candidate testing:
http://www.colorado.edu/physics/phet/dev/html/least-squares-regression/1.0.0-rc.2/

The test matrix: https://docs.google.com/spreadsheets/d/1fuKgDgWtNw0QjrkA08F4albsVDKlmdwjTjop5qszBi4/edit#gid=2

For your information the changes from rc1 to rc2 were pretty invasive.

[2015-03-19 23:32] patricialoeblein commented on #194
I can see that the old spread sheet I have will not be useful for this project and I  deleted it, but I wonder if that deletes it for everyone.

However, I think the “Alignment of activities w Html5”  will be too difficult to use with the comments, ratings, and graphic evaluations. I had imagined that we would just quickly look at the activity and approve it for html5 or not. Then I thought we wer

[2015-03-20 15:04] ariel-phet commented on #199
@phet-steele @bryo5363 @orejolaphet @arnabp

Please make this a high testing priority (can be done concurrently with with molecule shapes, although molecule shapes is a slightly higher priority)

[2015-03-20 15:26] ariel-phet commented on #189
Let me get @kathy-phet to give input here

[2015-03-20 15:27] amanda-phet commented on #194
I agree that we should not change anyone's activities. The legend in the document will help us with how to reach out to teachers- perhaps there are two different mass emails, one for activities that only require slight changes, and one for activities that need more revamping. I think that's a great idea to reach out via social media asking for people to upload their activities!

I think this share

[2015-03-20 16:15] patricialoeblein commented on #194
I believe that engaging the authors and users of PhET will pay off in the long run because the ownership of the activities and gold stars is valued by many authors.

Here’s my vote:

1.       I think those of  PhET team members that have activities for sims that are now available in html5 could update ours.

2.       Ask for activities and see what happens before we spend evaluation energy.

3.

[2015-03-20 17:27] schasteen commented on #190
@arnabp, I just want to confirm that you are recommending the Snowball and Modmic out of all options that were listed, including the suggestions from pixelzoom?

The main reason for getting an external mic is because of fan noise from the computer.  (Running Camtasia plus simulations typically puts a big load on a computer, and it runs the fan at high speed).  Thus, I veto the Snowball, I want som

[2015-03-20 17:36] amanda-phet commented on #190
@oliver-phet bought [these] (http://www.amazon.com/Sennheiser-202-Professional-Headphones-Black/dp/B003LPTAYI) headphones for me and they seem to work just fine.

[2015-03-20 18:53] arnabp commented on #190
@schasteen Yes. The suggestions from Pixelzoom are all great mics too but have too main issues being that a) they're not made necessarily for noise cancellation and b) they are significantly more expensive at audio levels that make only small differences. While it may be odd that we have to "patch together" the mic and the headphones, most of that is at the fault of the video gaming community, whi

[2015-03-20 19:11] schasteen commented on #190
This is great information, thanks.  I suggest @oliver-phet gets the mod mic, adaptor, and headphones, unless anyone disagrees.

[2015-03-20 19:15] oliver-phet commented on #190
@arnabp I won't be here next week, but I think it would make a lot of sense to test the audio recording with your mic. Maybe you could coordinate with @schasteen and test? If they work, then Stephanie or I can purchase.

[2015-03-20 19:17] schasteen commented on #190
@arnabp, email me directly at stephanie.chasteen@colorado.edu.

[2015-03-20 21:15] jbphet opened #200 "Test Molecules and Light v1.0.0-dev.10"
We're getting very close to rolling a release candidate for this sim, but have decided to do one more round of dev testing since there have been a number of changes since the last round.  Be sure to not duplicate any of the currently existing tickets on this one.

Here's a link: http://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.0.0-dev.10/molecules-and-light_en.html.

[2015-03-20 21:57] pixelzoom commented on #200
I did a quick test and found a couple of serious problems:
https://github.com/phetsims/molecules-and-light/issues/107
https://github.com/phetsims/molecules-and-light/issues/106

[2015-03-20 22:28] oliver-phet opened #201 "Investigate bad video playback on front page after open for a while"
@orejolaphet @bryo5363 @phet-steele Can you guys poke around a bit on the front page and see if you seen any sort of performance/choppy/frozen video? Kathy had the front page open for ~5 minutes and noticed that almost every other video would freeze or play choppy. She had her system monitor on and CPU usage was ~30%.
She was using Win 7 and Chrome.

[2015-03-21 17:14] ariel-phet commented on #189
This issue has been moved to a private repo for discussion

[2015-03-21 17:14] #189 closed

[2015-03-21 17:20] ariel-phet commented on #181
@kathy-phet said she would like to try the vimeo route first (the price seemed very reasonable to her)

@oliver-phet - please go ahead and set up a vimeo pro account for us

[2015-03-21 17:21] ariel-phet opened #202 "Facebook post about Martin"
Hey @arouinfar - you and I should develop a list of "interview" question for Martin

[2015-03-23 17:50] arouinfar commented on #193
The testing matrix for Molecule Shapes: Basics is complete.

[2015-03-23 17:55] ariel-phet commented on #193
All testing finished...closing this issue

[2015-03-23 17:55] #193 closed

[2015-03-23 18:33] amanda-phet commented on #141
Thanks, this looks great.

[2015-03-23 18:33] #141 closed

[2015-03-24 16:30] pixelzoom commented on #130
I wil migrate “style” things to “PhET Development Overview”.

[2015-03-24 20:40] mariahmaephet commented on #197
I'm not too crazy about the gas one still, but what do you think about the others?

![screen shot 2015-03-24 at 2 38 06 pm](https://cloud.githubusercontent.com/assets/11527557/6812289/8dced05a-d233-11e4-8e93-54e158b1ec01.png)
![screen shot 2015-03-24 at 2 38 29 pm](https://cloud.githubusercontent.com/assets/11527557/6812290/8dd11478-d233-11e4-9b24-bbce9768eed9.png)

[2015-03-24 21:08] ariel-phet commented on #197
Hey @mariahmaephet, I will let @arouinfar comment, but a good workflow tip is to reassign the issue to the person you wish to have comment. (I have reassigned this issue to @arouinfar)

[2015-03-24 22:07] BrianNewsom commented on #9
@ariel-phet I will get to this once I'm back on campus! I am home for break and cannot access the machine, but I have an implementation plan and it shouldn't be too bad.

[2015-03-24 22:11] arouinfar commented on #197
I really like the solid and liquid icons, @mariahmaephet! Since these will end up on a black background, the solid icon with the blue outline will probably work better.

I agree that the gas could still use a little work. I think part of the problem is that the clouds look a bit too separated from one another, giving them a somewhat "solid" appearance. Let's instead try a single cloud.

I'm envisi

[2015-03-24 22:30] ariel-phet commented on #9
Sounds good @BrianNewsom!

[2015-03-24 22:31] arouinfar commented on #173
Closing since the poster has been completed.

[2015-03-24 22:31] #173 closed

[2015-03-25 16:01] orejolaphet commented on #132
@bryo5363 which java sims have you taken screen shots of?

[2015-03-25 16:03] bryo5363 commented on #132
I did all of them except for the ones w/o adjustable aspect ratio. I
believe those are lasers and one of the quantum sims. I have a dropbox full
of the screenshots
On Mar 25, 2015 10:01 AM, "Oliver Orejola" <notifications@github.com> wrote:

[2015-03-25 16:06] orejolaphet commented on #201
@oliver-phet I'll check around on Win 7 Chrome and OSX 10.9.4 Chrome.

[2015-03-25 16:11] ariel-phet commented on #132
@bryo5363 can you put a link to the dropbox in this issue?

[2015-03-25 17:09] orejolaphet commented on #201
On Bates, the computer in Ariel's office Win 7 64-bit Chrome 41.0.2272.101 m, I left the home screen up for about 2 hours and noticed no issues. Likewise for my Mac OSX 10.9.4 Chrome 41.0.2272.76 (64-bit). I'll keep poking around, and check on other devices.

[2015-03-25 18:14] bryo5363 commented on #132
https://drive.google.com/folderview?id=0B7WUaZM7uvVKbXhjMEs4Rm1OVU0&usp=sharing

On Wed, Mar 25, 2015 at 10:11 AM, Ariel Paul <notifications@github.com>
wrote:

[2015-03-25 20:53] amanda-phet opened #203 "Rename screenshots"
The screenshots from #132 need to be slightly renamed to match the convention we've been using on GitHub.

1. Rather than SimName-screenshot they should be sim-name-screenshot (eg., AlphaDecay-screenshot.png will be alpha-decay-screenshot.png)
2. Any &s in sim names should be renamed as -and- (eg., Eating&Exercise-screenshot.png will be eating-and-exercise-screenshot.png) since &s are likely to be

[2015-03-25 21:01] ariel-phet commented on #203
@amanda-phet - can you also take care of the couple of missing ones that will need to be "fudged" (like lasers)

Ideally all screenshots should be 2048x1344 (this was recently decided by the devs)

[2015-03-25 21:22] amanda-phet commented on #132
I found 11 missing screenshots. I also noticed that the HTML5 sims with a legacy version are not on the list- shouldn't we also have resized screenshots of those sims? They will definitely show up in the list of sims when viewing the site in a different locale.

@ariel-phet please comment. I think with so many sims to look through, a table would be helpful to check off as we go so I'm going to mak

[2015-03-25 21:24] ariel-phet commented on #132
Yes, we will probably need those as well.

[2015-03-25 21:45] amanda-phet commented on #132
@bryo5363 Can you look at this spreadsheet and add notes in the next column about the issue with the screenshot? If the window can't be resized, for example. That way I know which sims to look at more closely.

@ariel-phet Until I have more information I won't make any new screenshots.

[2015-03-26 18:01] orejolaphet commented on #203
The sims have been all renamed with the appropriate nomenclature,
https://drive.google.com/folderview?id=0B1dDzrtWHaLbfm1ZamxuRVB1bDhMWFRuZWF2ejlEMmh1WjhCcTFLOEVSVFRWVU1MN05FRzA&usp=sharing

[2015-03-26 19:35] bereaphysics opened #204 "Least Squares Regression 1.0.0-rc.3 is ready for release candidate testing:"
Least Squares Regression 1.0.0-rc.3 is ready for release candidate testing:
http://www.colorado.edu/physics/phet/dev/html/least-squares-regression/1.0.0-rc.3

The test matrix: https://docs.google.com/spreadsheets/d/1fuKgDgWtNw0QjrkA08F4albsVDKlmdwjTjop5qszBi4/edit#gid=2

They were a few bug fixes for this release candidates. The most notable changes were done on the behavior of points in the bucke

[2015-03-26 19:37] bereaphysics commented on #199
The issues raised on this RC were addressed and a new RC was released.

[2015-03-26 19:37] #199 closed

[2015-03-26 19:55] pixelzoom commented on #130
At 3/26/15 dev meeting, @ariel-phet requested something like this at the very top of the checklist:

If a code review is part of a third-party contract, create that GitHub issue when the repository is created, so that the GitHub issue matches the checklist agreed upon in the contract.

[2015-03-26 20:36] pixelzoom commented on #130
Style items have been moved to “PhET Development Overview”.  Note has been added to the top of the checklist.

@ariel-phet @samreid @jonathanolson @jbphet @aaronsamuel137 @bereaphysics please let me know if other changes are needed.  Once this is finalized, we should probably announce this checklist and change to the "PhET Development Overview" document to the Google group.

[2015-03-30 18:08] pixelzoom opened #205 "branch hygiene"
branches are getting a little out of hand.  We expect to have "master", release branches ("1.0"), and "gh-pages" (for github.io).  But there are many others, with no easy way to determine who created them, what they are used for, or when/whether they should be deleted.  For example...

Number of branches (including 'master') for common-code repos:

[code]

A few sims:

[code]

Recommended to clean

[2015-03-30 18:10] pixelzoom commented on #205
We should also discuss which repos need a 'gh-pages' branch, and what the process is for maintaining that branch so that github.io is a useful resource.

[2015-03-30 21:24] arnabp commented on #195
Here's a draft of the video: https://youtu.be/n1AKnZJBzdw
Assuming everything looks good, I just need the intro and outro we add to all of our videos

[2015-03-30 21:25] arnabp commented on #190
I made this video and recorded the audio using the modmic that I bought for myself if you wanted a reference: https://youtu.be/n1AKnZJBzdw

This was recorded in Oliver's office (where the AC was being quite loud), but I also turned on iMovie's basic background noise remover.

[2015-03-31 05:21] ariel-phet commented on #204
Sim is published, closing

[2015-03-31 05:21] #204 closed

[2015-03-31 16:51] oliver-phet commented on #181
Vimeo account is setup. Info is on Unfuddle>External Account Info

[2015-03-31 16:51] oliver-phet commented on #181
@arnabp Can you test out uploading a 'private' video so that @aaronsamuel137 can test embedding it into the website?

[2015-03-31 18:09] oliver-phet commented on #195
@schasteen Can you send the intro/outro that we use in regular videos to me?

[2015-03-31 18:18] oliver-phet commented on #190
Headphones, mic, and mac adapter ordered 3/31

[2015-03-31 18:53] amanda-phet opened #206 "Conference poster"
We'd like to make a new conference poster based on a design that's already been started. We have an image file (uploaded to your drive folder) that needs to be made into an illustrator file, with some changes.
* make the logo bigger
* change the slogan to "Shouldn't the best educational tools be FREE?"

For now, just use some stock photos of students and eventually I'll give you some of our photos

[2015-03-31 19:06] arouinfar commented on #195
Nice work @arnabp. I like the script, but it seems like the narration and actions could be better synced.  For example, you open the file manually around 20s in, but around the 23s mark you talk about finding the Java file in finder and right clicking to open the file. This happens again around 40s when you talk about manually overriding the security settings, but then actually show how to do it a

[2015-03-31 19:16] pixelzoom commented on #130
Assigning to @ariel-phet to decide how to proceed. Should the checklist and changes to the "PhET Development Overview" document be announced to the Google Group? Anything else that needs to be done?