[2016-06-09 21:16] pixelzoom commented on #613
@phet-steele I edited the dev version link in the above comment.  I built a new version (1.0.0-dev.48) to pick up some scenery changes, in case any issues crept in there.

[2016-06-09 21:28] pixelzoom commented on #613
The table feature requires some explanation, since it's rather complicated.  Here are the requirements:

• Each row in the table contains an input cell and and output cell
• Rows in the table are ordered by numerically increasing input value, with 'x' card being last.
• Scrolling of the table is animated.
• The first page in the table always contains 3 rows, some or all of which may be blank. Othe

[2016-06-10 18:26] emily-phet commented on #494
@ariel-phet - I need access to some files on phetbackup - ideally by early next week. Is there a way this can be set back up. Alternately, I (after seeing a list of folders) can let you know what I need - it's specific files in a particularly folder - and these can be transferred to the Google drive storage.

[2016-06-10 18:44] ariel-phet commented on #494
@emily-phet I believe you can connect your computer directly to it

I will look into this next week, we should transfer all these files onto our private google drive anyhow

(and @emily-phet please always assign me issues if you want action, they will get lost if you merely mention me)

self-assigning

[2016-06-10 18:47] emily-phet commented on #494
@ariel-phet - whoops, sorry about not assigning you.

I tried to connect but was unsuccessful, so I guessed phetbackup was still not set up. I could connect with phetbackup2, but not phetbackup.

[2016-06-10 19:10] ariel-phet commented on #494
@emily-phet it is not connected to the network currently, but I believe you can actually hook an ethernet cable from your computer to the actual physical box

[2016-06-10 19:22] ariel-phet commented on #468
@amanda-phet handing this back to you if any feedback is needed.

[2016-06-11 00:12] andrea-phet commented on #607
I have my identikey and have successfully submitted a timesheet (and it was approved)!

[2016-06-13 15:09] phet-steele commented on #613
Edited above, now testing 1.0.0-dev.50.

[2016-06-13 23:16] jessegreenberg opened #615 "Dev Test: Capacitor Lab: Basics 1.0.0-dev.22"
We are getting ready for a release of Capacitor Lab: Basics so it would be good to do another dev test.  There have been quite a few changes since the last version so it would be good to make sure that everything is behaving correctly.

As far as we are aware, the sim is 'bug free' so if you notice any buggy behavior, poor performance, or incomplete features please create issues under https://gith

[2016-06-13 23:45] ariel-phet commented on #612
bumping down to medium priority for the moment

[2016-06-13 23:46] ariel-phet commented on #611
bumping down to medium priority for the moment

[2016-06-13 23:47] ariel-phet commented on #615
@phet-steele this should be the current highest sim testing priority after function builder tests

[2016-06-14 21:25] oliver-phet commented on #614
- [ ] @kathy-phet, @amanda-phet and Susan Miller need to register as individual (KP is getting our included Full Conference Badge)
- [ ] Print flyers (any updates?)
- [ ] Decide who all is attending (7 exhibitor badges): AP, ON (half days), JB, AL, SR, JG
- [ ] New rotating video @phet-steele Neuron, Color Vision, Bending Light, ESPB, Area Builder, Graphing Lines, BaA, Molecule Shapes, Under Press

[2016-06-14 21:30] arouinfar commented on #614
I'm available to work at the booth all day Mon-Wed. If we end up doing partial-day shifts, I have a slight preference for afternoons.

[2016-06-14 21:31] amyh-phet commented on #614
@ariel-phet   I'm happy to attend any or all of the days.  I'm an early bird and live close, so am sessions would be easy for me to fill.  If it would save someone a trip from Boulder on Sunday, I can help set up.

[2016-06-14 21:35] phet-steele commented on #614
Putting it on my to-do list.

@oliver-phet I think I have an .ai of these, come check with me sometime after today.

@ariel-phet and of course, yes I would love to go! I could be at the booth for as long as needed. I live close by the building so there is no travel hassle.

[2016-06-14 21:36] phet-steele opened #616 "ISTE video"
From #614:

Video will contain Neuron, Color Vision, Bending Light, ESPB, Area Builder, Graphing Lines, BAA, Molecule Shapes, and Under Pressure

[2016-06-14 21:53] arouinfar opened #617 "Dev Test: Circuit Construction Kit: Black Box 1.0.0-dev.17"
We are getting ready to deliver CCK: Black Box for use in a study at Stanford. I have done some testing on the latest version, but it could use some follow-up QA testing from @phet-steele. This isn't technically a full dev test, as there's no need to use multiple platforms or do the usual i18n checks. The goal is determine if there are any major usability issues that @samreid should address before

[2016-06-15 06:16] ariel-phet commented on #617
@phet-steele I would say this is "on par" with CL:B

[2016-06-15 15:30] phet-steele commented on #616
@ariel-phet any specific recommendations for Color Vision, Graphing Lines, BAA, and MS?

[2016-06-15 15:40] ariel-phet commented on #616
I would say...
- RGB screen on color vision, move a few sliders see perceived color obviously change
- One of the game challenges on graphing lines, perhaps "set the slope" and get it right
- BAA perhaps build some atom, open up some panels, and then change a few particles
- MS add a few bonds, rotate molecule, turn on angle measurment

[2016-06-15 17:23] pixelzoom commented on #613
@phet-steele What the ETA on completing this task? Just want to know where things are at for the design meeting tomorrow.

[2016-06-15 17:36] phet-steele commented on #613
@pixelzoom the crew has worked on this sim for awhile, features are pretty solid and this dev test can be done.

[2016-06-15 17:40] pixelzoom commented on #613
Great - thanks crew! Closing.

[2016-06-15 17:40] #613 closed

[2016-06-15 17:41] pixelzoom commented on #613
Note that there will be one more round of dev testing, starting no later than 7/5, when the Mystery screen is completed and the sim is feature complete.

[2016-06-15 18:48] ariel-phet commented on #494
JR from JILA is coming today to get things functional...I tried to get things running with a direct connection, and I was able to connect, but I could not see the shared folders. Seems like I need admin privileges. Hopefully things should be sorted out later this afternoon.

[2016-06-15 20:15] amanda-phet commented on #614
I edited the table above to include myself. Oliver will and I will complete my registration on Thursday 6/16.

[2016-06-15 21:54] emily-phet opened #618 "Training QA tester on screen reader?"
Can one (or more) of the QA testers start doing some basic testing of the accessible prototypes using screen readers (JAWS, NVDA, and Voiceover only)? This would likely require a meeting with @jessegreenberg to introduce them to how screen readers work, where to find lists of common hotkeys (e.g., how to turn the reader on/off and navigate a page) and some expected behavior of buttons, sliders, et

[2016-06-15 21:59] emily-phet opened #619 "Design of Keyboard Info button and popup"
To start publishing sims with keyboard navigation, we need a visual way to cue users of what keys do what. This will require an onscreen button, and a popup window that lays out visually the usable keys and their actions.

Taliesin has done some work getting this started, but it will ultimately need to be iterated on and discussed within the PhET team as it will have a (small) visual impact on eac

[2016-06-15 22:00] phet-steele commented on #616
@ariel-phet approved, the video lives in emails and on Curie.

[2016-06-15 22:00] #616 closed

[2016-06-15 22:01] phet-steele commented on #618
@emily-phet @ariel-phet @jessegreenberg oh yes please!

[2016-06-15 22:05] ariel-phet commented on #618
@phet-steele this is definitely one for you.

Let also in this issue begin developing a "screen reader testing checklist" that we can eventually put in phet-info (once you learn more)

[2016-06-15 22:10] ariel-phet commented on #494
JR helped @phet-steele connect and see the files. He is going to get info from @oliver-phet on where to transfer everything (likely phetstorage gmail account).

@emily-phet you might want to coordinate with @phet-steele on Thursday to get the files you need, he can easily transfer those first.

[2016-06-15 22:10] ariel-phet commented on #494
and @phet-steele feel free to delegate

[2016-06-15 22:17] ariel-phet commented on #616
Video upload to https://github.com/phetsims/phet-info/blob/master/conferences/ISTEProjectionVideo_06-15-2016.mp4

Also created a "conferences" folder in phet-info where we could put some misc stuff

[2016-06-15 22:23] samreid opened #620 "Testing for BrainPOP GameUp SnapThought"
We are adding support for BrainPOP GameUp SnapThought in the following simulations before ISTE.

Area Builder
Balancing Act
Color Vision
Concentration
Energy Skate Park: Basics
Graphing Lines
Molecules and Light
Wave on a String

Deploying these as maintenance releases (instead of from master) will allow us to guarantee bug-free simulations without having to retest the entire sim on many platforms

[2016-06-15 22:28] ariel-phet commented on #619
@arouinfar I think you would be a good fit for this work.

We should first decide where such a button should live (most likely will need to be in the navbar) If that is the case, we should move this issue over to Joist eventually.

@arouinfar please get in touch with Taliesin to see what she has thus far. Feel free to wrap me into discussions/iterations.

[2016-06-15 22:30] ariel-phet commented on #617
bumping to top testing priority for QA team

[2016-06-15 22:31] ariel-phet commented on #612
moving to low priority temporarily

[2016-06-15 22:32] ariel-phet commented on #611
moving to low priority temporarily in testing queue

[2016-06-15 22:33] ariel-phet commented on #620
Should be done after (or if possible in parallel with) latest CCK testing

[2016-06-15 22:34] ariel-phet commented on #615
iO version delivered to Ido, so with current testing priorities moving to medium

[2016-06-15 22:51] emily-phet commented on #494
@phet-steele - just sent you an email describing the location of the folder that I need to be copied first.
@ariel-phet and @oliver-phet - we decided at status meeting awhile back that it would be ideal to have a separate Drive account for research files. Could this be put in place?

[2016-06-15 22:53] emily-phet commented on #618
@jessegreenberg - could you introduce @phet-steele to some screen readers, and the types of information we would care about from testing?

[2016-06-15 22:56] emily-phet commented on #619
@arouinfar - I can also talk with you about the general idea tomorrow.

[2016-06-15 22:59] arouinfar commented on #619
Sounds good @emily-phet!

[2016-06-16 03:51] ariel-phet commented on #494
@emily-phet I believe it is already in place. We have "phetstorage" for research files and "phetdocs" for all design docs and such. @oliver-phet can correct me if I am wrong

[2016-06-16 13:57] oliver-phet commented on #494
We actually have a phet-docs, phet-storage, and phet-research. It sounds like these are research files so @phet-steele please put them in phet-research.

[2016-06-16 15:16] jessegreenberg opened #621 "Dev Test: Rutherford Scattering 1.0.0-dev.3"
Now that the new 'Atom' scene is complete, Rutherford Scattering is ready for dev testing.

**Link to Sim:** http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-dev.3/rutherford-scattering_en.html

Please check the following platforms:
- [ ] Win Chrome
- [ ] Edge
- [ ] Mac Safari
- [ ] iPad 2 iOS 9+

In this dev test, please pay special attention to the particle behavior in t

[2016-06-16 16:29] pixelzoom opened #622 "RC Test: Beer's Law Lab 1.4.0-rc.2"
New RC version:
http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.4.0-rc.2/beers-law-lab_en.html

One issue to verify:
https://github.com/phetsims/beers-law-lab/issues/177

Here's the test matrix. You don't need to cover all platforms. Just check the above issue on 2 or 3 platforms.
https://docs.google.com/spreadsheets/d/1opT_0el4D08ezqlqrb4dgdYreiPRfjAG5gWRnADOyrk/edit#gid=1712417985

[2016-06-16 16:34] ariel-phet commented on #621
@phet-steele since this was part of the donation drive, please put slightly above CL:B testing

[2016-06-16 16:35] ariel-phet commented on #622
@phet-steele low priority (but seems quick so feel free to delegate and knock it off)

[2016-06-16 16:40] jessegreenberg commented on #621
@ariel-phet should we hold off on dev testing until after we investigate handling multiple deflections?  Particle implementation could change quite a bit, and we will probably want to dev test again if/when multiple deflections are supported.

[2016-06-16 16:49] phet-steele opened #623 "Test iOS 10 Beta and macOS Sierra 10.12 Beta"

[2016-06-16 16:52] pixelzoom opened #624 "RC Test: Concentration 1.3.0-rc.2"
Since Concentration is a subset of Beer's Law Lab, recommended to do this at the same time as https://github.com/phetsims/tasks/issues/622.  (These RCs are built from the same code base.)

New RC version:
http://www.colorado.edu/physics/phet/dev/html/concentration/1.3.0-rc.2/concentration_en.html

One issue to verify:
phetsims/beers-law-lab#177

Here's the test matrix. You don't need to cover all

[2016-06-16 17:05] ariel-phet commented on #624
@phet-steele low priority (but seems quick so feel free to delegate and knock it off)

[2016-06-16 19:12] arouinfar commented on #619
I Skyped with @emily-phet this afternoon, and I've reached out to @terracoda to schedule a follow-up chat sometime next week.

@ariel-phet I'll most likely want to discuss this with you once I've talked to Taliesin.

[2016-06-16 19:22] phet-steele commented on #620
OSX 10.11.5 browsers behave well.

[2016-06-16 19:48] amanda-phet commented on #555
Thursday June 23 I will bring my camera and take pictures of new people:
@andrewadare
@andrea-phet
@alynne-phet
Susan (if on-campus)
Wear a professional-casual top (no graphic tees, please).
I'll be available at 9:50am and 11:30am-1:30. Let me know what time you are available.

I will either edit the photos myself or give to someone else to do, but @phet-steele can you get the info needed from the

[2016-06-16 20:19] jessegreenberg commented on #621
Yes, lets put this on hold until we take a look at https://github.com/phetsims/rutherford-scattering/issues/20#issuecomment-226576125 or reducing cases of multiple deflections.  New dev version will be up for testing shortly.

[2016-06-16 20:19] #621 closed

[2016-06-16 21:01] pixelzoom opened #625 "Function Builder: interviews (round 3)"
@amanda-phet has interviews scheduled for 6/29/16 and 7/5/16.  This issue is for reporting outcomes.

Things that I'm interested in:
• Mystery screen (which wasn't included in previous interviews)
• Identity function icon (does the revised icon work better? same? worse?)

[2016-06-16 21:15] phet-steele commented on #620
Win 10 browsers check out as well, iOS did something funking that I'm still looking into.

[2016-06-17 03:12] andrea-phet commented on #555
9:50 am is good for me. Thank you!

[2016-06-17 03:25] andrewadare commented on #555
I will plan for the earlier time as well.

[2016-06-17 15:33] jessegreenberg commented on #618
Absolutely, @phet-steele and I will be meeting today to talk screen readers.

[2016-06-17 16:56] amanda-phet commented on #555
Great! Let's meet in the quad just south of Duane and take the pictures there.

[2016-06-17 17:17] ariel-phet commented on #623
In this test please check https://github.com/phetsims/joist/issues/234

[2016-06-17 17:17] jessegreenberg commented on #618
It's a good idea to create a check list for testing accessible content.  Brainstorming a few things that could be on that list.

- [ ] Does every element have a label?  (For instance, is it clear what a specific button does?)
- [ ] Do descriptions correctly reflect the state of the simulation, and do they change when necessary?
- [ ] Can you tab to all interactive components?
- [ ] Do alerts corre

[2016-06-17 20:44] phet-steele commented on #620
List of platforms tested on, good enough @samreid?

- OSX 10.11.5 (Chrome, FF, Safari)
- Win 10 (Chrome, FF, Edge, IE11)
- iOS 9.3.2
- Win 7 (Chrome, IE11)
- Chromebook

[2016-06-17 21:10] emily-phet commented on #618
@jessegreenberg - I felt inspired, and made a Google doc with a draft of a checklist: https://docs.google.com/document/d/1jYx3wxNRxHHpMigxSFVvCRVFdB5-E-3_xbj9UI9uvWE/edit?usp=sharing

Essentially, it seems like there are multiple categories of to-dos in your checklist, so listed these out. Does this look helpful? Feel free to add/use/copy/steal whatever - doc should be editable.

[2016-06-17 21:13] samreid commented on #620
Looks great, thanks @phet-steele!  I'll move on to next steps.

[2016-06-17 21:13] #620 closed

[2016-06-17 21:17] alynne-phet commented on #555
That works for me as well!

[2016-06-17 21:52] samreid commented on #617
New version incoming, please hold off testing until the new version is posted.

[2016-06-17 22:17] phet-steele commented on #555
👍

[2016-06-20 14:34] pixelzoom commented on #622
@phet-steele It looks like @brroberts1231 has tested on a few platforms, so I believe this is complete. Do you agree? If so, I'll proceed with publishing.

[2016-06-20 14:34] pixelzoom commented on #624
@phet-steele It looks like @brroberts1231 has tested on a few platforms, so I believe this is complete. Do you agree? If so, I'll proceed with publishing.

[2016-06-20 16:06] samreid commented on #617
@ariel-phet I've fixed other bugs and would like to publish a new version for testing, instead of testing dev.16 which is stale.  I'll try to publish something before tomorrow morning.  Reassigned to @ariel-phet so that he can discuss/re-evaluate priorities, etc.

[2016-06-20 18:11] phet-steele commented on #555
@amanda-phet I have everyones info, thank you all!

[2016-06-20 18:12] ariel-phet commented on #615
Moving back to high priority with current testing needs

[2016-06-20 18:12] ariel-phet commented on #617
marking status as on-hold but leaving top priority label for when next version is available

[2016-06-20 18:13] ariel-phet commented on #617
@samreid please reassign to @phet-steele when you have a new version

[2016-06-20 18:30] ariel-phet commented on #614
@amyh-phet I put you both down for a full day on Monday and Wednesday. half day Tuesday morning

@arouinfar I put you down for Monday and Tuesday afternoon.

Lets see how things go on Monday and we can readjust if needed

[2016-06-20 18:32] arouinfar commented on #614
Sounds good @ariel-phet

[2016-06-20 18:35] ariel-phet commented on #607
@phet-steele seems to be taking care of team page updates, so will leave this last checklist item for him

:cake:

[2016-06-20 18:41] brroberts1231 commented on #622
@pixelzoom , @phet-steele asked me to quickly test on iPad as well. phetsims/beers-law-lab#177 is verified on iOS 9.3.3 Safari. Should be complete now.

[2016-06-20 18:41] brroberts1231 commented on #624
@pixelzoom , @phet-steele asked me to quickly test on iPad as well. phetsims/beers-law-lab#177 is verified on iOS 9.3.3 Safari. Should be complete now.

[2016-06-20 18:42] amanda-phet commented on #614
I completed my registration.

[2016-06-20 18:46] phet-steele commented on #622
@pixelzoom you may proceed.

[2016-06-20 18:46] phet-steele commented on #624
@pixelzoom you may proceed.

[2016-06-20 19:03] amyh-phet commented on #614
Sounds good.

[2016-06-20 19:08] arouinfar commented on #619
Thanks @terracoda! I've emailed you a Zoom link.

[2016-06-20 19:19] samreid commented on #617
Version dev.17 is ready for testing as described in https://github.com/phetsims/circuit-construction-kit/issues/140

@phet-steele, you are approved for launch.

[2016-06-20 21:10] andrea-phet commented on #614
I edited the table

[2016-06-20 22:07] phet-steele commented on #614
@ariel-phet flyers are printed and you should look at them.

[2016-06-21 03:00] mariahmaephet commented on #309
@ariel-phet updating the arm and leg
<img width="606" alt="screen shot 2016-06-20 at 9 00 10 pm" src="https://cloud.githubusercontent.com/assets/11527557/16216675/0087ba38-372a-11e6-9807-1bef12689f20.png">

[2016-06-21 14:18] pixelzoom commented on #309
Love the gold-toe socks.

[2016-06-21 16:50] samreid opened #626 "Double check links and password in Pearson email"
In https://github.com/phetsims/phet-io/issues/474#issuecomment-227500520 I wrote a proposed email for Pearson, once the contract is signed.  @ariel-phet is @phet-steele or someone else available to click through the links and verify that all links and passwords work properly?  Would be nice to do before sharing this to Pearson and probably wouldn't take too long.

[2016-06-21 17:13] ariel-phet commented on #626
@phet-steele please do yourself or delegate. Assigning as high priority, partially because should be quick.

[2016-06-21 17:18] ariel-phet commented on #309
@mariahmaephet I think this is looking great, can you upload to your drive folder?

[2016-06-21 17:26] pixelzoom commented on #309
My 2 cents... I really like the "pucker" of JT's lips in the original "photo" and in https://github.com/phetsims/tasks/issues/309#issuecomment-175882654. That's missing from the current image. Not a big deal, but it helps make him look a little goofier.

[2016-06-21 18:11] phet-steele commented on #626
@samreid I've needed a password for each wrapper, and the supplied credentials worked.

[2016-06-21 18:11] #626 closed

[2016-06-21 19:08] jessegreenberg commented on #309
In the deployed version the left leg crosses over the right leg so that the draggable leg and electrons are always 'on top' of the rest of his body.  Would that work for https://github.com/phetsims/tasks/issues/309#issuecomment-227328131?  Otherwise, I am concerned that we will need to occlude the electrons behind the right leg or that it could be annoying to grab the left leg out from under the r

[2016-06-21 19:13] ariel-phet commented on #309
@jessegreenberg - the leg will be a separate piece of artwork and should stay layered on top, I think @mariahmaephet was just demoing the hinge point.

[2016-06-21 19:14] jessegreenberg commented on #309
https://github.com/phetsims/tasks/issues/309#issuecomment-227542008 - Ok great.

[2016-06-21 23:34] pixelzoom commented on #625
In the Mystery screen, we have a blank space after '6' in the cards carousel.  Does that credit any problems or distractions?

[2016-06-22 14:52] amanda-phet commented on #614
@phet-steele Can you please print two of these flyers to display at the booth?
[conference_flyer_outlines.pdf](https://github.com/phetsims/tasks/files/328144/conference_flyer_outlines.pdf)

You may want to print directly from the .ai file found [here](https://drive.google.com/open?id=0Bz7jTh2s-5L5UTZKRWpCREJ4TGc)

[2016-06-22 15:21] oliver-phet commented on #614
@amanda-phet Can you embed the images of you/Susan in the flyer?

[2016-06-22 15:23] amanda-phet commented on #614
Done. Sorry about that!

[2016-06-22 15:25] amyh-phet commented on #614
@oliver-phet    Updated flyers are in drive.  Let me know if you still get the message about unsupported fonts when you open the file.

[2016-06-22 15:26] amanda-phet commented on #614
@amyh-phet are you referring to my flyer? I uploaded it with outlines so it should not be a problem.

[2016-06-22 15:32] amyh-phet commented on #614
@amanda-phet    I was referring to the flyer we would hand out at the booth, not your flyer.

[2016-06-22 16:57] phet-steele commented on #614
@amanda-phet done.

[2016-06-22 20:51] phet-steele commented on #617
@arouinfar @samreid This testing has been done.

[2016-06-22 21:38] brroberts1231 commented on #615
All platforms tested.

[2016-06-23 15:40] phet-steele commented on #615
@jessegreenberg @ariel-phet lõppenud

[2016-06-23 15:44] phet-steele commented on #597
@ariel-phet job done.

[2016-06-23 15:44] #597 closed

[2016-06-23 16:31] phet-steele commented on #607
:+1:, @andrea-phet you're all set

[2016-06-23 16:31] #607 closed

[2016-06-23 16:33] phet-steele commented on #555
Headshots taken. @amanda-phet are we all done here?

[2016-06-23 16:54] amanda-phet commented on #555
I believe so! Closing.

[2016-06-23 16:54] #555 closed

[2016-06-23 17:09] jessegreenberg opened #627 "Dev Test: Rutherford Scattering 1.0.0-dev.5"
Now that the new 'Atom' scene is complete with multiple deflections, Rutherford Scattering is ready for dev testing.

Link to Sim: http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-dev.5/rutherford-scattering_en.html

Please check the following platforms:

 - [x] Win Chrome
 - [x] Edge
 - [x] Mac Safari
 - [x] iPad 2 iOS 9+

In this dev test, please pay special attention to

[2016-06-23 17:56] amyh-phet commented on #525
@arnabp  and @oliver-phet Can we get the primer document ownership transferred soon?  Thanks.

[2016-06-23 18:09] ariel-phet commented on #615
@jessegreenberg feel free to close or use as reference

[2016-06-23 20:41] samreid commented on #617
Thanks everybody!

[2016-06-23 20:41] #617 closed

[2016-06-23 20:49] jessegreenberg commented on #618
Thanks @emily-phet, that looks great!  Perhaps we can pass along to IDRC folks, I am sure they would have some great ideas to add here.  @phet-steele might also have some recommendations for the list too.

@phet-steele and @jessegreenberg met on 6/17/16 and we went over how to read web documents and PhET sims with a screen reader.  I am sure there will be new items as we continue, but that is why

[2016-06-23 20:54] arouinfar commented on #614
Added myself to Wednesday and removed @ariel-phet, at his request.

[2016-06-24 01:49] pixelzoom opened #628 "Function Builder: dev testing (round 3)"
The focus for this round of testing is the newly-implemented "Mystery" screen. It would be peachy to have this task completed by Wednesday, 6/29/16.

The dev version for testing is:

http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.67/function-builder_en.html

Some terminology specific to the "Mystery" screen, useful for communicating about issues:

• The Mystery screen has

[2016-06-24 02:04] pixelzoom commented on #628
I should also note that the majority of my testing of the Mystery screen has been on Mac OS X, with Chrome and Safari.  I don't like passing it on to QA without having thoroughly tested it on other platforms myself, but I just plain ran out of time.  Of particular interest are iPad, Edge and Firefox - they definitely haven't gotten enough testing love from me.

[2016-06-24 02:06] pixelzoom commented on #625
@amanda-phet Here's the dev version for interviews:

http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.67/function-builder_en.html

[2016-06-24 02:09] ariel-phet commented on #524
@arouinfar can we knock another of these tomorrow?

[2016-06-24 17:53] arouinfar commented on #524
Can do @ariel-phet!

[2016-06-24 18:20] pixelzoom commented on #628
Please mention this issue in any issues that are created, so that they will be summarized here.

[2016-06-24 19:01] oliver-phet commented on #614
I'm packing an iPad Air and Macbook Air (that will be used to show video) and Steele is going to bring Turing (15" MBP). If AP brings his computer for Monday and Tuesday, we'll want either/both AH and AR's computers for Wednesday.

Summary of computers to bring:
Mon: AP
Tues: AP
Wed: AH/AR

[2016-06-24 19:03] amyh-phet commented on #614
@oliver-phet    I'll have my computer along each day.

[2016-06-24 19:12] arouinfar commented on #614
@oliver-phet I'll also be bringing my computer every day.

[2016-06-24 19:43] phet-steele commented on #628
@pixelzoom this has been tested on many platforms (including the potentially problematic Edge & iPad) and we haven't found a single thing wrong with it. Fantastic work, I await the next iteration.

[2016-06-24 19:47] oliver-phet commented on #614
Everyone staffing the booth will need to register and pick up their (free) exhibitor badge at registration.

[2016-06-24 20:12] oliver-phet opened #629 "Make banner holder"
Size of banner (rolled) ~48" x 4".

[2016-06-24 20:34] oliver-phet commented on #629
@phet-steele We proved you wrong!

[2016-06-24 20:34] #629 closed

[2016-06-24 20:39] pixelzoom commented on #628
Awesome, fantastic news. Thank you @phet-steele and QA team!

Closing.

[2016-06-24 20:39] #628 closed

[2016-06-24 21:14] phet-steele commented on #627
@jessegreenberg I believe testing for this dev version is complete.

[2016-06-27 16:10] veillette opened #630 "dev testing for plinko probability 1.0.0-dev.5"
We are ready for a round of dev testing on plinko probability. In addition we would like you to keep an eye on performance.

Link to dev version:
http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.5/plinko-probability_en.html

Dev Test Platforms:

- [x] iPad 2 iOS 9.3.1]
- [x] Win Firefox
- [x] Win Chrome

You can check that the following issues have been addressed:
- [x] h

[2016-06-28 01:09] ariel-phet commented on #630
@alynne-phet @brroberts1231 @phet-steele please make this current top testing priority.

Assinging to @brroberts1231 since @phet-steele is at ISTE

[2016-06-28 04:05] mattpen commented on #347
The sponsors page is up to date.  New sponsors should be requested in a new issue.

[2016-06-28 04:05] #347 closed

[2016-06-28 18:21] veillette opened #631 "dev testing on Pendulum-lab version 1.0.0-dev.10"
We have resolved many issues on the pendulum lab. We would like to get some attention from the QA team.

Link to dev version:
http://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.0.0-dev.10/pendulum-lab_en.html

Dev Test Platforms:

- [ ] iPad 2 iOS 9.3.1]
- [ ] Win Chrome

Please close any issues that have been correctly addressed.
Please create separate issue for any problems that you fi

[2016-06-29 03:47] ariel-phet commented on #631
@veillette assigning back to you for the moment.

There are several important changes from dev.9 that do not seem to have made it into dev.10. Most notably in dev.9 you will notice that the way the mass scales is set so the shortest length and largest mass is below the pivot point as shown below. The ruler is also 1 m, instead of 2 meters in dev. 9.

Perhaps we should discuss on skype? I would lik

[2016-06-29 04:16] ariel-phet commented on #614
I think we are all set here, closing the issue. Great conference so far!!

[2016-06-29 04:16] #614 closed

[2016-06-29 15:38] ariel-phet commented on #404
Especially now that we have "twitter cards" this seems no longer particularly relevant to even look into.

[2016-06-29 15:38] #404 closed

[2016-06-29 18:56] veillette commented on #631
Our team had discussion over Skype with @ariel-phet . We will resissue a new dev for pendulum. Closing

[2016-06-29 18:56] #631 closed

[2016-06-29 19:00] veillette opened #632 "dev testing for pendulum lab, version 1.0.0-dev.11"
We have resolved many issues on the pendulum lab.  We have deployed a new dev that corrects the length and mass range from dev,10
We would like to get some attention from the QA team.

Link to dev version:
http://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.0.0-dev.11/pendulum-lab_en.html

Dev Test Platforms:

- [x] iPad 2 iOS 9.3.1]
- [x] Win Chrome

Please close any issues that have bee

[2016-06-29 19:49] ariel-phet commented on #632
@alynne-phet @brroberts1231 @phet-steele please make this the next testing priority after #630

[2016-06-29 20:24] brroberts1231 commented on #630
@veillette testing complete. Other than phetsims/plinko-probability#26, performance on iPad looks good overall.

[2016-06-29 20:37] ariel-phet commented on #630
assigning to @veillette - feel free to close or keep open as a reference until (#26) is addressed

[2016-06-29 20:37] ariel-phet commented on #632
Bumping to top priority

[2016-06-30 17:09] amanda-phet commented on #352
I think this task is complete. Thank you!

[2016-06-30 17:09] #352 closed

[2016-06-30 17:12] mattpen commented on #584
We should test the build-server and rosetta on the new server as well.

[2016-06-30 18:19] mattpen commented on #584
I will install rosetta on phet-server-dev for testing, do not test rosetta on phet-server.

[2016-06-30 19:08] pixelzoom commented on #622
1.4.0 deployed to PhET website.

[2016-06-30 19:08] #622 closed

[2016-06-30 19:12] pixelzoom commented on #624
1.3.0 published to PhET website.

[2016-06-30 19:12] #624 closed

[2016-06-30 19:13] pixelzoom commented on #625
6/29/16 interview didn't happen because the interviewee canceled.

[2016-06-30 19:22] mariahmaephet commented on #601
@arouinfar, are you free tomorrow (friday) or next week to meet?

[2016-06-30 19:45] arouinfar commented on #601
@mariahmaephet I'm going to be out of the office tomorrow, but I'll be available 11:00-1:00 and 3:00-5:00 next Tuesday, and all day Wednesday.

[2016-07-01 01:42] veillette commented on #630
Thanks to the qa team for the good work. Closing

[2016-07-01 01:42] #630 closed

[2016-07-01 17:21] veillette opened #633 "testing the thumbNode in SUN"
We have made some changes to SUN (see https://github.com/phetsims/sun/commit/c5dbf7cdfa530d559f8d1ded3d9714d84a5c3570 and issue #https://github.com/phetsims/sun/issues/202) that might have unintended effect.  The changes affect the thumb node and the touchArea of the thumbNode.
Can you make a regression test between published sims and sims from master and see if the query paraameter  ?showPointerA

[2016-07-01 20:22] phet-steele commented on #633
@brroberts1231 and I performed these regression tests on multiple platforms. Sliders behave the same.

[2016-07-04 01:18] mariahmaephet commented on #601
@arouinfar how about 3pm on tuesday?

[2016-07-04 20:09] veillette commented on #633
Thanks for the regression test. Closing

[2016-07-04 20:09] #633 closed

[2016-07-05 15:19] arouinfar commented on #601
Sounds good @mariahmaephe! Let's meet in Duane F915.

[2016-07-05 17:06] phet-steele commented on #632
@veillette this testing is done, but let's talk on Skype for some layout fixes if you are up for it (or I could attempt to write up an issue).

[2016-07-05 17:27] jessegreenberg commented on #627
Thanks for the testing!  Closing, a new dev version will be out to verify the fixes for issues that came out of this test.

[2016-07-05 17:27] #627 closed

[2016-07-05 17:29] jessegreenberg commented on #615
Thanks for the dev test!  Closing.

[2016-07-05 17:29] #615 closed

[2016-07-05 19:46] pixelzoom commented on #625
Skype with @amanda-phet:
[7/5/16, 1:12:31 PM] Chris Malley: How many interviews do you have scheduled for this week?
[7/5/16, 1:12:56 PM] Amanda McGarry: two today (siblings), one thursday

[2016-07-05 19:47] pixelzoom commented on #625
Lastest version is now:
http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-dev.69/function-builder_en.html

[2016-07-05 21:01] phet-steele commented on #611
@jbphet this is ready for fixing.

[2016-07-05 21:01] phet-steele commented on #612
@jbphet this is ready for fixing.

[2016-07-05 21:04] pixelzoom opened #634 "Function Builder: dev testing (round 4)"
Function Builder is complete, and is currently being reviewed by the design team (see https://github.com/phetsims/function-builder/issues/86).  Once that issue (and any resulting issues) are closed, we can proceed with a (final?) round of dev testing.  That will hopefully happen no later than Monday, 7/11/16.

When we're ready to begin, I'll create the dev version, provide instructions, etc.

[2016-07-05 21:53] arouinfar commented on #601
I met with @mariahmaephet this afternoon and made a few changes to the descriptions and list in the original post.

For all produce and candy, we'll need artwork for a single item as well as a bag of items. The bag will be a transparent sack that has some structure, similar to this:
![image](https://cloud.githubusercontent.com/assets/8419308/16601040/7b5e2ff0-42c7-11e6-9b90-76e01b03d68c.png)

[2016-07-05 22:30] oliver-phet opened #635 "User reported issue: Unable to open .jar file on Windows 10 Pro Surface Tablet"
@jbphet and @phet-steele Investigated and both of the Windows 10 computers ran the .jar file normally. The Surface tablet in question would run the .jnlp files like normal but required running the .jar file through command line (Not even console output when double-clicked).

[2016-07-05 22:44] oliver-phet commented on #635
Tested and working on Windows 8 Pro Surface tablet using latest version of Java (8_91)

[2016-07-05 23:12] samreid opened #636 "Testing for Circuit Construction Kit: Black Box Study 1.0.0-dev.18"
Circuit Construction Kit: Black Box Study 1.0.0-dev.18 was published here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.0-dev.18/circuit-construction-kit-black-box-study_en.html

The following issues should be reviewed and tested in this version:
- [x] Back layer is prioritized when measuring overlapping wires https://github.com/phetsims/circuit-constr

[2016-07-05 23:14] samreid commented on #636
For the 3 issues mentioned above, I have assigned them to the original reporters and removed the "hold" label, but it remains for @ariel-phet to indicate priority.

[2016-07-06 01:22] ariel-phet commented on #623
bumping to medium priority, we definitely want to test before the school year starts.

[2016-07-06 01:23] ariel-phet commented on #636
@phet-steele and QA team please make current top testing priority, however, this priority will be immediately superseded #634

[2016-07-06 15:04] veillette commented on #632
Thanks @phet-steele for the work,
For your information, we have been breaking a few things on master while we start using a modelviewtransform.
It would be probably easier to skype.

[2016-07-06 15:18] #632 closed

[2016-07-06 16:01] jbphet commented on #611
Okay, thanks for the testing.

[2016-07-06 16:01] #611 closed

[2016-07-06 18:39] oliver-phet commented on #635
I was also able to test on a second Windows 10 Surface and the sims worked properly. I think this is a specific issue with one tablet. Closing for now.

[2016-07-06 18:39] #635 closed

[2016-07-06 20:10] ariel-phet opened #637 "Planning Kate visit 18th and 19th of July"
This issue is to help organize purpose and planning around @KateLRN visit

[2016-07-06 20:23] KateLRN commented on #637
People to meet with for About PhET video and other intel:
- Mike Dubson
- Oliver Nix
- Emily
- Andrea Lin
- Amy Hansen

Things Kate will do on the ground:
- Work on Edmodo blog post
- Brainstorm ideas for the About PhET video
- Making connections to get more involved with the team
- Drafting blog post for LRN blog about PhET
- Compile feedback and advice for Ariel
- Shadow Ariel to gather insight

[2016-07-07 18:24] phet-steele commented on #623
@ariel-phet since these betas are public, to get the ball rolling I'll sign up with a personal account.

[2016-07-07 18:35] phet-steele commented on #623
Turing will receive macOS Sierra.

[2016-07-11 15:09] pixelzoom commented on #634
There were no significant code changes required for the final change requests (#86).  And the previous round of dev testing (https://github.com/phetsims/tasks/issues/628) found no issues.  So we've decided not to do another round of dev testing, and proceed directly to RC testing.

Closing.

[2016-07-11 15:09] #634 closed

[2016-07-11 15:14] pixelzoom opened #638 "RC test: Function Builder 1.0.0-rc.1"
Test matrix for 1.0.0-rc.1:
https://docs.google.com/spreadsheets/d/1crnipxdR5PEn8QBWQKMzPSA6sUMWdaBLRL0j8ZEzvEo/edit#gid=2

The matrix contains links to the RC version, and links to documentation for common and sim-specific query parameters.

See [FBQueryParameters.js](https://github.com/phetsims/function-builder/blob/master/js/common/FBQueryParameters.js) for documentation of sim-specific query p

[2016-07-11 15:22] pixelzoom commented on #638
Test matrix:
https://docs.google.com/spreadsheets/d/1crnipxdR5PEn8QBWQKMzPSA6sUMWdaBLRL0j8ZEzvEo/edit#gid=2

[2016-07-11 15:24] pixelzoom commented on #638
See the Terminology section of [implementation-notes.md](https://github.com/phetsims/function-builder/blob/master/doc/implementation-notes.md). This will be useful for creating issues, so that we're all speaking the same language.

[2016-07-11 15:25] phet-steele commented on #636
@samreid we're done! :+1:

[2016-07-11 15:27] pixelzoom commented on #638
See [FBQueryParameters.js](https://github.com/phetsims/function-builder/blob/master/js/common/FBQueryParameters.js) for documentation of sim-specific query parameters. The query parameters that will be most useful for RC testing are: `populateOutput`, `slow`, `showAnswer` and `playAll`.

[2016-07-11 15:31] pixelzoom commented on #638
In addition to the test matrix, please perform these specific tests:

- [ ] ?stringTest=double (double all strings)
- [ ] ?stringTest=long (excessively long strings)
- [ ] ?stringTest=X (short strings)
- [ ] ?stringTest=rtl (right-to-left text direction)
- [ ] full screen test

[2016-07-11 16:20] pixelzoom commented on #638
RC version is published, test matrix is shared with the team. You may begin RC testing. Please mention this issue in any issues that you create.

[2016-07-11 16:50] jessegreenberg opened #639 "Spot Check: Rutherford Scattering 1.0.0-dev.8"
Rutherford Scattering is ready for a spot check for the performance issues that came out of the last dev test.  This is not meant to be a full dev test, but just a check to make sure that performance is OK and that the bugs have been fixed.  Please test the sim on a few tablets and slower devices, and if you notice any issues that are new in this dev version, create a new issue and reference this

[2016-07-11 17:29] samreid commented on #636
Thanks @phet-steele @alynne-phet and @brroberts1231!  Everything is tracked elsewhere, closing.

[2016-07-11 17:29] #636 closed

[2016-07-11 18:33] ariel-phet commented on #639
@phet-steele function builder is obviously top priority, but if these checks could be done in parallel it would be great so we can move rutherford to RC status

[2016-07-11 19:27] alynne-phet commented on #639
@jessegreenberg I am still seeing alpha particles disappear when they hit the nucleus

[2016-07-11 19:43] pixelzoom commented on #625
@amanda-phet When you get a chance, please summarize your interview results here (or in the design doc) to satisfy the master checklist requirements in https://github.com/phetsims/function-builder/issues/2.

[2016-07-11 19:44] pixelzoom commented on #625
For posterity, the issues that resulted from this round of interviews were:
https://github.com/phetsims/function-builder/issues/90
https://github.com/phetsims/function-builder/issues/91

[2016-07-11 20:16] amanda-phet commented on #625
I'm working on this in the design doc and will copy and paste in this issue.

[2016-07-11 23:39] amanda-phet commented on #625
7/5/16 - Student 1, M, grade 7
Student particularly enjoyed the mystery screen. He discovered that you can reveal the function after 3 inputs are dragged through and used the reveal buttons to verify whether he was correct or not. Was determined to figure out what all of the Patterns functions did and got stuck on the identity (“selfie”) function. He determined that it did nothing, but did not con

[2016-07-12 18:21] phet-steele opened #640 "Dropping support of iOS 8"
From phetsims/function-builder/issues/94, @ariel-phet stated

List of things to do for this change, to be updated at developer meeting.

- [x] Update Example Testing Matrix
- [x] Update Help Center system requirements
- [x] Update Lave, the iPad running iOS 8
- [x] Update Bjork, the iPad Mini running iOS 8
- [x] Development overview google doc Platforms section should point to http://phet.colorado

[2016-07-12 19:12] phet-steele commented on #639
@jessegreenberg performance checked, done. Only phetsims/rutherford-scattering/issues/74 remains.

[2016-07-12 19:12] #639 closed

[2016-07-12 19:41] amanda-phet opened #641 "Test new search bar"
@mattpen made an update to the auto-complete feature of our search bar. For example, if you search for "Build" you will now see "Area Builder" and "Build a Fraction" whereas it used to only show sims that started with exactly "Build...". However, it isn't perfect yet and could use some refining.

Examples:
Search for "fraction" and you should see
* Build a Fraction
* Fractions Intro
* Fraction Mat

[2016-07-12 19:45] mattpen commented on #641
The updates are published at http://phet-new.colorado.edu

[2016-07-12 20:07] oliver-phet opened #642 "Remove 'iPad' and 'Chromebook' keyword from Java sims, Remove 'iPad' from 'Flash' sims"
@phet-steele Several Java and Flash sims still have 'iPad' and 'Chromebook' as keywords. Can you go through and remove 'iPad' and 'Chromebook' keyword from Java sims, Remove 'iPad' from 'Flash 'sims?

To find the sims, try searching "ipad" in the search bar.

Once done, you can verify by looking at the sidebar (while signed in) to ensure 'iPad/Tablet' and 'Chromebook' are no longer highlighted.

<

[2016-07-12 20:51] phet-steele commented on #494
Currently, half of the files should be in phet-storage (phet-research is not ready). The other half had issues when transferring from phetbackup to an external hard drive. Quite a few gigabytes of files had an error and were unable to be transferred in bulk. A diff was ran to see which files still need to be transferred, and the files will have to be cherry-picked.

The error, by the way, was that

[2016-07-12 20:54] phet-steele commented on #641
Currently the above examples are not working, @mattpen is aware and working on it.

[2016-07-12 21:59] phet-steele commented on #642
@oliver-phet completed and verified by @alynne-phet.

[2016-07-12 21:59] #642 closed

[2016-07-12 22:13] samreid opened #643 "Testing for Circuit Construction Kit: Black Box Study 1.0.0-dev.19"
Published here:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-black-box-study/1.0.0-dev.19/circuit-construction-kit-black-box-study_en.html

This version fixes issues identified in previous versions.  Here are the issues to be verified:

- [x] Vertex becomes dislocated when joining after an auto-move https://github.com/phetsims/circuit-construction-kit-common/issues/173
-

[2016-07-13 15:41] phet-steele commented on #623
iOS 10 is not compatible with iPad 2 (Tycho), so the beta will be put on a different device (an iPad Air 2).

[2016-07-13 15:42] phet-steele commented on #638
@pixelzoom this RC test is done.

[2016-07-13 17:18] pixelzoom commented on #638
Thank you testing team!  All issues discovered during this RC test have been addressed.  Three of those issues will need to be spot tested in another RC (coming soon).

Closing.

[2016-07-13 17:18] #638 closed

[2016-07-13 17:34] pixelzoom opened #644 "RC test: Function Builder 1.0.0-rc.2"
The previous RC test cycle (https://github.com/phetsims/tasks/issues/638) discovered a few minor issues, all of which need to be verified in this RC.   A complete test matrix is not necessary, it's sufficient to verify these issues on 1 or 2 platforms.  So this should be a quick RC cycle.

The RC version is:

http://www.colorado.edu/physics/phet/dev/html/function-builder/1.0.0-rc.2/function-builde

[2016-07-13 18:16] amanda-phet commented on #644
I did a quick check on macbook pro OSX 10.10 and these issues looked good to me (but I'll leave them for @phet-steele to close).

[2016-07-13 18:32] phet-steele commented on #644
Verified all these on Win 10 Chrome, OSX 10.11.5 Chrome, and iPad2 iOS 9.3.3. @andrea-phet verified on Win  7 Chrome.

[2016-07-13 18:36] pixelzoom commented on #644
Thank you again testing team! Onward to deploying 1.0.0.  Closing.

[2016-07-13 18:36] #644 closed

[2016-07-13 18:37] pixelzoom commented on #625
Thanks for the summary @amanda-phet.  This issue can now be closed.

[2016-07-13 18:37] #625 closed

[2016-07-13 19:23] ariel-phet opened #645 "Preliminary accessibilty testing for PhET App"
@phet-steele as we move the PhET app towards publication, one important step will be to verify that it meets accessibility requirements.

I am not sure how much will work "out of the box" - I believe if proper coding practices were followed a fair amount should work, but I do not think the CS senior project team made an explicit effort to check a11y.

[Apple's intro to testing a11y](
https://devel

[2016-07-13 19:41] ariel-phet commented on #637
Kate Schedule

AM/PM | Saturday (setup) | Monday | Tuesday | Wednesday
------------ | ------------ | ------------- | ------------- | -------------
morning          | AP/ON/   | AP/AM/SD/SR/AH          | AP/SD/JB/AH/AL         | AR/SD/JG/AH
afternoon          | AP/ON/   | ON/AP/SD/AR/AH      | ON/AP/SD/AR/AL     | AR/SD/AH

[2016-07-13 20:24] mattpen commented on #584
@phet-steele - Can you do a quick spot check on https://ox-dev.colorado.edu/ for the testing tasks you've already done on phet-new?  Now that the server is up with its own domain name, I should be able to get Rosetta configured soon as well.

[2016-07-13 20:38] phet-steele commented on #623
iOS 10 is now loaded on the iPad Air 2 named....."Dalton".

[2016-07-13 21:47] phet-steele opened #646 "New video for BCCE"
@ariel-phet @amyh-phet please make a list of sims with any specific sim states you'd like.

[2016-07-13 21:54] phet-steele opened #647 "New video for STEM forum"
We should see about revamping the video used in ISTE. @ariel-phet @amyh-phet @arouinfar please review the sims used in the ISTE video and inform if any should be swapped for something else. If not I'll just close this and we won't have a new video:

Neuron
Color Vision
Bending Light
ESPB
Area Builder
Graphing Lines
BAA
Molecule Shapes
Under Pressure

[2016-07-13 22:03] arouinfar commented on #647
@phet-steele I think Area Builder is the only sim on the list that wouldn't be appropriate for the NSTA audience. Can you swap it out for Balancing Chemical Equations?

[2016-07-14 01:53] ariel-phet commented on #647
Sounds good to me

[2016-07-14 01:54] ariel-phet commented on #646
I will leave this to the discretion of one @amyh-phet (although molecule shapes has to be in there!)

[2016-07-14 16:47] amyh-phet commented on #647
I also like the idea of adding Balancing Chemical Equations.

[2016-07-14 17:12] amyh-phet commented on #646
@phet-steele

I think we should include:

- [ ]  BAA - use ISTE version
- [ ] Molecule Shapes - use ISTE version
- [ ] Balancing Chemical Equations - pick an equation to balance and a tool to use (scale or bars)
- [ ]  Beer's Law Lab - screen 2 - pick a solution, turn on source, move ruler to measure pathlength, adjust concentration and wavelength of source
- [ ]  Concentration - pick solute, drag

[2016-07-14 17:52] jessegreenberg opened #648 "Get Andrea account on spot"
To deploy dev versions, Andrea will need a spot account.

[2016-07-14 18:09] ariel-phet commented on #640
Yes we are going to drop support. @phet-steele will proceed

[2016-07-14 18:43] phet-steele commented on #640
Forgot about our iOS 8 iPad Mini, Bjork. Updating that as well.

[2016-07-14 18:52] phet-steele commented on #643
@samreid done a good amount here, considering it done. I look forward to the next version!

[2016-07-14 21:27] phet-steele commented on #640
Above checklist list done! Sayonara iOS 8.

[2016-07-14 21:27] #640 closed

[2016-07-15 00:24] mariahmaephet commented on #601
<img width="505" alt="screen shot 2016-07-13 at 12 01 10 pm" src="https://cloud.githubusercontent.com/assets/11527557/16859917/37c1e298-49f0-11e6-86fa-b475b041800d.png">

[2016-07-15 00:48] mariahmaephet commented on #601
and these aren't the right colors, but what do you think about the design?
<img width="561" alt="screen shot 2016-07-14 at 6 48 17 pm" src="https://cloud.githubusercontent.com/assets/11527557/16860266/8bf7d1c6-49f3-11e6-8f7d-eb8aef22ca46.png">

[2016-07-15 01:10] mariahmaephet commented on #601
<img width="829" alt="screen shot 2016-07-14 at 7 10 20 pm" src="https://cloud.githubusercontent.com/assets/11527557/16860568/9f6ad598-49f6-11e6-9c70-0a33085b4326.png">

[2016-07-15 15:20] phet-steele commented on #623
@brroberts1231 can you make a note of which sims you tested and any comments you have? Also, if you haven't tried a Java or Flash on Turing yet, can you choose one or two of each to run and similarly make note?

[2016-07-15 18:33] brroberts1231 commented on #623
So far I've tested Graphing Lines, Gravity Force lab, Balancing Chemical Equations, Balancing Act, and Hooke's Law. Only html5 so far. All worked well.

[2016-07-15 18:55] brroberts1231 commented on #623
Confirmed that phetsims/joist#234 still occurs on iOS 10.0

[2016-07-15 19:21] brroberts1231 commented on #623
On Turing, I've tested Faraday's Law and Wave on a String in Flash, which automatically work in Chrome, but of course still require installing Flash Player to work on Safari or Firefox. Once you do that, though, there's no problem. On the Flash Player download page, when you select your operating system, they list OS X 10.6 - 10.11, but that version will still work for 10.12.

[2016-07-15 19:47] brroberts1231 commented on #623
For Java, I tested Graphing Lines and Balancing Act with no problem.

[2016-07-15 20:33] mattpen commented on #641
@phet-steele - I fixed the autocomplete class so that the examples should function as described above.  The fix is deployed to phet-new.

[2016-07-15 21:40] ariel-phet commented on #637
@oliver-phet, @samreid @kdessau-PhET if available for dinner

[2016-07-15 21:40] kathy-phet commented on #637
Here are times I have, but 1 of these hours will be taken. I don't know which yet.

Monday, 10-11, or 1-4.

Tuesday, 12-1 or 2-4:30

[2016-07-15 21:43] oliver-phet commented on #637
I can plan to be available.

[2016-07-15 21:45] kdessau-PhET commented on #637
I might be available...my sister is planning on driving through and not sure when she's arriving. Let me know when and where on Monday and I can try to be available.

[2016-07-15 21:57] KateLRN commented on #637
Great, I look forward to seeing you all! @ariel-phet, I'll let you make the call on where we have dinner.

@kathy-phet Should we plan to meet at 3pm Monday and we can reschedule to Tuesday if necessary?

[2016-07-15 22:19] kathy-phet commented on #637
Sure. Monday at 3pm sounds good.

[2016-07-15 22:36] kdessau-PhET commented on #637
Can't go to dinner as my sister is coming in to town.

[2016-07-16 00:16] samreid commented on #637
At the moment it seems like a 30% chance I'll be available for dinner on Monday, but I won't know for certain until then.  I'll let you know!

[2016-07-16 18:27] arouinfar commented on #601
@mariahmaephet looks great! Can you put the .ai files for the cars and fruits/veg in your Google drive folder? I also like the look of the candies, particularly the top row and the gumdrop.

[2016-07-16 18:58] mariahmaephet commented on #601
@arouinfar I put all of them in the drive. I might keep tweaking them a little bit if you're able to replace them later?

[2016-07-16 19:03] mariahmaephet commented on #502
@ariel-phet here's an update of her biking. I just need to find a way to animate it myself to make sure it looks right in motion

<img width="476" alt="screen shot 2016-07-16 at 1 02 22 pm" src="https://cloud.githubusercontent.com/assets/11527557/16896575/903c6d42-4b55-11e6-859c-2f9fccd24e75.png">

[2016-07-17 23:37] KateLRN commented on #502
@mariahmaephet I can ask our animator for advice if that would be helpful.

Looks great, by the way!

[2016-07-18 15:02] jessegreenberg commented on #648
Email sent on 7/15/16, waiting for response from OIT.

[2016-07-18 16:28] phet-steele commented on #623
@brroberts1231 can you test Molecule Shapes and ESPB (both HTML5). Close this issue if all is good.

[2016-07-18 17:11] phet-steele commented on #645
Tested, issues made.

[2016-07-18 17:11] #645 closed

[2016-07-18 17:15] ariel-phet commented on #637
@KateLRN @kathy-phet @oliver-phet @jessegreenberg we will be doing dinner at 7pm at Centro

950 Pearl St, Boulder, CO 80302

[2016-07-18 17:47] samreid commented on #637
I'll be unable to make it, have a nice dinner!

[2016-07-18 20:15] brroberts1231 commented on #623
Molecule Shapes and ESPB both look good. Closing

[2016-07-18 20:15] #623 closed

[2016-07-18 22:27] oliver-phet commented on #637
Incase I'm not the first one there, the reservation is under my name!

[2016-07-19 03:29] mattpen commented on #641
@phet-steele Reported that queries with two words that start with the same string were producing duplicate results.  For example the query "c" would return each of the CCK sims twice.

I deployed a fix to phet-new that should fix this bug.  Steele, please confirm.

[2016-07-19 15:33] ariel-phet commented on #502
@mariahmaephet can you upload this to your drive? We can have the developer put the images into the sim, and animate from there

[2016-07-19 15:34] ariel-phet commented on #502
Oh and please assign back to me once uploaded.

[2016-07-19 16:05] ariel-phet commented on #586
@oliver-phet pinging to see if we can close this issue

[2016-07-19 16:08] ariel-phet opened #649 "Artwork for projectile motion"
@arouinfar and @andrea-phet it would be good for us to enumerate what artwork we want redrawn for projectile motion, and have a clear list for our graphic artist.

[2016-07-19 16:19] oliver-phet commented on #586
Haven't heard back from the user. Closing for now.

[2016-07-19 16:19] #586 closed

[2016-07-19 16:21] phet-steele commented on #641
@mattpen @amanda-phet the search bar is functioning great. Close if there is nothing else to do here.

[2016-07-19 16:22] KateLRN commented on #637
@oliver-phet Are you in the office today? It would be great to chat with you before I take off, but no pressure!

[2016-07-19 16:27] oliver-phet commented on #637
I'm around. I'll come down in a few minutes to chat!

[2016-07-19 16:29] KateLRN commented on #637
Great, thanks!

[2016-07-19 17:15] arouinfar commented on #649
@ariel-phet is this something for me or for @amanda-phet? I'm happy to take care of it, but AM is technically the lead on this one.

[2016-07-19 17:49] amanda-phet commented on #641
Thanks @phet-steele !!

[2016-07-19 17:49] #641 closed

[2016-07-19 19:14] amyh-phet opened #650 "Infographics for Teaching Resources"
Need to rework some of our content for teaching resources as infographics for the website. Would like to replace current PDF files with infographics on web page that could be easily translated.

Ideally, the infographic could be used for workshops, booth handout, etc.

[2016-07-19 19:16] ariel-phet commented on #649
As discussed today...yes, for you @arouinfar, sorry for the unclear communication that was in my head

[2016-07-19 20:23] oliver-phet opened #651 "NSTA STEM booth needs and staffing"
- [x] Print flyers (any updates?)
- [x] Decide who all is attending and when

Wednesday (setup) | Thursday | Friday
------------ | ------------- | -------------
SD/AR/AP |SD/ON/AR | SD/ON/AH

Exhibit Schedule
Wednesday, July 27, 4:30–6:30 p.m.
Thursday, July 28, 9:15 a.m.–3:00 p.m.
Friday, July 29, 9:15 a.m.–3:00 p.m.

Exhibit Installation and Dismantling Schedule
Installation
Wednesday, July 27
8

[2016-07-19 20:23] oliver-phet opened #652 "BCCE Booth needs and staffing"

[2016-07-19 20:48] amyh-phet commented on #652
@oliver-phet   We have a chem specific flyer to use if that is okay.  I'll put a copy in the PhET Ai folder on drive.  Should have it done before I go home today.

I was planning on being at the booth with Trish each day to staff the booth.  Our workshop is on Wednesday morning, so we won't need coverage for the booth.

[2016-07-19 20:52] amyh-phet commented on #651
@oliver-phet   I can staff as needed.  I was planning to take the booth bag from NSTA to BCCE so it doesn't need to go back to Boulder between conferences.

[2016-07-19 21:00] arouinfar commented on #651
@oliver-phet I can also staff as needed.

[2016-07-19 21:52] amyh-phet commented on #651
@oliver-phet    I added an updated version of the ISTE flyer to drive in the PhET Ai files folder.  Only change was to fix a typo.

[2016-07-19 21:52] amyh-phet commented on #652
@oliver-phet   Flyer in drive folder.

[2016-07-19 22:24] phet-steele commented on #646
@amyh-phet video lives on Curie and here: https://github.com/phetsims/phet-info/blob/master/conferences/BCCE_2016.mp4

[2016-07-19 22:24] #646 closed

[2016-07-19 22:39] phet-steele commented on #647
@arouinfar @amyh-phet @ariel-phet video lives here: https://github.com/phetsims/phet-info/blob/master/conferences/NSTA_STEM_2016.mp4

[2016-07-19 22:39] #647 closed

[2016-07-20 15:11] phet-steele commented on #492
@ariel-phet we currently have a working solution in the office, come check it out! If this suits me well, I'll close this.

[2016-07-20 15:13] ariel-phet commented on #492
@phet-steele is this the rolling charging station?

[2016-07-20 15:14] andrea-phet commented on #649
Here is what I can think of so far:
- cannon
- picture on fire button
- statue of David
- different projectile objects that the design team would like (cannonball, pumpkin, piano, etc.)

[2016-07-20 15:21] phet-steele commented on #492
Indeed.

[2016-07-20 15:31] amyh-phet opened #653 "Install Camtasia on a Mac test device"
@phet-steele    I'd like to have Camtasia installed on Mac so that we can produce primers.  Can you do this or work with one of the QA team members to make this happen?

[2016-07-20 16:14] mattpen opened #654 "Test the Beta Version of the PhET App"
@phet-steele - I've added you as an external tester for the PhET App.  Can you please install the app and do a brief functionality test and report any problems here?

[2016-07-20 16:53] alynne-phet opened #655 "Some sims are missing their parent category"
A handful of sims are missing their parent category. They show up correctly on the website but are missing on the PhET app.

Someone from the QA team should go through all the sims and add any missing parent categories so they show up correctly on the app.

[2016-07-20 18:26] phet-steele commented on #653
@amyh-phet I installed it on Magnus (10.11.6 partition). Close this if the computer suits you.

[2016-07-20 18:52] amyh-phet commented on #653
@phet-steele    Thanks!

[2016-07-20 18:52] #653 closed

[2016-07-20 19:51] jbphet commented on #612
Thanks for the testing, I or @aadish will address the issues shortly.  Closing.

[2016-07-20 19:51] #612 closed

[2016-07-20 20:35] KateLRN commented on #650
Thanks, @amyh-phet! We discussed this with @ariel-phet yesterday and I shared two design examples.

A detailed infographic design appropriate for chunks of text:
http://www.learnography.ca/wp_lngy/wp-content/uploads/2015/10/CSC-LTTA-Case-Study-web.pdf

And a more simplified style that would be appropriate for small chunks of content:
http://www.learnography.ca/wp_lngy/wp-content/uploads/2015/08/DO

[2016-07-20 23:18] ariel-phet commented on #637
Visit a success, closing!

[2016-07-20 23:18] #637 closed

[2016-07-20 23:19] ariel-phet commented on #648
@jessegreenberg no response still? Might be good to ping them again

[2016-07-20 23:23] ariel-phet opened #656 "Test Java version of MOTHA for bugs"
Since @pixelzoom will soon be resuming his port of Models of the Hydrogen Atom (MOTHA) the legacy sim should be tested for any bugs. It is quite a complex sim, although no current unfuddle issues exist.

As usual, please report any issues in the repo and mark them as a "legacy bug"

[2016-07-20 23:25] pixelzoom commented on #656
When porting a Java sim, it's also typically a good idea to triage any issues that are in Unfuddle. In the case of this sim, there is only one such issue (https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/547, larger play area on Mac causes layout problems) which is irrelevant for HTML5 sims.

[2016-07-20 23:28] pixelzoom commented on #656
When porting a Java sim, it's typically a good idea to triage any issues that are in Unfuddle. In the case of this sim, there is in fact one such issue ([Unfuddle#547](https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/547), larger play area on Mac causes layout problems), but that issue is irrelevant for HTML5 sims.

[2016-07-21 03:04] andrea-phet commented on #648
@ariel-phet OIT responded, I sent my information to @jessegreenberg to proceed.

[2016-07-21 04:51] mattpen commented on #654
@phet-steele - I published a second version of the app to TestFlight tonight.  Please launch the TestFlight app on the testing iPads and hit `update` on the PhET app.

[2016-07-21 13:15] jessegreenberg commented on #648
Thanks @andrea-phet, information passed along to OIT, waiting for a response again.

[2016-07-21 16:29] oliver-phet commented on #651
@ariel-phet Do you have any availability/interest to work the booth during NSTA STEM?

[2016-07-21 17:56] arouinfar opened #657 "Dev Test: Unit Rates 1.0.0-dev.10"
As discussed in today's status meeting, @phet-steele and I should do some testing on Unit Rates. The priority should be Macbook testing (since interviews are coming soon), but it wouldn't hurt to do a little testing on the iPad too.

Testing Link:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.10/unit-rates_en.html

I've encountered two bugs but haven't had much luck in reprodu

[2016-07-21 19:10] arouinfar commented on #601
Thanks @mariahmaephet! Have you made any progress with the candy or bag artwork?

[2016-07-21 22:44] oliver-phet commented on #651
@ariel-phet will figure out how to take the booth bag on Wednesday.

[2016-07-22 15:07] samreid opened #658 "Can we create a plugin that automatically inserts require statements?"
One of the hassles during development is adding the require statements for importing modules.  Can we create a plugin with the following specs?
- it takes what you have in the clipboard as the type you want to import.
- automatically determines the correct path to import from 
- parses the JS file to find the place with require statements 
- automatically adds the import statement in the correct s

[2016-07-22 15:22] phet-steele commented on #655
HTML5 sims have been addressed. Culprits were Faraday's Law, Friction, GFL, Ohm's Law, and Resistance in a Wire (all Physics!).

[2016-07-22 16:23] amyh-phet opened #659 "Workshop Materials for BCCE"
@oliver-phet  and @phet-steele

I've put all workshop materials in a folder on Google drive:  https://drive.google.com/open?id=0BwW3aJP5Cq8oQnJSc1VRVmFVN28

We need 26 copies of each document. Please double side any document that is over 1 page in length and staple any document that is over 2 pages in length.

Let me know if you have any questions.

[2016-07-22 17:07] phet-steele commented on #659
@amyh-phet how do you want these grouped?

- All copies together in one group (17 stacks)
- 26 groups of one copy each (would there be a special order)
- Some other type of grouping?

[2016-07-22 17:32] oliver-phet commented on #651
All flyers printed.

[2016-07-22 17:32] oliver-phet commented on #652
All flyers printed.

[2016-07-22 18:17] amyh-phet commented on #659
Let's go with 17 stacks-all copies together.

[2016-07-22 18:59] phet-steele commented on #659
@amyh-phet should be good to go.

[2016-07-22 18:59] #659 closed

[2016-07-22 20:47] oliver-phet commented on #651
Badges registered for ON, AP, SD, AR (limit 4). AR can leave badge on Thursday for AH to use on Friday.

[2016-07-22 21:01] arouinfar commented on #651
Will do @oliver-phet @amyh-phet.

[2016-07-22 21:37] amyh-phet commented on #651
Thanks @arouinfar.

[2016-07-25 15:46] jessegreenberg commented on #648
OIT responded and asked for us to verify some information over the phone.  @andrea-phet and I will be calling later this morning.

[2016-07-25 16:27] phet-steele commented on #643
@samreid I'm going ahead and closing this.

[2016-07-25 16:27] #643 closed

[2016-07-25 16:27] samreid commented on #643
Thanks!

[2016-07-25 20:09] jessegreenberg commented on #648
@andrea-phet has her account on spot, she just needs to be added to the correct group for permission to publish dev versions.

[2016-07-26 16:28] oliver-phet commented on #651
Booth bag is ready to go. @ariel-phet Let me know if you will be taking it.

[2016-07-26 16:31] ariel-phet commented on #651
@oliver-phet yeah, looks like I am good to go, will probably just plan on picking it up Wednesday

[2016-07-26 19:03] jessegreenberg commented on #648
Called OIT again, they confirmed that someone will add @andrea-phet to the correct group and send a notification when it is done.

[2016-07-26 19:44] phet-steele commented on #657
@arouinfar @schmitzware this has been pretty well tested.

[2016-07-27 21:08] amyh-phet opened #660 "Modmic - new headphones"
To use the Modmic for future recordings, Stephanie suggested the following:

Get a new magnetic clip for the modmic, and a smaller, lightweight headphone set that it can be attached to.  The old headphones are too large and loose, with lots of pieces to rub on one another, and so is creating rubbing noise as the person wearing the headphones moves or speaks.  The magnetic clip seems to be permanen

[2016-07-28 00:35] jessegreenberg commented on #648
OIT has added @andrea-phet to the correct group. We can verify 7/28/16 before closing this issue.

[2016-07-28 07:55] arouinfar commented on #657
I'm going to go ahead and close this issue since testing on dev.10 has been completed. I suspect we'll need to do another round of dev testing once @schmitzware finishes up the change requests we've made, but we can create a new issue for that when the time comes.

[2016-07-28 07:55] #657 closed

[2016-07-28 08:04] arouinfar commented on #649
@andrea-phet that's a great start.

I think the items that we'd want our graphic artist to work on would be
* Cannon
* David
* Pumpkin
* Human
* Piano
* Buick
* Fire button (maybe)

I can draw the smaller items like the tank shell, balls, and fire button (if we go with the design in the mockups).

[2016-07-28 14:25] andrewadare opened #661 "Dev test Charges and Fields 1.0.0-dev.15"
Charges and Fields is ready for a test. Only a small number of minor issues have been worked on lately and it should be getting very stable.

**Testing Link**
http://www.colorado.edu/physics/phet/dev/html/charges-and-fields/1.0.0-dev.15/charges-and-fields_en.html

Please test on the following platforms:

- [x] iPad 2 latest iOS
- [x] Chromebook
- [x] Mac Safari
- [x] Windows 10 Edge

*The phet-io

[2016-07-28 15:41] schasteen opened #662 "Move video files to phet-storage google account"
The video files from PhET Backup 2 need to be moved to the phet-storage google drive.

All files from:
PhET Backup 2 / PhET-Media / PhET Classroom and Interview Footage
Should be moved to:
phet-storage / Production quality video footage (B-roll, Camtasia, Classroom)

And the files from:
PhET Backup 2 / SEI-Media / PhET Interviews
Should be moved to:
phet-storage / Production quality video footage

[2016-07-28 15:41] andrea-phet commented on #648
I was able to deploy my first dev version! (It is of proportion playground.) Thanks @jessegreenberg and feel free to close.

[2016-07-28 16:33] samreid opened #663 "Replace options && with _.extend or options = options || {}"
As described in https://github.com/phetsims/axon/issues/98, it is preferable to use

[code]

as opposed to:

[code]

[2016-07-28 16:46] ariel-phet commented on #661
@phet-steele @brroberts1231 @alynne-phet please make this the current top sim testing priority.

[2016-07-28 18:18] jessegreenberg commented on #648
Looks great, I can see it up there!  Closing.

[2016-07-28 18:18] #648 closed

[2016-07-28 18:23] ariel-phet commented on #584
@mattpen said this testing issue may now be closed

[2016-07-28 18:23] #584 closed

[2016-08-01 17:46] veillette opened #664 "dev testing for Plink-probability 1.0.0-dev.6"
Plinko Probability is ready for a test. Most of the issues raised during the code review have been addressed.

Mostly I would like to know where we stand on

- [x] https://github.com/phetsims/plinko-probability/issues/26
- [x] https://github.com/phetsims/plinko-probability/issues/48

also poke around to see if there are any additional issues.

Testing Link
http://www.colorado.edu/physics/phet/dev/

[2016-08-01 17:46] veillette commented on #664
Assigning to @ariel-phet

[2016-08-01 17:58] veillette commented on #664
In addition, I would like to know if the pegs can disappear when losing the context.

For this test, you should simply load the link below, and toggle back and forth between the simulation and some external tabs. Use a variety of browsers for this text.

http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.6/plinko-probability_en.html?screens=2

[2016-08-01 17:59] ariel-phet commented on #664
@phet-steele this should be nearly as high a sim testing priority as #661

[2016-08-02 16:11] alynne-phet opened #665 "Reading on the meter goes off of the meter itself"
For phetsims/tasks#661
Testing Device: Personal Laptop
Mac 10.11.6, Safari

Problem Description: When the equipotential meter is placed in the center of the charges, the reading on the meter goes off of the meter itself.

Steps to Reproduce:
1. Drag a positive and negative charge onto the screen
2. Place the equipotential meter in the center of the charge

![image](https://cloud.githubusercontent.

[2016-08-02 16:13] #665 closed

[2016-08-03 19:06] phet-steele commented on #661
@andrewadare @ariel-phet this testing is done. I'd recommend another dev version. Pretty significant changes will probably be needed, but it's your call too @andrewadare.

[2016-08-03 19:39] amanda-phet opened #666 "Edit credits for Mike Dubson"
I noticed that some places list him as "Mike Dubson" and others as "Michael Dubson". I find this inconsistency to be annoying so I confirmed with Mike and he would like to consistently use "Michael Dubson" in sim credits.

Can you (or someone you assign) change his name to be "Michael Dubson" in any place where it currently says "Mike Dubson" on the PhET site? (I changed a few already.)

Also revi

[2016-08-03 21:00] phet-steele commented on #492
🎉

[2016-08-03 21:00] #492 closed

[2016-08-03 22:12] phet-steele commented on #651
Good times!

[2016-08-03 22:12] #651 closed

[2016-08-03 22:17] phet-steele commented on #415
@oliver-phet @amanda-phet do you still see this being useful once the app can just be put on our iPads?

[2016-08-03 23:34] andrewadare commented on #661
Agreed, another dev version is warranted. More bugs still to fix in the meantime.

[2016-08-04 17:01] arouinfar commented on #601
@mariahmaephet any updates? So far, things are looking great. I've checked off the items from the list that have been completed, but there are still quite a few to go.

[2016-08-04 18:07] phet-steele commented on #664
@veillette issues above have been addressed. Additionally, I could not induce a context loss.

[2016-08-04 21:49] veillette commented on #664
Thanks @phet-steele for all the testing. Closing.

[2016-08-04 21:49] #664 closed

[2016-08-05 15:54] amanda-phet commented on #415
Since the app won't be free, it might still be valuable to have these instructions for users who won't/can't buy the app. If a video is too much, we could just do some screenshots with text. I'll put it on the agenda for next week's website meeting.

[2016-08-05 19:03] jessegreenberg opened #667 "RC Test: Rutherford Scattering 1.0.0-rc.1"
Rutherford Scattering is ready for an RC test.

**Link to Sim**
http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-rc.1/rutherford-scattering_en.html

**Link to iFrame**
http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-rc.1/rutherford-scattering_en-iframe.html

**Link to Test Matrix**
https://docs.google.com/spreadsheets/d/14Nwt9RWUcWIUJaHTp1fGqHMiTV

[2016-08-06 16:30] mariahmaephet commented on #601
@arouinfar @ariel-phet I currently don't have wifi so I'm just doing this over my phone--I should be able to upload actual files tonight or tomorrow.

Let me know your thoughts on the bags. the candies still have arbitrary colors while I play around with them, but since the plastic changes their color slightly do you want the final colors to be the ones you asked for or is it alright if they're sl

[2016-08-08 15:50] arouinfar commented on #601
@mariahmaephet these all look great!

We'll want the ribbon on the candy bags, since it will help cue students that the bags will remain closed when placed on the scale. Please go ahead and switch the medium shade of the candies to the colors I gave you, and then adjust the shading accordingly. Don't worry about the bag slightly altering the colors, since they will most likely remain distinguishab

[2016-08-09 15:03] phet-steele commented on #667
@jessegreenberg matrix is complete.

[2016-08-09 19:48] samreid opened #668 "Testing for circuit-construction-kit-black-box-study 1.0.0-dev.22"
As described in https://github.com/phetsims/circuit-construction-kit-common/issues/197

Assigned to @phet-steele and @ariel-phet for prioritization and scheduling.

[2016-08-09 20:34] jessegreenberg commented on #667
Thanks very much @phet-steele, new RC will be out soon.

[2016-08-09 20:34] #667 closed

[2016-08-09 21:22] oliver-phet commented on #450
A user requested the Mix app be updated to include several new sims since the app is now very out of date. Will assign to myself for now.

[2016-08-09 22:55] jessegreenberg opened #669 "RC Test: Rutherford Scattering 1.0.0-rc.2"
Rutherford Scattering is ready for the next RC test.  Assigning to myself, once the build server is up and working the next RC can be deployed.

[2016-08-10 02:33] mattpen opened #670 "Spot check for phet website"
@phet-steele - The new server is now live at phet.colorado.edu.  Can you do a brief look through and make sure everything is acting as expected?  The items tested in #584 would be good candidates for review here.

[2016-08-10 17:31] jessegreenberg commented on #669
The next RC has been deployed.

**Link to sim:** http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-rc.2/rutherford-scattering_en.html

**Link to iFrame:** http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-rc.2/rutherford-scattering_en-iframe.html

**Link to Test Matrix:** https://docs.google.com/spreadsheets/d/14Nwt9RWUcWIUJaHTp1fGqHMiTVHQj8snQmbDSjw

[2016-08-10 18:23] andrewadare commented on #661
@phet-steele @ariel-phet I just pushed dev.16 to spot. I worked on many bugfixes over the week, and a new testing round seems appropriate.

The issue that occupied the most of my time is the one I made the least real progress on (Significant memory leak, https://github.com/phetsims/charges-and-fields/issues/83). I took some of @jbphet's time yesterday for an apprenticeship on profiling (which was

[2016-08-10 18:30] phet-steele commented on #661
Yes, and close this one.

[2016-08-10 18:57] andrewadare opened #671 "Dev test: Charges and Fields 1.0.0-dev.16"
**Testing link:**
http://www.colorado.edu/physics/phet/dev/html/charges-and-fields/1.0.0-dev.16/charges-and-fields_en.html

Memory allocation issues are still expected, but a new test would help to benchmark whether any improvement has been achieved.

[2016-08-10 18:59] andrewadare commented on #671
For further context see https://github.com/phetsims/tasks/issues/661#issuecomment-238957648

[2016-08-10 18:59] #661 closed

[2016-08-10 19:56] phet-steele commented on #670
A few things I've tried so far, with appropriate issues made:

- Browsing the website in RTL languages and alternate fonts
- Running and downloading simulations
- Translating the website and deploying new website translations (a trusted translator happened to unknowingly do this for me)
- Downloading and uploading contributions
- Translating and deploying a translation of an HTML5 sim with rosetta

[2016-08-11 04:58] arouinfar commented on #601
@mariahmaephet can you give an estimate of when you'll be able to upload the .ai files to Drive?

[2016-08-11 15:07] phet-steele commented on #670
@mattpen things are working well.

[2016-08-11 15:08] mattpen commented on #670
Thanks for checking, I'm going to take the maintenance message down.

[2016-08-11 15:08] #670 closed

[2016-08-11 15:22] mariahmaephet commented on #601
@arouinfar They should be uploading right now. Do you want a ribbon on the produce bags as well?

<img width="1044" alt="screen shot 2016-08-11 at 9 18 37 am" src="https://cloud.githubusercontent.com/assets/11527557/17593882/9f1321ae-5fa4-11e6-8815-21a952cfe46e.png">
<img width="672" alt="screen shot 2016-08-11 at 9 18 56 am" src="https://cloud.githubusercontent.com/assets/11527557/17593884/9fe844

[2016-08-11 17:19] arouinfar commented on #601
@mariahmaephet this all looks great!! We may eventually decide to add a ribbon to the vegetable bags, since they don't open up in the sim, but I can take care of that on my end.

Looks like the only artwork left in this issue is the shelf or bags to sit on.  We're looking for wooden shelf with a little depth that matches the perspective of the scale. I think a lighter wood like pine would look nic

[2016-08-11 17:47] oliver-phet opened #672 "Update Java Build Tools to work with new server"
- [ ] Deploying new Java translations through PBG and building them on the server
- [ ] .jnlp files should link to HTTPS instead of HTTP
- [ ] PBG should point to phet-server instead of figaro

[2016-08-12 15:21] jbphet commented on #672
Marked for developer meeting so we can determine who will work on this and when.

[2016-08-12 17:54] phet-steele commented on #669
@jessegreenberg RC testing done. I await the spot checks or phetsims/rutherford-scattering/issues/104.

[2016-08-12 20:21] andrewadare commented on #671
@phet-steele discovered that something went wrong with my build of dev.16, and none of my bugfixes were picked up. Sorry for this mistake; dev.17 has been pushed to spot.colorado.edu. Rather than trying to edit this issue to update it for dev.17, I'll close this and open a new one.

[2016-08-12 20:21] #671 closed

[2016-08-12 20:24] andrewadare opened #673 "Dev test: Charges and Fields 1.0.0-dev.17"
Testing link:
http://www.colorado.edu/physics/phet/dev/html/charges-and-fields/1.0.0-dev.17/charges-and-fields_en.html

- [x] phetsims/charges-and-fields/issues/46
- [x] phetsims/charges-and-fields/issues/64
- [x] phetsims/charges-and-fields/issues/77
- [x] phetsims/charges-and-fields/issues/81
- [x] phetsims/charges-and-fields/issues/82
- [x] phetsims/charges-and-fields/issues/84
- [x] phetsims/c

[2016-08-15 16:36] jessegreenberg commented on #669
Thanks very much @phet-steele.  Closing, next RC for spot checks out shortly.

[2016-08-15 16:36] #669 closed

[2016-08-15 17:17] veillette commented on #666
All the sims credits have been changed.

There are two more mentions of Mike that I have not changed (but could if wanted)
(1) in the repo website, under some 2012 survey (probably irrelevant)
(2) in  the PhET-IO-website (see below)

[code]
Assigning back to @amanda-phet

[2016-08-15 17:51] samreid opened #674 "Dev Test: Circuit Construction Kit: Black Box Study 1.0.0-dev.23"
CCK Black Box Study 1.0.0-dev.23 was published as described in https://github.com/phetsims/circuit-construction-kit-common/issues/203

@phet-steele and @arouinfar can you please test as described in the issues above?  I'm not sure how the priority relates to the remainder of your workload.

[2016-08-15 18:02] arouinfar commented on #674
@samreid I can work on this today. @phet-steele I'm not sure what you have on your plate right now, can this be high priority?

[2016-08-15 18:07] phet-steele commented on #674
@arouinfar this can be high for the time being. @alynne-phet is also available today/this week.

[2016-08-15 18:13] phet-steele commented on #668
Next dev version is being tested, closing this one.

[2016-08-15 18:13] #668 closed

[2016-08-15 19:36] jessegreenberg opened #675 "RC Spot Check: Rutherford Scattering 1.0.0-rc.3"
Rutherford Scattering 1.0.0-rc.3 is ready for a spot check.

**Link to sim:** http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-rc.3/rutherford-scattering_en.html

The only changes between 1.0.0-rc.3 and 1.0.0-rc.2 are related to the control panel to fix phetsims/rutherford-scattering#104, so only a spot check is necessary.  Please check the simulation on one or two platfor

[2016-08-15 21:52] phet-steele commented on #675
Performance tested on:

Win 10 Chrome
OSX 10.11.6 Chrome
iPad 2 iOS 9.3.4
Chromebook

All good.

[2016-08-15 22:20] phet-steele commented on #675
@jessegreenberg 1.0.0-rc.3 testing is done.

[2016-08-15 22:20] #675 closed

[2016-08-16 18:23] amanda-phet commented on #666
So, to be clear on what happened, the credits are changed and will go into effect when a sim is republished?

(1) Not concerned about this
(2) If possible to change here go ahead. However that team page in general seems to be outdated so I can wrap this change into a set of other changes later on.

[2016-08-16 18:28] veillette commented on #666
The credits in the sims have been changed. The corrections were done in master, therefore they will be present in future releases of the simulations.

I'll go ahead and make the change on the phet-IO page.

[2016-08-16 18:31] amanda-phet commented on #666
Perfect! Thanks so much. I'll go ahead and close this issue then.

[2016-08-16 18:31] #666 closed

[2016-08-16 19:08] oliver-phet commented on #415
Assigning to @arnabp for when you are back in the office.

[2016-08-16 19:09] amanda-phet commented on #415
8/16 meeting we decided that this video would still be useful.

[2016-08-16 19:26] mattpen commented on #654
The beta version is currently working.  I'll open a new issue to test new releases.

[2016-08-16 19:26] #654 closed

[2016-08-16 20:55] mattpen opened #676 "Test contributions on ox-dev"
@phet-steele Can you please test the changes from phetsims/website#464, phetsims/website#478, and phetsims/website#473?  The changes have been applied on ox-dev.

Things that need to be confirmed:
- [x] Activity downloads still work, especially for greek/korean alphabet filenames.
- [x] Activities are displayed using the original filename on the website.
- [x] Adding activity files. If filename is

[2016-08-16 22:24] phet-steele commented on #676
Are you throwing this error only after the contribution has been created? Or are you throwing it when the user hits submit?

[2016-08-17 00:24] jessegreenberg opened #677 "RC Spot Check: Rutherford Scattering 1.0.0-rc.4"
Rutherford Scattering 1.0.0-rc.4 is ready for a spot check.

**Link to sim:** http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.0.0-rc.4/rutherford-scattering_en.html

The only changes between 1.0.0-rc.4 and 1.0.0-rc.3 are related to the control panel to fix phetsims/rutherford-scattering#104, and phetsims/rutherford-scattering#109  so only a spot check is necessary. Please che

[2016-08-17 01:16] mattpen commented on #676
When the user hits submit.

[2016-08-17 15:19] phet-steele commented on #674
This testing has been finished.

[2016-08-17 15:19] #674 closed

[2016-08-17 15:48] mattpen commented on #676
No need to check duplicate activities, I checked these programatically.

[2016-08-17 16:39] phet-steele commented on #677
@jessegreenberg @jbphet @amyh-phet This looks good to go!

Tested on:
iPad 2 iOS 9.3.4
OSX 10.11.6 Chrome
Win 10 Chrome

[2016-08-17 16:39] #677 closed

[2016-08-17 16:46] andrewadare opened #678 "Dev test: Charges and Fields 1.0.0-dev.18"
Testing link:

www.colorado.edu/physics/phet/dev/html/charges-and-fields/1.0.0-dev.18/charges-and-fields_en.html

phetsims/charges-and-fields#81, phetsims/charges-and-fields#82, phetsims/charges-and-fields#86, and with many thanks to @samreid, phetsims/charges-and-fields#83 have been given proposed fixes.

[2016-08-17 17:11] phet-steele commented on #678
@andrewadare is this to replace the testing of 1.0.0-dev.18?

[2016-08-17 17:17] mattpen commented on #676
Added admin panel check to checklist in https://github.com/phetsims/tasks/issues/676#issue-171515588

[2016-08-17 17:42] andrewadare commented on #678
It is an updated version, with the fixes mentioned above. They are responses to issues raised in the testing of dev.17.

[2016-08-17 18:17] jessegreenberg commented on #677
Thanks so much @phet-steele and @alynne-phet!

[2016-08-17 18:53] phet-steele commented on #673
Next dev is in the testing queue. Moving to that one.

[2016-08-17 18:53] #673 closed

[2016-08-18 17:19] phet-steele commented on #676
@mattpen very recent problem: I can't seem to create a contribution with 3+ activities (ox-dev). I encounter an internal error.

[2016-08-18 18:57] pixelzoom commented on #672
8/18/16 dev meeting:
• Java translations can't be published until this work is done
• @mattpen has other things that need to be done first related to server cut-over

[2016-08-18 19:06] mattpen commented on #672
While also updating the tools we should also make them compatbile with JDK 8 which is currently running on phet-server, or making the JDK 7 binaries available.

[2016-08-18 20:30] mattpen commented on #676
@phet-steele - creating contributions with 3+ files should be working now.

[2016-08-19 18:04] phet-steele commented on #678
@andrewadare Testing done.

[2016-08-19 18:44] jessegreenberg opened #679 "Dev Test Gravity and Orbits 1.0.0-dev.26"
It has been a while since gravity-and-orbits was dev tested, and now would be a good time to find any remaining issues..

**Link to sim:** http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.26/gravity-and-orbits_en.html

As part of this dev test, please also see if you can reproduce https://github.com/phetsims/gravity-and-orbits/issues/208.

Also please check the performanc

[2016-08-19 19:22] oliver-phet opened #680 "Java sims DPI scaling"
@phet-steele looked into options for disabling high-DPI scaling, but needs developer input.

[2016-08-19 19:43] ariel-phet commented on #494
@phet-steele - any updates on this issue?

[2016-08-19 19:46] ariel-phet commented on #680
@oliver-phet I am marking this as low priority for the moment. Might be a better task for @arnabp

This is a known issue (both @amyh-phet and I have seen this many times.

It might be good to also let the person who wrote you know that we have a few more chem HTML5 sims in the works (SOM, atomic interactions (soon'ish), rutherford (just published), and MOTHA in the works)

[2016-08-19 20:09] jessegreenberg opened #681 "Spot Check: Sims with aria-live content"
For phetsims/chipper#472, we are going to add some content to the top level html file for accessibility.  This content has been added in the following dev versions, where the aria-live text content has been populated with small, medium and very long strings:
 - http://www.colorado.edu/physics/phet/dev/html/rutherford-scattering/1.1.0-dev.1/rutherford-scattering_en.html
 - http://www.colorado.edu/p

[2016-08-19 20:29] phet-steele commented on #494
@ariel-phet nope!

[2016-08-19 20:30] ariel-phet commented on #494
@phet-steele - we should continue to chip away, I do not want to see this linger too long. Feel free to enlist other QA members to help out

[2016-08-19 20:41] oliver-phet commented on #680
This likely isn't a task for @arnabp - I think it will take a developer. Looks like it requires modifying the Java manifest file and recompiling it.

[2016-08-22 19:04] phet-steele commented on #656
@ariel-phet @pixelzoom Java version tested, it's relatively solid.

[2016-08-22 19:04] #656 closed

[2016-08-22 21:28] samreid opened #682 "RC Test: Bending Light 1.1.0-rc.1"
Bending Light is ready for an RC test.  We would like to republish it to fix the "WebGL wave view not captured in screenshots" issue https://github.com/phetsims/bending-light/issues/350 present in the current version on the website.  This version is built from master (not a maintenance release), hence we will need to make sure changes to common code have not disturbed anything.  The issue that pre

[2016-08-22 22:00] ariel-phet commented on #682
@phet-steele definitely no need to be done until #679 is complete (GAO is much higher priority to get published)

[2016-08-23 03:03] samreid opened #683 "Boolean, Number and String should be lower-case"
I'm seeing a large number of

[code]

These should be lower case.  There is no practical ramification at the moment, but this should be fixed.

[2016-08-23 04:58] mattpen commented on #676
@phet-steele - The zip files should be working now as well.  Is there anything remaining that hasn't been fixed?

[2016-08-23 14:56] andrewadare commented on #683
Is Object supposed to remain capitalized? Seems inconsistent, but is in far more common usage.

A search for `@param {Object}` returns 1002 matches across 856 files.
A search for `@param {object}` returns 24 matches across 21 files.

[2016-08-23 15:25] samreid commented on #683
Yes, according to http://usejsdoc.org/tags-param.html Object is uppercase (not a primitive).

[2016-08-23 15:32] andrewadare commented on #683
Interesting cultural phenomenon how quirks inherited from C/C++ become formalized.

So the 24 `{object}` --> `{Object}` replacements should also be added to the list. Probably best to do all this some quiet evening to avoid merge conflicts.

[2016-08-23 17:01] brroberts1231 commented on #679
Confirmed phetsims/gravity-and-orbits#208 still occurs on Witten and Lave.

[2016-08-23 18:03] phet-steele opened #684 "Verify Grade Level categories for HTML5 sims"
@ariel-phet @amanda-phet @amyh-phet @arouinfar If you would, please go through the HTML5 sims you are responsible for and verify their grade level categories are correct. Just go to their sim page and see which categories are bolded in the navbar, and make sure they are correct. If there is a problem, no need to change anything. Just comment here and I'll take care of the changes. Please check a s

[2016-08-23 18:11] arouinfar commented on #684
Done!

[2016-08-23 18:22] amyh-phet commented on #684
@phet-steele   Only one change:

- [ ] Remove Elementary from Build an Atom

[2016-08-23 18:22] amyh-phet commented on #684
Done!

[2016-08-23 20:24] amanda-phet commented on #684
@phet-steele only one change: removed "high school" from Area Builder.

[2016-08-23 20:32] andrewadare commented on #678
Closing to make way for 1.0.0-dev.19

[2016-08-23 20:32] #678 closed

[2016-08-23 20:36] andrewadare opened #685 "Dev test: Charges and Fields 1.0.0-dev.19"
Dev testing was marked complete on dev.18; two issues were raised from that testing round that have received fixes (https://github.com/phetsims/charges-and-fields/issues/88 and https://github.com/phetsims/charges-and-fields/issues/89).

A few other minor updates were pushed that aren't expected to have any bearing on performance or behavior.

Testing link:
http://www.colorado.edu/physics/phet/dev/

[2016-08-23 20:58] ariel-phet commented on #679
Moving to medium as #685 needs to take precedence

[2016-08-23 20:59] ariel-phet commented on #685
@phet-steele this should be the current top sim testing priority given that it is nearly ready for RC

[2016-08-23 22:27] phet-steele commented on #681
These links work on Win 10 Edge, iOS 9.3.4, and OSX 10.11.6 Chrome. However, there is no aria-live content in an iframe!!

[2016-08-23 22:27] #681 closed

[2016-08-23 22:27] phet-steele commented on #684
Thank you all!

[2016-08-23 22:27] #684 closed

[2016-08-24 17:38] andrewadare opened #686 "Dev test: Charges and Fields 1.0.0-dev.20"
https://github.com/phetsims/charges-and-fields/issues/94 and https://github.com/phetsims/charges-and-fields/issues/95 arose from testing on 1.0.0-dev.19 and have been addressed for this version. Unfortunately the latter was a regression that made the changes for dev.19 untestable. #685 will be closed and this is the version that should now be used.

Testing link:
http://www.colorado.edu/physics/ph

[2016-08-24 17:39] mattpen commented on #676
@oliver-phet @amanda-phet - The changes to the activity pages in the related issues are in a finished state.  It might be a good idea to deploy these changes to phet-server now, before I start adding changes for the file replace button.  Is that ok with you?

[2016-08-24 17:39] andrewadare commented on #685
Please continue at #686; closing.

[2016-08-24 17:39] #685 closed

[2016-08-24 17:44] oliver-phet commented on #676
OK with me.

[2016-08-24 17:51] amanda-phet commented on #676
I have not tested any of this myself, but if it's working it seems like a good idea to deploy before making more changes.

[2016-08-24 18:04] mattpen commented on #676
OK, I'll deploy this tonight and start on the replace function tomorrow.

[2016-08-24 23:23] jbphet opened #687 "dev test State of Matter 1.0.0-dev.10"
This sim is ready for a round of dev testing.  A lot of the internals of the model have changed in order to improve performance on devices like iPads, so making sure the model behavior is correct is probably the most important thing.  Quite a number of layout and other appearance issues have also been resolved, feel free to scan through the closed issue on the states-of-matter and atomic-interacti

[2016-08-25 04:03] mattpen commented on #676
This was deployed to phet-server.  Thanks @phet-steele for the exhaustive testing.  I'll continue tracking changes for the new file replace button in phetsims/website#473

[2016-08-25 04:03] #676 closed

[2016-08-25 15:20] phet-steele commented on #672
@mattpen @jbphet @ariel-phet this is the weekly reminder I was told to give!

[2016-08-26 19:02] alynne-phet commented on #686
Testing complete and no new issues found! Thanks Andrew!

[2016-08-26 19:24] ariel-phet commented on #686
Oh boy, I think time for RC!

[2016-08-26 21:19] phet-steele opened #688 "Test Java of Gene Expression - The Basics"
@aadish is resuming the port of Gene Expression Essentials (title pending) and the legacy sim should be tested for any bugs. As usual, please report any issues in the Gene Expression Essentials repo and mark them as a "type:legacy-bug".

[2016-08-26 23:36] ariel-phet commented on #450
This seems like it would be good to fix soon...do we have any sort of admin access?

Does @kathy-phet have a contact at microsoft? Sounds like we need to find a new liaison?

[2016-08-26 23:37] ariel-phet commented on #524
@arouinfar lets get Balancing Act up next week so we can close this issue

[2016-08-26 23:59] arouinfar commented on #524
Sounds good @ariel-phet. I've been meaning to check this one off my list.

[2016-08-27 00:12] arouinfar commented on #450
@ariel-phet I'll ping Kurt (our Microsoft liaison) about this and see if I get a response. I'll also shoot you an email about accessing our Office Mix account.

Our Office Mix app predates me. I don't know much about how it works, but from what I understand we cannot add our own content to the app. It must get rerouted through a liaison at Microsoft. Given this, I'm also skeptical that we have muc

[2016-08-28 17:14] mariahmaephet commented on #502
@ariel-phet Here's a gif of the movement. Obviously the layering will be different so she straddles the bike in the game and the pedals will be added--this was just faster :)
![phetbikingfix](https://cloud.githubusercontent.com/assets/11527557/18035274/1834c414-6d21-11e6-84c0-8a39c947c20b.gif)

[2016-08-28 17:30] mariahmaephet commented on #601
@arouinfar How about this? I have it added to the fruits and veggies file in my drive
<img width="476" alt="screen shot 2016-08-28 at 1 29 34 pm" src="https://cloud.githubusercontent.com/assets/11527557/18035401/82f5ad84-6d23-11e6-8397-4da278da9ccf.png">

[2016-08-28 17:35] mariahmaephet commented on #309
@ariel-phet I realized I hadn't officially posted in here but the files for this are in my artwork folder if you haven't seen those already

[2016-08-28 19:55] ariel-phet commented on #502
@mariahmaephet looks great, definitely upload to drive!

[2016-08-28 19:57] ariel-phet commented on #649
@mariahmaephet it would be good to have a skype call with @arouinfar regarding this artwork (next big sim artwork project). Although finishing off any math sim artwork is still the top priority.

Thanks!

[2016-08-29 15:13] arouinfar commented on #649
@mariahphet my schedule is generally pretty flexible except for Thursdays. Will you be able to chat this week?

[2016-08-29 15:20] arouinfar commented on #601
@mariahmaephet thanks, the shelf looks great! I'm going to try it out in the mockup to see how it looks in context.

[2016-08-29 23:11] andrewadare opened #689 "RC Test: Charges and Fields 1.0.0-RC.6"
Charges and Fields 1.0.0-rc.6 is ready for RC testing.

After discussion with the developer team last week, it was decided to merge C&F master into an existing branch called 1.0, and also to keep around the old RCs to avoid any possibility of confusion. So that's what was done, and that's why we're starting here with RC.6.

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/charges-and-

[2016-08-29 23:15] andrewadare commented on #686
@phet-steele @ariel-phet An RC is up for testing at https://github.com/phetsims/tasks/issues/689.

[2016-08-30 03:17] ariel-phet commented on #689
@phet-steele this sim should be current top testing priority (and hopefully publish soon!)

[2016-08-30 03:18] ariel-phet commented on #688
Moving to low priority for now

[2016-08-30 03:18] ariel-phet commented on #686
Sounds good, lets go ahead and close this issue.

[2016-08-30 03:18] #686 closed

[2016-08-30 03:57] samreid opened #690 "Dev Testing for Record/Playback over Metacog for Function Builder 1.1.0-dev.2"
In https://github.com/phetsims/phet-io/issues/548 @kathy-phet said:

We need to test that the simulation can deliver events to Metacog, and that we can retrieve and play back the events afterwards.

Steps are described in https://github.com/phetsims/phet-io/issues/566 and most discussion should take place in that issue, since this is a PhET-iO issue.  This tasks issue is for prioritization and ass

[2016-08-30 05:28] ariel-phet commented on #690
@samreid is there a timeline associated with this goal of which you are aware - did we promise delivery at a certain date?

[2016-08-30 14:25] andrewadare commented on #502
Nice! I assume she won't be as happy looking when she bonks...

[2016-08-30 14:44] ariel-phet commented on #502
@andrewadare correct

[2016-08-30 14:45] ariel-phet commented on #502
@mariahmaephet we also need the "feed me" pose where PhET girl is slumped over the handle bars a bit and looking a bit tired (but math sim and projectile motion stuff are higher priority)

[2016-08-30 16:19] samreid commented on #690
I don't know when @kathy-phet hopes to run this study.  All I know is from @kathy-phet's comments in https://github.com/phetsims/phet-io/issues/548 and https://github.com/phetsims/phet-io/issues/553#issuecomment-241566676

[2016-08-30 16:23] ariel-phet commented on #682
Moving to low priority for the moment considering other current testing tasks

[2016-08-30 16:24] ariel-phet commented on #690
@phet-steele places at medium priority currently, but could change if @kathy-phet requires action sooner.

[2016-08-30 19:08] arnabp commented on #525
All docs that were under my ownership have now been transferred to phethelp

[2016-08-30 19:29] arnabp commented on #660
What price range are you looking at for this?

[2016-08-30 19:37] amyh-phet commented on #660
@arnabp   I think less than $100 if we can find something.  I'll check with others who are recording primers to see if they are actively using the modmic as I think we've gone to using the separate mic you ordered last fall.

[2016-08-30 22:05] samreid commented on #690
I asked @kathy-phet about priority today, and she said that sims destined for the PhET website are at a higher priority.  Function Builder/metacog is at relatively high priority compared to everything not destined for the PhET website.

[2016-08-31 15:07] phet-steele commented on #689
Now that everything should be compatible with the PhET menu screenshot feature, I'm adding that to the above list to verify.

[2016-08-31 16:43] arouinfar commented on #649
Pinged @mariahmaephet via email to set up a Skype chat.

[2016-08-31 17:02] mariahmaephet commented on #502
@ariel-PhET Right! I'll get on that. I might not be able to upload the .ai files until Friday when I get internet at my place but I'll take a picture of the slump pose to get confirmation on that today or tomorrow

[2016-08-31 17:02] ariel-phet commented on #502
Sounds good, thanks @mariahmaephet

[2016-08-31 17:36] arouinfar commented on #601
Here's the shelf in context:

![image](https://cloud.githubusercontent.com/assets/8419308/18139508/18fc04b6-6f6f-11e6-96c1-c00d5b44ec64.png)

Looks like I can go ahead and close this issue and send the shelf artwork off to @schmitzware.

Thanks again @mariahmaephet!!

[2016-08-31 17:36] #601 closed

[2016-08-31 20:23] arouinfar commented on #450
Heard back from Kurt, and it looks like there is a way that we can maintain the app in-house. Discussion is continuing over email.

[2016-08-31 23:26] jbphet opened #691 "dev test Atomic Interactions 1.0.0-dev.12"
This sim is ready for some dev testing in order to weed out any obvious bugs before starting to do release candidates.

Here is a link:
http://www.colorado.edu/physics/phet/dev/html/atomic-interactions/1.0.0-dev.12/atomic-interactions_en.html

Platforms:

- [x] iPad2
- [x] Mac Safari
- [x] Win Chrome

[2016-09-01 01:40] ariel-phet commented on #687
moving to medium for the moment (since Atomic Interactions is closer to publication)

[2016-09-01 01:41] ariel-phet commented on #691
@phet-steele this test should currently be next in line after #689 for sim testing (as it is quite close to being ready for RC)

[2016-09-01 15:52] jessegreenberg commented on #679
@phet-steele @ariel-phet, we will want to do another dev test after https://github.com/phetsims/gravity-and-orbits/issues/162.  I am not sure how far along this one is, but if you would like to shut this one down and start fresh in the next version, that might prevent having to do extra testing.  Especially since there are  other tasks in line ahead of this one.

[2016-09-01 16:51] ariel-phet commented on #679
@jessegreenberg - alright closing this task since you have made many new optimizations.

[2016-09-01 16:51] #679 closed

[2016-09-01 22:33] amyh-phet commented on #660
@arnabp    It sounds like this would be helpful to have.  Can you price out options please?

[2016-09-02 17:48] alynne-phet commented on #689
@andrewadare Matrix is complete!

[2016-09-06 14:22] ariel-phet commented on #689
Testing complete, and @andrewadare working on publishing. Closing

[2016-09-06 14:22] #689 closed

[2016-09-06 14:23] ariel-phet commented on #691
Making current top sim testing priority

[2016-09-06 14:24] ariel-phet commented on #687
Back up to high priority. Might get bumped if a new GAO version is put out for testing

[2016-09-07 19:15] arouinfar commented on #450
@ariel-phet will be meeting with Kurt to discuss the next steps. Reassigning to him for now.

[2016-09-07 20:15] ariel-phet commented on #691
Testing complete, closing

[2016-09-07 20:15] #691 closed

[2016-09-07 20:15] ariel-phet commented on #691
Emailed @jbphet about getting an RC going

[2016-09-07 21:22] arnabp commented on #660
[Senheiser HD 419](https://www.amazon.com/Sennheiser-HD-419-Headphones-Black/dp/B005N8W1MO) ($49.99) and  [Senhesier HD 429](https://www.amazon.com/Sennheiser-HD-429-Headphones-Black/dp/B005N8W1Q0/) ($37.99) are both great options (some slight differences between them).

You did, however, say "small" so I'm not sure what that constitutes, since these are both over ear designs. If you'd prefer a sm

[2016-09-07 21:54] amyh-phet commented on #660
@arnapb   I think we are going to try and see if we can pass around the larger mic on a stand you set up for us in January.  I think Stephanie is done recording primers, so we likely won't order this for a while.  I'll make a note of what you found, then close the issue.  Thanks for tracking this down in case we need to order.

[2016-09-07 21:54] #660 closed

[2016-09-07 22:58] ariel-phet commented on #450
Met with Kurt, going to track next steps in special ops since a bit more of an internal discussion

[2016-09-07 22:58] #450 closed

[2016-09-08 18:11] BryceAG commented on #687
phetsims/states-of-matter#149 and phetsims/states-of-matter#150 still occur with iPad 2 safari. Simulation gets very laggy with more than a few particles

[2016-09-08 23:21] jessegreenberg opened #692 "Dev Test Gravity and Orbits 1.0.0-dev.30"
It has been a while since gravity-and-orbits was dev tested, and now would be a good time to find any remaining issues..

Link to sim: http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.30/gravity-and-orbits_en.html

Also please check the performance on a few of the slower devices to gauge the status of performance for this sim.

- [x] iPad2
- [x] Chromebook
- [x] Win Firef

[2016-09-09 01:24] ariel-phet commented on #692
@phet-steele marking as high priority (atomic interactions will be top priority when that RC is ready)

[2016-09-09 17:23] jbphet opened #693 "RC Test: Atomic Interactions 1.0.0-rc.1"
Atomic Interactions v1.0.0 is ready for an RC test.  This is the first RC test for the HTML5 version of this simulation, so a thorough test on all supported platforms should be performed.

**Link to Sim**
http://www.colorado.edu/physics/phet/dev/html/atomic-interactions/1.0.0-rc.1/atomic-interactions_en.html

**Link to iFrame**
http://www.colorado.edu/physics/phet/dev/html/atomic-interactions/1.0.

[2016-09-09 17:45] ariel-phet commented on #687
@phet-steele is this task complete since everything is checked off?

[2016-09-09 17:45] ariel-phet commented on #693
@phet-steele since this sim is near publication it should be made the top sim testing priority

[2016-09-09 18:03] jbphet opened #694 "dev test State of Matter 1.0.0-dev.11"
A new dev version has been created for SOM since we got word that some folks outside of PhET are putting together some learning materials using the old Java version, and we thought they might want to work with the soon-to-be-published HTML5 version instead.  We are providing them the link to this dev version.

As of this writing, the task to test the previous dev version (v1.0.0-dev.10) is still o

[2016-09-09 18:04] jbphet commented on #687
Closing this, since a new dev version has been published and a task has been set up to test it, see #694.

[2016-09-09 18:04] #687 closed

[2016-09-12 07:15] #524 closed

[2016-09-12 17:02] samreid commented on #663
Is this issue in the right spot?

[2016-09-12 17:14] samreid commented on #663
Perhaps this is the right place for this, but I'm not planning to work on it soon.  Unassigning.

[2016-09-13 21:12] pixelzoom opened #695 "high CPU usage on Mac + Firefox"
As noted in https://github.com/phetsims/plinko-probability/issues/48#issuecomment-246032890, PhET sims in general are seeing high CPU usage on Mac + Firefox.

As noted in https://github.com/phetsims/plinko-probability/issues/48#issuecomment-246036398, Mac + Firefox accounts for 1.14% of sim usage (YTD).

Assigning to @ariel-phet to decide how to proceed.

[2016-09-13 21:45] ariel-phet commented on #695
@amanda-phet @arouinfar I believe both of you have seen this behavior on sims. Are there any sims where you recall high CPU usage NOT occurring for Mac+FF?

[2016-09-13 21:47] ariel-phet commented on #695
Marking for dev meeting for some quick brainstorming. We could consider dropping Mac + FF support.

[2016-09-13 22:20] arouinfar commented on #695
@ariel-phet I recall seeing high CPU usage for Mac/FF in Bending Light, but can't remember any others (Chrome is my daily browser).

@amanda-phet is a regular Firefox user, so she can probably say more about this particular issue.

[2016-09-13 22:32] amanda-phet commented on #695
I only regularly open sims NOT in FF when dev testing, so no I can't think of sims with high CPU usage in places like Chrome or Safari.

[2016-09-13 23:09] ariel-phet commented on #695
@amanda-phet, since you use FF regularly, I meant have you used any sims that when using FF do not have high usage. @pixelzoom seemed to report it appeared to be a general problem, so are you only seeing this on certain sims(high CPU) or on all sims. We are thinking it is a more general issue.

[2016-09-13 23:54] pixelzoom opened #696 "Plinko Probability: dev testing (round 1)"
Ready for a dev test of Plinko Probability.  The dev version is:

http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-dev.16/plinko-probability_en.html

There is no test matrix, and some testing on all supported platforms is desired.

Of special interest:
• Are there issues on Edge?
• Are there multi-touch issues?
• Are there situations where performance is unacceptable (or coul

[2016-09-14 01:46] ariel-phet commented on #694
Bumping to medium for the moment, as plinko is closer to publication

[2016-09-14 01:46] ariel-phet commented on #696
Currently putting at high priority for the QA team since this sim appears close to RC testing

[2016-09-14 03:03] amanda-phet commented on #695
Ah, yes that was unclear.

Most sims do not have high usage. I remember ESPB and Bending Light both having high usage when I did dev testing.

[2016-09-14 16:41] pixelzoom commented on #696
Mentioning @amanda-phet so that she's in the loop. This sim is now in dev testing.

[2016-09-14 16:42] pixelzoom commented on #695
The sims that will have high CPU usage are the ones where the screen is updating frequently - e.g., there are a lot of continuously moving objects.

[2016-09-14 17:49] phet-steele commented on #693
@ariel-phet @jbphet testing complete.

[2016-09-14 17:55] ariel-phet commented on #696
Moving to current top testing priority

[2016-09-14 19:53] jessegreenberg opened #697 "RC Test: Forces and Motion: Basics 2.1.0-rc.3"
@ariel-phet @arouinfar @phet-steele, Forces and Motion: Basics 2.1.0-rc.3 is ready for RC testing.

**Link to sim:**
http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.1.0-rc.3/forces-and-motion-basics_en.html

**Link to iFrame:**
http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.1.0-rc.3/forces-and-motion-basics_en-iframe.html

**Test Matrix:**
https:/

[2016-09-14 20:50] jbphet opened #698 "RC Test: Friction 1.3.0-rc.1"
The Friction sim wasn't able to support the screen shot feature due to its use of an outdated approach for rendering particles, see https://github.com/phetsims/friction/issues/35.  This has been resolved and a new version is ready for testing.

**Link to sim:**
http://www.colorado.edu/physics/phet/dev/html/friction/1.3.0-rc.1/friction_en.html

**Link to iFrame:**
http://www.colorado.edu/physics/ph

[2016-09-14 21:08] ariel-phet commented on #697
@phet-steele would be good to work on this issue once GAO testing is complete. New publication work will take precedence (ie if Plinko is ready for RC or such)

[2016-09-14 21:49] jbphet opened #699 "RC Test: Neuron 1.1.0-rc.1"
The Neuron simulation is being re-released off of the current master branch in order to resolve an issue where the screen shot capability doesn't work on the currently published version, see https://github.com/phetsims/neuron/issues/125.

Nothing has changed in the simulation code itself - the only change is that new versions of the common libraries are now used.

**Link to sim:**
http://www.color

[2016-09-15 19:08] pixelzoom commented on #695
9/15/16 consensus: Do nothing for now, revisit when a later version of FF 48 is released.

[2016-09-15 20:25] samreid opened #700 "Use self instead of other thisVariants"
From Thursday, September 15 developer meeting.

We agreed to use this new pattern moving forward, but I noticed that 2 developers were updating their existing code to match this pattern.  This issue can track our progress.

Starting out, we had:
CM: 489 occurrences of “self =”, 1609 occurrences of “= this;”

[2016-09-15 20:27] samreid commented on #700
We are down to 1484 occurrences.

[2016-09-15 20:45] samreid commented on #700
Ultimately we could add a lint rule for this.

[2016-09-16 15:27] samreid opened #701 "Use `this` where appropriate"
In many circumstances, `self` is used instead of `this`.  For instance, I see 39 occurrences of this pattern:

[code]

And there are other occurrences of `self` where `this` should be used instead.  We should endeavor to use `this` where appropriate.  I don't know a way to enforce this through lint, but perhaps I'll flag this for developer meeting to make sure others are aware of this concern, and

[2016-09-16 19:01] pixelzoom commented on #696
All issues found during dev testing (linked above) have been resolved or deferred.

Discussed status with @phet-steele via Skype, and we both feel that we're ready to start RC testing.

Closing.

[2016-09-16 19:01] #696 closed

[2016-09-16 19:08] pixelzoom commented on #701
@samreid said:

We'll need to define what is "appropriate".

It sounds like your saying that "appropriate" is to use `self` only where a closure var is absolutely required.

But in some earlier code (e.g. beers-law-lab, molarity) I experimented with using the `self` alias everywhere, avoiding the use of `this` altogether, and that certainly made it less likely to use `this` where `self` was requir

[2016-09-16 19:10] samreid commented on #701
I agree there are some cases where `self` could be used instead of `this` even though `this` would work.  However, for cases where `self` is declared and *never* used in a closure, it would be inappropriate.

[2016-09-16 19:12] pixelzoom commented on #701
Agreed. When we switch to `self`, I attempted to eliminate unnecessary declarations of `self` throughout my sims and common code. I may have missed a few.

[2016-09-16 19:45] pixelzoom opened #702 "RC test: Plinko Probability 1.0.0-rc.1"
@phet-steele, @ariel-phet, @amanda-phet Plinko Probability 1.0.0-rc.1 is ready for RC testing. (@phet-steele requested that I assign this directly to him with 'top' priority.)

Sim:
http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-rc.1/plinko-probability_en.html

iFrame:
http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-rc.1/plinko-probability_en-iframe.h

[2016-09-16 19:47] pixelzoom commented on #702
Note that that the 1.0 release branch is using this set of shas that have been previously vetted:
https://github.com/phetsims/forces-and-motion-basics/blob/2.1/dependencies.json

[2016-09-19 18:45] arouinfar commented on #649
@mariahmaephet here's an updated list of the artwork needed. As we discussed, please take care of the cannon first.

- [ ] Cannon - more circus-like than war-like. I like the starburst pattern and base of this cannon, but the circus-y look could be dialed down a bit.
![image](https://cloud.githubusercontent.com/assets/8419308/18643960/9e126678-7e64-11e6-8e40-1c1bd0f6c71d.png)
- [ ] David statue wi

[2016-09-19 23:07] jbphet commented on #693
Closing, will set up task for next RC shortly.

[2016-09-19 23:07] #693 closed

[2016-09-19 23:11] jbphet opened #703 "RC Test: Atomic Interactions 1.0.0-rc.2"
Atomic Interactions v1.0.0-rc.2 is ready for testing.  The changes are fairly small versus the previous RC, so a partial test will likely suffice.

**Link to Sim**
http://www.colorado.edu/physics/phet/dev/html/atomic-interactions/1.0.0-rc.2/atomic-interactions_en.html

**Link to iFrame**
http://www.colorado.edu/physics/phet/dev/html/atomic-interactions/1.0.0-rc.2/atomic-interactions_en-iframe.html

[2016-09-19 23:21] ariel-phet commented on #703
@phet-steele having this share top priority with plinko testing since this one is almost done.

Please list platforms tested in this issue since a full retest is not required.

[2016-09-21 22:12] pixelzoom commented on #701
Related to the title of this issue:

@samreid  Do you have something you want to propose?

My opinion: It is appropriate to define `var self` only when a closure variable is necessary. When `self` is defined, it is then appropriate to use `self` either (1) wherever a closure variable is needed, or (2) consistently as an alias for `this`. Examples:

Inappropriate: no need for a closure variable
[co

[2016-09-21 22:59] jessegreenberg commented on #692
Sorry for the late addition, but I just added OSX + Firefox to the list since there have been reports of high CPU usage for that platform.  If this sim is noticeably worse on that platform, we should decide if it should be addressed or not.

[2016-09-21 23:17] samreid commented on #701
Your proposal sounds good, the only one I see as controversial is the 3rd one.  I recommend that only `this` be used outside of closures, and use `self` a contextual cue that the code is inside a closure.  Let's chat on Thursday.

[2016-09-22 00:56] pixelzoom commented on #701
I'm not a fan of Example 3 either, though I did experiment with it awhile back. That said, it does have the advantage that using `self` everywhere eliminates 2 common errors that occur when you mix `this` and `self`: (1) using `this` where you should have used `self`, and (2) forgetting to swap `this` and `self` when you move line of code in/out of closures.

[2016-09-22 17:13] brroberts1231 commented on #702
@pixelzoom Matrix complete

[2016-09-22 17:33] jonathanolson commented on #701
I'm also hesitant about example 3. If there's a decently sized function and we add a closure, I now have to change potentially a lot of lines. Then when I remove the closure, I have to changes a lot of lines again?

[2016-09-22 17:36] BryceAG commented on #703
Testing on Win 7; Chrome, IE, and Firefox are functioning well

[2016-09-22 18:59] pixelzoom commented on #701
9/22/16 consensus:
(1) Define self only when a closure var is necessary.
(2) Use self only in closures.

@jbphet has previously noted this in the PhET Development Overview (Coding Guidelines).

Closing.

[2016-09-22 18:59] #701 closed

[2016-09-23 15:18] phet-steele commented on #703
Win 10 Chrome & Edge were fine. @alynne-phet tested macOS 10.12 browsers and reported they look fine. @jbphet, this is done.

[2016-09-23 17:16] ariel-phet commented on #503
Closing this issue for the moment, we are going to go with the PhET logo for the first iteration of the app

[2016-09-23 17:16] #503 closed

[2016-09-23 17:17] ariel-phet commented on #449
@oliver-phet it seems this issue has moved forward (and you have a pretty good template at this point). I am closing it, reopen if you feel necessary.

[2016-09-23 17:17] #449 closed

[2016-09-23 17:18] ariel-phet commented on #416
@oliver-phet it seems you have a pretty good working design at the moment. Closing.

[2016-09-23 17:18] #416 closed

[2016-09-23 21:55] jbphet commented on #703
Thanks all - closing.

[2016-09-23 21:55] #703 closed

[2016-09-23 22:01] ariel-phet opened #704 "Giving presentation to OIT 12 noon Oct 5."
Vasa at OIT requested that we give a presentation at OIT regarding PhET technologies

Anyone free/interested (we will definitely do the talk, but obviously would prefer is someone is excited to present)

Possible topics:
- @jonathanolson presenting about scenery libraries
- @samreid or @andrewadare talking about iO features
- @jbphet talking more generally
- @jessegreenberg talking about a11y stuf

[2016-09-23 22:13] samreid commented on #704
Can you elaborate on why we were requested to give a presentation?

[2016-09-23 22:14] ariel-phet commented on #704
@samreid OIT has been having a weekly presentation series. Vasa asked Kathy if we would be willing (he is our contact for the App and such at OIT). I think he is just trying to build more community

[2016-09-23 22:16] jbphet opened #705 "RC Test: Atomic Interactions 1.0.0-rc.3"
Atomic Interactions v1.0.0-rc.3 is ready for testing.  The only change for this version versus the previous RC is that the fill on the atoms is left as a gradient when the size of the adjustable atoms is changed, see https://github.com/phetsims/atomic-interactions/issues/64.  This particular feature should be verified on all supported platforms.

**Link to Sim**
http://www.colorado.edu/physics/phe

[2016-09-24 01:42] ariel-phet commented on #704
![capture](https://cloud.githubusercontent.com/assets/4051174/18805273/eae64e24-81c5-11e6-9ad6-8b535e8f5a8a.PNG)

[2016-09-26 18:07] phet-steele commented on #705
All macOS 10.12 browsers check out.

[2016-09-26 18:25] phet-steele commented on #705
All Win 10 browsers are muy bueno.

[2016-09-26 19:42] phet-steele commented on #705
OSX 10.11.6 browsers, iPad 2 iOS 9.3.5, iPad Air 2 iOS 10.0.01, Win 7 & 8 browsers, and chromebook all perform/look well, too. @ariel-phet good enough coverage?

[2016-09-26 19:47] andrewadare opened #706 "Dev test: Capacitor Lab Basics 1.0.0-dev.28"
CLB is ready for a dev test. I've pushed updates to address
- [x] https://github.com/phetsims/capacitor-lab-basics/issues/120
- [x] https://github.com/phetsims/capacitor-lab-basics/issues/121
- [x] https://github.com/phetsims/capacitor-lab-basics/issues/130
- [x] https://github.com/phetsims/capacitor-lab-basics/issues/131

Testing link:
http://www.colorado.edu/physics/phet/dev/html/capacitor-lab-b

[2016-09-26 20:53] ariel-phet commented on #705
Seems good to me

[2016-09-26 21:23] ariel-phet commented on #706
Since this sim is close to publication, we want to make this testing top priority currently

[2016-09-26 21:25] ariel-phet commented on #692
@phet-steele would be good to finish this task by tomorrow EOB (9/27/2016)

[2016-09-27 18:06] jbphet commented on #705
Deployment complete, closing.

[2016-09-27 18:06] #705 closed

[2016-09-27 18:50] phet-steele commented on #692
@ariel-phet if this was finished by today (it won't be), this would still require another dev cycle. Keeping this one open for longer so we have a chance to flesh out its bugs and move toward rc.1.

[2016-09-28 18:10] pixelzoom commented on #702
Closing.  Another RC test cycle will be required, to spot test #89 and #90.

[2016-09-28 18:10] #702 closed

[2016-09-28 18:32] pixelzoom opened #707 "RC test: Plinko Probability 1.0.0-rc.2"
Test version:
http://www.colorado.edu/physics/phet/dev/html/plinko-probability/1.0.0-rc.2/plinko-probability_en.html

This RC test does not require a full test matrix.  Spot testing of these issues will be sufficient:

- [x] Verify phetsims/plinko-probability#89 (QA credits) on 1 platform.

- [x] Verify phetsims/plinko-probability#90 (Balls frozen on board) on 3 platforms (1 Mac, 1 Win, 1 iPad).

[2016-09-28 19:45] pixelzoom commented on #707
Per @ariel-phet, assigning directly to @phet-steele.

Assign back to me when done.

[2016-09-28 21:23] BryceAG commented on #707
@pixelzoom both issues have been fixed

[2016-09-28 21:30] pixelzoom commented on #707
@BryceAG Please indicate which platforms you tested (OS + browser) for  phetsims/plinko-probability#90.

[2016-09-29 00:43] pixelzoom commented on #706
@ariel-phet We typically do code review before dev testing, since code review may result in significant code changes. So shouldn't https://github.com/phetsims/capacitor-lab-basics/issues/117 be a prerequisite for this issue?

[2016-09-29 01:51] ariel-phet commented on #706
@pixelzoom I disagree, we typically do **some** dev testing before code review to flesh out issues, and then do final dev testing after code review.

[2016-09-29 01:52] ariel-phet commented on #706
@pixelzoom I also think you were assigned to this issue by mistake

[2016-09-29 15:37] jessegreenberg commented on #697
@phet-steele assigning back to me, I would like to publish a new RC with an updated SHA for sun to include https://github.com/phetsims/forces-and-motion-basics/issues/199.  I will update the issue and reassign when its ready.

[2016-09-29 15:56] phet-steele commented on #707
@BryceAG @pixelzoom I took a pass as well on macOS 10.12 Chrome, Win 10 Edge, and iPad 2 iOS 9.3.5. phetsims/plinko-probability#90 would not occur.

[2016-09-29 16:04] pixelzoom commented on #707
Sim is ready for publication, closing this issue.  Tracking publication in https://github.com/phetsims/plinko-probability/issues/97.

[2016-09-29 16:04] #707 closed

[2016-09-29 18:39] mattpen commented on #482
Script was implemented in February.

[2016-09-29 18:39] #482 closed

[2016-09-29 21:32] mattpen commented on #464
@oliver-phet - This is a stale issue, but should probably be addresed.  I don't think its possible to create a reliable filter for this.  The amount of legitimate email to this account is very small and the volume of email received is quite large.  Perhaps it would be better if we just setup an automatic reply that said please contact phethelp@colorado.edu?

[2016-09-29 21:35] oliver-phet commented on #464
Yeah, I like that idea.

[2016-09-30 04:41] mattpen commented on #672
Unassigning until work resumes.

[2016-09-30 16:03] phet-steele commented on #692
@ariel-phet @jessegreenberg done. Lots of changes so another dev would be nice.

[2016-09-30 19:18] phet-steele opened #708 "Getting Ethan Started"
@ariel-phet @oliver-phet
- [x] Go over the phases of sim development
- [x] GitHub email/account, join the organization
- [x] Go over GitHub workflow
- [x] Explain the testing tricks-of-the-trade (sim locations, query params, dev tools, etc...)
- [x] Practice creating an issue
- [x] Introduce test-server
- [x] Introduce the website
- [x] Website account
- [x] Share to google-group
- [x] Enter info

[2016-09-30 21:09] EthanWJohnson opened #709 "Test-Issue #394"
Issue: Shy Labeling Text

Browser: Chrome

OS: Windows 10

Description: "My Isotope" text in the isotope making module moves away from any neutrons brought at or above it's level vertically-wise

Steps to Reproduce:

1.)Enter the isotope mixing module

2.)Grab any neutron from the bottom left bucket

3.)Drag it to the same vertical level as the "my isotope" text just above the atom outline

At any

[2016-09-30 21:10] phet-steele commented on #709
Everyone say hi to @EthanWJohnson !!!!

[2016-09-30 21:32] EthanWJohnson commented on #709
fixed?

[2016-09-30 21:32] #709 closed

[2016-09-30 22:44] arnabp commented on #415
Script for the video:

This tutorial will show you how to access PhET simulations without wifi. To save a PhET sim to your iPad for offline use you can use the “Reading List” tool. Navigate to the simulation you would like to save while connected to the internet. Go to the drop down menu and select “Add to Reading List.”

Now, when your iPad cannot connect to Wifi, you can simply go to your readin

[2016-09-30 22:48] ariel-phet commented on #415
I wonder if now we should also have something in this video at the end which says "alternatively, you can download our 99 cent iPad app, etc etc"

[2016-09-30 22:51] oliver-phet commented on #415
Yep, @arnabp were discussing this. I think we should add a sentence at the start of the video. "We offer a convenient app that includes offline versions of all of the HTML5 sims, etc. ... If you would like to save a sim one-at-a-time to your iPad..." continue with rest of script above.

[2016-10-05 18:44] #704 closed

[2016-10-05 20:27] jessegreenberg commented on #692
Thanks for the testing!  New dev version out shortly.  Closing.

[2016-10-05 20:27] #692 closed

[2016-10-05 20:48] phet-steele commented on #706
El Fin.

[2016-10-06 19:14] samreid opened #710 "Add a link from sim_deployment.md to the Maintenance deploy process"

[2016-10-06 21:11] oliver-phet commented on #505
Setup new organization structure:

1. Someone no longer works with PhET
2. Someone adds new ai assets
3. Someone creates new subfolder

[2016-10-06 21:29] phet-steele commented on #694
@ariel-phet, I spoke with @jbphet and this is what we decided. The QA team has only scratched the surface on this dev version. There have been **radical** changes to the sim's code since this task opened. Any additional time spent on this dev version would be time wasted. Closing this task for the new release coming up shortly.

[2016-10-06 21:29] #694 closed

[2016-10-06 22:06] jessegreenberg commented on #697
rc.3 has been deployed, assigning to @phet-steele and @ariel-phet to assign priority.

[2016-10-07 02:09] ariel-phet commented on #698
bumping to medium as the sim is pretty easy to test, and the QA backlog is quite reduced

[2016-10-07 15:57] oliver-phet commented on #680
Got an email from Carl Wieman:

May want to bump up the priority of this @ariel-phet ?

[2016-10-11 15:06] #706 closed

[2016-10-12 20:33] andrewadare opened #711 "Dev test: Capacitor Lab Basics 1.0.0-dev.29"
I have made a number of code changes to address the following issues:
- [x] https://github.com/phetsims/capacitor-lab-basics/issues/120
- [x] https://github.com/phetsims/capacitor-lab-basics/issues/121
- [x] https://github.com/phetsims/capacitor-lab-basics/issues/130 ( hopefully fixed with 138)
- [x] https://github.com/phetsims/capacitor-lab-basics/issues/138
- [x] https://github.com/phetsims/capa

[2016-10-13 02:37] ariel-phet commented on #711
@phet-steele please make this the current top testing priority

[2016-10-13 15:45] oliver-phet commented on #505
@arnabp has created a script that will append files with "Redacted_". This script can be run on the phethelp drive once we have the new file structure setup in phet-docs.

[2016-10-13 15:48] amanda-phet commented on #505
Awesome!

[2016-10-13 16:14] samreid commented on #680
Stack overflow suggests these workarounds:
http://superuser.com/questions/988379/how-do-i-run-java-apps-upscaled-on-a-high-dpi-display

@ariel-phet suggested @phet-steele might try them and see if it works?  If so, we can give those instructions to our clients or post them on our website.

[2016-10-13 16:15] samreid commented on #680
Also @kathy-phet suggests changing your screen resolution and see if that fixes things.

[2016-10-13 16:17] samreid commented on #680
This blog reports that the problem will be solved in http://news.kynosarges.org/2015/06/29/javafx-dpi-scaling-fixed/ in Java release 8u60. Can you find out what version of Java Carl has and if an update to the latest version fixes it?

[2016-10-13 16:19] samreid commented on #680
This reddit post claims it is fixed in Java 9:
https://www.reddit.com/r/java/comments/49ip70/java_swing_is_tiny_on_hidpi_displays_what_can_be/ which is available as an early release from https://jdk9.java.net/download/

This may be the best place for @phet-steele to start investigation.

[2016-10-13 16:28] oliver-phet commented on #680
@samreid That sounds promising! Hopefully it resolves the issue for our sims!

[2016-10-13 17:32] phet-steele commented on #680
@oliver-phet JRE 9 did miraculously fix the issue on my Win 10 laptop.

[2016-10-13 17:35] phet-steele commented on #680
I'm not too confident about this, since I still exhibit the problem with 8u101

[2016-10-14 19:06] ariel-phet commented on #680
Well lets assume it will solved in Java 9. Once Java 9 is release @phet-steele should check a few sims and then close this issue.

@oliver-phet perhaps we should have a help center entry for this issue?

[2016-10-14 19:15] oliver-phet commented on #680
We might want to wait on publishing this to the Help Center until Java 9 is officially released. Oracle even says:

If people email phethelp, I will certainly give them the scoop with the caveat that it may be a security concern.

[2016-10-17 21:15] phet-steele commented on #697
@ariel-phet @jessegreenberg matrix complete, looking forward to the next rc!

[2016-10-18 15:42] emily-phet commented on #619
@arouinfar - did you have a chance to create any mockups? If so, could you pass these along to me, Taliesin, and Jesse as soon as possible? We can discuss further in a design meeting, but I don't think Taliesin will be able to join this Thursday so it would be good to get the conversation started in advance.

[2016-10-18 16:48] arouinfar commented on #619
@emily-phet I'll have some mockups to share later this afternoon.

[2016-10-18 18:00] emily-phet commented on #619
@arouinfar - great, thanks!

[2016-10-19 16:48] andrewadare opened #712 "Capacitor Lab Book test for UBC"
Unfortunately we delivered a version of the CL:B Lab Book to UBC that had an obvious bug, and Sarah Perez notified me last night.

The UBC group is planning to do a pilot study at 3pm PT / 4pm MT today. @mattpen pushed a fix for the bug last night, and I built a new version this morning. We'd like to avoid sending them another version with any obvious or serious problems. Would it be possible to t

[2016-10-19 18:01] emily-phet opened #713 "Accessibility Metadata"
In preparation for future publication of John Travoltage with accessibility feature:

The web standard for accessibility metadata can be found here:
https://www.w3.org/wiki/WebSchemas/Accessibility

With general example by Jon H. here: http://handbook.floeproject.org/AccessibilityMetadata.html

Suggestion from Jon H. for John Travoltage:
In the case of John Travoltage, the metadata may look someth

[2016-10-19 18:23] emily-phet commented on #713
Looking through the list of features, would structuralNavigation also be appropriate? Or not, would since the "primary" content is graphical with the navigated text being descriptions?

An observation: longDescription seems like the best fit from the list for the descriptions in the sim, but it’s a bit lackluster. Too bad there does not seem to be an existing feature in the list that really captur

[2016-10-19 19:02] oliver-phet opened #714 "Upload files into folder structure on phet-docs"
On Nov 18, everyone will upload files to phet-docs into the prescribed folder structure: https://docs.google.com/a/colorado.edu/document/d/1Zkvmk7hmuHjhpXvnGMRnNZFUotZeurhmzNp3pUyYJFw/edit?usp=sharing

[edited by @amanda-phet with new google doc link]

[2016-10-19 19:02] oliver-phet commented on #525
Everyone's files are now shared. All new files should be uploaded using @colorado.edu accounts. Closing this for now.

Task to upload files to phet-docs: https://github.com/phetsims/tasks/issues/714
Other issue: https://github.com/phetsims/tasks/issues/505

[2016-10-19 19:02] #525 closed

[2016-10-19 20:09] samreid commented on #710
Completed, closing.

[2016-10-19 20:09] #710 closed

[2016-10-19 20:09] phet-steele commented on #698
@jbphet, this sim is ready after phetsims/friction/issues/36.

[2016-10-20 17:24] jessegreenberg commented on #713
The context for this issue is that we would like to add search terms for accessible content in phet sims.  So perhaps this could be tracked in the website repository.

I am not sure how the website search works now or if it uses Metadata, but wherever the accesssible sim is located, the desired metadata could be added to that page?

[2016-10-21 16:13] phet-steele commented on #711
@andrewadare, testing is done, aside from some comments I will be making in phetsims/capacitor-lab-basics/issues/130.

[2016-10-21 21:23] mattpen commented on #672
@jonathanolson and I worked on updating the PBG to deploy sims and translations to phet-server today.  We tested deploying a translation for Ideal Gas, and it appears to have worked.

@phet-steele - Can you please check if the deploy was successful?

[2016-10-24 17:25] ariel-phet opened #715 "Updating presentation to modern template"
@kathy-phet requested that the following presentation be updated to our modern template/branding (but content kept the same)

@phet-steele could you work on this or delegate to a student worker? Talk with @amanda-phet for the modern power point template.

[Mikes_PhET_NewFaculty_Nov2014.pptx](https://github.com/phetsims/tasks/files/548536/Mikes_PhET_NewFaculty_Nov2014.pptx)

[2016-10-24 17:25] ariel-phet commented on #715
@phet-steele marking as low since not a rush, but would be good not to let slip too far into the future

[2016-10-24 17:32] phet-steele commented on #672
@jonathanolson @mattpen the translation for Ideal Gas appeared to go ideally (publishing also felt faster 😄). It may be worth it to also try a Flash/Flex sim translation.

[2016-10-24 18:00] phet-steele commented on #715
@amanda-phet, may you point me to where the correct template resides?

[2016-10-24 19:32] phet-steele commented on #698
This was deployed, closing.

[2016-10-24 19:32] #698 closed

[2016-10-24 20:05] andrewadare opened #716 "Dev test: Capacitor Lab Basics 1.0.0-dev.32"
Testing on 1.0.0-dev.29 was marked as complete (#711), and the issues/enhancements coming from that round have all received attention:
- [x]  [#130](https://github.com/phetsims/capacitor-lab-basics/issues/130)
- [x]  [#142](https://github.com/phetsims/capacitor-lab-basics/issues/142)
- [x]  [#143](https://github.com/phetsims/capacitor-lab-basics/issues/143)
- [x]  [#144](https://github.com/phetsim

[2016-10-24 20:06] andrewadare commented on #711
Closing this; next testing issue is at https://github.com/phetsims/tasks/issues/716

[2016-10-24 20:07] #711 closed

[2016-10-24 20:23] phet-steele commented on #699
@jbphet this is ready for deploy after phetsims/neuron/issues/132.

[2016-10-24 21:14] andrewadare commented on #716
Since testing hasn't really begun, this issue was repurposed for a test on 1.0.0-dev.32 instead of 31. The only difference is that the circles on the switch-ends now have a larger radius to improve usability on touch devices.

[2016-10-25 15:42] amanda-phet commented on #715
@phet-steele [Here](https://drive.google.com/drive/u/0/folders/0Bz7jTh2s-5L5ZEZobm14aGpfRVE) is the current folder of presentation resources. You'll find a few different templates (one in ppt and the rest in keynote). There is also an illustrator file for the research schematic, which you may find helpful if any artwork needs to be created.

[2016-10-25 16:19] jbphet commented on #699
Thanks for the testing, I'll move forward with redeployment.  Closing.

[2016-10-25 16:19] #699 closed

[2016-10-25 17:09] phet-steele commented on #682
@samreid, ready to deploy after changes in phetsims/bending-light/issues/362.

[2016-10-25 20:10] ariel-phet opened #717 "Move folders for published Chem/Phys sims in google docs"
see directions here:

https://docs.google.com/document/d/1Zkvmk7hmuHjhpXvnGMRnNZFUotZeurhmzNp3pUyYJFw/edit#

[2016-10-26 16:02] ariel-phet commented on #658
@samreid status of this issue? Should we bring up at developer meeting?

[2016-10-26 16:04] samreid commented on #658
I recommend to leave this issue open and unassigned.  It may be nice to have in the long run (not sure how useful it would be in practice, unless it can be used directly from IDE) but it will not be easy to build and we have our hands full at the moment.

[2016-10-26 16:04] ariel-phet commented on #688
@phet-steele - progress is going steadily on the HTML5 implementation, moving this test to medium priority.

[2016-10-26 19:07] samreid opened #718 "RC Testing for PhET-iO Batch"
From https://github.com/phetsims/phet-io/issues/724 we would like to RC test a large batch of PhET-iO simulations.
- [x] faradays-law See https://docs.google.com/spreadsheets/d/1m6Zo5fQEBRDNFebTYTuq5NSTPGrhQpELkLg4PG4vVGs/edit#gid=2
- [x] concentration
- [x] color-vision
- [x] molecules-and-light
  https://docs.google.com/spreadsheets/d/12YDd291uDUoCHeVTc3FKxoNQkx9eiyg14cCYz31Fmjg/edit#gid=2
- [x]

[2016-10-26 19:07] samreid commented on #718
Also assigning @ariel-phet so he is aware of this work.

[2016-10-26 19:52] samreid commented on #718
Another recommendation for testing I forgot to mention to @phet-steele earlier.  Using the "Events: colorized" test on Chrome or Firefox, make sure that each object in the simulation gives a user interface event and a nested model event.  This needs to be done on one platform per sim, for each sim.

[2016-10-26 19:54] jessegreenberg opened #719 "Dev Test: Gravity and Orbits 1.0.0-dev.31"
Gravity and Orbits is ready for another dev test.

**Link to Sim:** http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.31/gravity-and-orbits_en.html

A lot has changed since the last test, so please do a full test of this sim.  In addition, please verify that the following issues have been resolved:
- [x] https://github.com/phetsims/gravity-and-orbits/issues/233
- [x] https

[2016-10-26 19:56] samreid commented on #718
Also to test: In the instance proxies wrapper: do all of the objects in the simulation have a proxy in the wrapper?  (i.e. is everything instrumented?)

[2016-10-26 20:20] samreid commented on #682
1.1.0 was published here https://phet.colorado.edu/sims/html/bending-light/latest/bending-light_en.html

[2016-10-26 20:29] samreid commented on #682
Translations check out, SHAs are not newer, so won't need to be updated in sim_deployment.md.  I updated third-party-licenses.md.  I'll email the team.

[2016-10-26 20:32] samreid commented on #682
I emailed the team, closing.

[2016-10-26 20:32] #682 closed

[2016-10-26 20:51] ariel-phet commented on #716
Moving to high priority as #719 supersedes this test in terms of priority (since we promised GAO with donations!)

[2016-10-27 18:05] jessegreenberg commented on #713
10/27/16 dev meeting, we discussed that metadata would be added to sim pages.  I will move this issue to the website repo.  There we can determine things like what tags should be used to describe John Travoltage and other things.

[2016-10-27 18:05] #713 closed

[2016-10-27 20:39] samreid commented on #718
Beer's Law Lab RC is ready for testing:
http://www.colorado.edu/physics/phet/dev/html/beers-law-lab/1.5.2-phetiorc.1/

[2016-10-27 20:39] samreid commented on #718
@phet-steele please give us status updates during testing this so @zepumph can be ready with the next one when you are ready for it.

[2016-10-28 16:23] samreid opened #720 "Test Chrome Dev Tools for debugging Node"
I have often wanted a nice debugger for Node, and heard about the possibility of using Chrome Dev Tools for it.  I saw this link and wanted to take it for a test drive:

[2016-10-31 03:20] samreid commented on #720
I followed these directions:
https://medium.com/@paul_irish/debugging-node-js-nightlies-with-chrome-devtools-7c4a1b95ae27#.z0veumm7n

Short summary: by running node from the command line with: `node --inspect --debug-brk index.js` it printed out a URL to open in chrome, which connected it to the dev tools, and I could see console output and user chrome dev tools.  Super awesome!  I wonder if there

[2016-10-31 03:34] samreid commented on #720
Wow, I put a debugger statement in chipper/Gruntfile and it worked very nicely when I launched it like so:

``
~/github/faradays-law$ node --inspect --debug-brk node_modules/grunt/bin/grunt
``

![image](https://cloud.githubusercontent.com/assets/679486/19843472/68b49326-9ee8-11e6-8460-de069a34dcf0.png)

This seems like it will become an important part of my workflow when developing with node or gr

[2016-10-31 19:59] jessegreenberg commented on #697
Thanks a lot @phet-steele, closing/

[2016-10-31 19:59] #697 closed

[2016-11-01 16:43] brroberts1231 commented on #719
@jessegreenberg Dev test for this version looks about done.

[2016-11-01 16:48] jessegreenberg commented on #719
@brroberts1231 thanks very much.  If you have time, could you please review https://github.com/phetsims/gravity-and-orbits/issues/238 and close if acceptable?

[2016-11-01 16:51] jessegreenberg commented on #719
Also, can #https://github.com/phetsims/gravity-and-orbits/issues/220 and https://github.com/phetsims/gravity-and-orbits/issues/207 be closed?

[2016-11-01 22:48] jessegreenberg opened #721 "RC Test: Forces and Motion: Basics 2.1.0-rc.5"
@ariel-phet @phet-steele, Forces and Motion: Basics 2.1.0-rc.5 is ready for RC testing.

Link to sim:
http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.1.0-rc.5/forces-and-motion-basics_en.html

Link to iFrame:
http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.1.0-rc.5/forces-and-motion-basics_en-iframe.html

Test Matrix:
https://docs.google.com/spread

[2016-11-01 23:01] jessegreenberg commented on #719
All the issues above were closed.  https://github.com/phetsims/gravity-and-orbits/issues/210 is the last thing I want to address before we are ready for an RC! Thanks a lot QA team.

[2016-11-01 23:01] #719 closed

[2016-11-02 05:50] samreid opened #722 "Should QA tests be able to test with assertions enabled?"
During https://github.com/phetsims/phet-io/issues/789 I realized that when we deliver RCs or Dev versions to the QA team, they cannot test assertions.  Generally speaking, there is a class of problems where knowing if an assertion is triggered would be valuable, which is not being tested in RC or Dev testing.  Should we provide a way to make this happen?  Perhaps a new rule that "dev" tests have a

[2016-11-02 15:04] #712 closed

[2016-11-02 16:11] ariel-phet commented on #716
bumping back to top sim testing priority (I know iO stuff is happening first)

[2016-11-03 15:06] andrewadare commented on #683
I self-assigned this a while back, but realistically, I may not get to it for a while. Tagging for developer meeting to put it "up for grabs" and to see if there are any takers.

[2016-11-03 15:09] andrewadare commented on #683
On second thought, I'll just do it soon and get it off my plate.

[2016-11-03 15:38] #683 closed

[2016-11-03 16:22] jessegreenberg commented on #721
We are going to add a change for https://github.com/phetsims/forces-and-motion-basics/issues/210, so this should be on hold until that is patched in.  Once done, I will update this issue.

[2016-11-03 17:02] jonathanolson commented on #720
That looks amazing, thanks!

Is there any way we could add a grunt flag to do this, or reuse --debug, so that all we would need to do would be:
[code]

[2016-11-03 17:04] samreid commented on #720
Maybe you can make a bash alias or script that could be used like this:

`dgrunt`

That script/alias would just call the `node --inspect --debug-brk node_modules/grunt/bin/grunt` command and pass options through.

[2016-11-03 18:40] samreid commented on #720
@jbphet said this may be good to use for the installer builder, rosetta, etc.

[2016-11-03 18:43] samreid commented on #720
If anyone wants to investigate the `dgrunt` or `grunt --debug`, go for it!

@pixelzoom suggests to parse the output and call `open` so it automatically pops open the browser?  This would work on Mac, there is probably another way to do this on Windows.

[2016-11-03 19:09] samreid commented on #722
@ariel-phet: our QA team is thorough enough that we do not need more extensive testing.  We may want to make sure @phet-steele and the other QA team know how to use phet-test.colorado.edu to run a requirejs sim with assertions enabled to get further information about bugs found in published versions.

[2016-11-03 19:10] samreid commented on #722
@ariel-phet says it may be good to discuss with @phet-steele, perhaps it may be good in early dev testing.

[2016-11-03 19:11] samreid commented on #722
@phet-steele what is your opinion about testing with assertions?  Do you ever use this strategy on phettest.colorado.edu (by launching with ?ea).

[2016-11-03 20:18] phet-steele commented on #722
Extensively, all the time, abundantly.

Assertions are great, but only useful when not minified. I take this to be the reason why assertions are filtered out during the build process.

My current process:
1. Receive a dev or rc version to test.
2. Using two monitors, one has me directly interacting with the dev or rc
3. The other passively runs with ?fuzzMouse, but is not running the dev or rc. It

[2016-11-04 18:27] phet-steele opened #723 "PhET-iO FAMB Classroom Activity wrapper testing"
Please test the FAMB classroom activity (version to test found here: https://github.com/phetsims/phet-io/issues/775#issuecomment-257975152).

*This work has been completed. This issue is for record keeping.*

[2016-11-04 18:27] #723 closed

[2016-11-04 19:37] phet-steele opened #724 "Revisit latest batch of PhET-iO sims"
It was recommended to take a quick second pass at testing the batch of PhET-iO sims in #718 and phetsims/phet-io/issues/724. This would allot time for QA to report the issues that were otherwise deemed unworthy to pursue before the deadline. These include:

- Highlighting nodes that are not instrumented.
- Cleaning up sliders in Instance Proxies (their ranges and worthiness to be sliders at all).

[2016-11-04 21:15] jessegreenberg commented on #721
New version deployed and issue has been updated.  Back to you @phet-steele.

[2016-11-07 15:59] ariel-phet commented on #724
@phet-steele putting at medium priority for the moment, lets focus on QA testing for a few sim (FAMB, CL:B, and soon GAO and SOM) with the understanding the GAO and SOM will take priority once those are ready. There are not too many big sim tests on the horizon after those wrap up.

[2016-11-07 16:11] ariel-phet commented on #718
@phet-steele should this issue remain open? Certainly the status should be changed?

[2016-11-07 17:05] phet-steele commented on #718
This is okay to close.

[2016-11-07 17:05] #718 closed

[2016-11-07 20:11] phet-steele commented on #716
Testing complete.

[2016-11-08 16:43] phet-steele commented on #721
@ariel-phet @jessegreenberg, testing done.

[2016-11-08 16:43] #721 closed

[2016-11-08 17:19] phet-steele commented on #688
Testing did not reveal much, closing. 😢

[2016-11-08 17:19] #688 closed

[2016-11-09 17:23] #716 closed

[2016-11-09 19:25] arouinfar commented on #619
Here's a link to the design doc:
https://docs.google.com/document/d/1XE0_T6YCe9wBkqlf82GlyyNNfXy-bipVLRSojQayaZ8/edit

Last meeting we came up with a new general layout for the navbar along these lines:
![image](https://cloud.githubusercontent.com/assets/8419308/20151350/136a3790-a677-11e6-9085-9f9ab775d08d.png)

The design for the icon itself has yet to be determined. I have a few more options to

[2016-11-09 20:08] arouinfar commented on #619
@emily-phet @terracoda @ariel-phet here are some updated icon options
<img width="1032" alt="screen shot 2016-11-09 at 1 06 33 pm" src="https://cloud.githubusercontent.com/assets/8419308/20152881/6213962e-a67d-11e6-9782-27b84a4089ed.png">

[2016-11-09 20:24] jbphet opened #725 "dev test: States of Matter 1.0.0-dev.14"
States of Matter is ready for some dev testing.  A lot of code has been changed, so a thorough test is needed.

Also, there are currently 8 issues labeled "fixed-pending-testing" in the issues section of the repo, please test these and close or update.

- [x] phetsims/states-of-matter/issues/169
- [x] phetsims/states-of-matter/issues/167
- [x] phetsims/states-of-matter/issues/166
- [x] phetsims/st

[2016-11-09 20:37] ariel-phet commented on #619
At this point, from our earlier discussions I would be leaning towards (2) or (5)

For option (2) I think that signals "navigation" and moving around with the keyboard well

For option (5) I think that signals "keyboard" well and with the cord is not as easily confused with bringing up a keyboard.

I think either of these two could work and both look pretty good. I have a slight preference for the

[2016-11-09 20:38] ariel-phet commented on #725
@phet-steele can you put a checklist of platforms in the first comment as well as related issues to be checked?

[2016-11-09 21:06] jessegreenberg opened #726 "Spot Check: Forces and Motion: Basics 2.1.0-rc.6"
Forces and Motion: Basics 2.1.0-rc.6 is ready for a spot check.

@phet-steele could you please spot check this version
http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.1.0-rc.6/forces-and-motion-basics_en.html

and make sure that these issues are fixed:
- [x] https://github.com/phetsims/forces-and-motion-basics/issues/212
- [x] https://github.com/phetsims/forces-and-motion-

[2016-11-09 21:15] phet-steele commented on #726
![greenlight](https://cloud.githubusercontent.com/assets/5863899/20154956/ec09d4fc-a686-11e6-9144-fa127496bbfc.png)

[2016-11-09 21:26] jessegreenberg commented on #726
Thanks @phet-steele, redeploy will now be tracked in https://github.com/phetsims/forces-and-motion-basics/issues/201.  Closing.

[2016-11-09 21:26] #726 closed

[2016-11-10 03:09] terracoda commented on #619
I prefer 5 as it is more general. We can't actually use the arrow keys for interaction in BASE, and we have more hot keys than just the directional WASD keys. For some sims arrow keys may not be relevant.

As for the PhET dot dot dot part have you thought about adding in the word "menu" visually to emphasize that the dots indicate a menu?

[2016-11-10 03:16] terracoda commented on #619
Also, please keep in mind that the dialog samples were very early content. The interactions have changed and the content has changed as well. The new content is in #195.

[2016-11-10 03:56] emily-phet commented on #619
@terracoda - are you sure you referenced the correct issue above?
Also, good suggestion for the dot dot dot menu, though it's current design has been chosen to make sure the menu button takes up as little horizontal space as possible (note: the touch area for the menu includes the PhET logo next to it - so clicking/touching either or both opens the menu).

[2016-11-10 03:56] emily-phet commented on #619
For the button icon, I actually have a preference for (1) above...but to be honest I'd be plenty happy with (5).
Why don't we go with (5), since that seems to have a majority vote (from this discussion and from design meetings).

@arouinfar @kathy-phet @ariel-phet - are their any changes to the general look and feel of the keyboard icon in (5) above that is needed to make it consistent with PhET i

[2016-11-10 15:20] terracoda commented on #619
@emily-phet, correct that was the wrong related issue number. There are two related issues to this discussion:
- https://github.com/phetsims/balloons-and-static-electricity/issues/141, and
- the closed issue https://github.com/phetsims/balloons-and-static-electricity/issues/195

The closed BASE issue number 195 has the latest content.

@arouinfar @kathy-phet @ariel-phet, if customization of the ic

[2016-11-10 15:27] ariel-phet commented on #619
@terracoda the "dot dot dot" icon is a pretty common web standard (google chrome uses this icon, and so do some web pages/mobile browsers). Adding the word menu would be problematic, and ideally we want to keep this purely iconic.

[2016-11-10 15:27] ariel-phet commented on #619
@terracoda that combination is possible, we can certainly have our graphic artist take a stab at some treatments.

[2016-11-10 15:32] terracoda commented on #619
@emily-phet, as for the PhET dot dot dot part, if one turns the word menu vertically, one almost has the same effect as the dot dot dot.

There were at least 2 talks about the usability of hamburger menus at UXPA Boston in May 2015. It's possible users have just gotten used to these new menu icons (dots and lines), but at that time, usability and understandability was not good. One suggested solut

[2016-11-10 15:46] ariel-phet commented on #619
@terracoda - vertical would extremely problematic for our project, you have to remember that any word we use in PhET sims needs to be internationalizable and the word "menu" could get very long in other languages.

In general, we tend towards icons for just this reason, especially where long words could cause layout problems. I completely see your point, but this seems like one of those cases wher

[2016-11-10 16:06] terracoda commented on #619
@ariel-phet, very good point on internationalization.

[2016-11-10 19:48] jessegreenberg opened #727 "Verify that dispose functions are named correctly for all types"
From https://github.com/phetsims/sun/issues/212 it was clear that dispose functions are being named without consistency.

The dispose function should be named such that the 'MyType' should have a dispose function that matches 'disposeMyType' exactly.

[2016-11-11 00:44] jessegreenberg opened #728 "RC Test: Gravity and Orbits 1.0.0-rc.1"
@ariel-phet @phet-steele @arouinfar, Gravity and Orbits 1.0.0-rc.1 is ready for RC testing.

**Link to sim:**
http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-rc.1/gravity-and-orbits_en.html

**Link to iFrame:**
http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-rc.1/gravity-and-orbits_en-iframe.html

**Test Matrix:** https://docs.google.com/spreadsheets/d

[2016-11-11 01:17] ariel-phet commented on #725
@phet-steele bumping down to high since GAO testing is definitely top priority, but would be great if this testing could be finished in parallel (or soon after)

[2016-11-11 17:04] zepumph commented on #672
In phetsims/website#142 there was a possibility of adding feedback to the process of publishing java sims' translations. Can we do that while working on this? I'd love to help if you need anything.

[2016-11-11 23:20] oliver-phet commented on #464
@mattpen Did you setup the automatic reply you suggested in your last comment, or should I do that?

[2016-11-12 00:28] jessegreenberg commented on #727
In a search, I found that the following repositories have dispose functions that break this convention:

- [ ] build-an-atom
- [ ] build-a-molecule
- [ ] charges-and-fields
- [ ] expression-exchange
- [ ] griddle
- [ ] isotopes-and-atomic-mass
- [ ] rutherford-scattering
- [ ] shred
- [ ] sun

[2016-11-12 00:42] jessegreenberg commented on #727
That should be all of them. Closing.

[2016-11-12 00:42] #727 closed

[2016-11-14 16:01] mattpen commented on #464
@oliver-phet - I haven't found time to set it up yet, I'm sorry.  Feel free to set it up if you want to.  Do you need credentials?

[2016-11-14 16:32] andrewadare opened #729 "Capacitor Lab Basics 1.0.0-dev.36"
There have been a some big refactoring passes, layout changes, and a fix or two. The changes are tracked in CLB issues 150-158. A dev test is in order before submitting an RC.

Testing link:

http://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.0.0-dev.36/capacitor-lab-basics_en.html

Please test on the following platforms:

- [x] iPad 2
- [x] Win Chrome
- [x] Mac Safari

[2016-11-14 16:44] ariel-phet commented on #729
@phet-steele putting at medium priority until #725 is complete

[2016-11-14 20:22] ariel-phet commented on #121
I think we can close this issue - it seems we have been able to accomplish this need via metacog, and ideally we would like to keep our hands completely off being responsible for data from any 3rd party studies.

[2016-11-14 20:22] #121 closed

[2016-11-14 20:23] ariel-phet commented on #351
closing, will reopen if we ever decide to revisit this idea

[2016-11-14 20:23] #351 closed

[2016-11-14 20:24] ariel-phet commented on #152
At the moment, the current plan would be to make an android app similar to what we have done as an iPad app that bundles the sims, and allows offline use. Closing

[2016-11-14 20:24] #152 closed

[2016-11-14 20:25] ariel-phet commented on #403
At the moment, the current plan would be to make an android app similar to what we have done as an iPad app that bundles the sims, and allows offline use. Google is planning on unifying the google play store for both Chromebooks and android, so ideally this would be the route we take. Closing.

[2016-11-14 20:25] #403 closed

[2016-11-14 23:43] samreid opened #730 "A better way to pass through configuration"
While working on adding nested options to NumberControl, @pixelzoom said:

I want to take a look at an idea I had for this.

[2016-11-14 23:52] samreid commented on #730
The main idea: each object knows about its immediate children and provides defaults for them.  If you want to provide customized structure for nested object, the client creates it.  This eliminates the   need for creating and mapping a multitude of variable names.  For example:

[code]

[2016-11-14 23:53] samreid commented on #730
In the above example, the House constructor doesn't need to know anything about the substructure of Door (for instance, that it has a doorknob).  If the client wants defaults, it does nothing.  If it wants to override something, it has full control over how the overriding is done.

[2016-11-14 23:56] samreid commented on #730
Here's a mock-up of our existing pattern, that we don't like too much:

[code]

[2016-11-15 00:49] samreid commented on #730
Some thoughts about NumberControl:

[code]

How to make it easy for all subcomponents to use the same Property?  Perhaps add `setProperty` to them, or let them have their own properties, and bind them using a two-way binding.

[2016-11-15 02:22] samreid opened #731 "branch: configuration"
To support investigation in https://github.com/phetsims/tasks/issues/730

[2016-11-15 03:55] samreid commented on #730
I fleshed out a NumberControl2 prototype and example usage.  This pattern seems promising, some thoughts:

1. Composite components such as NumberControl should not have to know all about subcomponents structure and options, and sub-subcomponents structure and options, etc.  It should only know about its direct descendants and its own parameters.  This pattern captures that pattern nicely.
2. This

[2016-11-15 03:57] samreid commented on #730
I'd like to discuss this pattern with @pixelzoom before having a larger group discussion.  @pixelzoom let me know your thoughts at your convenience, or if you would like to voice chat about it.  The changes above are committed to scenery-phet/configuration branch and you can test it by running http://localhost/scenery-phet/scenery-phet_en.html?screens=2

[2016-11-15 04:00] samreid commented on #730
The example usage is given in SlidersView.js:

[code]

And I haven't made any effort to implement various layouts.  It should look like this:

![image](https://cloud.githubusercontent.com/assets/679486/20292722/355f9cd4-aaad-11e6-93a6-61c8ca670007.png)

[2016-11-15 23:23] pixelzoom commented on #730
My quick evaluation...

Pros:
1. Component may have a smaller default options hash
2. Component doesn't need to propagate/forward option values to its subcomponent
3. Coarser grained customization: ability to use different types of subcomponents, as long as they implement a specified interface.

Cons:
1. Weak/leaky encapsulation: Exposes the inner workings of the component - how many subcomponents

[2016-11-16 01:41] samreid commented on #730
Are we facing the problem of dependency injection?

[2016-11-16 04:35] samreid commented on #730
Yes, it appears this is the same problem as dependency injection, and the standard solution for this problem is an inversion of control container.  The simplest form of this is to provide a service or function that, when called, returns an appropriate value.  I'm trying this for NumberControl and it seems promising.

[2016-11-16 04:53] samreid commented on #730
I'm testing out:

[code]

But we could alternatively use:

[code]

I'm experimenting with the former first because it has direct lookups instead of dynamic names.

[2016-11-16 06:07] samreid commented on #730
Terminology for below:
**"Current approach", or "Approach 1"**: providing adapter options with name prefixes like so (example is from NumberControl):

[code]
then remapping the names when passed to the subcomponent:
[code]
This approach has the disadvantage that for each of N subcomponents, we must provide M adapter options, and we are likely to forget some, or for them to get out of sync, collide

[2016-11-16 06:16] samreid commented on #730
**Approach 4**
Assume the types are hard-coded and the only customization comes from providing different options to the sub-components (and nested sub-sub-components).  The usage might look something like this:

[code]

Note the doubly-nested `readoutNodeOptions`.  I think we discussed this before, but not sure why we ruled it out.  This seems less powerful than Approach 3 but also much simpler.

[2016-11-16 16:04] samreid commented on #730
Reassigned to myself to look into Approach 4 further before discussion.

[2016-11-16 17:08] phet-steele commented on #728
Matrix complete. Back to @jessegreenberg.

[2016-11-16 18:54] jbphet opened #732 "dev test Expression Exchange 1.0.0-dev.17"
An issue was found with v1.0.0-dev.16 where the totals were not being updated properly, and this sim is about to be used in some interviews, so we should do a round of fast-track testing on 1.0.0-dev.17 to make sure that the totals are now being calculated correctly (i.e. the bug is fixed) and it is generally ready for interviews.

**Only the first three screens are going to be used in interviews.

[2016-11-17 05:29] ariel-phet commented on #717
Complete, closing

[2016-11-17 05:29] #717 closed

[2016-11-17 05:30] ariel-phet opened #733 "Move "straggler" google docs to phet-docs account"
This might take awhile...

- [x] App related docs (especially ones from Kate for marketing)
- [ ] Social media suggestions
- [ ] Sims in the works/planned for future
- [ ] Odd docs like Sim Design Elements
- [ ] Legacy design docs
- [ ] Sims worked on but unlikely to be done (zzz docs)
- [ ] Admin docs? like Design Meeting Template

[2016-11-17 16:39] jessegreenberg commented on #728
Thanks very much @phet-steele and others! Next RC out soon.

[2016-11-17 16:39] #728 closed

[2016-11-17 19:01] samreid opened #734 "bit.ly/phet-development-overview now points to a deprecated file"
bit.ly/phet-development-overview now points to a deprecated file, can this be fixed?

[2016-11-17 21:11] jbphet commented on #732
Testing is done for this, and a new version is ready.  Closing.

[2016-11-17 21:11] #732 closed

[2016-11-17 21:12] jbphet opened #735 "dev test Expression Exchange 1.0.0-dev.18"
This version is going to be used for interviews and sharing with teachers, so it should have a round of dev testing.  Please test only the first three screens, **not** the game screen, which is still in early development.

Link: http://www.colorado.edu/physics/phet/dev/html/expression-exchange/1.0.0-dev.18/expression-exchange_en.html

[2016-11-18 19:32] andrewadare opened #736 "Charges and Fields PhET-iO RC test"
Charges and Fields was omitted from the recent Pearson PhET-iO batch-deployment. I took the opportunity to bring the instrumentation up to date this week.

@phet-steele according to whatever schedule is appropriate, can you test this as was done for the other Pearson sims? There are no custom wrappers, just the standard set.

Testing Matrix:
https://docs.google.com/spreadsheets/d/1W2PT3koA-4McsbxE

[2016-11-18 20:28] ariel-phet commented on #736
Marking low for the moment, until we clear a few high priority QA tasks

[2016-11-18 20:29] ariel-phet commented on #729
moving back to high, as this sim is close to publication

[2016-11-18 23:51] samreid opened #737 "Finish Query Parameters + Query String Machine work"
Today @ariel-phet & I decided it would be good for me to complete all of the Query String Machine / Query Parameters issues assigned to me (about 10) at comparatively high priority.  This issue can be closed when those are all completed.

[2016-11-19 00:02] jessegreenberg opened #738 "RC Test: Gravity and Orbits 1.0.0-rc.2"
@ariel-phet @phet-steele @arouinfar, Gravity and Orbits 1.0.0-rc.2 is ready for RC testing.

**Link to sim:**
http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-rc.2/gravity-and-orbits_en.html

**Link to iFrame:**
http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-rc.2/gravity-and-orbits_en-iframe.html

**Test Matrix:**
https://docs.google.com/spreadsheets/d

[2016-11-19 00:36] ariel-phet commented on #738
Making this sim the current top testing priority

[2016-11-19 17:52] samreid commented on #737
I finished several query string issues.  Still to go:
https://github.com/phetsims/joist/issues/370
https://github.com/phetsims/scenery/issues/583
https://github.com/phetsims/phet-io/issues/859
https://github.com/phetsims/chipper/issues/519 is awaiting discussion

I'll move those issues to high priority and close this one.

[2016-11-19 17:52] #737 closed

[2016-11-20 04:58] samreid commented on #722
@phet-steele recommended that we keep assertions in dev versions.  Perhaps we should also publish dev versions without minification, so the assertion errors will have a more meaningful stack trace.  Assigned for developer meeting to decide how to proceed.

[2016-11-20 05:14] samreid commented on #734
I have a bit.ly account, but cannot change the target of bit.ly/phet-development-overview:

![image](https://cloud.githubusercontent.com/assets/679486/20460610/46a571a2-aea5-11e6-9ed4-4835eef44e61.png)

I don't see any bit.ly account mentioned on unfuddle.  I don't remember who created this bit.ly shortcut.  Tagging for developer meeting to see if anybody else remembers, or has suggestions to work

[2016-11-21 20:34] oliver-phet opened #739 "Google docs to migrate (issue will remain open)"
Please comment with a URL to a non-migrated file that is owned by phethelp@gmail.com I'll migrate the file to phet-docs@colorado.edu and organize it as needed.

[2016-11-21 20:54] pixelzoom opened #740 "migrate Google docs owned by jbphet"
@jbphet You currently own “PhET Versioning for HTML5 Development”. You’ll need to fix the ownership and migrate it. Coordinate with @oliver-phet or @amanda-phet. The link is https://docs.google.com/document/d/1N_kMz46EZqQqixiwoOczB8gAW9pvRHyx5iHEzhXu0os/edit.

[2016-11-21 21:04] pixelzoom commented on #740
Ditto for these docs:

HTML5 Development Process
https://docs.google.com/document/d/1lK1OBbwC7O3oidY9RN4-MTZ1uJWiS3DJ5tAuB_bJaUI/edit?usp=drive_web

HTML5 Meeting Notes 10/12/2012
https://docs.google.com/document/d/1xUamZ-DxAvpcLPLa8jtvGcQ8xQeytp_pAalqodbf6lE/edit?usp=drive_web

[2016-11-21 21:08] pixelzoom commented on #740
PhET’s HTML5 Development Process for Contractors
https://docs.google.com/document/d/1_1WAZMfPthjSoT8HvTdAgt4szCe6axIkqrfSdYrSivY/edit

[2016-11-21 21:08] pixelzoom commented on #740
Tablet Sim Development: Contacts and Potential Collaborators
https://docs.google.com/document/d/1OiCk3n38DeZ5lOKiIqPzMGnVXLfCwlrlY2XjbyJRfQQ/edit

[2016-11-21 21:15] pixelzoom commented on #739
A few of the documents that I can't locate:

HTML5 Translation
https://docs.google.com/document/d/1YzO_sCKg_ndXqMBMuiVXj_H1So4FUGhZ0bTaIJFMpPg/edit

PhET Developer Meeting 2013
https://docs.google.com/document/d/1Lt0t9FxxmTXdqW4Qy1yrM66aI6GHsBCRftWNgHdCs1U/edit?usp=drive_web

HTML5 Developer Plan - Phase 1
https://docs.google.com/document/d/1sH5XB2kv1Te6XokebWJdmgZWW34k6mRPYPC_bTjQ1tU/edit

HTML5

[2016-11-21 21:18] pixelzoom commented on #740
PHET-iO meeting 2016
https://docs.google.com/document/d/1LeDVWnhAZ06Dj818ttin3X0JAGY37OyHUJ2d6l9XMxw/edit

[2016-11-21 21:19] pixelzoom commented on #740
I'm not going to add more docs here. @jbphet Recommended that you look at what Google docs you own, determine which are personal vs PhET, and migrate the PhET ones.

[2016-11-21 21:27] ariel-phet commented on #740
assigning myself...I might be able to move some of these

[2016-11-21 21:27] pixelzoom commented on #739
"PhET Developer Meeting 2014" got renamed to "PhET Developer Meeting 2014.docx", and it's not a Word document, confusing.

[2016-11-21 21:30] pixelzoom commented on #739
Redacted_Graphing_Lines (Java) is at https://docs.google.com/document/d/1551QblT5yKjIrkB9vQ-GFwXP-qby3Fo_yO1ksZFTNS4/edit.  It's "new version can be found link" takes you to parent directory https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc, which does not contain the migrated document.

[2016-11-21 21:35] pixelzoom commented on #739
"Redacted_Fraction_Relationships" is at https://docs.google.com/document/d/1mGGp7fj2ECcK4YiIFx6NUe5-agUj2uyv_HvobiDbpHg/edit.  It's "new version can be found link" takes you to parent directory https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc, which does not contain the migrated document.

[2016-11-21 21:39] pixelzoom commented on #739
"Redacted_Sugar and Salt Solutions Java" is at https://docs.google.com/document/d/1qaUmUgBL7oYkbg6TH8a47h7WGIzqHxi6lKzS2VRUlBA/edit. It's "new version can be found link" takes you to parent directory https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc, which does not contain the migrated document.

[2016-11-21 21:41] pixelzoom commented on #739
Looks like the 3 comments above are a general migration problem. About half of the Java design documents that I've tried to find are missing.  And their "new version can be found link" all point to parent directory https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc, which is the "PhET Sim Design" directory.  We cannot afford to lose Java design documents - they contain information

[2016-11-21 21:48] oliver-phet commented on #739
I updated the big list above to track when those are migrated. "PhET Developer Meeting 2014" name has been corrected.

Re: the Legacy design docs, we decided that the lead designer of the HTML5 version would be migrating the legacy docs. @amyh-phet @arouinfar @ariel-phet @amanda-phet See CM's comments above about missing legacy docs.

[2016-11-21 22:01] pixelzoom commented on #739
How to create a PhET GitHub issue
https://docs.google.com/document/d/1snxCn_qN5lrlNc-0ZU-3Wp8dG3eoJx8mNzT5jfL4nuQ/edit

[2016-11-21 22:36] oliver-phet commented on #739
@pixelzoom phethelp doesn't have access to:
Molecule Polarity (Java design) https://docs.google.com/document/d/1fzKjSF0yGmy9lCJ_zBZvWo3F6FqKpzy-EqaBh1EFyEk/edit?usp=drive_web

PhET hours 2010-2014 https://drive.google.com/drive/folders/0B0TcamSqEJ6EMHMwSW90cWgtUEE

Can you share those with phethelp so that I can migrate?

[2016-11-21 22:47] pixelzoom commented on #739
Shared.

[2016-11-22 21:18] phet-steele commented on #708
😄

[2016-11-22 21:18] #708 closed

[2016-11-23 17:17] mattpen commented on #734
http://support.bitly.com/customer/portal/articles/2191623?b_id=5612

This doesn't look possible, even if we had access to the account that created it:

Should we create a new shortened URL and replace the existing bit.ly links?  Another possibility is adding a redirect to a path from phet.colorado.edu.

[2016-11-23 17:33] ariel-phet commented on #734
@mattpen I think creating a new shortened URL would be best.

[2016-11-23 18:00] mattpen commented on #734
I created this link, http://bit.ly/2fjcG0D.  Do we need one that is human-readable?

[2016-11-23 18:25] ariel-phet commented on #734
I would say create a new shortened URL and replace

[2016-11-23 18:59] mattpen commented on #734
This was handled in https://github.com/phetsims/special-ops/issues/46

[2016-11-23 18:59] #734 closed

[2016-11-24 00:01] mariahmaephet commented on #649
<img width="490" alt="screen shot 2016-11-23 at 6 59 08 pm" src="https://cloud.githubusercontent.com/assets/11527557/20582435/2e039f68-b1af-11e6-8246-8e9244e4f7f8.png">

@arouinfar @ariel-phet still working on the superhero pose but how do you like the outfit?

[2016-11-24 00:18] ariel-phet commented on #649
@mariahmaephet LOVE the outfit!!

[2016-11-24 01:32] jonathanolson opened #741 "Yotta sim message testing"
Please test to determine if there is any platform/browser-specific failures with the latest statistics code in simulations. All supported platforms should be tested.

This should consist of:
1. Open the simulation, and do a quick sanity check to ensure basic things work (check the About dialog in the menu?)
2. If dev tools (console) are available in the browser (most non-mobile browsers), open the

[2016-11-28 16:57] phet-steele commented on #738
@jessegreenberg @ariel-phet Testing complete.

[2016-11-28 17:23] jessegreenberg commented on #738
:tada:   Thanks @phet-steele.  Sim deployed to the site (though not yet visible).

[2016-11-28 17:23] #738 closed

[2016-11-28 19:37] jbphet commented on #740
There was an issue way back when I was first using my colorado.edu account where I was unable to transfer doc ownership to a different domain, such as phethelp@gmail.com.  I worked with @ariel-phet to try to figure this out, but we never came up with a way to make it work, and just left them in place (except for a few that were vital, which were copied).  @ariel-phet - I'm going to leave this in y

[2016-11-28 20:30] ariel-phet opened #742 "PhET app 1.1(4) testing - ensuring no or slow internet causes no issues"
@phet-steele version 1.1(4) of the PhET-app is now available on test flight, please make testing the app your top priority for 11/29/2016. There might be some minor tweaks before tomorrow, if so, I will update this issue accordingly (tweaks are summarized in https://github.com/phetsims/phet-app/issues/242 )

The new version of the app bundles all the sims into the app download. So for instance, it

[2016-11-28 20:32] ariel-phet commented on #662
@oliver-phet this issue has been lingering for quite some time. Now that we have been deep in the google drive migration and such, is it possible @arnabp could tackle this issue?

[2016-11-28 20:34] ariel-phet commented on #741
@phet-steele marking as high priority as this test would be good to verify before we move yotta over to our new server (bayes). Ideally please complete this week in parallel with finishing off CL:B testing.

[2016-11-28 22:17] arnabp commented on #662
Migration started, B-roll looks like it'll take 6 hours but the whole thing should be done in a few days.

[2016-11-29 18:02] brroberts1231 commented on #729
Dev test complete

[2016-11-29 18:36] oliver-phet commented on #714
This has been completed. Closing.

[2016-11-29 18:36] #714 closed

[2016-11-29 20:18] phet-steele commented on #725
@jbphet this testing is complete.

[2016-11-29 22:20] jbphet opened #743 "Gravity Force Lab - phet-io test"
Gravity Force Lab was just instrumented for phet-io.  @samreid and I did a fair amount of testing as the work was being done, and now it would be good to have someone else make sure that we didn't miss or break anything.

Testing Matrix:
https://docs.google.com/spreadsheets/d/15Galf54GoI--GuRreo_p-hzIsZ7MlitRmiwc4dIUctg/edit#gid=2

EDIT: <s>This should be tested from master.</s>  It should be veri

[2016-11-29 23:12] jbphet commented on #743
@phet-steele requested that the testing be done on a built version rather than from master, and I'm down with that, so I've built and deployed such a beast and it can be found at http://www.colorado.edu/physics/phet/dev/html/gravity-force-lab/2.1.0-phetiodev.1/.

[2016-11-29 23:23] ariel-phet commented on #735
@phet-steele when you get to this test, @jbphet may have a newer version, please adjust accordingly

[2016-11-29 23:26] ariel-phet commented on #494
@oliver-phet this issue seems to be stalled. Now that we have made the google docs migration happen and such perhaps you can finish this off, as QA work continues to take priority. Perhaps @arnabp can help here (higher priority than captioning videos)

[2016-11-29 23:30] oliver-phet commented on #494
I'll need to check with @phet-steele about this. I remember thinking that this would be very time intensive because files would need to be manually located and migrated. @phet-steele Do we have a list of files yet to be copied?

[2016-11-29 23:37] phet-steele commented on #494
Yes, in a word document on Schrodinger.

[2016-11-29 23:44] ariel-phet commented on #494
@oliver-phet @phet-steele considering the glitches that happened in the initial transfer, it might be worth looking trying to do it from scratch so things do not need to be manual?

[2016-11-30 00:08] oliver-phet commented on #494
Yep, I have a few ideas to test to hopefully avoid manually finding and copying 70 pages of files!
--
Oliver Nix
PhET Interactive Simulations
University of Colorado
oliver.nix@colorado.edu<mailto:oliver.nix@colorado.edu>

On Nov 29, 2016, at 4:44 PM, Ariel Paul <notifications@github.com<mailto:notifications@github.com>> wrote:

@oliver-phet<https://github.com/oliver-phet> @phet-steele<https://gith

[2016-11-30 08:51] jonathanolson commented on #722
FYI, building with ```--uglify=false``` and running with ```?ea``` doesn't currently run assertions.

[2016-11-30 16:16] jbphet commented on #725
Thanks, closing.

[2016-11-30 16:16] #725 closed

[2016-11-30 18:17] samreid opened #744 "Test Progress Indicators on supported platfoms"
Today @ariel-phet and I met to polish the progress indicators as part of https://github.com/phetsims/joist/issues/348, and we prepared two examples for dev testing:

**A sim with several screens:**
http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.2.4-dev.1/energy-skate-park-basics_en.html

**A sim with one screen:**
http://www.colorado.edu/physics/phet/dev/html/faradays-law

[2016-11-30 18:19] samreid commented on #744
When this issue is complete, please reassign https://github.com/phetsims/tasks/issues/744 to me for next steps.

[2016-11-30 18:52] pixelzoom opened #745 "look for CanvasNode usage that requires clipArea"
Related to https://github.com/phetsims/joist/issues/356#issuecomment-263956743...

Look through my sims to see if there are any usages of `CanvasNode` that need to set an explicit `clipArea`.

Sims to check:

- [x] acid-base-solutions
- [x] beer-law-lab
- [x] ph-scale
- [x] plinko-probability

[2016-11-30 20:12] ariel-phet commented on #655
Since this has been addressed for HTML5 sims (which affects the app), and those have all been checked over, closing

[2016-11-30 20:12] #655 closed

[2016-11-30 21:34] jbphet opened #746 "dev test States of Matter v1.0.0-dev.15"
Four issues were found during the previous dev test of States of Matter.  I've added code to address these issues and could use help in verifying them.  The sim should also be regression tested to make sure that the changes didn't introduce any new problems.

All of these issues were related to particle motion, particularly at low temperatures and/or with few particles, so those behaviors should g

[2016-11-30 22:01] ariel-phet commented on #746
@phet-steele please make this the top sim testing priority after #742

[2016-12-01 02:59] ariel-phet commented on #744
I checked on all browsers for Win7 and Win10, all looks very good.

Also checked iPad2 iOS 9.3.5, looked good.

@phet-steele these tests only take a few moments, and it would be nice if we were able to have this upgrade available in master so our next published sim (probably SOM) includes this change.

Please test iOS 10 and the Mac browsers.

Marking as high priority mainly since these tests will

[2016-12-01 16:50] samreid commented on #722
So do we need some other flag to avoid stripping assertions?

[2016-12-01 16:56] jonathanolson commented on #722
[code]
it is not stripped, just explicitly disabled.

[2016-12-01 18:29] phet-steele commented on #744
Looked good. Couldn't really think of any tests that could break it. I tried to see if the sim loaded properly when it was in the background, and made sure slow internet still looked fine. The little bar chugged along each time.

[2016-12-01 18:30] #729 closed

[2016-12-01 20:00] samreid commented on #722
@pixelzoom suggests seeing how difficult it would be to create both forms during the build.

[2016-12-01 20:04] oliver-phet commented on #505
This issue can now be closed. If any missing docs are found on the new 'PhET Files' folder structure, they can be documented here: https://github.com/phetsims/tasks/issues/739

[2016-12-01 20:04] #505 closed

[2016-12-01 20:08] samreid commented on #722
@jonathanolson suggests making it easy for @phet-steele to checkout-shas from a published dev version.

[2016-12-01 20:09] samreid commented on #722
Perhaps I can get to this in a month or so.  But @ariel-phet said @jbphet or @jessegreenberg may be able to do this.

[2016-12-02 18:11] phet-steele commented on #741
Done, @jonathanolson. Everything had the two .gifs w/ query params.

[2016-12-02 18:13] phet-steele commented on #742
Lowering priority until 1.1(5) is released. (It's on the way!)

[2016-12-02 19:59] ariel-phet commented on #742
@phet-steele  will do, closing this one

[2016-12-02 19:59] #742 closed

[2016-12-02 20:00] ariel-phet commented on #736
@phet-steele, once #746 is complete this should move to the top of the sim testing line. Basically this test and app testing will be next top priorities

[2016-12-02 21:02] arouinfar commented on #649
@mariahmaephet as usual, looks awesome! I absolutely love PhET girl's outfit.

A few suggestions
* Remove PhET girl's cape. The cape may lead some students to believe she's floating, or that it somehow has influence on her trajectory.
* I think the stripes on the cannon's base are what make me think the reference cannon was too circus-y. Can you try a solid yellow or red ring instead?

[2016-12-02 23:04] mariahmaephet commented on #649
@arouinfar @ariel-phet

<img width="624" alt="screen shot 2016-12-02 at 6 01 46 pm" src="https://cloud.githubusercontent.com/assets/11527557/20853400/9cbf8686-b8b9-11e6-8996-be611d0bbbca.png">
<img width="1077" alt="screen shot 2016-12-02 at 6 02 09 pm" src="https://cloud.githubusercontent.com/assets/11527557/20853401/9cc9fb5c-b8b9-11e6-832f-91bf1a9d6087.png">

[2016-12-02 23:24] arouinfar commented on #649
Love it @mariahmaephet!! Let's go with the right version of the cannon and PhET girl.  Any other thoughts @ariel-phet?

[2016-12-02 23:43] ariel-phet commented on #649
@mariahmaephet I agree on the version on the right (and goggles could look good)

A few minor tweaks:

1. PhET girl's right hand looks a little funky to me while flying, I think it would just have it wresting on her side instead of in a fist
2. I like the red "gauntlet gloves" but she should also have those on while flying!
3. The yellow ring on the base of the cannon looks a little "wavy" - can w

[2016-12-05 05:22] samreid commented on #730
I'm interested in investigating Approach 4, but I do not have time at the moment.  And even if I did have time and we decided we wanted to move forward with Approach 4, it would be quite a bit of work to redesign old components to use this approach.  My recommendation: evaluate this strategy the next time we make a composite UI component.

[2016-12-05 16:36] jessegreenberg commented on #618
Given the above comment, I think we can close this issue.  Document created by @emily-phet has been linked in an issue in phetsims/a11y-issues and will be finished in that repo.

[2016-12-05 16:36] #618 closed

[2016-12-05 21:16] phet-steele commented on #746
@ariel-phet @jbphet testing complete.

[2016-12-06 01:50] jonathanolson commented on #741
Thanks!

[2016-12-06 01:50] #741 closed

[2016-12-06 16:21] jbphet commented on #746
Thanks, closing.

[2016-12-06 16:21] #746 closed

[2016-12-06 16:53] zepumph opened #747 "Fix lint errors in non sim repos"
Carried from phetsims/special-ops#49:

Now that we have a `grunt lint-everything` we should start tackling the issues themselves. Currently there are 453 errors spread across all repos. The grunt task takes a while to run, so we created a `chipper/data/lint-everything.txt` that shows all the lint errors. assigning to @jonathanolson because he expressed interest in taking on his repos [here](https:

[2016-12-06 23:19] pixelzoom commented on #745
acid-base-solutions uses an explicit `clipArea` in MagnifierNode.

[2016-12-06 23:20] pixelzoom commented on #745
beers-law-lab never draws particles outside of `canvasBounds`.

[2016-12-06 23:21] pixelzoom commented on #745
ph-scale uses an explicit `clipArea` in RatioNode.

[2016-12-06 23:23] pixelzoom commented on #745
plinks-probability will never draw outside the `canvasBounds` in practice, only in development mode with extreme settings for query parameters (e.g. `?maxBallsIntro=1000`).

[2016-12-06 23:23] pixelzoom commented on #745
All of my sims look fine. Closing.

[2016-12-06 23:23] #745 closed

[2016-12-07 17:50] pixelzoom commented on #747
Quick link to see the current lint-everything.txt:
https://github.com/phetsims/chipper/blob/master/data/lint-everything.txt

[2016-12-07 20:00] jbphet opened #748 "test Build an Atom PhET-iO version for Georgia Tech collaboration"
@samreid and I have added PhET-iO instrumentation to the Build an Atom simulation that should allow it to meet the initial request from the Georgia Tech group that wants to work with it for sonification and other accessibility research.  The directory containing the instrumented version can be found here: http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.3.0-phetiodev.1/.

The objectiv

[2016-12-08 02:01] ariel-phet opened #749 "Give PhET App 1.1(7) the FS QA Treatment"
PhET App 1.1(7) appears to be ready for the "Full-Steele" aka FS test

We want to focus on making sure that everything works regardless of no internet/slow internet, but also generally check the app for any new bugs (open a few sims, favorite things, unfavorite, etc). Still no need to check voice over for this release.

| | iOS 9 | iOS 10 |
| --- | --- | --- |
| Open without internet | &#10004; |

[2016-12-08 02:05] samreid commented on #744
Thanks @phet-steele, closing.

[2016-12-08 02:05] #744 closed

[2016-12-08 03:40] samreid commented on #722
@jonathanolson I like your suggestion in https://github.com/phetsims/tasks/issues/722#issuecomment-264280233, were you thinking that @phet-steele would do this on phettest or some server?  Or on a development machine?

[2016-12-08 17:33] jonathanolson commented on #722
Presumably not phettest, since other people use it to test master. Probably would have things set up on his primary computer?

[2016-12-08 17:38] phet-steele commented on #722
The idea was to have assertions available for student testers, on all of our test devices, not just me on one device. Might not be the most efficient to set up whatever you had in mind on ~25 different devices? (unless I'm misunderstanding)

[2016-12-08 21:14] zepumph opened #750 "Add '/* eslint-env node */ ' to all node files in the project"
From https://github.com/phetsims/perennial/issues/27:

First step is to go through and decide how much time this will take. If it is only to be a few hours, then I will just do it, otherwise I should pass this off to @ariel-phet to assign priority.

[2016-12-08 21:15] zepumph commented on #750
This will involve removing iifE if there is one and the file is only used for node. And example of when NOT to remove the iife is `chipper/js/data/localeInfo.js` because it is used both in the browser and in node.

[2016-12-08 23:42] samreid opened #751 "Test Energy Skate Park: Basics"
Internal renaming of variables was done in https://github.com/phetsims/energy-skate-park-basics/issues/358 and in https://github.com/phetsims/energy-skate-park-basics/issues/358#issuecomment-265312947 we decided it would be nice to test it out and make sure all is well.

Link:
http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.2.4-dev.3/energy-skate-park-basics_en.html

Tests

[2016-12-08 23:48] samreid commented on #747
Also, so we can track progress over time.

[2016-12-08 23:51] samreid commented on #747
I fixed a lint issue above, unassigning myself for now.

[2016-12-09 16:39] ariel-phet commented on #751
Marking low priority at the moment since we have more urgent needs in the testing hopper, will bump up as priorities allow.

[2016-12-09 16:42] ariel-phet commented on #748
Placing at high priority, since it would be good to know any issues well in advance of the Georgia Tech milestone (but best to be done after #735)

[2016-12-09 17:39] emily-phet opened #752 "Icons for inside the nav bar's phet menu"
We need very simple icons for:

- Take screenshot
- Full screen
- Report a problem

similar to what is drawn here: https://github.com/phetsims/a11y-research/issues/12#issuecomment-265805839

It would be ideal to have these completed in the next two weeks.

[2016-12-09 17:44] ariel-phet commented on #752
@emily-phet kicking back to you. As a first course of action please identify if there are any "font-awesome" icons that would fulfill these needs. We use font-awesome in multiple other parts of the sim and this would be the simplest solution.

[2016-12-09 17:50] terracoda commented on #752
And here's a slightly updated sketch with the "a" removed from "Report a Problem."

![sketch-phetmenu_02](https://cloud.githubusercontent.com/assets/1902116/21058871/971a16ea-be1a-11e6-9cab-e290e417f6b8.jpg)

[2016-12-09 18:32] phet-steele commented on #736
@ariel-phet @andrewadare there has been some solid coverage on this with some issues noted above. A session was sent to metacog to test playback of the sim, but the results of that test will not come until later. For now, testing can be done.

[2016-12-09 18:33] jessegreenberg commented on #752
@emily-phet @terracoda you can browse the list of Font Awesome icons here:

http://fontawesome.io/icons/

[2016-12-09 18:39] ariel-phet commented on #736
@phet-steele thanks! Assigning back to @andrewadare (feel free to close unless you want to keep it open for tracking found issues)

[2016-12-09 20:19] terracoda commented on #752
Yep, I picked out the same ones. And then there is also an ellipsis

http://fontawesome.io/icon/ellipsis-h/

And if an icon is required for the PhET Website, I would recommend a link
http://fontawesome.io/icon/link/

Or the PhET version of the paper airplane
http://fontawesome.io/icon/paper-plane/
http://fontawesome.io/icon/paper-plane-o/

[2016-12-09 20:52] mariahmaephet commented on #649
@arouinfar @ariel-phet does the hand still look weird with the gloves?

<img width="557" alt="screen shot 2016-12-09 at 3 51 13 pm" src="https://cloud.githubusercontent.com/assets/11527557/21064158/612882d0-be27-11e6-8605-68d26ea78c61.png">

<img width="505" alt="screen shot 2016-12-09 at 3 48 42 pm" src="https://cloud.githubusercontent.com/assets/11527557/21064081/feb81930-be26-11e6-86ae-c567a66c

[2016-12-09 20:54] ariel-phet commented on #649
@mariahmaephet looks fine with the gloves now :)

[2016-12-09 20:55] arouinfar commented on #649
Looks awesome @mariahmaephet!

[2016-12-11 05:41] samreid commented on #722
@jonathanolson what about another checkout on phettest where @phet-steele can paste in a dependencies.json into a text box, and it will pull+check out those branches?  The main phettest would remain on master.

[2016-12-12 05:28] emily-phet commented on #752
Great! These font awesome icons are perfect. The only one I'm unsure about is the paper airplane. Let's try creating the menu without the paper airplane. Ideally I think we'd be able not have this icon - I'd prefer to not make that menu link too attractive. I think we should only add the airplane if the menu is less usable or aesthetically off without it. (though if we need a visual icon there the

[2016-12-12 13:12] terracoda commented on #752
@emily-phet, I agree. I don't think we need an icon for the PhET Website link.

[2016-12-12 17:16] jessegreenberg commented on #752
Great!  @emily-phet @terracoda can this issue be closed?

[2016-12-12 17:42] terracoda commented on #752
Yep, I think, we are good.

[2016-12-12 20:03] arouinfar commented on #619
The changes to the navbar are being discussed in https://github.com/phetsims/joist/issues/374, and  one instance of the popup is being discussed in https://github.com/phetsims/john-travoltage/issues/127.

I believe the only outstanding item of discussion relevant to this issue is the appearance of the keyboard icon itself. The general consensus is that option 5 from https://github.com/phetsims/tas

[2016-12-12 20:17] emily-phet commented on #619
@arouinfar Looks good to me - I think the more blocky keys help to signal "physical keyboard."

[2016-12-12 20:23] arouinfar commented on #619
Thanks @emily-phet, I agree!

[2016-12-13 00:01] arouinfar commented on #619
Spoke with @ariel-phet, and it looks like we can go with the modified font awesome icon for now. I've emailed the asset files to @jessegreenberg. Closing.